In [37]:
import os
import numpy as np
import pandas as pd
import datetime as dt
import itertools
import math

In [38]:
#Change the base path before executing code
Base_path = "/home/tennistetris/Documents/Data Analytics/Hall/Inter_hall"
data1 = "extracted_AUM_Data"
data2 = os.path.join("NAV_quarterly_padded")

In [61]:
#Reading the AUM data
Path_to_data = os.path.join(Base_path,data1)
os.chdir(Path_to_data)
db_aum = pd.read_csv('aum_padded.csv')
db_aum.columns = ['Quarter','Data','ID']

In [69]:
#Reading the NAV data
Path_to_data = os.path.join(Base_path , data2)
os.chdir(Path_to_data)
db_nav = pd.read_csv('Combined_Database.csv')
db_nav.drop(columns = ['Unnamed: 0'],inplace = True)
db_nav.columns = ['Quarter','Data','ID']

In [41]:
#Finding a database to define mapping IDs to  - Fund_Class,Fund_Family,Type
os.chdir(Base_path)
db_dividend = pd.read_csv('MF_IIT_DATA_V1_EDITED.csv')
db_dividend['Type'] = 'Dividend'
db_growth = pd.read_csv('MF_IIT_DATA_V3_EDITED.csv')
db_growth['Type'] = 'Growth'
temp = db_dividend[['Id','Fund_Family','Fund_Class','Type']]
temp = [temp , db_growth[['ID','Fund_Family','Fund_Class','Type']]]
mapping = pd.concat(temp)
print mapping

                      Fund_Class                         Fund_Family  \
0   Sector - Pharma & Healthcare                Reliance Mutual Fund
1   Sector - Pharma & Healthcare                Reliance Mutual Fund
2   Sector - Pharma & Healthcare                     SBI Mutual Fund
3   Sector - Pharma & Healthcare                     SBI Mutual Fund
4   Sector - Pharma & Healthcare                   Tata Mutual Fund
5   Sector - Pharma & Healthcare                    UTI Mutual Fund
6            Sector - Technology  Aditya Birla Sun Life Mutual Fund
7            Sector - Technology        ICICI Prudential Mutual Fund
8            Sector - Technology                     SBI Mutual Fund
9            Sector - Technology                     SBI Mutual Fund
10           Sector - Technology                   Tata Mutual Fund
11           Sector - Technology                   Tata Mutual Fund
12    Sector - Banking & Finance                   Tata Mutual Fund
13    Sector - Banking & Finance                    UTI Mutual Fund
14    Sector - Banking & Finance                     SBI Mutual Fund
15    Sector - Banking & Finance  Aditya Birla Sun Life Mutual Fund
16    Sector - Banking & Finance        ICICI Prudential Mutual Fund
17                     Large Cap                     SBI Mutual Fund
18                     Large Cap                     SBI Mutual Fund
19                     Large Cap       ICICI Prudential Mutual Fund
20                     Large Cap       ICICI Prudential Mutual Fund
21                     Large Cap                    HDFC Mutual Fund
22                     Large Cap                    HDFC Mutual Fund
23                     Large Cap                Sundaram Mutual Fund
24                     Large Cap                Sundaram Mutual Fund
25                     Large Cap  Aditya Birla Sun Life Mutual Fund
26                     Large Cap  Aditya Birla Sun Life Mutual Fund
27                     Large Cap                   Tata Mutual Fund
28                     Large Cap                    UTI Mutual Fund
29                     Large Cap                    UTI Mutual Fund
..                           ...                                 ...
24                     Large Cap                    UTI Mutual Fund
25  Sector - Pharma & Healthcare                    UTI Mutual Fund
26                     Large Cap                    UTI Mutual Fund
27    Sector - Banking & Finance  Aditya Birla Sun Life Mutual Fund
28                     Large Cap  Aditya Birla Sun Life Mutual Fund
29           Sector - Technology  Aditya Birla Sun Life Mutual Fund
30                     Large Cap  Aditya Birla Sun Life Mutual Fund
31                     Large Cap                    HDFC Mutual Fund
32                     Large Cap                    HDFC Mutual Fund
33    Sector - Banking & Finance        ICICI Prudential Mutual Fund
34                 Sector - FMCG       ICICI Prudential Mutual Fund
35                     Large Cap       ICICI Prudential Mutual Fund
36           Sector - Technology        ICICI Prudential Mutual Fund
37  Sector - Pharma & Healthcare                Reliance Mutual Fund
38    Sector - Banking & Finance                     SBI Mutual Fund
39                     Large Cap                     SBI Mutual Fund
40                 Sector - FMCG                     SBI Mutual Fund
41           Sector - Technology                     SBI Mutual Fund
42                     Large Cap                     SBI Mutual Fund
43  Sector - Pharma & Healthcare                     SBI Mutual Fund
44                     Large Cap                Sundaram Mutual Fund
45                     Large Cap                Sundaram Mutual Fund
46    Sector - Banking & Finance                   Tata Mutual Fund
47           Sector - Technology                   Tata Mutual Fund
48  Sector - Pharma & Healthcare                   Tata Mutual Fund
49                     Large Cap                   Tata Mutual Fund
50    Sector - Banking & Finance                    UTI Mutual Fund
51                     Large Cap                    UTI Mutual Fund
52  Sector - Pharma & Healthcare                    UTI Mutual Fund
53                     Large Cap                    UTI Mutual Fund

          ID        Id      Type
0        NaN  102433.0  Dividend
1        NaN  118756.0  Dividend
2        NaN  100644.0  Dividend
3        NaN  119782.0  Dividend
4        NaN  135807.0  Dividend
5        NaN  100806.0  Dividend
6        NaN  103167.0  Dividend
7        NaN  115294.0  Dividend
8        NaN  100643.0  Dividend
9        NaN  119731.0  Dividend
10       NaN  135795.0  Dividend
11       NaN  135796.0  Dividend
12       NaN  135790.0  Dividend
13       NaN  102402.0  Dividend
14       NaN  133860.0  Dividend
15       NaN  125598.0  Dividend
16       NaN  120245.0  Dividend
17       NaN  103616.0  Dividend
18       NaN  101295.0  Dividend
19       NaN  108465.0  Dividend
20       NaN  120585.0  Dividend
21       NaN  130497.0  Dividend
22       NaN  102001.0  Dividend
23       NaN  115242.0  Dividend
24       NaN  140448.0  Dividend
25       NaN  132997.0  Dividend
26       NaN  103308.0  Dividend
27       NaN  119159.0  Dividend
28       NaN  120663.0  Dividend
29       NaN  120664.0  Dividend
..       ...       ...       ...
24  120662.0       NaN    Growth
25  120782.0       NaN    Growth
26  120665.0       NaN    Growth
27  125595.0       NaN    Growth
28  103174.0       NaN    Growth
29  103168.0       NaN    Growth
30  103309.0       NaN    Growth
31  130496.0       NaN    Growth
32  102000.0       NaN    Growth
33  109445.0       NaN    Growth
34  100352.0       NaN    Growth
35  108466.0       NaN    Growth
36  100363.0       NaN    Growth
37       0.0       NaN    Growth
38  133858.0       NaN    Growth
39  103504.0       NaN    Growth
40  120576.0       NaN    Growth
41  120577.0       NaN    Growth
42  104523.0       NaN    Growth
43  102823.0       NaN    Growth
44  115241.0       NaN    Growth
45  140452.0       NaN    Growth
46  135794.0       NaN    Growth
47  135797.0       NaN    Growth
48  135812.0       NaN    Growth
49  100475.0       NaN    Growth
50  102401.0       NaN    Growth
51  100669.0       NaN    Growth
52  100807.0       NaN    Growth
53  100664.0       NaN    Growth

[88 rows x 5 columns]

In [42]:
#Combining IDs and eliminating NaNs
mapping['Id_new'] = 0 
for i in range(mapping.shape[0]):
        mapping['Id_new'][np.isnan(mapping['ID'])] = mapping['Id'][np.isnan(mapping['ID'])]
        mapping['Id_new'][np.isnan(mapping['Id'])] = mapping['ID'][np.isnan(mapping['Id'])]
mapping.drop(labels = ['Id','ID'],axis = 1,inplace = True)
print mapping

/home/tennistetris/tensorflow/lib/python2.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/home/tennistetris/tensorflow/lib/python2.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

                      Fund_Class                         Fund_Family  \
0   Sector - Pharma & Healthcare                Reliance Mutual Fund
1   Sector - Pharma & Healthcare                Reliance Mutual Fund
2   Sector - Pharma & Healthcare                     SBI Mutual Fund
3   Sector - Pharma & Healthcare                     SBI Mutual Fund
4   Sector - Pharma & Healthcare                   Tata Mutual Fund
5   Sector - Pharma & Healthcare                    UTI Mutual Fund
6            Sector - Technology  Aditya Birla Sun Life Mutual Fund
7            Sector - Technology        ICICI Prudential Mutual Fund
8            Sector - Technology                     SBI Mutual Fund
9            Sector - Technology                     SBI Mutual Fund
10           Sector - Technology                   Tata Mutual Fund
11           Sector - Technology                   Tata Mutual Fund
12    Sector - Banking & Finance                   Tata Mutual Fund
13    Sector - Banking & Finance                    UTI Mutual Fund
14    Sector - Banking & Finance                     SBI Mutual Fund
15    Sector - Banking & Finance  Aditya Birla Sun Life Mutual Fund
16    Sector - Banking & Finance        ICICI Prudential Mutual Fund
17                     Large Cap                     SBI Mutual Fund
18                     Large Cap                     SBI Mutual Fund
19                     Large Cap       ICICI Prudential Mutual Fund
20                     Large Cap       ICICI Prudential Mutual Fund
21                     Large Cap                    HDFC Mutual Fund
22                     Large Cap                    HDFC Mutual Fund
23                     Large Cap                Sundaram Mutual Fund
24                     Large Cap                Sundaram Mutual Fund
25                     Large Cap  Aditya Birla Sun Life Mutual Fund
26                     Large Cap  Aditya Birla Sun Life Mutual Fund
27                     Large Cap                   Tata Mutual Fund
28                     Large Cap                    UTI Mutual Fund
29                     Large Cap                    UTI Mutual Fund
..                           ...                                 ...
24                     Large Cap                    UTI Mutual Fund
25  Sector - Pharma & Healthcare                    UTI Mutual Fund
26                     Large Cap                    UTI Mutual Fund
27    Sector - Banking & Finance  Aditya Birla Sun Life Mutual Fund
28                     Large Cap  Aditya Birla Sun Life Mutual Fund
29           Sector - Technology  Aditya Birla Sun Life Mutual Fund
30                     Large Cap  Aditya Birla Sun Life Mutual Fund
31                     Large Cap                    HDFC Mutual Fund
32                     Large Cap                    HDFC Mutual Fund
33    Sector - Banking & Finance        ICICI Prudential Mutual Fund
34                 Sector - FMCG       ICICI Prudential Mutual Fund
35                     Large Cap       ICICI Prudential Mutual Fund
36           Sector - Technology        ICICI Prudential Mutual Fund
37  Sector - Pharma & Healthcare                Reliance Mutual Fund
38    Sector - Banking & Finance                     SBI Mutual Fund
39                     Large Cap                     SBI Mutual Fund
40                 Sector - FMCG                     SBI Mutual Fund
41           Sector - Technology                     SBI Mutual Fund
42                     Large Cap                     SBI Mutual Fund
43  Sector - Pharma & Healthcare                     SBI Mutual Fund
44                     Large Cap                Sundaram Mutual Fund
45                     Large Cap                Sundaram Mutual Fund
46    Sector - Banking & Finance                   Tata Mutual Fund
47           Sector - Technology                   Tata Mutual Fund
48  Sector - Pharma & Healthcare                   Tata Mutual Fund
49                     Large Cap                   Tata Mutual Fund
50    Sector - Banking & Finance                    UTI Mutual Fund
51                     Large Cap                    UTI Mutual Fund
52  Sector - Pharma & Healthcare                    UTI Mutual Fund
53                     Large Cap                    UTI Mutual Fund

        Type    Id_new
0   Dividend  102433.0
1   Dividend  118756.0
2   Dividend  100644.0
3   Dividend  119782.0
4   Dividend  135807.0
5   Dividend  100806.0
6   Dividend  103167.0
7   Dividend  115294.0
8   Dividend  100643.0
9   Dividend  119731.0
10  Dividend  135795.0
11  Dividend  135796.0
12  Dividend  135790.0
13  Dividend  102402.0
14  Dividend  133860.0
15  Dividend  125598.0
16  Dividend  120245.0
17  Dividend  103616.0
18  Dividend  101295.0
19  Dividend  108465.0
20  Dividend  120585.0
21  Dividend  130497.0
22  Dividend  102001.0
23  Dividend  115242.0
24  Dividend  140448.0
25  Dividend  132997.0
26  Dividend  103308.0
27  Dividend  119159.0
28  Dividend  120663.0
29  Dividend  120664.0
..       ...       ...
24    Growth  120662.0
25    Growth  120782.0
26    Growth  120665.0
27    Growth  125595.0
28    Growth  103174.0
29    Growth  103168.0
30    Growth  103309.0
31    Growth  130496.0
32    Growth  102000.0
33    Growth  109445.0
34    Growth  100352.0
35    Growth  108466.0
36    Growth  100363.0
37    Growth       0.0
38    Growth  133858.0
39    Growth  103504.0
40    Growth  120576.0
41    Growth  120577.0
42    Growth  104523.0
43    Growth  102823.0
44    Growth  115241.0
45    Growth  140452.0
46    Growth  135794.0
47    Growth  135797.0
48    Growth  135812.0
49    Growth  100475.0
50    Growth  102401.0
51    Growth  100669.0
52    Growth  100807.0
53    Growth  100664.0

[88 rows x 4 columns]

In [43]:
#Function for finding the quarters over which we have to loop
List1 = ['01' , '04' , '07' , '10']
List2 = ['2013' , '2014' , '2015' , '2016' , '2017']
Quarters = list(itertools.product(List1,List2))

List3 = list()

for i in range(len(Quarters)):
    temp = Quarters[i]
    temp = temp[1]+'-'+temp[0]
    temp = pd.Period(temp,'Q')
    List3.append(temp)
    
Quarters = pd.Series(List3).sort_values().reset_index(drop = True)

In [120]:
Write_dir = 'Aggregate_NAV_returns_data_quarterly'
Write_path = os.path.join(Base_path,Write_dir)

In [127]:
Type = mapping['Type'].unique()
Fund_Class = mapping['Fund_Class'].unique()
Fund_Family = mapping['Fund_Family'].unique()
for Tp in Type:
    for Class in Fund_Class:
        final_db = pd.DataFrame()
        if not (Class+'.csv') in os.listdir(Write_path):
            for Fund_House in Fund_Family:
                cond1 = np.array(mapping['Type'] == Tp)
                cond2 = np.array(mapping['Fund_Class'] == Class)
                cond3 = np.array(mapping['Fund_Family']== Fund_House)
                cond = np.all([cond1,cond2,cond3],axis = 0)
                mapping_subset = mapping[cond]
                IDs = list(mapping_subset['Id_new'].astype(int))
                if len(IDs):
                    print ('IDs :',IDs)
                    db_aum_subset = db_aum[db_aum['ID'].isin(IDs)]
                    db_nav_subset = db_nav[db_nav['ID'].isin(IDs)]
                    #print ('aum table :',db_aum_subset.head)
                    #print ('nav table :',db_nav_subset.head)
                    for Quarter in Quarters:
                        #print type(Quarter)
                        Index1 = np.zeros(db_aum_subset.shape[0],dtype = 'bool') # This logical array is used to index the aum data
                        Index2 = np.zeros(db_nav_subset.shape[0],dtype = 'bool') # This logical array is used to index the nav data
                        db_aum_subset_quarter = db_aum_subset['Quarter']
                        db_nav_subset_quarter = db_nav_subset['Quarter']
                        for i in range(len(Index1)):
                            if db_aum_subset_quarter.iloc[i] == Quarter:
                                Index1[i] = 1
                        for i in range(len(Index2)):
                            if db_nav_subset_quarter.iloc[i] == Quarter:
                                Index2[i] = 1
                        db_aum_subset['Data'][Index1]
                        db_nav_subset['Data'][Index2]
                        print ('aum table :',db_aum_subset.head)
                        print ('nav table :',db_nav_subset.head)
                        #Now to divide the datasets by ID
                        grouped_aum = db_aum_subset.groupby('ID')
                        key_grouped_aum = grouped_aum.groups.keys()
                        grouped_nav = db_nav_subset.groupby('ID')
                        key_grouped_nav = grouped_nav.groups.keys()
                        if len(set(key_grouped_aum) & set(key_grouped_nav)) == len(key_grouped_aum):
                            for key_aum,group_aum in grouped_aum:
                                print ('Key_aum: ',key_aum)
                                print (group_aum)
                                num = 0
                                denum = 0
                                for key_nav,group_nav in grouped_nav:
                                    if key_nav == key_aum:
                                        print ('Key_nav : ',key_nav)
                                        data1 = np.array(group_nav['Data'])
                                        print ('data 1 : ',data1)
                                        data2 = np.array(group_aum['Data'])
                                        print ('data 2 :',data2)
                                        num = num + (data1*data2)
                                        denum = denum + (data2)
                            mean = num/denum
                            print ('mean : ',mean)
                        os.chdir(Write_path)
                        final_db[Fund_House] = mean
                final_db.index = Quarters
                final_db.to_csv(Class+'.csv')

('IDs :', [102433, 118756])
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
37580  2013Q1     60.69  118756
37581  2013Q2    151.52  118756
37582  2013Q3    220.56  118756
37583  2013Q4    267.00  118756
37584  2014Q1    366.76  118756
37585  2014Q2    496.54  118756
37586  2014Q3    631.72  118756
37587  2014Q4    849.99  118756
37588  2015Q1    964.64  118756
37589  2015Q2    996.78  118756
37590  2015Q3   1900.70  118756
37591  2015Q4   2216.11  118756
37592  2016Q1   2217.76  118756
37593  2016Q2   2113.95  118756
37594  2016Q3   2300.11  118756
37595  2016Q4   2235.23  118756
37596  2017Q1   1913.59  118756
37597  2017Q2   2328.83  118756
37598  2017Q3   2491.71  118756
37599  2017Q4   2661.40  118756
37640  2013Q1  25921.04  102433
37641  2013Q2  26534.99  102433
37642  2013Q3  26688.85  102433
37643  2013Q4  27196.62  102433
37644  2014Q1  29216.42  102433
37645  2014Q2  28261.43  102433
37646  2014Q3  32272.77  102433
37647  2014Q4  36968.80  102433
37648  2015Q1  37139.79  102433
37649  2015Q2  36279.80  102433
37650  2015Q3  38470.09  102433
37651  2015Q4  39849.23  102433
37652  2016Q1  36224.51  102433
37653  2016Q2  33639.01  102433
37654  2016Q3  36080.71  102433
37655  2016Q4  35991.75  102433
37656  2017Q1  32765.92  102433
37657  2017Q2  28065.29  102433
37658  2017Q3  31290.85  102433
37659  2017Q4  34944.96  102433>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
300   2013Q1 -0.115096  102433
301   2013Q2  0.036064  102433
302   2013Q3  0.025802  102433
303   2013Q4  0.074399  102433
304   2014Q1  0.064535  102433
305   2014Q2 -0.009753  102433
306   2014Q3  0.177717  102433
307   2014Q4  0.134057  102433
308   2015Q1  0.004096  102433
309   2015Q2 -0.011474  102433
310   2015Q3  0.079585  102433
311   2015Q4  0.034262  102433
312   2016Q1 -0.119506  102433
313   2016Q2 -0.111041  102433
314   2016Q3  0.069469  102433
315   2016Q4 -0.001092  102433
316   2017Q1 -0.083053  102433
317   2017Q2 -0.117781  102433
318   2017Q3 -0.011628  102433
319   2017Q4  0.061298  102433
1100  2013Q1 -0.049972  118756
1101  2013Q2  0.049971  118756
1102  2013Q3  0.028336  118756
1103  2013Q4  0.076013  118756
1104  2014Q1  0.070194  118756
1105  2014Q2 -0.003625  118756
1106  2014Q3  0.179649  118756
1107  2014Q4  0.135864  118756
1108  2015Q1  0.012244  118756
1109  2015Q2 -0.005530  118756
1110  2015Q3  0.081445  118756
1111  2015Q4  0.036662  118756
1112  2016Q1 -0.113829  118756
1113  2016Q2 -0.099597  118756
1114  2016Q3  0.071628  118756
1115  2016Q4  0.001232  118756
1116  2017Q1 -0.076495  118756
1117  2017Q2 -0.104985  118756
1118  2017Q3 -0.009137  118756
1119  2017Q4  0.063781  118756>)
('Key_aum: ', 102433)
      Quarter      Data      ID
37640  2013Q1  25921.04  102433
37641  2013Q2  26534.99  102433
37642  2013Q3  26688.85  102433
37643  2013Q4  27196.62  102433
37644  2014Q1  29216.42  102433
37645  2014Q2  28261.43  102433
37646  2014Q3  32272.77  102433
37647  2014Q4  36968.80  102433
37648  2015Q1  37139.79  102433
37649  2015Q2  36279.80  102433
37650  2015Q3  38470.09  102433
37651  2015Q4  39849.23  102433
37652  2016Q1  36224.51  102433
37653  2016Q2  33639.01  102433
37654  2016Q3  36080.71  102433
37655  2016Q4  35991.75  102433
37656  2017Q1  32765.92  102433
37657  2017Q2  28065.29  102433
37658  2017Q3  31290.85  102433
37659  2017Q4  34944.96  102433
('Key_nav : ', 102433)
('data 1 : ', array([-0.11509564,  0.03606384,  0.02580192,  0.07439926,  0.064535  ,
       -0.009753  ,  0.17771676,  0.1340568 ,  0.00409646, -0.011474  ,
        0.07958514,  0.03426182, -0.11950583, -0.11104069,  0.06946871,
       -0.0010916 , -0.08305348, -0.11778087, -0.01162762,  0.06129799]))
('data 2 :', array([ 25921.04,  26534.99,  26688.85,  27196.62,  29216.42,  28261.43,
        32272.77,  36968.8 ,  37139.79,  36279.8 ,  38470.09,  39849.23,
        36224.51,  33639.01,  36080.71,  35991.75,  32765.92,  28065.29,
        31290.85,  34944.96]))
('Key_aum: ', 118756)
      Quarter     Data      ID
37580  2013Q1    60.69  118756
37581  2013Q2   151.52  118756
37582  2013Q3   220.56  118756
37583  2013Q4   267.00  118756
37584  2014Q1   366.76  118756
37585  2014Q2   496.54  118756
37586  2014Q3   631.72  118756
37587  2014Q4   849.99  118756
37588  2015Q1   964.64  118756
37589  2015Q2   996.78  118756
37590  2015Q3  1900.70  118756
37591  2015Q4  2216.11  118756
37592  2016Q1  2217.76  118756
37593  2016Q2  2113.95  118756
37594  2016Q3  2300.11  118756
37595  2016Q4  2235.23  118756
37596  2017Q1  1913.59  118756
37597  2017Q2  2328.83  118756
37598  2017Q3  2491.71  118756
37599  2017Q4  2661.40  118756
('Key_nav : ', 118756)
('data 1 : ', array([-0.04997213,  0.04997111,  0.02833627,  0.07601346,  0.07019395,
       -0.00362458,  0.17964915,  0.13586416,  0.0122436 , -0.00552968,
        0.08144533,  0.03666168, -0.11382877, -0.09959657,  0.07162823,
        0.00123221, -0.07649512, -0.10498451, -0.00913699,  0.06378089]))
('data 2 :', array([   60.69,   151.52,   220.56,   267.  ,   366.76,   496.54,
         631.72,   849.99,   964.64,   996.78,  1900.7 ,  2216.11,
        2217.76,  2113.95,  2300.11,  2235.23,  1913.59,  2328.83,
        2491.71,  2661.4 ]))
('mean : ', array([-0.04997213,  0.04997111,  0.02833627,  0.07601346,  0.07019395,
       -0.00362458,  0.17964915,  0.13586416,  0.0122436 , -0.00552968,
        0.08144533,  0.03666168, -0.11382877, -0.09959657,  0.07162823,
        0.00123221, -0.07649512, -0.10498451, -0.00913699,  0.06378089]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
37580  2013Q1     60.69  118756
37581  2013Q2    151.52  118756
37582  2013Q3    220.56  118756
37583  2013Q4    267.00  118756
37584  2014Q1    366.76  118756
37585  2014Q2    496.54  118756
37586  2014Q3    631.72  118756
37587  2014Q4    849.99  118756
37588  2015Q1    964.64  118756
37589  2015Q2    996.78  118756
37590  2015Q3   1900.70  118756
37591  2015Q4   2216.11  118756
37592  2016Q1   2217.76  118756
37593  2016Q2   2113.95  118756
37594  2016Q3   2300.11  118756
37595  2016Q4   2235.23  118756
37596  2017Q1   1913.59  118756
37597  2017Q2   2328.83  118756
37598  2017Q3   2491.71  118756
37599  2017Q4   2661.40  118756
37640  2013Q1  25921.04  102433
37641  2013Q2  26534.99  102433
37642  2013Q3  26688.85  102433
37643  2013Q4  27196.62  102433
37644  2014Q1  29216.42  102433
37645  2014Q2  28261.43  102433
37646  2014Q3  32272.77  102433
37647  2014Q4  36968.80  102433
37648  2015Q1  37139.79  102433
37649  2015Q2  36279.80  102433
37650  2015Q3  38470.09  102433
37651  2015Q4  39849.23  102433
37652  2016Q1  36224.51  102433
37653  2016Q2  33639.01  102433
37654  2016Q3  36080.71  102433
37655  2016Q4  35991.75  102433
37656  2017Q1  32765.92  102433
37657  2017Q2  28065.29  102433
37658  2017Q3  31290.85  102433
37659  2017Q4  34944.96  102433>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
300   2013Q1 -0.115096  102433
301   2013Q2  0.036064  102433
302   2013Q3  0.025802  102433
303   2013Q4  0.074399  102433
304   2014Q1  0.064535  102433
305   2014Q2 -0.009753  102433
306   2014Q3  0.177717  102433
307   2014Q4  0.134057  102433
308   2015Q1  0.004096  102433
309   2015Q2 -0.011474  102433
310   2015Q3  0.079585  102433
311   2015Q4  0.034262  102433
312   2016Q1 -0.119506  102433
313   2016Q2 -0.111041  102433
314   2016Q3  0.069469  102433
315   2016Q4 -0.001092  102433
316   2017Q1 -0.083053  102433
317   2017Q2 -0.117781  102433
318   2017Q3 -0.011628  102433
319   2017Q4  0.061298  102433
1100  2013Q1 -0.049972  118756
1101  2013Q2  0.049971  118756
1102  2013Q3  0.028336  118756
1103  2013Q4  0.076013  118756
1104  2014Q1  0.070194  118756
1105  2014Q2 -0.003625  118756
1106  2014Q3  0.179649  118756
1107  2014Q4  0.135864  118756
1108  2015Q1  0.012244  118756
1109  2015Q2 -0.005530  118756
1110  2015Q3  0.081445  118756
1111  2015Q4  0.036662  118756
1112  2016Q1 -0.113829  118756
1113  2016Q2 -0.099597  118756
1114  2016Q3  0.071628  118756
1115  2016Q4  0.001232  118756
1116  2017Q1 -0.076495  118756
1117  2017Q2 -0.104985  118756
1118  2017Q3 -0.009137  118756
1119  2017Q4  0.063781  118756>)
('Key_aum: ', 102433)
      Quarter      Data      ID
37640  2013Q1  25921.04  102433
37641  2013Q2  26534.99  102433
37642  2013Q3  26688.85  102433
37643  2013Q4  27196.62  102433
37644  2014Q1  29216.42  102433
37645  2014Q2  28261.43  102433
37646  2014Q3  32272.77  102433
37647  2014Q4  36968.80  102433
37648  2015Q1  37139.79  102433
37649  2015Q2  36279.80  102433
37650  2015Q3  38470.09  102433
37651  2015Q4  39849.23  102433
37652  2016Q1  36224.51  102433
37653  2016Q2  33639.01  102433
37654  2016Q3  36080.71  102433
37655  2016Q4  35991.75  102433
37656  2017Q1  32765.92  102433
37657  2017Q2  28065.29  102433
37658  2017Q3  31290.85  102433
37659  2017Q4  34944.96  102433
('Key_nav : ', 102433)
('data 1 : ', array([-0.11509564,  0.03606384,  0.02580192,  0.07439926,  0.064535  ,
       -0.009753  ,  0.17771676,  0.1340568 ,  0.00409646, -0.011474  ,
        0.07958514,  0.03426182, -0.11950583, -0.11104069,  0.06946871,
       -0.0010916 , -0.08305348, -0.11778087, -0.01162762,  0.06129799]))
('data 2 :', array([ 25921.04,  26534.99,  26688.85,  27196.62,  29216.42,  28261.43,
        32272.77,  36968.8 ,  37139.79,  36279.8 ,  38470.09,  39849.23,
        36224.51,  33639.01,  36080.71,  35991.75,  32765.92,  28065.29,
        31290.85,  34944.96]))
('Key_aum: ', 118756)
      Quarter     Data      ID
37580  2013Q1    60.69  118756
37581  2013Q2   151.52  118756
37582  2013Q3   220.56  118756
37583  2013Q4   267.00  118756
37584  2014Q1   366.76  118756
37585  2014Q2   496.54  118756
37586  2014Q3   631.72  118756
37587  2014Q4   849.99  118756
37588  2015Q1   964.64  118756
37589  2015Q2   996.78  118756
37590  2015Q3  1900.70  118756
37591  2015Q4  2216.11  118756
37592  2016Q1  2217.76  118756
37593  2016Q2  2113.95  118756
37594  2016Q3  2300.11  118756
37595  2016Q4  2235.23  118756
37596  2017Q1  1913.59  118756
37597  2017Q2  2328.83  118756
37598  2017Q3  2491.71  118756
37599  2017Q4  2661.40  118756
('Key_nav : ', 118756)
('data 1 : ', array([-0.04997213,  0.04997111,  0.02833627,  0.07601346,  0.07019395,
       -0.00362458,  0.17964915,  0.13586416,  0.0122436 , -0.00552968,
        0.08144533,  0.03666168, -0.11382877, -0.09959657,  0.07162823,
        0.00123221, -0.07649512, -0.10498451, -0.00913699,  0.06378089]))
('data 2 :', array([   60.69,   151.52,   220.56,   267.  ,   366.76,   496.54,
         631.72,   849.99,   964.64,   996.78,  1900.7 ,  2216.11,
        2217.76,  2113.95,  2300.11,  2235.23,  1913.59,  2328.83,
        2491.71,  2661.4 ]))
('mean : ', array([-0.04997213,  0.04997111,  0.02833627,  0.07601346,  0.07019395,
       -0.00362458,  0.17964915,  0.13586416,  0.0122436 , -0.00552968,
        0.08144533,  0.03666168, -0.11382877, -0.09959657,  0.07162823,
        0.00123221, -0.07649512, -0.10498451, -0.00913699,  0.06378089]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
37580  2013Q1     60.69  118756
37581  2013Q2    151.52  118756
37582  2013Q3    220.56  118756
37583  2013Q4    267.00  118756
37584  2014Q1    366.76  118756
37585  2014Q2    496.54  118756
37586  2014Q3    631.72  118756
37587  2014Q4    849.99  118756
37588  2015Q1    964.64  118756
37589  2015Q2    996.78  118756
37590  2015Q3   1900.70  118756
37591  2015Q4   2216.11  118756
37592  2016Q1   2217.76  118756
37593  2016Q2   2113.95  118756
37594  2016Q3   2300.11  118756
37595  2016Q4   2235.23  118756
37596  2017Q1   1913.59  118756
37597  2017Q2   2328.83  118756
37598  2017Q3   2491.71  118756
37599  2017Q4   2661.40  118756
37640  2013Q1  25921.04  102433
37641  2013Q2  26534.99  102433
37642  2013Q3  26688.85  102433
37643  2013Q4  27196.62  102433
37644  2014Q1  29216.42  102433
37645  2014Q2  28261.43  102433
37646  2014Q3  32272.77  102433
37647  2014Q4  36968.80  102433
37648  2015Q1  37139.79  102433
37649  2015Q2  36279.80  102433
37650  2015Q3  38470.09  102433
37651  2015Q4  39849.23  102433
37652  2016Q1  36224.51  102433
37653  2016Q2  33639.01  102433
37654  2016Q3  36080.71  102433
37655  2016Q4  35991.75  102433
37656  2017Q1  32765.92  102433
37657  2017Q2  28065.29  102433
37658  2017Q3  31290.85  102433
37659  2017Q4  34944.96  102433>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
300   2013Q1 -0.115096  102433
301   2013Q2  0.036064  102433
302   2013Q3  0.025802  102433
303   2013Q4  0.074399  102433
304   2014Q1  0.064535  102433
305   2014Q2 -0.009753  102433
306   2014Q3  0.177717  102433
307   2014Q4  0.134057  102433
308   2015Q1  0.004096  102433
309   2015Q2 -0.011474  102433
310   2015Q3  0.079585  102433
311   2015Q4  0.034262  102433
312   2016Q1 -0.119506  102433
313   2016Q2 -0.111041  102433
314   2016Q3  0.069469  102433
315   2016Q4 -0.001092  102433
316   2017Q1 -0.083053  102433
317   2017Q2 -0.117781  102433
318   2017Q3 -0.011628  102433
319   2017Q4  0.061298  102433
1100  2013Q1 -0.049972  118756
1101  2013Q2  0.049971  118756
1102  2013Q3  0.028336  118756
1103  2013Q4  0.076013  118756
1104  2014Q1  0.070194  118756
1105  2014Q2 -0.003625  118756
1106  2014Q3  0.179649  118756
1107  2014Q4  0.135864  118756
1108  2015Q1  0.012244  118756
1109  2015Q2 -0.005530  118756
1110  2015Q3  0.081445  118756
1111  2015Q4  0.036662  118756
1112  2016Q1 -0.113829  118756
1113  2016Q2 -0.099597  118756
1114  2016Q3  0.071628  118756
1115  2016Q4  0.001232  118756
1116  2017Q1 -0.076495  118756
1117  2017Q2 -0.104985  118756
1118  2017Q3 -0.009137  118756
1119  2017Q4  0.063781  118756>)
('Key_aum: ', 102433)
      Quarter      Data      ID
37640  2013Q1  25921.04  102433
37641  2013Q2  26534.99  102433
37642  2013Q3  26688.85  102433
37643  2013Q4  27196.62  102433
37644  2014Q1  29216.42  102433
37645  2014Q2  28261.43  102433
37646  2014Q3  32272.77  102433
37647  2014Q4  36968.80  102433
37648  2015Q1  37139.79  102433
37649  2015Q2  36279.80  102433
37650  2015Q3  38470.09  102433
37651  2015Q4  39849.23  102433
37652  2016Q1  36224.51  102433
37653  2016Q2  33639.01  102433
37654  2016Q3  36080.71  102433
37655  2016Q4  35991.75  102433
37656  2017Q1  32765.92  102433
37657  2017Q2  28065.29  102433
37658  2017Q3  31290.85  102433
37659  2017Q4  34944.96  102433
('Key_nav : ', 102433)
('data 1 : ', array([-0.11509564,  0.03606384,  0.02580192,  0.07439926,  0.064535  ,
       -0.009753  ,  0.17771676,  0.1340568 ,  0.00409646, -0.011474  ,
        0.07958514,  0.03426182, -0.11950583, -0.11104069,  0.06946871,
       -0.0010916 , -0.08305348, -0.11778087, -0.01162762,  0.06129799]))
('data 2 :', array([ 25921.04,  26534.99,  26688.85,  27196.62,  29216.42,  28261.43,
        32272.77,  36968.8 ,  37139.79,  36279.8 ,  38470.09,  39849.23,
        36224.51,  33639.01,  36080.71,  35991.75,  32765.92,  28065.29,
        31290.85,  34944.96]))
('Key_aum: ', 118756)
      Quarter     Data      ID
37580  2013Q1    60.69  118756
37581  2013Q2   151.52  118756
37582  2013Q3   220.56  118756
37583  2013Q4   267.00  118756
37584  2014Q1   366.76  118756
37585  2014Q2   496.54  118756
37586  2014Q3   631.72  118756
37587  2014Q4   849.99  118756
37588  2015Q1   964.64  118756
37589  2015Q2   996.78  118756
37590  2015Q3  1900.70  118756
37591  2015Q4  2216.11  118756
37592  2016Q1  2217.76  118756
37593  2016Q2  2113.95  118756
37594  2016Q3  2300.11  118756
37595  2016Q4  2235.23  118756
37596  2017Q1  1913.59  118756
37597  2017Q2  2328.83  118756
37598  2017Q3  2491.71  118756
37599  2017Q4  2661.40  118756
('Key_nav : ', 118756)
('data 1 : ', array([-0.04997213,  0.04997111,  0.02833627,  0.07601346,  0.07019395,
       -0.00362458,  0.17964915,  0.13586416,  0.0122436 , -0.00552968,
        0.08144533,  0.03666168, -0.11382877, -0.09959657,  0.07162823,
        0.00123221, -0.07649512, -0.10498451, -0.00913699,  0.06378089]))
('data 2 :', array([   60.69,   151.52,   220.56,   267.  ,   366.76,   496.54,
         631.72,   849.99,   964.64,   996.78,  1900.7 ,  2216.11,
        2217.76,  2113.95,  2300.11,  2235.23,  1913.59,  2328.83,
        2491.71,  2661.4 ]))
('mean : ', array([-0.04997213,  0.04997111,  0.02833627,  0.07601346,  0.07019395,
       -0.00362458,  0.17964915,  0.13586416,  0.0122436 , -0.00552968,
        0.08144533,  0.03666168, -0.11382877, -0.09959657,  0.07162823,
        0.00123221, -0.07649512, -0.10498451, -0.00913699,  0.06378089]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
37580  2013Q1     60.69  118756
37581  2013Q2    151.52  118756
37582  2013Q3    220.56  118756
37583  2013Q4    267.00  118756
37584  2014Q1    366.76  118756
37585  2014Q2    496.54  118756
37586  2014Q3    631.72  118756
37587  2014Q4    849.99  118756
37588  2015Q1    964.64  118756
37589  2015Q2    996.78  118756
37590  2015Q3   1900.70  118756
37591  2015Q4   2216.11  118756
37592  2016Q1   2217.76  118756
37593  2016Q2   2113.95  118756
37594  2016Q3   2300.11  118756
37595  2016Q4   2235.23  118756
37596  2017Q1   1913.59  118756
37597  2017Q2   2328.83  118756
37598  2017Q3   2491.71  118756
37599  2017Q4   2661.40  118756
37640  2013Q1  25921.04  102433
37641  2013Q2  26534.99  102433
37642  2013Q3  26688.85  102433
37643  2013Q4  27196.62  102433
37644  2014Q1  29216.42  102433
37645  2014Q2  28261.43  102433
37646  2014Q3  32272.77  102433
37647  2014Q4  36968.80  102433
37648  2015Q1  37139.79  102433
37649  2015Q2  36279.80  102433
37650  2015Q3  38470.09  102433
37651  2015Q4  39849.23  102433
37652  2016Q1  36224.51  102433
37653  2016Q2  33639.01  102433
37654  2016Q3  36080.71  102433
37655  2016Q4  35991.75  102433
37656  2017Q1  32765.92  102433
37657  2017Q2  28065.29  102433
37658  2017Q3  31290.85  102433
37659  2017Q4  34944.96  102433>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
300   2013Q1 -0.115096  102433
301   2013Q2  0.036064  102433
302   2013Q3  0.025802  102433
303   2013Q4  0.074399  102433
304   2014Q1  0.064535  102433
305   2014Q2 -0.009753  102433
306   2014Q3  0.177717  102433
307   2014Q4  0.134057  102433
308   2015Q1  0.004096  102433
309   2015Q2 -0.011474  102433
310   2015Q3  0.079585  102433
311   2015Q4  0.034262  102433
312   2016Q1 -0.119506  102433
313   2016Q2 -0.111041  102433
314   2016Q3  0.069469  102433
315   2016Q4 -0.001092  102433
316   2017Q1 -0.083053  102433
317   2017Q2 -0.117781  102433
318   2017Q3 -0.011628  102433
319   2017Q4  0.061298  102433
1100  2013Q1 -0.049972  118756
1101  2013Q2  0.049971  118756
1102  2013Q3  0.028336  118756
1103  2013Q4  0.076013  118756
1104  2014Q1  0.070194  118756
1105  2014Q2 -0.003625  118756
1106  2014Q3  0.179649  118756
1107  2014Q4  0.135864  118756
1108  2015Q1  0.012244  118756
1109  2015Q2 -0.005530  118756
1110  2015Q3  0.081445  118756
1111  2015Q4  0.036662  118756
1112  2016Q1 -0.113829  118756
1113  2016Q2 -0.099597  118756
1114  2016Q3  0.071628  118756
1115  2016Q4  0.001232  118756
1116  2017Q1 -0.076495  118756
1117  2017Q2 -0.104985  118756
1118  2017Q3 -0.009137  118756
1119  2017Q4  0.063781  118756>)
('Key_aum: ', 102433)
      Quarter      Data      ID
37640  2013Q1  25921.04  102433
37641  2013Q2  26534.99  102433
37642  2013Q3  26688.85  102433
37643  2013Q4  27196.62  102433
37644  2014Q1  29216.42  102433
37645  2014Q2  28261.43  102433
37646  2014Q3  32272.77  102433
37647  2014Q4  36968.80  102433
37648  2015Q1  37139.79  102433
37649  2015Q2  36279.80  102433
37650  2015Q3  38470.09  102433
37651  2015Q4  39849.23  102433
37652  2016Q1  36224.51  102433
37653  2016Q2  33639.01  102433
37654  2016Q3  36080.71  102433
37655  2016Q4  35991.75  102433
37656  2017Q1  32765.92  102433
37657  2017Q2  28065.29  102433
37658  2017Q3  31290.85  102433
37659  2017Q4  34944.96  102433
('Key_nav : ', 102433)

      Quarter     Data      ID
37580  2013Q1    60.69  118756
37581  2013Q2   151.52  118756
37582  2013Q3   220.56  118756
37583  2013Q4   267.00  118756
37584  2014Q1   366.76  118756
37585  2014Q2   496.54  118756
37586  2014Q3   631.72  118756
37587  2014Q4   849.99  118756
37588  2015Q1   964.64  118756
37589  2015Q2   996.78  118756
37590  2015Q3  1900.70  118756
37591  2015Q4  2216.11  118756
37592  2016Q1  2217.76  118756
37593  2016Q2  2113.95  118756
37594  2016Q3  2300.11  118756
37595  2016Q4  2235.23  118756
37596  2017Q1  1913.59  118756
37597  2017Q2  2328.83  118756
37598  2017Q3  2491.71  118756
37599  2017Q4  2661.40  118756
('Key_nav : ', 118756)
('data 1 : ', array([-0.04997213,  0.04997111,  0.02833627,  0.07601346,  0.07019395,
       -0.00362458,  0.17964915,  0.13586416,  0.0122436 , -0.00552968,
        0.08144533,  0.03666168, -0.11382877, -0.09959657,  0.07162823,
        0.00123221, -0.07649512, -0.10498451, -0.00913699,  0.06378089]))
('data 2 :', array([   60.69,   151.52,   220.56,   267.  ,   366.76,   496.54,
         631.72,   849.99,   964.64,   996.78,  1900.7 ,  2216.11,
        2217.76,  2113.95,  2300.11,  2235.23,  1913.59,  2328.83,
        2491.71,  2661.4 ]))
('mean : ', array([-0.04997213,  0.04997111,  0.02833627,  0.07601346,  0.07019395,
       -0.00362458,  0.17964915,  0.13586416,  0.0122436 , -0.00552968,
        0.08144533,  0.03666168, -0.11382877, -0.09959657,  0.07162823,
        0.00123221, -0.07649512, -0.10498451, -0.00913699,  0.06378089]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
37580  2013Q1     60.69  118756
37581  2013Q2    151.52  118756
37582  2013Q3    220.56  118756
37583  2013Q4    267.00  118756
37584  2014Q1    366.76  118756
37585  2014Q2    496.54  118756
37586  2014Q3    631.72  118756
37587  2014Q4    849.99  118756
37588  2015Q1    964.64  118756
37589  2015Q2    996.78  118756
37590  2015Q3   1900.70  118756
37591  2015Q4   2216.11  118756
37592  2016Q1   2217.76  118756
37593  2016Q2   2113.95  118756
37594  2016Q3   2300.11  118756
37595  2016Q4   2235.23  118756
37596  2017Q1   1913.59  118756
37597  2017Q2   2328.83  118756
37598  2017Q3   2491.71  118756
37599  2017Q4   2661.40  118756
37640  2013Q1  25921.04  102433
37641  2013Q2  26534.99  102433
37642  2013Q3  26688.85  102433
37643  2013Q4  27196.62  102433
37644  2014Q1  29216.42  102433
37645  2014Q2  28261.43  102433
37646  2014Q3  32272.77  102433
37647  2014Q4  36968.80  102433
37648  2015Q1  37139.79  102433
37649  2015Q2  36279.80  102433
37650  2015Q3  38470.09  102433
37651  2015Q4  39849.23  102433
37652  2016Q1  36224.51  102433
37653  2016Q2  33639.01  102433
37654  2016Q3  36080.71  102433
37655  2016Q4  35991.75  102433
37656  2017Q1  32765.92  102433
37657  2017Q2  28065.29  102433
37658  2017Q3  31290.85  102433
37659  2017Q4  34944.96  102433>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
300   2013Q1 -0.115096  102433
301   2013Q2  0.036064  102433
302   2013Q3  0.025802  102433
303   2013Q4  0.074399  102433
304   2014Q1  0.064535  102433
305   2014Q2 -0.009753  102433
306   2014Q3  0.177717  102433
307   2014Q4  0.134057  102433
308   2015Q1  0.004096  102433
309   2015Q2 -0.011474  102433
310   2015Q3  0.079585  102433
311   2015Q4  0.034262  102433
312   2016Q1 -0.119506  102433
313   2016Q2 -0.111041  102433
314   2016Q3  0.069469  102433
315   2016Q4 -0.001092  102433
316   2017Q1 -0.083053  102433
317   2017Q2 -0.117781  102433
318   2017Q3 -0.011628  102433
319   2017Q4  0.061298  102433
1100  2013Q1 -0.049972  118756
1101  2013Q2  0.049971  118756
1102  2013Q3  0.028336  118756
1103  2013Q4  0.076013  118756
1104  2014Q1  0.070194  118756
1105  2014Q2 -0.003625  118756
1106  2014Q3  0.179649  118756
1107  2014Q4  0.135864  118756
1108  2015Q1  0.012244  118756
1109  2015Q2 -0.005530  118756
1110  2015Q3  0.081445  118756
1111  2015Q4  0.036662  118756
1112  2016Q1 -0.113829  118756
1113  2016Q2 -0.099597  118756
1114  2016Q3  0.071628  118756
1115  2016Q4  0.001232  118756
1116  2017Q1 -0.076495  118756
1117  2017Q2 -0.104985  118756
1118  2017Q3 -0.009137  118756
1119  2017Q4  0.063781  118756>)
('Key_aum: ', 102433)
      Quarter      Data      ID
37640  2013Q1  25921.04  102433
37641  2013Q2  26534.99  102433
37642  2013Q3  26688.85  102433
37643  2013Q4  27196.62  102433
37644  2014Q1  29216.42  102433
37645  2014Q2  28261.43  102433
37646  2014Q3  32272.77  102433
37647  2014Q4  36968.80  102433
37648  2015Q1  37139.79  102433
37649  2015Q2  36279.80  102433
37650  2015Q3  38470.09  102433
37651  2015Q4  39849.23  102433
37652  2016Q1  36224.51  102433
37653  2016Q2  33639.01  102433
37654  2016Q3  36080.71  102433
37655  2016Q4  35991.75  102433
37656  2017Q1  32765.92  102433
37657  2017Q2  28065.29  102433
37658  2017Q3  31290.85  102433
37659  2017Q4  34944.96  102433
('Key_nav : ', 102433)
('data 1 : ', array([-0.11509564,  0.03606384,  0.02580192,  0.07439926,  0.064535  ,
       -0.009753  ,  0.17771676,  0.1340568 ,  0.00409646, -0.011474  ,
        0.07958514,  0.03426182, -0.11950583, -0.11104069,  0.06946871,
       -0.0010916 , -0.08305348, -0.11778087, -0.01162762,  0.06129799]))
('data 2 :', array([ 25921.04,  26534.99,  26688.85,  27196.62,  29216.42,  28261.43,
        32272.77,  36968.8 ,  37139.79,  36279.8 ,  38470.09,  39849.23,
        36224.51,  33639.01,  36080.71,  35991.75,  32765.92,  28065.29,
        31290.85,  34944.96]))
('Key_aum: ', 118756)
      Quarter     Data      ID
37580  2013Q1    60.69  118756
37581  2013Q2   151.52  118756
37582  2013Q3   220.56  118756
37583  2013Q4   267.00  118756
37584  2014Q1   366.76  118756
37585  2014Q2   496.54  118756
37586  2014Q3   631.72  118756
37587  2014Q4   849.99  118756
37588  2015Q1   964.64  118756
37589  2015Q2   996.78  118756
37590  2015Q3  1900.70  118756
37591  2015Q4  2216.11  118756
37592  2016Q1  2217.76  118756
37593  2016Q2  2113.95  118756
37594  2016Q3  2300.11  118756
37595  2016Q4  2235.23  118756
37596  2017Q1  1913.59  118756
37597  2017Q2  2328.83  118756
37598  2017Q3  2491.71  118756
37599  2017Q4  2661.40  118756
('Key_nav : ', 118756)
('data 1 : ', array([-0.04997213,  0.04997111,  0.02833627,  0.07601346,  0.07019395,
       -0.00362458,  0.17964915,  0.13586416,  0.0122436 , -0.00552968,
        0.08144533,  0.03666168, -0.11382877, -0.09959657,  0.07162823,
        0.00123221, -0.07649512, -0.10498451, -0.00913699,  0.06378089]))
('data 2 :', array([   60.69,   151.52,   220.56,   267.  ,   366.76,   496.54,
         631.72,   849.99,   964.64,   996.78,  1900.7 ,  2216.11,
        2217.76,  2113.95,  2300.11,  2235.23,  1913.59,  2328.83,
        2491.71,  2661.4 ]))
('mean : ', array([-0.04997213,  0.04997111,  0.02833627,  0.07601346,  0.07019395,
       -0.00362458,  0.17964915,  0.13586416,  0.0122436 , -0.00552968,
        0.08144533,  0.03666168, -0.11382877, -0.09959657,  0.07162823,
        0.00123221, -0.07649512, -0.10498451, -0.00913699,  0.06378089]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
37580  2013Q1     60.69  118756
37581  2013Q2    151.52  118756
37582  2013Q3    220.56  118756
37583  2013Q4    267.00  118756
37584  2014Q1    366.76  118756
37585  2014Q2    496.54  118756
37586  2014Q3    631.72  118756
37587  2014Q4    849.99  118756
37588  2015Q1    964.64  118756
37589  2015Q2    996.78  118756
37590  2015Q3   1900.70  118756
37591  2015Q4   2216.11  118756
37592  2016Q1   2217.76  118756
37593  2016Q2   2113.95  118756
37594  2016Q3   2300.11  118756
37595  2016Q4   2235.23  118756
37596  2017Q1   1913.59  118756
37597  2017Q2   2328.83  118756
37598  2017Q3   2491.71  118756
37599  2017Q4   2661.40  118756
37640  2013Q1  25921.04  102433
37641  2013Q2  26534.99  102433
37642  2013Q3  26688.85  102433
37643  2013Q4  27196.62  102433
37644  2014Q1  29216.42  102433
37645  2014Q2  28261.43  102433
37646  2014Q3  32272.77  102433
37647  2014Q4  36968.80  102433
37648  2015Q1  37139.79  102433
37649  2015Q2  36279.80  102433
37650  2015Q3  38470.09  102433
37651  2015Q4  39849.23  102433
37652  2016Q1  36224.51  102433
37653  2016Q2  33639.01  102433
37654  2016Q3  36080.71  102433
37655  2016Q4  35991.75  102433
37656  2017Q1  32765.92  102433
37657  2017Q2  28065.29  102433
37658  2017Q3  31290.85  102433
37659  2017Q4  34944.96  102433>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
300   2013Q1 -0.115096  102433
301   2013Q2  0.036064  102433
302   2013Q3  0.025802  102433
303   2013Q4  0.074399  102433
304   2014Q1  0.064535  102433
305   2014Q2 -0.009753  102433
306   2014Q3  0.177717  102433
307   2014Q4  0.134057  102433
308   2015Q1  0.004096  102433
309   2015Q2 -0.011474  102433
310   2015Q3  0.079585  102433
311   2015Q4  0.034262  102433
312   2016Q1 -0.119506  102433
313   2016Q2 -0.111041  102433
314   2016Q3  0.069469  102433
315   2016Q4 -0.001092  102433
316   2017Q1 -0.083053  102433
317   2017Q2 -0.117781  102433
318   2017Q3 -0.011628  102433
319   2017Q4  0.061298  102433
1100  2013Q1 -0.049972  118756
1101  2013Q2  0.049971  118756
1102  2013Q3  0.028336  118756
1103  2013Q4  0.076013  118756
1104  2014Q1  0.070194  118756
1105  2014Q2 -0.003625  118756
1106  2014Q3  0.179649  118756
1107  2014Q4  0.135864  118756
1108  2015Q1  0.012244  118756
1109  2015Q2 -0.005530  118756
1110  2015Q3  0.081445  118756
1111  2015Q4  0.036662  118756
1112  2016Q1 -0.113829  118756
1113  2016Q2 -0.099597  118756
1114  2016Q3  0.071628  118756
1115  2016Q4  0.001232  118756
1116  2017Q1 -0.076495  118756
1117  2017Q2 -0.104985  118756
1118  2017Q3 -0.009137  118756
1119  2017Q4  0.063781  118756>)
('Key_aum: ', 102433)
      Quarter      Data      ID
37640  2013Q1  25921.04  102433
37641  2013Q2  26534.99  102433
37642  2013Q3  26688.85  102433
37643  2013Q4  27196.62  102433
37644  2014Q1  29216.42  102433
37645  2014Q2  28261.43  102433
37646  2014Q3  32272.77  102433
37647  2014Q4  36968.80  102433
37648  2015Q1  37139.79  102433
37649  2015Q2  36279.80  102433
37650  2015Q3  38470.09  102433
37651  2015Q4  39849.23  102433
37652  2016Q1  36224.51  102433
37653  2016Q2  33639.01  102433
37654  2016Q3  36080.71  102433
37655  2016Q4  35991.75  102433
37656  2017Q1  32765.92  102433
37657  2017Q2  28065.29  102433
37658  2017Q3  31290.85  102433
37659  2017Q4  34944.96  102433
('Key_nav : ', 102433)
('data 1 : ', array([-0.11509564,  0.03606384,  0.02580192,  0.07439926,  0.064535  ,
       -0.009753  ,  0.17771676,  0.1340568 ,  0.00409646, -0.011474  ,
        0.07958514,  0.03426182, -0.11950583, -0.11104069,  0.06946871,
       -0.0010916 , -0.08305348, -0.11778087, -0.01162762,  0.06129799]))
('data 2 :', array([ 25921.04,  26534.99,  26688.85,  27196.62,  29216.42,  28261.43,
        32272.77,  36968.8 ,  37139.79,  36279.8 ,  38470.09,  39849.23,
        36224.51,  33639.01,  36080.71,  35991.75,  32765.92,  28065.29,
        31290.85,  34944.96]))
('Key_aum: ', 118756)
      Quarter     Data      ID
37580  2013Q1    60.69  118756
37581  2013Q2   151.52  118756
37582  2013Q3   220.56  118756
37583  2013Q4   267.00  118756
37584  2014Q1   366.76  118756
37585  2014Q2   496.54  118756
37586  2014Q3   631.72  118756
37587  2014Q4   849.99  118756
37588  2015Q1   964.64  118756
37589  2015Q2   996.78  118756
37590  2015Q3  1900.70  118756
37591  2015Q4  2216.11  118756
37592  2016Q1  2217.76  118756
37593  2016Q2  2113.95  118756
37594  2016Q3  2300.11  118756
37595  2016Q4  2235.23  118756
37596  2017Q1  1913.59  118756
37597  2017Q2  2328.83  118756
37598  2017Q3  2491.71  118756
37599  2017Q4  2661.40  118756
('Key_nav : ', 118756)
('data 1 : ', array([-0.04997213,  0.04997111,  0.02833627,  0.07601346,  0.07019395,
       -0.00362458,  0.17964915,  0.13586416,  0.0122436 , -0.00552968,
        0.08144533,  0.03666168, -0.11382877, -0.09959657,  0.07162823,
        0.00123221, -0.07649512, -0.10498451, -0.00913699,  0.06378089]))
('data 2 :', array([   60.69,   151.52,   220.56,   267.  ,   366.76,   496.54,
         631.72,   849.99,   964.64,   996.78,  1900.7 ,  2216.11,
        2217.76,  2113.95,  2300.11,  2235.23,  1913.59,  2328.83,
        2491.71,  2661.4 ]))
('mean : ', array([-0.04997213,  0.04997111,  0.02833627,  0.07601346,  0.07019395,
       -0.00362458,  0.17964915,  0.13586416,  0.0122436 , -0.00552968,
        0.08144533,  0.03666168, -0.11382877, -0.09959657,  0.07162823,
        0.00123221, -0.07649512, -0.10498451, -0.00913699,  0.06378089]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
37580  2013Q1     60.69  118756
37581  2013Q2    151.52  118756
37582  2013Q3    220.56  118756
37583  2013Q4    267.00  118756
37584  2014Q1    366.76  118756
37585  2014Q2    496.54  118756
37586  2014Q3    631.72  118756
37587  2014Q4    849.99  118756
37588  2015Q1    964.64  118756
37589  2015Q2    996.78  118756
37590  2015Q3   1900.70  118756
37591  2015Q4   2216.11  118756
37592  2016Q1   2217.76  118756
37593  2016Q2   2113.95  118756
37594  2016Q3   2300.11  118756
37595  2016Q4   2235.23  118756
37596  2017Q1   1913.59  118756
37597  2017Q2   2328.83  118756
37598  2017Q3   2491.71  118756
37599  2017Q4   2661.40  118756
37640  2013Q1  25921.04  102433
37641  2013Q2  26534.99  102433
37642  2013Q3  26688.85  102433
37643  2013Q4  27196.62  102433
37644  2014Q1  29216.42  102433
37645  2014Q2  28261.43  102433
37646  2014Q3  32272.77  102433
37647  2014Q4  36968.80  102433
37648  2015Q1  37139.79  102433
37649  2015Q2  36279.80  102433
37650  2015Q3  38470.09  102433
37651  2015Q4  39849.23  102433
37652  2016Q1  36224.51  102433
37653  2016Q2  33639.01  102433
37654  2016Q3  36080.71  102433
37655  2016Q4  35991.75  102433
37656  2017Q1  32765.92  102433
37657  2017Q2  28065.29  102433
37658  2017Q3  31290.85  102433
37659  2017Q4  34944.96  102433>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
300   2013Q1 -0.115096  102433
301   2013Q2  0.036064  102433
302   2013Q3  0.025802  102433
303   2013Q4  0.074399  102433
304   2014Q1  0.064535  102433
305   2014Q2 -0.009753  102433
306   2014Q3  0.177717  102433
307   2014Q4  0.134057  102433
308   2015Q1  0.004096  102433
309   2015Q2 -0.011474  102433
310   2015Q3  0.079585  102433
311   2015Q4  0.034262  102433
312   2016Q1 -0.119506  102433
313   2016Q2 -0.111041  102433
314   2016Q3  0.069469  102433
315   2016Q4 -0.001092  102433
316   2017Q1 -0.083053  102433
317   2017Q2 -0.117781  102433
318   2017Q3 -0.011628  102433
319   2017Q4  0.061298  102433
1100  2013Q1 -0.049972  118756
1101  2013Q2  0.049971  118756
1102  2013Q3  0.028336  118756
1103  2013Q4  0.076013  118756
1104  2014Q1  0.070194  118756
1105  2014Q2 -0.003625  118756
1106  2014Q3  0.179649  118756
1107  2014Q4  0.135864  118756
1108  2015Q1  0.012244  118756
1109  2015Q2 -0.005530  118756
1110  2015Q3  0.081445  118756
1111  2015Q4  0.036662  118756
1112  2016Q1 -0.113829  118756
1113  2016Q2 -0.099597  118756
1114  2016Q3  0.071628  118756
1115  2016Q4  0.001232  118756
1116  2017Q1 -0.076495  118756
1117  2017Q2 -0.104985  118756
1118  2017Q3 -0.009137  118756
1119  2017Q4  0.063781  118756>)
('Key_aum: ', 102433)
      Quarter      Data      ID
37640  2013Q1  25921.04  102433
37641  2013Q2  26534.99  102433
37642  2013Q3  26688.85  102433
37643  2013Q4  27196.62  102433
37644  2014Q1  29216.42  102433
37645  2014Q2  28261.43  102433
37646  2014Q3  32272.77  102433
37647  2014Q4  36968.80  102433
37648  2015Q1  37139.79  102433
37649  2015Q2  36279.80  102433
37650  2015Q3  38470.09  102433
37651  2015Q4  39849.23  102433
37652  2016Q1  36224.51  102433
37653  2016Q2  33639.01  102433
37654  2016Q3  36080.71  102433
37655  2016Q4  35991.75  102433
37656  2017Q1  32765.92  102433
37657  2017Q2  28065.29  102433
37658  2017Q3  31290.85  102433
37659  2017Q4  34944.96  102433
('Key_nav : ', 102433)
('data 1 : ', array([-0.11509564,  0.03606384,  0.02580192,  0.07439926,  0.064535  ,
       -0.009753  ,  0.17771676,  0.1340568 ,  0.00409646, -0.011474  ,
        0.07958514,  0.03426182, -0.11950583, -0.11104069,  0.06946871,
       -0.0010916 , -0.08305348, -0.11778087, -0.01162762,  0.06129799]))
('data 2 :', array([ 25921.04,  26534.99,  26688.85,  27196.62,  29216.42,  28261.43,
        32272.77,  36968.8 ,  37139.79,  36279.8 ,  38470.09,  39849.23,
        36224.51,  33639.01,  36080.71,  35991.75,  32765.92,  28065.29,
        31290.85,  34944.96]))
('Key_aum: ', 118756)
      Quarter     Data      ID
37580  2013Q1    60.69  118756
37581  2013Q2   151.52  118756
37582  2013Q3   220.56  118756
37583  2013Q4   267.00  118756
37584  2014Q1   366.76  118756
37585  2014Q2   496.54  118756
37586  2014Q3   631.72  118756
37587  2014Q4   849.99  118756
37588  2015Q1   964.64  118756
37589  2015Q2   996.78  118756
37590  2015Q3  1900.70  118756
37591  2015Q4  2216.11  118756
37592  2016Q1  2217.76  118756
37593  2016Q2  2113.95  118756
37594  2016Q3  2300.11  118756
37595  2016Q4  2235.23  118756
37596  2017Q1  1913.59  118756
37597  2017Q2  2328.83  118756
37598  2017Q3  2491.71  118756
37599  2017Q4  2661.40  118756
('Key_nav : ', 118756)
('data 1 : ', array([-0.04997213,  0.04997111,  0.02833627,  0.07601346,  0.07019395,
       -0.00362458,  0.17964915,  0.13586416,  0.0122436 , -0.00552968,
        0.08144533,  0.03666168, -0.11382877, -0.09959657,  0.07162823,
        0.00123221, -0.07649512, -0.10498451, -0.00913699,  0.06378089]))
('data 2 :', array([   60.69,   151.52,   220.56,   267.  ,   366.76,   496.54,
         631.72,   849.99,   964.64,   996.78,  1900.7 ,  2216.11,
        2217.76,  2113.95,  2300.11,  2235.23,  1913.59,  2328.83,
        2491.71,  2661.4 ]))
('mean : ', array([-0.04997213,  0.04997111,  0.02833627,  0.07601346,  0.07019395,
       -0.00362458,  0.17964915,  0.13586416,  0.0122436 , -0.00552968,
        0.08144533,  0.03666168, -0.11382877, -0.09959657,  0.07162823,
        0.00123221, -0.07649512, -0.10498451, -0.00913699,  0.06378089]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
37580  2013Q1     60.69  118756
37581  2013Q2    151.52  118756
37582  2013Q3    220.56  118756
37583  2013Q4    267.00  118756
37584  2014Q1    366.76  118756
37585  2014Q2    496.54  118756
37586  2014Q3    631.72  118756
37587  2014Q4    849.99  118756
37588  2015Q1    964.64  118756
37589  2015Q2    996.78  118756
37590  2015Q3   1900.70  118756
37591  2015Q4   2216.11  118756
37592  2016Q1   2217.76  118756
37593  2016Q2   2113.95  118756
37594  2016Q3   2300.11  118756
37595  2016Q4   2235.23  118756
37596  2017Q1   1913.59  118756
37597  2017Q2   2328.83  118756
37598  2017Q3   2491.71  118756
37599  2017Q4   2661.40  118756
37640  2013Q1  25921.04  102433
37641  2013Q2  26534.99  102433
37642  2013Q3  26688.85  102433
37643  2013Q4  27196.62  102433
37644  2014Q1  29216.42  102433
37645  2014Q2  28261.43  102433
37646  2014Q3  32272.77  102433
37647  2014Q4  36968.80  102433
37648  2015Q1  37139.79  102433
37649  2015Q2  36279.80  102433
37650  2015Q3  38470.09  102433
37651  2015Q4  39849.23  102433
37652  2016Q1  36224.51  102433
37653  2016Q2  33639.01  102433
37654  2016Q3  36080.71  102433
37655  2016Q4  35991.75  102433
37656  2017Q1  32765.92  102433
37657  2017Q2  28065.29  102433
37658  2017Q3  31290.85  102433
37659  2017Q4  34944.96  102433>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
300   2013Q1 -0.115096  102433
301   2013Q2  0.036064  102433
302   2013Q3  0.025802  102433
303   2013Q4  0.074399  102433
304   2014Q1  0.064535  102433
305   2014Q2 -0.009753  102433
306   2014Q3  0.177717  102433
307   2014Q4  0.134057  102433
308   2015Q1  0.004096  102433
309   2015Q2 -0.011474  102433
310   2015Q3  0.079585  102433
311   2015Q4  0.034262  102433
312   2016Q1 -0.119506  102433
313   2016Q2 -0.111041  102433
314   2016Q3  0.069469  102433
315   2016Q4 -0.001092  102433

37599  2017Q4  2661.40  118756
('Key_nav : ', 118756)
('data 1 : ', array([-0.04997213,  0.04997111,  0.02833627,  0.07601346,  0.07019395,
       -0.00362458,  0.17964915,  0.13586416,  0.0122436 , -0.00552968,
        0.08144533,  0.03666168, -0.11382877, -0.09959657,  0.07162823,
        0.00123221, -0.07649512, -0.10498451, -0.00913699,  0.06378089]))
('data 2 :', array([   60.69,   151.52,   220.56,   267.  ,   366.76,   496.54,
         631.72,   849.99,   964.64,   996.78,  1900.7 ,  2216.11,
        2217.76,  2113.95,  2300.11,  2235.23,  1913.59,  2328.83,
        2491.71,  2661.4 ]))
('mean : ', array([-0.04997213,  0.04997111,  0.02833627,  0.07601346,  0.07019395,
       -0.00362458,  0.17964915,  0.13586416,  0.0122436 , -0.00552968,
        0.08144533,  0.03666168, -0.11382877, -0.09959657,  0.07162823,
        0.00123221, -0.07649512, -0.10498451, -0.00913699,  0.06378089]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
37580  2013Q1     60.69  118756
37581  2013Q2    151.52  118756
37582  2013Q3    220.56  118756
37583  2013Q4    267.00  118756
37584  2014Q1    366.76  118756
37585  2014Q2    496.54  118756
37586  2014Q3    631.72  118756
37587  2014Q4    849.99  118756
37588  2015Q1    964.64  118756
37589  2015Q2    996.78  118756
37590  2015Q3   1900.70  118756
37591  2015Q4   2216.11  118756
37592  2016Q1   2217.76  118756
37593  2016Q2   2113.95  118756
37594  2016Q3   2300.11  118756
37595  2016Q4   2235.23  118756
37596  2017Q1   1913.59  118756
37597  2017Q2   2328.83  118756
37598  2017Q3   2491.71  118756
37599  2017Q4   2661.40  118756
37640  2013Q1  25921.04  102433
37641  2013Q2  26534.99  102433
37642  2013Q3  26688.85  102433
37643  2013Q4  27196.62  102433
37644  2014Q1  29216.42  102433
37645  2014Q2  28261.43  102433
37646  2014Q3  32272.77  102433
37647  2014Q4  36968.80  102433
37648  2015Q1  37139.79  102433
37649  2015Q2  36279.80  102433
37650  2015Q3  38470.09  102433
37651  2015Q4  39849.23  102433
37652  2016Q1  36224.51  102433
37653  2016Q2  33639.01  102433
37654  2016Q3  36080.71  102433
37655  2016Q4  35991.75  102433
37656  2017Q1  32765.92  102433
37657  2017Q2  28065.29  102433
37658  2017Q3  31290.85  102433
37659  2017Q4  34944.96  102433>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
300   2013Q1 -0.115096  102433
301   2013Q2  0.036064  102433
302   2013Q3  0.025802  102433
303   2013Q4  0.074399  102433
304   2014Q1  0.064535  102433
305   2014Q2 -0.009753  102433
306   2014Q3  0.177717  102433
307   2014Q4  0.134057  102433
308   2015Q1  0.004096  102433
309   2015Q2 -0.011474  102433
310   2015Q3  0.079585  102433
311   2015Q4  0.034262  102433
312   2016Q1 -0.119506  102433
313   2016Q2 -0.111041  102433
314   2016Q3  0.069469  102433
315   2016Q4 -0.001092  102433
316   2017Q1 -0.083053  102433
317   2017Q2 -0.117781  102433
318   2017Q3 -0.011628  102433
319   2017Q4  0.061298  102433
1100  2013Q1 -0.049972  118756
1101  2013Q2  0.049971  118756
1102  2013Q3  0.028336  118756
1103  2013Q4  0.076013  118756
1104  2014Q1  0.070194  118756
1105  2014Q2 -0.003625  118756
1106  2014Q3  0.179649  118756
1107  2014Q4  0.135864  118756
1108  2015Q1  0.012244  118756
1109  2015Q2 -0.005530  118756
1110  2015Q3  0.081445  118756
1111  2015Q4  0.036662  118756
1112  2016Q1 -0.113829  118756
1113  2016Q2 -0.099597  118756
1114  2016Q3  0.071628  118756
1115  2016Q4  0.001232  118756
1116  2017Q1 -0.076495  118756
1117  2017Q2 -0.104985  118756
1118  2017Q3 -0.009137  118756
1119  2017Q4  0.063781  118756>)
('Key_aum: ', 102433)
      Quarter      Data      ID
37640  2013Q1  25921.04  102433
37641  2013Q2  26534.99  102433
37642  2013Q3  26688.85  102433
37643  2013Q4  27196.62  102433
37644  2014Q1  29216.42  102433
37645  2014Q2  28261.43  102433
37646  2014Q3  32272.77  102433
37647  2014Q4  36968.80  102433
37648  2015Q1  37139.79  102433
37649  2015Q2  36279.80  102433
37650  2015Q3  38470.09  102433
37651  2015Q4  39849.23  102433
37652  2016Q1  36224.51  102433
37653  2016Q2  33639.01  102433
37654  2016Q3  36080.71  102433
37655  2016Q4  35991.75  102433
37656  2017Q1  32765.92  102433
37657  2017Q2  28065.29  102433
37658  2017Q3  31290.85  102433
37659  2017Q4  34944.96  102433
('Key_nav : ', 102433)
('data 1 : ', array([-0.11509564,  0.03606384,  0.02580192,  0.07439926,  0.064535  ,
       -0.009753  ,  0.17771676,  0.1340568 ,  0.00409646, -0.011474  ,
        0.07958514,  0.03426182, -0.11950583, -0.11104069,  0.06946871,
       -0.0010916 , -0.08305348, -0.11778087, -0.01162762,  0.06129799]))
('data 2 :', array([ 25921.04,  26534.99,  26688.85,  27196.62,  29216.42,  28261.43,
        32272.77,  36968.8 ,  37139.79,  36279.8 ,  38470.09,  39849.23,
        36224.51,  33639.01,  36080.71,  35991.75,  32765.92,  28065.29,
        31290.85,  34944.96]))
('Key_aum: ', 118756)
      Quarter     Data      ID
37580  2013Q1    60.69  118756
37581  2013Q2   151.52  118756
37582  2013Q3   220.56  118756
37583  2013Q4   267.00  118756
37584  2014Q1   366.76  118756
37585  2014Q2   496.54  118756
37586  2014Q3   631.72  118756
37587  2014Q4   849.99  118756
37588  2015Q1   964.64  118756
37589  2015Q2   996.78  118756
37590  2015Q3  1900.70  118756
37591  2015Q4  2216.11  118756
37592  2016Q1  2217.76  118756
37593  2016Q2  2113.95  118756
37594  2016Q3  2300.11  118756
37595  2016Q4  2235.23  118756
37596  2017Q1  1913.59  118756
37597  2017Q2  2328.83  118756
37598  2017Q3  2491.71  118756
37599  2017Q4  2661.40  118756
('Key_nav : ', 118756)
('data 1 : ', array([-0.04997213,  0.04997111,  0.02833627,  0.07601346,  0.07019395,
       -0.00362458,  0.17964915,  0.13586416,  0.0122436 , -0.00552968,
        0.08144533,  0.03666168, -0.11382877, -0.09959657,  0.07162823,
        0.00123221, -0.07649512, -0.10498451, -0.00913699,  0.06378089]))
('data 2 :', array([   60.69,   151.52,   220.56,   267.  ,   366.76,   496.54,
         631.72,   849.99,   964.64,   996.78,  1900.7 ,  2216.11,
        2217.76,  2113.95,  2300.11,  2235.23,  1913.59,  2328.83,
        2491.71,  2661.4 ]))
('mean : ', array([-0.04997213,  0.04997111,  0.02833627,  0.07601346,  0.07019395,
       -0.00362458,  0.17964915,  0.13586416,  0.0122436 , -0.00552968,
        0.08144533,  0.03666168, -0.11382877, -0.09959657,  0.07162823,
        0.00123221, -0.07649512, -0.10498451, -0.00913699,  0.06378089]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
37580  2013Q1     60.69  118756
37581  2013Q2    151.52  118756
37582  2013Q3    220.56  118756
37583  2013Q4    267.00  118756
37584  2014Q1    366.76  118756
37585  2014Q2    496.54  118756
37586  2014Q3    631.72  118756
37587  2014Q4    849.99  118756
37588  2015Q1    964.64  118756
37589  2015Q2    996.78  118756
37590  2015Q3   1900.70  118756
37591  2015Q4   2216.11  118756
37592  2016Q1   2217.76  118756
37593  2016Q2   2113.95  118756
37594  2016Q3   2300.11  118756
37595  2016Q4   2235.23  118756
37596  2017Q1   1913.59  118756
37597  2017Q2   2328.83  118756
37598  2017Q3   2491.71  118756
37599  2017Q4   2661.40  118756
37640  2013Q1  25921.04  102433
37641  2013Q2  26534.99  102433
37642  2013Q3  26688.85  102433
37643  2013Q4  27196.62  102433
37644  2014Q1  29216.42  102433
37645  2014Q2  28261.43  102433
37646  2014Q3  32272.77  102433
37647  2014Q4  36968.80  102433
37648  2015Q1  37139.79  102433
37649  2015Q2  36279.80  102433
37650  2015Q3  38470.09  102433
37651  2015Q4  39849.23  102433
37652  2016Q1  36224.51  102433
37653  2016Q2  33639.01  102433
37654  2016Q3  36080.71  102433
37655  2016Q4  35991.75  102433
37656  2017Q1  32765.92  102433
37657  2017Q2  28065.29  102433
37658  2017Q3  31290.85  102433
37659  2017Q4  34944.96  102433>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
300   2013Q1 -0.115096  102433
301   2013Q2  0.036064  102433
302   2013Q3  0.025802  102433
303   2013Q4  0.074399  102433
304   2014Q1  0.064535  102433
305   2014Q2 -0.009753  102433
306   2014Q3  0.177717  102433
307   2014Q4  0.134057  102433
308   2015Q1  0.004096  102433
309   2015Q2 -0.011474  102433
310   2015Q3  0.079585  102433
311   2015Q4  0.034262  102433
312   2016Q1 -0.119506  102433
313   2016Q2 -0.111041  102433
314   2016Q3  0.069469  102433
315   2016Q4 -0.001092  102433
316   2017Q1 -0.083053  102433
317   2017Q2 -0.117781  102433
318   2017Q3 -0.011628  102433
319   2017Q4  0.061298  102433
1100  2013Q1 -0.049972  118756
1101  2013Q2  0.049971  118756
1102  2013Q3  0.028336  118756
1103  2013Q4  0.076013  118756
1104  2014Q1  0.070194  118756
1105  2014Q2 -0.003625  118756
1106  2014Q3  0.179649  118756
1107  2014Q4  0.135864  118756
1108  2015Q1  0.012244  118756
1109  2015Q2 -0.005530  118756
1110  2015Q3  0.081445  118756
1111  2015Q4  0.036662  118756
1112  2016Q1 -0.113829  118756
1113  2016Q2 -0.099597  118756
1114  2016Q3  0.071628  118756
1115  2016Q4  0.001232  118756
1116  2017Q1 -0.076495  118756
1117  2017Q2 -0.104985  118756
1118  2017Q3 -0.009137  118756
1119  2017Q4  0.063781  118756>)
('Key_aum: ', 102433)
      Quarter      Data      ID
37640  2013Q1  25921.04  102433
37641  2013Q2  26534.99  102433
37642  2013Q3  26688.85  102433
37643  2013Q4  27196.62  102433
37644  2014Q1  29216.42  102433
37645  2014Q2  28261.43  102433
37646  2014Q3  32272.77  102433
37647  2014Q4  36968.80  102433
37648  2015Q1  37139.79  102433
37649  2015Q2  36279.80  102433
37650  2015Q3  38470.09  102433
37651  2015Q4  39849.23  102433
37652  2016Q1  36224.51  102433
37653  2016Q2  33639.01  102433
37654  2016Q3  36080.71  102433
37655  2016Q4  35991.75  102433
37656  2017Q1  32765.92  102433
37657  2017Q2  28065.29  102433
37658  2017Q3  31290.85  102433
37659  2017Q4  34944.96  102433
('Key_nav : ', 102433)
('data 1 : ', array([-0.11509564,  0.03606384,  0.02580192,  0.07439926,  0.064535  ,
       -0.009753  ,  0.17771676,  0.1340568 ,  0.00409646, -0.011474  ,
        0.07958514,  0.03426182, -0.11950583, -0.11104069,  0.06946871,
       -0.0010916 , -0.08305348, -0.11778087, -0.01162762,  0.06129799]))
('data 2 :', array([ 25921.04,  26534.99,  26688.85,  27196.62,  29216.42,  28261.43,
        32272.77,  36968.8 ,  37139.79,  36279.8 ,  38470.09,  39849.23,
        36224.51,  33639.01,  36080.71,  35991.75,  32765.92,  28065.29,
        31290.85,  34944.96]))
('Key_aum: ', 118756)
      Quarter     Data      ID
37580  2013Q1    60.69  118756
37581  2013Q2   151.52  118756
37582  2013Q3   220.56  118756
37583  2013Q4   267.00  118756
37584  2014Q1   366.76  118756
37585  2014Q2   496.54  118756
37586  2014Q3   631.72  118756
37587  2014Q4   849.99  118756
37588  2015Q1   964.64  118756
37589  2015Q2   996.78  118756
37590  2015Q3  1900.70  118756
37591  2015Q4  2216.11  118756
37592  2016Q1  2217.76  118756
37593  2016Q2  2113.95  118756
37594  2016Q3  2300.11  118756
37595  2016Q4  2235.23  118756
37596  2017Q1  1913.59  118756
37597  2017Q2  2328.83  118756
37598  2017Q3  2491.71  118756
37599  2017Q4  2661.40  118756
('Key_nav : ', 118756)
('data 1 : ', array([-0.04997213,  0.04997111,  0.02833627,  0.07601346,  0.07019395,
       -0.00362458,  0.17964915,  0.13586416,  0.0122436 , -0.00552968,
        0.08144533,  0.03666168, -0.11382877, -0.09959657,  0.07162823,
        0.00123221, -0.07649512, -0.10498451, -0.00913699,  0.06378089]))
('data 2 :', array([   60.69,   151.52,   220.56,   267.  ,   366.76,   496.54,
         631.72,   849.99,   964.64,   996.78,  1900.7 ,  2216.11,
        2217.76,  2113.95,  2300.11,  2235.23,  1913.59,  2328.83,
        2491.71,  2661.4 ]))
('mean : ', array([-0.04997213,  0.04997111,  0.02833627,  0.07601346,  0.07019395,
       -0.00362458,  0.17964915,  0.13586416,  0.0122436 , -0.00552968,
        0.08144533,  0.03666168, -0.11382877, -0.09959657,  0.07162823,
        0.00123221, -0.07649512, -0.10498451, -0.00913699,  0.06378089]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
37580  2013Q1     60.69  118756
37581  2013Q2    151.52  118756
37582  2013Q3    220.56  118756
37583  2013Q4    267.00  118756
37584  2014Q1    366.76  118756
37585  2014Q2    496.54  118756
37586  2014Q3    631.72  118756
37587  2014Q4    849.99  118756
37588  2015Q1    964.64  118756
37589  2015Q2    996.78  118756
37590  2015Q3   1900.70  118756
37591  2015Q4   2216.11  118756
37592  2016Q1   2217.76  118756
37593  2016Q2   2113.95  118756
37594  2016Q3   2300.11  118756
37595  2016Q4   2235.23  118756
37596  2017Q1   1913.59  118756
37597  2017Q2   2328.83  118756
37598  2017Q3   2491.71  118756
37599  2017Q4   2661.40  118756
37640  2013Q1  25921.04  102433
37641  2013Q2  26534.99  102433
37642  2013Q3  26688.85  102433
37643  2013Q4  27196.62  102433
37644  2014Q1  29216.42  102433
37645  2014Q2  28261.43  102433
37646  2014Q3  32272.77  102433
37647  2014Q4  36968.80  102433
37648  2015Q1  37139.79  102433
37649  2015Q2  36279.80  102433
37650  2015Q3  38470.09  102433
37651  2015Q4  39849.23  102433
37652  2016Q1  36224.51  102433
37653  2016Q2  33639.01  102433
37654  2016Q3  36080.71  102433
37655  2016Q4  35991.75  102433
37656  2017Q1  32765.92  102433
37657  2017Q2  28065.29  102433
37658  2017Q3  31290.85  102433
37659  2017Q4  34944.96  102433>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
300   2013Q1 -0.115096  102433
301   2013Q2  0.036064  102433
302   2013Q3  0.025802  102433
303   2013Q4  0.074399  102433
304   2014Q1  0.064535  102433
305   2014Q2 -0.009753  102433
306   2014Q3  0.177717  102433
307   2014Q4  0.134057  102433
308   2015Q1  0.004096  102433
309   2015Q2 -0.011474  102433
310   2015Q3  0.079585  102433
311   2015Q4  0.034262  102433
312   2016Q1 -0.119506  102433
313   2016Q2 -0.111041  102433
314   2016Q3  0.069469  102433
315   2016Q4 -0.001092  102433
316   2017Q1 -0.083053  102433
317   2017Q2 -0.117781  102433
318   2017Q3 -0.011628  102433
319   2017Q4  0.061298  102433
1100  2013Q1 -0.049972  118756
1101  2013Q2  0.049971  118756
1102  2013Q3  0.028336  118756
1103  2013Q4  0.076013  118756
1104  2014Q1  0.070194  118756
1105  2014Q2 -0.003625  118756
1106  2014Q3  0.179649  118756
1107  2014Q4  0.135864  118756
1108  2015Q1  0.012244  118756
1109  2015Q2 -0.005530  118756
1110  2015Q3  0.081445  118756
1111  2015Q4  0.036662  118756
1112  2016Q1 -0.113829  118756
1113  2016Q2 -0.099597  118756
1114  2016Q3  0.071628  118756
1115  2016Q4  0.001232  118756
1116  2017Q1 -0.076495  118756
1117  2017Q2 -0.104985  118756
1118  2017Q3 -0.009137  118756
1119  2017Q4  0.063781  118756>)
('Key_aum: ', 102433)
      Quarter      Data      ID
37640  2013Q1  25921.04  102433
37641  2013Q2  26534.99  102433
37642  2013Q3  26688.85  102433
37643  2013Q4  27196.62  102433
37644  2014Q1  29216.42  102433
37645  2014Q2  28261.43  102433
37646  2014Q3  32272.77  102433
37647  2014Q4  36968.80  102433
37648  2015Q1  37139.79  102433
37649  2015Q2  36279.80  102433
37650  2015Q3  38470.09  102433
37651  2015Q4  39849.23  102433
37652  2016Q1  36224.51  102433
37653  2016Q2  33639.01  102433
37654  2016Q3  36080.71  102433
37655  2016Q4  35991.75  102433
37656  2017Q1  32765.92  102433
37657  2017Q2  28065.29  102433
37658  2017Q3  31290.85  102433
37659  2017Q4  34944.96  102433
('Key_nav : ', 102433)
('data 1 : ', array([-0.11509564,  0.03606384,  0.02580192,  0.07439926,  0.064535  ,
       -0.009753  ,  0.17771676,  0.1340568 ,  0.00409646, -0.011474  ,
        0.07958514,  0.03426182, -0.11950583, -0.11104069,  0.06946871,
       -0.0010916 , -0.08305348, -0.11778087, -0.01162762,  0.06129799]))
('data 2 :', array([ 25921.04,  26534.99,  26688.85,  27196.62,  29216.42,  28261.43,
        32272.77,  36968.8 ,  37139.79,  36279.8 ,  38470.09,  39849.23,
        36224.51,  33639.01,  36080.71,  35991.75,  32765.92,  28065.29,
        31290.85,  34944.96]))
('Key_aum: ', 118756)
      Quarter     Data      ID
37580  2013Q1    60.69  118756
37581  2013Q2   151.52  118756
37582  2013Q3   220.56  118756
37583  2013Q4   267.00  118756
37584  2014Q1   366.76  118756
37585  2014Q2   496.54  118756
37586  2014Q3   631.72  118756
37587  2014Q4   849.99  118756
37588  2015Q1   964.64  118756
37589  2015Q2   996.78  118756
37590  2015Q3  1900.70  118756
37591  2015Q4  2216.11  118756
37592  2016Q1  2217.76  118756
37593  2016Q2  2113.95  118756
37594  2016Q3  2300.11  118756
37595  2016Q4  2235.23  118756
37596  2017Q1  1913.59  118756
37597  2017Q2  2328.83  118756
37598  2017Q3  2491.71  118756
37599  2017Q4  2661.40  118756
('Key_nav : ', 118756)
('data 1 : ', array([-0.04997213,  0.04997111,  0.02833627,  0.07601346,  0.07019395,
       -0.00362458,  0.17964915,  0.13586416,  0.0122436 , -0.00552968,
        0.08144533,  0.03666168, -0.11382877, -0.09959657,  0.07162823,
        0.00123221, -0.07649512, -0.10498451, -0.00913699,  0.06378089]))
('data 2 :', array([   60.69,   151.52,   220.56,   267.  ,   366.76,   496.54,
         631.72,   849.99,   964.64,   996.78,  1900.7 ,  2216.11,
        2217.76,  2113.95,  2300.11,  2235.23,  1913.59,  2328.83,
        2491.71,  2661.4 ]))
('mean : ', array([-0.04997213,  0.04997111,  0.02833627,  0.07601346,  0.07019395,
       -0.00362458,  0.17964915,  0.13586416,  0.0122436 , -0.00552968,
        0.08144533,  0.03666168, -0.11382877, -0.09959657,  0.07162823,
        0.00123221, -0.07649512, -0.10498451, -0.00913699,  0.06378089]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
37580  2013Q1     60.69  118756
37581  2013Q2    151.52  118756
37582  2013Q3    220.56  118756
37583  2013Q4    267.00  118756
37584  2014Q1    366.76  118756
37585  2014Q2    496.54  118756
37586  2014Q3    631.72  118756
37587  2014Q4    849.99  118756
37588  2015Q1    964.64  118756
37589  2015Q2    996.78  118756
37590  2015Q3   1900.70  118756
37591  2015Q4   2216.11  118756
37592  2016Q1   2217.76  118756
37593  2016Q2   2113.95  118756
37594  2016Q3   2300.11  118756
37595  2016Q4   2235.23  118756
37596  2017Q1   1913.59  118756
37597  2017Q2   2328.83  118756
37598  2017Q3   2491.71  118756
37599  2017Q4   2661.40  118756
37640  2013Q1  25921.04  102433
37641  2013Q2  26534.99  102433
37642  2013Q3  26688.85  102433
37643  2013Q4  27196.62  102433
37644  2014Q1  29216.42  102433
37645  2014Q2  28261.43  102433
37646  2014Q3  32272.77  102433
37647  2014Q4  36968.80  102433
37648  2015Q1  37139.79  102433
37649  2015Q2  36279.80  102433
37650  2015Q3  38470.09  102433
37651  2015Q4  39849.23  102433
37652  2016Q1  36224.51  102433
37653  2016Q2  33639.01  102433
37654  2016Q3  36080.71  102433
37655  2016Q4  35991.75  102433
37656  2017Q1  32765.92  102433
37657  2017Q2  28065.29  102433
37658  2017Q3  31290.85  102433
37659  2017Q4  34944.96  102433>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
300   2013Q1 -0.115096  102433
301   2013Q2  0.036064  102433
302   2013Q3  0.025802  102433
303   2013Q4  0.074399  102433
304   2014Q1  0.064535  102433
305   2014Q2 -0.009753  102433
306   2014Q3  0.177717  102433
307   2014Q4  0.134057  102433
308   2015Q1  0.004096  102433
309   2015Q2 -0.011474  102433
310   2015Q3  0.079585  102433
311   2015Q4  0.034262  102433
312   2016Q1 -0.119506  102433
313   2016Q2 -0.111041  102433
314   2016Q3  0.069469  102433
315   2016Q4 -0.001092  102433
316   2017Q1 -0.083053  102433
317   2017Q2 -0.117781  102433
318   2017Q3 -0.011628  102433
319   2017Q4  0.061298  102433
1100  2013Q1 -0.049972  118756
1101  2013Q2  0.049971  118756
1102  2013Q3  0.028336  118756
1103  2013Q4  0.076013  118756
1104  2014Q1  0.070194  118756
1105  2014Q2 -0.003625  118756
1106  2014Q3  0.179649  118756
1107  2014Q4  0.135864  118756
1108  2015Q1  0.012244  118756
1109  2015Q2 -0.005530  118756
1110  2015Q3  0.081445  118756
1111  2015Q4  0.036662  118756
1112  2016Q1 -0.113829  118756
1113  2016Q2 -0.099597  118756
1114  2016Q3  0.071628  118756
1115  2016Q4  0.001232  118756

('Key_aum: ', 102433)
      Quarter      Data      ID
37640  2013Q1  25921.04  102433
37641  2013Q2  26534.99  102433
37642  2013Q3  26688.85  102433
37643  2013Q4  27196.62  102433
37644  2014Q1  29216.42  102433
37645  2014Q2  28261.43  102433
37646  2014Q3  32272.77  102433
37647  2014Q4  36968.80  102433
37648  2015Q1  37139.79  102433
37649  2015Q2  36279.80  102433
37650  2015Q3  38470.09  102433
37651  2015Q4  39849.23  102433
37652  2016Q1  36224.51  102433
37653  2016Q2  33639.01  102433
37654  2016Q3  36080.71  102433
37655  2016Q4  35991.75  102433
37656  2017Q1  32765.92  102433
37657  2017Q2  28065.29  102433
37658  2017Q3  31290.85  102433
37659  2017Q4  34944.96  102433
('Key_nav : ', 102433)
('data 1 : ', array([-0.11509564,  0.03606384,  0.02580192,  0.07439926,  0.064535  ,
       -0.009753  ,  0.17771676,  0.1340568 ,  0.00409646, -0.011474  ,
        0.07958514,  0.03426182, -0.11950583, -0.11104069,  0.06946871,
       -0.0010916 , -0.08305348, -0.11778087, -0.01162762,  0.06129799]))
('data 2 :', array([ 25921.04,  26534.99,  26688.85,  27196.62,  29216.42,  28261.43,
        32272.77,  36968.8 ,  37139.79,  36279.8 ,  38470.09,  39849.23,
        36224.51,  33639.01,  36080.71,  35991.75,  32765.92,  28065.29,
        31290.85,  34944.96]))
('Key_aum: ', 118756)
      Quarter     Data      ID
37580  2013Q1    60.69  118756
37581  2013Q2   151.52  118756
37582  2013Q3   220.56  118756
37583  2013Q4   267.00  118756
37584  2014Q1   366.76  118756
37585  2014Q2   496.54  118756
37586  2014Q3   631.72  118756
37587  2014Q4   849.99  118756
37588  2015Q1   964.64  118756
37589  2015Q2   996.78  118756
37590  2015Q3  1900.70  118756
37591  2015Q4  2216.11  118756
37592  2016Q1  2217.76  118756
37593  2016Q2  2113.95  118756
37594  2016Q3  2300.11  118756
37595  2016Q4  2235.23  118756
37596  2017Q1  1913.59  118756
37597  2017Q2  2328.83  118756
37598  2017Q3  2491.71  118756
37599  2017Q4  2661.40  118756
('Key_nav : ', 118756)
('data 1 : ', array([-0.04997213,  0.04997111,  0.02833627,  0.07601346,  0.07019395,
       -0.00362458,  0.17964915,  0.13586416,  0.0122436 , -0.00552968,
        0.08144533,  0.03666168, -0.11382877, -0.09959657,  0.07162823,
        0.00123221, -0.07649512, -0.10498451, -0.00913699,  0.06378089]))
('data 2 :', array([   60.69,   151.52,   220.56,   267.  ,   366.76,   496.54,
         631.72,   849.99,   964.64,   996.78,  1900.7 ,  2216.11,
        2217.76,  2113.95,  2300.11,  2235.23,  1913.59,  2328.83,
        2491.71,  2661.4 ]))
('mean : ', array([-0.04997213,  0.04997111,  0.02833627,  0.07601346,  0.07019395,
       -0.00362458,  0.17964915,  0.13586416,  0.0122436 , -0.00552968,
        0.08144533,  0.03666168, -0.11382877, -0.09959657,  0.07162823,
        0.00123221, -0.07649512, -0.10498451, -0.00913699,  0.06378089]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
37580  2013Q1     60.69  118756
37581  2013Q2    151.52  118756
37582  2013Q3    220.56  118756
37583  2013Q4    267.00  118756
37584  2014Q1    366.76  118756
37585  2014Q2    496.54  118756
37586  2014Q3    631.72  118756
37587  2014Q4    849.99  118756
37588  2015Q1    964.64  118756
37589  2015Q2    996.78  118756
37590  2015Q3   1900.70  118756
37591  2015Q4   2216.11  118756
37592  2016Q1   2217.76  118756
37593  2016Q2   2113.95  118756
37594  2016Q3   2300.11  118756
37595  2016Q4   2235.23  118756
37596  2017Q1   1913.59  118756
37597  2017Q2   2328.83  118756
37598  2017Q3   2491.71  118756
37599  2017Q4   2661.40  118756
37640  2013Q1  25921.04  102433
37641  2013Q2  26534.99  102433
37642  2013Q3  26688.85  102433
37643  2013Q4  27196.62  102433
37644  2014Q1  29216.42  102433
37645  2014Q2  28261.43  102433
37646  2014Q3  32272.77  102433
37647  2014Q4  36968.80  102433
37648  2015Q1  37139.79  102433
37649  2015Q2  36279.80  102433
37650  2015Q3  38470.09  102433
37651  2015Q4  39849.23  102433
37652  2016Q1  36224.51  102433
37653  2016Q2  33639.01  102433
37654  2016Q3  36080.71  102433
37655  2016Q4  35991.75  102433
37656  2017Q1  32765.92  102433
37657  2017Q2  28065.29  102433
37658  2017Q3  31290.85  102433
37659  2017Q4  34944.96  102433>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
300   2013Q1 -0.115096  102433
301   2013Q2  0.036064  102433
302   2013Q3  0.025802  102433
303   2013Q4  0.074399  102433
304   2014Q1  0.064535  102433
305   2014Q2 -0.009753  102433
306   2014Q3  0.177717  102433
307   2014Q4  0.134057  102433
308   2015Q1  0.004096  102433
309   2015Q2 -0.011474  102433
310   2015Q3  0.079585  102433
311   2015Q4  0.034262  102433
312   2016Q1 -0.119506  102433
313   2016Q2 -0.111041  102433
314   2016Q3  0.069469  102433
315   2016Q4 -0.001092  102433
316   2017Q1 -0.083053  102433
317   2017Q2 -0.117781  102433
318   2017Q3 -0.011628  102433
319   2017Q4  0.061298  102433
1100  2013Q1 -0.049972  118756
1101  2013Q2  0.049971  118756
1102  2013Q3  0.028336  118756
1103  2013Q4  0.076013  118756
1104  2014Q1  0.070194  118756
1105  2014Q2 -0.003625  118756
1106  2014Q3  0.179649  118756
1107  2014Q4  0.135864  118756
1108  2015Q1  0.012244  118756
1109  2015Q2 -0.005530  118756
1110  2015Q3  0.081445  118756
1111  2015Q4  0.036662  118756
1112  2016Q1 -0.113829  118756
1113  2016Q2 -0.099597  118756
1114  2016Q3  0.071628  118756
1115  2016Q4  0.001232  118756
1116  2017Q1 -0.076495  118756
1117  2017Q2 -0.104985  118756
1118  2017Q3 -0.009137  118756
1119  2017Q4  0.063781  118756>)
('Key_aum: ', 102433)
      Quarter      Data      ID
37640  2013Q1  25921.04  102433
37641  2013Q2  26534.99  102433
37642  2013Q3  26688.85  102433
37643  2013Q4  27196.62  102433
37644  2014Q1  29216.42  102433
37645  2014Q2  28261.43  102433
37646  2014Q3  32272.77  102433
37647  2014Q4  36968.80  102433
37648  2015Q1  37139.79  102433
37649  2015Q2  36279.80  102433
37650  2015Q3  38470.09  102433
37651  2015Q4  39849.23  102433
37652  2016Q1  36224.51  102433
37653  2016Q2  33639.01  102433
37654  2016Q3  36080.71  102433
37655  2016Q4  35991.75  102433
37656  2017Q1  32765.92  102433
37657  2017Q2  28065.29  102433
37658  2017Q3  31290.85  102433
37659  2017Q4  34944.96  102433
('Key_nav : ', 102433)
('data 1 : ', array([-0.11509564,  0.03606384,  0.02580192,  0.07439926,  0.064535  ,
       -0.009753  ,  0.17771676,  0.1340568 ,  0.00409646, -0.011474  ,
        0.07958514,  0.03426182, -0.11950583, -0.11104069,  0.06946871,
       -0.0010916 , -0.08305348, -0.11778087, -0.01162762,  0.06129799]))
('data 2 :', array([ 25921.04,  26534.99,  26688.85,  27196.62,  29216.42,  28261.43,
        32272.77,  36968.8 ,  37139.79,  36279.8 ,  38470.09,  39849.23,
        36224.51,  33639.01,  36080.71,  35991.75,  32765.92,  28065.29,
        31290.85,  34944.96]))
('Key_aum: ', 118756)
      Quarter     Data      ID
37580  2013Q1    60.69  118756
37581  2013Q2   151.52  118756
37582  2013Q3   220.56  118756
37583  2013Q4   267.00  118756
37584  2014Q1   366.76  118756
37585  2014Q2   496.54  118756
37586  2014Q3   631.72  118756
37587  2014Q4   849.99  118756
37588  2015Q1   964.64  118756
37589  2015Q2   996.78  118756
37590  2015Q3  1900.70  118756
37591  2015Q4  2216.11  118756
37592  2016Q1  2217.76  118756
37593  2016Q2  2113.95  118756
37594  2016Q3  2300.11  118756
37595  2016Q4  2235.23  118756
37596  2017Q1  1913.59  118756
37597  2017Q2  2328.83  118756
37598  2017Q3  2491.71  118756
37599  2017Q4  2661.40  118756
('Key_nav : ', 118756)
('data 1 : ', array([-0.04997213,  0.04997111,  0.02833627,  0.07601346,  0.07019395,
       -0.00362458,  0.17964915,  0.13586416,  0.0122436 , -0.00552968,
        0.08144533,  0.03666168, -0.11382877, -0.09959657,  0.07162823,
        0.00123221, -0.07649512, -0.10498451, -0.00913699,  0.06378089]))
('data 2 :', array([   60.69,   151.52,   220.56,   267.  ,   366.76,   496.54,
         631.72,   849.99,   964.64,   996.78,  1900.7 ,  2216.11,
        2217.76,  2113.95,  2300.11,  2235.23,  1913.59,  2328.83,
        2491.71,  2661.4 ]))
('mean : ', array([-0.04997213,  0.04997111,  0.02833627,  0.07601346,  0.07019395,
       -0.00362458,  0.17964915,  0.13586416,  0.0122436 , -0.00552968,
        0.08144533,  0.03666168, -0.11382877, -0.09959657,  0.07162823,
        0.00123221, -0.07649512, -0.10498451, -0.00913699,  0.06378089]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
37580  2013Q1     60.69  118756
37581  2013Q2    151.52  118756
37582  2013Q3    220.56  118756
37583  2013Q4    267.00  118756
37584  2014Q1    366.76  118756
37585  2014Q2    496.54  118756
37586  2014Q3    631.72  118756
37587  2014Q4    849.99  118756
37588  2015Q1    964.64  118756
37589  2015Q2    996.78  118756
37590  2015Q3   1900.70  118756
37591  2015Q4   2216.11  118756
37592  2016Q1   2217.76  118756
37593  2016Q2   2113.95  118756
37594  2016Q3   2300.11  118756
37595  2016Q4   2235.23  118756
37596  2017Q1   1913.59  118756
37597  2017Q2   2328.83  118756
37598  2017Q3   2491.71  118756
37599  2017Q4   2661.40  118756
37640  2013Q1  25921.04  102433
37641  2013Q2  26534.99  102433
37642  2013Q3  26688.85  102433
37643  2013Q4  27196.62  102433
37644  2014Q1  29216.42  102433
37645  2014Q2  28261.43  102433
37646  2014Q3  32272.77  102433
37647  2014Q4  36968.80  102433
37648  2015Q1  37139.79  102433
37649  2015Q2  36279.80  102433
37650  2015Q3  38470.09  102433
37651  2015Q4  39849.23  102433
37652  2016Q1  36224.51  102433
37653  2016Q2  33639.01  102433
37654  2016Q3  36080.71  102433
37655  2016Q4  35991.75  102433
37656  2017Q1  32765.92  102433
37657  2017Q2  28065.29  102433
37658  2017Q3  31290.85  102433
37659  2017Q4  34944.96  102433>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
300   2013Q1 -0.115096  102433
301   2013Q2  0.036064  102433
302   2013Q3  0.025802  102433
303   2013Q4  0.074399  102433
304   2014Q1  0.064535  102433
305   2014Q2 -0.009753  102433
306   2014Q3  0.177717  102433
307   2014Q4  0.134057  102433
308   2015Q1  0.004096  102433
309   2015Q2 -0.011474  102433
310   2015Q3  0.079585  102433
311   2015Q4  0.034262  102433
312   2016Q1 -0.119506  102433
313   2016Q2 -0.111041  102433
314   2016Q3  0.069469  102433
315   2016Q4 -0.001092  102433
316   2017Q1 -0.083053  102433
317   2017Q2 -0.117781  102433
318   2017Q3 -0.011628  102433
319   2017Q4  0.061298  102433
1100  2013Q1 -0.049972  118756
1101  2013Q2  0.049971  118756
1102  2013Q3  0.028336  118756
1103  2013Q4  0.076013  118756
1104  2014Q1  0.070194  118756
1105  2014Q2 -0.003625  118756
1106  2014Q3  0.179649  118756
1107  2014Q4  0.135864  118756
1108  2015Q1  0.012244  118756
1109  2015Q2 -0.005530  118756
1110  2015Q3  0.081445  118756
1111  2015Q4  0.036662  118756
1112  2016Q1 -0.113829  118756
1113  2016Q2 -0.099597  118756
1114  2016Q3  0.071628  118756
1115  2016Q4  0.001232  118756
1116  2017Q1 -0.076495  118756
1117  2017Q2 -0.104985  118756
1118  2017Q3 -0.009137  118756
1119  2017Q4  0.063781  118756>)
('Key_aum: ', 102433)
      Quarter      Data      ID
37640  2013Q1  25921.04  102433
37641  2013Q2  26534.99  102433
37642  2013Q3  26688.85  102433
37643  2013Q4  27196.62  102433
37644  2014Q1  29216.42  102433
37645  2014Q2  28261.43  102433
37646  2014Q3  32272.77  102433
37647  2014Q4  36968.80  102433
37648  2015Q1  37139.79  102433
37649  2015Q2  36279.80  102433
37650  2015Q3  38470.09  102433
37651  2015Q4  39849.23  102433
37652  2016Q1  36224.51  102433
37653  2016Q2  33639.01  102433
37654  2016Q3  36080.71  102433
37655  2016Q4  35991.75  102433
37656  2017Q1  32765.92  102433
37657  2017Q2  28065.29  102433
37658  2017Q3  31290.85  102433
37659  2017Q4  34944.96  102433
('Key_nav : ', 102433)
('data 1 : ', array([-0.11509564,  0.03606384,  0.02580192,  0.07439926,  0.064535  ,
       -0.009753  ,  0.17771676,  0.1340568 ,  0.00409646, -0.011474  ,
        0.07958514,  0.03426182, -0.11950583, -0.11104069,  0.06946871,
       -0.0010916 , -0.08305348, -0.11778087, -0.01162762,  0.06129799]))
('data 2 :', array([ 25921.04,  26534.99,  26688.85,  27196.62,  29216.42,  28261.43,
        32272.77,  36968.8 ,  37139.79,  36279.8 ,  38470.09,  39849.23,
        36224.51,  33639.01,  36080.71,  35991.75,  32765.92,  28065.29,
        31290.85,  34944.96]))
('Key_aum: ', 118756)
      Quarter     Data      ID
37580  2013Q1    60.69  118756
37581  2013Q2   151.52  118756
37582  2013Q3   220.56  118756
37583  2013Q4   267.00  118756
37584  2014Q1   366.76  118756
37585  2014Q2   496.54  118756
37586  2014Q3   631.72  118756
37587  2014Q4   849.99  118756
37588  2015Q1   964.64  118756
37589  2015Q2   996.78  118756
37590  2015Q3  1900.70  118756
37591  2015Q4  2216.11  118756
37592  2016Q1  2217.76  118756
37593  2016Q2  2113.95  118756
37594  2016Q3  2300.11  118756
37595  2016Q4  2235.23  118756
37596  2017Q1  1913.59  118756
37597  2017Q2  2328.83  118756
37598  2017Q3  2491.71  118756
37599  2017Q4  2661.40  118756
('Key_nav : ', 118756)
('data 1 : ', array([-0.04997213,  0.04997111,  0.02833627,  0.07601346,  0.07019395,
       -0.00362458,  0.17964915,  0.13586416,  0.0122436 , -0.00552968,
        0.08144533,  0.03666168, -0.11382877, -0.09959657,  0.07162823,
        0.00123221, -0.07649512, -0.10498451, -0.00913699,  0.06378089]))
('data 2 :', array([   60.69,   151.52,   220.56,   267.  ,   366.76,   496.54,
         631.72,   849.99,   964.64,   996.78,  1900.7 ,  2216.11,
        2217.76,  2113.95,  2300.11,  2235.23,  1913.59,  2328.83,
        2491.71,  2661.4 ]))
('mean : ', array([-0.04997213,  0.04997111,  0.02833627,  0.07601346,  0.07019395,
       -0.00362458,  0.17964915,  0.13586416,  0.0122436 , -0.00552968,
        0.08144533,  0.03666168, -0.11382877, -0.09959657,  0.07162823,
        0.00123221, -0.07649512, -0.10498451, -0.00913699,  0.06378089]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
37580  2013Q1     60.69  118756
37581  2013Q2    151.52  118756
37582  2013Q3    220.56  118756
37583  2013Q4    267.00  118756
37584  2014Q1    366.76  118756
37585  2014Q2    496.54  118756
37586  2014Q3    631.72  118756
37587  2014Q4    849.99  118756
37588  2015Q1    964.64  118756
37589  2015Q2    996.78  118756
37590  2015Q3   1900.70  118756
37591  2015Q4   2216.11  118756
37592  2016Q1   2217.76  118756
37593  2016Q2   2113.95  118756
37594  2016Q3   2300.11  118756
37595  2016Q4   2235.23  118756
37596  2017Q1   1913.59  118756
37597  2017Q2   2328.83  118756
37598  2017Q3   2491.71  118756
37599  2017Q4   2661.40  118756
37640  2013Q1  25921.04  102433
37641  2013Q2  26534.99  102433
37642  2013Q3  26688.85  102433
37643  2013Q4  27196.62  102433
37644  2014Q1  29216.42  102433
37645  2014Q2  28261.43  102433
37646  2014Q3  32272.77  102433
37647  2014Q4  36968.80  102433
37648  2015Q1  37139.79  102433
37649  2015Q2  36279.80  102433
37650  2015Q3  38470.09  102433
37651  2015Q4  39849.23  102433
37652  2016Q1  36224.51  102433
37653  2016Q2  33639.01  102433
37654  2016Q3  36080.71  102433
37655  2016Q4  35991.75  102433
37656  2017Q1  32765.92  102433
37657  2017Q2  28065.29  102433
37658  2017Q3  31290.85  102433
37659  2017Q4  34944.96  102433>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
300   2013Q1 -0.115096  102433
301   2013Q2  0.036064  102433
302   2013Q3  0.025802  102433
303   2013Q4  0.074399  102433
304   2014Q1  0.064535  102433
305   2014Q2 -0.009753  102433
306   2014Q3  0.177717  102433
307   2014Q4  0.134057  102433
308   2015Q1  0.004096  102433
309   2015Q2 -0.011474  102433
310   2015Q3  0.079585  102433
311   2015Q4  0.034262  102433
312   2016Q1 -0.119506  102433
313   2016Q2 -0.111041  102433
314   2016Q3  0.069469  102433
315   2016Q4 -0.001092  102433
316   2017Q1 -0.083053  102433
317   2017Q2 -0.117781  102433
318   2017Q3 -0.011628  102433
319   2017Q4  0.061298  102433
1100  2013Q1 -0.049972  118756
1101  2013Q2  0.049971  118756
1102  2013Q3  0.028336  118756
1103  2013Q4  0.076013  118756
1104  2014Q1  0.070194  118756
1105  2014Q2 -0.003625  118756
1106  2014Q3  0.179649  118756
1107  2014Q4  0.135864  118756
1108  2015Q1  0.012244  118756
1109  2015Q2 -0.005530  118756
1110  2015Q3  0.081445  118756
1111  2015Q4  0.036662  118756
1112  2016Q1 -0.113829  118756
1113  2016Q2 -0.099597  118756
1114  2016Q3  0.071628  118756
1115  2016Q4  0.001232  118756
1116  2017Q1 -0.076495  118756
1117  2017Q2 -0.104985  118756
1118  2017Q3 -0.009137  118756
1119  2017Q4  0.063781  118756>)
('Key_aum: ', 102433)
      Quarter      Data      ID
37640  2013Q1  25921.04  102433
37641  2013Q2  26534.99  102433
37642  2013Q3  26688.85  102433
37643  2013Q4  27196.62  102433
37644  2014Q1  29216.42  102433
37645  2014Q2  28261.43  102433
37646  2014Q3  32272.77  102433
37647  2014Q4  36968.80  102433
37648  2015Q1  37139.79  102433
37649  2015Q2  36279.80  102433
37650  2015Q3  38470.09  102433
37651  2015Q4  39849.23  102433
37652  2016Q1  36224.51  102433
37653  2016Q2  33639.01  102433
37654  2016Q3  36080.71  102433
37655  2016Q4  35991.75  102433
37656  2017Q1  32765.92  102433
37657  2017Q2  28065.29  102433
37658  2017Q3  31290.85  102433
37659  2017Q4  34944.96  102433
('Key_nav : ', 102433)
('data 1 : ', array([-0.11509564,  0.03606384,  0.02580192,  0.07439926,  0.064535  ,
       -0.009753  ,  0.17771676,  0.1340568 ,  0.00409646, -0.011474  ,
        0.07958514,  0.03426182, -0.11950583, -0.11104069,  0.06946871,
       -0.0010916 , -0.08305348, -0.11778087, -0.01162762,  0.06129799]))
('data 2 :', array([ 25921.04,  26534.99,  26688.85,  27196.62,  29216.42,  28261.43,
        32272.77,  36968.8 ,  37139.79,  36279.8 ,  38470.09,  39849.23,
        36224.51,  33639.01,  36080.71,  35991.75,  32765.92,  28065.29,
        31290.85,  34944.96]))
('Key_aum: ', 118756)
      Quarter     Data      ID
37580  2013Q1    60.69  118756
37581  2013Q2   151.52  118756
37582  2013Q3   220.56  118756
37583  2013Q4   267.00  118756
37584  2014Q1   366.76  118756
37585  2014Q2   496.54  118756
37586  2014Q3   631.72  118756
37587  2014Q4   849.99  118756
37588  2015Q1   964.64  118756
37589  2015Q2   996.78  118756
37590  2015Q3  1900.70  118756
37591  2015Q4  2216.11  118756
37592  2016Q1  2217.76  118756
37593  2016Q2  2113.95  118756
37594  2016Q3  2300.11  118756
37595  2016Q4  2235.23  118756
37596  2017Q1  1913.59  118756
37597  2017Q2  2328.83  118756
37598  2017Q3  2491.71  118756
37599  2017Q4  2661.40  118756
('Key_nav : ', 118756)
('data 1 : ', array([-0.04997213,  0.04997111,  0.02833627,  0.07601346,  0.07019395,
       -0.00362458,  0.17964915,  0.13586416,  0.0122436 , -0.00552968,
        0.08144533,  0.03666168, -0.11382877, -0.09959657,  0.07162823,
        0.00123221, -0.07649512, -0.10498451, -0.00913699,  0.06378089]))
('data 2 :', array([   60.69,   151.52,   220.56,   267.  ,   366.76,   496.54,
         631.72,   849.99,   964.64,   996.78,  1900.7 ,  2216.11,
        2217.76,  2113.95,  2300.11,  2235.23,  1913.59,  2328.83,
        2491.71,  2661.4 ]))
('mean : ', array([-0.04997213,  0.04997111,  0.02833627,  0.07601346,  0.07019395,
       -0.00362458,  0.17964915,  0.13586416,  0.0122436 , -0.00552968,
        0.08144533,  0.03666168, -0.11382877, -0.09959657,  0.07162823,
        0.00123221, -0.07649512, -0.10498451, -0.00913699,  0.06378089]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
37580  2013Q1     60.69  118756
37581  2013Q2    151.52  118756
37582  2013Q3    220.56  118756
37583  2013Q4    267.00  118756
37584  2014Q1    366.76  118756
37585  2014Q2    496.54  118756
37586  2014Q3    631.72  118756
37587  2014Q4    849.99  118756
37588  2015Q1    964.64  118756
37589  2015Q2    996.78  118756
37590  2015Q3   1900.70  118756
37591  2015Q4   2216.11  118756
37592  2016Q1   2217.76  118756
37593  2016Q2   2113.95  118756
37594  2016Q3   2300.11  118756
37595  2016Q4   2235.23  118756
37596  2017Q1   1913.59  118756

37659  2017Q4  34944.96  102433>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
300   2013Q1 -0.115096  102433
301   2013Q2  0.036064  102433
302   2013Q3  0.025802  102433
303   2013Q4  0.074399  102433
304   2014Q1  0.064535  102433
305   2014Q2 -0.009753  102433
306   2014Q3  0.177717  102433
307   2014Q4  0.134057  102433
308   2015Q1  0.004096  102433
309   2015Q2 -0.011474  102433
310   2015Q3  0.079585  102433
311   2015Q4  0.034262  102433
312   2016Q1 -0.119506  102433
313   2016Q2 -0.111041  102433
314   2016Q3  0.069469  102433
315   2016Q4 -0.001092  102433
316   2017Q1 -0.083053  102433
317   2017Q2 -0.117781  102433
318   2017Q3 -0.011628  102433
319   2017Q4  0.061298  102433
1100  2013Q1 -0.049972  118756
1101  2013Q2  0.049971  118756
1102  2013Q3  0.028336  118756
1103  2013Q4  0.076013  118756
1104  2014Q1  0.070194  118756
1105  2014Q2 -0.003625  118756
1106  2014Q3  0.179649  118756
1107  2014Q4  0.135864  118756
1108  2015Q1  0.012244  118756
1109  2015Q2 -0.005530  118756
1110  2015Q3  0.081445  118756
1111  2015Q4  0.036662  118756
1112  2016Q1 -0.113829  118756
1113  2016Q2 -0.099597  118756
1114  2016Q3  0.071628  118756
1115  2016Q4  0.001232  118756
1116  2017Q1 -0.076495  118756
1117  2017Q2 -0.104985  118756
1118  2017Q3 -0.009137  118756
1119  2017Q4  0.063781  118756>)
('Key_aum: ', 102433)
      Quarter      Data      ID
37640  2013Q1  25921.04  102433
37641  2013Q2  26534.99  102433
37642  2013Q3  26688.85  102433
37643  2013Q4  27196.62  102433
37644  2014Q1  29216.42  102433
37645  2014Q2  28261.43  102433
37646  2014Q3  32272.77  102433
37647  2014Q4  36968.80  102433
37648  2015Q1  37139.79  102433
37649  2015Q2  36279.80  102433
37650  2015Q3  38470.09  102433
37651  2015Q4  39849.23  102433
37652  2016Q1  36224.51  102433
37653  2016Q2  33639.01  102433
37654  2016Q3  36080.71  102433
37655  2016Q4  35991.75  102433
37656  2017Q1  32765.92  102433
37657  2017Q2  28065.29  102433
37658  2017Q3  31290.85  102433
37659  2017Q4  34944.96  102433
('Key_nav : ', 102433)
('data 1 : ', array([-0.11509564,  0.03606384,  0.02580192,  0.07439926,  0.064535  ,
       -0.009753  ,  0.17771676,  0.1340568 ,  0.00409646, -0.011474  ,
        0.07958514,  0.03426182, -0.11950583, -0.11104069,  0.06946871,
       -0.0010916 , -0.08305348, -0.11778087, -0.01162762,  0.06129799]))
('data 2 :', array([ 25921.04,  26534.99,  26688.85,  27196.62,  29216.42,  28261.43,
        32272.77,  36968.8 ,  37139.79,  36279.8 ,  38470.09,  39849.23,
        36224.51,  33639.01,  36080.71,  35991.75,  32765.92,  28065.29,
        31290.85,  34944.96]))
('Key_aum: ', 118756)
      Quarter     Data      ID
37580  2013Q1    60.69  118756
37581  2013Q2   151.52  118756
37582  2013Q3   220.56  118756
37583  2013Q4   267.00  118756
37584  2014Q1   366.76  118756
37585  2014Q2   496.54  118756
37586  2014Q3   631.72  118756
37587  2014Q4   849.99  118756
37588  2015Q1   964.64  118756
37589  2015Q2   996.78  118756
37590  2015Q3  1900.70  118756
37591  2015Q4  2216.11  118756
37592  2016Q1  2217.76  118756
37593  2016Q2  2113.95  118756
37594  2016Q3  2300.11  118756
37595  2016Q4  2235.23  118756
37596  2017Q1  1913.59  118756
37597  2017Q2  2328.83  118756
37598  2017Q3  2491.71  118756
37599  2017Q4  2661.40  118756
('Key_nav : ', 118756)
('data 1 : ', array([-0.04997213,  0.04997111,  0.02833627,  0.07601346,  0.07019395,
       -0.00362458,  0.17964915,  0.13586416,  0.0122436 , -0.00552968,
        0.08144533,  0.03666168, -0.11382877, -0.09959657,  0.07162823,
        0.00123221, -0.07649512, -0.10498451, -0.00913699,  0.06378089]))
('data 2 :', array([   60.69,   151.52,   220.56,   267.  ,   366.76,   496.54,
         631.72,   849.99,   964.64,   996.78,  1900.7 ,  2216.11,
        2217.76,  2113.95,  2300.11,  2235.23,  1913.59,  2328.83,
        2491.71,  2661.4 ]))
('mean : ', array([-0.04997213,  0.04997111,  0.02833627,  0.07601346,  0.07019395,
       -0.00362458,  0.17964915,  0.13586416,  0.0122436 , -0.00552968,
        0.08144533,  0.03666168, -0.11382877, -0.09959657,  0.07162823,
        0.00123221, -0.07649512, -0.10498451, -0.00913699,  0.06378089]))
('IDs :', [100644, 119782])
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
45660  2013Q1      6.12  119782
45661  2013Q2     37.09  119782
45662  2013Q3    100.20  119782
45663  2013Q4    131.97  119782
45664  2014Q1    195.37  119782
45665  2014Q2    246.89  119782
45666  2014Q3    318.07  119782
45667  2014Q4    466.77  119782
45668  2015Q1    558.55  119782
45669  2015Q2   1065.21  119782
45670  2015Q3   1615.90  119782
45671  2015Q4   2279.08  119782
45672  2016Q1   3146.42  119782
45673  2016Q2   3162.71  119782
45674  2016Q3   3480.11  119782
45675  2016Q4   3486.39  119782
45676  2017Q1   2641.27  119782
45677  2017Q2   2284.94  119782
45678  2017Q3   2302.30  119782
45679  2017Q4   2329.34  119782
45700  2013Q1   3465.54  100644
45701  2013Q2   3789.57  100644
45702  2013Q3   4098.57  100644
45703  2013Q4   4659.73  100644
45704  2014Q1   5440.39  100644
45705  2014Q2   5730.85  100644
45706  2014Q3   7038.12  100644
45707  2014Q4   8334.10  100644
45708  2015Q1   8892.72  100644
45709  2015Q2  10464.90  100644
45710  2015Q3  12373.49  100644
45711  2015Q4  14293.56  100644
45712  2016Q1  14265.26  100644
45713  2016Q2  14677.37  100644
45714  2016Q3  15379.86  100644
45715  2016Q4  14777.66  100644
45716  2017Q1  14106.63  100644
45717  2017Q2  12565.05  100644
45718  2017Q3  15469.49  100644
45719  2017Q4  16528.51  100644>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
720   2013Q1 -0.016701  100644
721   2013Q2  0.066663  100644
722   2013Q3  0.050857  100644
723   2013Q4  0.086807  100644
724   2014Q1  0.084334  100644
725   2014Q2  0.029554  100644
726   2014Q3  0.207877  100644
727   2014Q4  0.126407  100644
728   2015Q1  0.028690  100644
729   2015Q2  0.059187  100644
730   2015Q3  0.054713  100644
731   2015Q4  0.023553  100644
732   2016Q1 -0.079618  100644
733   2016Q2 -0.013887  100644
734   2016Q3  0.051984  100644
735   2016Q4 -0.037075  100644
736   2017Q1 -0.025887  100644
737   2017Q2 -0.046401  100644
738   2017Q3 -0.037399  100644
739   2017Q4  0.025480  100644
1540  2013Q1 -0.016170  119782
1541  2013Q2  0.068364  119782
1542  2013Q3  0.052759  119782
1543  2013Q4  0.088571  119782
1544  2014Q1  0.085539  119782
1545  2014Q2  0.029831  119782
1546  2014Q3  0.210159  119782
1547  2014Q4  0.128895  119782
1548  2015Q1  0.100239  119782
1549  2015Q2  0.095838  119782
1550  2015Q3  0.057327  119782
1551  2015Q4  0.026504  119782
1552  2016Q1 -0.076372  119782
1553  2016Q2 -0.010801  119782
1554  2016Q3  0.055201  119782
1555  2016Q4 -0.033991  119782
1556  2017Q1 -0.023062  119782
1557  2017Q2 -0.043525  119782
1558  2017Q3 -0.034583  119782
1559  2017Q4  0.028581  119782>)
('Key_aum: ', 100644)
      Quarter      Data      ID
45700  2013Q1   3465.54  100644
45701  2013Q2   3789.57  100644
45702  2013Q3   4098.57  100644
45703  2013Q4   4659.73  100644
45704  2014Q1   5440.39  100644
45705  2014Q2   5730.85  100644
45706  2014Q3   7038.12  100644
45707  2014Q4   8334.10  100644
45708  2015Q1   8892.72  100644
45709  2015Q2  10464.90  100644
45710  2015Q3  12373.49  100644
45711  2015Q4  14293.56  100644
45712  2016Q1  14265.26  100644
45713  2016Q2  14677.37  100644
45714  2016Q3  15379.86  100644
45715  2016Q4  14777.66  100644
45716  2017Q1  14106.63  100644
45717  2017Q2  12565.05  100644
45718  2017Q3  15469.49  100644
45719  2017Q4  16528.51  100644
('Key_nav : ', 100644)
('data 1 : ', array([-0.01670117,  0.06666345,  0.05085723,  0.08680696,  0.08433369,
        0.02955352,  0.2078771 ,  0.12640738,  0.02868994,  0.0591871 ,
        0.05471311,  0.02355279, -0.07961841, -0.01388722,  0.05198356,
       -0.03707497, -0.02588709, -0.04640067, -0.03739936,  0.02548046]))
('data 2 :', array([  3465.54,   3789.57,   4098.57,   4659.73,   5440.39,   5730.85,
         7038.12,   8334.1 ,   8892.72,  10464.9 ,  12373.49,  14293.56,
        14265.26,  14677.37,  15379.86,  14777.66,  14106.63,  12565.05,
        15469.49,  16528.51]))
('Key_aum: ', 119782)
      Quarter     Data      ID
45660  2013Q1     6.12  119782
45661  2013Q2    37.09  119782
45662  2013Q3   100.20  119782
45663  2013Q4   131.97  119782
45664  2014Q1   195.37  119782
45665  2014Q2   246.89  119782
45666  2014Q3   318.07  119782
45667  2014Q4   466.77  119782
45668  2015Q1   558.55  119782
45669  2015Q2  1065.21  119782
45670  2015Q3  1615.90  119782
45671  2015Q4  2279.08  119782
45672  2016Q1  3146.42  119782
45673  2016Q2  3162.71  119782
45674  2016Q3  3480.11  119782
45675  2016Q4  3486.39  119782
45676  2017Q1  2641.27  119782
45677  2017Q2  2284.94  119782
45678  2017Q3  2302.30  119782
45679  2017Q4  2329.34  119782
('Key_nav : ', 119782)
('data 1 : ', array([-0.01617027,  0.06836379,  0.05275919,  0.0885706 ,  0.08553851,
        0.02983136,  0.21015856,  0.12889474,  0.10023905,  0.09583848,
        0.05732679,  0.02650372, -0.07637228, -0.01080052,  0.05520063,
       -0.03399137, -0.0230621 , -0.043525  , -0.03458307,  0.02858117]))
('data 2 :', array([    6.12,    37.09,   100.2 ,   131.97,   195.37,   246.89,
         318.07,   466.77,   558.55,  1065.21,  1615.9 ,  2279.08,
        3146.42,  3162.71,  3480.11,  3486.39,  2641.27,  2284.94,
        2302.3 ,  2329.34]))
('mean : ', array([-0.01617027,  0.06836379,  0.05275919,  0.0885706 ,  0.08553851,
        0.02983136,  0.21015856,  0.12889474,  0.10023905,  0.09583848,
        0.05732679,  0.02650372, -0.07637228, -0.01080052,  0.05520063,
       -0.03399137, -0.0230621 , -0.043525  , -0.03458307,  0.02858117]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
45660  2013Q1      6.12  119782
45661  2013Q2     37.09  119782
45662  2013Q3    100.20  119782
45663  2013Q4    131.97  119782
45664  2014Q1    195.37  119782
45665  2014Q2    246.89  119782
45666  2014Q3    318.07  119782
45667  2014Q4    466.77  119782
45668  2015Q1    558.55  119782
45669  2015Q2   1065.21  119782
45670  2015Q3   1615.90  119782
45671  2015Q4   2279.08  119782
45672  2016Q1   3146.42  119782
45673  2016Q2   3162.71  119782
45674  2016Q3   3480.11  119782
45675  2016Q4   3486.39  119782
45676  2017Q1   2641.27  119782
45677  2017Q2   2284.94  119782
45678  2017Q3   2302.30  119782
45679  2017Q4   2329.34  119782
45700  2013Q1   3465.54  100644
45701  2013Q2   3789.57  100644
45702  2013Q3   4098.57  100644
45703  2013Q4   4659.73  100644
45704  2014Q1   5440.39  100644
45705  2014Q2   5730.85  100644
45706  2014Q3   7038.12  100644
45707  2014Q4   8334.10  100644
45708  2015Q1   8892.72  100644
45709  2015Q2  10464.90  100644
45710  2015Q3  12373.49  100644
45711  2015Q4  14293.56  100644
45712  2016Q1  14265.26  100644
45713  2016Q2  14677.37  100644
45714  2016Q3  15379.86  100644
45715  2016Q4  14777.66  100644
45716  2017Q1  14106.63  100644
45717  2017Q2  12565.05  100644
45718  2017Q3  15469.49  100644
45719  2017Q4  16528.51  100644>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
720   2013Q1 -0.016701  100644
721   2013Q2  0.066663  100644
722   2013Q3  0.050857  100644
723   2013Q4  0.086807  100644
724   2014Q1  0.084334  100644
725   2014Q2  0.029554  100644
726   2014Q3  0.207877  100644
727   2014Q4  0.126407  100644
728   2015Q1  0.028690  100644
729   2015Q2  0.059187  100644
730   2015Q3  0.054713  100644
731   2015Q4  0.023553  100644
732   2016Q1 -0.079618  100644
733   2016Q2 -0.013887  100644
734   2016Q3  0.051984  100644
735   2016Q4 -0.037075  100644
736   2017Q1 -0.025887  100644
737   2017Q2 -0.046401  100644
738   2017Q3 -0.037399  100644
739   2017Q4  0.025480  100644
1540  2013Q1 -0.016170  119782
1541  2013Q2  0.068364  119782
1542  2013Q3  0.052759  119782
1543  2013Q4  0.088571  119782
1544  2014Q1  0.085539  119782
1545  2014Q2  0.029831  119782
1546  2014Q3  0.210159  119782
1547  2014Q4  0.128895  119782
1548  2015Q1  0.100239  119782
1549  2015Q2  0.095838  119782
1550  2015Q3  0.057327  119782
1551  2015Q4  0.026504  119782
1552  2016Q1 -0.076372  119782
1553  2016Q2 -0.010801  119782
1554  2016Q3  0.055201  119782
1555  2016Q4 -0.033991  119782
1556  2017Q1 -0.023062  119782
1557  2017Q2 -0.043525  119782
1558  2017Q3 -0.034583  119782
1559  2017Q4  0.028581  119782>)
('Key_aum: ', 100644)
      Quarter      Data      ID
45700  2013Q1   3465.54  100644
45701  2013Q2   3789.57  100644
45702  2013Q3   4098.57  100644
45703  2013Q4   4659.73  100644
45704  2014Q1   5440.39  100644
45705  2014Q2   5730.85  100644
45706  2014Q3   7038.12  100644
45707  2014Q4   8334.10  100644
45708  2015Q1   8892.72  100644
45709  2015Q2  10464.90  100644
45710  2015Q3  12373.49  100644
45711  2015Q4  14293.56  100644
45712  2016Q1  14265.26  100644
45713  2016Q2  14677.37  100644
45714  2016Q3  15379.86  100644
45715  2016Q4  14777.66  100644
45716  2017Q1  14106.63  100644
45717  2017Q2  12565.05  100644
45718  2017Q3  15469.49  100644
45719  2017Q4  16528.51  100644
('Key_nav : ', 100644)
('data 1 : ', array([-0.01670117,  0.06666345,  0.05085723,  0.08680696,  0.08433369,
        0.02955352,  0.2078771 ,  0.12640738,  0.02868994,  0.0591871 ,
        0.05471311,  0.02355279, -0.07961841, -0.01388722,  0.05198356,
       -0.03707497, -0.02588709, -0.04640067, -0.03739936,  0.02548046]))
('data 2 :', array([  3465.54,   3789.57,   4098.57,   4659.73,   5440.39,   5730.85,
         7038.12,   8334.1 ,   8892.72,  10464.9 ,  12373.49,  14293.56,
        14265.26,  14677.37,  15379.86,  14777.66,  14106.63,  12565.05,
        15469.49,  16528.51]))
('Key_aum: ', 119782)
      Quarter     Data      ID
45660  2013Q1     6.12  119782
45661  2013Q2    37.09  119782
45662  2013Q3   100.20  119782
45663  2013Q4   131.97  119782
45664  2014Q1   195.37  119782
45665  2014Q2   246.89  119782
45666  2014Q3   318.07  119782
45667  2014Q4   466.77  119782
45668  2015Q1   558.55  119782
45669  2015Q2  1065.21  119782
45670  2015Q3  1615.90  119782
45671  2015Q4  2279.08  119782
45672  2016Q1  3146.42  119782
45673  2016Q2  3162.71  119782
45674  2016Q3  3480.11  119782
45675  2016Q4  3486.39  119782
45676  2017Q1  2641.27  119782
45677  2017Q2  2284.94  119782
45678  2017Q3  2302.30  119782
45679  2017Q4  2329.34  119782
('Key_nav : ', 119782)
('data 1 : ', array([-0.01617027,  0.06836379,  0.05275919,  0.0885706 ,  0.08553851,
        0.02983136,  0.21015856,  0.12889474,  0.10023905,  0.09583848,
        0.05732679,  0.02650372, -0.07637228, -0.01080052,  0.05520063,
       -0.03399137, -0.0230621 , -0.043525  , -0.03458307,  0.02858117]))
('data 2 :', array([    6.12,    37.09,   100.2 ,   131.97,   195.37,   246.89,
         318.07,   466.77,   558.55,  1065.21,  1615.9 ,  2279.08,
        3146.42,  3162.71,  3480.11,  3486.39,  2641.27,  2284.94,
        2302.3 ,  2329.34]))
('mean : ', array([-0.01617027,  0.06836379,  0.05275919,  0.0885706 ,  0.08553851,
        0.02983136,  0.21015856,  0.12889474,  0.10023905,  0.09583848,
        0.05732679,  0.02650372, -0.07637228, -0.01080052,  0.05520063,
       -0.03399137, -0.0230621 , -0.043525  , -0.03458307,  0.02858117]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
45660  2013Q1      6.12  119782
45661  2013Q2     37.09  119782
45662  2013Q3    100.20  119782
45663  2013Q4    131.97  119782
45664  2014Q1    195.37  119782
45665  2014Q2    246.89  119782
45666  2014Q3    318.07  119782
45667  2014Q4    466.77  119782
45668  2015Q1    558.55  119782
45669  2015Q2   1065.21  119782
45670  2015Q3   1615.90  119782
45671  2015Q4   2279.08  119782
45672  2016Q1   3146.42  119782
45673  2016Q2   3162.71  119782
45674  2016Q3   3480.11  119782
45675  2016Q4   3486.39  119782
45676  2017Q1   2641.27  119782
45677  2017Q2   2284.94  119782
45678  2017Q3   2302.30  119782
45679  2017Q4   2329.34  119782
45700  2013Q1   3465.54  100644
45701  2013Q2   3789.57  100644
45702  2013Q3   4098.57  100644
45703  2013Q4   4659.73  100644
45704  2014Q1   5440.39  100644
45705  2014Q2   5730.85  100644
45706  2014Q3   7038.12  100644
45707  2014Q4   8334.10  100644
45708  2015Q1   8892.72  100644
45709  2015Q2  10464.90  100644
45710  2015Q3  12373.49  100644
45711  2015Q4  14293.56  100644
45712  2016Q1  14265.26  100644
45713  2016Q2  14677.37  100644
45714  2016Q3  15379.86  100644
45715  2016Q4  14777.66  100644
45716  2017Q1  14106.63  100644
45717  2017Q2  12565.05  100644
45718  2017Q3  15469.49  100644
45719  2017Q4  16528.51  100644>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
720   2013Q1 -0.016701  100644
721   2013Q2  0.066663  100644
722   2013Q3  0.050857  100644
723   2013Q4  0.086807  100644
724   2014Q1  0.084334  100644
725   2014Q2  0.029554  100644
726   2014Q3  0.207877  100644
727   2014Q4  0.126407  100644
728   2015Q1  0.028690  100644
729   2015Q2  0.059187  100644
730   2015Q3  0.054713  100644
731   2015Q4  0.023553  100644
732   2016Q1 -0.079618  100644
733   2016Q2 -0.013887  100644
734   2016Q3  0.051984  100644
735   2016Q4 -0.037075  100644
736   2017Q1 -0.025887  100644
737   2017Q2 -0.046401  100644
738   2017Q3 -0.037399  100644
739   2017Q4  0.025480  100644
1540  2013Q1 -0.016170  119782
1541  2013Q2  0.068364  119782
1542  2013Q3  0.052759  119782
1543  2013Q4  0.088571  119782
1544  2014Q1  0.085539  119782
1545  2014Q2  0.029831  119782
1546  2014Q3  0.210159  119782
1547  2014Q4  0.128895  119782
1548  2015Q1  0.100239  119782
1549  2015Q2  0.095838  119782
1550  2015Q3  0.057327  119782
1551  2015Q4  0.026504  119782
1552  2016Q1 -0.076372  119782
1553  2016Q2 -0.010801  119782
1554  2016Q3  0.055201  119782
1555  2016Q4 -0.033991  119782
1556  2017Q1 -0.023062  119782
1557  2017Q2 -0.043525  119782
1558  2017Q3 -0.034583  119782
1559  2017Q4  0.028581  119782>)
('Key_aum: ', 100644)
      Quarter      Data      ID
45700  2013Q1   3465.54  100644
45701  2013Q2   3789.57  100644
45702  2013Q3   4098.57  100644
45703  2013Q4   4659.73  100644
45704  2014Q1   5440.39  100644
45705  2014Q2   5730.85  100644
45706  2014Q3   7038.12  100644
45707  2014Q4   8334.10  100644
45708  2015Q1   8892.72  100644
45709  2015Q2  10464.90  100644
45710  2015Q3  12373.49  100644
45711  2015Q4  14293.56  100644
45712  2016Q1  14265.26  100644
45713  2016Q2  14677.37  100644
45714  2016Q3  15379.86  100644
45715  2016Q4  14777.66  100644
45716  2017Q1  14106.63  100644
45717  2017Q2  12565.05  100644
45718  2017Q3  15469.49  100644
45719  2017Q4  16528.51  100644
('Key_nav : ', 100644)
('data 1 : ', array([-0.01670117,  0.06666345,  0.05085723,  0.08680696,  0.08433369,
        0.02955352,  0.2078771 ,  0.12640738,  0.02868994,  0.0591871 ,
        0.05471311,  0.02355279, -0.07961841, -0.01388722,  0.05198356,
       -0.03707497, -0.02588709, -0.04640067, -0.03739936,  0.02548046]))
('data 2 :', array([  3465.54,   3789.57,   4098.57,   4659.73,   5440.39,   5730.85,
         7038.12,   8334.1 ,   8892.72,  10464.9 ,  12373.49,  14293.56,
        14265.26,  14677.37,  15379.86,  14777.66,  14106.63,  12565.05,
        15469.49,  16528.51]))

('Key_aum: ', 119782)
      Quarter     Data      ID
45660  2013Q1     6.12  119782
45661  2013Q2    37.09  119782
45662  2013Q3   100.20  119782
45663  2013Q4   131.97  119782
45664  2014Q1   195.37  119782
45665  2014Q2   246.89  119782
45666  2014Q3   318.07  119782
45667  2014Q4   466.77  119782
45668  2015Q1   558.55  119782
45669  2015Q2  1065.21  119782
45670  2015Q3  1615.90  119782
45671  2015Q4  2279.08  119782
45672  2016Q1  3146.42  119782
45673  2016Q2  3162.71  119782
45674  2016Q3  3480.11  119782
45675  2016Q4  3486.39  119782
45676  2017Q1  2641.27  119782
45677  2017Q2  2284.94  119782
45678  2017Q3  2302.30  119782
45679  2017Q4  2329.34  119782
('Key_nav : ', 119782)
('data 1 : ', array([-0.01617027,  0.06836379,  0.05275919,  0.0885706 ,  0.08553851,
        0.02983136,  0.21015856,  0.12889474,  0.10023905,  0.09583848,
        0.05732679,  0.02650372, -0.07637228, -0.01080052,  0.05520063,
       -0.03399137, -0.0230621 , -0.043525  , -0.03458307,  0.02858117]))
('data 2 :', array([    6.12,    37.09,   100.2 ,   131.97,   195.37,   246.89,
         318.07,   466.77,   558.55,  1065.21,  1615.9 ,  2279.08,
        3146.42,  3162.71,  3480.11,  3486.39,  2641.27,  2284.94,
        2302.3 ,  2329.34]))
('mean : ', array([-0.01617027,  0.06836379,  0.05275919,  0.0885706 ,  0.08553851,
        0.02983136,  0.21015856,  0.12889474,  0.10023905,  0.09583848,
        0.05732679,  0.02650372, -0.07637228, -0.01080052,  0.05520063,
       -0.03399137, -0.0230621 , -0.043525  , -0.03458307,  0.02858117]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
45660  2013Q1      6.12  119782
45661  2013Q2     37.09  119782
45662  2013Q3    100.20  119782
45663  2013Q4    131.97  119782
45664  2014Q1    195.37  119782
45665  2014Q2    246.89  119782
45666  2014Q3    318.07  119782
45667  2014Q4    466.77  119782
45668  2015Q1    558.55  119782
45669  2015Q2   1065.21  119782
45670  2015Q3   1615.90  119782
45671  2015Q4   2279.08  119782
45672  2016Q1   3146.42  119782
45673  2016Q2   3162.71  119782
45674  2016Q3   3480.11  119782
45675  2016Q4   3486.39  119782
45676  2017Q1   2641.27  119782
45677  2017Q2   2284.94  119782
45678  2017Q3   2302.30  119782
45679  2017Q4   2329.34  119782
45700  2013Q1   3465.54  100644
45701  2013Q2   3789.57  100644
45702  2013Q3   4098.57  100644
45703  2013Q4   4659.73  100644
45704  2014Q1   5440.39  100644
45705  2014Q2   5730.85  100644
45706  2014Q3   7038.12  100644
45707  2014Q4   8334.10  100644
45708  2015Q1   8892.72  100644
45709  2015Q2  10464.90  100644
45710  2015Q3  12373.49  100644
45711  2015Q4  14293.56  100644
45712  2016Q1  14265.26  100644
45713  2016Q2  14677.37  100644
45714  2016Q3  15379.86  100644
45715  2016Q4  14777.66  100644
45716  2017Q1  14106.63  100644
45717  2017Q2  12565.05  100644
45718  2017Q3  15469.49  100644
45719  2017Q4  16528.51  100644>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
720   2013Q1 -0.016701  100644
721   2013Q2  0.066663  100644
722   2013Q3  0.050857  100644
723   2013Q4  0.086807  100644
724   2014Q1  0.084334  100644
725   2014Q2  0.029554  100644
726   2014Q3  0.207877  100644
727   2014Q4  0.126407  100644
728   2015Q1  0.028690  100644
729   2015Q2  0.059187  100644
730   2015Q3  0.054713  100644
731   2015Q4  0.023553  100644
732   2016Q1 -0.079618  100644
733   2016Q2 -0.013887  100644
734   2016Q3  0.051984  100644
735   2016Q4 -0.037075  100644
736   2017Q1 -0.025887  100644
737   2017Q2 -0.046401  100644
738   2017Q3 -0.037399  100644
739   2017Q4  0.025480  100644
1540  2013Q1 -0.016170  119782
1541  2013Q2  0.068364  119782
1542  2013Q3  0.052759  119782
1543  2013Q4  0.088571  119782
1544  2014Q1  0.085539  119782
1545  2014Q2  0.029831  119782
1546  2014Q3  0.210159  119782
1547  2014Q4  0.128895  119782
1548  2015Q1  0.100239  119782
1549  2015Q2  0.095838  119782
1550  2015Q3  0.057327  119782
1551  2015Q4  0.026504  119782
1552  2016Q1 -0.076372  119782
1553  2016Q2 -0.010801  119782
1554  2016Q3  0.055201  119782
1555  2016Q4 -0.033991  119782
1556  2017Q1 -0.023062  119782
1557  2017Q2 -0.043525  119782
1558  2017Q3 -0.034583  119782
1559  2017Q4  0.028581  119782>)
('Key_aum: ', 100644)
      Quarter      Data      ID
45700  2013Q1   3465.54  100644
45701  2013Q2   3789.57  100644
45702  2013Q3   4098.57  100644
45703  2013Q4   4659.73  100644
45704  2014Q1   5440.39  100644
45705  2014Q2   5730.85  100644
45706  2014Q3   7038.12  100644
45707  2014Q4   8334.10  100644
45708  2015Q1   8892.72  100644
45709  2015Q2  10464.90  100644
45710  2015Q3  12373.49  100644
45711  2015Q4  14293.56  100644
45712  2016Q1  14265.26  100644
45713  2016Q2  14677.37  100644
45714  2016Q3  15379.86  100644
45715  2016Q4  14777.66  100644
45716  2017Q1  14106.63  100644
45717  2017Q2  12565.05  100644
45718  2017Q3  15469.49  100644
45719  2017Q4  16528.51  100644
('Key_nav : ', 100644)
('data 1 : ', array([-0.01670117,  0.06666345,  0.05085723,  0.08680696,  0.08433369,
        0.02955352,  0.2078771 ,  0.12640738,  0.02868994,  0.0591871 ,
        0.05471311,  0.02355279, -0.07961841, -0.01388722,  0.05198356,
       -0.03707497, -0.02588709, -0.04640067, -0.03739936,  0.02548046]))
('data 2 :', array([  3465.54,   3789.57,   4098.57,   4659.73,   5440.39,   5730.85,
         7038.12,   8334.1 ,   8892.72,  10464.9 ,  12373.49,  14293.56,
        14265.26,  14677.37,  15379.86,  14777.66,  14106.63,  12565.05,
        15469.49,  16528.51]))
('Key_aum: ', 119782)
      Quarter     Data      ID
45660  2013Q1     6.12  119782
45661  2013Q2    37.09  119782
45662  2013Q3   100.20  119782
45663  2013Q4   131.97  119782
45664  2014Q1   195.37  119782
45665  2014Q2   246.89  119782
45666  2014Q3   318.07  119782
45667  2014Q4   466.77  119782
45668  2015Q1   558.55  119782
45669  2015Q2  1065.21  119782
45670  2015Q3  1615.90  119782
45671  2015Q4  2279.08  119782
45672  2016Q1  3146.42  119782
45673  2016Q2  3162.71  119782
45674  2016Q3  3480.11  119782
45675  2016Q4  3486.39  119782
45676  2017Q1  2641.27  119782
45677  2017Q2  2284.94  119782
45678  2017Q3  2302.30  119782
45679  2017Q4  2329.34  119782
('Key_nav : ', 119782)
('data 1 : ', array([-0.01617027,  0.06836379,  0.05275919,  0.0885706 ,  0.08553851,
        0.02983136,  0.21015856,  0.12889474,  0.10023905,  0.09583848,
        0.05732679,  0.02650372, -0.07637228, -0.01080052,  0.05520063,
       -0.03399137, -0.0230621 , -0.043525  , -0.03458307,  0.02858117]))
('data 2 :', array([    6.12,    37.09,   100.2 ,   131.97,   195.37,   246.89,
         318.07,   466.77,   558.55,  1065.21,  1615.9 ,  2279.08,
        3146.42,  3162.71,  3480.11,  3486.39,  2641.27,  2284.94,
        2302.3 ,  2329.34]))
('mean : ', array([-0.01617027,  0.06836379,  0.05275919,  0.0885706 ,  0.08553851,
        0.02983136,  0.21015856,  0.12889474,  0.10023905,  0.09583848,
        0.05732679,  0.02650372, -0.07637228, -0.01080052,  0.05520063,
       -0.03399137, -0.0230621 , -0.043525  , -0.03458307,  0.02858117]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
45660  2013Q1      6.12  119782
45661  2013Q2     37.09  119782
45662  2013Q3    100.20  119782
45663  2013Q4    131.97  119782
45664  2014Q1    195.37  119782
45665  2014Q2    246.89  119782
45666  2014Q3    318.07  119782
45667  2014Q4    466.77  119782
45668  2015Q1    558.55  119782
45669  2015Q2   1065.21  119782
45670  2015Q3   1615.90  119782
45671  2015Q4   2279.08  119782
45672  2016Q1   3146.42  119782
45673  2016Q2   3162.71  119782
45674  2016Q3   3480.11  119782
45675  2016Q4   3486.39  119782
45676  2017Q1   2641.27  119782
45677  2017Q2   2284.94  119782
45678  2017Q3   2302.30  119782
45679  2017Q4   2329.34  119782
45700  2013Q1   3465.54  100644
45701  2013Q2   3789.57  100644
45702  2013Q3   4098.57  100644
45703  2013Q4   4659.73  100644
45704  2014Q1   5440.39  100644
45705  2014Q2   5730.85  100644
45706  2014Q3   7038.12  100644
45707  2014Q4   8334.10  100644
45708  2015Q1   8892.72  100644
45709  2015Q2  10464.90  100644
45710  2015Q3  12373.49  100644
45711  2015Q4  14293.56  100644
45712  2016Q1  14265.26  100644
45713  2016Q2  14677.37  100644
45714  2016Q3  15379.86  100644
45715  2016Q4  14777.66  100644
45716  2017Q1  14106.63  100644
45717  2017Q2  12565.05  100644
45718  2017Q3  15469.49  100644
45719  2017Q4  16528.51  100644>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
720   2013Q1 -0.016701  100644
721   2013Q2  0.066663  100644
722   2013Q3  0.050857  100644
723   2013Q4  0.086807  100644
724   2014Q1  0.084334  100644
725   2014Q2  0.029554  100644
726   2014Q3  0.207877  100644
727   2014Q4  0.126407  100644
728   2015Q1  0.028690  100644
729   2015Q2  0.059187  100644
730   2015Q3  0.054713  100644
731   2015Q4  0.023553  100644
732   2016Q1 -0.079618  100644
733   2016Q2 -0.013887  100644
734   2016Q3  0.051984  100644
735   2016Q4 -0.037075  100644
736   2017Q1 -0.025887  100644
737   2017Q2 -0.046401  100644
738   2017Q3 -0.037399  100644
739   2017Q4  0.025480  100644
1540  2013Q1 -0.016170  119782
1541  2013Q2  0.068364  119782
1542  2013Q3  0.052759  119782
1543  2013Q4  0.088571  119782
1544  2014Q1  0.085539  119782
1545  2014Q2  0.029831  119782
1546  2014Q3  0.210159  119782
1547  2014Q4  0.128895  119782
1548  2015Q1  0.100239  119782
1549  2015Q2  0.095838  119782
1550  2015Q3  0.057327  119782
1551  2015Q4  0.026504  119782
1552  2016Q1 -0.076372  119782
1553  2016Q2 -0.010801  119782
1554  2016Q3  0.055201  119782
1555  2016Q4 -0.033991  119782
1556  2017Q1 -0.023062  119782
1557  2017Q2 -0.043525  119782
1558  2017Q3 -0.034583  119782
1559  2017Q4  0.028581  119782>)
('Key_aum: ', 100644)
      Quarter      Data      ID
45700  2013Q1   3465.54  100644
45701  2013Q2   3789.57  100644
45702  2013Q3   4098.57  100644
45703  2013Q4   4659.73  100644
45704  2014Q1   5440.39  100644
45705  2014Q2   5730.85  100644
45706  2014Q3   7038.12  100644
45707  2014Q4   8334.10  100644
45708  2015Q1   8892.72  100644
45709  2015Q2  10464.90  100644
45710  2015Q3  12373.49  100644
45711  2015Q4  14293.56  100644
45712  2016Q1  14265.26  100644
45713  2016Q2  14677.37  100644
45714  2016Q3  15379.86  100644
45715  2016Q4  14777.66  100644
45716  2017Q1  14106.63  100644
45717  2017Q2  12565.05  100644
45718  2017Q3  15469.49  100644
45719  2017Q4  16528.51  100644
('Key_nav : ', 100644)
('data 1 : ', array([-0.01670117,  0.06666345,  0.05085723,  0.08680696,  0.08433369,
        0.02955352,  0.2078771 ,  0.12640738,  0.02868994,  0.0591871 ,
        0.05471311,  0.02355279, -0.07961841, -0.01388722,  0.05198356,
       -0.03707497, -0.02588709, -0.04640067, -0.03739936,  0.02548046]))
('data 2 :', array([  3465.54,   3789.57,   4098.57,   4659.73,   5440.39,   5730.85,
         7038.12,   8334.1 ,   8892.72,  10464.9 ,  12373.49,  14293.56,
        14265.26,  14677.37,  15379.86,  14777.66,  14106.63,  12565.05,
        15469.49,  16528.51]))
('Key_aum: ', 119782)
      Quarter     Data      ID
45660  2013Q1     6.12  119782
45661  2013Q2    37.09  119782
45662  2013Q3   100.20  119782
45663  2013Q4   131.97  119782
45664  2014Q1   195.37  119782
45665  2014Q2   246.89  119782
45666  2014Q3   318.07  119782
45667  2014Q4   466.77  119782
45668  2015Q1   558.55  119782
45669  2015Q2  1065.21  119782
45670  2015Q3  1615.90  119782
45671  2015Q4  2279.08  119782
45672  2016Q1  3146.42  119782
45673  2016Q2  3162.71  119782
45674  2016Q3  3480.11  119782
45675  2016Q4  3486.39  119782
45676  2017Q1  2641.27  119782
45677  2017Q2  2284.94  119782
45678  2017Q3  2302.30  119782
45679  2017Q4  2329.34  119782
('Key_nav : ', 119782)
('data 1 : ', array([-0.01617027,  0.06836379,  0.05275919,  0.0885706 ,  0.08553851,
        0.02983136,  0.21015856,  0.12889474,  0.10023905,  0.09583848,
        0.05732679,  0.02650372, -0.07637228, -0.01080052,  0.05520063,
       -0.03399137, -0.0230621 , -0.043525  , -0.03458307,  0.02858117]))
('data 2 :', array([    6.12,    37.09,   100.2 ,   131.97,   195.37,   246.89,
         318.07,   466.77,   558.55,  1065.21,  1615.9 ,  2279.08,
        3146.42,  3162.71,  3480.11,  3486.39,  2641.27,  2284.94,
        2302.3 ,  2329.34]))
('mean : ', array([-0.01617027,  0.06836379,  0.05275919,  0.0885706 ,  0.08553851,
        0.02983136,  0.21015856,  0.12889474,  0.10023905,  0.09583848,
        0.05732679,  0.02650372, -0.07637228, -0.01080052,  0.05520063,
       -0.03399137, -0.0230621 , -0.043525  , -0.03458307,  0.02858117]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
45660  2013Q1      6.12  119782
45661  2013Q2     37.09  119782
45662  2013Q3    100.20  119782
45663  2013Q4    131.97  119782
45664  2014Q1    195.37  119782
45665  2014Q2    246.89  119782
45666  2014Q3    318.07  119782
45667  2014Q4    466.77  119782
45668  2015Q1    558.55  119782
45669  2015Q2   1065.21  119782
45670  2015Q3   1615.90  119782
45671  2015Q4   2279.08  119782
45672  2016Q1   3146.42  119782
45673  2016Q2   3162.71  119782
45674  2016Q3   3480.11  119782
45675  2016Q4   3486.39  119782
45676  2017Q1   2641.27  119782
45677  2017Q2   2284.94  119782
45678  2017Q3   2302.30  119782
45679  2017Q4   2329.34  119782
45700  2013Q1   3465.54  100644
45701  2013Q2   3789.57  100644
45702  2013Q3   4098.57  100644
45703  2013Q4   4659.73  100644
45704  2014Q1   5440.39  100644
45705  2014Q2   5730.85  100644
45706  2014Q3   7038.12  100644
45707  2014Q4   8334.10  100644
45708  2015Q1   8892.72  100644
45709  2015Q2  10464.90  100644
45710  2015Q3  12373.49  100644
45711  2015Q4  14293.56  100644
45712  2016Q1  14265.26  100644
45713  2016Q2  14677.37  100644
45714  2016Q3  15379.86  100644
45715  2016Q4  14777.66  100644
45716  2017Q1  14106.63  100644
45717  2017Q2  12565.05  100644
45718  2017Q3  15469.49  100644
45719  2017Q4  16528.51  100644>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
720   2013Q1 -0.016701  100644
721   2013Q2  0.066663  100644
722   2013Q3  0.050857  100644
723   2013Q4  0.086807  100644
724   2014Q1  0.084334  100644
725   2014Q2  0.029554  100644
726   2014Q3  0.207877  100644
727   2014Q4  0.126407  100644
728   2015Q1  0.028690  100644
729   2015Q2  0.059187  100644
730   2015Q3  0.054713  100644
731   2015Q4  0.023553  100644
732   2016Q1 -0.079618  100644
733   2016Q2 -0.013887  100644
734   2016Q3  0.051984  100644
735   2016Q4 -0.037075  100644
736   2017Q1 -0.025887  100644
737   2017Q2 -0.046401  100644
738   2017Q3 -0.037399  100644
739   2017Q4  0.025480  100644
1540  2013Q1 -0.016170  119782
1541  2013Q2  0.068364  119782
1542  2013Q3  0.052759  119782
1543  2013Q4  0.088571  119782
1544  2014Q1  0.085539  119782
1545  2014Q2  0.029831  119782
1546  2014Q3  0.210159  119782
1547  2014Q4  0.128895  119782
1548  2015Q1  0.100239  119782
1549  2015Q2  0.095838  119782
1550  2015Q3  0.057327  119782
1551  2015Q4  0.026504  119782
1552  2016Q1 -0.076372  119782
1553  2016Q2 -0.010801  119782
1554  2016Q3  0.055201  119782
1555  2016Q4 -0.033991  119782
1556  2017Q1 -0.023062  119782
1557  2017Q2 -0.043525  119782
1558  2017Q3 -0.034583  119782
1559  2017Q4  0.028581  119782>)
('Key_aum: ', 100644)
      Quarter      Data      ID
45700  2013Q1   3465.54  100644
45701  2013Q2   3789.57  100644
45702  2013Q3   4098.57  100644
45703  2013Q4   4659.73  100644
45704  2014Q1   5440.39  100644
45705  2014Q2   5730.85  100644
45706  2014Q3   7038.12  100644
45707  2014Q4   8334.10  100644
45708  2015Q1   8892.72  100644
45709  2015Q2  10464.90  100644
45710  2015Q3  12373.49  100644
45711  2015Q4  14293.56  100644
45712  2016Q1  14265.26  100644
45713  2016Q2  14677.37  100644
45714  2016Q3  15379.86  100644
45715  2016Q4  14777.66  100644
45716  2017Q1  14106.63  100644
45717  2017Q2  12565.05  100644
45718  2017Q3  15469.49  100644
45719  2017Q4  16528.51  100644
('Key_nav : ', 100644)
('data 1 : ', array([-0.01670117,  0.06666345,  0.05085723,  0.08680696,  0.08433369,
        0.02955352,  0.2078771 ,  0.12640738,  0.02868994,  0.0591871 ,
        0.05471311,  0.02355279, -0.07961841, -0.01388722,  0.05198356,
       -0.03707497, -0.02588709, -0.04640067, -0.03739936,  0.02548046]))
('data 2 :', array([  3465.54,   3789.57,   4098.57,   4659.73,   5440.39,   5730.85,
         7038.12,   8334.1 ,   8892.72,  10464.9 ,  12373.49,  14293.56,
        14265.26,  14677.37,  15379.86,  14777.66,  14106.63,  12565.05,
        15469.49,  16528.51]))
('Key_aum: ', 119782)
      Quarter     Data      ID
45660  2013Q1     6.12  119782
45661  2013Q2    37.09  119782
45662  2013Q3   100.20  119782
45663  2013Q4   131.97  119782
45664  2014Q1   195.37  119782
45665  2014Q2   246.89  119782
45666  2014Q3   318.07  119782
45667  2014Q4   466.77  119782
45668  2015Q1   558.55  119782
45669  2015Q2  1065.21  119782
45670  2015Q3  1615.90  119782
45671  2015Q4  2279.08  119782
45672  2016Q1  3146.42  119782
45673  2016Q2  3162.71  119782
45674  2016Q3  3480.11  119782
45675  2016Q4  3486.39  119782
45676  2017Q1  2641.27  119782
45677  2017Q2  2284.94  119782
45678  2017Q3  2302.30  119782
45679  2017Q4  2329.34  119782
('Key_nav : ', 119782)
('data 1 : ', array([-0.01617027,  0.06836379,  0.05275919,  0.0885706 ,  0.08553851,
        0.02983136,  0.21015856,  0.12889474,  0.10023905,  0.09583848,
        0.05732679,  0.02650372, -0.07637228, -0.01080052,  0.05520063,
       -0.03399137, -0.0230621 , -0.043525  , -0.03458307,  0.02858117]))
('data 2 :', array([    6.12,    37.09,   100.2 ,   131.97,   195.37,   246.89,
         318.07,   466.77,   558.55,  1065.21,  1615.9 ,  2279.08,
        3146.42,  3162.71,  3480.11,  3486.39,  2641.27,  2284.94,
        2302.3 ,  2329.34]))
('mean : ', array([-0.01617027,  0.06836379,  0.05275919,  0.0885706 ,  0.08553851,
        0.02983136,  0.21015856,  0.12889474,  0.10023905,  0.09583848,
        0.05732679,  0.02650372, -0.07637228, -0.01080052,  0.05520063,
       -0.03399137, -0.0230621 , -0.043525  , -0.03458307,  0.02858117]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
45660  2013Q1      6.12  119782
45661  2013Q2     37.09  119782
45662  2013Q3    100.20  119782
45663  2013Q4    131.97  119782
45664  2014Q1    195.37  119782
45665  2014Q2    246.89  119782
45666  2014Q3    318.07  119782
45667  2014Q4    466.77  119782
45668  2015Q1    558.55  119782
45669  2015Q2   1065.21  119782
45670  2015Q3   1615.90  119782
45671  2015Q4   2279.08  119782
45672  2016Q1   3146.42  119782
45673  2016Q2   3162.71  119782
45674  2016Q3   3480.11  119782
45675  2016Q4   3486.39  119782
45676  2017Q1   2641.27  119782
45677  2017Q2   2284.94  119782
45678  2017Q3   2302.30  119782
45679  2017Q4   2329.34  119782
45700  2013Q1   3465.54  100644
45701  2013Q2   3789.57  100644
45702  2013Q3   4098.57  100644
45703  2013Q4   4659.73  100644
45704  2014Q1   5440.39  100644
45705  2014Q2   5730.85  100644
45706  2014Q3   7038.12  100644
45707  2014Q4   8334.10  100644
45708  2015Q1   8892.72  100644
45709  2015Q2  10464.90  100644
45710  2015Q3  12373.49  100644
45711  2015Q4  14293.56  100644
45712  2016Q1  14265.26  100644
45713  2016Q2  14677.37  100644
45714  2016Q3  15379.86  100644
45715  2016Q4  14777.66  100644
45716  2017Q1  14106.63  100644
45717  2017Q2  12565.05  100644
45718  2017Q3  15469.49  100644
45719  2017Q4  16528.51  100644>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
720   2013Q1 -0.016701  100644
721   2013Q2  0.066663  100644
722   2013Q3  0.050857  100644
723   2013Q4  0.086807  100644
724   2014Q1  0.084334  100644
725   2014Q2  0.029554  100644
726   2014Q3  0.207877  100644
727   2014Q4  0.126407  100644
728   2015Q1  0.028690  100644
729   2015Q2  0.059187  100644
730   2015Q3  0.054713  100644
731   2015Q4  0.023553  100644
732   2016Q1 -0.079618  100644
733   2016Q2 -0.013887  100644
734   2016Q3  0.051984  100644

('data 2 :', array([  3465.54,   3789.57,   4098.57,   4659.73,   5440.39,   5730.85,
         7038.12,   8334.1 ,   8892.72,  10464.9 ,  12373.49,  14293.56,
        14265.26,  14677.37,  15379.86,  14777.66,  14106.63,  12565.05,
        15469.49,  16528.51]))
('Key_aum: ', 119782)
      Quarter     Data      ID
45660  2013Q1     6.12  119782
45661  2013Q2    37.09  119782
45662  2013Q3   100.20  119782
45663  2013Q4   131.97  119782
45664  2014Q1   195.37  119782
45665  2014Q2   246.89  119782
45666  2014Q3   318.07  119782
45667  2014Q4   466.77  119782
45668  2015Q1   558.55  119782
45669  2015Q2  1065.21  119782
45670  2015Q3  1615.90  119782
45671  2015Q4  2279.08  119782
45672  2016Q1  3146.42  119782
45673  2016Q2  3162.71  119782
45674  2016Q3  3480.11  119782
45675  2016Q4  3486.39  119782
45676  2017Q1  2641.27  119782
45677  2017Q2  2284.94  119782
45678  2017Q3  2302.30  119782
45679  2017Q4  2329.34  119782
('Key_nav : ', 119782)
('data 1 : ', array([-0.01617027,  0.06836379,  0.05275919,  0.0885706 ,  0.08553851,
        0.02983136,  0.21015856,  0.12889474,  0.10023905,  0.09583848,
        0.05732679,  0.02650372, -0.07637228, -0.01080052,  0.05520063,
       -0.03399137, -0.0230621 , -0.043525  , -0.03458307,  0.02858117]))
('data 2 :', array([    6.12,    37.09,   100.2 ,   131.97,   195.37,   246.89,
         318.07,   466.77,   558.55,  1065.21,  1615.9 ,  2279.08,
        3146.42,  3162.71,  3480.11,  3486.39,  2641.27,  2284.94,
        2302.3 ,  2329.34]))
('mean : ', array([-0.01617027,  0.06836379,  0.05275919,  0.0885706 ,  0.08553851,
        0.02983136,  0.21015856,  0.12889474,  0.10023905,  0.09583848,
        0.05732679,  0.02650372, -0.07637228, -0.01080052,  0.05520063,
       -0.03399137, -0.0230621 , -0.043525  , -0.03458307,  0.02858117]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
45660  2013Q1      6.12  119782
45661  2013Q2     37.09  119782
45662  2013Q3    100.20  119782
45663  2013Q4    131.97  119782
45664  2014Q1    195.37  119782
45665  2014Q2    246.89  119782
45666  2014Q3    318.07  119782
45667  2014Q4    466.77  119782
45668  2015Q1    558.55  119782
45669  2015Q2   1065.21  119782
45670  2015Q3   1615.90  119782
45671  2015Q4   2279.08  119782
45672  2016Q1   3146.42  119782
45673  2016Q2   3162.71  119782
45674  2016Q3   3480.11  119782
45675  2016Q4   3486.39  119782
45676  2017Q1   2641.27  119782
45677  2017Q2   2284.94  119782
45678  2017Q3   2302.30  119782
45679  2017Q4   2329.34  119782
45700  2013Q1   3465.54  100644
45701  2013Q2   3789.57  100644
45702  2013Q3   4098.57  100644
45703  2013Q4   4659.73  100644
45704  2014Q1   5440.39  100644
45705  2014Q2   5730.85  100644
45706  2014Q3   7038.12  100644
45707  2014Q4   8334.10  100644
45708  2015Q1   8892.72  100644
45709  2015Q2  10464.90  100644
45710  2015Q3  12373.49  100644
45711  2015Q4  14293.56  100644
45712  2016Q1  14265.26  100644
45713  2016Q2  14677.37  100644
45714  2016Q3  15379.86  100644
45715  2016Q4  14777.66  100644
45716  2017Q1  14106.63  100644
45717  2017Q2  12565.05  100644
45718  2017Q3  15469.49  100644
45719  2017Q4  16528.51  100644>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
720   2013Q1 -0.016701  100644
721   2013Q2  0.066663  100644
722   2013Q3  0.050857  100644
723   2013Q4  0.086807  100644
724   2014Q1  0.084334  100644
725   2014Q2  0.029554  100644
726   2014Q3  0.207877  100644
727   2014Q4  0.126407  100644
728   2015Q1  0.028690  100644
729   2015Q2  0.059187  100644
730   2015Q3  0.054713  100644
731   2015Q4  0.023553  100644
732   2016Q1 -0.079618  100644
733   2016Q2 -0.013887  100644
734   2016Q3  0.051984  100644
735   2016Q4 -0.037075  100644
736   2017Q1 -0.025887  100644
737   2017Q2 -0.046401  100644
738   2017Q3 -0.037399  100644
739   2017Q4  0.025480  100644
1540  2013Q1 -0.016170  119782
1541  2013Q2  0.068364  119782
1542  2013Q3  0.052759  119782
1543  2013Q4  0.088571  119782
1544  2014Q1  0.085539  119782
1545  2014Q2  0.029831  119782
1546  2014Q3  0.210159  119782
1547  2014Q4  0.128895  119782
1548  2015Q1  0.100239  119782
1549  2015Q2  0.095838  119782
1550  2015Q3  0.057327  119782
1551  2015Q4  0.026504  119782
1552  2016Q1 -0.076372  119782
1553  2016Q2 -0.010801  119782
1554  2016Q3  0.055201  119782
1555  2016Q4 -0.033991  119782
1556  2017Q1 -0.023062  119782
1557  2017Q2 -0.043525  119782
1558  2017Q3 -0.034583  119782
1559  2017Q4  0.028581  119782>)
('Key_aum: ', 100644)
      Quarter      Data      ID
45700  2013Q1   3465.54  100644
45701  2013Q2   3789.57  100644
45702  2013Q3   4098.57  100644
45703  2013Q4   4659.73  100644
45704  2014Q1   5440.39  100644
45705  2014Q2   5730.85  100644
45706  2014Q3   7038.12  100644
45707  2014Q4   8334.10  100644
45708  2015Q1   8892.72  100644
45709  2015Q2  10464.90  100644
45710  2015Q3  12373.49  100644
45711  2015Q4  14293.56  100644
45712  2016Q1  14265.26  100644
45713  2016Q2  14677.37  100644
45714  2016Q3  15379.86  100644
45715  2016Q4  14777.66  100644
45716  2017Q1  14106.63  100644
45717  2017Q2  12565.05  100644
45718  2017Q3  15469.49  100644
45719  2017Q4  16528.51  100644
('Key_nav : ', 100644)
('data 1 : ', array([-0.01670117,  0.06666345,  0.05085723,  0.08680696,  0.08433369,
        0.02955352,  0.2078771 ,  0.12640738,  0.02868994,  0.0591871 ,
        0.05471311,  0.02355279, -0.07961841, -0.01388722,  0.05198356,
       -0.03707497, -0.02588709, -0.04640067, -0.03739936,  0.02548046]))
('data 2 :', array([  3465.54,   3789.57,   4098.57,   4659.73,   5440.39,   5730.85,
         7038.12,   8334.1 ,   8892.72,  10464.9 ,  12373.49,  14293.56,
        14265.26,  14677.37,  15379.86,  14777.66,  14106.63,  12565.05,
        15469.49,  16528.51]))
('Key_aum: ', 119782)
      Quarter     Data      ID
45660  2013Q1     6.12  119782
45661  2013Q2    37.09  119782
45662  2013Q3   100.20  119782
45663  2013Q4   131.97  119782
45664  2014Q1   195.37  119782
45665  2014Q2   246.89  119782
45666  2014Q3   318.07  119782
45667  2014Q4   466.77  119782
45668  2015Q1   558.55  119782
45669  2015Q2  1065.21  119782
45670  2015Q3  1615.90  119782
45671  2015Q4  2279.08  119782
45672  2016Q1  3146.42  119782
45673  2016Q2  3162.71  119782
45674  2016Q3  3480.11  119782
45675  2016Q4  3486.39  119782
45676  2017Q1  2641.27  119782
45677  2017Q2  2284.94  119782
45678  2017Q3  2302.30  119782
45679  2017Q4  2329.34  119782
('Key_nav : ', 119782)
('data 1 : ', array([-0.01617027,  0.06836379,  0.05275919,  0.0885706 ,  0.08553851,
        0.02983136,  0.21015856,  0.12889474,  0.10023905,  0.09583848,
        0.05732679,  0.02650372, -0.07637228, -0.01080052,  0.05520063,
       -0.03399137, -0.0230621 , -0.043525  , -0.03458307,  0.02858117]))
('data 2 :', array([    6.12,    37.09,   100.2 ,   131.97,   195.37,   246.89,
         318.07,   466.77,   558.55,  1065.21,  1615.9 ,  2279.08,
        3146.42,  3162.71,  3480.11,  3486.39,  2641.27,  2284.94,
        2302.3 ,  2329.34]))
('mean : ', array([-0.01617027,  0.06836379,  0.05275919,  0.0885706 ,  0.08553851,
        0.02983136,  0.21015856,  0.12889474,  0.10023905,  0.09583848,
        0.05732679,  0.02650372, -0.07637228, -0.01080052,  0.05520063,
       -0.03399137, -0.0230621 , -0.043525  , -0.03458307,  0.02858117]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
45660  2013Q1      6.12  119782
45661  2013Q2     37.09  119782
45662  2013Q3    100.20  119782
45663  2013Q4    131.97  119782
45664  2014Q1    195.37  119782
45665  2014Q2    246.89  119782
45666  2014Q3    318.07  119782
45667  2014Q4    466.77  119782
45668  2015Q1    558.55  119782
45669  2015Q2   1065.21  119782
45670  2015Q3   1615.90  119782
45671  2015Q4   2279.08  119782
45672  2016Q1   3146.42  119782
45673  2016Q2   3162.71  119782
45674  2016Q3   3480.11  119782
45675  2016Q4   3486.39  119782
45676  2017Q1   2641.27  119782
45677  2017Q2   2284.94  119782
45678  2017Q3   2302.30  119782
45679  2017Q4   2329.34  119782
45700  2013Q1   3465.54  100644
45701  2013Q2   3789.57  100644
45702  2013Q3   4098.57  100644
45703  2013Q4   4659.73  100644
45704  2014Q1   5440.39  100644
45705  2014Q2   5730.85  100644
45706  2014Q3   7038.12  100644
45707  2014Q4   8334.10  100644
45708  2015Q1   8892.72  100644
45709  2015Q2  10464.90  100644
45710  2015Q3  12373.49  100644
45711  2015Q4  14293.56  100644
45712  2016Q1  14265.26  100644
45713  2016Q2  14677.37  100644
45714  2016Q3  15379.86  100644
45715  2016Q4  14777.66  100644
45716  2017Q1  14106.63  100644
45717  2017Q2  12565.05  100644
45718  2017Q3  15469.49  100644
45719  2017Q4  16528.51  100644>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
720   2013Q1 -0.016701  100644
721   2013Q2  0.066663  100644
722   2013Q3  0.050857  100644
723   2013Q4  0.086807  100644
724   2014Q1  0.084334  100644
725   2014Q2  0.029554  100644
726   2014Q3  0.207877  100644
727   2014Q4  0.126407  100644
728   2015Q1  0.028690  100644
729   2015Q2  0.059187  100644
730   2015Q3  0.054713  100644
731   2015Q4  0.023553  100644
732   2016Q1 -0.079618  100644
733   2016Q2 -0.013887  100644
734   2016Q3  0.051984  100644
735   2016Q4 -0.037075  100644
736   2017Q1 -0.025887  100644
737   2017Q2 -0.046401  100644
738   2017Q3 -0.037399  100644
739   2017Q4  0.025480  100644
1540  2013Q1 -0.016170  119782
1541  2013Q2  0.068364  119782
1542  2013Q3  0.052759  119782
1543  2013Q4  0.088571  119782
1544  2014Q1  0.085539  119782
1545  2014Q2  0.029831  119782
1546  2014Q3  0.210159  119782
1547  2014Q4  0.128895  119782
1548  2015Q1  0.100239  119782
1549  2015Q2  0.095838  119782
1550  2015Q3  0.057327  119782
1551  2015Q4  0.026504  119782
1552  2016Q1 -0.076372  119782
1553  2016Q2 -0.010801  119782
1554  2016Q3  0.055201  119782
1555  2016Q4 -0.033991  119782
1556  2017Q1 -0.023062  119782
1557  2017Q2 -0.043525  119782
1558  2017Q3 -0.034583  119782
1559  2017Q4  0.028581  119782>)
('Key_aum: ', 100644)
      Quarter      Data      ID
45700  2013Q1   3465.54  100644
45701  2013Q2   3789.57  100644
45702  2013Q3   4098.57  100644
45703  2013Q4   4659.73  100644
45704  2014Q1   5440.39  100644
45705  2014Q2   5730.85  100644
45706  2014Q3   7038.12  100644
45707  2014Q4   8334.10  100644
45708  2015Q1   8892.72  100644
45709  2015Q2  10464.90  100644
45710  2015Q3  12373.49  100644
45711  2015Q4  14293.56  100644
45712  2016Q1  14265.26  100644
45713  2016Q2  14677.37  100644
45714  2016Q3  15379.86  100644
45715  2016Q4  14777.66  100644
45716  2017Q1  14106.63  100644
45717  2017Q2  12565.05  100644
45718  2017Q3  15469.49  100644
45719  2017Q4  16528.51  100644
('Key_nav : ', 100644)
('data 1 : ', array([-0.01670117,  0.06666345,  0.05085723,  0.08680696,  0.08433369,
        0.02955352,  0.2078771 ,  0.12640738,  0.02868994,  0.0591871 ,
        0.05471311,  0.02355279, -0.07961841, -0.01388722,  0.05198356,
       -0.03707497, -0.02588709, -0.04640067, -0.03739936,  0.02548046]))
('data 2 :', array([  3465.54,   3789.57,   4098.57,   4659.73,   5440.39,   5730.85,
         7038.12,   8334.1 ,   8892.72,  10464.9 ,  12373.49,  14293.56,
        14265.26,  14677.37,  15379.86,  14777.66,  14106.63,  12565.05,
        15469.49,  16528.51]))
('Key_aum: ', 119782)
      Quarter     Data      ID
45660  2013Q1     6.12  119782
45661  2013Q2    37.09  119782
45662  2013Q3   100.20  119782
45663  2013Q4   131.97  119782
45664  2014Q1   195.37  119782
45665  2014Q2   246.89  119782
45666  2014Q3   318.07  119782
45667  2014Q4   466.77  119782
45668  2015Q1   558.55  119782
45669  2015Q2  1065.21  119782
45670  2015Q3  1615.90  119782
45671  2015Q4  2279.08  119782
45672  2016Q1  3146.42  119782
45673  2016Q2  3162.71  119782
45674  2016Q3  3480.11  119782
45675  2016Q4  3486.39  119782
45676  2017Q1  2641.27  119782
45677  2017Q2  2284.94  119782
45678  2017Q3  2302.30  119782
45679  2017Q4  2329.34  119782
('Key_nav : ', 119782)
('data 1 : ', array([-0.01617027,  0.06836379,  0.05275919,  0.0885706 ,  0.08553851,
        0.02983136,  0.21015856,  0.12889474,  0.10023905,  0.09583848,
        0.05732679,  0.02650372, -0.07637228, -0.01080052,  0.05520063,
       -0.03399137, -0.0230621 , -0.043525  , -0.03458307,  0.02858117]))
('data 2 :', array([    6.12,    37.09,   100.2 ,   131.97,   195.37,   246.89,
         318.07,   466.77,   558.55,  1065.21,  1615.9 ,  2279.08,
        3146.42,  3162.71,  3480.11,  3486.39,  2641.27,  2284.94,
        2302.3 ,  2329.34]))
('mean : ', array([-0.01617027,  0.06836379,  0.05275919,  0.0885706 ,  0.08553851,
        0.02983136,  0.21015856,  0.12889474,  0.10023905,  0.09583848,
        0.05732679,  0.02650372, -0.07637228, -0.01080052,  0.05520063,
       -0.03399137, -0.0230621 , -0.043525  , -0.03458307,  0.02858117]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
45660  2013Q1      6.12  119782
45661  2013Q2     37.09  119782
45662  2013Q3    100.20  119782
45663  2013Q4    131.97  119782
45664  2014Q1    195.37  119782
45665  2014Q2    246.89  119782
45666  2014Q3    318.07  119782
45667  2014Q4    466.77  119782
45668  2015Q1    558.55  119782
45669  2015Q2   1065.21  119782
45670  2015Q3   1615.90  119782
45671  2015Q4   2279.08  119782
45672  2016Q1   3146.42  119782
45673  2016Q2   3162.71  119782
45674  2016Q3   3480.11  119782
45675  2016Q4   3486.39  119782
45676  2017Q1   2641.27  119782
45677  2017Q2   2284.94  119782
45678  2017Q3   2302.30  119782
45679  2017Q4   2329.34  119782
45700  2013Q1   3465.54  100644
45701  2013Q2   3789.57  100644
45702  2013Q3   4098.57  100644
45703  2013Q4   4659.73  100644
45704  2014Q1   5440.39  100644
45705  2014Q2   5730.85  100644
45706  2014Q3   7038.12  100644
45707  2014Q4   8334.10  100644
45708  2015Q1   8892.72  100644
45709  2015Q2  10464.90  100644
45710  2015Q3  12373.49  100644
45711  2015Q4  14293.56  100644
45712  2016Q1  14265.26  100644
45713  2016Q2  14677.37  100644
45714  2016Q3  15379.86  100644
45715  2016Q4  14777.66  100644
45716  2017Q1  14106.63  100644
45717  2017Q2  12565.05  100644
45718  2017Q3  15469.49  100644
45719  2017Q4  16528.51  100644>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
720   2013Q1 -0.016701  100644
721   2013Q2  0.066663  100644
722   2013Q3  0.050857  100644
723   2013Q4  0.086807  100644
724   2014Q1  0.084334  100644
725   2014Q2  0.029554  100644
726   2014Q3  0.207877  100644
727   2014Q4  0.126407  100644
728   2015Q1  0.028690  100644
729   2015Q2  0.059187  100644
730   2015Q3  0.054713  100644
731   2015Q4  0.023553  100644
732   2016Q1 -0.079618  100644
733   2016Q2 -0.013887  100644
734   2016Q3  0.051984  100644
735   2016Q4 -0.037075  100644
736   2017Q1 -0.025887  100644
737   2017Q2 -0.046401  100644
738   2017Q3 -0.037399  100644
739   2017Q4  0.025480  100644
1540  2013Q1 -0.016170  119782
1541  2013Q2  0.068364  119782
1542  2013Q3  0.052759  119782
1543  2013Q4  0.088571  119782
1544  2014Q1  0.085539  119782
1545  2014Q2  0.029831  119782
1546  2014Q3  0.210159  119782
1547  2014Q4  0.128895  119782
1548  2015Q1  0.100239  119782
1549  2015Q2  0.095838  119782
1550  2015Q3  0.057327  119782
1551  2015Q4  0.026504  119782
1552  2016Q1 -0.076372  119782
1553  2016Q2 -0.010801  119782
1554  2016Q3  0.055201  119782
1555  2016Q4 -0.033991  119782
1556  2017Q1 -0.023062  119782
1557  2017Q2 -0.043525  119782
1558  2017Q3 -0.034583  119782
1559  2017Q4  0.028581  119782>)
('Key_aum: ', 100644)
      Quarter      Data      ID
45700  2013Q1   3465.54  100644
45701  2013Q2   3789.57  100644
45702  2013Q3   4098.57  100644
45703  2013Q4   4659.73  100644
45704  2014Q1   5440.39  100644
45705  2014Q2   5730.85  100644
45706  2014Q3   7038.12  100644
45707  2014Q4   8334.10  100644
45708  2015Q1   8892.72  100644
45709  2015Q2  10464.90  100644
45710  2015Q3  12373.49  100644
45711  2015Q4  14293.56  100644
45712  2016Q1  14265.26  100644
45713  2016Q2  14677.37  100644
45714  2016Q3  15379.86  100644
45715  2016Q4  14777.66  100644
45716  2017Q1  14106.63  100644
45717  2017Q2  12565.05  100644
45718  2017Q3  15469.49  100644
45719  2017Q4  16528.51  100644
('Key_nav : ', 100644)
('data 1 : ', array([-0.01670117,  0.06666345,  0.05085723,  0.08680696,  0.08433369,
        0.02955352,  0.2078771 ,  0.12640738,  0.02868994,  0.0591871 ,
        0.05471311,  0.02355279, -0.07961841, -0.01388722,  0.05198356,
       -0.03707497, -0.02588709, -0.04640067, -0.03739936,  0.02548046]))
('data 2 :', array([  3465.54,   3789.57,   4098.57,   4659.73,   5440.39,   5730.85,
         7038.12,   8334.1 ,   8892.72,  10464.9 ,  12373.49,  14293.56,
        14265.26,  14677.37,  15379.86,  14777.66,  14106.63,  12565.05,
        15469.49,  16528.51]))
('Key_aum: ', 119782)
      Quarter     Data      ID
45660  2013Q1     6.12  119782
45661  2013Q2    37.09  119782
45662  2013Q3   100.20  119782
45663  2013Q4   131.97  119782
45664  2014Q1   195.37  119782
45665  2014Q2   246.89  119782
45666  2014Q3   318.07  119782
45667  2014Q4   466.77  119782
45668  2015Q1   558.55  119782
45669  2015Q2  1065.21  119782
45670  2015Q3  1615.90  119782
45671  2015Q4  2279.08  119782
45672  2016Q1  3146.42  119782
45673  2016Q2  3162.71  119782
45674  2016Q3  3480.11  119782
45675  2016Q4  3486.39  119782
45676  2017Q1  2641.27  119782
45677  2017Q2  2284.94  119782
45678  2017Q3  2302.30  119782
45679  2017Q4  2329.34  119782
('Key_nav : ', 119782)
('data 1 : ', array([-0.01617027,  0.06836379,  0.05275919,  0.0885706 ,  0.08553851,
        0.02983136,  0.21015856,  0.12889474,  0.10023905,  0.09583848,
        0.05732679,  0.02650372, -0.07637228, -0.01080052,  0.05520063,
       -0.03399137, -0.0230621 , -0.043525  , -0.03458307,  0.02858117]))
('data 2 :', array([    6.12,    37.09,   100.2 ,   131.97,   195.37,   246.89,
         318.07,   466.77,   558.55,  1065.21,  1615.9 ,  2279.08,
        3146.42,  3162.71,  3480.11,  3486.39,  2641.27,  2284.94,
        2302.3 ,  2329.34]))
('mean : ', array([-0.01617027,  0.06836379,  0.05275919,  0.0885706 ,  0.08553851,
        0.02983136,  0.21015856,  0.12889474,  0.10023905,  0.09583848,
        0.05732679,  0.02650372, -0.07637228, -0.01080052,  0.05520063,
       -0.03399137, -0.0230621 , -0.043525  , -0.03458307,  0.02858117]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
45660  2013Q1      6.12  119782
45661  2013Q2     37.09  119782
45662  2013Q3    100.20  119782
45663  2013Q4    131.97  119782
45664  2014Q1    195.37  119782
45665  2014Q2    246.89  119782
45666  2014Q3    318.07  119782
45667  2014Q4    466.77  119782
45668  2015Q1    558.55  119782
45669  2015Q2   1065.21  119782
45670  2015Q3   1615.90  119782
45671  2015Q4   2279.08  119782
45672  2016Q1   3146.42  119782
45673  2016Q2   3162.71  119782
45674  2016Q3   3480.11  119782
45675  2016Q4   3486.39  119782
45676  2017Q1   2641.27  119782
45677  2017Q2   2284.94  119782
45678  2017Q3   2302.30  119782
45679  2017Q4   2329.34  119782
45700  2013Q1   3465.54  100644
45701  2013Q2   3789.57  100644
45702  2013Q3   4098.57  100644
45703  2013Q4   4659.73  100644
45704  2014Q1   5440.39  100644
45705  2014Q2   5730.85  100644
45706  2014Q3   7038.12  100644
45707  2014Q4   8334.10  100644
45708  2015Q1   8892.72  100644
45709  2015Q2  10464.90  100644
45710  2015Q3  12373.49  100644
45711  2015Q4  14293.56  100644
45712  2016Q1  14265.26  100644
45713  2016Q2  14677.37  100644
45714  2016Q3  15379.86  100644
45715  2016Q4  14777.66  100644
45716  2017Q1  14106.63  100644
45717  2017Q2  12565.05  100644
45718  2017Q3  15469.49  100644
45719  2017Q4  16528.51  100644>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
720   2013Q1 -0.016701  100644
721   2013Q2  0.066663  100644
722   2013Q3  0.050857  100644
723   2013Q4  0.086807  100644
724   2014Q1  0.084334  100644
725   2014Q2  0.029554  100644

('mean : ', array([-0.01617027,  0.06836379,  0.05275919,  0.0885706 ,  0.08553851,
        0.02983136,  0.21015856,  0.12889474,  0.10023905,  0.09583848,
        0.05732679,  0.02650372, -0.07637228, -0.01080052,  0.05520063,
       -0.03399137, -0.0230621 , -0.043525  , -0.03458307,  0.02858117]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
45660  2013Q1      6.12  119782
45661  2013Q2     37.09  119782
45662  2013Q3    100.20  119782
45663  2013Q4    131.97  119782
45664  2014Q1    195.37  119782
45665  2014Q2    246.89  119782
45666  2014Q3    318.07  119782
45667  2014Q4    466.77  119782
45668  2015Q1    558.55  119782
45669  2015Q2   1065.21  119782
45670  2015Q3   1615.90  119782
45671  2015Q4   2279.08  119782
45672  2016Q1   3146.42  119782
45673  2016Q2   3162.71  119782
45674  2016Q3   3480.11  119782
45675  2016Q4   3486.39  119782
45676  2017Q1   2641.27  119782
45677  2017Q2   2284.94  119782
45678  2017Q3   2302.30  119782
45679  2017Q4   2329.34  119782
45700  2013Q1   3465.54  100644
45701  2013Q2   3789.57  100644
45702  2013Q3   4098.57  100644
45703  2013Q4   4659.73  100644
45704  2014Q1   5440.39  100644
45705  2014Q2   5730.85  100644
45706  2014Q3   7038.12  100644
45707  2014Q4   8334.10  100644
45708  2015Q1   8892.72  100644
45709  2015Q2  10464.90  100644
45710  2015Q3  12373.49  100644
45711  2015Q4  14293.56  100644
45712  2016Q1  14265.26  100644
45713  2016Q2  14677.37  100644
45714  2016Q3  15379.86  100644
45715  2016Q4  14777.66  100644
45716  2017Q1  14106.63  100644
45717  2017Q2  12565.05  100644
45718  2017Q3  15469.49  100644
45719  2017Q4  16528.51  100644>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
720   2013Q1 -0.016701  100644
721   2013Q2  0.066663  100644
722   2013Q3  0.050857  100644
723   2013Q4  0.086807  100644
724   2014Q1  0.084334  100644
725   2014Q2  0.029554  100644
726   2014Q3  0.207877  100644
727   2014Q4  0.126407  100644
728   2015Q1  0.028690  100644
729   2015Q2  0.059187  100644
730   2015Q3  0.054713  100644
731   2015Q4  0.023553  100644
732   2016Q1 -0.079618  100644
733   2016Q2 -0.013887  100644
734   2016Q3  0.051984  100644
735   2016Q4 -0.037075  100644
736   2017Q1 -0.025887  100644
737   2017Q2 -0.046401  100644
738   2017Q3 -0.037399  100644
739   2017Q4  0.025480  100644
1540  2013Q1 -0.016170  119782
1541  2013Q2  0.068364  119782
1542  2013Q3  0.052759  119782
1543  2013Q4  0.088571  119782
1544  2014Q1  0.085539  119782
1545  2014Q2  0.029831  119782
1546  2014Q3  0.210159  119782
1547  2014Q4  0.128895  119782
1548  2015Q1  0.100239  119782
1549  2015Q2  0.095838  119782
1550  2015Q3  0.057327  119782
1551  2015Q4  0.026504  119782
1552  2016Q1 -0.076372  119782
1553  2016Q2 -0.010801  119782
1554  2016Q3  0.055201  119782
1555  2016Q4 -0.033991  119782
1556  2017Q1 -0.023062  119782
1557  2017Q2 -0.043525  119782
1558  2017Q3 -0.034583  119782
1559  2017Q4  0.028581  119782>)
('Key_aum: ', 100644)
      Quarter      Data      ID
45700  2013Q1   3465.54  100644
45701  2013Q2   3789.57  100644
45702  2013Q3   4098.57  100644
45703  2013Q4   4659.73  100644
45704  2014Q1   5440.39  100644
45705  2014Q2   5730.85  100644
45706  2014Q3   7038.12  100644
45707  2014Q4   8334.10  100644
45708  2015Q1   8892.72  100644
45709  2015Q2  10464.90  100644
45710  2015Q3  12373.49  100644
45711  2015Q4  14293.56  100644
45712  2016Q1  14265.26  100644
45713  2016Q2  14677.37  100644
45714  2016Q3  15379.86  100644
45715  2016Q4  14777.66  100644
45716  2017Q1  14106.63  100644
45717  2017Q2  12565.05  100644
45718  2017Q3  15469.49  100644
45719  2017Q4  16528.51  100644
('Key_nav : ', 100644)
('data 1 : ', array([-0.01670117,  0.06666345,  0.05085723,  0.08680696,  0.08433369,
        0.02955352,  0.2078771 ,  0.12640738,  0.02868994,  0.0591871 ,
        0.05471311,  0.02355279, -0.07961841, -0.01388722,  0.05198356,
       -0.03707497, -0.02588709, -0.04640067, -0.03739936,  0.02548046]))
('data 2 :', array([  3465.54,   3789.57,   4098.57,   4659.73,   5440.39,   5730.85,
         7038.12,   8334.1 ,   8892.72,  10464.9 ,  12373.49,  14293.56,
        14265.26,  14677.37,  15379.86,  14777.66,  14106.63,  12565.05,
        15469.49,  16528.51]))
('Key_aum: ', 119782)
      Quarter     Data      ID
45660  2013Q1     6.12  119782
45661  2013Q2    37.09  119782
45662  2013Q3   100.20  119782
45663  2013Q4   131.97  119782
45664  2014Q1   195.37  119782
45665  2014Q2   246.89  119782
45666  2014Q3   318.07  119782
45667  2014Q4   466.77  119782
45668  2015Q1   558.55  119782
45669  2015Q2  1065.21  119782
45670  2015Q3  1615.90  119782
45671  2015Q4  2279.08  119782
45672  2016Q1  3146.42  119782
45673  2016Q2  3162.71  119782
45674  2016Q3  3480.11  119782
45675  2016Q4  3486.39  119782
45676  2017Q1  2641.27  119782
45677  2017Q2  2284.94  119782
45678  2017Q3  2302.30  119782
45679  2017Q4  2329.34  119782
('Key_nav : ', 119782)
('data 1 : ', array([-0.01617027,  0.06836379,  0.05275919,  0.0885706 ,  0.08553851,
        0.02983136,  0.21015856,  0.12889474,  0.10023905,  0.09583848,
        0.05732679,  0.02650372, -0.07637228, -0.01080052,  0.05520063,
       -0.03399137, -0.0230621 , -0.043525  , -0.03458307,  0.02858117]))
('data 2 :', array([    6.12,    37.09,   100.2 ,   131.97,   195.37,   246.89,
         318.07,   466.77,   558.55,  1065.21,  1615.9 ,  2279.08,
        3146.42,  3162.71,  3480.11,  3486.39,  2641.27,  2284.94,
        2302.3 ,  2329.34]))
('mean : ', array([-0.01617027,  0.06836379,  0.05275919,  0.0885706 ,  0.08553851,
        0.02983136,  0.21015856,  0.12889474,  0.10023905,  0.09583848,
        0.05732679,  0.02650372, -0.07637228, -0.01080052,  0.05520063,
       -0.03399137, -0.0230621 , -0.043525  , -0.03458307,  0.02858117]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
45660  2013Q1      6.12  119782
45661  2013Q2     37.09  119782
45662  2013Q3    100.20  119782
45663  2013Q4    131.97  119782
45664  2014Q1    195.37  119782
45665  2014Q2    246.89  119782
45666  2014Q3    318.07  119782
45667  2014Q4    466.77  119782
45668  2015Q1    558.55  119782
45669  2015Q2   1065.21  119782
45670  2015Q3   1615.90  119782
45671  2015Q4   2279.08  119782
45672  2016Q1   3146.42  119782
45673  2016Q2   3162.71  119782
45674  2016Q3   3480.11  119782
45675  2016Q4   3486.39  119782
45676  2017Q1   2641.27  119782
45677  2017Q2   2284.94  119782
45678  2017Q3   2302.30  119782
45679  2017Q4   2329.34  119782
45700  2013Q1   3465.54  100644
45701  2013Q2   3789.57  100644
45702  2013Q3   4098.57  100644
45703  2013Q4   4659.73  100644
45704  2014Q1   5440.39  100644
45705  2014Q2   5730.85  100644
45706  2014Q3   7038.12  100644
45707  2014Q4   8334.10  100644
45708  2015Q1   8892.72  100644
45709  2015Q2  10464.90  100644
45710  2015Q3  12373.49  100644
45711  2015Q4  14293.56  100644
45712  2016Q1  14265.26  100644
45713  2016Q2  14677.37  100644
45714  2016Q3  15379.86  100644
45715  2016Q4  14777.66  100644
45716  2017Q1  14106.63  100644
45717  2017Q2  12565.05  100644
45718  2017Q3  15469.49  100644
45719  2017Q4  16528.51  100644>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
720   2013Q1 -0.016701  100644
721   2013Q2  0.066663  100644
722   2013Q3  0.050857  100644
723   2013Q4  0.086807  100644
724   2014Q1  0.084334  100644
725   2014Q2  0.029554  100644
726   2014Q3  0.207877  100644
727   2014Q4  0.126407  100644
728   2015Q1  0.028690  100644
729   2015Q2  0.059187  100644
730   2015Q3  0.054713  100644
731   2015Q4  0.023553  100644
732   2016Q1 -0.079618  100644
733   2016Q2 -0.013887  100644
734   2016Q3  0.051984  100644
735   2016Q4 -0.037075  100644
736   2017Q1 -0.025887  100644
737   2017Q2 -0.046401  100644
738   2017Q3 -0.037399  100644
739   2017Q4  0.025480  100644
1540  2013Q1 -0.016170  119782
1541  2013Q2  0.068364  119782
1542  2013Q3  0.052759  119782
1543  2013Q4  0.088571  119782
1544  2014Q1  0.085539  119782
1545  2014Q2  0.029831  119782
1546  2014Q3  0.210159  119782
1547  2014Q4  0.128895  119782
1548  2015Q1  0.100239  119782
1549  2015Q2  0.095838  119782
1550  2015Q3  0.057327  119782
1551  2015Q4  0.026504  119782
1552  2016Q1 -0.076372  119782
1553  2016Q2 -0.010801  119782
1554  2016Q3  0.055201  119782
1555  2016Q4 -0.033991  119782
1556  2017Q1 -0.023062  119782
1557  2017Q2 -0.043525  119782
1558  2017Q3 -0.034583  119782
1559  2017Q4  0.028581  119782>)
('Key_aum: ', 100644)
      Quarter      Data      ID
45700  2013Q1   3465.54  100644
45701  2013Q2   3789.57  100644
45702  2013Q3   4098.57  100644
45703  2013Q4   4659.73  100644
45704  2014Q1   5440.39  100644
45705  2014Q2   5730.85  100644
45706  2014Q3   7038.12  100644
45707  2014Q4   8334.10  100644
45708  2015Q1   8892.72  100644
45709  2015Q2  10464.90  100644
45710  2015Q3  12373.49  100644
45711  2015Q4  14293.56  100644
45712  2016Q1  14265.26  100644
45713  2016Q2  14677.37  100644
45714  2016Q3  15379.86  100644
45715  2016Q4  14777.66  100644
45716  2017Q1  14106.63  100644
45717  2017Q2  12565.05  100644
45718  2017Q3  15469.49  100644
45719  2017Q4  16528.51  100644
('Key_nav : ', 100644)
('data 1 : ', array([-0.01670117,  0.06666345,  0.05085723,  0.08680696,  0.08433369,
        0.02955352,  0.2078771 ,  0.12640738,  0.02868994,  0.0591871 ,
        0.05471311,  0.02355279, -0.07961841, -0.01388722,  0.05198356,
       -0.03707497, -0.02588709, -0.04640067, -0.03739936,  0.02548046]))
('data 2 :', array([  3465.54,   3789.57,   4098.57,   4659.73,   5440.39,   5730.85,
         7038.12,   8334.1 ,   8892.72,  10464.9 ,  12373.49,  14293.56,
        14265.26,  14677.37,  15379.86,  14777.66,  14106.63,  12565.05,
        15469.49,  16528.51]))
('Key_aum: ', 119782)
      Quarter     Data      ID
45660  2013Q1     6.12  119782
45661  2013Q2    37.09  119782
45662  2013Q3   100.20  119782
45663  2013Q4   131.97  119782
45664  2014Q1   195.37  119782
45665  2014Q2   246.89  119782
45666  2014Q3   318.07  119782
45667  2014Q4   466.77  119782
45668  2015Q1   558.55  119782
45669  2015Q2  1065.21  119782
45670  2015Q3  1615.90  119782
45671  2015Q4  2279.08  119782
45672  2016Q1  3146.42  119782
45673  2016Q2  3162.71  119782
45674  2016Q3  3480.11  119782
45675  2016Q4  3486.39  119782
45676  2017Q1  2641.27  119782
45677  2017Q2  2284.94  119782
45678  2017Q3  2302.30  119782
45679  2017Q4  2329.34  119782
('Key_nav : ', 119782)
('data 1 : ', array([-0.01617027,  0.06836379,  0.05275919,  0.0885706 ,  0.08553851,
        0.02983136,  0.21015856,  0.12889474,  0.10023905,  0.09583848,
        0.05732679,  0.02650372, -0.07637228, -0.01080052,  0.05520063,
       -0.03399137, -0.0230621 , -0.043525  , -0.03458307,  0.02858117]))
('data 2 :', array([    6.12,    37.09,   100.2 ,   131.97,   195.37,   246.89,
         318.07,   466.77,   558.55,  1065.21,  1615.9 ,  2279.08,
        3146.42,  3162.71,  3480.11,  3486.39,  2641.27,  2284.94,
        2302.3 ,  2329.34]))
('mean : ', array([-0.01617027,  0.06836379,  0.05275919,  0.0885706 ,  0.08553851,
        0.02983136,  0.21015856,  0.12889474,  0.10023905,  0.09583848,
        0.05732679,  0.02650372, -0.07637228, -0.01080052,  0.05520063,
       -0.03399137, -0.0230621 , -0.043525  , -0.03458307,  0.02858117]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
45660  2013Q1      6.12  119782
45661  2013Q2     37.09  119782
45662  2013Q3    100.20  119782
45663  2013Q4    131.97  119782
45664  2014Q1    195.37  119782
45665  2014Q2    246.89  119782
45666  2014Q3    318.07  119782
45667  2014Q4    466.77  119782
45668  2015Q1    558.55  119782
45669  2015Q2   1065.21  119782
45670  2015Q3   1615.90  119782
45671  2015Q4   2279.08  119782
45672  2016Q1   3146.42  119782
45673  2016Q2   3162.71  119782
45674  2016Q3   3480.11  119782
45675  2016Q4   3486.39  119782
45676  2017Q1   2641.27  119782
45677  2017Q2   2284.94  119782
45678  2017Q3   2302.30  119782
45679  2017Q4   2329.34  119782
45700  2013Q1   3465.54  100644
45701  2013Q2   3789.57  100644
45702  2013Q3   4098.57  100644
45703  2013Q4   4659.73  100644
45704  2014Q1   5440.39  100644
45705  2014Q2   5730.85  100644
45706  2014Q3   7038.12  100644
45707  2014Q4   8334.10  100644
45708  2015Q1   8892.72  100644
45709  2015Q2  10464.90  100644
45710  2015Q3  12373.49  100644
45711  2015Q4  14293.56  100644
45712  2016Q1  14265.26  100644
45713  2016Q2  14677.37  100644
45714  2016Q3  15379.86  100644
45715  2016Q4  14777.66  100644
45716  2017Q1  14106.63  100644
45717  2017Q2  12565.05  100644
45718  2017Q3  15469.49  100644
45719  2017Q4  16528.51  100644>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
720   2013Q1 -0.016701  100644
721   2013Q2  0.066663  100644
722   2013Q3  0.050857  100644
723   2013Q4  0.086807  100644
724   2014Q1  0.084334  100644
725   2014Q2  0.029554  100644
726   2014Q3  0.207877  100644
727   2014Q4  0.126407  100644
728   2015Q1  0.028690  100644
729   2015Q2  0.059187  100644
730   2015Q3  0.054713  100644
731   2015Q4  0.023553  100644
732   2016Q1 -0.079618  100644
733   2016Q2 -0.013887  100644
734   2016Q3  0.051984  100644
735   2016Q4 -0.037075  100644
736   2017Q1 -0.025887  100644
737   2017Q2 -0.046401  100644
738   2017Q3 -0.037399  100644
739   2017Q4  0.025480  100644
1540  2013Q1 -0.016170  119782
1541  2013Q2  0.068364  119782
1542  2013Q3  0.052759  119782
1543  2013Q4  0.088571  119782
1544  2014Q1  0.085539  119782
1545  2014Q2  0.029831  119782
1546  2014Q3  0.210159  119782
1547  2014Q4  0.128895  119782
1548  2015Q1  0.100239  119782
1549  2015Q2  0.095838  119782
1550  2015Q3  0.057327  119782
1551  2015Q4  0.026504  119782
1552  2016Q1 -0.076372  119782
1553  2016Q2 -0.010801  119782
1554  2016Q3  0.055201  119782
1555  2016Q4 -0.033991  119782
1556  2017Q1 -0.023062  119782
1557  2017Q2 -0.043525  119782
1558  2017Q3 -0.034583  119782
1559  2017Q4  0.028581  119782>)
('Key_aum: ', 100644)
      Quarter      Data      ID
45700  2013Q1   3465.54  100644
45701  2013Q2   3789.57  100644
45702  2013Q3   4098.57  100644
45703  2013Q4   4659.73  100644
45704  2014Q1   5440.39  100644
45705  2014Q2   5730.85  100644
45706  2014Q3   7038.12  100644
45707  2014Q4   8334.10  100644
45708  2015Q1   8892.72  100644
45709  2015Q2  10464.90  100644
45710  2015Q3  12373.49  100644
45711  2015Q4  14293.56  100644
45712  2016Q1  14265.26  100644
45713  2016Q2  14677.37  100644
45714  2016Q3  15379.86  100644
45715  2016Q4  14777.66  100644
45716  2017Q1  14106.63  100644
45717  2017Q2  12565.05  100644
45718  2017Q3  15469.49  100644
45719  2017Q4  16528.51  100644
('Key_nav : ', 100644)
('data 1 : ', array([-0.01670117,  0.06666345,  0.05085723,  0.08680696,  0.08433369,
        0.02955352,  0.2078771 ,  0.12640738,  0.02868994,  0.0591871 ,
        0.05471311,  0.02355279, -0.07961841, -0.01388722,  0.05198356,
       -0.03707497, -0.02588709, -0.04640067, -0.03739936,  0.02548046]))
('data 2 :', array([  3465.54,   3789.57,   4098.57,   4659.73,   5440.39,   5730.85,
         7038.12,   8334.1 ,   8892.72,  10464.9 ,  12373.49,  14293.56,
        14265.26,  14677.37,  15379.86,  14777.66,  14106.63,  12565.05,
        15469.49,  16528.51]))
('Key_aum: ', 119782)
      Quarter     Data      ID
45660  2013Q1     6.12  119782
45661  2013Q2    37.09  119782
45662  2013Q3   100.20  119782
45663  2013Q4   131.97  119782
45664  2014Q1   195.37  119782
45665  2014Q2   246.89  119782
45666  2014Q3   318.07  119782
45667  2014Q4   466.77  119782
45668  2015Q1   558.55  119782
45669  2015Q2  1065.21  119782
45670  2015Q3  1615.90  119782
45671  2015Q4  2279.08  119782
45672  2016Q1  3146.42  119782
45673  2016Q2  3162.71  119782
45674  2016Q3  3480.11  119782
45675  2016Q4  3486.39  119782
45676  2017Q1  2641.27  119782
45677  2017Q2  2284.94  119782
45678  2017Q3  2302.30  119782
45679  2017Q4  2329.34  119782
('Key_nav : ', 119782)
('data 1 : ', array([-0.01617027,  0.06836379,  0.05275919,  0.0885706 ,  0.08553851,
        0.02983136,  0.21015856,  0.12889474,  0.10023905,  0.09583848,
        0.05732679,  0.02650372, -0.07637228, -0.01080052,  0.05520063,
       -0.03399137, -0.0230621 , -0.043525  , -0.03458307,  0.02858117]))
('data 2 :', array([    6.12,    37.09,   100.2 ,   131.97,   195.37,   246.89,
         318.07,   466.77,   558.55,  1065.21,  1615.9 ,  2279.08,
        3146.42,  3162.71,  3480.11,  3486.39,  2641.27,  2284.94,
        2302.3 ,  2329.34]))
('mean : ', array([-0.01617027,  0.06836379,  0.05275919,  0.0885706 ,  0.08553851,
        0.02983136,  0.21015856,  0.12889474,  0.10023905,  0.09583848,
        0.05732679,  0.02650372, -0.07637228, -0.01080052,  0.05520063,
       -0.03399137, -0.0230621 , -0.043525  , -0.03458307,  0.02858117]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
45660  2013Q1      6.12  119782
45661  2013Q2     37.09  119782
45662  2013Q3    100.20  119782
45663  2013Q4    131.97  119782
45664  2014Q1    195.37  119782
45665  2014Q2    246.89  119782
45666  2014Q3    318.07  119782
45667  2014Q4    466.77  119782
45668  2015Q1    558.55  119782
45669  2015Q2   1065.21  119782
45670  2015Q3   1615.90  119782
45671  2015Q4   2279.08  119782
45672  2016Q1   3146.42  119782
45673  2016Q2   3162.71  119782
45674  2016Q3   3480.11  119782
45675  2016Q4   3486.39  119782
45676  2017Q1   2641.27  119782
45677  2017Q2   2284.94  119782
45678  2017Q3   2302.30  119782
45679  2017Q4   2329.34  119782
45700  2013Q1   3465.54  100644
45701  2013Q2   3789.57  100644
45702  2013Q3   4098.57  100644
45703  2013Q4   4659.73  100644
45704  2014Q1   5440.39  100644
45705  2014Q2   5730.85  100644
45706  2014Q3   7038.12  100644
45707  2014Q4   8334.10  100644
45708  2015Q1   8892.72  100644
45709  2015Q2  10464.90  100644
45710  2015Q3  12373.49  100644
45711  2015Q4  14293.56  100644
45712  2016Q1  14265.26  100644
45713  2016Q2  14677.37  100644
45714  2016Q3  15379.86  100644
45715  2016Q4  14777.66  100644
45716  2017Q1  14106.63  100644
45717  2017Q2  12565.05  100644
45718  2017Q3  15469.49  100644
45719  2017Q4  16528.51  100644>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
720   2013Q1 -0.016701  100644
721   2013Q2  0.066663  100644
722   2013Q3  0.050857  100644
723   2013Q4  0.086807  100644
724   2014Q1  0.084334  100644
725   2014Q2  0.029554  100644
726   2014Q3  0.207877  100644
727   2014Q4  0.126407  100644
728   2015Q1  0.028690  100644
729   2015Q2  0.059187  100644
730   2015Q3  0.054713  100644
731   2015Q4  0.023553  100644
732   2016Q1 -0.079618  100644
733   2016Q2 -0.013887  100644
734   2016Q3  0.051984  100644
735   2016Q4 -0.037075  100644
736   2017Q1 -0.025887  100644
737   2017Q2 -0.046401  100644
738   2017Q3 -0.037399  100644
739   2017Q4  0.025480  100644
1540  2013Q1 -0.016170  119782
1541  2013Q2  0.068364  119782
1542  2013Q3  0.052759  119782
1543  2013Q4  0.088571  119782
1544  2014Q1  0.085539  119782
1545  2014Q2  0.029831  119782
1546  2014Q3  0.210159  119782
1547  2014Q4  0.128895  119782
1548  2015Q1  0.100239  119782
1549  2015Q2  0.095838  119782
1550  2015Q3  0.057327  119782
1551  2015Q4  0.026504  119782
1552  2016Q1 -0.076372  119782
1553  2016Q2 -0.010801  119782
1554  2016Q3  0.055201  119782
1555  2016Q4 -0.033991  119782
1556  2017Q1 -0.023062  119782
1557  2017Q2 -0.043525  119782
1558  2017Q3 -0.034583  119782
1559  2017Q4  0.028581  119782>)
('Key_aum: ', 100644)
      Quarter      Data      ID
45700  2013Q1   3465.54  100644
45701  2013Q2   3789.57  100644
45702  2013Q3   4098.57  100644
45703  2013Q4   4659.73  100644
45704  2014Q1   5440.39  100644
45705  2014Q2   5730.85  100644
45706  2014Q3   7038.12  100644
45707  2014Q4   8334.10  100644
45708  2015Q1   8892.72  100644
45709  2015Q2  10464.90  100644
45710  2015Q3  12373.49  100644
45711  2015Q4  14293.56  100644
45712  2016Q1  14265.26  100644

('Key_nav : ', 119782)
('data 1 : ', array([-0.01617027,  0.06836379,  0.05275919,  0.0885706 ,  0.08553851,
        0.02983136,  0.21015856,  0.12889474,  0.10023905,  0.09583848,
        0.05732679,  0.02650372, -0.07637228, -0.01080052,  0.05520063,
       -0.03399137, -0.0230621 , -0.043525  , -0.03458307,  0.02858117]))
('data 2 :', array([    6.12,    37.09,   100.2 ,   131.97,   195.37,   246.89,
         318.07,   466.77,   558.55,  1065.21,  1615.9 ,  2279.08,
        3146.42,  3162.71,  3480.11,  3486.39,  2641.27,  2284.94,
        2302.3 ,  2329.34]))
('mean : ', array([-0.01617027,  0.06836379,  0.05275919,  0.0885706 ,  0.08553851,
        0.02983136,  0.21015856,  0.12889474,  0.10023905,  0.09583848,
        0.05732679,  0.02650372, -0.07637228, -0.01080052,  0.05520063,
       -0.03399137, -0.0230621 , -0.043525  , -0.03458307,  0.02858117]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
45660  2013Q1      6.12  119782
45661  2013Q2     37.09  119782
45662  2013Q3    100.20  119782
45663  2013Q4    131.97  119782
45664  2014Q1    195.37  119782
45665  2014Q2    246.89  119782
45666  2014Q3    318.07  119782
45667  2014Q4    466.77  119782
45668  2015Q1    558.55  119782
45669  2015Q2   1065.21  119782
45670  2015Q3   1615.90  119782
45671  2015Q4   2279.08  119782
45672  2016Q1   3146.42  119782
45673  2016Q2   3162.71  119782
45674  2016Q3   3480.11  119782
45675  2016Q4   3486.39  119782
45676  2017Q1   2641.27  119782
45677  2017Q2   2284.94  119782
45678  2017Q3   2302.30  119782
45679  2017Q4   2329.34  119782
45700  2013Q1   3465.54  100644
45701  2013Q2   3789.57  100644
45702  2013Q3   4098.57  100644
45703  2013Q4   4659.73  100644
45704  2014Q1   5440.39  100644
45705  2014Q2   5730.85  100644
45706  2014Q3   7038.12  100644
45707  2014Q4   8334.10  100644
45708  2015Q1   8892.72  100644
45709  2015Q2  10464.90  100644
45710  2015Q3  12373.49  100644
45711  2015Q4  14293.56  100644
45712  2016Q1  14265.26  100644
45713  2016Q2  14677.37  100644
45714  2016Q3  15379.86  100644
45715  2016Q4  14777.66  100644
45716  2017Q1  14106.63  100644
45717  2017Q2  12565.05  100644
45718  2017Q3  15469.49  100644
45719  2017Q4  16528.51  100644>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
720   2013Q1 -0.016701  100644
721   2013Q2  0.066663  100644
722   2013Q3  0.050857  100644
723   2013Q4  0.086807  100644
724   2014Q1  0.084334  100644
725   2014Q2  0.029554  100644
726   2014Q3  0.207877  100644
727   2014Q4  0.126407  100644
728   2015Q1  0.028690  100644
729   2015Q2  0.059187  100644
730   2015Q3  0.054713  100644
731   2015Q4  0.023553  100644
732   2016Q1 -0.079618  100644
733   2016Q2 -0.013887  100644
734   2016Q3  0.051984  100644
735   2016Q4 -0.037075  100644
736   2017Q1 -0.025887  100644
737   2017Q2 -0.046401  100644
738   2017Q3 -0.037399  100644
739   2017Q4  0.025480  100644
1540  2013Q1 -0.016170  119782
1541  2013Q2  0.068364  119782
1542  2013Q3  0.052759  119782
1543  2013Q4  0.088571  119782
1544  2014Q1  0.085539  119782
1545  2014Q2  0.029831  119782
1546  2014Q3  0.210159  119782
1547  2014Q4  0.128895  119782
1548  2015Q1  0.100239  119782
1549  2015Q2  0.095838  119782
1550  2015Q3  0.057327  119782
1551  2015Q4  0.026504  119782
1552  2016Q1 -0.076372  119782
1553  2016Q2 -0.010801  119782
1554  2016Q3  0.055201  119782
1555  2016Q4 -0.033991  119782
1556  2017Q1 -0.023062  119782
1557  2017Q2 -0.043525  119782
1558  2017Q3 -0.034583  119782
1559  2017Q4  0.028581  119782>)
('Key_aum: ', 100644)
      Quarter      Data      ID
45700  2013Q1   3465.54  100644
45701  2013Q2   3789.57  100644
45702  2013Q3   4098.57  100644
45703  2013Q4   4659.73  100644
45704  2014Q1   5440.39  100644
45705  2014Q2   5730.85  100644
45706  2014Q3   7038.12  100644
45707  2014Q4   8334.10  100644
45708  2015Q1   8892.72  100644
45709  2015Q2  10464.90  100644
45710  2015Q3  12373.49  100644
45711  2015Q4  14293.56  100644
45712  2016Q1  14265.26  100644
45713  2016Q2  14677.37  100644
45714  2016Q3  15379.86  100644
45715  2016Q4  14777.66  100644
45716  2017Q1  14106.63  100644
45717  2017Q2  12565.05  100644
45718  2017Q3  15469.49  100644
45719  2017Q4  16528.51  100644
('Key_nav : ', 100644)
('data 1 : ', array([-0.01670117,  0.06666345,  0.05085723,  0.08680696,  0.08433369,
        0.02955352,  0.2078771 ,  0.12640738,  0.02868994,  0.0591871 ,
        0.05471311,  0.02355279, -0.07961841, -0.01388722,  0.05198356,
       -0.03707497, -0.02588709, -0.04640067, -0.03739936,  0.02548046]))
('data 2 :', array([  3465.54,   3789.57,   4098.57,   4659.73,   5440.39,   5730.85,
         7038.12,   8334.1 ,   8892.72,  10464.9 ,  12373.49,  14293.56,
        14265.26,  14677.37,  15379.86,  14777.66,  14106.63,  12565.05,
        15469.49,  16528.51]))
('Key_aum: ', 119782)
      Quarter     Data      ID
45660  2013Q1     6.12  119782
45661  2013Q2    37.09  119782
45662  2013Q3   100.20  119782
45663  2013Q4   131.97  119782
45664  2014Q1   195.37  119782
45665  2014Q2   246.89  119782
45666  2014Q3   318.07  119782
45667  2014Q4   466.77  119782
45668  2015Q1   558.55  119782
45669  2015Q2  1065.21  119782
45670  2015Q3  1615.90  119782
45671  2015Q4  2279.08  119782
45672  2016Q1  3146.42  119782
45673  2016Q2  3162.71  119782
45674  2016Q3  3480.11  119782
45675  2016Q4  3486.39  119782
45676  2017Q1  2641.27  119782
45677  2017Q2  2284.94  119782
45678  2017Q3  2302.30  119782
45679  2017Q4  2329.34  119782
('Key_nav : ', 119782)
('data 1 : ', array([-0.01617027,  0.06836379,  0.05275919,  0.0885706 ,  0.08553851,
        0.02983136,  0.21015856,  0.12889474,  0.10023905,  0.09583848,
        0.05732679,  0.02650372, -0.07637228, -0.01080052,  0.05520063,
       -0.03399137, -0.0230621 , -0.043525  , -0.03458307,  0.02858117]))
('data 2 :', array([    6.12,    37.09,   100.2 ,   131.97,   195.37,   246.89,
         318.07,   466.77,   558.55,  1065.21,  1615.9 ,  2279.08,
        3146.42,  3162.71,  3480.11,  3486.39,  2641.27,  2284.94,
        2302.3 ,  2329.34]))
('mean : ', array([-0.01617027,  0.06836379,  0.05275919,  0.0885706 ,  0.08553851,
        0.02983136,  0.21015856,  0.12889474,  0.10023905,  0.09583848,
        0.05732679,  0.02650372, -0.07637228, -0.01080052,  0.05520063,
       -0.03399137, -0.0230621 , -0.043525  , -0.03458307,  0.02858117]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
45660  2013Q1      6.12  119782
45661  2013Q2     37.09  119782
45662  2013Q3    100.20  119782
45663  2013Q4    131.97  119782
45664  2014Q1    195.37  119782
45665  2014Q2    246.89  119782
45666  2014Q3    318.07  119782
45667  2014Q4    466.77  119782
45668  2015Q1    558.55  119782
45669  2015Q2   1065.21  119782
45670  2015Q3   1615.90  119782
45671  2015Q4   2279.08  119782
45672  2016Q1   3146.42  119782
45673  2016Q2   3162.71  119782
45674  2016Q3   3480.11  119782
45675  2016Q4   3486.39  119782
45676  2017Q1   2641.27  119782
45677  2017Q2   2284.94  119782
45678  2017Q3   2302.30  119782
45679  2017Q4   2329.34  119782
45700  2013Q1   3465.54  100644
45701  2013Q2   3789.57  100644
45702  2013Q3   4098.57  100644
45703  2013Q4   4659.73  100644
45704  2014Q1   5440.39  100644
45705  2014Q2   5730.85  100644
45706  2014Q3   7038.12  100644
45707  2014Q4   8334.10  100644
45708  2015Q1   8892.72  100644
45709  2015Q2  10464.90  100644
45710  2015Q3  12373.49  100644
45711  2015Q4  14293.56  100644
45712  2016Q1  14265.26  100644
45713  2016Q2  14677.37  100644
45714  2016Q3  15379.86  100644
45715  2016Q4  14777.66  100644
45716  2017Q1  14106.63  100644
45717  2017Q2  12565.05  100644
45718  2017Q3  15469.49  100644
45719  2017Q4  16528.51  100644>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
720   2013Q1 -0.016701  100644
721   2013Q2  0.066663  100644
722   2013Q3  0.050857  100644
723   2013Q4  0.086807  100644
724   2014Q1  0.084334  100644
725   2014Q2  0.029554  100644
726   2014Q3  0.207877  100644
727   2014Q4  0.126407  100644
728   2015Q1  0.028690  100644
729   2015Q2  0.059187  100644
730   2015Q3  0.054713  100644
731   2015Q4  0.023553  100644
732   2016Q1 -0.079618  100644
733   2016Q2 -0.013887  100644
734   2016Q3  0.051984  100644
735   2016Q4 -0.037075  100644
736   2017Q1 -0.025887  100644
737   2017Q2 -0.046401  100644
738   2017Q3 -0.037399  100644
739   2017Q4  0.025480  100644
1540  2013Q1 -0.016170  119782
1541  2013Q2  0.068364  119782
1542  2013Q3  0.052759  119782
1543  2013Q4  0.088571  119782
1544  2014Q1  0.085539  119782
1545  2014Q2  0.029831  119782
1546  2014Q3  0.210159  119782
1547  2014Q4  0.128895  119782
1548  2015Q1  0.100239  119782
1549  2015Q2  0.095838  119782
1550  2015Q3  0.057327  119782
1551  2015Q4  0.026504  119782
1552  2016Q1 -0.076372  119782
1553  2016Q2 -0.010801  119782
1554  2016Q3  0.055201  119782
1555  2016Q4 -0.033991  119782
1556  2017Q1 -0.023062  119782
1557  2017Q2 -0.043525  119782
1558  2017Q3 -0.034583  119782
1559  2017Q4  0.028581  119782>)
('Key_aum: ', 100644)
      Quarter      Data      ID
45700  2013Q1   3465.54  100644
45701  2013Q2   3789.57  100644
45702  2013Q3   4098.57  100644
45703  2013Q4   4659.73  100644
45704  2014Q1   5440.39  100644
45705  2014Q2   5730.85  100644
45706  2014Q3   7038.12  100644
45707  2014Q4   8334.10  100644
45708  2015Q1   8892.72  100644
45709  2015Q2  10464.90  100644
45710  2015Q3  12373.49  100644
45711  2015Q4  14293.56  100644
45712  2016Q1  14265.26  100644
45713  2016Q2  14677.37  100644
45714  2016Q3  15379.86  100644
45715  2016Q4  14777.66  100644
45716  2017Q1  14106.63  100644
45717  2017Q2  12565.05  100644
45718  2017Q3  15469.49  100644
45719  2017Q4  16528.51  100644
('Key_nav : ', 100644)
('data 1 : ', array([-0.01670117,  0.06666345,  0.05085723,  0.08680696,  0.08433369,
        0.02955352,  0.2078771 ,  0.12640738,  0.02868994,  0.0591871 ,
        0.05471311,  0.02355279, -0.07961841, -0.01388722,  0.05198356,
       -0.03707497, -0.02588709, -0.04640067, -0.03739936,  0.02548046]))
('data 2 :', array([  3465.54,   3789.57,   4098.57,   4659.73,   5440.39,   5730.85,
         7038.12,   8334.1 ,   8892.72,  10464.9 ,  12373.49,  14293.56,
        14265.26,  14677.37,  15379.86,  14777.66,  14106.63,  12565.05,
        15469.49,  16528.51]))
('Key_aum: ', 119782)
      Quarter     Data      ID
45660  2013Q1     6.12  119782
45661  2013Q2    37.09  119782
45662  2013Q3   100.20  119782
45663  2013Q4   131.97  119782
45664  2014Q1   195.37  119782
45665  2014Q2   246.89  119782
45666  2014Q3   318.07  119782
45667  2014Q4   466.77  119782
45668  2015Q1   558.55  119782
45669  2015Q2  1065.21  119782
45670  2015Q3  1615.90  119782
45671  2015Q4  2279.08  119782
45672  2016Q1  3146.42  119782
45673  2016Q2  3162.71  119782
45674  2016Q3  3480.11  119782
45675  2016Q4  3486.39  119782
45676  2017Q1  2641.27  119782
45677  2017Q2  2284.94  119782
45678  2017Q3  2302.30  119782
45679  2017Q4  2329.34  119782
('Key_nav : ', 119782)
('data 1 : ', array([-0.01617027,  0.06836379,  0.05275919,  0.0885706 ,  0.08553851,
        0.02983136,  0.21015856,  0.12889474,  0.10023905,  0.09583848,
        0.05732679,  0.02650372, -0.07637228, -0.01080052,  0.05520063,
       -0.03399137, -0.0230621 , -0.043525  , -0.03458307,  0.02858117]))
('data 2 :', array([    6.12,    37.09,   100.2 ,   131.97,   195.37,   246.89,
         318.07,   466.77,   558.55,  1065.21,  1615.9 ,  2279.08,
        3146.42,  3162.71,  3480.11,  3486.39,  2641.27,  2284.94,
        2302.3 ,  2329.34]))
('mean : ', array([-0.01617027,  0.06836379,  0.05275919,  0.0885706 ,  0.08553851,
        0.02983136,  0.21015856,  0.12889474,  0.10023905,  0.09583848,
        0.05732679,  0.02650372, -0.07637228, -0.01080052,  0.05520063,
       -0.03399137, -0.0230621 , -0.043525  , -0.03458307,  0.02858117]))
('IDs :', [135807])
('aum table :', <bound method DataFrame.head of        Quarter    Data      ID
185480  2013Q1    0.00  135807
185481  2013Q2    0.00  135807
185482  2013Q3    0.00  135807
185483  2013Q4    0.00  135807
185484  2014Q1    0.00  135807
185485  2014Q2    0.00  135807
185486  2014Q3    0.00  135807
185487  2014Q4    0.00  135807
185488  2015Q1    0.00  135807
185489  2015Q2    0.00  135807
185490  2015Q3    0.00  135807
185491  2015Q4    2.48  135807
185492  2016Q1   62.50  135807
185493  2016Q2   75.27  135807
185494  2016Q3   85.06  135807
185495  2016Q4   82.48  135807
185496  2017Q1   74.86  135807
185497  2017Q2   70.97  135807
185498  2017Q3   82.09  135807
185499  2017Q4  103.40  135807>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
460  2013Q1  0.000000  135807
461  2013Q2  0.000000  135807
462  2013Q3  0.000000  135807
463  2013Q4  0.000000  135807
464  2014Q1  0.000000  135807
465  2014Q2  0.000000  135807
466  2014Q3  0.000000  135807
467  2014Q4  0.000000  135807
468  2015Q1  0.000000  135807
469  2015Q2  0.000000  135807
470  2015Q3  0.000000  135807
471  2015Q4 -0.000332  135807
472  2016Q1 -0.024064  135807
473  2016Q2 -0.040006  135807
474  2016Q3  0.040225  135807
475  2016Q4 -0.052560  135807
476  2017Q1 -0.029981  135807
477  2017Q2  0.012593  135807
478  2017Q3 -0.055576  135807
479  2017Q4  0.025783  135807>)
('Key_aum: ', 135807)
       Quarter    Data      ID
185480  2013Q1    0.00  135807
185481  2013Q2    0.00  135807
185482  2013Q3    0.00  135807
185483  2013Q4    0.00  135807
185484  2014Q1    0.00  135807
185485  2014Q2    0.00  135807
185486  2014Q3    0.00  135807
185487  2014Q4    0.00  135807
185488  2015Q1    0.00  135807
185489  2015Q2    0.00  135807
185490  2015Q3    0.00  135807
185491  2015Q4    2.48  135807
185492  2016Q1   62.50  135807
185493  2016Q2   75.27  135807
185494  2016Q3   85.06  135807
185495  2016Q4   82.48  135807
185496  2017Q1   74.86  135807
185497  2017Q2   70.97  135807
185498  2017Q3   82.09  135807
185499  2017Q4  103.40  135807
('Key_nav : ', 135807)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00033229, -0.0240641 , -0.04000594,  0.04022547,
       -0.0525597 , -0.02998082,  0.01259274, -0.05557623,  0.02578318]))
('data 2 :', array([   0.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,
          0.  ,    0.  ,    0.  ,    0.  ,    2.48,   62.5 ,   75.27,
         85.06,   82.48,   74.86,   70.97,   82.09,  103.4 ]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan, -0.00033229, -0.0240641 , -0.04000594,  0.04022547,
       -0.0525597 , -0.02998082,  0.01259274, -0.05557623,  0.02578318]))
('aum table :', <bound method DataFrame.head of        Quarter    Data      ID
185480  2013Q1    0.00  135807
185481  2013Q2    0.00  135807
185482  2013Q3    0.00  135807
185483  2013Q4    0.00  135807
185484  2014Q1    0.00  135807
185485  2014Q2    0.00  135807
185486  2014Q3    0.00  135807
185487  2014Q4    0.00  135807
185488  2015Q1    0.00  135807
185489  2015Q2    0.00  135807
185490  2015Q3    0.00  135807
185491  2015Q4    2.48  135807
185492  2016Q1   62.50  135807
185493  2016Q2   75.27  135807
185494  2016Q3   85.06  135807
185495  2016Q4   82.48  135807
185496  2017Q1   74.86  135807
185497  2017Q2   70.97  135807
185498  2017Q3   82.09  135807
185499  2017Q4  103.40  135807>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
460  2013Q1  0.000000  135807
461  2013Q2  0.000000  135807
462  2013Q3  0.000000  135807
463  2013Q4  0.000000  135807
464  2014Q1  0.000000  135807
465  2014Q2  0.000000  135807
466  2014Q3  0.000000  135807
467  2014Q4  0.000000  135807
468  2015Q1  0.000000  135807
469  2015Q2  0.000000  135807
470  2015Q3  0.000000  135807
471  2015Q4 -0.000332  135807
472  2016Q1 -0.024064  135807
473  2016Q2 -0.040006  135807
474  2016Q3  0.040225  135807
475  2016Q4 -0.052560  135807
476  2017Q1 -0.029981  135807
477  2017Q2  0.012593  135807
478  2017Q3 -0.055576  135807
479  2017Q4  0.025783  135807>)
('Key_aum: ', 135807)
       Quarter    Data      ID
185480  2013Q1    0.00  135807
185481  2013Q2    0.00  135807
185482  2013Q3    0.00  135807
185483  2013Q4    0.00  135807
185484  2014Q1    0.00  135807
185485  2014Q2    0.00  135807
185486  2014Q3    0.00  135807
185487  2014Q4    0.00  135807
185488  2015Q1    0.00  135807
185489  2015Q2    0.00  135807
185490  2015Q3    0.00  135807
185491  2015Q4    2.48  135807
185492  2016Q1   62.50  135807
185493  2016Q2   75.27  135807
185494  2016Q3   85.06  135807
185495  2016Q4   82.48  135807
185496  2017Q1   74.86  135807
185497  2017Q2   70.97  135807
185498  2017Q3   82.09  135807
185499  2017Q4  103.40  135807
('Key_nav : ', 135807)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00033229, -0.0240641 , -0.04000594,  0.04022547,
       -0.0525597 , -0.02998082,  0.01259274, -0.05557623,  0.02578318]))
('data 2 :', array([   0.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,
          0.  ,    0.  ,    0.  ,    0.  ,    2.48,   62.5 ,   75.27,
         85.06,   82.48,   74.86,   70.97,   82.09,  103.4 ]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan, -0.00033229, -0.0240641 , -0.04000594,  0.04022547,
       -0.0525597 , -0.02998082,  0.01259274, -0.05557623,  0.02578318]))
('aum table :', <bound method DataFrame.head of        Quarter    Data      ID
185480  2013Q1    0.00  135807
185481  2013Q2    0.00  135807
185482  2013Q3    0.00  135807
185483  2013Q4    0.00  135807
185484  2014Q1    0.00  135807
185485  2014Q2    0.00  135807
185486  2014Q3    0.00  135807
185487  2014Q4    0.00  135807
185488  2015Q1    0.00  135807
185489  2015Q2    0.00  135807
185490  2015Q3    0.00  135807
185491  2015Q4    2.48  135807
185492  2016Q1   62.50  135807
185493  2016Q2   75.27  135807
185494  2016Q3   85.06  135807
185495  2016Q4   82.48  135807
185496  2017Q1   74.86  135807
185497  2017Q2   70.97  135807
185498  2017Q3   82.09  135807
185499  2017Q4  103.40  135807>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
460  2013Q1  0.000000  135807
461  2013Q2  0.000000  135807
462  2013Q3  0.000000  135807
463  2013Q4  0.000000  135807
464  2014Q1  0.000000  135807
465  2014Q2  0.000000  135807
466  2014Q3  0.000000  135807
467  2014Q4  0.000000  135807
468  2015Q1  0.000000  135807
469  2015Q2  0.000000  135807
470  2015Q3  0.000000  135807
471  2015Q4 -0.000332  135807
472  2016Q1 -0.024064  135807
473  2016Q2 -0.040006  135807
474  2016Q3  0.040225  135807
475  2016Q4 -0.052560  135807
476  2017Q1 -0.029981  135807
477  2017Q2  0.012593  135807
478  2017Q3 -0.055576  135807
479  2017Q4  0.025783  135807>)
('Key_aum: ', 135807)
       Quarter    Data      ID
185480  2013Q1    0.00  135807
185481  2013Q2    0.00  135807
185482  2013Q3    0.00  135807
185483  2013Q4    0.00  135807
185484  2014Q1    0.00  135807
185485  2014Q2    0.00  135807
185486  2014Q3    0.00  135807
185487  2014Q4    0.00  135807
185488  2015Q1    0.00  135807
185489  2015Q2    0.00  135807
185490  2015Q3    0.00  135807
185491  2015Q4    2.48  135807
185492  2016Q1   62.50  135807
185493  2016Q2   75.27  135807
185494  2016Q3   85.06  135807
185495  2016Q4   82.48  135807
185496  2017Q1   74.86  135807
185497  2017Q2   70.97  135807
185498  2017Q3   82.09  135807
185499  2017Q4  103.40  135807
('Key_nav : ', 135807)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,

/home/tennistetris/tensorflow/lib/python2.7/site-packages/ipykernel_launcher.py:57: RuntimeWarning: invalid value encountered in divide

       Quarter    Data      ID
185480  2013Q1    0.00  135807
185481  2013Q2    0.00  135807
185482  2013Q3    0.00  135807
185483  2013Q4    0.00  135807
185484  2014Q1    0.00  135807
185485  2014Q2    0.00  135807
185486  2014Q3    0.00  135807
185487  2014Q4    0.00  135807
185488  2015Q1    0.00  135807
185489  2015Q2    0.00  135807
185490  2015Q3    0.00  135807
185491  2015Q4    2.48  135807
185492  2016Q1   62.50  135807
185493  2016Q2   75.27  135807
185494  2016Q3   85.06  135807
185495  2016Q4   82.48  135807
185496  2017Q1   74.86  135807
185497  2017Q2   70.97  135807
185498  2017Q3   82.09  135807
185499  2017Q4  103.40  135807
('Key_nav : ', 135807)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00033229, -0.0240641 , -0.04000594,  0.04022547,
       -0.0525597 , -0.02998082,  0.01259274, -0.05557623,  0.02578318]))
('data 2 :', array([   0.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,
          0.  ,    0.  ,    0.  ,    0.  ,    2.48,   62.5 ,   75.27,
         85.06,   82.48,   74.86,   70.97,   82.09,  103.4 ]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan, -0.00033229, -0.0240641 , -0.04000594,  0.04022547,
       -0.0525597 , -0.02998082,  0.01259274, -0.05557623,  0.02578318]))
('aum table :', <bound method DataFrame.head of        Quarter    Data      ID
185480  2013Q1    0.00  135807
185481  2013Q2    0.00  135807
185482  2013Q3    0.00  135807
185483  2013Q4    0.00  135807
185484  2014Q1    0.00  135807
185485  2014Q2    0.00  135807
185486  2014Q3    0.00  135807
185487  2014Q4    0.00  135807
185488  2015Q1    0.00  135807
185489  2015Q2    0.00  135807
185490  2015Q3    0.00  135807
185491  2015Q4    2.48  135807
185492  2016Q1   62.50  135807
185493  2016Q2   75.27  135807
185494  2016Q3   85.06  135807
185495  2016Q4   82.48  135807
185496  2017Q1   74.86  135807
185497  2017Q2   70.97  135807
185498  2017Q3   82.09  135807
185499  2017Q4  103.40  135807>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
460  2013Q1  0.000000  135807
461  2013Q2  0.000000  135807
462  2013Q3  0.000000  135807
463  2013Q4  0.000000  135807
464  2014Q1  0.000000  135807
465  2014Q2  0.000000  135807
466  2014Q3  0.000000  135807
467  2014Q4  0.000000  135807
468  2015Q1  0.000000  135807
469  2015Q2  0.000000  135807
470  2015Q3  0.000000  135807
471  2015Q4 -0.000332  135807
472  2016Q1 -0.024064  135807
473  2016Q2 -0.040006  135807
474  2016Q3  0.040225  135807
475  2016Q4 -0.052560  135807
476  2017Q1 -0.029981  135807
477  2017Q2  0.012593  135807
478  2017Q3 -0.055576  135807
479  2017Q4  0.025783  135807>)
('Key_aum: ', 135807)
       Quarter    Data      ID
185480  2013Q1    0.00  135807
185481  2013Q2    0.00  135807
185482  2013Q3    0.00  135807
185483  2013Q4    0.00  135807
185484  2014Q1    0.00  135807
185485  2014Q2    0.00  135807
185486  2014Q3    0.00  135807
185487  2014Q4    0.00  135807
185488  2015Q1    0.00  135807
185489  2015Q2    0.00  135807
185490  2015Q3    0.00  135807
185491  2015Q4    2.48  135807
185492  2016Q1   62.50  135807
185493  2016Q2   75.27  135807
185494  2016Q3   85.06  135807
185495  2016Q4   82.48  135807
185496  2017Q1   74.86  135807
185497  2017Q2   70.97  135807
185498  2017Q3   82.09  135807
185499  2017Q4  103.40  135807
('Key_nav : ', 135807)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00033229, -0.0240641 , -0.04000594,  0.04022547,
       -0.0525597 , -0.02998082,  0.01259274, -0.05557623,  0.02578318]))
('data 2 :', array([   0.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,
          0.  ,    0.  ,    0.  ,    0.  ,    2.48,   62.5 ,   75.27,
         85.06,   82.48,   74.86,   70.97,   82.09,  103.4 ]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan, -0.00033229, -0.0240641 , -0.04000594,  0.04022547,
       -0.0525597 , -0.02998082,  0.01259274, -0.05557623,  0.02578318]))
('aum table :', <bound method DataFrame.head of        Quarter    Data      ID
185480  2013Q1    0.00  135807
185481  2013Q2    0.00  135807
185482  2013Q3    0.00  135807
185483  2013Q4    0.00  135807
185484  2014Q1    0.00  135807
185485  2014Q2    0.00  135807
185486  2014Q3    0.00  135807
185487  2014Q4    0.00  135807
185488  2015Q1    0.00  135807
185489  2015Q2    0.00  135807
185490  2015Q3    0.00  135807
185491  2015Q4    2.48  135807
185492  2016Q1   62.50  135807
185493  2016Q2   75.27  135807
185494  2016Q3   85.06  135807
185495  2016Q4   82.48  135807
185496  2017Q1   74.86  135807
185497  2017Q2   70.97  135807
185498  2017Q3   82.09  135807
185499  2017Q4  103.40  135807>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
460  2013Q1  0.000000  135807
461  2013Q2  0.000000  135807
462  2013Q3  0.000000  135807
463  2013Q4  0.000000  135807
464  2014Q1  0.000000  135807
465  2014Q2  0.000000  135807
466  2014Q3  0.000000  135807
467  2014Q4  0.000000  135807
468  2015Q1  0.000000  135807
469  2015Q2  0.000000  135807
470  2015Q3  0.000000  135807
471  2015Q4 -0.000332  135807
472  2016Q1 -0.024064  135807
473  2016Q2 -0.040006  135807
474  2016Q3  0.040225  135807
475  2016Q4 -0.052560  135807
476  2017Q1 -0.029981  135807
477  2017Q2  0.012593  135807
478  2017Q3 -0.055576  135807
479  2017Q4  0.025783  135807>)
('Key_aum: ', 135807)
       Quarter    Data      ID
185480  2013Q1    0.00  135807
185481  2013Q2    0.00  135807
185482  2013Q3    0.00  135807
185483  2013Q4    0.00  135807
185484  2014Q1    0.00  135807
185485  2014Q2    0.00  135807
185486  2014Q3    0.00  135807
185487  2014Q4    0.00  135807
185488  2015Q1    0.00  135807
185489  2015Q2    0.00  135807
185490  2015Q3    0.00  135807
185491  2015Q4    2.48  135807
185492  2016Q1   62.50  135807
185493  2016Q2   75.27  135807
185494  2016Q3   85.06  135807
185495  2016Q4   82.48  135807
185496  2017Q1   74.86  135807
185497  2017Q2   70.97  135807
185498  2017Q3   82.09  135807
185499  2017Q4  103.40  135807
('Key_nav : ', 135807)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00033229, -0.0240641 , -0.04000594,  0.04022547,
       -0.0525597 , -0.02998082,  0.01259274, -0.05557623,  0.02578318]))
('data 2 :', array([   0.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,
          0.  ,    0.  ,    0.  ,    0.  ,    2.48,   62.5 ,   75.27,
         85.06,   82.48,   74.86,   70.97,   82.09,  103.4 ]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan, -0.00033229, -0.0240641 , -0.04000594,  0.04022547,
       -0.0525597 , -0.02998082,  0.01259274, -0.05557623,  0.02578318]))
('aum table :', <bound method DataFrame.head of        Quarter    Data      ID
185480  2013Q1    0.00  135807
185481  2013Q2    0.00  135807
185482  2013Q3    0.00  135807
185483  2013Q4    0.00  135807
185484  2014Q1    0.00  135807
185485  2014Q2    0.00  135807
185486  2014Q3    0.00  135807
185487  2014Q4    0.00  135807
185488  2015Q1    0.00  135807
185489  2015Q2    0.00  135807
185490  2015Q3    0.00  135807
185491  2015Q4    2.48  135807
185492  2016Q1   62.50  135807
185493  2016Q2   75.27  135807
185494  2016Q3   85.06  135807
185495  2016Q4   82.48  135807
185496  2017Q1   74.86  135807
185497  2017Q2   70.97  135807
185498  2017Q3   82.09  135807
185499  2017Q4  103.40  135807>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
460  2013Q1  0.000000  135807
461  2013Q2  0.000000  135807
462  2013Q3  0.000000  135807
463  2013Q4  0.000000  135807
464  2014Q1  0.000000  135807
465  2014Q2  0.000000  135807
466  2014Q3  0.000000  135807
467  2014Q4  0.000000  135807
468  2015Q1  0.000000  135807
469  2015Q2  0.000000  135807
470  2015Q3  0.000000  135807
471  2015Q4 -0.000332  135807
472  2016Q1 -0.024064  135807
473  2016Q2 -0.040006  135807
474  2016Q3  0.040225  135807
475  2016Q4 -0.052560  135807
476  2017Q1 -0.029981  135807
477  2017Q2  0.012593  135807
478  2017Q3 -0.055576  135807
479  2017Q4  0.025783  135807>)
('Key_aum: ', 135807)
       Quarter    Data      ID
185480  2013Q1    0.00  135807
185481  2013Q2    0.00  135807
185482  2013Q3    0.00  135807
185483  2013Q4    0.00  135807
185484  2014Q1    0.00  135807
185485  2014Q2    0.00  135807
185486  2014Q3    0.00  135807
185487  2014Q4    0.00  135807
185488  2015Q1    0.00  135807
185489  2015Q2    0.00  135807
185490  2015Q3    0.00  135807
185491  2015Q4    2.48  135807
185492  2016Q1   62.50  135807
185493  2016Q2   75.27  135807
185494  2016Q3   85.06  135807
185495  2016Q4   82.48  135807
185496  2017Q1   74.86  135807
185497  2017Q2   70.97  135807
185498  2017Q3   82.09  135807
185499  2017Q4  103.40  135807
('Key_nav : ', 135807)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00033229, -0.0240641 , -0.04000594,  0.04022547,
       -0.0525597 , -0.02998082,  0.01259274, -0.05557623,  0.02578318]))
('data 2 :', array([   0.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,
          0.  ,    0.  ,    0.  ,    0.  ,    2.48,   62.5 ,   75.27,
         85.06,   82.48,   74.86,   70.97,   82.09,  103.4 ]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan, -0.00033229, -0.0240641 , -0.04000594,  0.04022547,
       -0.0525597 , -0.02998082,  0.01259274, -0.05557623,  0.02578318]))
('aum table :', <bound method DataFrame.head of        Quarter    Data      ID
185480  2013Q1    0.00  135807
185481  2013Q2    0.00  135807
185482  2013Q3    0.00  135807
185483  2013Q4    0.00  135807
185484  2014Q1    0.00  135807
185485  2014Q2    0.00  135807
185486  2014Q3    0.00  135807
185487  2014Q4    0.00  135807
185488  2015Q1    0.00  135807
185489  2015Q2    0.00  135807
185490  2015Q3    0.00  135807
185491  2015Q4    2.48  135807
185492  2016Q1   62.50  135807
185493  2016Q2   75.27  135807
185494  2016Q3   85.06  135807
185495  2016Q4   82.48  135807
185496  2017Q1   74.86  135807
185497  2017Q2   70.97  135807
185498  2017Q3   82.09  135807
185499  2017Q4  103.40  135807>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
460  2013Q1  0.000000  135807
461  2013Q2  0.000000  135807
462  2013Q3  0.000000  135807
463  2013Q4  0.000000  135807
464  2014Q1  0.000000  135807
465  2014Q2  0.000000  135807
466  2014Q3  0.000000  135807
467  2014Q4  0.000000  135807
468  2015Q1  0.000000  135807
469  2015Q2  0.000000  135807
470  2015Q3  0.000000  135807
471  2015Q4 -0.000332  135807
472  2016Q1 -0.024064  135807
473  2016Q2 -0.040006  135807
474  2016Q3  0.040225  135807
475  2016Q4 -0.052560  135807
476  2017Q1 -0.029981  135807
477  2017Q2  0.012593  135807
478  2017Q3 -0.055576  135807
479  2017Q4  0.025783  135807>)
('Key_aum: ', 135807)
       Quarter    Data      ID
185480  2013Q1    0.00  135807
185481  2013Q2    0.00  135807
185482  2013Q3    0.00  135807
185483  2013Q4    0.00  135807
185484  2014Q1    0.00  135807
185485  2014Q2    0.00  135807
185486  2014Q3    0.00  135807
185487  2014Q4    0.00  135807
185488  2015Q1    0.00  135807
185489  2015Q2    0.00  135807
185490  2015Q3    0.00  135807
185491  2015Q4    2.48  135807
185492  2016Q1   62.50  135807
185493  2016Q2   75.27  135807
185494  2016Q3   85.06  135807
185495  2016Q4   82.48  135807
185496  2017Q1   74.86  135807
185497  2017Q2   70.97  135807
185498  2017Q3   82.09  135807
185499  2017Q4  103.40  135807
('Key_nav : ', 135807)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00033229, -0.0240641 , -0.04000594,  0.04022547,
       -0.0525597 , -0.02998082,  0.01259274, -0.05557623,  0.02578318]))
('data 2 :', array([   0.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,
          0.  ,    0.  ,    0.  ,    0.  ,    2.48,   62.5 ,   75.27,
         85.06,   82.48,   74.86,   70.97,   82.09,  103.4 ]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan, -0.00033229, -0.0240641 , -0.04000594,  0.04022547,
       -0.0525597 , -0.02998082,  0.01259274, -0.05557623,  0.02578318]))
('aum table :', <bound method DataFrame.head of        Quarter    Data      ID
185480  2013Q1    0.00  135807
185481  2013Q2    0.00  135807
185482  2013Q3    0.00  135807
185483  2013Q4    0.00  135807
185484  2014Q1    0.00  135807
185485  2014Q2    0.00  135807
185486  2014Q3    0.00  135807
185487  2014Q4    0.00  135807
185488  2015Q1    0.00  135807
185489  2015Q2    0.00  135807
185490  2015Q3    0.00  135807
185491  2015Q4    2.48  135807
185492  2016Q1   62.50  135807
185493  2016Q2   75.27  135807
185494  2016Q3   85.06  135807
185495  2016Q4   82.48  135807
185496  2017Q1   74.86  135807
185497  2017Q2   70.97  135807
185498  2017Q3   82.09  135807
185499  2017Q4  103.40  135807>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
460  2013Q1  0.000000  135807
461  2013Q2  0.000000  135807
462  2013Q3  0.000000  135807
463  2013Q4  0.000000  135807
464  2014Q1  0.000000  135807
465  2014Q2  0.000000  135807
466  2014Q3  0.000000  135807
467  2014Q4  0.000000  135807
468  2015Q1  0.000000  135807
469  2015Q2  0.000000  135807
470  2015Q3  0.000000  135807
471  2015Q4 -0.000332  135807
472  2016Q1 -0.024064  135807
473  2016Q2 -0.040006  135807
474  2016Q3  0.040225  135807
475  2016Q4 -0.052560  135807
476  2017Q1 -0.029981  135807
477  2017Q2  0.012593  135807
478  2017Q3 -0.055576  135807
479  2017Q4  0.025783  135807>)
('Key_aum: ', 135807)
       Quarter    Data      ID
185480  2013Q1    0.00  135807
185481  2013Q2    0.00  135807
185482  2013Q3    0.00  135807
185483  2013Q4    0.00  135807
185484  2014Q1    0.00  135807
185485  2014Q2    0.00  135807
185486  2014Q3    0.00  135807
185487  2014Q4    0.00  135807
185488  2015Q1    0.00  135807
185489  2015Q2    0.00  135807
185490  2015Q3    0.00  135807
185491  2015Q4    2.48  135807
185492  2016Q1   62.50  135807
185493  2016Q2   75.27  135807
185494  2016Q3   85.06  135807
185495  2016Q4   82.48  135807
185496  2017Q1   74.86  135807
185497  2017Q2   70.97  135807
185498  2017Q3   82.09  135807
185499  2017Q4  103.40  135807
('Key_nav : ', 135807)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00033229, -0.0240641 , -0.04000594,  0.04022547,
       -0.0525597 , -0.02998082,  0.01259274, -0.05557623,  0.02578318]))
('data 2 :', array([   0.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,
          0.  ,    0.  ,    0.  ,    0.  ,    2.48,   62.5 ,   75.27,
         85.06,   82.48,   74.86,   70.97,   82.09,  103.4 ]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan, -0.00033229, -0.0240641 , -0.04000594,  0.04022547,
       -0.0525597 , -0.02998082,  0.01259274, -0.05557623,  0.02578318]))
('aum table :', <bound method DataFrame.head of        Quarter    Data      ID
185480  2013Q1    0.00  135807
185481  2013Q2    0.00  135807
185482  2013Q3    0.00  135807
185483  2013Q4    0.00  135807
185484  2014Q1    0.00  135807
185485  2014Q2    0.00  135807
185486  2014Q3    0.00  135807
185487  2014Q4    0.00  135807
185488  2015Q1    0.00  135807
185489  2015Q2    0.00  135807
185490  2015Q3    0.00  135807
185491  2015Q4    2.48  135807
185492  2016Q1   62.50  135807
185493  2016Q2   75.27  135807
185494  2016Q3   85.06  135807
185495  2016Q4   82.48  135807
185496  2017Q1   74.86  135807
185497  2017Q2   70.97  135807
185498  2017Q3   82.09  135807
185499  2017Q4  103.40  135807>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
460  2013Q1  0.000000  135807
461  2013Q2  0.000000  135807
462  2013Q3  0.000000  135807
463  2013Q4  0.000000  135807
464  2014Q1  0.000000  135807
465  2014Q2  0.000000  135807
466  2014Q3  0.000000  135807
467  2014Q4  0.000000  135807
468  2015Q1  0.000000  135807
469  2015Q2  0.000000  135807
470  2015Q3  0.000000  135807
471  2015Q4 -0.000332  135807
472  2016Q1 -0.024064  135807
473  2016Q2 -0.040006  135807
474  2016Q3  0.040225  135807
475  2016Q4 -0.052560  135807
476  2017Q1 -0.029981  135807
477  2017Q2  0.012593  135807
478  2017Q3 -0.055576  135807
479  2017Q4  0.025783  135807>)
('Key_aum: ', 135807)
       Quarter    Data      ID
185480  2013Q1    0.00  135807
185481  2013Q2    0.00  135807
185482  2013Q3    0.00  135807
185483  2013Q4    0.00  135807
185484  2014Q1    0.00  135807
185485  2014Q2    0.00  135807
185486  2014Q3    0.00  135807
185487  2014Q4    0.00  135807
185488  2015Q1    0.00  135807
185489  2015Q2    0.00  135807
185490  2015Q3    0.00  135807
185491  2015Q4    2.48  135807
185492  2016Q1   62.50  135807
185493  2016Q2   75.27  135807
185494  2016Q3   85.06  135807
185495  2016Q4   82.48  135807
185496  2017Q1   74.86  135807
185497  2017Q2   70.97  135807
185498  2017Q3   82.09  135807
185499  2017Q4  103.40  135807
('Key_nav : ', 135807)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00033229, -0.0240641 , -0.04000594,  0.04022547,
       -0.0525597 , -0.02998082,  0.01259274, -0.05557623,  0.02578318]))
('data 2 :', array([   0.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,
          0.  ,    0.  ,    0.  ,    0.  ,    2.48,   62.5 ,   75.27,
         85.06,   82.48,   74.86,   70.97,   82.09,  103.4 ]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan, -0.00033229, -0.0240641 , -0.04000594,  0.04022547,
       -0.0525597 , -0.02998082,  0.01259274, -0.05557623,  0.02578318]))
('aum table :', <bound method DataFrame.head of        Quarter    Data      ID
185480  2013Q1    0.00  135807
185481  2013Q2    0.00  135807
185482  2013Q3    0.00  135807
185483  2013Q4    0.00  135807
185484  2014Q1    0.00  135807
185485  2014Q2    0.00  135807
185486  2014Q3    0.00  135807
185487  2014Q4    0.00  135807
185488  2015Q1    0.00  135807
185489  2015Q2    0.00  135807
185490  2015Q3    0.00  135807
185491  2015Q4    2.48  135807
185492  2016Q1   62.50  135807
185493  2016Q2   75.27  135807
185494  2016Q3   85.06  135807
185495  2016Q4   82.48  135807
185496  2017Q1   74.86  135807
185497  2017Q2   70.97  135807
185498  2017Q3   82.09  135807
185499  2017Q4  103.40  135807>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
460  2013Q1  0.000000  135807
461  2013Q2  0.000000  135807
462  2013Q3  0.000000  135807
463  2013Q4  0.000000  135807
464  2014Q1  0.000000  135807
465  2014Q2  0.000000  135807
466  2014Q3  0.000000  135807
467  2014Q4  0.000000  135807
468  2015Q1  0.000000  135807
469  2015Q2  0.000000  135807
470  2015Q3  0.000000  135807

('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
460  2013Q1  0.000000  135807
461  2013Q2  0.000000  135807
462  2013Q3  0.000000  135807
463  2013Q4  0.000000  135807
464  2014Q1  0.000000  135807
465  2014Q2  0.000000  135807
466  2014Q3  0.000000  135807
467  2014Q4  0.000000  135807
468  2015Q1  0.000000  135807
469  2015Q2  0.000000  135807
470  2015Q3  0.000000  135807
471  2015Q4 -0.000332  135807
472  2016Q1 -0.024064  135807
473  2016Q2 -0.040006  135807
474  2016Q3  0.040225  135807
475  2016Q4 -0.052560  135807
476  2017Q1 -0.029981  135807
477  2017Q2  0.012593  135807
478  2017Q3 -0.055576  135807
479  2017Q4  0.025783  135807>)
('Key_aum: ', 135807)
       Quarter    Data      ID
185480  2013Q1    0.00  135807
185481  2013Q2    0.00  135807
185482  2013Q3    0.00  135807
185483  2013Q4    0.00  135807
185484  2014Q1    0.00  135807
185485  2014Q2    0.00  135807
185486  2014Q3    0.00  135807
185487  2014Q4    0.00  135807
185488  2015Q1    0.00  135807
185489  2015Q2    0.00  135807
185490  2015Q3    0.00  135807
185491  2015Q4    2.48  135807
185492  2016Q1   62.50  135807
185493  2016Q2   75.27  135807
185494  2016Q3   85.06  135807
185495  2016Q4   82.48  135807
185496  2017Q1   74.86  135807
185497  2017Q2   70.97  135807
185498  2017Q3   82.09  135807
185499  2017Q4  103.40  135807
('Key_nav : ', 135807)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00033229, -0.0240641 , -0.04000594,  0.04022547,
       -0.0525597 , -0.02998082,  0.01259274, -0.05557623,  0.02578318]))
('data 2 :', array([   0.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,
          0.  ,    0.  ,    0.  ,    0.  ,    2.48,   62.5 ,   75.27,
         85.06,   82.48,   74.86,   70.97,   82.09,  103.4 ]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan, -0.00033229, -0.0240641 , -0.04000594,  0.04022547,
       -0.0525597 , -0.02998082,  0.01259274, -0.05557623,  0.02578318]))
('aum table :', <bound method DataFrame.head of        Quarter    Data      ID
185480  2013Q1    0.00  135807
185481  2013Q2    0.00  135807
185482  2013Q3    0.00  135807
185483  2013Q4    0.00  135807
185484  2014Q1    0.00  135807
185485  2014Q2    0.00  135807
185486  2014Q3    0.00  135807
185487  2014Q4    0.00  135807
185488  2015Q1    0.00  135807
185489  2015Q2    0.00  135807
185490  2015Q3    0.00  135807
185491  2015Q4    2.48  135807
185492  2016Q1   62.50  135807
185493  2016Q2   75.27  135807
185494  2016Q3   85.06  135807
185495  2016Q4   82.48  135807
185496  2017Q1   74.86  135807
185497  2017Q2   70.97  135807
185498  2017Q3   82.09  135807
185499  2017Q4  103.40  135807>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
460  2013Q1  0.000000  135807
461  2013Q2  0.000000  135807
462  2013Q3  0.000000  135807
463  2013Q4  0.000000  135807
464  2014Q1  0.000000  135807
465  2014Q2  0.000000  135807
466  2014Q3  0.000000  135807
467  2014Q4  0.000000  135807
468  2015Q1  0.000000  135807
469  2015Q2  0.000000  135807
470  2015Q3  0.000000  135807
471  2015Q4 -0.000332  135807
472  2016Q1 -0.024064  135807
473  2016Q2 -0.040006  135807
474  2016Q3  0.040225  135807
475  2016Q4 -0.052560  135807
476  2017Q1 -0.029981  135807
477  2017Q2  0.012593  135807
478  2017Q3 -0.055576  135807
479  2017Q4  0.025783  135807>)
('Key_aum: ', 135807)
       Quarter    Data      ID
185480  2013Q1    0.00  135807
185481  2013Q2    0.00  135807
185482  2013Q3    0.00  135807
185483  2013Q4    0.00  135807
185484  2014Q1    0.00  135807
185485  2014Q2    0.00  135807
185486  2014Q3    0.00  135807
185487  2014Q4    0.00  135807
185488  2015Q1    0.00  135807
185489  2015Q2    0.00  135807
185490  2015Q3    0.00  135807
185491  2015Q4    2.48  135807
185492  2016Q1   62.50  135807
185493  2016Q2   75.27  135807
185494  2016Q3   85.06  135807
185495  2016Q4   82.48  135807
185496  2017Q1   74.86  135807
185497  2017Q2   70.97  135807
185498  2017Q3   82.09  135807
185499  2017Q4  103.40  135807
('Key_nav : ', 135807)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00033229, -0.0240641 , -0.04000594,  0.04022547,
       -0.0525597 , -0.02998082,  0.01259274, -0.05557623,  0.02578318]))
('data 2 :', array([   0.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,
          0.  ,    0.  ,    0.  ,    0.  ,    2.48,   62.5 ,   75.27,
         85.06,   82.48,   74.86,   70.97,   82.09,  103.4 ]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan, -0.00033229, -0.0240641 , -0.04000594,  0.04022547,
       -0.0525597 , -0.02998082,  0.01259274, -0.05557623,  0.02578318]))
('aum table :', <bound method DataFrame.head of        Quarter    Data      ID
185480  2013Q1    0.00  135807
185481  2013Q2    0.00  135807
185482  2013Q3    0.00  135807
185483  2013Q4    0.00  135807
185484  2014Q1    0.00  135807
185485  2014Q2    0.00  135807
185486  2014Q3    0.00  135807
185487  2014Q4    0.00  135807
185488  2015Q1    0.00  135807
185489  2015Q2    0.00  135807
185490  2015Q3    0.00  135807
185491  2015Q4    2.48  135807
185492  2016Q1   62.50  135807
185493  2016Q2   75.27  135807
185494  2016Q3   85.06  135807
185495  2016Q4   82.48  135807
185496  2017Q1   74.86  135807
185497  2017Q2   70.97  135807
185498  2017Q3   82.09  135807
185499  2017Q4  103.40  135807>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
460  2013Q1  0.000000  135807
461  2013Q2  0.000000  135807
462  2013Q3  0.000000  135807
463  2013Q4  0.000000  135807
464  2014Q1  0.000000  135807
465  2014Q2  0.000000  135807
466  2014Q3  0.000000  135807
467  2014Q4  0.000000  135807
468  2015Q1  0.000000  135807
469  2015Q2  0.000000  135807
470  2015Q3  0.000000  135807
471  2015Q4 -0.000332  135807
472  2016Q1 -0.024064  135807
473  2016Q2 -0.040006  135807
474  2016Q3  0.040225  135807
475  2016Q4 -0.052560  135807
476  2017Q1 -0.029981  135807
477  2017Q2  0.012593  135807
478  2017Q3 -0.055576  135807
479  2017Q4  0.025783  135807>)
('Key_aum: ', 135807)
       Quarter    Data      ID
185480  2013Q1    0.00  135807
185481  2013Q2    0.00  135807
185482  2013Q3    0.00  135807
185483  2013Q4    0.00  135807
185484  2014Q1    0.00  135807
185485  2014Q2    0.00  135807
185486  2014Q3    0.00  135807
185487  2014Q4    0.00  135807
185488  2015Q1    0.00  135807
185489  2015Q2    0.00  135807
185490  2015Q3    0.00  135807
185491  2015Q4    2.48  135807
185492  2016Q1   62.50  135807
185493  2016Q2   75.27  135807
185494  2016Q3   85.06  135807
185495  2016Q4   82.48  135807
185496  2017Q1   74.86  135807
185497  2017Q2   70.97  135807
185498  2017Q3   82.09  135807
185499  2017Q4  103.40  135807
('Key_nav : ', 135807)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00033229, -0.0240641 , -0.04000594,  0.04022547,
       -0.0525597 , -0.02998082,  0.01259274, -0.05557623,  0.02578318]))
('data 2 :', array([   0.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,
          0.  ,    0.  ,    0.  ,    0.  ,    2.48,   62.5 ,   75.27,
         85.06,   82.48,   74.86,   70.97,   82.09,  103.4 ]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan, -0.00033229, -0.0240641 , -0.04000594,  0.04022547,
       -0.0525597 , -0.02998082,  0.01259274, -0.05557623,  0.02578318]))
('aum table :', <bound method DataFrame.head of        Quarter    Data      ID
185480  2013Q1    0.00  135807
185481  2013Q2    0.00  135807
185482  2013Q3    0.00  135807
185483  2013Q4    0.00  135807
185484  2014Q1    0.00  135807
185485  2014Q2    0.00  135807
185486  2014Q3    0.00  135807
185487  2014Q4    0.00  135807
185488  2015Q1    0.00  135807
185489  2015Q2    0.00  135807
185490  2015Q3    0.00  135807
185491  2015Q4    2.48  135807
185492  2016Q1   62.50  135807
185493  2016Q2   75.27  135807
185494  2016Q3   85.06  135807
185495  2016Q4   82.48  135807
185496  2017Q1   74.86  135807
185497  2017Q2   70.97  135807
185498  2017Q3   82.09  135807
185499  2017Q4  103.40  135807>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
460  2013Q1  0.000000  135807
461  2013Q2  0.000000  135807
462  2013Q3  0.000000  135807
463  2013Q4  0.000000  135807
464  2014Q1  0.000000  135807
465  2014Q2  0.000000  135807
466  2014Q3  0.000000  135807
467  2014Q4  0.000000  135807
468  2015Q1  0.000000  135807
469  2015Q2  0.000000  135807
470  2015Q3  0.000000  135807
471  2015Q4 -0.000332  135807
472  2016Q1 -0.024064  135807
473  2016Q2 -0.040006  135807
474  2016Q3  0.040225  135807
475  2016Q4 -0.052560  135807
476  2017Q1 -0.029981  135807
477  2017Q2  0.012593  135807
478  2017Q3 -0.055576  135807
479  2017Q4  0.025783  135807>)
('Key_aum: ', 135807)
       Quarter    Data      ID
185480  2013Q1    0.00  135807
185481  2013Q2    0.00  135807
185482  2013Q3    0.00  135807
185483  2013Q4    0.00  135807
185484  2014Q1    0.00  135807
185485  2014Q2    0.00  135807
185486  2014Q3    0.00  135807
185487  2014Q4    0.00  135807
185488  2015Q1    0.00  135807
185489  2015Q2    0.00  135807
185490  2015Q3    0.00  135807
185491  2015Q4    2.48  135807
185492  2016Q1   62.50  135807
185493  2016Q2   75.27  135807
185494  2016Q3   85.06  135807
185495  2016Q4   82.48  135807
185496  2017Q1   74.86  135807
185497  2017Q2   70.97  135807
185498  2017Q3   82.09  135807
185499  2017Q4  103.40  135807
('Key_nav : ', 135807)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00033229, -0.0240641 , -0.04000594,  0.04022547,
       -0.0525597 , -0.02998082,  0.01259274, -0.05557623,  0.02578318]))
('data 2 :', array([   0.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,
          0.  ,    0.  ,    0.  ,    0.  ,    2.48,   62.5 ,   75.27,
         85.06,   82.48,   74.86,   70.97,   82.09,  103.4 ]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan, -0.00033229, -0.0240641 , -0.04000594,  0.04022547,
       -0.0525597 , -0.02998082,  0.01259274, -0.05557623,  0.02578318]))
('aum table :', <bound method DataFrame.head of        Quarter    Data      ID
185480  2013Q1    0.00  135807
185481  2013Q2    0.00  135807
185482  2013Q3    0.00  135807
185483  2013Q4    0.00  135807
185484  2014Q1    0.00  135807
185485  2014Q2    0.00  135807
185486  2014Q3    0.00  135807
185487  2014Q4    0.00  135807
185488  2015Q1    0.00  135807
185489  2015Q2    0.00  135807
185490  2015Q3    0.00  135807
185491  2015Q4    2.48  135807
185492  2016Q1   62.50  135807
185493  2016Q2   75.27  135807
185494  2016Q3   85.06  135807
185495  2016Q4   82.48  135807
185496  2017Q1   74.86  135807
185497  2017Q2   70.97  135807
185498  2017Q3   82.09  135807
185499  2017Q4  103.40  135807>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
460  2013Q1  0.000000  135807
461  2013Q2  0.000000  135807
462  2013Q3  0.000000  135807
463  2013Q4  0.000000  135807
464  2014Q1  0.000000  135807
465  2014Q2  0.000000  135807
466  2014Q3  0.000000  135807
467  2014Q4  0.000000  135807
468  2015Q1  0.000000  135807
469  2015Q2  0.000000  135807
470  2015Q3  0.000000  135807
471  2015Q4 -0.000332  135807
472  2016Q1 -0.024064  135807
473  2016Q2 -0.040006  135807
474  2016Q3  0.040225  135807
475  2016Q4 -0.052560  135807
476  2017Q1 -0.029981  135807
477  2017Q2  0.012593  135807
478  2017Q3 -0.055576  135807
479  2017Q4  0.025783  135807>)
('Key_aum: ', 135807)
       Quarter    Data      ID
185480  2013Q1    0.00  135807
185481  2013Q2    0.00  135807
185482  2013Q3    0.00  135807
185483  2013Q4    0.00  135807
185484  2014Q1    0.00  135807
185485  2014Q2    0.00  135807
185486  2014Q3    0.00  135807
185487  2014Q4    0.00  135807
185488  2015Q1    0.00  135807
185489  2015Q2    0.00  135807
185490  2015Q3    0.00  135807
185491  2015Q4    2.48  135807
185492  2016Q1   62.50  135807
185493  2016Q2   75.27  135807
185494  2016Q3   85.06  135807
185495  2016Q4   82.48  135807
185496  2017Q1   74.86  135807
185497  2017Q2   70.97  135807
185498  2017Q3   82.09  135807
185499  2017Q4  103.40  135807
('Key_nav : ', 135807)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00033229, -0.0240641 , -0.04000594,  0.04022547,
       -0.0525597 , -0.02998082,  0.01259274, -0.05557623,  0.02578318]))
('data 2 :', array([   0.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,
          0.  ,    0.  ,    0.  ,    0.  ,    2.48,   62.5 ,   75.27,
         85.06,   82.48,   74.86,   70.97,   82.09,  103.4 ]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan, -0.00033229, -0.0240641 , -0.04000594,  0.04022547,
       -0.0525597 , -0.02998082,  0.01259274, -0.05557623,  0.02578318]))
('aum table :', <bound method DataFrame.head of        Quarter    Data      ID
185480  2013Q1    0.00  135807
185481  2013Q2    0.00  135807
185482  2013Q3    0.00  135807
185483  2013Q4    0.00  135807
185484  2014Q1    0.00  135807
185485  2014Q2    0.00  135807
185486  2014Q3    0.00  135807
185487  2014Q4    0.00  135807
185488  2015Q1    0.00  135807
185489  2015Q2    0.00  135807
185490  2015Q3    0.00  135807
185491  2015Q4    2.48  135807
185492  2016Q1   62.50  135807
185493  2016Q2   75.27  135807
185494  2016Q3   85.06  135807
185495  2016Q4   82.48  135807
185496  2017Q1   74.86  135807
185497  2017Q2   70.97  135807
185498  2017Q3   82.09  135807
185499  2017Q4  103.40  135807>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
460  2013Q1  0.000000  135807
461  2013Q2  0.000000  135807
462  2013Q3  0.000000  135807
463  2013Q4  0.000000  135807
464  2014Q1  0.000000  135807
465  2014Q2  0.000000  135807
466  2014Q3  0.000000  135807
467  2014Q4  0.000000  135807
468  2015Q1  0.000000  135807
469  2015Q2  0.000000  135807
470  2015Q3  0.000000  135807
471  2015Q4 -0.000332  135807
472  2016Q1 -0.024064  135807
473  2016Q2 -0.040006  135807
474  2016Q3  0.040225  135807
475  2016Q4 -0.052560  135807
476  2017Q1 -0.029981  135807
477  2017Q2  0.012593  135807
478  2017Q3 -0.055576  135807
479  2017Q4  0.025783  135807>)
('Key_aum: ', 135807)
       Quarter    Data      ID
185480  2013Q1    0.00  135807
185481  2013Q2    0.00  135807
185482  2013Q3    0.00  135807
185483  2013Q4    0.00  135807
185484  2014Q1    0.00  135807
185485  2014Q2    0.00  135807
185486  2014Q3    0.00  135807
185487  2014Q4    0.00  135807
185488  2015Q1    0.00  135807
185489  2015Q2    0.00  135807
185490  2015Q3    0.00  135807
185491  2015Q4    2.48  135807
185492  2016Q1   62.50  135807
185493  2016Q2   75.27  135807
185494  2016Q3   85.06  135807
185495  2016Q4   82.48  135807
185496  2017Q1   74.86  135807
185497  2017Q2   70.97  135807
185498  2017Q3   82.09  135807
185499  2017Q4  103.40  135807
('Key_nav : ', 135807)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00033229, -0.0240641 , -0.04000594,  0.04022547,
       -0.0525597 , -0.02998082,  0.01259274, -0.05557623,  0.02578318]))
('data 2 :', array([   0.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,
          0.  ,    0.  ,    0.  ,    0.  ,    2.48,   62.5 ,   75.27,
         85.06,   82.48,   74.86,   70.97,   82.09,  103.4 ]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan, -0.00033229, -0.0240641 , -0.04000594,  0.04022547,
       -0.0525597 , -0.02998082,  0.01259274, -0.05557623,  0.02578318]))
('aum table :', <bound method DataFrame.head of        Quarter    Data      ID
185480  2013Q1    0.00  135807
185481  2013Q2    0.00  135807
185482  2013Q3    0.00  135807
185483  2013Q4    0.00  135807
185484  2014Q1    0.00  135807
185485  2014Q2    0.00  135807
185486  2014Q3    0.00  135807
185487  2014Q4    0.00  135807
185488  2015Q1    0.00  135807
185489  2015Q2    0.00  135807
185490  2015Q3    0.00  135807
185491  2015Q4    2.48  135807
185492  2016Q1   62.50  135807
185493  2016Q2   75.27  135807
185494  2016Q3   85.06  135807
185495  2016Q4   82.48  135807
185496  2017Q1   74.86  135807
185497  2017Q2   70.97  135807
185498  2017Q3   82.09  135807
185499  2017Q4  103.40  135807>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
460  2013Q1  0.000000  135807
461  2013Q2  0.000000  135807
462  2013Q3  0.000000  135807
463  2013Q4  0.000000  135807
464  2014Q1  0.000000  135807
465  2014Q2  0.000000  135807
466  2014Q3  0.000000  135807
467  2014Q4  0.000000  135807
468  2015Q1  0.000000  135807
469  2015Q2  0.000000  135807
470  2015Q3  0.000000  135807
471  2015Q4 -0.000332  135807
472  2016Q1 -0.024064  135807
473  2016Q2 -0.040006  135807
474  2016Q3  0.040225  135807
475  2016Q4 -0.052560  135807
476  2017Q1 -0.029981  135807
477  2017Q2  0.012593  135807
478  2017Q3 -0.055576  135807
479  2017Q4  0.025783  135807>)
('Key_aum: ', 135807)
       Quarter    Data      ID
185480  2013Q1    0.00  135807
185481  2013Q2    0.00  135807
185482  2013Q3    0.00  135807
185483  2013Q4    0.00  135807
185484  2014Q1    0.00  135807
185485  2014Q2    0.00  135807
185486  2014Q3    0.00  135807
185487  2014Q4    0.00  135807
185488  2015Q1    0.00  135807
185489  2015Q2    0.00  135807
185490  2015Q3    0.00  135807
185491  2015Q4    2.48  135807
185492  2016Q1   62.50  135807
185493  2016Q2   75.27  135807
185494  2016Q3   85.06  135807
185495  2016Q4   82.48  135807
185496  2017Q1   74.86  135807
185497  2017Q2   70.97  135807
185498  2017Q3   82.09  135807
185499  2017Q4  103.40  135807
('Key_nav : ', 135807)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00033229, -0.0240641 , -0.04000594,  0.04022547,
       -0.0525597 , -0.02998082,  0.01259274, -0.05557623,  0.02578318]))
('data 2 :', array([   0.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,
          0.  ,    0.  ,    0.  ,    0.  ,    2.48,   62.5 ,   75.27,
         85.06,   82.48,   74.86,   70.97,   82.09,  103.4 ]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan, -0.00033229, -0.0240641 , -0.04000594,  0.04022547,
       -0.0525597 , -0.02998082,  0.01259274, -0.05557623,  0.02578318]))
('aum table :', <bound method DataFrame.head of        Quarter    Data      ID
185480  2013Q1    0.00  135807
185481  2013Q2    0.00  135807
185482  2013Q3    0.00  135807
185483  2013Q4    0.00  135807
185484  2014Q1    0.00  135807
185485  2014Q2    0.00  135807
185486  2014Q3    0.00  135807
185487  2014Q4    0.00  135807
185488  2015Q1    0.00  135807
185489  2015Q2    0.00  135807

('Key_aum: ', 100806)
      Quarter      Data      ID
58500  2013Q1   7969.56  100806
58501  2013Q2   8355.79  100806
58502  2013Q3   8831.21  100806
58503  2013Q4   9301.56  100806
58504  2014Q1   9867.77  100806
58505  2014Q2   9861.10  100806
58506  2014Q3  11520.01  100806
58507  2014Q4  12588.90  100806
58508  2015Q1  13482.79  100806
58509  2015Q2  14184.47  100806
58510  2015Q3  14862.32  100806
58511  2015Q4  14983.69  100806
58512  2016Q1  13896.42  100806
58513  2016Q2  13547.40  100806
58514  2016Q3  14340.88  100806
58515  2016Q4  13495.22  100806
58516  2017Q1  13068.06  100806
58517  2017Q2  12392.16  100806
58518  2017Q3  12020.27  100806
58519  2017Q4  12357.79  100806
('Key_nav : ', 100806)
('data 1 : ', array([-0.03113557,  0.0681219 ,  0.0519444 ,  0.07044178,  0.06936026,
        0.02331087,  0.18499034,  0.10919395,  0.08927811,  0.04955972,
        0.03254987, -0.01786185, -0.07635764, -0.02299355,  0.06987847,
       -0.03496945, -0.02829112, -0.03065459, -0.02491682,  0.03283156]))
('data 2 :', array([  7969.56,   8355.79,   8831.21,   9301.56,   9867.77,   9861.1 ,
        11520.01,  12588.9 ,  13482.79,  14184.47,  14862.32,  14983.69,
        13896.42,  13547.4 ,  14340.88,  13495.22,  13068.06,  12392.16,
        12020.27,  12357.79]))
('mean : ', array([-0.03113557,  0.0681219 ,  0.0519444 ,  0.07044178,  0.06936026,
        0.02331087,  0.18499034,  0.10919395,  0.08927811,  0.04955972,
        0.03254987, -0.01786185, -0.07635764, -0.02299355,  0.06987847,
       -0.03496945, -0.02829112, -0.03065459, -0.02491682,  0.03283156]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
58500  2013Q1   7969.56  100806
58501  2013Q2   8355.79  100806
58502  2013Q3   8831.21  100806
58503  2013Q4   9301.56  100806
58504  2014Q1   9867.77  100806
58505  2014Q2   9861.10  100806
58506  2014Q3  11520.01  100806
58507  2014Q4  12588.90  100806
58508  2015Q1  13482.79  100806
58509  2015Q2  14184.47  100806
58510  2015Q3  14862.32  100806
58511  2015Q4  14983.69  100806
58512  2016Q1  13896.42  100806
58513  2016Q2  13547.40  100806
58514  2016Q3  14340.88  100806
58515  2016Q4  13495.22  100806
58516  2017Q1  13068.06  100806
58517  2017Q2  12392.16  100806
58518  2017Q3  12020.27  100806
58519  2017Q4  12357.79  100806>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
200  2013Q1 -0.031136  100806
201  2013Q2  0.068122  100806
202  2013Q3  0.051944  100806
203  2013Q4  0.070442  100806
204  2014Q1  0.069360  100806
205  2014Q2  0.023311  100806
206  2014Q3  0.184990  100806
207  2014Q4  0.109194  100806
208  2015Q1  0.089278  100806
209  2015Q2  0.049560  100806
210  2015Q3  0.032550  100806
211  2015Q4 -0.017862  100806
212  2016Q1 -0.076358  100806
213  2016Q2 -0.022994  100806
214  2016Q3  0.069878  100806
215  2016Q4 -0.034969  100806
216  2017Q1 -0.028291  100806
217  2017Q2 -0.030655  100806
218  2017Q3 -0.024917  100806
219  2017Q4  0.032832  100806>)
('Key_aum: ', 100806)
      Quarter      Data      ID
58500  2013Q1   7969.56  100806
58501  2013Q2   8355.79  100806
58502  2013Q3   8831.21  100806
58503  2013Q4   9301.56  100806
58504  2014Q1   9867.77  100806
58505  2014Q2   9861.10  100806
58506  2014Q3  11520.01  100806
58507  2014Q4  12588.90  100806
58508  2015Q1  13482.79  100806
58509  2015Q2  14184.47  100806
58510  2015Q3  14862.32  100806
58511  2015Q4  14983.69  100806
58512  2016Q1  13896.42  100806
58513  2016Q2  13547.40  100806
58514  2016Q3  14340.88  100806
58515  2016Q4  13495.22  100806
58516  2017Q1  13068.06  100806
58517  2017Q2  12392.16  100806
58518  2017Q3  12020.27  100806
58519  2017Q4  12357.79  100806
('Key_nav : ', 100806)
('data 1 : ', array([-0.03113557,  0.0681219 ,  0.0519444 ,  0.07044178,  0.06936026,
        0.02331087,  0.18499034,  0.10919395,  0.08927811,  0.04955972,
        0.03254987, -0.01786185, -0.07635764, -0.02299355,  0.06987847,
       -0.03496945, -0.02829112, -0.03065459, -0.02491682,  0.03283156]))
('data 2 :', array([  7969.56,   8355.79,   8831.21,   9301.56,   9867.77,   9861.1 ,
        11520.01,  12588.9 ,  13482.79,  14184.47,  14862.32,  14983.69,
        13896.42,  13547.4 ,  14340.88,  13495.22,  13068.06,  12392.16,
        12020.27,  12357.79]))
('mean : ', array([-0.03113557,  0.0681219 ,  0.0519444 ,  0.07044178,  0.06936026,
        0.02331087,  0.18499034,  0.10919395,  0.08927811,  0.04955972,
        0.03254987, -0.01786185, -0.07635764, -0.02299355,  0.06987847,
       -0.03496945, -0.02829112, -0.03065459, -0.02491682,  0.03283156]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
58500  2013Q1   7969.56  100806
58501  2013Q2   8355.79  100806
58502  2013Q3   8831.21  100806
58503  2013Q4   9301.56  100806
58504  2014Q1   9867.77  100806
58505  2014Q2   9861.10  100806
58506  2014Q3  11520.01  100806
58507  2014Q4  12588.90  100806
58508  2015Q1  13482.79  100806
58509  2015Q2  14184.47  100806
58510  2015Q3  14862.32  100806
58511  2015Q4  14983.69  100806
58512  2016Q1  13896.42  100806
58513  2016Q2  13547.40  100806
58514  2016Q3  14340.88  100806
58515  2016Q4  13495.22  100806
58516  2017Q1  13068.06  100806
58517  2017Q2  12392.16  100806
58518  2017Q3  12020.27  100806
58519  2017Q4  12357.79  100806>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
200  2013Q1 -0.031136  100806
201  2013Q2  0.068122  100806
202  2013Q3  0.051944  100806
203  2013Q4  0.070442  100806
204  2014Q1  0.069360  100806
205  2014Q2  0.023311  100806
206  2014Q3  0.184990  100806
207  2014Q4  0.109194  100806
208  2015Q1  0.089278  100806
209  2015Q2  0.049560  100806
210  2015Q3  0.032550  100806
211  2015Q4 -0.017862  100806
212  2016Q1 -0.076358  100806
213  2016Q2 -0.022994  100806
214  2016Q3  0.069878  100806
215  2016Q4 -0.034969  100806
216  2017Q1 -0.028291  100806
217  2017Q2 -0.030655  100806
218  2017Q3 -0.024917  100806
219  2017Q4  0.032832  100806>)
('Key_aum: ', 100806)
      Quarter      Data      ID
58500  2013Q1   7969.56  100806
58501  2013Q2   8355.79  100806
58502  2013Q3   8831.21  100806
58503  2013Q4   9301.56  100806
58504  2014Q1   9867.77  100806
58505  2014Q2   9861.10  100806
58506  2014Q3  11520.01  100806
58507  2014Q4  12588.90  100806
58508  2015Q1  13482.79  100806
58509  2015Q2  14184.47  100806
58510  2015Q3  14862.32  100806
58511  2015Q4  14983.69  100806
58512  2016Q1  13896.42  100806
58513  2016Q2  13547.40  100806
58514  2016Q3  14340.88  100806
58515  2016Q4  13495.22  100806
58516  2017Q1  13068.06  100806
58517  2017Q2  12392.16  100806
58518  2017Q3  12020.27  100806
58519  2017Q4  12357.79  100806
('Key_nav : ', 100806)
('data 1 : ', array([-0.03113557,  0.0681219 ,  0.0519444 ,  0.07044178,  0.06936026,
        0.02331087,  0.18499034,  0.10919395,  0.08927811,  0.04955972,
        0.03254987, -0.01786185, -0.07635764, -0.02299355,  0.06987847,
       -0.03496945, -0.02829112, -0.03065459, -0.02491682,  0.03283156]))
('data 2 :', array([  7969.56,   8355.79,   8831.21,   9301.56,   9867.77,   9861.1 ,
        11520.01,  12588.9 ,  13482.79,  14184.47,  14862.32,  14983.69,
        13896.42,  13547.4 ,  14340.88,  13495.22,  13068.06,  12392.16,
        12020.27,  12357.79]))
('mean : ', array([-0.03113557,  0.0681219 ,  0.0519444 ,  0.07044178,  0.06936026,
        0.02331087,  0.18499034,  0.10919395,  0.08927811,  0.04955972,
        0.03254987, -0.01786185, -0.07635764, -0.02299355,  0.06987847,
       -0.03496945, -0.02829112, -0.03065459, -0.02491682,  0.03283156]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
58500  2013Q1   7969.56  100806
58501  2013Q2   8355.79  100806
58502  2013Q3   8831.21  100806
58503  2013Q4   9301.56  100806
58504  2014Q1   9867.77  100806
58505  2014Q2   9861.10  100806
58506  2014Q3  11520.01  100806
58507  2014Q4  12588.90  100806
58508  2015Q1  13482.79  100806
58509  2015Q2  14184.47  100806
58510  2015Q3  14862.32  100806
58511  2015Q4  14983.69  100806
58512  2016Q1  13896.42  100806
58513  2016Q2  13547.40  100806
58514  2016Q3  14340.88  100806
58515  2016Q4  13495.22  100806
58516  2017Q1  13068.06  100806
58517  2017Q2  12392.16  100806
58518  2017Q3  12020.27  100806
58519  2017Q4  12357.79  100806>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
200  2013Q1 -0.031136  100806
201  2013Q2  0.068122  100806
202  2013Q3  0.051944  100806
203  2013Q4  0.070442  100806
204  2014Q1  0.069360  100806
205  2014Q2  0.023311  100806
206  2014Q3  0.184990  100806
207  2014Q4  0.109194  100806
208  2015Q1  0.089278  100806
209  2015Q2  0.049560  100806
210  2015Q3  0.032550  100806
211  2015Q4 -0.017862  100806
212  2016Q1 -0.076358  100806
213  2016Q2 -0.022994  100806
214  2016Q3  0.069878  100806
215  2016Q4 -0.034969  100806
216  2017Q1 -0.028291  100806
217  2017Q2 -0.030655  100806
218  2017Q3 -0.024917  100806
219  2017Q4  0.032832  100806>)
('Key_aum: ', 100806)
      Quarter      Data      ID
58500  2013Q1   7969.56  100806
58501  2013Q2   8355.79  100806
58502  2013Q3   8831.21  100806
58503  2013Q4   9301.56  100806
58504  2014Q1   9867.77  100806
58505  2014Q2   9861.10  100806
58506  2014Q3  11520.01  100806
58507  2014Q4  12588.90  100806
58508  2015Q1  13482.79  100806
58509  2015Q2  14184.47  100806
58510  2015Q3  14862.32  100806
58511  2015Q4  14983.69  100806
58512  2016Q1  13896.42  100806
58513  2016Q2  13547.40  100806
58514  2016Q3  14340.88  100806
58515  2016Q4  13495.22  100806
58516  2017Q1  13068.06  100806
58517  2017Q2  12392.16  100806
58518  2017Q3  12020.27  100806
58519  2017Q4  12357.79  100806
('Key_nav : ', 100806)
('data 1 : ', array([-0.03113557,  0.0681219 ,  0.0519444 ,  0.07044178,  0.06936026,
        0.02331087,  0.18499034,  0.10919395,  0.08927811,  0.04955972,
        0.03254987, -0.01786185, -0.07635764, -0.02299355,  0.06987847,
       -0.03496945, -0.02829112, -0.03065459, -0.02491682,  0.03283156]))
('data 2 :', array([  7969.56,   8355.79,   8831.21,   9301.56,   9867.77,   9861.1 ,
        11520.01,  12588.9 ,  13482.79,  14184.47,  14862.32,  14983.69,
        13896.42,  13547.4 ,  14340.88,  13495.22,  13068.06,  12392.16,
        12020.27,  12357.79]))
('mean : ', array([-0.03113557,  0.0681219 ,  0.0519444 ,  0.07044178,  0.06936026,
        0.02331087,  0.18499034,  0.10919395,  0.08927811,  0.04955972,
        0.03254987, -0.01786185, -0.07635764, -0.02299355,  0.06987847,
       -0.03496945, -0.02829112, -0.03065459, -0.02491682,  0.03283156]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
58500  2013Q1   7969.56  100806
58501  2013Q2   8355.79  100806
58502  2013Q3   8831.21  100806
58503  2013Q4   9301.56  100806
58504  2014Q1   9867.77  100806
58505  2014Q2   9861.10  100806
58506  2014Q3  11520.01  100806
58507  2014Q4  12588.90  100806
58508  2015Q1  13482.79  100806
58509  2015Q2  14184.47  100806
58510  2015Q3  14862.32  100806
58511  2015Q4  14983.69  100806
58512  2016Q1  13896.42  100806
58513  2016Q2  13547.40  100806
58514  2016Q3  14340.88  100806
58515  2016Q4  13495.22  100806
58516  2017Q1  13068.06  100806
58517  2017Q2  12392.16  100806
58518  2017Q3  12020.27  100806
58519  2017Q4  12357.79  100806>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
200  2013Q1 -0.031136  100806
201  2013Q2  0.068122  100806
202  2013Q3  0.051944  100806
203  2013Q4  0.070442  100806
204  2014Q1  0.069360  100806
205  2014Q2  0.023311  100806
206  2014Q3  0.184990  100806
207  2014Q4  0.109194  100806
208  2015Q1  0.089278  100806
209  2015Q2  0.049560  100806
210  2015Q3  0.032550  100806
211  2015Q4 -0.017862  100806
212  2016Q1 -0.076358  100806
213  2016Q2 -0.022994  100806
214  2016Q3  0.069878  100806
215  2016Q4 -0.034969  100806
216  2017Q1 -0.028291  100806
217  2017Q2 -0.030655  100806
218  2017Q3 -0.024917  100806
219  2017Q4  0.032832  100806>)
('Key_aum: ', 100806)
      Quarter      Data      ID
58500  2013Q1   7969.56  100806
58501  2013Q2   8355.79  100806
58502  2013Q3   8831.21  100806
58503  2013Q4   9301.56  100806
58504  2014Q1   9867.77  100806
58505  2014Q2   9861.10  100806
58506  2014Q3  11520.01  100806
58507  2014Q4  12588.90  100806
58508  2015Q1  13482.79  100806
58509  2015Q2  14184.47  100806
58510  2015Q3  14862.32  100806
58511  2015Q4  14983.69  100806
58512  2016Q1  13896.42  100806
58513  2016Q2  13547.40  100806
58514  2016Q3  14340.88  100806
58515  2016Q4  13495.22  100806
58516  2017Q1  13068.06  100806
58517  2017Q2  12392.16  100806
58518  2017Q3  12020.27  100806
58519  2017Q4  12357.79  100806
('Key_nav : ', 100806)
('data 1 : ', array([-0.03113557,  0.0681219 ,  0.0519444 ,  0.07044178,  0.06936026,
        0.02331087,  0.18499034,  0.10919395,  0.08927811,  0.04955972,
        0.03254987, -0.01786185, -0.07635764, -0.02299355,  0.06987847,
       -0.03496945, -0.02829112, -0.03065459, -0.02491682,  0.03283156]))
('data 2 :', array([  7969.56,   8355.79,   8831.21,   9301.56,   9867.77,   9861.1 ,
        11520.01,  12588.9 ,  13482.79,  14184.47,  14862.32,  14983.69,
        13896.42,  13547.4 ,  14340.88,  13495.22,  13068.06,  12392.16,
        12020.27,  12357.79]))
('mean : ', array([-0.03113557,  0.0681219 ,  0.0519444 ,  0.07044178,  0.06936026,
        0.02331087,  0.18499034,  0.10919395,  0.08927811,  0.04955972,
        0.03254987, -0.01786185, -0.07635764, -0.02299355,  0.06987847,
       -0.03496945, -0.02829112, -0.03065459, -0.02491682,  0.03283156]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
58500  2013Q1   7969.56  100806
58501  2013Q2   8355.79  100806
58502  2013Q3   8831.21  100806
58503  2013Q4   9301.56  100806
58504  2014Q1   9867.77  100806
58505  2014Q2   9861.10  100806
58506  2014Q3  11520.01  100806
58507  2014Q4  12588.90  100806
58508  2015Q1  13482.79  100806
58509  2015Q2  14184.47  100806
58510  2015Q3  14862.32  100806
58511  2015Q4  14983.69  100806
58512  2016Q1  13896.42  100806
58513  2016Q2  13547.40  100806
58514  2016Q3  14340.88  100806
58515  2016Q4  13495.22  100806
58516  2017Q1  13068.06  100806
58517  2017Q2  12392.16  100806
58518  2017Q3  12020.27  100806
58519  2017Q4  12357.79  100806>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
200  2013Q1 -0.031136  100806
201  2013Q2  0.068122  100806
202  2013Q3  0.051944  100806
203  2013Q4  0.070442  100806
204  2014Q1  0.069360  100806
205  2014Q2  0.023311  100806
206  2014Q3  0.184990  100806
207  2014Q4  0.109194  100806
208  2015Q1  0.089278  100806
209  2015Q2  0.049560  100806
210  2015Q3  0.032550  100806
211  2015Q4 -0.017862  100806
212  2016Q1 -0.076358  100806
213  2016Q2 -0.022994  100806
214  2016Q3  0.069878  100806
215  2016Q4 -0.034969  100806
216  2017Q1 -0.028291  100806
217  2017Q2 -0.030655  100806
218  2017Q3 -0.024917  100806
219  2017Q4  0.032832  100806>)
('Key_aum: ', 100806)
      Quarter      Data      ID
58500  2013Q1   7969.56  100806
58501  2013Q2   8355.79  100806
58502  2013Q3   8831.21  100806
58503  2013Q4   9301.56  100806
58504  2014Q1   9867.77  100806
58505  2014Q2   9861.10  100806
58506  2014Q3  11520.01  100806
58507  2014Q4  12588.90  100806
58508  2015Q1  13482.79  100806
58509  2015Q2  14184.47  100806
58510  2015Q3  14862.32  100806
58511  2015Q4  14983.69  100806
58512  2016Q1  13896.42  100806
58513  2016Q2  13547.40  100806
58514  2016Q3  14340.88  100806
58515  2016Q4  13495.22  100806
58516  2017Q1  13068.06  100806
58517  2017Q2  12392.16  100806
58518  2017Q3  12020.27  100806
58519  2017Q4  12357.79  100806
('Key_nav : ', 100806)
('data 1 : ', array([-0.03113557,  0.0681219 ,  0.0519444 ,  0.07044178,  0.06936026,
        0.02331087,  0.18499034,  0.10919395,  0.08927811,  0.04955972,
        0.03254987, -0.01786185, -0.07635764, -0.02299355,  0.06987847,
       -0.03496945, -0.02829112, -0.03065459, -0.02491682,  0.03283156]))
('data 2 :', array([  7969.56,   8355.79,   8831.21,   9301.56,   9867.77,   9861.1 ,
        11520.01,  12588.9 ,  13482.79,  14184.47,  14862.32,  14983.69,
        13896.42,  13547.4 ,  14340.88,  13495.22,  13068.06,  12392.16,
        12020.27,  12357.79]))
('mean : ', array([-0.03113557,  0.0681219 ,  0.0519444 ,  0.07044178,  0.06936026,
        0.02331087,  0.18499034,  0.10919395,  0.08927811,  0.04955972,
        0.03254987, -0.01786185, -0.07635764, -0.02299355,  0.06987847,
       -0.03496945, -0.02829112, -0.03065459, -0.02491682,  0.03283156]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
58500  2013Q1   7969.56  100806
58501  2013Q2   8355.79  100806
58502  2013Q3   8831.21  100806
58503  2013Q4   9301.56  100806
58504  2014Q1   9867.77  100806
58505  2014Q2   9861.10  100806
58506  2014Q3  11520.01  100806
58507  2014Q4  12588.90  100806
58508  2015Q1  13482.79  100806
58509  2015Q2  14184.47  100806
58510  2015Q3  14862.32  100806
58511  2015Q4  14983.69  100806
58512  2016Q1  13896.42  100806
58513  2016Q2  13547.40  100806
58514  2016Q3  14340.88  100806
58515  2016Q4  13495.22  100806
58516  2017Q1  13068.06  100806
58517  2017Q2  12392.16  100806
58518  2017Q3  12020.27  100806
58519  2017Q4  12357.79  100806>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
200  2013Q1 -0.031136  100806
201  2013Q2  0.068122  100806
202  2013Q3  0.051944  100806
203  2013Q4  0.070442  100806
204  2014Q1  0.069360  100806
205  2014Q2  0.023311  100806
206  2014Q3  0.184990  100806
207  2014Q4  0.109194  100806
208  2015Q1  0.089278  100806
209  2015Q2  0.049560  100806
210  2015Q3  0.032550  100806
211  2015Q4 -0.017862  100806
212  2016Q1 -0.076358  100806
213  2016Q2 -0.022994  100806
214  2016Q3  0.069878  100806
215  2016Q4 -0.034969  100806
216  2017Q1 -0.028291  100806
217  2017Q2 -0.030655  100806
218  2017Q3 -0.024917  100806
219  2017Q4  0.032832  100806>)
('Key_aum: ', 100806)
      Quarter      Data      ID
58500  2013Q1   7969.56  100806
58501  2013Q2   8355.79  100806
58502  2013Q3   8831.21  100806
58503  2013Q4   9301.56  100806
58504  2014Q1   9867.77  100806
58505  2014Q2   9861.10  100806
58506  2014Q3  11520.01  100806
58507  2014Q4  12588.90  100806
58508  2015Q1  13482.79  100806
58509  2015Q2  14184.47  100806
58510  2015Q3  14862.32  100806
58511  2015Q4  14983.69  100806
58512  2016Q1  13896.42  100806
58513  2016Q2  13547.40  100806
58514  2016Q3  14340.88  100806
58515  2016Q4  13495.22  100806
58516  2017Q1  13068.06  100806
58517  2017Q2  12392.16  100806
58518  2017Q3  12020.27  100806
58519  2017Q4  12357.79  100806
('Key_nav : ', 100806)
('data 1 : ', array([-0.03113557,  0.0681219 ,  0.0519444 ,  0.07044178,  0.06936026,
        0.02331087,  0.18499034,  0.10919395,  0.08927811,  0.04955972,
        0.03254987, -0.01786185, -0.07635764, -0.02299355,  0.06987847,
       -0.03496945, -0.02829112, -0.03065459, -0.02491682,  0.03283156]))
('data 2 :', array([  7969.56,   8355.79,   8831.21,   9301.56,   9867.77,   9861.1 ,
        11520.01,  12588.9 ,  13482.79,  14184.47,  14862.32,  14983.69,
        13896.42,  13547.4 ,  14340.88,  13495.22,  13068.06,  12392.16,
        12020.27,  12357.79]))
('mean : ', array([-0.03113557,  0.0681219 ,  0.0519444 ,  0.07044178,  0.06936026,
        0.02331087,  0.18499034,  0.10919395,  0.08927811,  0.04955972,
        0.03254987, -0.01786185, -0.07635764, -0.02299355,  0.06987847,
       -0.03496945, -0.02829112, -0.03065459, -0.02491682,  0.03283156]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
58500  2013Q1   7969.56  100806
58501  2013Q2   8355.79  100806
58502  2013Q3   8831.21  100806
58503  2013Q4   9301.56  100806
58504  2014Q1   9867.77  100806
58505  2014Q2   9861.10  100806
58506  2014Q3  11520.01  100806
58507  2014Q4  12588.90  100806
58508  2015Q1  13482.79  100806
58509  2015Q2  14184.47  100806
58510  2015Q3  14862.32  100806
58511  2015Q4  14983.69  100806

      Quarter      Data      ID
58500  2013Q1   7969.56  100806
58501  2013Q2   8355.79  100806
58502  2013Q3   8831.21  100806
58503  2013Q4   9301.56  100806
58504  2014Q1   9867.77  100806
58505  2014Q2   9861.10  100806
58506  2014Q3  11520.01  100806
58507  2014Q4  12588.90  100806
58508  2015Q1  13482.79  100806
58509  2015Q2  14184.47  100806
58510  2015Q3  14862.32  100806
58511  2015Q4  14983.69  100806
58512  2016Q1  13896.42  100806
58513  2016Q2  13547.40  100806
58514  2016Q3  14340.88  100806
58515  2016Q4  13495.22  100806
58516  2017Q1  13068.06  100806
58517  2017Q2  12392.16  100806
58518  2017Q3  12020.27  100806
58519  2017Q4  12357.79  100806
('Key_nav : ', 100806)
('data 1 : ', array([-0.03113557,  0.0681219 ,  0.0519444 ,  0.07044178,  0.06936026,
        0.02331087,  0.18499034,  0.10919395,  0.08927811,  0.04955972,
        0.03254987, -0.01786185, -0.07635764, -0.02299355,  0.06987847,
       -0.03496945, -0.02829112, -0.03065459, -0.02491682,  0.03283156]))
('data 2 :', array([  7969.56,   8355.79,   8831.21,   9301.56,   9867.77,   9861.1 ,
        11520.01,  12588.9 ,  13482.79,  14184.47,  14862.32,  14983.69,
        13896.42,  13547.4 ,  14340.88,  13495.22,  13068.06,  12392.16,
        12020.27,  12357.79]))
('mean : ', array([-0.03113557,  0.0681219 ,  0.0519444 ,  0.07044178,  0.06936026,
        0.02331087,  0.18499034,  0.10919395,  0.08927811,  0.04955972,
        0.03254987, -0.01786185, -0.07635764, -0.02299355,  0.06987847,
       -0.03496945, -0.02829112, -0.03065459, -0.02491682,  0.03283156]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
58500  2013Q1   7969.56  100806
58501  2013Q2   8355.79  100806
58502  2013Q3   8831.21  100806
58503  2013Q4   9301.56  100806
58504  2014Q1   9867.77  100806
58505  2014Q2   9861.10  100806
58506  2014Q3  11520.01  100806
58507  2014Q4  12588.90  100806
58508  2015Q1  13482.79  100806
58509  2015Q2  14184.47  100806
58510  2015Q3  14862.32  100806
58511  2015Q4  14983.69  100806
58512  2016Q1  13896.42  100806
58513  2016Q2  13547.40  100806
58514  2016Q3  14340.88  100806
58515  2016Q4  13495.22  100806
58516  2017Q1  13068.06  100806
58517  2017Q2  12392.16  100806
58518  2017Q3  12020.27  100806
58519  2017Q4  12357.79  100806>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
200  2013Q1 -0.031136  100806
201  2013Q2  0.068122  100806
202  2013Q3  0.051944  100806
203  2013Q4  0.070442  100806
204  2014Q1  0.069360  100806
205  2014Q2  0.023311  100806
206  2014Q3  0.184990  100806
207  2014Q4  0.109194  100806
208  2015Q1  0.089278  100806
209  2015Q2  0.049560  100806
210  2015Q3  0.032550  100806
211  2015Q4 -0.017862  100806
212  2016Q1 -0.076358  100806
213  2016Q2 -0.022994  100806
214  2016Q3  0.069878  100806
215  2016Q4 -0.034969  100806
216  2017Q1 -0.028291  100806
217  2017Q2 -0.030655  100806
218  2017Q3 -0.024917  100806
219  2017Q4  0.032832  100806>)
('Key_aum: ', 100806)
      Quarter      Data      ID
58500  2013Q1   7969.56  100806
58501  2013Q2   8355.79  100806
58502  2013Q3   8831.21  100806
58503  2013Q4   9301.56  100806
58504  2014Q1   9867.77  100806
58505  2014Q2   9861.10  100806
58506  2014Q3  11520.01  100806
58507  2014Q4  12588.90  100806
58508  2015Q1  13482.79  100806
58509  2015Q2  14184.47  100806
58510  2015Q3  14862.32  100806
58511  2015Q4  14983.69  100806
58512  2016Q1  13896.42  100806
58513  2016Q2  13547.40  100806
58514  2016Q3  14340.88  100806
58515  2016Q4  13495.22  100806
58516  2017Q1  13068.06  100806
58517  2017Q2  12392.16  100806
58518  2017Q3  12020.27  100806
58519  2017Q4  12357.79  100806
('Key_nav : ', 100806)
('data 1 : ', array([-0.03113557,  0.0681219 ,  0.0519444 ,  0.07044178,  0.06936026,
        0.02331087,  0.18499034,  0.10919395,  0.08927811,  0.04955972,
        0.03254987, -0.01786185, -0.07635764, -0.02299355,  0.06987847,
       -0.03496945, -0.02829112, -0.03065459, -0.02491682,  0.03283156]))
('data 2 :', array([  7969.56,   8355.79,   8831.21,   9301.56,   9867.77,   9861.1 ,
        11520.01,  12588.9 ,  13482.79,  14184.47,  14862.32,  14983.69,
        13896.42,  13547.4 ,  14340.88,  13495.22,  13068.06,  12392.16,
        12020.27,  12357.79]))
('mean : ', array([-0.03113557,  0.0681219 ,  0.0519444 ,  0.07044178,  0.06936026,
        0.02331087,  0.18499034,  0.10919395,  0.08927811,  0.04955972,
        0.03254987, -0.01786185, -0.07635764, -0.02299355,  0.06987847,
       -0.03496945, -0.02829112, -0.03065459, -0.02491682,  0.03283156]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
58500  2013Q1   7969.56  100806
58501  2013Q2   8355.79  100806
58502  2013Q3   8831.21  100806
58503  2013Q4   9301.56  100806
58504  2014Q1   9867.77  100806
58505  2014Q2   9861.10  100806
58506  2014Q3  11520.01  100806
58507  2014Q4  12588.90  100806
58508  2015Q1  13482.79  100806
58509  2015Q2  14184.47  100806
58510  2015Q3  14862.32  100806
58511  2015Q4  14983.69  100806
58512  2016Q1  13896.42  100806
58513  2016Q2  13547.40  100806
58514  2016Q3  14340.88  100806
58515  2016Q4  13495.22  100806
58516  2017Q1  13068.06  100806
58517  2017Q2  12392.16  100806
58518  2017Q3  12020.27  100806
58519  2017Q4  12357.79  100806>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
200  2013Q1 -0.031136  100806
201  2013Q2  0.068122  100806
202  2013Q3  0.051944  100806
203  2013Q4  0.070442  100806
204  2014Q1  0.069360  100806
205  2014Q2  0.023311  100806
206  2014Q3  0.184990  100806
207  2014Q4  0.109194  100806
208  2015Q1  0.089278  100806
209  2015Q2  0.049560  100806
210  2015Q3  0.032550  100806
211  2015Q4 -0.017862  100806
212  2016Q1 -0.076358  100806
213  2016Q2 -0.022994  100806
214  2016Q3  0.069878  100806
215  2016Q4 -0.034969  100806
216  2017Q1 -0.028291  100806
217  2017Q2 -0.030655  100806
218  2017Q3 -0.024917  100806
219  2017Q4  0.032832  100806>)
('Key_aum: ', 100806)
      Quarter      Data      ID
58500  2013Q1   7969.56  100806
58501  2013Q2   8355.79  100806
58502  2013Q3   8831.21  100806
58503  2013Q4   9301.56  100806
58504  2014Q1   9867.77  100806
58505  2014Q2   9861.10  100806
58506  2014Q3  11520.01  100806
58507  2014Q4  12588.90  100806
58508  2015Q1  13482.79  100806
58509  2015Q2  14184.47  100806
58510  2015Q3  14862.32  100806
58511  2015Q4  14983.69  100806
58512  2016Q1  13896.42  100806
58513  2016Q2  13547.40  100806
58514  2016Q3  14340.88  100806
58515  2016Q4  13495.22  100806
58516  2017Q1  13068.06  100806
58517  2017Q2  12392.16  100806
58518  2017Q3  12020.27  100806
58519  2017Q4  12357.79  100806
('Key_nav : ', 100806)
('data 1 : ', array([-0.03113557,  0.0681219 ,  0.0519444 ,  0.07044178,  0.06936026,
        0.02331087,  0.18499034,  0.10919395,  0.08927811,  0.04955972,
        0.03254987, -0.01786185, -0.07635764, -0.02299355,  0.06987847,
       -0.03496945, -0.02829112, -0.03065459, -0.02491682,  0.03283156]))
('data 2 :', array([  7969.56,   8355.79,   8831.21,   9301.56,   9867.77,   9861.1 ,
        11520.01,  12588.9 ,  13482.79,  14184.47,  14862.32,  14983.69,
        13896.42,  13547.4 ,  14340.88,  13495.22,  13068.06,  12392.16,
        12020.27,  12357.79]))
('mean : ', array([-0.03113557,  0.0681219 ,  0.0519444 ,  0.07044178,  0.06936026,
        0.02331087,  0.18499034,  0.10919395,  0.08927811,  0.04955972,
        0.03254987, -0.01786185, -0.07635764, -0.02299355,  0.06987847,
       -0.03496945, -0.02829112, -0.03065459, -0.02491682,  0.03283156]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
58500  2013Q1   7969.56  100806
58501  2013Q2   8355.79  100806
58502  2013Q3   8831.21  100806
58503  2013Q4   9301.56  100806
58504  2014Q1   9867.77  100806
58505  2014Q2   9861.10  100806
58506  2014Q3  11520.01  100806
58507  2014Q4  12588.90  100806
58508  2015Q1  13482.79  100806
58509  2015Q2  14184.47  100806
58510  2015Q3  14862.32  100806
58511  2015Q4  14983.69  100806
58512  2016Q1  13896.42  100806
58513  2016Q2  13547.40  100806
58514  2016Q3  14340.88  100806
58515  2016Q4  13495.22  100806
58516  2017Q1  13068.06  100806
58517  2017Q2  12392.16  100806
58518  2017Q3  12020.27  100806
58519  2017Q4  12357.79  100806>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
200  2013Q1 -0.031136  100806
201  2013Q2  0.068122  100806
202  2013Q3  0.051944  100806
203  2013Q4  0.070442  100806
204  2014Q1  0.069360  100806
205  2014Q2  0.023311  100806
206  2014Q3  0.184990  100806
207  2014Q4  0.109194  100806
208  2015Q1  0.089278  100806
209  2015Q2  0.049560  100806
210  2015Q3  0.032550  100806
211  2015Q4 -0.017862  100806
212  2016Q1 -0.076358  100806
213  2016Q2 -0.022994  100806
214  2016Q3  0.069878  100806
215  2016Q4 -0.034969  100806
216  2017Q1 -0.028291  100806
217  2017Q2 -0.030655  100806
218  2017Q3 -0.024917  100806
219  2017Q4  0.032832  100806>)
('Key_aum: ', 100806)
      Quarter      Data      ID
58500  2013Q1   7969.56  100806
58501  2013Q2   8355.79  100806
58502  2013Q3   8831.21  100806
58503  2013Q4   9301.56  100806
58504  2014Q1   9867.77  100806
58505  2014Q2   9861.10  100806
58506  2014Q3  11520.01  100806
58507  2014Q4  12588.90  100806
58508  2015Q1  13482.79  100806
58509  2015Q2  14184.47  100806
58510  2015Q3  14862.32  100806
58511  2015Q4  14983.69  100806
58512  2016Q1  13896.42  100806
58513  2016Q2  13547.40  100806
58514  2016Q3  14340.88  100806
58515  2016Q4  13495.22  100806
58516  2017Q1  13068.06  100806
58517  2017Q2  12392.16  100806
58518  2017Q3  12020.27  100806
58519  2017Q4  12357.79  100806
('Key_nav : ', 100806)
('data 1 : ', array([-0.03113557,  0.0681219 ,  0.0519444 ,  0.07044178,  0.06936026,
        0.02331087,  0.18499034,  0.10919395,  0.08927811,  0.04955972,
        0.03254987, -0.01786185, -0.07635764, -0.02299355,  0.06987847,
       -0.03496945, -0.02829112, -0.03065459, -0.02491682,  0.03283156]))
('data 2 :', array([  7969.56,   8355.79,   8831.21,   9301.56,   9867.77,   9861.1 ,
        11520.01,  12588.9 ,  13482.79,  14184.47,  14862.32,  14983.69,
        13896.42,  13547.4 ,  14340.88,  13495.22,  13068.06,  12392.16,
        12020.27,  12357.79]))
('mean : ', array([-0.03113557,  0.0681219 ,  0.0519444 ,  0.07044178,  0.06936026,
        0.02331087,  0.18499034,  0.10919395,  0.08927811,  0.04955972,
        0.03254987, -0.01786185, -0.07635764, -0.02299355,  0.06987847,
       -0.03496945, -0.02829112, -0.03065459, -0.02491682,  0.03283156]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
58500  2013Q1   7969.56  100806
58501  2013Q2   8355.79  100806
58502  2013Q3   8831.21  100806
58503  2013Q4   9301.56  100806
58504  2014Q1   9867.77  100806
58505  2014Q2   9861.10  100806
58506  2014Q3  11520.01  100806
58507  2014Q4  12588.90  100806
58508  2015Q1  13482.79  100806
58509  2015Q2  14184.47  100806
58510  2015Q3  14862.32  100806
58511  2015Q4  14983.69  100806
58512  2016Q1  13896.42  100806
58513  2016Q2  13547.40  100806
58514  2016Q3  14340.88  100806
58515  2016Q4  13495.22  100806
58516  2017Q1  13068.06  100806
58517  2017Q2  12392.16  100806
58518  2017Q3  12020.27  100806
58519  2017Q4  12357.79  100806>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
200  2013Q1 -0.031136  100806
201  2013Q2  0.068122  100806
202  2013Q3  0.051944  100806
203  2013Q4  0.070442  100806
204  2014Q1  0.069360  100806
205  2014Q2  0.023311  100806
206  2014Q3  0.184990  100806
207  2014Q4  0.109194  100806
208  2015Q1  0.089278  100806
209  2015Q2  0.049560  100806
210  2015Q3  0.032550  100806
211  2015Q4 -0.017862  100806
212  2016Q1 -0.076358  100806
213  2016Q2 -0.022994  100806
214  2016Q3  0.069878  100806
215  2016Q4 -0.034969  100806
216  2017Q1 -0.028291  100806
217  2017Q2 -0.030655  100806
218  2017Q3 -0.024917  100806
219  2017Q4  0.032832  100806>)
('Key_aum: ', 100806)
      Quarter      Data      ID
58500  2013Q1   7969.56  100806
58501  2013Q2   8355.79  100806
58502  2013Q3   8831.21  100806
58503  2013Q4   9301.56  100806
58504  2014Q1   9867.77  100806
58505  2014Q2   9861.10  100806
58506  2014Q3  11520.01  100806
58507  2014Q4  12588.90  100806
58508  2015Q1  13482.79  100806
58509  2015Q2  14184.47  100806
58510  2015Q3  14862.32  100806
58511  2015Q4  14983.69  100806
58512  2016Q1  13896.42  100806
58513  2016Q2  13547.40  100806
58514  2016Q3  14340.88  100806
58515  2016Q4  13495.22  100806
58516  2017Q1  13068.06  100806
58517  2017Q2  12392.16  100806
58518  2017Q3  12020.27  100806
58519  2017Q4  12357.79  100806
('Key_nav : ', 100806)
('data 1 : ', array([-0.03113557,  0.0681219 ,  0.0519444 ,  0.07044178,  0.06936026,
        0.02331087,  0.18499034,  0.10919395,  0.08927811,  0.04955972,
        0.03254987, -0.01786185, -0.07635764, -0.02299355,  0.06987847,
       -0.03496945, -0.02829112, -0.03065459, -0.02491682,  0.03283156]))
('data 2 :', array([  7969.56,   8355.79,   8831.21,   9301.56,   9867.77,   9861.1 ,
        11520.01,  12588.9 ,  13482.79,  14184.47,  14862.32,  14983.69,
        13896.42,  13547.4 ,  14340.88,  13495.22,  13068.06,  12392.16,
        12020.27,  12357.79]))
('mean : ', array([-0.03113557,  0.0681219 ,  0.0519444 ,  0.07044178,  0.06936026,
        0.02331087,  0.18499034,  0.10919395,  0.08927811,  0.04955972,
        0.03254987, -0.01786185, -0.07635764, -0.02299355,  0.06987847,
       -0.03496945, -0.02829112, -0.03065459, -0.02491682,  0.03283156]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
58500  2013Q1   7969.56  100806
58501  2013Q2   8355.79  100806
58502  2013Q3   8831.21  100806
58503  2013Q4   9301.56  100806
58504  2014Q1   9867.77  100806
58505  2014Q2   9861.10  100806
58506  2014Q3  11520.01  100806
58507  2014Q4  12588.90  100806
58508  2015Q1  13482.79  100806
58509  2015Q2  14184.47  100806
58510  2015Q3  14862.32  100806
58511  2015Q4  14983.69  100806
58512  2016Q1  13896.42  100806
58513  2016Q2  13547.40  100806
58514  2016Q3  14340.88  100806
58515  2016Q4  13495.22  100806
58516  2017Q1  13068.06  100806
58517  2017Q2  12392.16  100806
58518  2017Q3  12020.27  100806
58519  2017Q4  12357.79  100806>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
200  2013Q1 -0.031136  100806
201  2013Q2  0.068122  100806
202  2013Q3  0.051944  100806
203  2013Q4  0.070442  100806
204  2014Q1  0.069360  100806
205  2014Q2  0.023311  100806
206  2014Q3  0.184990  100806
207  2014Q4  0.109194  100806
208  2015Q1  0.089278  100806
209  2015Q2  0.049560  100806
210  2015Q3  0.032550  100806
211  2015Q4 -0.017862  100806
212  2016Q1 -0.076358  100806
213  2016Q2 -0.022994  100806
214  2016Q3  0.069878  100806
215  2016Q4 -0.034969  100806
216  2017Q1 -0.028291  100806
217  2017Q2 -0.030655  100806
218  2017Q3 -0.024917  100806
219  2017Q4  0.032832  100806>)
('Key_aum: ', 100806)
      Quarter      Data      ID
58500  2013Q1   7969.56  100806
58501  2013Q2   8355.79  100806
58502  2013Q3   8831.21  100806
58503  2013Q4   9301.56  100806
58504  2014Q1   9867.77  100806
58505  2014Q2   9861.10  100806
58506  2014Q3  11520.01  100806
58507  2014Q4  12588.90  100806
58508  2015Q1  13482.79  100806
58509  2015Q2  14184.47  100806
58510  2015Q3  14862.32  100806
58511  2015Q4  14983.69  100806
58512  2016Q1  13896.42  100806
58513  2016Q2  13547.40  100806
58514  2016Q3  14340.88  100806
58515  2016Q4  13495.22  100806
58516  2017Q1  13068.06  100806
58517  2017Q2  12392.16  100806
58518  2017Q3  12020.27  100806
58519  2017Q4  12357.79  100806
('Key_nav : ', 100806)
('data 1 : ', array([-0.03113557,  0.0681219 ,  0.0519444 ,  0.07044178,  0.06936026,
        0.02331087,  0.18499034,  0.10919395,  0.08927811,  0.04955972,
        0.03254987, -0.01786185, -0.07635764, -0.02299355,  0.06987847,
       -0.03496945, -0.02829112, -0.03065459, -0.02491682,  0.03283156]))
('data 2 :', array([  7969.56,   8355.79,   8831.21,   9301.56,   9867.77,   9861.1 ,
        11520.01,  12588.9 ,  13482.79,  14184.47,  14862.32,  14983.69,
        13896.42,  13547.4 ,  14340.88,  13495.22,  13068.06,  12392.16,
        12020.27,  12357.79]))
('mean : ', array([-0.03113557,  0.0681219 ,  0.0519444 ,  0.07044178,  0.06936026,
        0.02331087,  0.18499034,  0.10919395,  0.08927811,  0.04955972,
        0.03254987, -0.01786185, -0.07635764, -0.02299355,  0.06987847,
       -0.03496945, -0.02829112, -0.03065459, -0.02491682,  0.03283156]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
58500  2013Q1   7969.56  100806
58501  2013Q2   8355.79  100806
58502  2013Q3   8831.21  100806
58503  2013Q4   9301.56  100806
58504  2014Q1   9867.77  100806
58505  2014Q2   9861.10  100806
58506  2014Q3  11520.01  100806
58507  2014Q4  12588.90  100806
58508  2015Q1  13482.79  100806
58509  2015Q2  14184.47  100806
58510  2015Q3  14862.32  100806
58511  2015Q4  14983.69  100806
58512  2016Q1  13896.42  100806
58513  2016Q2  13547.40  100806
58514  2016Q3  14340.88  100806
58515  2016Q4  13495.22  100806
58516  2017Q1  13068.06  100806
58517  2017Q2  12392.16  100806
58518  2017Q3  12020.27  100806
58519  2017Q4  12357.79  100806>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
200  2013Q1 -0.031136  100806
201  2013Q2  0.068122  100806
202  2013Q3  0.051944  100806
203  2013Q4  0.070442  100806
204  2014Q1  0.069360  100806
205  2014Q2  0.023311  100806
206  2014Q3  0.184990  100806
207  2014Q4  0.109194  100806
208  2015Q1  0.089278  100806
209  2015Q2  0.049560  100806
210  2015Q3  0.032550  100806
211  2015Q4 -0.017862  100806
212  2016Q1 -0.076358  100806
213  2016Q2 -0.022994  100806
214  2016Q3  0.069878  100806
215  2016Q4 -0.034969  100806
216  2017Q1 -0.028291  100806
217  2017Q2 -0.030655  100806
218  2017Q3 -0.024917  100806
219  2017Q4  0.032832  100806>)
('Key_aum: ', 100806)
      Quarter      Data      ID
58500  2013Q1   7969.56  100806
58501  2013Q2   8355.79  100806
58502  2013Q3   8831.21  100806
58503  2013Q4   9301.56  100806
58504  2014Q1   9867.77  100806
58505  2014Q2   9861.10  100806
58506  2014Q3  11520.01  100806
58507  2014Q4  12588.90  100806
58508  2015Q1  13482.79  100806
58509  2015Q2  14184.47  100806
58510  2015Q3  14862.32  100806
58511  2015Q4  14983.69  100806
58512  2016Q1  13896.42  100806
58513  2016Q2  13547.40  100806
58514  2016Q3  14340.88  100806
58515  2016Q4  13495.22  100806
58516  2017Q1  13068.06  100806
58517  2017Q2  12392.16  100806
58518  2017Q3  12020.27  100806
58519  2017Q4  12357.79  100806
('Key_nav : ', 100806)
('data 1 : ', array([-0.03113557,  0.0681219 ,  0.0519444 ,  0.07044178,  0.06936026,
        0.02331087,  0.18499034,  0.10919395,  0.08927811,  0.04955972,
        0.03254987, -0.01786185, -0.07635764, -0.02299355,  0.06987847,
       -0.03496945, -0.02829112, -0.03065459, -0.02491682,  0.03283156]))
('data 2 :', array([  7969.56,   8355.79,   8831.21,   9301.56,   9867.77,   9861.1 ,
        11520.01,  12588.9 ,  13482.79,  14184.47,  14862.32,  14983.69,
        13896.42,  13547.4 ,  14340.88,  13495.22,  13068.06,  12392.16,
        12020.27,  12357.79]))
('mean : ', array([-0.03113557,  0.0681219 ,  0.0519444 ,  0.07044178,  0.06936026,
        0.02331087,  0.18499034,  0.10919395,  0.08927811,  0.04955972,
        0.03254987, -0.01786185, -0.07635764, -0.02299355,  0.06987847,
       -0.03496945, -0.02829112, -0.03065459, -0.02491682,  0.03283156]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
58500  2013Q1   7969.56  100806
58501  2013Q2   8355.79  100806
58502  2013Q3   8831.21  100806
58503  2013Q4   9301.56  100806
58504  2014Q1   9867.77  100806
58505  2014Q2   9861.10  100806
58506  2014Q3  11520.01  100806
58507  2014Q4  12588.90  100806
58508  2015Q1  13482.79  100806
58509  2015Q2  14184.47  100806
58510  2015Q3  14862.32  100806
58511  2015Q4  14983.69  100806
58512  2016Q1  13896.42  100806

('Key_nav : ', 100806)
('data 1 : ', array([-0.03113557,  0.0681219 ,  0.0519444 ,  0.07044178,  0.06936026,
        0.02331087,  0.18499034,  0.10919395,  0.08927811,  0.04955972,
        0.03254987, -0.01786185, -0.07635764, -0.02299355,  0.06987847,
       -0.03496945, -0.02829112, -0.03065459, -0.02491682,  0.03283156]))
('data 2 :', array([  7969.56,   8355.79,   8831.21,   9301.56,   9867.77,   9861.1 ,
        11520.01,  12588.9 ,  13482.79,  14184.47,  14862.32,  14983.69,
        13896.42,  13547.4 ,  14340.88,  13495.22,  13068.06,  12392.16,
        12020.27,  12357.79]))
('mean : ', array([-0.03113557,  0.0681219 ,  0.0519444 ,  0.07044178,  0.06936026,
        0.02331087,  0.18499034,  0.10919395,  0.08927811,  0.04955972,
        0.03254987, -0.01786185, -0.07635764, -0.02299355,  0.06987847,
       -0.03496945, -0.02829112, -0.03065459, -0.02491682,  0.03283156]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
58500  2013Q1   7969.56  100806
58501  2013Q2   8355.79  100806
58502  2013Q3   8831.21  100806
58503  2013Q4   9301.56  100806
58504  2014Q1   9867.77  100806
58505  2014Q2   9861.10  100806
58506  2014Q3  11520.01  100806
58507  2014Q4  12588.90  100806
58508  2015Q1  13482.79  100806
58509  2015Q2  14184.47  100806
58510  2015Q3  14862.32  100806
58511  2015Q4  14983.69  100806
58512  2016Q1  13896.42  100806
58513  2016Q2  13547.40  100806
58514  2016Q3  14340.88  100806
58515  2016Q4  13495.22  100806
58516  2017Q1  13068.06  100806
58517  2017Q2  12392.16  100806
58518  2017Q3  12020.27  100806
58519  2017Q4  12357.79  100806>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
200  2013Q1 -0.031136  100806
201  2013Q2  0.068122  100806
202  2013Q3  0.051944  100806
203  2013Q4  0.070442  100806
204  2014Q1  0.069360  100806
205  2014Q2  0.023311  100806
206  2014Q3  0.184990  100806
207  2014Q4  0.109194  100806
208  2015Q1  0.089278  100806
209  2015Q2  0.049560  100806
210  2015Q3  0.032550  100806
211  2015Q4 -0.017862  100806
212  2016Q1 -0.076358  100806
213  2016Q2 -0.022994  100806
214  2016Q3  0.069878  100806
215  2016Q4 -0.034969  100806
216  2017Q1 -0.028291  100806
217  2017Q2 -0.030655  100806
218  2017Q3 -0.024917  100806
219  2017Q4  0.032832  100806>)
('Key_aum: ', 100806)
      Quarter      Data      ID
58500  2013Q1   7969.56  100806
58501  2013Q2   8355.79  100806
58502  2013Q3   8831.21  100806
58503  2013Q4   9301.56  100806
58504  2014Q1   9867.77  100806
58505  2014Q2   9861.10  100806
58506  2014Q3  11520.01  100806
58507  2014Q4  12588.90  100806
58508  2015Q1  13482.79  100806
58509  2015Q2  14184.47  100806
58510  2015Q3  14862.32  100806
58511  2015Q4  14983.69  100806
58512  2016Q1  13896.42  100806
58513  2016Q2  13547.40  100806
58514  2016Q3  14340.88  100806
58515  2016Q4  13495.22  100806
58516  2017Q1  13068.06  100806
58517  2017Q2  12392.16  100806
58518  2017Q3  12020.27  100806
58519  2017Q4  12357.79  100806
('Key_nav : ', 100806)
('data 1 : ', array([-0.03113557,  0.0681219 ,  0.0519444 ,  0.07044178,  0.06936026,
        0.02331087,  0.18499034,  0.10919395,  0.08927811,  0.04955972,
        0.03254987, -0.01786185, -0.07635764, -0.02299355,  0.06987847,
       -0.03496945, -0.02829112, -0.03065459, -0.02491682,  0.03283156]))
('data 2 :', array([  7969.56,   8355.79,   8831.21,   9301.56,   9867.77,   9861.1 ,
        11520.01,  12588.9 ,  13482.79,  14184.47,  14862.32,  14983.69,
        13896.42,  13547.4 ,  14340.88,  13495.22,  13068.06,  12392.16,
        12020.27,  12357.79]))
('mean : ', array([-0.03113557,  0.0681219 ,  0.0519444 ,  0.07044178,  0.06936026,
        0.02331087,  0.18499034,  0.10919395,  0.08927811,  0.04955972,
        0.03254987, -0.01786185, -0.07635764, -0.02299355,  0.06987847,
       -0.03496945, -0.02829112, -0.03065459, -0.02491682,  0.03283156]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
58500  2013Q1   7969.56  100806
58501  2013Q2   8355.79  100806
58502  2013Q3   8831.21  100806
58503  2013Q4   9301.56  100806
58504  2014Q1   9867.77  100806
58505  2014Q2   9861.10  100806
58506  2014Q3  11520.01  100806
58507  2014Q4  12588.90  100806
58508  2015Q1  13482.79  100806
58509  2015Q2  14184.47  100806
58510  2015Q3  14862.32  100806
58511  2015Q4  14983.69  100806
58512  2016Q1  13896.42  100806
58513  2016Q2  13547.40  100806
58514  2016Q3  14340.88  100806
58515  2016Q4  13495.22  100806
58516  2017Q1  13068.06  100806
58517  2017Q2  12392.16  100806
58518  2017Q3  12020.27  100806
58519  2017Q4  12357.79  100806>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
200  2013Q1 -0.031136  100806
201  2013Q2  0.068122  100806
202  2013Q3  0.051944  100806
203  2013Q4  0.070442  100806
204  2014Q1  0.069360  100806
205  2014Q2  0.023311  100806
206  2014Q3  0.184990  100806
207  2014Q4  0.109194  100806
208  2015Q1  0.089278  100806
209  2015Q2  0.049560  100806
210  2015Q3  0.032550  100806
211  2015Q4 -0.017862  100806
212  2016Q1 -0.076358  100806
213  2016Q2 -0.022994  100806
214  2016Q3  0.069878  100806
215  2016Q4 -0.034969  100806
216  2017Q1 -0.028291  100806
217  2017Q2 -0.030655  100806
218  2017Q3 -0.024917  100806
219  2017Q4  0.032832  100806>)
('Key_aum: ', 100806)
      Quarter      Data      ID
58500  2013Q1   7969.56  100806
58501  2013Q2   8355.79  100806
58502  2013Q3   8831.21  100806
58503  2013Q4   9301.56  100806
58504  2014Q1   9867.77  100806
58505  2014Q2   9861.10  100806
58506  2014Q3  11520.01  100806
58507  2014Q4  12588.90  100806
58508  2015Q1  13482.79  100806
58509  2015Q2  14184.47  100806
58510  2015Q3  14862.32  100806
58511  2015Q4  14983.69  100806
58512  2016Q1  13896.42  100806
58513  2016Q2  13547.40  100806
58514  2016Q3  14340.88  100806
58515  2016Q4  13495.22  100806
58516  2017Q1  13068.06  100806
58517  2017Q2  12392.16  100806
58518  2017Q3  12020.27  100806
58519  2017Q4  12357.79  100806
('Key_nav : ', 100806)
('data 1 : ', array([-0.03113557,  0.0681219 ,  0.0519444 ,  0.07044178,  0.06936026,
        0.02331087,  0.18499034,  0.10919395,  0.08927811,  0.04955972,
        0.03254987, -0.01786185, -0.07635764, -0.02299355,  0.06987847,
       -0.03496945, -0.02829112, -0.03065459, -0.02491682,  0.03283156]))
('data 2 :', array([  7969.56,   8355.79,   8831.21,   9301.56,   9867.77,   9861.1 ,
        11520.01,  12588.9 ,  13482.79,  14184.47,  14862.32,  14983.69,
        13896.42,  13547.4 ,  14340.88,  13495.22,  13068.06,  12392.16,
        12020.27,  12357.79]))
('mean : ', array([-0.03113557,  0.0681219 ,  0.0519444 ,  0.07044178,  0.06936026,
        0.02331087,  0.18499034,  0.10919395,  0.08927811,  0.04955972,
        0.03254987, -0.01786185, -0.07635764, -0.02299355,  0.06987847,
       -0.03496945, -0.02829112, -0.03065459, -0.02491682,  0.03283156]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
58500  2013Q1   7969.56  100806
58501  2013Q2   8355.79  100806
58502  2013Q3   8831.21  100806
58503  2013Q4   9301.56  100806
58504  2014Q1   9867.77  100806
58505  2014Q2   9861.10  100806
58506  2014Q3  11520.01  100806
58507  2014Q4  12588.90  100806
58508  2015Q1  13482.79  100806
58509  2015Q2  14184.47  100806
58510  2015Q3  14862.32  100806
58511  2015Q4  14983.69  100806
58512  2016Q1  13896.42  100806
58513  2016Q2  13547.40  100806
58514  2016Q3  14340.88  100806
58515  2016Q4  13495.22  100806
58516  2017Q1  13068.06  100806
58517  2017Q2  12392.16  100806
58518  2017Q3  12020.27  100806
58519  2017Q4  12357.79  100806>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
200  2013Q1 -0.031136  100806
201  2013Q2  0.068122  100806
202  2013Q3  0.051944  100806
203  2013Q4  0.070442  100806
204  2014Q1  0.069360  100806
205  2014Q2  0.023311  100806
206  2014Q3  0.184990  100806
207  2014Q4  0.109194  100806
208  2015Q1  0.089278  100806
209  2015Q2  0.049560  100806
210  2015Q3  0.032550  100806
211  2015Q4 -0.017862  100806
212  2016Q1 -0.076358  100806
213  2016Q2 -0.022994  100806
214  2016Q3  0.069878  100806
215  2016Q4 -0.034969  100806
216  2017Q1 -0.028291  100806
217  2017Q2 -0.030655  100806
218  2017Q3 -0.024917  100806
219  2017Q4  0.032832  100806>)
('Key_aum: ', 100806)
      Quarter      Data      ID
58500  2013Q1   7969.56  100806
58501  2013Q2   8355.79  100806
58502  2013Q3   8831.21  100806
58503  2013Q4   9301.56  100806
58504  2014Q1   9867.77  100806
58505  2014Q2   9861.10  100806
58506  2014Q3  11520.01  100806
58507  2014Q4  12588.90  100806
58508  2015Q1  13482.79  100806
58509  2015Q2  14184.47  100806
58510  2015Q3  14862.32  100806
58511  2015Q4  14983.69  100806
58512  2016Q1  13896.42  100806
58513  2016Q2  13547.40  100806
58514  2016Q3  14340.88  100806
58515  2016Q4  13495.22  100806
58516  2017Q1  13068.06  100806
58517  2017Q2  12392.16  100806
58518  2017Q3  12020.27  100806
58519  2017Q4  12357.79  100806
('Key_nav : ', 100806)
('data 1 : ', array([-0.03113557,  0.0681219 ,  0.0519444 ,  0.07044178,  0.06936026,
        0.02331087,  0.18499034,  0.10919395,  0.08927811,  0.04955972,
        0.03254987, -0.01786185, -0.07635764, -0.02299355,  0.06987847,
       -0.03496945, -0.02829112, -0.03065459, -0.02491682,  0.03283156]))
('data 2 :', array([  7969.56,   8355.79,   8831.21,   9301.56,   9867.77,   9861.1 ,
        11520.01,  12588.9 ,  13482.79,  14184.47,  14862.32,  14983.69,
        13896.42,  13547.4 ,  14340.88,  13495.22,  13068.06,  12392.16,
        12020.27,  12357.79]))
('mean : ', array([-0.03113557,  0.0681219 ,  0.0519444 ,  0.07044178,  0.06936026,
        0.02331087,  0.18499034,  0.10919395,  0.08927811,  0.04955972,
        0.03254987, -0.01786185, -0.07635764, -0.02299355,  0.06987847,
       -0.03496945, -0.02829112, -0.03065459, -0.02491682,  0.03283156]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
58500  2013Q1   7969.56  100806
58501  2013Q2   8355.79  100806
58502  2013Q3   8831.21  100806
58503  2013Q4   9301.56  100806
58504  2014Q1   9867.77  100806
58505  2014Q2   9861.10  100806
58506  2014Q3  11520.01  100806
58507  2014Q4  12588.90  100806
58508  2015Q1  13482.79  100806
58509  2015Q2  14184.47  100806
58510  2015Q3  14862.32  100806
58511  2015Q4  14983.69  100806
58512  2016Q1  13896.42  100806
58513  2016Q2  13547.40  100806
58514  2016Q3  14340.88  100806
58515  2016Q4  13495.22  100806
58516  2017Q1  13068.06  100806
58517  2017Q2  12392.16  100806
58518  2017Q3  12020.27  100806
58519  2017Q4  12357.79  100806>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
200  2013Q1 -0.031136  100806
201  2013Q2  0.068122  100806
202  2013Q3  0.051944  100806
203  2013Q4  0.070442  100806
204  2014Q1  0.069360  100806
205  2014Q2  0.023311  100806
206  2014Q3  0.184990  100806
207  2014Q4  0.109194  100806
208  2015Q1  0.089278  100806
209  2015Q2  0.049560  100806
210  2015Q3  0.032550  100806
211  2015Q4 -0.017862  100806
212  2016Q1 -0.076358  100806
213  2016Q2 -0.022994  100806
214  2016Q3  0.069878  100806
215  2016Q4 -0.034969  100806
216  2017Q1 -0.028291  100806
217  2017Q2 -0.030655  100806
218  2017Q3 -0.024917  100806
219  2017Q4  0.032832  100806>)
('Key_aum: ', 100806)
      Quarter      Data      ID
58500  2013Q1   7969.56  100806
58501  2013Q2   8355.79  100806
58502  2013Q3   8831.21  100806
58503  2013Q4   9301.56  100806
58504  2014Q1   9867.77  100806
58505  2014Q2   9861.10  100806
58506  2014Q3  11520.01  100806
58507  2014Q4  12588.90  100806
58508  2015Q1  13482.79  100806
58509  2015Q2  14184.47  100806
58510  2015Q3  14862.32  100806
58511  2015Q4  14983.69  100806
58512  2016Q1  13896.42  100806
58513  2016Q2  13547.40  100806
58514  2016Q3  14340.88  100806
58515  2016Q4  13495.22  100806
58516  2017Q1  13068.06  100806
58517  2017Q2  12392.16  100806
58518  2017Q3  12020.27  100806
58519  2017Q4  12357.79  100806
('Key_nav : ', 100806)
('data 1 : ', array([-0.03113557,  0.0681219 ,  0.0519444 ,  0.07044178,  0.06936026,
        0.02331087,  0.18499034,  0.10919395,  0.08927811,  0.04955972,
        0.03254987, -0.01786185, -0.07635764, -0.02299355,  0.06987847,
       -0.03496945, -0.02829112, -0.03065459, -0.02491682,  0.03283156]))
('data 2 :', array([  7969.56,   8355.79,   8831.21,   9301.56,   9867.77,   9861.1 ,
        11520.01,  12588.9 ,  13482.79,  14184.47,  14862.32,  14983.69,
        13896.42,  13547.4 ,  14340.88,  13495.22,  13068.06,  12392.16,
        12020.27,  12357.79]))
('mean : ', array([-0.03113557,  0.0681219 ,  0.0519444 ,  0.07044178,  0.06936026,
        0.02331087,  0.18499034,  0.10919395,  0.08927811,  0.04955972,
        0.03254987, -0.01786185, -0.07635764, -0.02299355,  0.06987847,
       -0.03496945, -0.02829112, -0.03065459, -0.02491682,  0.03283156]))
('IDs :', [100643, 119731])
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
43800  2013Q1     7.84  119731
43801  2013Q2    17.01  119731
43802  2013Q3    39.70  119731
43803  2013Q4    65.70  119731
43804  2014Q1    86.46  119731
43805  2014Q2   101.93  119731
43806  2014Q3    88.90  119731
43807  2014Q4    92.17  119731
43808  2015Q1    97.40  119731
43809  2015Q2   137.13  119731
43810  2015Q3   133.13  119731
43811  2015Q4   135.40  119731
43812  2016Q1   142.27  119731
43813  2016Q2   153.69  119731
43814  2016Q3   163.91  119731
43815  2016Q4   155.50  119731
43816  2017Q1   170.10  119731
43817  2017Q2   154.19  119731
43818  2017Q3   150.05  119731
43819  2017Q4   158.67  119731
43840  2013Q1  4055.92  100643
43841  2013Q2  3659.59  100643
43842  2013Q3  3966.62  100643
43843  2013Q4  4247.55  100643
43844  2014Q1  4757.75  100643
43845  2014Q2  4356.01  100643
43846  2014Q3  4435.86  100643
43847  2014Q4  4713.29  100643
43848  2015Q1  4914.59  100643
43849  2015Q2  4497.31  100643
43850  2015Q3  4087.51  100643
43851  2015Q4  3994.61  100643
43852  2016Q1  3798.07  100643
43853  2016Q2  3862.08  100643
43854  2016Q3  3658.08  100643
43855  2016Q4  3390.98  100643
43856  2017Q1  3356.86  100643
43857  2017Q2  3187.65  100643
43858  2017Q3  3046.42  100643
43859  2017Q4  3117.16  100643>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
500   2013Q1  0.120612  119731
501   2013Q2 -0.057103  119731
502   2013Q3  0.165601  119731
503   2013Q4  0.141819  119731
504   2014Q1  0.100215  119731
505   2014Q2 -0.038803  119731
506   2014Q3  0.146834  119731
507   2014Q4  0.101767  119731
508   2015Q1  0.085884  119731
509   2015Q2 -0.066485  119731
510   2015Q3 -0.147889  119731
511   2015Q4  0.010810  119731
512   2016Q1 -0.034620  119731
513   2016Q2  0.035610  119731
514   2016Q3 -0.001186  119731
515   2016Q4 -0.044986  119731
516   2017Q1  0.020123  119731
517   2017Q2 -0.016924  119731
518   2017Q3  0.013979  119731
519   2017Q4  0.064129  119731
1560  2013Q1  0.119226  100643
1561  2013Q2 -0.058137  100643
1562  2013Q3  0.064081  100643
1563  2013Q4  0.071965  100643
1564  2014Q1  0.099195  100643
1565  2014Q2 -0.040150  100643
1566  2014Q3  0.145118  100643
1567  2014Q4  0.099832  100643
1568  2015Q1  0.083767  100643
1569  2015Q2 -0.071067  100643
1570  2015Q3 -0.155786  100643
1571  2015Q4  0.009026  100643
1572  2016Q1 -0.036899  100643
1573  2016Q2  0.033969  100643
1574  2016Q3 -0.003356  100643
1575  2016Q4 -0.046904  100643
1576  2017Q1  0.019165  100643
1577  2017Q2 -0.018212  100643
1578  2017Q3  0.012404  100643
1579  2017Q4  0.062488  100643>)
('Key_aum: ', 100643)
      Quarter     Data      ID
43840  2013Q1  4055.92  100643
43841  2013Q2  3659.59  100643
43842  2013Q3  3966.62  100643
43843  2013Q4  4247.55  100643
43844  2014Q1  4757.75  100643
43845  2014Q2  4356.01  100643
43846  2014Q3  4435.86  100643
43847  2014Q4  4713.29  100643
43848  2015Q1  4914.59  100643
43849  2015Q2  4497.31  100643
43850  2015Q3  4087.51  100643
43851  2015Q4  3994.61  100643
43852  2016Q1  3798.07  100643
43853  2016Q2  3862.08  100643
43854  2016Q3  3658.08  100643
43855  2016Q4  3390.98  100643
43856  2017Q1  3356.86  100643
43857  2017Q2  3187.65  100643
43858  2017Q3  3046.42  100643
43859  2017Q4  3117.16  100643
('Key_nav : ', 100643)
('data 1 : ', array([ 0.11922581, -0.05813662,  0.06408057,  0.071965  ,  0.09919523,
       -0.04014965,  0.14511763,  0.09983168,  0.08376654, -0.0710666 ,
       -0.15578573,  0.00902645, -0.03689937,  0.03396859, -0.00335593,
       -0.04690415,  0.01916466, -0.01821174,  0.01240391,  0.06248778]))
('data 2 :', array([ 4055.92,  3659.59,  3966.62,  4247.55,  4757.75,  4356.01,
        4435.86,  4713.29,  4914.59,  4497.31,  4087.51,  3994.61,
        3798.07,  3862.08,  3658.08,  3390.98,  3356.86,  3187.65,
        3046.42,  3117.16]))
('Key_aum: ', 119731)
      Quarter    Data      ID
43800  2013Q1    7.84  119731
43801  2013Q2   17.01  119731
43802  2013Q3   39.70  119731
43803  2013Q4   65.70  119731
43804  2014Q1   86.46  119731
43805  2014Q2  101.93  119731
43806  2014Q3   88.90  119731
43807  2014Q4   92.17  119731
43808  2015Q1   97.40  119731
43809  2015Q2  137.13  119731
43810  2015Q3  133.13  119731
43811  2015Q4  135.40  119731
43812  2016Q1  142.27  119731
43813  2016Q2  153.69  119731
43814  2016Q3  163.91  119731
43815  2016Q4  155.50  119731
43816  2017Q1  170.10  119731
43817  2017Q2  154.19  119731
43818  2017Q3  150.05  119731
43819  2017Q4  158.67  119731
('Key_nav : ', 119731)
('data 1 : ', array([ 0.12061183, -0.05710333,  0.16560079,  0.14181927,  0.10021483,
       -0.03880272,  0.14683358,  0.10176651,  0.08588382, -0.06648473,
       -0.14788858,  0.01080976, -0.03461977,  0.03560952, -0.00118636,
       -0.04498626,  0.02012281, -0.01692375,  0.01397946,  0.06412876]))
('data 2 :', array([   7.84,   17.01,   39.7 ,   65.7 ,   86.46,  101.93,   88.9 ,
         92.17,   97.4 ,  137.13,  133.13,  135.4 ,  142.27,  153.69,
        163.91,  155.5 ,  170.1 ,  154.19,  150.05,  158.67]))
('mean : ', array([ 0.12061183, -0.05710333,  0.16560079,  0.14181927,  0.10021483,
       -0.03880272,  0.14683358,  0.10176651,  0.08588382, -0.06648473,
       -0.14788858,  0.01080976, -0.03461977,  0.03560952, -0.00118636,
       -0.04498626,  0.02012281, -0.01692375,  0.01397946,  0.06412876]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
43800  2013Q1     7.84  119731
43801  2013Q2    17.01  119731
43802  2013Q3    39.70  119731
43803  2013Q4    65.70  119731
43804  2014Q1    86.46  119731
43805  2014Q2   101.93  119731
43806  2014Q3    88.90  119731
43807  2014Q4    92.17  119731
43808  2015Q1    97.40  119731
43809  2015Q2   137.13  119731
43810  2015Q3   133.13  119731
43811  2015Q4   135.40  119731
43812  2016Q1   142.27  119731
43813  2016Q2   153.69  119731
43814  2016Q3   163.91  119731
43815  2016Q4   155.50  119731
43816  2017Q1   170.10  119731
43817  2017Q2   154.19  119731
43818  2017Q3   150.05  119731
43819  2017Q4   158.67  119731
43840  2013Q1  4055.92  100643
43841  2013Q2  3659.59  100643
43842  2013Q3  3966.62  100643
43843  2013Q4  4247.55  100643
43844  2014Q1  4757.75  100643
43845  2014Q2  4356.01  100643
43846  2014Q3  4435.86  100643
43847  2014Q4  4713.29  100643
43848  2015Q1  4914.59  100643
43849  2015Q2  4497.31  100643
43850  2015Q3  4087.51  100643
43851  2015Q4  3994.61  100643
43852  2016Q1  3798.07  100643
43853  2016Q2  3862.08  100643
43854  2016Q3  3658.08  100643
43855  2016Q4  3390.98  100643
43856  2017Q1  3356.86  100643
43857  2017Q2  3187.65  100643
43858  2017Q3  3046.42  100643
43859  2017Q4  3117.16  100643>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
500   2013Q1  0.120612  119731
501   2013Q2 -0.057103  119731
502   2013Q3  0.165601  119731
503   2013Q4  0.141819  119731
504   2014Q1  0.100215  119731
505   2014Q2 -0.038803  119731
506   2014Q3  0.146834  119731
507   2014Q4  0.101767  119731
508   2015Q1  0.085884  119731
509   2015Q2 -0.066485  119731
510   2015Q3 -0.147889  119731

('data 2 :', array([   7.84,   17.01,   39.7 ,   65.7 ,   86.46,  101.93,   88.9 ,
         92.17,   97.4 ,  137.13,  133.13,  135.4 ,  142.27,  153.69,
        163.91,  155.5 ,  170.1 ,  154.19,  150.05,  158.67]))
('mean : ', array([ 0.12061183, -0.05710333,  0.16560079,  0.14181927,  0.10021483,
       -0.03880272,  0.14683358,  0.10176651,  0.08588382, -0.06648473,
       -0.14788858,  0.01080976, -0.03461977,  0.03560952, -0.00118636,
       -0.04498626,  0.02012281, -0.01692375,  0.01397946,  0.06412876]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
43800  2013Q1     7.84  119731
43801  2013Q2    17.01  119731
43802  2013Q3    39.70  119731
43803  2013Q4    65.70  119731
43804  2014Q1    86.46  119731
43805  2014Q2   101.93  119731
43806  2014Q3    88.90  119731
43807  2014Q4    92.17  119731
43808  2015Q1    97.40  119731
43809  2015Q2   137.13  119731
43810  2015Q3   133.13  119731
43811  2015Q4   135.40  119731
43812  2016Q1   142.27  119731
43813  2016Q2   153.69  119731
43814  2016Q3   163.91  119731
43815  2016Q4   155.50  119731
43816  2017Q1   170.10  119731
43817  2017Q2   154.19  119731
43818  2017Q3   150.05  119731
43819  2017Q4   158.67  119731
43840  2013Q1  4055.92  100643
43841  2013Q2  3659.59  100643
43842  2013Q3  3966.62  100643
43843  2013Q4  4247.55  100643
43844  2014Q1  4757.75  100643
43845  2014Q2  4356.01  100643
43846  2014Q3  4435.86  100643
43847  2014Q4  4713.29  100643
43848  2015Q1  4914.59  100643
43849  2015Q2  4497.31  100643
43850  2015Q3  4087.51  100643
43851  2015Q4  3994.61  100643
43852  2016Q1  3798.07  100643
43853  2016Q2  3862.08  100643
43854  2016Q3  3658.08  100643
43855  2016Q4  3390.98  100643
43856  2017Q1  3356.86  100643
43857  2017Q2  3187.65  100643
43858  2017Q3  3046.42  100643
43859  2017Q4  3117.16  100643>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
500   2013Q1  0.120612  119731
501   2013Q2 -0.057103  119731
502   2013Q3  0.165601  119731
503   2013Q4  0.141819  119731
504   2014Q1  0.100215  119731
505   2014Q2 -0.038803  119731
506   2014Q3  0.146834  119731
507   2014Q4  0.101767  119731
508   2015Q1  0.085884  119731
509   2015Q2 -0.066485  119731
510   2015Q3 -0.147889  119731
511   2015Q4  0.010810  119731
512   2016Q1 -0.034620  119731
513   2016Q2  0.035610  119731
514   2016Q3 -0.001186  119731
515   2016Q4 -0.044986  119731
516   2017Q1  0.020123  119731
517   2017Q2 -0.016924  119731
518   2017Q3  0.013979  119731
519   2017Q4  0.064129  119731
1560  2013Q1  0.119226  100643
1561  2013Q2 -0.058137  100643
1562  2013Q3  0.064081  100643
1563  2013Q4  0.071965  100643
1564  2014Q1  0.099195  100643
1565  2014Q2 -0.040150  100643
1566  2014Q3  0.145118  100643
1567  2014Q4  0.099832  100643
1568  2015Q1  0.083767  100643
1569  2015Q2 -0.071067  100643
1570  2015Q3 -0.155786  100643
1571  2015Q4  0.009026  100643
1572  2016Q1 -0.036899  100643
1573  2016Q2  0.033969  100643
1574  2016Q3 -0.003356  100643
1575  2016Q4 -0.046904  100643
1576  2017Q1  0.019165  100643
1577  2017Q2 -0.018212  100643
1578  2017Q3  0.012404  100643
1579  2017Q4  0.062488  100643>)
('Key_aum: ', 100643)
      Quarter     Data      ID
43840  2013Q1  4055.92  100643
43841  2013Q2  3659.59  100643
43842  2013Q3  3966.62  100643
43843  2013Q4  4247.55  100643
43844  2014Q1  4757.75  100643
43845  2014Q2  4356.01  100643
43846  2014Q3  4435.86  100643
43847  2014Q4  4713.29  100643
43848  2015Q1  4914.59  100643
43849  2015Q2  4497.31  100643
43850  2015Q3  4087.51  100643
43851  2015Q4  3994.61  100643
43852  2016Q1  3798.07  100643
43853  2016Q2  3862.08  100643
43854  2016Q3  3658.08  100643
43855  2016Q4  3390.98  100643
43856  2017Q1  3356.86  100643
43857  2017Q2  3187.65  100643
43858  2017Q3  3046.42  100643
43859  2017Q4  3117.16  100643
('Key_nav : ', 100643)
('data 1 : ', array([ 0.11922581, -0.05813662,  0.06408057,  0.071965  ,  0.09919523,
       -0.04014965,  0.14511763,  0.09983168,  0.08376654, -0.0710666 ,
       -0.15578573,  0.00902645, -0.03689937,  0.03396859, -0.00335593,
       -0.04690415,  0.01916466, -0.01821174,  0.01240391,  0.06248778]))
('data 2 :', array([ 4055.92,  3659.59,  3966.62,  4247.55,  4757.75,  4356.01,
        4435.86,  4713.29,  4914.59,  4497.31,  4087.51,  3994.61,
        3798.07,  3862.08,  3658.08,  3390.98,  3356.86,  3187.65,
        3046.42,  3117.16]))
('Key_aum: ', 119731)
      Quarter    Data      ID
43800  2013Q1    7.84  119731
43801  2013Q2   17.01  119731
43802  2013Q3   39.70  119731
43803  2013Q4   65.70  119731
43804  2014Q1   86.46  119731
43805  2014Q2  101.93  119731
43806  2014Q3   88.90  119731
43807  2014Q4   92.17  119731
43808  2015Q1   97.40  119731
43809  2015Q2  137.13  119731
43810  2015Q3  133.13  119731
43811  2015Q4  135.40  119731
43812  2016Q1  142.27  119731
43813  2016Q2  153.69  119731
43814  2016Q3  163.91  119731
43815  2016Q4  155.50  119731
43816  2017Q1  170.10  119731
43817  2017Q2  154.19  119731
43818  2017Q3  150.05  119731
43819  2017Q4  158.67  119731
('Key_nav : ', 119731)
('data 1 : ', array([ 0.12061183, -0.05710333,  0.16560079,  0.14181927,  0.10021483,
       -0.03880272,  0.14683358,  0.10176651,  0.08588382, -0.06648473,
       -0.14788858,  0.01080976, -0.03461977,  0.03560952, -0.00118636,
       -0.04498626,  0.02012281, -0.01692375,  0.01397946,  0.06412876]))
('data 2 :', array([   7.84,   17.01,   39.7 ,   65.7 ,   86.46,  101.93,   88.9 ,
         92.17,   97.4 ,  137.13,  133.13,  135.4 ,  142.27,  153.69,
        163.91,  155.5 ,  170.1 ,  154.19,  150.05,  158.67]))
('mean : ', array([ 0.12061183, -0.05710333,  0.16560079,  0.14181927,  0.10021483,
       -0.03880272,  0.14683358,  0.10176651,  0.08588382, -0.06648473,
       -0.14788858,  0.01080976, -0.03461977,  0.03560952, -0.00118636,
       -0.04498626,  0.02012281, -0.01692375,  0.01397946,  0.06412876]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
43800  2013Q1     7.84  119731
43801  2013Q2    17.01  119731
43802  2013Q3    39.70  119731
43803  2013Q4    65.70  119731
43804  2014Q1    86.46  119731
43805  2014Q2   101.93  119731
43806  2014Q3    88.90  119731
43807  2014Q4    92.17  119731
43808  2015Q1    97.40  119731
43809  2015Q2   137.13  119731
43810  2015Q3   133.13  119731
43811  2015Q4   135.40  119731
43812  2016Q1   142.27  119731
43813  2016Q2   153.69  119731
43814  2016Q3   163.91  119731
43815  2016Q4   155.50  119731
43816  2017Q1   170.10  119731
43817  2017Q2   154.19  119731
43818  2017Q3   150.05  119731
43819  2017Q4   158.67  119731
43840  2013Q1  4055.92  100643
43841  2013Q2  3659.59  100643
43842  2013Q3  3966.62  100643
43843  2013Q4  4247.55  100643
43844  2014Q1  4757.75  100643
43845  2014Q2  4356.01  100643
43846  2014Q3  4435.86  100643
43847  2014Q4  4713.29  100643
43848  2015Q1  4914.59  100643
43849  2015Q2  4497.31  100643
43850  2015Q3  4087.51  100643
43851  2015Q4  3994.61  100643
43852  2016Q1  3798.07  100643
43853  2016Q2  3862.08  100643
43854  2016Q3  3658.08  100643
43855  2016Q4  3390.98  100643
43856  2017Q1  3356.86  100643
43857  2017Q2  3187.65  100643
43858  2017Q3  3046.42  100643
43859  2017Q4  3117.16  100643>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
500   2013Q1  0.120612  119731
501   2013Q2 -0.057103  119731
502   2013Q3  0.165601  119731
503   2013Q4  0.141819  119731
504   2014Q1  0.100215  119731
505   2014Q2 -0.038803  119731
506   2014Q3  0.146834  119731
507   2014Q4  0.101767  119731
508   2015Q1  0.085884  119731
509   2015Q2 -0.066485  119731
510   2015Q3 -0.147889  119731
511   2015Q4  0.010810  119731
512   2016Q1 -0.034620  119731
513   2016Q2  0.035610  119731
514   2016Q3 -0.001186  119731
515   2016Q4 -0.044986  119731
516   2017Q1  0.020123  119731
517   2017Q2 -0.016924  119731
518   2017Q3  0.013979  119731
519   2017Q4  0.064129  119731
1560  2013Q1  0.119226  100643
1561  2013Q2 -0.058137  100643
1562  2013Q3  0.064081  100643
1563  2013Q4  0.071965  100643
1564  2014Q1  0.099195  100643
1565  2014Q2 -0.040150  100643
1566  2014Q3  0.145118  100643
1567  2014Q4  0.099832  100643
1568  2015Q1  0.083767  100643
1569  2015Q2 -0.071067  100643
1570  2015Q3 -0.155786  100643
1571  2015Q4  0.009026  100643
1572  2016Q1 -0.036899  100643
1573  2016Q2  0.033969  100643
1574  2016Q3 -0.003356  100643
1575  2016Q4 -0.046904  100643
1576  2017Q1  0.019165  100643
1577  2017Q2 -0.018212  100643
1578  2017Q3  0.012404  100643
1579  2017Q4  0.062488  100643>)
('Key_aum: ', 100643)
      Quarter     Data      ID
43840  2013Q1  4055.92  100643
43841  2013Q2  3659.59  100643
43842  2013Q3  3966.62  100643
43843  2013Q4  4247.55  100643
43844  2014Q1  4757.75  100643
43845  2014Q2  4356.01  100643
43846  2014Q3  4435.86  100643
43847  2014Q4  4713.29  100643
43848  2015Q1  4914.59  100643
43849  2015Q2  4497.31  100643
43850  2015Q3  4087.51  100643
43851  2015Q4  3994.61  100643
43852  2016Q1  3798.07  100643
43853  2016Q2  3862.08  100643
43854  2016Q3  3658.08  100643
43855  2016Q4  3390.98  100643
43856  2017Q1  3356.86  100643
43857  2017Q2  3187.65  100643
43858  2017Q3  3046.42  100643
43859  2017Q4  3117.16  100643
('Key_nav : ', 100643)
('data 1 : ', array([ 0.11922581, -0.05813662,  0.06408057,  0.071965  ,  0.09919523,
       -0.04014965,  0.14511763,  0.09983168,  0.08376654, -0.0710666 ,
       -0.15578573,  0.00902645, -0.03689937,  0.03396859, -0.00335593,
       -0.04690415,  0.01916466, -0.01821174,  0.01240391,  0.06248778]))
('data 2 :', array([ 4055.92,  3659.59,  3966.62,  4247.55,  4757.75,  4356.01,
        4435.86,  4713.29,  4914.59,  4497.31,  4087.51,  3994.61,
        3798.07,  3862.08,  3658.08,  3390.98,  3356.86,  3187.65,
        3046.42,  3117.16]))
('Key_aum: ', 119731)
      Quarter    Data      ID
43800  2013Q1    7.84  119731
43801  2013Q2   17.01  119731
43802  2013Q3   39.70  119731
43803  2013Q4   65.70  119731
43804  2014Q1   86.46  119731
43805  2014Q2  101.93  119731
43806  2014Q3   88.90  119731
43807  2014Q4   92.17  119731
43808  2015Q1   97.40  119731
43809  2015Q2  137.13  119731
43810  2015Q3  133.13  119731
43811  2015Q4  135.40  119731
43812  2016Q1  142.27  119731
43813  2016Q2  153.69  119731
43814  2016Q3  163.91  119731
43815  2016Q4  155.50  119731
43816  2017Q1  170.10  119731
43817  2017Q2  154.19  119731
43818  2017Q3  150.05  119731
43819  2017Q4  158.67  119731
('Key_nav : ', 119731)
('data 1 : ', array([ 0.12061183, -0.05710333,  0.16560079,  0.14181927,  0.10021483,
       -0.03880272,  0.14683358,  0.10176651,  0.08588382, -0.06648473,
       -0.14788858,  0.01080976, -0.03461977,  0.03560952, -0.00118636,
       -0.04498626,  0.02012281, -0.01692375,  0.01397946,  0.06412876]))
('data 2 :', array([   7.84,   17.01,   39.7 ,   65.7 ,   86.46,  101.93,   88.9 ,
         92.17,   97.4 ,  137.13,  133.13,  135.4 ,  142.27,  153.69,
        163.91,  155.5 ,  170.1 ,  154.19,  150.05,  158.67]))
('mean : ', array([ 0.12061183, -0.05710333,  0.16560079,  0.14181927,  0.10021483,
       -0.03880272,  0.14683358,  0.10176651,  0.08588382, -0.06648473,
       -0.14788858,  0.01080976, -0.03461977,  0.03560952, -0.00118636,
       -0.04498626,  0.02012281, -0.01692375,  0.01397946,  0.06412876]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
43800  2013Q1     7.84  119731
43801  2013Q2    17.01  119731
43802  2013Q3    39.70  119731
43803  2013Q4    65.70  119731
43804  2014Q1    86.46  119731
43805  2014Q2   101.93  119731
43806  2014Q3    88.90  119731
43807  2014Q4    92.17  119731
43808  2015Q1    97.40  119731
43809  2015Q2   137.13  119731
43810  2015Q3   133.13  119731
43811  2015Q4   135.40  119731
43812  2016Q1   142.27  119731
43813  2016Q2   153.69  119731
43814  2016Q3   163.91  119731
43815  2016Q4   155.50  119731
43816  2017Q1   170.10  119731
43817  2017Q2   154.19  119731
43818  2017Q3   150.05  119731
43819  2017Q4   158.67  119731
43840  2013Q1  4055.92  100643
43841  2013Q2  3659.59  100643
43842  2013Q3  3966.62  100643
43843  2013Q4  4247.55  100643
43844  2014Q1  4757.75  100643
43845  2014Q2  4356.01  100643
43846  2014Q3  4435.86  100643
43847  2014Q4  4713.29  100643
43848  2015Q1  4914.59  100643
43849  2015Q2  4497.31  100643
43850  2015Q3  4087.51  100643
43851  2015Q4  3994.61  100643
43852  2016Q1  3798.07  100643
43853  2016Q2  3862.08  100643
43854  2016Q3  3658.08  100643
43855  2016Q4  3390.98  100643
43856  2017Q1  3356.86  100643
43857  2017Q2  3187.65  100643
43858  2017Q3  3046.42  100643
43859  2017Q4  3117.16  100643>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
500   2013Q1  0.120612  119731
501   2013Q2 -0.057103  119731
502   2013Q3  0.165601  119731
503   2013Q4  0.141819  119731
504   2014Q1  0.100215  119731
505   2014Q2 -0.038803  119731
506   2014Q3  0.146834  119731
507   2014Q4  0.101767  119731
508   2015Q1  0.085884  119731
509   2015Q2 -0.066485  119731
510   2015Q3 -0.147889  119731
511   2015Q4  0.010810  119731
512   2016Q1 -0.034620  119731
513   2016Q2  0.035610  119731
514   2016Q3 -0.001186  119731
515   2016Q4 -0.044986  119731
516   2017Q1  0.020123  119731
517   2017Q2 -0.016924  119731
518   2017Q3  0.013979  119731
519   2017Q4  0.064129  119731
1560  2013Q1  0.119226  100643
1561  2013Q2 -0.058137  100643
1562  2013Q3  0.064081  100643
1563  2013Q4  0.071965  100643
1564  2014Q1  0.099195  100643
1565  2014Q2 -0.040150  100643
1566  2014Q3  0.145118  100643
1567  2014Q4  0.099832  100643
1568  2015Q1  0.083767  100643
1569  2015Q2 -0.071067  100643
1570  2015Q3 -0.155786  100643
1571  2015Q4  0.009026  100643
1572  2016Q1 -0.036899  100643
1573  2016Q2  0.033969  100643
1574  2016Q3 -0.003356  100643
1575  2016Q4 -0.046904  100643
1576  2017Q1  0.019165  100643
1577  2017Q2 -0.018212  100643
1578  2017Q3  0.012404  100643
1579  2017Q4  0.062488  100643>)
('Key_aum: ', 100643)
      Quarter     Data      ID
43840  2013Q1  4055.92  100643
43841  2013Q2  3659.59  100643
43842  2013Q3  3966.62  100643
43843  2013Q4  4247.55  100643
43844  2014Q1  4757.75  100643
43845  2014Q2  4356.01  100643
43846  2014Q3  4435.86  100643
43847  2014Q4  4713.29  100643
43848  2015Q1  4914.59  100643
43849  2015Q2  4497.31  100643
43850  2015Q3  4087.51  100643
43851  2015Q4  3994.61  100643
43852  2016Q1  3798.07  100643
43853  2016Q2  3862.08  100643
43854  2016Q3  3658.08  100643
43855  2016Q4  3390.98  100643
43856  2017Q1  3356.86  100643
43857  2017Q2  3187.65  100643
43858  2017Q3  3046.42  100643
43859  2017Q4  3117.16  100643
('Key_nav : ', 100643)
('data 1 : ', array([ 0.11922581, -0.05813662,  0.06408057,  0.071965  ,  0.09919523,
       -0.04014965,  0.14511763,  0.09983168,  0.08376654, -0.0710666 ,
       -0.15578573,  0.00902645, -0.03689937,  0.03396859, -0.00335593,
       -0.04690415,  0.01916466, -0.01821174,  0.01240391,  0.06248778]))
('data 2 :', array([ 4055.92,  3659.59,  3966.62,  4247.55,  4757.75,  4356.01,
        4435.86,  4713.29,  4914.59,  4497.31,  4087.51,  3994.61,
        3798.07,  3862.08,  3658.08,  3390.98,  3356.86,  3187.65,
        3046.42,  3117.16]))
('Key_aum: ', 119731)
      Quarter    Data      ID
43800  2013Q1    7.84  119731
43801  2013Q2   17.01  119731
43802  2013Q3   39.70  119731
43803  2013Q4   65.70  119731
43804  2014Q1   86.46  119731
43805  2014Q2  101.93  119731
43806  2014Q3   88.90  119731
43807  2014Q4   92.17  119731
43808  2015Q1   97.40  119731
43809  2015Q2  137.13  119731
43810  2015Q3  133.13  119731
43811  2015Q4  135.40  119731
43812  2016Q1  142.27  119731
43813  2016Q2  153.69  119731
43814  2016Q3  163.91  119731
43815  2016Q4  155.50  119731
43816  2017Q1  170.10  119731
43817  2017Q2  154.19  119731
43818  2017Q3  150.05  119731
43819  2017Q4  158.67  119731
('Key_nav : ', 119731)
('data 1 : ', array([ 0.12061183, -0.05710333,  0.16560079,  0.14181927,  0.10021483,
       -0.03880272,  0.14683358,  0.10176651,  0.08588382, -0.06648473,
       -0.14788858,  0.01080976, -0.03461977,  0.03560952, -0.00118636,
       -0.04498626,  0.02012281, -0.01692375,  0.01397946,  0.06412876]))
('data 2 :', array([   7.84,   17.01,   39.7 ,   65.7 ,   86.46,  101.93,   88.9 ,
         92.17,   97.4 ,  137.13,  133.13,  135.4 ,  142.27,  153.69,
        163.91,  155.5 ,  170.1 ,  154.19,  150.05,  158.67]))
('mean : ', array([ 0.12061183, -0.05710333,  0.16560079,  0.14181927,  0.10021483,
       -0.03880272,  0.14683358,  0.10176651,  0.08588382, -0.06648473,
       -0.14788858,  0.01080976, -0.03461977,  0.03560952, -0.00118636,
       -0.04498626,  0.02012281, -0.01692375,  0.01397946,  0.06412876]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
43800  2013Q1     7.84  119731
43801  2013Q2    17.01  119731
43802  2013Q3    39.70  119731
43803  2013Q4    65.70  119731
43804  2014Q1    86.46  119731
43805  2014Q2   101.93  119731
43806  2014Q3    88.90  119731
43807  2014Q4    92.17  119731
43808  2015Q1    97.40  119731
43809  2015Q2   137.13  119731
43810  2015Q3   133.13  119731
43811  2015Q4   135.40  119731
43812  2016Q1   142.27  119731
43813  2016Q2   153.69  119731
43814  2016Q3   163.91  119731
43815  2016Q4   155.50  119731
43816  2017Q1   170.10  119731
43817  2017Q2   154.19  119731
43818  2017Q3   150.05  119731
43819  2017Q4   158.67  119731
43840  2013Q1  4055.92  100643
43841  2013Q2  3659.59  100643
43842  2013Q3  3966.62  100643
43843  2013Q4  4247.55  100643
43844  2014Q1  4757.75  100643
43845  2014Q2  4356.01  100643
43846  2014Q3  4435.86  100643
43847  2014Q4  4713.29  100643
43848  2015Q1  4914.59  100643
43849  2015Q2  4497.31  100643
43850  2015Q3  4087.51  100643
43851  2015Q4  3994.61  100643
43852  2016Q1  3798.07  100643
43853  2016Q2  3862.08  100643
43854  2016Q3  3658.08  100643
43855  2016Q4  3390.98  100643
43856  2017Q1  3356.86  100643
43857  2017Q2  3187.65  100643
43858  2017Q3  3046.42  100643
43859  2017Q4  3117.16  100643>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
500   2013Q1  0.120612  119731
501   2013Q2 -0.057103  119731
502   2013Q3  0.165601  119731
503   2013Q4  0.141819  119731
504   2014Q1  0.100215  119731
505   2014Q2 -0.038803  119731
506   2014Q3  0.146834  119731
507   2014Q4  0.101767  119731
508   2015Q1  0.085884  119731
509   2015Q2 -0.066485  119731
510   2015Q3 -0.147889  119731
511   2015Q4  0.010810  119731
512   2016Q1 -0.034620  119731
513   2016Q2  0.035610  119731
514   2016Q3 -0.001186  119731
515   2016Q4 -0.044986  119731
516   2017Q1  0.020123  119731
517   2017Q2 -0.016924  119731
518   2017Q3  0.013979  119731
519   2017Q4  0.064129  119731
1560  2013Q1  0.119226  100643
1561  2013Q2 -0.058137  100643
1562  2013Q3  0.064081  100643
1563  2013Q4  0.071965  100643
1564  2014Q1  0.099195  100643
1565  2014Q2 -0.040150  100643
1566  2014Q3  0.145118  100643
1567  2014Q4  0.099832  100643
1568  2015Q1  0.083767  100643
1569  2015Q2 -0.071067  100643
1570  2015Q3 -0.155786  100643
1571  2015Q4  0.009026  100643
1572  2016Q1 -0.036899  100643
1573  2016Q2  0.033969  100643
1574  2016Q3 -0.003356  100643
1575  2016Q4 -0.046904  100643
1576  2017Q1  0.019165  100643
1577  2017Q2 -0.018212  100643
1578  2017Q3  0.012404  100643
1579  2017Q4  0.062488  100643>)
('Key_aum: ', 100643)
      Quarter     Data      ID
43840  2013Q1  4055.92  100643
43841  2013Q2  3659.59  100643
43842  2013Q3  3966.62  100643
43843  2013Q4  4247.55  100643
43844  2014Q1  4757.75  100643
43845  2014Q2  4356.01  100643
43846  2014Q3  4435.86  100643
43847  2014Q4  4713.29  100643
43848  2015Q1  4914.59  100643
43849  2015Q2  4497.31  100643
43850  2015Q3  4087.51  100643
43851  2015Q4  3994.61  100643
43852  2016Q1  3798.07  100643
43853  2016Q2  3862.08  100643
43854  2016Q3  3658.08  100643
43855  2016Q4  3390.98  100643
43856  2017Q1  3356.86  100643
43857  2017Q2  3187.65  100643
43858  2017Q3  3046.42  100643
43859  2017Q4  3117.16  100643

('data 2 :', array([   7.84,   17.01,   39.7 ,   65.7 ,   86.46,  101.93,   88.9 ,
         92.17,   97.4 ,  137.13,  133.13,  135.4 ,  142.27,  153.69,
        163.91,  155.5 ,  170.1 ,  154.19,  150.05,  158.67]))
('mean : ', array([ 0.12061183, -0.05710333,  0.16560079,  0.14181927,  0.10021483,
       -0.03880272,  0.14683358,  0.10176651,  0.08588382, -0.06648473,
       -0.14788858,  0.01080976, -0.03461977,  0.03560952, -0.00118636,
       -0.04498626,  0.02012281, -0.01692375,  0.01397946,  0.06412876]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
43800  2013Q1     7.84  119731
43801  2013Q2    17.01  119731
43802  2013Q3    39.70  119731
43803  2013Q4    65.70  119731
43804  2014Q1    86.46  119731
43805  2014Q2   101.93  119731
43806  2014Q3    88.90  119731
43807  2014Q4    92.17  119731
43808  2015Q1    97.40  119731
43809  2015Q2   137.13  119731
43810  2015Q3   133.13  119731
43811  2015Q4   135.40  119731
43812  2016Q1   142.27  119731
43813  2016Q2   153.69  119731
43814  2016Q3   163.91  119731
43815  2016Q4   155.50  119731
43816  2017Q1   170.10  119731
43817  2017Q2   154.19  119731
43818  2017Q3   150.05  119731
43819  2017Q4   158.67  119731
43840  2013Q1  4055.92  100643
43841  2013Q2  3659.59  100643
43842  2013Q3  3966.62  100643
43843  2013Q4  4247.55  100643
43844  2014Q1  4757.75  100643
43845  2014Q2  4356.01  100643
43846  2014Q3  4435.86  100643
43847  2014Q4  4713.29  100643
43848  2015Q1  4914.59  100643
43849  2015Q2  4497.31  100643
43850  2015Q3  4087.51  100643
43851  2015Q4  3994.61  100643
43852  2016Q1  3798.07  100643
43853  2016Q2  3862.08  100643
43854  2016Q3  3658.08  100643
43855  2016Q4  3390.98  100643
43856  2017Q1  3356.86  100643
43857  2017Q2  3187.65  100643
43858  2017Q3  3046.42  100643
43859  2017Q4  3117.16  100643>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
500   2013Q1  0.120612  119731
501   2013Q2 -0.057103  119731
502   2013Q3  0.165601  119731
503   2013Q4  0.141819  119731
504   2014Q1  0.100215  119731
505   2014Q2 -0.038803  119731
506   2014Q3  0.146834  119731
507   2014Q4  0.101767  119731
508   2015Q1  0.085884  119731
509   2015Q2 -0.066485  119731
510   2015Q3 -0.147889  119731
511   2015Q4  0.010810  119731
512   2016Q1 -0.034620  119731
513   2016Q2  0.035610  119731
514   2016Q3 -0.001186  119731
515   2016Q4 -0.044986  119731
516   2017Q1  0.020123  119731
517   2017Q2 -0.016924  119731
518   2017Q3  0.013979  119731
519   2017Q4  0.064129  119731
1560  2013Q1  0.119226  100643
1561  2013Q2 -0.058137  100643
1562  2013Q3  0.064081  100643
1563  2013Q4  0.071965  100643
1564  2014Q1  0.099195  100643
1565  2014Q2 -0.040150  100643
1566  2014Q3  0.145118  100643
1567  2014Q4  0.099832  100643
1568  2015Q1  0.083767  100643
1569  2015Q2 -0.071067  100643
1570  2015Q3 -0.155786  100643
1571  2015Q4  0.009026  100643
1572  2016Q1 -0.036899  100643
1573  2016Q2  0.033969  100643
1574  2016Q3 -0.003356  100643
1575  2016Q4 -0.046904  100643
1576  2017Q1  0.019165  100643
1577  2017Q2 -0.018212  100643
1578  2017Q3  0.012404  100643
1579  2017Q4  0.062488  100643>)
('Key_aum: ', 100643)
      Quarter     Data      ID
43840  2013Q1  4055.92  100643
43841  2013Q2  3659.59  100643
43842  2013Q3  3966.62  100643
43843  2013Q4  4247.55  100643
43844  2014Q1  4757.75  100643
43845  2014Q2  4356.01  100643
43846  2014Q3  4435.86  100643
43847  2014Q4  4713.29  100643
43848  2015Q1  4914.59  100643
43849  2015Q2  4497.31  100643
43850  2015Q3  4087.51  100643
43851  2015Q4  3994.61  100643
43852  2016Q1  3798.07  100643
43853  2016Q2  3862.08  100643
43854  2016Q3  3658.08  100643
43855  2016Q4  3390.98  100643
43856  2017Q1  3356.86  100643
43857  2017Q2  3187.65  100643
43858  2017Q3  3046.42  100643
43859  2017Q4  3117.16  100643
('Key_nav : ', 100643)
('data 1 : ', array([ 0.11922581, -0.05813662,  0.06408057,  0.071965  ,  0.09919523,
       -0.04014965,  0.14511763,  0.09983168,  0.08376654, -0.0710666 ,
       -0.15578573,  0.00902645, -0.03689937,  0.03396859, -0.00335593,
       -0.04690415,  0.01916466, -0.01821174,  0.01240391,  0.06248778]))
('data 2 :', array([ 4055.92,  3659.59,  3966.62,  4247.55,  4757.75,  4356.01,
        4435.86,  4713.29,  4914.59,  4497.31,  4087.51,  3994.61,
        3798.07,  3862.08,  3658.08,  3390.98,  3356.86,  3187.65,
        3046.42,  3117.16]))
('Key_aum: ', 119731)
      Quarter    Data      ID
43800  2013Q1    7.84  119731
43801  2013Q2   17.01  119731
43802  2013Q3   39.70  119731
43803  2013Q4   65.70  119731
43804  2014Q1   86.46  119731
43805  2014Q2  101.93  119731
43806  2014Q3   88.90  119731
43807  2014Q4   92.17  119731
43808  2015Q1   97.40  119731
43809  2015Q2  137.13  119731
43810  2015Q3  133.13  119731
43811  2015Q4  135.40  119731
43812  2016Q1  142.27  119731
43813  2016Q2  153.69  119731
43814  2016Q3  163.91  119731
43815  2016Q4  155.50  119731
43816  2017Q1  170.10  119731
43817  2017Q2  154.19  119731
43818  2017Q3  150.05  119731
43819  2017Q4  158.67  119731
('Key_nav : ', 119731)
('data 1 : ', array([ 0.12061183, -0.05710333,  0.16560079,  0.14181927,  0.10021483,
       -0.03880272,  0.14683358,  0.10176651,  0.08588382, -0.06648473,
       -0.14788858,  0.01080976, -0.03461977,  0.03560952, -0.00118636,
       -0.04498626,  0.02012281, -0.01692375,  0.01397946,  0.06412876]))
('data 2 :', array([   7.84,   17.01,   39.7 ,   65.7 ,   86.46,  101.93,   88.9 ,
         92.17,   97.4 ,  137.13,  133.13,  135.4 ,  142.27,  153.69,
        163.91,  155.5 ,  170.1 ,  154.19,  150.05,  158.67]))
('mean : ', array([ 0.12061183, -0.05710333,  0.16560079,  0.14181927,  0.10021483,
       -0.03880272,  0.14683358,  0.10176651,  0.08588382, -0.06648473,
       -0.14788858,  0.01080976, -0.03461977,  0.03560952, -0.00118636,
       -0.04498626,  0.02012281, -0.01692375,  0.01397946,  0.06412876]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
43800  2013Q1     7.84  119731
43801  2013Q2    17.01  119731
43802  2013Q3    39.70  119731
43803  2013Q4    65.70  119731
43804  2014Q1    86.46  119731
43805  2014Q2   101.93  119731
43806  2014Q3    88.90  119731
43807  2014Q4    92.17  119731
43808  2015Q1    97.40  119731
43809  2015Q2   137.13  119731
43810  2015Q3   133.13  119731
43811  2015Q4   135.40  119731
43812  2016Q1   142.27  119731
43813  2016Q2   153.69  119731
43814  2016Q3   163.91  119731
43815  2016Q4   155.50  119731
43816  2017Q1   170.10  119731
43817  2017Q2   154.19  119731
43818  2017Q3   150.05  119731
43819  2017Q4   158.67  119731
43840  2013Q1  4055.92  100643
43841  2013Q2  3659.59  100643
43842  2013Q3  3966.62  100643
43843  2013Q4  4247.55  100643
43844  2014Q1  4757.75  100643
43845  2014Q2  4356.01  100643
43846  2014Q3  4435.86  100643
43847  2014Q4  4713.29  100643
43848  2015Q1  4914.59  100643
43849  2015Q2  4497.31  100643
43850  2015Q3  4087.51  100643
43851  2015Q4  3994.61  100643
43852  2016Q1  3798.07  100643
43853  2016Q2  3862.08  100643
43854  2016Q3  3658.08  100643
43855  2016Q4  3390.98  100643
43856  2017Q1  3356.86  100643
43857  2017Q2  3187.65  100643
43858  2017Q3  3046.42  100643
43859  2017Q4  3117.16  100643>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
500   2013Q1  0.120612  119731
501   2013Q2 -0.057103  119731
502   2013Q3  0.165601  119731
503   2013Q4  0.141819  119731
504   2014Q1  0.100215  119731
505   2014Q2 -0.038803  119731
506   2014Q3  0.146834  119731
507   2014Q4  0.101767  119731
508   2015Q1  0.085884  119731
509   2015Q2 -0.066485  119731
510   2015Q3 -0.147889  119731
511   2015Q4  0.010810  119731
512   2016Q1 -0.034620  119731
513   2016Q2  0.035610  119731
514   2016Q3 -0.001186  119731
515   2016Q4 -0.044986  119731
516   2017Q1  0.020123  119731
517   2017Q2 -0.016924  119731
518   2017Q3  0.013979  119731
519   2017Q4  0.064129  119731
1560  2013Q1  0.119226  100643
1561  2013Q2 -0.058137  100643
1562  2013Q3  0.064081  100643
1563  2013Q4  0.071965  100643
1564  2014Q1  0.099195  100643
1565  2014Q2 -0.040150  100643
1566  2014Q3  0.145118  100643
1567  2014Q4  0.099832  100643
1568  2015Q1  0.083767  100643
1569  2015Q2 -0.071067  100643
1570  2015Q3 -0.155786  100643
1571  2015Q4  0.009026  100643
1572  2016Q1 -0.036899  100643
1573  2016Q2  0.033969  100643
1574  2016Q3 -0.003356  100643
1575  2016Q4 -0.046904  100643
1576  2017Q1  0.019165  100643
1577  2017Q2 -0.018212  100643
1578  2017Q3  0.012404  100643
1579  2017Q4  0.062488  100643>)
('Key_aum: ', 100643)
      Quarter     Data      ID
43840  2013Q1  4055.92  100643
43841  2013Q2  3659.59  100643
43842  2013Q3  3966.62  100643
43843  2013Q4  4247.55  100643
43844  2014Q1  4757.75  100643
43845  2014Q2  4356.01  100643
43846  2014Q3  4435.86  100643
43847  2014Q4  4713.29  100643
43848  2015Q1  4914.59  100643
43849  2015Q2  4497.31  100643
43850  2015Q3  4087.51  100643
43851  2015Q4  3994.61  100643
43852  2016Q1  3798.07  100643
43853  2016Q2  3862.08  100643
43854  2016Q3  3658.08  100643
43855  2016Q4  3390.98  100643
43856  2017Q1  3356.86  100643
43857  2017Q2  3187.65  100643
43858  2017Q3  3046.42  100643
43859  2017Q4  3117.16  100643
('Key_nav : ', 100643)
('data 1 : ', array([ 0.11922581, -0.05813662,  0.06408057,  0.071965  ,  0.09919523,
       -0.04014965,  0.14511763,  0.09983168,  0.08376654, -0.0710666 ,
       -0.15578573,  0.00902645, -0.03689937,  0.03396859, -0.00335593,
       -0.04690415,  0.01916466, -0.01821174,  0.01240391,  0.06248778]))
('data 2 :', array([ 4055.92,  3659.59,  3966.62,  4247.55,  4757.75,  4356.01,
        4435.86,  4713.29,  4914.59,  4497.31,  4087.51,  3994.61,
        3798.07,  3862.08,  3658.08,  3390.98,  3356.86,  3187.65,
        3046.42,  3117.16]))
('Key_aum: ', 119731)
      Quarter    Data      ID
43800  2013Q1    7.84  119731
43801  2013Q2   17.01  119731
43802  2013Q3   39.70  119731
43803  2013Q4   65.70  119731
43804  2014Q1   86.46  119731
43805  2014Q2  101.93  119731
43806  2014Q3   88.90  119731
43807  2014Q4   92.17  119731
43808  2015Q1   97.40  119731
43809  2015Q2  137.13  119731
43810  2015Q3  133.13  119731
43811  2015Q4  135.40  119731
43812  2016Q1  142.27  119731
43813  2016Q2  153.69  119731
43814  2016Q3  163.91  119731
43815  2016Q4  155.50  119731
43816  2017Q1  170.10  119731
43817  2017Q2  154.19  119731
43818  2017Q3  150.05  119731
43819  2017Q4  158.67  119731
('Key_nav : ', 119731)
('data 1 : ', array([ 0.12061183, -0.05710333,  0.16560079,  0.14181927,  0.10021483,
       -0.03880272,  0.14683358,  0.10176651,  0.08588382, -0.06648473,
       -0.14788858,  0.01080976, -0.03461977,  0.03560952, -0.00118636,
       -0.04498626,  0.02012281, -0.01692375,  0.01397946,  0.06412876]))
('data 2 :', array([   7.84,   17.01,   39.7 ,   65.7 ,   86.46,  101.93,   88.9 ,
         92.17,   97.4 ,  137.13,  133.13,  135.4 ,  142.27,  153.69,
        163.91,  155.5 ,  170.1 ,  154.19,  150.05,  158.67]))
('mean : ', array([ 0.12061183, -0.05710333,  0.16560079,  0.14181927,  0.10021483,
       -0.03880272,  0.14683358,  0.10176651,  0.08588382, -0.06648473,
       -0.14788858,  0.01080976, -0.03461977,  0.03560952, -0.00118636,
       -0.04498626,  0.02012281, -0.01692375,  0.01397946,  0.06412876]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
43800  2013Q1     7.84  119731
43801  2013Q2    17.01  119731
43802  2013Q3    39.70  119731
43803  2013Q4    65.70  119731
43804  2014Q1    86.46  119731
43805  2014Q2   101.93  119731
43806  2014Q3    88.90  119731
43807  2014Q4    92.17  119731
43808  2015Q1    97.40  119731
43809  2015Q2   137.13  119731
43810  2015Q3   133.13  119731
43811  2015Q4   135.40  119731
43812  2016Q1   142.27  119731
43813  2016Q2   153.69  119731
43814  2016Q3   163.91  119731
43815  2016Q4   155.50  119731
43816  2017Q1   170.10  119731
43817  2017Q2   154.19  119731
43818  2017Q3   150.05  119731
43819  2017Q4   158.67  119731
43840  2013Q1  4055.92  100643
43841  2013Q2  3659.59  100643
43842  2013Q3  3966.62  100643
43843  2013Q4  4247.55  100643
43844  2014Q1  4757.75  100643
43845  2014Q2  4356.01  100643
43846  2014Q3  4435.86  100643
43847  2014Q4  4713.29  100643
43848  2015Q1  4914.59  100643
43849  2015Q2  4497.31  100643
43850  2015Q3  4087.51  100643
43851  2015Q4  3994.61  100643
43852  2016Q1  3798.07  100643
43853  2016Q2  3862.08  100643
43854  2016Q3  3658.08  100643
43855  2016Q4  3390.98  100643
43856  2017Q1  3356.86  100643
43857  2017Q2  3187.65  100643
43858  2017Q3  3046.42  100643
43859  2017Q4  3117.16  100643>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
500   2013Q1  0.120612  119731
501   2013Q2 -0.057103  119731
502   2013Q3  0.165601  119731
503   2013Q4  0.141819  119731
504   2014Q1  0.100215  119731
505   2014Q2 -0.038803  119731
506   2014Q3  0.146834  119731
507   2014Q4  0.101767  119731
508   2015Q1  0.085884  119731
509   2015Q2 -0.066485  119731
510   2015Q3 -0.147889  119731
511   2015Q4  0.010810  119731
512   2016Q1 -0.034620  119731
513   2016Q2  0.035610  119731
514   2016Q3 -0.001186  119731
515   2016Q4 -0.044986  119731
516   2017Q1  0.020123  119731
517   2017Q2 -0.016924  119731
518   2017Q3  0.013979  119731
519   2017Q4  0.064129  119731
1560  2013Q1  0.119226  100643
1561  2013Q2 -0.058137  100643
1562  2013Q3  0.064081  100643
1563  2013Q4  0.071965  100643
1564  2014Q1  0.099195  100643
1565  2014Q2 -0.040150  100643
1566  2014Q3  0.145118  100643
1567  2014Q4  0.099832  100643
1568  2015Q1  0.083767  100643
1569  2015Q2 -0.071067  100643
1570  2015Q3 -0.155786  100643
1571  2015Q4  0.009026  100643
1572  2016Q1 -0.036899  100643
1573  2016Q2  0.033969  100643
1574  2016Q3 -0.003356  100643
1575  2016Q4 -0.046904  100643
1576  2017Q1  0.019165  100643
1577  2017Q2 -0.018212  100643
1578  2017Q3  0.012404  100643
1579  2017Q4  0.062488  100643>)
('Key_aum: ', 100643)
      Quarter     Data      ID
43840  2013Q1  4055.92  100643
43841  2013Q2  3659.59  100643
43842  2013Q3  3966.62  100643
43843  2013Q4  4247.55  100643
43844  2014Q1  4757.75  100643
43845  2014Q2  4356.01  100643
43846  2014Q3  4435.86  100643
43847  2014Q4  4713.29  100643
43848  2015Q1  4914.59  100643
43849  2015Q2  4497.31  100643
43850  2015Q3  4087.51  100643
43851  2015Q4  3994.61  100643
43852  2016Q1  3798.07  100643
43853  2016Q2  3862.08  100643
43854  2016Q3  3658.08  100643
43855  2016Q4  3390.98  100643
43856  2017Q1  3356.86  100643
43857  2017Q2  3187.65  100643
43858  2017Q3  3046.42  100643
43859  2017Q4  3117.16  100643
('Key_nav : ', 100643)
('data 1 : ', array([ 0.11922581, -0.05813662,  0.06408057,  0.071965  ,  0.09919523,
       -0.04014965,  0.14511763,  0.09983168,  0.08376654, -0.0710666 ,
       -0.15578573,  0.00902645, -0.03689937,  0.03396859, -0.00335593,
       -0.04690415,  0.01916466, -0.01821174,  0.01240391,  0.06248778]))
('data 2 :', array([ 4055.92,  3659.59,  3966.62,  4247.55,  4757.75,  4356.01,
        4435.86,  4713.29,  4914.59,  4497.31,  4087.51,  3994.61,
        3798.07,  3862.08,  3658.08,  3390.98,  3356.86,  3187.65,
        3046.42,  3117.16]))
('Key_aum: ', 119731)
      Quarter    Data      ID
43800  2013Q1    7.84  119731
43801  2013Q2   17.01  119731
43802  2013Q3   39.70  119731
43803  2013Q4   65.70  119731
43804  2014Q1   86.46  119731
43805  2014Q2  101.93  119731
43806  2014Q3   88.90  119731
43807  2014Q4   92.17  119731
43808  2015Q1   97.40  119731
43809  2015Q2  137.13  119731
43810  2015Q3  133.13  119731
43811  2015Q4  135.40  119731
43812  2016Q1  142.27  119731
43813  2016Q2  153.69  119731
43814  2016Q3  163.91  119731
43815  2016Q4  155.50  119731
43816  2017Q1  170.10  119731
43817  2017Q2  154.19  119731
43818  2017Q3  150.05  119731
43819  2017Q4  158.67  119731
('Key_nav : ', 119731)
('data 1 : ', array([ 0.12061183, -0.05710333,  0.16560079,  0.14181927,  0.10021483,
       -0.03880272,  0.14683358,  0.10176651,  0.08588382, -0.06648473,
       -0.14788858,  0.01080976, -0.03461977,  0.03560952, -0.00118636,
       -0.04498626,  0.02012281, -0.01692375,  0.01397946,  0.06412876]))
('data 2 :', array([   7.84,   17.01,   39.7 ,   65.7 ,   86.46,  101.93,   88.9 ,
         92.17,   97.4 ,  137.13,  133.13,  135.4 ,  142.27,  153.69,
        163.91,  155.5 ,  170.1 ,  154.19,  150.05,  158.67]))
('mean : ', array([ 0.12061183, -0.05710333,  0.16560079,  0.14181927,  0.10021483,
       -0.03880272,  0.14683358,  0.10176651,  0.08588382, -0.06648473,
       -0.14788858,  0.01080976, -0.03461977,  0.03560952, -0.00118636,
       -0.04498626,  0.02012281, -0.01692375,  0.01397946,  0.06412876]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
43800  2013Q1     7.84  119731
43801  2013Q2    17.01  119731
43802  2013Q3    39.70  119731
43803  2013Q4    65.70  119731
43804  2014Q1    86.46  119731
43805  2014Q2   101.93  119731
43806  2014Q3    88.90  119731
43807  2014Q4    92.17  119731
43808  2015Q1    97.40  119731
43809  2015Q2   137.13  119731
43810  2015Q3   133.13  119731
43811  2015Q4   135.40  119731
43812  2016Q1   142.27  119731
43813  2016Q2   153.69  119731
43814  2016Q3   163.91  119731
43815  2016Q4   155.50  119731
43816  2017Q1   170.10  119731
43817  2017Q2   154.19  119731
43818  2017Q3   150.05  119731
43819  2017Q4   158.67  119731
43840  2013Q1  4055.92  100643
43841  2013Q2  3659.59  100643
43842  2013Q3  3966.62  100643
43843  2013Q4  4247.55  100643
43844  2014Q1  4757.75  100643
43845  2014Q2  4356.01  100643
43846  2014Q3  4435.86  100643
43847  2014Q4  4713.29  100643
43848  2015Q1  4914.59  100643
43849  2015Q2  4497.31  100643
43850  2015Q3  4087.51  100643
43851  2015Q4  3994.61  100643
43852  2016Q1  3798.07  100643
43853  2016Q2  3862.08  100643
43854  2016Q3  3658.08  100643
43855  2016Q4  3390.98  100643
43856  2017Q1  3356.86  100643
43857  2017Q2  3187.65  100643
43858  2017Q3  3046.42  100643
43859  2017Q4  3117.16  100643>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
500   2013Q1  0.120612  119731
501   2013Q2 -0.057103  119731
502   2013Q3  0.165601  119731
503   2013Q4  0.141819  119731
504   2014Q1  0.100215  119731
505   2014Q2 -0.038803  119731
506   2014Q3  0.146834  119731
507   2014Q4  0.101767  119731
508   2015Q1  0.085884  119731
509   2015Q2 -0.066485  119731
510   2015Q3 -0.147889  119731
511   2015Q4  0.010810  119731
512   2016Q1 -0.034620  119731
513   2016Q2  0.035610  119731
514   2016Q3 -0.001186  119731
515   2016Q4 -0.044986  119731
516   2017Q1  0.020123  119731
517   2017Q2 -0.016924  119731
518   2017Q3  0.013979  119731
519   2017Q4  0.064129  119731
1560  2013Q1  0.119226  100643
1561  2013Q2 -0.058137  100643
1562  2013Q3  0.064081  100643
1563  2013Q4  0.071965  100643
1564  2014Q1  0.099195  100643
1565  2014Q2 -0.040150  100643
1566  2014Q3  0.145118  100643
1567  2014Q4  0.099832  100643
1568  2015Q1  0.083767  100643
1569  2015Q2 -0.071067  100643
1570  2015Q3 -0.155786  100643
1571  2015Q4  0.009026  100643
1572  2016Q1 -0.036899  100643
1573  2016Q2  0.033969  100643
1574  2016Q3 -0.003356  100643
1575  2016Q4 -0.046904  100643
1576  2017Q1  0.019165  100643
1577  2017Q2 -0.018212  100643
1578  2017Q3  0.012404  100643
1579  2017Q4  0.062488  100643>)
('Key_aum: ', 100643)
      Quarter     Data      ID
43840  2013Q1  4055.92  100643
43841  2013Q2  3659.59  100643
43842  2013Q3  3966.62  100643
43843  2013Q4  4247.55  100643
43844  2014Q1  4757.75  100643
43845  2014Q2  4356.01  100643
43846  2014Q3  4435.86  100643
43847  2014Q4  4713.29  100643
43848  2015Q1  4914.59  100643
43849  2015Q2  4497.31  100643
43850  2015Q3  4087.51  100643
43851  2015Q4  3994.61  100643
43852  2016Q1  3798.07  100643
43853  2016Q2  3862.08  100643
43854  2016Q3  3658.08  100643
43855  2016Q4  3390.98  100643
43856  2017Q1  3356.86  100643
43857  2017Q2  3187.65  100643
43858  2017Q3  3046.42  100643
43859  2017Q4  3117.16  100643

('Key_aum: ', 119731)
      Quarter    Data      ID
43800  2013Q1    7.84  119731
43801  2013Q2   17.01  119731
43802  2013Q3   39.70  119731
43803  2013Q4   65.70  119731
43804  2014Q1   86.46  119731
43805  2014Q2  101.93  119731
43806  2014Q3   88.90  119731
43807  2014Q4   92.17  119731
43808  2015Q1   97.40  119731
43809  2015Q2  137.13  119731
43810  2015Q3  133.13  119731
43811  2015Q4  135.40  119731
43812  2016Q1  142.27  119731
43813  2016Q2  153.69  119731
43814  2016Q3  163.91  119731
43815  2016Q4  155.50  119731
43816  2017Q1  170.10  119731
43817  2017Q2  154.19  119731
43818  2017Q3  150.05  119731
43819  2017Q4  158.67  119731
('Key_nav : ', 119731)
('data 1 : ', array([ 0.12061183, -0.05710333,  0.16560079,  0.14181927,  0.10021483,
       -0.03880272,  0.14683358,  0.10176651,  0.08588382, -0.06648473,
       -0.14788858,  0.01080976, -0.03461977,  0.03560952, -0.00118636,
       -0.04498626,  0.02012281, -0.01692375,  0.01397946,  0.06412876]))
('data 2 :', array([   7.84,   17.01,   39.7 ,   65.7 ,   86.46,  101.93,   88.9 ,
         92.17,   97.4 ,  137.13,  133.13,  135.4 ,  142.27,  153.69,
        163.91,  155.5 ,  170.1 ,  154.19,  150.05,  158.67]))
('mean : ', array([ 0.12061183, -0.05710333,  0.16560079,  0.14181927,  0.10021483,
       -0.03880272,  0.14683358,  0.10176651,  0.08588382, -0.06648473,
       -0.14788858,  0.01080976, -0.03461977,  0.03560952, -0.00118636,
       -0.04498626,  0.02012281, -0.01692375,  0.01397946,  0.06412876]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
43800  2013Q1     7.84  119731
43801  2013Q2    17.01  119731
43802  2013Q3    39.70  119731
43803  2013Q4    65.70  119731
43804  2014Q1    86.46  119731
43805  2014Q2   101.93  119731
43806  2014Q3    88.90  119731
43807  2014Q4    92.17  119731
43808  2015Q1    97.40  119731
43809  2015Q2   137.13  119731
43810  2015Q3   133.13  119731
43811  2015Q4   135.40  119731
43812  2016Q1   142.27  119731
43813  2016Q2   153.69  119731
43814  2016Q3   163.91  119731
43815  2016Q4   155.50  119731
43816  2017Q1   170.10  119731
43817  2017Q2   154.19  119731
43818  2017Q3   150.05  119731
43819  2017Q4   158.67  119731
43840  2013Q1  4055.92  100643
43841  2013Q2  3659.59  100643
43842  2013Q3  3966.62  100643
43843  2013Q4  4247.55  100643
43844  2014Q1  4757.75  100643
43845  2014Q2  4356.01  100643
43846  2014Q3  4435.86  100643
43847  2014Q4  4713.29  100643
43848  2015Q1  4914.59  100643
43849  2015Q2  4497.31  100643
43850  2015Q3  4087.51  100643
43851  2015Q4  3994.61  100643
43852  2016Q1  3798.07  100643
43853  2016Q2  3862.08  100643
43854  2016Q3  3658.08  100643
43855  2016Q4  3390.98  100643
43856  2017Q1  3356.86  100643
43857  2017Q2  3187.65  100643
43858  2017Q3  3046.42  100643
43859  2017Q4  3117.16  100643>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
500   2013Q1  0.120612  119731
501   2013Q2 -0.057103  119731
502   2013Q3  0.165601  119731
503   2013Q4  0.141819  119731
504   2014Q1  0.100215  119731
505   2014Q2 -0.038803  119731
506   2014Q3  0.146834  119731
507   2014Q4  0.101767  119731
508   2015Q1  0.085884  119731
509   2015Q2 -0.066485  119731
510   2015Q3 -0.147889  119731
511   2015Q4  0.010810  119731
512   2016Q1 -0.034620  119731
513   2016Q2  0.035610  119731
514   2016Q3 -0.001186  119731
515   2016Q4 -0.044986  119731
516   2017Q1  0.020123  119731
517   2017Q2 -0.016924  119731
518   2017Q3  0.013979  119731
519   2017Q4  0.064129  119731
1560  2013Q1  0.119226  100643
1561  2013Q2 -0.058137  100643
1562  2013Q3  0.064081  100643
1563  2013Q4  0.071965  100643
1564  2014Q1  0.099195  100643
1565  2014Q2 -0.040150  100643
1566  2014Q3  0.145118  100643
1567  2014Q4  0.099832  100643
1568  2015Q1  0.083767  100643
1569  2015Q2 -0.071067  100643
1570  2015Q3 -0.155786  100643
1571  2015Q4  0.009026  100643
1572  2016Q1 -0.036899  100643
1573  2016Q2  0.033969  100643
1574  2016Q3 -0.003356  100643
1575  2016Q4 -0.046904  100643
1576  2017Q1  0.019165  100643
1577  2017Q2 -0.018212  100643
1578  2017Q3  0.012404  100643
1579  2017Q4  0.062488  100643>)
('Key_aum: ', 100643)
      Quarter     Data      ID
43840  2013Q1  4055.92  100643
43841  2013Q2  3659.59  100643
43842  2013Q3  3966.62  100643
43843  2013Q4  4247.55  100643
43844  2014Q1  4757.75  100643
43845  2014Q2  4356.01  100643
43846  2014Q3  4435.86  100643
43847  2014Q4  4713.29  100643
43848  2015Q1  4914.59  100643
43849  2015Q2  4497.31  100643
43850  2015Q3  4087.51  100643
43851  2015Q4  3994.61  100643
43852  2016Q1  3798.07  100643
43853  2016Q2  3862.08  100643
43854  2016Q3  3658.08  100643
43855  2016Q4  3390.98  100643
43856  2017Q1  3356.86  100643
43857  2017Q2  3187.65  100643
43858  2017Q3  3046.42  100643
43859  2017Q4  3117.16  100643
('Key_nav : ', 100643)
('data 1 : ', array([ 0.11922581, -0.05813662,  0.06408057,  0.071965  ,  0.09919523,
       -0.04014965,  0.14511763,  0.09983168,  0.08376654, -0.0710666 ,
       -0.15578573,  0.00902645, -0.03689937,  0.03396859, -0.00335593,
       -0.04690415,  0.01916466, -0.01821174,  0.01240391,  0.06248778]))
('data 2 :', array([ 4055.92,  3659.59,  3966.62,  4247.55,  4757.75,  4356.01,
        4435.86,  4713.29,  4914.59,  4497.31,  4087.51,  3994.61,
        3798.07,  3862.08,  3658.08,  3390.98,  3356.86,  3187.65,
        3046.42,  3117.16]))
('Key_aum: ', 119731)
      Quarter    Data      ID
43800  2013Q1    7.84  119731
43801  2013Q2   17.01  119731
43802  2013Q3   39.70  119731
43803  2013Q4   65.70  119731
43804  2014Q1   86.46  119731
43805  2014Q2  101.93  119731
43806  2014Q3   88.90  119731
43807  2014Q4   92.17  119731
43808  2015Q1   97.40  119731
43809  2015Q2  137.13  119731
43810  2015Q3  133.13  119731
43811  2015Q4  135.40  119731
43812  2016Q1  142.27  119731
43813  2016Q2  153.69  119731
43814  2016Q3  163.91  119731
43815  2016Q4  155.50  119731
43816  2017Q1  170.10  119731
43817  2017Q2  154.19  119731
43818  2017Q3  150.05  119731
43819  2017Q4  158.67  119731
('Key_nav : ', 119731)
('data 1 : ', array([ 0.12061183, -0.05710333,  0.16560079,  0.14181927,  0.10021483,
       -0.03880272,  0.14683358,  0.10176651,  0.08588382, -0.06648473,
       -0.14788858,  0.01080976, -0.03461977,  0.03560952, -0.00118636,
       -0.04498626,  0.02012281, -0.01692375,  0.01397946,  0.06412876]))
('data 2 :', array([   7.84,   17.01,   39.7 ,   65.7 ,   86.46,  101.93,   88.9 ,
         92.17,   97.4 ,  137.13,  133.13,  135.4 ,  142.27,  153.69,
        163.91,  155.5 ,  170.1 ,  154.19,  150.05,  158.67]))
('mean : ', array([ 0.12061183, -0.05710333,  0.16560079,  0.14181927,  0.10021483,
       -0.03880272,  0.14683358,  0.10176651,  0.08588382, -0.06648473,
       -0.14788858,  0.01080976, -0.03461977,  0.03560952, -0.00118636,
       -0.04498626,  0.02012281, -0.01692375,  0.01397946,  0.06412876]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
43800  2013Q1     7.84  119731
43801  2013Q2    17.01  119731
43802  2013Q3    39.70  119731
43803  2013Q4    65.70  119731
43804  2014Q1    86.46  119731
43805  2014Q2   101.93  119731
43806  2014Q3    88.90  119731
43807  2014Q4    92.17  119731
43808  2015Q1    97.40  119731
43809  2015Q2   137.13  119731
43810  2015Q3   133.13  119731
43811  2015Q4   135.40  119731
43812  2016Q1   142.27  119731
43813  2016Q2   153.69  119731
43814  2016Q3   163.91  119731
43815  2016Q4   155.50  119731
43816  2017Q1   170.10  119731
43817  2017Q2   154.19  119731
43818  2017Q3   150.05  119731
43819  2017Q4   158.67  119731
43840  2013Q1  4055.92  100643
43841  2013Q2  3659.59  100643
43842  2013Q3  3966.62  100643
43843  2013Q4  4247.55  100643
43844  2014Q1  4757.75  100643
43845  2014Q2  4356.01  100643
43846  2014Q3  4435.86  100643
43847  2014Q4  4713.29  100643
43848  2015Q1  4914.59  100643
43849  2015Q2  4497.31  100643
43850  2015Q3  4087.51  100643
43851  2015Q4  3994.61  100643
43852  2016Q1  3798.07  100643
43853  2016Q2  3862.08  100643
43854  2016Q3  3658.08  100643
43855  2016Q4  3390.98  100643
43856  2017Q1  3356.86  100643
43857  2017Q2  3187.65  100643
43858  2017Q3  3046.42  100643
43859  2017Q4  3117.16  100643>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
500   2013Q1  0.120612  119731
501   2013Q2 -0.057103  119731
502   2013Q3  0.165601  119731
503   2013Q4  0.141819  119731
504   2014Q1  0.100215  119731
505   2014Q2 -0.038803  119731
506   2014Q3  0.146834  119731
507   2014Q4  0.101767  119731
508   2015Q1  0.085884  119731
509   2015Q2 -0.066485  119731
510   2015Q3 -0.147889  119731
511   2015Q4  0.010810  119731
512   2016Q1 -0.034620  119731
513   2016Q2  0.035610  119731
514   2016Q3 -0.001186  119731
515   2016Q4 -0.044986  119731
516   2017Q1  0.020123  119731
517   2017Q2 -0.016924  119731
518   2017Q3  0.013979  119731
519   2017Q4  0.064129  119731
1560  2013Q1  0.119226  100643
1561  2013Q2 -0.058137  100643
1562  2013Q3  0.064081  100643
1563  2013Q4  0.071965  100643
1564  2014Q1  0.099195  100643
1565  2014Q2 -0.040150  100643
1566  2014Q3  0.145118  100643
1567  2014Q4  0.099832  100643
1568  2015Q1  0.083767  100643
1569  2015Q2 -0.071067  100643
1570  2015Q3 -0.155786  100643
1571  2015Q4  0.009026  100643
1572  2016Q1 -0.036899  100643
1573  2016Q2  0.033969  100643
1574  2016Q3 -0.003356  100643
1575  2016Q4 -0.046904  100643
1576  2017Q1  0.019165  100643
1577  2017Q2 -0.018212  100643
1578  2017Q3  0.012404  100643
1579  2017Q4  0.062488  100643>)
('Key_aum: ', 100643)
      Quarter     Data      ID
43840  2013Q1  4055.92  100643
43841  2013Q2  3659.59  100643
43842  2013Q3  3966.62  100643
43843  2013Q4  4247.55  100643
43844  2014Q1  4757.75  100643
43845  2014Q2  4356.01  100643
43846  2014Q3  4435.86  100643
43847  2014Q4  4713.29  100643
43848  2015Q1  4914.59  100643
43849  2015Q2  4497.31  100643
43850  2015Q3  4087.51  100643
43851  2015Q4  3994.61  100643
43852  2016Q1  3798.07  100643
43853  2016Q2  3862.08  100643
43854  2016Q3  3658.08  100643
43855  2016Q4  3390.98  100643
43856  2017Q1  3356.86  100643
43857  2017Q2  3187.65  100643
43858  2017Q3  3046.42  100643
43859  2017Q4  3117.16  100643
('Key_nav : ', 100643)
('data 1 : ', array([ 0.11922581, -0.05813662,  0.06408057,  0.071965  ,  0.09919523,
       -0.04014965,  0.14511763,  0.09983168,  0.08376654, -0.0710666 ,
       -0.15578573,  0.00902645, -0.03689937,  0.03396859, -0.00335593,
       -0.04690415,  0.01916466, -0.01821174,  0.01240391,  0.06248778]))
('data 2 :', array([ 4055.92,  3659.59,  3966.62,  4247.55,  4757.75,  4356.01,
        4435.86,  4713.29,  4914.59,  4497.31,  4087.51,  3994.61,
        3798.07,  3862.08,  3658.08,  3390.98,  3356.86,  3187.65,
        3046.42,  3117.16]))
('Key_aum: ', 119731)
      Quarter    Data      ID
43800  2013Q1    7.84  119731
43801  2013Q2   17.01  119731
43802  2013Q3   39.70  119731
43803  2013Q4   65.70  119731
43804  2014Q1   86.46  119731
43805  2014Q2  101.93  119731
43806  2014Q3   88.90  119731
43807  2014Q4   92.17  119731
43808  2015Q1   97.40  119731
43809  2015Q2  137.13  119731
43810  2015Q3  133.13  119731
43811  2015Q4  135.40  119731
43812  2016Q1  142.27  119731
43813  2016Q2  153.69  119731
43814  2016Q3  163.91  119731
43815  2016Q4  155.50  119731
43816  2017Q1  170.10  119731
43817  2017Q2  154.19  119731
43818  2017Q3  150.05  119731
43819  2017Q4  158.67  119731
('Key_nav : ', 119731)
('data 1 : ', array([ 0.12061183, -0.05710333,  0.16560079,  0.14181927,  0.10021483,
       -0.03880272,  0.14683358,  0.10176651,  0.08588382, -0.06648473,
       -0.14788858,  0.01080976, -0.03461977,  0.03560952, -0.00118636,
       -0.04498626,  0.02012281, -0.01692375,  0.01397946,  0.06412876]))
('data 2 :', array([   7.84,   17.01,   39.7 ,   65.7 ,   86.46,  101.93,   88.9 ,
         92.17,   97.4 ,  137.13,  133.13,  135.4 ,  142.27,  153.69,
        163.91,  155.5 ,  170.1 ,  154.19,  150.05,  158.67]))
('mean : ', array([ 0.12061183, -0.05710333,  0.16560079,  0.14181927,  0.10021483,
       -0.03880272,  0.14683358,  0.10176651,  0.08588382, -0.06648473,
       -0.14788858,  0.01080976, -0.03461977,  0.03560952, -0.00118636,
       -0.04498626,  0.02012281, -0.01692375,  0.01397946,  0.06412876]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
43800  2013Q1     7.84  119731
43801  2013Q2    17.01  119731
43802  2013Q3    39.70  119731
43803  2013Q4    65.70  119731
43804  2014Q1    86.46  119731
43805  2014Q2   101.93  119731
43806  2014Q3    88.90  119731
43807  2014Q4    92.17  119731
43808  2015Q1    97.40  119731
43809  2015Q2   137.13  119731
43810  2015Q3   133.13  119731
43811  2015Q4   135.40  119731
43812  2016Q1   142.27  119731
43813  2016Q2   153.69  119731
43814  2016Q3   163.91  119731
43815  2016Q4   155.50  119731
43816  2017Q1   170.10  119731
43817  2017Q2   154.19  119731
43818  2017Q3   150.05  119731
43819  2017Q4   158.67  119731
43840  2013Q1  4055.92  100643
43841  2013Q2  3659.59  100643
43842  2013Q3  3966.62  100643
43843  2013Q4  4247.55  100643
43844  2014Q1  4757.75  100643
43845  2014Q2  4356.01  100643
43846  2014Q3  4435.86  100643
43847  2014Q4  4713.29  100643
43848  2015Q1  4914.59  100643
43849  2015Q2  4497.31  100643
43850  2015Q3  4087.51  100643
43851  2015Q4  3994.61  100643
43852  2016Q1  3798.07  100643
43853  2016Q2  3862.08  100643
43854  2016Q3  3658.08  100643
43855  2016Q4  3390.98  100643
43856  2017Q1  3356.86  100643
43857  2017Q2  3187.65  100643
43858  2017Q3  3046.42  100643
43859  2017Q4  3117.16  100643>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
500   2013Q1  0.120612  119731
501   2013Q2 -0.057103  119731
502   2013Q3  0.165601  119731
503   2013Q4  0.141819  119731
504   2014Q1  0.100215  119731
505   2014Q2 -0.038803  119731
506   2014Q3  0.146834  119731
507   2014Q4  0.101767  119731
508   2015Q1  0.085884  119731
509   2015Q2 -0.066485  119731
510   2015Q3 -0.147889  119731
511   2015Q4  0.010810  119731
512   2016Q1 -0.034620  119731
513   2016Q2  0.035610  119731
514   2016Q3 -0.001186  119731
515   2016Q4 -0.044986  119731
516   2017Q1  0.020123  119731
517   2017Q2 -0.016924  119731
518   2017Q3  0.013979  119731
519   2017Q4  0.064129  119731
1560  2013Q1  0.119226  100643
1561  2013Q2 -0.058137  100643
1562  2013Q3  0.064081  100643
1563  2013Q4  0.071965  100643
1564  2014Q1  0.099195  100643
1565  2014Q2 -0.040150  100643
1566  2014Q3  0.145118  100643
1567  2014Q4  0.099832  100643
1568  2015Q1  0.083767  100643
1569  2015Q2 -0.071067  100643
1570  2015Q3 -0.155786  100643
1571  2015Q4  0.009026  100643
1572  2016Q1 -0.036899  100643
1573  2016Q2  0.033969  100643
1574  2016Q3 -0.003356  100643
1575  2016Q4 -0.046904  100643
1576  2017Q1  0.019165  100643
1577  2017Q2 -0.018212  100643
1578  2017Q3  0.012404  100643
1579  2017Q4  0.062488  100643>)
('Key_aum: ', 100643)
      Quarter     Data      ID
43840  2013Q1  4055.92  100643
43841  2013Q2  3659.59  100643
43842  2013Q3  3966.62  100643
43843  2013Q4  4247.55  100643
43844  2014Q1  4757.75  100643
43845  2014Q2  4356.01  100643
43846  2014Q3  4435.86  100643
43847  2014Q4  4713.29  100643
43848  2015Q1  4914.59  100643
43849  2015Q2  4497.31  100643
43850  2015Q3  4087.51  100643
43851  2015Q4  3994.61  100643
43852  2016Q1  3798.07  100643
43853  2016Q2  3862.08  100643
43854  2016Q3  3658.08  100643
43855  2016Q4  3390.98  100643
43856  2017Q1  3356.86  100643
43857  2017Q2  3187.65  100643
43858  2017Q3  3046.42  100643
43859  2017Q4  3117.16  100643
('Key_nav : ', 100643)
('data 1 : ', array([ 0.11922581, -0.05813662,  0.06408057,  0.071965  ,  0.09919523,
       -0.04014965,  0.14511763,  0.09983168,  0.08376654, -0.0710666 ,
       -0.15578573,  0.00902645, -0.03689937,  0.03396859, -0.00335593,
       -0.04690415,  0.01916466, -0.01821174,  0.01240391,  0.06248778]))
('data 2 :', array([ 4055.92,  3659.59,  3966.62,  4247.55,  4757.75,  4356.01,
        4435.86,  4713.29,  4914.59,  4497.31,  4087.51,  3994.61,
        3798.07,  3862.08,  3658.08,  3390.98,  3356.86,  3187.65,
        3046.42,  3117.16]))
('Key_aum: ', 119731)
      Quarter    Data      ID
43800  2013Q1    7.84  119731
43801  2013Q2   17.01  119731
43802  2013Q3   39.70  119731
43803  2013Q4   65.70  119731
43804  2014Q1   86.46  119731
43805  2014Q2  101.93  119731
43806  2014Q3   88.90  119731
43807  2014Q4   92.17  119731
43808  2015Q1   97.40  119731
43809  2015Q2  137.13  119731
43810  2015Q3  133.13  119731
43811  2015Q4  135.40  119731
43812  2016Q1  142.27  119731
43813  2016Q2  153.69  119731
43814  2016Q3  163.91  119731
43815  2016Q4  155.50  119731
43816  2017Q1  170.10  119731
43817  2017Q2  154.19  119731
43818  2017Q3  150.05  119731
43819  2017Q4  158.67  119731
('Key_nav : ', 119731)
('data 1 : ', array([ 0.12061183, -0.05710333,  0.16560079,  0.14181927,  0.10021483,
       -0.03880272,  0.14683358,  0.10176651,  0.08588382, -0.06648473,
       -0.14788858,  0.01080976, -0.03461977,  0.03560952, -0.00118636,
       -0.04498626,  0.02012281, -0.01692375,  0.01397946,  0.06412876]))
('data 2 :', array([   7.84,   17.01,   39.7 ,   65.7 ,   86.46,  101.93,   88.9 ,
         92.17,   97.4 ,  137.13,  133.13,  135.4 ,  142.27,  153.69,
        163.91,  155.5 ,  170.1 ,  154.19,  150.05,  158.67]))
('mean : ', array([ 0.12061183, -0.05710333,  0.16560079,  0.14181927,  0.10021483,
       -0.03880272,  0.14683358,  0.10176651,  0.08588382, -0.06648473,
       -0.14788858,  0.01080976, -0.03461977,  0.03560952, -0.00118636,
       -0.04498626,  0.02012281, -0.01692375,  0.01397946,  0.06412876]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
43800  2013Q1     7.84  119731
43801  2013Q2    17.01  119731
43802  2013Q3    39.70  119731
43803  2013Q4    65.70  119731
43804  2014Q1    86.46  119731
43805  2014Q2   101.93  119731
43806  2014Q3    88.90  119731
43807  2014Q4    92.17  119731
43808  2015Q1    97.40  119731
43809  2015Q2   137.13  119731
43810  2015Q3   133.13  119731
43811  2015Q4   135.40  119731
43812  2016Q1   142.27  119731
43813  2016Q2   153.69  119731
43814  2016Q3   163.91  119731
43815  2016Q4   155.50  119731
43816  2017Q1   170.10  119731
43817  2017Q2   154.19  119731
43818  2017Q3   150.05  119731
43819  2017Q4   158.67  119731
43840  2013Q1  4055.92  100643
43841  2013Q2  3659.59  100643
43842  2013Q3  3966.62  100643
43843  2013Q4  4247.55  100643
43844  2014Q1  4757.75  100643
43845  2014Q2  4356.01  100643
43846  2014Q3  4435.86  100643
43847  2014Q4  4713.29  100643
43848  2015Q1  4914.59  100643
43849  2015Q2  4497.31  100643
43850  2015Q3  4087.51  100643
43851  2015Q4  3994.61  100643
43852  2016Q1  3798.07  100643
43853  2016Q2  3862.08  100643
43854  2016Q3  3658.08  100643
43855  2016Q4  3390.98  100643
43856  2017Q1  3356.86  100643
43857  2017Q2  3187.65  100643
43858  2017Q3  3046.42  100643
43859  2017Q4  3117.16  100643>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
500   2013Q1  0.120612  119731
501   2013Q2 -0.057103  119731
502   2013Q3  0.165601  119731
503   2013Q4  0.141819  119731
504   2014Q1  0.100215  119731
505   2014Q2 -0.038803  119731
506   2014Q3  0.146834  119731
507   2014Q4  0.101767  119731
508   2015Q1  0.085884  119731
509   2015Q2 -0.066485  119731
510   2015Q3 -0.147889  119731
511   2015Q4  0.010810  119731
512   2016Q1 -0.034620  119731
513   2016Q2  0.035610  119731
514   2016Q3 -0.001186  119731
515   2016Q4 -0.044986  119731
516   2017Q1  0.020123  119731
517   2017Q2 -0.016924  119731
518   2017Q3  0.013979  119731
519   2017Q4  0.064129  119731
1560  2013Q1  0.119226  100643
1561  2013Q2 -0.058137  100643
1562  2013Q3  0.064081  100643
1563  2013Q4  0.071965  100643
1564  2014Q1  0.099195  100643
1565  2014Q2 -0.040150  100643
1566  2014Q3  0.145118  100643
1567  2014Q4  0.099832  100643
1568  2015Q1  0.083767  100643
1569  2015Q2 -0.071067  100643

        163.91,  155.5 ,  170.1 ,  154.19,  150.05,  158.67]))
('mean : ', array([ 0.12061183, -0.05710333,  0.16560079,  0.14181927,  0.10021483,
       -0.03880272,  0.14683358,  0.10176651,  0.08588382, -0.06648473,
       -0.14788858,  0.01080976, -0.03461977,  0.03560952, -0.00118636,
       -0.04498626,  0.02012281, -0.01692375,  0.01397946,  0.06412876]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
43800  2013Q1     7.84  119731
43801  2013Q2    17.01  119731
43802  2013Q3    39.70  119731
43803  2013Q4    65.70  119731
43804  2014Q1    86.46  119731
43805  2014Q2   101.93  119731
43806  2014Q3    88.90  119731
43807  2014Q4    92.17  119731
43808  2015Q1    97.40  119731
43809  2015Q2   137.13  119731
43810  2015Q3   133.13  119731
43811  2015Q4   135.40  119731
43812  2016Q1   142.27  119731
43813  2016Q2   153.69  119731
43814  2016Q3   163.91  119731
43815  2016Q4   155.50  119731
43816  2017Q1   170.10  119731
43817  2017Q2   154.19  119731
43818  2017Q3   150.05  119731
43819  2017Q4   158.67  119731
43840  2013Q1  4055.92  100643
43841  2013Q2  3659.59  100643
43842  2013Q3  3966.62  100643
43843  2013Q4  4247.55  100643
43844  2014Q1  4757.75  100643
43845  2014Q2  4356.01  100643
43846  2014Q3  4435.86  100643
43847  2014Q4  4713.29  100643
43848  2015Q1  4914.59  100643
43849  2015Q2  4497.31  100643
43850  2015Q3  4087.51  100643
43851  2015Q4  3994.61  100643
43852  2016Q1  3798.07  100643
43853  2016Q2  3862.08  100643
43854  2016Q3  3658.08  100643
43855  2016Q4  3390.98  100643
43856  2017Q1  3356.86  100643
43857  2017Q2  3187.65  100643
43858  2017Q3  3046.42  100643
43859  2017Q4  3117.16  100643>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
500   2013Q1  0.120612  119731
501   2013Q2 -0.057103  119731
502   2013Q3  0.165601  119731
503   2013Q4  0.141819  119731
504   2014Q1  0.100215  119731
505   2014Q2 -0.038803  119731
506   2014Q3  0.146834  119731
507   2014Q4  0.101767  119731
508   2015Q1  0.085884  119731
509   2015Q2 -0.066485  119731
510   2015Q3 -0.147889  119731
511   2015Q4  0.010810  119731
512   2016Q1 -0.034620  119731
513   2016Q2  0.035610  119731
514   2016Q3 -0.001186  119731
515   2016Q4 -0.044986  119731
516   2017Q1  0.020123  119731
517   2017Q2 -0.016924  119731
518   2017Q3  0.013979  119731
519   2017Q4  0.064129  119731
1560  2013Q1  0.119226  100643
1561  2013Q2 -0.058137  100643
1562  2013Q3  0.064081  100643
1563  2013Q4  0.071965  100643
1564  2014Q1  0.099195  100643
1565  2014Q2 -0.040150  100643
1566  2014Q3  0.145118  100643
1567  2014Q4  0.099832  100643
1568  2015Q1  0.083767  100643
1569  2015Q2 -0.071067  100643
1570  2015Q3 -0.155786  100643
1571  2015Q4  0.009026  100643
1572  2016Q1 -0.036899  100643
1573  2016Q2  0.033969  100643
1574  2016Q3 -0.003356  100643
1575  2016Q4 -0.046904  100643
1576  2017Q1  0.019165  100643
1577  2017Q2 -0.018212  100643
1578  2017Q3  0.012404  100643
1579  2017Q4  0.062488  100643>)
('Key_aum: ', 100643)
      Quarter     Data      ID
43840  2013Q1  4055.92  100643
43841  2013Q2  3659.59  100643
43842  2013Q3  3966.62  100643
43843  2013Q4  4247.55  100643
43844  2014Q1  4757.75  100643
43845  2014Q2  4356.01  100643
43846  2014Q3  4435.86  100643
43847  2014Q4  4713.29  100643
43848  2015Q1  4914.59  100643
43849  2015Q2  4497.31  100643
43850  2015Q3  4087.51  100643
43851  2015Q4  3994.61  100643
43852  2016Q1  3798.07  100643
43853  2016Q2  3862.08  100643
43854  2016Q3  3658.08  100643
43855  2016Q4  3390.98  100643
43856  2017Q1  3356.86  100643
43857  2017Q2  3187.65  100643
43858  2017Q3  3046.42  100643
43859  2017Q4  3117.16  100643
('Key_nav : ', 100643)
('data 1 : ', array([ 0.11922581, -0.05813662,  0.06408057,  0.071965  ,  0.09919523,
       -0.04014965,  0.14511763,  0.09983168,  0.08376654, -0.0710666 ,
       -0.15578573,  0.00902645, -0.03689937,  0.03396859, -0.00335593,
       -0.04690415,  0.01916466, -0.01821174,  0.01240391,  0.06248778]))
('data 2 :', array([ 4055.92,  3659.59,  3966.62,  4247.55,  4757.75,  4356.01,
        4435.86,  4713.29,  4914.59,  4497.31,  4087.51,  3994.61,
        3798.07,  3862.08,  3658.08,  3390.98,  3356.86,  3187.65,
        3046.42,  3117.16]))
('Key_aum: ', 119731)
      Quarter    Data      ID
43800  2013Q1    7.84  119731
43801  2013Q2   17.01  119731
43802  2013Q3   39.70  119731
43803  2013Q4   65.70  119731
43804  2014Q1   86.46  119731
43805  2014Q2  101.93  119731
43806  2014Q3   88.90  119731
43807  2014Q4   92.17  119731
43808  2015Q1   97.40  119731
43809  2015Q2  137.13  119731
43810  2015Q3  133.13  119731
43811  2015Q4  135.40  119731
43812  2016Q1  142.27  119731
43813  2016Q2  153.69  119731
43814  2016Q3  163.91  119731
43815  2016Q4  155.50  119731
43816  2017Q1  170.10  119731
43817  2017Q2  154.19  119731
43818  2017Q3  150.05  119731
43819  2017Q4  158.67  119731
('Key_nav : ', 119731)
('data 1 : ', array([ 0.12061183, -0.05710333,  0.16560079,  0.14181927,  0.10021483,
       -0.03880272,  0.14683358,  0.10176651,  0.08588382, -0.06648473,
       -0.14788858,  0.01080976, -0.03461977,  0.03560952, -0.00118636,
       -0.04498626,  0.02012281, -0.01692375,  0.01397946,  0.06412876]))
('data 2 :', array([   7.84,   17.01,   39.7 ,   65.7 ,   86.46,  101.93,   88.9 ,
         92.17,   97.4 ,  137.13,  133.13,  135.4 ,  142.27,  153.69,
        163.91,  155.5 ,  170.1 ,  154.19,  150.05,  158.67]))
('mean : ', array([ 0.12061183, -0.05710333,  0.16560079,  0.14181927,  0.10021483,
       -0.03880272,  0.14683358,  0.10176651,  0.08588382, -0.06648473,
       -0.14788858,  0.01080976, -0.03461977,  0.03560952, -0.00118636,
       -0.04498626,  0.02012281, -0.01692375,  0.01397946,  0.06412876]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
43800  2013Q1     7.84  119731
43801  2013Q2    17.01  119731
43802  2013Q3    39.70  119731
43803  2013Q4    65.70  119731
43804  2014Q1    86.46  119731
43805  2014Q2   101.93  119731
43806  2014Q3    88.90  119731
43807  2014Q4    92.17  119731
43808  2015Q1    97.40  119731
43809  2015Q2   137.13  119731
43810  2015Q3   133.13  119731
43811  2015Q4   135.40  119731
43812  2016Q1   142.27  119731
43813  2016Q2   153.69  119731
43814  2016Q3   163.91  119731
43815  2016Q4   155.50  119731
43816  2017Q1   170.10  119731
43817  2017Q2   154.19  119731
43818  2017Q3   150.05  119731
43819  2017Q4   158.67  119731
43840  2013Q1  4055.92  100643
43841  2013Q2  3659.59  100643
43842  2013Q3  3966.62  100643
43843  2013Q4  4247.55  100643
43844  2014Q1  4757.75  100643
43845  2014Q2  4356.01  100643
43846  2014Q3  4435.86  100643
43847  2014Q4  4713.29  100643
43848  2015Q1  4914.59  100643
43849  2015Q2  4497.31  100643
43850  2015Q3  4087.51  100643
43851  2015Q4  3994.61  100643
43852  2016Q1  3798.07  100643
43853  2016Q2  3862.08  100643
43854  2016Q3  3658.08  100643
43855  2016Q4  3390.98  100643
43856  2017Q1  3356.86  100643
43857  2017Q2  3187.65  100643
43858  2017Q3  3046.42  100643
43859  2017Q4  3117.16  100643>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
500   2013Q1  0.120612  119731
501   2013Q2 -0.057103  119731
502   2013Q3  0.165601  119731
503   2013Q4  0.141819  119731
504   2014Q1  0.100215  119731
505   2014Q2 -0.038803  119731
506   2014Q3  0.146834  119731
507   2014Q4  0.101767  119731
508   2015Q1  0.085884  119731
509   2015Q2 -0.066485  119731
510   2015Q3 -0.147889  119731
511   2015Q4  0.010810  119731
512   2016Q1 -0.034620  119731
513   2016Q2  0.035610  119731
514   2016Q3 -0.001186  119731
515   2016Q4 -0.044986  119731
516   2017Q1  0.020123  119731
517   2017Q2 -0.016924  119731
518   2017Q3  0.013979  119731
519   2017Q4  0.064129  119731
1560  2013Q1  0.119226  100643
1561  2013Q2 -0.058137  100643
1562  2013Q3  0.064081  100643
1563  2013Q4  0.071965  100643
1564  2014Q1  0.099195  100643
1565  2014Q2 -0.040150  100643
1566  2014Q3  0.145118  100643
1567  2014Q4  0.099832  100643
1568  2015Q1  0.083767  100643
1569  2015Q2 -0.071067  100643
1570  2015Q3 -0.155786  100643
1571  2015Q4  0.009026  100643
1572  2016Q1 -0.036899  100643
1573  2016Q2  0.033969  100643
1574  2016Q3 -0.003356  100643
1575  2016Q4 -0.046904  100643
1576  2017Q1  0.019165  100643
1577  2017Q2 -0.018212  100643
1578  2017Q3  0.012404  100643
1579  2017Q4  0.062488  100643>)
('Key_aum: ', 100643)
      Quarter     Data      ID
43840  2013Q1  4055.92  100643
43841  2013Q2  3659.59  100643
43842  2013Q3  3966.62  100643
43843  2013Q4  4247.55  100643
43844  2014Q1  4757.75  100643
43845  2014Q2  4356.01  100643
43846  2014Q3  4435.86  100643
43847  2014Q4  4713.29  100643
43848  2015Q1  4914.59  100643
43849  2015Q2  4497.31  100643
43850  2015Q3  4087.51  100643
43851  2015Q4  3994.61  100643
43852  2016Q1  3798.07  100643
43853  2016Q2  3862.08  100643
43854  2016Q3  3658.08  100643
43855  2016Q4  3390.98  100643
43856  2017Q1  3356.86  100643
43857  2017Q2  3187.65  100643
43858  2017Q3  3046.42  100643
43859  2017Q4  3117.16  100643
('Key_nav : ', 100643)
('data 1 : ', array([ 0.11922581, -0.05813662,  0.06408057,  0.071965  ,  0.09919523,
       -0.04014965,  0.14511763,  0.09983168,  0.08376654, -0.0710666 ,
       -0.15578573,  0.00902645, -0.03689937,  0.03396859, -0.00335593,
       -0.04690415,  0.01916466, -0.01821174,  0.01240391,  0.06248778]))
('data 2 :', array([ 4055.92,  3659.59,  3966.62,  4247.55,  4757.75,  4356.01,
        4435.86,  4713.29,  4914.59,  4497.31,  4087.51,  3994.61,
        3798.07,  3862.08,  3658.08,  3390.98,  3356.86,  3187.65,
        3046.42,  3117.16]))
('Key_aum: ', 119731)
      Quarter    Data      ID
43800  2013Q1    7.84  119731
43801  2013Q2   17.01  119731
43802  2013Q3   39.70  119731
43803  2013Q4   65.70  119731
43804  2014Q1   86.46  119731
43805  2014Q2  101.93  119731
43806  2014Q3   88.90  119731
43807  2014Q4   92.17  119731
43808  2015Q1   97.40  119731
43809  2015Q2  137.13  119731
43810  2015Q3  133.13  119731
43811  2015Q4  135.40  119731
43812  2016Q1  142.27  119731
43813  2016Q2  153.69  119731
43814  2016Q3  163.91  119731
43815  2016Q4  155.50  119731
43816  2017Q1  170.10  119731
43817  2017Q2  154.19  119731
43818  2017Q3  150.05  119731
43819  2017Q4  158.67  119731
('Key_nav : ', 119731)
('data 1 : ', array([ 0.12061183, -0.05710333,  0.16560079,  0.14181927,  0.10021483,
       -0.03880272,  0.14683358,  0.10176651,  0.08588382, -0.06648473,
       -0.14788858,  0.01080976, -0.03461977,  0.03560952, -0.00118636,
       -0.04498626,  0.02012281, -0.01692375,  0.01397946,  0.06412876]))
('data 2 :', array([   7.84,   17.01,   39.7 ,   65.7 ,   86.46,  101.93,   88.9 ,
         92.17,   97.4 ,  137.13,  133.13,  135.4 ,  142.27,  153.69,
        163.91,  155.5 ,  170.1 ,  154.19,  150.05,  158.67]))
('mean : ', array([ 0.12061183, -0.05710333,  0.16560079,  0.14181927,  0.10021483,
       -0.03880272,  0.14683358,  0.10176651,  0.08588382, -0.06648473,
       -0.14788858,  0.01080976, -0.03461977,  0.03560952, -0.00118636,
       -0.04498626,  0.02012281, -0.01692375,  0.01397946,  0.06412876]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
43800  2013Q1     7.84  119731
43801  2013Q2    17.01  119731
43802  2013Q3    39.70  119731
43803  2013Q4    65.70  119731
43804  2014Q1    86.46  119731
43805  2014Q2   101.93  119731
43806  2014Q3    88.90  119731
43807  2014Q4    92.17  119731
43808  2015Q1    97.40  119731
43809  2015Q2   137.13  119731
43810  2015Q3   133.13  119731
43811  2015Q4   135.40  119731
43812  2016Q1   142.27  119731
43813  2016Q2   153.69  119731
43814  2016Q3   163.91  119731
43815  2016Q4   155.50  119731
43816  2017Q1   170.10  119731
43817  2017Q2   154.19  119731
43818  2017Q3   150.05  119731
43819  2017Q4   158.67  119731
43840  2013Q1  4055.92  100643
43841  2013Q2  3659.59  100643
43842  2013Q3  3966.62  100643
43843  2013Q4  4247.55  100643
43844  2014Q1  4757.75  100643
43845  2014Q2  4356.01  100643
43846  2014Q3  4435.86  100643
43847  2014Q4  4713.29  100643
43848  2015Q1  4914.59  100643
43849  2015Q2  4497.31  100643
43850  2015Q3  4087.51  100643
43851  2015Q4  3994.61  100643
43852  2016Q1  3798.07  100643
43853  2016Q2  3862.08  100643
43854  2016Q3  3658.08  100643
43855  2016Q4  3390.98  100643
43856  2017Q1  3356.86  100643
43857  2017Q2  3187.65  100643
43858  2017Q3  3046.42  100643
43859  2017Q4  3117.16  100643>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
500   2013Q1  0.120612  119731
501   2013Q2 -0.057103  119731
502   2013Q3  0.165601  119731
503   2013Q4  0.141819  119731
504   2014Q1  0.100215  119731
505   2014Q2 -0.038803  119731
506   2014Q3  0.146834  119731
507   2014Q4  0.101767  119731
508   2015Q1  0.085884  119731
509   2015Q2 -0.066485  119731
510   2015Q3 -0.147889  119731
511   2015Q4  0.010810  119731
512   2016Q1 -0.034620  119731
513   2016Q2  0.035610  119731
514   2016Q3 -0.001186  119731
515   2016Q4 -0.044986  119731
516   2017Q1  0.020123  119731
517   2017Q2 -0.016924  119731
518   2017Q3  0.013979  119731
519   2017Q4  0.064129  119731
1560  2013Q1  0.119226  100643
1561  2013Q2 -0.058137  100643
1562  2013Q3  0.064081  100643
1563  2013Q4  0.071965  100643
1564  2014Q1  0.099195  100643
1565  2014Q2 -0.040150  100643
1566  2014Q3  0.145118  100643
1567  2014Q4  0.099832  100643
1568  2015Q1  0.083767  100643
1569  2015Q2 -0.071067  100643
1570  2015Q3 -0.155786  100643
1571  2015Q4  0.009026  100643
1572  2016Q1 -0.036899  100643
1573  2016Q2  0.033969  100643
1574  2016Q3 -0.003356  100643
1575  2016Q4 -0.046904  100643
1576  2017Q1  0.019165  100643
1577  2017Q2 -0.018212  100643
1578  2017Q3  0.012404  100643
1579  2017Q4  0.062488  100643>)
('Key_aum: ', 100643)
      Quarter     Data      ID
43840  2013Q1  4055.92  100643
43841  2013Q2  3659.59  100643
43842  2013Q3  3966.62  100643
43843  2013Q4  4247.55  100643
43844  2014Q1  4757.75  100643
43845  2014Q2  4356.01  100643
43846  2014Q3  4435.86  100643
43847  2014Q4  4713.29  100643
43848  2015Q1  4914.59  100643
43849  2015Q2  4497.31  100643
43850  2015Q3  4087.51  100643
43851  2015Q4  3994.61  100643
43852  2016Q1  3798.07  100643
43853  2016Q2  3862.08  100643
43854  2016Q3  3658.08  100643
43855  2016Q4  3390.98  100643
43856  2017Q1  3356.86  100643
43857  2017Q2  3187.65  100643
43858  2017Q3  3046.42  100643
43859  2017Q4  3117.16  100643
('Key_nav : ', 100643)
('data 1 : ', array([ 0.11922581, -0.05813662,  0.06408057,  0.071965  ,  0.09919523,
       -0.04014965,  0.14511763,  0.09983168,  0.08376654, -0.0710666 ,
       -0.15578573,  0.00902645, -0.03689937,  0.03396859, -0.00335593,
       -0.04690415,  0.01916466, -0.01821174,  0.01240391,  0.06248778]))
('data 2 :', array([ 4055.92,  3659.59,  3966.62,  4247.55,  4757.75,  4356.01,
        4435.86,  4713.29,  4914.59,  4497.31,  4087.51,  3994.61,
        3798.07,  3862.08,  3658.08,  3390.98,  3356.86,  3187.65,
        3046.42,  3117.16]))
('Key_aum: ', 119731)
      Quarter    Data      ID
43800  2013Q1    7.84  119731
43801  2013Q2   17.01  119731
43802  2013Q3   39.70  119731
43803  2013Q4   65.70  119731
43804  2014Q1   86.46  119731
43805  2014Q2  101.93  119731
43806  2014Q3   88.90  119731
43807  2014Q4   92.17  119731
43808  2015Q1   97.40  119731
43809  2015Q2  137.13  119731
43810  2015Q3  133.13  119731
43811  2015Q4  135.40  119731
43812  2016Q1  142.27  119731
43813  2016Q2  153.69  119731
43814  2016Q3  163.91  119731
43815  2016Q4  155.50  119731
43816  2017Q1  170.10  119731
43817  2017Q2  154.19  119731
43818  2017Q3  150.05  119731
43819  2017Q4  158.67  119731
('Key_nav : ', 119731)
('data 1 : ', array([ 0.12061183, -0.05710333,  0.16560079,  0.14181927,  0.10021483,
       -0.03880272,  0.14683358,  0.10176651,  0.08588382, -0.06648473,
       -0.14788858,  0.01080976, -0.03461977,  0.03560952, -0.00118636,
       -0.04498626,  0.02012281, -0.01692375,  0.01397946,  0.06412876]))
('data 2 :', array([   7.84,   17.01,   39.7 ,   65.7 ,   86.46,  101.93,   88.9 ,
         92.17,   97.4 ,  137.13,  133.13,  135.4 ,  142.27,  153.69,
        163.91,  155.5 ,  170.1 ,  154.19,  150.05,  158.67]))
('mean : ', array([ 0.12061183, -0.05710333,  0.16560079,  0.14181927,  0.10021483,
       -0.03880272,  0.14683358,  0.10176651,  0.08588382, -0.06648473,
       -0.14788858,  0.01080976, -0.03461977,  0.03560952, -0.00118636,
       -0.04498626,  0.02012281, -0.01692375,  0.01397946,  0.06412876]))
('IDs :', [135795, 135796])
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
185320  2013Q1     0.00  135795
185321  2013Q2     0.00  135795
185322  2013Q3     0.00  135795
185323  2013Q4     0.00  135795
185324  2014Q1     0.00  135795
185325  2014Q2     0.00  135795
185326  2014Q3     0.00  135795
185327  2014Q4     0.00  135795
185328  2015Q1     0.00  135795
185329  2015Q2     0.00  135795
185330  2015Q3     0.00  135795
185331  2015Q4     2.02  135795
185332  2016Q1    51.85  135795
185333  2016Q2    67.22  135795
185334  2016Q3    68.04  135795
185335  2016Q4    64.33  135795
185336  2017Q1    48.29  135795
185337  2017Q2    46.35  135795
185338  2017Q3    47.22  135795
185339  2017Q4    56.39  135795
185360  2013Q1     0.00  135796
185361  2013Q2     0.00  135796
185362  2013Q3     0.00  135796
185363  2013Q4     0.00  135796
185364  2014Q1     0.00  135796
185365  2014Q2     0.00  135796
185366  2014Q3     0.00  135796
185367  2014Q4     0.00  135796
185368  2015Q1     0.00  135796
185369  2015Q2     0.00  135796
185370  2015Q3     0.00  135796
185371  2015Q4    33.56  135796
185372  2016Q1   855.55  135796
185373  2016Q2   915.47  135796
185374  2016Q3   865.91  135796
185375  2016Q4   810.18  135796
185376  2017Q1   815.11  135796
185377  2017Q2   928.05  135796
185378  2017Q3   974.70  135796
185379  2017Q4  1159.28  135796>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
120  2013Q1  0.000000  135796
121  2013Q2  0.000000  135796
122  2013Q3  0.000000  135796
123  2013Q4  0.000000  135796
124  2014Q1  0.000000  135796
125  2014Q2  0.000000  135796
126  2014Q3  0.000000  135796
127  2014Q4  0.000000  135796
128  2015Q1  0.000000  135796
129  2015Q2  0.000000  135796
130  2015Q3  0.000000  135796
131  2015Q4 -0.001044  135796
132  2016Q1 -0.000460  135796
133  2016Q2  0.030918  135796
134  2016Q3 -0.061040  135796
135  2016Q4 -0.059681  135796
136  2017Q1  0.021989  135796
137  2017Q2 -0.005410  135796
138  2017Q3  0.033267  135796
139  2017Q4  0.077719  135796
880  2013Q1  0.000000  135795
881  2013Q2  0.000000  135795
882  2013Q3  0.000000  135795
883  2013Q4  0.000000  135795
884  2014Q1  0.000000  135795
885  2014Q2  0.000000  135795
886  2014Q3  0.000000  135795
887  2014Q4  0.000000  135795
888  2015Q1  0.000000  135795
889  2015Q2  0.000000  135795
890  2015Q3  0.000000  135795
891  2015Q4 -0.001001  135795
892  2016Q1  0.001757  135795
893  2016Q2  0.035131  135795
894  2016Q3 -0.057022  135795
895  2016Q4 -0.055434  135795
896  2017Q1  0.026222  135795
897  2017Q2 -0.000731  135795
898  2017Q3  0.037719  135795
899  2017Q4  0.082224  135795>)
('Key_aum: ', 135795)
       Quarter   Data      ID
185320  2013Q1   0.00  135795
185321  2013Q2   0.00  135795
185322  2013Q3   0.00  135795
185323  2013Q4   0.00  135795
185324  2014Q1   0.00  135795
185325  2014Q2   0.00  135795
185326  2014Q3   0.00  135795
185327  2014Q4   0.00  135795
185328  2015Q1   0.00  135795
185329  2015Q2   0.00  135795
185330  2015Q3   0.00  135795
185331  2015Q4   2.02  135795
185332  2016Q1  51.85  135795
185333  2016Q2  67.22  135795
185334  2016Q3  68.04  135795
185335  2016Q4  64.33  135795
185336  2017Q1  48.29  135795
185337  2017Q2  46.35  135795
185338  2017Q3  47.22  135795
185339  2017Q4  56.39  135795
('Key_nav : ', 135795)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,

('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
185320  2013Q1     0.00  135795
185321  2013Q2     0.00  135795
185322  2013Q3     0.00  135795
185323  2013Q4     0.00  135795
185324  2014Q1     0.00  135795
185325  2014Q2     0.00  135795
185326  2014Q3     0.00  135795
185327  2014Q4     0.00  135795
185328  2015Q1     0.00  135795
185329  2015Q2     0.00  135795
185330  2015Q3     0.00  135795
185331  2015Q4     2.02  135795
185332  2016Q1    51.85  135795
185333  2016Q2    67.22  135795
185334  2016Q3    68.04  135795
185335  2016Q4    64.33  135795
185336  2017Q1    48.29  135795
185337  2017Q2    46.35  135795
185338  2017Q3    47.22  135795
185339  2017Q4    56.39  135795
185360  2013Q1     0.00  135796
185361  2013Q2     0.00  135796
185362  2013Q3     0.00  135796
185363  2013Q4     0.00  135796
185364  2014Q1     0.00  135796
185365  2014Q2     0.00  135796
185366  2014Q3     0.00  135796
185367  2014Q4     0.00  135796
185368  2015Q1     0.00  135796
185369  2015Q2     0.00  135796
185370  2015Q3     0.00  135796
185371  2015Q4    33.56  135796
185372  2016Q1   855.55  135796
185373  2016Q2   915.47  135796
185374  2016Q3   865.91  135796
185375  2016Q4   810.18  135796
185376  2017Q1   815.11  135796
185377  2017Q2   928.05  135796
185378  2017Q3   974.70  135796
185379  2017Q4  1159.28  135796>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
120  2013Q1  0.000000  135796
121  2013Q2  0.000000  135796
122  2013Q3  0.000000  135796
123  2013Q4  0.000000  135796
124  2014Q1  0.000000  135796
125  2014Q2  0.000000  135796
126  2014Q3  0.000000  135796
127  2014Q4  0.000000  135796
128  2015Q1  0.000000  135796
129  2015Q2  0.000000  135796
130  2015Q3  0.000000  135796
131  2015Q4 -0.001044  135796
132  2016Q1 -0.000460  135796
133  2016Q2  0.030918  135796
134  2016Q3 -0.061040  135796
135  2016Q4 -0.059681  135796
136  2017Q1  0.021989  135796
137  2017Q2 -0.005410  135796
138  2017Q3  0.033267  135796
139  2017Q4  0.077719  135796
880  2013Q1  0.000000  135795
881  2013Q2  0.000000  135795
882  2013Q3  0.000000  135795
883  2013Q4  0.000000  135795
884  2014Q1  0.000000  135795
885  2014Q2  0.000000  135795
886  2014Q3  0.000000  135795
887  2014Q4  0.000000  135795
888  2015Q1  0.000000  135795
889  2015Q2  0.000000  135795
890  2015Q3  0.000000  135795
891  2015Q4 -0.001001  135795
892  2016Q1  0.001757  135795
893  2016Q2  0.035131  135795
894  2016Q3 -0.057022  135795
895  2016Q4 -0.055434  135795
896  2017Q1  0.026222  135795
897  2017Q2 -0.000731  135795
898  2017Q3  0.037719  135795
899  2017Q4  0.082224  135795>)
('Key_aum: ', 135795)
       Quarter   Data      ID
185320  2013Q1   0.00  135795
185321  2013Q2   0.00  135795
185322  2013Q3   0.00  135795
185323  2013Q4   0.00  135795
185324  2014Q1   0.00  135795
185325  2014Q2   0.00  135795
185326  2014Q3   0.00  135795
185327  2014Q4   0.00  135795
185328  2015Q1   0.00  135795
185329  2015Q2   0.00  135795
185330  2015Q3   0.00  135795
185331  2015Q4   2.02  135795
185332  2016Q1  51.85  135795
185333  2016Q2  67.22  135795
185334  2016Q3  68.04  135795
185335  2016Q4  64.33  135795
185336  2017Q1  48.29  135795
185337  2017Q2  46.35  135795
185338  2017Q3  47.22  135795
185339  2017Q4  56.39  135795
('Key_nav : ', 135795)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00100096,  0.00175655,  0.03513146, -0.05702172,
       -0.05543435,  0.02622177, -0.00073063,  0.03771918,  0.08222359]))
('data 2 :', array([  0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
         0.  ,   0.  ,   0.  ,   2.02,  51.85,  67.22,  68.04,  64.33,
        48.29,  46.35,  47.22,  56.39]))
('Key_aum: ', 135796)
       Quarter     Data      ID
185360  2013Q1     0.00  135796
185361  2013Q2     0.00  135796
185362  2013Q3     0.00  135796
185363  2013Q4     0.00  135796
185364  2014Q1     0.00  135796
185365  2014Q2     0.00  135796
185366  2014Q3     0.00  135796
185367  2014Q4     0.00  135796
185368  2015Q1     0.00  135796
185369  2015Q2     0.00  135796
185370  2015Q3     0.00  135796
185371  2015Q4    33.56  135796
185372  2016Q1   855.55  135796
185373  2016Q2   915.47  135796
185374  2016Q3   865.91  135796
185375  2016Q4   810.18  135796
185376  2017Q1   815.11  135796
185377  2017Q2   928.05  135796
185378  2017Q3   974.70  135796
185379  2017Q4  1159.28  135796
('Key_nav : ', 135796)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00104436, -0.00046048,  0.03091821, -0.06104022,
       -0.05968137,  0.0219888 , -0.0054104 ,  0.03326711,  0.0777186 ]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    33.56,
         855.55,   915.47,   865.91,   810.18,   815.11,   928.05,
         974.7 ,  1159.28]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan, -0.00104436, -0.00046048,  0.03091821, -0.06104022,
       -0.05968137,  0.0219888 , -0.0054104 ,  0.03326711,  0.0777186 ]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
185320  2013Q1     0.00  135795
185321  2013Q2     0.00  135795
185322  2013Q3     0.00  135795
185323  2013Q4     0.00  135795
185324  2014Q1     0.00  135795
185325  2014Q2     0.00  135795
185326  2014Q3     0.00  135795
185327  2014Q4     0.00  135795
185328  2015Q1     0.00  135795
185329  2015Q2     0.00  135795
185330  2015Q3     0.00  135795
185331  2015Q4     2.02  135795
185332  2016Q1    51.85  135795
185333  2016Q2    67.22  135795
185334  2016Q3    68.04  135795
185335  2016Q4    64.33  135795
185336  2017Q1    48.29  135795
185337  2017Q2    46.35  135795
185338  2017Q3    47.22  135795
185339  2017Q4    56.39  135795
185360  2013Q1     0.00  135796
185361  2013Q2     0.00  135796
185362  2013Q3     0.00  135796
185363  2013Q4     0.00  135796
185364  2014Q1     0.00  135796
185365  2014Q2     0.00  135796
185366  2014Q3     0.00  135796
185367  2014Q4     0.00  135796
185368  2015Q1     0.00  135796
185369  2015Q2     0.00  135796
185370  2015Q3     0.00  135796
185371  2015Q4    33.56  135796
185372  2016Q1   855.55  135796
185373  2016Q2   915.47  135796
185374  2016Q3   865.91  135796
185375  2016Q4   810.18  135796
185376  2017Q1   815.11  135796
185377  2017Q2   928.05  135796
185378  2017Q3   974.70  135796
185379  2017Q4  1159.28  135796>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
120  2013Q1  0.000000  135796
121  2013Q2  0.000000  135796
122  2013Q3  0.000000  135796
123  2013Q4  0.000000  135796
124  2014Q1  0.000000  135796
125  2014Q2  0.000000  135796
126  2014Q3  0.000000  135796
127  2014Q4  0.000000  135796
128  2015Q1  0.000000  135796
129  2015Q2  0.000000  135796
130  2015Q3  0.000000  135796
131  2015Q4 -0.001044  135796
132  2016Q1 -0.000460  135796
133  2016Q2  0.030918  135796
134  2016Q3 -0.061040  135796
135  2016Q4 -0.059681  135796
136  2017Q1  0.021989  135796
137  2017Q2 -0.005410  135796
138  2017Q3  0.033267  135796
139  2017Q4  0.077719  135796
880  2013Q1  0.000000  135795
881  2013Q2  0.000000  135795
882  2013Q3  0.000000  135795
883  2013Q4  0.000000  135795
884  2014Q1  0.000000  135795
885  2014Q2  0.000000  135795
886  2014Q3  0.000000  135795
887  2014Q4  0.000000  135795
888  2015Q1  0.000000  135795
889  2015Q2  0.000000  135795
890  2015Q3  0.000000  135795
891  2015Q4 -0.001001  135795
892  2016Q1  0.001757  135795
893  2016Q2  0.035131  135795
894  2016Q3 -0.057022  135795
895  2016Q4 -0.055434  135795
896  2017Q1  0.026222  135795
897  2017Q2 -0.000731  135795
898  2017Q3  0.037719  135795
899  2017Q4  0.082224  135795>)
('Key_aum: ', 135795)
       Quarter   Data      ID
185320  2013Q1   0.00  135795
185321  2013Q2   0.00  135795
185322  2013Q3   0.00  135795
185323  2013Q4   0.00  135795
185324  2014Q1   0.00  135795
185325  2014Q2   0.00  135795
185326  2014Q3   0.00  135795
185327  2014Q4   0.00  135795
185328  2015Q1   0.00  135795
185329  2015Q2   0.00  135795
185330  2015Q3   0.00  135795
185331  2015Q4   2.02  135795
185332  2016Q1  51.85  135795
185333  2016Q2  67.22  135795
185334  2016Q3  68.04  135795
185335  2016Q4  64.33  135795
185336  2017Q1  48.29  135795
185337  2017Q2  46.35  135795
185338  2017Q3  47.22  135795
185339  2017Q4  56.39  135795
('Key_nav : ', 135795)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00100096,  0.00175655,  0.03513146, -0.05702172,
       -0.05543435,  0.02622177, -0.00073063,  0.03771918,  0.08222359]))
('data 2 :', array([  0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
         0.  ,   0.  ,   0.  ,   2.02,  51.85,  67.22,  68.04,  64.33,
        48.29,  46.35,  47.22,  56.39]))
('Key_aum: ', 135796)
       Quarter     Data      ID
185360  2013Q1     0.00  135796
185361  2013Q2     0.00  135796
185362  2013Q3     0.00  135796
185363  2013Q4     0.00  135796
185364  2014Q1     0.00  135796
185365  2014Q2     0.00  135796
185366  2014Q3     0.00  135796
185367  2014Q4     0.00  135796
185368  2015Q1     0.00  135796
185369  2015Q2     0.00  135796
185370  2015Q3     0.00  135796
185371  2015Q4    33.56  135796
185372  2016Q1   855.55  135796
185373  2016Q2   915.47  135796
185374  2016Q3   865.91  135796
185375  2016Q4   810.18  135796
185376  2017Q1   815.11  135796
185377  2017Q2   928.05  135796
185378  2017Q3   974.70  135796
185379  2017Q4  1159.28  135796
('Key_nav : ', 135796)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00104436, -0.00046048,  0.03091821, -0.06104022,
       -0.05968137,  0.0219888 , -0.0054104 ,  0.03326711,  0.0777186 ]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    33.56,
         855.55,   915.47,   865.91,   810.18,   815.11,   928.05,
         974.7 ,  1159.28]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan, -0.00104436, -0.00046048,  0.03091821, -0.06104022,
       -0.05968137,  0.0219888 , -0.0054104 ,  0.03326711,  0.0777186 ]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
185320  2013Q1     0.00  135795
185321  2013Q2     0.00  135795
185322  2013Q3     0.00  135795
185323  2013Q4     0.00  135795
185324  2014Q1     0.00  135795
185325  2014Q2     0.00  135795
185326  2014Q3     0.00  135795
185327  2014Q4     0.00  135795
185328  2015Q1     0.00  135795
185329  2015Q2     0.00  135795
185330  2015Q3     0.00  135795
185331  2015Q4     2.02  135795
185332  2016Q1    51.85  135795
185333  2016Q2    67.22  135795
185334  2016Q3    68.04  135795
185335  2016Q4    64.33  135795
185336  2017Q1    48.29  135795
185337  2017Q2    46.35  135795
185338  2017Q3    47.22  135795
185339  2017Q4    56.39  135795
185360  2013Q1     0.00  135796
185361  2013Q2     0.00  135796
185362  2013Q3     0.00  135796
185363  2013Q4     0.00  135796
185364  2014Q1     0.00  135796
185365  2014Q2     0.00  135796
185366  2014Q3     0.00  135796
185367  2014Q4     0.00  135796
185368  2015Q1     0.00  135796
185369  2015Q2     0.00  135796
185370  2015Q3     0.00  135796
185371  2015Q4    33.56  135796
185372  2016Q1   855.55  135796
185373  2016Q2   915.47  135796
185374  2016Q3   865.91  135796
185375  2016Q4   810.18  135796
185376  2017Q1   815.11  135796
185377  2017Q2   928.05  135796
185378  2017Q3   974.70  135796
185379  2017Q4  1159.28  135796>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
120  2013Q1  0.000000  135796
121  2013Q2  0.000000  135796
122  2013Q3  0.000000  135796
123  2013Q4  0.000000  135796
124  2014Q1  0.000000  135796
125  2014Q2  0.000000  135796
126  2014Q3  0.000000  135796
127  2014Q4  0.000000  135796
128  2015Q1  0.000000  135796
129  2015Q2  0.000000  135796
130  2015Q3  0.000000  135796
131  2015Q4 -0.001044  135796
132  2016Q1 -0.000460  135796
133  2016Q2  0.030918  135796
134  2016Q3 -0.061040  135796
135  2016Q4 -0.059681  135796
136  2017Q1  0.021989  135796
137  2017Q2 -0.005410  135796
138  2017Q3  0.033267  135796
139  2017Q4  0.077719  135796
880  2013Q1  0.000000  135795
881  2013Q2  0.000000  135795
882  2013Q3  0.000000  135795
883  2013Q4  0.000000  135795
884  2014Q1  0.000000  135795
885  2014Q2  0.000000  135795
886  2014Q3  0.000000  135795
887  2014Q4  0.000000  135795
888  2015Q1  0.000000  135795
889  2015Q2  0.000000  135795
890  2015Q3  0.000000  135795
891  2015Q4 -0.001001  135795
892  2016Q1  0.001757  135795
893  2016Q2  0.035131  135795
894  2016Q3 -0.057022  135795
895  2016Q4 -0.055434  135795
896  2017Q1  0.026222  135795
897  2017Q2 -0.000731  135795
898  2017Q3  0.037719  135795
899  2017Q4  0.082224  135795>)
('Key_aum: ', 135795)
       Quarter   Data      ID
185320  2013Q1   0.00  135795
185321  2013Q2   0.00  135795
185322  2013Q3   0.00  135795
185323  2013Q4   0.00  135795
185324  2014Q1   0.00  135795
185325  2014Q2   0.00  135795
185326  2014Q3   0.00  135795
185327  2014Q4   0.00  135795
185328  2015Q1   0.00  135795
185329  2015Q2   0.00  135795
185330  2015Q3   0.00  135795
185331  2015Q4   2.02  135795
185332  2016Q1  51.85  135795
185333  2016Q2  67.22  135795
185334  2016Q3  68.04  135795
185335  2016Q4  64.33  135795
185336  2017Q1  48.29  135795
185337  2017Q2  46.35  135795
185338  2017Q3  47.22  135795
185339  2017Q4  56.39  135795
('Key_nav : ', 135795)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00100096,  0.00175655,  0.03513146, -0.05702172,
       -0.05543435,  0.02622177, -0.00073063,  0.03771918,  0.08222359]))
('data 2 :', array([  0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
         0.  ,   0.  ,   0.  ,   2.02,  51.85,  67.22,  68.04,  64.33,
        48.29,  46.35,  47.22,  56.39]))
('Key_aum: ', 135796)
       Quarter     Data      ID
185360  2013Q1     0.00  135796
185361  2013Q2     0.00  135796
185362  2013Q3     0.00  135796
185363  2013Q4     0.00  135796
185364  2014Q1     0.00  135796
185365  2014Q2     0.00  135796
185366  2014Q3     0.00  135796
185367  2014Q4     0.00  135796
185368  2015Q1     0.00  135796
185369  2015Q2     0.00  135796
185370  2015Q3     0.00  135796
185371  2015Q4    33.56  135796
185372  2016Q1   855.55  135796
185373  2016Q2   915.47  135796
185374  2016Q3   865.91  135796
185375  2016Q4   810.18  135796
185376  2017Q1   815.11  135796
185377  2017Q2   928.05  135796
185378  2017Q3   974.70  135796
185379  2017Q4  1159.28  135796
('Key_nav : ', 135796)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00104436, -0.00046048,  0.03091821, -0.06104022,
       -0.05968137,  0.0219888 , -0.0054104 ,  0.03326711,  0.0777186 ]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    33.56,
         855.55,   915.47,   865.91,   810.18,   815.11,   928.05,
         974.7 ,  1159.28]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan, -0.00104436, -0.00046048,  0.03091821, -0.06104022,
       -0.05968137,  0.0219888 , -0.0054104 ,  0.03326711,  0.0777186 ]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
185320  2013Q1     0.00  135795
185321  2013Q2     0.00  135795
185322  2013Q3     0.00  135795
185323  2013Q4     0.00  135795
185324  2014Q1     0.00  135795
185325  2014Q2     0.00  135795
185326  2014Q3     0.00  135795
185327  2014Q4     0.00  135795
185328  2015Q1     0.00  135795
185329  2015Q2     0.00  135795
185330  2015Q3     0.00  135795
185331  2015Q4     2.02  135795
185332  2016Q1    51.85  135795
185333  2016Q2    67.22  135795
185334  2016Q3    68.04  135795
185335  2016Q4    64.33  135795
185336  2017Q1    48.29  135795
185337  2017Q2    46.35  135795
185338  2017Q3    47.22  135795
185339  2017Q4    56.39  135795
185360  2013Q1     0.00  135796
185361  2013Q2     0.00  135796
185362  2013Q3     0.00  135796
185363  2013Q4     0.00  135796
185364  2014Q1     0.00  135796
185365  2014Q2     0.00  135796
185366  2014Q3     0.00  135796
185367  2014Q4     0.00  135796
185368  2015Q1     0.00  135796
185369  2015Q2     0.00  135796
185370  2015Q3     0.00  135796
185371  2015Q4    33.56  135796
185372  2016Q1   855.55  135796
185373  2016Q2   915.47  135796
185374  2016Q3   865.91  135796
185375  2016Q4   810.18  135796
185376  2017Q1   815.11  135796
185377  2017Q2   928.05  135796
185378  2017Q3   974.70  135796
185379  2017Q4  1159.28  135796>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
120  2013Q1  0.000000  135796
121  2013Q2  0.000000  135796
122  2013Q3  0.000000  135796
123  2013Q4  0.000000  135796
124  2014Q1  0.000000  135796
125  2014Q2  0.000000  135796
126  2014Q3  0.000000  135796
127  2014Q4  0.000000  135796
128  2015Q1  0.000000  135796
129  2015Q2  0.000000  135796
130  2015Q3  0.000000  135796
131  2015Q4 -0.001044  135796
132  2016Q1 -0.000460  135796
133  2016Q2  0.030918  135796
134  2016Q3 -0.061040  135796
135  2016Q4 -0.059681  135796
136  2017Q1  0.021989  135796
137  2017Q2 -0.005410  135796
138  2017Q3  0.033267  135796
139  2017Q4  0.077719  135796
880  2013Q1  0.000000  135795
881  2013Q2  0.000000  135795
882  2013Q3  0.000000  135795
883  2013Q4  0.000000  135795
884  2014Q1  0.000000  135795
885  2014Q2  0.000000  135795
886  2014Q3  0.000000  135795
887  2014Q4  0.000000  135795
888  2015Q1  0.000000  135795
889  2015Q2  0.000000  135795
890  2015Q3  0.000000  135795
891  2015Q4 -0.001001  135795
892  2016Q1  0.001757  135795
893  2016Q2  0.035131  135795
894  2016Q3 -0.057022  135795
895  2016Q4 -0.055434  135795
896  2017Q1  0.026222  135795
897  2017Q2 -0.000731  135795
898  2017Q3  0.037719  135795
899  2017Q4  0.082224  135795>)
('Key_aum: ', 135795)
       Quarter   Data      ID
185320  2013Q1   0.00  135795
185321  2013Q2   0.00  135795
185322  2013Q3   0.00  135795
185323  2013Q4   0.00  135795
185324  2014Q1   0.00  135795
185325  2014Q2   0.00  135795
185326  2014Q3   0.00  135795
185327  2014Q4   0.00  135795
185328  2015Q1   0.00  135795
185329  2015Q2   0.00  135795
185330  2015Q3   0.00  135795
185331  2015Q4   2.02  135795
185332  2016Q1  51.85  135795
185333  2016Q2  67.22  135795
185334  2016Q3  68.04  135795
185335  2016Q4  64.33  135795
185336  2017Q1  48.29  135795
185337  2017Q2  46.35  135795
185338  2017Q3  47.22  135795
185339  2017Q4  56.39  135795
('Key_nav : ', 135795)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00100096,  0.00175655,  0.03513146, -0.05702172,
       -0.05543435,  0.02622177, -0.00073063,  0.03771918,  0.08222359]))
('data 2 :', array([  0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
         0.  ,   0.  ,   0.  ,   2.02,  51.85,  67.22,  68.04,  64.33,
        48.29,  46.35,  47.22,  56.39]))
('Key_aum: ', 135796)

('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
185320  2013Q1     0.00  135795
185321  2013Q2     0.00  135795
185322  2013Q3     0.00  135795
185323  2013Q4     0.00  135795
185324  2014Q1     0.00  135795
185325  2014Q2     0.00  135795
185326  2014Q3     0.00  135795
185327  2014Q4     0.00  135795
185328  2015Q1     0.00  135795
185329  2015Q2     0.00  135795
185330  2015Q3     0.00  135795
185331  2015Q4     2.02  135795
185332  2016Q1    51.85  135795
185333  2016Q2    67.22  135795
185334  2016Q3    68.04  135795
185335  2016Q4    64.33  135795
185336  2017Q1    48.29  135795
185337  2017Q2    46.35  135795
185338  2017Q3    47.22  135795
185339  2017Q4    56.39  135795
185360  2013Q1     0.00  135796
185361  2013Q2     0.00  135796
185362  2013Q3     0.00  135796
185363  2013Q4     0.00  135796
185364  2014Q1     0.00  135796
185365  2014Q2     0.00  135796
185366  2014Q3     0.00  135796
185367  2014Q4     0.00  135796
185368  2015Q1     0.00  135796
185369  2015Q2     0.00  135796
185370  2015Q3     0.00  135796
185371  2015Q4    33.56  135796
185372  2016Q1   855.55  135796
185373  2016Q2   915.47  135796
185374  2016Q3   865.91  135796
185375  2016Q4   810.18  135796
185376  2017Q1   815.11  135796
185377  2017Q2   928.05  135796
185378  2017Q3   974.70  135796
185379  2017Q4  1159.28  135796>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
120  2013Q1  0.000000  135796
121  2013Q2  0.000000  135796
122  2013Q3  0.000000  135796
123  2013Q4  0.000000  135796
124  2014Q1  0.000000  135796
125  2014Q2  0.000000  135796
126  2014Q3  0.000000  135796
127  2014Q4  0.000000  135796
128  2015Q1  0.000000  135796
129  2015Q2  0.000000  135796
130  2015Q3  0.000000  135796
131  2015Q4 -0.001044  135796
132  2016Q1 -0.000460  135796
133  2016Q2  0.030918  135796
134  2016Q3 -0.061040  135796
135  2016Q4 -0.059681  135796
136  2017Q1  0.021989  135796
137  2017Q2 -0.005410  135796
138  2017Q3  0.033267  135796
139  2017Q4  0.077719  135796
880  2013Q1  0.000000  135795
881  2013Q2  0.000000  135795
882  2013Q3  0.000000  135795
883  2013Q4  0.000000  135795
884  2014Q1  0.000000  135795
885  2014Q2  0.000000  135795
886  2014Q3  0.000000  135795
887  2014Q4  0.000000  135795
888  2015Q1  0.000000  135795
889  2015Q2  0.000000  135795
890  2015Q3  0.000000  135795
891  2015Q4 -0.001001  135795
892  2016Q1  0.001757  135795
893  2016Q2  0.035131  135795
894  2016Q3 -0.057022  135795
895  2016Q4 -0.055434  135795
896  2017Q1  0.026222  135795
897  2017Q2 -0.000731  135795
898  2017Q3  0.037719  135795
899  2017Q4  0.082224  135795>)
('Key_aum: ', 135795)
       Quarter   Data      ID
185320  2013Q1   0.00  135795
185321  2013Q2   0.00  135795
185322  2013Q3   0.00  135795
185323  2013Q4   0.00  135795
185324  2014Q1   0.00  135795
185325  2014Q2   0.00  135795
185326  2014Q3   0.00  135795
185327  2014Q4   0.00  135795
185328  2015Q1   0.00  135795
185329  2015Q2   0.00  135795
185330  2015Q3   0.00  135795
185331  2015Q4   2.02  135795
185332  2016Q1  51.85  135795
185333  2016Q2  67.22  135795
185334  2016Q3  68.04  135795
185335  2016Q4  64.33  135795
185336  2017Q1  48.29  135795
185337  2017Q2  46.35  135795
185338  2017Q3  47.22  135795
185339  2017Q4  56.39  135795
('Key_nav : ', 135795)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00100096,  0.00175655,  0.03513146, -0.05702172,
       -0.05543435,  0.02622177, -0.00073063,  0.03771918,  0.08222359]))
('data 2 :', array([  0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
         0.  ,   0.  ,   0.  ,   2.02,  51.85,  67.22,  68.04,  64.33,
        48.29,  46.35,  47.22,  56.39]))
('Key_aum: ', 135796)
       Quarter     Data      ID
185360  2013Q1     0.00  135796
185361  2013Q2     0.00  135796
185362  2013Q3     0.00  135796
185363  2013Q4     0.00  135796
185364  2014Q1     0.00  135796
185365  2014Q2     0.00  135796
185366  2014Q3     0.00  135796
185367  2014Q4     0.00  135796
185368  2015Q1     0.00  135796
185369  2015Q2     0.00  135796
185370  2015Q3     0.00  135796
185371  2015Q4    33.56  135796
185372  2016Q1   855.55  135796
185373  2016Q2   915.47  135796
185374  2016Q3   865.91  135796
185375  2016Q4   810.18  135796
185376  2017Q1   815.11  135796
185377  2017Q2   928.05  135796
185378  2017Q3   974.70  135796
185379  2017Q4  1159.28  135796
('Key_nav : ', 135796)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00104436, -0.00046048,  0.03091821, -0.06104022,
       -0.05968137,  0.0219888 , -0.0054104 ,  0.03326711,  0.0777186 ]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    33.56,
         855.55,   915.47,   865.91,   810.18,   815.11,   928.05,
         974.7 ,  1159.28]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan, -0.00104436, -0.00046048,  0.03091821, -0.06104022,
       -0.05968137,  0.0219888 , -0.0054104 ,  0.03326711,  0.0777186 ]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
185320  2013Q1     0.00  135795
185321  2013Q2     0.00  135795
185322  2013Q3     0.00  135795
185323  2013Q4     0.00  135795
185324  2014Q1     0.00  135795
185325  2014Q2     0.00  135795
185326  2014Q3     0.00  135795
185327  2014Q4     0.00  135795
185328  2015Q1     0.00  135795
185329  2015Q2     0.00  135795
185330  2015Q3     0.00  135795
185331  2015Q4     2.02  135795
185332  2016Q1    51.85  135795
185333  2016Q2    67.22  135795
185334  2016Q3    68.04  135795
185335  2016Q4    64.33  135795
185336  2017Q1    48.29  135795
185337  2017Q2    46.35  135795
185338  2017Q3    47.22  135795
185339  2017Q4    56.39  135795
185360  2013Q1     0.00  135796
185361  2013Q2     0.00  135796
185362  2013Q3     0.00  135796
185363  2013Q4     0.00  135796
185364  2014Q1     0.00  135796
185365  2014Q2     0.00  135796
185366  2014Q3     0.00  135796
185367  2014Q4     0.00  135796
185368  2015Q1     0.00  135796
185369  2015Q2     0.00  135796
185370  2015Q3     0.00  135796
185371  2015Q4    33.56  135796
185372  2016Q1   855.55  135796
185373  2016Q2   915.47  135796
185374  2016Q3   865.91  135796
185375  2016Q4   810.18  135796
185376  2017Q1   815.11  135796
185377  2017Q2   928.05  135796
185378  2017Q3   974.70  135796
185379  2017Q4  1159.28  135796>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
120  2013Q1  0.000000  135796
121  2013Q2  0.000000  135796
122  2013Q3  0.000000  135796
123  2013Q4  0.000000  135796
124  2014Q1  0.000000  135796
125  2014Q2  0.000000  135796
126  2014Q3  0.000000  135796
127  2014Q4  0.000000  135796
128  2015Q1  0.000000  135796
129  2015Q2  0.000000  135796
130  2015Q3  0.000000  135796
131  2015Q4 -0.001044  135796
132  2016Q1 -0.000460  135796
133  2016Q2  0.030918  135796
134  2016Q3 -0.061040  135796
135  2016Q4 -0.059681  135796
136  2017Q1  0.021989  135796
137  2017Q2 -0.005410  135796
138  2017Q3  0.033267  135796
139  2017Q4  0.077719  135796
880  2013Q1  0.000000  135795
881  2013Q2  0.000000  135795
882  2013Q3  0.000000  135795
883  2013Q4  0.000000  135795
884  2014Q1  0.000000  135795
885  2014Q2  0.000000  135795
886  2014Q3  0.000000  135795
887  2014Q4  0.000000  135795
888  2015Q1  0.000000  135795
889  2015Q2  0.000000  135795
890  2015Q3  0.000000  135795
891  2015Q4 -0.001001  135795
892  2016Q1  0.001757  135795
893  2016Q2  0.035131  135795
894  2016Q3 -0.057022  135795
895  2016Q4 -0.055434  135795
896  2017Q1  0.026222  135795
897  2017Q2 -0.000731  135795
898  2017Q3  0.037719  135795
899  2017Q4  0.082224  135795>)
('Key_aum: ', 135795)
       Quarter   Data      ID
185320  2013Q1   0.00  135795
185321  2013Q2   0.00  135795
185322  2013Q3   0.00  135795
185323  2013Q4   0.00  135795
185324  2014Q1   0.00  135795
185325  2014Q2   0.00  135795
185326  2014Q3   0.00  135795
185327  2014Q4   0.00  135795
185328  2015Q1   0.00  135795
185329  2015Q2   0.00  135795
185330  2015Q3   0.00  135795
185331  2015Q4   2.02  135795
185332  2016Q1  51.85  135795
185333  2016Q2  67.22  135795
185334  2016Q3  68.04  135795
185335  2016Q4  64.33  135795
185336  2017Q1  48.29  135795
185337  2017Q2  46.35  135795
185338  2017Q3  47.22  135795
185339  2017Q4  56.39  135795
('Key_nav : ', 135795)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00100096,  0.00175655,  0.03513146, -0.05702172,
       -0.05543435,  0.02622177, -0.00073063,  0.03771918,  0.08222359]))
('data 2 :', array([  0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
         0.  ,   0.  ,   0.  ,   2.02,  51.85,  67.22,  68.04,  64.33,
        48.29,  46.35,  47.22,  56.39]))
('Key_aum: ', 135796)
       Quarter     Data      ID
185360  2013Q1     0.00  135796
185361  2013Q2     0.00  135796
185362  2013Q3     0.00  135796
185363  2013Q4     0.00  135796
185364  2014Q1     0.00  135796
185365  2014Q2     0.00  135796
185366  2014Q3     0.00  135796
185367  2014Q4     0.00  135796
185368  2015Q1     0.00  135796
185369  2015Q2     0.00  135796
185370  2015Q3     0.00  135796
185371  2015Q4    33.56  135796
185372  2016Q1   855.55  135796
185373  2016Q2   915.47  135796
185374  2016Q3   865.91  135796
185375  2016Q4   810.18  135796
185376  2017Q1   815.11  135796
185377  2017Q2   928.05  135796
185378  2017Q3   974.70  135796
185379  2017Q4  1159.28  135796
('Key_nav : ', 135796)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00104436, -0.00046048,  0.03091821, -0.06104022,
       -0.05968137,  0.0219888 , -0.0054104 ,  0.03326711,  0.0777186 ]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    33.56,
         855.55,   915.47,   865.91,   810.18,   815.11,   928.05,
         974.7 ,  1159.28]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan, -0.00104436, -0.00046048,  0.03091821, -0.06104022,
       -0.05968137,  0.0219888 , -0.0054104 ,  0.03326711,  0.0777186 ]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
185320  2013Q1     0.00  135795
185321  2013Q2     0.00  135795
185322  2013Q3     0.00  135795
185323  2013Q4     0.00  135795
185324  2014Q1     0.00  135795
185325  2014Q2     0.00  135795
185326  2014Q3     0.00  135795
185327  2014Q4     0.00  135795
185328  2015Q1     0.00  135795
185329  2015Q2     0.00  135795
185330  2015Q3     0.00  135795
185331  2015Q4     2.02  135795
185332  2016Q1    51.85  135795
185333  2016Q2    67.22  135795
185334  2016Q3    68.04  135795
185335  2016Q4    64.33  135795
185336  2017Q1    48.29  135795
185337  2017Q2    46.35  135795
185338  2017Q3    47.22  135795
185339  2017Q4    56.39  135795
185360  2013Q1     0.00  135796
185361  2013Q2     0.00  135796
185362  2013Q3     0.00  135796
185363  2013Q4     0.00  135796
185364  2014Q1     0.00  135796
185365  2014Q2     0.00  135796
185366  2014Q3     0.00  135796
185367  2014Q4     0.00  135796
185368  2015Q1     0.00  135796
185369  2015Q2     0.00  135796
185370  2015Q3     0.00  135796
185371  2015Q4    33.56  135796
185372  2016Q1   855.55  135796
185373  2016Q2   915.47  135796
185374  2016Q3   865.91  135796
185375  2016Q4   810.18  135796
185376  2017Q1   815.11  135796
185377  2017Q2   928.05  135796
185378  2017Q3   974.70  135796
185379  2017Q4  1159.28  135796>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
120  2013Q1  0.000000  135796
121  2013Q2  0.000000  135796
122  2013Q3  0.000000  135796
123  2013Q4  0.000000  135796
124  2014Q1  0.000000  135796
125  2014Q2  0.000000  135796
126  2014Q3  0.000000  135796
127  2014Q4  0.000000  135796
128  2015Q1  0.000000  135796
129  2015Q2  0.000000  135796
130  2015Q3  0.000000  135796
131  2015Q4 -0.001044  135796
132  2016Q1 -0.000460  135796
133  2016Q2  0.030918  135796
134  2016Q3 -0.061040  135796
135  2016Q4 -0.059681  135796
136  2017Q1  0.021989  135796
137  2017Q2 -0.005410  135796
138  2017Q3  0.033267  135796
139  2017Q4  0.077719  135796
880  2013Q1  0.000000  135795
881  2013Q2  0.000000  135795
882  2013Q3  0.000000  135795
883  2013Q4  0.000000  135795
884  2014Q1  0.000000  135795
885  2014Q2  0.000000  135795
886  2014Q3  0.000000  135795
887  2014Q4  0.000000  135795
888  2015Q1  0.000000  135795
889  2015Q2  0.000000  135795
890  2015Q3  0.000000  135795
891  2015Q4 -0.001001  135795
892  2016Q1  0.001757  135795
893  2016Q2  0.035131  135795
894  2016Q3 -0.057022  135795
895  2016Q4 -0.055434  135795
896  2017Q1  0.026222  135795
897  2017Q2 -0.000731  135795
898  2017Q3  0.037719  135795
899  2017Q4  0.082224  135795>)
('Key_aum: ', 135795)
       Quarter   Data      ID
185320  2013Q1   0.00  135795
185321  2013Q2   0.00  135795
185322  2013Q3   0.00  135795
185323  2013Q4   0.00  135795
185324  2014Q1   0.00  135795
185325  2014Q2   0.00  135795
185326  2014Q3   0.00  135795
185327  2014Q4   0.00  135795
185328  2015Q1   0.00  135795
185329  2015Q2   0.00  135795
185330  2015Q3   0.00  135795
185331  2015Q4   2.02  135795
185332  2016Q1  51.85  135795
185333  2016Q2  67.22  135795
185334  2016Q3  68.04  135795
185335  2016Q4  64.33  135795
185336  2017Q1  48.29  135795
185337  2017Q2  46.35  135795
185338  2017Q3  47.22  135795
185339  2017Q4  56.39  135795
('Key_nav : ', 135795)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00100096,  0.00175655,  0.03513146, -0.05702172,
       -0.05543435,  0.02622177, -0.00073063,  0.03771918,  0.08222359]))
('data 2 :', array([  0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
         0.  ,   0.  ,   0.  ,   2.02,  51.85,  67.22,  68.04,  64.33,
        48.29,  46.35,  47.22,  56.39]))
('Key_aum: ', 135796)
       Quarter     Data      ID
185360  2013Q1     0.00  135796
185361  2013Q2     0.00  135796
185362  2013Q3     0.00  135796
185363  2013Q4     0.00  135796
185364  2014Q1     0.00  135796
185365  2014Q2     0.00  135796
185366  2014Q3     0.00  135796
185367  2014Q4     0.00  135796
185368  2015Q1     0.00  135796
185369  2015Q2     0.00  135796
185370  2015Q3     0.00  135796
185371  2015Q4    33.56  135796
185372  2016Q1   855.55  135796
185373  2016Q2   915.47  135796
185374  2016Q3   865.91  135796
185375  2016Q4   810.18  135796
185376  2017Q1   815.11  135796
185377  2017Q2   928.05  135796
185378  2017Q3   974.70  135796
185379  2017Q4  1159.28  135796
('Key_nav : ', 135796)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00104436, -0.00046048,  0.03091821, -0.06104022,
       -0.05968137,  0.0219888 , -0.0054104 ,  0.03326711,  0.0777186 ]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    33.56,
         855.55,   915.47,   865.91,   810.18,   815.11,   928.05,
         974.7 ,  1159.28]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan, -0.00104436, -0.00046048,  0.03091821, -0.06104022,
       -0.05968137,  0.0219888 , -0.0054104 ,  0.03326711,  0.0777186 ]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
185320  2013Q1     0.00  135795
185321  2013Q2     0.00  135795
185322  2013Q3     0.00  135795
185323  2013Q4     0.00  135795
185324  2014Q1     0.00  135795
185325  2014Q2     0.00  135795
185326  2014Q3     0.00  135795
185327  2014Q4     0.00  135795
185328  2015Q1     0.00  135795
185329  2015Q2     0.00  135795
185330  2015Q3     0.00  135795
185331  2015Q4     2.02  135795
185332  2016Q1    51.85  135795
185333  2016Q2    67.22  135795
185334  2016Q3    68.04  135795
185335  2016Q4    64.33  135795
185336  2017Q1    48.29  135795
185337  2017Q2    46.35  135795
185338  2017Q3    47.22  135795
185339  2017Q4    56.39  135795
185360  2013Q1     0.00  135796
185361  2013Q2     0.00  135796
185362  2013Q3     0.00  135796
185363  2013Q4     0.00  135796
185364  2014Q1     0.00  135796
185365  2014Q2     0.00  135796
185366  2014Q3     0.00  135796
185367  2014Q4     0.00  135796
185368  2015Q1     0.00  135796
185369  2015Q2     0.00  135796
185370  2015Q3     0.00  135796
185371  2015Q4    33.56  135796
185372  2016Q1   855.55  135796
185373  2016Q2   915.47  135796
185374  2016Q3   865.91  135796
185375  2016Q4   810.18  135796
185376  2017Q1   815.11  135796
185377  2017Q2   928.05  135796
185378  2017Q3   974.70  135796
185379  2017Q4  1159.28  135796>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
120  2013Q1  0.000000  135796
121  2013Q2  0.000000  135796
122  2013Q3  0.000000  135796
123  2013Q4  0.000000  135796
124  2014Q1  0.000000  135796
125  2014Q2  0.000000  135796
126  2014Q3  0.000000  135796
127  2014Q4  0.000000  135796
128  2015Q1  0.000000  135796
129  2015Q2  0.000000  135796
130  2015Q3  0.000000  135796
131  2015Q4 -0.001044  135796
132  2016Q1 -0.000460  135796
133  2016Q2  0.030918  135796
134  2016Q3 -0.061040  135796
135  2016Q4 -0.059681  135796
136  2017Q1  0.021989  135796
137  2017Q2 -0.005410  135796
138  2017Q3  0.033267  135796
139  2017Q4  0.077719  135796
880  2013Q1  0.000000  135795
881  2013Q2  0.000000  135795
882  2013Q3  0.000000  135795
883  2013Q4  0.000000  135795
884  2014Q1  0.000000  135795
885  2014Q2  0.000000  135795
886  2014Q3  0.000000  135795
887  2014Q4  0.000000  135795
888  2015Q1  0.000000  135795
889  2015Q2  0.000000  135795
890  2015Q3  0.000000  135795
891  2015Q4 -0.001001  135795
892  2016Q1  0.001757  135795
893  2016Q2  0.035131  135795
894  2016Q3 -0.057022  135795
895  2016Q4 -0.055434  135795
896  2017Q1  0.026222  135795
897  2017Q2 -0.000731  135795
898  2017Q3  0.037719  135795
899  2017Q4  0.082224  135795>)
('Key_aum: ', 135795)
       Quarter   Data      ID
185320  2013Q1   0.00  135795
185321  2013Q2   0.00  135795
185322  2013Q3   0.00  135795
185323  2013Q4   0.00  135795
185324  2014Q1   0.00  135795
185325  2014Q2   0.00  135795
185326  2014Q3   0.00  135795
185327  2014Q4   0.00  135795
185328  2015Q1   0.00  135795
185329  2015Q2   0.00  135795
185330  2015Q3   0.00  135795
185331  2015Q4   2.02  135795
185332  2016Q1  51.85  135795
185333  2016Q2  67.22  135795
185334  2016Q3  68.04  135795
185335  2016Q4  64.33  135795
185336  2017Q1  48.29  135795
185337  2017Q2  46.35  135795
185338  2017Q3  47.22  135795
185339  2017Q4  56.39  135795
('Key_nav : ', 135795)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00100096,  0.00175655,  0.03513146, -0.05702172,
       -0.05543435,  0.02622177, -0.00073063,  0.03771918,  0.08222359]))
('data 2 :', array([  0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
         0.  ,   0.  ,   0.  ,   2.02,  51.85,  67.22,  68.04,  64.33,
        48.29,  46.35,  47.22,  56.39]))
('Key_aum: ', 135796)

185339  2017Q4  56.39  135795
('Key_nav : ', 135795)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00100096,  0.00175655,  0.03513146, -0.05702172,
       -0.05543435,  0.02622177, -0.00073063,  0.03771918,  0.08222359]))
('data 2 :', array([  0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
         0.  ,   0.  ,   0.  ,   2.02,  51.85,  67.22,  68.04,  64.33,
        48.29,  46.35,  47.22,  56.39]))
('Key_aum: ', 135796)
       Quarter     Data      ID
185360  2013Q1     0.00  135796
185361  2013Q2     0.00  135796
185362  2013Q3     0.00  135796
185363  2013Q4     0.00  135796
185364  2014Q1     0.00  135796
185365  2014Q2     0.00  135796
185366  2014Q3     0.00  135796
185367  2014Q4     0.00  135796
185368  2015Q1     0.00  135796
185369  2015Q2     0.00  135796
185370  2015Q3     0.00  135796
185371  2015Q4    33.56  135796
185372  2016Q1   855.55  135796
185373  2016Q2   915.47  135796
185374  2016Q3   865.91  135796
185375  2016Q4   810.18  135796
185376  2017Q1   815.11  135796
185377  2017Q2   928.05  135796
185378  2017Q3   974.70  135796
185379  2017Q4  1159.28  135796
('Key_nav : ', 135796)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00104436, -0.00046048,  0.03091821, -0.06104022,
       -0.05968137,  0.0219888 , -0.0054104 ,  0.03326711,  0.0777186 ]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    33.56,
         855.55,   915.47,   865.91,   810.18,   815.11,   928.05,
         974.7 ,  1159.28]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan, -0.00104436, -0.00046048,  0.03091821, -0.06104022,
       -0.05968137,  0.0219888 , -0.0054104 ,  0.03326711,  0.0777186 ]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
185320  2013Q1     0.00  135795
185321  2013Q2     0.00  135795
185322  2013Q3     0.00  135795
185323  2013Q4     0.00  135795
185324  2014Q1     0.00  135795
185325  2014Q2     0.00  135795
185326  2014Q3     0.00  135795
185327  2014Q4     0.00  135795
185328  2015Q1     0.00  135795
185329  2015Q2     0.00  135795
185330  2015Q3     0.00  135795
185331  2015Q4     2.02  135795
185332  2016Q1    51.85  135795
185333  2016Q2    67.22  135795
185334  2016Q3    68.04  135795
185335  2016Q4    64.33  135795
185336  2017Q1    48.29  135795
185337  2017Q2    46.35  135795
185338  2017Q3    47.22  135795
185339  2017Q4    56.39  135795
185360  2013Q1     0.00  135796
185361  2013Q2     0.00  135796
185362  2013Q3     0.00  135796
185363  2013Q4     0.00  135796
185364  2014Q1     0.00  135796
185365  2014Q2     0.00  135796
185366  2014Q3     0.00  135796
185367  2014Q4     0.00  135796
185368  2015Q1     0.00  135796
185369  2015Q2     0.00  135796
185370  2015Q3     0.00  135796
185371  2015Q4    33.56  135796
185372  2016Q1   855.55  135796
185373  2016Q2   915.47  135796
185374  2016Q3   865.91  135796
185375  2016Q4   810.18  135796
185376  2017Q1   815.11  135796
185377  2017Q2   928.05  135796
185378  2017Q3   974.70  135796
185379  2017Q4  1159.28  135796>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
120  2013Q1  0.000000  135796
121  2013Q2  0.000000  135796
122  2013Q3  0.000000  135796
123  2013Q4  0.000000  135796
124  2014Q1  0.000000  135796
125  2014Q2  0.000000  135796
126  2014Q3  0.000000  135796
127  2014Q4  0.000000  135796
128  2015Q1  0.000000  135796
129  2015Q2  0.000000  135796
130  2015Q3  0.000000  135796
131  2015Q4 -0.001044  135796
132  2016Q1 -0.000460  135796
133  2016Q2  0.030918  135796
134  2016Q3 -0.061040  135796
135  2016Q4 -0.059681  135796
136  2017Q1  0.021989  135796
137  2017Q2 -0.005410  135796
138  2017Q3  0.033267  135796
139  2017Q4  0.077719  135796
880  2013Q1  0.000000  135795
881  2013Q2  0.000000  135795
882  2013Q3  0.000000  135795
883  2013Q4  0.000000  135795
884  2014Q1  0.000000  135795
885  2014Q2  0.000000  135795
886  2014Q3  0.000000  135795
887  2014Q4  0.000000  135795
888  2015Q1  0.000000  135795
889  2015Q2  0.000000  135795
890  2015Q3  0.000000  135795
891  2015Q4 -0.001001  135795
892  2016Q1  0.001757  135795
893  2016Q2  0.035131  135795
894  2016Q3 -0.057022  135795
895  2016Q4 -0.055434  135795
896  2017Q1  0.026222  135795
897  2017Q2 -0.000731  135795
898  2017Q3  0.037719  135795
899  2017Q4  0.082224  135795>)
('Key_aum: ', 135795)
       Quarter   Data      ID
185320  2013Q1   0.00  135795
185321  2013Q2   0.00  135795
185322  2013Q3   0.00  135795
185323  2013Q4   0.00  135795
185324  2014Q1   0.00  135795
185325  2014Q2   0.00  135795
185326  2014Q3   0.00  135795
185327  2014Q4   0.00  135795
185328  2015Q1   0.00  135795
185329  2015Q2   0.00  135795
185330  2015Q3   0.00  135795
185331  2015Q4   2.02  135795
185332  2016Q1  51.85  135795
185333  2016Q2  67.22  135795
185334  2016Q3  68.04  135795
185335  2016Q4  64.33  135795
185336  2017Q1  48.29  135795
185337  2017Q2  46.35  135795
185338  2017Q3  47.22  135795
185339  2017Q4  56.39  135795
('Key_nav : ', 135795)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00100096,  0.00175655,  0.03513146, -0.05702172,
       -0.05543435,  0.02622177, -0.00073063,  0.03771918,  0.08222359]))
('data 2 :', array([  0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
         0.  ,   0.  ,   0.  ,   2.02,  51.85,  67.22,  68.04,  64.33,
        48.29,  46.35,  47.22,  56.39]))
('Key_aum: ', 135796)
       Quarter     Data      ID
185360  2013Q1     0.00  135796
185361  2013Q2     0.00  135796
185362  2013Q3     0.00  135796
185363  2013Q4     0.00  135796
185364  2014Q1     0.00  135796
185365  2014Q2     0.00  135796
185366  2014Q3     0.00  135796
185367  2014Q4     0.00  135796
185368  2015Q1     0.00  135796
185369  2015Q2     0.00  135796
185370  2015Q3     0.00  135796
185371  2015Q4    33.56  135796
185372  2016Q1   855.55  135796
185373  2016Q2   915.47  135796
185374  2016Q3   865.91  135796
185375  2016Q4   810.18  135796
185376  2017Q1   815.11  135796
185377  2017Q2   928.05  135796
185378  2017Q3   974.70  135796
185379  2017Q4  1159.28  135796
('Key_nav : ', 135796)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00104436, -0.00046048,  0.03091821, -0.06104022,
       -0.05968137,  0.0219888 , -0.0054104 ,  0.03326711,  0.0777186 ]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    33.56,
         855.55,   915.47,   865.91,   810.18,   815.11,   928.05,
         974.7 ,  1159.28]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan, -0.00104436, -0.00046048,  0.03091821, -0.06104022,
       -0.05968137,  0.0219888 , -0.0054104 ,  0.03326711,  0.0777186 ]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
185320  2013Q1     0.00  135795
185321  2013Q2     0.00  135795
185322  2013Q3     0.00  135795
185323  2013Q4     0.00  135795
185324  2014Q1     0.00  135795
185325  2014Q2     0.00  135795
185326  2014Q3     0.00  135795
185327  2014Q4     0.00  135795
185328  2015Q1     0.00  135795
185329  2015Q2     0.00  135795
185330  2015Q3     0.00  135795
185331  2015Q4     2.02  135795
185332  2016Q1    51.85  135795
185333  2016Q2    67.22  135795
185334  2016Q3    68.04  135795
185335  2016Q4    64.33  135795
185336  2017Q1    48.29  135795
185337  2017Q2    46.35  135795
185338  2017Q3    47.22  135795
185339  2017Q4    56.39  135795
185360  2013Q1     0.00  135796
185361  2013Q2     0.00  135796
185362  2013Q3     0.00  135796
185363  2013Q4     0.00  135796
185364  2014Q1     0.00  135796
185365  2014Q2     0.00  135796
185366  2014Q3     0.00  135796
185367  2014Q4     0.00  135796
185368  2015Q1     0.00  135796
185369  2015Q2     0.00  135796
185370  2015Q3     0.00  135796
185371  2015Q4    33.56  135796
185372  2016Q1   855.55  135796
185373  2016Q2   915.47  135796
185374  2016Q3   865.91  135796
185375  2016Q4   810.18  135796
185376  2017Q1   815.11  135796
185377  2017Q2   928.05  135796
185378  2017Q3   974.70  135796
185379  2017Q4  1159.28  135796>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
120  2013Q1  0.000000  135796
121  2013Q2  0.000000  135796
122  2013Q3  0.000000  135796
123  2013Q4  0.000000  135796
124  2014Q1  0.000000  135796
125  2014Q2  0.000000  135796
126  2014Q3  0.000000  135796
127  2014Q4  0.000000  135796
128  2015Q1  0.000000  135796
129  2015Q2  0.000000  135796
130  2015Q3  0.000000  135796
131  2015Q4 -0.001044  135796
132  2016Q1 -0.000460  135796
133  2016Q2  0.030918  135796
134  2016Q3 -0.061040  135796
135  2016Q4 -0.059681  135796
136  2017Q1  0.021989  135796
137  2017Q2 -0.005410  135796
138  2017Q3  0.033267  135796
139  2017Q4  0.077719  135796
880  2013Q1  0.000000  135795
881  2013Q2  0.000000  135795
882  2013Q3  0.000000  135795
883  2013Q4  0.000000  135795
884  2014Q1  0.000000  135795
885  2014Q2  0.000000  135795
886  2014Q3  0.000000  135795
887  2014Q4  0.000000  135795
888  2015Q1  0.000000  135795
889  2015Q2  0.000000  135795
890  2015Q3  0.000000  135795
891  2015Q4 -0.001001  135795
892  2016Q1  0.001757  135795
893  2016Q2  0.035131  135795
894  2016Q3 -0.057022  135795
895  2016Q4 -0.055434  135795
896  2017Q1  0.026222  135795
897  2017Q2 -0.000731  135795
898  2017Q3  0.037719  135795
899  2017Q4  0.082224  135795>)
('Key_aum: ', 135795)
       Quarter   Data      ID
185320  2013Q1   0.00  135795
185321  2013Q2   0.00  135795
185322  2013Q3   0.00  135795
185323  2013Q4   0.00  135795
185324  2014Q1   0.00  135795
185325  2014Q2   0.00  135795
185326  2014Q3   0.00  135795
185327  2014Q4   0.00  135795
185328  2015Q1   0.00  135795
185329  2015Q2   0.00  135795
185330  2015Q3   0.00  135795
185331  2015Q4   2.02  135795
185332  2016Q1  51.85  135795
185333  2016Q2  67.22  135795
185334  2016Q3  68.04  135795
185335  2016Q4  64.33  135795
185336  2017Q1  48.29  135795
185337  2017Q2  46.35  135795
185338  2017Q3  47.22  135795
185339  2017Q4  56.39  135795
('Key_nav : ', 135795)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00100096,  0.00175655,  0.03513146, -0.05702172,
       -0.05543435,  0.02622177, -0.00073063,  0.03771918,  0.08222359]))
('data 2 :', array([  0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
         0.  ,   0.  ,   0.  ,   2.02,  51.85,  67.22,  68.04,  64.33,
        48.29,  46.35,  47.22,  56.39]))
('Key_aum: ', 135796)
       Quarter     Data      ID
185360  2013Q1     0.00  135796
185361  2013Q2     0.00  135796
185362  2013Q3     0.00  135796
185363  2013Q4     0.00  135796
185364  2014Q1     0.00  135796
185365  2014Q2     0.00  135796
185366  2014Q3     0.00  135796
185367  2014Q4     0.00  135796
185368  2015Q1     0.00  135796
185369  2015Q2     0.00  135796
185370  2015Q3     0.00  135796
185371  2015Q4    33.56  135796
185372  2016Q1   855.55  135796
185373  2016Q2   915.47  135796
185374  2016Q3   865.91  135796
185375  2016Q4   810.18  135796
185376  2017Q1   815.11  135796
185377  2017Q2   928.05  135796
185378  2017Q3   974.70  135796
185379  2017Q4  1159.28  135796
('Key_nav : ', 135796)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00104436, -0.00046048,  0.03091821, -0.06104022,
       -0.05968137,  0.0219888 , -0.0054104 ,  0.03326711,  0.0777186 ]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    33.56,
         855.55,   915.47,   865.91,   810.18,   815.11,   928.05,
         974.7 ,  1159.28]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan, -0.00104436, -0.00046048,  0.03091821, -0.06104022,
       -0.05968137,  0.0219888 , -0.0054104 ,  0.03326711,  0.0777186 ]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
185320  2013Q1     0.00  135795
185321  2013Q2     0.00  135795
185322  2013Q3     0.00  135795
185323  2013Q4     0.00  135795
185324  2014Q1     0.00  135795
185325  2014Q2     0.00  135795
185326  2014Q3     0.00  135795
185327  2014Q4     0.00  135795
185328  2015Q1     0.00  135795
185329  2015Q2     0.00  135795
185330  2015Q3     0.00  135795
185331  2015Q4     2.02  135795
185332  2016Q1    51.85  135795
185333  2016Q2    67.22  135795
185334  2016Q3    68.04  135795
185335  2016Q4    64.33  135795
185336  2017Q1    48.29  135795
185337  2017Q2    46.35  135795
185338  2017Q3    47.22  135795
185339  2017Q4    56.39  135795
185360  2013Q1     0.00  135796
185361  2013Q2     0.00  135796
185362  2013Q3     0.00  135796
185363  2013Q4     0.00  135796
185364  2014Q1     0.00  135796
185365  2014Q2     0.00  135796
185366  2014Q3     0.00  135796
185367  2014Q4     0.00  135796
185368  2015Q1     0.00  135796
185369  2015Q2     0.00  135796
185370  2015Q3     0.00  135796
185371  2015Q4    33.56  135796
185372  2016Q1   855.55  135796
185373  2016Q2   915.47  135796
185374  2016Q3   865.91  135796
185375  2016Q4   810.18  135796
185376  2017Q1   815.11  135796
185377  2017Q2   928.05  135796
185378  2017Q3   974.70  135796
185379  2017Q4  1159.28  135796>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
120  2013Q1  0.000000  135796
121  2013Q2  0.000000  135796
122  2013Q3  0.000000  135796
123  2013Q4  0.000000  135796
124  2014Q1  0.000000  135796
125  2014Q2  0.000000  135796
126  2014Q3  0.000000  135796
127  2014Q4  0.000000  135796
128  2015Q1  0.000000  135796
129  2015Q2  0.000000  135796
130  2015Q3  0.000000  135796
131  2015Q4 -0.001044  135796
132  2016Q1 -0.000460  135796
133  2016Q2  0.030918  135796
134  2016Q3 -0.061040  135796
135  2016Q4 -0.059681  135796
136  2017Q1  0.021989  135796
137  2017Q2 -0.005410  135796
138  2017Q3  0.033267  135796
139  2017Q4  0.077719  135796
880  2013Q1  0.000000  135795
881  2013Q2  0.000000  135795
882  2013Q3  0.000000  135795
883  2013Q4  0.000000  135795
884  2014Q1  0.000000  135795
885  2014Q2  0.000000  135795
886  2014Q3  0.000000  135795
887  2014Q4  0.000000  135795
888  2015Q1  0.000000  135795
889  2015Q2  0.000000  135795
890  2015Q3  0.000000  135795
891  2015Q4 -0.001001  135795
892  2016Q1  0.001757  135795
893  2016Q2  0.035131  135795
894  2016Q3 -0.057022  135795
895  2016Q4 -0.055434  135795
896  2017Q1  0.026222  135795
897  2017Q2 -0.000731  135795
898  2017Q3  0.037719  135795
899  2017Q4  0.082224  135795>)
('Key_aum: ', 135795)
       Quarter   Data      ID
185320  2013Q1   0.00  135795
185321  2013Q2   0.00  135795
185322  2013Q3   0.00  135795
185323  2013Q4   0.00  135795
185324  2014Q1   0.00  135795
185325  2014Q2   0.00  135795
185326  2014Q3   0.00  135795
185327  2014Q4   0.00  135795
185328  2015Q1   0.00  135795
185329  2015Q2   0.00  135795
185330  2015Q3   0.00  135795
185331  2015Q4   2.02  135795
185332  2016Q1  51.85  135795
185333  2016Q2  67.22  135795
185334  2016Q3  68.04  135795
185335  2016Q4  64.33  135795
185336  2017Q1  48.29  135795
185337  2017Q2  46.35  135795
185338  2017Q3  47.22  135795
185339  2017Q4  56.39  135795
('Key_nav : ', 135795)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00100096,  0.00175655,  0.03513146, -0.05702172,
       -0.05543435,  0.02622177, -0.00073063,  0.03771918,  0.08222359]))
('data 2 :', array([  0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
         0.  ,   0.  ,   0.  ,   2.02,  51.85,  67.22,  68.04,  64.33,
        48.29,  46.35,  47.22,  56.39]))
('Key_aum: ', 135796)
       Quarter     Data      ID
185360  2013Q1     0.00  135796
185361  2013Q2     0.00  135796
185362  2013Q3     0.00  135796
185363  2013Q4     0.00  135796
185364  2014Q1     0.00  135796
185365  2014Q2     0.00  135796
185366  2014Q3     0.00  135796
185367  2014Q4     0.00  135796
185368  2015Q1     0.00  135796
185369  2015Q2     0.00  135796
185370  2015Q3     0.00  135796
185371  2015Q4    33.56  135796
185372  2016Q1   855.55  135796
185373  2016Q2   915.47  135796
185374  2016Q3   865.91  135796
185375  2016Q4   810.18  135796
185376  2017Q1   815.11  135796
185377  2017Q2   928.05  135796
185378  2017Q3   974.70  135796
185379  2017Q4  1159.28  135796
('Key_nav : ', 135796)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00104436, -0.00046048,  0.03091821, -0.06104022,
       -0.05968137,  0.0219888 , -0.0054104 ,  0.03326711,  0.0777186 ]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    33.56,
         855.55,   915.47,   865.91,   810.18,   815.11,   928.05,
         974.7 ,  1159.28]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan, -0.00104436, -0.00046048,  0.03091821, -0.06104022,
       -0.05968137,  0.0219888 , -0.0054104 ,  0.03326711,  0.0777186 ]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
185320  2013Q1     0.00  135795
185321  2013Q2     0.00  135795
185322  2013Q3     0.00  135795
185323  2013Q4     0.00  135795
185324  2014Q1     0.00  135795
185325  2014Q2     0.00  135795
185326  2014Q3     0.00  135795
185327  2014Q4     0.00  135795
185328  2015Q1     0.00  135795
185329  2015Q2     0.00  135795
185330  2015Q3     0.00  135795
185331  2015Q4     2.02  135795
185332  2016Q1    51.85  135795
185333  2016Q2    67.22  135795
185334  2016Q3    68.04  135795
185335  2016Q4    64.33  135795
185336  2017Q1    48.29  135795
185337  2017Q2    46.35  135795
185338  2017Q3    47.22  135795
185339  2017Q4    56.39  135795
185360  2013Q1     0.00  135796
185361  2013Q2     0.00  135796
185362  2013Q3     0.00  135796
185363  2013Q4     0.00  135796
185364  2014Q1     0.00  135796
185365  2014Q2     0.00  135796
185366  2014Q3     0.00  135796
185367  2014Q4     0.00  135796
185368  2015Q1     0.00  135796
185369  2015Q2     0.00  135796
185370  2015Q3     0.00  135796
185371  2015Q4    33.56  135796
185372  2016Q1   855.55  135796
185373  2016Q2   915.47  135796
185374  2016Q3   865.91  135796
185375  2016Q4   810.18  135796
185376  2017Q1   815.11  135796
185377  2017Q2   928.05  135796
185378  2017Q3   974.70  135796
185379  2017Q4  1159.28  135796>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
120  2013Q1  0.000000  135796
121  2013Q2  0.000000  135796
122  2013Q3  0.000000  135796
123  2013Q4  0.000000  135796
124  2014Q1  0.000000  135796
125  2014Q2  0.000000  135796
126  2014Q3  0.000000  135796
127  2014Q4  0.000000  135796
128  2015Q1  0.000000  135796

('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00104436, -0.00046048,  0.03091821, -0.06104022,
       -0.05968137,  0.0219888 , -0.0054104 ,  0.03326711,  0.0777186 ]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    33.56,
         855.55,   915.47,   865.91,   810.18,   815.11,   928.05,
         974.7 ,  1159.28]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan, -0.00104436, -0.00046048,  0.03091821, -0.06104022,
       -0.05968137,  0.0219888 , -0.0054104 ,  0.03326711,  0.0777186 ]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
185320  2013Q1     0.00  135795
185321  2013Q2     0.00  135795
185322  2013Q3     0.00  135795
185323  2013Q4     0.00  135795
185324  2014Q1     0.00  135795
185325  2014Q2     0.00  135795
185326  2014Q3     0.00  135795
185327  2014Q4     0.00  135795
185328  2015Q1     0.00  135795
185329  2015Q2     0.00  135795
185330  2015Q3     0.00  135795
185331  2015Q4     2.02  135795
185332  2016Q1    51.85  135795
185333  2016Q2    67.22  135795
185334  2016Q3    68.04  135795
185335  2016Q4    64.33  135795
185336  2017Q1    48.29  135795
185337  2017Q2    46.35  135795
185338  2017Q3    47.22  135795
185339  2017Q4    56.39  135795
185360  2013Q1     0.00  135796
185361  2013Q2     0.00  135796
185362  2013Q3     0.00  135796
185363  2013Q4     0.00  135796
185364  2014Q1     0.00  135796
185365  2014Q2     0.00  135796
185366  2014Q3     0.00  135796
185367  2014Q4     0.00  135796
185368  2015Q1     0.00  135796
185369  2015Q2     0.00  135796
185370  2015Q3     0.00  135796
185371  2015Q4    33.56  135796
185372  2016Q1   855.55  135796
185373  2016Q2   915.47  135796
185374  2016Q3   865.91  135796
185375  2016Q4   810.18  135796
185376  2017Q1   815.11  135796
185377  2017Q2   928.05  135796
185378  2017Q3   974.70  135796
185379  2017Q4  1159.28  135796>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
120  2013Q1  0.000000  135796
121  2013Q2  0.000000  135796
122  2013Q3  0.000000  135796
123  2013Q4  0.000000  135796
124  2014Q1  0.000000  135796
125  2014Q2  0.000000  135796
126  2014Q3  0.000000  135796
127  2014Q4  0.000000  135796
128  2015Q1  0.000000  135796
129  2015Q2  0.000000  135796
130  2015Q3  0.000000  135796
131  2015Q4 -0.001044  135796
132  2016Q1 -0.000460  135796
133  2016Q2  0.030918  135796
134  2016Q3 -0.061040  135796
135  2016Q4 -0.059681  135796
136  2017Q1  0.021989  135796
137  2017Q2 -0.005410  135796
138  2017Q3  0.033267  135796
139  2017Q4  0.077719  135796
880  2013Q1  0.000000  135795
881  2013Q2  0.000000  135795
882  2013Q3  0.000000  135795
883  2013Q4  0.000000  135795
884  2014Q1  0.000000  135795
885  2014Q2  0.000000  135795
886  2014Q3  0.000000  135795
887  2014Q4  0.000000  135795
888  2015Q1  0.000000  135795
889  2015Q2  0.000000  135795
890  2015Q3  0.000000  135795
891  2015Q4 -0.001001  135795
892  2016Q1  0.001757  135795
893  2016Q2  0.035131  135795
894  2016Q3 -0.057022  135795
895  2016Q4 -0.055434  135795
896  2017Q1  0.026222  135795
897  2017Q2 -0.000731  135795
898  2017Q3  0.037719  135795
899  2017Q4  0.082224  135795>)
('Key_aum: ', 135795)
       Quarter   Data      ID
185320  2013Q1   0.00  135795
185321  2013Q2   0.00  135795
185322  2013Q3   0.00  135795
185323  2013Q4   0.00  135795
185324  2014Q1   0.00  135795
185325  2014Q2   0.00  135795
185326  2014Q3   0.00  135795
185327  2014Q4   0.00  135795
185328  2015Q1   0.00  135795
185329  2015Q2   0.00  135795
185330  2015Q3   0.00  135795
185331  2015Q4   2.02  135795
185332  2016Q1  51.85  135795
185333  2016Q2  67.22  135795
185334  2016Q3  68.04  135795
185335  2016Q4  64.33  135795
185336  2017Q1  48.29  135795
185337  2017Q2  46.35  135795
185338  2017Q3  47.22  135795
185339  2017Q4  56.39  135795
('Key_nav : ', 135795)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00100096,  0.00175655,  0.03513146, -0.05702172,
       -0.05543435,  0.02622177, -0.00073063,  0.03771918,  0.08222359]))
('data 2 :', array([  0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
         0.  ,   0.  ,   0.  ,   2.02,  51.85,  67.22,  68.04,  64.33,
        48.29,  46.35,  47.22,  56.39]))
('Key_aum: ', 135796)
       Quarter     Data      ID
185360  2013Q1     0.00  135796
185361  2013Q2     0.00  135796
185362  2013Q3     0.00  135796
185363  2013Q4     0.00  135796
185364  2014Q1     0.00  135796
185365  2014Q2     0.00  135796
185366  2014Q3     0.00  135796
185367  2014Q4     0.00  135796
185368  2015Q1     0.00  135796
185369  2015Q2     0.00  135796
185370  2015Q3     0.00  135796
185371  2015Q4    33.56  135796
185372  2016Q1   855.55  135796
185373  2016Q2   915.47  135796
185374  2016Q3   865.91  135796
185375  2016Q4   810.18  135796
185376  2017Q1   815.11  135796
185377  2017Q2   928.05  135796
185378  2017Q3   974.70  135796
185379  2017Q4  1159.28  135796
('Key_nav : ', 135796)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00104436, -0.00046048,  0.03091821, -0.06104022,
       -0.05968137,  0.0219888 , -0.0054104 ,  0.03326711,  0.0777186 ]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    33.56,
         855.55,   915.47,   865.91,   810.18,   815.11,   928.05,
         974.7 ,  1159.28]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan, -0.00104436, -0.00046048,  0.03091821, -0.06104022,
       -0.05968137,  0.0219888 , -0.0054104 ,  0.03326711,  0.0777186 ]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
185320  2013Q1     0.00  135795
185321  2013Q2     0.00  135795
185322  2013Q3     0.00  135795
185323  2013Q4     0.00  135795
185324  2014Q1     0.00  135795
185325  2014Q2     0.00  135795
185326  2014Q3     0.00  135795
185327  2014Q4     0.00  135795
185328  2015Q1     0.00  135795
185329  2015Q2     0.00  135795
185330  2015Q3     0.00  135795
185331  2015Q4     2.02  135795
185332  2016Q1    51.85  135795
185333  2016Q2    67.22  135795
185334  2016Q3    68.04  135795
185335  2016Q4    64.33  135795
185336  2017Q1    48.29  135795
185337  2017Q2    46.35  135795
185338  2017Q3    47.22  135795
185339  2017Q4    56.39  135795
185360  2013Q1     0.00  135796
185361  2013Q2     0.00  135796
185362  2013Q3     0.00  135796
185363  2013Q4     0.00  135796
185364  2014Q1     0.00  135796
185365  2014Q2     0.00  135796
185366  2014Q3     0.00  135796
185367  2014Q4     0.00  135796
185368  2015Q1     0.00  135796
185369  2015Q2     0.00  135796
185370  2015Q3     0.00  135796
185371  2015Q4    33.56  135796
185372  2016Q1   855.55  135796
185373  2016Q2   915.47  135796
185374  2016Q3   865.91  135796
185375  2016Q4   810.18  135796
185376  2017Q1   815.11  135796
185377  2017Q2   928.05  135796
185378  2017Q3   974.70  135796
185379  2017Q4  1159.28  135796>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
120  2013Q1  0.000000  135796
121  2013Q2  0.000000  135796
122  2013Q3  0.000000  135796
123  2013Q4  0.000000  135796
124  2014Q1  0.000000  135796
125  2014Q2  0.000000  135796
126  2014Q3  0.000000  135796
127  2014Q4  0.000000  135796
128  2015Q1  0.000000  135796
129  2015Q2  0.000000  135796
130  2015Q3  0.000000  135796
131  2015Q4 -0.001044  135796
132  2016Q1 -0.000460  135796
133  2016Q2  0.030918  135796
134  2016Q3 -0.061040  135796
135  2016Q4 -0.059681  135796
136  2017Q1  0.021989  135796
137  2017Q2 -0.005410  135796
138  2017Q3  0.033267  135796
139  2017Q4  0.077719  135796
880  2013Q1  0.000000  135795
881  2013Q2  0.000000  135795
882  2013Q3  0.000000  135795
883  2013Q4  0.000000  135795
884  2014Q1  0.000000  135795
885  2014Q2  0.000000  135795
886  2014Q3  0.000000  135795
887  2014Q4  0.000000  135795
888  2015Q1  0.000000  135795
889  2015Q2  0.000000  135795
890  2015Q3  0.000000  135795
891  2015Q4 -0.001001  135795
892  2016Q1  0.001757  135795
893  2016Q2  0.035131  135795
894  2016Q3 -0.057022  135795
895  2016Q4 -0.055434  135795
896  2017Q1  0.026222  135795
897  2017Q2 -0.000731  135795
898  2017Q3  0.037719  135795
899  2017Q4  0.082224  135795>)
('Key_aum: ', 135795)
       Quarter   Data      ID
185320  2013Q1   0.00  135795
185321  2013Q2   0.00  135795
185322  2013Q3   0.00  135795
185323  2013Q4   0.00  135795
185324  2014Q1   0.00  135795
185325  2014Q2   0.00  135795
185326  2014Q3   0.00  135795
185327  2014Q4   0.00  135795
185328  2015Q1   0.00  135795
185329  2015Q2   0.00  135795
185330  2015Q3   0.00  135795
185331  2015Q4   2.02  135795
185332  2016Q1  51.85  135795
185333  2016Q2  67.22  135795
185334  2016Q3  68.04  135795
185335  2016Q4  64.33  135795
185336  2017Q1  48.29  135795
185337  2017Q2  46.35  135795
185338  2017Q3  47.22  135795
185339  2017Q4  56.39  135795
('Key_nav : ', 135795)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00100096,  0.00175655,  0.03513146, -0.05702172,
       -0.05543435,  0.02622177, -0.00073063,  0.03771918,  0.08222359]))
('data 2 :', array([  0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
         0.  ,   0.  ,   0.  ,   2.02,  51.85,  67.22,  68.04,  64.33,
        48.29,  46.35,  47.22,  56.39]))
('Key_aum: ', 135796)
       Quarter     Data      ID
185360  2013Q1     0.00  135796
185361  2013Q2     0.00  135796
185362  2013Q3     0.00  135796
185363  2013Q4     0.00  135796
185364  2014Q1     0.00  135796
185365  2014Q2     0.00  135796
185366  2014Q3     0.00  135796
185367  2014Q4     0.00  135796
185368  2015Q1     0.00  135796
185369  2015Q2     0.00  135796
185370  2015Q3     0.00  135796
185371  2015Q4    33.56  135796
185372  2016Q1   855.55  135796
185373  2016Q2   915.47  135796
185374  2016Q3   865.91  135796
185375  2016Q4   810.18  135796
185376  2017Q1   815.11  135796
185377  2017Q2   928.05  135796
185378  2017Q3   974.70  135796
185379  2017Q4  1159.28  135796
('Key_nav : ', 135796)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00104436, -0.00046048,  0.03091821, -0.06104022,
       -0.05968137,  0.0219888 , -0.0054104 ,  0.03326711,  0.0777186 ]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    33.56,
         855.55,   915.47,   865.91,   810.18,   815.11,   928.05,
         974.7 ,  1159.28]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan, -0.00104436, -0.00046048,  0.03091821, -0.06104022,
       -0.05968137,  0.0219888 , -0.0054104 ,  0.03326711,  0.0777186 ]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
185320  2013Q1     0.00  135795
185321  2013Q2     0.00  135795
185322  2013Q3     0.00  135795
185323  2013Q4     0.00  135795
185324  2014Q1     0.00  135795
185325  2014Q2     0.00  135795
185326  2014Q3     0.00  135795
185327  2014Q4     0.00  135795
185328  2015Q1     0.00  135795
185329  2015Q2     0.00  135795
185330  2015Q3     0.00  135795
185331  2015Q4     2.02  135795
185332  2016Q1    51.85  135795
185333  2016Q2    67.22  135795
185334  2016Q3    68.04  135795
185335  2016Q4    64.33  135795
185336  2017Q1    48.29  135795
185337  2017Q2    46.35  135795
185338  2017Q3    47.22  135795
185339  2017Q4    56.39  135795
185360  2013Q1     0.00  135796
185361  2013Q2     0.00  135796
185362  2013Q3     0.00  135796
185363  2013Q4     0.00  135796
185364  2014Q1     0.00  135796
185365  2014Q2     0.00  135796
185366  2014Q3     0.00  135796
185367  2014Q4     0.00  135796
185368  2015Q1     0.00  135796
185369  2015Q2     0.00  135796
185370  2015Q3     0.00  135796
185371  2015Q4    33.56  135796
185372  2016Q1   855.55  135796
185373  2016Q2   915.47  135796
185374  2016Q3   865.91  135796
185375  2016Q4   810.18  135796
185376  2017Q1   815.11  135796
185377  2017Q2   928.05  135796
185378  2017Q3   974.70  135796
185379  2017Q4  1159.28  135796>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
120  2013Q1  0.000000  135796
121  2013Q2  0.000000  135796
122  2013Q3  0.000000  135796
123  2013Q4  0.000000  135796
124  2014Q1  0.000000  135796
125  2014Q2  0.000000  135796
126  2014Q3  0.000000  135796
127  2014Q4  0.000000  135796
128  2015Q1  0.000000  135796
129  2015Q2  0.000000  135796
130  2015Q3  0.000000  135796
131  2015Q4 -0.001044  135796
132  2016Q1 -0.000460  135796
133  2016Q2  0.030918  135796
134  2016Q3 -0.061040  135796
135  2016Q4 -0.059681  135796
136  2017Q1  0.021989  135796
137  2017Q2 -0.005410  135796
138  2017Q3  0.033267  135796
139  2017Q4  0.077719  135796
880  2013Q1  0.000000  135795
881  2013Q2  0.000000  135795
882  2013Q3  0.000000  135795
883  2013Q4  0.000000  135795
884  2014Q1  0.000000  135795
885  2014Q2  0.000000  135795
886  2014Q3  0.000000  135795
887  2014Q4  0.000000  135795
888  2015Q1  0.000000  135795
889  2015Q2  0.000000  135795
890  2015Q3  0.000000  135795
891  2015Q4 -0.001001  135795
892  2016Q1  0.001757  135795
893  2016Q2  0.035131  135795
894  2016Q3 -0.057022  135795
895  2016Q4 -0.055434  135795
896  2017Q1  0.026222  135795
897  2017Q2 -0.000731  135795
898  2017Q3  0.037719  135795
899  2017Q4  0.082224  135795>)
('Key_aum: ', 135795)
       Quarter   Data      ID
185320  2013Q1   0.00  135795
185321  2013Q2   0.00  135795
185322  2013Q3   0.00  135795
185323  2013Q4   0.00  135795
185324  2014Q1   0.00  135795
185325  2014Q2   0.00  135795
185326  2014Q3   0.00  135795
185327  2014Q4   0.00  135795
185328  2015Q1   0.00  135795
185329  2015Q2   0.00  135795
185330  2015Q3   0.00  135795
185331  2015Q4   2.02  135795
185332  2016Q1  51.85  135795
185333  2016Q2  67.22  135795
185334  2016Q3  68.04  135795
185335  2016Q4  64.33  135795
185336  2017Q1  48.29  135795
185337  2017Q2  46.35  135795
185338  2017Q3  47.22  135795
185339  2017Q4  56.39  135795
('Key_nav : ', 135795)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00100096,  0.00175655,  0.03513146, -0.05702172,
       -0.05543435,  0.02622177, -0.00073063,  0.03771918,  0.08222359]))
('data 2 :', array([  0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
         0.  ,   0.  ,   0.  ,   2.02,  51.85,  67.22,  68.04,  64.33,
        48.29,  46.35,  47.22,  56.39]))
('Key_aum: ', 135796)
       Quarter     Data      ID
185360  2013Q1     0.00  135796
185361  2013Q2     0.00  135796
185362  2013Q3     0.00  135796
185363  2013Q4     0.00  135796
185364  2014Q1     0.00  135796
185365  2014Q2     0.00  135796
185366  2014Q3     0.00  135796
185367  2014Q4     0.00  135796
185368  2015Q1     0.00  135796
185369  2015Q2     0.00  135796
185370  2015Q3     0.00  135796
185371  2015Q4    33.56  135796
185372  2016Q1   855.55  135796
185373  2016Q2   915.47  135796
185374  2016Q3   865.91  135796
185375  2016Q4   810.18  135796
185376  2017Q1   815.11  135796
185377  2017Q2   928.05  135796
185378  2017Q3   974.70  135796
185379  2017Q4  1159.28  135796
('Key_nav : ', 135796)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , -0.00104436, -0.00046048,  0.03091821, -0.06104022,
       -0.05968137,  0.0219888 , -0.0054104 ,  0.03326711,  0.0777186 ]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    33.56,
         855.55,   915.47,   865.91,   810.18,   815.11,   928.05,
         974.7 ,  1159.28]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan, -0.00104436, -0.00046048,  0.03091821, -0.06104022,
       -0.05968137,  0.0219888 , -0.0054104 ,  0.03326711,  0.0777186 ]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
185320  2013Q1     0.00  135795
185321  2013Q2     0.00  135795
185322  2013Q3     0.00  135795
185323  2013Q4     0.00  135795
185324  2014Q1     0.00  135795
185325  2014Q2     0.00  135795
185326  2014Q3     0.00  135795
185327  2014Q4     0.00  135795
185328  2015Q1     0.00  135795
185329  2015Q2     0.00  135795
185330  2015Q3     0.00  135795
185331  2015Q4     2.02  135795
185332  2016Q1    51.85  135795
185333  2016Q2    67.22  135795
185334  2016Q3    68.04  135795
185335  2016Q4    64.33  135795
185336  2017Q1    48.29  135795
185337  2017Q2    46.35  135795
185338  2017Q3    47.22  135795
185339  2017Q4    56.39  135795
185360  2013Q1     0.00  135796
185361  2013Q2     0.00  135796
185362  2013Q3     0.00  135796
185363  2013Q4     0.00  135796
185364  2014Q1     0.00  135796
185365  2014Q2     0.00  135796
185366  2014Q3     0.00  135796
185367  2014Q4     0.00  135796
185368  2015Q1     0.00  135796
185369  2015Q2     0.00  135796
185370  2015Q3     0.00  135796
185371  2015Q4    33.56  135796
185372  2016Q1   855.55  135796
185373  2016Q2   915.47  135796
185374  2016Q3   865.91  135796
185375  2016Q4   810.18  135796
185376  2017Q1   815.11  135796
185377  2017Q2   928.05  135796
185378  2017Q3   974.70  135796
185379  2017Q4  1159.28  135796>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
120  2013Q1  0.000000  135796
121  2013Q2  0.000000  135796
122  2013Q3  0.000000  135796
123  2013Q4  0.000000  135796
124  2014Q1  0.000000  135796
125  2014Q2  0.000000  135796
126  2014Q3  0.000000  135796
127  2014Q4  0.000000  135796
128  2015Q1  0.000000  135796
129  2015Q2  0.000000  135796
130  2015Q3  0.000000  135796
131  2015Q4 -0.001044  135796
132  2016Q1 -0.000460  135796
133  2016Q2  0.030918  135796
134  2016Q3 -0.061040  135796
135  2016Q4 -0.059681  135796
136  2017Q1  0.021989  135796
137  2017Q2 -0.005410  135796
138  2017Q3  0.033267  135796
139  2017Q4  0.077719  135796
880  2013Q1  0.000000  135795
881  2013Q2  0.000000  135795
882  2013Q3  0.000000  135795
883  2013Q4  0.000000  135795
884  2014Q1  0.000000  135795
885  2014Q2  0.000000  135795
886  2014Q3  0.000000  135795
887  2014Q4  0.000000  135795
888  2015Q1  0.000000  135795
889  2015Q2  0.000000  135795
890  2015Q3  0.000000  135795
891  2015Q4 -0.001001  135795
892  2016Q1  0.001757  135795
893  2016Q2  0.035131  135795
894  2016Q3 -0.057022  135795
895  2016Q4 -0.055434  135795
896  2017Q1  0.026222  135795
897  2017Q2 -0.000731  135795
898  2017Q3  0.037719  135795
899  2017Q4  0.082224  135795>)
('Key_aum: ', 135795)
       Quarter   Data      ID
185320  2013Q1   0.00  135795
185321  2013Q2   0.00  135795
185322  2013Q3   0.00  135795
185323  2013Q4   0.00  135795
185324  2014Q1   0.00  135795
185325  2014Q2   0.00  135795
185326  2014Q3   0.00  135795
185327  2014Q4   0.00  135795
185328  2015Q1   0.00  135795
185329  2015Q2   0.00  135795

     Quarter     Data      ID
3540  2013Q1  2475.55  103167
3541  2013Q2  2271.24  103167
3542  2013Q3  2614.25  103167
3543  2013Q4  2835.98  103167
3544  2014Q1  3088.06  103167
3545  2014Q2  3046.99  103167
3546  2014Q3  3366.99  103167
3547  2014Q4  3398.18  103167
3548  2015Q1  3549.71  103167
3549  2015Q2  3236.45  103167
3550  2015Q3  3134.27  103167
3551  2015Q4  3110.62  103167
3552  2016Q1  2961.53  103167
3553  2016Q2  3139.42  103167
3554  2016Q3  2873.02  103167
3555  2016Q4  2654.84  103167
3556  2017Q1  2691.25  103167
3557  2017Q2  2596.22  103167
3558  2017Q3  2534.34  103167
3559  2017Q4  2666.79  103167
('Key_nav : ', 103167)
('data 1 : ', array([ 0.08512905, -0.05058135,  0.16002492,  0.08438174,  0.07808782,
       -0.0253221 ,  0.11513438,  0.00235133,  0.07500346, -0.04711834,
       -0.03972134, -0.00360212, -0.04268471,  0.06062481, -0.08260123,
       -0.05974495,  0.03289601,  0.00275095, -0.00588576,  0.06848033]))
('data 2 :', array([ 2475.55,  2271.24,  2614.25,  2835.98,  3088.06,  3046.99,
        3366.99,  3398.18,  3549.71,  3236.45,  3134.27,  3110.62,
        2961.53,  3139.42,  2873.02,  2654.84,  2691.25,  2596.22,
        2534.34,  2666.79]))
('mean : ', array([ 0.08512905, -0.05058135,  0.16002492,  0.08438174,  0.07808782,
       -0.0253221 ,  0.11513438,  0.00235133,  0.07500346, -0.04711834,
       -0.03972134, -0.00360212, -0.04268471,  0.06062481, -0.08260123,
       -0.05974495,  0.03289601,  0.00275095, -0.00588576,  0.06848033]))
('aum table :', <bound method DataFrame.head of      Quarter     Data      ID
3540  2013Q1  2475.55  103167
3541  2013Q2  2271.24  103167
3542  2013Q3  2614.25  103167
3543  2013Q4  2835.98  103167
3544  2014Q1  3088.06  103167
3545  2014Q2  3046.99  103167
3546  2014Q3  3366.99  103167
3547  2014Q4  3398.18  103167
3548  2015Q1  3549.71  103167
3549  2015Q2  3236.45  103167
3550  2015Q3  3134.27  103167
3551  2015Q4  3110.62  103167
3552  2016Q1  2961.53  103167
3553  2016Q2  3139.42  103167
3554  2016Q3  2873.02  103167
3555  2016Q4  2654.84  103167
3556  2017Q1  2691.25  103167
3557  2017Q2  2596.22  103167
3558  2017Q3  2534.34  103167
3559  2017Q4  2666.79  103167>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1460  2013Q1  0.085129  103167
1461  2013Q2 -0.050581  103167
1462  2013Q3  0.160025  103167
1463  2013Q4  0.084382  103167
1464  2014Q1  0.078088  103167
1465  2014Q2 -0.025322  103167
1466  2014Q3  0.115134  103167
1467  2014Q4  0.002351  103167
1468  2015Q1  0.075003  103167
1469  2015Q2 -0.047118  103167
1470  2015Q3 -0.039721  103167
1471  2015Q4 -0.003602  103167
1472  2016Q1 -0.042685  103167
1473  2016Q2  0.060625  103167
1474  2016Q3 -0.082601  103167
1475  2016Q4 -0.059745  103167
1476  2017Q1  0.032896  103167
1477  2017Q2  0.002751  103167
1478  2017Q3 -0.005886  103167
1479  2017Q4  0.068480  103167>)
('Key_aum: ', 103167)
     Quarter     Data      ID
3540  2013Q1  2475.55  103167
3541  2013Q2  2271.24  103167
3542  2013Q3  2614.25  103167
3543  2013Q4  2835.98  103167
3544  2014Q1  3088.06  103167
3545  2014Q2  3046.99  103167
3546  2014Q3  3366.99  103167
3547  2014Q4  3398.18  103167
3548  2015Q1  3549.71  103167
3549  2015Q2  3236.45  103167
3550  2015Q3  3134.27  103167
3551  2015Q4  3110.62  103167
3552  2016Q1  2961.53  103167
3553  2016Q2  3139.42  103167
3554  2016Q3  2873.02  103167
3555  2016Q4  2654.84  103167
3556  2017Q1  2691.25  103167
3557  2017Q2  2596.22  103167
3558  2017Q3  2534.34  103167
3559  2017Q4  2666.79  103167
('Key_nav : ', 103167)
('data 1 : ', array([ 0.08512905, -0.05058135,  0.16002492,  0.08438174,  0.07808782,
       -0.0253221 ,  0.11513438,  0.00235133,  0.07500346, -0.04711834,
       -0.03972134, -0.00360212, -0.04268471,  0.06062481, -0.08260123,
       -0.05974495,  0.03289601,  0.00275095, -0.00588576,  0.06848033]))
('data 2 :', array([ 2475.55,  2271.24,  2614.25,  2835.98,  3088.06,  3046.99,
        3366.99,  3398.18,  3549.71,  3236.45,  3134.27,  3110.62,
        2961.53,  3139.42,  2873.02,  2654.84,  2691.25,  2596.22,
        2534.34,  2666.79]))
('mean : ', array([ 0.08512905, -0.05058135,  0.16002492,  0.08438174,  0.07808782,
       -0.0253221 ,  0.11513438,  0.00235133,  0.07500346, -0.04711834,
       -0.03972134, -0.00360212, -0.04268471,  0.06062481, -0.08260123,
       -0.05974495,  0.03289601,  0.00275095, -0.00588576,  0.06848033]))
('aum table :', <bound method DataFrame.head of      Quarter     Data      ID
3540  2013Q1  2475.55  103167
3541  2013Q2  2271.24  103167
3542  2013Q3  2614.25  103167
3543  2013Q4  2835.98  103167
3544  2014Q1  3088.06  103167
3545  2014Q2  3046.99  103167
3546  2014Q3  3366.99  103167
3547  2014Q4  3398.18  103167
3548  2015Q1  3549.71  103167
3549  2015Q2  3236.45  103167
3550  2015Q3  3134.27  103167
3551  2015Q4  3110.62  103167
3552  2016Q1  2961.53  103167
3553  2016Q2  3139.42  103167
3554  2016Q3  2873.02  103167
3555  2016Q4  2654.84  103167
3556  2017Q1  2691.25  103167
3557  2017Q2  2596.22  103167
3558  2017Q3  2534.34  103167
3559  2017Q4  2666.79  103167>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1460  2013Q1  0.085129  103167
1461  2013Q2 -0.050581  103167
1462  2013Q3  0.160025  103167
1463  2013Q4  0.084382  103167
1464  2014Q1  0.078088  103167
1465  2014Q2 -0.025322  103167
1466  2014Q3  0.115134  103167
1467  2014Q4  0.002351  103167
1468  2015Q1  0.075003  103167
1469  2015Q2 -0.047118  103167
1470  2015Q3 -0.039721  103167
1471  2015Q4 -0.003602  103167
1472  2016Q1 -0.042685  103167
1473  2016Q2  0.060625  103167
1474  2016Q3 -0.082601  103167
1475  2016Q4 -0.059745  103167
1476  2017Q1  0.032896  103167
1477  2017Q2  0.002751  103167
1478  2017Q3 -0.005886  103167
1479  2017Q4  0.068480  103167>)
('Key_aum: ', 103167)
     Quarter     Data      ID
3540  2013Q1  2475.55  103167
3541  2013Q2  2271.24  103167
3542  2013Q3  2614.25  103167
3543  2013Q4  2835.98  103167
3544  2014Q1  3088.06  103167
3545  2014Q2  3046.99  103167
3546  2014Q3  3366.99  103167
3547  2014Q4  3398.18  103167
3548  2015Q1  3549.71  103167
3549  2015Q2  3236.45  103167
3550  2015Q3  3134.27  103167
3551  2015Q4  3110.62  103167
3552  2016Q1  2961.53  103167
3553  2016Q2  3139.42  103167
3554  2016Q3  2873.02  103167
3555  2016Q4  2654.84  103167
3556  2017Q1  2691.25  103167
3557  2017Q2  2596.22  103167
3558  2017Q3  2534.34  103167
3559  2017Q4  2666.79  103167
('Key_nav : ', 103167)
('data 1 : ', array([ 0.08512905, -0.05058135,  0.16002492,  0.08438174,  0.07808782,
       -0.0253221 ,  0.11513438,  0.00235133,  0.07500346, -0.04711834,
       -0.03972134, -0.00360212, -0.04268471,  0.06062481, -0.08260123,
       -0.05974495,  0.03289601,  0.00275095, -0.00588576,  0.06848033]))
('data 2 :', array([ 2475.55,  2271.24,  2614.25,  2835.98,  3088.06,  3046.99,
        3366.99,  3398.18,  3549.71,  3236.45,  3134.27,  3110.62,
        2961.53,  3139.42,  2873.02,  2654.84,  2691.25,  2596.22,
        2534.34,  2666.79]))
('mean : ', array([ 0.08512905, -0.05058135,  0.16002492,  0.08438174,  0.07808782,
       -0.0253221 ,  0.11513438,  0.00235133,  0.07500346, -0.04711834,
       -0.03972134, -0.00360212, -0.04268471,  0.06062481, -0.08260123,
       -0.05974495,  0.03289601,  0.00275095, -0.00588576,  0.06848033]))
('aum table :', <bound method DataFrame.head of      Quarter     Data      ID
3540  2013Q1  2475.55  103167
3541  2013Q2  2271.24  103167
3542  2013Q3  2614.25  103167
3543  2013Q4  2835.98  103167
3544  2014Q1  3088.06  103167
3545  2014Q2  3046.99  103167
3546  2014Q3  3366.99  103167
3547  2014Q4  3398.18  103167
3548  2015Q1  3549.71  103167
3549  2015Q2  3236.45  103167
3550  2015Q3  3134.27  103167
3551  2015Q4  3110.62  103167
3552  2016Q1  2961.53  103167
3553  2016Q2  3139.42  103167
3554  2016Q3  2873.02  103167
3555  2016Q4  2654.84  103167
3556  2017Q1  2691.25  103167
3557  2017Q2  2596.22  103167
3558  2017Q3  2534.34  103167
3559  2017Q4  2666.79  103167>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1460  2013Q1  0.085129  103167
1461  2013Q2 -0.050581  103167
1462  2013Q3  0.160025  103167
1463  2013Q4  0.084382  103167
1464  2014Q1  0.078088  103167
1465  2014Q2 -0.025322  103167
1466  2014Q3  0.115134  103167
1467  2014Q4  0.002351  103167
1468  2015Q1  0.075003  103167
1469  2015Q2 -0.047118  103167
1470  2015Q3 -0.039721  103167
1471  2015Q4 -0.003602  103167
1472  2016Q1 -0.042685  103167
1473  2016Q2  0.060625  103167
1474  2016Q3 -0.082601  103167
1475  2016Q4 -0.059745  103167
1476  2017Q1  0.032896  103167
1477  2017Q2  0.002751  103167
1478  2017Q3 -0.005886  103167
1479  2017Q4  0.068480  103167>)
('Key_aum: ', 103167)
     Quarter     Data      ID
3540  2013Q1  2475.55  103167
3541  2013Q2  2271.24  103167
3542  2013Q3  2614.25  103167
3543  2013Q4  2835.98  103167
3544  2014Q1  3088.06  103167
3545  2014Q2  3046.99  103167
3546  2014Q3  3366.99  103167
3547  2014Q4  3398.18  103167
3548  2015Q1  3549.71  103167
3549  2015Q2  3236.45  103167
3550  2015Q3  3134.27  103167
3551  2015Q4  3110.62  103167
3552  2016Q1  2961.53  103167
3553  2016Q2  3139.42  103167
3554  2016Q3  2873.02  103167
3555  2016Q4  2654.84  103167
3556  2017Q1  2691.25  103167
3557  2017Q2  2596.22  103167
3558  2017Q3  2534.34  103167
3559  2017Q4  2666.79  103167
('Key_nav : ', 103167)
('data 1 : ', array([ 0.08512905, -0.05058135,  0.16002492,  0.08438174,  0.07808782,
       -0.0253221 ,  0.11513438,  0.00235133,  0.07500346, -0.04711834,
       -0.03972134, -0.00360212, -0.04268471,  0.06062481, -0.08260123,
       -0.05974495,  0.03289601,  0.00275095, -0.00588576,  0.06848033]))
('data 2 :', array([ 2475.55,  2271.24,  2614.25,  2835.98,  3088.06,  3046.99,
        3366.99,  3398.18,  3549.71,  3236.45,  3134.27,  3110.62,
        2961.53,  3139.42,  2873.02,  2654.84,  2691.25,  2596.22,
        2534.34,  2666.79]))
('mean : ', array([ 0.08512905, -0.05058135,  0.16002492,  0.08438174,  0.07808782,
       -0.0253221 ,  0.11513438,  0.00235133,  0.07500346, -0.04711834,
       -0.03972134, -0.00360212, -0.04268471,  0.06062481, -0.08260123,
       -0.05974495,  0.03289601,  0.00275095, -0.00588576,  0.06848033]))
('aum table :', <bound method DataFrame.head of      Quarter     Data      ID
3540  2013Q1  2475.55  103167
3541  2013Q2  2271.24  103167
3542  2013Q3  2614.25  103167
3543  2013Q4  2835.98  103167
3544  2014Q1  3088.06  103167
3545  2014Q2  3046.99  103167
3546  2014Q3  3366.99  103167
3547  2014Q4  3398.18  103167
3548  2015Q1  3549.71  103167
3549  2015Q2  3236.45  103167
3550  2015Q3  3134.27  103167
3551  2015Q4  3110.62  103167
3552  2016Q1  2961.53  103167
3553  2016Q2  3139.42  103167
3554  2016Q3  2873.02  103167
3555  2016Q4  2654.84  103167
3556  2017Q1  2691.25  103167
3557  2017Q2  2596.22  103167
3558  2017Q3  2534.34  103167
3559  2017Q4  2666.79  103167>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1460  2013Q1  0.085129  103167
1461  2013Q2 -0.050581  103167
1462  2013Q3  0.160025  103167
1463  2013Q4  0.084382  103167
1464  2014Q1  0.078088  103167
1465  2014Q2 -0.025322  103167
1466  2014Q3  0.115134  103167
1467  2014Q4  0.002351  103167
1468  2015Q1  0.075003  103167
1469  2015Q2 -0.047118  103167
1470  2015Q3 -0.039721  103167
1471  2015Q4 -0.003602  103167
1472  2016Q1 -0.042685  103167
1473  2016Q2  0.060625  103167
1474  2016Q3 -0.082601  103167
1475  2016Q4 -0.059745  103167
1476  2017Q1  0.032896  103167
1477  2017Q2  0.002751  103167
1478  2017Q3 -0.005886  103167
1479  2017Q4  0.068480  103167>)
('Key_aum: ', 103167)
     Quarter     Data      ID
3540  2013Q1  2475.55  103167
3541  2013Q2  2271.24  103167
3542  2013Q3  2614.25  103167
3543  2013Q4  2835.98  103167
3544  2014Q1  3088.06  103167
3545  2014Q2  3046.99  103167
3546  2014Q3  3366.99  103167
3547  2014Q4  3398.18  103167
3548  2015Q1  3549.71  103167
3549  2015Q2  3236.45  103167
3550  2015Q3  3134.27  103167
3551  2015Q4  3110.62  103167
3552  2016Q1  2961.53  103167
3553  2016Q2  3139.42  103167
3554  2016Q3  2873.02  103167
3555  2016Q4  2654.84  103167
3556  2017Q1  2691.25  103167
3557  2017Q2  2596.22  103167
3558  2017Q3  2534.34  103167
3559  2017Q4  2666.79  103167
('Key_nav : ', 103167)
('data 1 : ', array([ 0.08512905, -0.05058135,  0.16002492,  0.08438174,  0.07808782,
       -0.0253221 ,  0.11513438,  0.00235133,  0.07500346, -0.04711834,
       -0.03972134, -0.00360212, -0.04268471,  0.06062481, -0.08260123,
       -0.05974495,  0.03289601,  0.00275095, -0.00588576,  0.06848033]))
('data 2 :', array([ 2475.55,  2271.24,  2614.25,  2835.98,  3088.06,  3046.99,
        3366.99,  3398.18,  3549.71,  3236.45,  3134.27,  3110.62,
        2961.53,  3139.42,  2873.02,  2654.84,  2691.25,  2596.22,
        2534.34,  2666.79]))
('mean : ', array([ 0.08512905, -0.05058135,  0.16002492,  0.08438174,  0.07808782,
       -0.0253221 ,  0.11513438,  0.00235133,  0.07500346, -0.04711834,
       -0.03972134, -0.00360212, -0.04268471,  0.06062481, -0.08260123,
       -0.05974495,  0.03289601,  0.00275095, -0.00588576,  0.06848033]))
('aum table :', <bound method DataFrame.head of      Quarter     Data      ID
3540  2013Q1  2475.55  103167
3541  2013Q2  2271.24  103167
3542  2013Q3  2614.25  103167
3543  2013Q4  2835.98  103167
3544  2014Q1  3088.06  103167
3545  2014Q2  3046.99  103167
3546  2014Q3  3366.99  103167
3547  2014Q4  3398.18  103167
3548  2015Q1  3549.71  103167
3549  2015Q2  3236.45  103167
3550  2015Q3  3134.27  103167
3551  2015Q4  3110.62  103167
3552  2016Q1  2961.53  103167
3553  2016Q2  3139.42  103167
3554  2016Q3  2873.02  103167
3555  2016Q4  2654.84  103167
3556  2017Q1  2691.25  103167
3557  2017Q2  2596.22  103167
3558  2017Q3  2534.34  103167
3559  2017Q4  2666.79  103167>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1460  2013Q1  0.085129  103167
1461  2013Q2 -0.050581  103167
1462  2013Q3  0.160025  103167
1463  2013Q4  0.084382  103167
1464  2014Q1  0.078088  103167
1465  2014Q2 -0.025322  103167
1466  2014Q3  0.115134  103167
1467  2014Q4  0.002351  103167
1468  2015Q1  0.075003  103167
1469  2015Q2 -0.047118  103167
1470  2015Q3 -0.039721  103167
1471  2015Q4 -0.003602  103167
1472  2016Q1 -0.042685  103167
1473  2016Q2  0.060625  103167
1474  2016Q3 -0.082601  103167
1475  2016Q4 -0.059745  103167
1476  2017Q1  0.032896  103167
1477  2017Q2  0.002751  103167
1478  2017Q3 -0.005886  103167
1479  2017Q4  0.068480  103167>)
('Key_aum: ', 103167)
     Quarter     Data      ID
3540  2013Q1  2475.55  103167
3541  2013Q2  2271.24  103167
3542  2013Q3  2614.25  103167
3543  2013Q4  2835.98  103167
3544  2014Q1  3088.06  103167
3545  2014Q2  3046.99  103167
3546  2014Q3  3366.99  103167
3547  2014Q4  3398.18  103167
3548  2015Q1  3549.71  103167
3549  2015Q2  3236.45  103167
3550  2015Q3  3134.27  103167
3551  2015Q4  3110.62  103167
3552  2016Q1  2961.53  103167
3553  2016Q2  3139.42  103167
3554  2016Q3  2873.02  103167
3555  2016Q4  2654.84  103167
3556  2017Q1  2691.25  103167
3557  2017Q2  2596.22  103167
3558  2017Q3  2534.34  103167
3559  2017Q4  2666.79  103167
('Key_nav : ', 103167)
('data 1 : ', array([ 0.08512905, -0.05058135,  0.16002492,  0.08438174,  0.07808782,
       -0.0253221 ,  0.11513438,  0.00235133,  0.07500346, -0.04711834,
       -0.03972134, -0.00360212, -0.04268471,  0.06062481, -0.08260123,
       -0.05974495,  0.03289601,  0.00275095, -0.00588576,  0.06848033]))
('data 2 :', array([ 2475.55,  2271.24,  2614.25,  2835.98,  3088.06,  3046.99,
        3366.99,  3398.18,  3549.71,  3236.45,  3134.27,  3110.62,
        2961.53,  3139.42,  2873.02,  2654.84,  2691.25,  2596.22,
        2534.34,  2666.79]))
('mean : ', array([ 0.08512905, -0.05058135,  0.16002492,  0.08438174,  0.07808782,
       -0.0253221 ,  0.11513438,  0.00235133,  0.07500346, -0.04711834,
       -0.03972134, -0.00360212, -0.04268471,  0.06062481, -0.08260123,
       -0.05974495,  0.03289601,  0.00275095, -0.00588576,  0.06848033]))
('aum table :', <bound method DataFrame.head of      Quarter     Data      ID
3540  2013Q1  2475.55  103167
3541  2013Q2  2271.24  103167
3542  2013Q3  2614.25  103167
3543  2013Q4  2835.98  103167
3544  2014Q1  3088.06  103167
3545  2014Q2  3046.99  103167
3546  2014Q3  3366.99  103167
3547  2014Q4  3398.18  103167
3548  2015Q1  3549.71  103167
3549  2015Q2  3236.45  103167
3550  2015Q3  3134.27  103167
3551  2015Q4  3110.62  103167
3552  2016Q1  2961.53  103167
3553  2016Q2  3139.42  103167
3554  2016Q3  2873.02  103167
3555  2016Q4  2654.84  103167
3556  2017Q1  2691.25  103167
3557  2017Q2  2596.22  103167
3558  2017Q3  2534.34  103167
3559  2017Q4  2666.79  103167>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1460  2013Q1  0.085129  103167
1461  2013Q2 -0.050581  103167
1462  2013Q3  0.160025  103167
1463  2013Q4  0.084382  103167
1464  2014Q1  0.078088  103167
1465  2014Q2 -0.025322  103167
1466  2014Q3  0.115134  103167
1467  2014Q4  0.002351  103167
1468  2015Q1  0.075003  103167
1469  2015Q2 -0.047118  103167
1470  2015Q3 -0.039721  103167
1471  2015Q4 -0.003602  103167
1472  2016Q1 -0.042685  103167
1473  2016Q2  0.060625  103167
1474  2016Q3 -0.082601  103167
1475  2016Q4 -0.059745  103167
1476  2017Q1  0.032896  103167
1477  2017Q2  0.002751  103167
1478  2017Q3 -0.005886  103167
1479  2017Q4  0.068480  103167>)
('Key_aum: ', 103167)
     Quarter     Data      ID
3540  2013Q1  2475.55  103167
3541  2013Q2  2271.24  103167
3542  2013Q3  2614.25  103167
3543  2013Q4  2835.98  103167
3544  2014Q1  3088.06  103167
3545  2014Q2  3046.99  103167
3546  2014Q3  3366.99  103167
3547  2014Q4  3398.18  103167
3548  2015Q1  3549.71  103167
3549  2015Q2  3236.45  103167
3550  2015Q3  3134.27  103167
3551  2015Q4  3110.62  103167
3552  2016Q1  2961.53  103167
3553  2016Q2  3139.42  103167
3554  2016Q3  2873.02  103167
3555  2016Q4  2654.84  103167
3556  2017Q1  2691.25  103167
3557  2017Q2  2596.22  103167
3558  2017Q3  2534.34  103167
3559  2017Q4  2666.79  103167
('Key_nav : ', 103167)
('data 1 : ', array([ 0.08512905, -0.05058135,  0.16002492,  0.08438174,  0.07808782,
       -0.0253221 ,  0.11513438,  0.00235133,  0.07500346, -0.04711834,
       -0.03972134, -0.00360212, -0.04268471,  0.06062481, -0.08260123,
       -0.05974495,  0.03289601,  0.00275095, -0.00588576,  0.06848033]))
('data 2 :', array([ 2475.55,  2271.24,  2614.25,  2835.98,  3088.06,  3046.99,
        3366.99,  3398.18,  3549.71,  3236.45,  3134.27,  3110.62,
        2961.53,  3139.42,  2873.02,  2654.84,  2691.25,  2596.22,
        2534.34,  2666.79]))
('mean : ', array([ 0.08512905, -0.05058135,  0.16002492,  0.08438174,  0.07808782,
       -0.0253221 ,  0.11513438,  0.00235133,  0.07500346, -0.04711834,
       -0.03972134, -0.00360212, -0.04268471,  0.06062481, -0.08260123,
       -0.05974495,  0.03289601,  0.00275095, -0.00588576,  0.06848033]))

('aum table :', <bound method DataFrame.head of      Quarter     Data      ID
3540  2013Q1  2475.55  103167
3541  2013Q2  2271.24  103167
3542  2013Q3  2614.25  103167
3543  2013Q4  2835.98  103167
3544  2014Q1  3088.06  103167
3545  2014Q2  3046.99  103167
3546  2014Q3  3366.99  103167
3547  2014Q4  3398.18  103167
3548  2015Q1  3549.71  103167
3549  2015Q2  3236.45  103167
3550  2015Q3  3134.27  103167
3551  2015Q4  3110.62  103167
3552  2016Q1  2961.53  103167
3553  2016Q2  3139.42  103167
3554  2016Q3  2873.02  103167
3555  2016Q4  2654.84  103167
3556  2017Q1  2691.25  103167
3557  2017Q2  2596.22  103167
3558  2017Q3  2534.34  103167
3559  2017Q4  2666.79  103167>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1460  2013Q1  0.085129  103167
1461  2013Q2 -0.050581  103167
1462  2013Q3  0.160025  103167
1463  2013Q4  0.084382  103167
1464  2014Q1  0.078088  103167
1465  2014Q2 -0.025322  103167
1466  2014Q3  0.115134  103167
1467  2014Q4  0.002351  103167
1468  2015Q1  0.075003  103167
1469  2015Q2 -0.047118  103167
1470  2015Q3 -0.039721  103167
1471  2015Q4 -0.003602  103167
1472  2016Q1 -0.042685  103167
1473  2016Q2  0.060625  103167
1474  2016Q3 -0.082601  103167
1475  2016Q4 -0.059745  103167
1476  2017Q1  0.032896  103167
1477  2017Q2  0.002751  103167
1478  2017Q3 -0.005886  103167
1479  2017Q4  0.068480  103167>)
('Key_aum: ', 103167)
     Quarter     Data      ID
3540  2013Q1  2475.55  103167
3541  2013Q2  2271.24  103167
3542  2013Q3  2614.25  103167
3543  2013Q4  2835.98  103167
3544  2014Q1  3088.06  103167
3545  2014Q2  3046.99  103167
3546  2014Q3  3366.99  103167
3547  2014Q4  3398.18  103167
3548  2015Q1  3549.71  103167
3549  2015Q2  3236.45  103167
3550  2015Q3  3134.27  103167
3551  2015Q4  3110.62  103167
3552  2016Q1  2961.53  103167
3553  2016Q2  3139.42  103167
3554  2016Q3  2873.02  103167
3555  2016Q4  2654.84  103167
3556  2017Q1  2691.25  103167
3557  2017Q2  2596.22  103167
3558  2017Q3  2534.34  103167
3559  2017Q4  2666.79  103167
('Key_nav : ', 103167)
('data 1 : ', array([ 0.08512905, -0.05058135,  0.16002492,  0.08438174,  0.07808782,
       -0.0253221 ,  0.11513438,  0.00235133,  0.07500346, -0.04711834,
       -0.03972134, -0.00360212, -0.04268471,  0.06062481, -0.08260123,
       -0.05974495,  0.03289601,  0.00275095, -0.00588576,  0.06848033]))
('data 2 :', array([ 2475.55,  2271.24,  2614.25,  2835.98,  3088.06,  3046.99,
        3366.99,  3398.18,  3549.71,  3236.45,  3134.27,  3110.62,
        2961.53,  3139.42,  2873.02,  2654.84,  2691.25,  2596.22,
        2534.34,  2666.79]))
('mean : ', array([ 0.08512905, -0.05058135,  0.16002492,  0.08438174,  0.07808782,
       -0.0253221 ,  0.11513438,  0.00235133,  0.07500346, -0.04711834,
       -0.03972134, -0.00360212, -0.04268471,  0.06062481, -0.08260123,
       -0.05974495,  0.03289601,  0.00275095, -0.00588576,  0.06848033]))
('aum table :', <bound method DataFrame.head of      Quarter     Data      ID
3540  2013Q1  2475.55  103167
3541  2013Q2  2271.24  103167
3542  2013Q3  2614.25  103167
3543  2013Q4  2835.98  103167
3544  2014Q1  3088.06  103167
3545  2014Q2  3046.99  103167
3546  2014Q3  3366.99  103167
3547  2014Q4  3398.18  103167
3548  2015Q1  3549.71  103167
3549  2015Q2  3236.45  103167
3550  2015Q3  3134.27  103167
3551  2015Q4  3110.62  103167
3552  2016Q1  2961.53  103167
3553  2016Q2  3139.42  103167
3554  2016Q3  2873.02  103167
3555  2016Q4  2654.84  103167
3556  2017Q1  2691.25  103167
3557  2017Q2  2596.22  103167
3558  2017Q3  2534.34  103167
3559  2017Q4  2666.79  103167>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1460  2013Q1  0.085129  103167
1461  2013Q2 -0.050581  103167
1462  2013Q3  0.160025  103167
1463  2013Q4  0.084382  103167
1464  2014Q1  0.078088  103167
1465  2014Q2 -0.025322  103167
1466  2014Q3  0.115134  103167
1467  2014Q4  0.002351  103167
1468  2015Q1  0.075003  103167
1469  2015Q2 -0.047118  103167
1470  2015Q3 -0.039721  103167
1471  2015Q4 -0.003602  103167
1472  2016Q1 -0.042685  103167
1473  2016Q2  0.060625  103167
1474  2016Q3 -0.082601  103167
1475  2016Q4 -0.059745  103167
1476  2017Q1  0.032896  103167
1477  2017Q2  0.002751  103167
1478  2017Q3 -0.005886  103167
1479  2017Q4  0.068480  103167>)
('Key_aum: ', 103167)
     Quarter     Data      ID
3540  2013Q1  2475.55  103167
3541  2013Q2  2271.24  103167
3542  2013Q3  2614.25  103167
3543  2013Q4  2835.98  103167
3544  2014Q1  3088.06  103167
3545  2014Q2  3046.99  103167
3546  2014Q3  3366.99  103167
3547  2014Q4  3398.18  103167
3548  2015Q1  3549.71  103167
3549  2015Q2  3236.45  103167
3550  2015Q3  3134.27  103167
3551  2015Q4  3110.62  103167
3552  2016Q1  2961.53  103167
3553  2016Q2  3139.42  103167
3554  2016Q3  2873.02  103167
3555  2016Q4  2654.84  103167
3556  2017Q1  2691.25  103167
3557  2017Q2  2596.22  103167
3558  2017Q3  2534.34  103167
3559  2017Q4  2666.79  103167
('Key_nav : ', 103167)
('data 1 : ', array([ 0.08512905, -0.05058135,  0.16002492,  0.08438174,  0.07808782,
       -0.0253221 ,  0.11513438,  0.00235133,  0.07500346, -0.04711834,
       -0.03972134, -0.00360212, -0.04268471,  0.06062481, -0.08260123,
       -0.05974495,  0.03289601,  0.00275095, -0.00588576,  0.06848033]))
('data 2 :', array([ 2475.55,  2271.24,  2614.25,  2835.98,  3088.06,  3046.99,
        3366.99,  3398.18,  3549.71,  3236.45,  3134.27,  3110.62,
        2961.53,  3139.42,  2873.02,  2654.84,  2691.25,  2596.22,
        2534.34,  2666.79]))
('mean : ', array([ 0.08512905, -0.05058135,  0.16002492,  0.08438174,  0.07808782,
       -0.0253221 ,  0.11513438,  0.00235133,  0.07500346, -0.04711834,
       -0.03972134, -0.00360212, -0.04268471,  0.06062481, -0.08260123,
       -0.05974495,  0.03289601,  0.00275095, -0.00588576,  0.06848033]))
('aum table :', <bound method DataFrame.head of      Quarter     Data      ID
3540  2013Q1  2475.55  103167
3541  2013Q2  2271.24  103167
3542  2013Q3  2614.25  103167
3543  2013Q4  2835.98  103167
3544  2014Q1  3088.06  103167
3545  2014Q2  3046.99  103167
3546  2014Q3  3366.99  103167
3547  2014Q4  3398.18  103167
3548  2015Q1  3549.71  103167
3549  2015Q2  3236.45  103167
3550  2015Q3  3134.27  103167
3551  2015Q4  3110.62  103167
3552  2016Q1  2961.53  103167
3553  2016Q2  3139.42  103167
3554  2016Q3  2873.02  103167
3555  2016Q4  2654.84  103167
3556  2017Q1  2691.25  103167
3557  2017Q2  2596.22  103167
3558  2017Q3  2534.34  103167
3559  2017Q4  2666.79  103167>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1460  2013Q1  0.085129  103167
1461  2013Q2 -0.050581  103167
1462  2013Q3  0.160025  103167
1463  2013Q4  0.084382  103167
1464  2014Q1  0.078088  103167
1465  2014Q2 -0.025322  103167
1466  2014Q3  0.115134  103167
1467  2014Q4  0.002351  103167
1468  2015Q1  0.075003  103167
1469  2015Q2 -0.047118  103167
1470  2015Q3 -0.039721  103167
1471  2015Q4 -0.003602  103167
1472  2016Q1 -0.042685  103167
1473  2016Q2  0.060625  103167
1474  2016Q3 -0.082601  103167
1475  2016Q4 -0.059745  103167
1476  2017Q1  0.032896  103167
1477  2017Q2  0.002751  103167
1478  2017Q3 -0.005886  103167
1479  2017Q4  0.068480  103167>)
('Key_aum: ', 103167)
     Quarter     Data      ID
3540  2013Q1  2475.55  103167
3541  2013Q2  2271.24  103167
3542  2013Q3  2614.25  103167
3543  2013Q4  2835.98  103167
3544  2014Q1  3088.06  103167
3545  2014Q2  3046.99  103167
3546  2014Q3  3366.99  103167
3547  2014Q4  3398.18  103167
3548  2015Q1  3549.71  103167
3549  2015Q2  3236.45  103167
3550  2015Q3  3134.27  103167
3551  2015Q4  3110.62  103167
3552  2016Q1  2961.53  103167
3553  2016Q2  3139.42  103167
3554  2016Q3  2873.02  103167
3555  2016Q4  2654.84  103167
3556  2017Q1  2691.25  103167
3557  2017Q2  2596.22  103167
3558  2017Q3  2534.34  103167
3559  2017Q4  2666.79  103167
('Key_nav : ', 103167)
('data 1 : ', array([ 0.08512905, -0.05058135,  0.16002492,  0.08438174,  0.07808782,
       -0.0253221 ,  0.11513438,  0.00235133,  0.07500346, -0.04711834,
       -0.03972134, -0.00360212, -0.04268471,  0.06062481, -0.08260123,
       -0.05974495,  0.03289601,  0.00275095, -0.00588576,  0.06848033]))
('data 2 :', array([ 2475.55,  2271.24,  2614.25,  2835.98,  3088.06,  3046.99,
        3366.99,  3398.18,  3549.71,  3236.45,  3134.27,  3110.62,
        2961.53,  3139.42,  2873.02,  2654.84,  2691.25,  2596.22,
        2534.34,  2666.79]))
('mean : ', array([ 0.08512905, -0.05058135,  0.16002492,  0.08438174,  0.07808782,
       -0.0253221 ,  0.11513438,  0.00235133,  0.07500346, -0.04711834,
       -0.03972134, -0.00360212, -0.04268471,  0.06062481, -0.08260123,
       -0.05974495,  0.03289601,  0.00275095, -0.00588576,  0.06848033]))
('aum table :', <bound method DataFrame.head of      Quarter     Data      ID
3540  2013Q1  2475.55  103167
3541  2013Q2  2271.24  103167
3542  2013Q3  2614.25  103167
3543  2013Q4  2835.98  103167
3544  2014Q1  3088.06  103167
3545  2014Q2  3046.99  103167
3546  2014Q3  3366.99  103167
3547  2014Q4  3398.18  103167
3548  2015Q1  3549.71  103167
3549  2015Q2  3236.45  103167
3550  2015Q3  3134.27  103167
3551  2015Q4  3110.62  103167
3552  2016Q1  2961.53  103167
3553  2016Q2  3139.42  103167
3554  2016Q3  2873.02  103167
3555  2016Q4  2654.84  103167
3556  2017Q1  2691.25  103167
3557  2017Q2  2596.22  103167
3558  2017Q3  2534.34  103167
3559  2017Q4  2666.79  103167>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1460  2013Q1  0.085129  103167
1461  2013Q2 -0.050581  103167
1462  2013Q3  0.160025  103167
1463  2013Q4  0.084382  103167
1464  2014Q1  0.078088  103167
1465  2014Q2 -0.025322  103167
1466  2014Q3  0.115134  103167
1467  2014Q4  0.002351  103167
1468  2015Q1  0.075003  103167
1469  2015Q2 -0.047118  103167
1470  2015Q3 -0.039721  103167
1471  2015Q4 -0.003602  103167
1472  2016Q1 -0.042685  103167
1473  2016Q2  0.060625  103167
1474  2016Q3 -0.082601  103167
1475  2016Q4 -0.059745  103167
1476  2017Q1  0.032896  103167
1477  2017Q2  0.002751  103167
1478  2017Q3 -0.005886  103167
1479  2017Q4  0.068480  103167>)
('Key_aum: ', 103167)
     Quarter     Data      ID
3540  2013Q1  2475.55  103167
3541  2013Q2  2271.24  103167
3542  2013Q3  2614.25  103167
3543  2013Q4  2835.98  103167
3544  2014Q1  3088.06  103167
3545  2014Q2  3046.99  103167
3546  2014Q3  3366.99  103167
3547  2014Q4  3398.18  103167
3548  2015Q1  3549.71  103167
3549  2015Q2  3236.45  103167
3550  2015Q3  3134.27  103167
3551  2015Q4  3110.62  103167
3552  2016Q1  2961.53  103167
3553  2016Q2  3139.42  103167
3554  2016Q3  2873.02  103167
3555  2016Q4  2654.84  103167
3556  2017Q1  2691.25  103167
3557  2017Q2  2596.22  103167
3558  2017Q3  2534.34  103167
3559  2017Q4  2666.79  103167
('Key_nav : ', 103167)
('data 1 : ', array([ 0.08512905, -0.05058135,  0.16002492,  0.08438174,  0.07808782,
       -0.0253221 ,  0.11513438,  0.00235133,  0.07500346, -0.04711834,
       -0.03972134, -0.00360212, -0.04268471,  0.06062481, -0.08260123,
       -0.05974495,  0.03289601,  0.00275095, -0.00588576,  0.06848033]))
('data 2 :', array([ 2475.55,  2271.24,  2614.25,  2835.98,  3088.06,  3046.99,
        3366.99,  3398.18,  3549.71,  3236.45,  3134.27,  3110.62,
        2961.53,  3139.42,  2873.02,  2654.84,  2691.25,  2596.22,
        2534.34,  2666.79]))
('mean : ', array([ 0.08512905, -0.05058135,  0.16002492,  0.08438174,  0.07808782,
       -0.0253221 ,  0.11513438,  0.00235133,  0.07500346, -0.04711834,
       -0.03972134, -0.00360212, -0.04268471,  0.06062481, -0.08260123,
       -0.05974495,  0.03289601,  0.00275095, -0.00588576,  0.06848033]))
('aum table :', <bound method DataFrame.head of      Quarter     Data      ID
3540  2013Q1  2475.55  103167
3541  2013Q2  2271.24  103167
3542  2013Q3  2614.25  103167
3543  2013Q4  2835.98  103167
3544  2014Q1  3088.06  103167
3545  2014Q2  3046.99  103167
3546  2014Q3  3366.99  103167
3547  2014Q4  3398.18  103167
3548  2015Q1  3549.71  103167
3549  2015Q2  3236.45  103167
3550  2015Q3  3134.27  103167
3551  2015Q4  3110.62  103167
3552  2016Q1  2961.53  103167
3553  2016Q2  3139.42  103167
3554  2016Q3  2873.02  103167
3555  2016Q4  2654.84  103167
3556  2017Q1  2691.25  103167
3557  2017Q2  2596.22  103167
3558  2017Q3  2534.34  103167
3559  2017Q4  2666.79  103167>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1460  2013Q1  0.085129  103167
1461  2013Q2 -0.050581  103167
1462  2013Q3  0.160025  103167
1463  2013Q4  0.084382  103167
1464  2014Q1  0.078088  103167
1465  2014Q2 -0.025322  103167
1466  2014Q3  0.115134  103167
1467  2014Q4  0.002351  103167
1468  2015Q1  0.075003  103167
1469  2015Q2 -0.047118  103167
1470  2015Q3 -0.039721  103167
1471  2015Q4 -0.003602  103167
1472  2016Q1 -0.042685  103167
1473  2016Q2  0.060625  103167
1474  2016Q3 -0.082601  103167
1475  2016Q4 -0.059745  103167
1476  2017Q1  0.032896  103167
1477  2017Q2  0.002751  103167
1478  2017Q3 -0.005886  103167
1479  2017Q4  0.068480  103167>)
('Key_aum: ', 103167)
     Quarter     Data      ID
3540  2013Q1  2475.55  103167
3541  2013Q2  2271.24  103167
3542  2013Q3  2614.25  103167
3543  2013Q4  2835.98  103167
3544  2014Q1  3088.06  103167
3545  2014Q2  3046.99  103167
3546  2014Q3  3366.99  103167
3547  2014Q4  3398.18  103167
3548  2015Q1  3549.71  103167
3549  2015Q2  3236.45  103167
3550  2015Q3  3134.27  103167
3551  2015Q4  3110.62  103167
3552  2016Q1  2961.53  103167
3553  2016Q2  3139.42  103167
3554  2016Q3  2873.02  103167
3555  2016Q4  2654.84  103167
3556  2017Q1  2691.25  103167
3557  2017Q2  2596.22  103167
3558  2017Q3  2534.34  103167
3559  2017Q4  2666.79  103167
('Key_nav : ', 103167)
('data 1 : ', array([ 0.08512905, -0.05058135,  0.16002492,  0.08438174,  0.07808782,
       -0.0253221 ,  0.11513438,  0.00235133,  0.07500346, -0.04711834,
       -0.03972134, -0.00360212, -0.04268471,  0.06062481, -0.08260123,
       -0.05974495,  0.03289601,  0.00275095, -0.00588576,  0.06848033]))
('data 2 :', array([ 2475.55,  2271.24,  2614.25,  2835.98,  3088.06,  3046.99,
        3366.99,  3398.18,  3549.71,  3236.45,  3134.27,  3110.62,
        2961.53,  3139.42,  2873.02,  2654.84,  2691.25,  2596.22,
        2534.34,  2666.79]))
('mean : ', array([ 0.08512905, -0.05058135,  0.16002492,  0.08438174,  0.07808782,
       -0.0253221 ,  0.11513438,  0.00235133,  0.07500346, -0.04711834,
       -0.03972134, -0.00360212, -0.04268471,  0.06062481, -0.08260123,
       -0.05974495,  0.03289601,  0.00275095, -0.00588576,  0.06848033]))
('aum table :', <bound method DataFrame.head of      Quarter     Data      ID
3540  2013Q1  2475.55  103167
3541  2013Q2  2271.24  103167
3542  2013Q3  2614.25  103167
3543  2013Q4  2835.98  103167
3544  2014Q1  3088.06  103167
3545  2014Q2  3046.99  103167
3546  2014Q3  3366.99  103167
3547  2014Q4  3398.18  103167
3548  2015Q1  3549.71  103167
3549  2015Q2  3236.45  103167
3550  2015Q3  3134.27  103167
3551  2015Q4  3110.62  103167
3552  2016Q1  2961.53  103167
3553  2016Q2  3139.42  103167
3554  2016Q3  2873.02  103167
3555  2016Q4  2654.84  103167
3556  2017Q1  2691.25  103167
3557  2017Q2  2596.22  103167
3558  2017Q3  2534.34  103167
3559  2017Q4  2666.79  103167>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1460  2013Q1  0.085129  103167
1461  2013Q2 -0.050581  103167
1462  2013Q3  0.160025  103167
1463  2013Q4  0.084382  103167
1464  2014Q1  0.078088  103167
1465  2014Q2 -0.025322  103167
1466  2014Q3  0.115134  103167
1467  2014Q4  0.002351  103167
1468  2015Q1  0.075003  103167
1469  2015Q2 -0.047118  103167
1470  2015Q3 -0.039721  103167
1471  2015Q4 -0.003602  103167
1472  2016Q1 -0.042685  103167
1473  2016Q2  0.060625  103167
1474  2016Q3 -0.082601  103167
1475  2016Q4 -0.059745  103167
1476  2017Q1  0.032896  103167
1477  2017Q2  0.002751  103167
1478  2017Q3 -0.005886  103167
1479  2017Q4  0.068480  103167>)
('Key_aum: ', 103167)
     Quarter     Data      ID
3540  2013Q1  2475.55  103167
3541  2013Q2  2271.24  103167
3542  2013Q3  2614.25  103167
3543  2013Q4  2835.98  103167
3544  2014Q1  3088.06  103167
3545  2014Q2  3046.99  103167
3546  2014Q3  3366.99  103167
3547  2014Q4  3398.18  103167
3548  2015Q1  3549.71  103167
3549  2015Q2  3236.45  103167
3550  2015Q3  3134.27  103167
3551  2015Q4  3110.62  103167
3552  2016Q1  2961.53  103167
3553  2016Q2  3139.42  103167
3554  2016Q3  2873.02  103167
3555  2016Q4  2654.84  103167
3556  2017Q1  2691.25  103167
3557  2017Q2  2596.22  103167
3558  2017Q3  2534.34  103167
3559  2017Q4  2666.79  103167
('Key_nav : ', 103167)
('data 1 : ', array([ 0.08512905, -0.05058135,  0.16002492,  0.08438174,  0.07808782,
       -0.0253221 ,  0.11513438,  0.00235133,  0.07500346, -0.04711834,
       -0.03972134, -0.00360212, -0.04268471,  0.06062481, -0.08260123,
       -0.05974495,  0.03289601,  0.00275095, -0.00588576,  0.06848033]))
('data 2 :', array([ 2475.55,  2271.24,  2614.25,  2835.98,  3088.06,  3046.99,
        3366.99,  3398.18,  3549.71,  3236.45,  3134.27,  3110.62,
        2961.53,  3139.42,  2873.02,  2654.84,  2691.25,  2596.22,
        2534.34,  2666.79]))
('mean : ', array([ 0.08512905, -0.05058135,  0.16002492,  0.08438174,  0.07808782,
       -0.0253221 ,  0.11513438,  0.00235133,  0.07500346, -0.04711834,
       -0.03972134, -0.00360212, -0.04268471,  0.06062481, -0.08260123,
       -0.05974495,  0.03289601,  0.00275095, -0.00588576,  0.06848033]))
('aum table :', <bound method DataFrame.head of      Quarter     Data      ID
3540  2013Q1  2475.55  103167
3541  2013Q2  2271.24  103167
3542  2013Q3  2614.25  103167
3543  2013Q4  2835.98  103167
3544  2014Q1  3088.06  103167
3545  2014Q2  3046.99  103167
3546  2014Q3  3366.99  103167
3547  2014Q4  3398.18  103167
3548  2015Q1  3549.71  103167
3549  2015Q2  3236.45  103167
3550  2015Q3  3134.27  103167
3551  2015Q4  3110.62  103167
3552  2016Q1  2961.53  103167
3553  2016Q2  3139.42  103167
3554  2016Q3  2873.02  103167
3555  2016Q4  2654.84  103167
3556  2017Q1  2691.25  103167
3557  2017Q2  2596.22  103167
3558  2017Q3  2534.34  103167
3559  2017Q4  2666.79  103167>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1460  2013Q1  0.085129  103167
1461  2013Q2 -0.050581  103167
1462  2013Q3  0.160025  103167
1463  2013Q4  0.084382  103167
1464  2014Q1  0.078088  103167
1465  2014Q2 -0.025322  103167
1466  2014Q3  0.115134  103167
1467  2014Q4  0.002351  103167
1468  2015Q1  0.075003  103167
1469  2015Q2 -0.047118  103167
1470  2015Q3 -0.039721  103167
1471  2015Q4 -0.003602  103167
1472  2016Q1 -0.042685  103167
1473  2016Q2  0.060625  103167
1474  2016Q3 -0.082601  103167
1475  2016Q4 -0.059745  103167
1476  2017Q1  0.032896  103167
1477  2017Q2  0.002751  103167
1478  2017Q3 -0.005886  103167
1479  2017Q4  0.068480  103167>)
('Key_aum: ', 103167)
     Quarter     Data      ID
3540  2013Q1  2475.55  103167
3541  2013Q2  2271.24  103167
3542  2013Q3  2614.25  103167
3543  2013Q4  2835.98  103167
3544  2014Q1  3088.06  103167
3545  2014Q2  3046.99  103167
3546  2014Q3  3366.99  103167
3547  2014Q4  3398.18  103167
3548  2015Q1  3549.71  103167
3549  2015Q2  3236.45  103167
3550  2015Q3  3134.27  103167
3551  2015Q4  3110.62  103167
3552  2016Q1  2961.53  103167
3553  2016Q2  3139.42  103167
3554  2016Q3  2873.02  103167
3555  2016Q4  2654.84  103167
3556  2017Q1  2691.25  103167
3557  2017Q2  2596.22  103167
3558  2017Q3  2534.34  103167
3559  2017Q4  2666.79  103167
('Key_nav : ', 103167)
('data 1 : ', array([ 0.08512905, -0.05058135,  0.16002492,  0.08438174,  0.07808782,
       -0.0253221 ,  0.11513438,  0.00235133,  0.07500346, -0.04711834,
       -0.03972134, -0.00360212, -0.04268471,  0.06062481, -0.08260123,
       -0.05974495,  0.03289601,  0.00275095, -0.00588576,  0.06848033]))
('data 2 :', array([ 2475.55,  2271.24,  2614.25,  2835.98,  3088.06,  3046.99,
        3366.99,  3398.18,  3549.71,  3236.45,  3134.27,  3110.62,

('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1460  2013Q1  0.085129  103167
1461  2013Q2 -0.050581  103167
1462  2013Q3  0.160025  103167
1463  2013Q4  0.084382  103167
1464  2014Q1  0.078088  103167
1465  2014Q2 -0.025322  103167
1466  2014Q3  0.115134  103167
1467  2014Q4  0.002351  103167
1468  2015Q1  0.075003  103167
1469  2015Q2 -0.047118  103167
1470  2015Q3 -0.039721  103167
1471  2015Q4 -0.003602  103167
1472  2016Q1 -0.042685  103167
1473  2016Q2  0.060625  103167
1474  2016Q3 -0.082601  103167
1475  2016Q4 -0.059745  103167
1476  2017Q1  0.032896  103167
1477  2017Q2  0.002751  103167
1478  2017Q3 -0.005886  103167
1479  2017Q4  0.068480  103167>)
('Key_aum: ', 103167)
     Quarter     Data      ID
3540  2013Q1  2475.55  103167
3541  2013Q2  2271.24  103167
3542  2013Q3  2614.25  103167
3543  2013Q4  2835.98  103167
3544  2014Q1  3088.06  103167
3545  2014Q2  3046.99  103167
3546  2014Q3  3366.99  103167
3547  2014Q4  3398.18  103167
3548  2015Q1  3549.71  103167
3549  2015Q2  3236.45  103167
3550  2015Q3  3134.27  103167
3551  2015Q4  3110.62  103167
3552  2016Q1  2961.53  103167
3553  2016Q2  3139.42  103167
3554  2016Q3  2873.02  103167
3555  2016Q4  2654.84  103167
3556  2017Q1  2691.25  103167
3557  2017Q2  2596.22  103167
3558  2017Q3  2534.34  103167
3559  2017Q4  2666.79  103167
('Key_nav : ', 103167)
('data 1 : ', array([ 0.08512905, -0.05058135,  0.16002492,  0.08438174,  0.07808782,
       -0.0253221 ,  0.11513438,  0.00235133,  0.07500346, -0.04711834,
       -0.03972134, -0.00360212, -0.04268471,  0.06062481, -0.08260123,
       -0.05974495,  0.03289601,  0.00275095, -0.00588576,  0.06848033]))
('data 2 :', array([ 2475.55,  2271.24,  2614.25,  2835.98,  3088.06,  3046.99,
        3366.99,  3398.18,  3549.71,  3236.45,  3134.27,  3110.62,
        2961.53,  3139.42,  2873.02,  2654.84,  2691.25,  2596.22,
        2534.34,  2666.79]))
('mean : ', array([ 0.08512905, -0.05058135,  0.16002492,  0.08438174,  0.07808782,
       -0.0253221 ,  0.11513438,  0.00235133,  0.07500346, -0.04711834,
       -0.03972134, -0.00360212, -0.04268471,  0.06062481, -0.08260123,
       -0.05974495,  0.03289601,  0.00275095, -0.00588576,  0.06848033]))
('aum table :', <bound method DataFrame.head of      Quarter     Data      ID
3540  2013Q1  2475.55  103167
3541  2013Q2  2271.24  103167
3542  2013Q3  2614.25  103167
3543  2013Q4  2835.98  103167
3544  2014Q1  3088.06  103167
3545  2014Q2  3046.99  103167
3546  2014Q3  3366.99  103167
3547  2014Q4  3398.18  103167
3548  2015Q1  3549.71  103167
3549  2015Q2  3236.45  103167
3550  2015Q3  3134.27  103167
3551  2015Q4  3110.62  103167
3552  2016Q1  2961.53  103167
3553  2016Q2  3139.42  103167
3554  2016Q3  2873.02  103167
3555  2016Q4  2654.84  103167
3556  2017Q1  2691.25  103167
3557  2017Q2  2596.22  103167
3558  2017Q3  2534.34  103167
3559  2017Q4  2666.79  103167>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1460  2013Q1  0.085129  103167
1461  2013Q2 -0.050581  103167
1462  2013Q3  0.160025  103167
1463  2013Q4  0.084382  103167
1464  2014Q1  0.078088  103167
1465  2014Q2 -0.025322  103167
1466  2014Q3  0.115134  103167
1467  2014Q4  0.002351  103167
1468  2015Q1  0.075003  103167
1469  2015Q2 -0.047118  103167
1470  2015Q3 -0.039721  103167
1471  2015Q4 -0.003602  103167
1472  2016Q1 -0.042685  103167
1473  2016Q2  0.060625  103167
1474  2016Q3 -0.082601  103167
1475  2016Q4 -0.059745  103167
1476  2017Q1  0.032896  103167
1477  2017Q2  0.002751  103167
1478  2017Q3 -0.005886  103167
1479  2017Q4  0.068480  103167>)
('Key_aum: ', 103167)
     Quarter     Data      ID
3540  2013Q1  2475.55  103167
3541  2013Q2  2271.24  103167
3542  2013Q3  2614.25  103167
3543  2013Q4  2835.98  103167
3544  2014Q1  3088.06  103167
3545  2014Q2  3046.99  103167
3546  2014Q3  3366.99  103167
3547  2014Q4  3398.18  103167
3548  2015Q1  3549.71  103167
3549  2015Q2  3236.45  103167
3550  2015Q3  3134.27  103167
3551  2015Q4  3110.62  103167
3552  2016Q1  2961.53  103167
3553  2016Q2  3139.42  103167
3554  2016Q3  2873.02  103167
3555  2016Q4  2654.84  103167
3556  2017Q1  2691.25  103167
3557  2017Q2  2596.22  103167
3558  2017Q3  2534.34  103167
3559  2017Q4  2666.79  103167
('Key_nav : ', 103167)
('data 1 : ', array([ 0.08512905, -0.05058135,  0.16002492,  0.08438174,  0.07808782,
       -0.0253221 ,  0.11513438,  0.00235133,  0.07500346, -0.04711834,
       -0.03972134, -0.00360212, -0.04268471,  0.06062481, -0.08260123,
       -0.05974495,  0.03289601,  0.00275095, -0.00588576,  0.06848033]))
('data 2 :', array([ 2475.55,  2271.24,  2614.25,  2835.98,  3088.06,  3046.99,
        3366.99,  3398.18,  3549.71,  3236.45,  3134.27,  3110.62,
        2961.53,  3139.42,  2873.02,  2654.84,  2691.25,  2596.22,
        2534.34,  2666.79]))
('mean : ', array([ 0.08512905, -0.05058135,  0.16002492,  0.08438174,  0.07808782,
       -0.0253221 ,  0.11513438,  0.00235133,  0.07500346, -0.04711834,
       -0.03972134, -0.00360212, -0.04268471,  0.06062481, -0.08260123,
       -0.05974495,  0.03289601,  0.00275095, -0.00588576,  0.06848033]))
('aum table :', <bound method DataFrame.head of      Quarter     Data      ID
3540  2013Q1  2475.55  103167
3541  2013Q2  2271.24  103167
3542  2013Q3  2614.25  103167
3543  2013Q4  2835.98  103167
3544  2014Q1  3088.06  103167
3545  2014Q2  3046.99  103167
3546  2014Q3  3366.99  103167
3547  2014Q4  3398.18  103167
3548  2015Q1  3549.71  103167
3549  2015Q2  3236.45  103167
3550  2015Q3  3134.27  103167
3551  2015Q4  3110.62  103167
3552  2016Q1  2961.53  103167
3553  2016Q2  3139.42  103167
3554  2016Q3  2873.02  103167
3555  2016Q4  2654.84  103167
3556  2017Q1  2691.25  103167
3557  2017Q2  2596.22  103167
3558  2017Q3  2534.34  103167
3559  2017Q4  2666.79  103167>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1460  2013Q1  0.085129  103167
1461  2013Q2 -0.050581  103167
1462  2013Q3  0.160025  103167
1463  2013Q4  0.084382  103167
1464  2014Q1  0.078088  103167
1465  2014Q2 -0.025322  103167
1466  2014Q3  0.115134  103167
1467  2014Q4  0.002351  103167
1468  2015Q1  0.075003  103167
1469  2015Q2 -0.047118  103167
1470  2015Q3 -0.039721  103167
1471  2015Q4 -0.003602  103167
1472  2016Q1 -0.042685  103167
1473  2016Q2  0.060625  103167
1474  2016Q3 -0.082601  103167
1475  2016Q4 -0.059745  103167
1476  2017Q1  0.032896  103167
1477  2017Q2  0.002751  103167
1478  2017Q3 -0.005886  103167
1479  2017Q4  0.068480  103167>)
('Key_aum: ', 103167)
     Quarter     Data      ID
3540  2013Q1  2475.55  103167
3541  2013Q2  2271.24  103167
3542  2013Q3  2614.25  103167
3543  2013Q4  2835.98  103167
3544  2014Q1  3088.06  103167
3545  2014Q2  3046.99  103167
3546  2014Q3  3366.99  103167
3547  2014Q4  3398.18  103167
3548  2015Q1  3549.71  103167
3549  2015Q2  3236.45  103167
3550  2015Q3  3134.27  103167
3551  2015Q4  3110.62  103167
3552  2016Q1  2961.53  103167
3553  2016Q2  3139.42  103167
3554  2016Q3  2873.02  103167
3555  2016Q4  2654.84  103167
3556  2017Q1  2691.25  103167
3557  2017Q2  2596.22  103167
3558  2017Q3  2534.34  103167
3559  2017Q4  2666.79  103167
('Key_nav : ', 103167)
('data 1 : ', array([ 0.08512905, -0.05058135,  0.16002492,  0.08438174,  0.07808782,
       -0.0253221 ,  0.11513438,  0.00235133,  0.07500346, -0.04711834,
       -0.03972134, -0.00360212, -0.04268471,  0.06062481, -0.08260123,
       -0.05974495,  0.03289601,  0.00275095, -0.00588576,  0.06848033]))
('data 2 :', array([ 2475.55,  2271.24,  2614.25,  2835.98,  3088.06,  3046.99,
        3366.99,  3398.18,  3549.71,  3236.45,  3134.27,  3110.62,
        2961.53,  3139.42,  2873.02,  2654.84,  2691.25,  2596.22,
        2534.34,  2666.79]))
('mean : ', array([ 0.08512905, -0.05058135,  0.16002492,  0.08438174,  0.07808782,
       -0.0253221 ,  0.11513438,  0.00235133,  0.07500346, -0.04711834,
       -0.03972134, -0.00360212, -0.04268471,  0.06062481, -0.08260123,
       -0.05974495,  0.03289601,  0.00275095, -0.00588576,  0.06848033]))
('aum table :', <bound method DataFrame.head of      Quarter     Data      ID
3540  2013Q1  2475.55  103167
3541  2013Q2  2271.24  103167
3542  2013Q3  2614.25  103167
3543  2013Q4  2835.98  103167
3544  2014Q1  3088.06  103167
3545  2014Q2  3046.99  103167
3546  2014Q3  3366.99  103167
3547  2014Q4  3398.18  103167
3548  2015Q1  3549.71  103167
3549  2015Q2  3236.45  103167
3550  2015Q3  3134.27  103167
3551  2015Q4  3110.62  103167
3552  2016Q1  2961.53  103167
3553  2016Q2  3139.42  103167
3554  2016Q3  2873.02  103167
3555  2016Q4  2654.84  103167
3556  2017Q1  2691.25  103167
3557  2017Q2  2596.22  103167
3558  2017Q3  2534.34  103167
3559  2017Q4  2666.79  103167>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1460  2013Q1  0.085129  103167
1461  2013Q2 -0.050581  103167
1462  2013Q3  0.160025  103167
1463  2013Q4  0.084382  103167
1464  2014Q1  0.078088  103167
1465  2014Q2 -0.025322  103167
1466  2014Q3  0.115134  103167
1467  2014Q4  0.002351  103167
1468  2015Q1  0.075003  103167
1469  2015Q2 -0.047118  103167
1470  2015Q3 -0.039721  103167
1471  2015Q4 -0.003602  103167
1472  2016Q1 -0.042685  103167
1473  2016Q2  0.060625  103167
1474  2016Q3 -0.082601  103167
1475  2016Q4 -0.059745  103167
1476  2017Q1  0.032896  103167
1477  2017Q2  0.002751  103167
1478  2017Q3 -0.005886  103167
1479  2017Q4  0.068480  103167>)
('Key_aum: ', 103167)
     Quarter     Data      ID
3540  2013Q1  2475.55  103167
3541  2013Q2  2271.24  103167
3542  2013Q3  2614.25  103167
3543  2013Q4  2835.98  103167
3544  2014Q1  3088.06  103167
3545  2014Q2  3046.99  103167
3546  2014Q3  3366.99  103167
3547  2014Q4  3398.18  103167
3548  2015Q1  3549.71  103167
3549  2015Q2  3236.45  103167
3550  2015Q3  3134.27  103167
3551  2015Q4  3110.62  103167
3552  2016Q1  2961.53  103167
3553  2016Q2  3139.42  103167
3554  2016Q3  2873.02  103167
3555  2016Q4  2654.84  103167
3556  2017Q1  2691.25  103167
3557  2017Q2  2596.22  103167
3558  2017Q3  2534.34  103167
3559  2017Q4  2666.79  103167
('Key_nav : ', 103167)
('data 1 : ', array([ 0.08512905, -0.05058135,  0.16002492,  0.08438174,  0.07808782,
       -0.0253221 ,  0.11513438,  0.00235133,  0.07500346, -0.04711834,
       -0.03972134, -0.00360212, -0.04268471,  0.06062481, -0.08260123,
       -0.05974495,  0.03289601,  0.00275095, -0.00588576,  0.06848033]))
('data 2 :', array([ 2475.55,  2271.24,  2614.25,  2835.98,  3088.06,  3046.99,
        3366.99,  3398.18,  3549.71,  3236.45,  3134.27,  3110.62,
        2961.53,  3139.42,  2873.02,  2654.84,  2691.25,  2596.22,
        2534.34,  2666.79]))
('mean : ', array([ 0.08512905, -0.05058135,  0.16002492,  0.08438174,  0.07808782,
       -0.0253221 ,  0.11513438,  0.00235133,  0.07500346, -0.04711834,
       -0.03972134, -0.00360212, -0.04268471,  0.06062481, -0.08260123,
       -0.05974495,  0.03289601,  0.00275095, -0.00588576,  0.06848033]))
('aum table :', <bound method DataFrame.head of      Quarter     Data      ID
3540  2013Q1  2475.55  103167
3541  2013Q2  2271.24  103167
3542  2013Q3  2614.25  103167
3543  2013Q4  2835.98  103167
3544  2014Q1  3088.06  103167
3545  2014Q2  3046.99  103167
3546  2014Q3  3366.99  103167
3547  2014Q4  3398.18  103167
3548  2015Q1  3549.71  103167
3549  2015Q2  3236.45  103167
3550  2015Q3  3134.27  103167
3551  2015Q4  3110.62  103167
3552  2016Q1  2961.53  103167
3553  2016Q2  3139.42  103167
3554  2016Q3  2873.02  103167
3555  2016Q4  2654.84  103167
3556  2017Q1  2691.25  103167
3557  2017Q2  2596.22  103167
3558  2017Q3  2534.34  103167
3559  2017Q4  2666.79  103167>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1460  2013Q1  0.085129  103167
1461  2013Q2 -0.050581  103167
1462  2013Q3  0.160025  103167
1463  2013Q4  0.084382  103167
1464  2014Q1  0.078088  103167
1465  2014Q2 -0.025322  103167
1466  2014Q3  0.115134  103167
1467  2014Q4  0.002351  103167
1468  2015Q1  0.075003  103167
1469  2015Q2 -0.047118  103167
1470  2015Q3 -0.039721  103167
1471  2015Q4 -0.003602  103167
1472  2016Q1 -0.042685  103167
1473  2016Q2  0.060625  103167
1474  2016Q3 -0.082601  103167
1475  2016Q4 -0.059745  103167
1476  2017Q1  0.032896  103167
1477  2017Q2  0.002751  103167
1478  2017Q3 -0.005886  103167
1479  2017Q4  0.068480  103167>)
('Key_aum: ', 103167)
     Quarter     Data      ID
3540  2013Q1  2475.55  103167
3541  2013Q2  2271.24  103167
3542  2013Q3  2614.25  103167
3543  2013Q4  2835.98  103167
3544  2014Q1  3088.06  103167
3545  2014Q2  3046.99  103167
3546  2014Q3  3366.99  103167
3547  2014Q4  3398.18  103167
3548  2015Q1  3549.71  103167
3549  2015Q2  3236.45  103167
3550  2015Q3  3134.27  103167
3551  2015Q4  3110.62  103167
3552  2016Q1  2961.53  103167
3553  2016Q2  3139.42  103167
3554  2016Q3  2873.02  103167
3555  2016Q4  2654.84  103167
3556  2017Q1  2691.25  103167
3557  2017Q2  2596.22  103167
3558  2017Q3  2534.34  103167
3559  2017Q4  2666.79  103167
('Key_nav : ', 103167)
('data 1 : ', array([ 0.08512905, -0.05058135,  0.16002492,  0.08438174,  0.07808782,
       -0.0253221 ,  0.11513438,  0.00235133,  0.07500346, -0.04711834,
       -0.03972134, -0.00360212, -0.04268471,  0.06062481, -0.08260123,
       -0.05974495,  0.03289601,  0.00275095, -0.00588576,  0.06848033]))
('data 2 :', array([ 2475.55,  2271.24,  2614.25,  2835.98,  3088.06,  3046.99,
        3366.99,  3398.18,  3549.71,  3236.45,  3134.27,  3110.62,
        2961.53,  3139.42,  2873.02,  2654.84,  2691.25,  2596.22,
        2534.34,  2666.79]))
('mean : ', array([ 0.08512905, -0.05058135,  0.16002492,  0.08438174,  0.07808782,
       -0.0253221 ,  0.11513438,  0.00235133,  0.07500346, -0.04711834,
       -0.03972134, -0.00360212, -0.04268471,  0.06062481, -0.08260123,
       -0.05974495,  0.03289601,  0.00275095, -0.00588576,  0.06848033]))
('aum table :', <bound method DataFrame.head of      Quarter     Data      ID
3540  2013Q1  2475.55  103167
3541  2013Q2  2271.24  103167
3542  2013Q3  2614.25  103167
3543  2013Q4  2835.98  103167
3544  2014Q1  3088.06  103167
3545  2014Q2  3046.99  103167
3546  2014Q3  3366.99  103167
3547  2014Q4  3398.18  103167
3548  2015Q1  3549.71  103167
3549  2015Q2  3236.45  103167
3550  2015Q3  3134.27  103167
3551  2015Q4  3110.62  103167
3552  2016Q1  2961.53  103167
3553  2016Q2  3139.42  103167
3554  2016Q3  2873.02  103167
3555  2016Q4  2654.84  103167
3556  2017Q1  2691.25  103167
3557  2017Q2  2596.22  103167
3558  2017Q3  2534.34  103167
3559  2017Q4  2666.79  103167>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1460  2013Q1  0.085129  103167
1461  2013Q2 -0.050581  103167
1462  2013Q3  0.160025  103167
1463  2013Q4  0.084382  103167
1464  2014Q1  0.078088  103167
1465  2014Q2 -0.025322  103167
1466  2014Q3  0.115134  103167
1467  2014Q4  0.002351  103167
1468  2015Q1  0.075003  103167
1469  2015Q2 -0.047118  103167
1470  2015Q3 -0.039721  103167
1471  2015Q4 -0.003602  103167
1472  2016Q1 -0.042685  103167
1473  2016Q2  0.060625  103167
1474  2016Q3 -0.082601  103167
1475  2016Q4 -0.059745  103167
1476  2017Q1  0.032896  103167
1477  2017Q2  0.002751  103167
1478  2017Q3 -0.005886  103167
1479  2017Q4  0.068480  103167>)
('Key_aum: ', 103167)
     Quarter     Data      ID
3540  2013Q1  2475.55  103167
3541  2013Q2  2271.24  103167
3542  2013Q3  2614.25  103167
3543  2013Q4  2835.98  103167
3544  2014Q1  3088.06  103167
3545  2014Q2  3046.99  103167
3546  2014Q3  3366.99  103167
3547  2014Q4  3398.18  103167
3548  2015Q1  3549.71  103167
3549  2015Q2  3236.45  103167
3550  2015Q3  3134.27  103167
3551  2015Q4  3110.62  103167
3552  2016Q1  2961.53  103167
3553  2016Q2  3139.42  103167
3554  2016Q3  2873.02  103167
3555  2016Q4  2654.84  103167
3556  2017Q1  2691.25  103167
3557  2017Q2  2596.22  103167
3558  2017Q3  2534.34  103167
3559  2017Q4  2666.79  103167
('Key_nav : ', 103167)
('data 1 : ', array([ 0.08512905, -0.05058135,  0.16002492,  0.08438174,  0.07808782,
       -0.0253221 ,  0.11513438,  0.00235133,  0.07500346, -0.04711834,
       -0.03972134, -0.00360212, -0.04268471,  0.06062481, -0.08260123,
       -0.05974495,  0.03289601,  0.00275095, -0.00588576,  0.06848033]))
('data 2 :', array([ 2475.55,  2271.24,  2614.25,  2835.98,  3088.06,  3046.99,
        3366.99,  3398.18,  3549.71,  3236.45,  3134.27,  3110.62,
        2961.53,  3139.42,  2873.02,  2654.84,  2691.25,  2596.22,
        2534.34,  2666.79]))
('mean : ', array([ 0.08512905, -0.05058135,  0.16002492,  0.08438174,  0.07808782,
       -0.0253221 ,  0.11513438,  0.00235133,  0.07500346, -0.04711834,
       -0.03972134, -0.00360212, -0.04268471,  0.06062481, -0.08260123,
       -0.05974495,  0.03289601,  0.00275095, -0.00588576,  0.06848033]))
('IDs :', [115294])
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
26780  2013Q1  4983.80  115294
26781  2013Q2  4380.32  115294
26782  2013Q3  4831.99  115294
26783  2013Q4  5925.07  115294
26784  2014Q1  6872.79  115294
26785  2014Q2  6550.75  115294
26786  2014Q3  7615.94  115294
26787  2014Q4  8274.75  115294
26788  2015Q1  9009.13  115294
26789  2015Q2  8798.74  115294
26790  2015Q3  9671.84  115294
26791  2015Q4  9913.55  115294
26792  2016Q1  9127.08  115294
26793  2016Q2  8964.27  115294
26794  2016Q3  7203.57  115294
26795  2016Q4  6593.21  115294
26796  2017Q1  7486.98  115294
26797  2017Q2  5744.55  115294
26798  2017Q3  5615.71  115294
26799  2017Q4  6011.63  115294>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1500  2013Q1  0.041198  115294
1501  2013Q2 -0.119664  115294
1502  2013Q3  0.141603  115294
1503  2013Q4  0.218608  115294
1504  2014Q1  0.089497  115294
1505  2014Q2 -0.075488  115294
1506  2014Q3  0.147773  115294
1507  2014Q4  0.085892  115294
1508  2015Q1  0.043816  115294
1509  2015Q2 -0.117148  115294
1510  2015Q3  0.040819  115294
1511  2015Q4  0.006839  115294
1512  2016Q1 -0.057971  115294
1513  2016Q2  0.008133  115294
1514  2016Q3 -0.048396  115294
1515  2016Q4 -0.032553  115294
1516  2017Q1 -0.002153  115294
1517  2017Q2 -0.053643  115294
1518  2017Q3  0.011610  115294
1519  2017Q4  0.077395  115294>)
('Key_aum: ', 115294)
      Quarter     Data      ID
26780  2013Q1  4983.80  115294
26781  2013Q2  4380.32  115294
26782  2013Q3  4831.99  115294
26783  2013Q4  5925.07  115294
26784  2014Q1  6872.79  115294
26785  2014Q2  6550.75  115294
26786  2014Q3  7615.94  115294
26787  2014Q4  8274.75  115294
26788  2015Q1  9009.13  115294
26789  2015Q2  8798.74  115294
26790  2015Q3  9671.84  115294
26791  2015Q4  9913.55  115294
26792  2016Q1  9127.08  115294
26793  2016Q2  8964.27  115294
26794  2016Q3  7203.57  115294
26795  2016Q4  6593.21  115294
26796  2017Q1  7486.98  115294
26797  2017Q2  5744.55  115294
26798  2017Q3  5615.71  115294
26799  2017Q4  6011.63  115294
('Key_nav : ', 115294)
('data 1 : ', array([ 0.04119784, -0.11966437,  0.14160317,  0.21860763,  0.08949668,
       -0.07548766,  0.14777267,  0.08589211,  0.04381604, -0.11714847,
        0.04081911,  0.0068395 , -0.05797136,  0.00813329, -0.04839606,
       -0.03255311, -0.00215282, -0.05364258,  0.0116101 ,  0.0773954 ]))
('data 2 :', array([ 4983.8 ,  4380.32,  4831.99,  5925.07,  6872.79,  6550.75,
        7615.94,  8274.75,  9009.13,  8798.74,  9671.84,  9913.55,
        9127.08,  8964.27,  7203.57,  6593.21,  7486.98,  5744.55,
        5615.71,  6011.63]))
('mean : ', array([ 0.04119784, -0.11966437,  0.14160317,  0.21860763,  0.08949668,
       -0.07548766,  0.14777267,  0.08589211,  0.04381604, -0.11714847,
        0.04081911,  0.0068395 , -0.05797136,  0.00813329, -0.04839606,
       -0.03255311, -0.00215282, -0.05364258,  0.0116101 ,  0.0773954 ]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
26780  2013Q1  4983.80  115294
26781  2013Q2  4380.32  115294
26782  2013Q3  4831.99  115294
26783  2013Q4  5925.07  115294
26784  2014Q1  6872.79  115294
26785  2014Q2  6550.75  115294

('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
26780  2013Q1  4983.80  115294
26781  2013Q2  4380.32  115294
26782  2013Q3  4831.99  115294
26783  2013Q4  5925.07  115294
26784  2014Q1  6872.79  115294
26785  2014Q2  6550.75  115294
26786  2014Q3  7615.94  115294
26787  2014Q4  8274.75  115294
26788  2015Q1  9009.13  115294
26789  2015Q2  8798.74  115294
26790  2015Q3  9671.84  115294
26791  2015Q4  9913.55  115294
26792  2016Q1  9127.08  115294
26793  2016Q2  8964.27  115294
26794  2016Q3  7203.57  115294
26795  2016Q4  6593.21  115294
26796  2017Q1  7486.98  115294
26797  2017Q2  5744.55  115294
26798  2017Q3  5615.71  115294
26799  2017Q4  6011.63  115294>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1500  2013Q1  0.041198  115294
1501  2013Q2 -0.119664  115294
1502  2013Q3  0.141603  115294
1503  2013Q4  0.218608  115294
1504  2014Q1  0.089497  115294
1505  2014Q2 -0.075488  115294
1506  2014Q3  0.147773  115294
1507  2014Q4  0.085892  115294
1508  2015Q1  0.043816  115294
1509  2015Q2 -0.117148  115294
1510  2015Q3  0.040819  115294
1511  2015Q4  0.006839  115294
1512  2016Q1 -0.057971  115294
1513  2016Q2  0.008133  115294
1514  2016Q3 -0.048396  115294
1515  2016Q4 -0.032553  115294
1516  2017Q1 -0.002153  115294
1517  2017Q2 -0.053643  115294
1518  2017Q3  0.011610  115294
1519  2017Q4  0.077395  115294>)
('Key_aum: ', 115294)
      Quarter     Data      ID
26780  2013Q1  4983.80  115294
26781  2013Q2  4380.32  115294
26782  2013Q3  4831.99  115294
26783  2013Q4  5925.07  115294
26784  2014Q1  6872.79  115294
26785  2014Q2  6550.75  115294
26786  2014Q3  7615.94  115294
26787  2014Q4  8274.75  115294
26788  2015Q1  9009.13  115294
26789  2015Q2  8798.74  115294
26790  2015Q3  9671.84  115294
26791  2015Q4  9913.55  115294
26792  2016Q1  9127.08  115294
26793  2016Q2  8964.27  115294
26794  2016Q3  7203.57  115294
26795  2016Q4  6593.21  115294
26796  2017Q1  7486.98  115294
26797  2017Q2  5744.55  115294
26798  2017Q3  5615.71  115294
26799  2017Q4  6011.63  115294
('Key_nav : ', 115294)
('data 1 : ', array([ 0.04119784, -0.11966437,  0.14160317,  0.21860763,  0.08949668,
       -0.07548766,  0.14777267,  0.08589211,  0.04381604, -0.11714847,
        0.04081911,  0.0068395 , -0.05797136,  0.00813329, -0.04839606,
       -0.03255311, -0.00215282, -0.05364258,  0.0116101 ,  0.0773954 ]))
('data 2 :', array([ 4983.8 ,  4380.32,  4831.99,  5925.07,  6872.79,  6550.75,
        7615.94,  8274.75,  9009.13,  8798.74,  9671.84,  9913.55,
        9127.08,  8964.27,  7203.57,  6593.21,  7486.98,  5744.55,
        5615.71,  6011.63]))
('mean : ', array([ 0.04119784, -0.11966437,  0.14160317,  0.21860763,  0.08949668,
       -0.07548766,  0.14777267,  0.08589211,  0.04381604, -0.11714847,
        0.04081911,  0.0068395 , -0.05797136,  0.00813329, -0.04839606,
       -0.03255311, -0.00215282, -0.05364258,  0.0116101 ,  0.0773954 ]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
26780  2013Q1  4983.80  115294
26781  2013Q2  4380.32  115294
26782  2013Q3  4831.99  115294
26783  2013Q4  5925.07  115294
26784  2014Q1  6872.79  115294
26785  2014Q2  6550.75  115294
26786  2014Q3  7615.94  115294
26787  2014Q4  8274.75  115294
26788  2015Q1  9009.13  115294
26789  2015Q2  8798.74  115294
26790  2015Q3  9671.84  115294
26791  2015Q4  9913.55  115294
26792  2016Q1  9127.08  115294
26793  2016Q2  8964.27  115294
26794  2016Q3  7203.57  115294
26795  2016Q4  6593.21  115294
26796  2017Q1  7486.98  115294
26797  2017Q2  5744.55  115294
26798  2017Q3  5615.71  115294
26799  2017Q4  6011.63  115294>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1500  2013Q1  0.041198  115294
1501  2013Q2 -0.119664  115294
1502  2013Q3  0.141603  115294
1503  2013Q4  0.218608  115294
1504  2014Q1  0.089497  115294
1505  2014Q2 -0.075488  115294
1506  2014Q3  0.147773  115294
1507  2014Q4  0.085892  115294
1508  2015Q1  0.043816  115294
1509  2015Q2 -0.117148  115294
1510  2015Q3  0.040819  115294
1511  2015Q4  0.006839  115294
1512  2016Q1 -0.057971  115294
1513  2016Q2  0.008133  115294
1514  2016Q3 -0.048396  115294
1515  2016Q4 -0.032553  115294
1516  2017Q1 -0.002153  115294
1517  2017Q2 -0.053643  115294
1518  2017Q3  0.011610  115294
1519  2017Q4  0.077395  115294>)
('Key_aum: ', 115294)
      Quarter     Data      ID
26780  2013Q1  4983.80  115294
26781  2013Q2  4380.32  115294
26782  2013Q3  4831.99  115294
26783  2013Q4  5925.07  115294
26784  2014Q1  6872.79  115294
26785  2014Q2  6550.75  115294
26786  2014Q3  7615.94  115294
26787  2014Q4  8274.75  115294
26788  2015Q1  9009.13  115294
26789  2015Q2  8798.74  115294
26790  2015Q3  9671.84  115294
26791  2015Q4  9913.55  115294
26792  2016Q1  9127.08  115294
26793  2016Q2  8964.27  115294
26794  2016Q3  7203.57  115294
26795  2016Q4  6593.21  115294
26796  2017Q1  7486.98  115294
26797  2017Q2  5744.55  115294
26798  2017Q3  5615.71  115294
26799  2017Q4  6011.63  115294
('Key_nav : ', 115294)
('data 1 : ', array([ 0.04119784, -0.11966437,  0.14160317,  0.21860763,  0.08949668,
       -0.07548766,  0.14777267,  0.08589211,  0.04381604, -0.11714847,
        0.04081911,  0.0068395 , -0.05797136,  0.00813329, -0.04839606,
       -0.03255311, -0.00215282, -0.05364258,  0.0116101 ,  0.0773954 ]))
('data 2 :', array([ 4983.8 ,  4380.32,  4831.99,  5925.07,  6872.79,  6550.75,
        7615.94,  8274.75,  9009.13,  8798.74,  9671.84,  9913.55,
        9127.08,  8964.27,  7203.57,  6593.21,  7486.98,  5744.55,
        5615.71,  6011.63]))
('mean : ', array([ 0.04119784, -0.11966437,  0.14160317,  0.21860763,  0.08949668,
       -0.07548766,  0.14777267,  0.08589211,  0.04381604, -0.11714847,
        0.04081911,  0.0068395 , -0.05797136,  0.00813329, -0.04839606,
       -0.03255311, -0.00215282, -0.05364258,  0.0116101 ,  0.0773954 ]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
26780  2013Q1  4983.80  115294
26781  2013Q2  4380.32  115294
26782  2013Q3  4831.99  115294
26783  2013Q4  5925.07  115294
26784  2014Q1  6872.79  115294
26785  2014Q2  6550.75  115294
26786  2014Q3  7615.94  115294
26787  2014Q4  8274.75  115294
26788  2015Q1  9009.13  115294
26789  2015Q2  8798.74  115294
26790  2015Q3  9671.84  115294
26791  2015Q4  9913.55  115294
26792  2016Q1  9127.08  115294
26793  2016Q2  8964.27  115294
26794  2016Q3  7203.57  115294
26795  2016Q4  6593.21  115294
26796  2017Q1  7486.98  115294
26797  2017Q2  5744.55  115294
26798  2017Q3  5615.71  115294
26799  2017Q4  6011.63  115294>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1500  2013Q1  0.041198  115294
1501  2013Q2 -0.119664  115294
1502  2013Q3  0.141603  115294
1503  2013Q4  0.218608  115294
1504  2014Q1  0.089497  115294
1505  2014Q2 -0.075488  115294
1506  2014Q3  0.147773  115294
1507  2014Q4  0.085892  115294
1508  2015Q1  0.043816  115294
1509  2015Q2 -0.117148  115294
1510  2015Q3  0.040819  115294
1511  2015Q4  0.006839  115294
1512  2016Q1 -0.057971  115294
1513  2016Q2  0.008133  115294
1514  2016Q3 -0.048396  115294
1515  2016Q4 -0.032553  115294
1516  2017Q1 -0.002153  115294
1517  2017Q2 -0.053643  115294
1518  2017Q3  0.011610  115294
1519  2017Q4  0.077395  115294>)
('Key_aum: ', 115294)
      Quarter     Data      ID
26780  2013Q1  4983.80  115294
26781  2013Q2  4380.32  115294
26782  2013Q3  4831.99  115294
26783  2013Q4  5925.07  115294
26784  2014Q1  6872.79  115294
26785  2014Q2  6550.75  115294
26786  2014Q3  7615.94  115294
26787  2014Q4  8274.75  115294
26788  2015Q1  9009.13  115294
26789  2015Q2  8798.74  115294
26790  2015Q3  9671.84  115294
26791  2015Q4  9913.55  115294
26792  2016Q1  9127.08  115294
26793  2016Q2  8964.27  115294
26794  2016Q3  7203.57  115294
26795  2016Q4  6593.21  115294
26796  2017Q1  7486.98  115294
26797  2017Q2  5744.55  115294
26798  2017Q3  5615.71  115294
26799  2017Q4  6011.63  115294
('Key_nav : ', 115294)
('data 1 : ', array([ 0.04119784, -0.11966437,  0.14160317,  0.21860763,  0.08949668,
       -0.07548766,  0.14777267,  0.08589211,  0.04381604, -0.11714847,
        0.04081911,  0.0068395 , -0.05797136,  0.00813329, -0.04839606,
       -0.03255311, -0.00215282, -0.05364258,  0.0116101 ,  0.0773954 ]))
('data 2 :', array([ 4983.8 ,  4380.32,  4831.99,  5925.07,  6872.79,  6550.75,
        7615.94,  8274.75,  9009.13,  8798.74,  9671.84,  9913.55,
        9127.08,  8964.27,  7203.57,  6593.21,  7486.98,  5744.55,
        5615.71,  6011.63]))
('mean : ', array([ 0.04119784, -0.11966437,  0.14160317,  0.21860763,  0.08949668,
       -0.07548766,  0.14777267,  0.08589211,  0.04381604, -0.11714847,
        0.04081911,  0.0068395 , -0.05797136,  0.00813329, -0.04839606,
       -0.03255311, -0.00215282, -0.05364258,  0.0116101 ,  0.0773954 ]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
26780  2013Q1  4983.80  115294
26781  2013Q2  4380.32  115294
26782  2013Q3  4831.99  115294
26783  2013Q4  5925.07  115294
26784  2014Q1  6872.79  115294
26785  2014Q2  6550.75  115294
26786  2014Q3  7615.94  115294
26787  2014Q4  8274.75  115294
26788  2015Q1  9009.13  115294
26789  2015Q2  8798.74  115294
26790  2015Q3  9671.84  115294
26791  2015Q4  9913.55  115294
26792  2016Q1  9127.08  115294
26793  2016Q2  8964.27  115294
26794  2016Q3  7203.57  115294
26795  2016Q4  6593.21  115294
26796  2017Q1  7486.98  115294
26797  2017Q2  5744.55  115294
26798  2017Q3  5615.71  115294
26799  2017Q4  6011.63  115294>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1500  2013Q1  0.041198  115294
1501  2013Q2 -0.119664  115294
1502  2013Q3  0.141603  115294
1503  2013Q4  0.218608  115294
1504  2014Q1  0.089497  115294
1505  2014Q2 -0.075488  115294
1506  2014Q3  0.147773  115294
1507  2014Q4  0.085892  115294
1508  2015Q1  0.043816  115294
1509  2015Q2 -0.117148  115294
1510  2015Q3  0.040819  115294
1511  2015Q4  0.006839  115294
1512  2016Q1 -0.057971  115294
1513  2016Q2  0.008133  115294
1514  2016Q3 -0.048396  115294
1515  2016Q4 -0.032553  115294
1516  2017Q1 -0.002153  115294
1517  2017Q2 -0.053643  115294
1518  2017Q3  0.011610  115294
1519  2017Q4  0.077395  115294>)
('Key_aum: ', 115294)
      Quarter     Data      ID
26780  2013Q1  4983.80  115294
26781  2013Q2  4380.32  115294
26782  2013Q3  4831.99  115294
26783  2013Q4  5925.07  115294
26784  2014Q1  6872.79  115294
26785  2014Q2  6550.75  115294
26786  2014Q3  7615.94  115294
26787  2014Q4  8274.75  115294
26788  2015Q1  9009.13  115294
26789  2015Q2  8798.74  115294
26790  2015Q3  9671.84  115294
26791  2015Q4  9913.55  115294
26792  2016Q1  9127.08  115294
26793  2016Q2  8964.27  115294
26794  2016Q3  7203.57  115294
26795  2016Q4  6593.21  115294
26796  2017Q1  7486.98  115294
26797  2017Q2  5744.55  115294
26798  2017Q3  5615.71  115294
26799  2017Q4  6011.63  115294
('Key_nav : ', 115294)
('data 1 : ', array([ 0.04119784, -0.11966437,  0.14160317,  0.21860763,  0.08949668,
       -0.07548766,  0.14777267,  0.08589211,  0.04381604, -0.11714847,
        0.04081911,  0.0068395 , -0.05797136,  0.00813329, -0.04839606,
       -0.03255311, -0.00215282, -0.05364258,  0.0116101 ,  0.0773954 ]))
('data 2 :', array([ 4983.8 ,  4380.32,  4831.99,  5925.07,  6872.79,  6550.75,
        7615.94,  8274.75,  9009.13,  8798.74,  9671.84,  9913.55,
        9127.08,  8964.27,  7203.57,  6593.21,  7486.98,  5744.55,
        5615.71,  6011.63]))
('mean : ', array([ 0.04119784, -0.11966437,  0.14160317,  0.21860763,  0.08949668,
       -0.07548766,  0.14777267,  0.08589211,  0.04381604, -0.11714847,
        0.04081911,  0.0068395 , -0.05797136,  0.00813329, -0.04839606,
       -0.03255311, -0.00215282, -0.05364258,  0.0116101 ,  0.0773954 ]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
26780  2013Q1  4983.80  115294
26781  2013Q2  4380.32  115294
26782  2013Q3  4831.99  115294
26783  2013Q4  5925.07  115294
26784  2014Q1  6872.79  115294
26785  2014Q2  6550.75  115294
26786  2014Q3  7615.94  115294
26787  2014Q4  8274.75  115294
26788  2015Q1  9009.13  115294
26789  2015Q2  8798.74  115294
26790  2015Q3  9671.84  115294
26791  2015Q4  9913.55  115294
26792  2016Q1  9127.08  115294
26793  2016Q2  8964.27  115294
26794  2016Q3  7203.57  115294
26795  2016Q4  6593.21  115294
26796  2017Q1  7486.98  115294
26797  2017Q2  5744.55  115294
26798  2017Q3  5615.71  115294
26799  2017Q4  6011.63  115294>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1500  2013Q1  0.041198  115294
1501  2013Q2 -0.119664  115294
1502  2013Q3  0.141603  115294
1503  2013Q4  0.218608  115294
1504  2014Q1  0.089497  115294
1505  2014Q2 -0.075488  115294
1506  2014Q3  0.147773  115294
1507  2014Q4  0.085892  115294
1508  2015Q1  0.043816  115294
1509  2015Q2 -0.117148  115294
1510  2015Q3  0.040819  115294
1511  2015Q4  0.006839  115294
1512  2016Q1 -0.057971  115294
1513  2016Q2  0.008133  115294
1514  2016Q3 -0.048396  115294
1515  2016Q4 -0.032553  115294
1516  2017Q1 -0.002153  115294
1517  2017Q2 -0.053643  115294
1518  2017Q3  0.011610  115294
1519  2017Q4  0.077395  115294>)
('Key_aum: ', 115294)
      Quarter     Data      ID
26780  2013Q1  4983.80  115294
26781  2013Q2  4380.32  115294
26782  2013Q3  4831.99  115294
26783  2013Q4  5925.07  115294
26784  2014Q1  6872.79  115294
26785  2014Q2  6550.75  115294
26786  2014Q3  7615.94  115294
26787  2014Q4  8274.75  115294
26788  2015Q1  9009.13  115294
26789  2015Q2  8798.74  115294
26790  2015Q3  9671.84  115294
26791  2015Q4  9913.55  115294
26792  2016Q1  9127.08  115294
26793  2016Q2  8964.27  115294
26794  2016Q3  7203.57  115294
26795  2016Q4  6593.21  115294
26796  2017Q1  7486.98  115294
26797  2017Q2  5744.55  115294
26798  2017Q3  5615.71  115294
26799  2017Q4  6011.63  115294
('Key_nav : ', 115294)
('data 1 : ', array([ 0.04119784, -0.11966437,  0.14160317,  0.21860763,  0.08949668,
       -0.07548766,  0.14777267,  0.08589211,  0.04381604, -0.11714847,
        0.04081911,  0.0068395 , -0.05797136,  0.00813329, -0.04839606,
       -0.03255311, -0.00215282, -0.05364258,  0.0116101 ,  0.0773954 ]))
('data 2 :', array([ 4983.8 ,  4380.32,  4831.99,  5925.07,  6872.79,  6550.75,
        7615.94,  8274.75,  9009.13,  8798.74,  9671.84,  9913.55,
        9127.08,  8964.27,  7203.57,  6593.21,  7486.98,  5744.55,
        5615.71,  6011.63]))
('mean : ', array([ 0.04119784, -0.11966437,  0.14160317,  0.21860763,  0.08949668,
       -0.07548766,  0.14777267,  0.08589211,  0.04381604, -0.11714847,
        0.04081911,  0.0068395 , -0.05797136,  0.00813329, -0.04839606,
       -0.03255311, -0.00215282, -0.05364258,  0.0116101 ,  0.0773954 ]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
26780  2013Q1  4983.80  115294
26781  2013Q2  4380.32  115294
26782  2013Q3  4831.99  115294
26783  2013Q4  5925.07  115294
26784  2014Q1  6872.79  115294
26785  2014Q2  6550.75  115294
26786  2014Q3  7615.94  115294
26787  2014Q4  8274.75  115294
26788  2015Q1  9009.13  115294
26789  2015Q2  8798.74  115294
26790  2015Q3  9671.84  115294
26791  2015Q4  9913.55  115294
26792  2016Q1  9127.08  115294
26793  2016Q2  8964.27  115294
26794  2016Q3  7203.57  115294
26795  2016Q4  6593.21  115294
26796  2017Q1  7486.98  115294
26797  2017Q2  5744.55  115294
26798  2017Q3  5615.71  115294
26799  2017Q4  6011.63  115294>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1500  2013Q1  0.041198  115294
1501  2013Q2 -0.119664  115294
1502  2013Q3  0.141603  115294
1503  2013Q4  0.218608  115294
1504  2014Q1  0.089497  115294
1505  2014Q2 -0.075488  115294
1506  2014Q3  0.147773  115294
1507  2014Q4  0.085892  115294
1508  2015Q1  0.043816  115294
1509  2015Q2 -0.117148  115294
1510  2015Q3  0.040819  115294
1511  2015Q4  0.006839  115294
1512  2016Q1 -0.057971  115294
1513  2016Q2  0.008133  115294
1514  2016Q3 -0.048396  115294
1515  2016Q4 -0.032553  115294
1516  2017Q1 -0.002153  115294
1517  2017Q2 -0.053643  115294
1518  2017Q3  0.011610  115294
1519  2017Q4  0.077395  115294>)
('Key_aum: ', 115294)
      Quarter     Data      ID
26780  2013Q1  4983.80  115294
26781  2013Q2  4380.32  115294
26782  2013Q3  4831.99  115294
26783  2013Q4  5925.07  115294
26784  2014Q1  6872.79  115294
26785  2014Q2  6550.75  115294
26786  2014Q3  7615.94  115294
26787  2014Q4  8274.75  115294
26788  2015Q1  9009.13  115294
26789  2015Q2  8798.74  115294
26790  2015Q3  9671.84  115294
26791  2015Q4  9913.55  115294
26792  2016Q1  9127.08  115294
26793  2016Q2  8964.27  115294
26794  2016Q3  7203.57  115294
26795  2016Q4  6593.21  115294
26796  2017Q1  7486.98  115294
26797  2017Q2  5744.55  115294
26798  2017Q3  5615.71  115294
26799  2017Q4  6011.63  115294
('Key_nav : ', 115294)
('data 1 : ', array([ 0.04119784, -0.11966437,  0.14160317,  0.21860763,  0.08949668,
       -0.07548766,  0.14777267,  0.08589211,  0.04381604, -0.11714847,
        0.04081911,  0.0068395 , -0.05797136,  0.00813329, -0.04839606,
       -0.03255311, -0.00215282, -0.05364258,  0.0116101 ,  0.0773954 ]))
('data 2 :', array([ 4983.8 ,  4380.32,  4831.99,  5925.07,  6872.79,  6550.75,
        7615.94,  8274.75,  9009.13,  8798.74,  9671.84,  9913.55,
        9127.08,  8964.27,  7203.57,  6593.21,  7486.98,  5744.55,
        5615.71,  6011.63]))
('mean : ', array([ 0.04119784, -0.11966437,  0.14160317,  0.21860763,  0.08949668,
       -0.07548766,  0.14777267,  0.08589211,  0.04381604, -0.11714847,
        0.04081911,  0.0068395 , -0.05797136,  0.00813329, -0.04839606,
       -0.03255311, -0.00215282, -0.05364258,  0.0116101 ,  0.0773954 ]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
26780  2013Q1  4983.80  115294
26781  2013Q2  4380.32  115294
26782  2013Q3  4831.99  115294
26783  2013Q4  5925.07  115294
26784  2014Q1  6872.79  115294
26785  2014Q2  6550.75  115294
26786  2014Q3  7615.94  115294
26787  2014Q4  8274.75  115294
26788  2015Q1  9009.13  115294
26789  2015Q2  8798.74  115294
26790  2015Q3  9671.84  115294
26791  2015Q4  9913.55  115294
26792  2016Q1  9127.08  115294
26793  2016Q2  8964.27  115294
26794  2016Q3  7203.57  115294
26795  2016Q4  6593.21  115294
26796  2017Q1  7486.98  115294
26797  2017Q2  5744.55  115294
26798  2017Q3  5615.71  115294
26799  2017Q4  6011.63  115294>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1500  2013Q1  0.041198  115294
1501  2013Q2 -0.119664  115294
1502  2013Q3  0.141603  115294
1503  2013Q4  0.218608  115294
1504  2014Q1  0.089497  115294
1505  2014Q2 -0.075488  115294
1506  2014Q3  0.147773  115294
1507  2014Q4  0.085892  115294
1508  2015Q1  0.043816  115294
1509  2015Q2 -0.117148  115294
1510  2015Q3  0.040819  115294
1511  2015Q4  0.006839  115294
1512  2016Q1 -0.057971  115294
1513  2016Q2  0.008133  115294
1514  2016Q3 -0.048396  115294
1515  2016Q4 -0.032553  115294
1516  2017Q1 -0.002153  115294
1517  2017Q2 -0.053643  115294
1518  2017Q3  0.011610  115294
1519  2017Q4  0.077395  115294>)
('Key_aum: ', 115294)
      Quarter     Data      ID
26780  2013Q1  4983.80  115294
26781  2013Q2  4380.32  115294
26782  2013Q3  4831.99  115294
26783  2013Q4  5925.07  115294
26784  2014Q1  6872.79  115294
26785  2014Q2  6550.75  115294
26786  2014Q3  7615.94  115294
26787  2014Q4  8274.75  115294
26788  2015Q1  9009.13  115294
26789  2015Q2  8798.74  115294
26790  2015Q3  9671.84  115294
26791  2015Q4  9913.55  115294
26792  2016Q1  9127.08  115294
26793  2016Q2  8964.27  115294
26794  2016Q3  7203.57  115294
26795  2016Q4  6593.21  115294
26796  2017Q1  7486.98  115294
26797  2017Q2  5744.55  115294
26798  2017Q3  5615.71  115294
26799  2017Q4  6011.63  115294
('Key_nav : ', 115294)
('data 1 : ', array([ 0.04119784, -0.11966437,  0.14160317,  0.21860763,  0.08949668,
       -0.07548766,  0.14777267,  0.08589211,  0.04381604, -0.11714847,

('Key_aum: ', 115294)
      Quarter     Data      ID
26780  2013Q1  4983.80  115294
26781  2013Q2  4380.32  115294
26782  2013Q3  4831.99  115294
26783  2013Q4  5925.07  115294
26784  2014Q1  6872.79  115294
26785  2014Q2  6550.75  115294
26786  2014Q3  7615.94  115294
26787  2014Q4  8274.75  115294
26788  2015Q1  9009.13  115294
26789  2015Q2  8798.74  115294
26790  2015Q3  9671.84  115294
26791  2015Q4  9913.55  115294
26792  2016Q1  9127.08  115294
26793  2016Q2  8964.27  115294
26794  2016Q3  7203.57  115294
26795  2016Q4  6593.21  115294
26796  2017Q1  7486.98  115294
26797  2017Q2  5744.55  115294
26798  2017Q3  5615.71  115294
26799  2017Q4  6011.63  115294
('Key_nav : ', 115294)
('data 1 : ', array([ 0.04119784, -0.11966437,  0.14160317,  0.21860763,  0.08949668,
       -0.07548766,  0.14777267,  0.08589211,  0.04381604, -0.11714847,
        0.04081911,  0.0068395 , -0.05797136,  0.00813329, -0.04839606,
       -0.03255311, -0.00215282, -0.05364258,  0.0116101 ,  0.0773954 ]))
('data 2 :', array([ 4983.8 ,  4380.32,  4831.99,  5925.07,  6872.79,  6550.75,
        7615.94,  8274.75,  9009.13,  8798.74,  9671.84,  9913.55,
        9127.08,  8964.27,  7203.57,  6593.21,  7486.98,  5744.55,
        5615.71,  6011.63]))
('mean : ', array([ 0.04119784, -0.11966437,  0.14160317,  0.21860763,  0.08949668,
       -0.07548766,  0.14777267,  0.08589211,  0.04381604, -0.11714847,
        0.04081911,  0.0068395 , -0.05797136,  0.00813329, -0.04839606,
       -0.03255311, -0.00215282, -0.05364258,  0.0116101 ,  0.0773954 ]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
26780  2013Q1  4983.80  115294
26781  2013Q2  4380.32  115294
26782  2013Q3  4831.99  115294
26783  2013Q4  5925.07  115294
26784  2014Q1  6872.79  115294
26785  2014Q2  6550.75  115294
26786  2014Q3  7615.94  115294
26787  2014Q4  8274.75  115294
26788  2015Q1  9009.13  115294
26789  2015Q2  8798.74  115294
26790  2015Q3  9671.84  115294
26791  2015Q4  9913.55  115294
26792  2016Q1  9127.08  115294
26793  2016Q2  8964.27  115294
26794  2016Q3  7203.57  115294
26795  2016Q4  6593.21  115294
26796  2017Q1  7486.98  115294
26797  2017Q2  5744.55  115294
26798  2017Q3  5615.71  115294
26799  2017Q4  6011.63  115294>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1500  2013Q1  0.041198  115294
1501  2013Q2 -0.119664  115294
1502  2013Q3  0.141603  115294
1503  2013Q4  0.218608  115294
1504  2014Q1  0.089497  115294
1505  2014Q2 -0.075488  115294
1506  2014Q3  0.147773  115294
1507  2014Q4  0.085892  115294
1508  2015Q1  0.043816  115294
1509  2015Q2 -0.117148  115294
1510  2015Q3  0.040819  115294
1511  2015Q4  0.006839  115294
1512  2016Q1 -0.057971  115294
1513  2016Q2  0.008133  115294
1514  2016Q3 -0.048396  115294
1515  2016Q4 -0.032553  115294
1516  2017Q1 -0.002153  115294
1517  2017Q2 -0.053643  115294
1518  2017Q3  0.011610  115294
1519  2017Q4  0.077395  115294>)
('Key_aum: ', 115294)
      Quarter     Data      ID
26780  2013Q1  4983.80  115294
26781  2013Q2  4380.32  115294
26782  2013Q3  4831.99  115294
26783  2013Q4  5925.07  115294
26784  2014Q1  6872.79  115294
26785  2014Q2  6550.75  115294
26786  2014Q3  7615.94  115294
26787  2014Q4  8274.75  115294
26788  2015Q1  9009.13  115294
26789  2015Q2  8798.74  115294
26790  2015Q3  9671.84  115294
26791  2015Q4  9913.55  115294
26792  2016Q1  9127.08  115294
26793  2016Q2  8964.27  115294
26794  2016Q3  7203.57  115294
26795  2016Q4  6593.21  115294
26796  2017Q1  7486.98  115294
26797  2017Q2  5744.55  115294
26798  2017Q3  5615.71  115294
26799  2017Q4  6011.63  115294
('Key_nav : ', 115294)
('data 1 : ', array([ 0.04119784, -0.11966437,  0.14160317,  0.21860763,  0.08949668,
       -0.07548766,  0.14777267,  0.08589211,  0.04381604, -0.11714847,
        0.04081911,  0.0068395 , -0.05797136,  0.00813329, -0.04839606,
       -0.03255311, -0.00215282, -0.05364258,  0.0116101 ,  0.0773954 ]))
('data 2 :', array([ 4983.8 ,  4380.32,  4831.99,  5925.07,  6872.79,  6550.75,
        7615.94,  8274.75,  9009.13,  8798.74,  9671.84,  9913.55,
        9127.08,  8964.27,  7203.57,  6593.21,  7486.98,  5744.55,
        5615.71,  6011.63]))
('mean : ', array([ 0.04119784, -0.11966437,  0.14160317,  0.21860763,  0.08949668,
       -0.07548766,  0.14777267,  0.08589211,  0.04381604, -0.11714847,
        0.04081911,  0.0068395 , -0.05797136,  0.00813329, -0.04839606,
       -0.03255311, -0.00215282, -0.05364258,  0.0116101 ,  0.0773954 ]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
26780  2013Q1  4983.80  115294
26781  2013Q2  4380.32  115294
26782  2013Q3  4831.99  115294
26783  2013Q4  5925.07  115294
26784  2014Q1  6872.79  115294
26785  2014Q2  6550.75  115294
26786  2014Q3  7615.94  115294
26787  2014Q4  8274.75  115294
26788  2015Q1  9009.13  115294
26789  2015Q2  8798.74  115294
26790  2015Q3  9671.84  115294
26791  2015Q4  9913.55  115294
26792  2016Q1  9127.08  115294
26793  2016Q2  8964.27  115294
26794  2016Q3  7203.57  115294
26795  2016Q4  6593.21  115294
26796  2017Q1  7486.98  115294
26797  2017Q2  5744.55  115294
26798  2017Q3  5615.71  115294
26799  2017Q4  6011.63  115294>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1500  2013Q1  0.041198  115294
1501  2013Q2 -0.119664  115294
1502  2013Q3  0.141603  115294
1503  2013Q4  0.218608  115294
1504  2014Q1  0.089497  115294
1505  2014Q2 -0.075488  115294
1506  2014Q3  0.147773  115294
1507  2014Q4  0.085892  115294
1508  2015Q1  0.043816  115294
1509  2015Q2 -0.117148  115294
1510  2015Q3  0.040819  115294
1511  2015Q4  0.006839  115294
1512  2016Q1 -0.057971  115294
1513  2016Q2  0.008133  115294
1514  2016Q3 -0.048396  115294
1515  2016Q4 -0.032553  115294
1516  2017Q1 -0.002153  115294
1517  2017Q2 -0.053643  115294
1518  2017Q3  0.011610  115294
1519  2017Q4  0.077395  115294>)
('Key_aum: ', 115294)
      Quarter     Data      ID
26780  2013Q1  4983.80  115294
26781  2013Q2  4380.32  115294
26782  2013Q3  4831.99  115294
26783  2013Q4  5925.07  115294
26784  2014Q1  6872.79  115294
26785  2014Q2  6550.75  115294
26786  2014Q3  7615.94  115294
26787  2014Q4  8274.75  115294
26788  2015Q1  9009.13  115294
26789  2015Q2  8798.74  115294
26790  2015Q3  9671.84  115294
26791  2015Q4  9913.55  115294
26792  2016Q1  9127.08  115294
26793  2016Q2  8964.27  115294
26794  2016Q3  7203.57  115294
26795  2016Q4  6593.21  115294
26796  2017Q1  7486.98  115294
26797  2017Q2  5744.55  115294
26798  2017Q3  5615.71  115294
26799  2017Q4  6011.63  115294
('Key_nav : ', 115294)
('data 1 : ', array([ 0.04119784, -0.11966437,  0.14160317,  0.21860763,  0.08949668,
       -0.07548766,  0.14777267,  0.08589211,  0.04381604, -0.11714847,
        0.04081911,  0.0068395 , -0.05797136,  0.00813329, -0.04839606,
       -0.03255311, -0.00215282, -0.05364258,  0.0116101 ,  0.0773954 ]))
('data 2 :', array([ 4983.8 ,  4380.32,  4831.99,  5925.07,  6872.79,  6550.75,
        7615.94,  8274.75,  9009.13,  8798.74,  9671.84,  9913.55,
        9127.08,  8964.27,  7203.57,  6593.21,  7486.98,  5744.55,
        5615.71,  6011.63]))
('mean : ', array([ 0.04119784, -0.11966437,  0.14160317,  0.21860763,  0.08949668,
       -0.07548766,  0.14777267,  0.08589211,  0.04381604, -0.11714847,
        0.04081911,  0.0068395 , -0.05797136,  0.00813329, -0.04839606,
       -0.03255311, -0.00215282, -0.05364258,  0.0116101 ,  0.0773954 ]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
26780  2013Q1  4983.80  115294
26781  2013Q2  4380.32  115294
26782  2013Q3  4831.99  115294
26783  2013Q4  5925.07  115294
26784  2014Q1  6872.79  115294
26785  2014Q2  6550.75  115294
26786  2014Q3  7615.94  115294
26787  2014Q4  8274.75  115294
26788  2015Q1  9009.13  115294
26789  2015Q2  8798.74  115294
26790  2015Q3  9671.84  115294
26791  2015Q4  9913.55  115294
26792  2016Q1  9127.08  115294
26793  2016Q2  8964.27  115294
26794  2016Q3  7203.57  115294
26795  2016Q4  6593.21  115294
26796  2017Q1  7486.98  115294
26797  2017Q2  5744.55  115294
26798  2017Q3  5615.71  115294
26799  2017Q4  6011.63  115294>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1500  2013Q1  0.041198  115294
1501  2013Q2 -0.119664  115294
1502  2013Q3  0.141603  115294
1503  2013Q4  0.218608  115294
1504  2014Q1  0.089497  115294
1505  2014Q2 -0.075488  115294
1506  2014Q3  0.147773  115294
1507  2014Q4  0.085892  115294
1508  2015Q1  0.043816  115294
1509  2015Q2 -0.117148  115294
1510  2015Q3  0.040819  115294
1511  2015Q4  0.006839  115294
1512  2016Q1 -0.057971  115294
1513  2016Q2  0.008133  115294
1514  2016Q3 -0.048396  115294
1515  2016Q4 -0.032553  115294
1516  2017Q1 -0.002153  115294
1517  2017Q2 -0.053643  115294
1518  2017Q3  0.011610  115294
1519  2017Q4  0.077395  115294>)
('Key_aum: ', 115294)
      Quarter     Data      ID
26780  2013Q1  4983.80  115294
26781  2013Q2  4380.32  115294
26782  2013Q3  4831.99  115294
26783  2013Q4  5925.07  115294
26784  2014Q1  6872.79  115294
26785  2014Q2  6550.75  115294
26786  2014Q3  7615.94  115294
26787  2014Q4  8274.75  115294
26788  2015Q1  9009.13  115294
26789  2015Q2  8798.74  115294
26790  2015Q3  9671.84  115294
26791  2015Q4  9913.55  115294
26792  2016Q1  9127.08  115294
26793  2016Q2  8964.27  115294
26794  2016Q3  7203.57  115294
26795  2016Q4  6593.21  115294
26796  2017Q1  7486.98  115294
26797  2017Q2  5744.55  115294
26798  2017Q3  5615.71  115294
26799  2017Q4  6011.63  115294
('Key_nav : ', 115294)
('data 1 : ', array([ 0.04119784, -0.11966437,  0.14160317,  0.21860763,  0.08949668,
       -0.07548766,  0.14777267,  0.08589211,  0.04381604, -0.11714847,
        0.04081911,  0.0068395 , -0.05797136,  0.00813329, -0.04839606,
       -0.03255311, -0.00215282, -0.05364258,  0.0116101 ,  0.0773954 ]))
('data 2 :', array([ 4983.8 ,  4380.32,  4831.99,  5925.07,  6872.79,  6550.75,
        7615.94,  8274.75,  9009.13,  8798.74,  9671.84,  9913.55,
        9127.08,  8964.27,  7203.57,  6593.21,  7486.98,  5744.55,
        5615.71,  6011.63]))
('mean : ', array([ 0.04119784, -0.11966437,  0.14160317,  0.21860763,  0.08949668,
       -0.07548766,  0.14777267,  0.08589211,  0.04381604, -0.11714847,
        0.04081911,  0.0068395 , -0.05797136,  0.00813329, -0.04839606,
       -0.03255311, -0.00215282, -0.05364258,  0.0116101 ,  0.0773954 ]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
26780  2013Q1  4983.80  115294
26781  2013Q2  4380.32  115294
26782  2013Q3  4831.99  115294
26783  2013Q4  5925.07  115294
26784  2014Q1  6872.79  115294
26785  2014Q2  6550.75  115294
26786  2014Q3  7615.94  115294
26787  2014Q4  8274.75  115294
26788  2015Q1  9009.13  115294
26789  2015Q2  8798.74  115294
26790  2015Q3  9671.84  115294
26791  2015Q4  9913.55  115294
26792  2016Q1  9127.08  115294
26793  2016Q2  8964.27  115294
26794  2016Q3  7203.57  115294
26795  2016Q4  6593.21  115294
26796  2017Q1  7486.98  115294
26797  2017Q2  5744.55  115294
26798  2017Q3  5615.71  115294
26799  2017Q4  6011.63  115294>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1500  2013Q1  0.041198  115294
1501  2013Q2 -0.119664  115294
1502  2013Q3  0.141603  115294
1503  2013Q4  0.218608  115294
1504  2014Q1  0.089497  115294
1505  2014Q2 -0.075488  115294
1506  2014Q3  0.147773  115294
1507  2014Q4  0.085892  115294
1508  2015Q1  0.043816  115294
1509  2015Q2 -0.117148  115294
1510  2015Q3  0.040819  115294
1511  2015Q4  0.006839  115294
1512  2016Q1 -0.057971  115294
1513  2016Q2  0.008133  115294
1514  2016Q3 -0.048396  115294
1515  2016Q4 -0.032553  115294
1516  2017Q1 -0.002153  115294
1517  2017Q2 -0.053643  115294
1518  2017Q3  0.011610  115294
1519  2017Q4  0.077395  115294>)
('Key_aum: ', 115294)
      Quarter     Data      ID
26780  2013Q1  4983.80  115294
26781  2013Q2  4380.32  115294
26782  2013Q3  4831.99  115294
26783  2013Q4  5925.07  115294
26784  2014Q1  6872.79  115294
26785  2014Q2  6550.75  115294
26786  2014Q3  7615.94  115294
26787  2014Q4  8274.75  115294
26788  2015Q1  9009.13  115294
26789  2015Q2  8798.74  115294
26790  2015Q3  9671.84  115294
26791  2015Q4  9913.55  115294
26792  2016Q1  9127.08  115294
26793  2016Q2  8964.27  115294
26794  2016Q3  7203.57  115294
26795  2016Q4  6593.21  115294
26796  2017Q1  7486.98  115294
26797  2017Q2  5744.55  115294
26798  2017Q3  5615.71  115294
26799  2017Q4  6011.63  115294
('Key_nav : ', 115294)
('data 1 : ', array([ 0.04119784, -0.11966437,  0.14160317,  0.21860763,  0.08949668,
       -0.07548766,  0.14777267,  0.08589211,  0.04381604, -0.11714847,
        0.04081911,  0.0068395 , -0.05797136,  0.00813329, -0.04839606,
       -0.03255311, -0.00215282, -0.05364258,  0.0116101 ,  0.0773954 ]))
('data 2 :', array([ 4983.8 ,  4380.32,  4831.99,  5925.07,  6872.79,  6550.75,
        7615.94,  8274.75,  9009.13,  8798.74,  9671.84,  9913.55,
        9127.08,  8964.27,  7203.57,  6593.21,  7486.98,  5744.55,
        5615.71,  6011.63]))
('mean : ', array([ 0.04119784, -0.11966437,  0.14160317,  0.21860763,  0.08949668,
       -0.07548766,  0.14777267,  0.08589211,  0.04381604, -0.11714847,
        0.04081911,  0.0068395 , -0.05797136,  0.00813329, -0.04839606,
       -0.03255311, -0.00215282, -0.05364258,  0.0116101 ,  0.0773954 ]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
26780  2013Q1  4983.80  115294
26781  2013Q2  4380.32  115294
26782  2013Q3  4831.99  115294
26783  2013Q4  5925.07  115294
26784  2014Q1  6872.79  115294
26785  2014Q2  6550.75  115294
26786  2014Q3  7615.94  115294
26787  2014Q4  8274.75  115294
26788  2015Q1  9009.13  115294
26789  2015Q2  8798.74  115294
26790  2015Q3  9671.84  115294
26791  2015Q4  9913.55  115294
26792  2016Q1  9127.08  115294
26793  2016Q2  8964.27  115294
26794  2016Q3  7203.57  115294
26795  2016Q4  6593.21  115294
26796  2017Q1  7486.98  115294
26797  2017Q2  5744.55  115294
26798  2017Q3  5615.71  115294
26799  2017Q4  6011.63  115294>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1500  2013Q1  0.041198  115294
1501  2013Q2 -0.119664  115294
1502  2013Q3  0.141603  115294
1503  2013Q4  0.218608  115294
1504  2014Q1  0.089497  115294
1505  2014Q2 -0.075488  115294
1506  2014Q3  0.147773  115294
1507  2014Q4  0.085892  115294
1508  2015Q1  0.043816  115294
1509  2015Q2 -0.117148  115294
1510  2015Q3  0.040819  115294
1511  2015Q4  0.006839  115294
1512  2016Q1 -0.057971  115294
1513  2016Q2  0.008133  115294
1514  2016Q3 -0.048396  115294
1515  2016Q4 -0.032553  115294
1516  2017Q1 -0.002153  115294
1517  2017Q2 -0.053643  115294
1518  2017Q3  0.011610  115294
1519  2017Q4  0.077395  115294>)
('Key_aum: ', 115294)
      Quarter     Data      ID
26780  2013Q1  4983.80  115294
26781  2013Q2  4380.32  115294
26782  2013Q3  4831.99  115294
26783  2013Q4  5925.07  115294
26784  2014Q1  6872.79  115294
26785  2014Q2  6550.75  115294
26786  2014Q3  7615.94  115294
26787  2014Q4  8274.75  115294
26788  2015Q1  9009.13  115294
26789  2015Q2  8798.74  115294
26790  2015Q3  9671.84  115294
26791  2015Q4  9913.55  115294
26792  2016Q1  9127.08  115294
26793  2016Q2  8964.27  115294
26794  2016Q3  7203.57  115294
26795  2016Q4  6593.21  115294
26796  2017Q1  7486.98  115294
26797  2017Q2  5744.55  115294
26798  2017Q3  5615.71  115294
26799  2017Q4  6011.63  115294
('Key_nav : ', 115294)
('data 1 : ', array([ 0.04119784, -0.11966437,  0.14160317,  0.21860763,  0.08949668,
       -0.07548766,  0.14777267,  0.08589211,  0.04381604, -0.11714847,
        0.04081911,  0.0068395 , -0.05797136,  0.00813329, -0.04839606,
       -0.03255311, -0.00215282, -0.05364258,  0.0116101 ,  0.0773954 ]))
('data 2 :', array([ 4983.8 ,  4380.32,  4831.99,  5925.07,  6872.79,  6550.75,
        7615.94,  8274.75,  9009.13,  8798.74,  9671.84,  9913.55,
        9127.08,  8964.27,  7203.57,  6593.21,  7486.98,  5744.55,
        5615.71,  6011.63]))
('mean : ', array([ 0.04119784, -0.11966437,  0.14160317,  0.21860763,  0.08949668,
       -0.07548766,  0.14777267,  0.08589211,  0.04381604, -0.11714847,
        0.04081911,  0.0068395 , -0.05797136,  0.00813329, -0.04839606,
       -0.03255311, -0.00215282, -0.05364258,  0.0116101 ,  0.0773954 ]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
26780  2013Q1  4983.80  115294
26781  2013Q2  4380.32  115294
26782  2013Q3  4831.99  115294
26783  2013Q4  5925.07  115294
26784  2014Q1  6872.79  115294
26785  2014Q2  6550.75  115294
26786  2014Q3  7615.94  115294
26787  2014Q4  8274.75  115294
26788  2015Q1  9009.13  115294
26789  2015Q2  8798.74  115294
26790  2015Q3  9671.84  115294
26791  2015Q4  9913.55  115294
26792  2016Q1  9127.08  115294
26793  2016Q2  8964.27  115294
26794  2016Q3  7203.57  115294
26795  2016Q4  6593.21  115294
26796  2017Q1  7486.98  115294
26797  2017Q2  5744.55  115294
26798  2017Q3  5615.71  115294
26799  2017Q4  6011.63  115294>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1500  2013Q1  0.041198  115294
1501  2013Q2 -0.119664  115294
1502  2013Q3  0.141603  115294
1503  2013Q4  0.218608  115294
1504  2014Q1  0.089497  115294
1505  2014Q2 -0.075488  115294
1506  2014Q3  0.147773  115294
1507  2014Q4  0.085892  115294
1508  2015Q1  0.043816  115294
1509  2015Q2 -0.117148  115294
1510  2015Q3  0.040819  115294
1511  2015Q4  0.006839  115294
1512  2016Q1 -0.057971  115294
1513  2016Q2  0.008133  115294
1514  2016Q3 -0.048396  115294
1515  2016Q4 -0.032553  115294
1516  2017Q1 -0.002153  115294
1517  2017Q2 -0.053643  115294
1518  2017Q3  0.011610  115294
1519  2017Q4  0.077395  115294>)
('Key_aum: ', 115294)
      Quarter     Data      ID
26780  2013Q1  4983.80  115294
26781  2013Q2  4380.32  115294
26782  2013Q3  4831.99  115294
26783  2013Q4  5925.07  115294
26784  2014Q1  6872.79  115294
26785  2014Q2  6550.75  115294
26786  2014Q3  7615.94  115294
26787  2014Q4  8274.75  115294
26788  2015Q1  9009.13  115294
26789  2015Q2  8798.74  115294
26790  2015Q3  9671.84  115294
26791  2015Q4  9913.55  115294
26792  2016Q1  9127.08  115294
26793  2016Q2  8964.27  115294
26794  2016Q3  7203.57  115294
26795  2016Q4  6593.21  115294
26796  2017Q1  7486.98  115294
26797  2017Q2  5744.55  115294
26798  2017Q3  5615.71  115294
26799  2017Q4  6011.63  115294
('Key_nav : ', 115294)
('data 1 : ', array([ 0.04119784, -0.11966437,  0.14160317,  0.21860763,  0.08949668,
       -0.07548766,  0.14777267,  0.08589211,  0.04381604, -0.11714847,
        0.04081911,  0.0068395 , -0.05797136,  0.00813329, -0.04839606,
       -0.03255311, -0.00215282, -0.05364258,  0.0116101 ,  0.0773954 ]))
('data 2 :', array([ 4983.8 ,  4380.32,  4831.99,  5925.07,  6872.79,  6550.75,
        7615.94,  8274.75,  9009.13,  8798.74,  9671.84,  9913.55,
        9127.08,  8964.27,  7203.57,  6593.21,  7486.98,  5744.55,
        5615.71,  6011.63]))
('mean : ', array([ 0.04119784, -0.11966437,  0.14160317,  0.21860763,  0.08949668,
       -0.07548766,  0.14777267,  0.08589211,  0.04381604, -0.11714847,
        0.04081911,  0.0068395 , -0.05797136,  0.00813329, -0.04839606,
       -0.03255311, -0.00215282, -0.05364258,  0.0116101 ,  0.0773954 ]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
26780  2013Q1  4983.80  115294
26781  2013Q2  4380.32  115294
26782  2013Q3  4831.99  115294
26783  2013Q4  5925.07  115294
26784  2014Q1  6872.79  115294
26785  2014Q2  6550.75  115294
26786  2014Q3  7615.94  115294
26787  2014Q4  8274.75  115294
26788  2015Q1  9009.13  115294
26789  2015Q2  8798.74  115294
26790  2015Q3  9671.84  115294
26791  2015Q4  9913.55  115294
26792  2016Q1  9127.08  115294
26793  2016Q2  8964.27  115294
26794  2016Q3  7203.57  115294
26795  2016Q4  6593.21  115294
26796  2017Q1  7486.98  115294
26797  2017Q2  5744.55  115294
26798  2017Q3  5615.71  115294
26799  2017Q4  6011.63  115294>)

('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
26780  2013Q1  4983.80  115294
26781  2013Q2  4380.32  115294
26782  2013Q3  4831.99  115294
26783  2013Q4  5925.07  115294
26784  2014Q1  6872.79  115294
26785  2014Q2  6550.75  115294
26786  2014Q3  7615.94  115294
26787  2014Q4  8274.75  115294
26788  2015Q1  9009.13  115294
26789  2015Q2  8798.74  115294
26790  2015Q3  9671.84  115294
26791  2015Q4  9913.55  115294
26792  2016Q1  9127.08  115294
26793  2016Q2  8964.27  115294
26794  2016Q3  7203.57  115294
26795  2016Q4  6593.21  115294
26796  2017Q1  7486.98  115294
26797  2017Q2  5744.55  115294
26798  2017Q3  5615.71  115294
26799  2017Q4  6011.63  115294>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1500  2013Q1  0.041198  115294
1501  2013Q2 -0.119664  115294
1502  2013Q3  0.141603  115294
1503  2013Q4  0.218608  115294
1504  2014Q1  0.089497  115294
1505  2014Q2 -0.075488  115294
1506  2014Q3  0.147773  115294
1507  2014Q4  0.085892  115294
1508  2015Q1  0.043816  115294
1509  2015Q2 -0.117148  115294
1510  2015Q3  0.040819  115294
1511  2015Q4  0.006839  115294
1512  2016Q1 -0.057971  115294
1513  2016Q2  0.008133  115294
1514  2016Q3 -0.048396  115294
1515  2016Q4 -0.032553  115294
1516  2017Q1 -0.002153  115294
1517  2017Q2 -0.053643  115294
1518  2017Q3  0.011610  115294
1519  2017Q4  0.077395  115294>)
('Key_aum: ', 115294)
      Quarter     Data      ID
26780  2013Q1  4983.80  115294
26781  2013Q2  4380.32  115294
26782  2013Q3  4831.99  115294
26783  2013Q4  5925.07  115294
26784  2014Q1  6872.79  115294
26785  2014Q2  6550.75  115294
26786  2014Q3  7615.94  115294
26787  2014Q4  8274.75  115294
26788  2015Q1  9009.13  115294
26789  2015Q2  8798.74  115294
26790  2015Q3  9671.84  115294
26791  2015Q4  9913.55  115294
26792  2016Q1  9127.08  115294
26793  2016Q2  8964.27  115294
26794  2016Q3  7203.57  115294
26795  2016Q4  6593.21  115294
26796  2017Q1  7486.98  115294
26797  2017Q2  5744.55  115294
26798  2017Q3  5615.71  115294
26799  2017Q4  6011.63  115294
('Key_nav : ', 115294)
('data 1 : ', array([ 0.04119784, -0.11966437,  0.14160317,  0.21860763,  0.08949668,
       -0.07548766,  0.14777267,  0.08589211,  0.04381604, -0.11714847,
        0.04081911,  0.0068395 , -0.05797136,  0.00813329, -0.04839606,
       -0.03255311, -0.00215282, -0.05364258,  0.0116101 ,  0.0773954 ]))
('data 2 :', array([ 4983.8 ,  4380.32,  4831.99,  5925.07,  6872.79,  6550.75,
        7615.94,  8274.75,  9009.13,  8798.74,  9671.84,  9913.55,
        9127.08,  8964.27,  7203.57,  6593.21,  7486.98,  5744.55,
        5615.71,  6011.63]))
('mean : ', array([ 0.04119784, -0.11966437,  0.14160317,  0.21860763,  0.08949668,
       -0.07548766,  0.14777267,  0.08589211,  0.04381604, -0.11714847,
        0.04081911,  0.0068395 , -0.05797136,  0.00813329, -0.04839606,
       -0.03255311, -0.00215282, -0.05364258,  0.0116101 ,  0.0773954 ]))
('IDs :', [133860])
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
168440  2013Q1     0.00  133860
168441  2013Q2     0.00  133860
168442  2013Q3     0.00  133860
168443  2013Q4     0.00  133860
168444  2014Q1     0.00  133860
168445  2014Q2     0.00  133860
168446  2014Q3     0.00  133860
168447  2014Q4     0.00  133860
168448  2015Q1  1494.97  133860
168449  2015Q2  4047.22  133860
168450  2015Q3  4190.80  133860
168451  2015Q4  4122.15  133860
168452  2016Q1  3787.34  133860
168453  2016Q2  4201.12  133860
168454  2016Q3  4769.79  133860
168455  2016Q4  4606.34  133860
168456  2017Q1  4798.63  133860
168457  2017Q2  5277.28  133860
168458  2017Q3  5655.10  133860
168459  2017Q4  5644.29  133860>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
800  2013Q1  0.000000  133860
801  2013Q2  0.000000  133860
802  2013Q3  0.000000  133860
803  2013Q4  0.000000  133860
804  2014Q1  0.000000  133860
805  2014Q2  0.000000  133860
806  2014Q3  0.000000  133860
807  2014Q4  0.000000  133860
808  2015Q1 -0.041974  133860
809  2015Q2 -0.062498  133860
810  2015Q3 -0.005841  133860
811  2015Q4 -0.023332  133860
812  2016Q1 -0.070704  133860
813  2016Q2  0.133926  133860
814  2016Q3  0.161666  133860
815  2016Q4 -0.012390  133860
816  2017Q1  0.035262  133860
817  2017Q2  0.126787  133860
818  2017Q3  0.084587  133860
819  2017Q4  0.019359  133860>)
('Key_aum: ', 133860)
       Quarter     Data      ID
168440  2013Q1     0.00  133860
168441  2013Q2     0.00  133860
168442  2013Q3     0.00  133860
168443  2013Q4     0.00  133860
168444  2014Q1     0.00  133860
168445  2014Q2     0.00  133860
168446  2014Q3     0.00  133860
168447  2014Q4     0.00  133860
168448  2015Q1  1494.97  133860
168449  2015Q2  4047.22  133860
168450  2015Q3  4190.80  133860
168451  2015Q4  4122.15  133860
168452  2016Q1  3787.34  133860
168453  2016Q2  4201.12  133860
168454  2016Q3  4769.79  133860
168455  2016Q4  4606.34  133860
168456  2017Q1  4798.63  133860
168457  2017Q2  5277.28  133860
168458  2017Q3  5655.10  133860
168459  2017Q4  5644.29  133860
('Key_nav : ', 133860)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        , -0.0419741 , -0.06249837,
       -0.00584103, -0.02333222, -0.07070398,  0.13392642,  0.161666  ,
       -0.01239009,  0.03526221,  0.12678723,  0.08458707,  0.01935925]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,  1494.97,  4047.22,  4190.8 ,  4122.15,
        3787.34,  4201.12,  4769.79,  4606.34,  4798.63,  5277.28,
        5655.1 ,  5644.29]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan, -0.0419741 , -0.06249837,
       -0.00584103, -0.02333222, -0.07070398,  0.13392642,  0.161666  ,
       -0.01239009,  0.03526221,  0.12678723,  0.08458707,  0.01935925]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
168440  2013Q1     0.00  133860
168441  2013Q2     0.00  133860
168442  2013Q3     0.00  133860
168443  2013Q4     0.00  133860
168444  2014Q1     0.00  133860
168445  2014Q2     0.00  133860
168446  2014Q3     0.00  133860
168447  2014Q4     0.00  133860
168448  2015Q1  1494.97  133860
168449  2015Q2  4047.22  133860
168450  2015Q3  4190.80  133860
168451  2015Q4  4122.15  133860
168452  2016Q1  3787.34  133860
168453  2016Q2  4201.12  133860
168454  2016Q3  4769.79  133860
168455  2016Q4  4606.34  133860
168456  2017Q1  4798.63  133860
168457  2017Q2  5277.28  133860
168458  2017Q3  5655.10  133860
168459  2017Q4  5644.29  133860>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
800  2013Q1  0.000000  133860
801  2013Q2  0.000000  133860
802  2013Q3  0.000000  133860
803  2013Q4  0.000000  133860
804  2014Q1  0.000000  133860
805  2014Q2  0.000000  133860
806  2014Q3  0.000000  133860
807  2014Q4  0.000000  133860
808  2015Q1 -0.041974  133860
809  2015Q2 -0.062498  133860
810  2015Q3 -0.005841  133860
811  2015Q4 -0.023332  133860
812  2016Q1 -0.070704  133860
813  2016Q2  0.133926  133860
814  2016Q3  0.161666  133860
815  2016Q4 -0.012390  133860
816  2017Q1  0.035262  133860
817  2017Q2  0.126787  133860
818  2017Q3  0.084587  133860
819  2017Q4  0.019359  133860>)
('Key_aum: ', 133860)
       Quarter     Data      ID
168440  2013Q1     0.00  133860
168441  2013Q2     0.00  133860
168442  2013Q3     0.00  133860
168443  2013Q4     0.00  133860
168444  2014Q1     0.00  133860
168445  2014Q2     0.00  133860
168446  2014Q3     0.00  133860
168447  2014Q4     0.00  133860
168448  2015Q1  1494.97  133860
168449  2015Q2  4047.22  133860
168450  2015Q3  4190.80  133860
168451  2015Q4  4122.15  133860
168452  2016Q1  3787.34  133860
168453  2016Q2  4201.12  133860
168454  2016Q3  4769.79  133860
168455  2016Q4  4606.34  133860
168456  2017Q1  4798.63  133860
168457  2017Q2  5277.28  133860
168458  2017Q3  5655.10  133860
168459  2017Q4  5644.29  133860
('Key_nav : ', 133860)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        , -0.0419741 , -0.06249837,
       -0.00584103, -0.02333222, -0.07070398,  0.13392642,  0.161666  ,
       -0.01239009,  0.03526221,  0.12678723,  0.08458707,  0.01935925]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,  1494.97,  4047.22,  4190.8 ,  4122.15,
        3787.34,  4201.12,  4769.79,  4606.34,  4798.63,  5277.28,
        5655.1 ,  5644.29]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan, -0.0419741 , -0.06249837,
       -0.00584103, -0.02333222, -0.07070398,  0.13392642,  0.161666  ,
       -0.01239009,  0.03526221,  0.12678723,  0.08458707,  0.01935925]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
168440  2013Q1     0.00  133860
168441  2013Q2     0.00  133860
168442  2013Q3     0.00  133860
168443  2013Q4     0.00  133860
168444  2014Q1     0.00  133860
168445  2014Q2     0.00  133860
168446  2014Q3     0.00  133860
168447  2014Q4     0.00  133860
168448  2015Q1  1494.97  133860
168449  2015Q2  4047.22  133860
168450  2015Q3  4190.80  133860
168451  2015Q4  4122.15  133860
168452  2016Q1  3787.34  133860
168453  2016Q2  4201.12  133860
168454  2016Q3  4769.79  133860
168455  2016Q4  4606.34  133860
168456  2017Q1  4798.63  133860
168457  2017Q2  5277.28  133860
168458  2017Q3  5655.10  133860
168459  2017Q4  5644.29  133860>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
800  2013Q1  0.000000  133860
801  2013Q2  0.000000  133860
802  2013Q3  0.000000  133860
803  2013Q4  0.000000  133860
804  2014Q1  0.000000  133860
805  2014Q2  0.000000  133860
806  2014Q3  0.000000  133860
807  2014Q4  0.000000  133860
808  2015Q1 -0.041974  133860
809  2015Q2 -0.062498  133860
810  2015Q3 -0.005841  133860
811  2015Q4 -0.023332  133860
812  2016Q1 -0.070704  133860
813  2016Q2  0.133926  133860
814  2016Q3  0.161666  133860
815  2016Q4 -0.012390  133860
816  2017Q1  0.035262  133860
817  2017Q2  0.126787  133860
818  2017Q3  0.084587  133860
819  2017Q4  0.019359  133860>)
('Key_aum: ', 133860)
       Quarter     Data      ID
168440  2013Q1     0.00  133860
168441  2013Q2     0.00  133860
168442  2013Q3     0.00  133860
168443  2013Q4     0.00  133860
168444  2014Q1     0.00  133860
168445  2014Q2     0.00  133860
168446  2014Q3     0.00  133860
168447  2014Q4     0.00  133860
168448  2015Q1  1494.97  133860
168449  2015Q2  4047.22  133860
168450  2015Q3  4190.80  133860
168451  2015Q4  4122.15  133860
168452  2016Q1  3787.34  133860
168453  2016Q2  4201.12  133860
168454  2016Q3  4769.79  133860
168455  2016Q4  4606.34  133860
168456  2017Q1  4798.63  133860
168457  2017Q2  5277.28  133860
168458  2017Q3  5655.10  133860
168459  2017Q4  5644.29  133860
('Key_nav : ', 133860)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        , -0.0419741 , -0.06249837,
       -0.00584103, -0.02333222, -0.07070398,  0.13392642,  0.161666  ,
       -0.01239009,  0.03526221,  0.12678723,  0.08458707,  0.01935925]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,  1494.97,  4047.22,  4190.8 ,  4122.15,
        3787.34,  4201.12,  4769.79,  4606.34,  4798.63,  5277.28,
        5655.1 ,  5644.29]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan, -0.0419741 , -0.06249837,
       -0.00584103, -0.02333222, -0.07070398,  0.13392642,  0.161666  ,
       -0.01239009,  0.03526221,  0.12678723,  0.08458707,  0.01935925]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
168440  2013Q1     0.00  133860
168441  2013Q2     0.00  133860
168442  2013Q3     0.00  133860
168443  2013Q4     0.00  133860
168444  2014Q1     0.00  133860
168445  2014Q2     0.00  133860
168446  2014Q3     0.00  133860
168447  2014Q4     0.00  133860
168448  2015Q1  1494.97  133860
168449  2015Q2  4047.22  133860
168450  2015Q3  4190.80  133860
168451  2015Q4  4122.15  133860
168452  2016Q1  3787.34  133860
168453  2016Q2  4201.12  133860
168454  2016Q3  4769.79  133860
168455  2016Q4  4606.34  133860
168456  2017Q1  4798.63  133860
168457  2017Q2  5277.28  133860
168458  2017Q3  5655.10  133860
168459  2017Q4  5644.29  133860>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
800  2013Q1  0.000000  133860
801  2013Q2  0.000000  133860
802  2013Q3  0.000000  133860
803  2013Q4  0.000000  133860
804  2014Q1  0.000000  133860
805  2014Q2  0.000000  133860
806  2014Q3  0.000000  133860
807  2014Q4  0.000000  133860
808  2015Q1 -0.041974  133860
809  2015Q2 -0.062498  133860
810  2015Q3 -0.005841  133860
811  2015Q4 -0.023332  133860
812  2016Q1 -0.070704  133860
813  2016Q2  0.133926  133860
814  2016Q3  0.161666  133860
815  2016Q4 -0.012390  133860
816  2017Q1  0.035262  133860
817  2017Q2  0.126787  133860
818  2017Q3  0.084587  133860
819  2017Q4  0.019359  133860>)
('Key_aum: ', 133860)
       Quarter     Data      ID
168440  2013Q1     0.00  133860
168441  2013Q2     0.00  133860
168442  2013Q3     0.00  133860
168443  2013Q4     0.00  133860
168444  2014Q1     0.00  133860
168445  2014Q2     0.00  133860
168446  2014Q3     0.00  133860
168447  2014Q4     0.00  133860
168448  2015Q1  1494.97  133860
168449  2015Q2  4047.22  133860
168450  2015Q3  4190.80  133860
168451  2015Q4  4122.15  133860
168452  2016Q1  3787.34  133860
168453  2016Q2  4201.12  133860
168454  2016Q3  4769.79  133860
168455  2016Q4  4606.34  133860
168456  2017Q1  4798.63  133860
168457  2017Q2  5277.28  133860
168458  2017Q3  5655.10  133860
168459  2017Q4  5644.29  133860
('Key_nav : ', 133860)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        , -0.0419741 , -0.06249837,
       -0.00584103, -0.02333222, -0.07070398,  0.13392642,  0.161666  ,
       -0.01239009,  0.03526221,  0.12678723,  0.08458707,  0.01935925]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,  1494.97,  4047.22,  4190.8 ,  4122.15,
        3787.34,  4201.12,  4769.79,  4606.34,  4798.63,  5277.28,
        5655.1 ,  5644.29]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan, -0.0419741 , -0.06249837,
       -0.00584103, -0.02333222, -0.07070398,  0.13392642,  0.161666  ,
       -0.01239009,  0.03526221,  0.12678723,  0.08458707,  0.01935925]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
168440  2013Q1     0.00  133860
168441  2013Q2     0.00  133860
168442  2013Q3     0.00  133860
168443  2013Q4     0.00  133860
168444  2014Q1     0.00  133860
168445  2014Q2     0.00  133860
168446  2014Q3     0.00  133860
168447  2014Q4     0.00  133860
168448  2015Q1  1494.97  133860
168449  2015Q2  4047.22  133860
168450  2015Q3  4190.80  133860
168451  2015Q4  4122.15  133860
168452  2016Q1  3787.34  133860
168453  2016Q2  4201.12  133860
168454  2016Q3  4769.79  133860
168455  2016Q4  4606.34  133860
168456  2017Q1  4798.63  133860
168457  2017Q2  5277.28  133860
168458  2017Q3  5655.10  133860
168459  2017Q4  5644.29  133860>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
800  2013Q1  0.000000  133860
801  2013Q2  0.000000  133860
802  2013Q3  0.000000  133860
803  2013Q4  0.000000  133860
804  2014Q1  0.000000  133860
805  2014Q2  0.000000  133860
806  2014Q3  0.000000  133860
807  2014Q4  0.000000  133860
808  2015Q1 -0.041974  133860
809  2015Q2 -0.062498  133860
810  2015Q3 -0.005841  133860
811  2015Q4 -0.023332  133860
812  2016Q1 -0.070704  133860
813  2016Q2  0.133926  133860
814  2016Q3  0.161666  133860
815  2016Q4 -0.012390  133860
816  2017Q1  0.035262  133860
817  2017Q2  0.126787  133860
818  2017Q3  0.084587  133860
819  2017Q4  0.019359  133860>)
('Key_aum: ', 133860)
       Quarter     Data      ID
168440  2013Q1     0.00  133860
168441  2013Q2     0.00  133860
168442  2013Q3     0.00  133860
168443  2013Q4     0.00  133860
168444  2014Q1     0.00  133860
168445  2014Q2     0.00  133860
168446  2014Q3     0.00  133860
168447  2014Q4     0.00  133860
168448  2015Q1  1494.97  133860
168449  2015Q2  4047.22  133860
168450  2015Q3  4190.80  133860
168451  2015Q4  4122.15  133860
168452  2016Q1  3787.34  133860
168453  2016Q2  4201.12  133860
168454  2016Q3  4769.79  133860
168455  2016Q4  4606.34  133860
168456  2017Q1  4798.63  133860
168457  2017Q2  5277.28  133860
168458  2017Q3  5655.10  133860
168459  2017Q4  5644.29  133860
('Key_nav : ', 133860)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        , -0.0419741 , -0.06249837,
       -0.00584103, -0.02333222, -0.07070398,  0.13392642,  0.161666  ,
       -0.01239009,  0.03526221,  0.12678723,  0.08458707,  0.01935925]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,  1494.97,  4047.22,  4190.8 ,  4122.15,
        3787.34,  4201.12,  4769.79,  4606.34,  4798.63,  5277.28,
        5655.1 ,  5644.29]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan, -0.0419741 , -0.06249837,
       -0.00584103, -0.02333222, -0.07070398,  0.13392642,  0.161666  ,
       -0.01239009,  0.03526221,  0.12678723,  0.08458707,  0.01935925]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
168440  2013Q1     0.00  133860
168441  2013Q2     0.00  133860
168442  2013Q3     0.00  133860
168443  2013Q4     0.00  133860
168444  2014Q1     0.00  133860
168445  2014Q2     0.00  133860
168446  2014Q3     0.00  133860
168447  2014Q4     0.00  133860
168448  2015Q1  1494.97  133860
168449  2015Q2  4047.22  133860
168450  2015Q3  4190.80  133860
168451  2015Q4  4122.15  133860
168452  2016Q1  3787.34  133860
168453  2016Q2  4201.12  133860
168454  2016Q3  4769.79  133860
168455  2016Q4  4606.34  133860
168456  2017Q1  4798.63  133860
168457  2017Q2  5277.28  133860
168458  2017Q3  5655.10  133860
168459  2017Q4  5644.29  133860>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
800  2013Q1  0.000000  133860
801  2013Q2  0.000000  133860
802  2013Q3  0.000000  133860
803  2013Q4  0.000000  133860
804  2014Q1  0.000000  133860
805  2014Q2  0.000000  133860
806  2014Q3  0.000000  133860
807  2014Q4  0.000000  133860
808  2015Q1 -0.041974  133860
809  2015Q2 -0.062498  133860
810  2015Q3 -0.005841  133860
811  2015Q4 -0.023332  133860
812  2016Q1 -0.070704  133860
813  2016Q2  0.133926  133860
814  2016Q3  0.161666  133860
815  2016Q4 -0.012390  133860
816  2017Q1  0.035262  133860
817  2017Q2  0.126787  133860
818  2017Q3  0.084587  133860
819  2017Q4  0.019359  133860>)
('Key_aum: ', 133860)
       Quarter     Data      ID
168440  2013Q1     0.00  133860
168441  2013Q2     0.00  133860
168442  2013Q3     0.00  133860
168443  2013Q4     0.00  133860
168444  2014Q1     0.00  133860
168445  2014Q2     0.00  133860
168446  2014Q3     0.00  133860
168447  2014Q4     0.00  133860
168448  2015Q1  1494.97  133860
168449  2015Q2  4047.22  133860
168450  2015Q3  4190.80  133860
168451  2015Q4  4122.15  133860
168452  2016Q1  3787.34  133860
168453  2016Q2  4201.12  133860
168454  2016Q3  4769.79  133860
168455  2016Q4  4606.34  133860
168456  2017Q1  4798.63  133860
168457  2017Q2  5277.28  133860
168458  2017Q3  5655.10  133860
168459  2017Q4  5644.29  133860
('Key_nav : ', 133860)

819  2017Q4  0.019359  133860>)
('Key_aum: ', 133860)
       Quarter     Data      ID
168440  2013Q1     0.00  133860
168441  2013Q2     0.00  133860
168442  2013Q3     0.00  133860
168443  2013Q4     0.00  133860
168444  2014Q1     0.00  133860
168445  2014Q2     0.00  133860
168446  2014Q3     0.00  133860
168447  2014Q4     0.00  133860
168448  2015Q1  1494.97  133860
168449  2015Q2  4047.22  133860
168450  2015Q3  4190.80  133860
168451  2015Q4  4122.15  133860
168452  2016Q1  3787.34  133860
168453  2016Q2  4201.12  133860
168454  2016Q3  4769.79  133860
168455  2016Q4  4606.34  133860
168456  2017Q1  4798.63  133860
168457  2017Q2  5277.28  133860
168458  2017Q3  5655.10  133860
168459  2017Q4  5644.29  133860
('Key_nav : ', 133860)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        , -0.0419741 , -0.06249837,
       -0.00584103, -0.02333222, -0.07070398,  0.13392642,  0.161666  ,
       -0.01239009,  0.03526221,  0.12678723,  0.08458707,  0.01935925]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,  1494.97,  4047.22,  4190.8 ,  4122.15,
        3787.34,  4201.12,  4769.79,  4606.34,  4798.63,  5277.28,
        5655.1 ,  5644.29]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan, -0.0419741 , -0.06249837,
       -0.00584103, -0.02333222, -0.07070398,  0.13392642,  0.161666  ,
       -0.01239009,  0.03526221,  0.12678723,  0.08458707,  0.01935925]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
168440  2013Q1     0.00  133860
168441  2013Q2     0.00  133860
168442  2013Q3     0.00  133860
168443  2013Q4     0.00  133860
168444  2014Q1     0.00  133860
168445  2014Q2     0.00  133860
168446  2014Q3     0.00  133860
168447  2014Q4     0.00  133860
168448  2015Q1  1494.97  133860
168449  2015Q2  4047.22  133860
168450  2015Q3  4190.80  133860
168451  2015Q4  4122.15  133860
168452  2016Q1  3787.34  133860
168453  2016Q2  4201.12  133860
168454  2016Q3  4769.79  133860
168455  2016Q4  4606.34  133860
168456  2017Q1  4798.63  133860
168457  2017Q2  5277.28  133860
168458  2017Q3  5655.10  133860
168459  2017Q4  5644.29  133860>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
800  2013Q1  0.000000  133860
801  2013Q2  0.000000  133860
802  2013Q3  0.000000  133860
803  2013Q4  0.000000  133860
804  2014Q1  0.000000  133860
805  2014Q2  0.000000  133860
806  2014Q3  0.000000  133860
807  2014Q4  0.000000  133860
808  2015Q1 -0.041974  133860
809  2015Q2 -0.062498  133860
810  2015Q3 -0.005841  133860
811  2015Q4 -0.023332  133860
812  2016Q1 -0.070704  133860
813  2016Q2  0.133926  133860
814  2016Q3  0.161666  133860
815  2016Q4 -0.012390  133860
816  2017Q1  0.035262  133860
817  2017Q2  0.126787  133860
818  2017Q3  0.084587  133860
819  2017Q4  0.019359  133860>)
('Key_aum: ', 133860)
       Quarter     Data      ID
168440  2013Q1     0.00  133860
168441  2013Q2     0.00  133860
168442  2013Q3     0.00  133860
168443  2013Q4     0.00  133860
168444  2014Q1     0.00  133860
168445  2014Q2     0.00  133860
168446  2014Q3     0.00  133860
168447  2014Q4     0.00  133860
168448  2015Q1  1494.97  133860
168449  2015Q2  4047.22  133860
168450  2015Q3  4190.80  133860
168451  2015Q4  4122.15  133860
168452  2016Q1  3787.34  133860
168453  2016Q2  4201.12  133860
168454  2016Q3  4769.79  133860
168455  2016Q4  4606.34  133860
168456  2017Q1  4798.63  133860
168457  2017Q2  5277.28  133860
168458  2017Q3  5655.10  133860
168459  2017Q4  5644.29  133860
('Key_nav : ', 133860)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        , -0.0419741 , -0.06249837,
       -0.00584103, -0.02333222, -0.07070398,  0.13392642,  0.161666  ,
       -0.01239009,  0.03526221,  0.12678723,  0.08458707,  0.01935925]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,  1494.97,  4047.22,  4190.8 ,  4122.15,
        3787.34,  4201.12,  4769.79,  4606.34,  4798.63,  5277.28,
        5655.1 ,  5644.29]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan, -0.0419741 , -0.06249837,
       -0.00584103, -0.02333222, -0.07070398,  0.13392642,  0.161666  ,
       -0.01239009,  0.03526221,  0.12678723,  0.08458707,  0.01935925]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
168440  2013Q1     0.00  133860
168441  2013Q2     0.00  133860
168442  2013Q3     0.00  133860
168443  2013Q4     0.00  133860
168444  2014Q1     0.00  133860
168445  2014Q2     0.00  133860
168446  2014Q3     0.00  133860
168447  2014Q4     0.00  133860
168448  2015Q1  1494.97  133860
168449  2015Q2  4047.22  133860
168450  2015Q3  4190.80  133860
168451  2015Q4  4122.15  133860
168452  2016Q1  3787.34  133860
168453  2016Q2  4201.12  133860
168454  2016Q3  4769.79  133860
168455  2016Q4  4606.34  133860
168456  2017Q1  4798.63  133860
168457  2017Q2  5277.28  133860
168458  2017Q3  5655.10  133860
168459  2017Q4  5644.29  133860>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
800  2013Q1  0.000000  133860
801  2013Q2  0.000000  133860
802  2013Q3  0.000000  133860
803  2013Q4  0.000000  133860
804  2014Q1  0.000000  133860
805  2014Q2  0.000000  133860
806  2014Q3  0.000000  133860
807  2014Q4  0.000000  133860
808  2015Q1 -0.041974  133860
809  2015Q2 -0.062498  133860
810  2015Q3 -0.005841  133860
811  2015Q4 -0.023332  133860
812  2016Q1 -0.070704  133860
813  2016Q2  0.133926  133860
814  2016Q3  0.161666  133860
815  2016Q4 -0.012390  133860
816  2017Q1  0.035262  133860
817  2017Q2  0.126787  133860
818  2017Q3  0.084587  133860
819  2017Q4  0.019359  133860>)
('Key_aum: ', 133860)
       Quarter     Data      ID
168440  2013Q1     0.00  133860
168441  2013Q2     0.00  133860
168442  2013Q3     0.00  133860
168443  2013Q4     0.00  133860
168444  2014Q1     0.00  133860
168445  2014Q2     0.00  133860
168446  2014Q3     0.00  133860
168447  2014Q4     0.00  133860
168448  2015Q1  1494.97  133860
168449  2015Q2  4047.22  133860
168450  2015Q3  4190.80  133860
168451  2015Q4  4122.15  133860
168452  2016Q1  3787.34  133860
168453  2016Q2  4201.12  133860
168454  2016Q3  4769.79  133860
168455  2016Q4  4606.34  133860
168456  2017Q1  4798.63  133860
168457  2017Q2  5277.28  133860
168458  2017Q3  5655.10  133860
168459  2017Q4  5644.29  133860
('Key_nav : ', 133860)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        , -0.0419741 , -0.06249837,
       -0.00584103, -0.02333222, -0.07070398,  0.13392642,  0.161666  ,
       -0.01239009,  0.03526221,  0.12678723,  0.08458707,  0.01935925]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,  1494.97,  4047.22,  4190.8 ,  4122.15,
        3787.34,  4201.12,  4769.79,  4606.34,  4798.63,  5277.28,
        5655.1 ,  5644.29]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan, -0.0419741 , -0.06249837,
       -0.00584103, -0.02333222, -0.07070398,  0.13392642,  0.161666  ,
       -0.01239009,  0.03526221,  0.12678723,  0.08458707,  0.01935925]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
168440  2013Q1     0.00  133860
168441  2013Q2     0.00  133860
168442  2013Q3     0.00  133860
168443  2013Q4     0.00  133860
168444  2014Q1     0.00  133860
168445  2014Q2     0.00  133860
168446  2014Q3     0.00  133860
168447  2014Q4     0.00  133860
168448  2015Q1  1494.97  133860
168449  2015Q2  4047.22  133860
168450  2015Q3  4190.80  133860
168451  2015Q4  4122.15  133860
168452  2016Q1  3787.34  133860
168453  2016Q2  4201.12  133860
168454  2016Q3  4769.79  133860
168455  2016Q4  4606.34  133860
168456  2017Q1  4798.63  133860
168457  2017Q2  5277.28  133860
168458  2017Q3  5655.10  133860
168459  2017Q4  5644.29  133860>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
800  2013Q1  0.000000  133860
801  2013Q2  0.000000  133860
802  2013Q3  0.000000  133860
803  2013Q4  0.000000  133860
804  2014Q1  0.000000  133860
805  2014Q2  0.000000  133860
806  2014Q3  0.000000  133860
807  2014Q4  0.000000  133860
808  2015Q1 -0.041974  133860
809  2015Q2 -0.062498  133860
810  2015Q3 -0.005841  133860
811  2015Q4 -0.023332  133860
812  2016Q1 -0.070704  133860
813  2016Q2  0.133926  133860
814  2016Q3  0.161666  133860
815  2016Q4 -0.012390  133860
816  2017Q1  0.035262  133860
817  2017Q2  0.126787  133860
818  2017Q3  0.084587  133860
819  2017Q4  0.019359  133860>)
('Key_aum: ', 133860)
       Quarter     Data      ID
168440  2013Q1     0.00  133860
168441  2013Q2     0.00  133860
168442  2013Q3     0.00  133860
168443  2013Q4     0.00  133860
168444  2014Q1     0.00  133860
168445  2014Q2     0.00  133860
168446  2014Q3     0.00  133860
168447  2014Q4     0.00  133860
168448  2015Q1  1494.97  133860
168449  2015Q2  4047.22  133860
168450  2015Q3  4190.80  133860
168451  2015Q4  4122.15  133860
168452  2016Q1  3787.34  133860
168453  2016Q2  4201.12  133860
168454  2016Q3  4769.79  133860
168455  2016Q4  4606.34  133860
168456  2017Q1  4798.63  133860
168457  2017Q2  5277.28  133860
168458  2017Q3  5655.10  133860
168459  2017Q4  5644.29  133860
('Key_nav : ', 133860)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        , -0.0419741 , -0.06249837,
       -0.00584103, -0.02333222, -0.07070398,  0.13392642,  0.161666  ,
       -0.01239009,  0.03526221,  0.12678723,  0.08458707,  0.01935925]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,  1494.97,  4047.22,  4190.8 ,  4122.15,
        3787.34,  4201.12,  4769.79,  4606.34,  4798.63,  5277.28,
        5655.1 ,  5644.29]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan, -0.0419741 , -0.06249837,
       -0.00584103, -0.02333222, -0.07070398,  0.13392642,  0.161666  ,
       -0.01239009,  0.03526221,  0.12678723,  0.08458707,  0.01935925]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
168440  2013Q1     0.00  133860
168441  2013Q2     0.00  133860
168442  2013Q3     0.00  133860
168443  2013Q4     0.00  133860
168444  2014Q1     0.00  133860
168445  2014Q2     0.00  133860
168446  2014Q3     0.00  133860
168447  2014Q4     0.00  133860
168448  2015Q1  1494.97  133860
168449  2015Q2  4047.22  133860
168450  2015Q3  4190.80  133860
168451  2015Q4  4122.15  133860
168452  2016Q1  3787.34  133860
168453  2016Q2  4201.12  133860
168454  2016Q3  4769.79  133860
168455  2016Q4  4606.34  133860
168456  2017Q1  4798.63  133860
168457  2017Q2  5277.28  133860
168458  2017Q3  5655.10  133860
168459  2017Q4  5644.29  133860>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
800  2013Q1  0.000000  133860
801  2013Q2  0.000000  133860
802  2013Q3  0.000000  133860
803  2013Q4  0.000000  133860
804  2014Q1  0.000000  133860
805  2014Q2  0.000000  133860
806  2014Q3  0.000000  133860
807  2014Q4  0.000000  133860
808  2015Q1 -0.041974  133860
809  2015Q2 -0.062498  133860
810  2015Q3 -0.005841  133860
811  2015Q4 -0.023332  133860
812  2016Q1 -0.070704  133860
813  2016Q2  0.133926  133860
814  2016Q3  0.161666  133860
815  2016Q4 -0.012390  133860
816  2017Q1  0.035262  133860
817  2017Q2  0.126787  133860
818  2017Q3  0.084587  133860
819  2017Q4  0.019359  133860>)
('Key_aum: ', 133860)
       Quarter     Data      ID
168440  2013Q1     0.00  133860
168441  2013Q2     0.00  133860
168442  2013Q3     0.00  133860
168443  2013Q4     0.00  133860
168444  2014Q1     0.00  133860
168445  2014Q2     0.00  133860
168446  2014Q3     0.00  133860
168447  2014Q4     0.00  133860
168448  2015Q1  1494.97  133860
168449  2015Q2  4047.22  133860
168450  2015Q3  4190.80  133860
168451  2015Q4  4122.15  133860
168452  2016Q1  3787.34  133860
168453  2016Q2  4201.12  133860
168454  2016Q3  4769.79  133860
168455  2016Q4  4606.34  133860
168456  2017Q1  4798.63  133860
168457  2017Q2  5277.28  133860
168458  2017Q3  5655.10  133860
168459  2017Q4  5644.29  133860
('Key_nav : ', 133860)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        , -0.0419741 , -0.06249837,
       -0.00584103, -0.02333222, -0.07070398,  0.13392642,  0.161666  ,
       -0.01239009,  0.03526221,  0.12678723,  0.08458707,  0.01935925]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,  1494.97,  4047.22,  4190.8 ,  4122.15,
        3787.34,  4201.12,  4769.79,  4606.34,  4798.63,  5277.28,
        5655.1 ,  5644.29]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan, -0.0419741 , -0.06249837,
       -0.00584103, -0.02333222, -0.07070398,  0.13392642,  0.161666  ,
       -0.01239009,  0.03526221,  0.12678723,  0.08458707,  0.01935925]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
168440  2013Q1     0.00  133860
168441  2013Q2     0.00  133860
168442  2013Q3     0.00  133860
168443  2013Q4     0.00  133860
168444  2014Q1     0.00  133860
168445  2014Q2     0.00  133860
168446  2014Q3     0.00  133860
168447  2014Q4     0.00  133860
168448  2015Q1  1494.97  133860
168449  2015Q2  4047.22  133860
168450  2015Q3  4190.80  133860
168451  2015Q4  4122.15  133860
168452  2016Q1  3787.34  133860
168453  2016Q2  4201.12  133860
168454  2016Q3  4769.79  133860
168455  2016Q4  4606.34  133860
168456  2017Q1  4798.63  133860
168457  2017Q2  5277.28  133860
168458  2017Q3  5655.10  133860
168459  2017Q4  5644.29  133860>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
800  2013Q1  0.000000  133860
801  2013Q2  0.000000  133860
802  2013Q3  0.000000  133860
803  2013Q4  0.000000  133860
804  2014Q1  0.000000  133860
805  2014Q2  0.000000  133860
806  2014Q3  0.000000  133860
807  2014Q4  0.000000  133860
808  2015Q1 -0.041974  133860
809  2015Q2 -0.062498  133860
810  2015Q3 -0.005841  133860
811  2015Q4 -0.023332  133860
812  2016Q1 -0.070704  133860
813  2016Q2  0.133926  133860
814  2016Q3  0.161666  133860
815  2016Q4 -0.012390  133860
816  2017Q1  0.035262  133860
817  2017Q2  0.126787  133860
818  2017Q3  0.084587  133860
819  2017Q4  0.019359  133860>)
('Key_aum: ', 133860)
       Quarter     Data      ID
168440  2013Q1     0.00  133860
168441  2013Q2     0.00  133860
168442  2013Q3     0.00  133860
168443  2013Q4     0.00  133860
168444  2014Q1     0.00  133860
168445  2014Q2     0.00  133860
168446  2014Q3     0.00  133860
168447  2014Q4     0.00  133860
168448  2015Q1  1494.97  133860
168449  2015Q2  4047.22  133860
168450  2015Q3  4190.80  133860
168451  2015Q4  4122.15  133860
168452  2016Q1  3787.34  133860
168453  2016Q2  4201.12  133860
168454  2016Q3  4769.79  133860
168455  2016Q4  4606.34  133860
168456  2017Q1  4798.63  133860
168457  2017Q2  5277.28  133860
168458  2017Q3  5655.10  133860
168459  2017Q4  5644.29  133860
('Key_nav : ', 133860)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        , -0.0419741 , -0.06249837,
       -0.00584103, -0.02333222, -0.07070398,  0.13392642,  0.161666  ,
       -0.01239009,  0.03526221,  0.12678723,  0.08458707,  0.01935925]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,  1494.97,  4047.22,  4190.8 ,  4122.15,
        3787.34,  4201.12,  4769.79,  4606.34,  4798.63,  5277.28,
        5655.1 ,  5644.29]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan, -0.0419741 , -0.06249837,
       -0.00584103, -0.02333222, -0.07070398,  0.13392642,  0.161666  ,
       -0.01239009,  0.03526221,  0.12678723,  0.08458707,  0.01935925]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
168440  2013Q1     0.00  133860
168441  2013Q2     0.00  133860
168442  2013Q3     0.00  133860
168443  2013Q4     0.00  133860
168444  2014Q1     0.00  133860
168445  2014Q2     0.00  133860
168446  2014Q3     0.00  133860
168447  2014Q4     0.00  133860
168448  2015Q1  1494.97  133860
168449  2015Q2  4047.22  133860
168450  2015Q3  4190.80  133860
168451  2015Q4  4122.15  133860
168452  2016Q1  3787.34  133860
168453  2016Q2  4201.12  133860
168454  2016Q3  4769.79  133860
168455  2016Q4  4606.34  133860
168456  2017Q1  4798.63  133860
168457  2017Q2  5277.28  133860
168458  2017Q3  5655.10  133860
168459  2017Q4  5644.29  133860>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
800  2013Q1  0.000000  133860
801  2013Q2  0.000000  133860
802  2013Q3  0.000000  133860
803  2013Q4  0.000000  133860
804  2014Q1  0.000000  133860
805  2014Q2  0.000000  133860
806  2014Q3  0.000000  133860
807  2014Q4  0.000000  133860
808  2015Q1 -0.041974  133860
809  2015Q2 -0.062498  133860
810  2015Q3 -0.005841  133860
811  2015Q4 -0.023332  133860
812  2016Q1 -0.070704  133860
813  2016Q2  0.133926  133860
814  2016Q3  0.161666  133860
815  2016Q4 -0.012390  133860
816  2017Q1  0.035262  133860
817  2017Q2  0.126787  133860
818  2017Q3  0.084587  133860
819  2017Q4  0.019359  133860>)
('Key_aum: ', 133860)
       Quarter     Data      ID
168440  2013Q1     0.00  133860
168441  2013Q2     0.00  133860
168442  2013Q3     0.00  133860
168443  2013Q4     0.00  133860
168444  2014Q1     0.00  133860
168445  2014Q2     0.00  133860
168446  2014Q3     0.00  133860
168447  2014Q4     0.00  133860
168448  2015Q1  1494.97  133860
168449  2015Q2  4047.22  133860
168450  2015Q3  4190.80  133860
168451  2015Q4  4122.15  133860
168452  2016Q1  3787.34  133860
168453  2016Q2  4201.12  133860
168454  2016Q3  4769.79  133860
168455  2016Q4  4606.34  133860
168456  2017Q1  4798.63  133860
168457  2017Q2  5277.28  133860
168458  2017Q3  5655.10  133860
168459  2017Q4  5644.29  133860
('Key_nav : ', 133860)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        , -0.0419741 , -0.06249837,
       -0.00584103, -0.02333222, -0.07070398,  0.13392642,  0.161666  ,
       -0.01239009,  0.03526221,  0.12678723,  0.08458707,  0.01935925]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,  1494.97,  4047.22,  4190.8 ,  4122.15,
        3787.34,  4201.12,  4769.79,  4606.34,  4798.63,  5277.28,
        5655.1 ,  5644.29]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan, -0.0419741 , -0.06249837,
       -0.00584103, -0.02333222, -0.07070398,  0.13392642,  0.161666  ,
       -0.01239009,  0.03526221,  0.12678723,  0.08458707,  0.01935925]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
168440  2013Q1     0.00  133860
168441  2013Q2     0.00  133860
168442  2013Q3     0.00  133860
168443  2013Q4     0.00  133860
168444  2014Q1     0.00  133860
168445  2014Q2     0.00  133860
168446  2014Q3     0.00  133860
168447  2014Q4     0.00  133860
168448  2015Q1  1494.97  133860
168449  2015Q2  4047.22  133860
168450  2015Q3  4190.80  133860
168451  2015Q4  4122.15  133860
168452  2016Q1  3787.34  133860
168453  2016Q2  4201.12  133860
168454  2016Q3  4769.79  133860
168455  2016Q4  4606.34  133860

('Key_aum: ', 133860)
       Quarter     Data      ID
168440  2013Q1     0.00  133860
168441  2013Q2     0.00  133860
168442  2013Q3     0.00  133860
168443  2013Q4     0.00  133860
168444  2014Q1     0.00  133860
168445  2014Q2     0.00  133860
168446  2014Q3     0.00  133860
168447  2014Q4     0.00  133860
168448  2015Q1  1494.97  133860
168449  2015Q2  4047.22  133860
168450  2015Q3  4190.80  133860
168451  2015Q4  4122.15  133860
168452  2016Q1  3787.34  133860
168453  2016Q2  4201.12  133860
168454  2016Q3  4769.79  133860
168455  2016Q4  4606.34  133860
168456  2017Q1  4798.63  133860
168457  2017Q2  5277.28  133860
168458  2017Q3  5655.10  133860
168459  2017Q4  5644.29  133860
('Key_nav : ', 133860)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        , -0.0419741 , -0.06249837,
       -0.00584103, -0.02333222, -0.07070398,  0.13392642,  0.161666  ,
       -0.01239009,  0.03526221,  0.12678723,  0.08458707,  0.01935925]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,  1494.97,  4047.22,  4190.8 ,  4122.15,
        3787.34,  4201.12,  4769.79,  4606.34,  4798.63,  5277.28,
        5655.1 ,  5644.29]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan, -0.0419741 , -0.06249837,
       -0.00584103, -0.02333222, -0.07070398,  0.13392642,  0.161666  ,
       -0.01239009,  0.03526221,  0.12678723,  0.08458707,  0.01935925]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
168440  2013Q1     0.00  133860
168441  2013Q2     0.00  133860
168442  2013Q3     0.00  133860
168443  2013Q4     0.00  133860
168444  2014Q1     0.00  133860
168445  2014Q2     0.00  133860
168446  2014Q3     0.00  133860
168447  2014Q4     0.00  133860
168448  2015Q1  1494.97  133860
168449  2015Q2  4047.22  133860
168450  2015Q3  4190.80  133860
168451  2015Q4  4122.15  133860
168452  2016Q1  3787.34  133860
168453  2016Q2  4201.12  133860
168454  2016Q3  4769.79  133860
168455  2016Q4  4606.34  133860
168456  2017Q1  4798.63  133860
168457  2017Q2  5277.28  133860
168458  2017Q3  5655.10  133860
168459  2017Q4  5644.29  133860>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
800  2013Q1  0.000000  133860
801  2013Q2  0.000000  133860
802  2013Q3  0.000000  133860
803  2013Q4  0.000000  133860
804  2014Q1  0.000000  133860
805  2014Q2  0.000000  133860
806  2014Q3  0.000000  133860
807  2014Q4  0.000000  133860
808  2015Q1 -0.041974  133860
809  2015Q2 -0.062498  133860
810  2015Q3 -0.005841  133860
811  2015Q4 -0.023332  133860
812  2016Q1 -0.070704  133860
813  2016Q2  0.133926  133860
814  2016Q3  0.161666  133860
815  2016Q4 -0.012390  133860
816  2017Q1  0.035262  133860
817  2017Q2  0.126787  133860
818  2017Q3  0.084587  133860
819  2017Q4  0.019359  133860>)
('Key_aum: ', 133860)
       Quarter     Data      ID
168440  2013Q1     0.00  133860
168441  2013Q2     0.00  133860
168442  2013Q3     0.00  133860
168443  2013Q4     0.00  133860
168444  2014Q1     0.00  133860
168445  2014Q2     0.00  133860
168446  2014Q3     0.00  133860
168447  2014Q4     0.00  133860
168448  2015Q1  1494.97  133860
168449  2015Q2  4047.22  133860
168450  2015Q3  4190.80  133860
168451  2015Q4  4122.15  133860
168452  2016Q1  3787.34  133860
168453  2016Q2  4201.12  133860
168454  2016Q3  4769.79  133860
168455  2016Q4  4606.34  133860
168456  2017Q1  4798.63  133860
168457  2017Q2  5277.28  133860
168458  2017Q3  5655.10  133860
168459  2017Q4  5644.29  133860
('Key_nav : ', 133860)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        , -0.0419741 , -0.06249837,
       -0.00584103, -0.02333222, -0.07070398,  0.13392642,  0.161666  ,
       -0.01239009,  0.03526221,  0.12678723,  0.08458707,  0.01935925]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,  1494.97,  4047.22,  4190.8 ,  4122.15,
        3787.34,  4201.12,  4769.79,  4606.34,  4798.63,  5277.28,
        5655.1 ,  5644.29]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan, -0.0419741 , -0.06249837,
       -0.00584103, -0.02333222, -0.07070398,  0.13392642,  0.161666  ,
       -0.01239009,  0.03526221,  0.12678723,  0.08458707,  0.01935925]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
168440  2013Q1     0.00  133860
168441  2013Q2     0.00  133860
168442  2013Q3     0.00  133860
168443  2013Q4     0.00  133860
168444  2014Q1     0.00  133860
168445  2014Q2     0.00  133860
168446  2014Q3     0.00  133860
168447  2014Q4     0.00  133860
168448  2015Q1  1494.97  133860
168449  2015Q2  4047.22  133860
168450  2015Q3  4190.80  133860
168451  2015Q4  4122.15  133860
168452  2016Q1  3787.34  133860
168453  2016Q2  4201.12  133860
168454  2016Q3  4769.79  133860
168455  2016Q4  4606.34  133860
168456  2017Q1  4798.63  133860
168457  2017Q2  5277.28  133860
168458  2017Q3  5655.10  133860
168459  2017Q4  5644.29  133860>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
800  2013Q1  0.000000  133860
801  2013Q2  0.000000  133860
802  2013Q3  0.000000  133860
803  2013Q4  0.000000  133860
804  2014Q1  0.000000  133860
805  2014Q2  0.000000  133860
806  2014Q3  0.000000  133860
807  2014Q4  0.000000  133860
808  2015Q1 -0.041974  133860
809  2015Q2 -0.062498  133860
810  2015Q3 -0.005841  133860
811  2015Q4 -0.023332  133860
812  2016Q1 -0.070704  133860
813  2016Q2  0.133926  133860
814  2016Q3  0.161666  133860
815  2016Q4 -0.012390  133860
816  2017Q1  0.035262  133860
817  2017Q2  0.126787  133860
818  2017Q3  0.084587  133860
819  2017Q4  0.019359  133860>)
('Key_aum: ', 133860)
       Quarter     Data      ID
168440  2013Q1     0.00  133860
168441  2013Q2     0.00  133860
168442  2013Q3     0.00  133860
168443  2013Q4     0.00  133860
168444  2014Q1     0.00  133860
168445  2014Q2     0.00  133860
168446  2014Q3     0.00  133860
168447  2014Q4     0.00  133860
168448  2015Q1  1494.97  133860
168449  2015Q2  4047.22  133860
168450  2015Q3  4190.80  133860
168451  2015Q4  4122.15  133860
168452  2016Q1  3787.34  133860
168453  2016Q2  4201.12  133860
168454  2016Q3  4769.79  133860
168455  2016Q4  4606.34  133860
168456  2017Q1  4798.63  133860
168457  2017Q2  5277.28  133860
168458  2017Q3  5655.10  133860
168459  2017Q4  5644.29  133860
('Key_nav : ', 133860)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        , -0.0419741 , -0.06249837,
       -0.00584103, -0.02333222, -0.07070398,  0.13392642,  0.161666  ,
       -0.01239009,  0.03526221,  0.12678723,  0.08458707,  0.01935925]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,  1494.97,  4047.22,  4190.8 ,  4122.15,
        3787.34,  4201.12,  4769.79,  4606.34,  4798.63,  5277.28,
        5655.1 ,  5644.29]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan, -0.0419741 , -0.06249837,
       -0.00584103, -0.02333222, -0.07070398,  0.13392642,  0.161666  ,
       -0.01239009,  0.03526221,  0.12678723,  0.08458707,  0.01935925]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
168440  2013Q1     0.00  133860
168441  2013Q2     0.00  133860
168442  2013Q3     0.00  133860
168443  2013Q4     0.00  133860
168444  2014Q1     0.00  133860
168445  2014Q2     0.00  133860
168446  2014Q3     0.00  133860
168447  2014Q4     0.00  133860
168448  2015Q1  1494.97  133860
168449  2015Q2  4047.22  133860
168450  2015Q3  4190.80  133860
168451  2015Q4  4122.15  133860
168452  2016Q1  3787.34  133860
168453  2016Q2  4201.12  133860
168454  2016Q3  4769.79  133860
168455  2016Q4  4606.34  133860
168456  2017Q1  4798.63  133860
168457  2017Q2  5277.28  133860
168458  2017Q3  5655.10  133860
168459  2017Q4  5644.29  133860>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
800  2013Q1  0.000000  133860
801  2013Q2  0.000000  133860
802  2013Q3  0.000000  133860
803  2013Q4  0.000000  133860
804  2014Q1  0.000000  133860
805  2014Q2  0.000000  133860
806  2014Q3  0.000000  133860
807  2014Q4  0.000000  133860
808  2015Q1 -0.041974  133860
809  2015Q2 -0.062498  133860
810  2015Q3 -0.005841  133860
811  2015Q4 -0.023332  133860
812  2016Q1 -0.070704  133860
813  2016Q2  0.133926  133860
814  2016Q3  0.161666  133860
815  2016Q4 -0.012390  133860
816  2017Q1  0.035262  133860
817  2017Q2  0.126787  133860
818  2017Q3  0.084587  133860
819  2017Q4  0.019359  133860>)
('Key_aum: ', 133860)
       Quarter     Data      ID
168440  2013Q1     0.00  133860
168441  2013Q2     0.00  133860
168442  2013Q3     0.00  133860
168443  2013Q4     0.00  133860
168444  2014Q1     0.00  133860
168445  2014Q2     0.00  133860
168446  2014Q3     0.00  133860
168447  2014Q4     0.00  133860
168448  2015Q1  1494.97  133860
168449  2015Q2  4047.22  133860
168450  2015Q3  4190.80  133860
168451  2015Q4  4122.15  133860
168452  2016Q1  3787.34  133860
168453  2016Q2  4201.12  133860
168454  2016Q3  4769.79  133860
168455  2016Q4  4606.34  133860
168456  2017Q1  4798.63  133860
168457  2017Q2  5277.28  133860
168458  2017Q3  5655.10  133860
168459  2017Q4  5644.29  133860
('Key_nav : ', 133860)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        , -0.0419741 , -0.06249837,
       -0.00584103, -0.02333222, -0.07070398,  0.13392642,  0.161666  ,
       -0.01239009,  0.03526221,  0.12678723,  0.08458707,  0.01935925]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,  1494.97,  4047.22,  4190.8 ,  4122.15,
        3787.34,  4201.12,  4769.79,  4606.34,  4798.63,  5277.28,
        5655.1 ,  5644.29]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan, -0.0419741 , -0.06249837,
       -0.00584103, -0.02333222, -0.07070398,  0.13392642,  0.161666  ,
       -0.01239009,  0.03526221,  0.12678723,  0.08458707,  0.01935925]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
168440  2013Q1     0.00  133860
168441  2013Q2     0.00  133860
168442  2013Q3     0.00  133860
168443  2013Q4     0.00  133860
168444  2014Q1     0.00  133860
168445  2014Q2     0.00  133860
168446  2014Q3     0.00  133860
168447  2014Q4     0.00  133860
168448  2015Q1  1494.97  133860
168449  2015Q2  4047.22  133860
168450  2015Q3  4190.80  133860
168451  2015Q4  4122.15  133860
168452  2016Q1  3787.34  133860
168453  2016Q2  4201.12  133860
168454  2016Q3  4769.79  133860
168455  2016Q4  4606.34  133860
168456  2017Q1  4798.63  133860
168457  2017Q2  5277.28  133860
168458  2017Q3  5655.10  133860
168459  2017Q4  5644.29  133860>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
800  2013Q1  0.000000  133860
801  2013Q2  0.000000  133860
802  2013Q3  0.000000  133860
803  2013Q4  0.000000  133860
804  2014Q1  0.000000  133860
805  2014Q2  0.000000  133860
806  2014Q3  0.000000  133860
807  2014Q4  0.000000  133860
808  2015Q1 -0.041974  133860
809  2015Q2 -0.062498  133860
810  2015Q3 -0.005841  133860
811  2015Q4 -0.023332  133860
812  2016Q1 -0.070704  133860
813  2016Q2  0.133926  133860
814  2016Q3  0.161666  133860
815  2016Q4 -0.012390  133860
816  2017Q1  0.035262  133860
817  2017Q2  0.126787  133860
818  2017Q3  0.084587  133860
819  2017Q4  0.019359  133860>)
('Key_aum: ', 133860)
       Quarter     Data      ID
168440  2013Q1     0.00  133860
168441  2013Q2     0.00  133860
168442  2013Q3     0.00  133860
168443  2013Q4     0.00  133860
168444  2014Q1     0.00  133860
168445  2014Q2     0.00  133860
168446  2014Q3     0.00  133860
168447  2014Q4     0.00  133860
168448  2015Q1  1494.97  133860
168449  2015Q2  4047.22  133860
168450  2015Q3  4190.80  133860
168451  2015Q4  4122.15  133860
168452  2016Q1  3787.34  133860
168453  2016Q2  4201.12  133860
168454  2016Q3  4769.79  133860
168455  2016Q4  4606.34  133860
168456  2017Q1  4798.63  133860
168457  2017Q2  5277.28  133860
168458  2017Q3  5655.10  133860
168459  2017Q4  5644.29  133860
('Key_nav : ', 133860)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        , -0.0419741 , -0.06249837,
       -0.00584103, -0.02333222, -0.07070398,  0.13392642,  0.161666  ,
       -0.01239009,  0.03526221,  0.12678723,  0.08458707,  0.01935925]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,  1494.97,  4047.22,  4190.8 ,  4122.15,
        3787.34,  4201.12,  4769.79,  4606.34,  4798.63,  5277.28,
        5655.1 ,  5644.29]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan, -0.0419741 , -0.06249837,
       -0.00584103, -0.02333222, -0.07070398,  0.13392642,  0.161666  ,
       -0.01239009,  0.03526221,  0.12678723,  0.08458707,  0.01935925]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
168440  2013Q1     0.00  133860
168441  2013Q2     0.00  133860
168442  2013Q3     0.00  133860
168443  2013Q4     0.00  133860
168444  2014Q1     0.00  133860
168445  2014Q2     0.00  133860
168446  2014Q3     0.00  133860
168447  2014Q4     0.00  133860
168448  2015Q1  1494.97  133860
168449  2015Q2  4047.22  133860
168450  2015Q3  4190.80  133860
168451  2015Q4  4122.15  133860
168452  2016Q1  3787.34  133860
168453  2016Q2  4201.12  133860
168454  2016Q3  4769.79  133860
168455  2016Q4  4606.34  133860
168456  2017Q1  4798.63  133860
168457  2017Q2  5277.28  133860
168458  2017Q3  5655.10  133860
168459  2017Q4  5644.29  133860>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
800  2013Q1  0.000000  133860
801  2013Q2  0.000000  133860
802  2013Q3  0.000000  133860
803  2013Q4  0.000000  133860
804  2014Q1  0.000000  133860
805  2014Q2  0.000000  133860
806  2014Q3  0.000000  133860
807  2014Q4  0.000000  133860
808  2015Q1 -0.041974  133860
809  2015Q2 -0.062498  133860
810  2015Q3 -0.005841  133860
811  2015Q4 -0.023332  133860
812  2016Q1 -0.070704  133860
813  2016Q2  0.133926  133860
814  2016Q3  0.161666  133860
815  2016Q4 -0.012390  133860
816  2017Q1  0.035262  133860
817  2017Q2  0.126787  133860
818  2017Q3  0.084587  133860
819  2017Q4  0.019359  133860>)
('Key_aum: ', 133860)
       Quarter     Data      ID
168440  2013Q1     0.00  133860
168441  2013Q2     0.00  133860
168442  2013Q3     0.00  133860
168443  2013Q4     0.00  133860
168444  2014Q1     0.00  133860
168445  2014Q2     0.00  133860
168446  2014Q3     0.00  133860
168447  2014Q4     0.00  133860
168448  2015Q1  1494.97  133860
168449  2015Q2  4047.22  133860
168450  2015Q3  4190.80  133860
168451  2015Q4  4122.15  133860
168452  2016Q1  3787.34  133860
168453  2016Q2  4201.12  133860
168454  2016Q3  4769.79  133860
168455  2016Q4  4606.34  133860
168456  2017Q1  4798.63  133860
168457  2017Q2  5277.28  133860
168458  2017Q3  5655.10  133860
168459  2017Q4  5644.29  133860
('Key_nav : ', 133860)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        , -0.0419741 , -0.06249837,
       -0.00584103, -0.02333222, -0.07070398,  0.13392642,  0.161666  ,
       -0.01239009,  0.03526221,  0.12678723,  0.08458707,  0.01935925]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,  1494.97,  4047.22,  4190.8 ,  4122.15,
        3787.34,  4201.12,  4769.79,  4606.34,  4798.63,  5277.28,
        5655.1 ,  5644.29]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan, -0.0419741 , -0.06249837,
       -0.00584103, -0.02333222, -0.07070398,  0.13392642,  0.161666  ,
       -0.01239009,  0.03526221,  0.12678723,  0.08458707,  0.01935925]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
168440  2013Q1     0.00  133860
168441  2013Q2     0.00  133860
168442  2013Q3     0.00  133860
168443  2013Q4     0.00  133860
168444  2014Q1     0.00  133860
168445  2014Q2     0.00  133860
168446  2014Q3     0.00  133860
168447  2014Q4     0.00  133860
168448  2015Q1  1494.97  133860
168449  2015Q2  4047.22  133860
168450  2015Q3  4190.80  133860
168451  2015Q4  4122.15  133860
168452  2016Q1  3787.34  133860
168453  2016Q2  4201.12  133860
168454  2016Q3  4769.79  133860
168455  2016Q4  4606.34  133860
168456  2017Q1  4798.63  133860
168457  2017Q2  5277.28  133860
168458  2017Q3  5655.10  133860
168459  2017Q4  5644.29  133860>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
800  2013Q1  0.000000  133860
801  2013Q2  0.000000  133860
802  2013Q3  0.000000  133860
803  2013Q4  0.000000  133860
804  2014Q1  0.000000  133860
805  2014Q2  0.000000  133860
806  2014Q3  0.000000  133860
807  2014Q4  0.000000  133860
808  2015Q1 -0.041974  133860
809  2015Q2 -0.062498  133860
810  2015Q3 -0.005841  133860
811  2015Q4 -0.023332  133860
812  2016Q1 -0.070704  133860
813  2016Q2  0.133926  133860
814  2016Q3  0.161666  133860
815  2016Q4 -0.012390  133860
816  2017Q1  0.035262  133860
817  2017Q2  0.126787  133860
818  2017Q3  0.084587  133860
819  2017Q4  0.019359  133860>)
('Key_aum: ', 133860)
       Quarter     Data      ID
168440  2013Q1     0.00  133860
168441  2013Q2     0.00  133860
168442  2013Q3     0.00  133860
168443  2013Q4     0.00  133860
168444  2014Q1     0.00  133860
168445  2014Q2     0.00  133860
168446  2014Q3     0.00  133860
168447  2014Q4     0.00  133860
168448  2015Q1  1494.97  133860
168449  2015Q2  4047.22  133860
168450  2015Q3  4190.80  133860
168451  2015Q4  4122.15  133860
168452  2016Q1  3787.34  133860
168453  2016Q2  4201.12  133860
168454  2016Q3  4769.79  133860
168455  2016Q4  4606.34  133860
168456  2017Q1  4798.63  133860
168457  2017Q2  5277.28  133860
168458  2017Q3  5655.10  133860
168459  2017Q4  5644.29  133860
('Key_nav : ', 133860)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        , -0.0419741 , -0.06249837,
       -0.00584103, -0.02333222, -0.07070398,  0.13392642,  0.161666  ,
       -0.01239009,  0.03526221,  0.12678723,  0.08458707,  0.01935925]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,  1494.97,  4047.22,  4190.8 ,  4122.15,
        3787.34,  4201.12,  4769.79,  4606.34,  4798.63,  5277.28,
        5655.1 ,  5644.29]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan, -0.0419741 , -0.06249837,
       -0.00584103, -0.02333222, -0.07070398,  0.13392642,  0.161666  ,
       -0.01239009,  0.03526221,  0.12678723,  0.08458707,  0.01935925]))
('IDs :', [135790])

('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
185280  2013Q1     0.00  135790
185281  2013Q2     0.00  135790
185282  2013Q3     0.00  135790
185283  2013Q4     0.00  135790
185284  2014Q1     0.00  135790
185285  2014Q2     0.00  135790
185286  2014Q3     0.00  135790
185287  2014Q4     0.00  135790
185288  2015Q1     0.00  135790
185289  2015Q2     0.00  135790
185290  2015Q3     0.00  135790
185291  2015Q4    42.34  135790
185292  2016Q1  1109.65  135790
185293  2016Q2  1418.83  135790
185294  2016Q3  1835.98  135790
185295  2016Q4  1935.44  135790
185296  2017Q1  2156.29  135790
185297  2017Q2  2492.54  135790
185298  2017Q3  2823.23  135790
185299  2017Q4  2941.46  135790>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
660  2013Q1  0.000000  135790
661  2013Q2  0.000000  135790
662  2013Q3  0.000000  135790
663  2013Q4  0.000000  135790
664  2014Q1  0.000000  135790
665  2014Q2  0.000000  135790
666  2014Q3  0.000000  135790
667  2014Q4  0.000000  135790
668  2015Q1  0.000000  135790
669  2015Q2  0.000000  135790
670  2015Q3  0.000000  135790
671  2015Q4  0.000295  135790
672  2016Q1 -0.045948  135790
673  2016Q2  0.113457  135790
674  2016Q3  0.161329  135790
675  2016Q4 -0.014380  135790
676  2017Q1  0.066516  135790
677  2017Q2  0.150046  135790
678  2017Q3  0.098668  135790
679  2017Q4  0.002781  135790>)
('Key_aum: ', 135790)
       Quarter     Data      ID
185280  2013Q1     0.00  135790
185281  2013Q2     0.00  135790
185282  2013Q3     0.00  135790
185283  2013Q4     0.00  135790
185284  2014Q1     0.00  135790
185285  2014Q2     0.00  135790
185286  2014Q3     0.00  135790
185287  2014Q4     0.00  135790
185288  2015Q1     0.00  135790
185289  2015Q2     0.00  135790
185290  2015Q3     0.00  135790
185291  2015Q4    42.34  135790
185292  2016Q1  1109.65  135790
185293  2016Q2  1418.83  135790
185294  2016Q3  1835.98  135790
185295  2016Q4  1935.44  135790
185296  2017Q1  2156.29  135790
185297  2017Q2  2492.54  135790
185298  2017Q3  2823.23  135790
185299  2017Q4  2941.46  135790
('Key_nav : ', 135790)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.00029516, -0.04594837,  0.11345661,  0.16132905,
       -0.01437963,  0.06651589,  0.15004599,  0.0986675 ,  0.00278061]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    42.34,
        1109.65,  1418.83,  1835.98,  1935.44,  2156.29,  2492.54,
        2823.23,  2941.46]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,  0.00029516, -0.04594837,  0.11345661,  0.16132905,
       -0.01437963,  0.06651589,  0.15004599,  0.0986675 ,  0.00278061]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
185280  2013Q1     0.00  135790
185281  2013Q2     0.00  135790
185282  2013Q3     0.00  135790
185283  2013Q4     0.00  135790
185284  2014Q1     0.00  135790
185285  2014Q2     0.00  135790
185286  2014Q3     0.00  135790
185287  2014Q4     0.00  135790
185288  2015Q1     0.00  135790
185289  2015Q2     0.00  135790
185290  2015Q3     0.00  135790
185291  2015Q4    42.34  135790
185292  2016Q1  1109.65  135790
185293  2016Q2  1418.83  135790
185294  2016Q3  1835.98  135790
185295  2016Q4  1935.44  135790
185296  2017Q1  2156.29  135790
185297  2017Q2  2492.54  135790
185298  2017Q3  2823.23  135790
185299  2017Q4  2941.46  135790>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
660  2013Q1  0.000000  135790
661  2013Q2  0.000000  135790
662  2013Q3  0.000000  135790
663  2013Q4  0.000000  135790
664  2014Q1  0.000000  135790
665  2014Q2  0.000000  135790
666  2014Q3  0.000000  135790
667  2014Q4  0.000000  135790
668  2015Q1  0.000000  135790
669  2015Q2  0.000000  135790
670  2015Q3  0.000000  135790
671  2015Q4  0.000295  135790
672  2016Q1 -0.045948  135790
673  2016Q2  0.113457  135790
674  2016Q3  0.161329  135790
675  2016Q4 -0.014380  135790
676  2017Q1  0.066516  135790
677  2017Q2  0.150046  135790
678  2017Q3  0.098668  135790
679  2017Q4  0.002781  135790>)
('Key_aum: ', 135790)
       Quarter     Data      ID
185280  2013Q1     0.00  135790
185281  2013Q2     0.00  135790
185282  2013Q3     0.00  135790
185283  2013Q4     0.00  135790
185284  2014Q1     0.00  135790
185285  2014Q2     0.00  135790
185286  2014Q3     0.00  135790
185287  2014Q4     0.00  135790
185288  2015Q1     0.00  135790
185289  2015Q2     0.00  135790
185290  2015Q3     0.00  135790
185291  2015Q4    42.34  135790
185292  2016Q1  1109.65  135790
185293  2016Q2  1418.83  135790
185294  2016Q3  1835.98  135790
185295  2016Q4  1935.44  135790
185296  2017Q1  2156.29  135790
185297  2017Q2  2492.54  135790
185298  2017Q3  2823.23  135790
185299  2017Q4  2941.46  135790
('Key_nav : ', 135790)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.00029516, -0.04594837,  0.11345661,  0.16132905,
       -0.01437963,  0.06651589,  0.15004599,  0.0986675 ,  0.00278061]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    42.34,
        1109.65,  1418.83,  1835.98,  1935.44,  2156.29,  2492.54,
        2823.23,  2941.46]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,  0.00029516, -0.04594837,  0.11345661,  0.16132905,
       -0.01437963,  0.06651589,  0.15004599,  0.0986675 ,  0.00278061]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
185280  2013Q1     0.00  135790
185281  2013Q2     0.00  135790
185282  2013Q3     0.00  135790
185283  2013Q4     0.00  135790
185284  2014Q1     0.00  135790
185285  2014Q2     0.00  135790
185286  2014Q3     0.00  135790
185287  2014Q4     0.00  135790
185288  2015Q1     0.00  135790
185289  2015Q2     0.00  135790
185290  2015Q3     0.00  135790
185291  2015Q4    42.34  135790
185292  2016Q1  1109.65  135790
185293  2016Q2  1418.83  135790
185294  2016Q3  1835.98  135790
185295  2016Q4  1935.44  135790
185296  2017Q1  2156.29  135790
185297  2017Q2  2492.54  135790
185298  2017Q3  2823.23  135790
185299  2017Q4  2941.46  135790>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
660  2013Q1  0.000000  135790
661  2013Q2  0.000000  135790
662  2013Q3  0.000000  135790
663  2013Q4  0.000000  135790
664  2014Q1  0.000000  135790
665  2014Q2  0.000000  135790
666  2014Q3  0.000000  135790
667  2014Q4  0.000000  135790
668  2015Q1  0.000000  135790
669  2015Q2  0.000000  135790
670  2015Q3  0.000000  135790
671  2015Q4  0.000295  135790
672  2016Q1 -0.045948  135790
673  2016Q2  0.113457  135790
674  2016Q3  0.161329  135790
675  2016Q4 -0.014380  135790
676  2017Q1  0.066516  135790
677  2017Q2  0.150046  135790
678  2017Q3  0.098668  135790
679  2017Q4  0.002781  135790>)
('Key_aum: ', 135790)
       Quarter     Data      ID
185280  2013Q1     0.00  135790
185281  2013Q2     0.00  135790
185282  2013Q3     0.00  135790
185283  2013Q4     0.00  135790
185284  2014Q1     0.00  135790
185285  2014Q2     0.00  135790
185286  2014Q3     0.00  135790
185287  2014Q4     0.00  135790
185288  2015Q1     0.00  135790
185289  2015Q2     0.00  135790
185290  2015Q3     0.00  135790
185291  2015Q4    42.34  135790
185292  2016Q1  1109.65  135790
185293  2016Q2  1418.83  135790
185294  2016Q3  1835.98  135790
185295  2016Q4  1935.44  135790
185296  2017Q1  2156.29  135790
185297  2017Q2  2492.54  135790
185298  2017Q3  2823.23  135790
185299  2017Q4  2941.46  135790
('Key_nav : ', 135790)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.00029516, -0.04594837,  0.11345661,  0.16132905,
       -0.01437963,  0.06651589,  0.15004599,  0.0986675 ,  0.00278061]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    42.34,
        1109.65,  1418.83,  1835.98,  1935.44,  2156.29,  2492.54,
        2823.23,  2941.46]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,  0.00029516, -0.04594837,  0.11345661,  0.16132905,
       -0.01437963,  0.06651589,  0.15004599,  0.0986675 ,  0.00278061]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
185280  2013Q1     0.00  135790
185281  2013Q2     0.00  135790
185282  2013Q3     0.00  135790
185283  2013Q4     0.00  135790
185284  2014Q1     0.00  135790
185285  2014Q2     0.00  135790
185286  2014Q3     0.00  135790
185287  2014Q4     0.00  135790
185288  2015Q1     0.00  135790
185289  2015Q2     0.00  135790
185290  2015Q3     0.00  135790
185291  2015Q4    42.34  135790
185292  2016Q1  1109.65  135790
185293  2016Q2  1418.83  135790
185294  2016Q3  1835.98  135790
185295  2016Q4  1935.44  135790
185296  2017Q1  2156.29  135790
185297  2017Q2  2492.54  135790
185298  2017Q3  2823.23  135790
185299  2017Q4  2941.46  135790>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
660  2013Q1  0.000000  135790
661  2013Q2  0.000000  135790
662  2013Q3  0.000000  135790
663  2013Q4  0.000000  135790
664  2014Q1  0.000000  135790
665  2014Q2  0.000000  135790
666  2014Q3  0.000000  135790
667  2014Q4  0.000000  135790
668  2015Q1  0.000000  135790
669  2015Q2  0.000000  135790
670  2015Q3  0.000000  135790
671  2015Q4  0.000295  135790
672  2016Q1 -0.045948  135790
673  2016Q2  0.113457  135790
674  2016Q3  0.161329  135790
675  2016Q4 -0.014380  135790
676  2017Q1  0.066516  135790
677  2017Q2  0.150046  135790
678  2017Q3  0.098668  135790
679  2017Q4  0.002781  135790>)
('Key_aum: ', 135790)
       Quarter     Data      ID
185280  2013Q1     0.00  135790
185281  2013Q2     0.00  135790
185282  2013Q3     0.00  135790
185283  2013Q4     0.00  135790
185284  2014Q1     0.00  135790
185285  2014Q2     0.00  135790
185286  2014Q3     0.00  135790
185287  2014Q4     0.00  135790
185288  2015Q1     0.00  135790
185289  2015Q2     0.00  135790
185290  2015Q3     0.00  135790
185291  2015Q4    42.34  135790
185292  2016Q1  1109.65  135790
185293  2016Q2  1418.83  135790
185294  2016Q3  1835.98  135790
185295  2016Q4  1935.44  135790
185296  2017Q1  2156.29  135790
185297  2017Q2  2492.54  135790
185298  2017Q3  2823.23  135790
185299  2017Q4  2941.46  135790
('Key_nav : ', 135790)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.00029516, -0.04594837,  0.11345661,  0.16132905,
       -0.01437963,  0.06651589,  0.15004599,  0.0986675 ,  0.00278061]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    42.34,
        1109.65,  1418.83,  1835.98,  1935.44,  2156.29,  2492.54,
        2823.23,  2941.46]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,  0.00029516, -0.04594837,  0.11345661,  0.16132905,
       -0.01437963,  0.06651589,  0.15004599,  0.0986675 ,  0.00278061]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
185280  2013Q1     0.00  135790
185281  2013Q2     0.00  135790
185282  2013Q3     0.00  135790
185283  2013Q4     0.00  135790
185284  2014Q1     0.00  135790
185285  2014Q2     0.00  135790
185286  2014Q3     0.00  135790
185287  2014Q4     0.00  135790
185288  2015Q1     0.00  135790
185289  2015Q2     0.00  135790
185290  2015Q3     0.00  135790
185291  2015Q4    42.34  135790
185292  2016Q1  1109.65  135790
185293  2016Q2  1418.83  135790
185294  2016Q3  1835.98  135790
185295  2016Q4  1935.44  135790
185296  2017Q1  2156.29  135790
185297  2017Q2  2492.54  135790
185298  2017Q3  2823.23  135790
185299  2017Q4  2941.46  135790>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
660  2013Q1  0.000000  135790
661  2013Q2  0.000000  135790
662  2013Q3  0.000000  135790
663  2013Q4  0.000000  135790
664  2014Q1  0.000000  135790
665  2014Q2  0.000000  135790
666  2014Q3  0.000000  135790
667  2014Q4  0.000000  135790
668  2015Q1  0.000000  135790
669  2015Q2  0.000000  135790
670  2015Q3  0.000000  135790
671  2015Q4  0.000295  135790
672  2016Q1 -0.045948  135790
673  2016Q2  0.113457  135790
674  2016Q3  0.161329  135790
675  2016Q4 -0.014380  135790
676  2017Q1  0.066516  135790
677  2017Q2  0.150046  135790
678  2017Q3  0.098668  135790
679  2017Q4  0.002781  135790>)
('Key_aum: ', 135790)
       Quarter     Data      ID
185280  2013Q1     0.00  135790
185281  2013Q2     0.00  135790
185282  2013Q3     0.00  135790
185283  2013Q4     0.00  135790
185284  2014Q1     0.00  135790
185285  2014Q2     0.00  135790
185286  2014Q3     0.00  135790
185287  2014Q4     0.00  135790
185288  2015Q1     0.00  135790
185289  2015Q2     0.00  135790
185290  2015Q3     0.00  135790
185291  2015Q4    42.34  135790
185292  2016Q1  1109.65  135790
185293  2016Q2  1418.83  135790
185294  2016Q3  1835.98  135790
185295  2016Q4  1935.44  135790
185296  2017Q1  2156.29  135790
185297  2017Q2  2492.54  135790
185298  2017Q3  2823.23  135790
185299  2017Q4  2941.46  135790
('Key_nav : ', 135790)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.00029516, -0.04594837,  0.11345661,  0.16132905,
       -0.01437963,  0.06651589,  0.15004599,  0.0986675 ,  0.00278061]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    42.34,
        1109.65,  1418.83,  1835.98,  1935.44,  2156.29,  2492.54,
        2823.23,  2941.46]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,  0.00029516, -0.04594837,  0.11345661,  0.16132905,
       -0.01437963,  0.06651589,  0.15004599,  0.0986675 ,  0.00278061]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
185280  2013Q1     0.00  135790
185281  2013Q2     0.00  135790
185282  2013Q3     0.00  135790
185283  2013Q4     0.00  135790
185284  2014Q1     0.00  135790
185285  2014Q2     0.00  135790
185286  2014Q3     0.00  135790
185287  2014Q4     0.00  135790
185288  2015Q1     0.00  135790
185289  2015Q2     0.00  135790
185290  2015Q3     0.00  135790
185291  2015Q4    42.34  135790
185292  2016Q1  1109.65  135790
185293  2016Q2  1418.83  135790
185294  2016Q3  1835.98  135790
185295  2016Q4  1935.44  135790
185296  2017Q1  2156.29  135790
185297  2017Q2  2492.54  135790
185298  2017Q3  2823.23  135790
185299  2017Q4  2941.46  135790>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
660  2013Q1  0.000000  135790
661  2013Q2  0.000000  135790
662  2013Q3  0.000000  135790
663  2013Q4  0.000000  135790
664  2014Q1  0.000000  135790
665  2014Q2  0.000000  135790
666  2014Q3  0.000000  135790
667  2014Q4  0.000000  135790
668  2015Q1  0.000000  135790
669  2015Q2  0.000000  135790
670  2015Q3  0.000000  135790
671  2015Q4  0.000295  135790
672  2016Q1 -0.045948  135790
673  2016Q2  0.113457  135790
674  2016Q3  0.161329  135790
675  2016Q4 -0.014380  135790
676  2017Q1  0.066516  135790
677  2017Q2  0.150046  135790
678  2017Q3  0.098668  135790
679  2017Q4  0.002781  135790>)
('Key_aum: ', 135790)
       Quarter     Data      ID
185280  2013Q1     0.00  135790
185281  2013Q2     0.00  135790
185282  2013Q3     0.00  135790
185283  2013Q4     0.00  135790
185284  2014Q1     0.00  135790
185285  2014Q2     0.00  135790
185286  2014Q3     0.00  135790
185287  2014Q4     0.00  135790
185288  2015Q1     0.00  135790
185289  2015Q2     0.00  135790
185290  2015Q3     0.00  135790
185291  2015Q4    42.34  135790
185292  2016Q1  1109.65  135790
185293  2016Q2  1418.83  135790
185294  2016Q3  1835.98  135790
185295  2016Q4  1935.44  135790
185296  2017Q1  2156.29  135790
185297  2017Q2  2492.54  135790
185298  2017Q3  2823.23  135790
185299  2017Q4  2941.46  135790
('Key_nav : ', 135790)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.00029516, -0.04594837,  0.11345661,  0.16132905,
       -0.01437963,  0.06651589,  0.15004599,  0.0986675 ,  0.00278061]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    42.34,
        1109.65,  1418.83,  1835.98,  1935.44,  2156.29,  2492.54,
        2823.23,  2941.46]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,  0.00029516, -0.04594837,  0.11345661,  0.16132905,
       -0.01437963,  0.06651589,  0.15004599,  0.0986675 ,  0.00278061]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
185280  2013Q1     0.00  135790
185281  2013Q2     0.00  135790
185282  2013Q3     0.00  135790
185283  2013Q4     0.00  135790
185284  2014Q1     0.00  135790
185285  2014Q2     0.00  135790
185286  2014Q3     0.00  135790
185287  2014Q4     0.00  135790
185288  2015Q1     0.00  135790
185289  2015Q2     0.00  135790
185290  2015Q3     0.00  135790
185291  2015Q4    42.34  135790
185292  2016Q1  1109.65  135790
185293  2016Q2  1418.83  135790
185294  2016Q3  1835.98  135790
185295  2016Q4  1935.44  135790
185296  2017Q1  2156.29  135790
185297  2017Q2  2492.54  135790
185298  2017Q3  2823.23  135790
185299  2017Q4  2941.46  135790>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
660  2013Q1  0.000000  135790
661  2013Q2  0.000000  135790
662  2013Q3  0.000000  135790
663  2013Q4  0.000000  135790
664  2014Q1  0.000000  135790
665  2014Q2  0.000000  135790
666  2014Q3  0.000000  135790
667  2014Q4  0.000000  135790
668  2015Q1  0.000000  135790
669  2015Q2  0.000000  135790
670  2015Q3  0.000000  135790
671  2015Q4  0.000295  135790
672  2016Q1 -0.045948  135790
673  2016Q2  0.113457  135790
674  2016Q3  0.161329  135790
675  2016Q4 -0.014380  135790
676  2017Q1  0.066516  135790
677  2017Q2  0.150046  135790
678  2017Q3  0.098668  135790
679  2017Q4  0.002781  135790>)
('Key_aum: ', 135790)
       Quarter     Data      ID
185280  2013Q1     0.00  135790
185281  2013Q2     0.00  135790
185282  2013Q3     0.00  135790
185283  2013Q4     0.00  135790
185284  2014Q1     0.00  135790
185285  2014Q2     0.00  135790
185286  2014Q3     0.00  135790
185287  2014Q4     0.00  135790
185288  2015Q1     0.00  135790
185289  2015Q2     0.00  135790
185290  2015Q3     0.00  135790
185291  2015Q4    42.34  135790
185292  2016Q1  1109.65  135790
185293  2016Q2  1418.83  135790
185294  2016Q3  1835.98  135790
185295  2016Q4  1935.44  135790
185296  2017Q1  2156.29  135790
185297  2017Q2  2492.54  135790
185298  2017Q3  2823.23  135790
185299  2017Q4  2941.46  135790
('Key_nav : ', 135790)

('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,  0.00029516, -0.04594837,  0.11345661,  0.16132905,
       -0.01437963,  0.06651589,  0.15004599,  0.0986675 ,  0.00278061]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
185280  2013Q1     0.00  135790
185281  2013Q2     0.00  135790
185282  2013Q3     0.00  135790
185283  2013Q4     0.00  135790
185284  2014Q1     0.00  135790
185285  2014Q2     0.00  135790
185286  2014Q3     0.00  135790
185287  2014Q4     0.00  135790
185288  2015Q1     0.00  135790
185289  2015Q2     0.00  135790
185290  2015Q3     0.00  135790
185291  2015Q4    42.34  135790
185292  2016Q1  1109.65  135790
185293  2016Q2  1418.83  135790
185294  2016Q3  1835.98  135790
185295  2016Q4  1935.44  135790
185296  2017Q1  2156.29  135790
185297  2017Q2  2492.54  135790
185298  2017Q3  2823.23  135790
185299  2017Q4  2941.46  135790>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
660  2013Q1  0.000000  135790
661  2013Q2  0.000000  135790
662  2013Q3  0.000000  135790
663  2013Q4  0.000000  135790
664  2014Q1  0.000000  135790
665  2014Q2  0.000000  135790
666  2014Q3  0.000000  135790
667  2014Q4  0.000000  135790
668  2015Q1  0.000000  135790
669  2015Q2  0.000000  135790
670  2015Q3  0.000000  135790
671  2015Q4  0.000295  135790
672  2016Q1 -0.045948  135790
673  2016Q2  0.113457  135790
674  2016Q3  0.161329  135790
675  2016Q4 -0.014380  135790
676  2017Q1  0.066516  135790
677  2017Q2  0.150046  135790
678  2017Q3  0.098668  135790
679  2017Q4  0.002781  135790>)
('Key_aum: ', 135790)
       Quarter     Data      ID
185280  2013Q1     0.00  135790
185281  2013Q2     0.00  135790
185282  2013Q3     0.00  135790
185283  2013Q4     0.00  135790
185284  2014Q1     0.00  135790
185285  2014Q2     0.00  135790
185286  2014Q3     0.00  135790
185287  2014Q4     0.00  135790
185288  2015Q1     0.00  135790
185289  2015Q2     0.00  135790
185290  2015Q3     0.00  135790
185291  2015Q4    42.34  135790
185292  2016Q1  1109.65  135790
185293  2016Q2  1418.83  135790
185294  2016Q3  1835.98  135790
185295  2016Q4  1935.44  135790
185296  2017Q1  2156.29  135790
185297  2017Q2  2492.54  135790
185298  2017Q3  2823.23  135790
185299  2017Q4  2941.46  135790
('Key_nav : ', 135790)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.00029516, -0.04594837,  0.11345661,  0.16132905,
       -0.01437963,  0.06651589,  0.15004599,  0.0986675 ,  0.00278061]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    42.34,
        1109.65,  1418.83,  1835.98,  1935.44,  2156.29,  2492.54,
        2823.23,  2941.46]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,  0.00029516, -0.04594837,  0.11345661,  0.16132905,
       -0.01437963,  0.06651589,  0.15004599,  0.0986675 ,  0.00278061]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
185280  2013Q1     0.00  135790
185281  2013Q2     0.00  135790
185282  2013Q3     0.00  135790
185283  2013Q4     0.00  135790
185284  2014Q1     0.00  135790
185285  2014Q2     0.00  135790
185286  2014Q3     0.00  135790
185287  2014Q4     0.00  135790
185288  2015Q1     0.00  135790
185289  2015Q2     0.00  135790
185290  2015Q3     0.00  135790
185291  2015Q4    42.34  135790
185292  2016Q1  1109.65  135790
185293  2016Q2  1418.83  135790
185294  2016Q3  1835.98  135790
185295  2016Q4  1935.44  135790
185296  2017Q1  2156.29  135790
185297  2017Q2  2492.54  135790
185298  2017Q3  2823.23  135790
185299  2017Q4  2941.46  135790>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
660  2013Q1  0.000000  135790
661  2013Q2  0.000000  135790
662  2013Q3  0.000000  135790
663  2013Q4  0.000000  135790
664  2014Q1  0.000000  135790
665  2014Q2  0.000000  135790
666  2014Q3  0.000000  135790
667  2014Q4  0.000000  135790
668  2015Q1  0.000000  135790
669  2015Q2  0.000000  135790
670  2015Q3  0.000000  135790
671  2015Q4  0.000295  135790
672  2016Q1 -0.045948  135790
673  2016Q2  0.113457  135790
674  2016Q3  0.161329  135790
675  2016Q4 -0.014380  135790
676  2017Q1  0.066516  135790
677  2017Q2  0.150046  135790
678  2017Q3  0.098668  135790
679  2017Q4  0.002781  135790>)
('Key_aum: ', 135790)
       Quarter     Data      ID
185280  2013Q1     0.00  135790
185281  2013Q2     0.00  135790
185282  2013Q3     0.00  135790
185283  2013Q4     0.00  135790
185284  2014Q1     0.00  135790
185285  2014Q2     0.00  135790
185286  2014Q3     0.00  135790
185287  2014Q4     0.00  135790
185288  2015Q1     0.00  135790
185289  2015Q2     0.00  135790
185290  2015Q3     0.00  135790
185291  2015Q4    42.34  135790
185292  2016Q1  1109.65  135790
185293  2016Q2  1418.83  135790
185294  2016Q3  1835.98  135790
185295  2016Q4  1935.44  135790
185296  2017Q1  2156.29  135790
185297  2017Q2  2492.54  135790
185298  2017Q3  2823.23  135790
185299  2017Q4  2941.46  135790
('Key_nav : ', 135790)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.00029516, -0.04594837,  0.11345661,  0.16132905,
       -0.01437963,  0.06651589,  0.15004599,  0.0986675 ,  0.00278061]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    42.34,
        1109.65,  1418.83,  1835.98,  1935.44,  2156.29,  2492.54,
        2823.23,  2941.46]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,  0.00029516, -0.04594837,  0.11345661,  0.16132905,
       -0.01437963,  0.06651589,  0.15004599,  0.0986675 ,  0.00278061]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
185280  2013Q1     0.00  135790
185281  2013Q2     0.00  135790
185282  2013Q3     0.00  135790
185283  2013Q4     0.00  135790
185284  2014Q1     0.00  135790
185285  2014Q2     0.00  135790
185286  2014Q3     0.00  135790
185287  2014Q4     0.00  135790
185288  2015Q1     0.00  135790
185289  2015Q2     0.00  135790
185290  2015Q3     0.00  135790
185291  2015Q4    42.34  135790
185292  2016Q1  1109.65  135790
185293  2016Q2  1418.83  135790
185294  2016Q3  1835.98  135790
185295  2016Q4  1935.44  135790
185296  2017Q1  2156.29  135790
185297  2017Q2  2492.54  135790
185298  2017Q3  2823.23  135790
185299  2017Q4  2941.46  135790>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
660  2013Q1  0.000000  135790
661  2013Q2  0.000000  135790
662  2013Q3  0.000000  135790
663  2013Q4  0.000000  135790
664  2014Q1  0.000000  135790
665  2014Q2  0.000000  135790
666  2014Q3  0.000000  135790
667  2014Q4  0.000000  135790
668  2015Q1  0.000000  135790
669  2015Q2  0.000000  135790
670  2015Q3  0.000000  135790
671  2015Q4  0.000295  135790
672  2016Q1 -0.045948  135790
673  2016Q2  0.113457  135790
674  2016Q3  0.161329  135790
675  2016Q4 -0.014380  135790
676  2017Q1  0.066516  135790
677  2017Q2  0.150046  135790
678  2017Q3  0.098668  135790
679  2017Q4  0.002781  135790>)
('Key_aum: ', 135790)
       Quarter     Data      ID
185280  2013Q1     0.00  135790
185281  2013Q2     0.00  135790
185282  2013Q3     0.00  135790
185283  2013Q4     0.00  135790
185284  2014Q1     0.00  135790
185285  2014Q2     0.00  135790
185286  2014Q3     0.00  135790
185287  2014Q4     0.00  135790
185288  2015Q1     0.00  135790
185289  2015Q2     0.00  135790
185290  2015Q3     0.00  135790
185291  2015Q4    42.34  135790
185292  2016Q1  1109.65  135790
185293  2016Q2  1418.83  135790
185294  2016Q3  1835.98  135790
185295  2016Q4  1935.44  135790
185296  2017Q1  2156.29  135790
185297  2017Q2  2492.54  135790
185298  2017Q3  2823.23  135790
185299  2017Q4  2941.46  135790
('Key_nav : ', 135790)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.00029516, -0.04594837,  0.11345661,  0.16132905,
       -0.01437963,  0.06651589,  0.15004599,  0.0986675 ,  0.00278061]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    42.34,
        1109.65,  1418.83,  1835.98,  1935.44,  2156.29,  2492.54,
        2823.23,  2941.46]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,  0.00029516, -0.04594837,  0.11345661,  0.16132905,
       -0.01437963,  0.06651589,  0.15004599,  0.0986675 ,  0.00278061]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
185280  2013Q1     0.00  135790
185281  2013Q2     0.00  135790
185282  2013Q3     0.00  135790
185283  2013Q4     0.00  135790
185284  2014Q1     0.00  135790
185285  2014Q2     0.00  135790
185286  2014Q3     0.00  135790
185287  2014Q4     0.00  135790
185288  2015Q1     0.00  135790
185289  2015Q2     0.00  135790
185290  2015Q3     0.00  135790
185291  2015Q4    42.34  135790
185292  2016Q1  1109.65  135790
185293  2016Q2  1418.83  135790
185294  2016Q3  1835.98  135790
185295  2016Q4  1935.44  135790
185296  2017Q1  2156.29  135790
185297  2017Q2  2492.54  135790
185298  2017Q3  2823.23  135790
185299  2017Q4  2941.46  135790>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
660  2013Q1  0.000000  135790
661  2013Q2  0.000000  135790
662  2013Q3  0.000000  135790
663  2013Q4  0.000000  135790
664  2014Q1  0.000000  135790
665  2014Q2  0.000000  135790
666  2014Q3  0.000000  135790
667  2014Q4  0.000000  135790
668  2015Q1  0.000000  135790
669  2015Q2  0.000000  135790
670  2015Q3  0.000000  135790
671  2015Q4  0.000295  135790
672  2016Q1 -0.045948  135790
673  2016Q2  0.113457  135790
674  2016Q3  0.161329  135790
675  2016Q4 -0.014380  135790
676  2017Q1  0.066516  135790
677  2017Q2  0.150046  135790
678  2017Q3  0.098668  135790
679  2017Q4  0.002781  135790>)
('Key_aum: ', 135790)
       Quarter     Data      ID
185280  2013Q1     0.00  135790
185281  2013Q2     0.00  135790
185282  2013Q3     0.00  135790
185283  2013Q4     0.00  135790
185284  2014Q1     0.00  135790
185285  2014Q2     0.00  135790
185286  2014Q3     0.00  135790
185287  2014Q4     0.00  135790
185288  2015Q1     0.00  135790
185289  2015Q2     0.00  135790
185290  2015Q3     0.00  135790
185291  2015Q4    42.34  135790
185292  2016Q1  1109.65  135790
185293  2016Q2  1418.83  135790
185294  2016Q3  1835.98  135790
185295  2016Q4  1935.44  135790
185296  2017Q1  2156.29  135790
185297  2017Q2  2492.54  135790
185298  2017Q3  2823.23  135790
185299  2017Q4  2941.46  135790
('Key_nav : ', 135790)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.00029516, -0.04594837,  0.11345661,  0.16132905,
       -0.01437963,  0.06651589,  0.15004599,  0.0986675 ,  0.00278061]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    42.34,
        1109.65,  1418.83,  1835.98,  1935.44,  2156.29,  2492.54,
        2823.23,  2941.46]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,  0.00029516, -0.04594837,  0.11345661,  0.16132905,
       -0.01437963,  0.06651589,  0.15004599,  0.0986675 ,  0.00278061]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
185280  2013Q1     0.00  135790
185281  2013Q2     0.00  135790
185282  2013Q3     0.00  135790
185283  2013Q4     0.00  135790
185284  2014Q1     0.00  135790
185285  2014Q2     0.00  135790
185286  2014Q3     0.00  135790
185287  2014Q4     0.00  135790
185288  2015Q1     0.00  135790
185289  2015Q2     0.00  135790
185290  2015Q3     0.00  135790
185291  2015Q4    42.34  135790
185292  2016Q1  1109.65  135790
185293  2016Q2  1418.83  135790
185294  2016Q3  1835.98  135790
185295  2016Q4  1935.44  135790
185296  2017Q1  2156.29  135790
185297  2017Q2  2492.54  135790
185298  2017Q3  2823.23  135790
185299  2017Q4  2941.46  135790>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
660  2013Q1  0.000000  135790
661  2013Q2  0.000000  135790
662  2013Q3  0.000000  135790
663  2013Q4  0.000000  135790
664  2014Q1  0.000000  135790
665  2014Q2  0.000000  135790
666  2014Q3  0.000000  135790
667  2014Q4  0.000000  135790
668  2015Q1  0.000000  135790
669  2015Q2  0.000000  135790
670  2015Q3  0.000000  135790
671  2015Q4  0.000295  135790
672  2016Q1 -0.045948  135790
673  2016Q2  0.113457  135790
674  2016Q3  0.161329  135790
675  2016Q4 -0.014380  135790
676  2017Q1  0.066516  135790
677  2017Q2  0.150046  135790
678  2017Q3  0.098668  135790
679  2017Q4  0.002781  135790>)
('Key_aum: ', 135790)
       Quarter     Data      ID
185280  2013Q1     0.00  135790
185281  2013Q2     0.00  135790
185282  2013Q3     0.00  135790
185283  2013Q4     0.00  135790
185284  2014Q1     0.00  135790
185285  2014Q2     0.00  135790
185286  2014Q3     0.00  135790
185287  2014Q4     0.00  135790
185288  2015Q1     0.00  135790
185289  2015Q2     0.00  135790
185290  2015Q3     0.00  135790
185291  2015Q4    42.34  135790
185292  2016Q1  1109.65  135790
185293  2016Q2  1418.83  135790
185294  2016Q3  1835.98  135790
185295  2016Q4  1935.44  135790
185296  2017Q1  2156.29  135790
185297  2017Q2  2492.54  135790
185298  2017Q3  2823.23  135790
185299  2017Q4  2941.46  135790
('Key_nav : ', 135790)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.00029516, -0.04594837,  0.11345661,  0.16132905,
       -0.01437963,  0.06651589,  0.15004599,  0.0986675 ,  0.00278061]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    42.34,
        1109.65,  1418.83,  1835.98,  1935.44,  2156.29,  2492.54,
        2823.23,  2941.46]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,  0.00029516, -0.04594837,  0.11345661,  0.16132905,
       -0.01437963,  0.06651589,  0.15004599,  0.0986675 ,  0.00278061]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
185280  2013Q1     0.00  135790
185281  2013Q2     0.00  135790
185282  2013Q3     0.00  135790
185283  2013Q4     0.00  135790
185284  2014Q1     0.00  135790
185285  2014Q2     0.00  135790
185286  2014Q3     0.00  135790
185287  2014Q4     0.00  135790
185288  2015Q1     0.00  135790
185289  2015Q2     0.00  135790
185290  2015Q3     0.00  135790
185291  2015Q4    42.34  135790
185292  2016Q1  1109.65  135790
185293  2016Q2  1418.83  135790
185294  2016Q3  1835.98  135790
185295  2016Q4  1935.44  135790
185296  2017Q1  2156.29  135790
185297  2017Q2  2492.54  135790
185298  2017Q3  2823.23  135790
185299  2017Q4  2941.46  135790>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
660  2013Q1  0.000000  135790
661  2013Q2  0.000000  135790
662  2013Q3  0.000000  135790
663  2013Q4  0.000000  135790
664  2014Q1  0.000000  135790
665  2014Q2  0.000000  135790
666  2014Q3  0.000000  135790
667  2014Q4  0.000000  135790
668  2015Q1  0.000000  135790
669  2015Q2  0.000000  135790
670  2015Q3  0.000000  135790
671  2015Q4  0.000295  135790
672  2016Q1 -0.045948  135790
673  2016Q2  0.113457  135790
674  2016Q3  0.161329  135790
675  2016Q4 -0.014380  135790
676  2017Q1  0.066516  135790
677  2017Q2  0.150046  135790
678  2017Q3  0.098668  135790
679  2017Q4  0.002781  135790>)
('Key_aum: ', 135790)
       Quarter     Data      ID
185280  2013Q1     0.00  135790
185281  2013Q2     0.00  135790
185282  2013Q3     0.00  135790
185283  2013Q4     0.00  135790
185284  2014Q1     0.00  135790
185285  2014Q2     0.00  135790
185286  2014Q3     0.00  135790
185287  2014Q4     0.00  135790
185288  2015Q1     0.00  135790
185289  2015Q2     0.00  135790
185290  2015Q3     0.00  135790
185291  2015Q4    42.34  135790
185292  2016Q1  1109.65  135790
185293  2016Q2  1418.83  135790
185294  2016Q3  1835.98  135790
185295  2016Q4  1935.44  135790
185296  2017Q1  2156.29  135790
185297  2017Q2  2492.54  135790
185298  2017Q3  2823.23  135790
185299  2017Q4  2941.46  135790
('Key_nav : ', 135790)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.00029516, -0.04594837,  0.11345661,  0.16132905,
       -0.01437963,  0.06651589,  0.15004599,  0.0986675 ,  0.00278061]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    42.34,
        1109.65,  1418.83,  1835.98,  1935.44,  2156.29,  2492.54,
        2823.23,  2941.46]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,  0.00029516, -0.04594837,  0.11345661,  0.16132905,
       -0.01437963,  0.06651589,  0.15004599,  0.0986675 ,  0.00278061]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
185280  2013Q1     0.00  135790
185281  2013Q2     0.00  135790
185282  2013Q3     0.00  135790
185283  2013Q4     0.00  135790
185284  2014Q1     0.00  135790
185285  2014Q2     0.00  135790
185286  2014Q3     0.00  135790
185287  2014Q4     0.00  135790
185288  2015Q1     0.00  135790
185289  2015Q2     0.00  135790
185290  2015Q3     0.00  135790
185291  2015Q4    42.34  135790
185292  2016Q1  1109.65  135790
185293  2016Q2  1418.83  135790
185294  2016Q3  1835.98  135790
185295  2016Q4  1935.44  135790
185296  2017Q1  2156.29  135790
185297  2017Q2  2492.54  135790
185298  2017Q3  2823.23  135790
185299  2017Q4  2941.46  135790>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
660  2013Q1  0.000000  135790
661  2013Q2  0.000000  135790
662  2013Q3  0.000000  135790
663  2013Q4  0.000000  135790
664  2014Q1  0.000000  135790
665  2014Q2  0.000000  135790
666  2014Q3  0.000000  135790
667  2014Q4  0.000000  135790
668  2015Q1  0.000000  135790
669  2015Q2  0.000000  135790
670  2015Q3  0.000000  135790
671  2015Q4  0.000295  135790
672  2016Q1 -0.045948  135790
673  2016Q2  0.113457  135790
674  2016Q3  0.161329  135790
675  2016Q4 -0.014380  135790
676  2017Q1  0.066516  135790
677  2017Q2  0.150046  135790
678  2017Q3  0.098668  135790
679  2017Q4  0.002781  135790>)
('Key_aum: ', 135790)
       Quarter     Data      ID
185280  2013Q1     0.00  135790
185281  2013Q2     0.00  135790
185282  2013Q3     0.00  135790
185283  2013Q4     0.00  135790
185284  2014Q1     0.00  135790
185285  2014Q2     0.00  135790
185286  2014Q3     0.00  135790
185287  2014Q4     0.00  135790
185288  2015Q1     0.00  135790
185289  2015Q2     0.00  135790
185290  2015Q3     0.00  135790
185291  2015Q4    42.34  135790
185292  2016Q1  1109.65  135790

('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
185280  2013Q1     0.00  135790
185281  2013Q2     0.00  135790
185282  2013Q3     0.00  135790
185283  2013Q4     0.00  135790
185284  2014Q1     0.00  135790
185285  2014Q2     0.00  135790
185286  2014Q3     0.00  135790
185287  2014Q4     0.00  135790
185288  2015Q1     0.00  135790
185289  2015Q2     0.00  135790
185290  2015Q3     0.00  135790
185291  2015Q4    42.34  135790
185292  2016Q1  1109.65  135790
185293  2016Q2  1418.83  135790
185294  2016Q3  1835.98  135790
185295  2016Q4  1935.44  135790
185296  2017Q1  2156.29  135790
185297  2017Q2  2492.54  135790
185298  2017Q3  2823.23  135790
185299  2017Q4  2941.46  135790>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
660  2013Q1  0.000000  135790
661  2013Q2  0.000000  135790
662  2013Q3  0.000000  135790
663  2013Q4  0.000000  135790
664  2014Q1  0.000000  135790
665  2014Q2  0.000000  135790
666  2014Q3  0.000000  135790
667  2014Q4  0.000000  135790
668  2015Q1  0.000000  135790
669  2015Q2  0.000000  135790
670  2015Q3  0.000000  135790
671  2015Q4  0.000295  135790
672  2016Q1 -0.045948  135790
673  2016Q2  0.113457  135790
674  2016Q3  0.161329  135790
675  2016Q4 -0.014380  135790
676  2017Q1  0.066516  135790
677  2017Q2  0.150046  135790
678  2017Q3  0.098668  135790
679  2017Q4  0.002781  135790>)
('Key_aum: ', 135790)
       Quarter     Data      ID
185280  2013Q1     0.00  135790
185281  2013Q2     0.00  135790
185282  2013Q3     0.00  135790
185283  2013Q4     0.00  135790
185284  2014Q1     0.00  135790
185285  2014Q2     0.00  135790
185286  2014Q3     0.00  135790
185287  2014Q4     0.00  135790
185288  2015Q1     0.00  135790
185289  2015Q2     0.00  135790
185290  2015Q3     0.00  135790
185291  2015Q4    42.34  135790
185292  2016Q1  1109.65  135790
185293  2016Q2  1418.83  135790
185294  2016Q3  1835.98  135790
185295  2016Q4  1935.44  135790
185296  2017Q1  2156.29  135790
185297  2017Q2  2492.54  135790
185298  2017Q3  2823.23  135790
185299  2017Q4  2941.46  135790
('Key_nav : ', 135790)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.00029516, -0.04594837,  0.11345661,  0.16132905,
       -0.01437963,  0.06651589,  0.15004599,  0.0986675 ,  0.00278061]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    42.34,
        1109.65,  1418.83,  1835.98,  1935.44,  2156.29,  2492.54,
        2823.23,  2941.46]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,  0.00029516, -0.04594837,  0.11345661,  0.16132905,
       -0.01437963,  0.06651589,  0.15004599,  0.0986675 ,  0.00278061]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
185280  2013Q1     0.00  135790
185281  2013Q2     0.00  135790
185282  2013Q3     0.00  135790
185283  2013Q4     0.00  135790
185284  2014Q1     0.00  135790
185285  2014Q2     0.00  135790
185286  2014Q3     0.00  135790
185287  2014Q4     0.00  135790
185288  2015Q1     0.00  135790
185289  2015Q2     0.00  135790
185290  2015Q3     0.00  135790
185291  2015Q4    42.34  135790
185292  2016Q1  1109.65  135790
185293  2016Q2  1418.83  135790
185294  2016Q3  1835.98  135790
185295  2016Q4  1935.44  135790
185296  2017Q1  2156.29  135790
185297  2017Q2  2492.54  135790
185298  2017Q3  2823.23  135790
185299  2017Q4  2941.46  135790>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
660  2013Q1  0.000000  135790
661  2013Q2  0.000000  135790
662  2013Q3  0.000000  135790
663  2013Q4  0.000000  135790
664  2014Q1  0.000000  135790
665  2014Q2  0.000000  135790
666  2014Q3  0.000000  135790
667  2014Q4  0.000000  135790
668  2015Q1  0.000000  135790
669  2015Q2  0.000000  135790
670  2015Q3  0.000000  135790
671  2015Q4  0.000295  135790
672  2016Q1 -0.045948  135790
673  2016Q2  0.113457  135790
674  2016Q3  0.161329  135790
675  2016Q4 -0.014380  135790
676  2017Q1  0.066516  135790
677  2017Q2  0.150046  135790
678  2017Q3  0.098668  135790
679  2017Q4  0.002781  135790>)
('Key_aum: ', 135790)
       Quarter     Data      ID
185280  2013Q1     0.00  135790
185281  2013Q2     0.00  135790
185282  2013Q3     0.00  135790
185283  2013Q4     0.00  135790
185284  2014Q1     0.00  135790
185285  2014Q2     0.00  135790
185286  2014Q3     0.00  135790
185287  2014Q4     0.00  135790
185288  2015Q1     0.00  135790
185289  2015Q2     0.00  135790
185290  2015Q3     0.00  135790
185291  2015Q4    42.34  135790
185292  2016Q1  1109.65  135790
185293  2016Q2  1418.83  135790
185294  2016Q3  1835.98  135790
185295  2016Q4  1935.44  135790
185296  2017Q1  2156.29  135790
185297  2017Q2  2492.54  135790
185298  2017Q3  2823.23  135790
185299  2017Q4  2941.46  135790
('Key_nav : ', 135790)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.00029516, -0.04594837,  0.11345661,  0.16132905,
       -0.01437963,  0.06651589,  0.15004599,  0.0986675 ,  0.00278061]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    42.34,
        1109.65,  1418.83,  1835.98,  1935.44,  2156.29,  2492.54,
        2823.23,  2941.46]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,  0.00029516, -0.04594837,  0.11345661,  0.16132905,
       -0.01437963,  0.06651589,  0.15004599,  0.0986675 ,  0.00278061]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
185280  2013Q1     0.00  135790
185281  2013Q2     0.00  135790
185282  2013Q3     0.00  135790
185283  2013Q4     0.00  135790
185284  2014Q1     0.00  135790
185285  2014Q2     0.00  135790
185286  2014Q3     0.00  135790
185287  2014Q4     0.00  135790
185288  2015Q1     0.00  135790
185289  2015Q2     0.00  135790
185290  2015Q3     0.00  135790
185291  2015Q4    42.34  135790
185292  2016Q1  1109.65  135790
185293  2016Q2  1418.83  135790
185294  2016Q3  1835.98  135790
185295  2016Q4  1935.44  135790
185296  2017Q1  2156.29  135790
185297  2017Q2  2492.54  135790
185298  2017Q3  2823.23  135790
185299  2017Q4  2941.46  135790>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
660  2013Q1  0.000000  135790
661  2013Q2  0.000000  135790
662  2013Q3  0.000000  135790
663  2013Q4  0.000000  135790
664  2014Q1  0.000000  135790
665  2014Q2  0.000000  135790
666  2014Q3  0.000000  135790
667  2014Q4  0.000000  135790
668  2015Q1  0.000000  135790
669  2015Q2  0.000000  135790
670  2015Q3  0.000000  135790
671  2015Q4  0.000295  135790
672  2016Q1 -0.045948  135790
673  2016Q2  0.113457  135790
674  2016Q3  0.161329  135790
675  2016Q4 -0.014380  135790
676  2017Q1  0.066516  135790
677  2017Q2  0.150046  135790
678  2017Q3  0.098668  135790
679  2017Q4  0.002781  135790>)
('Key_aum: ', 135790)
       Quarter     Data      ID
185280  2013Q1     0.00  135790
185281  2013Q2     0.00  135790
185282  2013Q3     0.00  135790
185283  2013Q4     0.00  135790
185284  2014Q1     0.00  135790
185285  2014Q2     0.00  135790
185286  2014Q3     0.00  135790
185287  2014Q4     0.00  135790
185288  2015Q1     0.00  135790
185289  2015Q2     0.00  135790
185290  2015Q3     0.00  135790
185291  2015Q4    42.34  135790
185292  2016Q1  1109.65  135790
185293  2016Q2  1418.83  135790
185294  2016Q3  1835.98  135790
185295  2016Q4  1935.44  135790
185296  2017Q1  2156.29  135790
185297  2017Q2  2492.54  135790
185298  2017Q3  2823.23  135790
185299  2017Q4  2941.46  135790
('Key_nav : ', 135790)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.00029516, -0.04594837,  0.11345661,  0.16132905,
       -0.01437963,  0.06651589,  0.15004599,  0.0986675 ,  0.00278061]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    42.34,
        1109.65,  1418.83,  1835.98,  1935.44,  2156.29,  2492.54,
        2823.23,  2941.46]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,  0.00029516, -0.04594837,  0.11345661,  0.16132905,
       -0.01437963,  0.06651589,  0.15004599,  0.0986675 ,  0.00278061]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
185280  2013Q1     0.00  135790
185281  2013Q2     0.00  135790
185282  2013Q3     0.00  135790
185283  2013Q4     0.00  135790
185284  2014Q1     0.00  135790
185285  2014Q2     0.00  135790
185286  2014Q3     0.00  135790
185287  2014Q4     0.00  135790
185288  2015Q1     0.00  135790
185289  2015Q2     0.00  135790
185290  2015Q3     0.00  135790
185291  2015Q4    42.34  135790
185292  2016Q1  1109.65  135790
185293  2016Q2  1418.83  135790
185294  2016Q3  1835.98  135790
185295  2016Q4  1935.44  135790
185296  2017Q1  2156.29  135790
185297  2017Q2  2492.54  135790
185298  2017Q3  2823.23  135790
185299  2017Q4  2941.46  135790>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
660  2013Q1  0.000000  135790
661  2013Q2  0.000000  135790
662  2013Q3  0.000000  135790
663  2013Q4  0.000000  135790
664  2014Q1  0.000000  135790
665  2014Q2  0.000000  135790
666  2014Q3  0.000000  135790
667  2014Q4  0.000000  135790
668  2015Q1  0.000000  135790
669  2015Q2  0.000000  135790
670  2015Q3  0.000000  135790
671  2015Q4  0.000295  135790
672  2016Q1 -0.045948  135790
673  2016Q2  0.113457  135790
674  2016Q3  0.161329  135790
675  2016Q4 -0.014380  135790
676  2017Q1  0.066516  135790
677  2017Q2  0.150046  135790
678  2017Q3  0.098668  135790
679  2017Q4  0.002781  135790>)
('Key_aum: ', 135790)
       Quarter     Data      ID
185280  2013Q1     0.00  135790
185281  2013Q2     0.00  135790
185282  2013Q3     0.00  135790
185283  2013Q4     0.00  135790
185284  2014Q1     0.00  135790
185285  2014Q2     0.00  135790
185286  2014Q3     0.00  135790
185287  2014Q4     0.00  135790
185288  2015Q1     0.00  135790
185289  2015Q2     0.00  135790
185290  2015Q3     0.00  135790
185291  2015Q4    42.34  135790
185292  2016Q1  1109.65  135790
185293  2016Q2  1418.83  135790
185294  2016Q3  1835.98  135790
185295  2016Q4  1935.44  135790
185296  2017Q1  2156.29  135790
185297  2017Q2  2492.54  135790
185298  2017Q3  2823.23  135790
185299  2017Q4  2941.46  135790
('Key_nav : ', 135790)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.00029516, -0.04594837,  0.11345661,  0.16132905,
       -0.01437963,  0.06651589,  0.15004599,  0.0986675 ,  0.00278061]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    42.34,
        1109.65,  1418.83,  1835.98,  1935.44,  2156.29,  2492.54,
        2823.23,  2941.46]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,  0.00029516, -0.04594837,  0.11345661,  0.16132905,
       -0.01437963,  0.06651589,  0.15004599,  0.0986675 ,  0.00278061]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
185280  2013Q1     0.00  135790
185281  2013Q2     0.00  135790
185282  2013Q3     0.00  135790
185283  2013Q4     0.00  135790
185284  2014Q1     0.00  135790
185285  2014Q2     0.00  135790
185286  2014Q3     0.00  135790
185287  2014Q4     0.00  135790
185288  2015Q1     0.00  135790
185289  2015Q2     0.00  135790
185290  2015Q3     0.00  135790
185291  2015Q4    42.34  135790
185292  2016Q1  1109.65  135790
185293  2016Q2  1418.83  135790
185294  2016Q3  1835.98  135790
185295  2016Q4  1935.44  135790
185296  2017Q1  2156.29  135790
185297  2017Q2  2492.54  135790
185298  2017Q3  2823.23  135790
185299  2017Q4  2941.46  135790>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
660  2013Q1  0.000000  135790
661  2013Q2  0.000000  135790
662  2013Q3  0.000000  135790
663  2013Q4  0.000000  135790
664  2014Q1  0.000000  135790
665  2014Q2  0.000000  135790
666  2014Q3  0.000000  135790
667  2014Q4  0.000000  135790
668  2015Q1  0.000000  135790
669  2015Q2  0.000000  135790
670  2015Q3  0.000000  135790
671  2015Q4  0.000295  135790
672  2016Q1 -0.045948  135790
673  2016Q2  0.113457  135790
674  2016Q3  0.161329  135790
675  2016Q4 -0.014380  135790
676  2017Q1  0.066516  135790
677  2017Q2  0.150046  135790
678  2017Q3  0.098668  135790
679  2017Q4  0.002781  135790>)
('Key_aum: ', 135790)
       Quarter     Data      ID
185280  2013Q1     0.00  135790
185281  2013Q2     0.00  135790
185282  2013Q3     0.00  135790
185283  2013Q4     0.00  135790
185284  2014Q1     0.00  135790
185285  2014Q2     0.00  135790
185286  2014Q3     0.00  135790
185287  2014Q4     0.00  135790
185288  2015Q1     0.00  135790
185289  2015Q2     0.00  135790
185290  2015Q3     0.00  135790
185291  2015Q4    42.34  135790
185292  2016Q1  1109.65  135790
185293  2016Q2  1418.83  135790
185294  2016Q3  1835.98  135790
185295  2016Q4  1935.44  135790
185296  2017Q1  2156.29  135790
185297  2017Q2  2492.54  135790
185298  2017Q3  2823.23  135790
185299  2017Q4  2941.46  135790
('Key_nav : ', 135790)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.00029516, -0.04594837,  0.11345661,  0.16132905,
       -0.01437963,  0.06651589,  0.15004599,  0.0986675 ,  0.00278061]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    42.34,
        1109.65,  1418.83,  1835.98,  1935.44,  2156.29,  2492.54,
        2823.23,  2941.46]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,  0.00029516, -0.04594837,  0.11345661,  0.16132905,
       -0.01437963,  0.06651589,  0.15004599,  0.0986675 ,  0.00278061]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
185280  2013Q1     0.00  135790
185281  2013Q2     0.00  135790
185282  2013Q3     0.00  135790
185283  2013Q4     0.00  135790
185284  2014Q1     0.00  135790
185285  2014Q2     0.00  135790
185286  2014Q3     0.00  135790
185287  2014Q4     0.00  135790
185288  2015Q1     0.00  135790
185289  2015Q2     0.00  135790
185290  2015Q3     0.00  135790
185291  2015Q4    42.34  135790
185292  2016Q1  1109.65  135790
185293  2016Q2  1418.83  135790
185294  2016Q3  1835.98  135790
185295  2016Q4  1935.44  135790
185296  2017Q1  2156.29  135790
185297  2017Q2  2492.54  135790
185298  2017Q3  2823.23  135790
185299  2017Q4  2941.46  135790>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
660  2013Q1  0.000000  135790
661  2013Q2  0.000000  135790
662  2013Q3  0.000000  135790
663  2013Q4  0.000000  135790
664  2014Q1  0.000000  135790
665  2014Q2  0.000000  135790
666  2014Q3  0.000000  135790
667  2014Q4  0.000000  135790
668  2015Q1  0.000000  135790
669  2015Q2  0.000000  135790
670  2015Q3  0.000000  135790
671  2015Q4  0.000295  135790
672  2016Q1 -0.045948  135790
673  2016Q2  0.113457  135790
674  2016Q3  0.161329  135790
675  2016Q4 -0.014380  135790
676  2017Q1  0.066516  135790
677  2017Q2  0.150046  135790
678  2017Q3  0.098668  135790
679  2017Q4  0.002781  135790>)
('Key_aum: ', 135790)
       Quarter     Data      ID
185280  2013Q1     0.00  135790
185281  2013Q2     0.00  135790
185282  2013Q3     0.00  135790
185283  2013Q4     0.00  135790
185284  2014Q1     0.00  135790
185285  2014Q2     0.00  135790
185286  2014Q3     0.00  135790
185287  2014Q4     0.00  135790
185288  2015Q1     0.00  135790
185289  2015Q2     0.00  135790
185290  2015Q3     0.00  135790
185291  2015Q4    42.34  135790
185292  2016Q1  1109.65  135790
185293  2016Q2  1418.83  135790
185294  2016Q3  1835.98  135790
185295  2016Q4  1935.44  135790
185296  2017Q1  2156.29  135790
185297  2017Q2  2492.54  135790
185298  2017Q3  2823.23  135790
185299  2017Q4  2941.46  135790
('Key_nav : ', 135790)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.00029516, -0.04594837,  0.11345661,  0.16132905,
       -0.01437963,  0.06651589,  0.15004599,  0.0986675 ,  0.00278061]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,     0.  ,
           0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    42.34,
        1109.65,  1418.83,  1835.98,  1935.44,  2156.29,  2492.54,
        2823.23,  2941.46]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,  0.00029516, -0.04594837,  0.11345661,  0.16132905,
       -0.01437963,  0.06651589,  0.15004599,  0.0986675 ,  0.00278061]))
('IDs :', [102402])
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
57380  2013Q1  19374.89  102402
57381  2013Q2  17706.94  102402
57382  2013Q3  14264.36  102402
57383  2013Q4  14873.76  102402
57384  2014Q1  14292.63  102402
57385  2014Q2  16249.47  102402
57386  2014Q3  16447.71  102402
57387  2014Q4  17589.64  102402
57388  2015Q1  18613.48  102402
57389  2015Q2  17209.16  102402
57390  2015Q3  16486.17  102402
57391  2015Q4  15532.76  102402
57392  2016Q1  13713.49  102402
57393  2016Q2  15594.52  102402
57394  2016Q3  18412.66  102402
57395  2016Q4  15767.68  102402
57396  2017Q1  16480.72  102402
57397  2017Q2  18505.43  102402
57398  2017Q3  19946.01  102402
57399  2017Q4  20094.87  102402>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1040  2013Q1 -0.051405  102402
1041  2013Q2 -0.024359  102402
1042  2013Q3 -0.187509  102402
1043  2013Q4  0.067178  102402
1044  2014Q1  0.008806  102402
1045  2014Q2  0.235367  102402
1046  2014Q3  0.092759  102402
1047  2014Q4  0.109665  102402
1048  2015Q1  0.084187  102402
1049  2015Q2 -0.058649  102402
1050  2015Q3 -0.061638  102402
1051  2015Q4 -0.066088  102402
1052  2016Q1 -0.116524  102402
1053  2016Q2  0.131767  102402
1054  2016Q3  0.111324  102402
1055  2016Q4 -0.051863  102402
1056  2017Q1  0.050653  102402
1057  2017Q2  0.124797  102402
1058  2017Q3  0.081712  102402
1059  2017Q4  0.026258  102402>)
('Key_aum: ', 102402)
      Quarter      Data      ID
57380  2013Q1  19374.89  102402
57381  2013Q2  17706.94  102402
57382  2013Q3  14264.36  102402
57383  2013Q4  14873.76  102402
57384  2014Q1  14292.63  102402
57385  2014Q2  16249.47  102402
57386  2014Q3  16447.71  102402
57387  2014Q4  17589.64  102402
57388  2015Q1  18613.48  102402
57389  2015Q2  17209.16  102402
57390  2015Q3  16486.17  102402
57391  2015Q4  15532.76  102402
57392  2016Q1  13713.49  102402
57393  2016Q2  15594.52  102402
57394  2016Q3  18412.66  102402
57395  2016Q4  15767.68  102402
57396  2017Q1  16480.72  102402
57397  2017Q2  18505.43  102402
57398  2017Q3  19946.01  102402
57399  2017Q4  20094.87  102402
('Key_nav : ', 102402)

1059  2017Q4  0.026258  102402>)
('Key_aum: ', 102402)
      Quarter      Data      ID
57380  2013Q1  19374.89  102402
57381  2013Q2  17706.94  102402
57382  2013Q3  14264.36  102402
57383  2013Q4  14873.76  102402
57384  2014Q1  14292.63  102402
57385  2014Q2  16249.47  102402
57386  2014Q3  16447.71  102402
57387  2014Q4  17589.64  102402
57388  2015Q1  18613.48  102402
57389  2015Q2  17209.16  102402
57390  2015Q3  16486.17  102402
57391  2015Q4  15532.76  102402
57392  2016Q1  13713.49  102402
57393  2016Q2  15594.52  102402
57394  2016Q3  18412.66  102402
57395  2016Q4  15767.68  102402
57396  2017Q1  16480.72  102402
57397  2017Q2  18505.43  102402
57398  2017Q3  19946.01  102402
57399  2017Q4  20094.87  102402
('Key_nav : ', 102402)
('data 1 : ', array([-0.05140453, -0.0243589 , -0.18750868,  0.06717818,  0.0088062 ,
        0.23536668,  0.09275908,  0.10966532,  0.0841867 , -0.05864866,
       -0.06163753, -0.06608789, -0.11652351,  0.13176672,  0.1113244 ,
       -0.05186279,  0.05065335,  0.12479673,  0.08171191,  0.02625848]))
('data 2 :', array([ 19374.89,  17706.94,  14264.36,  14873.76,  14292.63,  16249.47,
        16447.71,  17589.64,  18613.48,  17209.16,  16486.17,  15532.76,
        13713.49,  15594.52,  18412.66,  15767.68,  16480.72,  18505.43,
        19946.01,  20094.87]))
('mean : ', array([-0.05140453, -0.0243589 , -0.18750868,  0.06717818,  0.0088062 ,
        0.23536668,  0.09275908,  0.10966532,  0.0841867 , -0.05864866,
       -0.06163753, -0.06608789, -0.11652351,  0.13176672,  0.1113244 ,
       -0.05186279,  0.05065335,  0.12479673,  0.08171191,  0.02625848]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
57380  2013Q1  19374.89  102402
57381  2013Q2  17706.94  102402
57382  2013Q3  14264.36  102402
57383  2013Q4  14873.76  102402
57384  2014Q1  14292.63  102402
57385  2014Q2  16249.47  102402
57386  2014Q3  16447.71  102402
57387  2014Q4  17589.64  102402
57388  2015Q1  18613.48  102402
57389  2015Q2  17209.16  102402
57390  2015Q3  16486.17  102402
57391  2015Q4  15532.76  102402
57392  2016Q1  13713.49  102402
57393  2016Q2  15594.52  102402
57394  2016Q3  18412.66  102402
57395  2016Q4  15767.68  102402
57396  2017Q1  16480.72  102402
57397  2017Q2  18505.43  102402
57398  2017Q3  19946.01  102402
57399  2017Q4  20094.87  102402>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1040  2013Q1 -0.051405  102402
1041  2013Q2 -0.024359  102402
1042  2013Q3 -0.187509  102402
1043  2013Q4  0.067178  102402
1044  2014Q1  0.008806  102402
1045  2014Q2  0.235367  102402
1046  2014Q3  0.092759  102402
1047  2014Q4  0.109665  102402
1048  2015Q1  0.084187  102402
1049  2015Q2 -0.058649  102402
1050  2015Q3 -0.061638  102402
1051  2015Q4 -0.066088  102402
1052  2016Q1 -0.116524  102402
1053  2016Q2  0.131767  102402
1054  2016Q3  0.111324  102402
1055  2016Q4 -0.051863  102402
1056  2017Q1  0.050653  102402
1057  2017Q2  0.124797  102402
1058  2017Q3  0.081712  102402
1059  2017Q4  0.026258  102402>)
('Key_aum: ', 102402)
      Quarter      Data      ID
57380  2013Q1  19374.89  102402
57381  2013Q2  17706.94  102402
57382  2013Q3  14264.36  102402
57383  2013Q4  14873.76  102402
57384  2014Q1  14292.63  102402
57385  2014Q2  16249.47  102402
57386  2014Q3  16447.71  102402
57387  2014Q4  17589.64  102402
57388  2015Q1  18613.48  102402
57389  2015Q2  17209.16  102402
57390  2015Q3  16486.17  102402
57391  2015Q4  15532.76  102402
57392  2016Q1  13713.49  102402
57393  2016Q2  15594.52  102402
57394  2016Q3  18412.66  102402
57395  2016Q4  15767.68  102402
57396  2017Q1  16480.72  102402
57397  2017Q2  18505.43  102402
57398  2017Q3  19946.01  102402
57399  2017Q4  20094.87  102402
('Key_nav : ', 102402)
('data 1 : ', array([-0.05140453, -0.0243589 , -0.18750868,  0.06717818,  0.0088062 ,
        0.23536668,  0.09275908,  0.10966532,  0.0841867 , -0.05864866,
       -0.06163753, -0.06608789, -0.11652351,  0.13176672,  0.1113244 ,
       -0.05186279,  0.05065335,  0.12479673,  0.08171191,  0.02625848]))
('data 2 :', array([ 19374.89,  17706.94,  14264.36,  14873.76,  14292.63,  16249.47,
        16447.71,  17589.64,  18613.48,  17209.16,  16486.17,  15532.76,
        13713.49,  15594.52,  18412.66,  15767.68,  16480.72,  18505.43,
        19946.01,  20094.87]))
('mean : ', array([-0.05140453, -0.0243589 , -0.18750868,  0.06717818,  0.0088062 ,
        0.23536668,  0.09275908,  0.10966532,  0.0841867 , -0.05864866,
       -0.06163753, -0.06608789, -0.11652351,  0.13176672,  0.1113244 ,
       -0.05186279,  0.05065335,  0.12479673,  0.08171191,  0.02625848]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
57380  2013Q1  19374.89  102402
57381  2013Q2  17706.94  102402
57382  2013Q3  14264.36  102402
57383  2013Q4  14873.76  102402
57384  2014Q1  14292.63  102402
57385  2014Q2  16249.47  102402
57386  2014Q3  16447.71  102402
57387  2014Q4  17589.64  102402
57388  2015Q1  18613.48  102402
57389  2015Q2  17209.16  102402
57390  2015Q3  16486.17  102402
57391  2015Q4  15532.76  102402
57392  2016Q1  13713.49  102402
57393  2016Q2  15594.52  102402
57394  2016Q3  18412.66  102402
57395  2016Q4  15767.68  102402
57396  2017Q1  16480.72  102402
57397  2017Q2  18505.43  102402
57398  2017Q3  19946.01  102402
57399  2017Q4  20094.87  102402>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1040  2013Q1 -0.051405  102402
1041  2013Q2 -0.024359  102402
1042  2013Q3 -0.187509  102402
1043  2013Q4  0.067178  102402
1044  2014Q1  0.008806  102402
1045  2014Q2  0.235367  102402
1046  2014Q3  0.092759  102402
1047  2014Q4  0.109665  102402
1048  2015Q1  0.084187  102402
1049  2015Q2 -0.058649  102402
1050  2015Q3 -0.061638  102402
1051  2015Q4 -0.066088  102402
1052  2016Q1 -0.116524  102402
1053  2016Q2  0.131767  102402
1054  2016Q3  0.111324  102402
1055  2016Q4 -0.051863  102402
1056  2017Q1  0.050653  102402
1057  2017Q2  0.124797  102402
1058  2017Q3  0.081712  102402
1059  2017Q4  0.026258  102402>)
('Key_aum: ', 102402)
      Quarter      Data      ID
57380  2013Q1  19374.89  102402
57381  2013Q2  17706.94  102402
57382  2013Q3  14264.36  102402
57383  2013Q4  14873.76  102402
57384  2014Q1  14292.63  102402
57385  2014Q2  16249.47  102402
57386  2014Q3  16447.71  102402
57387  2014Q4  17589.64  102402
57388  2015Q1  18613.48  102402
57389  2015Q2  17209.16  102402
57390  2015Q3  16486.17  102402
57391  2015Q4  15532.76  102402
57392  2016Q1  13713.49  102402
57393  2016Q2  15594.52  102402
57394  2016Q3  18412.66  102402
57395  2016Q4  15767.68  102402
57396  2017Q1  16480.72  102402
57397  2017Q2  18505.43  102402
57398  2017Q3  19946.01  102402
57399  2017Q4  20094.87  102402
('Key_nav : ', 102402)
('data 1 : ', array([-0.05140453, -0.0243589 , -0.18750868,  0.06717818,  0.0088062 ,
        0.23536668,  0.09275908,  0.10966532,  0.0841867 , -0.05864866,
       -0.06163753, -0.06608789, -0.11652351,  0.13176672,  0.1113244 ,
       -0.05186279,  0.05065335,  0.12479673,  0.08171191,  0.02625848]))
('data 2 :', array([ 19374.89,  17706.94,  14264.36,  14873.76,  14292.63,  16249.47,
        16447.71,  17589.64,  18613.48,  17209.16,  16486.17,  15532.76,
        13713.49,  15594.52,  18412.66,  15767.68,  16480.72,  18505.43,
        19946.01,  20094.87]))
('mean : ', array([-0.05140453, -0.0243589 , -0.18750868,  0.06717818,  0.0088062 ,
        0.23536668,  0.09275908,  0.10966532,  0.0841867 , -0.05864866,
       -0.06163753, -0.06608789, -0.11652351,  0.13176672,  0.1113244 ,
       -0.05186279,  0.05065335,  0.12479673,  0.08171191,  0.02625848]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
57380  2013Q1  19374.89  102402
57381  2013Q2  17706.94  102402
57382  2013Q3  14264.36  102402
57383  2013Q4  14873.76  102402
57384  2014Q1  14292.63  102402
57385  2014Q2  16249.47  102402
57386  2014Q3  16447.71  102402
57387  2014Q4  17589.64  102402
57388  2015Q1  18613.48  102402
57389  2015Q2  17209.16  102402
57390  2015Q3  16486.17  102402
57391  2015Q4  15532.76  102402
57392  2016Q1  13713.49  102402
57393  2016Q2  15594.52  102402
57394  2016Q3  18412.66  102402
57395  2016Q4  15767.68  102402
57396  2017Q1  16480.72  102402
57397  2017Q2  18505.43  102402
57398  2017Q3  19946.01  102402
57399  2017Q4  20094.87  102402>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1040  2013Q1 -0.051405  102402
1041  2013Q2 -0.024359  102402
1042  2013Q3 -0.187509  102402
1043  2013Q4  0.067178  102402
1044  2014Q1  0.008806  102402
1045  2014Q2  0.235367  102402
1046  2014Q3  0.092759  102402
1047  2014Q4  0.109665  102402
1048  2015Q1  0.084187  102402
1049  2015Q2 -0.058649  102402
1050  2015Q3 -0.061638  102402
1051  2015Q4 -0.066088  102402
1052  2016Q1 -0.116524  102402
1053  2016Q2  0.131767  102402
1054  2016Q3  0.111324  102402
1055  2016Q4 -0.051863  102402
1056  2017Q1  0.050653  102402
1057  2017Q2  0.124797  102402
1058  2017Q3  0.081712  102402
1059  2017Q4  0.026258  102402>)
('Key_aum: ', 102402)
      Quarter      Data      ID
57380  2013Q1  19374.89  102402
57381  2013Q2  17706.94  102402
57382  2013Q3  14264.36  102402
57383  2013Q4  14873.76  102402
57384  2014Q1  14292.63  102402
57385  2014Q2  16249.47  102402
57386  2014Q3  16447.71  102402
57387  2014Q4  17589.64  102402
57388  2015Q1  18613.48  102402
57389  2015Q2  17209.16  102402
57390  2015Q3  16486.17  102402
57391  2015Q4  15532.76  102402
57392  2016Q1  13713.49  102402
57393  2016Q2  15594.52  102402
57394  2016Q3  18412.66  102402
57395  2016Q4  15767.68  102402
57396  2017Q1  16480.72  102402
57397  2017Q2  18505.43  102402
57398  2017Q3  19946.01  102402
57399  2017Q4  20094.87  102402
('Key_nav : ', 102402)
('data 1 : ', array([-0.05140453, -0.0243589 , -0.18750868,  0.06717818,  0.0088062 ,
        0.23536668,  0.09275908,  0.10966532,  0.0841867 , -0.05864866,
       -0.06163753, -0.06608789, -0.11652351,  0.13176672,  0.1113244 ,
       -0.05186279,  0.05065335,  0.12479673,  0.08171191,  0.02625848]))
('data 2 :', array([ 19374.89,  17706.94,  14264.36,  14873.76,  14292.63,  16249.47,
        16447.71,  17589.64,  18613.48,  17209.16,  16486.17,  15532.76,
        13713.49,  15594.52,  18412.66,  15767.68,  16480.72,  18505.43,
        19946.01,  20094.87]))
('mean : ', array([-0.05140453, -0.0243589 , -0.18750868,  0.06717818,  0.0088062 ,
        0.23536668,  0.09275908,  0.10966532,  0.0841867 , -0.05864866,
       -0.06163753, -0.06608789, -0.11652351,  0.13176672,  0.1113244 ,
       -0.05186279,  0.05065335,  0.12479673,  0.08171191,  0.02625848]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
57380  2013Q1  19374.89  102402
57381  2013Q2  17706.94  102402
57382  2013Q3  14264.36  102402
57383  2013Q4  14873.76  102402
57384  2014Q1  14292.63  102402
57385  2014Q2  16249.47  102402
57386  2014Q3  16447.71  102402
57387  2014Q4  17589.64  102402
57388  2015Q1  18613.48  102402
57389  2015Q2  17209.16  102402
57390  2015Q3  16486.17  102402
57391  2015Q4  15532.76  102402
57392  2016Q1  13713.49  102402
57393  2016Q2  15594.52  102402
57394  2016Q3  18412.66  102402
57395  2016Q4  15767.68  102402
57396  2017Q1  16480.72  102402
57397  2017Q2  18505.43  102402
57398  2017Q3  19946.01  102402
57399  2017Q4  20094.87  102402>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1040  2013Q1 -0.051405  102402
1041  2013Q2 -0.024359  102402
1042  2013Q3 -0.187509  102402
1043  2013Q4  0.067178  102402
1044  2014Q1  0.008806  102402
1045  2014Q2  0.235367  102402
1046  2014Q3  0.092759  102402
1047  2014Q4  0.109665  102402
1048  2015Q1  0.084187  102402
1049  2015Q2 -0.058649  102402
1050  2015Q3 -0.061638  102402
1051  2015Q4 -0.066088  102402
1052  2016Q1 -0.116524  102402
1053  2016Q2  0.131767  102402
1054  2016Q3  0.111324  102402
1055  2016Q4 -0.051863  102402
1056  2017Q1  0.050653  102402
1057  2017Q2  0.124797  102402
1058  2017Q3  0.081712  102402
1059  2017Q4  0.026258  102402>)
('Key_aum: ', 102402)
      Quarter      Data      ID
57380  2013Q1  19374.89  102402
57381  2013Q2  17706.94  102402
57382  2013Q3  14264.36  102402
57383  2013Q4  14873.76  102402
57384  2014Q1  14292.63  102402
57385  2014Q2  16249.47  102402
57386  2014Q3  16447.71  102402
57387  2014Q4  17589.64  102402
57388  2015Q1  18613.48  102402
57389  2015Q2  17209.16  102402
57390  2015Q3  16486.17  102402
57391  2015Q4  15532.76  102402
57392  2016Q1  13713.49  102402
57393  2016Q2  15594.52  102402
57394  2016Q3  18412.66  102402
57395  2016Q4  15767.68  102402
57396  2017Q1  16480.72  102402
57397  2017Q2  18505.43  102402
57398  2017Q3  19946.01  102402
57399  2017Q4  20094.87  102402
('Key_nav : ', 102402)
('data 1 : ', array([-0.05140453, -0.0243589 , -0.18750868,  0.06717818,  0.0088062 ,
        0.23536668,  0.09275908,  0.10966532,  0.0841867 , -0.05864866,
       -0.06163753, -0.06608789, -0.11652351,  0.13176672,  0.1113244 ,
       -0.05186279,  0.05065335,  0.12479673,  0.08171191,  0.02625848]))
('data 2 :', array([ 19374.89,  17706.94,  14264.36,  14873.76,  14292.63,  16249.47,
        16447.71,  17589.64,  18613.48,  17209.16,  16486.17,  15532.76,
        13713.49,  15594.52,  18412.66,  15767.68,  16480.72,  18505.43,
        19946.01,  20094.87]))
('mean : ', array([-0.05140453, -0.0243589 , -0.18750868,  0.06717818,  0.0088062 ,
        0.23536668,  0.09275908,  0.10966532,  0.0841867 , -0.05864866,
       -0.06163753, -0.06608789, -0.11652351,  0.13176672,  0.1113244 ,
       -0.05186279,  0.05065335,  0.12479673,  0.08171191,  0.02625848]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
57380  2013Q1  19374.89  102402
57381  2013Q2  17706.94  102402
57382  2013Q3  14264.36  102402
57383  2013Q4  14873.76  102402
57384  2014Q1  14292.63  102402
57385  2014Q2  16249.47  102402
57386  2014Q3  16447.71  102402
57387  2014Q4  17589.64  102402
57388  2015Q1  18613.48  102402
57389  2015Q2  17209.16  102402
57390  2015Q3  16486.17  102402
57391  2015Q4  15532.76  102402
57392  2016Q1  13713.49  102402
57393  2016Q2  15594.52  102402
57394  2016Q3  18412.66  102402
57395  2016Q4  15767.68  102402
57396  2017Q1  16480.72  102402
57397  2017Q2  18505.43  102402
57398  2017Q3  19946.01  102402
57399  2017Q4  20094.87  102402>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1040  2013Q1 -0.051405  102402
1041  2013Q2 -0.024359  102402
1042  2013Q3 -0.187509  102402
1043  2013Q4  0.067178  102402
1044  2014Q1  0.008806  102402
1045  2014Q2  0.235367  102402
1046  2014Q3  0.092759  102402
1047  2014Q4  0.109665  102402
1048  2015Q1  0.084187  102402
1049  2015Q2 -0.058649  102402
1050  2015Q3 -0.061638  102402
1051  2015Q4 -0.066088  102402
1052  2016Q1 -0.116524  102402
1053  2016Q2  0.131767  102402
1054  2016Q3  0.111324  102402
1055  2016Q4 -0.051863  102402
1056  2017Q1  0.050653  102402
1057  2017Q2  0.124797  102402
1058  2017Q3  0.081712  102402
1059  2017Q4  0.026258  102402>)
('Key_aum: ', 102402)
      Quarter      Data      ID
57380  2013Q1  19374.89  102402
57381  2013Q2  17706.94  102402
57382  2013Q3  14264.36  102402
57383  2013Q4  14873.76  102402
57384  2014Q1  14292.63  102402
57385  2014Q2  16249.47  102402
57386  2014Q3  16447.71  102402
57387  2014Q4  17589.64  102402
57388  2015Q1  18613.48  102402
57389  2015Q2  17209.16  102402
57390  2015Q3  16486.17  102402
57391  2015Q4  15532.76  102402
57392  2016Q1  13713.49  102402
57393  2016Q2  15594.52  102402
57394  2016Q3  18412.66  102402
57395  2016Q4  15767.68  102402
57396  2017Q1  16480.72  102402
57397  2017Q2  18505.43  102402
57398  2017Q3  19946.01  102402
57399  2017Q4  20094.87  102402
('Key_nav : ', 102402)
('data 1 : ', array([-0.05140453, -0.0243589 , -0.18750868,  0.06717818,  0.0088062 ,
        0.23536668,  0.09275908,  0.10966532,  0.0841867 , -0.05864866,
       -0.06163753, -0.06608789, -0.11652351,  0.13176672,  0.1113244 ,
       -0.05186279,  0.05065335,  0.12479673,  0.08171191,  0.02625848]))
('data 2 :', array([ 19374.89,  17706.94,  14264.36,  14873.76,  14292.63,  16249.47,
        16447.71,  17589.64,  18613.48,  17209.16,  16486.17,  15532.76,
        13713.49,  15594.52,  18412.66,  15767.68,  16480.72,  18505.43,
        19946.01,  20094.87]))
('mean : ', array([-0.05140453, -0.0243589 , -0.18750868,  0.06717818,  0.0088062 ,
        0.23536668,  0.09275908,  0.10966532,  0.0841867 , -0.05864866,
       -0.06163753, -0.06608789, -0.11652351,  0.13176672,  0.1113244 ,
       -0.05186279,  0.05065335,  0.12479673,  0.08171191,  0.02625848]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
57380  2013Q1  19374.89  102402
57381  2013Q2  17706.94  102402
57382  2013Q3  14264.36  102402
57383  2013Q4  14873.76  102402
57384  2014Q1  14292.63  102402
57385  2014Q2  16249.47  102402
57386  2014Q3  16447.71  102402
57387  2014Q4  17589.64  102402
57388  2015Q1  18613.48  102402
57389  2015Q2  17209.16  102402
57390  2015Q3  16486.17  102402
57391  2015Q4  15532.76  102402
57392  2016Q1  13713.49  102402
57393  2016Q2  15594.52  102402
57394  2016Q3  18412.66  102402
57395  2016Q4  15767.68  102402
57396  2017Q1  16480.72  102402
57397  2017Q2  18505.43  102402
57398  2017Q3  19946.01  102402
57399  2017Q4  20094.87  102402>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1040  2013Q1 -0.051405  102402
1041  2013Q2 -0.024359  102402
1042  2013Q3 -0.187509  102402
1043  2013Q4  0.067178  102402
1044  2014Q1  0.008806  102402
1045  2014Q2  0.235367  102402
1046  2014Q3  0.092759  102402
1047  2014Q4  0.109665  102402
1048  2015Q1  0.084187  102402
1049  2015Q2 -0.058649  102402
1050  2015Q3 -0.061638  102402
1051  2015Q4 -0.066088  102402
1052  2016Q1 -0.116524  102402
1053  2016Q2  0.131767  102402
1054  2016Q3  0.111324  102402
1055  2016Q4 -0.051863  102402
1056  2017Q1  0.050653  102402
1057  2017Q2  0.124797  102402
1058  2017Q3  0.081712  102402
1059  2017Q4  0.026258  102402>)
('Key_aum: ', 102402)
      Quarter      Data      ID
57380  2013Q1  19374.89  102402
57381  2013Q2  17706.94  102402
57382  2013Q3  14264.36  102402
57383  2013Q4  14873.76  102402
57384  2014Q1  14292.63  102402
57385  2014Q2  16249.47  102402
57386  2014Q3  16447.71  102402
57387  2014Q4  17589.64  102402
57388  2015Q1  18613.48  102402
57389  2015Q2  17209.16  102402
57390  2015Q3  16486.17  102402
57391  2015Q4  15532.76  102402
57392  2016Q1  13713.49  102402
57393  2016Q2  15594.52  102402
57394  2016Q3  18412.66  102402
57395  2016Q4  15767.68  102402
57396  2017Q1  16480.72  102402
57397  2017Q2  18505.43  102402
57398  2017Q3  19946.01  102402
57399  2017Q4  20094.87  102402
('Key_nav : ', 102402)
('data 1 : ', array([-0.05140453, -0.0243589 , -0.18750868,  0.06717818,  0.0088062 ,
        0.23536668,  0.09275908,  0.10966532,  0.0841867 , -0.05864866,
       -0.06163753, -0.06608789, -0.11652351,  0.13176672,  0.1113244 ,
       -0.05186279,  0.05065335,  0.12479673,  0.08171191,  0.02625848]))
('data 2 :', array([ 19374.89,  17706.94,  14264.36,  14873.76,  14292.63,  16249.47,
        16447.71,  17589.64,  18613.48,  17209.16,  16486.17,  15532.76,
        13713.49,  15594.52,  18412.66,  15767.68,  16480.72,  18505.43,
        19946.01,  20094.87]))
('mean : ', array([-0.05140453, -0.0243589 , -0.18750868,  0.06717818,  0.0088062 ,
        0.23536668,  0.09275908,  0.10966532,  0.0841867 , -0.05864866,
       -0.06163753, -0.06608789, -0.11652351,  0.13176672,  0.1113244 ,
       -0.05186279,  0.05065335,  0.12479673,  0.08171191,  0.02625848]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
57380  2013Q1  19374.89  102402
57381  2013Q2  17706.94  102402
57382  2013Q3  14264.36  102402
57383  2013Q4  14873.76  102402
57384  2014Q1  14292.63  102402
57385  2014Q2  16249.47  102402
57386  2014Q3  16447.71  102402

      Quarter      Data      ID
57380  2013Q1  19374.89  102402
57381  2013Q2  17706.94  102402
57382  2013Q3  14264.36  102402
57383  2013Q4  14873.76  102402
57384  2014Q1  14292.63  102402
57385  2014Q2  16249.47  102402
57386  2014Q3  16447.71  102402
57387  2014Q4  17589.64  102402
57388  2015Q1  18613.48  102402
57389  2015Q2  17209.16  102402
57390  2015Q3  16486.17  102402
57391  2015Q4  15532.76  102402
57392  2016Q1  13713.49  102402
57393  2016Q2  15594.52  102402
57394  2016Q3  18412.66  102402
57395  2016Q4  15767.68  102402
57396  2017Q1  16480.72  102402
57397  2017Q2  18505.43  102402
57398  2017Q3  19946.01  102402
57399  2017Q4  20094.87  102402
('Key_nav : ', 102402)
('data 1 : ', array([-0.05140453, -0.0243589 , -0.18750868,  0.06717818,  0.0088062 ,
        0.23536668,  0.09275908,  0.10966532,  0.0841867 , -0.05864866,
       -0.06163753, -0.06608789, -0.11652351,  0.13176672,  0.1113244 ,
       -0.05186279,  0.05065335,  0.12479673,  0.08171191,  0.02625848]))
('data 2 :', array([ 19374.89,  17706.94,  14264.36,  14873.76,  14292.63,  16249.47,
        16447.71,  17589.64,  18613.48,  17209.16,  16486.17,  15532.76,
        13713.49,  15594.52,  18412.66,  15767.68,  16480.72,  18505.43,
        19946.01,  20094.87]))
('mean : ', array([-0.05140453, -0.0243589 , -0.18750868,  0.06717818,  0.0088062 ,
        0.23536668,  0.09275908,  0.10966532,  0.0841867 , -0.05864866,
       -0.06163753, -0.06608789, -0.11652351,  0.13176672,  0.1113244 ,
       -0.05186279,  0.05065335,  0.12479673,  0.08171191,  0.02625848]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
57380  2013Q1  19374.89  102402
57381  2013Q2  17706.94  102402
57382  2013Q3  14264.36  102402
57383  2013Q4  14873.76  102402
57384  2014Q1  14292.63  102402
57385  2014Q2  16249.47  102402
57386  2014Q3  16447.71  102402
57387  2014Q4  17589.64  102402
57388  2015Q1  18613.48  102402
57389  2015Q2  17209.16  102402
57390  2015Q3  16486.17  102402
57391  2015Q4  15532.76  102402
57392  2016Q1  13713.49  102402
57393  2016Q2  15594.52  102402
57394  2016Q3  18412.66  102402
57395  2016Q4  15767.68  102402
57396  2017Q1  16480.72  102402
57397  2017Q2  18505.43  102402
57398  2017Q3  19946.01  102402
57399  2017Q4  20094.87  102402>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1040  2013Q1 -0.051405  102402
1041  2013Q2 -0.024359  102402
1042  2013Q3 -0.187509  102402
1043  2013Q4  0.067178  102402
1044  2014Q1  0.008806  102402
1045  2014Q2  0.235367  102402
1046  2014Q3  0.092759  102402
1047  2014Q4  0.109665  102402
1048  2015Q1  0.084187  102402
1049  2015Q2 -0.058649  102402
1050  2015Q3 -0.061638  102402
1051  2015Q4 -0.066088  102402
1052  2016Q1 -0.116524  102402
1053  2016Q2  0.131767  102402
1054  2016Q3  0.111324  102402
1055  2016Q4 -0.051863  102402
1056  2017Q1  0.050653  102402
1057  2017Q2  0.124797  102402
1058  2017Q3  0.081712  102402
1059  2017Q4  0.026258  102402>)
('Key_aum: ', 102402)
      Quarter      Data      ID
57380  2013Q1  19374.89  102402
57381  2013Q2  17706.94  102402
57382  2013Q3  14264.36  102402
57383  2013Q4  14873.76  102402
57384  2014Q1  14292.63  102402
57385  2014Q2  16249.47  102402
57386  2014Q3  16447.71  102402
57387  2014Q4  17589.64  102402
57388  2015Q1  18613.48  102402
57389  2015Q2  17209.16  102402
57390  2015Q3  16486.17  102402
57391  2015Q4  15532.76  102402
57392  2016Q1  13713.49  102402
57393  2016Q2  15594.52  102402
57394  2016Q3  18412.66  102402
57395  2016Q4  15767.68  102402
57396  2017Q1  16480.72  102402
57397  2017Q2  18505.43  102402
57398  2017Q3  19946.01  102402
57399  2017Q4  20094.87  102402
('Key_nav : ', 102402)
('data 1 : ', array([-0.05140453, -0.0243589 , -0.18750868,  0.06717818,  0.0088062 ,
        0.23536668,  0.09275908,  0.10966532,  0.0841867 , -0.05864866,
       -0.06163753, -0.06608789, -0.11652351,  0.13176672,  0.1113244 ,
       -0.05186279,  0.05065335,  0.12479673,  0.08171191,  0.02625848]))
('data 2 :', array([ 19374.89,  17706.94,  14264.36,  14873.76,  14292.63,  16249.47,
        16447.71,  17589.64,  18613.48,  17209.16,  16486.17,  15532.76,
        13713.49,  15594.52,  18412.66,  15767.68,  16480.72,  18505.43,
        19946.01,  20094.87]))
('mean : ', array([-0.05140453, -0.0243589 , -0.18750868,  0.06717818,  0.0088062 ,
        0.23536668,  0.09275908,  0.10966532,  0.0841867 , -0.05864866,
       -0.06163753, -0.06608789, -0.11652351,  0.13176672,  0.1113244 ,
       -0.05186279,  0.05065335,  0.12479673,  0.08171191,  0.02625848]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
57380  2013Q1  19374.89  102402
57381  2013Q2  17706.94  102402
57382  2013Q3  14264.36  102402
57383  2013Q4  14873.76  102402
57384  2014Q1  14292.63  102402
57385  2014Q2  16249.47  102402
57386  2014Q3  16447.71  102402
57387  2014Q4  17589.64  102402
57388  2015Q1  18613.48  102402
57389  2015Q2  17209.16  102402
57390  2015Q3  16486.17  102402
57391  2015Q4  15532.76  102402
57392  2016Q1  13713.49  102402
57393  2016Q2  15594.52  102402
57394  2016Q3  18412.66  102402
57395  2016Q4  15767.68  102402
57396  2017Q1  16480.72  102402
57397  2017Q2  18505.43  102402
57398  2017Q3  19946.01  102402
57399  2017Q4  20094.87  102402>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1040  2013Q1 -0.051405  102402
1041  2013Q2 -0.024359  102402
1042  2013Q3 -0.187509  102402
1043  2013Q4  0.067178  102402
1044  2014Q1  0.008806  102402
1045  2014Q2  0.235367  102402
1046  2014Q3  0.092759  102402
1047  2014Q4  0.109665  102402
1048  2015Q1  0.084187  102402
1049  2015Q2 -0.058649  102402
1050  2015Q3 -0.061638  102402
1051  2015Q4 -0.066088  102402
1052  2016Q1 -0.116524  102402
1053  2016Q2  0.131767  102402
1054  2016Q3  0.111324  102402
1055  2016Q4 -0.051863  102402
1056  2017Q1  0.050653  102402
1057  2017Q2  0.124797  102402
1058  2017Q3  0.081712  102402
1059  2017Q4  0.026258  102402>)
('Key_aum: ', 102402)
      Quarter      Data      ID
57380  2013Q1  19374.89  102402
57381  2013Q2  17706.94  102402
57382  2013Q3  14264.36  102402
57383  2013Q4  14873.76  102402
57384  2014Q1  14292.63  102402
57385  2014Q2  16249.47  102402
57386  2014Q3  16447.71  102402
57387  2014Q4  17589.64  102402
57388  2015Q1  18613.48  102402
57389  2015Q2  17209.16  102402
57390  2015Q3  16486.17  102402
57391  2015Q4  15532.76  102402
57392  2016Q1  13713.49  102402
57393  2016Q2  15594.52  102402
57394  2016Q3  18412.66  102402
57395  2016Q4  15767.68  102402
57396  2017Q1  16480.72  102402
57397  2017Q2  18505.43  102402
57398  2017Q3  19946.01  102402
57399  2017Q4  20094.87  102402
('Key_nav : ', 102402)
('data 1 : ', array([-0.05140453, -0.0243589 , -0.18750868,  0.06717818,  0.0088062 ,
        0.23536668,  0.09275908,  0.10966532,  0.0841867 , -0.05864866,
       -0.06163753, -0.06608789, -0.11652351,  0.13176672,  0.1113244 ,
       -0.05186279,  0.05065335,  0.12479673,  0.08171191,  0.02625848]))
('data 2 :', array([ 19374.89,  17706.94,  14264.36,  14873.76,  14292.63,  16249.47,
        16447.71,  17589.64,  18613.48,  17209.16,  16486.17,  15532.76,
        13713.49,  15594.52,  18412.66,  15767.68,  16480.72,  18505.43,
        19946.01,  20094.87]))
('mean : ', array([-0.05140453, -0.0243589 , -0.18750868,  0.06717818,  0.0088062 ,
        0.23536668,  0.09275908,  0.10966532,  0.0841867 , -0.05864866,
       -0.06163753, -0.06608789, -0.11652351,  0.13176672,  0.1113244 ,
       -0.05186279,  0.05065335,  0.12479673,  0.08171191,  0.02625848]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
57380  2013Q1  19374.89  102402
57381  2013Q2  17706.94  102402
57382  2013Q3  14264.36  102402
57383  2013Q4  14873.76  102402
57384  2014Q1  14292.63  102402
57385  2014Q2  16249.47  102402
57386  2014Q3  16447.71  102402
57387  2014Q4  17589.64  102402
57388  2015Q1  18613.48  102402
57389  2015Q2  17209.16  102402
57390  2015Q3  16486.17  102402
57391  2015Q4  15532.76  102402
57392  2016Q1  13713.49  102402
57393  2016Q2  15594.52  102402
57394  2016Q3  18412.66  102402
57395  2016Q4  15767.68  102402
57396  2017Q1  16480.72  102402
57397  2017Q2  18505.43  102402
57398  2017Q3  19946.01  102402
57399  2017Q4  20094.87  102402>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1040  2013Q1 -0.051405  102402
1041  2013Q2 -0.024359  102402
1042  2013Q3 -0.187509  102402
1043  2013Q4  0.067178  102402
1044  2014Q1  0.008806  102402
1045  2014Q2  0.235367  102402
1046  2014Q3  0.092759  102402
1047  2014Q4  0.109665  102402
1048  2015Q1  0.084187  102402
1049  2015Q2 -0.058649  102402
1050  2015Q3 -0.061638  102402
1051  2015Q4 -0.066088  102402
1052  2016Q1 -0.116524  102402
1053  2016Q2  0.131767  102402
1054  2016Q3  0.111324  102402
1055  2016Q4 -0.051863  102402
1056  2017Q1  0.050653  102402
1057  2017Q2  0.124797  102402
1058  2017Q3  0.081712  102402
1059  2017Q4  0.026258  102402>)
('Key_aum: ', 102402)
      Quarter      Data      ID
57380  2013Q1  19374.89  102402
57381  2013Q2  17706.94  102402
57382  2013Q3  14264.36  102402
57383  2013Q4  14873.76  102402
57384  2014Q1  14292.63  102402
57385  2014Q2  16249.47  102402
57386  2014Q3  16447.71  102402
57387  2014Q4  17589.64  102402
57388  2015Q1  18613.48  102402
57389  2015Q2  17209.16  102402
57390  2015Q3  16486.17  102402
57391  2015Q4  15532.76  102402
57392  2016Q1  13713.49  102402
57393  2016Q2  15594.52  102402
57394  2016Q3  18412.66  102402
57395  2016Q4  15767.68  102402
57396  2017Q1  16480.72  102402
57397  2017Q2  18505.43  102402
57398  2017Q3  19946.01  102402
57399  2017Q4  20094.87  102402
('Key_nav : ', 102402)
('data 1 : ', array([-0.05140453, -0.0243589 , -0.18750868,  0.06717818,  0.0088062 ,
        0.23536668,  0.09275908,  0.10966532,  0.0841867 , -0.05864866,
       -0.06163753, -0.06608789, -0.11652351,  0.13176672,  0.1113244 ,
       -0.05186279,  0.05065335,  0.12479673,  0.08171191,  0.02625848]))
('data 2 :', array([ 19374.89,  17706.94,  14264.36,  14873.76,  14292.63,  16249.47,
        16447.71,  17589.64,  18613.48,  17209.16,  16486.17,  15532.76,
        13713.49,  15594.52,  18412.66,  15767.68,  16480.72,  18505.43,
        19946.01,  20094.87]))
('mean : ', array([-0.05140453, -0.0243589 , -0.18750868,  0.06717818,  0.0088062 ,
        0.23536668,  0.09275908,  0.10966532,  0.0841867 , -0.05864866,
       -0.06163753, -0.06608789, -0.11652351,  0.13176672,  0.1113244 ,
       -0.05186279,  0.05065335,  0.12479673,  0.08171191,  0.02625848]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
57380  2013Q1  19374.89  102402
57381  2013Q2  17706.94  102402
57382  2013Q3  14264.36  102402
57383  2013Q4  14873.76  102402
57384  2014Q1  14292.63  102402
57385  2014Q2  16249.47  102402
57386  2014Q3  16447.71  102402
57387  2014Q4  17589.64  102402
57388  2015Q1  18613.48  102402
57389  2015Q2  17209.16  102402
57390  2015Q3  16486.17  102402
57391  2015Q4  15532.76  102402
57392  2016Q1  13713.49  102402
57393  2016Q2  15594.52  102402
57394  2016Q3  18412.66  102402
57395  2016Q4  15767.68  102402
57396  2017Q1  16480.72  102402
57397  2017Q2  18505.43  102402
57398  2017Q3  19946.01  102402
57399  2017Q4  20094.87  102402>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1040  2013Q1 -0.051405  102402
1041  2013Q2 -0.024359  102402
1042  2013Q3 -0.187509  102402
1043  2013Q4  0.067178  102402
1044  2014Q1  0.008806  102402
1045  2014Q2  0.235367  102402
1046  2014Q3  0.092759  102402
1047  2014Q4  0.109665  102402
1048  2015Q1  0.084187  102402
1049  2015Q2 -0.058649  102402
1050  2015Q3 -0.061638  102402
1051  2015Q4 -0.066088  102402
1052  2016Q1 -0.116524  102402
1053  2016Q2  0.131767  102402
1054  2016Q3  0.111324  102402
1055  2016Q4 -0.051863  102402
1056  2017Q1  0.050653  102402
1057  2017Q2  0.124797  102402
1058  2017Q3  0.081712  102402
1059  2017Q4  0.026258  102402>)
('Key_aum: ', 102402)
      Quarter      Data      ID
57380  2013Q1  19374.89  102402
57381  2013Q2  17706.94  102402
57382  2013Q3  14264.36  102402
57383  2013Q4  14873.76  102402
57384  2014Q1  14292.63  102402
57385  2014Q2  16249.47  102402
57386  2014Q3  16447.71  102402
57387  2014Q4  17589.64  102402
57388  2015Q1  18613.48  102402
57389  2015Q2  17209.16  102402
57390  2015Q3  16486.17  102402
57391  2015Q4  15532.76  102402
57392  2016Q1  13713.49  102402
57393  2016Q2  15594.52  102402
57394  2016Q3  18412.66  102402
57395  2016Q4  15767.68  102402
57396  2017Q1  16480.72  102402
57397  2017Q2  18505.43  102402
57398  2017Q3  19946.01  102402
57399  2017Q4  20094.87  102402
('Key_nav : ', 102402)
('data 1 : ', array([-0.05140453, -0.0243589 , -0.18750868,  0.06717818,  0.0088062 ,
        0.23536668,  0.09275908,  0.10966532,  0.0841867 , -0.05864866,
       -0.06163753, -0.06608789, -0.11652351,  0.13176672,  0.1113244 ,
       -0.05186279,  0.05065335,  0.12479673,  0.08171191,  0.02625848]))
('data 2 :', array([ 19374.89,  17706.94,  14264.36,  14873.76,  14292.63,  16249.47,
        16447.71,  17589.64,  18613.48,  17209.16,  16486.17,  15532.76,
        13713.49,  15594.52,  18412.66,  15767.68,  16480.72,  18505.43,
        19946.01,  20094.87]))
('mean : ', array([-0.05140453, -0.0243589 , -0.18750868,  0.06717818,  0.0088062 ,
        0.23536668,  0.09275908,  0.10966532,  0.0841867 , -0.05864866,
       -0.06163753, -0.06608789, -0.11652351,  0.13176672,  0.1113244 ,
       -0.05186279,  0.05065335,  0.12479673,  0.08171191,  0.02625848]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
57380  2013Q1  19374.89  102402
57381  2013Q2  17706.94  102402
57382  2013Q3  14264.36  102402
57383  2013Q4  14873.76  102402
57384  2014Q1  14292.63  102402
57385  2014Q2  16249.47  102402
57386  2014Q3  16447.71  102402
57387  2014Q4  17589.64  102402
57388  2015Q1  18613.48  102402
57389  2015Q2  17209.16  102402
57390  2015Q3  16486.17  102402
57391  2015Q4  15532.76  102402
57392  2016Q1  13713.49  102402
57393  2016Q2  15594.52  102402
57394  2016Q3  18412.66  102402
57395  2016Q4  15767.68  102402
57396  2017Q1  16480.72  102402
57397  2017Q2  18505.43  102402
57398  2017Q3  19946.01  102402
57399  2017Q4  20094.87  102402>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1040  2013Q1 -0.051405  102402
1041  2013Q2 -0.024359  102402
1042  2013Q3 -0.187509  102402
1043  2013Q4  0.067178  102402
1044  2014Q1  0.008806  102402
1045  2014Q2  0.235367  102402
1046  2014Q3  0.092759  102402
1047  2014Q4  0.109665  102402
1048  2015Q1  0.084187  102402
1049  2015Q2 -0.058649  102402
1050  2015Q3 -0.061638  102402
1051  2015Q4 -0.066088  102402
1052  2016Q1 -0.116524  102402
1053  2016Q2  0.131767  102402
1054  2016Q3  0.111324  102402
1055  2016Q4 -0.051863  102402
1056  2017Q1  0.050653  102402
1057  2017Q2  0.124797  102402
1058  2017Q3  0.081712  102402
1059  2017Q4  0.026258  102402>)
('Key_aum: ', 102402)
      Quarter      Data      ID
57380  2013Q1  19374.89  102402
57381  2013Q2  17706.94  102402
57382  2013Q3  14264.36  102402
57383  2013Q4  14873.76  102402
57384  2014Q1  14292.63  102402
57385  2014Q2  16249.47  102402
57386  2014Q3  16447.71  102402
57387  2014Q4  17589.64  102402
57388  2015Q1  18613.48  102402
57389  2015Q2  17209.16  102402
57390  2015Q3  16486.17  102402
57391  2015Q4  15532.76  102402
57392  2016Q1  13713.49  102402
57393  2016Q2  15594.52  102402
57394  2016Q3  18412.66  102402
57395  2016Q4  15767.68  102402
57396  2017Q1  16480.72  102402
57397  2017Q2  18505.43  102402
57398  2017Q3  19946.01  102402
57399  2017Q4  20094.87  102402
('Key_nav : ', 102402)
('data 1 : ', array([-0.05140453, -0.0243589 , -0.18750868,  0.06717818,  0.0088062 ,
        0.23536668,  0.09275908,  0.10966532,  0.0841867 , -0.05864866,
       -0.06163753, -0.06608789, -0.11652351,  0.13176672,  0.1113244 ,
       -0.05186279,  0.05065335,  0.12479673,  0.08171191,  0.02625848]))
('data 2 :', array([ 19374.89,  17706.94,  14264.36,  14873.76,  14292.63,  16249.47,
        16447.71,  17589.64,  18613.48,  17209.16,  16486.17,  15532.76,
        13713.49,  15594.52,  18412.66,  15767.68,  16480.72,  18505.43,
        19946.01,  20094.87]))
('mean : ', array([-0.05140453, -0.0243589 , -0.18750868,  0.06717818,  0.0088062 ,
        0.23536668,  0.09275908,  0.10966532,  0.0841867 , -0.05864866,
       -0.06163753, -0.06608789, -0.11652351,  0.13176672,  0.1113244 ,
       -0.05186279,  0.05065335,  0.12479673,  0.08171191,  0.02625848]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
57380  2013Q1  19374.89  102402
57381  2013Q2  17706.94  102402
57382  2013Q3  14264.36  102402
57383  2013Q4  14873.76  102402
57384  2014Q1  14292.63  102402
57385  2014Q2  16249.47  102402
57386  2014Q3  16447.71  102402
57387  2014Q4  17589.64  102402
57388  2015Q1  18613.48  102402
57389  2015Q2  17209.16  102402
57390  2015Q3  16486.17  102402
57391  2015Q4  15532.76  102402
57392  2016Q1  13713.49  102402
57393  2016Q2  15594.52  102402
57394  2016Q3  18412.66  102402
57395  2016Q4  15767.68  102402
57396  2017Q1  16480.72  102402
57397  2017Q2  18505.43  102402
57398  2017Q3  19946.01  102402
57399  2017Q4  20094.87  102402>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1040  2013Q1 -0.051405  102402
1041  2013Q2 -0.024359  102402
1042  2013Q3 -0.187509  102402
1043  2013Q4  0.067178  102402
1044  2014Q1  0.008806  102402
1045  2014Q2  0.235367  102402
1046  2014Q3  0.092759  102402
1047  2014Q4  0.109665  102402
1048  2015Q1  0.084187  102402
1049  2015Q2 -0.058649  102402
1050  2015Q3 -0.061638  102402
1051  2015Q4 -0.066088  102402
1052  2016Q1 -0.116524  102402
1053  2016Q2  0.131767  102402
1054  2016Q3  0.111324  102402
1055  2016Q4 -0.051863  102402
1056  2017Q1  0.050653  102402
1057  2017Q2  0.124797  102402
1058  2017Q3  0.081712  102402
1059  2017Q4  0.026258  102402>)
('Key_aum: ', 102402)
      Quarter      Data      ID
57380  2013Q1  19374.89  102402
57381  2013Q2  17706.94  102402
57382  2013Q3  14264.36  102402
57383  2013Q4  14873.76  102402
57384  2014Q1  14292.63  102402
57385  2014Q2  16249.47  102402
57386  2014Q3  16447.71  102402
57387  2014Q4  17589.64  102402
57388  2015Q1  18613.48  102402
57389  2015Q2  17209.16  102402
57390  2015Q3  16486.17  102402
57391  2015Q4  15532.76  102402
57392  2016Q1  13713.49  102402
57393  2016Q2  15594.52  102402
57394  2016Q3  18412.66  102402
57395  2016Q4  15767.68  102402
57396  2017Q1  16480.72  102402
57397  2017Q2  18505.43  102402
57398  2017Q3  19946.01  102402
57399  2017Q4  20094.87  102402
('Key_nav : ', 102402)
('data 1 : ', array([-0.05140453, -0.0243589 , -0.18750868,  0.06717818,  0.0088062 ,
        0.23536668,  0.09275908,  0.10966532,  0.0841867 , -0.05864866,
       -0.06163753, -0.06608789, -0.11652351,  0.13176672,  0.1113244 ,
       -0.05186279,  0.05065335,  0.12479673,  0.08171191,  0.02625848]))
('data 2 :', array([ 19374.89,  17706.94,  14264.36,  14873.76,  14292.63,  16249.47,
        16447.71,  17589.64,  18613.48,  17209.16,  16486.17,  15532.76,
        13713.49,  15594.52,  18412.66,  15767.68,  16480.72,  18505.43,
        19946.01,  20094.87]))
('mean : ', array([-0.05140453, -0.0243589 , -0.18750868,  0.06717818,  0.0088062 ,
        0.23536668,  0.09275908,  0.10966532,  0.0841867 , -0.05864866,
       -0.06163753, -0.06608789, -0.11652351,  0.13176672,  0.1113244 ,
       -0.05186279,  0.05065335,  0.12479673,  0.08171191,  0.02625848]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
57380  2013Q1  19374.89  102402
57381  2013Q2  17706.94  102402
57382  2013Q3  14264.36  102402
57383  2013Q4  14873.76  102402
57384  2014Q1  14292.63  102402
57385  2014Q2  16249.47  102402
57386  2014Q3  16447.71  102402
57387  2014Q4  17589.64  102402
57388  2015Q1  18613.48  102402

('Key_aum: ', 102402)
      Quarter      Data      ID
57380  2013Q1  19374.89  102402
57381  2013Q2  17706.94  102402
57382  2013Q3  14264.36  102402
57383  2013Q4  14873.76  102402
57384  2014Q1  14292.63  102402
57385  2014Q2  16249.47  102402
57386  2014Q3  16447.71  102402
57387  2014Q4  17589.64  102402
57388  2015Q1  18613.48  102402
57389  2015Q2  17209.16  102402
57390  2015Q3  16486.17  102402
57391  2015Q4  15532.76  102402
57392  2016Q1  13713.49  102402
57393  2016Q2  15594.52  102402
57394  2016Q3  18412.66  102402
57395  2016Q4  15767.68  102402
57396  2017Q1  16480.72  102402
57397  2017Q2  18505.43  102402
57398  2017Q3  19946.01  102402
57399  2017Q4  20094.87  102402
('Key_nav : ', 102402)
('data 1 : ', array([-0.05140453, -0.0243589 , -0.18750868,  0.06717818,  0.0088062 ,
        0.23536668,  0.09275908,  0.10966532,  0.0841867 , -0.05864866,
       -0.06163753, -0.06608789, -0.11652351,  0.13176672,  0.1113244 ,
       -0.05186279,  0.05065335,  0.12479673,  0.08171191,  0.02625848]))
('data 2 :', array([ 19374.89,  17706.94,  14264.36,  14873.76,  14292.63,  16249.47,
        16447.71,  17589.64,  18613.48,  17209.16,  16486.17,  15532.76,
        13713.49,  15594.52,  18412.66,  15767.68,  16480.72,  18505.43,
        19946.01,  20094.87]))
('mean : ', array([-0.05140453, -0.0243589 , -0.18750868,  0.06717818,  0.0088062 ,
        0.23536668,  0.09275908,  0.10966532,  0.0841867 , -0.05864866,
       -0.06163753, -0.06608789, -0.11652351,  0.13176672,  0.1113244 ,
       -0.05186279,  0.05065335,  0.12479673,  0.08171191,  0.02625848]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
57380  2013Q1  19374.89  102402
57381  2013Q2  17706.94  102402
57382  2013Q3  14264.36  102402
57383  2013Q4  14873.76  102402
57384  2014Q1  14292.63  102402
57385  2014Q2  16249.47  102402
57386  2014Q3  16447.71  102402
57387  2014Q4  17589.64  102402
57388  2015Q1  18613.48  102402
57389  2015Q2  17209.16  102402
57390  2015Q3  16486.17  102402
57391  2015Q4  15532.76  102402
57392  2016Q1  13713.49  102402
57393  2016Q2  15594.52  102402
57394  2016Q3  18412.66  102402
57395  2016Q4  15767.68  102402
57396  2017Q1  16480.72  102402
57397  2017Q2  18505.43  102402
57398  2017Q3  19946.01  102402
57399  2017Q4  20094.87  102402>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1040  2013Q1 -0.051405  102402
1041  2013Q2 -0.024359  102402
1042  2013Q3 -0.187509  102402
1043  2013Q4  0.067178  102402
1044  2014Q1  0.008806  102402
1045  2014Q2  0.235367  102402
1046  2014Q3  0.092759  102402
1047  2014Q4  0.109665  102402
1048  2015Q1  0.084187  102402
1049  2015Q2 -0.058649  102402
1050  2015Q3 -0.061638  102402
1051  2015Q4 -0.066088  102402
1052  2016Q1 -0.116524  102402
1053  2016Q2  0.131767  102402
1054  2016Q3  0.111324  102402
1055  2016Q4 -0.051863  102402
1056  2017Q1  0.050653  102402
1057  2017Q2  0.124797  102402
1058  2017Q3  0.081712  102402
1059  2017Q4  0.026258  102402>)
('Key_aum: ', 102402)
      Quarter      Data      ID
57380  2013Q1  19374.89  102402
57381  2013Q2  17706.94  102402
57382  2013Q3  14264.36  102402
57383  2013Q4  14873.76  102402
57384  2014Q1  14292.63  102402
57385  2014Q2  16249.47  102402
57386  2014Q3  16447.71  102402
57387  2014Q4  17589.64  102402
57388  2015Q1  18613.48  102402
57389  2015Q2  17209.16  102402
57390  2015Q3  16486.17  102402
57391  2015Q4  15532.76  102402
57392  2016Q1  13713.49  102402
57393  2016Q2  15594.52  102402
57394  2016Q3  18412.66  102402
57395  2016Q4  15767.68  102402
57396  2017Q1  16480.72  102402
57397  2017Q2  18505.43  102402
57398  2017Q3  19946.01  102402
57399  2017Q4  20094.87  102402
('Key_nav : ', 102402)
('data 1 : ', array([-0.05140453, -0.0243589 , -0.18750868,  0.06717818,  0.0088062 ,
        0.23536668,  0.09275908,  0.10966532,  0.0841867 , -0.05864866,
       -0.06163753, -0.06608789, -0.11652351,  0.13176672,  0.1113244 ,
       -0.05186279,  0.05065335,  0.12479673,  0.08171191,  0.02625848]))
('data 2 :', array([ 19374.89,  17706.94,  14264.36,  14873.76,  14292.63,  16249.47,
        16447.71,  17589.64,  18613.48,  17209.16,  16486.17,  15532.76,
        13713.49,  15594.52,  18412.66,  15767.68,  16480.72,  18505.43,
        19946.01,  20094.87]))
('mean : ', array([-0.05140453, -0.0243589 , -0.18750868,  0.06717818,  0.0088062 ,
        0.23536668,  0.09275908,  0.10966532,  0.0841867 , -0.05864866,
       -0.06163753, -0.06608789, -0.11652351,  0.13176672,  0.1113244 ,
       -0.05186279,  0.05065335,  0.12479673,  0.08171191,  0.02625848]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
57380  2013Q1  19374.89  102402
57381  2013Q2  17706.94  102402
57382  2013Q3  14264.36  102402
57383  2013Q4  14873.76  102402
57384  2014Q1  14292.63  102402
57385  2014Q2  16249.47  102402
57386  2014Q3  16447.71  102402
57387  2014Q4  17589.64  102402
57388  2015Q1  18613.48  102402
57389  2015Q2  17209.16  102402
57390  2015Q3  16486.17  102402
57391  2015Q4  15532.76  102402
57392  2016Q1  13713.49  102402
57393  2016Q2  15594.52  102402
57394  2016Q3  18412.66  102402
57395  2016Q4  15767.68  102402
57396  2017Q1  16480.72  102402
57397  2017Q2  18505.43  102402
57398  2017Q3  19946.01  102402
57399  2017Q4  20094.87  102402>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1040  2013Q1 -0.051405  102402
1041  2013Q2 -0.024359  102402
1042  2013Q3 -0.187509  102402
1043  2013Q4  0.067178  102402
1044  2014Q1  0.008806  102402
1045  2014Q2  0.235367  102402
1046  2014Q3  0.092759  102402
1047  2014Q4  0.109665  102402
1048  2015Q1  0.084187  102402
1049  2015Q2 -0.058649  102402
1050  2015Q3 -0.061638  102402
1051  2015Q4 -0.066088  102402
1052  2016Q1 -0.116524  102402
1053  2016Q2  0.131767  102402
1054  2016Q3  0.111324  102402
1055  2016Q4 -0.051863  102402
1056  2017Q1  0.050653  102402
1057  2017Q2  0.124797  102402
1058  2017Q3  0.081712  102402
1059  2017Q4  0.026258  102402>)
('Key_aum: ', 102402)
      Quarter      Data      ID
57380  2013Q1  19374.89  102402
57381  2013Q2  17706.94  102402
57382  2013Q3  14264.36  102402
57383  2013Q4  14873.76  102402
57384  2014Q1  14292.63  102402
57385  2014Q2  16249.47  102402
57386  2014Q3  16447.71  102402
57387  2014Q4  17589.64  102402
57388  2015Q1  18613.48  102402
57389  2015Q2  17209.16  102402
57390  2015Q3  16486.17  102402
57391  2015Q4  15532.76  102402
57392  2016Q1  13713.49  102402
57393  2016Q2  15594.52  102402
57394  2016Q3  18412.66  102402
57395  2016Q4  15767.68  102402
57396  2017Q1  16480.72  102402
57397  2017Q2  18505.43  102402
57398  2017Q3  19946.01  102402
57399  2017Q4  20094.87  102402
('Key_nav : ', 102402)
('data 1 : ', array([-0.05140453, -0.0243589 , -0.18750868,  0.06717818,  0.0088062 ,
        0.23536668,  0.09275908,  0.10966532,  0.0841867 , -0.05864866,
       -0.06163753, -0.06608789, -0.11652351,  0.13176672,  0.1113244 ,
       -0.05186279,  0.05065335,  0.12479673,  0.08171191,  0.02625848]))
('data 2 :', array([ 19374.89,  17706.94,  14264.36,  14873.76,  14292.63,  16249.47,
        16447.71,  17589.64,  18613.48,  17209.16,  16486.17,  15532.76,
        13713.49,  15594.52,  18412.66,  15767.68,  16480.72,  18505.43,
        19946.01,  20094.87]))
('mean : ', array([-0.05140453, -0.0243589 , -0.18750868,  0.06717818,  0.0088062 ,
        0.23536668,  0.09275908,  0.10966532,  0.0841867 , -0.05864866,
       -0.06163753, -0.06608789, -0.11652351,  0.13176672,  0.1113244 ,
       -0.05186279,  0.05065335,  0.12479673,  0.08171191,  0.02625848]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
57380  2013Q1  19374.89  102402
57381  2013Q2  17706.94  102402
57382  2013Q3  14264.36  102402
57383  2013Q4  14873.76  102402
57384  2014Q1  14292.63  102402
57385  2014Q2  16249.47  102402
57386  2014Q3  16447.71  102402
57387  2014Q4  17589.64  102402
57388  2015Q1  18613.48  102402
57389  2015Q2  17209.16  102402
57390  2015Q3  16486.17  102402
57391  2015Q4  15532.76  102402
57392  2016Q1  13713.49  102402
57393  2016Q2  15594.52  102402
57394  2016Q3  18412.66  102402
57395  2016Q4  15767.68  102402
57396  2017Q1  16480.72  102402
57397  2017Q2  18505.43  102402
57398  2017Q3  19946.01  102402
57399  2017Q4  20094.87  102402>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1040  2013Q1 -0.051405  102402
1041  2013Q2 -0.024359  102402
1042  2013Q3 -0.187509  102402
1043  2013Q4  0.067178  102402
1044  2014Q1  0.008806  102402
1045  2014Q2  0.235367  102402
1046  2014Q3  0.092759  102402
1047  2014Q4  0.109665  102402
1048  2015Q1  0.084187  102402
1049  2015Q2 -0.058649  102402
1050  2015Q3 -0.061638  102402
1051  2015Q4 -0.066088  102402
1052  2016Q1 -0.116524  102402
1053  2016Q2  0.131767  102402
1054  2016Q3  0.111324  102402
1055  2016Q4 -0.051863  102402
1056  2017Q1  0.050653  102402
1057  2017Q2  0.124797  102402
1058  2017Q3  0.081712  102402
1059  2017Q4  0.026258  102402>)
('Key_aum: ', 102402)
      Quarter      Data      ID
57380  2013Q1  19374.89  102402
57381  2013Q2  17706.94  102402
57382  2013Q3  14264.36  102402
57383  2013Q4  14873.76  102402
57384  2014Q1  14292.63  102402
57385  2014Q2  16249.47  102402
57386  2014Q3  16447.71  102402
57387  2014Q4  17589.64  102402
57388  2015Q1  18613.48  102402
57389  2015Q2  17209.16  102402
57390  2015Q3  16486.17  102402
57391  2015Q4  15532.76  102402
57392  2016Q1  13713.49  102402
57393  2016Q2  15594.52  102402
57394  2016Q3  18412.66  102402
57395  2016Q4  15767.68  102402
57396  2017Q1  16480.72  102402
57397  2017Q2  18505.43  102402
57398  2017Q3  19946.01  102402
57399  2017Q4  20094.87  102402
('Key_nav : ', 102402)
('data 1 : ', array([-0.05140453, -0.0243589 , -0.18750868,  0.06717818,  0.0088062 ,
        0.23536668,  0.09275908,  0.10966532,  0.0841867 , -0.05864866,
       -0.06163753, -0.06608789, -0.11652351,  0.13176672,  0.1113244 ,
       -0.05186279,  0.05065335,  0.12479673,  0.08171191,  0.02625848]))
('data 2 :', array([ 19374.89,  17706.94,  14264.36,  14873.76,  14292.63,  16249.47,
        16447.71,  17589.64,  18613.48,  17209.16,  16486.17,  15532.76,
        13713.49,  15594.52,  18412.66,  15767.68,  16480.72,  18505.43,
        19946.01,  20094.87]))
('mean : ', array([-0.05140453, -0.0243589 , -0.18750868,  0.06717818,  0.0088062 ,
        0.23536668,  0.09275908,  0.10966532,  0.0841867 , -0.05864866,
       -0.06163753, -0.06608789, -0.11652351,  0.13176672,  0.1113244 ,
       -0.05186279,  0.05065335,  0.12479673,  0.08171191,  0.02625848]))
('IDs :', [125598])
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
92120  2013Q1     0.00  125598
92121  2013Q2     0.00  125598
92122  2013Q3     0.00  125598
92123  2013Q4     5.76  125598
92124  2014Q1    33.78  125598
92125  2014Q2    60.76  125598
92126  2014Q3   105.22  125598
92127  2014Q4   128.63  125598
92128  2015Q1   215.16  125598
92129  2015Q2   274.98  125598
92130  2015Q3   288.75  125598
92131  2015Q4   330.69  125598
92132  2016Q1   345.41  125598
92133  2016Q2   385.39  125598
92134  2016Q3   647.86  125598
92135  2016Q4   797.11  125598
92136  2017Q1   948.05  125598
92137  2017Q2  1180.28  125598
92138  2017Q3  1523.04  125598
92139  2017Q4  1740.20  125598>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
360  2013Q1  0.000000  125598
361  2013Q2  0.000000  125598
362  2013Q3  0.000000  125598
363  2013Q4  0.001065  125598
364  2014Q1 -0.000900  125598
365  2014Q2  0.191713  125598
366  2014Q3 -0.030180  125598
367  2014Q4  0.103566  125598
368  2015Q1  0.135068  125598
369  2015Q2 -0.036361  125598
370  2015Q3  0.018492  125598
371  2015Q4 -0.034264  125598
372  2016Q1 -0.057783  125598
373  2016Q2  0.139006  125598
374  2016Q3  0.186119  125598
375  2016Q4 -0.031676  125598
376  2017Q1  0.061451  125598
377  2017Q2  0.133753  125598
378  2017Q3  0.097368  125598
379  2017Q4  0.027453  125598>)
('Key_aum: ', 125598)
      Quarter     Data      ID
92120  2013Q1     0.00  125598
92121  2013Q2     0.00  125598
92122  2013Q3     0.00  125598
92123  2013Q4     5.76  125598
92124  2014Q1    33.78  125598
92125  2014Q2    60.76  125598
92126  2014Q3   105.22  125598
92127  2014Q4   128.63  125598
92128  2015Q1   215.16  125598
92129  2015Q2   274.98  125598
92130  2015Q3   288.75  125598
92131  2015Q4   330.69  125598
92132  2016Q1   345.41  125598
92133  2016Q2   385.39  125598
92134  2016Q3   647.86  125598
92135  2016Q4   797.11  125598
92136  2017Q1   948.05  125598
92137  2017Q2  1180.28  125598
92138  2017Q3  1523.04  125598
92139  2017Q4  1740.20  125598
('Key_nav : ', 125598)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.00106469, -0.00089995,
        0.1917126 , -0.03017987,  0.10356562,  0.13506849, -0.03636066,
        0.01849249, -0.03426389, -0.05778279,  0.13900621,  0.18611889,
       -0.03167631,  0.06145149,  0.13375322,  0.09736763,  0.02745258]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     5.76,    33.78,    60.76,
         105.22,   128.63,   215.16,   274.98,   288.75,   330.69,
         345.41,   385.39,   647.86,   797.11,   948.05,  1180.28,
        1523.04,  1740.2 ]))
('mean : ', array([        nan,         nan,         nan,  0.00106469, -0.00089995,
        0.1917126 , -0.03017987,  0.10356562,  0.13506849, -0.03636066,
        0.01849249, -0.03426389, -0.05778279,  0.13900621,  0.18611889,
       -0.03167631,  0.06145149,  0.13375322,  0.09736763,  0.02745258]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
92120  2013Q1     0.00  125598
92121  2013Q2     0.00  125598
92122  2013Q3     0.00  125598
92123  2013Q4     5.76  125598
92124  2014Q1    33.78  125598
92125  2014Q2    60.76  125598
92126  2014Q3   105.22  125598
92127  2014Q4   128.63  125598
92128  2015Q1   215.16  125598
92129  2015Q2   274.98  125598
92130  2015Q3   288.75  125598
92131  2015Q4   330.69  125598
92132  2016Q1   345.41  125598
92133  2016Q2   385.39  125598
92134  2016Q3   647.86  125598
92135  2016Q4   797.11  125598
92136  2017Q1   948.05  125598
92137  2017Q2  1180.28  125598
92138  2017Q3  1523.04  125598
92139  2017Q4  1740.20  125598>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
360  2013Q1  0.000000  125598
361  2013Q2  0.000000  125598
362  2013Q3  0.000000  125598
363  2013Q4  0.001065  125598
364  2014Q1 -0.000900  125598
365  2014Q2  0.191713  125598
366  2014Q3 -0.030180  125598
367  2014Q4  0.103566  125598
368  2015Q1  0.135068  125598
369  2015Q2 -0.036361  125598
370  2015Q3  0.018492  125598
371  2015Q4 -0.034264  125598
372  2016Q1 -0.057783  125598
373  2016Q2  0.139006  125598
374  2016Q3  0.186119  125598
375  2016Q4 -0.031676  125598
376  2017Q1  0.061451  125598
377  2017Q2  0.133753  125598
378  2017Q3  0.097368  125598
379  2017Q4  0.027453  125598>)
('Key_aum: ', 125598)
      Quarter     Data      ID
92120  2013Q1     0.00  125598
92121  2013Q2     0.00  125598
92122  2013Q3     0.00  125598
92123  2013Q4     5.76  125598
92124  2014Q1    33.78  125598
92125  2014Q2    60.76  125598
92126  2014Q3   105.22  125598
92127  2014Q4   128.63  125598
92128  2015Q1   215.16  125598
92129  2015Q2   274.98  125598
92130  2015Q3   288.75  125598
92131  2015Q4   330.69  125598
92132  2016Q1   345.41  125598
92133  2016Q2   385.39  125598
92134  2016Q3   647.86  125598
92135  2016Q4   797.11  125598
92136  2017Q1   948.05  125598
92137  2017Q2  1180.28  125598
92138  2017Q3  1523.04  125598
92139  2017Q4  1740.20  125598
('Key_nav : ', 125598)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.00106469, -0.00089995,
        0.1917126 , -0.03017987,  0.10356562,  0.13506849, -0.03636066,
        0.01849249, -0.03426389, -0.05778279,  0.13900621,  0.18611889,
       -0.03167631,  0.06145149,  0.13375322,  0.09736763,  0.02745258]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     5.76,    33.78,    60.76,
         105.22,   128.63,   215.16,   274.98,   288.75,   330.69,
         345.41,   385.39,   647.86,   797.11,   948.05,  1180.28,
        1523.04,  1740.2 ]))
('mean : ', array([        nan,         nan,         nan,  0.00106469, -0.00089995,
        0.1917126 , -0.03017987,  0.10356562,  0.13506849, -0.03636066,
        0.01849249, -0.03426389, -0.05778279,  0.13900621,  0.18611889,
       -0.03167631,  0.06145149,  0.13375322,  0.09736763,  0.02745258]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
92120  2013Q1     0.00  125598
92121  2013Q2     0.00  125598
92122  2013Q3     0.00  125598
92123  2013Q4     5.76  125598
92124  2014Q1    33.78  125598
92125  2014Q2    60.76  125598
92126  2014Q3   105.22  125598
92127  2014Q4   128.63  125598
92128  2015Q1   215.16  125598
92129  2015Q2   274.98  125598
92130  2015Q3   288.75  125598
92131  2015Q4   330.69  125598
92132  2016Q1   345.41  125598
92133  2016Q2   385.39  125598
92134  2016Q3   647.86  125598
92135  2016Q4   797.11  125598
92136  2017Q1   948.05  125598
92137  2017Q2  1180.28  125598
92138  2017Q3  1523.04  125598
92139  2017Q4  1740.20  125598>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
360  2013Q1  0.000000  125598
361  2013Q2  0.000000  125598
362  2013Q3  0.000000  125598
363  2013Q4  0.001065  125598
364  2014Q1 -0.000900  125598
365  2014Q2  0.191713  125598
366  2014Q3 -0.030180  125598
367  2014Q4  0.103566  125598
368  2015Q1  0.135068  125598
369  2015Q2 -0.036361  125598
370  2015Q3  0.018492  125598
371  2015Q4 -0.034264  125598
372  2016Q1 -0.057783  125598
373  2016Q2  0.139006  125598
374  2016Q3  0.186119  125598
375  2016Q4 -0.031676  125598
376  2017Q1  0.061451  125598
377  2017Q2  0.133753  125598
378  2017Q3  0.097368  125598
379  2017Q4  0.027453  125598>)
('Key_aum: ', 125598)
      Quarter     Data      ID
92120  2013Q1     0.00  125598
92121  2013Q2     0.00  125598
92122  2013Q3     0.00  125598
92123  2013Q4     5.76  125598
92124  2014Q1    33.78  125598
92125  2014Q2    60.76  125598
92126  2014Q3   105.22  125598
92127  2014Q4   128.63  125598
92128  2015Q1   215.16  125598
92129  2015Q2   274.98  125598
92130  2015Q3   288.75  125598
92131  2015Q4   330.69  125598
92132  2016Q1   345.41  125598
92133  2016Q2   385.39  125598
92134  2016Q3   647.86  125598
92135  2016Q4   797.11  125598
92136  2017Q1   948.05  125598
92137  2017Q2  1180.28  125598
92138  2017Q3  1523.04  125598
92139  2017Q4  1740.20  125598
('Key_nav : ', 125598)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.00106469, -0.00089995,
        0.1917126 , -0.03017987,  0.10356562,  0.13506849, -0.03636066,
        0.01849249, -0.03426389, -0.05778279,  0.13900621,  0.18611889,
       -0.03167631,  0.06145149,  0.13375322,  0.09736763,  0.02745258]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     5.76,    33.78,    60.76,
         105.22,   128.63,   215.16,   274.98,   288.75,   330.69,
         345.41,   385.39,   647.86,   797.11,   948.05,  1180.28,
        1523.04,  1740.2 ]))
('mean : ', array([        nan,         nan,         nan,  0.00106469, -0.00089995,
        0.1917126 , -0.03017987,  0.10356562,  0.13506849, -0.03636066,
        0.01849249, -0.03426389, -0.05778279,  0.13900621,  0.18611889,
       -0.03167631,  0.06145149,  0.13375322,  0.09736763,  0.02745258]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
92120  2013Q1     0.00  125598
92121  2013Q2     0.00  125598
92122  2013Q3     0.00  125598
92123  2013Q4     5.76  125598
92124  2014Q1    33.78  125598
92125  2014Q2    60.76  125598
92126  2014Q3   105.22  125598
92127  2014Q4   128.63  125598
92128  2015Q1   215.16  125598
92129  2015Q2   274.98  125598
92130  2015Q3   288.75  125598
92131  2015Q4   330.69  125598
92132  2016Q1   345.41  125598
92133  2016Q2   385.39  125598
92134  2016Q3   647.86  125598
92135  2016Q4   797.11  125598

      Quarter     Data      ID
92120  2013Q1     0.00  125598
92121  2013Q2     0.00  125598
92122  2013Q3     0.00  125598
92123  2013Q4     5.76  125598
92124  2014Q1    33.78  125598
92125  2014Q2    60.76  125598
92126  2014Q3   105.22  125598
92127  2014Q4   128.63  125598
92128  2015Q1   215.16  125598
92129  2015Q2   274.98  125598
92130  2015Q3   288.75  125598
92131  2015Q4   330.69  125598
92132  2016Q1   345.41  125598
92133  2016Q2   385.39  125598
92134  2016Q3   647.86  125598
92135  2016Q4   797.11  125598
92136  2017Q1   948.05  125598
92137  2017Q2  1180.28  125598
92138  2017Q3  1523.04  125598
92139  2017Q4  1740.20  125598
('Key_nav : ', 125598)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.00106469, -0.00089995,
        0.1917126 , -0.03017987,  0.10356562,  0.13506849, -0.03636066,
        0.01849249, -0.03426389, -0.05778279,  0.13900621,  0.18611889,
       -0.03167631,  0.06145149,  0.13375322,  0.09736763,  0.02745258]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     5.76,    33.78,    60.76,
         105.22,   128.63,   215.16,   274.98,   288.75,   330.69,
         345.41,   385.39,   647.86,   797.11,   948.05,  1180.28,
        1523.04,  1740.2 ]))
('mean : ', array([        nan,         nan,         nan,  0.00106469, -0.00089995,
        0.1917126 , -0.03017987,  0.10356562,  0.13506849, -0.03636066,
        0.01849249, -0.03426389, -0.05778279,  0.13900621,  0.18611889,
       -0.03167631,  0.06145149,  0.13375322,  0.09736763,  0.02745258]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
92120  2013Q1     0.00  125598
92121  2013Q2     0.00  125598
92122  2013Q3     0.00  125598
92123  2013Q4     5.76  125598
92124  2014Q1    33.78  125598
92125  2014Q2    60.76  125598
92126  2014Q3   105.22  125598
92127  2014Q4   128.63  125598
92128  2015Q1   215.16  125598
92129  2015Q2   274.98  125598
92130  2015Q3   288.75  125598
92131  2015Q4   330.69  125598
92132  2016Q1   345.41  125598
92133  2016Q2   385.39  125598
92134  2016Q3   647.86  125598
92135  2016Q4   797.11  125598
92136  2017Q1   948.05  125598
92137  2017Q2  1180.28  125598
92138  2017Q3  1523.04  125598
92139  2017Q4  1740.20  125598>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
360  2013Q1  0.000000  125598
361  2013Q2  0.000000  125598
362  2013Q3  0.000000  125598
363  2013Q4  0.001065  125598
364  2014Q1 -0.000900  125598
365  2014Q2  0.191713  125598
366  2014Q3 -0.030180  125598
367  2014Q4  0.103566  125598
368  2015Q1  0.135068  125598
369  2015Q2 -0.036361  125598
370  2015Q3  0.018492  125598
371  2015Q4 -0.034264  125598
372  2016Q1 -0.057783  125598
373  2016Q2  0.139006  125598
374  2016Q3  0.186119  125598
375  2016Q4 -0.031676  125598
376  2017Q1  0.061451  125598
377  2017Q2  0.133753  125598
378  2017Q3  0.097368  125598
379  2017Q4  0.027453  125598>)
('Key_aum: ', 125598)
      Quarter     Data      ID
92120  2013Q1     0.00  125598
92121  2013Q2     0.00  125598
92122  2013Q3     0.00  125598
92123  2013Q4     5.76  125598
92124  2014Q1    33.78  125598
92125  2014Q2    60.76  125598
92126  2014Q3   105.22  125598
92127  2014Q4   128.63  125598
92128  2015Q1   215.16  125598
92129  2015Q2   274.98  125598
92130  2015Q3   288.75  125598
92131  2015Q4   330.69  125598
92132  2016Q1   345.41  125598
92133  2016Q2   385.39  125598
92134  2016Q3   647.86  125598
92135  2016Q4   797.11  125598
92136  2017Q1   948.05  125598
92137  2017Q2  1180.28  125598
92138  2017Q3  1523.04  125598
92139  2017Q4  1740.20  125598
('Key_nav : ', 125598)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.00106469, -0.00089995,
        0.1917126 , -0.03017987,  0.10356562,  0.13506849, -0.03636066,
        0.01849249, -0.03426389, -0.05778279,  0.13900621,  0.18611889,
       -0.03167631,  0.06145149,  0.13375322,  0.09736763,  0.02745258]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     5.76,    33.78,    60.76,
         105.22,   128.63,   215.16,   274.98,   288.75,   330.69,
         345.41,   385.39,   647.86,   797.11,   948.05,  1180.28,
        1523.04,  1740.2 ]))
('mean : ', array([        nan,         nan,         nan,  0.00106469, -0.00089995,
        0.1917126 , -0.03017987,  0.10356562,  0.13506849, -0.03636066,
        0.01849249, -0.03426389, -0.05778279,  0.13900621,  0.18611889,
       -0.03167631,  0.06145149,  0.13375322,  0.09736763,  0.02745258]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
92120  2013Q1     0.00  125598
92121  2013Q2     0.00  125598
92122  2013Q3     0.00  125598
92123  2013Q4     5.76  125598
92124  2014Q1    33.78  125598
92125  2014Q2    60.76  125598
92126  2014Q3   105.22  125598
92127  2014Q4   128.63  125598
92128  2015Q1   215.16  125598
92129  2015Q2   274.98  125598
92130  2015Q3   288.75  125598
92131  2015Q4   330.69  125598
92132  2016Q1   345.41  125598
92133  2016Q2   385.39  125598
92134  2016Q3   647.86  125598
92135  2016Q4   797.11  125598
92136  2017Q1   948.05  125598
92137  2017Q2  1180.28  125598
92138  2017Q3  1523.04  125598
92139  2017Q4  1740.20  125598>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
360  2013Q1  0.000000  125598
361  2013Q2  0.000000  125598
362  2013Q3  0.000000  125598
363  2013Q4  0.001065  125598
364  2014Q1 -0.000900  125598
365  2014Q2  0.191713  125598
366  2014Q3 -0.030180  125598
367  2014Q4  0.103566  125598
368  2015Q1  0.135068  125598
369  2015Q2 -0.036361  125598
370  2015Q3  0.018492  125598
371  2015Q4 -0.034264  125598
372  2016Q1 -0.057783  125598
373  2016Q2  0.139006  125598
374  2016Q3  0.186119  125598
375  2016Q4 -0.031676  125598
376  2017Q1  0.061451  125598
377  2017Q2  0.133753  125598
378  2017Q3  0.097368  125598
379  2017Q4  0.027453  125598>)
('Key_aum: ', 125598)
      Quarter     Data      ID
92120  2013Q1     0.00  125598
92121  2013Q2     0.00  125598
92122  2013Q3     0.00  125598
92123  2013Q4     5.76  125598
92124  2014Q1    33.78  125598
92125  2014Q2    60.76  125598
92126  2014Q3   105.22  125598
92127  2014Q4   128.63  125598
92128  2015Q1   215.16  125598
92129  2015Q2   274.98  125598
92130  2015Q3   288.75  125598
92131  2015Q4   330.69  125598
92132  2016Q1   345.41  125598
92133  2016Q2   385.39  125598
92134  2016Q3   647.86  125598
92135  2016Q4   797.11  125598
92136  2017Q1   948.05  125598
92137  2017Q2  1180.28  125598
92138  2017Q3  1523.04  125598
92139  2017Q4  1740.20  125598
('Key_nav : ', 125598)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.00106469, -0.00089995,
        0.1917126 , -0.03017987,  0.10356562,  0.13506849, -0.03636066,
        0.01849249, -0.03426389, -0.05778279,  0.13900621,  0.18611889,
       -0.03167631,  0.06145149,  0.13375322,  0.09736763,  0.02745258]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     5.76,    33.78,    60.76,
         105.22,   128.63,   215.16,   274.98,   288.75,   330.69,
         345.41,   385.39,   647.86,   797.11,   948.05,  1180.28,
        1523.04,  1740.2 ]))
('mean : ', array([        nan,         nan,         nan,  0.00106469, -0.00089995,
        0.1917126 , -0.03017987,  0.10356562,  0.13506849, -0.03636066,
        0.01849249, -0.03426389, -0.05778279,  0.13900621,  0.18611889,
       -0.03167631,  0.06145149,  0.13375322,  0.09736763,  0.02745258]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
92120  2013Q1     0.00  125598
92121  2013Q2     0.00  125598
92122  2013Q3     0.00  125598
92123  2013Q4     5.76  125598
92124  2014Q1    33.78  125598
92125  2014Q2    60.76  125598
92126  2014Q3   105.22  125598
92127  2014Q4   128.63  125598
92128  2015Q1   215.16  125598
92129  2015Q2   274.98  125598
92130  2015Q3   288.75  125598
92131  2015Q4   330.69  125598
92132  2016Q1   345.41  125598
92133  2016Q2   385.39  125598
92134  2016Q3   647.86  125598
92135  2016Q4   797.11  125598
92136  2017Q1   948.05  125598
92137  2017Q2  1180.28  125598
92138  2017Q3  1523.04  125598
92139  2017Q4  1740.20  125598>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
360  2013Q1  0.000000  125598
361  2013Q2  0.000000  125598
362  2013Q3  0.000000  125598
363  2013Q4  0.001065  125598
364  2014Q1 -0.000900  125598
365  2014Q2  0.191713  125598
366  2014Q3 -0.030180  125598
367  2014Q4  0.103566  125598
368  2015Q1  0.135068  125598
369  2015Q2 -0.036361  125598
370  2015Q3  0.018492  125598
371  2015Q4 -0.034264  125598
372  2016Q1 -0.057783  125598
373  2016Q2  0.139006  125598
374  2016Q3  0.186119  125598
375  2016Q4 -0.031676  125598
376  2017Q1  0.061451  125598
377  2017Q2  0.133753  125598
378  2017Q3  0.097368  125598
379  2017Q4  0.027453  125598>)
('Key_aum: ', 125598)
      Quarter     Data      ID
92120  2013Q1     0.00  125598
92121  2013Q2     0.00  125598
92122  2013Q3     0.00  125598
92123  2013Q4     5.76  125598
92124  2014Q1    33.78  125598
92125  2014Q2    60.76  125598
92126  2014Q3   105.22  125598
92127  2014Q4   128.63  125598
92128  2015Q1   215.16  125598
92129  2015Q2   274.98  125598
92130  2015Q3   288.75  125598
92131  2015Q4   330.69  125598
92132  2016Q1   345.41  125598
92133  2016Q2   385.39  125598
92134  2016Q3   647.86  125598
92135  2016Q4   797.11  125598
92136  2017Q1   948.05  125598
92137  2017Q2  1180.28  125598
92138  2017Q3  1523.04  125598
92139  2017Q4  1740.20  125598
('Key_nav : ', 125598)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.00106469, -0.00089995,
        0.1917126 , -0.03017987,  0.10356562,  0.13506849, -0.03636066,
        0.01849249, -0.03426389, -0.05778279,  0.13900621,  0.18611889,
       -0.03167631,  0.06145149,  0.13375322,  0.09736763,  0.02745258]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     5.76,    33.78,    60.76,
         105.22,   128.63,   215.16,   274.98,   288.75,   330.69,
         345.41,   385.39,   647.86,   797.11,   948.05,  1180.28,
        1523.04,  1740.2 ]))
('mean : ', array([        nan,         nan,         nan,  0.00106469, -0.00089995,
        0.1917126 , -0.03017987,  0.10356562,  0.13506849, -0.03636066,
        0.01849249, -0.03426389, -0.05778279,  0.13900621,  0.18611889,
       -0.03167631,  0.06145149,  0.13375322,  0.09736763,  0.02745258]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
92120  2013Q1     0.00  125598
92121  2013Q2     0.00  125598
92122  2013Q3     0.00  125598
92123  2013Q4     5.76  125598
92124  2014Q1    33.78  125598
92125  2014Q2    60.76  125598
92126  2014Q3   105.22  125598
92127  2014Q4   128.63  125598
92128  2015Q1   215.16  125598
92129  2015Q2   274.98  125598
92130  2015Q3   288.75  125598
92131  2015Q4   330.69  125598
92132  2016Q1   345.41  125598
92133  2016Q2   385.39  125598
92134  2016Q3   647.86  125598
92135  2016Q4   797.11  125598
92136  2017Q1   948.05  125598
92137  2017Q2  1180.28  125598
92138  2017Q3  1523.04  125598
92139  2017Q4  1740.20  125598>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
360  2013Q1  0.000000  125598
361  2013Q2  0.000000  125598
362  2013Q3  0.000000  125598
363  2013Q4  0.001065  125598
364  2014Q1 -0.000900  125598
365  2014Q2  0.191713  125598
366  2014Q3 -0.030180  125598
367  2014Q4  0.103566  125598
368  2015Q1  0.135068  125598
369  2015Q2 -0.036361  125598
370  2015Q3  0.018492  125598
371  2015Q4 -0.034264  125598
372  2016Q1 -0.057783  125598
373  2016Q2  0.139006  125598
374  2016Q3  0.186119  125598
375  2016Q4 -0.031676  125598
376  2017Q1  0.061451  125598
377  2017Q2  0.133753  125598
378  2017Q3  0.097368  125598
379  2017Q4  0.027453  125598>)
('Key_aum: ', 125598)
      Quarter     Data      ID
92120  2013Q1     0.00  125598
92121  2013Q2     0.00  125598
92122  2013Q3     0.00  125598
92123  2013Q4     5.76  125598
92124  2014Q1    33.78  125598
92125  2014Q2    60.76  125598
92126  2014Q3   105.22  125598
92127  2014Q4   128.63  125598
92128  2015Q1   215.16  125598
92129  2015Q2   274.98  125598
92130  2015Q3   288.75  125598
92131  2015Q4   330.69  125598
92132  2016Q1   345.41  125598
92133  2016Q2   385.39  125598
92134  2016Q3   647.86  125598
92135  2016Q4   797.11  125598
92136  2017Q1   948.05  125598
92137  2017Q2  1180.28  125598
92138  2017Q3  1523.04  125598
92139  2017Q4  1740.20  125598
('Key_nav : ', 125598)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.00106469, -0.00089995,
        0.1917126 , -0.03017987,  0.10356562,  0.13506849, -0.03636066,
        0.01849249, -0.03426389, -0.05778279,  0.13900621,  0.18611889,
       -0.03167631,  0.06145149,  0.13375322,  0.09736763,  0.02745258]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     5.76,    33.78,    60.76,
         105.22,   128.63,   215.16,   274.98,   288.75,   330.69,
         345.41,   385.39,   647.86,   797.11,   948.05,  1180.28,
        1523.04,  1740.2 ]))
('mean : ', array([        nan,         nan,         nan,  0.00106469, -0.00089995,
        0.1917126 , -0.03017987,  0.10356562,  0.13506849, -0.03636066,
        0.01849249, -0.03426389, -0.05778279,  0.13900621,  0.18611889,
       -0.03167631,  0.06145149,  0.13375322,  0.09736763,  0.02745258]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
92120  2013Q1     0.00  125598
92121  2013Q2     0.00  125598
92122  2013Q3     0.00  125598
92123  2013Q4     5.76  125598
92124  2014Q1    33.78  125598
92125  2014Q2    60.76  125598
92126  2014Q3   105.22  125598
92127  2014Q4   128.63  125598
92128  2015Q1   215.16  125598
92129  2015Q2   274.98  125598
92130  2015Q3   288.75  125598
92131  2015Q4   330.69  125598
92132  2016Q1   345.41  125598
92133  2016Q2   385.39  125598
92134  2016Q3   647.86  125598
92135  2016Q4   797.11  125598
92136  2017Q1   948.05  125598
92137  2017Q2  1180.28  125598
92138  2017Q3  1523.04  125598
92139  2017Q4  1740.20  125598>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
360  2013Q1  0.000000  125598
361  2013Q2  0.000000  125598
362  2013Q3  0.000000  125598
363  2013Q4  0.001065  125598
364  2014Q1 -0.000900  125598
365  2014Q2  0.191713  125598
366  2014Q3 -0.030180  125598
367  2014Q4  0.103566  125598
368  2015Q1  0.135068  125598
369  2015Q2 -0.036361  125598
370  2015Q3  0.018492  125598
371  2015Q4 -0.034264  125598
372  2016Q1 -0.057783  125598
373  2016Q2  0.139006  125598
374  2016Q3  0.186119  125598
375  2016Q4 -0.031676  125598
376  2017Q1  0.061451  125598
377  2017Q2  0.133753  125598
378  2017Q3  0.097368  125598
379  2017Q4  0.027453  125598>)
('Key_aum: ', 125598)
      Quarter     Data      ID
92120  2013Q1     0.00  125598
92121  2013Q2     0.00  125598
92122  2013Q3     0.00  125598
92123  2013Q4     5.76  125598
92124  2014Q1    33.78  125598
92125  2014Q2    60.76  125598
92126  2014Q3   105.22  125598
92127  2014Q4   128.63  125598
92128  2015Q1   215.16  125598
92129  2015Q2   274.98  125598
92130  2015Q3   288.75  125598
92131  2015Q4   330.69  125598
92132  2016Q1   345.41  125598
92133  2016Q2   385.39  125598
92134  2016Q3   647.86  125598
92135  2016Q4   797.11  125598
92136  2017Q1   948.05  125598
92137  2017Q2  1180.28  125598
92138  2017Q3  1523.04  125598
92139  2017Q4  1740.20  125598
('Key_nav : ', 125598)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.00106469, -0.00089995,
        0.1917126 , -0.03017987,  0.10356562,  0.13506849, -0.03636066,
        0.01849249, -0.03426389, -0.05778279,  0.13900621,  0.18611889,
       -0.03167631,  0.06145149,  0.13375322,  0.09736763,  0.02745258]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     5.76,    33.78,    60.76,
         105.22,   128.63,   215.16,   274.98,   288.75,   330.69,
         345.41,   385.39,   647.86,   797.11,   948.05,  1180.28,
        1523.04,  1740.2 ]))
('mean : ', array([        nan,         nan,         nan,  0.00106469, -0.00089995,
        0.1917126 , -0.03017987,  0.10356562,  0.13506849, -0.03636066,
        0.01849249, -0.03426389, -0.05778279,  0.13900621,  0.18611889,
       -0.03167631,  0.06145149,  0.13375322,  0.09736763,  0.02745258]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
92120  2013Q1     0.00  125598
92121  2013Q2     0.00  125598
92122  2013Q3     0.00  125598
92123  2013Q4     5.76  125598
92124  2014Q1    33.78  125598
92125  2014Q2    60.76  125598
92126  2014Q3   105.22  125598
92127  2014Q4   128.63  125598
92128  2015Q1   215.16  125598
92129  2015Q2   274.98  125598
92130  2015Q3   288.75  125598
92131  2015Q4   330.69  125598
92132  2016Q1   345.41  125598
92133  2016Q2   385.39  125598
92134  2016Q3   647.86  125598
92135  2016Q4   797.11  125598
92136  2017Q1   948.05  125598
92137  2017Q2  1180.28  125598
92138  2017Q3  1523.04  125598
92139  2017Q4  1740.20  125598>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
360  2013Q1  0.000000  125598
361  2013Q2  0.000000  125598
362  2013Q3  0.000000  125598
363  2013Q4  0.001065  125598
364  2014Q1 -0.000900  125598
365  2014Q2  0.191713  125598
366  2014Q3 -0.030180  125598
367  2014Q4  0.103566  125598
368  2015Q1  0.135068  125598
369  2015Q2 -0.036361  125598
370  2015Q3  0.018492  125598
371  2015Q4 -0.034264  125598
372  2016Q1 -0.057783  125598
373  2016Q2  0.139006  125598
374  2016Q3  0.186119  125598
375  2016Q4 -0.031676  125598
376  2017Q1  0.061451  125598
377  2017Q2  0.133753  125598
378  2017Q3  0.097368  125598
379  2017Q4  0.027453  125598>)
('Key_aum: ', 125598)
      Quarter     Data      ID
92120  2013Q1     0.00  125598
92121  2013Q2     0.00  125598
92122  2013Q3     0.00  125598
92123  2013Q4     5.76  125598
92124  2014Q1    33.78  125598
92125  2014Q2    60.76  125598
92126  2014Q3   105.22  125598
92127  2014Q4   128.63  125598
92128  2015Q1   215.16  125598
92129  2015Q2   274.98  125598
92130  2015Q3   288.75  125598
92131  2015Q4   330.69  125598
92132  2016Q1   345.41  125598
92133  2016Q2   385.39  125598
92134  2016Q3   647.86  125598
92135  2016Q4   797.11  125598
92136  2017Q1   948.05  125598
92137  2017Q2  1180.28  125598
92138  2017Q3  1523.04  125598
92139  2017Q4  1740.20  125598
('Key_nav : ', 125598)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.00106469, -0.00089995,
        0.1917126 , -0.03017987,  0.10356562,  0.13506849, -0.03636066,
        0.01849249, -0.03426389, -0.05778279,  0.13900621,  0.18611889,
       -0.03167631,  0.06145149,  0.13375322,  0.09736763,  0.02745258]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     5.76,    33.78,    60.76,
         105.22,   128.63,   215.16,   274.98,   288.75,   330.69,
         345.41,   385.39,   647.86,   797.11,   948.05,  1180.28,
        1523.04,  1740.2 ]))
('mean : ', array([        nan,         nan,         nan,  0.00106469, -0.00089995,
        0.1917126 , -0.03017987,  0.10356562,  0.13506849, -0.03636066,
        0.01849249, -0.03426389, -0.05778279,  0.13900621,  0.18611889,
       -0.03167631,  0.06145149,  0.13375322,  0.09736763,  0.02745258]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
92120  2013Q1     0.00  125598
92121  2013Q2     0.00  125598
92122  2013Q3     0.00  125598
92123  2013Q4     5.76  125598
92124  2014Q1    33.78  125598
92125  2014Q2    60.76  125598
92126  2014Q3   105.22  125598
92127  2014Q4   128.63  125598
92128  2015Q1   215.16  125598
92129  2015Q2   274.98  125598
92130  2015Q3   288.75  125598
92131  2015Q4   330.69  125598
92132  2016Q1   345.41  125598
92133  2016Q2   385.39  125598
92134  2016Q3   647.86  125598
92135  2016Q4   797.11  125598
92136  2017Q1   948.05  125598
92137  2017Q2  1180.28  125598
92138  2017Q3  1523.04  125598
92139  2017Q4  1740.20  125598>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
360  2013Q1  0.000000  125598
361  2013Q2  0.000000  125598
362  2013Q3  0.000000  125598
363  2013Q4  0.001065  125598

92139  2017Q4  1740.20  125598>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
360  2013Q1  0.000000  125598
361  2013Q2  0.000000  125598
362  2013Q3  0.000000  125598
363  2013Q4  0.001065  125598
364  2014Q1 -0.000900  125598
365  2014Q2  0.191713  125598
366  2014Q3 -0.030180  125598
367  2014Q4  0.103566  125598
368  2015Q1  0.135068  125598
369  2015Q2 -0.036361  125598
370  2015Q3  0.018492  125598
371  2015Q4 -0.034264  125598
372  2016Q1 -0.057783  125598
373  2016Q2  0.139006  125598
374  2016Q3  0.186119  125598
375  2016Q4 -0.031676  125598
376  2017Q1  0.061451  125598
377  2017Q2  0.133753  125598
378  2017Q3  0.097368  125598
379  2017Q4  0.027453  125598>)
('Key_aum: ', 125598)
      Quarter     Data      ID
92120  2013Q1     0.00  125598
92121  2013Q2     0.00  125598
92122  2013Q3     0.00  125598
92123  2013Q4     5.76  125598
92124  2014Q1    33.78  125598
92125  2014Q2    60.76  125598
92126  2014Q3   105.22  125598
92127  2014Q4   128.63  125598
92128  2015Q1   215.16  125598
92129  2015Q2   274.98  125598
92130  2015Q3   288.75  125598
92131  2015Q4   330.69  125598
92132  2016Q1   345.41  125598
92133  2016Q2   385.39  125598
92134  2016Q3   647.86  125598
92135  2016Q4   797.11  125598
92136  2017Q1   948.05  125598
92137  2017Q2  1180.28  125598
92138  2017Q3  1523.04  125598
92139  2017Q4  1740.20  125598
('Key_nav : ', 125598)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.00106469, -0.00089995,
        0.1917126 , -0.03017987,  0.10356562,  0.13506849, -0.03636066,
        0.01849249, -0.03426389, -0.05778279,  0.13900621,  0.18611889,
       -0.03167631,  0.06145149,  0.13375322,  0.09736763,  0.02745258]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     5.76,    33.78,    60.76,
         105.22,   128.63,   215.16,   274.98,   288.75,   330.69,
         345.41,   385.39,   647.86,   797.11,   948.05,  1180.28,
        1523.04,  1740.2 ]))
('mean : ', array([        nan,         nan,         nan,  0.00106469, -0.00089995,
        0.1917126 , -0.03017987,  0.10356562,  0.13506849, -0.03636066,
        0.01849249, -0.03426389, -0.05778279,  0.13900621,  0.18611889,
       -0.03167631,  0.06145149,  0.13375322,  0.09736763,  0.02745258]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
92120  2013Q1     0.00  125598
92121  2013Q2     0.00  125598
92122  2013Q3     0.00  125598
92123  2013Q4     5.76  125598
92124  2014Q1    33.78  125598
92125  2014Q2    60.76  125598
92126  2014Q3   105.22  125598
92127  2014Q4   128.63  125598
92128  2015Q1   215.16  125598
92129  2015Q2   274.98  125598
92130  2015Q3   288.75  125598
92131  2015Q4   330.69  125598
92132  2016Q1   345.41  125598
92133  2016Q2   385.39  125598
92134  2016Q3   647.86  125598
92135  2016Q4   797.11  125598
92136  2017Q1   948.05  125598
92137  2017Q2  1180.28  125598
92138  2017Q3  1523.04  125598
92139  2017Q4  1740.20  125598>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
360  2013Q1  0.000000  125598
361  2013Q2  0.000000  125598
362  2013Q3  0.000000  125598
363  2013Q4  0.001065  125598
364  2014Q1 -0.000900  125598
365  2014Q2  0.191713  125598
366  2014Q3 -0.030180  125598
367  2014Q4  0.103566  125598
368  2015Q1  0.135068  125598
369  2015Q2 -0.036361  125598
370  2015Q3  0.018492  125598
371  2015Q4 -0.034264  125598
372  2016Q1 -0.057783  125598
373  2016Q2  0.139006  125598
374  2016Q3  0.186119  125598
375  2016Q4 -0.031676  125598
376  2017Q1  0.061451  125598
377  2017Q2  0.133753  125598
378  2017Q3  0.097368  125598
379  2017Q4  0.027453  125598>)
('Key_aum: ', 125598)
      Quarter     Data      ID
92120  2013Q1     0.00  125598
92121  2013Q2     0.00  125598
92122  2013Q3     0.00  125598
92123  2013Q4     5.76  125598
92124  2014Q1    33.78  125598
92125  2014Q2    60.76  125598
92126  2014Q3   105.22  125598
92127  2014Q4   128.63  125598
92128  2015Q1   215.16  125598
92129  2015Q2   274.98  125598
92130  2015Q3   288.75  125598
92131  2015Q4   330.69  125598
92132  2016Q1   345.41  125598
92133  2016Q2   385.39  125598
92134  2016Q3   647.86  125598
92135  2016Q4   797.11  125598
92136  2017Q1   948.05  125598
92137  2017Q2  1180.28  125598
92138  2017Q3  1523.04  125598
92139  2017Q4  1740.20  125598
('Key_nav : ', 125598)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.00106469, -0.00089995,
        0.1917126 , -0.03017987,  0.10356562,  0.13506849, -0.03636066,
        0.01849249, -0.03426389, -0.05778279,  0.13900621,  0.18611889,
       -0.03167631,  0.06145149,  0.13375322,  0.09736763,  0.02745258]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     5.76,    33.78,    60.76,
         105.22,   128.63,   215.16,   274.98,   288.75,   330.69,
         345.41,   385.39,   647.86,   797.11,   948.05,  1180.28,
        1523.04,  1740.2 ]))
('mean : ', array([        nan,         nan,         nan,  0.00106469, -0.00089995,
        0.1917126 , -0.03017987,  0.10356562,  0.13506849, -0.03636066,
        0.01849249, -0.03426389, -0.05778279,  0.13900621,  0.18611889,
       -0.03167631,  0.06145149,  0.13375322,  0.09736763,  0.02745258]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
92120  2013Q1     0.00  125598
92121  2013Q2     0.00  125598
92122  2013Q3     0.00  125598
92123  2013Q4     5.76  125598
92124  2014Q1    33.78  125598
92125  2014Q2    60.76  125598
92126  2014Q3   105.22  125598
92127  2014Q4   128.63  125598
92128  2015Q1   215.16  125598
92129  2015Q2   274.98  125598
92130  2015Q3   288.75  125598
92131  2015Q4   330.69  125598
92132  2016Q1   345.41  125598
92133  2016Q2   385.39  125598
92134  2016Q3   647.86  125598
92135  2016Q4   797.11  125598
92136  2017Q1   948.05  125598
92137  2017Q2  1180.28  125598
92138  2017Q3  1523.04  125598
92139  2017Q4  1740.20  125598>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
360  2013Q1  0.000000  125598
361  2013Q2  0.000000  125598
362  2013Q3  0.000000  125598
363  2013Q4  0.001065  125598
364  2014Q1 -0.000900  125598
365  2014Q2  0.191713  125598
366  2014Q3 -0.030180  125598
367  2014Q4  0.103566  125598
368  2015Q1  0.135068  125598
369  2015Q2 -0.036361  125598
370  2015Q3  0.018492  125598
371  2015Q4 -0.034264  125598
372  2016Q1 -0.057783  125598
373  2016Q2  0.139006  125598
374  2016Q3  0.186119  125598
375  2016Q4 -0.031676  125598
376  2017Q1  0.061451  125598
377  2017Q2  0.133753  125598
378  2017Q3  0.097368  125598
379  2017Q4  0.027453  125598>)
('Key_aum: ', 125598)
      Quarter     Data      ID
92120  2013Q1     0.00  125598
92121  2013Q2     0.00  125598
92122  2013Q3     0.00  125598
92123  2013Q4     5.76  125598
92124  2014Q1    33.78  125598
92125  2014Q2    60.76  125598
92126  2014Q3   105.22  125598
92127  2014Q4   128.63  125598
92128  2015Q1   215.16  125598
92129  2015Q2   274.98  125598
92130  2015Q3   288.75  125598
92131  2015Q4   330.69  125598
92132  2016Q1   345.41  125598
92133  2016Q2   385.39  125598
92134  2016Q3   647.86  125598
92135  2016Q4   797.11  125598
92136  2017Q1   948.05  125598
92137  2017Q2  1180.28  125598
92138  2017Q3  1523.04  125598
92139  2017Q4  1740.20  125598
('Key_nav : ', 125598)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.00106469, -0.00089995,
        0.1917126 , -0.03017987,  0.10356562,  0.13506849, -0.03636066,
        0.01849249, -0.03426389, -0.05778279,  0.13900621,  0.18611889,
       -0.03167631,  0.06145149,  0.13375322,  0.09736763,  0.02745258]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     5.76,    33.78,    60.76,
         105.22,   128.63,   215.16,   274.98,   288.75,   330.69,
         345.41,   385.39,   647.86,   797.11,   948.05,  1180.28,
        1523.04,  1740.2 ]))
('mean : ', array([        nan,         nan,         nan,  0.00106469, -0.00089995,
        0.1917126 , -0.03017987,  0.10356562,  0.13506849, -0.03636066,
        0.01849249, -0.03426389, -0.05778279,  0.13900621,  0.18611889,
       -0.03167631,  0.06145149,  0.13375322,  0.09736763,  0.02745258]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
92120  2013Q1     0.00  125598
92121  2013Q2     0.00  125598
92122  2013Q3     0.00  125598
92123  2013Q4     5.76  125598
92124  2014Q1    33.78  125598
92125  2014Q2    60.76  125598
92126  2014Q3   105.22  125598
92127  2014Q4   128.63  125598
92128  2015Q1   215.16  125598
92129  2015Q2   274.98  125598
92130  2015Q3   288.75  125598
92131  2015Q4   330.69  125598
92132  2016Q1   345.41  125598
92133  2016Q2   385.39  125598
92134  2016Q3   647.86  125598
92135  2016Q4   797.11  125598
92136  2017Q1   948.05  125598
92137  2017Q2  1180.28  125598
92138  2017Q3  1523.04  125598
92139  2017Q4  1740.20  125598>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
360  2013Q1  0.000000  125598
361  2013Q2  0.000000  125598
362  2013Q3  0.000000  125598
363  2013Q4  0.001065  125598
364  2014Q1 -0.000900  125598
365  2014Q2  0.191713  125598
366  2014Q3 -0.030180  125598
367  2014Q4  0.103566  125598
368  2015Q1  0.135068  125598
369  2015Q2 -0.036361  125598
370  2015Q3  0.018492  125598
371  2015Q4 -0.034264  125598
372  2016Q1 -0.057783  125598
373  2016Q2  0.139006  125598
374  2016Q3  0.186119  125598
375  2016Q4 -0.031676  125598
376  2017Q1  0.061451  125598
377  2017Q2  0.133753  125598
378  2017Q3  0.097368  125598
379  2017Q4  0.027453  125598>)
('Key_aum: ', 125598)
      Quarter     Data      ID
92120  2013Q1     0.00  125598
92121  2013Q2     0.00  125598
92122  2013Q3     0.00  125598
92123  2013Q4     5.76  125598
92124  2014Q1    33.78  125598
92125  2014Q2    60.76  125598
92126  2014Q3   105.22  125598
92127  2014Q4   128.63  125598
92128  2015Q1   215.16  125598
92129  2015Q2   274.98  125598
92130  2015Q3   288.75  125598
92131  2015Q4   330.69  125598
92132  2016Q1   345.41  125598
92133  2016Q2   385.39  125598
92134  2016Q3   647.86  125598
92135  2016Q4   797.11  125598
92136  2017Q1   948.05  125598
92137  2017Q2  1180.28  125598
92138  2017Q3  1523.04  125598
92139  2017Q4  1740.20  125598
('Key_nav : ', 125598)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.00106469, -0.00089995,
        0.1917126 , -0.03017987,  0.10356562,  0.13506849, -0.03636066,
        0.01849249, -0.03426389, -0.05778279,  0.13900621,  0.18611889,
       -0.03167631,  0.06145149,  0.13375322,  0.09736763,  0.02745258]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     5.76,    33.78,    60.76,
         105.22,   128.63,   215.16,   274.98,   288.75,   330.69,
         345.41,   385.39,   647.86,   797.11,   948.05,  1180.28,
        1523.04,  1740.2 ]))
('mean : ', array([        nan,         nan,         nan,  0.00106469, -0.00089995,
        0.1917126 , -0.03017987,  0.10356562,  0.13506849, -0.03636066,
        0.01849249, -0.03426389, -0.05778279,  0.13900621,  0.18611889,
       -0.03167631,  0.06145149,  0.13375322,  0.09736763,  0.02745258]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
92120  2013Q1     0.00  125598
92121  2013Q2     0.00  125598
92122  2013Q3     0.00  125598
92123  2013Q4     5.76  125598
92124  2014Q1    33.78  125598
92125  2014Q2    60.76  125598
92126  2014Q3   105.22  125598
92127  2014Q4   128.63  125598
92128  2015Q1   215.16  125598
92129  2015Q2   274.98  125598
92130  2015Q3   288.75  125598
92131  2015Q4   330.69  125598
92132  2016Q1   345.41  125598
92133  2016Q2   385.39  125598
92134  2016Q3   647.86  125598
92135  2016Q4   797.11  125598
92136  2017Q1   948.05  125598
92137  2017Q2  1180.28  125598
92138  2017Q3  1523.04  125598
92139  2017Q4  1740.20  125598>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
360  2013Q1  0.000000  125598
361  2013Q2  0.000000  125598
362  2013Q3  0.000000  125598
363  2013Q4  0.001065  125598
364  2014Q1 -0.000900  125598
365  2014Q2  0.191713  125598
366  2014Q3 -0.030180  125598
367  2014Q4  0.103566  125598
368  2015Q1  0.135068  125598
369  2015Q2 -0.036361  125598
370  2015Q3  0.018492  125598
371  2015Q4 -0.034264  125598
372  2016Q1 -0.057783  125598
373  2016Q2  0.139006  125598
374  2016Q3  0.186119  125598
375  2016Q4 -0.031676  125598
376  2017Q1  0.061451  125598
377  2017Q2  0.133753  125598
378  2017Q3  0.097368  125598
379  2017Q4  0.027453  125598>)
('Key_aum: ', 125598)
      Quarter     Data      ID
92120  2013Q1     0.00  125598
92121  2013Q2     0.00  125598
92122  2013Q3     0.00  125598
92123  2013Q4     5.76  125598
92124  2014Q1    33.78  125598
92125  2014Q2    60.76  125598
92126  2014Q3   105.22  125598
92127  2014Q4   128.63  125598
92128  2015Q1   215.16  125598
92129  2015Q2   274.98  125598
92130  2015Q3   288.75  125598
92131  2015Q4   330.69  125598
92132  2016Q1   345.41  125598
92133  2016Q2   385.39  125598
92134  2016Q3   647.86  125598
92135  2016Q4   797.11  125598
92136  2017Q1   948.05  125598
92137  2017Q2  1180.28  125598
92138  2017Q3  1523.04  125598
92139  2017Q4  1740.20  125598
('Key_nav : ', 125598)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.00106469, -0.00089995,
        0.1917126 , -0.03017987,  0.10356562,  0.13506849, -0.03636066,
        0.01849249, -0.03426389, -0.05778279,  0.13900621,  0.18611889,
       -0.03167631,  0.06145149,  0.13375322,  0.09736763,  0.02745258]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     5.76,    33.78,    60.76,
         105.22,   128.63,   215.16,   274.98,   288.75,   330.69,
         345.41,   385.39,   647.86,   797.11,   948.05,  1180.28,
        1523.04,  1740.2 ]))
('mean : ', array([        nan,         nan,         nan,  0.00106469, -0.00089995,
        0.1917126 , -0.03017987,  0.10356562,  0.13506849, -0.03636066,
        0.01849249, -0.03426389, -0.05778279,  0.13900621,  0.18611889,
       -0.03167631,  0.06145149,  0.13375322,  0.09736763,  0.02745258]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
92120  2013Q1     0.00  125598
92121  2013Q2     0.00  125598
92122  2013Q3     0.00  125598
92123  2013Q4     5.76  125598
92124  2014Q1    33.78  125598
92125  2014Q2    60.76  125598
92126  2014Q3   105.22  125598
92127  2014Q4   128.63  125598
92128  2015Q1   215.16  125598
92129  2015Q2   274.98  125598
92130  2015Q3   288.75  125598
92131  2015Q4   330.69  125598
92132  2016Q1   345.41  125598
92133  2016Q2   385.39  125598
92134  2016Q3   647.86  125598
92135  2016Q4   797.11  125598
92136  2017Q1   948.05  125598
92137  2017Q2  1180.28  125598
92138  2017Q3  1523.04  125598
92139  2017Q4  1740.20  125598>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
360  2013Q1  0.000000  125598
361  2013Q2  0.000000  125598
362  2013Q3  0.000000  125598
363  2013Q4  0.001065  125598
364  2014Q1 -0.000900  125598
365  2014Q2  0.191713  125598
366  2014Q3 -0.030180  125598
367  2014Q4  0.103566  125598
368  2015Q1  0.135068  125598
369  2015Q2 -0.036361  125598
370  2015Q3  0.018492  125598
371  2015Q4 -0.034264  125598
372  2016Q1 -0.057783  125598
373  2016Q2  0.139006  125598
374  2016Q3  0.186119  125598
375  2016Q4 -0.031676  125598
376  2017Q1  0.061451  125598
377  2017Q2  0.133753  125598
378  2017Q3  0.097368  125598
379  2017Q4  0.027453  125598>)
('Key_aum: ', 125598)
      Quarter     Data      ID
92120  2013Q1     0.00  125598
92121  2013Q2     0.00  125598
92122  2013Q3     0.00  125598
92123  2013Q4     5.76  125598
92124  2014Q1    33.78  125598
92125  2014Q2    60.76  125598
92126  2014Q3   105.22  125598
92127  2014Q4   128.63  125598
92128  2015Q1   215.16  125598
92129  2015Q2   274.98  125598
92130  2015Q3   288.75  125598
92131  2015Q4   330.69  125598
92132  2016Q1   345.41  125598
92133  2016Q2   385.39  125598
92134  2016Q3   647.86  125598
92135  2016Q4   797.11  125598
92136  2017Q1   948.05  125598
92137  2017Q2  1180.28  125598
92138  2017Q3  1523.04  125598
92139  2017Q4  1740.20  125598
('Key_nav : ', 125598)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.00106469, -0.00089995,
        0.1917126 , -0.03017987,  0.10356562,  0.13506849, -0.03636066,
        0.01849249, -0.03426389, -0.05778279,  0.13900621,  0.18611889,
       -0.03167631,  0.06145149,  0.13375322,  0.09736763,  0.02745258]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     5.76,    33.78,    60.76,
         105.22,   128.63,   215.16,   274.98,   288.75,   330.69,
         345.41,   385.39,   647.86,   797.11,   948.05,  1180.28,
        1523.04,  1740.2 ]))
('mean : ', array([        nan,         nan,         nan,  0.00106469, -0.00089995,
        0.1917126 , -0.03017987,  0.10356562,  0.13506849, -0.03636066,
        0.01849249, -0.03426389, -0.05778279,  0.13900621,  0.18611889,
       -0.03167631,  0.06145149,  0.13375322,  0.09736763,  0.02745258]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
92120  2013Q1     0.00  125598
92121  2013Q2     0.00  125598
92122  2013Q3     0.00  125598
92123  2013Q4     5.76  125598
92124  2014Q1    33.78  125598
92125  2014Q2    60.76  125598
92126  2014Q3   105.22  125598
92127  2014Q4   128.63  125598
92128  2015Q1   215.16  125598
92129  2015Q2   274.98  125598
92130  2015Q3   288.75  125598
92131  2015Q4   330.69  125598
92132  2016Q1   345.41  125598
92133  2016Q2   385.39  125598
92134  2016Q3   647.86  125598
92135  2016Q4   797.11  125598
92136  2017Q1   948.05  125598
92137  2017Q2  1180.28  125598
92138  2017Q3  1523.04  125598
92139  2017Q4  1740.20  125598>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
360  2013Q1  0.000000  125598
361  2013Q2  0.000000  125598
362  2013Q3  0.000000  125598
363  2013Q4  0.001065  125598
364  2014Q1 -0.000900  125598
365  2014Q2  0.191713  125598
366  2014Q3 -0.030180  125598
367  2014Q4  0.103566  125598
368  2015Q1  0.135068  125598
369  2015Q2 -0.036361  125598
370  2015Q3  0.018492  125598
371  2015Q4 -0.034264  125598
372  2016Q1 -0.057783  125598
373  2016Q2  0.139006  125598
374  2016Q3  0.186119  125598
375  2016Q4 -0.031676  125598
376  2017Q1  0.061451  125598
377  2017Q2  0.133753  125598
378  2017Q3  0.097368  125598
379  2017Q4  0.027453  125598>)
('Key_aum: ', 125598)
      Quarter     Data      ID
92120  2013Q1     0.00  125598
92121  2013Q2     0.00  125598
92122  2013Q3     0.00  125598
92123  2013Q4     5.76  125598
92124  2014Q1    33.78  125598
92125  2014Q2    60.76  125598
92126  2014Q3   105.22  125598
92127  2014Q4   128.63  125598
92128  2015Q1   215.16  125598
92129  2015Q2   274.98  125598
92130  2015Q3   288.75  125598
92131  2015Q4   330.69  125598
92132  2016Q1   345.41  125598
92133  2016Q2   385.39  125598
92134  2016Q3   647.86  125598
92135  2016Q4   797.11  125598
92136  2017Q1   948.05  125598
92137  2017Q2  1180.28  125598
92138  2017Q3  1523.04  125598
92139  2017Q4  1740.20  125598
('Key_nav : ', 125598)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.00106469, -0.00089995,
        0.1917126 , -0.03017987,  0.10356562,  0.13506849, -0.03636066,
        0.01849249, -0.03426389, -0.05778279,  0.13900621,  0.18611889,
       -0.03167631,  0.06145149,  0.13375322,  0.09736763,  0.02745258]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     5.76,    33.78,    60.76,
         105.22,   128.63,   215.16,   274.98,   288.75,   330.69,
         345.41,   385.39,   647.86,   797.11,   948.05,  1180.28,
        1523.04,  1740.2 ]))
('mean : ', array([        nan,         nan,         nan,  0.00106469, -0.00089995,
        0.1917126 , -0.03017987,  0.10356562,  0.13506849, -0.03636066,
        0.01849249, -0.03426389, -0.05778279,  0.13900621,  0.18611889,
       -0.03167631,  0.06145149,  0.13375322,  0.09736763,  0.02745258]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
92120  2013Q1     0.00  125598
92121  2013Q2     0.00  125598
92122  2013Q3     0.00  125598

('Key_aum: ', 120245)
      Quarter     Data      ID
19520  2013Q1    78.31  120245
19521  2013Q2   136.31  120245
19522  2013Q3   144.07  120245
19523  2013Q4   161.02  120245
19524  2014Q1   193.58  120245
19525  2014Q2   385.72  120245
19526  2014Q3   528.61  120245
19527  2014Q4   676.53  120245
19528  2015Q1   897.49  120245
19529  2015Q2   958.59  120245
19530  2015Q3  1100.40  120245
19531  2015Q4  1196.10  120245
19532  2016Q1  1119.14  120245
19533  2016Q2  1314.01  120245
19534  2016Q3  1759.09  120245
19535  2016Q4  2127.79  120245
19536  2017Q1  2916.61  120245
19537  2017Q2  3864.07  120245
19538  2017Q3  4775.22  120245
19539  2017Q4  5294.35  120245
('Key_nav : ', 120245)
('data 1 : ', array([-0.0557669 , -0.01938859, -0.13192216,  0.09913466,  0.0139571 ,
        0.25453166,  0.12786393,  0.10801081,  0.09607239, -0.05946383,
        0.02834876, -0.0500421 , -0.11237173,  0.12810472,  0.20742595,
        0.01036261,  0.04666139,  0.1082943 ,  0.07833712,  0.02172802]))
('data 2 :', array([   78.31,   136.31,   144.07,   161.02,   193.58,   385.72,
         528.61,   676.53,   897.49,   958.59,  1100.4 ,  1196.1 ,
        1119.14,  1314.01,  1759.09,  2127.79,  2916.61,  3864.07,
        4775.22,  5294.35]))
('mean : ', array([-0.0557669 , -0.01938859, -0.13192216,  0.09913466,  0.0139571 ,
        0.25453166,  0.12786393,  0.10801081,  0.09607239, -0.05946383,
        0.02834876, -0.0500421 , -0.11237173,  0.12810472,  0.20742595,
        0.01036261,  0.04666139,  0.1082943 ,  0.07833712,  0.02172802]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
19520  2013Q1    78.31  120245
19521  2013Q2   136.31  120245
19522  2013Q3   144.07  120245
19523  2013Q4   161.02  120245
19524  2014Q1   193.58  120245
19525  2014Q2   385.72  120245
19526  2014Q3   528.61  120245
19527  2014Q4   676.53  120245
19528  2015Q1   897.49  120245
19529  2015Q2   958.59  120245
19530  2015Q3  1100.40  120245
19531  2015Q4  1196.10  120245
19532  2016Q1  1119.14  120245
19533  2016Q2  1314.01  120245
19534  2016Q3  1759.09  120245
19535  2016Q4  2127.79  120245
19536  2017Q1  2916.61  120245
19537  2017Q2  3864.07  120245
19538  2017Q3  4775.22  120245
19539  2017Q4  5294.35  120245>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
580  2013Q1 -0.055767  120245
581  2013Q2 -0.019389  120245
582  2013Q3 -0.131922  120245
583  2013Q4  0.099135  120245
584  2014Q1  0.013957  120245
585  2014Q2  0.254532  120245
586  2014Q3  0.127864  120245
587  2014Q4  0.108011  120245
588  2015Q1  0.096072  120245
589  2015Q2 -0.059464  120245
590  2015Q3  0.028349  120245
591  2015Q4 -0.050042  120245
592  2016Q1 -0.112372  120245
593  2016Q2  0.128105  120245
594  2016Q3  0.207426  120245
595  2016Q4  0.010363  120245
596  2017Q1  0.046661  120245
597  2017Q2  0.108294  120245
598  2017Q3  0.078337  120245
599  2017Q4  0.021728  120245>)
('Key_aum: ', 120245)
      Quarter     Data      ID
19520  2013Q1    78.31  120245
19521  2013Q2   136.31  120245
19522  2013Q3   144.07  120245
19523  2013Q4   161.02  120245
19524  2014Q1   193.58  120245
19525  2014Q2   385.72  120245
19526  2014Q3   528.61  120245
19527  2014Q4   676.53  120245
19528  2015Q1   897.49  120245
19529  2015Q2   958.59  120245
19530  2015Q3  1100.40  120245
19531  2015Q4  1196.10  120245
19532  2016Q1  1119.14  120245
19533  2016Q2  1314.01  120245
19534  2016Q3  1759.09  120245
19535  2016Q4  2127.79  120245
19536  2017Q1  2916.61  120245
19537  2017Q2  3864.07  120245
19538  2017Q3  4775.22  120245
19539  2017Q4  5294.35  120245
('Key_nav : ', 120245)
('data 1 : ', array([-0.0557669 , -0.01938859, -0.13192216,  0.09913466,  0.0139571 ,
        0.25453166,  0.12786393,  0.10801081,  0.09607239, -0.05946383,
        0.02834876, -0.0500421 , -0.11237173,  0.12810472,  0.20742595,
        0.01036261,  0.04666139,  0.1082943 ,  0.07833712,  0.02172802]))
('data 2 :', array([   78.31,   136.31,   144.07,   161.02,   193.58,   385.72,
         528.61,   676.53,   897.49,   958.59,  1100.4 ,  1196.1 ,
        1119.14,  1314.01,  1759.09,  2127.79,  2916.61,  3864.07,
        4775.22,  5294.35]))
('mean : ', array([-0.0557669 , -0.01938859, -0.13192216,  0.09913466,  0.0139571 ,
        0.25453166,  0.12786393,  0.10801081,  0.09607239, -0.05946383,
        0.02834876, -0.0500421 , -0.11237173,  0.12810472,  0.20742595,
        0.01036261,  0.04666139,  0.1082943 ,  0.07833712,  0.02172802]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
19520  2013Q1    78.31  120245
19521  2013Q2   136.31  120245
19522  2013Q3   144.07  120245
19523  2013Q4   161.02  120245
19524  2014Q1   193.58  120245
19525  2014Q2   385.72  120245
19526  2014Q3   528.61  120245
19527  2014Q4   676.53  120245
19528  2015Q1   897.49  120245
19529  2015Q2   958.59  120245
19530  2015Q3  1100.40  120245
19531  2015Q4  1196.10  120245
19532  2016Q1  1119.14  120245
19533  2016Q2  1314.01  120245
19534  2016Q3  1759.09  120245
19535  2016Q4  2127.79  120245
19536  2017Q1  2916.61  120245
19537  2017Q2  3864.07  120245
19538  2017Q3  4775.22  120245
19539  2017Q4  5294.35  120245>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
580  2013Q1 -0.055767  120245
581  2013Q2 -0.019389  120245
582  2013Q3 -0.131922  120245
583  2013Q4  0.099135  120245
584  2014Q1  0.013957  120245
585  2014Q2  0.254532  120245
586  2014Q3  0.127864  120245
587  2014Q4  0.108011  120245
588  2015Q1  0.096072  120245
589  2015Q2 -0.059464  120245
590  2015Q3  0.028349  120245
591  2015Q4 -0.050042  120245
592  2016Q1 -0.112372  120245
593  2016Q2  0.128105  120245
594  2016Q3  0.207426  120245
595  2016Q4  0.010363  120245
596  2017Q1  0.046661  120245
597  2017Q2  0.108294  120245
598  2017Q3  0.078337  120245
599  2017Q4  0.021728  120245>)
('Key_aum: ', 120245)
      Quarter     Data      ID
19520  2013Q1    78.31  120245
19521  2013Q2   136.31  120245
19522  2013Q3   144.07  120245
19523  2013Q4   161.02  120245
19524  2014Q1   193.58  120245
19525  2014Q2   385.72  120245
19526  2014Q3   528.61  120245
19527  2014Q4   676.53  120245
19528  2015Q1   897.49  120245
19529  2015Q2   958.59  120245
19530  2015Q3  1100.40  120245
19531  2015Q4  1196.10  120245
19532  2016Q1  1119.14  120245
19533  2016Q2  1314.01  120245
19534  2016Q3  1759.09  120245
19535  2016Q4  2127.79  120245
19536  2017Q1  2916.61  120245
19537  2017Q2  3864.07  120245
19538  2017Q3  4775.22  120245
19539  2017Q4  5294.35  120245
('Key_nav : ', 120245)
('data 1 : ', array([-0.0557669 , -0.01938859, -0.13192216,  0.09913466,  0.0139571 ,
        0.25453166,  0.12786393,  0.10801081,  0.09607239, -0.05946383,
        0.02834876, -0.0500421 , -0.11237173,  0.12810472,  0.20742595,
        0.01036261,  0.04666139,  0.1082943 ,  0.07833712,  0.02172802]))
('data 2 :', array([   78.31,   136.31,   144.07,   161.02,   193.58,   385.72,
         528.61,   676.53,   897.49,   958.59,  1100.4 ,  1196.1 ,
        1119.14,  1314.01,  1759.09,  2127.79,  2916.61,  3864.07,
        4775.22,  5294.35]))
('mean : ', array([-0.0557669 , -0.01938859, -0.13192216,  0.09913466,  0.0139571 ,
        0.25453166,  0.12786393,  0.10801081,  0.09607239, -0.05946383,
        0.02834876, -0.0500421 , -0.11237173,  0.12810472,  0.20742595,
        0.01036261,  0.04666139,  0.1082943 ,  0.07833712,  0.02172802]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
19520  2013Q1    78.31  120245
19521  2013Q2   136.31  120245
19522  2013Q3   144.07  120245
19523  2013Q4   161.02  120245
19524  2014Q1   193.58  120245
19525  2014Q2   385.72  120245
19526  2014Q3   528.61  120245
19527  2014Q4   676.53  120245
19528  2015Q1   897.49  120245
19529  2015Q2   958.59  120245
19530  2015Q3  1100.40  120245
19531  2015Q4  1196.10  120245
19532  2016Q1  1119.14  120245
19533  2016Q2  1314.01  120245
19534  2016Q3  1759.09  120245
19535  2016Q4  2127.79  120245
19536  2017Q1  2916.61  120245
19537  2017Q2  3864.07  120245
19538  2017Q3  4775.22  120245
19539  2017Q4  5294.35  120245>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
580  2013Q1 -0.055767  120245
581  2013Q2 -0.019389  120245
582  2013Q3 -0.131922  120245
583  2013Q4  0.099135  120245
584  2014Q1  0.013957  120245
585  2014Q2  0.254532  120245
586  2014Q3  0.127864  120245
587  2014Q4  0.108011  120245
588  2015Q1  0.096072  120245
589  2015Q2 -0.059464  120245
590  2015Q3  0.028349  120245
591  2015Q4 -0.050042  120245
592  2016Q1 -0.112372  120245
593  2016Q2  0.128105  120245
594  2016Q3  0.207426  120245
595  2016Q4  0.010363  120245
596  2017Q1  0.046661  120245
597  2017Q2  0.108294  120245
598  2017Q3  0.078337  120245
599  2017Q4  0.021728  120245>)
('Key_aum: ', 120245)
      Quarter     Data      ID
19520  2013Q1    78.31  120245
19521  2013Q2   136.31  120245
19522  2013Q3   144.07  120245
19523  2013Q4   161.02  120245
19524  2014Q1   193.58  120245
19525  2014Q2   385.72  120245
19526  2014Q3   528.61  120245
19527  2014Q4   676.53  120245
19528  2015Q1   897.49  120245
19529  2015Q2   958.59  120245
19530  2015Q3  1100.40  120245
19531  2015Q4  1196.10  120245
19532  2016Q1  1119.14  120245
19533  2016Q2  1314.01  120245
19534  2016Q3  1759.09  120245
19535  2016Q4  2127.79  120245
19536  2017Q1  2916.61  120245
19537  2017Q2  3864.07  120245
19538  2017Q3  4775.22  120245
19539  2017Q4  5294.35  120245
('Key_nav : ', 120245)
('data 1 : ', array([-0.0557669 , -0.01938859, -0.13192216,  0.09913466,  0.0139571 ,
        0.25453166,  0.12786393,  0.10801081,  0.09607239, -0.05946383,
        0.02834876, -0.0500421 , -0.11237173,  0.12810472,  0.20742595,
        0.01036261,  0.04666139,  0.1082943 ,  0.07833712,  0.02172802]))
('data 2 :', array([   78.31,   136.31,   144.07,   161.02,   193.58,   385.72,
         528.61,   676.53,   897.49,   958.59,  1100.4 ,  1196.1 ,
        1119.14,  1314.01,  1759.09,  2127.79,  2916.61,  3864.07,
        4775.22,  5294.35]))
('mean : ', array([-0.0557669 , -0.01938859, -0.13192216,  0.09913466,  0.0139571 ,
        0.25453166,  0.12786393,  0.10801081,  0.09607239, -0.05946383,
        0.02834876, -0.0500421 , -0.11237173,  0.12810472,  0.20742595,
        0.01036261,  0.04666139,  0.1082943 ,  0.07833712,  0.02172802]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
19520  2013Q1    78.31  120245
19521  2013Q2   136.31  120245
19522  2013Q3   144.07  120245
19523  2013Q4   161.02  120245
19524  2014Q1   193.58  120245
19525  2014Q2   385.72  120245
19526  2014Q3   528.61  120245
19527  2014Q4   676.53  120245
19528  2015Q1   897.49  120245
19529  2015Q2   958.59  120245
19530  2015Q3  1100.40  120245
19531  2015Q4  1196.10  120245
19532  2016Q1  1119.14  120245
19533  2016Q2  1314.01  120245
19534  2016Q3  1759.09  120245
19535  2016Q4  2127.79  120245
19536  2017Q1  2916.61  120245
19537  2017Q2  3864.07  120245
19538  2017Q3  4775.22  120245
19539  2017Q4  5294.35  120245>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
580  2013Q1 -0.055767  120245
581  2013Q2 -0.019389  120245
582  2013Q3 -0.131922  120245
583  2013Q4  0.099135  120245
584  2014Q1  0.013957  120245
585  2014Q2  0.254532  120245
586  2014Q3  0.127864  120245
587  2014Q4  0.108011  120245
588  2015Q1  0.096072  120245
589  2015Q2 -0.059464  120245
590  2015Q3  0.028349  120245
591  2015Q4 -0.050042  120245
592  2016Q1 -0.112372  120245
593  2016Q2  0.128105  120245
594  2016Q3  0.207426  120245
595  2016Q4  0.010363  120245
596  2017Q1  0.046661  120245
597  2017Q2  0.108294  120245
598  2017Q3  0.078337  120245
599  2017Q4  0.021728  120245>)
('Key_aum: ', 120245)
      Quarter     Data      ID
19520  2013Q1    78.31  120245
19521  2013Q2   136.31  120245
19522  2013Q3   144.07  120245
19523  2013Q4   161.02  120245
19524  2014Q1   193.58  120245
19525  2014Q2   385.72  120245
19526  2014Q3   528.61  120245
19527  2014Q4   676.53  120245
19528  2015Q1   897.49  120245
19529  2015Q2   958.59  120245
19530  2015Q3  1100.40  120245
19531  2015Q4  1196.10  120245
19532  2016Q1  1119.14  120245
19533  2016Q2  1314.01  120245
19534  2016Q3  1759.09  120245
19535  2016Q4  2127.79  120245
19536  2017Q1  2916.61  120245
19537  2017Q2  3864.07  120245
19538  2017Q3  4775.22  120245
19539  2017Q4  5294.35  120245
('Key_nav : ', 120245)
('data 1 : ', array([-0.0557669 , -0.01938859, -0.13192216,  0.09913466,  0.0139571 ,
        0.25453166,  0.12786393,  0.10801081,  0.09607239, -0.05946383,
        0.02834876, -0.0500421 , -0.11237173,  0.12810472,  0.20742595,
        0.01036261,  0.04666139,  0.1082943 ,  0.07833712,  0.02172802]))
('data 2 :', array([   78.31,   136.31,   144.07,   161.02,   193.58,   385.72,
         528.61,   676.53,   897.49,   958.59,  1100.4 ,  1196.1 ,
        1119.14,  1314.01,  1759.09,  2127.79,  2916.61,  3864.07,
        4775.22,  5294.35]))
('mean : ', array([-0.0557669 , -0.01938859, -0.13192216,  0.09913466,  0.0139571 ,
        0.25453166,  0.12786393,  0.10801081,  0.09607239, -0.05946383,
        0.02834876, -0.0500421 , -0.11237173,  0.12810472,  0.20742595,
        0.01036261,  0.04666139,  0.1082943 ,  0.07833712,  0.02172802]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
19520  2013Q1    78.31  120245
19521  2013Q2   136.31  120245
19522  2013Q3   144.07  120245
19523  2013Q4   161.02  120245
19524  2014Q1   193.58  120245
19525  2014Q2   385.72  120245
19526  2014Q3   528.61  120245
19527  2014Q4   676.53  120245
19528  2015Q1   897.49  120245
19529  2015Q2   958.59  120245
19530  2015Q3  1100.40  120245
19531  2015Q4  1196.10  120245
19532  2016Q1  1119.14  120245
19533  2016Q2  1314.01  120245
19534  2016Q3  1759.09  120245
19535  2016Q4  2127.79  120245
19536  2017Q1  2916.61  120245
19537  2017Q2  3864.07  120245
19538  2017Q3  4775.22  120245
19539  2017Q4  5294.35  120245>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
580  2013Q1 -0.055767  120245
581  2013Q2 -0.019389  120245
582  2013Q3 -0.131922  120245
583  2013Q4  0.099135  120245
584  2014Q1  0.013957  120245
585  2014Q2  0.254532  120245
586  2014Q3  0.127864  120245
587  2014Q4  0.108011  120245
588  2015Q1  0.096072  120245
589  2015Q2 -0.059464  120245
590  2015Q3  0.028349  120245
591  2015Q4 -0.050042  120245
592  2016Q1 -0.112372  120245
593  2016Q2  0.128105  120245
594  2016Q3  0.207426  120245
595  2016Q4  0.010363  120245
596  2017Q1  0.046661  120245
597  2017Q2  0.108294  120245
598  2017Q3  0.078337  120245
599  2017Q4  0.021728  120245>)
('Key_aum: ', 120245)
      Quarter     Data      ID
19520  2013Q1    78.31  120245
19521  2013Q2   136.31  120245
19522  2013Q3   144.07  120245
19523  2013Q4   161.02  120245
19524  2014Q1   193.58  120245
19525  2014Q2   385.72  120245
19526  2014Q3   528.61  120245
19527  2014Q4   676.53  120245
19528  2015Q1   897.49  120245
19529  2015Q2   958.59  120245
19530  2015Q3  1100.40  120245
19531  2015Q4  1196.10  120245
19532  2016Q1  1119.14  120245
19533  2016Q2  1314.01  120245
19534  2016Q3  1759.09  120245
19535  2016Q4  2127.79  120245
19536  2017Q1  2916.61  120245
19537  2017Q2  3864.07  120245
19538  2017Q3  4775.22  120245
19539  2017Q4  5294.35  120245
('Key_nav : ', 120245)
('data 1 : ', array([-0.0557669 , -0.01938859, -0.13192216,  0.09913466,  0.0139571 ,
        0.25453166,  0.12786393,  0.10801081,  0.09607239, -0.05946383,
        0.02834876, -0.0500421 , -0.11237173,  0.12810472,  0.20742595,
        0.01036261,  0.04666139,  0.1082943 ,  0.07833712,  0.02172802]))
('data 2 :', array([   78.31,   136.31,   144.07,   161.02,   193.58,   385.72,
         528.61,   676.53,   897.49,   958.59,  1100.4 ,  1196.1 ,
        1119.14,  1314.01,  1759.09,  2127.79,  2916.61,  3864.07,
        4775.22,  5294.35]))
('mean : ', array([-0.0557669 , -0.01938859, -0.13192216,  0.09913466,  0.0139571 ,
        0.25453166,  0.12786393,  0.10801081,  0.09607239, -0.05946383,
        0.02834876, -0.0500421 , -0.11237173,  0.12810472,  0.20742595,
        0.01036261,  0.04666139,  0.1082943 ,  0.07833712,  0.02172802]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
19520  2013Q1    78.31  120245
19521  2013Q2   136.31  120245
19522  2013Q3   144.07  120245
19523  2013Q4   161.02  120245
19524  2014Q1   193.58  120245
19525  2014Q2   385.72  120245
19526  2014Q3   528.61  120245
19527  2014Q4   676.53  120245
19528  2015Q1   897.49  120245
19529  2015Q2   958.59  120245
19530  2015Q3  1100.40  120245
19531  2015Q4  1196.10  120245
19532  2016Q1  1119.14  120245
19533  2016Q2  1314.01  120245
19534  2016Q3  1759.09  120245
19535  2016Q4  2127.79  120245
19536  2017Q1  2916.61  120245
19537  2017Q2  3864.07  120245
19538  2017Q3  4775.22  120245
19539  2017Q4  5294.35  120245>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
580  2013Q1 -0.055767  120245
581  2013Q2 -0.019389  120245
582  2013Q3 -0.131922  120245
583  2013Q4  0.099135  120245
584  2014Q1  0.013957  120245
585  2014Q2  0.254532  120245
586  2014Q3  0.127864  120245
587  2014Q4  0.108011  120245
588  2015Q1  0.096072  120245
589  2015Q2 -0.059464  120245
590  2015Q3  0.028349  120245
591  2015Q4 -0.050042  120245
592  2016Q1 -0.112372  120245
593  2016Q2  0.128105  120245
594  2016Q3  0.207426  120245
595  2016Q4  0.010363  120245
596  2017Q1  0.046661  120245
597  2017Q2  0.108294  120245
598  2017Q3  0.078337  120245
599  2017Q4  0.021728  120245>)
('Key_aum: ', 120245)
      Quarter     Data      ID
19520  2013Q1    78.31  120245
19521  2013Q2   136.31  120245
19522  2013Q3   144.07  120245
19523  2013Q4   161.02  120245
19524  2014Q1   193.58  120245
19525  2014Q2   385.72  120245
19526  2014Q3   528.61  120245
19527  2014Q4   676.53  120245
19528  2015Q1   897.49  120245
19529  2015Q2   958.59  120245
19530  2015Q3  1100.40  120245
19531  2015Q4  1196.10  120245
19532  2016Q1  1119.14  120245
19533  2016Q2  1314.01  120245
19534  2016Q3  1759.09  120245
19535  2016Q4  2127.79  120245
19536  2017Q1  2916.61  120245
19537  2017Q2  3864.07  120245
19538  2017Q3  4775.22  120245
19539  2017Q4  5294.35  120245
('Key_nav : ', 120245)
('data 1 : ', array([-0.0557669 , -0.01938859, -0.13192216,  0.09913466,  0.0139571 ,
        0.25453166,  0.12786393,  0.10801081,  0.09607239, -0.05946383,
        0.02834876, -0.0500421 , -0.11237173,  0.12810472,  0.20742595,
        0.01036261,  0.04666139,  0.1082943 ,  0.07833712,  0.02172802]))
('data 2 :', array([   78.31,   136.31,   144.07,   161.02,   193.58,   385.72,
         528.61,   676.53,   897.49,   958.59,  1100.4 ,  1196.1 ,
        1119.14,  1314.01,  1759.09,  2127.79,  2916.61,  3864.07,
        4775.22,  5294.35]))
('mean : ', array([-0.0557669 , -0.01938859, -0.13192216,  0.09913466,  0.0139571 ,
        0.25453166,  0.12786393,  0.10801081,  0.09607239, -0.05946383,
        0.02834876, -0.0500421 , -0.11237173,  0.12810472,  0.20742595,
        0.01036261,  0.04666139,  0.1082943 ,  0.07833712,  0.02172802]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
19520  2013Q1    78.31  120245
19521  2013Q2   136.31  120245
19522  2013Q3   144.07  120245
19523  2013Q4   161.02  120245
19524  2014Q1   193.58  120245
19525  2014Q2   385.72  120245
19526  2014Q3   528.61  120245
19527  2014Q4   676.53  120245
19528  2015Q1   897.49  120245
19529  2015Q2   958.59  120245
19530  2015Q3  1100.40  120245
19531  2015Q4  1196.10  120245
19532  2016Q1  1119.14  120245
19533  2016Q2  1314.01  120245
19534  2016Q3  1759.09  120245
19535  2016Q4  2127.79  120245
19536  2017Q1  2916.61  120245
19537  2017Q2  3864.07  120245
19538  2017Q3  4775.22  120245
19539  2017Q4  5294.35  120245>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
580  2013Q1 -0.055767  120245
581  2013Q2 -0.019389  120245
582  2013Q3 -0.131922  120245
583  2013Q4  0.099135  120245

('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
19520  2013Q1    78.31  120245
19521  2013Q2   136.31  120245
19522  2013Q3   144.07  120245
19523  2013Q4   161.02  120245
19524  2014Q1   193.58  120245
19525  2014Q2   385.72  120245
19526  2014Q3   528.61  120245
19527  2014Q4   676.53  120245
19528  2015Q1   897.49  120245
19529  2015Q2   958.59  120245
19530  2015Q3  1100.40  120245
19531  2015Q4  1196.10  120245
19532  2016Q1  1119.14  120245
19533  2016Q2  1314.01  120245
19534  2016Q3  1759.09  120245
19535  2016Q4  2127.79  120245
19536  2017Q1  2916.61  120245
19537  2017Q2  3864.07  120245
19538  2017Q3  4775.22  120245
19539  2017Q4  5294.35  120245>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
580  2013Q1 -0.055767  120245
581  2013Q2 -0.019389  120245
582  2013Q3 -0.131922  120245
583  2013Q4  0.099135  120245
584  2014Q1  0.013957  120245
585  2014Q2  0.254532  120245
586  2014Q3  0.127864  120245
587  2014Q4  0.108011  120245
588  2015Q1  0.096072  120245
589  2015Q2 -0.059464  120245
590  2015Q3  0.028349  120245
591  2015Q4 -0.050042  120245
592  2016Q1 -0.112372  120245
593  2016Q2  0.128105  120245
594  2016Q3  0.207426  120245
595  2016Q4  0.010363  120245
596  2017Q1  0.046661  120245
597  2017Q2  0.108294  120245
598  2017Q3  0.078337  120245
599  2017Q4  0.021728  120245>)
('Key_aum: ', 120245)
      Quarter     Data      ID
19520  2013Q1    78.31  120245
19521  2013Q2   136.31  120245
19522  2013Q3   144.07  120245
19523  2013Q4   161.02  120245
19524  2014Q1   193.58  120245
19525  2014Q2   385.72  120245
19526  2014Q3   528.61  120245
19527  2014Q4   676.53  120245
19528  2015Q1   897.49  120245
19529  2015Q2   958.59  120245
19530  2015Q3  1100.40  120245
19531  2015Q4  1196.10  120245
19532  2016Q1  1119.14  120245
19533  2016Q2  1314.01  120245
19534  2016Q3  1759.09  120245
19535  2016Q4  2127.79  120245
19536  2017Q1  2916.61  120245
19537  2017Q2  3864.07  120245
19538  2017Q3  4775.22  120245
19539  2017Q4  5294.35  120245
('Key_nav : ', 120245)
('data 1 : ', array([-0.0557669 , -0.01938859, -0.13192216,  0.09913466,  0.0139571 ,
        0.25453166,  0.12786393,  0.10801081,  0.09607239, -0.05946383,
        0.02834876, -0.0500421 , -0.11237173,  0.12810472,  0.20742595,
        0.01036261,  0.04666139,  0.1082943 ,  0.07833712,  0.02172802]))
('data 2 :', array([   78.31,   136.31,   144.07,   161.02,   193.58,   385.72,
         528.61,   676.53,   897.49,   958.59,  1100.4 ,  1196.1 ,
        1119.14,  1314.01,  1759.09,  2127.79,  2916.61,  3864.07,
        4775.22,  5294.35]))
('mean : ', array([-0.0557669 , -0.01938859, -0.13192216,  0.09913466,  0.0139571 ,
        0.25453166,  0.12786393,  0.10801081,  0.09607239, -0.05946383,
        0.02834876, -0.0500421 , -0.11237173,  0.12810472,  0.20742595,
        0.01036261,  0.04666139,  0.1082943 ,  0.07833712,  0.02172802]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
19520  2013Q1    78.31  120245
19521  2013Q2   136.31  120245
19522  2013Q3   144.07  120245
19523  2013Q4   161.02  120245
19524  2014Q1   193.58  120245
19525  2014Q2   385.72  120245
19526  2014Q3   528.61  120245
19527  2014Q4   676.53  120245
19528  2015Q1   897.49  120245
19529  2015Q2   958.59  120245
19530  2015Q3  1100.40  120245
19531  2015Q4  1196.10  120245
19532  2016Q1  1119.14  120245
19533  2016Q2  1314.01  120245
19534  2016Q3  1759.09  120245
19535  2016Q4  2127.79  120245
19536  2017Q1  2916.61  120245
19537  2017Q2  3864.07  120245
19538  2017Q3  4775.22  120245
19539  2017Q4  5294.35  120245>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
580  2013Q1 -0.055767  120245
581  2013Q2 -0.019389  120245
582  2013Q3 -0.131922  120245
583  2013Q4  0.099135  120245
584  2014Q1  0.013957  120245
585  2014Q2  0.254532  120245
586  2014Q3  0.127864  120245
587  2014Q4  0.108011  120245
588  2015Q1  0.096072  120245
589  2015Q2 -0.059464  120245
590  2015Q3  0.028349  120245
591  2015Q4 -0.050042  120245
592  2016Q1 -0.112372  120245
593  2016Q2  0.128105  120245
594  2016Q3  0.207426  120245
595  2016Q4  0.010363  120245
596  2017Q1  0.046661  120245
597  2017Q2  0.108294  120245
598  2017Q3  0.078337  120245
599  2017Q4  0.021728  120245>)
('Key_aum: ', 120245)
      Quarter     Data      ID
19520  2013Q1    78.31  120245
19521  2013Q2   136.31  120245
19522  2013Q3   144.07  120245
19523  2013Q4   161.02  120245
19524  2014Q1   193.58  120245
19525  2014Q2   385.72  120245
19526  2014Q3   528.61  120245
19527  2014Q4   676.53  120245
19528  2015Q1   897.49  120245
19529  2015Q2   958.59  120245
19530  2015Q3  1100.40  120245
19531  2015Q4  1196.10  120245
19532  2016Q1  1119.14  120245
19533  2016Q2  1314.01  120245
19534  2016Q3  1759.09  120245
19535  2016Q4  2127.79  120245
19536  2017Q1  2916.61  120245
19537  2017Q2  3864.07  120245
19538  2017Q3  4775.22  120245
19539  2017Q4  5294.35  120245
('Key_nav : ', 120245)
('data 1 : ', array([-0.0557669 , -0.01938859, -0.13192216,  0.09913466,  0.0139571 ,
        0.25453166,  0.12786393,  0.10801081,  0.09607239, -0.05946383,
        0.02834876, -0.0500421 , -0.11237173,  0.12810472,  0.20742595,
        0.01036261,  0.04666139,  0.1082943 ,  0.07833712,  0.02172802]))
('data 2 :', array([   78.31,   136.31,   144.07,   161.02,   193.58,   385.72,
         528.61,   676.53,   897.49,   958.59,  1100.4 ,  1196.1 ,
        1119.14,  1314.01,  1759.09,  2127.79,  2916.61,  3864.07,
        4775.22,  5294.35]))
('mean : ', array([-0.0557669 , -0.01938859, -0.13192216,  0.09913466,  0.0139571 ,
        0.25453166,  0.12786393,  0.10801081,  0.09607239, -0.05946383,
        0.02834876, -0.0500421 , -0.11237173,  0.12810472,  0.20742595,
        0.01036261,  0.04666139,  0.1082943 ,  0.07833712,  0.02172802]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
19520  2013Q1    78.31  120245
19521  2013Q2   136.31  120245
19522  2013Q3   144.07  120245
19523  2013Q4   161.02  120245
19524  2014Q1   193.58  120245
19525  2014Q2   385.72  120245
19526  2014Q3   528.61  120245
19527  2014Q4   676.53  120245
19528  2015Q1   897.49  120245
19529  2015Q2   958.59  120245
19530  2015Q3  1100.40  120245
19531  2015Q4  1196.10  120245
19532  2016Q1  1119.14  120245
19533  2016Q2  1314.01  120245
19534  2016Q3  1759.09  120245
19535  2016Q4  2127.79  120245
19536  2017Q1  2916.61  120245
19537  2017Q2  3864.07  120245
19538  2017Q3  4775.22  120245
19539  2017Q4  5294.35  120245>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
580  2013Q1 -0.055767  120245
581  2013Q2 -0.019389  120245
582  2013Q3 -0.131922  120245
583  2013Q4  0.099135  120245
584  2014Q1  0.013957  120245
585  2014Q2  0.254532  120245
586  2014Q3  0.127864  120245
587  2014Q4  0.108011  120245
588  2015Q1  0.096072  120245
589  2015Q2 -0.059464  120245
590  2015Q3  0.028349  120245
591  2015Q4 -0.050042  120245
592  2016Q1 -0.112372  120245
593  2016Q2  0.128105  120245
594  2016Q3  0.207426  120245
595  2016Q4  0.010363  120245
596  2017Q1  0.046661  120245
597  2017Q2  0.108294  120245
598  2017Q3  0.078337  120245
599  2017Q4  0.021728  120245>)
('Key_aum: ', 120245)
      Quarter     Data      ID
19520  2013Q1    78.31  120245
19521  2013Q2   136.31  120245
19522  2013Q3   144.07  120245
19523  2013Q4   161.02  120245
19524  2014Q1   193.58  120245
19525  2014Q2   385.72  120245
19526  2014Q3   528.61  120245
19527  2014Q4   676.53  120245
19528  2015Q1   897.49  120245
19529  2015Q2   958.59  120245
19530  2015Q3  1100.40  120245
19531  2015Q4  1196.10  120245
19532  2016Q1  1119.14  120245
19533  2016Q2  1314.01  120245
19534  2016Q3  1759.09  120245
19535  2016Q4  2127.79  120245
19536  2017Q1  2916.61  120245
19537  2017Q2  3864.07  120245
19538  2017Q3  4775.22  120245
19539  2017Q4  5294.35  120245
('Key_nav : ', 120245)
('data 1 : ', array([-0.0557669 , -0.01938859, -0.13192216,  0.09913466,  0.0139571 ,
        0.25453166,  0.12786393,  0.10801081,  0.09607239, -0.05946383,
        0.02834876, -0.0500421 , -0.11237173,  0.12810472,  0.20742595,
        0.01036261,  0.04666139,  0.1082943 ,  0.07833712,  0.02172802]))
('data 2 :', array([   78.31,   136.31,   144.07,   161.02,   193.58,   385.72,
         528.61,   676.53,   897.49,   958.59,  1100.4 ,  1196.1 ,
        1119.14,  1314.01,  1759.09,  2127.79,  2916.61,  3864.07,
        4775.22,  5294.35]))
('mean : ', array([-0.0557669 , -0.01938859, -0.13192216,  0.09913466,  0.0139571 ,
        0.25453166,  0.12786393,  0.10801081,  0.09607239, -0.05946383,
        0.02834876, -0.0500421 , -0.11237173,  0.12810472,  0.20742595,
        0.01036261,  0.04666139,  0.1082943 ,  0.07833712,  0.02172802]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
19520  2013Q1    78.31  120245
19521  2013Q2   136.31  120245
19522  2013Q3   144.07  120245
19523  2013Q4   161.02  120245
19524  2014Q1   193.58  120245
19525  2014Q2   385.72  120245
19526  2014Q3   528.61  120245
19527  2014Q4   676.53  120245
19528  2015Q1   897.49  120245
19529  2015Q2   958.59  120245
19530  2015Q3  1100.40  120245
19531  2015Q4  1196.10  120245
19532  2016Q1  1119.14  120245
19533  2016Q2  1314.01  120245
19534  2016Q3  1759.09  120245
19535  2016Q4  2127.79  120245
19536  2017Q1  2916.61  120245
19537  2017Q2  3864.07  120245
19538  2017Q3  4775.22  120245
19539  2017Q4  5294.35  120245>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
580  2013Q1 -0.055767  120245
581  2013Q2 -0.019389  120245
582  2013Q3 -0.131922  120245
583  2013Q4  0.099135  120245
584  2014Q1  0.013957  120245
585  2014Q2  0.254532  120245
586  2014Q3  0.127864  120245
587  2014Q4  0.108011  120245
588  2015Q1  0.096072  120245
589  2015Q2 -0.059464  120245
590  2015Q3  0.028349  120245
591  2015Q4 -0.050042  120245
592  2016Q1 -0.112372  120245
593  2016Q2  0.128105  120245
594  2016Q3  0.207426  120245
595  2016Q4  0.010363  120245
596  2017Q1  0.046661  120245
597  2017Q2  0.108294  120245
598  2017Q3  0.078337  120245
599  2017Q4  0.021728  120245>)
('Key_aum: ', 120245)
      Quarter     Data      ID
19520  2013Q1    78.31  120245
19521  2013Q2   136.31  120245
19522  2013Q3   144.07  120245
19523  2013Q4   161.02  120245
19524  2014Q1   193.58  120245
19525  2014Q2   385.72  120245
19526  2014Q3   528.61  120245
19527  2014Q4   676.53  120245
19528  2015Q1   897.49  120245
19529  2015Q2   958.59  120245
19530  2015Q3  1100.40  120245
19531  2015Q4  1196.10  120245
19532  2016Q1  1119.14  120245
19533  2016Q2  1314.01  120245
19534  2016Q3  1759.09  120245
19535  2016Q4  2127.79  120245
19536  2017Q1  2916.61  120245
19537  2017Q2  3864.07  120245
19538  2017Q3  4775.22  120245
19539  2017Q4  5294.35  120245
('Key_nav : ', 120245)
('data 1 : ', array([-0.0557669 , -0.01938859, -0.13192216,  0.09913466,  0.0139571 ,
        0.25453166,  0.12786393,  0.10801081,  0.09607239, -0.05946383,
        0.02834876, -0.0500421 , -0.11237173,  0.12810472,  0.20742595,
        0.01036261,  0.04666139,  0.1082943 ,  0.07833712,  0.02172802]))
('data 2 :', array([   78.31,   136.31,   144.07,   161.02,   193.58,   385.72,
         528.61,   676.53,   897.49,   958.59,  1100.4 ,  1196.1 ,
        1119.14,  1314.01,  1759.09,  2127.79,  2916.61,  3864.07,
        4775.22,  5294.35]))
('mean : ', array([-0.0557669 , -0.01938859, -0.13192216,  0.09913466,  0.0139571 ,
        0.25453166,  0.12786393,  0.10801081,  0.09607239, -0.05946383,
        0.02834876, -0.0500421 , -0.11237173,  0.12810472,  0.20742595,
        0.01036261,  0.04666139,  0.1082943 ,  0.07833712,  0.02172802]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
19520  2013Q1    78.31  120245
19521  2013Q2   136.31  120245
19522  2013Q3   144.07  120245
19523  2013Q4   161.02  120245
19524  2014Q1   193.58  120245
19525  2014Q2   385.72  120245
19526  2014Q3   528.61  120245
19527  2014Q4   676.53  120245
19528  2015Q1   897.49  120245
19529  2015Q2   958.59  120245
19530  2015Q3  1100.40  120245
19531  2015Q4  1196.10  120245
19532  2016Q1  1119.14  120245
19533  2016Q2  1314.01  120245
19534  2016Q3  1759.09  120245
19535  2016Q4  2127.79  120245
19536  2017Q1  2916.61  120245
19537  2017Q2  3864.07  120245
19538  2017Q3  4775.22  120245
19539  2017Q4  5294.35  120245>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
580  2013Q1 -0.055767  120245
581  2013Q2 -0.019389  120245
582  2013Q3 -0.131922  120245
583  2013Q4  0.099135  120245
584  2014Q1  0.013957  120245
585  2014Q2  0.254532  120245
586  2014Q3  0.127864  120245
587  2014Q4  0.108011  120245
588  2015Q1  0.096072  120245
589  2015Q2 -0.059464  120245
590  2015Q3  0.028349  120245
591  2015Q4 -0.050042  120245
592  2016Q1 -0.112372  120245
593  2016Q2  0.128105  120245
594  2016Q3  0.207426  120245
595  2016Q4  0.010363  120245
596  2017Q1  0.046661  120245
597  2017Q2  0.108294  120245
598  2017Q3  0.078337  120245
599  2017Q4  0.021728  120245>)
('Key_aum: ', 120245)
      Quarter     Data      ID
19520  2013Q1    78.31  120245
19521  2013Q2   136.31  120245
19522  2013Q3   144.07  120245
19523  2013Q4   161.02  120245
19524  2014Q1   193.58  120245
19525  2014Q2   385.72  120245
19526  2014Q3   528.61  120245
19527  2014Q4   676.53  120245
19528  2015Q1   897.49  120245
19529  2015Q2   958.59  120245
19530  2015Q3  1100.40  120245
19531  2015Q4  1196.10  120245
19532  2016Q1  1119.14  120245
19533  2016Q2  1314.01  120245
19534  2016Q3  1759.09  120245
19535  2016Q4  2127.79  120245
19536  2017Q1  2916.61  120245
19537  2017Q2  3864.07  120245
19538  2017Q3  4775.22  120245
19539  2017Q4  5294.35  120245
('Key_nav : ', 120245)
('data 1 : ', array([-0.0557669 , -0.01938859, -0.13192216,  0.09913466,  0.0139571 ,
        0.25453166,  0.12786393,  0.10801081,  0.09607239, -0.05946383,
        0.02834876, -0.0500421 , -0.11237173,  0.12810472,  0.20742595,
        0.01036261,  0.04666139,  0.1082943 ,  0.07833712,  0.02172802]))
('data 2 :', array([   78.31,   136.31,   144.07,   161.02,   193.58,   385.72,
         528.61,   676.53,   897.49,   958.59,  1100.4 ,  1196.1 ,
        1119.14,  1314.01,  1759.09,  2127.79,  2916.61,  3864.07,
        4775.22,  5294.35]))
('mean : ', array([-0.0557669 , -0.01938859, -0.13192216,  0.09913466,  0.0139571 ,
        0.25453166,  0.12786393,  0.10801081,  0.09607239, -0.05946383,
        0.02834876, -0.0500421 , -0.11237173,  0.12810472,  0.20742595,
        0.01036261,  0.04666139,  0.1082943 ,  0.07833712,  0.02172802]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
19520  2013Q1    78.31  120245
19521  2013Q2   136.31  120245
19522  2013Q3   144.07  120245
19523  2013Q4   161.02  120245
19524  2014Q1   193.58  120245
19525  2014Q2   385.72  120245
19526  2014Q3   528.61  120245
19527  2014Q4   676.53  120245
19528  2015Q1   897.49  120245
19529  2015Q2   958.59  120245
19530  2015Q3  1100.40  120245
19531  2015Q4  1196.10  120245
19532  2016Q1  1119.14  120245
19533  2016Q2  1314.01  120245
19534  2016Q3  1759.09  120245
19535  2016Q4  2127.79  120245
19536  2017Q1  2916.61  120245
19537  2017Q2  3864.07  120245
19538  2017Q3  4775.22  120245
19539  2017Q4  5294.35  120245>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
580  2013Q1 -0.055767  120245
581  2013Q2 -0.019389  120245
582  2013Q3 -0.131922  120245
583  2013Q4  0.099135  120245
584  2014Q1  0.013957  120245
585  2014Q2  0.254532  120245
586  2014Q3  0.127864  120245
587  2014Q4  0.108011  120245
588  2015Q1  0.096072  120245
589  2015Q2 -0.059464  120245
590  2015Q3  0.028349  120245
591  2015Q4 -0.050042  120245
592  2016Q1 -0.112372  120245
593  2016Q2  0.128105  120245
594  2016Q3  0.207426  120245
595  2016Q4  0.010363  120245
596  2017Q1  0.046661  120245
597  2017Q2  0.108294  120245
598  2017Q3  0.078337  120245
599  2017Q4  0.021728  120245>)
('Key_aum: ', 120245)
      Quarter     Data      ID
19520  2013Q1    78.31  120245
19521  2013Q2   136.31  120245
19522  2013Q3   144.07  120245
19523  2013Q4   161.02  120245
19524  2014Q1   193.58  120245
19525  2014Q2   385.72  120245
19526  2014Q3   528.61  120245
19527  2014Q4   676.53  120245
19528  2015Q1   897.49  120245
19529  2015Q2   958.59  120245
19530  2015Q3  1100.40  120245
19531  2015Q4  1196.10  120245
19532  2016Q1  1119.14  120245
19533  2016Q2  1314.01  120245
19534  2016Q3  1759.09  120245
19535  2016Q4  2127.79  120245
19536  2017Q1  2916.61  120245
19537  2017Q2  3864.07  120245
19538  2017Q3  4775.22  120245
19539  2017Q4  5294.35  120245
('Key_nav : ', 120245)
('data 1 : ', array([-0.0557669 , -0.01938859, -0.13192216,  0.09913466,  0.0139571 ,
        0.25453166,  0.12786393,  0.10801081,  0.09607239, -0.05946383,
        0.02834876, -0.0500421 , -0.11237173,  0.12810472,  0.20742595,
        0.01036261,  0.04666139,  0.1082943 ,  0.07833712,  0.02172802]))
('data 2 :', array([   78.31,   136.31,   144.07,   161.02,   193.58,   385.72,
         528.61,   676.53,   897.49,   958.59,  1100.4 ,  1196.1 ,
        1119.14,  1314.01,  1759.09,  2127.79,  2916.61,  3864.07,
        4775.22,  5294.35]))
('mean : ', array([-0.0557669 , -0.01938859, -0.13192216,  0.09913466,  0.0139571 ,
        0.25453166,  0.12786393,  0.10801081,  0.09607239, -0.05946383,
        0.02834876, -0.0500421 , -0.11237173,  0.12810472,  0.20742595,
        0.01036261,  0.04666139,  0.1082943 ,  0.07833712,  0.02172802]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
19520  2013Q1    78.31  120245
19521  2013Q2   136.31  120245
19522  2013Q3   144.07  120245
19523  2013Q4   161.02  120245
19524  2014Q1   193.58  120245
19525  2014Q2   385.72  120245
19526  2014Q3   528.61  120245
19527  2014Q4   676.53  120245
19528  2015Q1   897.49  120245
19529  2015Q2   958.59  120245
19530  2015Q3  1100.40  120245
19531  2015Q4  1196.10  120245
19532  2016Q1  1119.14  120245
19533  2016Q2  1314.01  120245
19534  2016Q3  1759.09  120245
19535  2016Q4  2127.79  120245
19536  2017Q1  2916.61  120245
19537  2017Q2  3864.07  120245
19538  2017Q3  4775.22  120245
19539  2017Q4  5294.35  120245>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
580  2013Q1 -0.055767  120245
581  2013Q2 -0.019389  120245
582  2013Q3 -0.131922  120245
583  2013Q4  0.099135  120245
584  2014Q1  0.013957  120245
585  2014Q2  0.254532  120245
586  2014Q3  0.127864  120245
587  2014Q4  0.108011  120245
588  2015Q1  0.096072  120245
589  2015Q2 -0.059464  120245
590  2015Q3  0.028349  120245
591  2015Q4 -0.050042  120245
592  2016Q1 -0.112372  120245
593  2016Q2  0.128105  120245
594  2016Q3  0.207426  120245
595  2016Q4  0.010363  120245
596  2017Q1  0.046661  120245
597  2017Q2  0.108294  120245
598  2017Q3  0.078337  120245
599  2017Q4  0.021728  120245>)
('Key_aum: ', 120245)
      Quarter     Data      ID
19520  2013Q1    78.31  120245
19521  2013Q2   136.31  120245
19522  2013Q3   144.07  120245
19523  2013Q4   161.02  120245
19524  2014Q1   193.58  120245
19525  2014Q2   385.72  120245
19526  2014Q3   528.61  120245
19527  2014Q4   676.53  120245
19528  2015Q1   897.49  120245
19529  2015Q2   958.59  120245
19530  2015Q3  1100.40  120245
19531  2015Q4  1196.10  120245
19532  2016Q1  1119.14  120245
19533  2016Q2  1314.01  120245
19534  2016Q3  1759.09  120245
19535  2016Q4  2127.79  120245
19536  2017Q1  2916.61  120245
19537  2017Q2  3864.07  120245
19538  2017Q3  4775.22  120245
19539  2017Q4  5294.35  120245
('Key_nav : ', 120245)
('data 1 : ', array([-0.0557669 , -0.01938859, -0.13192216,  0.09913466,  0.0139571 ,
        0.25453166,  0.12786393,  0.10801081,  0.09607239, -0.05946383,
        0.02834876, -0.0500421 , -0.11237173,  0.12810472,  0.20742595,
        0.01036261,  0.04666139,  0.1082943 ,  0.07833712,  0.02172802]))

('Key_aum: ', 120245)
      Quarter     Data      ID
19520  2013Q1    78.31  120245
19521  2013Q2   136.31  120245
19522  2013Q3   144.07  120245
19523  2013Q4   161.02  120245
19524  2014Q1   193.58  120245
19525  2014Q2   385.72  120245
19526  2014Q3   528.61  120245
19527  2014Q4   676.53  120245
19528  2015Q1   897.49  120245
19529  2015Q2   958.59  120245
19530  2015Q3  1100.40  120245
19531  2015Q4  1196.10  120245
19532  2016Q1  1119.14  120245
19533  2016Q2  1314.01  120245
19534  2016Q3  1759.09  120245
19535  2016Q4  2127.79  120245
19536  2017Q1  2916.61  120245
19537  2017Q2  3864.07  120245
19538  2017Q3  4775.22  120245
19539  2017Q4  5294.35  120245
('Key_nav : ', 120245)
('data 1 : ', array([-0.0557669 , -0.01938859, -0.13192216,  0.09913466,  0.0139571 ,
        0.25453166,  0.12786393,  0.10801081,  0.09607239, -0.05946383,
        0.02834876, -0.0500421 , -0.11237173,  0.12810472,  0.20742595,
        0.01036261,  0.04666139,  0.1082943 ,  0.07833712,  0.02172802]))
('data 2 :', array([   78.31,   136.31,   144.07,   161.02,   193.58,   385.72,
         528.61,   676.53,   897.49,   958.59,  1100.4 ,  1196.1 ,
        1119.14,  1314.01,  1759.09,  2127.79,  2916.61,  3864.07,
        4775.22,  5294.35]))
('mean : ', array([-0.0557669 , -0.01938859, -0.13192216,  0.09913466,  0.0139571 ,
        0.25453166,  0.12786393,  0.10801081,  0.09607239, -0.05946383,
        0.02834876, -0.0500421 , -0.11237173,  0.12810472,  0.20742595,
        0.01036261,  0.04666139,  0.1082943 ,  0.07833712,  0.02172802]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
19520  2013Q1    78.31  120245
19521  2013Q2   136.31  120245
19522  2013Q3   144.07  120245
19523  2013Q4   161.02  120245
19524  2014Q1   193.58  120245
19525  2014Q2   385.72  120245
19526  2014Q3   528.61  120245
19527  2014Q4   676.53  120245
19528  2015Q1   897.49  120245
19529  2015Q2   958.59  120245
19530  2015Q3  1100.40  120245
19531  2015Q4  1196.10  120245
19532  2016Q1  1119.14  120245
19533  2016Q2  1314.01  120245
19534  2016Q3  1759.09  120245
19535  2016Q4  2127.79  120245
19536  2017Q1  2916.61  120245
19537  2017Q2  3864.07  120245
19538  2017Q3  4775.22  120245
19539  2017Q4  5294.35  120245>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
580  2013Q1 -0.055767  120245
581  2013Q2 -0.019389  120245
582  2013Q3 -0.131922  120245
583  2013Q4  0.099135  120245
584  2014Q1  0.013957  120245
585  2014Q2  0.254532  120245
586  2014Q3  0.127864  120245
587  2014Q4  0.108011  120245
588  2015Q1  0.096072  120245
589  2015Q2 -0.059464  120245
590  2015Q3  0.028349  120245
591  2015Q4 -0.050042  120245
592  2016Q1 -0.112372  120245
593  2016Q2  0.128105  120245
594  2016Q3  0.207426  120245
595  2016Q4  0.010363  120245
596  2017Q1  0.046661  120245
597  2017Q2  0.108294  120245
598  2017Q3  0.078337  120245
599  2017Q4  0.021728  120245>)
('Key_aum: ', 120245)
      Quarter     Data      ID
19520  2013Q1    78.31  120245
19521  2013Q2   136.31  120245
19522  2013Q3   144.07  120245
19523  2013Q4   161.02  120245
19524  2014Q1   193.58  120245
19525  2014Q2   385.72  120245
19526  2014Q3   528.61  120245
19527  2014Q4   676.53  120245
19528  2015Q1   897.49  120245
19529  2015Q2   958.59  120245
19530  2015Q3  1100.40  120245
19531  2015Q4  1196.10  120245
19532  2016Q1  1119.14  120245
19533  2016Q2  1314.01  120245
19534  2016Q3  1759.09  120245
19535  2016Q4  2127.79  120245
19536  2017Q1  2916.61  120245
19537  2017Q2  3864.07  120245
19538  2017Q3  4775.22  120245
19539  2017Q4  5294.35  120245
('Key_nav : ', 120245)
('data 1 : ', array([-0.0557669 , -0.01938859, -0.13192216,  0.09913466,  0.0139571 ,
        0.25453166,  0.12786393,  0.10801081,  0.09607239, -0.05946383,
        0.02834876, -0.0500421 , -0.11237173,  0.12810472,  0.20742595,
        0.01036261,  0.04666139,  0.1082943 ,  0.07833712,  0.02172802]))
('data 2 :', array([   78.31,   136.31,   144.07,   161.02,   193.58,   385.72,
         528.61,   676.53,   897.49,   958.59,  1100.4 ,  1196.1 ,
        1119.14,  1314.01,  1759.09,  2127.79,  2916.61,  3864.07,
        4775.22,  5294.35]))
('mean : ', array([-0.0557669 , -0.01938859, -0.13192216,  0.09913466,  0.0139571 ,
        0.25453166,  0.12786393,  0.10801081,  0.09607239, -0.05946383,
        0.02834876, -0.0500421 , -0.11237173,  0.12810472,  0.20742595,
        0.01036261,  0.04666139,  0.1082943 ,  0.07833712,  0.02172802]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
19520  2013Q1    78.31  120245
19521  2013Q2   136.31  120245
19522  2013Q3   144.07  120245
19523  2013Q4   161.02  120245
19524  2014Q1   193.58  120245
19525  2014Q2   385.72  120245
19526  2014Q3   528.61  120245
19527  2014Q4   676.53  120245
19528  2015Q1   897.49  120245
19529  2015Q2   958.59  120245
19530  2015Q3  1100.40  120245
19531  2015Q4  1196.10  120245
19532  2016Q1  1119.14  120245
19533  2016Q2  1314.01  120245
19534  2016Q3  1759.09  120245
19535  2016Q4  2127.79  120245
19536  2017Q1  2916.61  120245
19537  2017Q2  3864.07  120245
19538  2017Q3  4775.22  120245
19539  2017Q4  5294.35  120245>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
580  2013Q1 -0.055767  120245
581  2013Q2 -0.019389  120245
582  2013Q3 -0.131922  120245
583  2013Q4  0.099135  120245
584  2014Q1  0.013957  120245
585  2014Q2  0.254532  120245
586  2014Q3  0.127864  120245
587  2014Q4  0.108011  120245
588  2015Q1  0.096072  120245
589  2015Q2 -0.059464  120245
590  2015Q3  0.028349  120245
591  2015Q4 -0.050042  120245
592  2016Q1 -0.112372  120245
593  2016Q2  0.128105  120245
594  2016Q3  0.207426  120245
595  2016Q4  0.010363  120245
596  2017Q1  0.046661  120245
597  2017Q2  0.108294  120245
598  2017Q3  0.078337  120245
599  2017Q4  0.021728  120245>)
('Key_aum: ', 120245)
      Quarter     Data      ID
19520  2013Q1    78.31  120245
19521  2013Q2   136.31  120245
19522  2013Q3   144.07  120245
19523  2013Q4   161.02  120245
19524  2014Q1   193.58  120245
19525  2014Q2   385.72  120245
19526  2014Q3   528.61  120245
19527  2014Q4   676.53  120245
19528  2015Q1   897.49  120245
19529  2015Q2   958.59  120245
19530  2015Q3  1100.40  120245
19531  2015Q4  1196.10  120245
19532  2016Q1  1119.14  120245
19533  2016Q2  1314.01  120245
19534  2016Q3  1759.09  120245
19535  2016Q4  2127.79  120245
19536  2017Q1  2916.61  120245
19537  2017Q2  3864.07  120245
19538  2017Q3  4775.22  120245
19539  2017Q4  5294.35  120245
('Key_nav : ', 120245)
('data 1 : ', array([-0.0557669 , -0.01938859, -0.13192216,  0.09913466,  0.0139571 ,
        0.25453166,  0.12786393,  0.10801081,  0.09607239, -0.05946383,
        0.02834876, -0.0500421 , -0.11237173,  0.12810472,  0.20742595,
        0.01036261,  0.04666139,  0.1082943 ,  0.07833712,  0.02172802]))
('data 2 :', array([   78.31,   136.31,   144.07,   161.02,   193.58,   385.72,
         528.61,   676.53,   897.49,   958.59,  1100.4 ,  1196.1 ,
        1119.14,  1314.01,  1759.09,  2127.79,  2916.61,  3864.07,
        4775.22,  5294.35]))
('mean : ', array([-0.0557669 , -0.01938859, -0.13192216,  0.09913466,  0.0139571 ,
        0.25453166,  0.12786393,  0.10801081,  0.09607239, -0.05946383,
        0.02834876, -0.0500421 , -0.11237173,  0.12810472,  0.20742595,
        0.01036261,  0.04666139,  0.1082943 ,  0.07833712,  0.02172802]))
('IDs :', [103616, 101295])
('aum table :', <bound method DataFrame.head of       Quarter       Data      ID
43060  2013Q1   30121.07  103616
43061  2013Q2   28795.70  103616
43062  2013Q3   26879.08  103616
43063  2013Q4   28094.73  103616
43064  2014Q1   28960.11  103616
43065  2014Q2   30763.78  103616
43066  2014Q3   35472.63  103616
43067  2014Q4   39233.24  103616
43068  2015Q1   44562.53  103616
43069  2015Q2   58800.79  103616
43070  2015Q3   79766.85  103616
43071  2015Q4   72807.02  103616
43072  2016Q1   85635.85  103616
43073  2016Q2  114659.83  103616
43074  2016Q3  144216.51  103616
43075  2016Q4  149589.07  103616
43076  2017Q1  165800.47  103616
43077  2017Q2  181752.74  103616
43078  2017Q3  189933.22  103616
43079  2017Q4  194039.99  103616
44120  2013Q1   43115.73  101295
44121  2013Q2   41964.43  101295
44122  2013Q3   39505.99  101295
44123  2013Q4   40667.11  101295
44124  2014Q1   39881.76  101295
44125  2014Q2   40235.98  101295
44126  2014Q3   41726.66  101295
44127  2014Q4   43750.81  101295
44128  2015Q1   45590.27  101295
44129  2015Q2   58902.76  101295
44130  2015Q3   39334.20  101295
44131  2015Q4   39053.79  101295
44132  2016Q1   36912.12  101295
44133  2016Q2   43620.48  101295
44134  2016Q3   44572.02  101295
44135  2016Q4   41079.31  101295
44136  2017Q1   42385.82  101295
44137  2017Q2   46381.32  101295
44138  2017Q3   46196.86  101295
44139  2017Q4   46349.39  101295>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
340   2013Q1 -0.001819  101295
341   2013Q2 -0.014230  101295
342   2013Q3 -0.035399  101295
343   2013Q4  0.072608  101295
344   2014Q1  0.025747  101295
345   2014Q2  0.040059  101295
346   2014Q3  0.074190  101295
347   2014Q4  0.073632  101295
348   2015Q1  0.078039  101295
349   2015Q2 -0.148996  101295
350   2015Q3 -0.036625  101295
351   2015Q4 -0.010716  101295
352   2016Q1 -0.060122  101295
353   2016Q2 -0.033101  101295
354   2016Q3  0.051197  101295
355   2016Q4 -0.021908  101295
356   2017Q1  0.013531  101295
357   2017Q2  0.051296  101295
358   2017Q3  0.000156  101295
359   2017Q4  0.026634  101295
1220  2013Q1 -0.005710  103616
1221  2013Q2 -0.008099  103616
1222  2013Q3 -0.039620  103616
1223  2013Q4  0.083201  103616
1224  2014Q1  0.028459  103616
1225  2014Q2  0.009119  103616
1226  2014Q3  0.143556  103616
1227  2014Q4  0.076918  103616
1228  2015Q1  0.088854  103616
1229  2015Q2  0.005853  103616
1230  2015Q3 -0.094327  103616
1231  2015Q4 -0.034841  103616
1232  2016Q1 -0.044651  103616
1233  2016Q2  0.075843  103616
1234  2016Q3  0.084347  103616
1235  2016Q4 -0.072199  103616
1236  2017Q1  0.030953  103616
1237  2017Q2  0.080445  103616
1238  2017Q3  0.049461  103616
1239  2017Q4  0.033295  103616>)
('Key_aum: ', 101295)
      Quarter      Data      ID
44120  2013Q1  43115.73  101295
44121  2013Q2  41964.43  101295
44122  2013Q3  39505.99  101295
44123  2013Q4  40667.11  101295
44124  2014Q1  39881.76  101295
44125  2014Q2  40235.98  101295
44126  2014Q3  41726.66  101295
44127  2014Q4  43750.81  101295
44128  2015Q1  45590.27  101295
44129  2015Q2  58902.76  101295
44130  2015Q3  39334.20  101295
44131  2015Q4  39053.79  101295
44132  2016Q1  36912.12  101295
44133  2016Q2  43620.48  101295
44134  2016Q3  44572.02  101295
44135  2016Q4  41079.31  101295
44136  2017Q1  42385.82  101295
44137  2017Q2  46381.32  101295
44138  2017Q3  46196.86  101295
44139  2017Q4  46349.39  101295
('Key_nav : ', 101295)
('data 1 : ', array([-0.00181946, -0.01422985, -0.03539937,  0.07260827,  0.02574669,
        0.04005902,  0.07418971,  0.07363232,  0.07803864, -0.14899621,
       -0.03662503, -0.01071598, -0.06012196, -0.03310118,  0.05119661,
       -0.02190839,  0.01353142,  0.05129581,  0.00015569,  0.02663427]))
('data 2 :', array([ 43115.73,  41964.43,  39505.99,  40667.11,  39881.76,  40235.98,
        41726.66,  43750.81,  45590.27,  58902.76,  39334.2 ,  39053.79,
        36912.12,  43620.48,  44572.02,  41079.31,  42385.82,  46381.32,
        46196.86,  46349.39]))
('Key_aum: ', 103616)
      Quarter       Data      ID
43060  2013Q1   30121.07  103616
43061  2013Q2   28795.70  103616
43062  2013Q3   26879.08  103616
43063  2013Q4   28094.73  103616
43064  2014Q1   28960.11  103616
43065  2014Q2   30763.78  103616
43066  2014Q3   35472.63  103616
43067  2014Q4   39233.24  103616
43068  2015Q1   44562.53  103616
43069  2015Q2   58800.79  103616
43070  2015Q3   79766.85  103616
43071  2015Q4   72807.02  103616
43072  2016Q1   85635.85  103616
43073  2016Q2  114659.83  103616
43074  2016Q3  144216.51  103616
43075  2016Q4  149589.07  103616
43076  2017Q1  165800.47  103616
43077  2017Q2  181752.74  103616
43078  2017Q3  189933.22  103616
43079  2017Q4  194039.99  103616
('Key_nav : ', 103616)
('data 1 : ', array([-0.00571034, -0.00809897, -0.03962012,  0.0832012 ,  0.02845938,
        0.00911902,  0.14355555,  0.07691835,  0.08885437,  0.00585326,
       -0.09432737, -0.03484098, -0.04465104,  0.0758433 ,  0.08434688,
       -0.07219857,  0.03095273,  0.08044497,  0.04946143,  0.03329541]))
('data 2 :', array([  30121.07,   28795.7 ,   26879.08,   28094.73,   28960.11,
         30763.78,   35472.63,   39233.24,   44562.53,   58800.79,
         79766.85,   72807.02,   85635.85,  114659.83,  144216.51,
        149589.07,  165800.47,  181752.74,  189933.22,  194039.99]))
('mean : ', array([-0.00571034, -0.00809897, -0.03962012,  0.0832012 ,  0.02845938,
        0.00911902,  0.14355555,  0.07691835,  0.08885437,  0.00585326,
       -0.09432737, -0.03484098, -0.04465104,  0.0758433 ,  0.08434688,
       -0.07219857,  0.03095273,  0.08044497,  0.04946143,  0.03329541]))
('aum table :', <bound method DataFrame.head of       Quarter       Data      ID
43060  2013Q1   30121.07  103616
43061  2013Q2   28795.70  103616
43062  2013Q3   26879.08  103616
43063  2013Q4   28094.73  103616
43064  2014Q1   28960.11  103616
43065  2014Q2   30763.78  103616
43066  2014Q3   35472.63  103616
43067  2014Q4   39233.24  103616
43068  2015Q1   44562.53  103616
43069  2015Q2   58800.79  103616
43070  2015Q3   79766.85  103616
43071  2015Q4   72807.02  103616
43072  2016Q1   85635.85  103616
43073  2016Q2  114659.83  103616
43074  2016Q3  144216.51  103616
43075  2016Q4  149589.07  103616
43076  2017Q1  165800.47  103616
43077  2017Q2  181752.74  103616
43078  2017Q3  189933.22  103616
43079  2017Q4  194039.99  103616
44120  2013Q1   43115.73  101295
44121  2013Q2   41964.43  101295
44122  2013Q3   39505.99  101295
44123  2013Q4   40667.11  101295
44124  2014Q1   39881.76  101295
44125  2014Q2   40235.98  101295
44126  2014Q3   41726.66  101295
44127  2014Q4   43750.81  101295
44128  2015Q1   45590.27  101295
44129  2015Q2   58902.76  101295
44130  2015Q3   39334.20  101295
44131  2015Q4   39053.79  101295
44132  2016Q1   36912.12  101295
44133  2016Q2   43620.48  101295
44134  2016Q3   44572.02  101295
44135  2016Q4   41079.31  101295
44136  2017Q1   42385.82  101295
44137  2017Q2   46381.32  101295
44138  2017Q3   46196.86  101295
44139  2017Q4   46349.39  101295>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
340   2013Q1 -0.001819  101295
341   2013Q2 -0.014230  101295
342   2013Q3 -0.035399  101295
343   2013Q4  0.072608  101295
344   2014Q1  0.025747  101295
345   2014Q2  0.040059  101295
346   2014Q3  0.074190  101295
347   2014Q4  0.073632  101295
348   2015Q1  0.078039  101295
349   2015Q2 -0.148996  101295
350   2015Q3 -0.036625  101295
351   2015Q4 -0.010716  101295
352   2016Q1 -0.060122  101295
353   2016Q2 -0.033101  101295
354   2016Q3  0.051197  101295
355   2016Q4 -0.021908  101295
356   2017Q1  0.013531  101295
357   2017Q2  0.051296  101295
358   2017Q3  0.000156  101295
359   2017Q4  0.026634  101295
1220  2013Q1 -0.005710  103616
1221  2013Q2 -0.008099  103616
1222  2013Q3 -0.039620  103616
1223  2013Q4  0.083201  103616
1224  2014Q1  0.028459  103616
1225  2014Q2  0.009119  103616
1226  2014Q3  0.143556  103616
1227  2014Q4  0.076918  103616
1228  2015Q1  0.088854  103616
1229  2015Q2  0.005853  103616
1230  2015Q3 -0.094327  103616
1231  2015Q4 -0.034841  103616
1232  2016Q1 -0.044651  103616
1233  2016Q2  0.075843  103616
1234  2016Q3  0.084347  103616
1235  2016Q4 -0.072199  103616
1236  2017Q1  0.030953  103616
1237  2017Q2  0.080445  103616
1238  2017Q3  0.049461  103616
1239  2017Q4  0.033295  103616>)
('Key_aum: ', 101295)
      Quarter      Data      ID
44120  2013Q1  43115.73  101295
44121  2013Q2  41964.43  101295
44122  2013Q3  39505.99  101295
44123  2013Q4  40667.11  101295
44124  2014Q1  39881.76  101295
44125  2014Q2  40235.98  101295
44126  2014Q3  41726.66  101295
44127  2014Q4  43750.81  101295
44128  2015Q1  45590.27  101295
44129  2015Q2  58902.76  101295
44130  2015Q3  39334.20  101295
44131  2015Q4  39053.79  101295
44132  2016Q1  36912.12  101295
44133  2016Q2  43620.48  101295
44134  2016Q3  44572.02  101295
44135  2016Q4  41079.31  101295
44136  2017Q1  42385.82  101295
44137  2017Q2  46381.32  101295
44138  2017Q3  46196.86  101295
44139  2017Q4  46349.39  101295
('Key_nav : ', 101295)
('data 1 : ', array([-0.00181946, -0.01422985, -0.03539937,  0.07260827,  0.02574669,
        0.04005902,  0.07418971,  0.07363232,  0.07803864, -0.14899621,
       -0.03662503, -0.01071598, -0.06012196, -0.03310118,  0.05119661,
       -0.02190839,  0.01353142,  0.05129581,  0.00015569,  0.02663427]))
('data 2 :', array([ 43115.73,  41964.43,  39505.99,  40667.11,  39881.76,  40235.98,
        41726.66,  43750.81,  45590.27,  58902.76,  39334.2 ,  39053.79,
        36912.12,  43620.48,  44572.02,  41079.31,  42385.82,  46381.32,
        46196.86,  46349.39]))
('Key_aum: ', 103616)
      Quarter       Data      ID
43060  2013Q1   30121.07  103616
43061  2013Q2   28795.70  103616
43062  2013Q3   26879.08  103616
43063  2013Q4   28094.73  103616
43064  2014Q1   28960.11  103616
43065  2014Q2   30763.78  103616
43066  2014Q3   35472.63  103616
43067  2014Q4   39233.24  103616
43068  2015Q1   44562.53  103616
43069  2015Q2   58800.79  103616
43070  2015Q3   79766.85  103616
43071  2015Q4   72807.02  103616
43072  2016Q1   85635.85  103616
43073  2016Q2  114659.83  103616
43074  2016Q3  144216.51  103616
43075  2016Q4  149589.07  103616
43076  2017Q1  165800.47  103616
43077  2017Q2  181752.74  103616
43078  2017Q3  189933.22  103616
43079  2017Q4  194039.99  103616
('Key_nav : ', 103616)
('data 1 : ', array([-0.00571034, -0.00809897, -0.03962012,  0.0832012 ,  0.02845938,
        0.00911902,  0.14355555,  0.07691835,  0.08885437,  0.00585326,
       -0.09432737, -0.03484098, -0.04465104,  0.0758433 ,  0.08434688,
       -0.07219857,  0.03095273,  0.08044497,  0.04946143,  0.03329541]))
('data 2 :', array([  30121.07,   28795.7 ,   26879.08,   28094.73,   28960.11,
         30763.78,   35472.63,   39233.24,   44562.53,   58800.79,
         79766.85,   72807.02,   85635.85,  114659.83,  144216.51,
        149589.07,  165800.47,  181752.74,  189933.22,  194039.99]))
('mean : ', array([-0.00571034, -0.00809897, -0.03962012,  0.0832012 ,  0.02845938,
        0.00911902,  0.14355555,  0.07691835,  0.08885437,  0.00585326,
       -0.09432737, -0.03484098, -0.04465104,  0.0758433 ,  0.08434688,
       -0.07219857,  0.03095273,  0.08044497,  0.04946143,  0.03329541]))
('aum table :', <bound method DataFrame.head of       Quarter       Data      ID
43060  2013Q1   30121.07  103616
43061  2013Q2   28795.70  103616
43062  2013Q3   26879.08  103616
43063  2013Q4   28094.73  103616
43064  2014Q1   28960.11  103616
43065  2014Q2   30763.78  103616
43066  2014Q3   35472.63  103616
43067  2014Q4   39233.24  103616
43068  2015Q1   44562.53  103616
43069  2015Q2   58800.79  103616
43070  2015Q3   79766.85  103616
43071  2015Q4   72807.02  103616
43072  2016Q1   85635.85  103616
43073  2016Q2  114659.83  103616
43074  2016Q3  144216.51  103616
43075  2016Q4  149589.07  103616
43076  2017Q1  165800.47  103616
43077  2017Q2  181752.74  103616
43078  2017Q3  189933.22  103616
43079  2017Q4  194039.99  103616
44120  2013Q1   43115.73  101295
44121  2013Q2   41964.43  101295
44122  2013Q3   39505.99  101295
44123  2013Q4   40667.11  101295
44124  2014Q1   39881.76  101295
44125  2014Q2   40235.98  101295
44126  2014Q3   41726.66  101295
44127  2014Q4   43750.81  101295
44128  2015Q1   45590.27  101295
44129  2015Q2   58902.76  101295
44130  2015Q3   39334.20  101295
44131  2015Q4   39053.79  101295
44132  2016Q1   36912.12  101295
44133  2016Q2   43620.48  101295
44134  2016Q3   44572.02  101295
44135  2016Q4   41079.31  101295
44136  2017Q1   42385.82  101295

('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
340   2013Q1 -0.001819  101295
341   2013Q2 -0.014230  101295
342   2013Q3 -0.035399  101295
343   2013Q4  0.072608  101295
344   2014Q1  0.025747  101295
345   2014Q2  0.040059  101295
346   2014Q3  0.074190  101295
347   2014Q4  0.073632  101295
348   2015Q1  0.078039  101295
349   2015Q2 -0.148996  101295
350   2015Q3 -0.036625  101295
351   2015Q4 -0.010716  101295
352   2016Q1 -0.060122  101295
353   2016Q2 -0.033101  101295
354   2016Q3  0.051197  101295
355   2016Q4 -0.021908  101295
356   2017Q1  0.013531  101295
357   2017Q2  0.051296  101295
358   2017Q3  0.000156  101295
359   2017Q4  0.026634  101295
1220  2013Q1 -0.005710  103616
1221  2013Q2 -0.008099  103616
1222  2013Q3 -0.039620  103616
1223  2013Q4  0.083201  103616
1224  2014Q1  0.028459  103616
1225  2014Q2  0.009119  103616
1226  2014Q3  0.143556  103616
1227  2014Q4  0.076918  103616
1228  2015Q1  0.088854  103616
1229  2015Q2  0.005853  103616
1230  2015Q3 -0.094327  103616
1231  2015Q4 -0.034841  103616
1232  2016Q1 -0.044651  103616
1233  2016Q2  0.075843  103616
1234  2016Q3  0.084347  103616
1235  2016Q4 -0.072199  103616
1236  2017Q1  0.030953  103616
1237  2017Q2  0.080445  103616
1238  2017Q3  0.049461  103616
1239  2017Q4  0.033295  103616>)
('Key_aum: ', 101295)
      Quarter      Data      ID
44120  2013Q1  43115.73  101295
44121  2013Q2  41964.43  101295
44122  2013Q3  39505.99  101295
44123  2013Q4  40667.11  101295
44124  2014Q1  39881.76  101295
44125  2014Q2  40235.98  101295
44126  2014Q3  41726.66  101295
44127  2014Q4  43750.81  101295
44128  2015Q1  45590.27  101295
44129  2015Q2  58902.76  101295
44130  2015Q3  39334.20  101295
44131  2015Q4  39053.79  101295
44132  2016Q1  36912.12  101295
44133  2016Q2  43620.48  101295
44134  2016Q3  44572.02  101295
44135  2016Q4  41079.31  101295
44136  2017Q1  42385.82  101295
44137  2017Q2  46381.32  101295
44138  2017Q3  46196.86  101295
44139  2017Q4  46349.39  101295
('Key_nav : ', 101295)
('data 1 : ', array([-0.00181946, -0.01422985, -0.03539937,  0.07260827,  0.02574669,
        0.04005902,  0.07418971,  0.07363232,  0.07803864, -0.14899621,
       -0.03662503, -0.01071598, -0.06012196, -0.03310118,  0.05119661,
       -0.02190839,  0.01353142,  0.05129581,  0.00015569,  0.02663427]))
('data 2 :', array([ 43115.73,  41964.43,  39505.99,  40667.11,  39881.76,  40235.98,
        41726.66,  43750.81,  45590.27,  58902.76,  39334.2 ,  39053.79,
        36912.12,  43620.48,  44572.02,  41079.31,  42385.82,  46381.32,
        46196.86,  46349.39]))
('Key_aum: ', 103616)
      Quarter       Data      ID
43060  2013Q1   30121.07  103616
43061  2013Q2   28795.70  103616
43062  2013Q3   26879.08  103616
43063  2013Q4   28094.73  103616
43064  2014Q1   28960.11  103616
43065  2014Q2   30763.78  103616
43066  2014Q3   35472.63  103616
43067  2014Q4   39233.24  103616
43068  2015Q1   44562.53  103616
43069  2015Q2   58800.79  103616
43070  2015Q3   79766.85  103616
43071  2015Q4   72807.02  103616
43072  2016Q1   85635.85  103616
43073  2016Q2  114659.83  103616
43074  2016Q3  144216.51  103616
43075  2016Q4  149589.07  103616
43076  2017Q1  165800.47  103616
43077  2017Q2  181752.74  103616
43078  2017Q3  189933.22  103616
43079  2017Q4  194039.99  103616
('Key_nav : ', 103616)
('data 1 : ', array([-0.00571034, -0.00809897, -0.03962012,  0.0832012 ,  0.02845938,
        0.00911902,  0.14355555,  0.07691835,  0.08885437,  0.00585326,
       -0.09432737, -0.03484098, -0.04465104,  0.0758433 ,  0.08434688,
       -0.07219857,  0.03095273,  0.08044497,  0.04946143,  0.03329541]))
('data 2 :', array([  30121.07,   28795.7 ,   26879.08,   28094.73,   28960.11,
         30763.78,   35472.63,   39233.24,   44562.53,   58800.79,
         79766.85,   72807.02,   85635.85,  114659.83,  144216.51,
        149589.07,  165800.47,  181752.74,  189933.22,  194039.99]))
('mean : ', array([-0.00571034, -0.00809897, -0.03962012,  0.0832012 ,  0.02845938,
        0.00911902,  0.14355555,  0.07691835,  0.08885437,  0.00585326,
       -0.09432737, -0.03484098, -0.04465104,  0.0758433 ,  0.08434688,
       -0.07219857,  0.03095273,  0.08044497,  0.04946143,  0.03329541]))
('aum table :', <bound method DataFrame.head of       Quarter       Data      ID
43060  2013Q1   30121.07  103616
43061  2013Q2   28795.70  103616
43062  2013Q3   26879.08  103616
43063  2013Q4   28094.73  103616
43064  2014Q1   28960.11  103616
43065  2014Q2   30763.78  103616
43066  2014Q3   35472.63  103616
43067  2014Q4   39233.24  103616
43068  2015Q1   44562.53  103616
43069  2015Q2   58800.79  103616
43070  2015Q3   79766.85  103616
43071  2015Q4   72807.02  103616
43072  2016Q1   85635.85  103616
43073  2016Q2  114659.83  103616
43074  2016Q3  144216.51  103616
43075  2016Q4  149589.07  103616
43076  2017Q1  165800.47  103616
43077  2017Q2  181752.74  103616
43078  2017Q3  189933.22  103616
43079  2017Q4  194039.99  103616
44120  2013Q1   43115.73  101295
44121  2013Q2   41964.43  101295
44122  2013Q3   39505.99  101295
44123  2013Q4   40667.11  101295
44124  2014Q1   39881.76  101295
44125  2014Q2   40235.98  101295
44126  2014Q3   41726.66  101295
44127  2014Q4   43750.81  101295
44128  2015Q1   45590.27  101295
44129  2015Q2   58902.76  101295
44130  2015Q3   39334.20  101295
44131  2015Q4   39053.79  101295
44132  2016Q1   36912.12  101295
44133  2016Q2   43620.48  101295
44134  2016Q3   44572.02  101295
44135  2016Q4   41079.31  101295
44136  2017Q1   42385.82  101295
44137  2017Q2   46381.32  101295
44138  2017Q3   46196.86  101295
44139  2017Q4   46349.39  101295>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
340   2013Q1 -0.001819  101295
341   2013Q2 -0.014230  101295
342   2013Q3 -0.035399  101295
343   2013Q4  0.072608  101295
344   2014Q1  0.025747  101295
345   2014Q2  0.040059  101295
346   2014Q3  0.074190  101295
347   2014Q4  0.073632  101295
348   2015Q1  0.078039  101295
349   2015Q2 -0.148996  101295
350   2015Q3 -0.036625  101295
351   2015Q4 -0.010716  101295
352   2016Q1 -0.060122  101295
353   2016Q2 -0.033101  101295
354   2016Q3  0.051197  101295
355   2016Q4 -0.021908  101295
356   2017Q1  0.013531  101295
357   2017Q2  0.051296  101295
358   2017Q3  0.000156  101295
359   2017Q4  0.026634  101295
1220  2013Q1 -0.005710  103616
1221  2013Q2 -0.008099  103616
1222  2013Q3 -0.039620  103616
1223  2013Q4  0.083201  103616
1224  2014Q1  0.028459  103616
1225  2014Q2  0.009119  103616
1226  2014Q3  0.143556  103616
1227  2014Q4  0.076918  103616
1228  2015Q1  0.088854  103616
1229  2015Q2  0.005853  103616
1230  2015Q3 -0.094327  103616
1231  2015Q4 -0.034841  103616
1232  2016Q1 -0.044651  103616
1233  2016Q2  0.075843  103616
1234  2016Q3  0.084347  103616
1235  2016Q4 -0.072199  103616
1236  2017Q1  0.030953  103616
1237  2017Q2  0.080445  103616
1238  2017Q3  0.049461  103616
1239  2017Q4  0.033295  103616>)
('Key_aum: ', 101295)
      Quarter      Data      ID
44120  2013Q1  43115.73  101295
44121  2013Q2  41964.43  101295
44122  2013Q3  39505.99  101295
44123  2013Q4  40667.11  101295
44124  2014Q1  39881.76  101295
44125  2014Q2  40235.98  101295
44126  2014Q3  41726.66  101295
44127  2014Q4  43750.81  101295
44128  2015Q1  45590.27  101295
44129  2015Q2  58902.76  101295
44130  2015Q3  39334.20  101295
44131  2015Q4  39053.79  101295
44132  2016Q1  36912.12  101295
44133  2016Q2  43620.48  101295
44134  2016Q3  44572.02  101295
44135  2016Q4  41079.31  101295
44136  2017Q1  42385.82  101295
44137  2017Q2  46381.32  101295
44138  2017Q3  46196.86  101295
44139  2017Q4  46349.39  101295
('Key_nav : ', 101295)
('data 1 : ', array([-0.00181946, -0.01422985, -0.03539937,  0.07260827,  0.02574669,
        0.04005902,  0.07418971,  0.07363232,  0.07803864, -0.14899621,
       -0.03662503, -0.01071598, -0.06012196, -0.03310118,  0.05119661,
       -0.02190839,  0.01353142,  0.05129581,  0.00015569,  0.02663427]))
('data 2 :', array([ 43115.73,  41964.43,  39505.99,  40667.11,  39881.76,  40235.98,
        41726.66,  43750.81,  45590.27,  58902.76,  39334.2 ,  39053.79,
        36912.12,  43620.48,  44572.02,  41079.31,  42385.82,  46381.32,
        46196.86,  46349.39]))
('Key_aum: ', 103616)
      Quarter       Data      ID
43060  2013Q1   30121.07  103616
43061  2013Q2   28795.70  103616
43062  2013Q3   26879.08  103616
43063  2013Q4   28094.73  103616
43064  2014Q1   28960.11  103616
43065  2014Q2   30763.78  103616
43066  2014Q3   35472.63  103616
43067  2014Q4   39233.24  103616
43068  2015Q1   44562.53  103616
43069  2015Q2   58800.79  103616
43070  2015Q3   79766.85  103616
43071  2015Q4   72807.02  103616
43072  2016Q1   85635.85  103616
43073  2016Q2  114659.83  103616
43074  2016Q3  144216.51  103616
43075  2016Q4  149589.07  103616
43076  2017Q1  165800.47  103616
43077  2017Q2  181752.74  103616
43078  2017Q3  189933.22  103616
43079  2017Q4  194039.99  103616
('Key_nav : ', 103616)
('data 1 : ', array([-0.00571034, -0.00809897, -0.03962012,  0.0832012 ,  0.02845938,
        0.00911902,  0.14355555,  0.07691835,  0.08885437,  0.00585326,
       -0.09432737, -0.03484098, -0.04465104,  0.0758433 ,  0.08434688,
       -0.07219857,  0.03095273,  0.08044497,  0.04946143,  0.03329541]))
('data 2 :', array([  30121.07,   28795.7 ,   26879.08,   28094.73,   28960.11,
         30763.78,   35472.63,   39233.24,   44562.53,   58800.79,
         79766.85,   72807.02,   85635.85,  114659.83,  144216.51,
        149589.07,  165800.47,  181752.74,  189933.22,  194039.99]))
('mean : ', array([-0.00571034, -0.00809897, -0.03962012,  0.0832012 ,  0.02845938,
        0.00911902,  0.14355555,  0.07691835,  0.08885437,  0.00585326,
       -0.09432737, -0.03484098, -0.04465104,  0.0758433 ,  0.08434688,
       -0.07219857,  0.03095273,  0.08044497,  0.04946143,  0.03329541]))
('aum table :', <bound method DataFrame.head of       Quarter       Data      ID
43060  2013Q1   30121.07  103616
43061  2013Q2   28795.70  103616
43062  2013Q3   26879.08  103616
43063  2013Q4   28094.73  103616
43064  2014Q1   28960.11  103616
43065  2014Q2   30763.78  103616
43066  2014Q3   35472.63  103616
43067  2014Q4   39233.24  103616
43068  2015Q1   44562.53  103616
43069  2015Q2   58800.79  103616
43070  2015Q3   79766.85  103616
43071  2015Q4   72807.02  103616
43072  2016Q1   85635.85  103616
43073  2016Q2  114659.83  103616
43074  2016Q3  144216.51  103616
43075  2016Q4  149589.07  103616
43076  2017Q1  165800.47  103616
43077  2017Q2  181752.74  103616
43078  2017Q3  189933.22  103616
43079  2017Q4  194039.99  103616
44120  2013Q1   43115.73  101295
44121  2013Q2   41964.43  101295
44122  2013Q3   39505.99  101295
44123  2013Q4   40667.11  101295
44124  2014Q1   39881.76  101295
44125  2014Q2   40235.98  101295
44126  2014Q3   41726.66  101295
44127  2014Q4   43750.81  101295
44128  2015Q1   45590.27  101295
44129  2015Q2   58902.76  101295
44130  2015Q3   39334.20  101295
44131  2015Q4   39053.79  101295
44132  2016Q1   36912.12  101295
44133  2016Q2   43620.48  101295
44134  2016Q3   44572.02  101295
44135  2016Q4   41079.31  101295
44136  2017Q1   42385.82  101295
44137  2017Q2   46381.32  101295
44138  2017Q3   46196.86  101295
44139  2017Q4   46349.39  101295>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
340   2013Q1 -0.001819  101295
341   2013Q2 -0.014230  101295
342   2013Q3 -0.035399  101295
343   2013Q4  0.072608  101295
344   2014Q1  0.025747  101295
345   2014Q2  0.040059  101295
346   2014Q3  0.074190  101295
347   2014Q4  0.073632  101295
348   2015Q1  0.078039  101295
349   2015Q2 -0.148996  101295
350   2015Q3 -0.036625  101295
351   2015Q4 -0.010716  101295
352   2016Q1 -0.060122  101295
353   2016Q2 -0.033101  101295
354   2016Q3  0.051197  101295
355   2016Q4 -0.021908  101295
356   2017Q1  0.013531  101295
357   2017Q2  0.051296  101295
358   2017Q3  0.000156  101295
359   2017Q4  0.026634  101295
1220  2013Q1 -0.005710  103616
1221  2013Q2 -0.008099  103616
1222  2013Q3 -0.039620  103616
1223  2013Q4  0.083201  103616
1224  2014Q1  0.028459  103616
1225  2014Q2  0.009119  103616
1226  2014Q3  0.143556  103616
1227  2014Q4  0.076918  103616
1228  2015Q1  0.088854  103616
1229  2015Q2  0.005853  103616
1230  2015Q3 -0.094327  103616
1231  2015Q4 -0.034841  103616
1232  2016Q1 -0.044651  103616
1233  2016Q2  0.075843  103616
1234  2016Q3  0.084347  103616
1235  2016Q4 -0.072199  103616
1236  2017Q1  0.030953  103616
1237  2017Q2  0.080445  103616
1238  2017Q3  0.049461  103616
1239  2017Q4  0.033295  103616>)
('Key_aum: ', 101295)
      Quarter      Data      ID
44120  2013Q1  43115.73  101295
44121  2013Q2  41964.43  101295
44122  2013Q3  39505.99  101295
44123  2013Q4  40667.11  101295
44124  2014Q1  39881.76  101295
44125  2014Q2  40235.98  101295
44126  2014Q3  41726.66  101295
44127  2014Q4  43750.81  101295
44128  2015Q1  45590.27  101295
44129  2015Q2  58902.76  101295
44130  2015Q3  39334.20  101295
44131  2015Q4  39053.79  101295
44132  2016Q1  36912.12  101295
44133  2016Q2  43620.48  101295
44134  2016Q3  44572.02  101295
44135  2016Q4  41079.31  101295
44136  2017Q1  42385.82  101295
44137  2017Q2  46381.32  101295
44138  2017Q3  46196.86  101295
44139  2017Q4  46349.39  101295
('Key_nav : ', 101295)
('data 1 : ', array([-0.00181946, -0.01422985, -0.03539937,  0.07260827,  0.02574669,
        0.04005902,  0.07418971,  0.07363232,  0.07803864, -0.14899621,
       -0.03662503, -0.01071598, -0.06012196, -0.03310118,  0.05119661,
       -0.02190839,  0.01353142,  0.05129581,  0.00015569,  0.02663427]))
('data 2 :', array([ 43115.73,  41964.43,  39505.99,  40667.11,  39881.76,  40235.98,
        41726.66,  43750.81,  45590.27,  58902.76,  39334.2 ,  39053.79,
        36912.12,  43620.48,  44572.02,  41079.31,  42385.82,  46381.32,
        46196.86,  46349.39]))
('Key_aum: ', 103616)
      Quarter       Data      ID
43060  2013Q1   30121.07  103616
43061  2013Q2   28795.70  103616
43062  2013Q3   26879.08  103616
43063  2013Q4   28094.73  103616
43064  2014Q1   28960.11  103616
43065  2014Q2   30763.78  103616
43066  2014Q3   35472.63  103616
43067  2014Q4   39233.24  103616
43068  2015Q1   44562.53  103616
43069  2015Q2   58800.79  103616
43070  2015Q3   79766.85  103616
43071  2015Q4   72807.02  103616
43072  2016Q1   85635.85  103616
43073  2016Q2  114659.83  103616
43074  2016Q3  144216.51  103616
43075  2016Q4  149589.07  103616
43076  2017Q1  165800.47  103616
43077  2017Q2  181752.74  103616
43078  2017Q3  189933.22  103616
43079  2017Q4  194039.99  103616
('Key_nav : ', 103616)
('data 1 : ', array([-0.00571034, -0.00809897, -0.03962012,  0.0832012 ,  0.02845938,
        0.00911902,  0.14355555,  0.07691835,  0.08885437,  0.00585326,
       -0.09432737, -0.03484098, -0.04465104,  0.0758433 ,  0.08434688,
       -0.07219857,  0.03095273,  0.08044497,  0.04946143,  0.03329541]))
('data 2 :', array([  30121.07,   28795.7 ,   26879.08,   28094.73,   28960.11,
         30763.78,   35472.63,   39233.24,   44562.53,   58800.79,
         79766.85,   72807.02,   85635.85,  114659.83,  144216.51,
        149589.07,  165800.47,  181752.74,  189933.22,  194039.99]))
('mean : ', array([-0.00571034, -0.00809897, -0.03962012,  0.0832012 ,  0.02845938,
        0.00911902,  0.14355555,  0.07691835,  0.08885437,  0.00585326,
       -0.09432737, -0.03484098, -0.04465104,  0.0758433 ,  0.08434688,
       -0.07219857,  0.03095273,  0.08044497,  0.04946143,  0.03329541]))
('aum table :', <bound method DataFrame.head of       Quarter       Data      ID
43060  2013Q1   30121.07  103616
43061  2013Q2   28795.70  103616
43062  2013Q3   26879.08  103616
43063  2013Q4   28094.73  103616
43064  2014Q1   28960.11  103616
43065  2014Q2   30763.78  103616
43066  2014Q3   35472.63  103616
43067  2014Q4   39233.24  103616
43068  2015Q1   44562.53  103616
43069  2015Q2   58800.79  103616
43070  2015Q3   79766.85  103616
43071  2015Q4   72807.02  103616
43072  2016Q1   85635.85  103616
43073  2016Q2  114659.83  103616
43074  2016Q3  144216.51  103616
43075  2016Q4  149589.07  103616
43076  2017Q1  165800.47  103616
43077  2017Q2  181752.74  103616
43078  2017Q3  189933.22  103616
43079  2017Q4  194039.99  103616
44120  2013Q1   43115.73  101295
44121  2013Q2   41964.43  101295
44122  2013Q3   39505.99  101295
44123  2013Q4   40667.11  101295
44124  2014Q1   39881.76  101295
44125  2014Q2   40235.98  101295
44126  2014Q3   41726.66  101295
44127  2014Q4   43750.81  101295
44128  2015Q1   45590.27  101295
44129  2015Q2   58902.76  101295
44130  2015Q3   39334.20  101295
44131  2015Q4   39053.79  101295
44132  2016Q1   36912.12  101295
44133  2016Q2   43620.48  101295
44134  2016Q3   44572.02  101295
44135  2016Q4   41079.31  101295
44136  2017Q1   42385.82  101295
44137  2017Q2   46381.32  101295
44138  2017Q3   46196.86  101295
44139  2017Q4   46349.39  101295>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
340   2013Q1 -0.001819  101295
341   2013Q2 -0.014230  101295
342   2013Q3 -0.035399  101295
343   2013Q4  0.072608  101295
344   2014Q1  0.025747  101295
345   2014Q2  0.040059  101295
346   2014Q3  0.074190  101295
347   2014Q4  0.073632  101295
348   2015Q1  0.078039  101295
349   2015Q2 -0.148996  101295
350   2015Q3 -0.036625  101295
351   2015Q4 -0.010716  101295
352   2016Q1 -0.060122  101295
353   2016Q2 -0.033101  101295
354   2016Q3  0.051197  101295
355   2016Q4 -0.021908  101295
356   2017Q1  0.013531  101295
357   2017Q2  0.051296  101295
358   2017Q3  0.000156  101295
359   2017Q4  0.026634  101295
1220  2013Q1 -0.005710  103616
1221  2013Q2 -0.008099  103616
1222  2013Q3 -0.039620  103616
1223  2013Q4  0.083201  103616
1224  2014Q1  0.028459  103616
1225  2014Q2  0.009119  103616
1226  2014Q3  0.143556  103616
1227  2014Q4  0.076918  103616
1228  2015Q1  0.088854  103616
1229  2015Q2  0.005853  103616
1230  2015Q3 -0.094327  103616
1231  2015Q4 -0.034841  103616
1232  2016Q1 -0.044651  103616
1233  2016Q2  0.075843  103616
1234  2016Q3  0.084347  103616
1235  2016Q4 -0.072199  103616
1236  2017Q1  0.030953  103616
1237  2017Q2  0.080445  103616
1238  2017Q3  0.049461  103616
1239  2017Q4  0.033295  103616>)
('Key_aum: ', 101295)
      Quarter      Data      ID
44120  2013Q1  43115.73  101295
44121  2013Q2  41964.43  101295
44122  2013Q3  39505.99  101295
44123  2013Q4  40667.11  101295
44124  2014Q1  39881.76  101295
44125  2014Q2  40235.98  101295
44126  2014Q3  41726.66  101295
44127  2014Q4  43750.81  101295
44128  2015Q1  45590.27  101295
44129  2015Q2  58902.76  101295
44130  2015Q3  39334.20  101295
44131  2015Q4  39053.79  101295
44132  2016Q1  36912.12  101295
44133  2016Q2  43620.48  101295
44134  2016Q3  44572.02  101295
44135  2016Q4  41079.31  101295
44136  2017Q1  42385.82  101295
44137  2017Q2  46381.32  101295
44138  2017Q3  46196.86  101295
44139  2017Q4  46349.39  101295
('Key_nav : ', 101295)
('data 1 : ', array([-0.00181946, -0.01422985, -0.03539937,  0.07260827,  0.02574669,
        0.04005902,  0.07418971,  0.07363232,  0.07803864, -0.14899621,
       -0.03662503, -0.01071598, -0.06012196, -0.03310118,  0.05119661,
       -0.02190839,  0.01353142,  0.05129581,  0.00015569,  0.02663427]))
('data 2 :', array([ 43115.73,  41964.43,  39505.99,  40667.11,  39881.76,  40235.98,
        41726.66,  43750.81,  45590.27,  58902.76,  39334.2 ,  39053.79,
        36912.12,  43620.48,  44572.02,  41079.31,  42385.82,  46381.32,
        46196.86,  46349.39]))
('Key_aum: ', 103616)
      Quarter       Data      ID
43060  2013Q1   30121.07  103616
43061  2013Q2   28795.70  103616
43062  2013Q3   26879.08  103616
43063  2013Q4   28094.73  103616
43064  2014Q1   28960.11  103616
43065  2014Q2   30763.78  103616
43066  2014Q3   35472.63  103616
43067  2014Q4   39233.24  103616
43068  2015Q1   44562.53  103616
43069  2015Q2   58800.79  103616
43070  2015Q3   79766.85  103616
43071  2015Q4   72807.02  103616
43072  2016Q1   85635.85  103616

('Key_aum: ', 101295)
      Quarter      Data      ID
44120  2013Q1  43115.73  101295
44121  2013Q2  41964.43  101295
44122  2013Q3  39505.99  101295
44123  2013Q4  40667.11  101295
44124  2014Q1  39881.76  101295
44125  2014Q2  40235.98  101295
44126  2014Q3  41726.66  101295
44127  2014Q4  43750.81  101295
44128  2015Q1  45590.27  101295
44129  2015Q2  58902.76  101295
44130  2015Q3  39334.20  101295
44131  2015Q4  39053.79  101295
44132  2016Q1  36912.12  101295
44133  2016Q2  43620.48  101295
44134  2016Q3  44572.02  101295
44135  2016Q4  41079.31  101295
44136  2017Q1  42385.82  101295
44137  2017Q2  46381.32  101295
44138  2017Q3  46196.86  101295
44139  2017Q4  46349.39  101295
('Key_nav : ', 101295)
('data 1 : ', array([-0.00181946, -0.01422985, -0.03539937,  0.07260827,  0.02574669,
        0.04005902,  0.07418971,  0.07363232,  0.07803864, -0.14899621,
       -0.03662503, -0.01071598, -0.06012196, -0.03310118,  0.05119661,
       -0.02190839,  0.01353142,  0.05129581,  0.00015569,  0.02663427]))
('data 2 :', array([ 43115.73,  41964.43,  39505.99,  40667.11,  39881.76,  40235.98,
        41726.66,  43750.81,  45590.27,  58902.76,  39334.2 ,  39053.79,
        36912.12,  43620.48,  44572.02,  41079.31,  42385.82,  46381.32,
        46196.86,  46349.39]))
('Key_aum: ', 103616)
      Quarter       Data      ID
43060  2013Q1   30121.07  103616
43061  2013Q2   28795.70  103616
43062  2013Q3   26879.08  103616
43063  2013Q4   28094.73  103616
43064  2014Q1   28960.11  103616
43065  2014Q2   30763.78  103616
43066  2014Q3   35472.63  103616
43067  2014Q4   39233.24  103616
43068  2015Q1   44562.53  103616
43069  2015Q2   58800.79  103616
43070  2015Q3   79766.85  103616
43071  2015Q4   72807.02  103616
43072  2016Q1   85635.85  103616
43073  2016Q2  114659.83  103616
43074  2016Q3  144216.51  103616
43075  2016Q4  149589.07  103616
43076  2017Q1  165800.47  103616
43077  2017Q2  181752.74  103616
43078  2017Q3  189933.22  103616
43079  2017Q4  194039.99  103616
('Key_nav : ', 103616)
('data 1 : ', array([-0.00571034, -0.00809897, -0.03962012,  0.0832012 ,  0.02845938,
        0.00911902,  0.14355555,  0.07691835,  0.08885437,  0.00585326,
       -0.09432737, -0.03484098, -0.04465104,  0.0758433 ,  0.08434688,
       -0.07219857,  0.03095273,  0.08044497,  0.04946143,  0.03329541]))
('data 2 :', array([  30121.07,   28795.7 ,   26879.08,   28094.73,   28960.11,
         30763.78,   35472.63,   39233.24,   44562.53,   58800.79,
         79766.85,   72807.02,   85635.85,  114659.83,  144216.51,
        149589.07,  165800.47,  181752.74,  189933.22,  194039.99]))
('mean : ', array([-0.00571034, -0.00809897, -0.03962012,  0.0832012 ,  0.02845938,
        0.00911902,  0.14355555,  0.07691835,  0.08885437,  0.00585326,
       -0.09432737, -0.03484098, -0.04465104,  0.0758433 ,  0.08434688,
       -0.07219857,  0.03095273,  0.08044497,  0.04946143,  0.03329541]))
('aum table :', <bound method DataFrame.head of       Quarter       Data      ID
43060  2013Q1   30121.07  103616
43061  2013Q2   28795.70  103616
43062  2013Q3   26879.08  103616
43063  2013Q4   28094.73  103616
43064  2014Q1   28960.11  103616
43065  2014Q2   30763.78  103616
43066  2014Q3   35472.63  103616
43067  2014Q4   39233.24  103616
43068  2015Q1   44562.53  103616
43069  2015Q2   58800.79  103616
43070  2015Q3   79766.85  103616
43071  2015Q4   72807.02  103616
43072  2016Q1   85635.85  103616
43073  2016Q2  114659.83  103616
43074  2016Q3  144216.51  103616
43075  2016Q4  149589.07  103616
43076  2017Q1  165800.47  103616
43077  2017Q2  181752.74  103616
43078  2017Q3  189933.22  103616
43079  2017Q4  194039.99  103616
44120  2013Q1   43115.73  101295
44121  2013Q2   41964.43  101295
44122  2013Q3   39505.99  101295
44123  2013Q4   40667.11  101295
44124  2014Q1   39881.76  101295
44125  2014Q2   40235.98  101295
44126  2014Q3   41726.66  101295
44127  2014Q4   43750.81  101295
44128  2015Q1   45590.27  101295
44129  2015Q2   58902.76  101295
44130  2015Q3   39334.20  101295
44131  2015Q4   39053.79  101295
44132  2016Q1   36912.12  101295
44133  2016Q2   43620.48  101295
44134  2016Q3   44572.02  101295
44135  2016Q4   41079.31  101295
44136  2017Q1   42385.82  101295
44137  2017Q2   46381.32  101295
44138  2017Q3   46196.86  101295
44139  2017Q4   46349.39  101295>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
340   2013Q1 -0.001819  101295
341   2013Q2 -0.014230  101295
342   2013Q3 -0.035399  101295
343   2013Q4  0.072608  101295
344   2014Q1  0.025747  101295
345   2014Q2  0.040059  101295
346   2014Q3  0.074190  101295
347   2014Q4  0.073632  101295
348   2015Q1  0.078039  101295
349   2015Q2 -0.148996  101295
350   2015Q3 -0.036625  101295
351   2015Q4 -0.010716  101295
352   2016Q1 -0.060122  101295
353   2016Q2 -0.033101  101295
354   2016Q3  0.051197  101295
355   2016Q4 -0.021908  101295
356   2017Q1  0.013531  101295
357   2017Q2  0.051296  101295
358   2017Q3  0.000156  101295
359   2017Q4  0.026634  101295
1220  2013Q1 -0.005710  103616
1221  2013Q2 -0.008099  103616
1222  2013Q3 -0.039620  103616
1223  2013Q4  0.083201  103616
1224  2014Q1  0.028459  103616
1225  2014Q2  0.009119  103616
1226  2014Q3  0.143556  103616
1227  2014Q4  0.076918  103616
1228  2015Q1  0.088854  103616
1229  2015Q2  0.005853  103616
1230  2015Q3 -0.094327  103616
1231  2015Q4 -0.034841  103616
1232  2016Q1 -0.044651  103616
1233  2016Q2  0.075843  103616
1234  2016Q3  0.084347  103616
1235  2016Q4 -0.072199  103616
1236  2017Q1  0.030953  103616
1237  2017Q2  0.080445  103616
1238  2017Q3  0.049461  103616
1239  2017Q4  0.033295  103616>)
('Key_aum: ', 101295)
      Quarter      Data      ID
44120  2013Q1  43115.73  101295
44121  2013Q2  41964.43  101295
44122  2013Q3  39505.99  101295
44123  2013Q4  40667.11  101295
44124  2014Q1  39881.76  101295
44125  2014Q2  40235.98  101295
44126  2014Q3  41726.66  101295
44127  2014Q4  43750.81  101295
44128  2015Q1  45590.27  101295
44129  2015Q2  58902.76  101295
44130  2015Q3  39334.20  101295
44131  2015Q4  39053.79  101295
44132  2016Q1  36912.12  101295
44133  2016Q2  43620.48  101295
44134  2016Q3  44572.02  101295
44135  2016Q4  41079.31  101295
44136  2017Q1  42385.82  101295
44137  2017Q2  46381.32  101295
44138  2017Q3  46196.86  101295
44139  2017Q4  46349.39  101295
('Key_nav : ', 101295)
('data 1 : ', array([-0.00181946, -0.01422985, -0.03539937,  0.07260827,  0.02574669,
        0.04005902,  0.07418971,  0.07363232,  0.07803864, -0.14899621,
       -0.03662503, -0.01071598, -0.06012196, -0.03310118,  0.05119661,
       -0.02190839,  0.01353142,  0.05129581,  0.00015569,  0.02663427]))
('data 2 :', array([ 43115.73,  41964.43,  39505.99,  40667.11,  39881.76,  40235.98,
        41726.66,  43750.81,  45590.27,  58902.76,  39334.2 ,  39053.79,
        36912.12,  43620.48,  44572.02,  41079.31,  42385.82,  46381.32,
        46196.86,  46349.39]))
('Key_aum: ', 103616)
      Quarter       Data      ID
43060  2013Q1   30121.07  103616
43061  2013Q2   28795.70  103616
43062  2013Q3   26879.08  103616
43063  2013Q4   28094.73  103616
43064  2014Q1   28960.11  103616
43065  2014Q2   30763.78  103616
43066  2014Q3   35472.63  103616
43067  2014Q4   39233.24  103616
43068  2015Q1   44562.53  103616
43069  2015Q2   58800.79  103616
43070  2015Q3   79766.85  103616
43071  2015Q4   72807.02  103616
43072  2016Q1   85635.85  103616
43073  2016Q2  114659.83  103616
43074  2016Q3  144216.51  103616
43075  2016Q4  149589.07  103616
43076  2017Q1  165800.47  103616
43077  2017Q2  181752.74  103616
43078  2017Q3  189933.22  103616
43079  2017Q4  194039.99  103616
('Key_nav : ', 103616)
('data 1 : ', array([-0.00571034, -0.00809897, -0.03962012,  0.0832012 ,  0.02845938,
        0.00911902,  0.14355555,  0.07691835,  0.08885437,  0.00585326,
       -0.09432737, -0.03484098, -0.04465104,  0.0758433 ,  0.08434688,
       -0.07219857,  0.03095273,  0.08044497,  0.04946143,  0.03329541]))
('data 2 :', array([  30121.07,   28795.7 ,   26879.08,   28094.73,   28960.11,
         30763.78,   35472.63,   39233.24,   44562.53,   58800.79,
         79766.85,   72807.02,   85635.85,  114659.83,  144216.51,
        149589.07,  165800.47,  181752.74,  189933.22,  194039.99]))
('mean : ', array([-0.00571034, -0.00809897, -0.03962012,  0.0832012 ,  0.02845938,
        0.00911902,  0.14355555,  0.07691835,  0.08885437,  0.00585326,
       -0.09432737, -0.03484098, -0.04465104,  0.0758433 ,  0.08434688,
       -0.07219857,  0.03095273,  0.08044497,  0.04946143,  0.03329541]))
('aum table :', <bound method DataFrame.head of       Quarter       Data      ID
43060  2013Q1   30121.07  103616
43061  2013Q2   28795.70  103616
43062  2013Q3   26879.08  103616
43063  2013Q4   28094.73  103616
43064  2014Q1   28960.11  103616
43065  2014Q2   30763.78  103616
43066  2014Q3   35472.63  103616
43067  2014Q4   39233.24  103616
43068  2015Q1   44562.53  103616
43069  2015Q2   58800.79  103616
43070  2015Q3   79766.85  103616
43071  2015Q4   72807.02  103616
43072  2016Q1   85635.85  103616
43073  2016Q2  114659.83  103616
43074  2016Q3  144216.51  103616
43075  2016Q4  149589.07  103616
43076  2017Q1  165800.47  103616
43077  2017Q2  181752.74  103616
43078  2017Q3  189933.22  103616
43079  2017Q4  194039.99  103616
44120  2013Q1   43115.73  101295
44121  2013Q2   41964.43  101295
44122  2013Q3   39505.99  101295
44123  2013Q4   40667.11  101295
44124  2014Q1   39881.76  101295
44125  2014Q2   40235.98  101295
44126  2014Q3   41726.66  101295
44127  2014Q4   43750.81  101295
44128  2015Q1   45590.27  101295
44129  2015Q2   58902.76  101295
44130  2015Q3   39334.20  101295
44131  2015Q4   39053.79  101295
44132  2016Q1   36912.12  101295
44133  2016Q2   43620.48  101295
44134  2016Q3   44572.02  101295
44135  2016Q4   41079.31  101295
44136  2017Q1   42385.82  101295
44137  2017Q2   46381.32  101295
44138  2017Q3   46196.86  101295
44139  2017Q4   46349.39  101295>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
340   2013Q1 -0.001819  101295
341   2013Q2 -0.014230  101295
342   2013Q3 -0.035399  101295
343   2013Q4  0.072608  101295
344   2014Q1  0.025747  101295
345   2014Q2  0.040059  101295
346   2014Q3  0.074190  101295
347   2014Q4  0.073632  101295
348   2015Q1  0.078039  101295
349   2015Q2 -0.148996  101295
350   2015Q3 -0.036625  101295
351   2015Q4 -0.010716  101295
352   2016Q1 -0.060122  101295
353   2016Q2 -0.033101  101295
354   2016Q3  0.051197  101295
355   2016Q4 -0.021908  101295
356   2017Q1  0.013531  101295
357   2017Q2  0.051296  101295
358   2017Q3  0.000156  101295
359   2017Q4  0.026634  101295
1220  2013Q1 -0.005710  103616
1221  2013Q2 -0.008099  103616
1222  2013Q3 -0.039620  103616
1223  2013Q4  0.083201  103616
1224  2014Q1  0.028459  103616
1225  2014Q2  0.009119  103616
1226  2014Q3  0.143556  103616
1227  2014Q4  0.076918  103616
1228  2015Q1  0.088854  103616
1229  2015Q2  0.005853  103616
1230  2015Q3 -0.094327  103616
1231  2015Q4 -0.034841  103616
1232  2016Q1 -0.044651  103616
1233  2016Q2  0.075843  103616
1234  2016Q3  0.084347  103616
1235  2016Q4 -0.072199  103616
1236  2017Q1  0.030953  103616
1237  2017Q2  0.080445  103616
1238  2017Q3  0.049461  103616
1239  2017Q4  0.033295  103616>)
('Key_aum: ', 101295)
      Quarter      Data      ID
44120  2013Q1  43115.73  101295
44121  2013Q2  41964.43  101295
44122  2013Q3  39505.99  101295
44123  2013Q4  40667.11  101295
44124  2014Q1  39881.76  101295
44125  2014Q2  40235.98  101295
44126  2014Q3  41726.66  101295
44127  2014Q4  43750.81  101295
44128  2015Q1  45590.27  101295
44129  2015Q2  58902.76  101295
44130  2015Q3  39334.20  101295
44131  2015Q4  39053.79  101295
44132  2016Q1  36912.12  101295
44133  2016Q2  43620.48  101295
44134  2016Q3  44572.02  101295
44135  2016Q4  41079.31  101295
44136  2017Q1  42385.82  101295
44137  2017Q2  46381.32  101295
44138  2017Q3  46196.86  101295
44139  2017Q4  46349.39  101295
('Key_nav : ', 101295)
('data 1 : ', array([-0.00181946, -0.01422985, -0.03539937,  0.07260827,  0.02574669,
        0.04005902,  0.07418971,  0.07363232,  0.07803864, -0.14899621,
       -0.03662503, -0.01071598, -0.06012196, -0.03310118,  0.05119661,
       -0.02190839,  0.01353142,  0.05129581,  0.00015569,  0.02663427]))
('data 2 :', array([ 43115.73,  41964.43,  39505.99,  40667.11,  39881.76,  40235.98,
        41726.66,  43750.81,  45590.27,  58902.76,  39334.2 ,  39053.79,
        36912.12,  43620.48,  44572.02,  41079.31,  42385.82,  46381.32,
        46196.86,  46349.39]))
('Key_aum: ', 103616)
      Quarter       Data      ID
43060  2013Q1   30121.07  103616
43061  2013Q2   28795.70  103616
43062  2013Q3   26879.08  103616
43063  2013Q4   28094.73  103616
43064  2014Q1   28960.11  103616
43065  2014Q2   30763.78  103616
43066  2014Q3   35472.63  103616
43067  2014Q4   39233.24  103616
43068  2015Q1   44562.53  103616
43069  2015Q2   58800.79  103616
43070  2015Q3   79766.85  103616
43071  2015Q4   72807.02  103616
43072  2016Q1   85635.85  103616
43073  2016Q2  114659.83  103616
43074  2016Q3  144216.51  103616
43075  2016Q4  149589.07  103616
43076  2017Q1  165800.47  103616
43077  2017Q2  181752.74  103616
43078  2017Q3  189933.22  103616
43079  2017Q4  194039.99  103616
('Key_nav : ', 103616)
('data 1 : ', array([-0.00571034, -0.00809897, -0.03962012,  0.0832012 ,  0.02845938,
        0.00911902,  0.14355555,  0.07691835,  0.08885437,  0.00585326,
       -0.09432737, -0.03484098, -0.04465104,  0.0758433 ,  0.08434688,
       -0.07219857,  0.03095273,  0.08044497,  0.04946143,  0.03329541]))
('data 2 :', array([  30121.07,   28795.7 ,   26879.08,   28094.73,   28960.11,
         30763.78,   35472.63,   39233.24,   44562.53,   58800.79,
         79766.85,   72807.02,   85635.85,  114659.83,  144216.51,
        149589.07,  165800.47,  181752.74,  189933.22,  194039.99]))
('mean : ', array([-0.00571034, -0.00809897, -0.03962012,  0.0832012 ,  0.02845938,
        0.00911902,  0.14355555,  0.07691835,  0.08885437,  0.00585326,
       -0.09432737, -0.03484098, -0.04465104,  0.0758433 ,  0.08434688,
       -0.07219857,  0.03095273,  0.08044497,  0.04946143,  0.03329541]))
('aum table :', <bound method DataFrame.head of       Quarter       Data      ID
43060  2013Q1   30121.07  103616
43061  2013Q2   28795.70  103616
43062  2013Q3   26879.08  103616
43063  2013Q4   28094.73  103616
43064  2014Q1   28960.11  103616
43065  2014Q2   30763.78  103616
43066  2014Q3   35472.63  103616
43067  2014Q4   39233.24  103616
43068  2015Q1   44562.53  103616
43069  2015Q2   58800.79  103616
43070  2015Q3   79766.85  103616
43071  2015Q4   72807.02  103616
43072  2016Q1   85635.85  103616
43073  2016Q2  114659.83  103616
43074  2016Q3  144216.51  103616
43075  2016Q4  149589.07  103616
43076  2017Q1  165800.47  103616
43077  2017Q2  181752.74  103616
43078  2017Q3  189933.22  103616
43079  2017Q4  194039.99  103616
44120  2013Q1   43115.73  101295
44121  2013Q2   41964.43  101295
44122  2013Q3   39505.99  101295
44123  2013Q4   40667.11  101295
44124  2014Q1   39881.76  101295
44125  2014Q2   40235.98  101295
44126  2014Q3   41726.66  101295
44127  2014Q4   43750.81  101295
44128  2015Q1   45590.27  101295
44129  2015Q2   58902.76  101295
44130  2015Q3   39334.20  101295
44131  2015Q4   39053.79  101295
44132  2016Q1   36912.12  101295
44133  2016Q2   43620.48  101295
44134  2016Q3   44572.02  101295
44135  2016Q4   41079.31  101295
44136  2017Q1   42385.82  101295
44137  2017Q2   46381.32  101295
44138  2017Q3   46196.86  101295
44139  2017Q4   46349.39  101295>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
340   2013Q1 -0.001819  101295
341   2013Q2 -0.014230  101295
342   2013Q3 -0.035399  101295
343   2013Q4  0.072608  101295
344   2014Q1  0.025747  101295
345   2014Q2  0.040059  101295
346   2014Q3  0.074190  101295
347   2014Q4  0.073632  101295
348   2015Q1  0.078039  101295
349   2015Q2 -0.148996  101295
350   2015Q3 -0.036625  101295
351   2015Q4 -0.010716  101295
352   2016Q1 -0.060122  101295
353   2016Q2 -0.033101  101295
354   2016Q3  0.051197  101295
355   2016Q4 -0.021908  101295
356   2017Q1  0.013531  101295
357   2017Q2  0.051296  101295
358   2017Q3  0.000156  101295
359   2017Q4  0.026634  101295
1220  2013Q1 -0.005710  103616
1221  2013Q2 -0.008099  103616
1222  2013Q3 -0.039620  103616
1223  2013Q4  0.083201  103616
1224  2014Q1  0.028459  103616
1225  2014Q2  0.009119  103616
1226  2014Q3  0.143556  103616
1227  2014Q4  0.076918  103616
1228  2015Q1  0.088854  103616
1229  2015Q2  0.005853  103616
1230  2015Q3 -0.094327  103616
1231  2015Q4 -0.034841  103616
1232  2016Q1 -0.044651  103616
1233  2016Q2  0.075843  103616
1234  2016Q3  0.084347  103616
1235  2016Q4 -0.072199  103616
1236  2017Q1  0.030953  103616
1237  2017Q2  0.080445  103616
1238  2017Q3  0.049461  103616
1239  2017Q4  0.033295  103616>)
('Key_aum: ', 101295)
      Quarter      Data      ID
44120  2013Q1  43115.73  101295
44121  2013Q2  41964.43  101295
44122  2013Q3  39505.99  101295
44123  2013Q4  40667.11  101295
44124  2014Q1  39881.76  101295
44125  2014Q2  40235.98  101295
44126  2014Q3  41726.66  101295
44127  2014Q4  43750.81  101295
44128  2015Q1  45590.27  101295
44129  2015Q2  58902.76  101295
44130  2015Q3  39334.20  101295
44131  2015Q4  39053.79  101295
44132  2016Q1  36912.12  101295
44133  2016Q2  43620.48  101295
44134  2016Q3  44572.02  101295
44135  2016Q4  41079.31  101295
44136  2017Q1  42385.82  101295
44137  2017Q2  46381.32  101295
44138  2017Q3  46196.86  101295
44139  2017Q4  46349.39  101295
('Key_nav : ', 101295)
('data 1 : ', array([-0.00181946, -0.01422985, -0.03539937,  0.07260827,  0.02574669,
        0.04005902,  0.07418971,  0.07363232,  0.07803864, -0.14899621,
       -0.03662503, -0.01071598, -0.06012196, -0.03310118,  0.05119661,
       -0.02190839,  0.01353142,  0.05129581,  0.00015569,  0.02663427]))
('data 2 :', array([ 43115.73,  41964.43,  39505.99,  40667.11,  39881.76,  40235.98,
        41726.66,  43750.81,  45590.27,  58902.76,  39334.2 ,  39053.79,
        36912.12,  43620.48,  44572.02,  41079.31,  42385.82,  46381.32,
        46196.86,  46349.39]))
('Key_aum: ', 103616)
      Quarter       Data      ID
43060  2013Q1   30121.07  103616
43061  2013Q2   28795.70  103616
43062  2013Q3   26879.08  103616
43063  2013Q4   28094.73  103616
43064  2014Q1   28960.11  103616
43065  2014Q2   30763.78  103616
43066  2014Q3   35472.63  103616
43067  2014Q4   39233.24  103616
43068  2015Q1   44562.53  103616
43069  2015Q2   58800.79  103616
43070  2015Q3   79766.85  103616
43071  2015Q4   72807.02  103616
43072  2016Q1   85635.85  103616
43073  2016Q2  114659.83  103616
43074  2016Q3  144216.51  103616
43075  2016Q4  149589.07  103616
43076  2017Q1  165800.47  103616
43077  2017Q2  181752.74  103616
43078  2017Q3  189933.22  103616
43079  2017Q4  194039.99  103616
('Key_nav : ', 103616)
('data 1 : ', array([-0.00571034, -0.00809897, -0.03962012,  0.0832012 ,  0.02845938,
        0.00911902,  0.14355555,  0.07691835,  0.08885437,  0.00585326,
       -0.09432737, -0.03484098, -0.04465104,  0.0758433 ,  0.08434688,
       -0.07219857,  0.03095273,  0.08044497,  0.04946143,  0.03329541]))
('data 2 :', array([  30121.07,   28795.7 ,   26879.08,   28094.73,   28960.11,
         30763.78,   35472.63,   39233.24,   44562.53,   58800.79,
         79766.85,   72807.02,   85635.85,  114659.83,  144216.51,
        149589.07,  165800.47,  181752.74,  189933.22,  194039.99]))
('mean : ', array([-0.00571034, -0.00809897, -0.03962012,  0.0832012 ,  0.02845938,
        0.00911902,  0.14355555,  0.07691835,  0.08885437,  0.00585326,
       -0.09432737, -0.03484098, -0.04465104,  0.0758433 ,  0.08434688,
       -0.07219857,  0.03095273,  0.08044497,  0.04946143,  0.03329541]))
('aum table :', <bound method DataFrame.head of       Quarter       Data      ID
43060  2013Q1   30121.07  103616
43061  2013Q2   28795.70  103616
43062  2013Q3   26879.08  103616

('Key_aum: ', 101295)
      Quarter      Data      ID
44120  2013Q1  43115.73  101295
44121  2013Q2  41964.43  101295
44122  2013Q3  39505.99  101295
44123  2013Q4  40667.11  101295
44124  2014Q1  39881.76  101295
44125  2014Q2  40235.98  101295
44126  2014Q3  41726.66  101295
44127  2014Q4  43750.81  101295
44128  2015Q1  45590.27  101295
44129  2015Q2  58902.76  101295
44130  2015Q3  39334.20  101295
44131  2015Q4  39053.79  101295
44132  2016Q1  36912.12  101295
44133  2016Q2  43620.48  101295
44134  2016Q3  44572.02  101295
44135  2016Q4  41079.31  101295
44136  2017Q1  42385.82  101295
44137  2017Q2  46381.32  101295
44138  2017Q3  46196.86  101295
44139  2017Q4  46349.39  101295
('Key_nav : ', 101295)
('data 1 : ', array([-0.00181946, -0.01422985, -0.03539937,  0.07260827,  0.02574669,
        0.04005902,  0.07418971,  0.07363232,  0.07803864, -0.14899621,
       -0.03662503, -0.01071598, -0.06012196, -0.03310118,  0.05119661,
       -0.02190839,  0.01353142,  0.05129581,  0.00015569,  0.02663427]))
('data 2 :', array([ 43115.73,  41964.43,  39505.99,  40667.11,  39881.76,  40235.98,
        41726.66,  43750.81,  45590.27,  58902.76,  39334.2 ,  39053.79,
        36912.12,  43620.48,  44572.02,  41079.31,  42385.82,  46381.32,
        46196.86,  46349.39]))
('Key_aum: ', 103616)
      Quarter       Data      ID
43060  2013Q1   30121.07  103616
43061  2013Q2   28795.70  103616
43062  2013Q3   26879.08  103616
43063  2013Q4   28094.73  103616
43064  2014Q1   28960.11  103616
43065  2014Q2   30763.78  103616
43066  2014Q3   35472.63  103616
43067  2014Q4   39233.24  103616
43068  2015Q1   44562.53  103616
43069  2015Q2   58800.79  103616
43070  2015Q3   79766.85  103616
43071  2015Q4   72807.02  103616
43072  2016Q1   85635.85  103616
43073  2016Q2  114659.83  103616
43074  2016Q3  144216.51  103616
43075  2016Q4  149589.07  103616
43076  2017Q1  165800.47  103616
43077  2017Q2  181752.74  103616
43078  2017Q3  189933.22  103616
43079  2017Q4  194039.99  103616
('Key_nav : ', 103616)
('data 1 : ', array([-0.00571034, -0.00809897, -0.03962012,  0.0832012 ,  0.02845938,
        0.00911902,  0.14355555,  0.07691835,  0.08885437,  0.00585326,
       -0.09432737, -0.03484098, -0.04465104,  0.0758433 ,  0.08434688,
       -0.07219857,  0.03095273,  0.08044497,  0.04946143,  0.03329541]))
('data 2 :', array([  30121.07,   28795.7 ,   26879.08,   28094.73,   28960.11,
         30763.78,   35472.63,   39233.24,   44562.53,   58800.79,
         79766.85,   72807.02,   85635.85,  114659.83,  144216.51,
        149589.07,  165800.47,  181752.74,  189933.22,  194039.99]))
('mean : ', array([-0.00571034, -0.00809897, -0.03962012,  0.0832012 ,  0.02845938,
        0.00911902,  0.14355555,  0.07691835,  0.08885437,  0.00585326,
       -0.09432737, -0.03484098, -0.04465104,  0.0758433 ,  0.08434688,
       -0.07219857,  0.03095273,  0.08044497,  0.04946143,  0.03329541]))
('aum table :', <bound method DataFrame.head of       Quarter       Data      ID
43060  2013Q1   30121.07  103616
43061  2013Q2   28795.70  103616
43062  2013Q3   26879.08  103616
43063  2013Q4   28094.73  103616
43064  2014Q1   28960.11  103616
43065  2014Q2   30763.78  103616
43066  2014Q3   35472.63  103616
43067  2014Q4   39233.24  103616
43068  2015Q1   44562.53  103616
43069  2015Q2   58800.79  103616
43070  2015Q3   79766.85  103616
43071  2015Q4   72807.02  103616
43072  2016Q1   85635.85  103616
43073  2016Q2  114659.83  103616
43074  2016Q3  144216.51  103616
43075  2016Q4  149589.07  103616
43076  2017Q1  165800.47  103616
43077  2017Q2  181752.74  103616
43078  2017Q3  189933.22  103616
43079  2017Q4  194039.99  103616
44120  2013Q1   43115.73  101295
44121  2013Q2   41964.43  101295
44122  2013Q3   39505.99  101295
44123  2013Q4   40667.11  101295
44124  2014Q1   39881.76  101295
44125  2014Q2   40235.98  101295
44126  2014Q3   41726.66  101295
44127  2014Q4   43750.81  101295
44128  2015Q1   45590.27  101295
44129  2015Q2   58902.76  101295
44130  2015Q3   39334.20  101295
44131  2015Q4   39053.79  101295
44132  2016Q1   36912.12  101295
44133  2016Q2   43620.48  101295
44134  2016Q3   44572.02  101295
44135  2016Q4   41079.31  101295
44136  2017Q1   42385.82  101295
44137  2017Q2   46381.32  101295
44138  2017Q3   46196.86  101295
44139  2017Q4   46349.39  101295>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
340   2013Q1 -0.001819  101295
341   2013Q2 -0.014230  101295
342   2013Q3 -0.035399  101295
343   2013Q4  0.072608  101295
344   2014Q1  0.025747  101295
345   2014Q2  0.040059  101295
346   2014Q3  0.074190  101295
347   2014Q4  0.073632  101295
348   2015Q1  0.078039  101295
349   2015Q2 -0.148996  101295
350   2015Q3 -0.036625  101295
351   2015Q4 -0.010716  101295
352   2016Q1 -0.060122  101295
353   2016Q2 -0.033101  101295
354   2016Q3  0.051197  101295
355   2016Q4 -0.021908  101295
356   2017Q1  0.013531  101295
357   2017Q2  0.051296  101295
358   2017Q3  0.000156  101295
359   2017Q4  0.026634  101295
1220  2013Q1 -0.005710  103616
1221  2013Q2 -0.008099  103616
1222  2013Q3 -0.039620  103616
1223  2013Q4  0.083201  103616
1224  2014Q1  0.028459  103616
1225  2014Q2  0.009119  103616
1226  2014Q3  0.143556  103616
1227  2014Q4  0.076918  103616
1228  2015Q1  0.088854  103616
1229  2015Q2  0.005853  103616
1230  2015Q3 -0.094327  103616
1231  2015Q4 -0.034841  103616
1232  2016Q1 -0.044651  103616
1233  2016Q2  0.075843  103616
1234  2016Q3  0.084347  103616
1235  2016Q4 -0.072199  103616
1236  2017Q1  0.030953  103616
1237  2017Q2  0.080445  103616
1238  2017Q3  0.049461  103616
1239  2017Q4  0.033295  103616>)
('Key_aum: ', 101295)
      Quarter      Data      ID
44120  2013Q1  43115.73  101295
44121  2013Q2  41964.43  101295
44122  2013Q3  39505.99  101295
44123  2013Q4  40667.11  101295
44124  2014Q1  39881.76  101295
44125  2014Q2  40235.98  101295
44126  2014Q3  41726.66  101295
44127  2014Q4  43750.81  101295
44128  2015Q1  45590.27  101295
44129  2015Q2  58902.76  101295
44130  2015Q3  39334.20  101295
44131  2015Q4  39053.79  101295
44132  2016Q1  36912.12  101295
44133  2016Q2  43620.48  101295
44134  2016Q3  44572.02  101295
44135  2016Q4  41079.31  101295
44136  2017Q1  42385.82  101295
44137  2017Q2  46381.32  101295
44138  2017Q3  46196.86  101295
44139  2017Q4  46349.39  101295
('Key_nav : ', 101295)
('data 1 : ', array([-0.00181946, -0.01422985, -0.03539937,  0.07260827,  0.02574669,
        0.04005902,  0.07418971,  0.07363232,  0.07803864, -0.14899621,
       -0.03662503, -0.01071598, -0.06012196, -0.03310118,  0.05119661,
       -0.02190839,  0.01353142,  0.05129581,  0.00015569,  0.02663427]))
('data 2 :', array([ 43115.73,  41964.43,  39505.99,  40667.11,  39881.76,  40235.98,
        41726.66,  43750.81,  45590.27,  58902.76,  39334.2 ,  39053.79,
        36912.12,  43620.48,  44572.02,  41079.31,  42385.82,  46381.32,
        46196.86,  46349.39]))
('Key_aum: ', 103616)
      Quarter       Data      ID
43060  2013Q1   30121.07  103616
43061  2013Q2   28795.70  103616
43062  2013Q3   26879.08  103616
43063  2013Q4   28094.73  103616
43064  2014Q1   28960.11  103616
43065  2014Q2   30763.78  103616
43066  2014Q3   35472.63  103616
43067  2014Q4   39233.24  103616
43068  2015Q1   44562.53  103616
43069  2015Q2   58800.79  103616
43070  2015Q3   79766.85  103616
43071  2015Q4   72807.02  103616
43072  2016Q1   85635.85  103616
43073  2016Q2  114659.83  103616
43074  2016Q3  144216.51  103616
43075  2016Q4  149589.07  103616
43076  2017Q1  165800.47  103616
43077  2017Q2  181752.74  103616
43078  2017Q3  189933.22  103616
43079  2017Q4  194039.99  103616
('Key_nav : ', 103616)
('data 1 : ', array([-0.00571034, -0.00809897, -0.03962012,  0.0832012 ,  0.02845938,
        0.00911902,  0.14355555,  0.07691835,  0.08885437,  0.00585326,
       -0.09432737, -0.03484098, -0.04465104,  0.0758433 ,  0.08434688,
       -0.07219857,  0.03095273,  0.08044497,  0.04946143,  0.03329541]))
('data 2 :', array([  30121.07,   28795.7 ,   26879.08,   28094.73,   28960.11,
         30763.78,   35472.63,   39233.24,   44562.53,   58800.79,
         79766.85,   72807.02,   85635.85,  114659.83,  144216.51,
        149589.07,  165800.47,  181752.74,  189933.22,  194039.99]))
('mean : ', array([-0.00571034, -0.00809897, -0.03962012,  0.0832012 ,  0.02845938,
        0.00911902,  0.14355555,  0.07691835,  0.08885437,  0.00585326,
       -0.09432737, -0.03484098, -0.04465104,  0.0758433 ,  0.08434688,
       -0.07219857,  0.03095273,  0.08044497,  0.04946143,  0.03329541]))
('aum table :', <bound method DataFrame.head of       Quarter       Data      ID
43060  2013Q1   30121.07  103616
43061  2013Q2   28795.70  103616
43062  2013Q3   26879.08  103616
43063  2013Q4   28094.73  103616
43064  2014Q1   28960.11  103616
43065  2014Q2   30763.78  103616
43066  2014Q3   35472.63  103616
43067  2014Q4   39233.24  103616
43068  2015Q1   44562.53  103616
43069  2015Q2   58800.79  103616
43070  2015Q3   79766.85  103616
43071  2015Q4   72807.02  103616
43072  2016Q1   85635.85  103616
43073  2016Q2  114659.83  103616
43074  2016Q3  144216.51  103616
43075  2016Q4  149589.07  103616
43076  2017Q1  165800.47  103616
43077  2017Q2  181752.74  103616
43078  2017Q3  189933.22  103616
43079  2017Q4  194039.99  103616
44120  2013Q1   43115.73  101295
44121  2013Q2   41964.43  101295
44122  2013Q3   39505.99  101295
44123  2013Q4   40667.11  101295
44124  2014Q1   39881.76  101295
44125  2014Q2   40235.98  101295
44126  2014Q3   41726.66  101295
44127  2014Q4   43750.81  101295
44128  2015Q1   45590.27  101295
44129  2015Q2   58902.76  101295
44130  2015Q3   39334.20  101295
44131  2015Q4   39053.79  101295
44132  2016Q1   36912.12  101295
44133  2016Q2   43620.48  101295
44134  2016Q3   44572.02  101295
44135  2016Q4   41079.31  101295
44136  2017Q1   42385.82  101295
44137  2017Q2   46381.32  101295
44138  2017Q3   46196.86  101295
44139  2017Q4   46349.39  101295>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
340   2013Q1 -0.001819  101295
341   2013Q2 -0.014230  101295
342   2013Q3 -0.035399  101295
343   2013Q4  0.072608  101295
344   2014Q1  0.025747  101295
345   2014Q2  0.040059  101295
346   2014Q3  0.074190  101295
347   2014Q4  0.073632  101295
348   2015Q1  0.078039  101295
349   2015Q2 -0.148996  101295
350   2015Q3 -0.036625  101295
351   2015Q4 -0.010716  101295
352   2016Q1 -0.060122  101295
353   2016Q2 -0.033101  101295
354   2016Q3  0.051197  101295
355   2016Q4 -0.021908  101295
356   2017Q1  0.013531  101295
357   2017Q2  0.051296  101295
358   2017Q3  0.000156  101295
359   2017Q4  0.026634  101295
1220  2013Q1 -0.005710  103616
1221  2013Q2 -0.008099  103616
1222  2013Q3 -0.039620  103616
1223  2013Q4  0.083201  103616
1224  2014Q1  0.028459  103616
1225  2014Q2  0.009119  103616
1226  2014Q3  0.143556  103616
1227  2014Q4  0.076918  103616
1228  2015Q1  0.088854  103616
1229  2015Q2  0.005853  103616
1230  2015Q3 -0.094327  103616
1231  2015Q4 -0.034841  103616
1232  2016Q1 -0.044651  103616
1233  2016Q2  0.075843  103616
1234  2016Q3  0.084347  103616
1235  2016Q4 -0.072199  103616
1236  2017Q1  0.030953  103616
1237  2017Q2  0.080445  103616
1238  2017Q3  0.049461  103616
1239  2017Q4  0.033295  103616>)
('Key_aum: ', 101295)
      Quarter      Data      ID
44120  2013Q1  43115.73  101295
44121  2013Q2  41964.43  101295
44122  2013Q3  39505.99  101295
44123  2013Q4  40667.11  101295
44124  2014Q1  39881.76  101295
44125  2014Q2  40235.98  101295
44126  2014Q3  41726.66  101295
44127  2014Q4  43750.81  101295
44128  2015Q1  45590.27  101295
44129  2015Q2  58902.76  101295
44130  2015Q3  39334.20  101295
44131  2015Q4  39053.79  101295
44132  2016Q1  36912.12  101295
44133  2016Q2  43620.48  101295
44134  2016Q3  44572.02  101295
44135  2016Q4  41079.31  101295
44136  2017Q1  42385.82  101295
44137  2017Q2  46381.32  101295
44138  2017Q3  46196.86  101295
44139  2017Q4  46349.39  101295
('Key_nav : ', 101295)
('data 1 : ', array([-0.00181946, -0.01422985, -0.03539937,  0.07260827,  0.02574669,
        0.04005902,  0.07418971,  0.07363232,  0.07803864, -0.14899621,
       -0.03662503, -0.01071598, -0.06012196, -0.03310118,  0.05119661,
       -0.02190839,  0.01353142,  0.05129581,  0.00015569,  0.02663427]))
('data 2 :', array([ 43115.73,  41964.43,  39505.99,  40667.11,  39881.76,  40235.98,
        41726.66,  43750.81,  45590.27,  58902.76,  39334.2 ,  39053.79,
        36912.12,  43620.48,  44572.02,  41079.31,  42385.82,  46381.32,
        46196.86,  46349.39]))
('Key_aum: ', 103616)
      Quarter       Data      ID
43060  2013Q1   30121.07  103616
43061  2013Q2   28795.70  103616
43062  2013Q3   26879.08  103616
43063  2013Q4   28094.73  103616
43064  2014Q1   28960.11  103616
43065  2014Q2   30763.78  103616
43066  2014Q3   35472.63  103616
43067  2014Q4   39233.24  103616
43068  2015Q1   44562.53  103616
43069  2015Q2   58800.79  103616
43070  2015Q3   79766.85  103616
43071  2015Q4   72807.02  103616
43072  2016Q1   85635.85  103616
43073  2016Q2  114659.83  103616
43074  2016Q3  144216.51  103616
43075  2016Q4  149589.07  103616
43076  2017Q1  165800.47  103616
43077  2017Q2  181752.74  103616
43078  2017Q3  189933.22  103616
43079  2017Q4  194039.99  103616
('Key_nav : ', 103616)
('data 1 : ', array([-0.00571034, -0.00809897, -0.03962012,  0.0832012 ,  0.02845938,
        0.00911902,  0.14355555,  0.07691835,  0.08885437,  0.00585326,
       -0.09432737, -0.03484098, -0.04465104,  0.0758433 ,  0.08434688,
       -0.07219857,  0.03095273,  0.08044497,  0.04946143,  0.03329541]))
('data 2 :', array([  30121.07,   28795.7 ,   26879.08,   28094.73,   28960.11,
         30763.78,   35472.63,   39233.24,   44562.53,   58800.79,
         79766.85,   72807.02,   85635.85,  114659.83,  144216.51,
        149589.07,  165800.47,  181752.74,  189933.22,  194039.99]))
('mean : ', array([-0.00571034, -0.00809897, -0.03962012,  0.0832012 ,  0.02845938,
        0.00911902,  0.14355555,  0.07691835,  0.08885437,  0.00585326,
       -0.09432737, -0.03484098, -0.04465104,  0.0758433 ,  0.08434688,
       -0.07219857,  0.03095273,  0.08044497,  0.04946143,  0.03329541]))
('aum table :', <bound method DataFrame.head of       Quarter       Data      ID
43060  2013Q1   30121.07  103616
43061  2013Q2   28795.70  103616
43062  2013Q3   26879.08  103616
43063  2013Q4   28094.73  103616
43064  2014Q1   28960.11  103616
43065  2014Q2   30763.78  103616
43066  2014Q3   35472.63  103616
43067  2014Q4   39233.24  103616
43068  2015Q1   44562.53  103616
43069  2015Q2   58800.79  103616
43070  2015Q3   79766.85  103616
43071  2015Q4   72807.02  103616
43072  2016Q1   85635.85  103616
43073  2016Q2  114659.83  103616
43074  2016Q3  144216.51  103616
43075  2016Q4  149589.07  103616
43076  2017Q1  165800.47  103616
43077  2017Q2  181752.74  103616
43078  2017Q3  189933.22  103616
43079  2017Q4  194039.99  103616
44120  2013Q1   43115.73  101295
44121  2013Q2   41964.43  101295
44122  2013Q3   39505.99  101295
44123  2013Q4   40667.11  101295
44124  2014Q1   39881.76  101295
44125  2014Q2   40235.98  101295
44126  2014Q3   41726.66  101295
44127  2014Q4   43750.81  101295
44128  2015Q1   45590.27  101295
44129  2015Q2   58902.76  101295
44130  2015Q3   39334.20  101295
44131  2015Q4   39053.79  101295
44132  2016Q1   36912.12  101295
44133  2016Q2   43620.48  101295
44134  2016Q3   44572.02  101295
44135  2016Q4   41079.31  101295
44136  2017Q1   42385.82  101295
44137  2017Q2   46381.32  101295
44138  2017Q3   46196.86  101295
44139  2017Q4   46349.39  101295>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
340   2013Q1 -0.001819  101295
341   2013Q2 -0.014230  101295
342   2013Q3 -0.035399  101295
343   2013Q4  0.072608  101295
344   2014Q1  0.025747  101295
345   2014Q2  0.040059  101295
346   2014Q3  0.074190  101295
347   2014Q4  0.073632  101295
348   2015Q1  0.078039  101295
349   2015Q2 -0.148996  101295
350   2015Q3 -0.036625  101295
351   2015Q4 -0.010716  101295
352   2016Q1 -0.060122  101295
353   2016Q2 -0.033101  101295
354   2016Q3  0.051197  101295
355   2016Q4 -0.021908  101295
356   2017Q1  0.013531  101295
357   2017Q2  0.051296  101295
358   2017Q3  0.000156  101295
359   2017Q4  0.026634  101295
1220  2013Q1 -0.005710  103616
1221  2013Q2 -0.008099  103616
1222  2013Q3 -0.039620  103616
1223  2013Q4  0.083201  103616
1224  2014Q1  0.028459  103616
1225  2014Q2  0.009119  103616
1226  2014Q3  0.143556  103616
1227  2014Q4  0.076918  103616
1228  2015Q1  0.088854  103616
1229  2015Q2  0.005853  103616
1230  2015Q3 -0.094327  103616
1231  2015Q4 -0.034841  103616
1232  2016Q1 -0.044651  103616
1233  2016Q2  0.075843  103616
1234  2016Q3  0.084347  103616
1235  2016Q4 -0.072199  103616
1236  2017Q1  0.030953  103616
1237  2017Q2  0.080445  103616
1238  2017Q3  0.049461  103616
1239  2017Q4  0.033295  103616>)
('Key_aum: ', 101295)
      Quarter      Data      ID
44120  2013Q1  43115.73  101295
44121  2013Q2  41964.43  101295
44122  2013Q3  39505.99  101295
44123  2013Q4  40667.11  101295
44124  2014Q1  39881.76  101295
44125  2014Q2  40235.98  101295
44126  2014Q3  41726.66  101295
44127  2014Q4  43750.81  101295
44128  2015Q1  45590.27  101295
44129  2015Q2  58902.76  101295
44130  2015Q3  39334.20  101295
44131  2015Q4  39053.79  101295
44132  2016Q1  36912.12  101295
44133  2016Q2  43620.48  101295
44134  2016Q3  44572.02  101295
44135  2016Q4  41079.31  101295
44136  2017Q1  42385.82  101295
44137  2017Q2  46381.32  101295
44138  2017Q3  46196.86  101295
44139  2017Q4  46349.39  101295
('Key_nav : ', 101295)
('data 1 : ', array([-0.00181946, -0.01422985, -0.03539937,  0.07260827,  0.02574669,
        0.04005902,  0.07418971,  0.07363232,  0.07803864, -0.14899621,
       -0.03662503, -0.01071598, -0.06012196, -0.03310118,  0.05119661,
       -0.02190839,  0.01353142,  0.05129581,  0.00015569,  0.02663427]))
('data 2 :', array([ 43115.73,  41964.43,  39505.99,  40667.11,  39881.76,  40235.98,
        41726.66,  43750.81,  45590.27,  58902.76,  39334.2 ,  39053.79,
        36912.12,  43620.48,  44572.02,  41079.31,  42385.82,  46381.32,
        46196.86,  46349.39]))
('Key_aum: ', 103616)
      Quarter       Data      ID
43060  2013Q1   30121.07  103616
43061  2013Q2   28795.70  103616
43062  2013Q3   26879.08  103616
43063  2013Q4   28094.73  103616
43064  2014Q1   28960.11  103616
43065  2014Q2   30763.78  103616
43066  2014Q3   35472.63  103616
43067  2014Q4   39233.24  103616
43068  2015Q1   44562.53  103616
43069  2015Q2   58800.79  103616
43070  2015Q3   79766.85  103616
43071  2015Q4   72807.02  103616
43072  2016Q1   85635.85  103616
43073  2016Q2  114659.83  103616
43074  2016Q3  144216.51  103616
43075  2016Q4  149589.07  103616
43076  2017Q1  165800.47  103616
43077  2017Q2  181752.74  103616
43078  2017Q3  189933.22  103616
43079  2017Q4  194039.99  103616
('Key_nav : ', 103616)
('data 1 : ', array([-0.00571034, -0.00809897, -0.03962012,  0.0832012 ,  0.02845938,
        0.00911902,  0.14355555,  0.07691835,  0.08885437,  0.00585326,
       -0.09432737, -0.03484098, -0.04465104,  0.0758433 ,  0.08434688,
       -0.07219857,  0.03095273,  0.08044497,  0.04946143,  0.03329541]))
('data 2 :', array([  30121.07,   28795.7 ,   26879.08,   28094.73,   28960.11,
         30763.78,   35472.63,   39233.24,   44562.53,   58800.79,
         79766.85,   72807.02,   85635.85,  114659.83,  144216.51,
        149589.07,  165800.47,  181752.74,  189933.22,  194039.99]))
('mean : ', array([-0.00571034, -0.00809897, -0.03962012,  0.0832012 ,  0.02845938,
        0.00911902,  0.14355555,  0.07691835,  0.08885437,  0.00585326,
       -0.09432737, -0.03484098, -0.04465104,  0.0758433 ,  0.08434688,
       -0.07219857,  0.03095273,  0.08044497,  0.04946143,  0.03329541]))
('aum table :', <bound method DataFrame.head of       Quarter       Data      ID
43060  2013Q1   30121.07  103616
43061  2013Q2   28795.70  103616
43062  2013Q3   26879.08  103616

('Key_nav : ', 101295)
('data 1 : ', array([-0.00181946, -0.01422985, -0.03539937,  0.07260827,  0.02574669,
        0.04005902,  0.07418971,  0.07363232,  0.07803864, -0.14899621,
       -0.03662503, -0.01071598, -0.06012196, -0.03310118,  0.05119661,
       -0.02190839,  0.01353142,  0.05129581,  0.00015569,  0.02663427]))
('data 2 :', array([ 43115.73,  41964.43,  39505.99,  40667.11,  39881.76,  40235.98,
        41726.66,  43750.81,  45590.27,  58902.76,  39334.2 ,  39053.79,
        36912.12,  43620.48,  44572.02,  41079.31,  42385.82,  46381.32,
        46196.86,  46349.39]))
('Key_aum: ', 103616)
      Quarter       Data      ID
43060  2013Q1   30121.07  103616
43061  2013Q2   28795.70  103616
43062  2013Q3   26879.08  103616
43063  2013Q4   28094.73  103616
43064  2014Q1   28960.11  103616
43065  2014Q2   30763.78  103616
43066  2014Q3   35472.63  103616
43067  2014Q4   39233.24  103616
43068  2015Q1   44562.53  103616
43069  2015Q2   58800.79  103616
43070  2015Q3   79766.85  103616
43071  2015Q4   72807.02  103616
43072  2016Q1   85635.85  103616
43073  2016Q2  114659.83  103616
43074  2016Q3  144216.51  103616
43075  2016Q4  149589.07  103616
43076  2017Q1  165800.47  103616
43077  2017Q2  181752.74  103616
43078  2017Q3  189933.22  103616
43079  2017Q4  194039.99  103616
('Key_nav : ', 103616)
('data 1 : ', array([-0.00571034, -0.00809897, -0.03962012,  0.0832012 ,  0.02845938,
        0.00911902,  0.14355555,  0.07691835,  0.08885437,  0.00585326,
       -0.09432737, -0.03484098, -0.04465104,  0.0758433 ,  0.08434688,
       -0.07219857,  0.03095273,  0.08044497,  0.04946143,  0.03329541]))
('data 2 :', array([  30121.07,   28795.7 ,   26879.08,   28094.73,   28960.11,
         30763.78,   35472.63,   39233.24,   44562.53,   58800.79,
         79766.85,   72807.02,   85635.85,  114659.83,  144216.51,
        149589.07,  165800.47,  181752.74,  189933.22,  194039.99]))
('mean : ', array([-0.00571034, -0.00809897, -0.03962012,  0.0832012 ,  0.02845938,
        0.00911902,  0.14355555,  0.07691835,  0.08885437,  0.00585326,
       -0.09432737, -0.03484098, -0.04465104,  0.0758433 ,  0.08434688,
       -0.07219857,  0.03095273,  0.08044497,  0.04946143,  0.03329541]))
('aum table :', <bound method DataFrame.head of       Quarter       Data      ID
43060  2013Q1   30121.07  103616
43061  2013Q2   28795.70  103616
43062  2013Q3   26879.08  103616
43063  2013Q4   28094.73  103616
43064  2014Q1   28960.11  103616
43065  2014Q2   30763.78  103616
43066  2014Q3   35472.63  103616
43067  2014Q4   39233.24  103616
43068  2015Q1   44562.53  103616
43069  2015Q2   58800.79  103616
43070  2015Q3   79766.85  103616
43071  2015Q4   72807.02  103616
43072  2016Q1   85635.85  103616
43073  2016Q2  114659.83  103616
43074  2016Q3  144216.51  103616
43075  2016Q4  149589.07  103616
43076  2017Q1  165800.47  103616
43077  2017Q2  181752.74  103616
43078  2017Q3  189933.22  103616
43079  2017Q4  194039.99  103616
44120  2013Q1   43115.73  101295
44121  2013Q2   41964.43  101295
44122  2013Q3   39505.99  101295
44123  2013Q4   40667.11  101295
44124  2014Q1   39881.76  101295
44125  2014Q2   40235.98  101295
44126  2014Q3   41726.66  101295
44127  2014Q4   43750.81  101295
44128  2015Q1   45590.27  101295
44129  2015Q2   58902.76  101295
44130  2015Q3   39334.20  101295
44131  2015Q4   39053.79  101295
44132  2016Q1   36912.12  101295
44133  2016Q2   43620.48  101295
44134  2016Q3   44572.02  101295
44135  2016Q4   41079.31  101295
44136  2017Q1   42385.82  101295
44137  2017Q2   46381.32  101295
44138  2017Q3   46196.86  101295
44139  2017Q4   46349.39  101295>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
340   2013Q1 -0.001819  101295
341   2013Q2 -0.014230  101295
342   2013Q3 -0.035399  101295
343   2013Q4  0.072608  101295
344   2014Q1  0.025747  101295
345   2014Q2  0.040059  101295
346   2014Q3  0.074190  101295
347   2014Q4  0.073632  101295
348   2015Q1  0.078039  101295
349   2015Q2 -0.148996  101295
350   2015Q3 -0.036625  101295
351   2015Q4 -0.010716  101295
352   2016Q1 -0.060122  101295
353   2016Q2 -0.033101  101295
354   2016Q3  0.051197  101295
355   2016Q4 -0.021908  101295
356   2017Q1  0.013531  101295
357   2017Q2  0.051296  101295
358   2017Q3  0.000156  101295
359   2017Q4  0.026634  101295
1220  2013Q1 -0.005710  103616
1221  2013Q2 -0.008099  103616
1222  2013Q3 -0.039620  103616
1223  2013Q4  0.083201  103616
1224  2014Q1  0.028459  103616
1225  2014Q2  0.009119  103616
1226  2014Q3  0.143556  103616
1227  2014Q4  0.076918  103616
1228  2015Q1  0.088854  103616
1229  2015Q2  0.005853  103616
1230  2015Q3 -0.094327  103616
1231  2015Q4 -0.034841  103616
1232  2016Q1 -0.044651  103616
1233  2016Q2  0.075843  103616
1234  2016Q3  0.084347  103616
1235  2016Q4 -0.072199  103616
1236  2017Q1  0.030953  103616
1237  2017Q2  0.080445  103616
1238  2017Q3  0.049461  103616
1239  2017Q4  0.033295  103616>)
('Key_aum: ', 101295)
      Quarter      Data      ID
44120  2013Q1  43115.73  101295
44121  2013Q2  41964.43  101295
44122  2013Q3  39505.99  101295
44123  2013Q4  40667.11  101295
44124  2014Q1  39881.76  101295
44125  2014Q2  40235.98  101295
44126  2014Q3  41726.66  101295
44127  2014Q4  43750.81  101295
44128  2015Q1  45590.27  101295
44129  2015Q2  58902.76  101295
44130  2015Q3  39334.20  101295
44131  2015Q4  39053.79  101295
44132  2016Q1  36912.12  101295
44133  2016Q2  43620.48  101295
44134  2016Q3  44572.02  101295
44135  2016Q4  41079.31  101295
44136  2017Q1  42385.82  101295
44137  2017Q2  46381.32  101295
44138  2017Q3  46196.86  101295
44139  2017Q4  46349.39  101295
('Key_nav : ', 101295)
('data 1 : ', array([-0.00181946, -0.01422985, -0.03539937,  0.07260827,  0.02574669,
        0.04005902,  0.07418971,  0.07363232,  0.07803864, -0.14899621,
       -0.03662503, -0.01071598, -0.06012196, -0.03310118,  0.05119661,
       -0.02190839,  0.01353142,  0.05129581,  0.00015569,  0.02663427]))
('data 2 :', array([ 43115.73,  41964.43,  39505.99,  40667.11,  39881.76,  40235.98,
        41726.66,  43750.81,  45590.27,  58902.76,  39334.2 ,  39053.79,
        36912.12,  43620.48,  44572.02,  41079.31,  42385.82,  46381.32,
        46196.86,  46349.39]))
('Key_aum: ', 103616)
      Quarter       Data      ID
43060  2013Q1   30121.07  103616
43061  2013Q2   28795.70  103616
43062  2013Q3   26879.08  103616
43063  2013Q4   28094.73  103616
43064  2014Q1   28960.11  103616
43065  2014Q2   30763.78  103616
43066  2014Q3   35472.63  103616
43067  2014Q4   39233.24  103616
43068  2015Q1   44562.53  103616
43069  2015Q2   58800.79  103616
43070  2015Q3   79766.85  103616
43071  2015Q4   72807.02  103616
43072  2016Q1   85635.85  103616
43073  2016Q2  114659.83  103616
43074  2016Q3  144216.51  103616
43075  2016Q4  149589.07  103616
43076  2017Q1  165800.47  103616
43077  2017Q2  181752.74  103616
43078  2017Q3  189933.22  103616
43079  2017Q4  194039.99  103616
('Key_nav : ', 103616)
('data 1 : ', array([-0.00571034, -0.00809897, -0.03962012,  0.0832012 ,  0.02845938,
        0.00911902,  0.14355555,  0.07691835,  0.08885437,  0.00585326,
       -0.09432737, -0.03484098, -0.04465104,  0.0758433 ,  0.08434688,
       -0.07219857,  0.03095273,  0.08044497,  0.04946143,  0.03329541]))
('data 2 :', array([  30121.07,   28795.7 ,   26879.08,   28094.73,   28960.11,
         30763.78,   35472.63,   39233.24,   44562.53,   58800.79,
         79766.85,   72807.02,   85635.85,  114659.83,  144216.51,
        149589.07,  165800.47,  181752.74,  189933.22,  194039.99]))
('mean : ', array([-0.00571034, -0.00809897, -0.03962012,  0.0832012 ,  0.02845938,
        0.00911902,  0.14355555,  0.07691835,  0.08885437,  0.00585326,
       -0.09432737, -0.03484098, -0.04465104,  0.0758433 ,  0.08434688,
       -0.07219857,  0.03095273,  0.08044497,  0.04946143,  0.03329541]))
('aum table :', <bound method DataFrame.head of       Quarter       Data      ID
43060  2013Q1   30121.07  103616
43061  2013Q2   28795.70  103616
43062  2013Q3   26879.08  103616
43063  2013Q4   28094.73  103616
43064  2014Q1   28960.11  103616
43065  2014Q2   30763.78  103616
43066  2014Q3   35472.63  103616
43067  2014Q4   39233.24  103616
43068  2015Q1   44562.53  103616
43069  2015Q2   58800.79  103616
43070  2015Q3   79766.85  103616
43071  2015Q4   72807.02  103616
43072  2016Q1   85635.85  103616
43073  2016Q2  114659.83  103616
43074  2016Q3  144216.51  103616
43075  2016Q4  149589.07  103616
43076  2017Q1  165800.47  103616
43077  2017Q2  181752.74  103616
43078  2017Q3  189933.22  103616
43079  2017Q4  194039.99  103616
44120  2013Q1   43115.73  101295
44121  2013Q2   41964.43  101295
44122  2013Q3   39505.99  101295
44123  2013Q4   40667.11  101295
44124  2014Q1   39881.76  101295
44125  2014Q2   40235.98  101295
44126  2014Q3   41726.66  101295
44127  2014Q4   43750.81  101295
44128  2015Q1   45590.27  101295
44129  2015Q2   58902.76  101295
44130  2015Q3   39334.20  101295
44131  2015Q4   39053.79  101295
44132  2016Q1   36912.12  101295
44133  2016Q2   43620.48  101295
44134  2016Q3   44572.02  101295
44135  2016Q4   41079.31  101295
44136  2017Q1   42385.82  101295
44137  2017Q2   46381.32  101295
44138  2017Q3   46196.86  101295
44139  2017Q4   46349.39  101295>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
340   2013Q1 -0.001819  101295
341   2013Q2 -0.014230  101295
342   2013Q3 -0.035399  101295
343   2013Q4  0.072608  101295
344   2014Q1  0.025747  101295
345   2014Q2  0.040059  101295
346   2014Q3  0.074190  101295
347   2014Q4  0.073632  101295
348   2015Q1  0.078039  101295
349   2015Q2 -0.148996  101295
350   2015Q3 -0.036625  101295
351   2015Q4 -0.010716  101295
352   2016Q1 -0.060122  101295
353   2016Q2 -0.033101  101295
354   2016Q3  0.051197  101295
355   2016Q4 -0.021908  101295
356   2017Q1  0.013531  101295
357   2017Q2  0.051296  101295
358   2017Q3  0.000156  101295
359   2017Q4  0.026634  101295
1220  2013Q1 -0.005710  103616
1221  2013Q2 -0.008099  103616
1222  2013Q3 -0.039620  103616
1223  2013Q4  0.083201  103616
1224  2014Q1  0.028459  103616
1225  2014Q2  0.009119  103616
1226  2014Q3  0.143556  103616
1227  2014Q4  0.076918  103616
1228  2015Q1  0.088854  103616
1229  2015Q2  0.005853  103616
1230  2015Q3 -0.094327  103616
1231  2015Q4 -0.034841  103616
1232  2016Q1 -0.044651  103616
1233  2016Q2  0.075843  103616
1234  2016Q3  0.084347  103616
1235  2016Q4 -0.072199  103616
1236  2017Q1  0.030953  103616
1237  2017Q2  0.080445  103616
1238  2017Q3  0.049461  103616
1239  2017Q4  0.033295  103616>)
('Key_aum: ', 101295)
      Quarter      Data      ID
44120  2013Q1  43115.73  101295
44121  2013Q2  41964.43  101295
44122  2013Q3  39505.99  101295
44123  2013Q4  40667.11  101295
44124  2014Q1  39881.76  101295
44125  2014Q2  40235.98  101295
44126  2014Q3  41726.66  101295
44127  2014Q4  43750.81  101295
44128  2015Q1  45590.27  101295
44129  2015Q2  58902.76  101295
44130  2015Q3  39334.20  101295
44131  2015Q4  39053.79  101295
44132  2016Q1  36912.12  101295
44133  2016Q2  43620.48  101295
44134  2016Q3  44572.02  101295
44135  2016Q4  41079.31  101295
44136  2017Q1  42385.82  101295
44137  2017Q2  46381.32  101295
44138  2017Q3  46196.86  101295
44139  2017Q4  46349.39  101295
('Key_nav : ', 101295)
('data 1 : ', array([-0.00181946, -0.01422985, -0.03539937,  0.07260827,  0.02574669,
        0.04005902,  0.07418971,  0.07363232,  0.07803864, -0.14899621,
       -0.03662503, -0.01071598, -0.06012196, -0.03310118,  0.05119661,
       -0.02190839,  0.01353142,  0.05129581,  0.00015569,  0.02663427]))
('data 2 :', array([ 43115.73,  41964.43,  39505.99,  40667.11,  39881.76,  40235.98,
        41726.66,  43750.81,  45590.27,  58902.76,  39334.2 ,  39053.79,
        36912.12,  43620.48,  44572.02,  41079.31,  42385.82,  46381.32,
        46196.86,  46349.39]))
('Key_aum: ', 103616)
      Quarter       Data      ID
43060  2013Q1   30121.07  103616
43061  2013Q2   28795.70  103616
43062  2013Q3   26879.08  103616
43063  2013Q4   28094.73  103616
43064  2014Q1   28960.11  103616
43065  2014Q2   30763.78  103616
43066  2014Q3   35472.63  103616
43067  2014Q4   39233.24  103616
43068  2015Q1   44562.53  103616
43069  2015Q2   58800.79  103616
43070  2015Q3   79766.85  103616
43071  2015Q4   72807.02  103616
43072  2016Q1   85635.85  103616
43073  2016Q2  114659.83  103616
43074  2016Q3  144216.51  103616
43075  2016Q4  149589.07  103616
43076  2017Q1  165800.47  103616
43077  2017Q2  181752.74  103616
43078  2017Q3  189933.22  103616
43079  2017Q4  194039.99  103616
('Key_nav : ', 103616)
('data 1 : ', array([-0.00571034, -0.00809897, -0.03962012,  0.0832012 ,  0.02845938,
        0.00911902,  0.14355555,  0.07691835,  0.08885437,  0.00585326,
       -0.09432737, -0.03484098, -0.04465104,  0.0758433 ,  0.08434688,
       -0.07219857,  0.03095273,  0.08044497,  0.04946143,  0.03329541]))
('data 2 :', array([  30121.07,   28795.7 ,   26879.08,   28094.73,   28960.11,
         30763.78,   35472.63,   39233.24,   44562.53,   58800.79,
         79766.85,   72807.02,   85635.85,  114659.83,  144216.51,
        149589.07,  165800.47,  181752.74,  189933.22,  194039.99]))
('mean : ', array([-0.00571034, -0.00809897, -0.03962012,  0.0832012 ,  0.02845938,
        0.00911902,  0.14355555,  0.07691835,  0.08885437,  0.00585326,
       -0.09432737, -0.03484098, -0.04465104,  0.0758433 ,  0.08434688,
       -0.07219857,  0.03095273,  0.08044497,  0.04946143,  0.03329541]))
('aum table :', <bound method DataFrame.head of       Quarter       Data      ID
43060  2013Q1   30121.07  103616
43061  2013Q2   28795.70  103616
43062  2013Q3   26879.08  103616
43063  2013Q4   28094.73  103616
43064  2014Q1   28960.11  103616
43065  2014Q2   30763.78  103616
43066  2014Q3   35472.63  103616
43067  2014Q4   39233.24  103616
43068  2015Q1   44562.53  103616
43069  2015Q2   58800.79  103616
43070  2015Q3   79766.85  103616
43071  2015Q4   72807.02  103616
43072  2016Q1   85635.85  103616
43073  2016Q2  114659.83  103616
43074  2016Q3  144216.51  103616
43075  2016Q4  149589.07  103616
43076  2017Q1  165800.47  103616
43077  2017Q2  181752.74  103616
43078  2017Q3  189933.22  103616
43079  2017Q4  194039.99  103616
44120  2013Q1   43115.73  101295
44121  2013Q2   41964.43  101295
44122  2013Q3   39505.99  101295
44123  2013Q4   40667.11  101295
44124  2014Q1   39881.76  101295
44125  2014Q2   40235.98  101295
44126  2014Q3   41726.66  101295
44127  2014Q4   43750.81  101295
44128  2015Q1   45590.27  101295
44129  2015Q2   58902.76  101295
44130  2015Q3   39334.20  101295
44131  2015Q4   39053.79  101295
44132  2016Q1   36912.12  101295
44133  2016Q2   43620.48  101295
44134  2016Q3   44572.02  101295
44135  2016Q4   41079.31  101295
44136  2017Q1   42385.82  101295
44137  2017Q2   46381.32  101295
44138  2017Q3   46196.86  101295
44139  2017Q4   46349.39  101295>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
340   2013Q1 -0.001819  101295
341   2013Q2 -0.014230  101295
342   2013Q3 -0.035399  101295
343   2013Q4  0.072608  101295
344   2014Q1  0.025747  101295
345   2014Q2  0.040059  101295
346   2014Q3  0.074190  101295
347   2014Q4  0.073632  101295
348   2015Q1  0.078039  101295
349   2015Q2 -0.148996  101295
350   2015Q3 -0.036625  101295
351   2015Q4 -0.010716  101295
352   2016Q1 -0.060122  101295
353   2016Q2 -0.033101  101295
354   2016Q3  0.051197  101295
355   2016Q4 -0.021908  101295
356   2017Q1  0.013531  101295
357   2017Q2  0.051296  101295
358   2017Q3  0.000156  101295
359   2017Q4  0.026634  101295
1220  2013Q1 -0.005710  103616
1221  2013Q2 -0.008099  103616
1222  2013Q3 -0.039620  103616
1223  2013Q4  0.083201  103616
1224  2014Q1  0.028459  103616
1225  2014Q2  0.009119  103616
1226  2014Q3  0.143556  103616
1227  2014Q4  0.076918  103616
1228  2015Q1  0.088854  103616
1229  2015Q2  0.005853  103616
1230  2015Q3 -0.094327  103616
1231  2015Q4 -0.034841  103616
1232  2016Q1 -0.044651  103616
1233  2016Q2  0.075843  103616
1234  2016Q3  0.084347  103616
1235  2016Q4 -0.072199  103616
1236  2017Q1  0.030953  103616
1237  2017Q2  0.080445  103616
1238  2017Q3  0.049461  103616
1239  2017Q4  0.033295  103616>)
('Key_aum: ', 101295)
      Quarter      Data      ID
44120  2013Q1  43115.73  101295
44121  2013Q2  41964.43  101295
44122  2013Q3  39505.99  101295
44123  2013Q4  40667.11  101295
44124  2014Q1  39881.76  101295
44125  2014Q2  40235.98  101295
44126  2014Q3  41726.66  101295
44127  2014Q4  43750.81  101295
44128  2015Q1  45590.27  101295
44129  2015Q2  58902.76  101295
44130  2015Q3  39334.20  101295
44131  2015Q4  39053.79  101295
44132  2016Q1  36912.12  101295
44133  2016Q2  43620.48  101295
44134  2016Q3  44572.02  101295
44135  2016Q4  41079.31  101295
44136  2017Q1  42385.82  101295
44137  2017Q2  46381.32  101295
44138  2017Q3  46196.86  101295
44139  2017Q4  46349.39  101295
('Key_nav : ', 101295)
('data 1 : ', array([-0.00181946, -0.01422985, -0.03539937,  0.07260827,  0.02574669,
        0.04005902,  0.07418971,  0.07363232,  0.07803864, -0.14899621,
       -0.03662503, -0.01071598, -0.06012196, -0.03310118,  0.05119661,
       -0.02190839,  0.01353142,  0.05129581,  0.00015569,  0.02663427]))
('data 2 :', array([ 43115.73,  41964.43,  39505.99,  40667.11,  39881.76,  40235.98,
        41726.66,  43750.81,  45590.27,  58902.76,  39334.2 ,  39053.79,
        36912.12,  43620.48,  44572.02,  41079.31,  42385.82,  46381.32,
        46196.86,  46349.39]))
('Key_aum: ', 103616)
      Quarter       Data      ID
43060  2013Q1   30121.07  103616
43061  2013Q2   28795.70  103616
43062  2013Q3   26879.08  103616
43063  2013Q4   28094.73  103616
43064  2014Q1   28960.11  103616
43065  2014Q2   30763.78  103616
43066  2014Q3   35472.63  103616
43067  2014Q4   39233.24  103616
43068  2015Q1   44562.53  103616
43069  2015Q2   58800.79  103616
43070  2015Q3   79766.85  103616
43071  2015Q4   72807.02  103616
43072  2016Q1   85635.85  103616
43073  2016Q2  114659.83  103616
43074  2016Q3  144216.51  103616
43075  2016Q4  149589.07  103616
43076  2017Q1  165800.47  103616
43077  2017Q2  181752.74  103616
43078  2017Q3  189933.22  103616
43079  2017Q4  194039.99  103616
('Key_nav : ', 103616)
('data 1 : ', array([-0.00571034, -0.00809897, -0.03962012,  0.0832012 ,  0.02845938,
        0.00911902,  0.14355555,  0.07691835,  0.08885437,  0.00585326,
       -0.09432737, -0.03484098, -0.04465104,  0.0758433 ,  0.08434688,
       -0.07219857,  0.03095273,  0.08044497,  0.04946143,  0.03329541]))
('data 2 :', array([  30121.07,   28795.7 ,   26879.08,   28094.73,   28960.11,
         30763.78,   35472.63,   39233.24,   44562.53,   58800.79,
         79766.85,   72807.02,   85635.85,  114659.83,  144216.51,
        149589.07,  165800.47,  181752.74,  189933.22,  194039.99]))
('mean : ', array([-0.00571034, -0.00809897, -0.03962012,  0.0832012 ,  0.02845938,
        0.00911902,  0.14355555,  0.07691835,  0.08885437,  0.00585326,
       -0.09432737, -0.03484098, -0.04465104,  0.0758433 ,  0.08434688,
       -0.07219857,  0.03095273,  0.08044497,  0.04946143,  0.03329541]))
('IDs :', [119159])
('aum table :', <bound method DataFrame.head of       Quarter    Data      ID
51880  2013Q1   49.35  119159
51881  2013Q2   99.32  119159
51882  2013Q3  155.24  119159
51883  2013Q4  164.81  119159
51884  2014Q1  179.36  119159
51885  2014Q2  220.76  119159
51886  2014Q3  276.75  119159
51887  2014Q4  366.74  119159
51888  2015Q1  441.57  119159
51889  2015Q2  456.18  119159
51890  2015Q3  498.95  119159
51891  2015Q4  505.18  119159
51892  2016Q1  513.36  119159
51893  2016Q2  599.64  119159
51894  2016Q3  686.09  119159
51895  2016Q4  679.74  119159
51896  2017Q1  694.66  119159
51897  2017Q2  729.20  119159
51898  2017Q3  784.61  119159
51899  2017Q4  849.80  119159>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1400  2013Q1 -0.054779  119159
1401  2013Q2 -0.062799  119159
1402  2013Q3  0.003469  119159

('Key_aum: ', 119159)
      Quarter    Data      ID
51880  2013Q1   49.35  119159
51881  2013Q2   99.32  119159
51882  2013Q3  155.24  119159
51883  2013Q4  164.81  119159
51884  2014Q1  179.36  119159
51885  2014Q2  220.76  119159
51886  2014Q3  276.75  119159
51887  2014Q4  366.74  119159
51888  2015Q1  441.57  119159
51889  2015Q2  456.18  119159
51890  2015Q3  498.95  119159
51891  2015Q4  505.18  119159
51892  2016Q1  513.36  119159
51893  2016Q2  599.64  119159
51894  2016Q3  686.09  119159
51895  2016Q4  679.74  119159
51896  2017Q1  694.66  119159
51897  2017Q2  729.20  119159
51898  2017Q3  784.61  119159
51899  2017Q4  849.80  119159
('Key_nav : ', 119159)
('data 1 : ', array([-0.05477853, -0.06279875,  0.00346923,  0.07055801, -0.01214867,
        0.09407721,  0.11150153,  0.05757461,  0.01758994, -0.0366894 ,
        0.02125829, -0.02657229, -0.06731178,  0.02362831,  0.0949586 ,
       -0.02264177,  0.0008124 ,  0.03511524,  0.05392538,  0.03918939]))
('data 2 :', array([  49.35,   99.32,  155.24,  164.81,  179.36,  220.76,  276.75,
        366.74,  441.57,  456.18,  498.95,  505.18,  513.36,  599.64,
        686.09,  679.74,  694.66,  729.2 ,  784.61,  849.8 ]))
('mean : ', array([-0.05477853, -0.06279875,  0.00346923,  0.07055801, -0.01214867,
        0.09407721,  0.11150153,  0.05757461,  0.01758994, -0.0366894 ,
        0.02125829, -0.02657229, -0.06731178,  0.02362831,  0.0949586 ,
       -0.02264177,  0.0008124 ,  0.03511524,  0.05392538,  0.03918939]))
('aum table :', <bound method DataFrame.head of       Quarter    Data      ID
51880  2013Q1   49.35  119159
51881  2013Q2   99.32  119159
51882  2013Q3  155.24  119159
51883  2013Q4  164.81  119159
51884  2014Q1  179.36  119159
51885  2014Q2  220.76  119159
51886  2014Q3  276.75  119159
51887  2014Q4  366.74  119159
51888  2015Q1  441.57  119159
51889  2015Q2  456.18  119159
51890  2015Q3  498.95  119159
51891  2015Q4  505.18  119159
51892  2016Q1  513.36  119159
51893  2016Q2  599.64  119159
51894  2016Q3  686.09  119159
51895  2016Q4  679.74  119159
51896  2017Q1  694.66  119159
51897  2017Q2  729.20  119159
51898  2017Q3  784.61  119159
51899  2017Q4  849.80  119159>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1400  2013Q1 -0.054779  119159
1401  2013Q2 -0.062799  119159
1402  2013Q3  0.003469  119159
1403  2013Q4  0.070558  119159
1404  2014Q1 -0.012149  119159
1405  2014Q2  0.094077  119159
1406  2014Q3  0.111502  119159
1407  2014Q4  0.057575  119159
1408  2015Q1  0.017590  119159
1409  2015Q2 -0.036689  119159
1410  2015Q3  0.021258  119159
1411  2015Q4 -0.026572  119159
1412  2016Q1 -0.067312  119159
1413  2016Q2  0.023628  119159
1414  2016Q3  0.094959  119159
1415  2016Q4 -0.022642  119159
1416  2017Q1  0.000812  119159
1417  2017Q2  0.035115  119159
1418  2017Q3  0.053925  119159
1419  2017Q4  0.039189  119159>)
('Key_aum: ', 119159)
      Quarter    Data      ID
51880  2013Q1   49.35  119159
51881  2013Q2   99.32  119159
51882  2013Q3  155.24  119159
51883  2013Q4  164.81  119159
51884  2014Q1  179.36  119159
51885  2014Q2  220.76  119159
51886  2014Q3  276.75  119159
51887  2014Q4  366.74  119159
51888  2015Q1  441.57  119159
51889  2015Q2  456.18  119159
51890  2015Q3  498.95  119159
51891  2015Q4  505.18  119159
51892  2016Q1  513.36  119159
51893  2016Q2  599.64  119159
51894  2016Q3  686.09  119159
51895  2016Q4  679.74  119159
51896  2017Q1  694.66  119159
51897  2017Q2  729.20  119159
51898  2017Q3  784.61  119159
51899  2017Q4  849.80  119159
('Key_nav : ', 119159)
('data 1 : ', array([-0.05477853, -0.06279875,  0.00346923,  0.07055801, -0.01214867,
        0.09407721,  0.11150153,  0.05757461,  0.01758994, -0.0366894 ,
        0.02125829, -0.02657229, -0.06731178,  0.02362831,  0.0949586 ,
       -0.02264177,  0.0008124 ,  0.03511524,  0.05392538,  0.03918939]))
('data 2 :', array([  49.35,   99.32,  155.24,  164.81,  179.36,  220.76,  276.75,
        366.74,  441.57,  456.18,  498.95,  505.18,  513.36,  599.64,
        686.09,  679.74,  694.66,  729.2 ,  784.61,  849.8 ]))
('mean : ', array([-0.05477853, -0.06279875,  0.00346923,  0.07055801, -0.01214867,
        0.09407721,  0.11150153,  0.05757461,  0.01758994, -0.0366894 ,
        0.02125829, -0.02657229, -0.06731178,  0.02362831,  0.0949586 ,
       -0.02264177,  0.0008124 ,  0.03511524,  0.05392538,  0.03918939]))
('aum table :', <bound method DataFrame.head of       Quarter    Data      ID
51880  2013Q1   49.35  119159
51881  2013Q2   99.32  119159
51882  2013Q3  155.24  119159
51883  2013Q4  164.81  119159
51884  2014Q1  179.36  119159
51885  2014Q2  220.76  119159
51886  2014Q3  276.75  119159
51887  2014Q4  366.74  119159
51888  2015Q1  441.57  119159
51889  2015Q2  456.18  119159
51890  2015Q3  498.95  119159
51891  2015Q4  505.18  119159
51892  2016Q1  513.36  119159
51893  2016Q2  599.64  119159
51894  2016Q3  686.09  119159
51895  2016Q4  679.74  119159
51896  2017Q1  694.66  119159
51897  2017Q2  729.20  119159
51898  2017Q3  784.61  119159
51899  2017Q4  849.80  119159>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1400  2013Q1 -0.054779  119159
1401  2013Q2 -0.062799  119159
1402  2013Q3  0.003469  119159
1403  2013Q4  0.070558  119159
1404  2014Q1 -0.012149  119159
1405  2014Q2  0.094077  119159
1406  2014Q3  0.111502  119159
1407  2014Q4  0.057575  119159
1408  2015Q1  0.017590  119159
1409  2015Q2 -0.036689  119159
1410  2015Q3  0.021258  119159
1411  2015Q4 -0.026572  119159
1412  2016Q1 -0.067312  119159
1413  2016Q2  0.023628  119159
1414  2016Q3  0.094959  119159
1415  2016Q4 -0.022642  119159
1416  2017Q1  0.000812  119159
1417  2017Q2  0.035115  119159
1418  2017Q3  0.053925  119159
1419  2017Q4  0.039189  119159>)
('Key_aum: ', 119159)
      Quarter    Data      ID
51880  2013Q1   49.35  119159
51881  2013Q2   99.32  119159
51882  2013Q3  155.24  119159
51883  2013Q4  164.81  119159
51884  2014Q1  179.36  119159
51885  2014Q2  220.76  119159
51886  2014Q3  276.75  119159
51887  2014Q4  366.74  119159
51888  2015Q1  441.57  119159
51889  2015Q2  456.18  119159
51890  2015Q3  498.95  119159
51891  2015Q4  505.18  119159
51892  2016Q1  513.36  119159
51893  2016Q2  599.64  119159
51894  2016Q3  686.09  119159
51895  2016Q4  679.74  119159
51896  2017Q1  694.66  119159
51897  2017Q2  729.20  119159
51898  2017Q3  784.61  119159
51899  2017Q4  849.80  119159
('Key_nav : ', 119159)
('data 1 : ', array([-0.05477853, -0.06279875,  0.00346923,  0.07055801, -0.01214867,
        0.09407721,  0.11150153,  0.05757461,  0.01758994, -0.0366894 ,
        0.02125829, -0.02657229, -0.06731178,  0.02362831,  0.0949586 ,
       -0.02264177,  0.0008124 ,  0.03511524,  0.05392538,  0.03918939]))
('data 2 :', array([  49.35,   99.32,  155.24,  164.81,  179.36,  220.76,  276.75,
        366.74,  441.57,  456.18,  498.95,  505.18,  513.36,  599.64,
        686.09,  679.74,  694.66,  729.2 ,  784.61,  849.8 ]))
('mean : ', array([-0.05477853, -0.06279875,  0.00346923,  0.07055801, -0.01214867,
        0.09407721,  0.11150153,  0.05757461,  0.01758994, -0.0366894 ,
        0.02125829, -0.02657229, -0.06731178,  0.02362831,  0.0949586 ,
       -0.02264177,  0.0008124 ,  0.03511524,  0.05392538,  0.03918939]))
('aum table :', <bound method DataFrame.head of       Quarter    Data      ID
51880  2013Q1   49.35  119159
51881  2013Q2   99.32  119159
51882  2013Q3  155.24  119159
51883  2013Q4  164.81  119159
51884  2014Q1  179.36  119159
51885  2014Q2  220.76  119159
51886  2014Q3  276.75  119159
51887  2014Q4  366.74  119159
51888  2015Q1  441.57  119159
51889  2015Q2  456.18  119159
51890  2015Q3  498.95  119159
51891  2015Q4  505.18  119159
51892  2016Q1  513.36  119159
51893  2016Q2  599.64  119159
51894  2016Q3  686.09  119159
51895  2016Q4  679.74  119159
51896  2017Q1  694.66  119159
51897  2017Q2  729.20  119159
51898  2017Q3  784.61  119159
51899  2017Q4  849.80  119159>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1400  2013Q1 -0.054779  119159
1401  2013Q2 -0.062799  119159
1402  2013Q3  0.003469  119159
1403  2013Q4  0.070558  119159
1404  2014Q1 -0.012149  119159
1405  2014Q2  0.094077  119159
1406  2014Q3  0.111502  119159
1407  2014Q4  0.057575  119159
1408  2015Q1  0.017590  119159
1409  2015Q2 -0.036689  119159
1410  2015Q3  0.021258  119159
1411  2015Q4 -0.026572  119159
1412  2016Q1 -0.067312  119159
1413  2016Q2  0.023628  119159
1414  2016Q3  0.094959  119159
1415  2016Q4 -0.022642  119159
1416  2017Q1  0.000812  119159
1417  2017Q2  0.035115  119159
1418  2017Q3  0.053925  119159
1419  2017Q4  0.039189  119159>)
('Key_aum: ', 119159)
      Quarter    Data      ID
51880  2013Q1   49.35  119159
51881  2013Q2   99.32  119159
51882  2013Q3  155.24  119159
51883  2013Q4  164.81  119159
51884  2014Q1  179.36  119159
51885  2014Q2  220.76  119159
51886  2014Q3  276.75  119159
51887  2014Q4  366.74  119159
51888  2015Q1  441.57  119159
51889  2015Q2  456.18  119159
51890  2015Q3  498.95  119159
51891  2015Q4  505.18  119159
51892  2016Q1  513.36  119159
51893  2016Q2  599.64  119159
51894  2016Q3  686.09  119159
51895  2016Q4  679.74  119159
51896  2017Q1  694.66  119159
51897  2017Q2  729.20  119159
51898  2017Q3  784.61  119159
51899  2017Q4  849.80  119159
('Key_nav : ', 119159)
('data 1 : ', array([-0.05477853, -0.06279875,  0.00346923,  0.07055801, -0.01214867,
        0.09407721,  0.11150153,  0.05757461,  0.01758994, -0.0366894 ,
        0.02125829, -0.02657229, -0.06731178,  0.02362831,  0.0949586 ,
       -0.02264177,  0.0008124 ,  0.03511524,  0.05392538,  0.03918939]))
('data 2 :', array([  49.35,   99.32,  155.24,  164.81,  179.36,  220.76,  276.75,
        366.74,  441.57,  456.18,  498.95,  505.18,  513.36,  599.64,
        686.09,  679.74,  694.66,  729.2 ,  784.61,  849.8 ]))
('mean : ', array([-0.05477853, -0.06279875,  0.00346923,  0.07055801, -0.01214867,
        0.09407721,  0.11150153,  0.05757461,  0.01758994, -0.0366894 ,
        0.02125829, -0.02657229, -0.06731178,  0.02362831,  0.0949586 ,
       -0.02264177,  0.0008124 ,  0.03511524,  0.05392538,  0.03918939]))
('aum table :', <bound method DataFrame.head of       Quarter    Data      ID
51880  2013Q1   49.35  119159
51881  2013Q2   99.32  119159
51882  2013Q3  155.24  119159
51883  2013Q4  164.81  119159
51884  2014Q1  179.36  119159
51885  2014Q2  220.76  119159
51886  2014Q3  276.75  119159
51887  2014Q4  366.74  119159
51888  2015Q1  441.57  119159
51889  2015Q2  456.18  119159
51890  2015Q3  498.95  119159
51891  2015Q4  505.18  119159
51892  2016Q1  513.36  119159
51893  2016Q2  599.64  119159
51894  2016Q3  686.09  119159
51895  2016Q4  679.74  119159
51896  2017Q1  694.66  119159
51897  2017Q2  729.20  119159
51898  2017Q3  784.61  119159
51899  2017Q4  849.80  119159>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1400  2013Q1 -0.054779  119159
1401  2013Q2 -0.062799  119159
1402  2013Q3  0.003469  119159
1403  2013Q4  0.070558  119159
1404  2014Q1 -0.012149  119159
1405  2014Q2  0.094077  119159
1406  2014Q3  0.111502  119159
1407  2014Q4  0.057575  119159
1408  2015Q1  0.017590  119159
1409  2015Q2 -0.036689  119159
1410  2015Q3  0.021258  119159
1411  2015Q4 -0.026572  119159
1412  2016Q1 -0.067312  119159
1413  2016Q2  0.023628  119159
1414  2016Q3  0.094959  119159
1415  2016Q4 -0.022642  119159
1416  2017Q1  0.000812  119159
1417  2017Q2  0.035115  119159
1418  2017Q3  0.053925  119159
1419  2017Q4  0.039189  119159>)
('Key_aum: ', 119159)
      Quarter    Data      ID
51880  2013Q1   49.35  119159
51881  2013Q2   99.32  119159
51882  2013Q3  155.24  119159
51883  2013Q4  164.81  119159
51884  2014Q1  179.36  119159
51885  2014Q2  220.76  119159
51886  2014Q3  276.75  119159
51887  2014Q4  366.74  119159
51888  2015Q1  441.57  119159
51889  2015Q2  456.18  119159
51890  2015Q3  498.95  119159
51891  2015Q4  505.18  119159
51892  2016Q1  513.36  119159
51893  2016Q2  599.64  119159
51894  2016Q3  686.09  119159
51895  2016Q4  679.74  119159
51896  2017Q1  694.66  119159
51897  2017Q2  729.20  119159
51898  2017Q3  784.61  119159
51899  2017Q4  849.80  119159
('Key_nav : ', 119159)
('data 1 : ', array([-0.05477853, -0.06279875,  0.00346923,  0.07055801, -0.01214867,
        0.09407721,  0.11150153,  0.05757461,  0.01758994, -0.0366894 ,
        0.02125829, -0.02657229, -0.06731178,  0.02362831,  0.0949586 ,
       -0.02264177,  0.0008124 ,  0.03511524,  0.05392538,  0.03918939]))
('data 2 :', array([  49.35,   99.32,  155.24,  164.81,  179.36,  220.76,  276.75,
        366.74,  441.57,  456.18,  498.95,  505.18,  513.36,  599.64,
        686.09,  679.74,  694.66,  729.2 ,  784.61,  849.8 ]))
('mean : ', array([-0.05477853, -0.06279875,  0.00346923,  0.07055801, -0.01214867,
        0.09407721,  0.11150153,  0.05757461,  0.01758994, -0.0366894 ,
        0.02125829, -0.02657229, -0.06731178,  0.02362831,  0.0949586 ,
       -0.02264177,  0.0008124 ,  0.03511524,  0.05392538,  0.03918939]))
('aum table :', <bound method DataFrame.head of       Quarter    Data      ID
51880  2013Q1   49.35  119159
51881  2013Q2   99.32  119159
51882  2013Q3  155.24  119159
51883  2013Q4  164.81  119159
51884  2014Q1  179.36  119159
51885  2014Q2  220.76  119159
51886  2014Q3  276.75  119159
51887  2014Q4  366.74  119159
51888  2015Q1  441.57  119159
51889  2015Q2  456.18  119159
51890  2015Q3  498.95  119159
51891  2015Q4  505.18  119159
51892  2016Q1  513.36  119159
51893  2016Q2  599.64  119159
51894  2016Q3  686.09  119159
51895  2016Q4  679.74  119159
51896  2017Q1  694.66  119159
51897  2017Q2  729.20  119159
51898  2017Q3  784.61  119159
51899  2017Q4  849.80  119159>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1400  2013Q1 -0.054779  119159
1401  2013Q2 -0.062799  119159
1402  2013Q3  0.003469  119159
1403  2013Q4  0.070558  119159
1404  2014Q1 -0.012149  119159
1405  2014Q2  0.094077  119159
1406  2014Q3  0.111502  119159
1407  2014Q4  0.057575  119159
1408  2015Q1  0.017590  119159
1409  2015Q2 -0.036689  119159
1410  2015Q3  0.021258  119159
1411  2015Q4 -0.026572  119159
1412  2016Q1 -0.067312  119159
1413  2016Q2  0.023628  119159
1414  2016Q3  0.094959  119159
1415  2016Q4 -0.022642  119159
1416  2017Q1  0.000812  119159
1417  2017Q2  0.035115  119159
1418  2017Q3  0.053925  119159
1419  2017Q4  0.039189  119159>)
('Key_aum: ', 119159)
      Quarter    Data      ID
51880  2013Q1   49.35  119159
51881  2013Q2   99.32  119159
51882  2013Q3  155.24  119159
51883  2013Q4  164.81  119159
51884  2014Q1  179.36  119159
51885  2014Q2  220.76  119159
51886  2014Q3  276.75  119159
51887  2014Q4  366.74  119159
51888  2015Q1  441.57  119159
51889  2015Q2  456.18  119159
51890  2015Q3  498.95  119159
51891  2015Q4  505.18  119159
51892  2016Q1  513.36  119159
51893  2016Q2  599.64  119159
51894  2016Q3  686.09  119159
51895  2016Q4  679.74  119159
51896  2017Q1  694.66  119159
51897  2017Q2  729.20  119159
51898  2017Q3  784.61  119159
51899  2017Q4  849.80  119159
('Key_nav : ', 119159)
('data 1 : ', array([-0.05477853, -0.06279875,  0.00346923,  0.07055801, -0.01214867,
        0.09407721,  0.11150153,  0.05757461,  0.01758994, -0.0366894 ,
        0.02125829, -0.02657229, -0.06731178,  0.02362831,  0.0949586 ,
       -0.02264177,  0.0008124 ,  0.03511524,  0.05392538,  0.03918939]))
('data 2 :', array([  49.35,   99.32,  155.24,  164.81,  179.36,  220.76,  276.75,
        366.74,  441.57,  456.18,  498.95,  505.18,  513.36,  599.64,
        686.09,  679.74,  694.66,  729.2 ,  784.61,  849.8 ]))
('mean : ', array([-0.05477853, -0.06279875,  0.00346923,  0.07055801, -0.01214867,
        0.09407721,  0.11150153,  0.05757461,  0.01758994, -0.0366894 ,
        0.02125829, -0.02657229, -0.06731178,  0.02362831,  0.0949586 ,
       -0.02264177,  0.0008124 ,  0.03511524,  0.05392538,  0.03918939]))
('aum table :', <bound method DataFrame.head of       Quarter    Data      ID
51880  2013Q1   49.35  119159
51881  2013Q2   99.32  119159
51882  2013Q3  155.24  119159
51883  2013Q4  164.81  119159
51884  2014Q1  179.36  119159
51885  2014Q2  220.76  119159
51886  2014Q3  276.75  119159
51887  2014Q4  366.74  119159
51888  2015Q1  441.57  119159
51889  2015Q2  456.18  119159
51890  2015Q3  498.95  119159
51891  2015Q4  505.18  119159
51892  2016Q1  513.36  119159
51893  2016Q2  599.64  119159
51894  2016Q3  686.09  119159
51895  2016Q4  679.74  119159
51896  2017Q1  694.66  119159
51897  2017Q2  729.20  119159
51898  2017Q3  784.61  119159
51899  2017Q4  849.80  119159>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1400  2013Q1 -0.054779  119159
1401  2013Q2 -0.062799  119159
1402  2013Q3  0.003469  119159
1403  2013Q4  0.070558  119159
1404  2014Q1 -0.012149  119159
1405  2014Q2  0.094077  119159
1406  2014Q3  0.111502  119159
1407  2014Q4  0.057575  119159
1408  2015Q1  0.017590  119159
1409  2015Q2 -0.036689  119159
1410  2015Q3  0.021258  119159
1411  2015Q4 -0.026572  119159
1412  2016Q1 -0.067312  119159
1413  2016Q2  0.023628  119159
1414  2016Q3  0.094959  119159
1415  2016Q4 -0.022642  119159
1416  2017Q1  0.000812  119159
1417  2017Q2  0.035115  119159
1418  2017Q3  0.053925  119159
1419  2017Q4  0.039189  119159>)
('Key_aum: ', 119159)
      Quarter    Data      ID
51880  2013Q1   49.35  119159
51881  2013Q2   99.32  119159
51882  2013Q3  155.24  119159
51883  2013Q4  164.81  119159
51884  2014Q1  179.36  119159
51885  2014Q2  220.76  119159
51886  2014Q3  276.75  119159
51887  2014Q4  366.74  119159
51888  2015Q1  441.57  119159
51889  2015Q2  456.18  119159
51890  2015Q3  498.95  119159
51891  2015Q4  505.18  119159
51892  2016Q1  513.36  119159
51893  2016Q2  599.64  119159
51894  2016Q3  686.09  119159
51895  2016Q4  679.74  119159
51896  2017Q1  694.66  119159
51897  2017Q2  729.20  119159
51898  2017Q3  784.61  119159
51899  2017Q4  849.80  119159
('Key_nav : ', 119159)
('data 1 : ', array([-0.05477853, -0.06279875,  0.00346923,  0.07055801, -0.01214867,
        0.09407721,  0.11150153,  0.05757461,  0.01758994, -0.0366894 ,
        0.02125829, -0.02657229, -0.06731178,  0.02362831,  0.0949586 ,
       -0.02264177,  0.0008124 ,  0.03511524,  0.05392538,  0.03918939]))
('data 2 :', array([  49.35,   99.32,  155.24,  164.81,  179.36,  220.76,  276.75,
        366.74,  441.57,  456.18,  498.95,  505.18,  513.36,  599.64,
        686.09,  679.74,  694.66,  729.2 ,  784.61,  849.8 ]))
('mean : ', array([-0.05477853, -0.06279875,  0.00346923,  0.07055801, -0.01214867,
        0.09407721,  0.11150153,  0.05757461,  0.01758994, -0.0366894 ,
        0.02125829, -0.02657229, -0.06731178,  0.02362831,  0.0949586 ,
       -0.02264177,  0.0008124 ,  0.03511524,  0.05392538,  0.03918939]))
('aum table :', <bound method DataFrame.head of       Quarter    Data      ID
51880  2013Q1   49.35  119159
51881  2013Q2   99.32  119159
51882  2013Q3  155.24  119159
51883  2013Q4  164.81  119159
51884  2014Q1  179.36  119159
51885  2014Q2  220.76  119159
51886  2014Q3  276.75  119159
51887  2014Q4  366.74  119159
51888  2015Q1  441.57  119159
51889  2015Q2  456.18  119159
51890  2015Q3  498.95  119159
51891  2015Q4  505.18  119159
51892  2016Q1  513.36  119159
51893  2016Q2  599.64  119159
51894  2016Q3  686.09  119159
51895  2016Q4  679.74  119159
51896  2017Q1  694.66  119159
51897  2017Q2  729.20  119159
51898  2017Q3  784.61  119159
51899  2017Q4  849.80  119159>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1400  2013Q1 -0.054779  119159
1401  2013Q2 -0.062799  119159
1402  2013Q3  0.003469  119159
1403  2013Q4  0.070558  119159
1404  2014Q1 -0.012149  119159
1405  2014Q2  0.094077  119159
1406  2014Q3  0.111502  119159
1407  2014Q4  0.057575  119159
1408  2015Q1  0.017590  119159
1409  2015Q2 -0.036689  119159
1410  2015Q3  0.021258  119159
1411  2015Q4 -0.026572  119159
1412  2016Q1 -0.067312  119159
1413  2016Q2  0.023628  119159
1414  2016Q3  0.094959  119159

       -0.02264177,  0.0008124 ,  0.03511524,  0.05392538,  0.03918939]))
('aum table :', <bound method DataFrame.head of       Quarter    Data      ID
51880  2013Q1   49.35  119159
51881  2013Q2   99.32  119159
51882  2013Q3  155.24  119159
51883  2013Q4  164.81  119159
51884  2014Q1  179.36  119159
51885  2014Q2  220.76  119159
51886  2014Q3  276.75  119159
51887  2014Q4  366.74  119159
51888  2015Q1  441.57  119159
51889  2015Q2  456.18  119159
51890  2015Q3  498.95  119159
51891  2015Q4  505.18  119159
51892  2016Q1  513.36  119159
51893  2016Q2  599.64  119159
51894  2016Q3  686.09  119159
51895  2016Q4  679.74  119159
51896  2017Q1  694.66  119159
51897  2017Q2  729.20  119159
51898  2017Q3  784.61  119159
51899  2017Q4  849.80  119159>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1400  2013Q1 -0.054779  119159
1401  2013Q2 -0.062799  119159
1402  2013Q3  0.003469  119159
1403  2013Q4  0.070558  119159
1404  2014Q1 -0.012149  119159
1405  2014Q2  0.094077  119159
1406  2014Q3  0.111502  119159
1407  2014Q4  0.057575  119159
1408  2015Q1  0.017590  119159
1409  2015Q2 -0.036689  119159
1410  2015Q3  0.021258  119159
1411  2015Q4 -0.026572  119159
1412  2016Q1 -0.067312  119159
1413  2016Q2  0.023628  119159
1414  2016Q3  0.094959  119159
1415  2016Q4 -0.022642  119159
1416  2017Q1  0.000812  119159
1417  2017Q2  0.035115  119159
1418  2017Q3  0.053925  119159
1419  2017Q4  0.039189  119159>)
('Key_aum: ', 119159)
      Quarter    Data      ID
51880  2013Q1   49.35  119159
51881  2013Q2   99.32  119159
51882  2013Q3  155.24  119159
51883  2013Q4  164.81  119159
51884  2014Q1  179.36  119159
51885  2014Q2  220.76  119159
51886  2014Q3  276.75  119159
51887  2014Q4  366.74  119159
51888  2015Q1  441.57  119159
51889  2015Q2  456.18  119159
51890  2015Q3  498.95  119159
51891  2015Q4  505.18  119159
51892  2016Q1  513.36  119159
51893  2016Q2  599.64  119159
51894  2016Q3  686.09  119159
51895  2016Q4  679.74  119159
51896  2017Q1  694.66  119159
51897  2017Q2  729.20  119159
51898  2017Q3  784.61  119159
51899  2017Q4  849.80  119159
('Key_nav : ', 119159)
('data 1 : ', array([-0.05477853, -0.06279875,  0.00346923,  0.07055801, -0.01214867,
        0.09407721,  0.11150153,  0.05757461,  0.01758994, -0.0366894 ,
        0.02125829, -0.02657229, -0.06731178,  0.02362831,  0.0949586 ,
       -0.02264177,  0.0008124 ,  0.03511524,  0.05392538,  0.03918939]))
('data 2 :', array([  49.35,   99.32,  155.24,  164.81,  179.36,  220.76,  276.75,
        366.74,  441.57,  456.18,  498.95,  505.18,  513.36,  599.64,
        686.09,  679.74,  694.66,  729.2 ,  784.61,  849.8 ]))
('mean : ', array([-0.05477853, -0.06279875,  0.00346923,  0.07055801, -0.01214867,
        0.09407721,  0.11150153,  0.05757461,  0.01758994, -0.0366894 ,
        0.02125829, -0.02657229, -0.06731178,  0.02362831,  0.0949586 ,
       -0.02264177,  0.0008124 ,  0.03511524,  0.05392538,  0.03918939]))
('aum table :', <bound method DataFrame.head of       Quarter    Data      ID
51880  2013Q1   49.35  119159
51881  2013Q2   99.32  119159
51882  2013Q3  155.24  119159
51883  2013Q4  164.81  119159
51884  2014Q1  179.36  119159
51885  2014Q2  220.76  119159
51886  2014Q3  276.75  119159
51887  2014Q4  366.74  119159
51888  2015Q1  441.57  119159
51889  2015Q2  456.18  119159
51890  2015Q3  498.95  119159
51891  2015Q4  505.18  119159
51892  2016Q1  513.36  119159
51893  2016Q2  599.64  119159
51894  2016Q3  686.09  119159
51895  2016Q4  679.74  119159
51896  2017Q1  694.66  119159
51897  2017Q2  729.20  119159
51898  2017Q3  784.61  119159
51899  2017Q4  849.80  119159>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1400  2013Q1 -0.054779  119159
1401  2013Q2 -0.062799  119159
1402  2013Q3  0.003469  119159
1403  2013Q4  0.070558  119159
1404  2014Q1 -0.012149  119159
1405  2014Q2  0.094077  119159
1406  2014Q3  0.111502  119159
1407  2014Q4  0.057575  119159
1408  2015Q1  0.017590  119159
1409  2015Q2 -0.036689  119159
1410  2015Q3  0.021258  119159
1411  2015Q4 -0.026572  119159
1412  2016Q1 -0.067312  119159
1413  2016Q2  0.023628  119159
1414  2016Q3  0.094959  119159
1415  2016Q4 -0.022642  119159
1416  2017Q1  0.000812  119159
1417  2017Q2  0.035115  119159
1418  2017Q3  0.053925  119159
1419  2017Q4  0.039189  119159>)
('Key_aum: ', 119159)
      Quarter    Data      ID
51880  2013Q1   49.35  119159
51881  2013Q2   99.32  119159
51882  2013Q3  155.24  119159
51883  2013Q4  164.81  119159
51884  2014Q1  179.36  119159
51885  2014Q2  220.76  119159
51886  2014Q3  276.75  119159
51887  2014Q4  366.74  119159
51888  2015Q1  441.57  119159
51889  2015Q2  456.18  119159
51890  2015Q3  498.95  119159
51891  2015Q4  505.18  119159
51892  2016Q1  513.36  119159
51893  2016Q2  599.64  119159
51894  2016Q3  686.09  119159
51895  2016Q4  679.74  119159
51896  2017Q1  694.66  119159
51897  2017Q2  729.20  119159
51898  2017Q3  784.61  119159
51899  2017Q4  849.80  119159
('Key_nav : ', 119159)
('data 1 : ', array([-0.05477853, -0.06279875,  0.00346923,  0.07055801, -0.01214867,
        0.09407721,  0.11150153,  0.05757461,  0.01758994, -0.0366894 ,
        0.02125829, -0.02657229, -0.06731178,  0.02362831,  0.0949586 ,
       -0.02264177,  0.0008124 ,  0.03511524,  0.05392538,  0.03918939]))
('data 2 :', array([  49.35,   99.32,  155.24,  164.81,  179.36,  220.76,  276.75,
        366.74,  441.57,  456.18,  498.95,  505.18,  513.36,  599.64,
        686.09,  679.74,  694.66,  729.2 ,  784.61,  849.8 ]))
('mean : ', array([-0.05477853, -0.06279875,  0.00346923,  0.07055801, -0.01214867,
        0.09407721,  0.11150153,  0.05757461,  0.01758994, -0.0366894 ,
        0.02125829, -0.02657229, -0.06731178,  0.02362831,  0.0949586 ,
       -0.02264177,  0.0008124 ,  0.03511524,  0.05392538,  0.03918939]))
('aum table :', <bound method DataFrame.head of       Quarter    Data      ID
51880  2013Q1   49.35  119159
51881  2013Q2   99.32  119159
51882  2013Q3  155.24  119159
51883  2013Q4  164.81  119159
51884  2014Q1  179.36  119159
51885  2014Q2  220.76  119159
51886  2014Q3  276.75  119159
51887  2014Q4  366.74  119159
51888  2015Q1  441.57  119159
51889  2015Q2  456.18  119159
51890  2015Q3  498.95  119159
51891  2015Q4  505.18  119159
51892  2016Q1  513.36  119159
51893  2016Q2  599.64  119159
51894  2016Q3  686.09  119159
51895  2016Q4  679.74  119159
51896  2017Q1  694.66  119159
51897  2017Q2  729.20  119159
51898  2017Q3  784.61  119159
51899  2017Q4  849.80  119159>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1400  2013Q1 -0.054779  119159
1401  2013Q2 -0.062799  119159
1402  2013Q3  0.003469  119159
1403  2013Q4  0.070558  119159
1404  2014Q1 -0.012149  119159
1405  2014Q2  0.094077  119159
1406  2014Q3  0.111502  119159
1407  2014Q4  0.057575  119159
1408  2015Q1  0.017590  119159
1409  2015Q2 -0.036689  119159
1410  2015Q3  0.021258  119159
1411  2015Q4 -0.026572  119159
1412  2016Q1 -0.067312  119159
1413  2016Q2  0.023628  119159
1414  2016Q3  0.094959  119159
1415  2016Q4 -0.022642  119159
1416  2017Q1  0.000812  119159
1417  2017Q2  0.035115  119159
1418  2017Q3  0.053925  119159
1419  2017Q4  0.039189  119159>)
('Key_aum: ', 119159)
      Quarter    Data      ID
51880  2013Q1   49.35  119159
51881  2013Q2   99.32  119159
51882  2013Q3  155.24  119159
51883  2013Q4  164.81  119159
51884  2014Q1  179.36  119159
51885  2014Q2  220.76  119159
51886  2014Q3  276.75  119159
51887  2014Q4  366.74  119159
51888  2015Q1  441.57  119159
51889  2015Q2  456.18  119159
51890  2015Q3  498.95  119159
51891  2015Q4  505.18  119159
51892  2016Q1  513.36  119159
51893  2016Q2  599.64  119159
51894  2016Q3  686.09  119159
51895  2016Q4  679.74  119159
51896  2017Q1  694.66  119159
51897  2017Q2  729.20  119159
51898  2017Q3  784.61  119159
51899  2017Q4  849.80  119159
('Key_nav : ', 119159)
('data 1 : ', array([-0.05477853, -0.06279875,  0.00346923,  0.07055801, -0.01214867,
        0.09407721,  0.11150153,  0.05757461,  0.01758994, -0.0366894 ,
        0.02125829, -0.02657229, -0.06731178,  0.02362831,  0.0949586 ,
       -0.02264177,  0.0008124 ,  0.03511524,  0.05392538,  0.03918939]))
('data 2 :', array([  49.35,   99.32,  155.24,  164.81,  179.36,  220.76,  276.75,
        366.74,  441.57,  456.18,  498.95,  505.18,  513.36,  599.64,
        686.09,  679.74,  694.66,  729.2 ,  784.61,  849.8 ]))
('mean : ', array([-0.05477853, -0.06279875,  0.00346923,  0.07055801, -0.01214867,
        0.09407721,  0.11150153,  0.05757461,  0.01758994, -0.0366894 ,
        0.02125829, -0.02657229, -0.06731178,  0.02362831,  0.0949586 ,
       -0.02264177,  0.0008124 ,  0.03511524,  0.05392538,  0.03918939]))
('aum table :', <bound method DataFrame.head of       Quarter    Data      ID
51880  2013Q1   49.35  119159
51881  2013Q2   99.32  119159
51882  2013Q3  155.24  119159
51883  2013Q4  164.81  119159
51884  2014Q1  179.36  119159
51885  2014Q2  220.76  119159
51886  2014Q3  276.75  119159
51887  2014Q4  366.74  119159
51888  2015Q1  441.57  119159
51889  2015Q2  456.18  119159
51890  2015Q3  498.95  119159
51891  2015Q4  505.18  119159
51892  2016Q1  513.36  119159
51893  2016Q2  599.64  119159
51894  2016Q3  686.09  119159
51895  2016Q4  679.74  119159
51896  2017Q1  694.66  119159
51897  2017Q2  729.20  119159
51898  2017Q3  784.61  119159
51899  2017Q4  849.80  119159>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1400  2013Q1 -0.054779  119159
1401  2013Q2 -0.062799  119159
1402  2013Q3  0.003469  119159
1403  2013Q4  0.070558  119159
1404  2014Q1 -0.012149  119159
1405  2014Q2  0.094077  119159
1406  2014Q3  0.111502  119159
1407  2014Q4  0.057575  119159
1408  2015Q1  0.017590  119159
1409  2015Q2 -0.036689  119159
1410  2015Q3  0.021258  119159
1411  2015Q4 -0.026572  119159
1412  2016Q1 -0.067312  119159
1413  2016Q2  0.023628  119159
1414  2016Q3  0.094959  119159
1415  2016Q4 -0.022642  119159
1416  2017Q1  0.000812  119159
1417  2017Q2  0.035115  119159
1418  2017Q3  0.053925  119159
1419  2017Q4  0.039189  119159>)
('Key_aum: ', 119159)
      Quarter    Data      ID
51880  2013Q1   49.35  119159
51881  2013Q2   99.32  119159
51882  2013Q3  155.24  119159
51883  2013Q4  164.81  119159
51884  2014Q1  179.36  119159
51885  2014Q2  220.76  119159
51886  2014Q3  276.75  119159
51887  2014Q4  366.74  119159
51888  2015Q1  441.57  119159
51889  2015Q2  456.18  119159
51890  2015Q3  498.95  119159
51891  2015Q4  505.18  119159
51892  2016Q1  513.36  119159
51893  2016Q2  599.64  119159
51894  2016Q3  686.09  119159
51895  2016Q4  679.74  119159
51896  2017Q1  694.66  119159
51897  2017Q2  729.20  119159
51898  2017Q3  784.61  119159
51899  2017Q4  849.80  119159
('Key_nav : ', 119159)
('data 1 : ', array([-0.05477853, -0.06279875,  0.00346923,  0.07055801, -0.01214867,
        0.09407721,  0.11150153,  0.05757461,  0.01758994, -0.0366894 ,
        0.02125829, -0.02657229, -0.06731178,  0.02362831,  0.0949586 ,
       -0.02264177,  0.0008124 ,  0.03511524,  0.05392538,  0.03918939]))
('data 2 :', array([  49.35,   99.32,  155.24,  164.81,  179.36,  220.76,  276.75,
        366.74,  441.57,  456.18,  498.95,  505.18,  513.36,  599.64,
        686.09,  679.74,  694.66,  729.2 ,  784.61,  849.8 ]))
('mean : ', array([-0.05477853, -0.06279875,  0.00346923,  0.07055801, -0.01214867,
        0.09407721,  0.11150153,  0.05757461,  0.01758994, -0.0366894 ,
        0.02125829, -0.02657229, -0.06731178,  0.02362831,  0.0949586 ,
       -0.02264177,  0.0008124 ,  0.03511524,  0.05392538,  0.03918939]))
('aum table :', <bound method DataFrame.head of       Quarter    Data      ID
51880  2013Q1   49.35  119159
51881  2013Q2   99.32  119159
51882  2013Q3  155.24  119159
51883  2013Q4  164.81  119159
51884  2014Q1  179.36  119159
51885  2014Q2  220.76  119159
51886  2014Q3  276.75  119159
51887  2014Q4  366.74  119159
51888  2015Q1  441.57  119159
51889  2015Q2  456.18  119159
51890  2015Q3  498.95  119159
51891  2015Q4  505.18  119159
51892  2016Q1  513.36  119159
51893  2016Q2  599.64  119159
51894  2016Q3  686.09  119159
51895  2016Q4  679.74  119159
51896  2017Q1  694.66  119159
51897  2017Q2  729.20  119159
51898  2017Q3  784.61  119159
51899  2017Q4  849.80  119159>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1400  2013Q1 -0.054779  119159
1401  2013Q2 -0.062799  119159
1402  2013Q3  0.003469  119159
1403  2013Q4  0.070558  119159
1404  2014Q1 -0.012149  119159
1405  2014Q2  0.094077  119159
1406  2014Q3  0.111502  119159
1407  2014Q4  0.057575  119159
1408  2015Q1  0.017590  119159
1409  2015Q2 -0.036689  119159
1410  2015Q3  0.021258  119159
1411  2015Q4 -0.026572  119159
1412  2016Q1 -0.067312  119159
1413  2016Q2  0.023628  119159
1414  2016Q3  0.094959  119159
1415  2016Q4 -0.022642  119159
1416  2017Q1  0.000812  119159
1417  2017Q2  0.035115  119159
1418  2017Q3  0.053925  119159
1419  2017Q4  0.039189  119159>)
('Key_aum: ', 119159)
      Quarter    Data      ID
51880  2013Q1   49.35  119159
51881  2013Q2   99.32  119159
51882  2013Q3  155.24  119159
51883  2013Q4  164.81  119159
51884  2014Q1  179.36  119159
51885  2014Q2  220.76  119159
51886  2014Q3  276.75  119159
51887  2014Q4  366.74  119159
51888  2015Q1  441.57  119159
51889  2015Q2  456.18  119159
51890  2015Q3  498.95  119159
51891  2015Q4  505.18  119159
51892  2016Q1  513.36  119159
51893  2016Q2  599.64  119159
51894  2016Q3  686.09  119159
51895  2016Q4  679.74  119159
51896  2017Q1  694.66  119159
51897  2017Q2  729.20  119159
51898  2017Q3  784.61  119159
51899  2017Q4  849.80  119159
('Key_nav : ', 119159)
('data 1 : ', array([-0.05477853, -0.06279875,  0.00346923,  0.07055801, -0.01214867,
        0.09407721,  0.11150153,  0.05757461,  0.01758994, -0.0366894 ,
        0.02125829, -0.02657229, -0.06731178,  0.02362831,  0.0949586 ,
       -0.02264177,  0.0008124 ,  0.03511524,  0.05392538,  0.03918939]))
('data 2 :', array([  49.35,   99.32,  155.24,  164.81,  179.36,  220.76,  276.75,
        366.74,  441.57,  456.18,  498.95,  505.18,  513.36,  599.64,
        686.09,  679.74,  694.66,  729.2 ,  784.61,  849.8 ]))
('mean : ', array([-0.05477853, -0.06279875,  0.00346923,  0.07055801, -0.01214867,
        0.09407721,  0.11150153,  0.05757461,  0.01758994, -0.0366894 ,
        0.02125829, -0.02657229, -0.06731178,  0.02362831,  0.0949586 ,
       -0.02264177,  0.0008124 ,  0.03511524,  0.05392538,  0.03918939]))
('aum table :', <bound method DataFrame.head of       Quarter    Data      ID
51880  2013Q1   49.35  119159
51881  2013Q2   99.32  119159
51882  2013Q3  155.24  119159
51883  2013Q4  164.81  119159
51884  2014Q1  179.36  119159
51885  2014Q2  220.76  119159
51886  2014Q3  276.75  119159
51887  2014Q4  366.74  119159
51888  2015Q1  441.57  119159
51889  2015Q2  456.18  119159
51890  2015Q3  498.95  119159
51891  2015Q4  505.18  119159
51892  2016Q1  513.36  119159
51893  2016Q2  599.64  119159
51894  2016Q3  686.09  119159
51895  2016Q4  679.74  119159
51896  2017Q1  694.66  119159
51897  2017Q2  729.20  119159
51898  2017Q3  784.61  119159
51899  2017Q4  849.80  119159>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1400  2013Q1 -0.054779  119159
1401  2013Q2 -0.062799  119159
1402  2013Q3  0.003469  119159
1403  2013Q4  0.070558  119159
1404  2014Q1 -0.012149  119159
1405  2014Q2  0.094077  119159
1406  2014Q3  0.111502  119159
1407  2014Q4  0.057575  119159
1408  2015Q1  0.017590  119159
1409  2015Q2 -0.036689  119159
1410  2015Q3  0.021258  119159
1411  2015Q4 -0.026572  119159
1412  2016Q1 -0.067312  119159
1413  2016Q2  0.023628  119159
1414  2016Q3  0.094959  119159
1415  2016Q4 -0.022642  119159
1416  2017Q1  0.000812  119159
1417  2017Q2  0.035115  119159
1418  2017Q3  0.053925  119159
1419  2017Q4  0.039189  119159>)
('Key_aum: ', 119159)
      Quarter    Data      ID
51880  2013Q1   49.35  119159
51881  2013Q2   99.32  119159
51882  2013Q3  155.24  119159
51883  2013Q4  164.81  119159
51884  2014Q1  179.36  119159
51885  2014Q2  220.76  119159
51886  2014Q3  276.75  119159
51887  2014Q4  366.74  119159
51888  2015Q1  441.57  119159
51889  2015Q2  456.18  119159
51890  2015Q3  498.95  119159
51891  2015Q4  505.18  119159
51892  2016Q1  513.36  119159
51893  2016Q2  599.64  119159
51894  2016Q3  686.09  119159
51895  2016Q4  679.74  119159
51896  2017Q1  694.66  119159
51897  2017Q2  729.20  119159
51898  2017Q3  784.61  119159
51899  2017Q4  849.80  119159
('Key_nav : ', 119159)
('data 1 : ', array([-0.05477853, -0.06279875,  0.00346923,  0.07055801, -0.01214867,
        0.09407721,  0.11150153,  0.05757461,  0.01758994, -0.0366894 ,
        0.02125829, -0.02657229, -0.06731178,  0.02362831,  0.0949586 ,
       -0.02264177,  0.0008124 ,  0.03511524,  0.05392538,  0.03918939]))
('data 2 :', array([  49.35,   99.32,  155.24,  164.81,  179.36,  220.76,  276.75,
        366.74,  441.57,  456.18,  498.95,  505.18,  513.36,  599.64,
        686.09,  679.74,  694.66,  729.2 ,  784.61,  849.8 ]))
('mean : ', array([-0.05477853, -0.06279875,  0.00346923,  0.07055801, -0.01214867,
        0.09407721,  0.11150153,  0.05757461,  0.01758994, -0.0366894 ,
        0.02125829, -0.02657229, -0.06731178,  0.02362831,  0.0949586 ,
       -0.02264177,  0.0008124 ,  0.03511524,  0.05392538,  0.03918939]))
('aum table :', <bound method DataFrame.head of       Quarter    Data      ID
51880  2013Q1   49.35  119159
51881  2013Q2   99.32  119159
51882  2013Q3  155.24  119159
51883  2013Q4  164.81  119159
51884  2014Q1  179.36  119159
51885  2014Q2  220.76  119159
51886  2014Q3  276.75  119159
51887  2014Q4  366.74  119159
51888  2015Q1  441.57  119159
51889  2015Q2  456.18  119159
51890  2015Q3  498.95  119159
51891  2015Q4  505.18  119159
51892  2016Q1  513.36  119159
51893  2016Q2  599.64  119159
51894  2016Q3  686.09  119159
51895  2016Q4  679.74  119159
51896  2017Q1  694.66  119159
51897  2017Q2  729.20  119159
51898  2017Q3  784.61  119159
51899  2017Q4  849.80  119159>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1400  2013Q1 -0.054779  119159
1401  2013Q2 -0.062799  119159
1402  2013Q3  0.003469  119159
1403  2013Q4  0.070558  119159
1404  2014Q1 -0.012149  119159
1405  2014Q2  0.094077  119159
1406  2014Q3  0.111502  119159
1407  2014Q4  0.057575  119159
1408  2015Q1  0.017590  119159
1409  2015Q2 -0.036689  119159
1410  2015Q3  0.021258  119159
1411  2015Q4 -0.026572  119159
1412  2016Q1 -0.067312  119159
1413  2016Q2  0.023628  119159
1414  2016Q3  0.094959  119159
1415  2016Q4 -0.022642  119159
1416  2017Q1  0.000812  119159
1417  2017Q2  0.035115  119159
1418  2017Q3  0.053925  119159
1419  2017Q4  0.039189  119159>)
('Key_aum: ', 119159)
      Quarter    Data      ID
51880  2013Q1   49.35  119159
51881  2013Q2   99.32  119159
51882  2013Q3  155.24  119159
51883  2013Q4  164.81  119159
51884  2014Q1  179.36  119159
51885  2014Q2  220.76  119159
51886  2014Q3  276.75  119159
51887  2014Q4  366.74  119159
51888  2015Q1  441.57  119159
51889  2015Q2  456.18  119159
51890  2015Q3  498.95  119159
51891  2015Q4  505.18  119159
51892  2016Q1  513.36  119159
51893  2016Q2  599.64  119159
51894  2016Q3  686.09  119159
51895  2016Q4  679.74  119159
51896  2017Q1  694.66  119159
51897  2017Q2  729.20  119159
51898  2017Q3  784.61  119159
51899  2017Q4  849.80  119159
('Key_nav : ', 119159)
('data 1 : ', array([-0.05477853, -0.06279875,  0.00346923,  0.07055801, -0.01214867,
        0.09407721,  0.11150153,  0.05757461,  0.01758994, -0.0366894 ,
        0.02125829, -0.02657229, -0.06731178,  0.02362831,  0.0949586 ,
       -0.02264177,  0.0008124 ,  0.03511524,  0.05392538,  0.03918939]))
('data 2 :', array([  49.35,   99.32,  155.24,  164.81,  179.36,  220.76,  276.75,
        366.74,  441.57,  456.18,  498.95,  505.18,  513.36,  599.64,
        686.09,  679.74,  694.66,  729.2 ,  784.61,  849.8 ]))

      Quarter    Data      ID
51880  2013Q1   49.35  119159
51881  2013Q2   99.32  119159
51882  2013Q3  155.24  119159
51883  2013Q4  164.81  119159
51884  2014Q1  179.36  119159
51885  2014Q2  220.76  119159
51886  2014Q3  276.75  119159
51887  2014Q4  366.74  119159
51888  2015Q1  441.57  119159
51889  2015Q2  456.18  119159
51890  2015Q3  498.95  119159
51891  2015Q4  505.18  119159
51892  2016Q1  513.36  119159
51893  2016Q2  599.64  119159
51894  2016Q3  686.09  119159
51895  2016Q4  679.74  119159
51896  2017Q1  694.66  119159
51897  2017Q2  729.20  119159
51898  2017Q3  784.61  119159
51899  2017Q4  849.80  119159
('Key_nav : ', 119159)
('data 1 : ', array([-0.05477853, -0.06279875,  0.00346923,  0.07055801, -0.01214867,
        0.09407721,  0.11150153,  0.05757461,  0.01758994, -0.0366894 ,
        0.02125829, -0.02657229, -0.06731178,  0.02362831,  0.0949586 ,
       -0.02264177,  0.0008124 ,  0.03511524,  0.05392538,  0.03918939]))
('data 2 :', array([  49.35,   99.32,  155.24,  164.81,  179.36,  220.76,  276.75,
        366.74,  441.57,  456.18,  498.95,  505.18,  513.36,  599.64,
        686.09,  679.74,  694.66,  729.2 ,  784.61,  849.8 ]))
('mean : ', array([-0.05477853, -0.06279875,  0.00346923,  0.07055801, -0.01214867,
        0.09407721,  0.11150153,  0.05757461,  0.01758994, -0.0366894 ,
        0.02125829, -0.02657229, -0.06731178,  0.02362831,  0.0949586 ,
       -0.02264177,  0.0008124 ,  0.03511524,  0.05392538,  0.03918939]))
('IDs :', [120663, 120664])
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
55480  2013Q1    13.72  120663
55481  2013Q2    29.93  120663
55482  2013Q3   263.96  120663
55483  2013Q4   299.94  120663
55484  2014Q1   373.74  120663
55485  2014Q2   527.36  120663
55486  2014Q3   766.00  120663
55487  2014Q4  1034.20  120663
55488  2015Q1  1475.55  120663
55489  2015Q2  1696.56  120663
55490  2015Q3  2097.65  120663
55491  2015Q4  2382.10  120663
55492  2016Q1  2452.75  120663
55493  2016Q2  3141.95  120663
55494  2016Q3  3507.54  120663
55495  2016Q4  3583.64  120663
55496  2017Q1  3712.05  120663
55497  2017Q2  3841.38  120663
55498  2017Q3  3990.75  120663
55499  2017Q4  4097.81  120663
56860  2013Q1     6.46  120664
56861  2013Q2    19.57  120664
56862  2013Q3    26.59  120664
56863  2013Q4    33.67  120664
56864  2014Q1    43.16  120664
56865  2014Q2    57.42  120664
56866  2014Q3    72.67  120664
56867  2014Q4    94.23  120664
56868  2015Q1   145.69  120664
56869  2015Q2   298.22  120664
56870  2015Q3   432.03  120664
56871  2015Q4   468.83  120664
56872  2016Q1   463.15  120664
56873  2016Q2   520.04  120664
56874  2016Q3   548.23  120664
56875  2016Q4   471.65  120664
56876  2017Q1   501.22  120664
56877  2017Q2   596.41  120664
56878  2017Q3   700.15  120664
56879  2017Q4   784.83  120664>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1160  2013Q1 -0.032316  120664
1161  2013Q2 -0.003306  120664
1162  2013Q3 -0.014305  120664
1163  2013Q4 -0.000240  120664
1164  2014Q1  0.036079  120664
1165  2014Q2  0.116383  120664
1166  2014Q3  0.127179  120664
1167  2014Q4  0.075065  120664
1168  2015Q1  0.082369  120664
1169  2015Q2 -0.096007  120664
1170  2015Q3  0.008438  120664
1171  2015Q4 -0.032620  120664
1172  2016Q1 -0.091785  120664
1173  2016Q2  0.011175  120664
1174  2016Q3  0.091328  120664
1175  2016Q4 -0.025721  120664
1176  2017Q1  0.041618  120664
1177  2017Q2  0.022945  120664
1178  2017Q3  0.042079  120664
1179  2017Q4  0.053263  120664
1660  2013Q1 -0.036062  120663
1661  2013Q2 -0.023272  120663
1662  2013Q3 -0.019205  120663
1663  2013Q4  0.075101  120663
1664  2014Q1  0.038102  120663
1665  2014Q2  0.127787  120663
1666  2014Q3  0.121194  120663
1667  2014Q4  0.083345  120663
1668  2015Q1  0.068741  120663
1669  2015Q2 -0.030657  120663
1670  2015Q3 -0.003342  120663
1671  2015Q4 -0.022832  120663
1672  2016Q1 -0.070185  120663
1673  2016Q2  0.064892  120663
1674  2016Q3  0.065953  120663
1675  2016Q4 -0.042287  120663
1676  2017Q1  0.031097  120663
1677  2017Q2  0.071093  120663
1678  2017Q3  0.021569  120663
1679  2017Q4  0.031698  120663>)
('Key_aum: ', 120663)
      Quarter     Data      ID
55480  2013Q1    13.72  120663
55481  2013Q2    29.93  120663
55482  2013Q3   263.96  120663
55483  2013Q4   299.94  120663
55484  2014Q1   373.74  120663
55485  2014Q2   527.36  120663
55486  2014Q3   766.00  120663
55487  2014Q4  1034.20  120663
55488  2015Q1  1475.55  120663
55489  2015Q2  1696.56  120663
55490  2015Q3  2097.65  120663
55491  2015Q4  2382.10  120663
55492  2016Q1  2452.75  120663
55493  2016Q2  3141.95  120663
55494  2016Q3  3507.54  120663
55495  2016Q4  3583.64  120663
55496  2017Q1  3712.05  120663
55497  2017Q2  3841.38  120663
55498  2017Q3  3990.75  120663
55499  2017Q4  4097.81  120663
('Key_nav : ', 120663)
('data 1 : ', array([-0.0360622 , -0.02327223, -0.01920503,  0.07510119,  0.03810175,
        0.12778733,  0.12119439,  0.08334542,  0.06874116, -0.03065685,
       -0.00334165, -0.02283227, -0.07018481,  0.06489184,  0.06595328,
       -0.04228719,  0.03109658,  0.07109267,  0.02156861,  0.03169842]))
('data 2 :', array([   13.72,    29.93,   263.96,   299.94,   373.74,   527.36,
         766.  ,  1034.2 ,  1475.55,  1696.56,  2097.65,  2382.1 ,
        2452.75,  3141.95,  3507.54,  3583.64,  3712.05,  3841.38,
        3990.75,  4097.81]))
('Key_aum: ', 120664)
      Quarter    Data      ID
56860  2013Q1    6.46  120664
56861  2013Q2   19.57  120664
56862  2013Q3   26.59  120664
56863  2013Q4   33.67  120664
56864  2014Q1   43.16  120664
56865  2014Q2   57.42  120664
56866  2014Q3   72.67  120664
56867  2014Q4   94.23  120664
56868  2015Q1  145.69  120664
56869  2015Q2  298.22  120664
56870  2015Q3  432.03  120664
56871  2015Q4  468.83  120664
56872  2016Q1  463.15  120664
56873  2016Q2  520.04  120664
56874  2016Q3  548.23  120664
56875  2016Q4  471.65  120664
56876  2017Q1  501.22  120664
56877  2017Q2  596.41  120664
56878  2017Q3  700.15  120664
56879  2017Q4  784.83  120664
('Key_nav : ', 120664)
('data 1 : ', array([-0.03231648, -0.0033058 , -0.0143053 , -0.00023956,  0.03607874,
        0.11638259,  0.12717886,  0.07506485,  0.08236885, -0.09600676,
        0.00843807, -0.03262011, -0.09178468,  0.01117461,  0.09132756,
       -0.02572064,  0.0416177 ,  0.02294544,  0.0420786 ,  0.05326269]))
('data 2 :', array([   6.46,   19.57,   26.59,   33.67,   43.16,   57.42,   72.67,
         94.23,  145.69,  298.22,  432.03,  468.83,  463.15,  520.04,
        548.23,  471.65,  501.22,  596.41,  700.15,  784.83]))
('mean : ', array([-0.03231648, -0.0033058 , -0.0143053 , -0.00023956,  0.03607874,
        0.11638259,  0.12717886,  0.07506485,  0.08236885, -0.09600676,
        0.00843807, -0.03262011, -0.09178468,  0.01117461,  0.09132756,
       -0.02572064,  0.0416177 ,  0.02294544,  0.0420786 ,  0.05326269]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
55480  2013Q1    13.72  120663
55481  2013Q2    29.93  120663
55482  2013Q3   263.96  120663
55483  2013Q4   299.94  120663
55484  2014Q1   373.74  120663
55485  2014Q2   527.36  120663
55486  2014Q3   766.00  120663
55487  2014Q4  1034.20  120663
55488  2015Q1  1475.55  120663
55489  2015Q2  1696.56  120663
55490  2015Q3  2097.65  120663
55491  2015Q4  2382.10  120663
55492  2016Q1  2452.75  120663
55493  2016Q2  3141.95  120663
55494  2016Q3  3507.54  120663
55495  2016Q4  3583.64  120663
55496  2017Q1  3712.05  120663
55497  2017Q2  3841.38  120663
55498  2017Q3  3990.75  120663
55499  2017Q4  4097.81  120663
56860  2013Q1     6.46  120664
56861  2013Q2    19.57  120664
56862  2013Q3    26.59  120664
56863  2013Q4    33.67  120664
56864  2014Q1    43.16  120664
56865  2014Q2    57.42  120664
56866  2014Q3    72.67  120664
56867  2014Q4    94.23  120664
56868  2015Q1   145.69  120664
56869  2015Q2   298.22  120664
56870  2015Q3   432.03  120664
56871  2015Q4   468.83  120664
56872  2016Q1   463.15  120664
56873  2016Q2   520.04  120664
56874  2016Q3   548.23  120664
56875  2016Q4   471.65  120664
56876  2017Q1   501.22  120664
56877  2017Q2   596.41  120664
56878  2017Q3   700.15  120664
56879  2017Q4   784.83  120664>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1160  2013Q1 -0.032316  120664
1161  2013Q2 -0.003306  120664
1162  2013Q3 -0.014305  120664
1163  2013Q4 -0.000240  120664
1164  2014Q1  0.036079  120664
1165  2014Q2  0.116383  120664
1166  2014Q3  0.127179  120664
1167  2014Q4  0.075065  120664
1168  2015Q1  0.082369  120664
1169  2015Q2 -0.096007  120664
1170  2015Q3  0.008438  120664
1171  2015Q4 -0.032620  120664
1172  2016Q1 -0.091785  120664
1173  2016Q2  0.011175  120664
1174  2016Q3  0.091328  120664
1175  2016Q4 -0.025721  120664
1176  2017Q1  0.041618  120664
1177  2017Q2  0.022945  120664
1178  2017Q3  0.042079  120664
1179  2017Q4  0.053263  120664
1660  2013Q1 -0.036062  120663
1661  2013Q2 -0.023272  120663
1662  2013Q3 -0.019205  120663
1663  2013Q4  0.075101  120663
1664  2014Q1  0.038102  120663
1665  2014Q2  0.127787  120663
1666  2014Q3  0.121194  120663
1667  2014Q4  0.083345  120663
1668  2015Q1  0.068741  120663
1669  2015Q2 -0.030657  120663
1670  2015Q3 -0.003342  120663
1671  2015Q4 -0.022832  120663
1672  2016Q1 -0.070185  120663
1673  2016Q2  0.064892  120663
1674  2016Q3  0.065953  120663
1675  2016Q4 -0.042287  120663
1676  2017Q1  0.031097  120663
1677  2017Q2  0.071093  120663
1678  2017Q3  0.021569  120663
1679  2017Q4  0.031698  120663>)
('Key_aum: ', 120663)
      Quarter     Data      ID
55480  2013Q1    13.72  120663
55481  2013Q2    29.93  120663
55482  2013Q3   263.96  120663
55483  2013Q4   299.94  120663
55484  2014Q1   373.74  120663
55485  2014Q2   527.36  120663
55486  2014Q3   766.00  120663
55487  2014Q4  1034.20  120663
55488  2015Q1  1475.55  120663
55489  2015Q2  1696.56  120663
55490  2015Q3  2097.65  120663
55491  2015Q4  2382.10  120663
55492  2016Q1  2452.75  120663
55493  2016Q2  3141.95  120663
55494  2016Q3  3507.54  120663
55495  2016Q4  3583.64  120663
55496  2017Q1  3712.05  120663
55497  2017Q2  3841.38  120663
55498  2017Q3  3990.75  120663
55499  2017Q4  4097.81  120663
('Key_nav : ', 120663)
('data 1 : ', array([-0.0360622 , -0.02327223, -0.01920503,  0.07510119,  0.03810175,
        0.12778733,  0.12119439,  0.08334542,  0.06874116, -0.03065685,
       -0.00334165, -0.02283227, -0.07018481,  0.06489184,  0.06595328,
       -0.04228719,  0.03109658,  0.07109267,  0.02156861,  0.03169842]))
('data 2 :', array([   13.72,    29.93,   263.96,   299.94,   373.74,   527.36,
         766.  ,  1034.2 ,  1475.55,  1696.56,  2097.65,  2382.1 ,
        2452.75,  3141.95,  3507.54,  3583.64,  3712.05,  3841.38,
        3990.75,  4097.81]))
('Key_aum: ', 120664)
      Quarter    Data      ID
56860  2013Q1    6.46  120664
56861  2013Q2   19.57  120664
56862  2013Q3   26.59  120664
56863  2013Q4   33.67  120664
56864  2014Q1   43.16  120664
56865  2014Q2   57.42  120664
56866  2014Q3   72.67  120664
56867  2014Q4   94.23  120664
56868  2015Q1  145.69  120664
56869  2015Q2  298.22  120664
56870  2015Q3  432.03  120664
56871  2015Q4  468.83  120664
56872  2016Q1  463.15  120664
56873  2016Q2  520.04  120664
56874  2016Q3  548.23  120664
56875  2016Q4  471.65  120664
56876  2017Q1  501.22  120664
56877  2017Q2  596.41  120664
56878  2017Q3  700.15  120664
56879  2017Q4  784.83  120664
('Key_nav : ', 120664)
('data 1 : ', array([-0.03231648, -0.0033058 , -0.0143053 , -0.00023956,  0.03607874,
        0.11638259,  0.12717886,  0.07506485,  0.08236885, -0.09600676,
        0.00843807, -0.03262011, -0.09178468,  0.01117461,  0.09132756,
       -0.02572064,  0.0416177 ,  0.02294544,  0.0420786 ,  0.05326269]))
('data 2 :', array([   6.46,   19.57,   26.59,   33.67,   43.16,   57.42,   72.67,
         94.23,  145.69,  298.22,  432.03,  468.83,  463.15,  520.04,
        548.23,  471.65,  501.22,  596.41,  700.15,  784.83]))
('mean : ', array([-0.03231648, -0.0033058 , -0.0143053 , -0.00023956,  0.03607874,
        0.11638259,  0.12717886,  0.07506485,  0.08236885, -0.09600676,
        0.00843807, -0.03262011, -0.09178468,  0.01117461,  0.09132756,
       -0.02572064,  0.0416177 ,  0.02294544,  0.0420786 ,  0.05326269]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
55480  2013Q1    13.72  120663
55481  2013Q2    29.93  120663
55482  2013Q3   263.96  120663
55483  2013Q4   299.94  120663
55484  2014Q1   373.74  120663
55485  2014Q2   527.36  120663
55486  2014Q3   766.00  120663
55487  2014Q4  1034.20  120663
55488  2015Q1  1475.55  120663
55489  2015Q2  1696.56  120663
55490  2015Q3  2097.65  120663
55491  2015Q4  2382.10  120663
55492  2016Q1  2452.75  120663
55493  2016Q2  3141.95  120663
55494  2016Q3  3507.54  120663
55495  2016Q4  3583.64  120663
55496  2017Q1  3712.05  120663
55497  2017Q2  3841.38  120663
55498  2017Q3  3990.75  120663
55499  2017Q4  4097.81  120663
56860  2013Q1     6.46  120664
56861  2013Q2    19.57  120664
56862  2013Q3    26.59  120664
56863  2013Q4    33.67  120664
56864  2014Q1    43.16  120664
56865  2014Q2    57.42  120664
56866  2014Q3    72.67  120664
56867  2014Q4    94.23  120664
56868  2015Q1   145.69  120664
56869  2015Q2   298.22  120664
56870  2015Q3   432.03  120664
56871  2015Q4   468.83  120664
56872  2016Q1   463.15  120664
56873  2016Q2   520.04  120664
56874  2016Q3   548.23  120664
56875  2016Q4   471.65  120664
56876  2017Q1   501.22  120664
56877  2017Q2   596.41  120664
56878  2017Q3   700.15  120664
56879  2017Q4   784.83  120664>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1160  2013Q1 -0.032316  120664
1161  2013Q2 -0.003306  120664
1162  2013Q3 -0.014305  120664
1163  2013Q4 -0.000240  120664
1164  2014Q1  0.036079  120664
1165  2014Q2  0.116383  120664
1166  2014Q3  0.127179  120664
1167  2014Q4  0.075065  120664
1168  2015Q1  0.082369  120664
1169  2015Q2 -0.096007  120664
1170  2015Q3  0.008438  120664
1171  2015Q4 -0.032620  120664
1172  2016Q1 -0.091785  120664
1173  2016Q2  0.011175  120664
1174  2016Q3  0.091328  120664
1175  2016Q4 -0.025721  120664
1176  2017Q1  0.041618  120664
1177  2017Q2  0.022945  120664
1178  2017Q3  0.042079  120664
1179  2017Q4  0.053263  120664
1660  2013Q1 -0.036062  120663
1661  2013Q2 -0.023272  120663
1662  2013Q3 -0.019205  120663
1663  2013Q4  0.075101  120663
1664  2014Q1  0.038102  120663
1665  2014Q2  0.127787  120663
1666  2014Q3  0.121194  120663
1667  2014Q4  0.083345  120663
1668  2015Q1  0.068741  120663
1669  2015Q2 -0.030657  120663
1670  2015Q3 -0.003342  120663
1671  2015Q4 -0.022832  120663
1672  2016Q1 -0.070185  120663
1673  2016Q2  0.064892  120663
1674  2016Q3  0.065953  120663
1675  2016Q4 -0.042287  120663
1676  2017Q1  0.031097  120663
1677  2017Q2  0.071093  120663
1678  2017Q3  0.021569  120663
1679  2017Q4  0.031698  120663>)
('Key_aum: ', 120663)
      Quarter     Data      ID
55480  2013Q1    13.72  120663
55481  2013Q2    29.93  120663
55482  2013Q3   263.96  120663
55483  2013Q4   299.94  120663
55484  2014Q1   373.74  120663
55485  2014Q2   527.36  120663
55486  2014Q3   766.00  120663
55487  2014Q4  1034.20  120663
55488  2015Q1  1475.55  120663
55489  2015Q2  1696.56  120663
55490  2015Q3  2097.65  120663
55491  2015Q4  2382.10  120663
55492  2016Q1  2452.75  120663
55493  2016Q2  3141.95  120663
55494  2016Q3  3507.54  120663
55495  2016Q4  3583.64  120663
55496  2017Q1  3712.05  120663
55497  2017Q2  3841.38  120663
55498  2017Q3  3990.75  120663
55499  2017Q4  4097.81  120663
('Key_nav : ', 120663)
('data 1 : ', array([-0.0360622 , -0.02327223, -0.01920503,  0.07510119,  0.03810175,
        0.12778733,  0.12119439,  0.08334542,  0.06874116, -0.03065685,
       -0.00334165, -0.02283227, -0.07018481,  0.06489184,  0.06595328,
       -0.04228719,  0.03109658,  0.07109267,  0.02156861,  0.03169842]))
('data 2 :', array([   13.72,    29.93,   263.96,   299.94,   373.74,   527.36,
         766.  ,  1034.2 ,  1475.55,  1696.56,  2097.65,  2382.1 ,
        2452.75,  3141.95,  3507.54,  3583.64,  3712.05,  3841.38,
        3990.75,  4097.81]))
('Key_aum: ', 120664)
      Quarter    Data      ID
56860  2013Q1    6.46  120664
56861  2013Q2   19.57  120664
56862  2013Q3   26.59  120664
56863  2013Q4   33.67  120664
56864  2014Q1   43.16  120664
56865  2014Q2   57.42  120664
56866  2014Q3   72.67  120664
56867  2014Q4   94.23  120664
56868  2015Q1  145.69  120664
56869  2015Q2  298.22  120664
56870  2015Q3  432.03  120664
56871  2015Q4  468.83  120664
56872  2016Q1  463.15  120664
56873  2016Q2  520.04  120664
56874  2016Q3  548.23  120664
56875  2016Q4  471.65  120664
56876  2017Q1  501.22  120664
56877  2017Q2  596.41  120664
56878  2017Q3  700.15  120664
56879  2017Q4  784.83  120664
('Key_nav : ', 120664)
('data 1 : ', array([-0.03231648, -0.0033058 , -0.0143053 , -0.00023956,  0.03607874,
        0.11638259,  0.12717886,  0.07506485,  0.08236885, -0.09600676,
        0.00843807, -0.03262011, -0.09178468,  0.01117461,  0.09132756,
       -0.02572064,  0.0416177 ,  0.02294544,  0.0420786 ,  0.05326269]))
('data 2 :', array([   6.46,   19.57,   26.59,   33.67,   43.16,   57.42,   72.67,
         94.23,  145.69,  298.22,  432.03,  468.83,  463.15,  520.04,
        548.23,  471.65,  501.22,  596.41,  700.15,  784.83]))
('mean : ', array([-0.03231648, -0.0033058 , -0.0143053 , -0.00023956,  0.03607874,
        0.11638259,  0.12717886,  0.07506485,  0.08236885, -0.09600676,
        0.00843807, -0.03262011, -0.09178468,  0.01117461,  0.09132756,
       -0.02572064,  0.0416177 ,  0.02294544,  0.0420786 ,  0.05326269]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
55480  2013Q1    13.72  120663
55481  2013Q2    29.93  120663
55482  2013Q3   263.96  120663
55483  2013Q4   299.94  120663
55484  2014Q1   373.74  120663
55485  2014Q2   527.36  120663
55486  2014Q3   766.00  120663
55487  2014Q4  1034.20  120663
55488  2015Q1  1475.55  120663
55489  2015Q2  1696.56  120663
55490  2015Q3  2097.65  120663
55491  2015Q4  2382.10  120663
55492  2016Q1  2452.75  120663
55493  2016Q2  3141.95  120663
55494  2016Q3  3507.54  120663
55495  2016Q4  3583.64  120663
55496  2017Q1  3712.05  120663
55497  2017Q2  3841.38  120663
55498  2017Q3  3990.75  120663
55499  2017Q4  4097.81  120663
56860  2013Q1     6.46  120664
56861  2013Q2    19.57  120664
56862  2013Q3    26.59  120664
56863  2013Q4    33.67  120664
56864  2014Q1    43.16  120664
56865  2014Q2    57.42  120664
56866  2014Q3    72.67  120664
56867  2014Q4    94.23  120664
56868  2015Q1   145.69  120664
56869  2015Q2   298.22  120664
56870  2015Q3   432.03  120664
56871  2015Q4   468.83  120664
56872  2016Q1   463.15  120664
56873  2016Q2   520.04  120664
56874  2016Q3   548.23  120664
56875  2016Q4   471.65  120664
56876  2017Q1   501.22  120664
56877  2017Q2   596.41  120664
56878  2017Q3   700.15  120664
56879  2017Q4   784.83  120664>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1160  2013Q1 -0.032316  120664
1161  2013Q2 -0.003306  120664
1162  2013Q3 -0.014305  120664
1163  2013Q4 -0.000240  120664
1164  2014Q1  0.036079  120664
1165  2014Q2  0.116383  120664
1166  2014Q3  0.127179  120664
1167  2014Q4  0.075065  120664
1168  2015Q1  0.082369  120664
1169  2015Q2 -0.096007  120664
1170  2015Q3  0.008438  120664
1171  2015Q4 -0.032620  120664
1172  2016Q1 -0.091785  120664
1173  2016Q2  0.011175  120664
1174  2016Q3  0.091328  120664
1175  2016Q4 -0.025721  120664
1176  2017Q1  0.041618  120664
1177  2017Q2  0.022945  120664
1178  2017Q3  0.042079  120664
1179  2017Q4  0.053263  120664
1660  2013Q1 -0.036062  120663
1661  2013Q2 -0.023272  120663
1662  2013Q3 -0.019205  120663
1663  2013Q4  0.075101  120663
1664  2014Q1  0.038102  120663
1665  2014Q2  0.127787  120663
1666  2014Q3  0.121194  120663
1667  2014Q4  0.083345  120663
1668  2015Q1  0.068741  120663
1669  2015Q2 -0.030657  120663

('data 2 :', array([   13.72,    29.93,   263.96,   299.94,   373.74,   527.36,
         766.  ,  1034.2 ,  1475.55,  1696.56,  2097.65,  2382.1 ,
        2452.75,  3141.95,  3507.54,  3583.64,  3712.05,  3841.38,
        3990.75,  4097.81]))
('Key_aum: ', 120664)
      Quarter    Data      ID
56860  2013Q1    6.46  120664
56861  2013Q2   19.57  120664
56862  2013Q3   26.59  120664
56863  2013Q4   33.67  120664
56864  2014Q1   43.16  120664
56865  2014Q2   57.42  120664
56866  2014Q3   72.67  120664
56867  2014Q4   94.23  120664
56868  2015Q1  145.69  120664
56869  2015Q2  298.22  120664
56870  2015Q3  432.03  120664
56871  2015Q4  468.83  120664
56872  2016Q1  463.15  120664
56873  2016Q2  520.04  120664
56874  2016Q3  548.23  120664
56875  2016Q4  471.65  120664
56876  2017Q1  501.22  120664
56877  2017Q2  596.41  120664
56878  2017Q3  700.15  120664
56879  2017Q4  784.83  120664
('Key_nav : ', 120664)
('data 1 : ', array([-0.03231648, -0.0033058 , -0.0143053 , -0.00023956,  0.03607874,
        0.11638259,  0.12717886,  0.07506485,  0.08236885, -0.09600676,
        0.00843807, -0.03262011, -0.09178468,  0.01117461,  0.09132756,
       -0.02572064,  0.0416177 ,  0.02294544,  0.0420786 ,  0.05326269]))
('data 2 :', array([   6.46,   19.57,   26.59,   33.67,   43.16,   57.42,   72.67,
         94.23,  145.69,  298.22,  432.03,  468.83,  463.15,  520.04,
        548.23,  471.65,  501.22,  596.41,  700.15,  784.83]))
('mean : ', array([-0.03231648, -0.0033058 , -0.0143053 , -0.00023956,  0.03607874,
        0.11638259,  0.12717886,  0.07506485,  0.08236885, -0.09600676,
        0.00843807, -0.03262011, -0.09178468,  0.01117461,  0.09132756,
       -0.02572064,  0.0416177 ,  0.02294544,  0.0420786 ,  0.05326269]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
55480  2013Q1    13.72  120663
55481  2013Q2    29.93  120663
55482  2013Q3   263.96  120663
55483  2013Q4   299.94  120663
55484  2014Q1   373.74  120663
55485  2014Q2   527.36  120663
55486  2014Q3   766.00  120663
55487  2014Q4  1034.20  120663
55488  2015Q1  1475.55  120663
55489  2015Q2  1696.56  120663
55490  2015Q3  2097.65  120663
55491  2015Q4  2382.10  120663
55492  2016Q1  2452.75  120663
55493  2016Q2  3141.95  120663
55494  2016Q3  3507.54  120663
55495  2016Q4  3583.64  120663
55496  2017Q1  3712.05  120663
55497  2017Q2  3841.38  120663
55498  2017Q3  3990.75  120663
55499  2017Q4  4097.81  120663
56860  2013Q1     6.46  120664
56861  2013Q2    19.57  120664
56862  2013Q3    26.59  120664
56863  2013Q4    33.67  120664
56864  2014Q1    43.16  120664
56865  2014Q2    57.42  120664
56866  2014Q3    72.67  120664
56867  2014Q4    94.23  120664
56868  2015Q1   145.69  120664
56869  2015Q2   298.22  120664
56870  2015Q3   432.03  120664
56871  2015Q4   468.83  120664
56872  2016Q1   463.15  120664
56873  2016Q2   520.04  120664
56874  2016Q3   548.23  120664
56875  2016Q4   471.65  120664
56876  2017Q1   501.22  120664
56877  2017Q2   596.41  120664
56878  2017Q3   700.15  120664
56879  2017Q4   784.83  120664>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1160  2013Q1 -0.032316  120664
1161  2013Q2 -0.003306  120664
1162  2013Q3 -0.014305  120664
1163  2013Q4 -0.000240  120664
1164  2014Q1  0.036079  120664
1165  2014Q2  0.116383  120664
1166  2014Q3  0.127179  120664
1167  2014Q4  0.075065  120664
1168  2015Q1  0.082369  120664
1169  2015Q2 -0.096007  120664
1170  2015Q3  0.008438  120664
1171  2015Q4 -0.032620  120664
1172  2016Q1 -0.091785  120664
1173  2016Q2  0.011175  120664
1174  2016Q3  0.091328  120664
1175  2016Q4 -0.025721  120664
1176  2017Q1  0.041618  120664
1177  2017Q2  0.022945  120664
1178  2017Q3  0.042079  120664
1179  2017Q4  0.053263  120664
1660  2013Q1 -0.036062  120663
1661  2013Q2 -0.023272  120663
1662  2013Q3 -0.019205  120663
1663  2013Q4  0.075101  120663
1664  2014Q1  0.038102  120663
1665  2014Q2  0.127787  120663
1666  2014Q3  0.121194  120663
1667  2014Q4  0.083345  120663
1668  2015Q1  0.068741  120663
1669  2015Q2 -0.030657  120663
1670  2015Q3 -0.003342  120663
1671  2015Q4 -0.022832  120663
1672  2016Q1 -0.070185  120663
1673  2016Q2  0.064892  120663
1674  2016Q3  0.065953  120663
1675  2016Q4 -0.042287  120663
1676  2017Q1  0.031097  120663
1677  2017Q2  0.071093  120663
1678  2017Q3  0.021569  120663
1679  2017Q4  0.031698  120663>)
('Key_aum: ', 120663)
      Quarter     Data      ID
55480  2013Q1    13.72  120663
55481  2013Q2    29.93  120663
55482  2013Q3   263.96  120663
55483  2013Q4   299.94  120663
55484  2014Q1   373.74  120663
55485  2014Q2   527.36  120663
55486  2014Q3   766.00  120663
55487  2014Q4  1034.20  120663
55488  2015Q1  1475.55  120663
55489  2015Q2  1696.56  120663
55490  2015Q3  2097.65  120663
55491  2015Q4  2382.10  120663
55492  2016Q1  2452.75  120663
55493  2016Q2  3141.95  120663
55494  2016Q3  3507.54  120663
55495  2016Q4  3583.64  120663
55496  2017Q1  3712.05  120663
55497  2017Q2  3841.38  120663
55498  2017Q3  3990.75  120663
55499  2017Q4  4097.81  120663
('Key_nav : ', 120663)
('data 1 : ', array([-0.0360622 , -0.02327223, -0.01920503,  0.07510119,  0.03810175,
        0.12778733,  0.12119439,  0.08334542,  0.06874116, -0.03065685,
       -0.00334165, -0.02283227, -0.07018481,  0.06489184,  0.06595328,
       -0.04228719,  0.03109658,  0.07109267,  0.02156861,  0.03169842]))
('data 2 :', array([   13.72,    29.93,   263.96,   299.94,   373.74,   527.36,
         766.  ,  1034.2 ,  1475.55,  1696.56,  2097.65,  2382.1 ,
        2452.75,  3141.95,  3507.54,  3583.64,  3712.05,  3841.38,
        3990.75,  4097.81]))
('Key_aum: ', 120664)
      Quarter    Data      ID
56860  2013Q1    6.46  120664
56861  2013Q2   19.57  120664
56862  2013Q3   26.59  120664
56863  2013Q4   33.67  120664
56864  2014Q1   43.16  120664
56865  2014Q2   57.42  120664
56866  2014Q3   72.67  120664
56867  2014Q4   94.23  120664
56868  2015Q1  145.69  120664
56869  2015Q2  298.22  120664
56870  2015Q3  432.03  120664
56871  2015Q4  468.83  120664
56872  2016Q1  463.15  120664
56873  2016Q2  520.04  120664
56874  2016Q3  548.23  120664
56875  2016Q4  471.65  120664
56876  2017Q1  501.22  120664
56877  2017Q2  596.41  120664
56878  2017Q3  700.15  120664
56879  2017Q4  784.83  120664
('Key_nav : ', 120664)
('data 1 : ', array([-0.03231648, -0.0033058 , -0.0143053 , -0.00023956,  0.03607874,
        0.11638259,  0.12717886,  0.07506485,  0.08236885, -0.09600676,
        0.00843807, -0.03262011, -0.09178468,  0.01117461,  0.09132756,
       -0.02572064,  0.0416177 ,  0.02294544,  0.0420786 ,  0.05326269]))
('data 2 :', array([   6.46,   19.57,   26.59,   33.67,   43.16,   57.42,   72.67,
         94.23,  145.69,  298.22,  432.03,  468.83,  463.15,  520.04,
        548.23,  471.65,  501.22,  596.41,  700.15,  784.83]))
('mean : ', array([-0.03231648, -0.0033058 , -0.0143053 , -0.00023956,  0.03607874,
        0.11638259,  0.12717886,  0.07506485,  0.08236885, -0.09600676,
        0.00843807, -0.03262011, -0.09178468,  0.01117461,  0.09132756,
       -0.02572064,  0.0416177 ,  0.02294544,  0.0420786 ,  0.05326269]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
55480  2013Q1    13.72  120663
55481  2013Q2    29.93  120663
55482  2013Q3   263.96  120663
55483  2013Q4   299.94  120663
55484  2014Q1   373.74  120663
55485  2014Q2   527.36  120663
55486  2014Q3   766.00  120663
55487  2014Q4  1034.20  120663
55488  2015Q1  1475.55  120663
55489  2015Q2  1696.56  120663
55490  2015Q3  2097.65  120663
55491  2015Q4  2382.10  120663
55492  2016Q1  2452.75  120663
55493  2016Q2  3141.95  120663
55494  2016Q3  3507.54  120663
55495  2016Q4  3583.64  120663
55496  2017Q1  3712.05  120663
55497  2017Q2  3841.38  120663
55498  2017Q3  3990.75  120663
55499  2017Q4  4097.81  120663
56860  2013Q1     6.46  120664
56861  2013Q2    19.57  120664
56862  2013Q3    26.59  120664
56863  2013Q4    33.67  120664
56864  2014Q1    43.16  120664
56865  2014Q2    57.42  120664
56866  2014Q3    72.67  120664
56867  2014Q4    94.23  120664
56868  2015Q1   145.69  120664
56869  2015Q2   298.22  120664
56870  2015Q3   432.03  120664
56871  2015Q4   468.83  120664
56872  2016Q1   463.15  120664
56873  2016Q2   520.04  120664
56874  2016Q3   548.23  120664
56875  2016Q4   471.65  120664
56876  2017Q1   501.22  120664
56877  2017Q2   596.41  120664
56878  2017Q3   700.15  120664
56879  2017Q4   784.83  120664>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1160  2013Q1 -0.032316  120664
1161  2013Q2 -0.003306  120664
1162  2013Q3 -0.014305  120664
1163  2013Q4 -0.000240  120664
1164  2014Q1  0.036079  120664
1165  2014Q2  0.116383  120664
1166  2014Q3  0.127179  120664
1167  2014Q4  0.075065  120664
1168  2015Q1  0.082369  120664
1169  2015Q2 -0.096007  120664
1170  2015Q3  0.008438  120664
1171  2015Q4 -0.032620  120664
1172  2016Q1 -0.091785  120664
1173  2016Q2  0.011175  120664
1174  2016Q3  0.091328  120664
1175  2016Q4 -0.025721  120664
1176  2017Q1  0.041618  120664
1177  2017Q2  0.022945  120664
1178  2017Q3  0.042079  120664
1179  2017Q4  0.053263  120664
1660  2013Q1 -0.036062  120663
1661  2013Q2 -0.023272  120663
1662  2013Q3 -0.019205  120663
1663  2013Q4  0.075101  120663
1664  2014Q1  0.038102  120663
1665  2014Q2  0.127787  120663
1666  2014Q3  0.121194  120663
1667  2014Q4  0.083345  120663
1668  2015Q1  0.068741  120663
1669  2015Q2 -0.030657  120663
1670  2015Q3 -0.003342  120663
1671  2015Q4 -0.022832  120663
1672  2016Q1 -0.070185  120663
1673  2016Q2  0.064892  120663
1674  2016Q3  0.065953  120663
1675  2016Q4 -0.042287  120663
1676  2017Q1  0.031097  120663
1677  2017Q2  0.071093  120663
1678  2017Q3  0.021569  120663
1679  2017Q4  0.031698  120663>)
('Key_aum: ', 120663)
      Quarter     Data      ID
55480  2013Q1    13.72  120663
55481  2013Q2    29.93  120663
55482  2013Q3   263.96  120663
55483  2013Q4   299.94  120663
55484  2014Q1   373.74  120663
55485  2014Q2   527.36  120663
55486  2014Q3   766.00  120663
55487  2014Q4  1034.20  120663
55488  2015Q1  1475.55  120663
55489  2015Q2  1696.56  120663
55490  2015Q3  2097.65  120663
55491  2015Q4  2382.10  120663
55492  2016Q1  2452.75  120663
55493  2016Q2  3141.95  120663
55494  2016Q3  3507.54  120663
55495  2016Q4  3583.64  120663
55496  2017Q1  3712.05  120663
55497  2017Q2  3841.38  120663
55498  2017Q3  3990.75  120663
55499  2017Q4  4097.81  120663
('Key_nav : ', 120663)
('data 1 : ', array([-0.0360622 , -0.02327223, -0.01920503,  0.07510119,  0.03810175,
        0.12778733,  0.12119439,  0.08334542,  0.06874116, -0.03065685,
       -0.00334165, -0.02283227, -0.07018481,  0.06489184,  0.06595328,
       -0.04228719,  0.03109658,  0.07109267,  0.02156861,  0.03169842]))
('data 2 :', array([   13.72,    29.93,   263.96,   299.94,   373.74,   527.36,
         766.  ,  1034.2 ,  1475.55,  1696.56,  2097.65,  2382.1 ,
        2452.75,  3141.95,  3507.54,  3583.64,  3712.05,  3841.38,
        3990.75,  4097.81]))
('Key_aum: ', 120664)
      Quarter    Data      ID
56860  2013Q1    6.46  120664
56861  2013Q2   19.57  120664
56862  2013Q3   26.59  120664
56863  2013Q4   33.67  120664
56864  2014Q1   43.16  120664
56865  2014Q2   57.42  120664
56866  2014Q3   72.67  120664
56867  2014Q4   94.23  120664
56868  2015Q1  145.69  120664
56869  2015Q2  298.22  120664
56870  2015Q3  432.03  120664
56871  2015Q4  468.83  120664
56872  2016Q1  463.15  120664
56873  2016Q2  520.04  120664
56874  2016Q3  548.23  120664
56875  2016Q4  471.65  120664
56876  2017Q1  501.22  120664
56877  2017Q2  596.41  120664
56878  2017Q3  700.15  120664
56879  2017Q4  784.83  120664
('Key_nav : ', 120664)
('data 1 : ', array([-0.03231648, -0.0033058 , -0.0143053 , -0.00023956,  0.03607874,
        0.11638259,  0.12717886,  0.07506485,  0.08236885, -0.09600676,
        0.00843807, -0.03262011, -0.09178468,  0.01117461,  0.09132756,
       -0.02572064,  0.0416177 ,  0.02294544,  0.0420786 ,  0.05326269]))
('data 2 :', array([   6.46,   19.57,   26.59,   33.67,   43.16,   57.42,   72.67,
         94.23,  145.69,  298.22,  432.03,  468.83,  463.15,  520.04,
        548.23,  471.65,  501.22,  596.41,  700.15,  784.83]))
('mean : ', array([-0.03231648, -0.0033058 , -0.0143053 , -0.00023956,  0.03607874,
        0.11638259,  0.12717886,  0.07506485,  0.08236885, -0.09600676,
        0.00843807, -0.03262011, -0.09178468,  0.01117461,  0.09132756,
       -0.02572064,  0.0416177 ,  0.02294544,  0.0420786 ,  0.05326269]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
55480  2013Q1    13.72  120663
55481  2013Q2    29.93  120663
55482  2013Q3   263.96  120663
55483  2013Q4   299.94  120663
55484  2014Q1   373.74  120663
55485  2014Q2   527.36  120663
55486  2014Q3   766.00  120663
55487  2014Q4  1034.20  120663
55488  2015Q1  1475.55  120663
55489  2015Q2  1696.56  120663
55490  2015Q3  2097.65  120663
55491  2015Q4  2382.10  120663
55492  2016Q1  2452.75  120663
55493  2016Q2  3141.95  120663
55494  2016Q3  3507.54  120663
55495  2016Q4  3583.64  120663
55496  2017Q1  3712.05  120663
55497  2017Q2  3841.38  120663
55498  2017Q3  3990.75  120663
55499  2017Q4  4097.81  120663
56860  2013Q1     6.46  120664
56861  2013Q2    19.57  120664
56862  2013Q3    26.59  120664
56863  2013Q4    33.67  120664
56864  2014Q1    43.16  120664
56865  2014Q2    57.42  120664
56866  2014Q3    72.67  120664
56867  2014Q4    94.23  120664
56868  2015Q1   145.69  120664
56869  2015Q2   298.22  120664
56870  2015Q3   432.03  120664
56871  2015Q4   468.83  120664
56872  2016Q1   463.15  120664
56873  2016Q2   520.04  120664
56874  2016Q3   548.23  120664
56875  2016Q4   471.65  120664
56876  2017Q1   501.22  120664
56877  2017Q2   596.41  120664
56878  2017Q3   700.15  120664
56879  2017Q4   784.83  120664>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1160  2013Q1 -0.032316  120664
1161  2013Q2 -0.003306  120664
1162  2013Q3 -0.014305  120664
1163  2013Q4 -0.000240  120664
1164  2014Q1  0.036079  120664
1165  2014Q2  0.116383  120664
1166  2014Q3  0.127179  120664
1167  2014Q4  0.075065  120664
1168  2015Q1  0.082369  120664
1169  2015Q2 -0.096007  120664
1170  2015Q3  0.008438  120664
1171  2015Q4 -0.032620  120664
1172  2016Q1 -0.091785  120664
1173  2016Q2  0.011175  120664
1174  2016Q3  0.091328  120664
1175  2016Q4 -0.025721  120664
1176  2017Q1  0.041618  120664
1177  2017Q2  0.022945  120664
1178  2017Q3  0.042079  120664
1179  2017Q4  0.053263  120664
1660  2013Q1 -0.036062  120663
1661  2013Q2 -0.023272  120663
1662  2013Q3 -0.019205  120663
1663  2013Q4  0.075101  120663
1664  2014Q1  0.038102  120663
1665  2014Q2  0.127787  120663
1666  2014Q3  0.121194  120663
1667  2014Q4  0.083345  120663
1668  2015Q1  0.068741  120663
1669  2015Q2 -0.030657  120663
1670  2015Q3 -0.003342  120663
1671  2015Q4 -0.022832  120663
1672  2016Q1 -0.070185  120663
1673  2016Q2  0.064892  120663
1674  2016Q3  0.065953  120663
1675  2016Q4 -0.042287  120663
1676  2017Q1  0.031097  120663
1677  2017Q2  0.071093  120663
1678  2017Q3  0.021569  120663
1679  2017Q4  0.031698  120663>)
('Key_aum: ', 120663)
      Quarter     Data      ID
55480  2013Q1    13.72  120663
55481  2013Q2    29.93  120663
55482  2013Q3   263.96  120663
55483  2013Q4   299.94  120663
55484  2014Q1   373.74  120663
55485  2014Q2   527.36  120663
55486  2014Q3   766.00  120663
55487  2014Q4  1034.20  120663
55488  2015Q1  1475.55  120663
55489  2015Q2  1696.56  120663
55490  2015Q3  2097.65  120663
55491  2015Q4  2382.10  120663
55492  2016Q1  2452.75  120663
55493  2016Q2  3141.95  120663
55494  2016Q3  3507.54  120663
55495  2016Q4  3583.64  120663
55496  2017Q1  3712.05  120663
55497  2017Q2  3841.38  120663
55498  2017Q3  3990.75  120663
55499  2017Q4  4097.81  120663
('Key_nav : ', 120663)
('data 1 : ', array([-0.0360622 , -0.02327223, -0.01920503,  0.07510119,  0.03810175,
        0.12778733,  0.12119439,  0.08334542,  0.06874116, -0.03065685,
       -0.00334165, -0.02283227, -0.07018481,  0.06489184,  0.06595328,
       -0.04228719,  0.03109658,  0.07109267,  0.02156861,  0.03169842]))
('data 2 :', array([   13.72,    29.93,   263.96,   299.94,   373.74,   527.36,
         766.  ,  1034.2 ,  1475.55,  1696.56,  2097.65,  2382.1 ,
        2452.75,  3141.95,  3507.54,  3583.64,  3712.05,  3841.38,
        3990.75,  4097.81]))
('Key_aum: ', 120664)
      Quarter    Data      ID
56860  2013Q1    6.46  120664
56861  2013Q2   19.57  120664
56862  2013Q3   26.59  120664
56863  2013Q4   33.67  120664
56864  2014Q1   43.16  120664
56865  2014Q2   57.42  120664
56866  2014Q3   72.67  120664
56867  2014Q4   94.23  120664
56868  2015Q1  145.69  120664
56869  2015Q2  298.22  120664
56870  2015Q3  432.03  120664
56871  2015Q4  468.83  120664
56872  2016Q1  463.15  120664
56873  2016Q2  520.04  120664
56874  2016Q3  548.23  120664
56875  2016Q4  471.65  120664
56876  2017Q1  501.22  120664
56877  2017Q2  596.41  120664
56878  2017Q3  700.15  120664
56879  2017Q4  784.83  120664
('Key_nav : ', 120664)
('data 1 : ', array([-0.03231648, -0.0033058 , -0.0143053 , -0.00023956,  0.03607874,
        0.11638259,  0.12717886,  0.07506485,  0.08236885, -0.09600676,
        0.00843807, -0.03262011, -0.09178468,  0.01117461,  0.09132756,
       -0.02572064,  0.0416177 ,  0.02294544,  0.0420786 ,  0.05326269]))
('data 2 :', array([   6.46,   19.57,   26.59,   33.67,   43.16,   57.42,   72.67,
         94.23,  145.69,  298.22,  432.03,  468.83,  463.15,  520.04,
        548.23,  471.65,  501.22,  596.41,  700.15,  784.83]))
('mean : ', array([-0.03231648, -0.0033058 , -0.0143053 , -0.00023956,  0.03607874,
        0.11638259,  0.12717886,  0.07506485,  0.08236885, -0.09600676,
        0.00843807, -0.03262011, -0.09178468,  0.01117461,  0.09132756,
       -0.02572064,  0.0416177 ,  0.02294544,  0.0420786 ,  0.05326269]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
55480  2013Q1    13.72  120663
55481  2013Q2    29.93  120663
55482  2013Q3   263.96  120663
55483  2013Q4   299.94  120663
55484  2014Q1   373.74  120663
55485  2014Q2   527.36  120663
55486  2014Q3   766.00  120663
55487  2014Q4  1034.20  120663
55488  2015Q1  1475.55  120663
55489  2015Q2  1696.56  120663
55490  2015Q3  2097.65  120663
55491  2015Q4  2382.10  120663
55492  2016Q1  2452.75  120663
55493  2016Q2  3141.95  120663
55494  2016Q3  3507.54  120663
55495  2016Q4  3583.64  120663
55496  2017Q1  3712.05  120663
55497  2017Q2  3841.38  120663
55498  2017Q3  3990.75  120663
55499  2017Q4  4097.81  120663
56860  2013Q1     6.46  120664
56861  2013Q2    19.57  120664
56862  2013Q3    26.59  120664
56863  2013Q4    33.67  120664
56864  2014Q1    43.16  120664
56865  2014Q2    57.42  120664
56866  2014Q3    72.67  120664
56867  2014Q4    94.23  120664
56868  2015Q1   145.69  120664
56869  2015Q2   298.22  120664
56870  2015Q3   432.03  120664
56871  2015Q4   468.83  120664
56872  2016Q1   463.15  120664
56873  2016Q2   520.04  120664
56874  2016Q3   548.23  120664
56875  2016Q4   471.65  120664
56876  2017Q1   501.22  120664
56877  2017Q2   596.41  120664
56878  2017Q3   700.15  120664
56879  2017Q4   784.83  120664>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1160  2013Q1 -0.032316  120664
1161  2013Q2 -0.003306  120664
1162  2013Q3 -0.014305  120664
1163  2013Q4 -0.000240  120664
1164  2014Q1  0.036079  120664
1165  2014Q2  0.116383  120664
1166  2014Q3  0.127179  120664
1167  2014Q4  0.075065  120664
1168  2015Q1  0.082369  120664
1169  2015Q2 -0.096007  120664
1170  2015Q3  0.008438  120664
1171  2015Q4 -0.032620  120664
1172  2016Q1 -0.091785  120664
1173  2016Q2  0.011175  120664
1174  2016Q3  0.091328  120664
1175  2016Q4 -0.025721  120664
1176  2017Q1  0.041618  120664
1177  2017Q2  0.022945  120664
1178  2017Q3  0.042079  120664
1179  2017Q4  0.053263  120664
1660  2013Q1 -0.036062  120663
1661  2013Q2 -0.023272  120663
1662  2013Q3 -0.019205  120663

('Key_aum: ', 120664)
      Quarter    Data      ID
56860  2013Q1    6.46  120664
56861  2013Q2   19.57  120664
56862  2013Q3   26.59  120664
56863  2013Q4   33.67  120664
56864  2014Q1   43.16  120664
56865  2014Q2   57.42  120664
56866  2014Q3   72.67  120664
56867  2014Q4   94.23  120664
56868  2015Q1  145.69  120664
56869  2015Q2  298.22  120664
56870  2015Q3  432.03  120664
56871  2015Q4  468.83  120664
56872  2016Q1  463.15  120664
56873  2016Q2  520.04  120664
56874  2016Q3  548.23  120664
56875  2016Q4  471.65  120664
56876  2017Q1  501.22  120664
56877  2017Q2  596.41  120664
56878  2017Q3  700.15  120664
56879  2017Q4  784.83  120664
('Key_nav : ', 120664)
('data 1 : ', array([-0.03231648, -0.0033058 , -0.0143053 , -0.00023956,  0.03607874,
        0.11638259,  0.12717886,  0.07506485,  0.08236885, -0.09600676,
        0.00843807, -0.03262011, -0.09178468,  0.01117461,  0.09132756,
       -0.02572064,  0.0416177 ,  0.02294544,  0.0420786 ,  0.05326269]))
('data 2 :', array([   6.46,   19.57,   26.59,   33.67,   43.16,   57.42,   72.67,
         94.23,  145.69,  298.22,  432.03,  468.83,  463.15,  520.04,
        548.23,  471.65,  501.22,  596.41,  700.15,  784.83]))
('mean : ', array([-0.03231648, -0.0033058 , -0.0143053 , -0.00023956,  0.03607874,
        0.11638259,  0.12717886,  0.07506485,  0.08236885, -0.09600676,
        0.00843807, -0.03262011, -0.09178468,  0.01117461,  0.09132756,
       -0.02572064,  0.0416177 ,  0.02294544,  0.0420786 ,  0.05326269]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
55480  2013Q1    13.72  120663
55481  2013Q2    29.93  120663
55482  2013Q3   263.96  120663
55483  2013Q4   299.94  120663
55484  2014Q1   373.74  120663
55485  2014Q2   527.36  120663
55486  2014Q3   766.00  120663
55487  2014Q4  1034.20  120663
55488  2015Q1  1475.55  120663
55489  2015Q2  1696.56  120663
55490  2015Q3  2097.65  120663
55491  2015Q4  2382.10  120663
55492  2016Q1  2452.75  120663
55493  2016Q2  3141.95  120663
55494  2016Q3  3507.54  120663
55495  2016Q4  3583.64  120663
55496  2017Q1  3712.05  120663
55497  2017Q2  3841.38  120663
55498  2017Q3  3990.75  120663
55499  2017Q4  4097.81  120663
56860  2013Q1     6.46  120664
56861  2013Q2    19.57  120664
56862  2013Q3    26.59  120664
56863  2013Q4    33.67  120664
56864  2014Q1    43.16  120664
56865  2014Q2    57.42  120664
56866  2014Q3    72.67  120664
56867  2014Q4    94.23  120664
56868  2015Q1   145.69  120664
56869  2015Q2   298.22  120664
56870  2015Q3   432.03  120664
56871  2015Q4   468.83  120664
56872  2016Q1   463.15  120664
56873  2016Q2   520.04  120664
56874  2016Q3   548.23  120664
56875  2016Q4   471.65  120664
56876  2017Q1   501.22  120664
56877  2017Q2   596.41  120664
56878  2017Q3   700.15  120664
56879  2017Q4   784.83  120664>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1160  2013Q1 -0.032316  120664
1161  2013Q2 -0.003306  120664
1162  2013Q3 -0.014305  120664
1163  2013Q4 -0.000240  120664
1164  2014Q1  0.036079  120664
1165  2014Q2  0.116383  120664
1166  2014Q3  0.127179  120664
1167  2014Q4  0.075065  120664
1168  2015Q1  0.082369  120664
1169  2015Q2 -0.096007  120664
1170  2015Q3  0.008438  120664
1171  2015Q4 -0.032620  120664
1172  2016Q1 -0.091785  120664
1173  2016Q2  0.011175  120664
1174  2016Q3  0.091328  120664
1175  2016Q4 -0.025721  120664
1176  2017Q1  0.041618  120664
1177  2017Q2  0.022945  120664
1178  2017Q3  0.042079  120664
1179  2017Q4  0.053263  120664
1660  2013Q1 -0.036062  120663
1661  2013Q2 -0.023272  120663
1662  2013Q3 -0.019205  120663
1663  2013Q4  0.075101  120663
1664  2014Q1  0.038102  120663
1665  2014Q2  0.127787  120663
1666  2014Q3  0.121194  120663
1667  2014Q4  0.083345  120663
1668  2015Q1  0.068741  120663
1669  2015Q2 -0.030657  120663
1670  2015Q3 -0.003342  120663
1671  2015Q4 -0.022832  120663
1672  2016Q1 -0.070185  120663
1673  2016Q2  0.064892  120663
1674  2016Q3  0.065953  120663
1675  2016Q4 -0.042287  120663
1676  2017Q1  0.031097  120663
1677  2017Q2  0.071093  120663
1678  2017Q3  0.021569  120663
1679  2017Q4  0.031698  120663>)
('Key_aum: ', 120663)
      Quarter     Data      ID
55480  2013Q1    13.72  120663
55481  2013Q2    29.93  120663
55482  2013Q3   263.96  120663
55483  2013Q4   299.94  120663
55484  2014Q1   373.74  120663
55485  2014Q2   527.36  120663
55486  2014Q3   766.00  120663
55487  2014Q4  1034.20  120663
55488  2015Q1  1475.55  120663
55489  2015Q2  1696.56  120663
55490  2015Q3  2097.65  120663
55491  2015Q4  2382.10  120663
55492  2016Q1  2452.75  120663
55493  2016Q2  3141.95  120663
55494  2016Q3  3507.54  120663
55495  2016Q4  3583.64  120663
55496  2017Q1  3712.05  120663
55497  2017Q2  3841.38  120663
55498  2017Q3  3990.75  120663
55499  2017Q4  4097.81  120663
('Key_nav : ', 120663)
('data 1 : ', array([-0.0360622 , -0.02327223, -0.01920503,  0.07510119,  0.03810175,
        0.12778733,  0.12119439,  0.08334542,  0.06874116, -0.03065685,
       -0.00334165, -0.02283227, -0.07018481,  0.06489184,  0.06595328,
       -0.04228719,  0.03109658,  0.07109267,  0.02156861,  0.03169842]))
('data 2 :', array([   13.72,    29.93,   263.96,   299.94,   373.74,   527.36,
         766.  ,  1034.2 ,  1475.55,  1696.56,  2097.65,  2382.1 ,
        2452.75,  3141.95,  3507.54,  3583.64,  3712.05,  3841.38,
        3990.75,  4097.81]))
('Key_aum: ', 120664)
      Quarter    Data      ID
56860  2013Q1    6.46  120664
56861  2013Q2   19.57  120664
56862  2013Q3   26.59  120664
56863  2013Q4   33.67  120664
56864  2014Q1   43.16  120664
56865  2014Q2   57.42  120664
56866  2014Q3   72.67  120664
56867  2014Q4   94.23  120664
56868  2015Q1  145.69  120664
56869  2015Q2  298.22  120664
56870  2015Q3  432.03  120664
56871  2015Q4  468.83  120664
56872  2016Q1  463.15  120664
56873  2016Q2  520.04  120664
56874  2016Q3  548.23  120664
56875  2016Q4  471.65  120664
56876  2017Q1  501.22  120664
56877  2017Q2  596.41  120664
56878  2017Q3  700.15  120664
56879  2017Q4  784.83  120664
('Key_nav : ', 120664)
('data 1 : ', array([-0.03231648, -0.0033058 , -0.0143053 , -0.00023956,  0.03607874,
        0.11638259,  0.12717886,  0.07506485,  0.08236885, -0.09600676,
        0.00843807, -0.03262011, -0.09178468,  0.01117461,  0.09132756,
       -0.02572064,  0.0416177 ,  0.02294544,  0.0420786 ,  0.05326269]))
('data 2 :', array([   6.46,   19.57,   26.59,   33.67,   43.16,   57.42,   72.67,
         94.23,  145.69,  298.22,  432.03,  468.83,  463.15,  520.04,
        548.23,  471.65,  501.22,  596.41,  700.15,  784.83]))
('mean : ', array([-0.03231648, -0.0033058 , -0.0143053 , -0.00023956,  0.03607874,
        0.11638259,  0.12717886,  0.07506485,  0.08236885, -0.09600676,
        0.00843807, -0.03262011, -0.09178468,  0.01117461,  0.09132756,
       -0.02572064,  0.0416177 ,  0.02294544,  0.0420786 ,  0.05326269]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
55480  2013Q1    13.72  120663
55481  2013Q2    29.93  120663
55482  2013Q3   263.96  120663
55483  2013Q4   299.94  120663
55484  2014Q1   373.74  120663
55485  2014Q2   527.36  120663
55486  2014Q3   766.00  120663
55487  2014Q4  1034.20  120663
55488  2015Q1  1475.55  120663
55489  2015Q2  1696.56  120663
55490  2015Q3  2097.65  120663
55491  2015Q4  2382.10  120663
55492  2016Q1  2452.75  120663
55493  2016Q2  3141.95  120663
55494  2016Q3  3507.54  120663
55495  2016Q4  3583.64  120663
55496  2017Q1  3712.05  120663
55497  2017Q2  3841.38  120663
55498  2017Q3  3990.75  120663
55499  2017Q4  4097.81  120663
56860  2013Q1     6.46  120664
56861  2013Q2    19.57  120664
56862  2013Q3    26.59  120664
56863  2013Q4    33.67  120664
56864  2014Q1    43.16  120664
56865  2014Q2    57.42  120664
56866  2014Q3    72.67  120664
56867  2014Q4    94.23  120664
56868  2015Q1   145.69  120664
56869  2015Q2   298.22  120664
56870  2015Q3   432.03  120664
56871  2015Q4   468.83  120664
56872  2016Q1   463.15  120664
56873  2016Q2   520.04  120664
56874  2016Q3   548.23  120664
56875  2016Q4   471.65  120664
56876  2017Q1   501.22  120664
56877  2017Q2   596.41  120664
56878  2017Q3   700.15  120664
56879  2017Q4   784.83  120664>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1160  2013Q1 -0.032316  120664
1161  2013Q2 -0.003306  120664
1162  2013Q3 -0.014305  120664
1163  2013Q4 -0.000240  120664
1164  2014Q1  0.036079  120664
1165  2014Q2  0.116383  120664
1166  2014Q3  0.127179  120664
1167  2014Q4  0.075065  120664
1168  2015Q1  0.082369  120664
1169  2015Q2 -0.096007  120664
1170  2015Q3  0.008438  120664
1171  2015Q4 -0.032620  120664
1172  2016Q1 -0.091785  120664
1173  2016Q2  0.011175  120664
1174  2016Q3  0.091328  120664
1175  2016Q4 -0.025721  120664
1176  2017Q1  0.041618  120664
1177  2017Q2  0.022945  120664
1178  2017Q3  0.042079  120664
1179  2017Q4  0.053263  120664
1660  2013Q1 -0.036062  120663
1661  2013Q2 -0.023272  120663
1662  2013Q3 -0.019205  120663
1663  2013Q4  0.075101  120663
1664  2014Q1  0.038102  120663
1665  2014Q2  0.127787  120663
1666  2014Q3  0.121194  120663
1667  2014Q4  0.083345  120663
1668  2015Q1  0.068741  120663
1669  2015Q2 -0.030657  120663
1670  2015Q3 -0.003342  120663
1671  2015Q4 -0.022832  120663
1672  2016Q1 -0.070185  120663
1673  2016Q2  0.064892  120663
1674  2016Q3  0.065953  120663
1675  2016Q4 -0.042287  120663
1676  2017Q1  0.031097  120663
1677  2017Q2  0.071093  120663
1678  2017Q3  0.021569  120663
1679  2017Q4  0.031698  120663>)
('Key_aum: ', 120663)
      Quarter     Data      ID
55480  2013Q1    13.72  120663
55481  2013Q2    29.93  120663
55482  2013Q3   263.96  120663
55483  2013Q4   299.94  120663
55484  2014Q1   373.74  120663
55485  2014Q2   527.36  120663
55486  2014Q3   766.00  120663
55487  2014Q4  1034.20  120663
55488  2015Q1  1475.55  120663
55489  2015Q2  1696.56  120663
55490  2015Q3  2097.65  120663
55491  2015Q4  2382.10  120663
55492  2016Q1  2452.75  120663
55493  2016Q2  3141.95  120663
55494  2016Q3  3507.54  120663
55495  2016Q4  3583.64  120663
55496  2017Q1  3712.05  120663
55497  2017Q2  3841.38  120663
55498  2017Q3  3990.75  120663
55499  2017Q4  4097.81  120663
('Key_nav : ', 120663)
('data 1 : ', array([-0.0360622 , -0.02327223, -0.01920503,  0.07510119,  0.03810175,
        0.12778733,  0.12119439,  0.08334542,  0.06874116, -0.03065685,
       -0.00334165, -0.02283227, -0.07018481,  0.06489184,  0.06595328,
       -0.04228719,  0.03109658,  0.07109267,  0.02156861,  0.03169842]))
('data 2 :', array([   13.72,    29.93,   263.96,   299.94,   373.74,   527.36,
         766.  ,  1034.2 ,  1475.55,  1696.56,  2097.65,  2382.1 ,
        2452.75,  3141.95,  3507.54,  3583.64,  3712.05,  3841.38,
        3990.75,  4097.81]))
('Key_aum: ', 120664)
      Quarter    Data      ID
56860  2013Q1    6.46  120664
56861  2013Q2   19.57  120664
56862  2013Q3   26.59  120664
56863  2013Q4   33.67  120664
56864  2014Q1   43.16  120664
56865  2014Q2   57.42  120664
56866  2014Q3   72.67  120664
56867  2014Q4   94.23  120664
56868  2015Q1  145.69  120664
56869  2015Q2  298.22  120664
56870  2015Q3  432.03  120664
56871  2015Q4  468.83  120664
56872  2016Q1  463.15  120664
56873  2016Q2  520.04  120664
56874  2016Q3  548.23  120664
56875  2016Q4  471.65  120664
56876  2017Q1  501.22  120664
56877  2017Q2  596.41  120664
56878  2017Q3  700.15  120664
56879  2017Q4  784.83  120664
('Key_nav : ', 120664)
('data 1 : ', array([-0.03231648, -0.0033058 , -0.0143053 , -0.00023956,  0.03607874,
        0.11638259,  0.12717886,  0.07506485,  0.08236885, -0.09600676,
        0.00843807, -0.03262011, -0.09178468,  0.01117461,  0.09132756,
       -0.02572064,  0.0416177 ,  0.02294544,  0.0420786 ,  0.05326269]))
('data 2 :', array([   6.46,   19.57,   26.59,   33.67,   43.16,   57.42,   72.67,
         94.23,  145.69,  298.22,  432.03,  468.83,  463.15,  520.04,
        548.23,  471.65,  501.22,  596.41,  700.15,  784.83]))
('mean : ', array([-0.03231648, -0.0033058 , -0.0143053 , -0.00023956,  0.03607874,
        0.11638259,  0.12717886,  0.07506485,  0.08236885, -0.09600676,
        0.00843807, -0.03262011, -0.09178468,  0.01117461,  0.09132756,
       -0.02572064,  0.0416177 ,  0.02294544,  0.0420786 ,  0.05326269]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
55480  2013Q1    13.72  120663
55481  2013Q2    29.93  120663
55482  2013Q3   263.96  120663
55483  2013Q4   299.94  120663
55484  2014Q1   373.74  120663
55485  2014Q2   527.36  120663
55486  2014Q3   766.00  120663
55487  2014Q4  1034.20  120663
55488  2015Q1  1475.55  120663
55489  2015Q2  1696.56  120663
55490  2015Q3  2097.65  120663
55491  2015Q4  2382.10  120663
55492  2016Q1  2452.75  120663
55493  2016Q2  3141.95  120663
55494  2016Q3  3507.54  120663
55495  2016Q4  3583.64  120663
55496  2017Q1  3712.05  120663
55497  2017Q2  3841.38  120663
55498  2017Q3  3990.75  120663
55499  2017Q4  4097.81  120663
56860  2013Q1     6.46  120664
56861  2013Q2    19.57  120664
56862  2013Q3    26.59  120664
56863  2013Q4    33.67  120664
56864  2014Q1    43.16  120664
56865  2014Q2    57.42  120664
56866  2014Q3    72.67  120664
56867  2014Q4    94.23  120664
56868  2015Q1   145.69  120664
56869  2015Q2   298.22  120664
56870  2015Q3   432.03  120664
56871  2015Q4   468.83  120664
56872  2016Q1   463.15  120664
56873  2016Q2   520.04  120664
56874  2016Q3   548.23  120664
56875  2016Q4   471.65  120664
56876  2017Q1   501.22  120664
56877  2017Q2   596.41  120664
56878  2017Q3   700.15  120664
56879  2017Q4   784.83  120664>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1160  2013Q1 -0.032316  120664
1161  2013Q2 -0.003306  120664
1162  2013Q3 -0.014305  120664
1163  2013Q4 -0.000240  120664
1164  2014Q1  0.036079  120664
1165  2014Q2  0.116383  120664
1166  2014Q3  0.127179  120664
1167  2014Q4  0.075065  120664
1168  2015Q1  0.082369  120664
1169  2015Q2 -0.096007  120664
1170  2015Q3  0.008438  120664
1171  2015Q4 -0.032620  120664
1172  2016Q1 -0.091785  120664
1173  2016Q2  0.011175  120664
1174  2016Q3  0.091328  120664
1175  2016Q4 -0.025721  120664
1176  2017Q1  0.041618  120664
1177  2017Q2  0.022945  120664
1178  2017Q3  0.042079  120664
1179  2017Q4  0.053263  120664
1660  2013Q1 -0.036062  120663
1661  2013Q2 -0.023272  120663
1662  2013Q3 -0.019205  120663
1663  2013Q4  0.075101  120663
1664  2014Q1  0.038102  120663
1665  2014Q2  0.127787  120663
1666  2014Q3  0.121194  120663
1667  2014Q4  0.083345  120663
1668  2015Q1  0.068741  120663
1669  2015Q2 -0.030657  120663
1670  2015Q3 -0.003342  120663
1671  2015Q4 -0.022832  120663
1672  2016Q1 -0.070185  120663
1673  2016Q2  0.064892  120663
1674  2016Q3  0.065953  120663
1675  2016Q4 -0.042287  120663
1676  2017Q1  0.031097  120663
1677  2017Q2  0.071093  120663
1678  2017Q3  0.021569  120663
1679  2017Q4  0.031698  120663>)
('Key_aum: ', 120663)
      Quarter     Data      ID
55480  2013Q1    13.72  120663
55481  2013Q2    29.93  120663
55482  2013Q3   263.96  120663
55483  2013Q4   299.94  120663
55484  2014Q1   373.74  120663
55485  2014Q2   527.36  120663
55486  2014Q3   766.00  120663
55487  2014Q4  1034.20  120663
55488  2015Q1  1475.55  120663
55489  2015Q2  1696.56  120663
55490  2015Q3  2097.65  120663
55491  2015Q4  2382.10  120663
55492  2016Q1  2452.75  120663
55493  2016Q2  3141.95  120663
55494  2016Q3  3507.54  120663
55495  2016Q4  3583.64  120663
55496  2017Q1  3712.05  120663
55497  2017Q2  3841.38  120663
55498  2017Q3  3990.75  120663
55499  2017Q4  4097.81  120663
('Key_nav : ', 120663)
('data 1 : ', array([-0.0360622 , -0.02327223, -0.01920503,  0.07510119,  0.03810175,
        0.12778733,  0.12119439,  0.08334542,  0.06874116, -0.03065685,
       -0.00334165, -0.02283227, -0.07018481,  0.06489184,  0.06595328,
       -0.04228719,  0.03109658,  0.07109267,  0.02156861,  0.03169842]))
('data 2 :', array([   13.72,    29.93,   263.96,   299.94,   373.74,   527.36,
         766.  ,  1034.2 ,  1475.55,  1696.56,  2097.65,  2382.1 ,
        2452.75,  3141.95,  3507.54,  3583.64,  3712.05,  3841.38,
        3990.75,  4097.81]))
('Key_aum: ', 120664)
      Quarter    Data      ID
56860  2013Q1    6.46  120664
56861  2013Q2   19.57  120664
56862  2013Q3   26.59  120664
56863  2013Q4   33.67  120664
56864  2014Q1   43.16  120664
56865  2014Q2   57.42  120664
56866  2014Q3   72.67  120664
56867  2014Q4   94.23  120664
56868  2015Q1  145.69  120664
56869  2015Q2  298.22  120664
56870  2015Q3  432.03  120664
56871  2015Q4  468.83  120664
56872  2016Q1  463.15  120664
56873  2016Q2  520.04  120664
56874  2016Q3  548.23  120664
56875  2016Q4  471.65  120664
56876  2017Q1  501.22  120664
56877  2017Q2  596.41  120664
56878  2017Q3  700.15  120664
56879  2017Q4  784.83  120664
('Key_nav : ', 120664)
('data 1 : ', array([-0.03231648, -0.0033058 , -0.0143053 , -0.00023956,  0.03607874,
        0.11638259,  0.12717886,  0.07506485,  0.08236885, -0.09600676,
        0.00843807, -0.03262011, -0.09178468,  0.01117461,  0.09132756,
       -0.02572064,  0.0416177 ,  0.02294544,  0.0420786 ,  0.05326269]))
('data 2 :', array([   6.46,   19.57,   26.59,   33.67,   43.16,   57.42,   72.67,
         94.23,  145.69,  298.22,  432.03,  468.83,  463.15,  520.04,
        548.23,  471.65,  501.22,  596.41,  700.15,  784.83]))
('mean : ', array([-0.03231648, -0.0033058 , -0.0143053 , -0.00023956,  0.03607874,
        0.11638259,  0.12717886,  0.07506485,  0.08236885, -0.09600676,
        0.00843807, -0.03262011, -0.09178468,  0.01117461,  0.09132756,
       -0.02572064,  0.0416177 ,  0.02294544,  0.0420786 ,  0.05326269]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
55480  2013Q1    13.72  120663
55481  2013Q2    29.93  120663
55482  2013Q3   263.96  120663
55483  2013Q4   299.94  120663
55484  2014Q1   373.74  120663
55485  2014Q2   527.36  120663
55486  2014Q3   766.00  120663
55487  2014Q4  1034.20  120663
55488  2015Q1  1475.55  120663
55489  2015Q2  1696.56  120663
55490  2015Q3  2097.65  120663
55491  2015Q4  2382.10  120663
55492  2016Q1  2452.75  120663
55493  2016Q2  3141.95  120663
55494  2016Q3  3507.54  120663
55495  2016Q4  3583.64  120663
55496  2017Q1  3712.05  120663
55497  2017Q2  3841.38  120663
55498  2017Q3  3990.75  120663
55499  2017Q4  4097.81  120663
56860  2013Q1     6.46  120664
56861  2013Q2    19.57  120664
56862  2013Q3    26.59  120664
56863  2013Q4    33.67  120664
56864  2014Q1    43.16  120664
56865  2014Q2    57.42  120664
56866  2014Q3    72.67  120664
56867  2014Q4    94.23  120664
56868  2015Q1   145.69  120664
56869  2015Q2   298.22  120664
56870  2015Q3   432.03  120664
56871  2015Q4   468.83  120664
56872  2016Q1   463.15  120664
56873  2016Q2   520.04  120664
56874  2016Q3   548.23  120664
56875  2016Q4   471.65  120664
56876  2017Q1   501.22  120664
56877  2017Q2   596.41  120664
56878  2017Q3   700.15  120664
56879  2017Q4   784.83  120664>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1160  2013Q1 -0.032316  120664
1161  2013Q2 -0.003306  120664
1162  2013Q3 -0.014305  120664
1163  2013Q4 -0.000240  120664
1164  2014Q1  0.036079  120664
1165  2014Q2  0.116383  120664
1166  2014Q3  0.127179  120664
1167  2014Q4  0.075065  120664
1168  2015Q1  0.082369  120664
1169  2015Q2 -0.096007  120664
1170  2015Q3  0.008438  120664
1171  2015Q4 -0.032620  120664
1172  2016Q1 -0.091785  120664
1173  2016Q2  0.011175  120664
1174  2016Q3  0.091328  120664
1175  2016Q4 -0.025721  120664
1176  2017Q1  0.041618  120664
1177  2017Q2  0.022945  120664
1178  2017Q3  0.042079  120664
1179  2017Q4  0.053263  120664
1660  2013Q1 -0.036062  120663
1661  2013Q2 -0.023272  120663
1662  2013Q3 -0.019205  120663
1663  2013Q4  0.075101  120663
1664  2014Q1  0.038102  120663
1665  2014Q2  0.127787  120663
1666  2014Q3  0.121194  120663
1667  2014Q4  0.083345  120663
1668  2015Q1  0.068741  120663
1669  2015Q2 -0.030657  120663

('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1160  2013Q1 -0.032316  120664
1161  2013Q2 -0.003306  120664
1162  2013Q3 -0.014305  120664
1163  2013Q4 -0.000240  120664
1164  2014Q1  0.036079  120664
1165  2014Q2  0.116383  120664
1166  2014Q3  0.127179  120664
1167  2014Q4  0.075065  120664
1168  2015Q1  0.082369  120664
1169  2015Q2 -0.096007  120664
1170  2015Q3  0.008438  120664
1171  2015Q4 -0.032620  120664
1172  2016Q1 -0.091785  120664
1173  2016Q2  0.011175  120664
1174  2016Q3  0.091328  120664
1175  2016Q4 -0.025721  120664
1176  2017Q1  0.041618  120664
1177  2017Q2  0.022945  120664
1178  2017Q3  0.042079  120664
1179  2017Q4  0.053263  120664
1660  2013Q1 -0.036062  120663
1661  2013Q2 -0.023272  120663
1662  2013Q3 -0.019205  120663
1663  2013Q4  0.075101  120663
1664  2014Q1  0.038102  120663
1665  2014Q2  0.127787  120663
1666  2014Q3  0.121194  120663
1667  2014Q4  0.083345  120663
1668  2015Q1  0.068741  120663
1669  2015Q2 -0.030657  120663
1670  2015Q3 -0.003342  120663
1671  2015Q4 -0.022832  120663
1672  2016Q1 -0.070185  120663
1673  2016Q2  0.064892  120663
1674  2016Q3  0.065953  120663
1675  2016Q4 -0.042287  120663
1676  2017Q1  0.031097  120663
1677  2017Q2  0.071093  120663
1678  2017Q3  0.021569  120663
1679  2017Q4  0.031698  120663>)
('Key_aum: ', 120663)
      Quarter     Data      ID
55480  2013Q1    13.72  120663
55481  2013Q2    29.93  120663
55482  2013Q3   263.96  120663
55483  2013Q4   299.94  120663
55484  2014Q1   373.74  120663
55485  2014Q2   527.36  120663
55486  2014Q3   766.00  120663
55487  2014Q4  1034.20  120663
55488  2015Q1  1475.55  120663
55489  2015Q2  1696.56  120663
55490  2015Q3  2097.65  120663
55491  2015Q4  2382.10  120663
55492  2016Q1  2452.75  120663
55493  2016Q2  3141.95  120663
55494  2016Q3  3507.54  120663
55495  2016Q4  3583.64  120663
55496  2017Q1  3712.05  120663
55497  2017Q2  3841.38  120663
55498  2017Q3  3990.75  120663
55499  2017Q4  4097.81  120663
('Key_nav : ', 120663)
('data 1 : ', array([-0.0360622 , -0.02327223, -0.01920503,  0.07510119,  0.03810175,
        0.12778733,  0.12119439,  0.08334542,  0.06874116, -0.03065685,
       -0.00334165, -0.02283227, -0.07018481,  0.06489184,  0.06595328,
       -0.04228719,  0.03109658,  0.07109267,  0.02156861,  0.03169842]))
('data 2 :', array([   13.72,    29.93,   263.96,   299.94,   373.74,   527.36,
         766.  ,  1034.2 ,  1475.55,  1696.56,  2097.65,  2382.1 ,
        2452.75,  3141.95,  3507.54,  3583.64,  3712.05,  3841.38,
        3990.75,  4097.81]))
('Key_aum: ', 120664)
      Quarter    Data      ID
56860  2013Q1    6.46  120664
56861  2013Q2   19.57  120664
56862  2013Q3   26.59  120664
56863  2013Q4   33.67  120664
56864  2014Q1   43.16  120664
56865  2014Q2   57.42  120664
56866  2014Q3   72.67  120664
56867  2014Q4   94.23  120664
56868  2015Q1  145.69  120664
56869  2015Q2  298.22  120664
56870  2015Q3  432.03  120664
56871  2015Q4  468.83  120664
56872  2016Q1  463.15  120664
56873  2016Q2  520.04  120664
56874  2016Q3  548.23  120664
56875  2016Q4  471.65  120664
56876  2017Q1  501.22  120664
56877  2017Q2  596.41  120664
56878  2017Q3  700.15  120664
56879  2017Q4  784.83  120664
('Key_nav : ', 120664)
('data 1 : ', array([-0.03231648, -0.0033058 , -0.0143053 , -0.00023956,  0.03607874,
        0.11638259,  0.12717886,  0.07506485,  0.08236885, -0.09600676,
        0.00843807, -0.03262011, -0.09178468,  0.01117461,  0.09132756,
       -0.02572064,  0.0416177 ,  0.02294544,  0.0420786 ,  0.05326269]))
('data 2 :', array([   6.46,   19.57,   26.59,   33.67,   43.16,   57.42,   72.67,
         94.23,  145.69,  298.22,  432.03,  468.83,  463.15,  520.04,
        548.23,  471.65,  501.22,  596.41,  700.15,  784.83]))
('mean : ', array([-0.03231648, -0.0033058 , -0.0143053 , -0.00023956,  0.03607874,
        0.11638259,  0.12717886,  0.07506485,  0.08236885, -0.09600676,
        0.00843807, -0.03262011, -0.09178468,  0.01117461,  0.09132756,
       -0.02572064,  0.0416177 ,  0.02294544,  0.0420786 ,  0.05326269]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
55480  2013Q1    13.72  120663
55481  2013Q2    29.93  120663
55482  2013Q3   263.96  120663
55483  2013Q4   299.94  120663
55484  2014Q1   373.74  120663
55485  2014Q2   527.36  120663
55486  2014Q3   766.00  120663
55487  2014Q4  1034.20  120663
55488  2015Q1  1475.55  120663
55489  2015Q2  1696.56  120663
55490  2015Q3  2097.65  120663
55491  2015Q4  2382.10  120663
55492  2016Q1  2452.75  120663
55493  2016Q2  3141.95  120663
55494  2016Q3  3507.54  120663
55495  2016Q4  3583.64  120663
55496  2017Q1  3712.05  120663
55497  2017Q2  3841.38  120663
55498  2017Q3  3990.75  120663
55499  2017Q4  4097.81  120663
56860  2013Q1     6.46  120664
56861  2013Q2    19.57  120664
56862  2013Q3    26.59  120664
56863  2013Q4    33.67  120664
56864  2014Q1    43.16  120664
56865  2014Q2    57.42  120664
56866  2014Q3    72.67  120664
56867  2014Q4    94.23  120664
56868  2015Q1   145.69  120664
56869  2015Q2   298.22  120664
56870  2015Q3   432.03  120664
56871  2015Q4   468.83  120664
56872  2016Q1   463.15  120664
56873  2016Q2   520.04  120664
56874  2016Q3   548.23  120664
56875  2016Q4   471.65  120664
56876  2017Q1   501.22  120664
56877  2017Q2   596.41  120664
56878  2017Q3   700.15  120664
56879  2017Q4   784.83  120664>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1160  2013Q1 -0.032316  120664
1161  2013Q2 -0.003306  120664
1162  2013Q3 -0.014305  120664
1163  2013Q4 -0.000240  120664
1164  2014Q1  0.036079  120664
1165  2014Q2  0.116383  120664
1166  2014Q3  0.127179  120664
1167  2014Q4  0.075065  120664
1168  2015Q1  0.082369  120664
1169  2015Q2 -0.096007  120664
1170  2015Q3  0.008438  120664
1171  2015Q4 -0.032620  120664
1172  2016Q1 -0.091785  120664
1173  2016Q2  0.011175  120664
1174  2016Q3  0.091328  120664
1175  2016Q4 -0.025721  120664
1176  2017Q1  0.041618  120664
1177  2017Q2  0.022945  120664
1178  2017Q3  0.042079  120664
1179  2017Q4  0.053263  120664
1660  2013Q1 -0.036062  120663
1661  2013Q2 -0.023272  120663
1662  2013Q3 -0.019205  120663
1663  2013Q4  0.075101  120663
1664  2014Q1  0.038102  120663
1665  2014Q2  0.127787  120663
1666  2014Q3  0.121194  120663
1667  2014Q4  0.083345  120663
1668  2015Q1  0.068741  120663
1669  2015Q2 -0.030657  120663
1670  2015Q3 -0.003342  120663
1671  2015Q4 -0.022832  120663
1672  2016Q1 -0.070185  120663
1673  2016Q2  0.064892  120663
1674  2016Q3  0.065953  120663
1675  2016Q4 -0.042287  120663
1676  2017Q1  0.031097  120663
1677  2017Q2  0.071093  120663
1678  2017Q3  0.021569  120663
1679  2017Q4  0.031698  120663>)
('Key_aum: ', 120663)
      Quarter     Data      ID
55480  2013Q1    13.72  120663
55481  2013Q2    29.93  120663
55482  2013Q3   263.96  120663
55483  2013Q4   299.94  120663
55484  2014Q1   373.74  120663
55485  2014Q2   527.36  120663
55486  2014Q3   766.00  120663
55487  2014Q4  1034.20  120663
55488  2015Q1  1475.55  120663
55489  2015Q2  1696.56  120663
55490  2015Q3  2097.65  120663
55491  2015Q4  2382.10  120663
55492  2016Q1  2452.75  120663
55493  2016Q2  3141.95  120663
55494  2016Q3  3507.54  120663
55495  2016Q4  3583.64  120663
55496  2017Q1  3712.05  120663
55497  2017Q2  3841.38  120663
55498  2017Q3  3990.75  120663
55499  2017Q4  4097.81  120663
('Key_nav : ', 120663)
('data 1 : ', array([-0.0360622 , -0.02327223, -0.01920503,  0.07510119,  0.03810175,
        0.12778733,  0.12119439,  0.08334542,  0.06874116, -0.03065685,
       -0.00334165, -0.02283227, -0.07018481,  0.06489184,  0.06595328,
       -0.04228719,  0.03109658,  0.07109267,  0.02156861,  0.03169842]))
('data 2 :', array([   13.72,    29.93,   263.96,   299.94,   373.74,   527.36,
         766.  ,  1034.2 ,  1475.55,  1696.56,  2097.65,  2382.1 ,
        2452.75,  3141.95,  3507.54,  3583.64,  3712.05,  3841.38,
        3990.75,  4097.81]))
('Key_aum: ', 120664)
      Quarter    Data      ID
56860  2013Q1    6.46  120664
56861  2013Q2   19.57  120664
56862  2013Q3   26.59  120664
56863  2013Q4   33.67  120664
56864  2014Q1   43.16  120664
56865  2014Q2   57.42  120664
56866  2014Q3   72.67  120664
56867  2014Q4   94.23  120664
56868  2015Q1  145.69  120664
56869  2015Q2  298.22  120664
56870  2015Q3  432.03  120664
56871  2015Q4  468.83  120664
56872  2016Q1  463.15  120664
56873  2016Q2  520.04  120664
56874  2016Q3  548.23  120664
56875  2016Q4  471.65  120664
56876  2017Q1  501.22  120664
56877  2017Q2  596.41  120664
56878  2017Q3  700.15  120664
56879  2017Q4  784.83  120664
('Key_nav : ', 120664)
('data 1 : ', array([-0.03231648, -0.0033058 , -0.0143053 , -0.00023956,  0.03607874,
        0.11638259,  0.12717886,  0.07506485,  0.08236885, -0.09600676,
        0.00843807, -0.03262011, -0.09178468,  0.01117461,  0.09132756,
       -0.02572064,  0.0416177 ,  0.02294544,  0.0420786 ,  0.05326269]))
('data 2 :', array([   6.46,   19.57,   26.59,   33.67,   43.16,   57.42,   72.67,
         94.23,  145.69,  298.22,  432.03,  468.83,  463.15,  520.04,
        548.23,  471.65,  501.22,  596.41,  700.15,  784.83]))
('mean : ', array([-0.03231648, -0.0033058 , -0.0143053 , -0.00023956,  0.03607874,
        0.11638259,  0.12717886,  0.07506485,  0.08236885, -0.09600676,
        0.00843807, -0.03262011, -0.09178468,  0.01117461,  0.09132756,
       -0.02572064,  0.0416177 ,  0.02294544,  0.0420786 ,  0.05326269]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
55480  2013Q1    13.72  120663
55481  2013Q2    29.93  120663
55482  2013Q3   263.96  120663
55483  2013Q4   299.94  120663
55484  2014Q1   373.74  120663
55485  2014Q2   527.36  120663
55486  2014Q3   766.00  120663
55487  2014Q4  1034.20  120663
55488  2015Q1  1475.55  120663
55489  2015Q2  1696.56  120663
55490  2015Q3  2097.65  120663
55491  2015Q4  2382.10  120663
55492  2016Q1  2452.75  120663
55493  2016Q2  3141.95  120663
55494  2016Q3  3507.54  120663
55495  2016Q4  3583.64  120663
55496  2017Q1  3712.05  120663
55497  2017Q2  3841.38  120663
55498  2017Q3  3990.75  120663
55499  2017Q4  4097.81  120663
56860  2013Q1     6.46  120664
56861  2013Q2    19.57  120664
56862  2013Q3    26.59  120664
56863  2013Q4    33.67  120664
56864  2014Q1    43.16  120664
56865  2014Q2    57.42  120664
56866  2014Q3    72.67  120664
56867  2014Q4    94.23  120664
56868  2015Q1   145.69  120664
56869  2015Q2   298.22  120664
56870  2015Q3   432.03  120664
56871  2015Q4   468.83  120664
56872  2016Q1   463.15  120664
56873  2016Q2   520.04  120664
56874  2016Q3   548.23  120664
56875  2016Q4   471.65  120664
56876  2017Q1   501.22  120664
56877  2017Q2   596.41  120664
56878  2017Q3   700.15  120664
56879  2017Q4   784.83  120664>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1160  2013Q1 -0.032316  120664
1161  2013Q2 -0.003306  120664
1162  2013Q3 -0.014305  120664
1163  2013Q4 -0.000240  120664
1164  2014Q1  0.036079  120664
1165  2014Q2  0.116383  120664
1166  2014Q3  0.127179  120664
1167  2014Q4  0.075065  120664
1168  2015Q1  0.082369  120664
1169  2015Q2 -0.096007  120664
1170  2015Q3  0.008438  120664
1171  2015Q4 -0.032620  120664
1172  2016Q1 -0.091785  120664
1173  2016Q2  0.011175  120664
1174  2016Q3  0.091328  120664
1175  2016Q4 -0.025721  120664
1176  2017Q1  0.041618  120664
1177  2017Q2  0.022945  120664
1178  2017Q3  0.042079  120664
1179  2017Q4  0.053263  120664
1660  2013Q1 -0.036062  120663
1661  2013Q2 -0.023272  120663
1662  2013Q3 -0.019205  120663
1663  2013Q4  0.075101  120663
1664  2014Q1  0.038102  120663
1665  2014Q2  0.127787  120663
1666  2014Q3  0.121194  120663
1667  2014Q4  0.083345  120663
1668  2015Q1  0.068741  120663
1669  2015Q2 -0.030657  120663
1670  2015Q3 -0.003342  120663
1671  2015Q4 -0.022832  120663
1672  2016Q1 -0.070185  120663
1673  2016Q2  0.064892  120663
1674  2016Q3  0.065953  120663
1675  2016Q4 -0.042287  120663
1676  2017Q1  0.031097  120663
1677  2017Q2  0.071093  120663
1678  2017Q3  0.021569  120663
1679  2017Q4  0.031698  120663>)
('Key_aum: ', 120663)
      Quarter     Data      ID
55480  2013Q1    13.72  120663
55481  2013Q2    29.93  120663
55482  2013Q3   263.96  120663
55483  2013Q4   299.94  120663
55484  2014Q1   373.74  120663
55485  2014Q2   527.36  120663
55486  2014Q3   766.00  120663
55487  2014Q4  1034.20  120663
55488  2015Q1  1475.55  120663
55489  2015Q2  1696.56  120663
55490  2015Q3  2097.65  120663
55491  2015Q4  2382.10  120663
55492  2016Q1  2452.75  120663
55493  2016Q2  3141.95  120663
55494  2016Q3  3507.54  120663
55495  2016Q4  3583.64  120663
55496  2017Q1  3712.05  120663
55497  2017Q2  3841.38  120663
55498  2017Q3  3990.75  120663
55499  2017Q4  4097.81  120663
('Key_nav : ', 120663)
('data 1 : ', array([-0.0360622 , -0.02327223, -0.01920503,  0.07510119,  0.03810175,
        0.12778733,  0.12119439,  0.08334542,  0.06874116, -0.03065685,
       -0.00334165, -0.02283227, -0.07018481,  0.06489184,  0.06595328,
       -0.04228719,  0.03109658,  0.07109267,  0.02156861,  0.03169842]))
('data 2 :', array([   13.72,    29.93,   263.96,   299.94,   373.74,   527.36,
         766.  ,  1034.2 ,  1475.55,  1696.56,  2097.65,  2382.1 ,
        2452.75,  3141.95,  3507.54,  3583.64,  3712.05,  3841.38,
        3990.75,  4097.81]))
('Key_aum: ', 120664)
      Quarter    Data      ID
56860  2013Q1    6.46  120664
56861  2013Q2   19.57  120664
56862  2013Q3   26.59  120664
56863  2013Q4   33.67  120664
56864  2014Q1   43.16  120664
56865  2014Q2   57.42  120664
56866  2014Q3   72.67  120664
56867  2014Q4   94.23  120664
56868  2015Q1  145.69  120664
56869  2015Q2  298.22  120664
56870  2015Q3  432.03  120664
56871  2015Q4  468.83  120664
56872  2016Q1  463.15  120664
56873  2016Q2  520.04  120664
56874  2016Q3  548.23  120664
56875  2016Q4  471.65  120664
56876  2017Q1  501.22  120664
56877  2017Q2  596.41  120664
56878  2017Q3  700.15  120664
56879  2017Q4  784.83  120664
('Key_nav : ', 120664)
('data 1 : ', array([-0.03231648, -0.0033058 , -0.0143053 , -0.00023956,  0.03607874,
        0.11638259,  0.12717886,  0.07506485,  0.08236885, -0.09600676,
        0.00843807, -0.03262011, -0.09178468,  0.01117461,  0.09132756,
       -0.02572064,  0.0416177 ,  0.02294544,  0.0420786 ,  0.05326269]))
('data 2 :', array([   6.46,   19.57,   26.59,   33.67,   43.16,   57.42,   72.67,
         94.23,  145.69,  298.22,  432.03,  468.83,  463.15,  520.04,
        548.23,  471.65,  501.22,  596.41,  700.15,  784.83]))
('mean : ', array([-0.03231648, -0.0033058 , -0.0143053 , -0.00023956,  0.03607874,
        0.11638259,  0.12717886,  0.07506485,  0.08236885, -0.09600676,
        0.00843807, -0.03262011, -0.09178468,  0.01117461,  0.09132756,
       -0.02572064,  0.0416177 ,  0.02294544,  0.0420786 ,  0.05326269]))
('aum table :', <bound method DataFrame.head of       Quarter     Data      ID
55480  2013Q1    13.72  120663
55481  2013Q2    29.93  120663
55482  2013Q3   263.96  120663
55483  2013Q4   299.94  120663
55484  2014Q1   373.74  120663
55485  2014Q2   527.36  120663
55486  2014Q3   766.00  120663
55487  2014Q4  1034.20  120663
55488  2015Q1  1475.55  120663
55489  2015Q2  1696.56  120663
55490  2015Q3  2097.65  120663
55491  2015Q4  2382.10  120663
55492  2016Q1  2452.75  120663
55493  2016Q2  3141.95  120663
55494  2016Q3  3507.54  120663
55495  2016Q4  3583.64  120663
55496  2017Q1  3712.05  120663
55497  2017Q2  3841.38  120663
55498  2017Q3  3990.75  120663
55499  2017Q4  4097.81  120663
56860  2013Q1     6.46  120664
56861  2013Q2    19.57  120664
56862  2013Q3    26.59  120664
56863  2013Q4    33.67  120664
56864  2014Q1    43.16  120664
56865  2014Q2    57.42  120664
56866  2014Q3    72.67  120664
56867  2014Q4    94.23  120664
56868  2015Q1   145.69  120664
56869  2015Q2   298.22  120664
56870  2015Q3   432.03  120664
56871  2015Q4   468.83  120664
56872  2016Q1   463.15  120664
56873  2016Q2   520.04  120664
56874  2016Q3   548.23  120664
56875  2016Q4   471.65  120664
56876  2017Q1   501.22  120664
56877  2017Q2   596.41  120664
56878  2017Q3   700.15  120664
56879  2017Q4   784.83  120664>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1160  2013Q1 -0.032316  120664
1161  2013Q2 -0.003306  120664
1162  2013Q3 -0.014305  120664
1163  2013Q4 -0.000240  120664
1164  2014Q1  0.036079  120664
1165  2014Q2  0.116383  120664
1166  2014Q3  0.127179  120664
1167  2014Q4  0.075065  120664
1168  2015Q1  0.082369  120664
1169  2015Q2 -0.096007  120664
1170  2015Q3  0.008438  120664
1171  2015Q4 -0.032620  120664
1172  2016Q1 -0.091785  120664
1173  2016Q2  0.011175  120664
1174  2016Q3  0.091328  120664
1175  2016Q4 -0.025721  120664
1176  2017Q1  0.041618  120664
1177  2017Q2  0.022945  120664
1178  2017Q3  0.042079  120664
1179  2017Q4  0.053263  120664
1660  2013Q1 -0.036062  120663
1661  2013Q2 -0.023272  120663
1662  2013Q3 -0.019205  120663
1663  2013Q4  0.075101  120663
1664  2014Q1  0.038102  120663
1665  2014Q2  0.127787  120663
1666  2014Q3  0.121194  120663
1667  2014Q4  0.083345  120663
1668  2015Q1  0.068741  120663
1669  2015Q2 -0.030657  120663
1670  2015Q3 -0.003342  120663
1671  2015Q4 -0.022832  120663
1672  2016Q1 -0.070185  120663
1673  2016Q2  0.064892  120663
1674  2016Q3  0.065953  120663
1675  2016Q4 -0.042287  120663
1676  2017Q1  0.031097  120663
1677  2017Q2  0.071093  120663
1678  2017Q3  0.021569  120663
1679  2017Q4  0.031698  120663>)
('Key_aum: ', 120663)
      Quarter     Data      ID
55480  2013Q1    13.72  120663
55481  2013Q2    29.93  120663
55482  2013Q3   263.96  120663
55483  2013Q4   299.94  120663
55484  2014Q1   373.74  120663
55485  2014Q2   527.36  120663
55486  2014Q3   766.00  120663
55487  2014Q4  1034.20  120663
55488  2015Q1  1475.55  120663
55489  2015Q2  1696.56  120663
55490  2015Q3  2097.65  120663
55491  2015Q4  2382.10  120663
55492  2016Q1  2452.75  120663
55493  2016Q2  3141.95  120663
55494  2016Q3  3507.54  120663
55495  2016Q4  3583.64  120663
55496  2017Q1  3712.05  120663
55497  2017Q2  3841.38  120663
55498  2017Q3  3990.75  120663
55499  2017Q4  4097.81  120663
('Key_nav : ', 120663)
('data 1 : ', array([-0.0360622 , -0.02327223, -0.01920503,  0.07510119,  0.03810175,
        0.12778733,  0.12119439,  0.08334542,  0.06874116, -0.03065685,
       -0.00334165, -0.02283227, -0.07018481,  0.06489184,  0.06595328,
       -0.04228719,  0.03109658,  0.07109267,  0.02156861,  0.03169842]))
('data 2 :', array([   13.72,    29.93,   263.96,   299.94,   373.74,   527.36,
         766.  ,  1034.2 ,  1475.55,  1696.56,  2097.65,  2382.1 ,
        2452.75,  3141.95,  3507.54,  3583.64,  3712.05,  3841.38,
        3990.75,  4097.81]))
('Key_aum: ', 120664)
      Quarter    Data      ID
56860  2013Q1    6.46  120664
56861  2013Q2   19.57  120664
56862  2013Q3   26.59  120664
56863  2013Q4   33.67  120664
56864  2014Q1   43.16  120664
56865  2014Q2   57.42  120664
56866  2014Q3   72.67  120664
56867  2014Q4   94.23  120664
56868  2015Q1  145.69  120664
56869  2015Q2  298.22  120664
56870  2015Q3  432.03  120664
56871  2015Q4  468.83  120664
56872  2016Q1  463.15  120664
56873  2016Q2  520.04  120664
56874  2016Q3  548.23  120664
56875  2016Q4  471.65  120664
56876  2017Q1  501.22  120664
56877  2017Q2  596.41  120664
56878  2017Q3  700.15  120664
56879  2017Q4  784.83  120664
('Key_nav : ', 120664)
('data 1 : ', array([-0.03231648, -0.0033058 , -0.0143053 , -0.00023956,  0.03607874,
        0.11638259,  0.12717886,  0.07506485,  0.08236885, -0.09600676,
        0.00843807, -0.03262011, -0.09178468,  0.01117461,  0.09132756,
       -0.02572064,  0.0416177 ,  0.02294544,  0.0420786 ,  0.05326269]))
('data 2 :', array([   6.46,   19.57,   26.59,   33.67,   43.16,   57.42,   72.67,
         94.23,  145.69,  298.22,  432.03,  468.83,  463.15,  520.04,
        548.23,  471.65,  501.22,  596.41,  700.15,  784.83]))
('mean : ', array([-0.03231648, -0.0033058 , -0.0143053 , -0.00023956,  0.03607874,

('aum table :', <bound method DataFrame.head of        Quarter      Data      ID
4540    2013Q1  12748.17  103308
4541    2013Q2  12466.59  103308
4542    2013Q3  11782.01  103308
4543    2013Q4  12706.83  103308
4544    2014Q1  12837.08  103308
4545    2014Q2  17330.72  103308
4546    2014Q3  23772.88  103308
4547    2014Q4  31032.39  103308
4548    2015Q1  36615.92  103308
4549    2015Q2  39392.03  103308
4550    2015Q3  60584.02  103308
4551    2015Q4  41355.23  103308
4552    2016Q1  36452.12  103308
4553    2016Q2  38781.58  103308
4554    2016Q3  62392.41  103308
4555    2016Q4  42621.17  103308
4556    2017Q1  39981.04  103308
4557    2017Q2  41390.83  103308
4558    2017Q3  42704.50  103308
4559    2017Q4  43475.75  103308
154160  2013Q1      0.00  132997
154161  2013Q2      0.00  132997
154162  2013Q3      0.00  132997
154163  2013Q4      0.00  132997
154164  2014Q1      0.00  132997
154165  2014Q2      0.00  132997
154166  2014Q3      0.00  132997
154167  2014Q4   1285.17  132997
154168  2015Q1   4847.96  132997
154169  2015Q2   6329.88  132997
154170  2015Q3   8194.51  132997
154171  2015Q4   9202.86  132997
154172  2016Q1   8847.57  132997
154173  2016Q2   8627.24  132997
154174  2016Q3   8321.29  132997
154175  2016Q4   8233.45  132997
154176  2017Q1   9463.85  132997
154177  2017Q2  13266.88  132997
154178  2017Q3  18608.57  132997
154179  2017Q4  24180.02  132997>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
740   2013Q1 -0.071665  103308
741   2013Q2 -0.047527  103308
742   2013Q3 -0.081240  103308
743   2013Q4  0.105029  103308
744   2014Q1 -0.004200  103308
745   2014Q2  0.145748  103308
746   2014Q3  0.073512  103308
747   2014Q4  0.075185  103308
748   2015Q1  0.037832  103308
749   2015Q2 -0.036920  103308
750   2015Q3 -0.079939  103308
751   2015Q4 -0.056592  103308
752   2016Q1 -0.064628  103308
753   2016Q2  0.068254  103308
754   2016Q3  0.039951  103308
755   2016Q4 -0.038788  103308
756   2017Q1  0.050574  103308
757   2017Q2  0.074338  103308
758   2017Q3 -0.011194  103308
759   2017Q4  0.000432  103308
1680  2013Q1  0.000000  132997
1681  2013Q2  0.000000  132997
1682  2013Q3  0.000000  132997
1683  2013Q4  0.000000  132997
1684  2014Q1  0.000000  132997
1685  2014Q2  0.000000  132997
1686  2014Q3  0.000000  132997
1687  2014Q4  0.000508  132997
1688  2015Q1  0.029123  132997
1689  2015Q2 -0.012460  132997
1690  2015Q3  0.010585  132997
1691  2015Q4 -0.006277  132997
1692  2016Q1 -0.016294  132997
1693  2016Q2  0.040579  132997
1694  2016Q3  0.079040  132997
1695  2016Q4 -0.019384  132997
1696  2017Q1  0.008138  132997
1697  2017Q2  0.036594  132997
1698  2017Q3  0.008612  132997
1699  2017Q4 -0.007225  132997>)
('Key_aum: ', 103308)
     Quarter      Data      ID
4540  2013Q1  12748.17  103308
4541  2013Q2  12466.59  103308
4542  2013Q3  11782.01  103308
4543  2013Q4  12706.83  103308
4544  2014Q1  12837.08  103308
4545  2014Q2  17330.72  103308
4546  2014Q3  23772.88  103308
4547  2014Q4  31032.39  103308
4548  2015Q1  36615.92  103308
4549  2015Q2  39392.03  103308
4550  2015Q3  60584.02  103308
4551  2015Q4  41355.23  103308
4552  2016Q1  36452.12  103308
4553  2016Q2  38781.58  103308
4554  2016Q3  62392.41  103308
4555  2016Q4  42621.17  103308
4556  2017Q1  39981.04  103308
4557  2017Q2  41390.83  103308
4558  2017Q3  42704.50  103308
4559  2017Q4  43475.75  103308
('Key_nav : ', 103308)
('data 1 : ', array([-0.07166479, -0.04752689, -0.08123988,  0.10502878, -0.00420025,
        0.14574779,  0.07351151,  0.07518466,  0.03783227, -0.03691972,
       -0.07993895, -0.05659175, -0.06462786,  0.06825404,  0.03995054,
       -0.03878837,  0.05057397,  0.07433799, -0.01119371,  0.00043208]))
('data 2 :', array([ 12748.17,  12466.59,  11782.01,  12706.83,  12837.08,  17330.72,
        23772.88,  31032.39,  36615.92,  39392.03,  60584.02,  41355.23,
        36452.12,  38781.58,  62392.41,  42621.17,  39981.04,  41390.83,
        42704.5 ,  43475.75]))
('Key_aum: ', 132997)
       Quarter      Data      ID
154160  2013Q1      0.00  132997
154161  2013Q2      0.00  132997
154162  2013Q3      0.00  132997
154163  2013Q4      0.00  132997
154164  2014Q1      0.00  132997
154165  2014Q2      0.00  132997
154166  2014Q3      0.00  132997
154167  2014Q4   1285.17  132997
154168  2015Q1   4847.96  132997
154169  2015Q2   6329.88  132997
154170  2015Q3   8194.51  132997
154171  2015Q4   9202.86  132997
154172  2016Q1   8847.57  132997
154173  2016Q2   8627.24  132997
154174  2016Q3   8321.29  132997
154175  2016Q4   8233.45  132997
154176  2017Q1   9463.85  132997
154177  2017Q2  13266.88  132997
154178  2017Q3  18608.57  132997
154179  2017Q4  24180.02  132997
('Key_nav : ', 132997)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.00050838,  0.02912288, -0.01246044,
        0.01058503, -0.00627693, -0.01629378,  0.04057947,  0.07903996,
       -0.01938445,  0.00813804,  0.03659356,  0.00861192, -0.00722483]))
('data 2 :', array([     0.  ,      0.  ,      0.  ,      0.  ,      0.  ,      0.  ,
            0.  ,   1285.17,   4847.96,   6329.88,   8194.51,   9202.86,
         8847.57,   8627.24,   8321.29,   8233.45,   9463.85,  13266.88,
        18608.57,  24180.02]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,  0.00050838,  0.02912288, -0.01246044,
        0.01058503, -0.00627693, -0.01629378,  0.04057947,  0.07903996,
       -0.01938445,  0.00813804,  0.03659356,  0.00861192, -0.00722483]))
('aum table :', <bound method DataFrame.head of        Quarter      Data      ID
4540    2013Q1  12748.17  103308
4541    2013Q2  12466.59  103308
4542    2013Q3  11782.01  103308
4543    2013Q4  12706.83  103308
4544    2014Q1  12837.08  103308
4545    2014Q2  17330.72  103308
4546    2014Q3  23772.88  103308
4547    2014Q4  31032.39  103308
4548    2015Q1  36615.92  103308
4549    2015Q2  39392.03  103308
4550    2015Q3  60584.02  103308
4551    2015Q4  41355.23  103308
4552    2016Q1  36452.12  103308
4553    2016Q2  38781.58  103308
4554    2016Q3  62392.41  103308
4555    2016Q4  42621.17  103308
4556    2017Q1  39981.04  103308
4557    2017Q2  41390.83  103308
4558    2017Q3  42704.50  103308
4559    2017Q4  43475.75  103308
154160  2013Q1      0.00  132997
154161  2013Q2      0.00  132997
154162  2013Q3      0.00  132997
154163  2013Q4      0.00  132997
154164  2014Q1      0.00  132997
154165  2014Q2      0.00  132997
154166  2014Q3      0.00  132997
154167  2014Q4   1285.17  132997
154168  2015Q1   4847.96  132997
154169  2015Q2   6329.88  132997
154170  2015Q3   8194.51  132997
154171  2015Q4   9202.86  132997
154172  2016Q1   8847.57  132997
154173  2016Q2   8627.24  132997
154174  2016Q3   8321.29  132997
154175  2016Q4   8233.45  132997
154176  2017Q1   9463.85  132997
154177  2017Q2  13266.88  132997
154178  2017Q3  18608.57  132997
154179  2017Q4  24180.02  132997>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
740   2013Q1 -0.071665  103308
741   2013Q2 -0.047527  103308
742   2013Q3 -0.081240  103308
743   2013Q4  0.105029  103308
744   2014Q1 -0.004200  103308
745   2014Q2  0.145748  103308
746   2014Q3  0.073512  103308
747   2014Q4  0.075185  103308
748   2015Q1  0.037832  103308
749   2015Q2 -0.036920  103308
750   2015Q3 -0.079939  103308
751   2015Q4 -0.056592  103308
752   2016Q1 -0.064628  103308
753   2016Q2  0.068254  103308
754   2016Q3  0.039951  103308
755   2016Q4 -0.038788  103308
756   2017Q1  0.050574  103308
757   2017Q2  0.074338  103308
758   2017Q3 -0.011194  103308
759   2017Q4  0.000432  103308
1680  2013Q1  0.000000  132997
1681  2013Q2  0.000000  132997
1682  2013Q3  0.000000  132997
1683  2013Q4  0.000000  132997
1684  2014Q1  0.000000  132997
1685  2014Q2  0.000000  132997
1686  2014Q3  0.000000  132997
1687  2014Q4  0.000508  132997
1688  2015Q1  0.029123  132997
1689  2015Q2 -0.012460  132997
1690  2015Q3  0.010585  132997
1691  2015Q4 -0.006277  132997
1692  2016Q1 -0.016294  132997
1693  2016Q2  0.040579  132997
1694  2016Q3  0.079040  132997
1695  2016Q4 -0.019384  132997
1696  2017Q1  0.008138  132997
1697  2017Q2  0.036594  132997
1698  2017Q3  0.008612  132997
1699  2017Q4 -0.007225  132997>)
('Key_aum: ', 103308)
     Quarter      Data      ID
4540  2013Q1  12748.17  103308
4541  2013Q2  12466.59  103308
4542  2013Q3  11782.01  103308
4543  2013Q4  12706.83  103308
4544  2014Q1  12837.08  103308
4545  2014Q2  17330.72  103308
4546  2014Q3  23772.88  103308
4547  2014Q4  31032.39  103308
4548  2015Q1  36615.92  103308
4549  2015Q2  39392.03  103308
4550  2015Q3  60584.02  103308
4551  2015Q4  41355.23  103308
4552  2016Q1  36452.12  103308
4553  2016Q2  38781.58  103308
4554  2016Q3  62392.41  103308
4555  2016Q4  42621.17  103308
4556  2017Q1  39981.04  103308
4557  2017Q2  41390.83  103308
4558  2017Q3  42704.50  103308
4559  2017Q4  43475.75  103308
('Key_nav : ', 103308)
('data 1 : ', array([-0.07166479, -0.04752689, -0.08123988,  0.10502878, -0.00420025,
        0.14574779,  0.07351151,  0.07518466,  0.03783227, -0.03691972,
       -0.07993895, -0.05659175, -0.06462786,  0.06825404,  0.03995054,
       -0.03878837,  0.05057397,  0.07433799, -0.01119371,  0.00043208]))
('data 2 :', array([ 12748.17,  12466.59,  11782.01,  12706.83,  12837.08,  17330.72,
        23772.88,  31032.39,  36615.92,  39392.03,  60584.02,  41355.23,
        36452.12,  38781.58,  62392.41,  42621.17,  39981.04,  41390.83,
        42704.5 ,  43475.75]))
('Key_aum: ', 132997)
       Quarter      Data      ID
154160  2013Q1      0.00  132997
154161  2013Q2      0.00  132997
154162  2013Q3      0.00  132997
154163  2013Q4      0.00  132997
154164  2014Q1      0.00  132997
154165  2014Q2      0.00  132997
154166  2014Q3      0.00  132997
154167  2014Q4   1285.17  132997
154168  2015Q1   4847.96  132997
154169  2015Q2   6329.88  132997
154170  2015Q3   8194.51  132997
154171  2015Q4   9202.86  132997
154172  2016Q1   8847.57  132997
154173  2016Q2   8627.24  132997
154174  2016Q3   8321.29  132997
154175  2016Q4   8233.45  132997
154176  2017Q1   9463.85  132997
154177  2017Q2  13266.88  132997
154178  2017Q3  18608.57  132997
154179  2017Q4  24180.02  132997
('Key_nav : ', 132997)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.00050838,  0.02912288, -0.01246044,
        0.01058503, -0.00627693, -0.01629378,  0.04057947,  0.07903996,
       -0.01938445,  0.00813804,  0.03659356,  0.00861192, -0.00722483]))
('data 2 :', array([     0.  ,      0.  ,      0.  ,      0.  ,      0.  ,      0.  ,
            0.  ,   1285.17,   4847.96,   6329.88,   8194.51,   9202.86,
         8847.57,   8627.24,   8321.29,   8233.45,   9463.85,  13266.88,
        18608.57,  24180.02]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,  0.00050838,  0.02912288, -0.01246044,
        0.01058503, -0.00627693, -0.01629378,  0.04057947,  0.07903996,
       -0.01938445,  0.00813804,  0.03659356,  0.00861192, -0.00722483]))
('aum table :', <bound method DataFrame.head of        Quarter      Data      ID
4540    2013Q1  12748.17  103308
4541    2013Q2  12466.59  103308
4542    2013Q3  11782.01  103308
4543    2013Q4  12706.83  103308
4544    2014Q1  12837.08  103308
4545    2014Q2  17330.72  103308
4546    2014Q3  23772.88  103308
4547    2014Q4  31032.39  103308
4548    2015Q1  36615.92  103308
4549    2015Q2  39392.03  103308
4550    2015Q3  60584.02  103308
4551    2015Q4  41355.23  103308
4552    2016Q1  36452.12  103308
4553    2016Q2  38781.58  103308
4554    2016Q3  62392.41  103308
4555    2016Q4  42621.17  103308
4556    2017Q1  39981.04  103308
4557    2017Q2  41390.83  103308
4558    2017Q3  42704.50  103308
4559    2017Q4  43475.75  103308
154160  2013Q1      0.00  132997
154161  2013Q2      0.00  132997
154162  2013Q3      0.00  132997
154163  2013Q4      0.00  132997
154164  2014Q1      0.00  132997
154165  2014Q2      0.00  132997
154166  2014Q3      0.00  132997
154167  2014Q4   1285.17  132997
154168  2015Q1   4847.96  132997
154169  2015Q2   6329.88  132997
154170  2015Q3   8194.51  132997
154171  2015Q4   9202.86  132997
154172  2016Q1   8847.57  132997
154173  2016Q2   8627.24  132997
154174  2016Q3   8321.29  132997
154175  2016Q4   8233.45  132997
154176  2017Q1   9463.85  132997
154177  2017Q2  13266.88  132997
154178  2017Q3  18608.57  132997
154179  2017Q4  24180.02  132997>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
740   2013Q1 -0.071665  103308
741   2013Q2 -0.047527  103308
742   2013Q3 -0.081240  103308
743   2013Q4  0.105029  103308
744   2014Q1 -0.004200  103308
745   2014Q2  0.145748  103308
746   2014Q3  0.073512  103308
747   2014Q4  0.075185  103308
748   2015Q1  0.037832  103308
749   2015Q2 -0.036920  103308
750   2015Q3 -0.079939  103308
751   2015Q4 -0.056592  103308
752   2016Q1 -0.064628  103308
753   2016Q2  0.068254  103308
754   2016Q3  0.039951  103308
755   2016Q4 -0.038788  103308
756   2017Q1  0.050574  103308
757   2017Q2  0.074338  103308
758   2017Q3 -0.011194  103308
759   2017Q4  0.000432  103308
1680  2013Q1  0.000000  132997
1681  2013Q2  0.000000  132997
1682  2013Q3  0.000000  132997
1683  2013Q4  0.000000  132997
1684  2014Q1  0.000000  132997
1685  2014Q2  0.000000  132997
1686  2014Q3  0.000000  132997
1687  2014Q4  0.000508  132997
1688  2015Q1  0.029123  132997
1689  2015Q2 -0.012460  132997
1690  2015Q3  0.010585  132997
1691  2015Q4 -0.006277  132997
1692  2016Q1 -0.016294  132997
1693  2016Q2  0.040579  132997
1694  2016Q3  0.079040  132997
1695  2016Q4 -0.019384  132997
1696  2017Q1  0.008138  132997
1697  2017Q2  0.036594  132997
1698  2017Q3  0.008612  132997
1699  2017Q4 -0.007225  132997>)
('Key_aum: ', 103308)
     Quarter      Data      ID
4540  2013Q1  12748.17  103308
4541  2013Q2  12466.59  103308
4542  2013Q3  11782.01  103308
4543  2013Q4  12706.83  103308
4544  2014Q1  12837.08  103308
4545  2014Q2  17330.72  103308
4546  2014Q3  23772.88  103308
4547  2014Q4  31032.39  103308
4548  2015Q1  36615.92  103308
4549  2015Q2  39392.03  103308
4550  2015Q3  60584.02  103308
4551  2015Q4  41355.23  103308
4552  2016Q1  36452.12  103308
4553  2016Q2  38781.58  103308
4554  2016Q3  62392.41  103308
4555  2016Q4  42621.17  103308
4556  2017Q1  39981.04  103308
4557  2017Q2  41390.83  103308
4558  2017Q3  42704.50  103308
4559  2017Q4  43475.75  103308
('Key_nav : ', 103308)
('data 1 : ', array([-0.07166479, -0.04752689, -0.08123988,  0.10502878, -0.00420025,
        0.14574779,  0.07351151,  0.07518466,  0.03783227, -0.03691972,
       -0.07993895, -0.05659175, -0.06462786,  0.06825404,  0.03995054,
       -0.03878837,  0.05057397,  0.07433799, -0.01119371,  0.00043208]))
('data 2 :', array([ 12748.17,  12466.59,  11782.01,  12706.83,  12837.08,  17330.72,
        23772.88,  31032.39,  36615.92,  39392.03,  60584.02,  41355.23,
        36452.12,  38781.58,  62392.41,  42621.17,  39981.04,  41390.83,
        42704.5 ,  43475.75]))
('Key_aum: ', 132997)
       Quarter      Data      ID
154160  2013Q1      0.00  132997
154161  2013Q2      0.00  132997
154162  2013Q3      0.00  132997
154163  2013Q4      0.00  132997
154164  2014Q1      0.00  132997
154165  2014Q2      0.00  132997
154166  2014Q3      0.00  132997
154167  2014Q4   1285.17  132997
154168  2015Q1   4847.96  132997
154169  2015Q2   6329.88  132997
154170  2015Q3   8194.51  132997
154171  2015Q4   9202.86  132997
154172  2016Q1   8847.57  132997
154173  2016Q2   8627.24  132997
154174  2016Q3   8321.29  132997
154175  2016Q4   8233.45  132997
154176  2017Q1   9463.85  132997
154177  2017Q2  13266.88  132997
154178  2017Q3  18608.57  132997
154179  2017Q4  24180.02  132997
('Key_nav : ', 132997)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.00050838,  0.02912288, -0.01246044,
        0.01058503, -0.00627693, -0.01629378,  0.04057947,  0.07903996,
       -0.01938445,  0.00813804,  0.03659356,  0.00861192, -0.00722483]))
('data 2 :', array([     0.  ,      0.  ,      0.  ,      0.  ,      0.  ,      0.  ,
            0.  ,   1285.17,   4847.96,   6329.88,   8194.51,   9202.86,
         8847.57,   8627.24,   8321.29,   8233.45,   9463.85,  13266.88,
        18608.57,  24180.02]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,  0.00050838,  0.02912288, -0.01246044,
        0.01058503, -0.00627693, -0.01629378,  0.04057947,  0.07903996,
       -0.01938445,  0.00813804,  0.03659356,  0.00861192, -0.00722483]))
('aum table :', <bound method DataFrame.head of        Quarter      Data      ID
4540    2013Q1  12748.17  103308
4541    2013Q2  12466.59  103308
4542    2013Q3  11782.01  103308
4543    2013Q4  12706.83  103308
4544    2014Q1  12837.08  103308
4545    2014Q2  17330.72  103308
4546    2014Q3  23772.88  103308
4547    2014Q4  31032.39  103308
4548    2015Q1  36615.92  103308
4549    2015Q2  39392.03  103308
4550    2015Q3  60584.02  103308
4551    2015Q4  41355.23  103308
4552    2016Q1  36452.12  103308
4553    2016Q2  38781.58  103308
4554    2016Q3  62392.41  103308
4555    2016Q4  42621.17  103308
4556    2017Q1  39981.04  103308
4557    2017Q2  41390.83  103308
4558    2017Q3  42704.50  103308
4559    2017Q4  43475.75  103308
154160  2013Q1      0.00  132997
154161  2013Q2      0.00  132997
154162  2013Q3      0.00  132997
154163  2013Q4      0.00  132997
154164  2014Q1      0.00  132997
154165  2014Q2      0.00  132997
154166  2014Q3      0.00  132997
154167  2014Q4   1285.17  132997
154168  2015Q1   4847.96  132997
154169  2015Q2   6329.88  132997
154170  2015Q3   8194.51  132997
154171  2015Q4   9202.86  132997
154172  2016Q1   8847.57  132997
154173  2016Q2   8627.24  132997
154174  2016Q3   8321.29  132997
154175  2016Q4   8233.45  132997
154176  2017Q1   9463.85  132997
154177  2017Q2  13266.88  132997
154178  2017Q3  18608.57  132997
154179  2017Q4  24180.02  132997>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
740   2013Q1 -0.071665  103308
741   2013Q2 -0.047527  103308
742   2013Q3 -0.081240  103308
743   2013Q4  0.105029  103308
744   2014Q1 -0.004200  103308
745   2014Q2  0.145748  103308
746   2014Q3  0.073512  103308
747   2014Q4  0.075185  103308
748   2015Q1  0.037832  103308
749   2015Q2 -0.036920  103308
750   2015Q3 -0.079939  103308
751   2015Q4 -0.056592  103308
752   2016Q1 -0.064628  103308
753   2016Q2  0.068254  103308
754   2016Q3  0.039951  103308
755   2016Q4 -0.038788  103308
756   2017Q1  0.050574  103308
757   2017Q2  0.074338  103308
758   2017Q3 -0.011194  103308
759   2017Q4  0.000432  103308
1680  2013Q1  0.000000  132997
1681  2013Q2  0.000000  132997
1682  2013Q3  0.000000  132997
1683  2013Q4  0.000000  132997
1684  2014Q1  0.000000  132997
1685  2014Q2  0.000000  132997
1686  2014Q3  0.000000  132997
1687  2014Q4  0.000508  132997
1688  2015Q1  0.029123  132997
1689  2015Q2 -0.012460  132997
1690  2015Q3  0.010585  132997
1691  2015Q4 -0.006277  132997
1692  2016Q1 -0.016294  132997
1693  2016Q2  0.040579  132997
1694  2016Q3  0.079040  132997
1695  2016Q4 -0.019384  132997
1696  2017Q1  0.008138  132997
1697  2017Q2  0.036594  132997
1698  2017Q3  0.008612  132997
1699  2017Q4 -0.007225  132997>)
('Key_aum: ', 103308)
     Quarter      Data      ID
4540  2013Q1  12748.17  103308
4541  2013Q2  12466.59  103308
4542  2013Q3  11782.01  103308
4543  2013Q4  12706.83  103308
4544  2014Q1  12837.08  103308
4545  2014Q2  17330.72  103308
4546  2014Q3  23772.88  103308
4547  2014Q4  31032.39  103308
4548  2015Q1  36615.92  103308
4549  2015Q2  39392.03  103308
4550  2015Q3  60584.02  103308
4551  2015Q4  41355.23  103308
4552  2016Q1  36452.12  103308
4553  2016Q2  38781.58  103308

('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
740   2013Q1 -0.071665  103308
741   2013Q2 -0.047527  103308
742   2013Q3 -0.081240  103308
743   2013Q4  0.105029  103308
744   2014Q1 -0.004200  103308
745   2014Q2  0.145748  103308
746   2014Q3  0.073512  103308
747   2014Q4  0.075185  103308
748   2015Q1  0.037832  103308
749   2015Q2 -0.036920  103308
750   2015Q3 -0.079939  103308
751   2015Q4 -0.056592  103308
752   2016Q1 -0.064628  103308
753   2016Q2  0.068254  103308
754   2016Q3  0.039951  103308
755   2016Q4 -0.038788  103308
756   2017Q1  0.050574  103308
757   2017Q2  0.074338  103308
758   2017Q3 -0.011194  103308
759   2017Q4  0.000432  103308
1680  2013Q1  0.000000  132997
1681  2013Q2  0.000000  132997
1682  2013Q3  0.000000  132997
1683  2013Q4  0.000000  132997
1684  2014Q1  0.000000  132997
1685  2014Q2  0.000000  132997
1686  2014Q3  0.000000  132997
1687  2014Q4  0.000508  132997
1688  2015Q1  0.029123  132997
1689  2015Q2 -0.012460  132997
1690  2015Q3  0.010585  132997
1691  2015Q4 -0.006277  132997
1692  2016Q1 -0.016294  132997
1693  2016Q2  0.040579  132997
1694  2016Q3  0.079040  132997
1695  2016Q4 -0.019384  132997
1696  2017Q1  0.008138  132997
1697  2017Q2  0.036594  132997
1698  2017Q3  0.008612  132997
1699  2017Q4 -0.007225  132997>)
('Key_aum: ', 103308)
     Quarter      Data      ID
4540  2013Q1  12748.17  103308
4541  2013Q2  12466.59  103308
4542  2013Q3  11782.01  103308
4543  2013Q4  12706.83  103308
4544  2014Q1  12837.08  103308
4545  2014Q2  17330.72  103308
4546  2014Q3  23772.88  103308
4547  2014Q4  31032.39  103308
4548  2015Q1  36615.92  103308
4549  2015Q2  39392.03  103308
4550  2015Q3  60584.02  103308
4551  2015Q4  41355.23  103308
4552  2016Q1  36452.12  103308
4553  2016Q2  38781.58  103308
4554  2016Q3  62392.41  103308
4555  2016Q4  42621.17  103308
4556  2017Q1  39981.04  103308
4557  2017Q2  41390.83  103308
4558  2017Q3  42704.50  103308
4559  2017Q4  43475.75  103308
('Key_nav : ', 103308)
('data 1 : ', array([-0.07166479, -0.04752689, -0.08123988,  0.10502878, -0.00420025,
        0.14574779,  0.07351151,  0.07518466,  0.03783227, -0.03691972,
       -0.07993895, -0.05659175, -0.06462786,  0.06825404,  0.03995054,
       -0.03878837,  0.05057397,  0.07433799, -0.01119371,  0.00043208]))
('data 2 :', array([ 12748.17,  12466.59,  11782.01,  12706.83,  12837.08,  17330.72,
        23772.88,  31032.39,  36615.92,  39392.03,  60584.02,  41355.23,
        36452.12,  38781.58,  62392.41,  42621.17,  39981.04,  41390.83,
        42704.5 ,  43475.75]))
('Key_aum: ', 132997)
       Quarter      Data      ID
154160  2013Q1      0.00  132997
154161  2013Q2      0.00  132997
154162  2013Q3      0.00  132997
154163  2013Q4      0.00  132997
154164  2014Q1      0.00  132997
154165  2014Q2      0.00  132997
154166  2014Q3      0.00  132997
154167  2014Q4   1285.17  132997
154168  2015Q1   4847.96  132997
154169  2015Q2   6329.88  132997
154170  2015Q3   8194.51  132997
154171  2015Q4   9202.86  132997
154172  2016Q1   8847.57  132997
154173  2016Q2   8627.24  132997
154174  2016Q3   8321.29  132997
154175  2016Q4   8233.45  132997
154176  2017Q1   9463.85  132997
154177  2017Q2  13266.88  132997
154178  2017Q3  18608.57  132997
154179  2017Q4  24180.02  132997
('Key_nav : ', 132997)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.00050838,  0.02912288, -0.01246044,
        0.01058503, -0.00627693, -0.01629378,  0.04057947,  0.07903996,
       -0.01938445,  0.00813804,  0.03659356,  0.00861192, -0.00722483]))
('data 2 :', array([     0.  ,      0.  ,      0.  ,      0.  ,      0.  ,      0.  ,
            0.  ,   1285.17,   4847.96,   6329.88,   8194.51,   9202.86,
         8847.57,   8627.24,   8321.29,   8233.45,   9463.85,  13266.88,
        18608.57,  24180.02]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,  0.00050838,  0.02912288, -0.01246044,
        0.01058503, -0.00627693, -0.01629378,  0.04057947,  0.07903996,
       -0.01938445,  0.00813804,  0.03659356,  0.00861192, -0.00722483]))
('aum table :', <bound method DataFrame.head of        Quarter      Data      ID
4540    2013Q1  12748.17  103308
4541    2013Q2  12466.59  103308
4542    2013Q3  11782.01  103308
4543    2013Q4  12706.83  103308
4544    2014Q1  12837.08  103308
4545    2014Q2  17330.72  103308
4546    2014Q3  23772.88  103308
4547    2014Q4  31032.39  103308
4548    2015Q1  36615.92  103308
4549    2015Q2  39392.03  103308
4550    2015Q3  60584.02  103308
4551    2015Q4  41355.23  103308
4552    2016Q1  36452.12  103308
4553    2016Q2  38781.58  103308
4554    2016Q3  62392.41  103308
4555    2016Q4  42621.17  103308
4556    2017Q1  39981.04  103308
4557    2017Q2  41390.83  103308
4558    2017Q3  42704.50  103308
4559    2017Q4  43475.75  103308
154160  2013Q1      0.00  132997
154161  2013Q2      0.00  132997
154162  2013Q3      0.00  132997
154163  2013Q4      0.00  132997
154164  2014Q1      0.00  132997
154165  2014Q2      0.00  132997
154166  2014Q3      0.00  132997
154167  2014Q4   1285.17  132997
154168  2015Q1   4847.96  132997
154169  2015Q2   6329.88  132997
154170  2015Q3   8194.51  132997
154171  2015Q4   9202.86  132997
154172  2016Q1   8847.57  132997
154173  2016Q2   8627.24  132997
154174  2016Q3   8321.29  132997
154175  2016Q4   8233.45  132997
154176  2017Q1   9463.85  132997
154177  2017Q2  13266.88  132997
154178  2017Q3  18608.57  132997
154179  2017Q4  24180.02  132997>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
740   2013Q1 -0.071665  103308
741   2013Q2 -0.047527  103308
742   2013Q3 -0.081240  103308
743   2013Q4  0.105029  103308
744   2014Q1 -0.004200  103308
745   2014Q2  0.145748  103308
746   2014Q3  0.073512  103308
747   2014Q4  0.075185  103308
748   2015Q1  0.037832  103308
749   2015Q2 -0.036920  103308
750   2015Q3 -0.079939  103308
751   2015Q4 -0.056592  103308
752   2016Q1 -0.064628  103308
753   2016Q2  0.068254  103308
754   2016Q3  0.039951  103308
755   2016Q4 -0.038788  103308
756   2017Q1  0.050574  103308
757   2017Q2  0.074338  103308
758   2017Q3 -0.011194  103308
759   2017Q4  0.000432  103308
1680  2013Q1  0.000000  132997
1681  2013Q2  0.000000  132997
1682  2013Q3  0.000000  132997
1683  2013Q4  0.000000  132997
1684  2014Q1  0.000000  132997
1685  2014Q2  0.000000  132997
1686  2014Q3  0.000000  132997
1687  2014Q4  0.000508  132997
1688  2015Q1  0.029123  132997
1689  2015Q2 -0.012460  132997
1690  2015Q3  0.010585  132997
1691  2015Q4 -0.006277  132997
1692  2016Q1 -0.016294  132997
1693  2016Q2  0.040579  132997
1694  2016Q3  0.079040  132997
1695  2016Q4 -0.019384  132997
1696  2017Q1  0.008138  132997
1697  2017Q2  0.036594  132997
1698  2017Q3  0.008612  132997
1699  2017Q4 -0.007225  132997>)
('Key_aum: ', 103308)
     Quarter      Data      ID
4540  2013Q1  12748.17  103308
4541  2013Q2  12466.59  103308
4542  2013Q3  11782.01  103308
4543  2013Q4  12706.83  103308
4544  2014Q1  12837.08  103308
4545  2014Q2  17330.72  103308
4546  2014Q3  23772.88  103308
4547  2014Q4  31032.39  103308
4548  2015Q1  36615.92  103308
4549  2015Q2  39392.03  103308
4550  2015Q3  60584.02  103308
4551  2015Q4  41355.23  103308
4552  2016Q1  36452.12  103308
4553  2016Q2  38781.58  103308
4554  2016Q3  62392.41  103308
4555  2016Q4  42621.17  103308
4556  2017Q1  39981.04  103308
4557  2017Q2  41390.83  103308
4558  2017Q3  42704.50  103308
4559  2017Q4  43475.75  103308
('Key_nav : ', 103308)
('data 1 : ', array([-0.07166479, -0.04752689, -0.08123988,  0.10502878, -0.00420025,
        0.14574779,  0.07351151,  0.07518466,  0.03783227, -0.03691972,
       -0.07993895, -0.05659175, -0.06462786,  0.06825404,  0.03995054,
       -0.03878837,  0.05057397,  0.07433799, -0.01119371,  0.00043208]))
('data 2 :', array([ 12748.17,  12466.59,  11782.01,  12706.83,  12837.08,  17330.72,
        23772.88,  31032.39,  36615.92,  39392.03,  60584.02,  41355.23,
        36452.12,  38781.58,  62392.41,  42621.17,  39981.04,  41390.83,
        42704.5 ,  43475.75]))
('Key_aum: ', 132997)
       Quarter      Data      ID
154160  2013Q1      0.00  132997
154161  2013Q2      0.00  132997
154162  2013Q3      0.00  132997
154163  2013Q4      0.00  132997
154164  2014Q1      0.00  132997
154165  2014Q2      0.00  132997
154166  2014Q3      0.00  132997
154167  2014Q4   1285.17  132997
154168  2015Q1   4847.96  132997
154169  2015Q2   6329.88  132997
154170  2015Q3   8194.51  132997
154171  2015Q4   9202.86  132997
154172  2016Q1   8847.57  132997
154173  2016Q2   8627.24  132997
154174  2016Q3   8321.29  132997
154175  2016Q4   8233.45  132997
154176  2017Q1   9463.85  132997
154177  2017Q2  13266.88  132997
154178  2017Q3  18608.57  132997
154179  2017Q4  24180.02  132997
('Key_nav : ', 132997)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.00050838,  0.02912288, -0.01246044,
        0.01058503, -0.00627693, -0.01629378,  0.04057947,  0.07903996,
       -0.01938445,  0.00813804,  0.03659356,  0.00861192, -0.00722483]))
('data 2 :', array([     0.  ,      0.  ,      0.  ,      0.  ,      0.  ,      0.  ,
            0.  ,   1285.17,   4847.96,   6329.88,   8194.51,   9202.86,
         8847.57,   8627.24,   8321.29,   8233.45,   9463.85,  13266.88,
        18608.57,  24180.02]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,  0.00050838,  0.02912288, -0.01246044,
        0.01058503, -0.00627693, -0.01629378,  0.04057947,  0.07903996,
       -0.01938445,  0.00813804,  0.03659356,  0.00861192, -0.00722483]))
('aum table :', <bound method DataFrame.head of        Quarter      Data      ID
4540    2013Q1  12748.17  103308
4541    2013Q2  12466.59  103308
4542    2013Q3  11782.01  103308
4543    2013Q4  12706.83  103308
4544    2014Q1  12837.08  103308
4545    2014Q2  17330.72  103308
4546    2014Q3  23772.88  103308
4547    2014Q4  31032.39  103308
4548    2015Q1  36615.92  103308
4549    2015Q2  39392.03  103308
4550    2015Q3  60584.02  103308
4551    2015Q4  41355.23  103308
4552    2016Q1  36452.12  103308
4553    2016Q2  38781.58  103308
4554    2016Q3  62392.41  103308
4555    2016Q4  42621.17  103308
4556    2017Q1  39981.04  103308
4557    2017Q2  41390.83  103308
4558    2017Q3  42704.50  103308
4559    2017Q4  43475.75  103308
154160  2013Q1      0.00  132997
154161  2013Q2      0.00  132997
154162  2013Q3      0.00  132997
154163  2013Q4      0.00  132997
154164  2014Q1      0.00  132997
154165  2014Q2      0.00  132997
154166  2014Q3      0.00  132997
154167  2014Q4   1285.17  132997
154168  2015Q1   4847.96  132997
154169  2015Q2   6329.88  132997
154170  2015Q3   8194.51  132997
154171  2015Q4   9202.86  132997
154172  2016Q1   8847.57  132997
154173  2016Q2   8627.24  132997
154174  2016Q3   8321.29  132997
154175  2016Q4   8233.45  132997
154176  2017Q1   9463.85  132997
154177  2017Q2  13266.88  132997
154178  2017Q3  18608.57  132997
154179  2017Q4  24180.02  132997>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
740   2013Q1 -0.071665  103308
741   2013Q2 -0.047527  103308
742   2013Q3 -0.081240  103308
743   2013Q4  0.105029  103308
744   2014Q1 -0.004200  103308
745   2014Q2  0.145748  103308
746   2014Q3  0.073512  103308
747   2014Q4  0.075185  103308
748   2015Q1  0.037832  103308
749   2015Q2 -0.036920  103308
750   2015Q3 -0.079939  103308
751   2015Q4 -0.056592  103308
752   2016Q1 -0.064628  103308
753   2016Q2  0.068254  103308
754   2016Q3  0.039951  103308
755   2016Q4 -0.038788  103308
756   2017Q1  0.050574  103308
757   2017Q2  0.074338  103308
758   2017Q3 -0.011194  103308
759   2017Q4  0.000432  103308
1680  2013Q1  0.000000  132997
1681  2013Q2  0.000000  132997
1682  2013Q3  0.000000  132997
1683  2013Q4  0.000000  132997
1684  2014Q1  0.000000  132997
1685  2014Q2  0.000000  132997
1686  2014Q3  0.000000  132997
1687  2014Q4  0.000508  132997
1688  2015Q1  0.029123  132997
1689  2015Q2 -0.012460  132997
1690  2015Q3  0.010585  132997
1691  2015Q4 -0.006277  132997
1692  2016Q1 -0.016294  132997
1693  2016Q2  0.040579  132997
1694  2016Q3  0.079040  132997
1695  2016Q4 -0.019384  132997
1696  2017Q1  0.008138  132997
1697  2017Q2  0.036594  132997
1698  2017Q3  0.008612  132997
1699  2017Q4 -0.007225  132997>)
('Key_aum: ', 103308)
     Quarter      Data      ID
4540  2013Q1  12748.17  103308
4541  2013Q2  12466.59  103308
4542  2013Q3  11782.01  103308
4543  2013Q4  12706.83  103308
4544  2014Q1  12837.08  103308
4545  2014Q2  17330.72  103308
4546  2014Q3  23772.88  103308
4547  2014Q4  31032.39  103308
4548  2015Q1  36615.92  103308
4549  2015Q2  39392.03  103308
4550  2015Q3  60584.02  103308
4551  2015Q4  41355.23  103308
4552  2016Q1  36452.12  103308
4553  2016Q2  38781.58  103308
4554  2016Q3  62392.41  103308
4555  2016Q4  42621.17  103308
4556  2017Q1  39981.04  103308
4557  2017Q2  41390.83  103308
4558  2017Q3  42704.50  103308
4559  2017Q4  43475.75  103308
('Key_nav : ', 103308)
('data 1 : ', array([-0.07166479, -0.04752689, -0.08123988,  0.10502878, -0.00420025,
        0.14574779,  0.07351151,  0.07518466,  0.03783227, -0.03691972,
       -0.07993895, -0.05659175, -0.06462786,  0.06825404,  0.03995054,
       -0.03878837,  0.05057397,  0.07433799, -0.01119371,  0.00043208]))
('data 2 :', array([ 12748.17,  12466.59,  11782.01,  12706.83,  12837.08,  17330.72,
        23772.88,  31032.39,  36615.92,  39392.03,  60584.02,  41355.23,
        36452.12,  38781.58,  62392.41,  42621.17,  39981.04,  41390.83,
        42704.5 ,  43475.75]))
('Key_aum: ', 132997)
       Quarter      Data      ID
154160  2013Q1      0.00  132997
154161  2013Q2      0.00  132997
154162  2013Q3      0.00  132997
154163  2013Q4      0.00  132997
154164  2014Q1      0.00  132997
154165  2014Q2      0.00  132997
154166  2014Q3      0.00  132997
154167  2014Q4   1285.17  132997
154168  2015Q1   4847.96  132997
154169  2015Q2   6329.88  132997
154170  2015Q3   8194.51  132997
154171  2015Q4   9202.86  132997
154172  2016Q1   8847.57  132997
154173  2016Q2   8627.24  132997
154174  2016Q3   8321.29  132997
154175  2016Q4   8233.45  132997
154176  2017Q1   9463.85  132997
154177  2017Q2  13266.88  132997
154178  2017Q3  18608.57  132997
154179  2017Q4  24180.02  132997
('Key_nav : ', 132997)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.00050838,  0.02912288, -0.01246044,
        0.01058503, -0.00627693, -0.01629378,  0.04057947,  0.07903996,
       -0.01938445,  0.00813804,  0.03659356,  0.00861192, -0.00722483]))
('data 2 :', array([     0.  ,      0.  ,      0.  ,      0.  ,      0.  ,      0.  ,
            0.  ,   1285.17,   4847.96,   6329.88,   8194.51,   9202.86,
         8847.57,   8627.24,   8321.29,   8233.45,   9463.85,  13266.88,
        18608.57,  24180.02]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,  0.00050838,  0.02912288, -0.01246044,
        0.01058503, -0.00627693, -0.01629378,  0.04057947,  0.07903996,
       -0.01938445,  0.00813804,  0.03659356,  0.00861192, -0.00722483]))
('aum table :', <bound method DataFrame.head of        Quarter      Data      ID
4540    2013Q1  12748.17  103308
4541    2013Q2  12466.59  103308
4542    2013Q3  11782.01  103308
4543    2013Q4  12706.83  103308
4544    2014Q1  12837.08  103308
4545    2014Q2  17330.72  103308
4546    2014Q3  23772.88  103308
4547    2014Q4  31032.39  103308
4548    2015Q1  36615.92  103308
4549    2015Q2  39392.03  103308
4550    2015Q3  60584.02  103308
4551    2015Q4  41355.23  103308
4552    2016Q1  36452.12  103308
4553    2016Q2  38781.58  103308
4554    2016Q3  62392.41  103308
4555    2016Q4  42621.17  103308
4556    2017Q1  39981.04  103308
4557    2017Q2  41390.83  103308
4558    2017Q3  42704.50  103308
4559    2017Q4  43475.75  103308
154160  2013Q1      0.00  132997
154161  2013Q2      0.00  132997
154162  2013Q3      0.00  132997
154163  2013Q4      0.00  132997
154164  2014Q1      0.00  132997
154165  2014Q2      0.00  132997
154166  2014Q3      0.00  132997
154167  2014Q4   1285.17  132997
154168  2015Q1   4847.96  132997
154169  2015Q2   6329.88  132997
154170  2015Q3   8194.51  132997
154171  2015Q4   9202.86  132997
154172  2016Q1   8847.57  132997
154173  2016Q2   8627.24  132997
154174  2016Q3   8321.29  132997
154175  2016Q4   8233.45  132997
154176  2017Q1   9463.85  132997
154177  2017Q2  13266.88  132997
154178  2017Q3  18608.57  132997
154179  2017Q4  24180.02  132997>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
740   2013Q1 -0.071665  103308
741   2013Q2 -0.047527  103308
742   2013Q3 -0.081240  103308
743   2013Q4  0.105029  103308
744   2014Q1 -0.004200  103308
745   2014Q2  0.145748  103308
746   2014Q3  0.073512  103308
747   2014Q4  0.075185  103308
748   2015Q1  0.037832  103308
749   2015Q2 -0.036920  103308
750   2015Q3 -0.079939  103308
751   2015Q4 -0.056592  103308
752   2016Q1 -0.064628  103308
753   2016Q2  0.068254  103308
754   2016Q3  0.039951  103308
755   2016Q4 -0.038788  103308
756   2017Q1  0.050574  103308
757   2017Q2  0.074338  103308
758   2017Q3 -0.011194  103308
759   2017Q4  0.000432  103308
1680  2013Q1  0.000000  132997
1681  2013Q2  0.000000  132997
1682  2013Q3  0.000000  132997
1683  2013Q4  0.000000  132997
1684  2014Q1  0.000000  132997
1685  2014Q2  0.000000  132997
1686  2014Q3  0.000000  132997
1687  2014Q4  0.000508  132997
1688  2015Q1  0.029123  132997
1689  2015Q2 -0.012460  132997
1690  2015Q3  0.010585  132997
1691  2015Q4 -0.006277  132997
1692  2016Q1 -0.016294  132997
1693  2016Q2  0.040579  132997
1694  2016Q3  0.079040  132997
1695  2016Q4 -0.019384  132997
1696  2017Q1  0.008138  132997
1697  2017Q2  0.036594  132997
1698  2017Q3  0.008612  132997
1699  2017Q4 -0.007225  132997>)
('Key_aum: ', 103308)
     Quarter      Data      ID
4540  2013Q1  12748.17  103308
4541  2013Q2  12466.59  103308
4542  2013Q3  11782.01  103308
4543  2013Q4  12706.83  103308
4544  2014Q1  12837.08  103308
4545  2014Q2  17330.72  103308
4546  2014Q3  23772.88  103308
4547  2014Q4  31032.39  103308
4548  2015Q1  36615.92  103308
4549  2015Q2  39392.03  103308
4550  2015Q3  60584.02  103308
4551  2015Q4  41355.23  103308
4552  2016Q1  36452.12  103308
4553  2016Q2  38781.58  103308
4554  2016Q3  62392.41  103308
4555  2016Q4  42621.17  103308
4556  2017Q1  39981.04  103308
4557  2017Q2  41390.83  103308
4558  2017Q3  42704.50  103308
4559  2017Q4  43475.75  103308
('Key_nav : ', 103308)
('data 1 : ', array([-0.07166479, -0.04752689, -0.08123988,  0.10502878, -0.00420025,
        0.14574779,  0.07351151,  0.07518466,  0.03783227, -0.03691972,
       -0.07993895, -0.05659175, -0.06462786,  0.06825404,  0.03995054,
       -0.03878837,  0.05057397,  0.07433799, -0.01119371,  0.00043208]))
('data 2 :', array([ 12748.17,  12466.59,  11782.01,  12706.83,  12837.08,  17330.72,
        23772.88,  31032.39,  36615.92,  39392.03,  60584.02,  41355.23,
        36452.12,  38781.58,  62392.41,  42621.17,  39981.04,  41390.83,
        42704.5 ,  43475.75]))
('Key_aum: ', 132997)
       Quarter      Data      ID
154160  2013Q1      0.00  132997
154161  2013Q2      0.00  132997
154162  2013Q3      0.00  132997
154163  2013Q4      0.00  132997
154164  2014Q1      0.00  132997
154165  2014Q2      0.00  132997
154166  2014Q3      0.00  132997
154167  2014Q4   1285.17  132997
154168  2015Q1   4847.96  132997
154169  2015Q2   6329.88  132997
154170  2015Q3   8194.51  132997
154171  2015Q4   9202.86  132997
154172  2016Q1   8847.57  132997
154173  2016Q2   8627.24  132997
154174  2016Q3   8321.29  132997
154175  2016Q4   8233.45  132997
154176  2017Q1   9463.85  132997

('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
740   2013Q1 -0.071665  103308
741   2013Q2 -0.047527  103308
742   2013Q3 -0.081240  103308
743   2013Q4  0.105029  103308
744   2014Q1 -0.004200  103308
745   2014Q2  0.145748  103308
746   2014Q3  0.073512  103308
747   2014Q4  0.075185  103308
748   2015Q1  0.037832  103308
749   2015Q2 -0.036920  103308
750   2015Q3 -0.079939  103308
751   2015Q4 -0.056592  103308
752   2016Q1 -0.064628  103308
753   2016Q2  0.068254  103308
754   2016Q3  0.039951  103308
755   2016Q4 -0.038788  103308
756   2017Q1  0.050574  103308
757   2017Q2  0.074338  103308
758   2017Q3 -0.011194  103308
759   2017Q4  0.000432  103308
1680  2013Q1  0.000000  132997
1681  2013Q2  0.000000  132997
1682  2013Q3  0.000000  132997
1683  2013Q4  0.000000  132997
1684  2014Q1  0.000000  132997
1685  2014Q2  0.000000  132997
1686  2014Q3  0.000000  132997
1687  2014Q4  0.000508  132997
1688  2015Q1  0.029123  132997
1689  2015Q2 -0.012460  132997
1690  2015Q3  0.010585  132997
1691  2015Q4 -0.006277  132997
1692  2016Q1 -0.016294  132997
1693  2016Q2  0.040579  132997
1694  2016Q3  0.079040  132997
1695  2016Q4 -0.019384  132997
1696  2017Q1  0.008138  132997
1697  2017Q2  0.036594  132997
1698  2017Q3  0.008612  132997
1699  2017Q4 -0.007225  132997>)
('Key_aum: ', 103308)
     Quarter      Data      ID
4540  2013Q1  12748.17  103308
4541  2013Q2  12466.59  103308
4542  2013Q3  11782.01  103308
4543  2013Q4  12706.83  103308
4544  2014Q1  12837.08  103308
4545  2014Q2  17330.72  103308
4546  2014Q3  23772.88  103308
4547  2014Q4  31032.39  103308
4548  2015Q1  36615.92  103308
4549  2015Q2  39392.03  103308
4550  2015Q3  60584.02  103308
4551  2015Q4  41355.23  103308
4552  2016Q1  36452.12  103308
4553  2016Q2  38781.58  103308
4554  2016Q3  62392.41  103308
4555  2016Q4  42621.17  103308
4556  2017Q1  39981.04  103308
4557  2017Q2  41390.83  103308
4558  2017Q3  42704.50  103308
4559  2017Q4  43475.75  103308
('Key_nav : ', 103308)
('data 1 : ', array([-0.07166479, -0.04752689, -0.08123988,  0.10502878, -0.00420025,
        0.14574779,  0.07351151,  0.07518466,  0.03783227, -0.03691972,
       -0.07993895, -0.05659175, -0.06462786,  0.06825404,  0.03995054,
       -0.03878837,  0.05057397,  0.07433799, -0.01119371,  0.00043208]))
('data 2 :', array([ 12748.17,  12466.59,  11782.01,  12706.83,  12837.08,  17330.72,
        23772.88,  31032.39,  36615.92,  39392.03,  60584.02,  41355.23,
        36452.12,  38781.58,  62392.41,  42621.17,  39981.04,  41390.83,
        42704.5 ,  43475.75]))
('Key_aum: ', 132997)
       Quarter      Data      ID
154160  2013Q1      0.00  132997
154161  2013Q2      0.00  132997
154162  2013Q3      0.00  132997
154163  2013Q4      0.00  132997
154164  2014Q1      0.00  132997
154165  2014Q2      0.00  132997
154166  2014Q3      0.00  132997
154167  2014Q4   1285.17  132997
154168  2015Q1   4847.96  132997
154169  2015Q2   6329.88  132997
154170  2015Q3   8194.51  132997
154171  2015Q4   9202.86  132997
154172  2016Q1   8847.57  132997
154173  2016Q2   8627.24  132997
154174  2016Q3   8321.29  132997
154175  2016Q4   8233.45  132997
154176  2017Q1   9463.85  132997
154177  2017Q2  13266.88  132997
154178  2017Q3  18608.57  132997
154179  2017Q4  24180.02  132997
('Key_nav : ', 132997)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.00050838,  0.02912288, -0.01246044,
        0.01058503, -0.00627693, -0.01629378,  0.04057947,  0.07903996,
       -0.01938445,  0.00813804,  0.03659356,  0.00861192, -0.00722483]))
('data 2 :', array([     0.  ,      0.  ,      0.  ,      0.  ,      0.  ,      0.  ,
            0.  ,   1285.17,   4847.96,   6329.88,   8194.51,   9202.86,
         8847.57,   8627.24,   8321.29,   8233.45,   9463.85,  13266.88,
        18608.57,  24180.02]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,  0.00050838,  0.02912288, -0.01246044,
        0.01058503, -0.00627693, -0.01629378,  0.04057947,  0.07903996,
       -0.01938445,  0.00813804,  0.03659356,  0.00861192, -0.00722483]))
('aum table :', <bound method DataFrame.head of        Quarter      Data      ID
4540    2013Q1  12748.17  103308
4541    2013Q2  12466.59  103308
4542    2013Q3  11782.01  103308
4543    2013Q4  12706.83  103308
4544    2014Q1  12837.08  103308
4545    2014Q2  17330.72  103308
4546    2014Q3  23772.88  103308
4547    2014Q4  31032.39  103308
4548    2015Q1  36615.92  103308
4549    2015Q2  39392.03  103308
4550    2015Q3  60584.02  103308
4551    2015Q4  41355.23  103308
4552    2016Q1  36452.12  103308
4553    2016Q2  38781.58  103308
4554    2016Q3  62392.41  103308
4555    2016Q4  42621.17  103308
4556    2017Q1  39981.04  103308
4557    2017Q2  41390.83  103308
4558    2017Q3  42704.50  103308
4559    2017Q4  43475.75  103308
154160  2013Q1      0.00  132997
154161  2013Q2      0.00  132997
154162  2013Q3      0.00  132997
154163  2013Q4      0.00  132997
154164  2014Q1      0.00  132997
154165  2014Q2      0.00  132997
154166  2014Q3      0.00  132997
154167  2014Q4   1285.17  132997
154168  2015Q1   4847.96  132997
154169  2015Q2   6329.88  132997
154170  2015Q3   8194.51  132997
154171  2015Q4   9202.86  132997
154172  2016Q1   8847.57  132997
154173  2016Q2   8627.24  132997
154174  2016Q3   8321.29  132997
154175  2016Q4   8233.45  132997
154176  2017Q1   9463.85  132997
154177  2017Q2  13266.88  132997
154178  2017Q3  18608.57  132997
154179  2017Q4  24180.02  132997>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
740   2013Q1 -0.071665  103308
741   2013Q2 -0.047527  103308
742   2013Q3 -0.081240  103308
743   2013Q4  0.105029  103308
744   2014Q1 -0.004200  103308
745   2014Q2  0.145748  103308
746   2014Q3  0.073512  103308
747   2014Q4  0.075185  103308
748   2015Q1  0.037832  103308
749   2015Q2 -0.036920  103308
750   2015Q3 -0.079939  103308
751   2015Q4 -0.056592  103308
752   2016Q1 -0.064628  103308
753   2016Q2  0.068254  103308
754   2016Q3  0.039951  103308
755   2016Q4 -0.038788  103308
756   2017Q1  0.050574  103308
757   2017Q2  0.074338  103308
758   2017Q3 -0.011194  103308
759   2017Q4  0.000432  103308
1680  2013Q1  0.000000  132997
1681  2013Q2  0.000000  132997
1682  2013Q3  0.000000  132997
1683  2013Q4  0.000000  132997
1684  2014Q1  0.000000  132997
1685  2014Q2  0.000000  132997
1686  2014Q3  0.000000  132997
1687  2014Q4  0.000508  132997
1688  2015Q1  0.029123  132997
1689  2015Q2 -0.012460  132997
1690  2015Q3  0.010585  132997
1691  2015Q4 -0.006277  132997
1692  2016Q1 -0.016294  132997
1693  2016Q2  0.040579  132997
1694  2016Q3  0.079040  132997
1695  2016Q4 -0.019384  132997
1696  2017Q1  0.008138  132997
1697  2017Q2  0.036594  132997
1698  2017Q3  0.008612  132997
1699  2017Q4 -0.007225  132997>)
('Key_aum: ', 103308)
     Quarter      Data      ID
4540  2013Q1  12748.17  103308
4541  2013Q2  12466.59  103308
4542  2013Q3  11782.01  103308
4543  2013Q4  12706.83  103308
4544  2014Q1  12837.08  103308
4545  2014Q2  17330.72  103308
4546  2014Q3  23772.88  103308
4547  2014Q4  31032.39  103308
4548  2015Q1  36615.92  103308
4549  2015Q2  39392.03  103308
4550  2015Q3  60584.02  103308
4551  2015Q4  41355.23  103308
4552  2016Q1  36452.12  103308
4553  2016Q2  38781.58  103308
4554  2016Q3  62392.41  103308
4555  2016Q4  42621.17  103308
4556  2017Q1  39981.04  103308
4557  2017Q2  41390.83  103308
4558  2017Q3  42704.50  103308
4559  2017Q4  43475.75  103308
('Key_nav : ', 103308)
('data 1 : ', array([-0.07166479, -0.04752689, -0.08123988,  0.10502878, -0.00420025,
        0.14574779,  0.07351151,  0.07518466,  0.03783227, -0.03691972,
       -0.07993895, -0.05659175, -0.06462786,  0.06825404,  0.03995054,
       -0.03878837,  0.05057397,  0.07433799, -0.01119371,  0.00043208]))
('data 2 :', array([ 12748.17,  12466.59,  11782.01,  12706.83,  12837.08,  17330.72,
        23772.88,  31032.39,  36615.92,  39392.03,  60584.02,  41355.23,
        36452.12,  38781.58,  62392.41,  42621.17,  39981.04,  41390.83,
        42704.5 ,  43475.75]))
('Key_aum: ', 132997)
       Quarter      Data      ID
154160  2013Q1      0.00  132997
154161  2013Q2      0.00  132997
154162  2013Q3      0.00  132997
154163  2013Q4      0.00  132997
154164  2014Q1      0.00  132997
154165  2014Q2      0.00  132997
154166  2014Q3      0.00  132997
154167  2014Q4   1285.17  132997
154168  2015Q1   4847.96  132997
154169  2015Q2   6329.88  132997
154170  2015Q3   8194.51  132997
154171  2015Q4   9202.86  132997
154172  2016Q1   8847.57  132997
154173  2016Q2   8627.24  132997
154174  2016Q3   8321.29  132997
154175  2016Q4   8233.45  132997
154176  2017Q1   9463.85  132997
154177  2017Q2  13266.88  132997
154178  2017Q3  18608.57  132997
154179  2017Q4  24180.02  132997
('Key_nav : ', 132997)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.00050838,  0.02912288, -0.01246044,
        0.01058503, -0.00627693, -0.01629378,  0.04057947,  0.07903996,
       -0.01938445,  0.00813804,  0.03659356,  0.00861192, -0.00722483]))
('data 2 :', array([     0.  ,      0.  ,      0.  ,      0.  ,      0.  ,      0.  ,
            0.  ,   1285.17,   4847.96,   6329.88,   8194.51,   9202.86,
         8847.57,   8627.24,   8321.29,   8233.45,   9463.85,  13266.88,
        18608.57,  24180.02]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,  0.00050838,  0.02912288, -0.01246044,
        0.01058503, -0.00627693, -0.01629378,  0.04057947,  0.07903996,
       -0.01938445,  0.00813804,  0.03659356,  0.00861192, -0.00722483]))
('aum table :', <bound method DataFrame.head of        Quarter      Data      ID
4540    2013Q1  12748.17  103308
4541    2013Q2  12466.59  103308
4542    2013Q3  11782.01  103308
4543    2013Q4  12706.83  103308
4544    2014Q1  12837.08  103308
4545    2014Q2  17330.72  103308
4546    2014Q3  23772.88  103308
4547    2014Q4  31032.39  103308
4548    2015Q1  36615.92  103308
4549    2015Q2  39392.03  103308
4550    2015Q3  60584.02  103308
4551    2015Q4  41355.23  103308
4552    2016Q1  36452.12  103308
4553    2016Q2  38781.58  103308
4554    2016Q3  62392.41  103308
4555    2016Q4  42621.17  103308
4556    2017Q1  39981.04  103308
4557    2017Q2  41390.83  103308
4558    2017Q3  42704.50  103308
4559    2017Q4  43475.75  103308
154160  2013Q1      0.00  132997
154161  2013Q2      0.00  132997
154162  2013Q3      0.00  132997
154163  2013Q4      0.00  132997
154164  2014Q1      0.00  132997
154165  2014Q2      0.00  132997
154166  2014Q3      0.00  132997
154167  2014Q4   1285.17  132997
154168  2015Q1   4847.96  132997
154169  2015Q2   6329.88  132997
154170  2015Q3   8194.51  132997
154171  2015Q4   9202.86  132997
154172  2016Q1   8847.57  132997
154173  2016Q2   8627.24  132997
154174  2016Q3   8321.29  132997
154175  2016Q4   8233.45  132997
154176  2017Q1   9463.85  132997
154177  2017Q2  13266.88  132997
154178  2017Q3  18608.57  132997
154179  2017Q4  24180.02  132997>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
740   2013Q1 -0.071665  103308
741   2013Q2 -0.047527  103308
742   2013Q3 -0.081240  103308
743   2013Q4  0.105029  103308
744   2014Q1 -0.004200  103308
745   2014Q2  0.145748  103308
746   2014Q3  0.073512  103308
747   2014Q4  0.075185  103308
748   2015Q1  0.037832  103308
749   2015Q2 -0.036920  103308
750   2015Q3 -0.079939  103308
751   2015Q4 -0.056592  103308
752   2016Q1 -0.064628  103308
753   2016Q2  0.068254  103308
754   2016Q3  0.039951  103308
755   2016Q4 -0.038788  103308
756   2017Q1  0.050574  103308
757   2017Q2  0.074338  103308
758   2017Q3 -0.011194  103308
759   2017Q4  0.000432  103308
1680  2013Q1  0.000000  132997
1681  2013Q2  0.000000  132997
1682  2013Q3  0.000000  132997
1683  2013Q4  0.000000  132997
1684  2014Q1  0.000000  132997
1685  2014Q2  0.000000  132997
1686  2014Q3  0.000000  132997
1687  2014Q4  0.000508  132997
1688  2015Q1  0.029123  132997
1689  2015Q2 -0.012460  132997
1690  2015Q3  0.010585  132997
1691  2015Q4 -0.006277  132997
1692  2016Q1 -0.016294  132997
1693  2016Q2  0.040579  132997
1694  2016Q3  0.079040  132997
1695  2016Q4 -0.019384  132997
1696  2017Q1  0.008138  132997
1697  2017Q2  0.036594  132997
1698  2017Q3  0.008612  132997
1699  2017Q4 -0.007225  132997>)
('Key_aum: ', 103308)
     Quarter      Data      ID
4540  2013Q1  12748.17  103308
4541  2013Q2  12466.59  103308
4542  2013Q3  11782.01  103308
4543  2013Q4  12706.83  103308
4544  2014Q1  12837.08  103308
4545  2014Q2  17330.72  103308
4546  2014Q3  23772.88  103308
4547  2014Q4  31032.39  103308
4548  2015Q1  36615.92  103308
4549  2015Q2  39392.03  103308
4550  2015Q3  60584.02  103308
4551  2015Q4  41355.23  103308
4552  2016Q1  36452.12  103308
4553  2016Q2  38781.58  103308
4554  2016Q3  62392.41  103308
4555  2016Q4  42621.17  103308
4556  2017Q1  39981.04  103308
4557  2017Q2  41390.83  103308
4558  2017Q3  42704.50  103308
4559  2017Q4  43475.75  103308
('Key_nav : ', 103308)
('data 1 : ', array([-0.07166479, -0.04752689, -0.08123988,  0.10502878, -0.00420025,
        0.14574779,  0.07351151,  0.07518466,  0.03783227, -0.03691972,
       -0.07993895, -0.05659175, -0.06462786,  0.06825404,  0.03995054,
       -0.03878837,  0.05057397,  0.07433799, -0.01119371,  0.00043208]))
('data 2 :', array([ 12748.17,  12466.59,  11782.01,  12706.83,  12837.08,  17330.72,
        23772.88,  31032.39,  36615.92,  39392.03,  60584.02,  41355.23,
        36452.12,  38781.58,  62392.41,  42621.17,  39981.04,  41390.83,
        42704.5 ,  43475.75]))
('Key_aum: ', 132997)
       Quarter      Data      ID
154160  2013Q1      0.00  132997
154161  2013Q2      0.00  132997
154162  2013Q3      0.00  132997
154163  2013Q4      0.00  132997
154164  2014Q1      0.00  132997
154165  2014Q2      0.00  132997
154166  2014Q3      0.00  132997
154167  2014Q4   1285.17  132997
154168  2015Q1   4847.96  132997
154169  2015Q2   6329.88  132997
154170  2015Q3   8194.51  132997
154171  2015Q4   9202.86  132997
154172  2016Q1   8847.57  132997
154173  2016Q2   8627.24  132997
154174  2016Q3   8321.29  132997
154175  2016Q4   8233.45  132997
154176  2017Q1   9463.85  132997
154177  2017Q2  13266.88  132997
154178  2017Q3  18608.57  132997
154179  2017Q4  24180.02  132997
('Key_nav : ', 132997)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.00050838,  0.02912288, -0.01246044,
        0.01058503, -0.00627693, -0.01629378,  0.04057947,  0.07903996,
       -0.01938445,  0.00813804,  0.03659356,  0.00861192, -0.00722483]))
('data 2 :', array([     0.  ,      0.  ,      0.  ,      0.  ,      0.  ,      0.  ,
            0.  ,   1285.17,   4847.96,   6329.88,   8194.51,   9202.86,
         8847.57,   8627.24,   8321.29,   8233.45,   9463.85,  13266.88,
        18608.57,  24180.02]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,  0.00050838,  0.02912288, -0.01246044,
        0.01058503, -0.00627693, -0.01629378,  0.04057947,  0.07903996,
       -0.01938445,  0.00813804,  0.03659356,  0.00861192, -0.00722483]))
('aum table :', <bound method DataFrame.head of        Quarter      Data      ID
4540    2013Q1  12748.17  103308
4541    2013Q2  12466.59  103308
4542    2013Q3  11782.01  103308
4543    2013Q4  12706.83  103308
4544    2014Q1  12837.08  103308
4545    2014Q2  17330.72  103308
4546    2014Q3  23772.88  103308
4547    2014Q4  31032.39  103308
4548    2015Q1  36615.92  103308
4549    2015Q2  39392.03  103308
4550    2015Q3  60584.02  103308
4551    2015Q4  41355.23  103308
4552    2016Q1  36452.12  103308
4553    2016Q2  38781.58  103308
4554    2016Q3  62392.41  103308
4555    2016Q4  42621.17  103308
4556    2017Q1  39981.04  103308
4557    2017Q2  41390.83  103308
4558    2017Q3  42704.50  103308
4559    2017Q4  43475.75  103308
154160  2013Q1      0.00  132997
154161  2013Q2      0.00  132997
154162  2013Q3      0.00  132997
154163  2013Q4      0.00  132997
154164  2014Q1      0.00  132997
154165  2014Q2      0.00  132997
154166  2014Q3      0.00  132997
154167  2014Q4   1285.17  132997
154168  2015Q1   4847.96  132997
154169  2015Q2   6329.88  132997
154170  2015Q3   8194.51  132997
154171  2015Q4   9202.86  132997
154172  2016Q1   8847.57  132997
154173  2016Q2   8627.24  132997
154174  2016Q3   8321.29  132997
154175  2016Q4   8233.45  132997
154176  2017Q1   9463.85  132997
154177  2017Q2  13266.88  132997
154178  2017Q3  18608.57  132997
154179  2017Q4  24180.02  132997>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
740   2013Q1 -0.071665  103308
741   2013Q2 -0.047527  103308
742   2013Q3 -0.081240  103308
743   2013Q4  0.105029  103308
744   2014Q1 -0.004200  103308
745   2014Q2  0.145748  103308
746   2014Q3  0.073512  103308
747   2014Q4  0.075185  103308
748   2015Q1  0.037832  103308
749   2015Q2 -0.036920  103308
750   2015Q3 -0.079939  103308
751   2015Q4 -0.056592  103308
752   2016Q1 -0.064628  103308
753   2016Q2  0.068254  103308
754   2016Q3  0.039951  103308
755   2016Q4 -0.038788  103308
756   2017Q1  0.050574  103308
757   2017Q2  0.074338  103308
758   2017Q3 -0.011194  103308
759   2017Q4  0.000432  103308
1680  2013Q1  0.000000  132997
1681  2013Q2  0.000000  132997
1682  2013Q3  0.000000  132997
1683  2013Q4  0.000000  132997
1684  2014Q1  0.000000  132997
1685  2014Q2  0.000000  132997
1686  2014Q3  0.000000  132997
1687  2014Q4  0.000508  132997
1688  2015Q1  0.029123  132997
1689  2015Q2 -0.012460  132997
1690  2015Q3  0.010585  132997
1691  2015Q4 -0.006277  132997
1692  2016Q1 -0.016294  132997
1693  2016Q2  0.040579  132997
1694  2016Q3  0.079040  132997
1695  2016Q4 -0.019384  132997
1696  2017Q1  0.008138  132997
1697  2017Q2  0.036594  132997
1698  2017Q3  0.008612  132997
1699  2017Q4 -0.007225  132997>)
('Key_aum: ', 103308)
     Quarter      Data      ID
4540  2013Q1  12748.17  103308
4541  2013Q2  12466.59  103308
4542  2013Q3  11782.01  103308
4543  2013Q4  12706.83  103308
4544  2014Q1  12837.08  103308
4545  2014Q2  17330.72  103308
4546  2014Q3  23772.88  103308
4547  2014Q4  31032.39  103308
4548  2015Q1  36615.92  103308
4549  2015Q2  39392.03  103308
4550  2015Q3  60584.02  103308
4551  2015Q4  41355.23  103308
4552  2016Q1  36452.12  103308
4553  2016Q2  38781.58  103308
4554  2016Q3  62392.41  103308
4555  2016Q4  42621.17  103308
4556  2017Q1  39981.04  103308
4557  2017Q2  41390.83  103308
4558  2017Q3  42704.50  103308
4559  2017Q4  43475.75  103308
('Key_nav : ', 103308)
('data 1 : ', array([-0.07166479, -0.04752689, -0.08123988,  0.10502878, -0.00420025,
        0.14574779,  0.07351151,  0.07518466,  0.03783227, -0.03691972,
       -0.07993895, -0.05659175, -0.06462786,  0.06825404,  0.03995054,
       -0.03878837,  0.05057397,  0.07433799, -0.01119371,  0.00043208]))
('data 2 :', array([ 12748.17,  12466.59,  11782.01,  12706.83,  12837.08,  17330.72,
        23772.88,  31032.39,  36615.92,  39392.03,  60584.02,  41355.23,
        36452.12,  38781.58,  62392.41,  42621.17,  39981.04,  41390.83,
        42704.5 ,  43475.75]))
('Key_aum: ', 132997)
       Quarter      Data      ID
154160  2013Q1      0.00  132997
154161  2013Q2      0.00  132997
154162  2013Q3      0.00  132997
154163  2013Q4      0.00  132997
154164  2014Q1      0.00  132997
154165  2014Q2      0.00  132997
154166  2014Q3      0.00  132997
154167  2014Q4   1285.17  132997
154168  2015Q1   4847.96  132997
154169  2015Q2   6329.88  132997
154170  2015Q3   8194.51  132997
154171  2015Q4   9202.86  132997
154172  2016Q1   8847.57  132997
154173  2016Q2   8627.24  132997
154174  2016Q3   8321.29  132997
154175  2016Q4   8233.45  132997
154176  2017Q1   9463.85  132997

('Key_aum: ', 103308)
     Quarter      Data      ID
4540  2013Q1  12748.17  103308
4541  2013Q2  12466.59  103308
4542  2013Q3  11782.01  103308
4543  2013Q4  12706.83  103308
4544  2014Q1  12837.08  103308
4545  2014Q2  17330.72  103308
4546  2014Q3  23772.88  103308
4547  2014Q4  31032.39  103308
4548  2015Q1  36615.92  103308
4549  2015Q2  39392.03  103308
4550  2015Q3  60584.02  103308
4551  2015Q4  41355.23  103308
4552  2016Q1  36452.12  103308
4553  2016Q2  38781.58  103308
4554  2016Q3  62392.41  103308
4555  2016Q4  42621.17  103308
4556  2017Q1  39981.04  103308
4557  2017Q2  41390.83  103308
4558  2017Q3  42704.50  103308
4559  2017Q4  43475.75  103308
('Key_nav : ', 103308)
('data 1 : ', array([-0.07166479, -0.04752689, -0.08123988,  0.10502878, -0.00420025,
        0.14574779,  0.07351151,  0.07518466,  0.03783227, -0.03691972,
       -0.07993895, -0.05659175, -0.06462786,  0.06825404,  0.03995054,
       -0.03878837,  0.05057397,  0.07433799, -0.01119371,  0.00043208]))
('data 2 :', array([ 12748.17,  12466.59,  11782.01,  12706.83,  12837.08,  17330.72,
        23772.88,  31032.39,  36615.92,  39392.03,  60584.02,  41355.23,
        36452.12,  38781.58,  62392.41,  42621.17,  39981.04,  41390.83,
        42704.5 ,  43475.75]))
('Key_aum: ', 132997)
       Quarter      Data      ID
154160  2013Q1      0.00  132997
154161  2013Q2      0.00  132997
154162  2013Q3      0.00  132997
154163  2013Q4      0.00  132997
154164  2014Q1      0.00  132997
154165  2014Q2      0.00  132997
154166  2014Q3      0.00  132997
154167  2014Q4   1285.17  132997
154168  2015Q1   4847.96  132997
154169  2015Q2   6329.88  132997
154170  2015Q3   8194.51  132997
154171  2015Q4   9202.86  132997
154172  2016Q1   8847.57  132997
154173  2016Q2   8627.24  132997
154174  2016Q3   8321.29  132997
154175  2016Q4   8233.45  132997
154176  2017Q1   9463.85  132997
154177  2017Q2  13266.88  132997
154178  2017Q3  18608.57  132997
154179  2017Q4  24180.02  132997
('Key_nav : ', 132997)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.00050838,  0.02912288, -0.01246044,
        0.01058503, -0.00627693, -0.01629378,  0.04057947,  0.07903996,
       -0.01938445,  0.00813804,  0.03659356,  0.00861192, -0.00722483]))
('data 2 :', array([     0.  ,      0.  ,      0.  ,      0.  ,      0.  ,      0.  ,
            0.  ,   1285.17,   4847.96,   6329.88,   8194.51,   9202.86,
         8847.57,   8627.24,   8321.29,   8233.45,   9463.85,  13266.88,
        18608.57,  24180.02]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,  0.00050838,  0.02912288, -0.01246044,
        0.01058503, -0.00627693, -0.01629378,  0.04057947,  0.07903996,
       -0.01938445,  0.00813804,  0.03659356,  0.00861192, -0.00722483]))
('aum table :', <bound method DataFrame.head of        Quarter      Data      ID
4540    2013Q1  12748.17  103308
4541    2013Q2  12466.59  103308
4542    2013Q3  11782.01  103308
4543    2013Q4  12706.83  103308
4544    2014Q1  12837.08  103308
4545    2014Q2  17330.72  103308
4546    2014Q3  23772.88  103308
4547    2014Q4  31032.39  103308
4548    2015Q1  36615.92  103308
4549    2015Q2  39392.03  103308
4550    2015Q3  60584.02  103308
4551    2015Q4  41355.23  103308
4552    2016Q1  36452.12  103308
4553    2016Q2  38781.58  103308
4554    2016Q3  62392.41  103308
4555    2016Q4  42621.17  103308
4556    2017Q1  39981.04  103308
4557    2017Q2  41390.83  103308
4558    2017Q3  42704.50  103308
4559    2017Q4  43475.75  103308
154160  2013Q1      0.00  132997
154161  2013Q2      0.00  132997
154162  2013Q3      0.00  132997
154163  2013Q4      0.00  132997
154164  2014Q1      0.00  132997
154165  2014Q2      0.00  132997
154166  2014Q3      0.00  132997
154167  2014Q4   1285.17  132997
154168  2015Q1   4847.96  132997
154169  2015Q2   6329.88  132997
154170  2015Q3   8194.51  132997
154171  2015Q4   9202.86  132997
154172  2016Q1   8847.57  132997
154173  2016Q2   8627.24  132997
154174  2016Q3   8321.29  132997
154175  2016Q4   8233.45  132997
154176  2017Q1   9463.85  132997
154177  2017Q2  13266.88  132997
154178  2017Q3  18608.57  132997
154179  2017Q4  24180.02  132997>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
740   2013Q1 -0.071665  103308
741   2013Q2 -0.047527  103308
742   2013Q3 -0.081240  103308
743   2013Q4  0.105029  103308
744   2014Q1 -0.004200  103308
745   2014Q2  0.145748  103308
746   2014Q3  0.073512  103308
747   2014Q4  0.075185  103308
748   2015Q1  0.037832  103308
749   2015Q2 -0.036920  103308
750   2015Q3 -0.079939  103308
751   2015Q4 -0.056592  103308
752   2016Q1 -0.064628  103308
753   2016Q2  0.068254  103308
754   2016Q3  0.039951  103308
755   2016Q4 -0.038788  103308
756   2017Q1  0.050574  103308
757   2017Q2  0.074338  103308
758   2017Q3 -0.011194  103308
759   2017Q4  0.000432  103308
1680  2013Q1  0.000000  132997
1681  2013Q2  0.000000  132997
1682  2013Q3  0.000000  132997
1683  2013Q4  0.000000  132997
1684  2014Q1  0.000000  132997
1685  2014Q2  0.000000  132997
1686  2014Q3  0.000000  132997
1687  2014Q4  0.000508  132997
1688  2015Q1  0.029123  132997
1689  2015Q2 -0.012460  132997
1690  2015Q3  0.010585  132997
1691  2015Q4 -0.006277  132997
1692  2016Q1 -0.016294  132997
1693  2016Q2  0.040579  132997
1694  2016Q3  0.079040  132997
1695  2016Q4 -0.019384  132997
1696  2017Q1  0.008138  132997
1697  2017Q2  0.036594  132997
1698  2017Q3  0.008612  132997
1699  2017Q4 -0.007225  132997>)
('Key_aum: ', 103308)
     Quarter      Data      ID
4540  2013Q1  12748.17  103308
4541  2013Q2  12466.59  103308
4542  2013Q3  11782.01  103308
4543  2013Q4  12706.83  103308
4544  2014Q1  12837.08  103308
4545  2014Q2  17330.72  103308
4546  2014Q3  23772.88  103308
4547  2014Q4  31032.39  103308
4548  2015Q1  36615.92  103308
4549  2015Q2  39392.03  103308
4550  2015Q3  60584.02  103308
4551  2015Q4  41355.23  103308
4552  2016Q1  36452.12  103308
4553  2016Q2  38781.58  103308
4554  2016Q3  62392.41  103308
4555  2016Q4  42621.17  103308
4556  2017Q1  39981.04  103308
4557  2017Q2  41390.83  103308
4558  2017Q3  42704.50  103308
4559  2017Q4  43475.75  103308
('Key_nav : ', 103308)
('data 1 : ', array([-0.07166479, -0.04752689, -0.08123988,  0.10502878, -0.00420025,
        0.14574779,  0.07351151,  0.07518466,  0.03783227, -0.03691972,
       -0.07993895, -0.05659175, -0.06462786,  0.06825404,  0.03995054,
       -0.03878837,  0.05057397,  0.07433799, -0.01119371,  0.00043208]))
('data 2 :', array([ 12748.17,  12466.59,  11782.01,  12706.83,  12837.08,  17330.72,
        23772.88,  31032.39,  36615.92,  39392.03,  60584.02,  41355.23,
        36452.12,  38781.58,  62392.41,  42621.17,  39981.04,  41390.83,
        42704.5 ,  43475.75]))
('Key_aum: ', 132997)
       Quarter      Data      ID
154160  2013Q1      0.00  132997
154161  2013Q2      0.00  132997
154162  2013Q3      0.00  132997
154163  2013Q4      0.00  132997
154164  2014Q1      0.00  132997
154165  2014Q2      0.00  132997
154166  2014Q3      0.00  132997
154167  2014Q4   1285.17  132997
154168  2015Q1   4847.96  132997
154169  2015Q2   6329.88  132997
154170  2015Q3   8194.51  132997
154171  2015Q4   9202.86  132997
154172  2016Q1   8847.57  132997
154173  2016Q2   8627.24  132997
154174  2016Q3   8321.29  132997
154175  2016Q4   8233.45  132997
154176  2017Q1   9463.85  132997
154177  2017Q2  13266.88  132997
154178  2017Q3  18608.57  132997
154179  2017Q4  24180.02  132997
('Key_nav : ', 132997)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.00050838,  0.02912288, -0.01246044,
        0.01058503, -0.00627693, -0.01629378,  0.04057947,  0.07903996,
       -0.01938445,  0.00813804,  0.03659356,  0.00861192, -0.00722483]))
('data 2 :', array([     0.  ,      0.  ,      0.  ,      0.  ,      0.  ,      0.  ,
            0.  ,   1285.17,   4847.96,   6329.88,   8194.51,   9202.86,
         8847.57,   8627.24,   8321.29,   8233.45,   9463.85,  13266.88,
        18608.57,  24180.02]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,  0.00050838,  0.02912288, -0.01246044,
        0.01058503, -0.00627693, -0.01629378,  0.04057947,  0.07903996,
       -0.01938445,  0.00813804,  0.03659356,  0.00861192, -0.00722483]))
('aum table :', <bound method DataFrame.head of        Quarter      Data      ID
4540    2013Q1  12748.17  103308
4541    2013Q2  12466.59  103308
4542    2013Q3  11782.01  103308
4543    2013Q4  12706.83  103308
4544    2014Q1  12837.08  103308
4545    2014Q2  17330.72  103308
4546    2014Q3  23772.88  103308
4547    2014Q4  31032.39  103308
4548    2015Q1  36615.92  103308
4549    2015Q2  39392.03  103308
4550    2015Q3  60584.02  103308
4551    2015Q4  41355.23  103308
4552    2016Q1  36452.12  103308
4553    2016Q2  38781.58  103308
4554    2016Q3  62392.41  103308
4555    2016Q4  42621.17  103308
4556    2017Q1  39981.04  103308
4557    2017Q2  41390.83  103308
4558    2017Q3  42704.50  103308
4559    2017Q4  43475.75  103308
154160  2013Q1      0.00  132997
154161  2013Q2      0.00  132997
154162  2013Q3      0.00  132997
154163  2013Q4      0.00  132997
154164  2014Q1      0.00  132997
154165  2014Q2      0.00  132997
154166  2014Q3      0.00  132997
154167  2014Q4   1285.17  132997
154168  2015Q1   4847.96  132997
154169  2015Q2   6329.88  132997
154170  2015Q3   8194.51  132997
154171  2015Q4   9202.86  132997
154172  2016Q1   8847.57  132997
154173  2016Q2   8627.24  132997
154174  2016Q3   8321.29  132997
154175  2016Q4   8233.45  132997
154176  2017Q1   9463.85  132997
154177  2017Q2  13266.88  132997
154178  2017Q3  18608.57  132997
154179  2017Q4  24180.02  132997>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
740   2013Q1 -0.071665  103308
741   2013Q2 -0.047527  103308
742   2013Q3 -0.081240  103308
743   2013Q4  0.105029  103308
744   2014Q1 -0.004200  103308
745   2014Q2  0.145748  103308
746   2014Q3  0.073512  103308
747   2014Q4  0.075185  103308
748   2015Q1  0.037832  103308
749   2015Q2 -0.036920  103308
750   2015Q3 -0.079939  103308
751   2015Q4 -0.056592  103308
752   2016Q1 -0.064628  103308
753   2016Q2  0.068254  103308
754   2016Q3  0.039951  103308
755   2016Q4 -0.038788  103308
756   2017Q1  0.050574  103308
757   2017Q2  0.074338  103308
758   2017Q3 -0.011194  103308
759   2017Q4  0.000432  103308
1680  2013Q1  0.000000  132997
1681  2013Q2  0.000000  132997
1682  2013Q3  0.000000  132997
1683  2013Q4  0.000000  132997
1684  2014Q1  0.000000  132997
1685  2014Q2  0.000000  132997
1686  2014Q3  0.000000  132997
1687  2014Q4  0.000508  132997
1688  2015Q1  0.029123  132997
1689  2015Q2 -0.012460  132997
1690  2015Q3  0.010585  132997
1691  2015Q4 -0.006277  132997
1692  2016Q1 -0.016294  132997
1693  2016Q2  0.040579  132997
1694  2016Q3  0.079040  132997
1695  2016Q4 -0.019384  132997
1696  2017Q1  0.008138  132997
1697  2017Q2  0.036594  132997
1698  2017Q3  0.008612  132997
1699  2017Q4 -0.007225  132997>)
('Key_aum: ', 103308)
     Quarter      Data      ID
4540  2013Q1  12748.17  103308
4541  2013Q2  12466.59  103308
4542  2013Q3  11782.01  103308
4543  2013Q4  12706.83  103308
4544  2014Q1  12837.08  103308
4545  2014Q2  17330.72  103308
4546  2014Q3  23772.88  103308
4547  2014Q4  31032.39  103308
4548  2015Q1  36615.92  103308
4549  2015Q2  39392.03  103308
4550  2015Q3  60584.02  103308
4551  2015Q4  41355.23  103308
4552  2016Q1  36452.12  103308
4553  2016Q2  38781.58  103308
4554  2016Q3  62392.41  103308
4555  2016Q4  42621.17  103308
4556  2017Q1  39981.04  103308
4557  2017Q2  41390.83  103308
4558  2017Q3  42704.50  103308
4559  2017Q4  43475.75  103308
('Key_nav : ', 103308)
('data 1 : ', array([-0.07166479, -0.04752689, -0.08123988,  0.10502878, -0.00420025,
        0.14574779,  0.07351151,  0.07518466,  0.03783227, -0.03691972,
       -0.07993895, -0.05659175, -0.06462786,  0.06825404,  0.03995054,
       -0.03878837,  0.05057397,  0.07433799, -0.01119371,  0.00043208]))
('data 2 :', array([ 12748.17,  12466.59,  11782.01,  12706.83,  12837.08,  17330.72,
        23772.88,  31032.39,  36615.92,  39392.03,  60584.02,  41355.23,
        36452.12,  38781.58,  62392.41,  42621.17,  39981.04,  41390.83,
        42704.5 ,  43475.75]))
('Key_aum: ', 132997)
       Quarter      Data      ID
154160  2013Q1      0.00  132997
154161  2013Q2      0.00  132997
154162  2013Q3      0.00  132997
154163  2013Q4      0.00  132997
154164  2014Q1      0.00  132997
154165  2014Q2      0.00  132997
154166  2014Q3      0.00  132997
154167  2014Q4   1285.17  132997
154168  2015Q1   4847.96  132997
154169  2015Q2   6329.88  132997
154170  2015Q3   8194.51  132997
154171  2015Q4   9202.86  132997
154172  2016Q1   8847.57  132997
154173  2016Q2   8627.24  132997
154174  2016Q3   8321.29  132997
154175  2016Q4   8233.45  132997
154176  2017Q1   9463.85  132997
154177  2017Q2  13266.88  132997
154178  2017Q3  18608.57  132997
154179  2017Q4  24180.02  132997
('Key_nav : ', 132997)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.00050838,  0.02912288, -0.01246044,
        0.01058503, -0.00627693, -0.01629378,  0.04057947,  0.07903996,
       -0.01938445,  0.00813804,  0.03659356,  0.00861192, -0.00722483]))
('data 2 :', array([     0.  ,      0.  ,      0.  ,      0.  ,      0.  ,      0.  ,
            0.  ,   1285.17,   4847.96,   6329.88,   8194.51,   9202.86,
         8847.57,   8627.24,   8321.29,   8233.45,   9463.85,  13266.88,
        18608.57,  24180.02]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,  0.00050838,  0.02912288, -0.01246044,
        0.01058503, -0.00627693, -0.01629378,  0.04057947,  0.07903996,
       -0.01938445,  0.00813804,  0.03659356,  0.00861192, -0.00722483]))
('aum table :', <bound method DataFrame.head of        Quarter      Data      ID
4540    2013Q1  12748.17  103308
4541    2013Q2  12466.59  103308
4542    2013Q3  11782.01  103308
4543    2013Q4  12706.83  103308
4544    2014Q1  12837.08  103308
4545    2014Q2  17330.72  103308
4546    2014Q3  23772.88  103308
4547    2014Q4  31032.39  103308
4548    2015Q1  36615.92  103308
4549    2015Q2  39392.03  103308
4550    2015Q3  60584.02  103308
4551    2015Q4  41355.23  103308
4552    2016Q1  36452.12  103308
4553    2016Q2  38781.58  103308
4554    2016Q3  62392.41  103308
4555    2016Q4  42621.17  103308
4556    2017Q1  39981.04  103308
4557    2017Q2  41390.83  103308
4558    2017Q3  42704.50  103308
4559    2017Q4  43475.75  103308
154160  2013Q1      0.00  132997
154161  2013Q2      0.00  132997
154162  2013Q3      0.00  132997
154163  2013Q4      0.00  132997
154164  2014Q1      0.00  132997
154165  2014Q2      0.00  132997
154166  2014Q3      0.00  132997
154167  2014Q4   1285.17  132997
154168  2015Q1   4847.96  132997
154169  2015Q2   6329.88  132997
154170  2015Q3   8194.51  132997
154171  2015Q4   9202.86  132997
154172  2016Q1   8847.57  132997
154173  2016Q2   8627.24  132997
154174  2016Q3   8321.29  132997
154175  2016Q4   8233.45  132997
154176  2017Q1   9463.85  132997
154177  2017Q2  13266.88  132997
154178  2017Q3  18608.57  132997
154179  2017Q4  24180.02  132997>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
740   2013Q1 -0.071665  103308
741   2013Q2 -0.047527  103308
742   2013Q3 -0.081240  103308
743   2013Q4  0.105029  103308
744   2014Q1 -0.004200  103308
745   2014Q2  0.145748  103308
746   2014Q3  0.073512  103308
747   2014Q4  0.075185  103308
748   2015Q1  0.037832  103308
749   2015Q2 -0.036920  103308
750   2015Q3 -0.079939  103308
751   2015Q4 -0.056592  103308
752   2016Q1 -0.064628  103308
753   2016Q2  0.068254  103308
754   2016Q3  0.039951  103308
755   2016Q4 -0.038788  103308
756   2017Q1  0.050574  103308
757   2017Q2  0.074338  103308
758   2017Q3 -0.011194  103308
759   2017Q4  0.000432  103308
1680  2013Q1  0.000000  132997
1681  2013Q2  0.000000  132997
1682  2013Q3  0.000000  132997
1683  2013Q4  0.000000  132997
1684  2014Q1  0.000000  132997
1685  2014Q2  0.000000  132997
1686  2014Q3  0.000000  132997
1687  2014Q4  0.000508  132997
1688  2015Q1  0.029123  132997
1689  2015Q2 -0.012460  132997
1690  2015Q3  0.010585  132997
1691  2015Q4 -0.006277  132997
1692  2016Q1 -0.016294  132997
1693  2016Q2  0.040579  132997
1694  2016Q3  0.079040  132997
1695  2016Q4 -0.019384  132997
1696  2017Q1  0.008138  132997
1697  2017Q2  0.036594  132997
1698  2017Q3  0.008612  132997
1699  2017Q4 -0.007225  132997>)
('Key_aum: ', 103308)
     Quarter      Data      ID
4540  2013Q1  12748.17  103308
4541  2013Q2  12466.59  103308
4542  2013Q3  11782.01  103308
4543  2013Q4  12706.83  103308
4544  2014Q1  12837.08  103308
4545  2014Q2  17330.72  103308
4546  2014Q3  23772.88  103308
4547  2014Q4  31032.39  103308
4548  2015Q1  36615.92  103308
4549  2015Q2  39392.03  103308
4550  2015Q3  60584.02  103308
4551  2015Q4  41355.23  103308
4552  2016Q1  36452.12  103308
4553  2016Q2  38781.58  103308
4554  2016Q3  62392.41  103308
4555  2016Q4  42621.17  103308
4556  2017Q1  39981.04  103308
4557  2017Q2  41390.83  103308
4558  2017Q3  42704.50  103308
4559  2017Q4  43475.75  103308
('Key_nav : ', 103308)
('data 1 : ', array([-0.07166479, -0.04752689, -0.08123988,  0.10502878, -0.00420025,
        0.14574779,  0.07351151,  0.07518466,  0.03783227, -0.03691972,
       -0.07993895, -0.05659175, -0.06462786,  0.06825404,  0.03995054,
       -0.03878837,  0.05057397,  0.07433799, -0.01119371,  0.00043208]))
('data 2 :', array([ 12748.17,  12466.59,  11782.01,  12706.83,  12837.08,  17330.72,
        23772.88,  31032.39,  36615.92,  39392.03,  60584.02,  41355.23,
        36452.12,  38781.58,  62392.41,  42621.17,  39981.04,  41390.83,
        42704.5 ,  43475.75]))
('Key_aum: ', 132997)
       Quarter      Data      ID
154160  2013Q1      0.00  132997
154161  2013Q2      0.00  132997
154162  2013Q3      0.00  132997
154163  2013Q4      0.00  132997
154164  2014Q1      0.00  132997
154165  2014Q2      0.00  132997
154166  2014Q3      0.00  132997
154167  2014Q4   1285.17  132997
154168  2015Q1   4847.96  132997
154169  2015Q2   6329.88  132997
154170  2015Q3   8194.51  132997
154171  2015Q4   9202.86  132997
154172  2016Q1   8847.57  132997
154173  2016Q2   8627.24  132997
154174  2016Q3   8321.29  132997
154175  2016Q4   8233.45  132997
154176  2017Q1   9463.85  132997
154177  2017Q2  13266.88  132997
154178  2017Q3  18608.57  132997
154179  2017Q4  24180.02  132997
('Key_nav : ', 132997)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.00050838,  0.02912288, -0.01246044,
        0.01058503, -0.00627693, -0.01629378,  0.04057947,  0.07903996,
       -0.01938445,  0.00813804,  0.03659356,  0.00861192, -0.00722483]))
('data 2 :', array([     0.  ,      0.  ,      0.  ,      0.  ,      0.  ,      0.  ,
            0.  ,   1285.17,   4847.96,   6329.88,   8194.51,   9202.86,
         8847.57,   8627.24,   8321.29,   8233.45,   9463.85,  13266.88,
        18608.57,  24180.02]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,  0.00050838,  0.02912288, -0.01246044,
        0.01058503, -0.00627693, -0.01629378,  0.04057947,  0.07903996,
       -0.01938445,  0.00813804,  0.03659356,  0.00861192, -0.00722483]))
('aum table :', <bound method DataFrame.head of        Quarter      Data      ID
4540    2013Q1  12748.17  103308
4541    2013Q2  12466.59  103308
4542    2013Q3  11782.01  103308
4543    2013Q4  12706.83  103308
4544    2014Q1  12837.08  103308
4545    2014Q2  17330.72  103308
4546    2014Q3  23772.88  103308
4547    2014Q4  31032.39  103308

('aum table :', <bound method DataFrame.head of       Quarter       Data      ID
21260  2013Q1     530.52  120585
21261  2013Q2    1105.44  120585
21262  2013Q3    1392.00  120585
21263  2013Q4    1887.22  120585
21264  2014Q1    2116.63  120585
21265  2014Q2    2644.24  120585
21266  2014Q3    3366.20  120585
21267  2014Q4    3510.14  120585
21268  2015Q1    3608.46  120585
21269  2015Q2    3880.07  120585
21270  2015Q3    5639.62  120585
21271  2015Q4    7818.92  120585
21272  2016Q1    9613.49  120585
21273  2016Q2   12229.20  120585
21274  2016Q3   14045.53  120585
21275  2016Q4   14263.02  120585
21276  2017Q1   12026.50  120585
21277  2017Q2   10698.35  120585
21278  2017Q3   11758.22  120585
21279  2017Q4   14254.02  120585
21300  2013Q1  139951.47  108465
21301  2013Q2  133742.03  108465
21302  2013Q3  129906.39  108465
21303  2013Q4  133286.00  108465
21304  2014Q1  128877.64  108465
21305  2014Q2  146990.95  108465
21306  2014Q3  170006.53  108465
21307  2014Q4  186552.83  108465
21308  2015Q1  186071.46  108465
21309  2015Q2  177444.79  108465
21310  2015Q3  179947.86  108465
21311  2015Q4  177306.57  108465
21312  2016Q1  157390.05  108465
21313  2016Q2  167945.60  108465
21314  2016Q3  182625.61  108465
21315  2016Q4  177926.72  108465
21316  2017Q1  181870.07  108465
21317  2017Q2  177019.26  108465
21318  2017Q3  180055.68  108465
21319  2017Q4  186841.38  108465>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
420  2013Q1 -0.013597  120585
421  2013Q2 -0.012483  120585
422  2013Q3 -0.002478  120585
423  2013Q4  0.089680  120585
424  2014Q1  0.028589  120585
425  2014Q2  0.137159  120585
426  2014Q3  0.121378  120585
427  2014Q4  0.069873  120585
428  2015Q1 -0.001109  120585
429  2015Q2 -0.042389  120585
430  2015Q3  0.004979  120585
431  2015Q4 -0.018172  120585
432  2016Q1 -0.066568  120585
433  2016Q2  0.073597  120585
434  2016Q3  0.107783  120585
435  2016Q4 -0.012383  120585
436  2017Q1  0.020558  120585
437  2017Q2  0.062088  120585
438  2017Q3  0.060731  120585
439  2017Q4  0.055494  120585
640  2013Q1 -0.047976  108465
641  2013Q2 -0.031555  108465
642  2013Q3 -0.004315  108465
643  2013Q4  0.087741  108465
644  2014Q1 -0.032812  108465
645  2014Q2  0.110314  108465
646  2014Q3  0.119475  108465
647  2014Q4  0.067956  108465
648  2015Q1 -0.015033  108465
649  2015Q2 -0.047736  108465
650  2015Q3  0.002603  108465
651  2015Q4 -0.020862  108465
652  2016Q1 -0.136619  108465
653  2016Q2  0.055951  108465
654  2016Q3  0.105305  108465
655  2016Q4 -0.014848  108465
656  2017Q1 -0.022195  108465
657  2017Q2  0.046637  108465
658  2017Q3  0.058320  108465
659  2017Q4  0.053109  108465>)
('Key_aum: ', 108465)
      Quarter       Data      ID
21300  2013Q1  139951.47  108465
21301  2013Q2  133742.03  108465
21302  2013Q3  129906.39  108465
21303  2013Q4  133286.00  108465
21304  2014Q1  128877.64  108465
21305  2014Q2  146990.95  108465
21306  2014Q3  170006.53  108465
21307  2014Q4  186552.83  108465
21308  2015Q1  186071.46  108465
21309  2015Q2  177444.79  108465
21310  2015Q3  179947.86  108465
21311  2015Q4  177306.57  108465
21312  2016Q1  157390.05  108465
21313  2016Q2  167945.60  108465
21314  2016Q3  182625.61  108465
21315  2016Q4  177926.72  108465
21316  2017Q1  181870.07  108465
21317  2017Q2  177019.26  108465
21318  2017Q3  180055.68  108465
21319  2017Q4  186841.38  108465
('Key_nav : ', 108465)
('data 1 : ', array([-0.0479759 , -0.03155514, -0.00431543,  0.08774093, -0.03281236,
        0.11031356,  0.1194746 ,  0.06795552, -0.01503297, -0.04773606,
        0.00260331, -0.02086239, -0.13661914,  0.05595075,  0.10530483,
       -0.01484783, -0.02219498,  0.04663734,  0.05831953,  0.053109  ]))
('data 2 :', array([ 139951.47,  133742.03,  129906.39,  133286.  ,  128877.64,
        146990.95,  170006.53,  186552.83,  186071.46,  177444.79,
        179947.86,  177306.57,  157390.05,  167945.6 ,  182625.61,
        177926.72,  181870.07,  177019.26,  180055.68,  186841.38]))
('Key_aum: ', 120585)
      Quarter      Data      ID
21260  2013Q1    530.52  120585
21261  2013Q2   1105.44  120585
21262  2013Q3   1392.00  120585
21263  2013Q4   1887.22  120585
21264  2014Q1   2116.63  120585
21265  2014Q2   2644.24  120585
21266  2014Q3   3366.20  120585
21267  2014Q4   3510.14  120585
21268  2015Q1   3608.46  120585
21269  2015Q2   3880.07  120585
21270  2015Q3   5639.62  120585
21271  2015Q4   7818.92  120585
21272  2016Q1   9613.49  120585
21273  2016Q2  12229.20  120585
21274  2016Q3  14045.53  120585
21275  2016Q4  14263.02  120585
21276  2017Q1  12026.50  120585
21277  2017Q2  10698.35  120585
21278  2017Q3  11758.22  120585
21279  2017Q4  14254.02  120585
('Key_nav : ', 120585)
('data 1 : ', array([-0.01359657, -0.01248272, -0.0024778 ,  0.08968038,  0.02858941,
        0.13715918,  0.12137814,  0.06987275, -0.00110901, -0.04238943,
        0.00497857, -0.0181718 , -0.06656821,  0.07359669,  0.10778332,
       -0.01238318,  0.02055798,  0.06208762,  0.06073066,  0.05549439]))
('data 2 :', array([   530.52,   1105.44,   1392.  ,   1887.22,   2116.63,   2644.24,
         3366.2 ,   3510.14,   3608.46,   3880.07,   5639.62,   7818.92,
         9613.49,  12229.2 ,  14045.53,  14263.02,  12026.5 ,  10698.35,
        11758.22,  14254.02]))
('mean : ', array([-0.01359657, -0.01248272, -0.0024778 ,  0.08968038,  0.02858941,
        0.13715918,  0.12137814,  0.06987275, -0.00110901, -0.04238943,
        0.00497857, -0.0181718 , -0.06656821,  0.07359669,  0.10778332,
       -0.01238318,  0.02055798,  0.06208762,  0.06073066,  0.05549439]))
('aum table :', <bound method DataFrame.head of       Quarter       Data      ID
21260  2013Q1     530.52  120585
21261  2013Q2    1105.44  120585
21262  2013Q3    1392.00  120585
21263  2013Q4    1887.22  120585
21264  2014Q1    2116.63  120585
21265  2014Q2    2644.24  120585
21266  2014Q3    3366.20  120585
21267  2014Q4    3510.14  120585
21268  2015Q1    3608.46  120585
21269  2015Q2    3880.07  120585
21270  2015Q3    5639.62  120585
21271  2015Q4    7818.92  120585
21272  2016Q1    9613.49  120585
21273  2016Q2   12229.20  120585
21274  2016Q3   14045.53  120585
21275  2016Q4   14263.02  120585
21276  2017Q1   12026.50  120585
21277  2017Q2   10698.35  120585
21278  2017Q3   11758.22  120585
21279  2017Q4   14254.02  120585
21300  2013Q1  139951.47  108465
21301  2013Q2  133742.03  108465
21302  2013Q3  129906.39  108465
21303  2013Q4  133286.00  108465
21304  2014Q1  128877.64  108465
21305  2014Q2  146990.95  108465
21306  2014Q3  170006.53  108465
21307  2014Q4  186552.83  108465
21308  2015Q1  186071.46  108465
21309  2015Q2  177444.79  108465
21310  2015Q3  179947.86  108465
21311  2015Q4  177306.57  108465
21312  2016Q1  157390.05  108465
21313  2016Q2  167945.60  108465
21314  2016Q3  182625.61  108465
21315  2016Q4  177926.72  108465
21316  2017Q1  181870.07  108465
21317  2017Q2  177019.26  108465
21318  2017Q3  180055.68  108465
21319  2017Q4  186841.38  108465>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
420  2013Q1 -0.013597  120585
421  2013Q2 -0.012483  120585
422  2013Q3 -0.002478  120585
423  2013Q4  0.089680  120585
424  2014Q1  0.028589  120585
425  2014Q2  0.137159  120585
426  2014Q3  0.121378  120585
427  2014Q4  0.069873  120585
428  2015Q1 -0.001109  120585
429  2015Q2 -0.042389  120585
430  2015Q3  0.004979  120585
431  2015Q4 -0.018172  120585
432  2016Q1 -0.066568  120585
433  2016Q2  0.073597  120585
434  2016Q3  0.107783  120585
435  2016Q4 -0.012383  120585
436  2017Q1  0.020558  120585
437  2017Q2  0.062088  120585
438  2017Q3  0.060731  120585
439  2017Q4  0.055494  120585
640  2013Q1 -0.047976  108465
641  2013Q2 -0.031555  108465
642  2013Q3 -0.004315  108465
643  2013Q4  0.087741  108465
644  2014Q1 -0.032812  108465
645  2014Q2  0.110314  108465
646  2014Q3  0.119475  108465
647  2014Q4  0.067956  108465
648  2015Q1 -0.015033  108465
649  2015Q2 -0.047736  108465
650  2015Q3  0.002603  108465
651  2015Q4 -0.020862  108465
652  2016Q1 -0.136619  108465
653  2016Q2  0.055951  108465
654  2016Q3  0.105305  108465
655  2016Q4 -0.014848  108465
656  2017Q1 -0.022195  108465
657  2017Q2  0.046637  108465
658  2017Q3  0.058320  108465
659  2017Q4  0.053109  108465>)
('Key_aum: ', 108465)
      Quarter       Data      ID
21300  2013Q1  139951.47  108465
21301  2013Q2  133742.03  108465
21302  2013Q3  129906.39  108465
21303  2013Q4  133286.00  108465
21304  2014Q1  128877.64  108465
21305  2014Q2  146990.95  108465
21306  2014Q3  170006.53  108465
21307  2014Q4  186552.83  108465
21308  2015Q1  186071.46  108465
21309  2015Q2  177444.79  108465
21310  2015Q3  179947.86  108465
21311  2015Q4  177306.57  108465
21312  2016Q1  157390.05  108465
21313  2016Q2  167945.60  108465
21314  2016Q3  182625.61  108465
21315  2016Q4  177926.72  108465
21316  2017Q1  181870.07  108465
21317  2017Q2  177019.26  108465
21318  2017Q3  180055.68  108465
21319  2017Q4  186841.38  108465
('Key_nav : ', 108465)
('data 1 : ', array([-0.0479759 , -0.03155514, -0.00431543,  0.08774093, -0.03281236,
        0.11031356,  0.1194746 ,  0.06795552, -0.01503297, -0.04773606,
        0.00260331, -0.02086239, -0.13661914,  0.05595075,  0.10530483,
       -0.01484783, -0.02219498,  0.04663734,  0.05831953,  0.053109  ]))
('data 2 :', array([ 139951.47,  133742.03,  129906.39,  133286.  ,  128877.64,
        146990.95,  170006.53,  186552.83,  186071.46,  177444.79,
        179947.86,  177306.57,  157390.05,  167945.6 ,  182625.61,
        177926.72,  181870.07,  177019.26,  180055.68,  186841.38]))
('Key_aum: ', 120585)
      Quarter      Data      ID
21260  2013Q1    530.52  120585
21261  2013Q2   1105.44  120585
21262  2013Q3   1392.00  120585
21263  2013Q4   1887.22  120585
21264  2014Q1   2116.63  120585
21265  2014Q2   2644.24  120585
21266  2014Q3   3366.20  120585
21267  2014Q4   3510.14  120585
21268  2015Q1   3608.46  120585
21269  2015Q2   3880.07  120585
21270  2015Q3   5639.62  120585
21271  2015Q4   7818.92  120585
21272  2016Q1   9613.49  120585
21273  2016Q2  12229.20  120585
21274  2016Q3  14045.53  120585
21275  2016Q4  14263.02  120585
21276  2017Q1  12026.50  120585
21277  2017Q2  10698.35  120585
21278  2017Q3  11758.22  120585
21279  2017Q4  14254.02  120585
('Key_nav : ', 120585)
('data 1 : ', array([-0.01359657, -0.01248272, -0.0024778 ,  0.08968038,  0.02858941,
        0.13715918,  0.12137814,  0.06987275, -0.00110901, -0.04238943,
        0.00497857, -0.0181718 , -0.06656821,  0.07359669,  0.10778332,
       -0.01238318,  0.02055798,  0.06208762,  0.06073066,  0.05549439]))
('data 2 :', array([   530.52,   1105.44,   1392.  ,   1887.22,   2116.63,   2644.24,
         3366.2 ,   3510.14,   3608.46,   3880.07,   5639.62,   7818.92,
         9613.49,  12229.2 ,  14045.53,  14263.02,  12026.5 ,  10698.35,
        11758.22,  14254.02]))
('mean : ', array([-0.01359657, -0.01248272, -0.0024778 ,  0.08968038,  0.02858941,
        0.13715918,  0.12137814,  0.06987275, -0.00110901, -0.04238943,
        0.00497857, -0.0181718 , -0.06656821,  0.07359669,  0.10778332,
       -0.01238318,  0.02055798,  0.06208762,  0.06073066,  0.05549439]))
('aum table :', <bound method DataFrame.head of       Quarter       Data      ID
21260  2013Q1     530.52  120585
21261  2013Q2    1105.44  120585
21262  2013Q3    1392.00  120585
21263  2013Q4    1887.22  120585
21264  2014Q1    2116.63  120585
21265  2014Q2    2644.24  120585
21266  2014Q3    3366.20  120585
21267  2014Q4    3510.14  120585
21268  2015Q1    3608.46  120585
21269  2015Q2    3880.07  120585
21270  2015Q3    5639.62  120585
21271  2015Q4    7818.92  120585
21272  2016Q1    9613.49  120585
21273  2016Q2   12229.20  120585
21274  2016Q3   14045.53  120585
21275  2016Q4   14263.02  120585
21276  2017Q1   12026.50  120585
21277  2017Q2   10698.35  120585
21278  2017Q3   11758.22  120585
21279  2017Q4   14254.02  120585
21300  2013Q1  139951.47  108465
21301  2013Q2  133742.03  108465
21302  2013Q3  129906.39  108465
21303  2013Q4  133286.00  108465
21304  2014Q1  128877.64  108465
21305  2014Q2  146990.95  108465
21306  2014Q3  170006.53  108465
21307  2014Q4  186552.83  108465
21308  2015Q1  186071.46  108465
21309  2015Q2  177444.79  108465
21310  2015Q3  179947.86  108465
21311  2015Q4  177306.57  108465
21312  2016Q1  157390.05  108465
21313  2016Q2  167945.60  108465
21314  2016Q3  182625.61  108465
21315  2016Q4  177926.72  108465
21316  2017Q1  181870.07  108465
21317  2017Q2  177019.26  108465
21318  2017Q3  180055.68  108465
21319  2017Q4  186841.38  108465>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
420  2013Q1 -0.013597  120585
421  2013Q2 -0.012483  120585
422  2013Q3 -0.002478  120585
423  2013Q4  0.089680  120585
424  2014Q1  0.028589  120585
425  2014Q2  0.137159  120585
426  2014Q3  0.121378  120585
427  2014Q4  0.069873  120585
428  2015Q1 -0.001109  120585
429  2015Q2 -0.042389  120585
430  2015Q3  0.004979  120585
431  2015Q4 -0.018172  120585
432  2016Q1 -0.066568  120585
433  2016Q2  0.073597  120585
434  2016Q3  0.107783  120585
435  2016Q4 -0.012383  120585
436  2017Q1  0.020558  120585
437  2017Q2  0.062088  120585
438  2017Q3  0.060731  120585
439  2017Q4  0.055494  120585
640  2013Q1 -0.047976  108465
641  2013Q2 -0.031555  108465
642  2013Q3 -0.004315  108465
643  2013Q4  0.087741  108465
644  2014Q1 -0.032812  108465
645  2014Q2  0.110314  108465
646  2014Q3  0.119475  108465
647  2014Q4  0.067956  108465
648  2015Q1 -0.015033  108465
649  2015Q2 -0.047736  108465
650  2015Q3  0.002603  108465
651  2015Q4 -0.020862  108465
652  2016Q1 -0.136619  108465
653  2016Q2  0.055951  108465
654  2016Q3  0.105305  108465
655  2016Q4 -0.014848  108465
656  2017Q1 -0.022195  108465
657  2017Q2  0.046637  108465
658  2017Q3  0.058320  108465
659  2017Q4  0.053109  108465>)
('Key_aum: ', 108465)
      Quarter       Data      ID
21300  2013Q1  139951.47  108465
21301  2013Q2  133742.03  108465
21302  2013Q3  129906.39  108465
21303  2013Q4  133286.00  108465
21304  2014Q1  128877.64  108465
21305  2014Q2  146990.95  108465
21306  2014Q3  170006.53  108465
21307  2014Q4  186552.83  108465
21308  2015Q1  186071.46  108465
21309  2015Q2  177444.79  108465
21310  2015Q3  179947.86  108465
21311  2015Q4  177306.57  108465
21312  2016Q1  157390.05  108465
21313  2016Q2  167945.60  108465
21314  2016Q3  182625.61  108465
21315  2016Q4  177926.72  108465
21316  2017Q1  181870.07  108465
21317  2017Q2  177019.26  108465
21318  2017Q3  180055.68  108465
21319  2017Q4  186841.38  108465
('Key_nav : ', 108465)
('data 1 : ', array([-0.0479759 , -0.03155514, -0.00431543,  0.08774093, -0.03281236,
        0.11031356,  0.1194746 ,  0.06795552, -0.01503297, -0.04773606,
        0.00260331, -0.02086239, -0.13661914,  0.05595075,  0.10530483,
       -0.01484783, -0.02219498,  0.04663734,  0.05831953,  0.053109  ]))
('data 2 :', array([ 139951.47,  133742.03,  129906.39,  133286.  ,  128877.64,
        146990.95,  170006.53,  186552.83,  186071.46,  177444.79,
        179947.86,  177306.57,  157390.05,  167945.6 ,  182625.61,
        177926.72,  181870.07,  177019.26,  180055.68,  186841.38]))
('Key_aum: ', 120585)
      Quarter      Data      ID
21260  2013Q1    530.52  120585
21261  2013Q2   1105.44  120585
21262  2013Q3   1392.00  120585
21263  2013Q4   1887.22  120585
21264  2014Q1   2116.63  120585
21265  2014Q2   2644.24  120585
21266  2014Q3   3366.20  120585
21267  2014Q4   3510.14  120585
21268  2015Q1   3608.46  120585
21269  2015Q2   3880.07  120585
21270  2015Q3   5639.62  120585
21271  2015Q4   7818.92  120585
21272  2016Q1   9613.49  120585
21273  2016Q2  12229.20  120585
21274  2016Q3  14045.53  120585
21275  2016Q4  14263.02  120585
21276  2017Q1  12026.50  120585
21277  2017Q2  10698.35  120585
21278  2017Q3  11758.22  120585
21279  2017Q4  14254.02  120585
('Key_nav : ', 120585)
('data 1 : ', array([-0.01359657, -0.01248272, -0.0024778 ,  0.08968038,  0.02858941,
        0.13715918,  0.12137814,  0.06987275, -0.00110901, -0.04238943,
        0.00497857, -0.0181718 , -0.06656821,  0.07359669,  0.10778332,
       -0.01238318,  0.02055798,  0.06208762,  0.06073066,  0.05549439]))
('data 2 :', array([   530.52,   1105.44,   1392.  ,   1887.22,   2116.63,   2644.24,
         3366.2 ,   3510.14,   3608.46,   3880.07,   5639.62,   7818.92,
         9613.49,  12229.2 ,  14045.53,  14263.02,  12026.5 ,  10698.35,
        11758.22,  14254.02]))
('mean : ', array([-0.01359657, -0.01248272, -0.0024778 ,  0.08968038,  0.02858941,
        0.13715918,  0.12137814,  0.06987275, -0.00110901, -0.04238943,
        0.00497857, -0.0181718 , -0.06656821,  0.07359669,  0.10778332,
       -0.01238318,  0.02055798,  0.06208762,  0.06073066,  0.05549439]))
('aum table :', <bound method DataFrame.head of       Quarter       Data      ID
21260  2013Q1     530.52  120585
21261  2013Q2    1105.44  120585
21262  2013Q3    1392.00  120585
21263  2013Q4    1887.22  120585
21264  2014Q1    2116.63  120585
21265  2014Q2    2644.24  120585
21266  2014Q3    3366.20  120585
21267  2014Q4    3510.14  120585
21268  2015Q1    3608.46  120585
21269  2015Q2    3880.07  120585
21270  2015Q3    5639.62  120585
21271  2015Q4    7818.92  120585
21272  2016Q1    9613.49  120585
21273  2016Q2   12229.20  120585
21274  2016Q3   14045.53  120585
21275  2016Q4   14263.02  120585
21276  2017Q1   12026.50  120585
21277  2017Q2   10698.35  120585
21278  2017Q3   11758.22  120585
21279  2017Q4   14254.02  120585
21300  2013Q1  139951.47  108465
21301  2013Q2  133742.03  108465
21302  2013Q3  129906.39  108465
21303  2013Q4  133286.00  108465
21304  2014Q1  128877.64  108465
21305  2014Q2  146990.95  108465
21306  2014Q3  170006.53  108465
21307  2014Q4  186552.83  108465
21308  2015Q1  186071.46  108465
21309  2015Q2  177444.79  108465
21310  2015Q3  179947.86  108465
21311  2015Q4  177306.57  108465
21312  2016Q1  157390.05  108465
21313  2016Q2  167945.60  108465
21314  2016Q3  182625.61  108465
21315  2016Q4  177926.72  108465
21316  2017Q1  181870.07  108465
21317  2017Q2  177019.26  108465
21318  2017Q3  180055.68  108465
21319  2017Q4  186841.38  108465>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
420  2013Q1 -0.013597  120585
421  2013Q2 -0.012483  120585
422  2013Q3 -0.002478  120585
423  2013Q4  0.089680  120585
424  2014Q1  0.028589  120585
425  2014Q2  0.137159  120585
426  2014Q3  0.121378  120585
427  2014Q4  0.069873  120585
428  2015Q1 -0.001109  120585
429  2015Q2 -0.042389  120585
430  2015Q3  0.004979  120585
431  2015Q4 -0.018172  120585
432  2016Q1 -0.066568  120585
433  2016Q2  0.073597  120585
434  2016Q3  0.107783  120585
435  2016Q4 -0.012383  120585
436  2017Q1  0.020558  120585
437  2017Q2  0.062088  120585
438  2017Q3  0.060731  120585
439  2017Q4  0.055494  120585
640  2013Q1 -0.047976  108465
641  2013Q2 -0.031555  108465
642  2013Q3 -0.004315  108465
643  2013Q4  0.087741  108465
644  2014Q1 -0.032812  108465
645  2014Q2  0.110314  108465
646  2014Q3  0.119475  108465
647  2014Q4  0.067956  108465
648  2015Q1 -0.015033  108465
649  2015Q2 -0.047736  108465
650  2015Q3  0.002603  108465
651  2015Q4 -0.020862  108465
652  2016Q1 -0.136619  108465
653  2016Q2  0.055951  108465
654  2016Q3  0.105305  108465
655  2016Q4 -0.014848  108465
656  2017Q1 -0.022195  108465
657  2017Q2  0.046637  108465
658  2017Q3  0.058320  108465
659  2017Q4  0.053109  108465>)
('Key_aum: ', 108465)
      Quarter       Data      ID
21300  2013Q1  139951.47  108465
21301  2013Q2  133742.03  108465
21302  2013Q3  129906.39  108465
21303  2013Q4  133286.00  108465
21304  2014Q1  128877.64  108465
21305  2014Q2  146990.95  108465
21306  2014Q3  170006.53  108465
21307  2014Q4  186552.83  108465
21308  2015Q1  186071.46  108465
21309  2015Q2  177444.79  108465
21310  2015Q3  179947.86  108465
21311  2015Q4  177306.57  108465
21312  2016Q1  157390.05  108465
21313  2016Q2  167945.60  108465

('Key_aum: ', 108465)
      Quarter       Data      ID
21300  2013Q1  139951.47  108465
21301  2013Q2  133742.03  108465
21302  2013Q3  129906.39  108465
21303  2013Q4  133286.00  108465
21304  2014Q1  128877.64  108465
21305  2014Q2  146990.95  108465
21306  2014Q3  170006.53  108465
21307  2014Q4  186552.83  108465
21308  2015Q1  186071.46  108465
21309  2015Q2  177444.79  108465
21310  2015Q3  179947.86  108465
21311  2015Q4  177306.57  108465
21312  2016Q1  157390.05  108465
21313  2016Q2  167945.60  108465
21314  2016Q3  182625.61  108465
21315  2016Q4  177926.72  108465
21316  2017Q1  181870.07  108465
21317  2017Q2  177019.26  108465
21318  2017Q3  180055.68  108465
21319  2017Q4  186841.38  108465
('Key_nav : ', 108465)
('data 1 : ', array([-0.0479759 , -0.03155514, -0.00431543,  0.08774093, -0.03281236,
        0.11031356,  0.1194746 ,  0.06795552, -0.01503297, -0.04773606,
        0.00260331, -0.02086239, -0.13661914,  0.05595075,  0.10530483,
       -0.01484783, -0.02219498,  0.04663734,  0.05831953,  0.053109  ]))
('data 2 :', array([ 139951.47,  133742.03,  129906.39,  133286.  ,  128877.64,
        146990.95,  170006.53,  186552.83,  186071.46,  177444.79,
        179947.86,  177306.57,  157390.05,  167945.6 ,  182625.61,
        177926.72,  181870.07,  177019.26,  180055.68,  186841.38]))
('Key_aum: ', 120585)
      Quarter      Data      ID
21260  2013Q1    530.52  120585
21261  2013Q2   1105.44  120585
21262  2013Q3   1392.00  120585
21263  2013Q4   1887.22  120585
21264  2014Q1   2116.63  120585
21265  2014Q2   2644.24  120585
21266  2014Q3   3366.20  120585
21267  2014Q4   3510.14  120585
21268  2015Q1   3608.46  120585
21269  2015Q2   3880.07  120585
21270  2015Q3   5639.62  120585
21271  2015Q4   7818.92  120585
21272  2016Q1   9613.49  120585
21273  2016Q2  12229.20  120585
21274  2016Q3  14045.53  120585
21275  2016Q4  14263.02  120585
21276  2017Q1  12026.50  120585
21277  2017Q2  10698.35  120585
21278  2017Q3  11758.22  120585
21279  2017Q4  14254.02  120585
('Key_nav : ', 120585)
('data 1 : ', array([-0.01359657, -0.01248272, -0.0024778 ,  0.08968038,  0.02858941,
        0.13715918,  0.12137814,  0.06987275, -0.00110901, -0.04238943,
        0.00497857, -0.0181718 , -0.06656821,  0.07359669,  0.10778332,
       -0.01238318,  0.02055798,  0.06208762,  0.06073066,  0.05549439]))
('data 2 :', array([   530.52,   1105.44,   1392.  ,   1887.22,   2116.63,   2644.24,
         3366.2 ,   3510.14,   3608.46,   3880.07,   5639.62,   7818.92,
         9613.49,  12229.2 ,  14045.53,  14263.02,  12026.5 ,  10698.35,
        11758.22,  14254.02]))
('mean : ', array([-0.01359657, -0.01248272, -0.0024778 ,  0.08968038,  0.02858941,
        0.13715918,  0.12137814,  0.06987275, -0.00110901, -0.04238943,
        0.00497857, -0.0181718 , -0.06656821,  0.07359669,  0.10778332,
       -0.01238318,  0.02055798,  0.06208762,  0.06073066,  0.05549439]))
('aum table :', <bound method DataFrame.head of       Quarter       Data      ID
21260  2013Q1     530.52  120585
21261  2013Q2    1105.44  120585
21262  2013Q3    1392.00  120585
21263  2013Q4    1887.22  120585
21264  2014Q1    2116.63  120585
21265  2014Q2    2644.24  120585
21266  2014Q3    3366.20  120585
21267  2014Q4    3510.14  120585
21268  2015Q1    3608.46  120585
21269  2015Q2    3880.07  120585
21270  2015Q3    5639.62  120585
21271  2015Q4    7818.92  120585
21272  2016Q1    9613.49  120585
21273  2016Q2   12229.20  120585
21274  2016Q3   14045.53  120585
21275  2016Q4   14263.02  120585
21276  2017Q1   12026.50  120585
21277  2017Q2   10698.35  120585
21278  2017Q3   11758.22  120585
21279  2017Q4   14254.02  120585
21300  2013Q1  139951.47  108465
21301  2013Q2  133742.03  108465
21302  2013Q3  129906.39  108465
21303  2013Q4  133286.00  108465
21304  2014Q1  128877.64  108465
21305  2014Q2  146990.95  108465
21306  2014Q3  170006.53  108465
21307  2014Q4  186552.83  108465
21308  2015Q1  186071.46  108465
21309  2015Q2  177444.79  108465
21310  2015Q3  179947.86  108465
21311  2015Q4  177306.57  108465
21312  2016Q1  157390.05  108465
21313  2016Q2  167945.60  108465
21314  2016Q3  182625.61  108465
21315  2016Q4  177926.72  108465
21316  2017Q1  181870.07  108465
21317  2017Q2  177019.26  108465
21318  2017Q3  180055.68  108465
21319  2017Q4  186841.38  108465>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
420  2013Q1 -0.013597  120585
421  2013Q2 -0.012483  120585
422  2013Q3 -0.002478  120585
423  2013Q4  0.089680  120585
424  2014Q1  0.028589  120585
425  2014Q2  0.137159  120585
426  2014Q3  0.121378  120585
427  2014Q4  0.069873  120585
428  2015Q1 -0.001109  120585
429  2015Q2 -0.042389  120585
430  2015Q3  0.004979  120585
431  2015Q4 -0.018172  120585
432  2016Q1 -0.066568  120585
433  2016Q2  0.073597  120585
434  2016Q3  0.107783  120585
435  2016Q4 -0.012383  120585
436  2017Q1  0.020558  120585
437  2017Q2  0.062088  120585
438  2017Q3  0.060731  120585
439  2017Q4  0.055494  120585
640  2013Q1 -0.047976  108465
641  2013Q2 -0.031555  108465
642  2013Q3 -0.004315  108465
643  2013Q4  0.087741  108465
644  2014Q1 -0.032812  108465
645  2014Q2  0.110314  108465
646  2014Q3  0.119475  108465
647  2014Q4  0.067956  108465
648  2015Q1 -0.015033  108465
649  2015Q2 -0.047736  108465
650  2015Q3  0.002603  108465
651  2015Q4 -0.020862  108465
652  2016Q1 -0.136619  108465
653  2016Q2  0.055951  108465
654  2016Q3  0.105305  108465
655  2016Q4 -0.014848  108465
656  2017Q1 -0.022195  108465
657  2017Q2  0.046637  108465
658  2017Q3  0.058320  108465
659  2017Q4  0.053109  108465>)
('Key_aum: ', 108465)
      Quarter       Data      ID
21300  2013Q1  139951.47  108465
21301  2013Q2  133742.03  108465
21302  2013Q3  129906.39  108465
21303  2013Q4  133286.00  108465
21304  2014Q1  128877.64  108465
21305  2014Q2  146990.95  108465
21306  2014Q3  170006.53  108465
21307  2014Q4  186552.83  108465
21308  2015Q1  186071.46  108465
21309  2015Q2  177444.79  108465
21310  2015Q3  179947.86  108465
21311  2015Q4  177306.57  108465
21312  2016Q1  157390.05  108465
21313  2016Q2  167945.60  108465
21314  2016Q3  182625.61  108465
21315  2016Q4  177926.72  108465
21316  2017Q1  181870.07  108465
21317  2017Q2  177019.26  108465
21318  2017Q3  180055.68  108465
21319  2017Q4  186841.38  108465
('Key_nav : ', 108465)
('data 1 : ', array([-0.0479759 , -0.03155514, -0.00431543,  0.08774093, -0.03281236,
        0.11031356,  0.1194746 ,  0.06795552, -0.01503297, -0.04773606,
        0.00260331, -0.02086239, -0.13661914,  0.05595075,  0.10530483,
       -0.01484783, -0.02219498,  0.04663734,  0.05831953,  0.053109  ]))
('data 2 :', array([ 139951.47,  133742.03,  129906.39,  133286.  ,  128877.64,
        146990.95,  170006.53,  186552.83,  186071.46,  177444.79,
        179947.86,  177306.57,  157390.05,  167945.6 ,  182625.61,
        177926.72,  181870.07,  177019.26,  180055.68,  186841.38]))
('Key_aum: ', 120585)
      Quarter      Data      ID
21260  2013Q1    530.52  120585
21261  2013Q2   1105.44  120585
21262  2013Q3   1392.00  120585
21263  2013Q4   1887.22  120585
21264  2014Q1   2116.63  120585
21265  2014Q2   2644.24  120585
21266  2014Q3   3366.20  120585
21267  2014Q4   3510.14  120585
21268  2015Q1   3608.46  120585
21269  2015Q2   3880.07  120585
21270  2015Q3   5639.62  120585
21271  2015Q4   7818.92  120585
21272  2016Q1   9613.49  120585
21273  2016Q2  12229.20  120585
21274  2016Q3  14045.53  120585
21275  2016Q4  14263.02  120585
21276  2017Q1  12026.50  120585
21277  2017Q2  10698.35  120585
21278  2017Q3  11758.22  120585
21279  2017Q4  14254.02  120585
('Key_nav : ', 120585)
('data 1 : ', array([-0.01359657, -0.01248272, -0.0024778 ,  0.08968038,  0.02858941,
        0.13715918,  0.12137814,  0.06987275, -0.00110901, -0.04238943,
        0.00497857, -0.0181718 , -0.06656821,  0.07359669,  0.10778332,
       -0.01238318,  0.02055798,  0.06208762,  0.06073066,  0.05549439]))
('data 2 :', array([   530.52,   1105.44,   1392.  ,   1887.22,   2116.63,   2644.24,
         3366.2 ,   3510.14,   3608.46,   3880.07,   5639.62,   7818.92,
         9613.49,  12229.2 ,  14045.53,  14263.02,  12026.5 ,  10698.35,
        11758.22,  14254.02]))
('mean : ', array([-0.01359657, -0.01248272, -0.0024778 ,  0.08968038,  0.02858941,
        0.13715918,  0.12137814,  0.06987275, -0.00110901, -0.04238943,
        0.00497857, -0.0181718 , -0.06656821,  0.07359669,  0.10778332,
       -0.01238318,  0.02055798,  0.06208762,  0.06073066,  0.05549439]))
('aum table :', <bound method DataFrame.head of       Quarter       Data      ID
21260  2013Q1     530.52  120585
21261  2013Q2    1105.44  120585
21262  2013Q3    1392.00  120585
21263  2013Q4    1887.22  120585
21264  2014Q1    2116.63  120585
21265  2014Q2    2644.24  120585
21266  2014Q3    3366.20  120585
21267  2014Q4    3510.14  120585
21268  2015Q1    3608.46  120585
21269  2015Q2    3880.07  120585
21270  2015Q3    5639.62  120585
21271  2015Q4    7818.92  120585
21272  2016Q1    9613.49  120585
21273  2016Q2   12229.20  120585
21274  2016Q3   14045.53  120585
21275  2016Q4   14263.02  120585
21276  2017Q1   12026.50  120585
21277  2017Q2   10698.35  120585
21278  2017Q3   11758.22  120585
21279  2017Q4   14254.02  120585
21300  2013Q1  139951.47  108465
21301  2013Q2  133742.03  108465
21302  2013Q3  129906.39  108465
21303  2013Q4  133286.00  108465
21304  2014Q1  128877.64  108465
21305  2014Q2  146990.95  108465
21306  2014Q3  170006.53  108465
21307  2014Q4  186552.83  108465
21308  2015Q1  186071.46  108465
21309  2015Q2  177444.79  108465
21310  2015Q3  179947.86  108465
21311  2015Q4  177306.57  108465
21312  2016Q1  157390.05  108465
21313  2016Q2  167945.60  108465
21314  2016Q3  182625.61  108465
21315  2016Q4  177926.72  108465
21316  2017Q1  181870.07  108465
21317  2017Q2  177019.26  108465
21318  2017Q3  180055.68  108465
21319  2017Q4  186841.38  108465>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
420  2013Q1 -0.013597  120585
421  2013Q2 -0.012483  120585
422  2013Q3 -0.002478  120585
423  2013Q4  0.089680  120585
424  2014Q1  0.028589  120585
425  2014Q2  0.137159  120585
426  2014Q3  0.121378  120585
427  2014Q4  0.069873  120585
428  2015Q1 -0.001109  120585
429  2015Q2 -0.042389  120585
430  2015Q3  0.004979  120585
431  2015Q4 -0.018172  120585
432  2016Q1 -0.066568  120585
433  2016Q2  0.073597  120585
434  2016Q3  0.107783  120585
435  2016Q4 -0.012383  120585
436  2017Q1  0.020558  120585
437  2017Q2  0.062088  120585
438  2017Q3  0.060731  120585
439  2017Q4  0.055494  120585
640  2013Q1 -0.047976  108465
641  2013Q2 -0.031555  108465
642  2013Q3 -0.004315  108465
643  2013Q4  0.087741  108465
644  2014Q1 -0.032812  108465
645  2014Q2  0.110314  108465
646  2014Q3  0.119475  108465
647  2014Q4  0.067956  108465
648  2015Q1 -0.015033  108465
649  2015Q2 -0.047736  108465
650  2015Q3  0.002603  108465
651  2015Q4 -0.020862  108465
652  2016Q1 -0.136619  108465
653  2016Q2  0.055951  108465
654  2016Q3  0.105305  108465
655  2016Q4 -0.014848  108465
656  2017Q1 -0.022195  108465
657  2017Q2  0.046637  108465
658  2017Q3  0.058320  108465
659  2017Q4  0.053109  108465>)
('Key_aum: ', 108465)
      Quarter       Data      ID
21300  2013Q1  139951.47  108465
21301  2013Q2  133742.03  108465
21302  2013Q3  129906.39  108465
21303  2013Q4  133286.00  108465
21304  2014Q1  128877.64  108465
21305  2014Q2  146990.95  108465
21306  2014Q3  170006.53  108465
21307  2014Q4  186552.83  108465
21308  2015Q1  186071.46  108465
21309  2015Q2  177444.79  108465
21310  2015Q3  179947.86  108465
21311  2015Q4  177306.57  108465
21312  2016Q1  157390.05  108465
21313  2016Q2  167945.60  108465
21314  2016Q3  182625.61  108465
21315  2016Q4  177926.72  108465
21316  2017Q1  181870.07  108465
21317  2017Q2  177019.26  108465
21318  2017Q3  180055.68  108465
21319  2017Q4  186841.38  108465
('Key_nav : ', 108465)
('data 1 : ', array([-0.0479759 , -0.03155514, -0.00431543,  0.08774093, -0.03281236,
        0.11031356,  0.1194746 ,  0.06795552, -0.01503297, -0.04773606,
        0.00260331, -0.02086239, -0.13661914,  0.05595075,  0.10530483,
       -0.01484783, -0.02219498,  0.04663734,  0.05831953,  0.053109  ]))
('data 2 :', array([ 139951.47,  133742.03,  129906.39,  133286.  ,  128877.64,
        146990.95,  170006.53,  186552.83,  186071.46,  177444.79,
        179947.86,  177306.57,  157390.05,  167945.6 ,  182625.61,
        177926.72,  181870.07,  177019.26,  180055.68,  186841.38]))
('Key_aum: ', 120585)
      Quarter      Data      ID
21260  2013Q1    530.52  120585
21261  2013Q2   1105.44  120585
21262  2013Q3   1392.00  120585
21263  2013Q4   1887.22  120585
21264  2014Q1   2116.63  120585
21265  2014Q2   2644.24  120585
21266  2014Q3   3366.20  120585
21267  2014Q4   3510.14  120585
21268  2015Q1   3608.46  120585
21269  2015Q2   3880.07  120585
21270  2015Q3   5639.62  120585
21271  2015Q4   7818.92  120585
21272  2016Q1   9613.49  120585
21273  2016Q2  12229.20  120585
21274  2016Q3  14045.53  120585
21275  2016Q4  14263.02  120585
21276  2017Q1  12026.50  120585
21277  2017Q2  10698.35  120585
21278  2017Q3  11758.22  120585
21279  2017Q4  14254.02  120585
('Key_nav : ', 120585)
('data 1 : ', array([-0.01359657, -0.01248272, -0.0024778 ,  0.08968038,  0.02858941,
        0.13715918,  0.12137814,  0.06987275, -0.00110901, -0.04238943,
        0.00497857, -0.0181718 , -0.06656821,  0.07359669,  0.10778332,
       -0.01238318,  0.02055798,  0.06208762,  0.06073066,  0.05549439]))
('data 2 :', array([   530.52,   1105.44,   1392.  ,   1887.22,   2116.63,   2644.24,
         3366.2 ,   3510.14,   3608.46,   3880.07,   5639.62,   7818.92,
         9613.49,  12229.2 ,  14045.53,  14263.02,  12026.5 ,  10698.35,
        11758.22,  14254.02]))
('mean : ', array([-0.01359657, -0.01248272, -0.0024778 ,  0.08968038,  0.02858941,
        0.13715918,  0.12137814,  0.06987275, -0.00110901, -0.04238943,
        0.00497857, -0.0181718 , -0.06656821,  0.07359669,  0.10778332,
       -0.01238318,  0.02055798,  0.06208762,  0.06073066,  0.05549439]))
('aum table :', <bound method DataFrame.head of       Quarter       Data      ID
21260  2013Q1     530.52  120585
21261  2013Q2    1105.44  120585
21262  2013Q3    1392.00  120585
21263  2013Q4    1887.22  120585
21264  2014Q1    2116.63  120585
21265  2014Q2    2644.24  120585
21266  2014Q3    3366.20  120585
21267  2014Q4    3510.14  120585
21268  2015Q1    3608.46  120585
21269  2015Q2    3880.07  120585
21270  2015Q3    5639.62  120585
21271  2015Q4    7818.92  120585
21272  2016Q1    9613.49  120585
21273  2016Q2   12229.20  120585
21274  2016Q3   14045.53  120585
21275  2016Q4   14263.02  120585
21276  2017Q1   12026.50  120585
21277  2017Q2   10698.35  120585
21278  2017Q3   11758.22  120585
21279  2017Q4   14254.02  120585
21300  2013Q1  139951.47  108465
21301  2013Q2  133742.03  108465
21302  2013Q3  129906.39  108465
21303  2013Q4  133286.00  108465
21304  2014Q1  128877.64  108465
21305  2014Q2  146990.95  108465
21306  2014Q3  170006.53  108465
21307  2014Q4  186552.83  108465
21308  2015Q1  186071.46  108465
21309  2015Q2  177444.79  108465
21310  2015Q3  179947.86  108465
21311  2015Q4  177306.57  108465
21312  2016Q1  157390.05  108465
21313  2016Q2  167945.60  108465
21314  2016Q3  182625.61  108465
21315  2016Q4  177926.72  108465
21316  2017Q1  181870.07  108465
21317  2017Q2  177019.26  108465
21318  2017Q3  180055.68  108465
21319  2017Q4  186841.38  108465>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
420  2013Q1 -0.013597  120585
421  2013Q2 -0.012483  120585
422  2013Q3 -0.002478  120585
423  2013Q4  0.089680  120585
424  2014Q1  0.028589  120585
425  2014Q2  0.137159  120585
426  2014Q3  0.121378  120585
427  2014Q4  0.069873  120585
428  2015Q1 -0.001109  120585
429  2015Q2 -0.042389  120585
430  2015Q3  0.004979  120585
431  2015Q4 -0.018172  120585
432  2016Q1 -0.066568  120585
433  2016Q2  0.073597  120585
434  2016Q3  0.107783  120585
435  2016Q4 -0.012383  120585
436  2017Q1  0.020558  120585
437  2017Q2  0.062088  120585
438  2017Q3  0.060731  120585
439  2017Q4  0.055494  120585
640  2013Q1 -0.047976  108465
641  2013Q2 -0.031555  108465
642  2013Q3 -0.004315  108465
643  2013Q4  0.087741  108465
644  2014Q1 -0.032812  108465
645  2014Q2  0.110314  108465
646  2014Q3  0.119475  108465
647  2014Q4  0.067956  108465
648  2015Q1 -0.015033  108465
649  2015Q2 -0.047736  108465
650  2015Q3  0.002603  108465
651  2015Q4 -0.020862  108465
652  2016Q1 -0.136619  108465
653  2016Q2  0.055951  108465
654  2016Q3  0.105305  108465
655  2016Q4 -0.014848  108465
656  2017Q1 -0.022195  108465
657  2017Q2  0.046637  108465
658  2017Q3  0.058320  108465
659  2017Q4  0.053109  108465>)
('Key_aum: ', 108465)
      Quarter       Data      ID
21300  2013Q1  139951.47  108465
21301  2013Q2  133742.03  108465
21302  2013Q3  129906.39  108465
21303  2013Q4  133286.00  108465
21304  2014Q1  128877.64  108465
21305  2014Q2  146990.95  108465
21306  2014Q3  170006.53  108465
21307  2014Q4  186552.83  108465
21308  2015Q1  186071.46  108465
21309  2015Q2  177444.79  108465
21310  2015Q3  179947.86  108465
21311  2015Q4  177306.57  108465
21312  2016Q1  157390.05  108465
21313  2016Q2  167945.60  108465
21314  2016Q3  182625.61  108465
21315  2016Q4  177926.72  108465
21316  2017Q1  181870.07  108465
21317  2017Q2  177019.26  108465
21318  2017Q3  180055.68  108465
21319  2017Q4  186841.38  108465
('Key_nav : ', 108465)
('data 1 : ', array([-0.0479759 , -0.03155514, -0.00431543,  0.08774093, -0.03281236,
        0.11031356,  0.1194746 ,  0.06795552, -0.01503297, -0.04773606,
        0.00260331, -0.02086239, -0.13661914,  0.05595075,  0.10530483,
       -0.01484783, -0.02219498,  0.04663734,  0.05831953,  0.053109  ]))
('data 2 :', array([ 139951.47,  133742.03,  129906.39,  133286.  ,  128877.64,
        146990.95,  170006.53,  186552.83,  186071.46,  177444.79,
        179947.86,  177306.57,  157390.05,  167945.6 ,  182625.61,
        177926.72,  181870.07,  177019.26,  180055.68,  186841.38]))
('Key_aum: ', 120585)
      Quarter      Data      ID
21260  2013Q1    530.52  120585
21261  2013Q2   1105.44  120585
21262  2013Q3   1392.00  120585
21263  2013Q4   1887.22  120585
21264  2014Q1   2116.63  120585
21265  2014Q2   2644.24  120585
21266  2014Q3   3366.20  120585
21267  2014Q4   3510.14  120585
21268  2015Q1   3608.46  120585
21269  2015Q2   3880.07  120585
21270  2015Q3   5639.62  120585
21271  2015Q4   7818.92  120585
21272  2016Q1   9613.49  120585
21273  2016Q2  12229.20  120585
21274  2016Q3  14045.53  120585
21275  2016Q4  14263.02  120585
21276  2017Q1  12026.50  120585
21277  2017Q2  10698.35  120585
21278  2017Q3  11758.22  120585
21279  2017Q4  14254.02  120585
('Key_nav : ', 120585)
('data 1 : ', array([-0.01359657, -0.01248272, -0.0024778 ,  0.08968038,  0.02858941,
        0.13715918,  0.12137814,  0.06987275, -0.00110901, -0.04238943,
        0.00497857, -0.0181718 , -0.06656821,  0.07359669,  0.10778332,
       -0.01238318,  0.02055798,  0.06208762,  0.06073066,  0.05549439]))
('data 2 :', array([   530.52,   1105.44,   1392.  ,   1887.22,   2116.63,   2644.24,
         3366.2 ,   3510.14,   3608.46,   3880.07,   5639.62,   7818.92,
         9613.49,  12229.2 ,  14045.53,  14263.02,  12026.5 ,  10698.35,
        11758.22,  14254.02]))
('mean : ', array([-0.01359657, -0.01248272, -0.0024778 ,  0.08968038,  0.02858941,
        0.13715918,  0.12137814,  0.06987275, -0.00110901, -0.04238943,
        0.00497857, -0.0181718 , -0.06656821,  0.07359669,  0.10778332,
       -0.01238318,  0.02055798,  0.06208762,  0.06073066,  0.05549439]))
('aum table :', <bound method DataFrame.head of       Quarter       Data      ID
21260  2013Q1     530.52  120585
21261  2013Q2    1105.44  120585
21262  2013Q3    1392.00  120585
21263  2013Q4    1887.22  120585
21264  2014Q1    2116.63  120585
21265  2014Q2    2644.24  120585

        177926.72,  181870.07,  177019.26,  180055.68,  186841.38]))
('Key_aum: ', 120585)
      Quarter      Data      ID
21260  2013Q1    530.52  120585
21261  2013Q2   1105.44  120585
21262  2013Q3   1392.00  120585
21263  2013Q4   1887.22  120585
21264  2014Q1   2116.63  120585
21265  2014Q2   2644.24  120585
21266  2014Q3   3366.20  120585
21267  2014Q4   3510.14  120585
21268  2015Q1   3608.46  120585
21269  2015Q2   3880.07  120585
21270  2015Q3   5639.62  120585
21271  2015Q4   7818.92  120585
21272  2016Q1   9613.49  120585
21273  2016Q2  12229.20  120585
21274  2016Q3  14045.53  120585
21275  2016Q4  14263.02  120585
21276  2017Q1  12026.50  120585
21277  2017Q2  10698.35  120585
21278  2017Q3  11758.22  120585
21279  2017Q4  14254.02  120585
('Key_nav : ', 120585)
('data 1 : ', array([-0.01359657, -0.01248272, -0.0024778 ,  0.08968038,  0.02858941,
        0.13715918,  0.12137814,  0.06987275, -0.00110901, -0.04238943,
        0.00497857, -0.0181718 , -0.06656821,  0.07359669,  0.10778332,
       -0.01238318,  0.02055798,  0.06208762,  0.06073066,  0.05549439]))
('data 2 :', array([   530.52,   1105.44,   1392.  ,   1887.22,   2116.63,   2644.24,
         3366.2 ,   3510.14,   3608.46,   3880.07,   5639.62,   7818.92,
         9613.49,  12229.2 ,  14045.53,  14263.02,  12026.5 ,  10698.35,
        11758.22,  14254.02]))
('mean : ', array([-0.01359657, -0.01248272, -0.0024778 ,  0.08968038,  0.02858941,
        0.13715918,  0.12137814,  0.06987275, -0.00110901, -0.04238943,
        0.00497857, -0.0181718 , -0.06656821,  0.07359669,  0.10778332,
       -0.01238318,  0.02055798,  0.06208762,  0.06073066,  0.05549439]))
('aum table :', <bound method DataFrame.head of       Quarter       Data      ID
21260  2013Q1     530.52  120585
21261  2013Q2    1105.44  120585
21262  2013Q3    1392.00  120585
21263  2013Q4    1887.22  120585
21264  2014Q1    2116.63  120585
21265  2014Q2    2644.24  120585
21266  2014Q3    3366.20  120585
21267  2014Q4    3510.14  120585
21268  2015Q1    3608.46  120585
21269  2015Q2    3880.07  120585
21270  2015Q3    5639.62  120585
21271  2015Q4    7818.92  120585
21272  2016Q1    9613.49  120585
21273  2016Q2   12229.20  120585
21274  2016Q3   14045.53  120585
21275  2016Q4   14263.02  120585
21276  2017Q1   12026.50  120585
21277  2017Q2   10698.35  120585
21278  2017Q3   11758.22  120585
21279  2017Q4   14254.02  120585
21300  2013Q1  139951.47  108465
21301  2013Q2  133742.03  108465
21302  2013Q3  129906.39  108465
21303  2013Q4  133286.00  108465
21304  2014Q1  128877.64  108465
21305  2014Q2  146990.95  108465
21306  2014Q3  170006.53  108465
21307  2014Q4  186552.83  108465
21308  2015Q1  186071.46  108465
21309  2015Q2  177444.79  108465
21310  2015Q3  179947.86  108465
21311  2015Q4  177306.57  108465
21312  2016Q1  157390.05  108465
21313  2016Q2  167945.60  108465
21314  2016Q3  182625.61  108465
21315  2016Q4  177926.72  108465
21316  2017Q1  181870.07  108465
21317  2017Q2  177019.26  108465
21318  2017Q3  180055.68  108465
21319  2017Q4  186841.38  108465>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
420  2013Q1 -0.013597  120585
421  2013Q2 -0.012483  120585
422  2013Q3 -0.002478  120585
423  2013Q4  0.089680  120585
424  2014Q1  0.028589  120585
425  2014Q2  0.137159  120585
426  2014Q3  0.121378  120585
427  2014Q4  0.069873  120585
428  2015Q1 -0.001109  120585
429  2015Q2 -0.042389  120585
430  2015Q3  0.004979  120585
431  2015Q4 -0.018172  120585
432  2016Q1 -0.066568  120585
433  2016Q2  0.073597  120585
434  2016Q3  0.107783  120585
435  2016Q4 -0.012383  120585
436  2017Q1  0.020558  120585
437  2017Q2  0.062088  120585
438  2017Q3  0.060731  120585
439  2017Q4  0.055494  120585
640  2013Q1 -0.047976  108465
641  2013Q2 -0.031555  108465
642  2013Q3 -0.004315  108465
643  2013Q4  0.087741  108465
644  2014Q1 -0.032812  108465
645  2014Q2  0.110314  108465
646  2014Q3  0.119475  108465
647  2014Q4  0.067956  108465
648  2015Q1 -0.015033  108465
649  2015Q2 -0.047736  108465
650  2015Q3  0.002603  108465
651  2015Q4 -0.020862  108465
652  2016Q1 -0.136619  108465
653  2016Q2  0.055951  108465
654  2016Q3  0.105305  108465
655  2016Q4 -0.014848  108465
656  2017Q1 -0.022195  108465
657  2017Q2  0.046637  108465
658  2017Q3  0.058320  108465
659  2017Q4  0.053109  108465>)
('Key_aum: ', 108465)
      Quarter       Data      ID
21300  2013Q1  139951.47  108465
21301  2013Q2  133742.03  108465
21302  2013Q3  129906.39  108465
21303  2013Q4  133286.00  108465
21304  2014Q1  128877.64  108465
21305  2014Q2  146990.95  108465
21306  2014Q3  170006.53  108465
21307  2014Q4  186552.83  108465
21308  2015Q1  186071.46  108465
21309  2015Q2  177444.79  108465
21310  2015Q3  179947.86  108465
21311  2015Q4  177306.57  108465
21312  2016Q1  157390.05  108465
21313  2016Q2  167945.60  108465
21314  2016Q3  182625.61  108465
21315  2016Q4  177926.72  108465
21316  2017Q1  181870.07  108465
21317  2017Q2  177019.26  108465
21318  2017Q3  180055.68  108465
21319  2017Q4  186841.38  108465
('Key_nav : ', 108465)
('data 1 : ', array([-0.0479759 , -0.03155514, -0.00431543,  0.08774093, -0.03281236,
        0.11031356,  0.1194746 ,  0.06795552, -0.01503297, -0.04773606,
        0.00260331, -0.02086239, -0.13661914,  0.05595075,  0.10530483,
       -0.01484783, -0.02219498,  0.04663734,  0.05831953,  0.053109  ]))
('data 2 :', array([ 139951.47,  133742.03,  129906.39,  133286.  ,  128877.64,
        146990.95,  170006.53,  186552.83,  186071.46,  177444.79,
        179947.86,  177306.57,  157390.05,  167945.6 ,  182625.61,
        177926.72,  181870.07,  177019.26,  180055.68,  186841.38]))
('Key_aum: ', 120585)
      Quarter      Data      ID
21260  2013Q1    530.52  120585
21261  2013Q2   1105.44  120585
21262  2013Q3   1392.00  120585
21263  2013Q4   1887.22  120585
21264  2014Q1   2116.63  120585
21265  2014Q2   2644.24  120585
21266  2014Q3   3366.20  120585
21267  2014Q4   3510.14  120585
21268  2015Q1   3608.46  120585
21269  2015Q2   3880.07  120585
21270  2015Q3   5639.62  120585
21271  2015Q4   7818.92  120585
21272  2016Q1   9613.49  120585
21273  2016Q2  12229.20  120585
21274  2016Q3  14045.53  120585
21275  2016Q4  14263.02  120585
21276  2017Q1  12026.50  120585
21277  2017Q2  10698.35  120585
21278  2017Q3  11758.22  120585
21279  2017Q4  14254.02  120585
('Key_nav : ', 120585)
('data 1 : ', array([-0.01359657, -0.01248272, -0.0024778 ,  0.08968038,  0.02858941,
        0.13715918,  0.12137814,  0.06987275, -0.00110901, -0.04238943,
        0.00497857, -0.0181718 , -0.06656821,  0.07359669,  0.10778332,
       -0.01238318,  0.02055798,  0.06208762,  0.06073066,  0.05549439]))
('data 2 :', array([   530.52,   1105.44,   1392.  ,   1887.22,   2116.63,   2644.24,
         3366.2 ,   3510.14,   3608.46,   3880.07,   5639.62,   7818.92,
         9613.49,  12229.2 ,  14045.53,  14263.02,  12026.5 ,  10698.35,
        11758.22,  14254.02]))
('mean : ', array([-0.01359657, -0.01248272, -0.0024778 ,  0.08968038,  0.02858941,
        0.13715918,  0.12137814,  0.06987275, -0.00110901, -0.04238943,
        0.00497857, -0.0181718 , -0.06656821,  0.07359669,  0.10778332,
       -0.01238318,  0.02055798,  0.06208762,  0.06073066,  0.05549439]))
('aum table :', <bound method DataFrame.head of       Quarter       Data      ID
21260  2013Q1     530.52  120585
21261  2013Q2    1105.44  120585
21262  2013Q3    1392.00  120585
21263  2013Q4    1887.22  120585
21264  2014Q1    2116.63  120585
21265  2014Q2    2644.24  120585
21266  2014Q3    3366.20  120585
21267  2014Q4    3510.14  120585
21268  2015Q1    3608.46  120585
21269  2015Q2    3880.07  120585
21270  2015Q3    5639.62  120585
21271  2015Q4    7818.92  120585
21272  2016Q1    9613.49  120585
21273  2016Q2   12229.20  120585
21274  2016Q3   14045.53  120585
21275  2016Q4   14263.02  120585
21276  2017Q1   12026.50  120585
21277  2017Q2   10698.35  120585
21278  2017Q3   11758.22  120585
21279  2017Q4   14254.02  120585
21300  2013Q1  139951.47  108465
21301  2013Q2  133742.03  108465
21302  2013Q3  129906.39  108465
21303  2013Q4  133286.00  108465
21304  2014Q1  128877.64  108465
21305  2014Q2  146990.95  108465
21306  2014Q3  170006.53  108465
21307  2014Q4  186552.83  108465
21308  2015Q1  186071.46  108465
21309  2015Q2  177444.79  108465
21310  2015Q3  179947.86  108465
21311  2015Q4  177306.57  108465
21312  2016Q1  157390.05  108465
21313  2016Q2  167945.60  108465
21314  2016Q3  182625.61  108465
21315  2016Q4  177926.72  108465
21316  2017Q1  181870.07  108465
21317  2017Q2  177019.26  108465
21318  2017Q3  180055.68  108465
21319  2017Q4  186841.38  108465>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
420  2013Q1 -0.013597  120585
421  2013Q2 -0.012483  120585
422  2013Q3 -0.002478  120585
423  2013Q4  0.089680  120585
424  2014Q1  0.028589  120585
425  2014Q2  0.137159  120585
426  2014Q3  0.121378  120585
427  2014Q4  0.069873  120585
428  2015Q1 -0.001109  120585
429  2015Q2 -0.042389  120585
430  2015Q3  0.004979  120585
431  2015Q4 -0.018172  120585
432  2016Q1 -0.066568  120585
433  2016Q2  0.073597  120585
434  2016Q3  0.107783  120585
435  2016Q4 -0.012383  120585
436  2017Q1  0.020558  120585
437  2017Q2  0.062088  120585
438  2017Q3  0.060731  120585
439  2017Q4  0.055494  120585
640  2013Q1 -0.047976  108465
641  2013Q2 -0.031555  108465
642  2013Q3 -0.004315  108465
643  2013Q4  0.087741  108465
644  2014Q1 -0.032812  108465
645  2014Q2  0.110314  108465
646  2014Q3  0.119475  108465
647  2014Q4  0.067956  108465
648  2015Q1 -0.015033  108465
649  2015Q2 -0.047736  108465
650  2015Q3  0.002603  108465
651  2015Q4 -0.020862  108465
652  2016Q1 -0.136619  108465
653  2016Q2  0.055951  108465
654  2016Q3  0.105305  108465
655  2016Q4 -0.014848  108465
656  2017Q1 -0.022195  108465
657  2017Q2  0.046637  108465
658  2017Q3  0.058320  108465
659  2017Q4  0.053109  108465>)
('Key_aum: ', 108465)
      Quarter       Data      ID
21300  2013Q1  139951.47  108465
21301  2013Q2  133742.03  108465
21302  2013Q3  129906.39  108465
21303  2013Q4  133286.00  108465
21304  2014Q1  128877.64  108465
21305  2014Q2  146990.95  108465
21306  2014Q3  170006.53  108465
21307  2014Q4  186552.83  108465
21308  2015Q1  186071.46  108465
21309  2015Q2  177444.79  108465
21310  2015Q3  179947.86  108465
21311  2015Q4  177306.57  108465
21312  2016Q1  157390.05  108465
21313  2016Q2  167945.60  108465
21314  2016Q3  182625.61  108465
21315  2016Q4  177926.72  108465
21316  2017Q1  181870.07  108465
21317  2017Q2  177019.26  108465
21318  2017Q3  180055.68  108465
21319  2017Q4  186841.38  108465
('Key_nav : ', 108465)
('data 1 : ', array([-0.0479759 , -0.03155514, -0.00431543,  0.08774093, -0.03281236,
        0.11031356,  0.1194746 ,  0.06795552, -0.01503297, -0.04773606,
        0.00260331, -0.02086239, -0.13661914,  0.05595075,  0.10530483,
       -0.01484783, -0.02219498,  0.04663734,  0.05831953,  0.053109  ]))
('data 2 :', array([ 139951.47,  133742.03,  129906.39,  133286.  ,  128877.64,
        146990.95,  170006.53,  186552.83,  186071.46,  177444.79,
        179947.86,  177306.57,  157390.05,  167945.6 ,  182625.61,
        177926.72,  181870.07,  177019.26,  180055.68,  186841.38]))
('Key_aum: ', 120585)
      Quarter      Data      ID
21260  2013Q1    530.52  120585
21261  2013Q2   1105.44  120585
21262  2013Q3   1392.00  120585
21263  2013Q4   1887.22  120585
21264  2014Q1   2116.63  120585
21265  2014Q2   2644.24  120585
21266  2014Q3   3366.20  120585
21267  2014Q4   3510.14  120585
21268  2015Q1   3608.46  120585
21269  2015Q2   3880.07  120585
21270  2015Q3   5639.62  120585
21271  2015Q4   7818.92  120585
21272  2016Q1   9613.49  120585
21273  2016Q2  12229.20  120585
21274  2016Q3  14045.53  120585
21275  2016Q4  14263.02  120585
21276  2017Q1  12026.50  120585
21277  2017Q2  10698.35  120585
21278  2017Q3  11758.22  120585
21279  2017Q4  14254.02  120585
('Key_nav : ', 120585)
('data 1 : ', array([-0.01359657, -0.01248272, -0.0024778 ,  0.08968038,  0.02858941,
        0.13715918,  0.12137814,  0.06987275, -0.00110901, -0.04238943,
        0.00497857, -0.0181718 , -0.06656821,  0.07359669,  0.10778332,
       -0.01238318,  0.02055798,  0.06208762,  0.06073066,  0.05549439]))
('data 2 :', array([   530.52,   1105.44,   1392.  ,   1887.22,   2116.63,   2644.24,
         3366.2 ,   3510.14,   3608.46,   3880.07,   5639.62,   7818.92,
         9613.49,  12229.2 ,  14045.53,  14263.02,  12026.5 ,  10698.35,
        11758.22,  14254.02]))
('mean : ', array([-0.01359657, -0.01248272, -0.0024778 ,  0.08968038,  0.02858941,
        0.13715918,  0.12137814,  0.06987275, -0.00110901, -0.04238943,
        0.00497857, -0.0181718 , -0.06656821,  0.07359669,  0.10778332,
       -0.01238318,  0.02055798,  0.06208762,  0.06073066,  0.05549439]))
('aum table :', <bound method DataFrame.head of       Quarter       Data      ID
21260  2013Q1     530.52  120585
21261  2013Q2    1105.44  120585
21262  2013Q3    1392.00  120585
21263  2013Q4    1887.22  120585
21264  2014Q1    2116.63  120585
21265  2014Q2    2644.24  120585
21266  2014Q3    3366.20  120585
21267  2014Q4    3510.14  120585
21268  2015Q1    3608.46  120585
21269  2015Q2    3880.07  120585
21270  2015Q3    5639.62  120585
21271  2015Q4    7818.92  120585
21272  2016Q1    9613.49  120585
21273  2016Q2   12229.20  120585
21274  2016Q3   14045.53  120585
21275  2016Q4   14263.02  120585
21276  2017Q1   12026.50  120585
21277  2017Q2   10698.35  120585
21278  2017Q3   11758.22  120585
21279  2017Q4   14254.02  120585
21300  2013Q1  139951.47  108465
21301  2013Q2  133742.03  108465
21302  2013Q3  129906.39  108465
21303  2013Q4  133286.00  108465
21304  2014Q1  128877.64  108465
21305  2014Q2  146990.95  108465
21306  2014Q3  170006.53  108465
21307  2014Q4  186552.83  108465
21308  2015Q1  186071.46  108465
21309  2015Q2  177444.79  108465
21310  2015Q3  179947.86  108465
21311  2015Q4  177306.57  108465
21312  2016Q1  157390.05  108465
21313  2016Q2  167945.60  108465
21314  2016Q3  182625.61  108465
21315  2016Q4  177926.72  108465
21316  2017Q1  181870.07  108465
21317  2017Q2  177019.26  108465
21318  2017Q3  180055.68  108465
21319  2017Q4  186841.38  108465>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
420  2013Q1 -0.013597  120585
421  2013Q2 -0.012483  120585
422  2013Q3 -0.002478  120585
423  2013Q4  0.089680  120585
424  2014Q1  0.028589  120585
425  2014Q2  0.137159  120585
426  2014Q3  0.121378  120585
427  2014Q4  0.069873  120585
428  2015Q1 -0.001109  120585
429  2015Q2 -0.042389  120585
430  2015Q3  0.004979  120585
431  2015Q4 -0.018172  120585
432  2016Q1 -0.066568  120585
433  2016Q2  0.073597  120585
434  2016Q3  0.107783  120585
435  2016Q4 -0.012383  120585
436  2017Q1  0.020558  120585
437  2017Q2  0.062088  120585
438  2017Q3  0.060731  120585
439  2017Q4  0.055494  120585
640  2013Q1 -0.047976  108465
641  2013Q2 -0.031555  108465
642  2013Q3 -0.004315  108465
643  2013Q4  0.087741  108465
644  2014Q1 -0.032812  108465
645  2014Q2  0.110314  108465
646  2014Q3  0.119475  108465
647  2014Q4  0.067956  108465
648  2015Q1 -0.015033  108465
649  2015Q2 -0.047736  108465
650  2015Q3  0.002603  108465
651  2015Q4 -0.020862  108465
652  2016Q1 -0.136619  108465
653  2016Q2  0.055951  108465
654  2016Q3  0.105305  108465
655  2016Q4 -0.014848  108465
656  2017Q1 -0.022195  108465
657  2017Q2  0.046637  108465
658  2017Q3  0.058320  108465
659  2017Q4  0.053109  108465>)
('Key_aum: ', 108465)
      Quarter       Data      ID
21300  2013Q1  139951.47  108465
21301  2013Q2  133742.03  108465
21302  2013Q3  129906.39  108465
21303  2013Q4  133286.00  108465
21304  2014Q1  128877.64  108465
21305  2014Q2  146990.95  108465
21306  2014Q3  170006.53  108465
21307  2014Q4  186552.83  108465
21308  2015Q1  186071.46  108465
21309  2015Q2  177444.79  108465
21310  2015Q3  179947.86  108465
21311  2015Q4  177306.57  108465
21312  2016Q1  157390.05  108465
21313  2016Q2  167945.60  108465
21314  2016Q3  182625.61  108465
21315  2016Q4  177926.72  108465
21316  2017Q1  181870.07  108465
21317  2017Q2  177019.26  108465
21318  2017Q3  180055.68  108465
21319  2017Q4  186841.38  108465
('Key_nav : ', 108465)
('data 1 : ', array([-0.0479759 , -0.03155514, -0.00431543,  0.08774093, -0.03281236,
        0.11031356,  0.1194746 ,  0.06795552, -0.01503297, -0.04773606,
        0.00260331, -0.02086239, -0.13661914,  0.05595075,  0.10530483,
       -0.01484783, -0.02219498,  0.04663734,  0.05831953,  0.053109  ]))
('data 2 :', array([ 139951.47,  133742.03,  129906.39,  133286.  ,  128877.64,
        146990.95,  170006.53,  186552.83,  186071.46,  177444.79,
        179947.86,  177306.57,  157390.05,  167945.6 ,  182625.61,
        177926.72,  181870.07,  177019.26,  180055.68,  186841.38]))
('Key_aum: ', 120585)
      Quarter      Data      ID
21260  2013Q1    530.52  120585
21261  2013Q2   1105.44  120585
21262  2013Q3   1392.00  120585
21263  2013Q4   1887.22  120585
21264  2014Q1   2116.63  120585
21265  2014Q2   2644.24  120585
21266  2014Q3   3366.20  120585
21267  2014Q4   3510.14  120585
21268  2015Q1   3608.46  120585
21269  2015Q2   3880.07  120585
21270  2015Q3   5639.62  120585
21271  2015Q4   7818.92  120585
21272  2016Q1   9613.49  120585
21273  2016Q2  12229.20  120585
21274  2016Q3  14045.53  120585
21275  2016Q4  14263.02  120585
21276  2017Q1  12026.50  120585
21277  2017Q2  10698.35  120585
21278  2017Q3  11758.22  120585
21279  2017Q4  14254.02  120585
('Key_nav : ', 120585)
('data 1 : ', array([-0.01359657, -0.01248272, -0.0024778 ,  0.08968038,  0.02858941,
        0.13715918,  0.12137814,  0.06987275, -0.00110901, -0.04238943,
        0.00497857, -0.0181718 , -0.06656821,  0.07359669,  0.10778332,
       -0.01238318,  0.02055798,  0.06208762,  0.06073066,  0.05549439]))
('data 2 :', array([   530.52,   1105.44,   1392.  ,   1887.22,   2116.63,   2644.24,
         3366.2 ,   3510.14,   3608.46,   3880.07,   5639.62,   7818.92,
         9613.49,  12229.2 ,  14045.53,  14263.02,  12026.5 ,  10698.35,
        11758.22,  14254.02]))
('mean : ', array([-0.01359657, -0.01248272, -0.0024778 ,  0.08968038,  0.02858941,
        0.13715918,  0.12137814,  0.06987275, -0.00110901, -0.04238943,
        0.00497857, -0.0181718 , -0.06656821,  0.07359669,  0.10778332,
       -0.01238318,  0.02055798,  0.06208762,  0.06073066,  0.05549439]))
('aum table :', <bound method DataFrame.head of       Quarter       Data      ID
21260  2013Q1     530.52  120585
21261  2013Q2    1105.44  120585
21262  2013Q3    1392.00  120585
21263  2013Q4    1887.22  120585
21264  2014Q1    2116.63  120585
21265  2014Q2    2644.24  120585
21266  2014Q3    3366.20  120585
21267  2014Q4    3510.14  120585
21268  2015Q1    3608.46  120585
21269  2015Q2    3880.07  120585
21270  2015Q3    5639.62  120585
21271  2015Q4    7818.92  120585
21272  2016Q1    9613.49  120585
21273  2016Q2   12229.20  120585
21274  2016Q3   14045.53  120585
21275  2016Q4   14263.02  120585
21276  2017Q1   12026.50  120585
21277  2017Q2   10698.35  120585
21278  2017Q3   11758.22  120585
21279  2017Q4   14254.02  120585
21300  2013Q1  139951.47  108465
21301  2013Q2  133742.03  108465
21302  2013Q3  129906.39  108465
21303  2013Q4  133286.00  108465
21304  2014Q1  128877.64  108465
21305  2014Q2  146990.95  108465
21306  2014Q3  170006.53  108465
21307  2014Q4  186552.83  108465
21308  2015Q1  186071.46  108465
21309  2015Q2  177444.79  108465
21310  2015Q3  179947.86  108465
21311  2015Q4  177306.57  108465
21312  2016Q1  157390.05  108465
21313  2016Q2  167945.60  108465
21314  2016Q3  182625.61  108465
21315  2016Q4  177926.72  108465
21316  2017Q1  181870.07  108465
21317  2017Q2  177019.26  108465
21318  2017Q3  180055.68  108465
21319  2017Q4  186841.38  108465>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
420  2013Q1 -0.013597  120585
421  2013Q2 -0.012483  120585

        177926.72,  181870.07,  177019.26,  180055.68,  186841.38]))
('Key_aum: ', 120585)
      Quarter      Data      ID
21260  2013Q1    530.52  120585
21261  2013Q2   1105.44  120585
21262  2013Q3   1392.00  120585
21263  2013Q4   1887.22  120585
21264  2014Q1   2116.63  120585
21265  2014Q2   2644.24  120585
21266  2014Q3   3366.20  120585
21267  2014Q4   3510.14  120585
21268  2015Q1   3608.46  120585
21269  2015Q2   3880.07  120585
21270  2015Q3   5639.62  120585
21271  2015Q4   7818.92  120585
21272  2016Q1   9613.49  120585
21273  2016Q2  12229.20  120585
21274  2016Q3  14045.53  120585
21275  2016Q4  14263.02  120585
21276  2017Q1  12026.50  120585
21277  2017Q2  10698.35  120585
21278  2017Q3  11758.22  120585
21279  2017Q4  14254.02  120585
('Key_nav : ', 120585)
('data 1 : ', array([-0.01359657, -0.01248272, -0.0024778 ,  0.08968038,  0.02858941,
        0.13715918,  0.12137814,  0.06987275, -0.00110901, -0.04238943,
        0.00497857, -0.0181718 , -0.06656821,  0.07359669,  0.10778332,
       -0.01238318,  0.02055798,  0.06208762,  0.06073066,  0.05549439]))
('data 2 :', array([   530.52,   1105.44,   1392.  ,   1887.22,   2116.63,   2644.24,
         3366.2 ,   3510.14,   3608.46,   3880.07,   5639.62,   7818.92,
         9613.49,  12229.2 ,  14045.53,  14263.02,  12026.5 ,  10698.35,
        11758.22,  14254.02]))
('mean : ', array([-0.01359657, -0.01248272, -0.0024778 ,  0.08968038,  0.02858941,
        0.13715918,  0.12137814,  0.06987275, -0.00110901, -0.04238943,
        0.00497857, -0.0181718 , -0.06656821,  0.07359669,  0.10778332,
       -0.01238318,  0.02055798,  0.06208762,  0.06073066,  0.05549439]))
('aum table :', <bound method DataFrame.head of       Quarter       Data      ID
21260  2013Q1     530.52  120585
21261  2013Q2    1105.44  120585
21262  2013Q3    1392.00  120585
21263  2013Q4    1887.22  120585
21264  2014Q1    2116.63  120585
21265  2014Q2    2644.24  120585
21266  2014Q3    3366.20  120585
21267  2014Q4    3510.14  120585
21268  2015Q1    3608.46  120585
21269  2015Q2    3880.07  120585
21270  2015Q3    5639.62  120585
21271  2015Q4    7818.92  120585
21272  2016Q1    9613.49  120585
21273  2016Q2   12229.20  120585
21274  2016Q3   14045.53  120585
21275  2016Q4   14263.02  120585
21276  2017Q1   12026.50  120585
21277  2017Q2   10698.35  120585
21278  2017Q3   11758.22  120585
21279  2017Q4   14254.02  120585
21300  2013Q1  139951.47  108465
21301  2013Q2  133742.03  108465
21302  2013Q3  129906.39  108465
21303  2013Q4  133286.00  108465
21304  2014Q1  128877.64  108465
21305  2014Q2  146990.95  108465
21306  2014Q3  170006.53  108465
21307  2014Q4  186552.83  108465
21308  2015Q1  186071.46  108465
21309  2015Q2  177444.79  108465
21310  2015Q3  179947.86  108465
21311  2015Q4  177306.57  108465
21312  2016Q1  157390.05  108465
21313  2016Q2  167945.60  108465
21314  2016Q3  182625.61  108465
21315  2016Q4  177926.72  108465
21316  2017Q1  181870.07  108465
21317  2017Q2  177019.26  108465
21318  2017Q3  180055.68  108465
21319  2017Q4  186841.38  108465>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
420  2013Q1 -0.013597  120585
421  2013Q2 -0.012483  120585
422  2013Q3 -0.002478  120585
423  2013Q4  0.089680  120585
424  2014Q1  0.028589  120585
425  2014Q2  0.137159  120585
426  2014Q3  0.121378  120585
427  2014Q4  0.069873  120585
428  2015Q1 -0.001109  120585
429  2015Q2 -0.042389  120585
430  2015Q3  0.004979  120585
431  2015Q4 -0.018172  120585
432  2016Q1 -0.066568  120585
433  2016Q2  0.073597  120585
434  2016Q3  0.107783  120585
435  2016Q4 -0.012383  120585
436  2017Q1  0.020558  120585
437  2017Q2  0.062088  120585
438  2017Q3  0.060731  120585
439  2017Q4  0.055494  120585
640  2013Q1 -0.047976  108465
641  2013Q2 -0.031555  108465
642  2013Q3 -0.004315  108465
643  2013Q4  0.087741  108465
644  2014Q1 -0.032812  108465
645  2014Q2  0.110314  108465
646  2014Q3  0.119475  108465
647  2014Q4  0.067956  108465
648  2015Q1 -0.015033  108465
649  2015Q2 -0.047736  108465
650  2015Q3  0.002603  108465
651  2015Q4 -0.020862  108465
652  2016Q1 -0.136619  108465
653  2016Q2  0.055951  108465
654  2016Q3  0.105305  108465
655  2016Q4 -0.014848  108465
656  2017Q1 -0.022195  108465
657  2017Q2  0.046637  108465
658  2017Q3  0.058320  108465
659  2017Q4  0.053109  108465>)
('Key_aum: ', 108465)
      Quarter       Data      ID
21300  2013Q1  139951.47  108465
21301  2013Q2  133742.03  108465
21302  2013Q3  129906.39  108465
21303  2013Q4  133286.00  108465
21304  2014Q1  128877.64  108465
21305  2014Q2  146990.95  108465
21306  2014Q3  170006.53  108465
21307  2014Q4  186552.83  108465
21308  2015Q1  186071.46  108465
21309  2015Q2  177444.79  108465
21310  2015Q3  179947.86  108465
21311  2015Q4  177306.57  108465
21312  2016Q1  157390.05  108465
21313  2016Q2  167945.60  108465
21314  2016Q3  182625.61  108465
21315  2016Q4  177926.72  108465
21316  2017Q1  181870.07  108465
21317  2017Q2  177019.26  108465
21318  2017Q3  180055.68  108465
21319  2017Q4  186841.38  108465
('Key_nav : ', 108465)
('data 1 : ', array([-0.0479759 , -0.03155514, -0.00431543,  0.08774093, -0.03281236,
        0.11031356,  0.1194746 ,  0.06795552, -0.01503297, -0.04773606,
        0.00260331, -0.02086239, -0.13661914,  0.05595075,  0.10530483,
       -0.01484783, -0.02219498,  0.04663734,  0.05831953,  0.053109  ]))
('data 2 :', array([ 139951.47,  133742.03,  129906.39,  133286.  ,  128877.64,
        146990.95,  170006.53,  186552.83,  186071.46,  177444.79,
        179947.86,  177306.57,  157390.05,  167945.6 ,  182625.61,
        177926.72,  181870.07,  177019.26,  180055.68,  186841.38]))
('Key_aum: ', 120585)
      Quarter      Data      ID
21260  2013Q1    530.52  120585
21261  2013Q2   1105.44  120585
21262  2013Q3   1392.00  120585
21263  2013Q4   1887.22  120585
21264  2014Q1   2116.63  120585
21265  2014Q2   2644.24  120585
21266  2014Q3   3366.20  120585
21267  2014Q4   3510.14  120585
21268  2015Q1   3608.46  120585
21269  2015Q2   3880.07  120585
21270  2015Q3   5639.62  120585
21271  2015Q4   7818.92  120585
21272  2016Q1   9613.49  120585
21273  2016Q2  12229.20  120585
21274  2016Q3  14045.53  120585
21275  2016Q4  14263.02  120585
21276  2017Q1  12026.50  120585
21277  2017Q2  10698.35  120585
21278  2017Q3  11758.22  120585
21279  2017Q4  14254.02  120585
('Key_nav : ', 120585)
('data 1 : ', array([-0.01359657, -0.01248272, -0.0024778 ,  0.08968038,  0.02858941,
        0.13715918,  0.12137814,  0.06987275, -0.00110901, -0.04238943,
        0.00497857, -0.0181718 , -0.06656821,  0.07359669,  0.10778332,
       -0.01238318,  0.02055798,  0.06208762,  0.06073066,  0.05549439]))
('data 2 :', array([   530.52,   1105.44,   1392.  ,   1887.22,   2116.63,   2644.24,
         3366.2 ,   3510.14,   3608.46,   3880.07,   5639.62,   7818.92,
         9613.49,  12229.2 ,  14045.53,  14263.02,  12026.5 ,  10698.35,
        11758.22,  14254.02]))
('mean : ', array([-0.01359657, -0.01248272, -0.0024778 ,  0.08968038,  0.02858941,
        0.13715918,  0.12137814,  0.06987275, -0.00110901, -0.04238943,
        0.00497857, -0.0181718 , -0.06656821,  0.07359669,  0.10778332,
       -0.01238318,  0.02055798,  0.06208762,  0.06073066,  0.05549439]))
('aum table :', <bound method DataFrame.head of       Quarter       Data      ID
21260  2013Q1     530.52  120585
21261  2013Q2    1105.44  120585
21262  2013Q3    1392.00  120585
21263  2013Q4    1887.22  120585
21264  2014Q1    2116.63  120585
21265  2014Q2    2644.24  120585
21266  2014Q3    3366.20  120585
21267  2014Q4    3510.14  120585
21268  2015Q1    3608.46  120585
21269  2015Q2    3880.07  120585
21270  2015Q3    5639.62  120585
21271  2015Q4    7818.92  120585
21272  2016Q1    9613.49  120585
21273  2016Q2   12229.20  120585
21274  2016Q3   14045.53  120585
21275  2016Q4   14263.02  120585
21276  2017Q1   12026.50  120585
21277  2017Q2   10698.35  120585
21278  2017Q3   11758.22  120585
21279  2017Q4   14254.02  120585
21300  2013Q1  139951.47  108465
21301  2013Q2  133742.03  108465
21302  2013Q3  129906.39  108465
21303  2013Q4  133286.00  108465
21304  2014Q1  128877.64  108465
21305  2014Q2  146990.95  108465
21306  2014Q3  170006.53  108465
21307  2014Q4  186552.83  108465
21308  2015Q1  186071.46  108465
21309  2015Q2  177444.79  108465
21310  2015Q3  179947.86  108465
21311  2015Q4  177306.57  108465
21312  2016Q1  157390.05  108465
21313  2016Q2  167945.60  108465
21314  2016Q3  182625.61  108465
21315  2016Q4  177926.72  108465
21316  2017Q1  181870.07  108465
21317  2017Q2  177019.26  108465
21318  2017Q3  180055.68  108465
21319  2017Q4  186841.38  108465>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
420  2013Q1 -0.013597  120585
421  2013Q2 -0.012483  120585
422  2013Q3 -0.002478  120585
423  2013Q4  0.089680  120585
424  2014Q1  0.028589  120585
425  2014Q2  0.137159  120585
426  2014Q3  0.121378  120585
427  2014Q4  0.069873  120585
428  2015Q1 -0.001109  120585
429  2015Q2 -0.042389  120585
430  2015Q3  0.004979  120585
431  2015Q4 -0.018172  120585
432  2016Q1 -0.066568  120585
433  2016Q2  0.073597  120585
434  2016Q3  0.107783  120585
435  2016Q4 -0.012383  120585
436  2017Q1  0.020558  120585
437  2017Q2  0.062088  120585
438  2017Q3  0.060731  120585
439  2017Q4  0.055494  120585
640  2013Q1 -0.047976  108465
641  2013Q2 -0.031555  108465
642  2013Q3 -0.004315  108465
643  2013Q4  0.087741  108465
644  2014Q1 -0.032812  108465
645  2014Q2  0.110314  108465
646  2014Q3  0.119475  108465
647  2014Q4  0.067956  108465
648  2015Q1 -0.015033  108465
649  2015Q2 -0.047736  108465
650  2015Q3  0.002603  108465
651  2015Q4 -0.020862  108465
652  2016Q1 -0.136619  108465
653  2016Q2  0.055951  108465
654  2016Q3  0.105305  108465
655  2016Q4 -0.014848  108465
656  2017Q1 -0.022195  108465
657  2017Q2  0.046637  108465
658  2017Q3  0.058320  108465
659  2017Q4  0.053109  108465>)
('Key_aum: ', 108465)
      Quarter       Data      ID
21300  2013Q1  139951.47  108465
21301  2013Q2  133742.03  108465
21302  2013Q3  129906.39  108465
21303  2013Q4  133286.00  108465
21304  2014Q1  128877.64  108465
21305  2014Q2  146990.95  108465
21306  2014Q3  170006.53  108465
21307  2014Q4  186552.83  108465
21308  2015Q1  186071.46  108465
21309  2015Q2  177444.79  108465
21310  2015Q3  179947.86  108465
21311  2015Q4  177306.57  108465
21312  2016Q1  157390.05  108465
21313  2016Q2  167945.60  108465
21314  2016Q3  182625.61  108465
21315  2016Q4  177926.72  108465
21316  2017Q1  181870.07  108465
21317  2017Q2  177019.26  108465
21318  2017Q3  180055.68  108465
21319  2017Q4  186841.38  108465
('Key_nav : ', 108465)
('data 1 : ', array([-0.0479759 , -0.03155514, -0.00431543,  0.08774093, -0.03281236,
        0.11031356,  0.1194746 ,  0.06795552, -0.01503297, -0.04773606,
        0.00260331, -0.02086239, -0.13661914,  0.05595075,  0.10530483,
       -0.01484783, -0.02219498,  0.04663734,  0.05831953,  0.053109  ]))
('data 2 :', array([ 139951.47,  133742.03,  129906.39,  133286.  ,  128877.64,
        146990.95,  170006.53,  186552.83,  186071.46,  177444.79,
        179947.86,  177306.57,  157390.05,  167945.6 ,  182625.61,
        177926.72,  181870.07,  177019.26,  180055.68,  186841.38]))
('Key_aum: ', 120585)
      Quarter      Data      ID
21260  2013Q1    530.52  120585
21261  2013Q2   1105.44  120585
21262  2013Q3   1392.00  120585
21263  2013Q4   1887.22  120585
21264  2014Q1   2116.63  120585
21265  2014Q2   2644.24  120585
21266  2014Q3   3366.20  120585
21267  2014Q4   3510.14  120585
21268  2015Q1   3608.46  120585
21269  2015Q2   3880.07  120585
21270  2015Q3   5639.62  120585
21271  2015Q4   7818.92  120585
21272  2016Q1   9613.49  120585
21273  2016Q2  12229.20  120585
21274  2016Q3  14045.53  120585
21275  2016Q4  14263.02  120585
21276  2017Q1  12026.50  120585
21277  2017Q2  10698.35  120585
21278  2017Q3  11758.22  120585
21279  2017Q4  14254.02  120585
('Key_nav : ', 120585)
('data 1 : ', array([-0.01359657, -0.01248272, -0.0024778 ,  0.08968038,  0.02858941,
        0.13715918,  0.12137814,  0.06987275, -0.00110901, -0.04238943,
        0.00497857, -0.0181718 , -0.06656821,  0.07359669,  0.10778332,
       -0.01238318,  0.02055798,  0.06208762,  0.06073066,  0.05549439]))
('data 2 :', array([   530.52,   1105.44,   1392.  ,   1887.22,   2116.63,   2644.24,
         3366.2 ,   3510.14,   3608.46,   3880.07,   5639.62,   7818.92,
         9613.49,  12229.2 ,  14045.53,  14263.02,  12026.5 ,  10698.35,
        11758.22,  14254.02]))
('mean : ', array([-0.01359657, -0.01248272, -0.0024778 ,  0.08968038,  0.02858941,
        0.13715918,  0.12137814,  0.06987275, -0.00110901, -0.04238943,
        0.00497857, -0.0181718 , -0.06656821,  0.07359669,  0.10778332,
       -0.01238318,  0.02055798,  0.06208762,  0.06073066,  0.05549439]))
('aum table :', <bound method DataFrame.head of       Quarter       Data      ID
21260  2013Q1     530.52  120585
21261  2013Q2    1105.44  120585
21262  2013Q3    1392.00  120585
21263  2013Q4    1887.22  120585
21264  2014Q1    2116.63  120585
21265  2014Q2    2644.24  120585
21266  2014Q3    3366.20  120585
21267  2014Q4    3510.14  120585
21268  2015Q1    3608.46  120585
21269  2015Q2    3880.07  120585
21270  2015Q3    5639.62  120585
21271  2015Q4    7818.92  120585
21272  2016Q1    9613.49  120585
21273  2016Q2   12229.20  120585
21274  2016Q3   14045.53  120585
21275  2016Q4   14263.02  120585
21276  2017Q1   12026.50  120585
21277  2017Q2   10698.35  120585
21278  2017Q3   11758.22  120585
21279  2017Q4   14254.02  120585
21300  2013Q1  139951.47  108465
21301  2013Q2  133742.03  108465
21302  2013Q3  129906.39  108465
21303  2013Q4  133286.00  108465
21304  2014Q1  128877.64  108465
21305  2014Q2  146990.95  108465
21306  2014Q3  170006.53  108465
21307  2014Q4  186552.83  108465
21308  2015Q1  186071.46  108465
21309  2015Q2  177444.79  108465
21310  2015Q3  179947.86  108465
21311  2015Q4  177306.57  108465
21312  2016Q1  157390.05  108465
21313  2016Q2  167945.60  108465
21314  2016Q3  182625.61  108465
21315  2016Q4  177926.72  108465
21316  2017Q1  181870.07  108465
21317  2017Q2  177019.26  108465
21318  2017Q3  180055.68  108465
21319  2017Q4  186841.38  108465>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
420  2013Q1 -0.013597  120585
421  2013Q2 -0.012483  120585
422  2013Q3 -0.002478  120585
423  2013Q4  0.089680  120585
424  2014Q1  0.028589  120585
425  2014Q2  0.137159  120585
426  2014Q3  0.121378  120585
427  2014Q4  0.069873  120585
428  2015Q1 -0.001109  120585
429  2015Q2 -0.042389  120585
430  2015Q3  0.004979  120585
431  2015Q4 -0.018172  120585
432  2016Q1 -0.066568  120585
433  2016Q2  0.073597  120585
434  2016Q3  0.107783  120585
435  2016Q4 -0.012383  120585
436  2017Q1  0.020558  120585
437  2017Q2  0.062088  120585
438  2017Q3  0.060731  120585
439  2017Q4  0.055494  120585
640  2013Q1 -0.047976  108465
641  2013Q2 -0.031555  108465
642  2013Q3 -0.004315  108465
643  2013Q4  0.087741  108465
644  2014Q1 -0.032812  108465
645  2014Q2  0.110314  108465
646  2014Q3  0.119475  108465
647  2014Q4  0.067956  108465
648  2015Q1 -0.015033  108465
649  2015Q2 -0.047736  108465
650  2015Q3  0.002603  108465
651  2015Q4 -0.020862  108465
652  2016Q1 -0.136619  108465
653  2016Q2  0.055951  108465
654  2016Q3  0.105305  108465
655  2016Q4 -0.014848  108465
656  2017Q1 -0.022195  108465
657  2017Q2  0.046637  108465
658  2017Q3  0.058320  108465
659  2017Q4  0.053109  108465>)
('Key_aum: ', 108465)
      Quarter       Data      ID
21300  2013Q1  139951.47  108465
21301  2013Q2  133742.03  108465
21302  2013Q3  129906.39  108465
21303  2013Q4  133286.00  108465
21304  2014Q1  128877.64  108465
21305  2014Q2  146990.95  108465
21306  2014Q3  170006.53  108465
21307  2014Q4  186552.83  108465
21308  2015Q1  186071.46  108465
21309  2015Q2  177444.79  108465
21310  2015Q3  179947.86  108465
21311  2015Q4  177306.57  108465
21312  2016Q1  157390.05  108465
21313  2016Q2  167945.60  108465
21314  2016Q3  182625.61  108465
21315  2016Q4  177926.72  108465
21316  2017Q1  181870.07  108465
21317  2017Q2  177019.26  108465
21318  2017Q3  180055.68  108465
21319  2017Q4  186841.38  108465
('Key_nav : ', 108465)
('data 1 : ', array([-0.0479759 , -0.03155514, -0.00431543,  0.08774093, -0.03281236,
        0.11031356,  0.1194746 ,  0.06795552, -0.01503297, -0.04773606,
        0.00260331, -0.02086239, -0.13661914,  0.05595075,  0.10530483,
       -0.01484783, -0.02219498,  0.04663734,  0.05831953,  0.053109  ]))
('data 2 :', array([ 139951.47,  133742.03,  129906.39,  133286.  ,  128877.64,
        146990.95,  170006.53,  186552.83,  186071.46,  177444.79,
        179947.86,  177306.57,  157390.05,  167945.6 ,  182625.61,
        177926.72,  181870.07,  177019.26,  180055.68,  186841.38]))
('Key_aum: ', 120585)
      Quarter      Data      ID
21260  2013Q1    530.52  120585
21261  2013Q2   1105.44  120585
21262  2013Q3   1392.00  120585
21263  2013Q4   1887.22  120585
21264  2014Q1   2116.63  120585
21265  2014Q2   2644.24  120585
21266  2014Q3   3366.20  120585
21267  2014Q4   3510.14  120585
21268  2015Q1   3608.46  120585
21269  2015Q2   3880.07  120585
21270  2015Q3   5639.62  120585
21271  2015Q4   7818.92  120585
21272  2016Q1   9613.49  120585
21273  2016Q2  12229.20  120585
21274  2016Q3  14045.53  120585
21275  2016Q4  14263.02  120585
21276  2017Q1  12026.50  120585
21277  2017Q2  10698.35  120585
21278  2017Q3  11758.22  120585
21279  2017Q4  14254.02  120585
('Key_nav : ', 120585)
('data 1 : ', array([-0.01359657, -0.01248272, -0.0024778 ,  0.08968038,  0.02858941,
        0.13715918,  0.12137814,  0.06987275, -0.00110901, -0.04238943,
        0.00497857, -0.0181718 , -0.06656821,  0.07359669,  0.10778332,
       -0.01238318,  0.02055798,  0.06208762,  0.06073066,  0.05549439]))
('data 2 :', array([   530.52,   1105.44,   1392.  ,   1887.22,   2116.63,   2644.24,
         3366.2 ,   3510.14,   3608.46,   3880.07,   5639.62,   7818.92,
         9613.49,  12229.2 ,  14045.53,  14263.02,  12026.5 ,  10698.35,
        11758.22,  14254.02]))
('mean : ', array([-0.01359657, -0.01248272, -0.0024778 ,  0.08968038,  0.02858941,
        0.13715918,  0.12137814,  0.06987275, -0.00110901, -0.04238943,
        0.00497857, -0.0181718 , -0.06656821,  0.07359669,  0.10778332,
       -0.01238318,  0.02055798,  0.06208762,  0.06073066,  0.05549439]))
('IDs :', [130497, 102001])
('aum table :', <bound method DataFrame.head of        Quarter       Data      ID
13280   2013Q1  343308.38  102001
13281   2013Q2  307922.81  102001
13282   2013Q3  274276.38  102001
13283   2013Q4  276989.18  102001
13284   2014Q1  263427.99  102001
13285   2014Q2  282368.62  102001
13286   2014Q3  302794.02  102001
13287   2014Q4  313191.54  102001
13288   2015Q1  312218.21  102001
13289   2015Q2  281113.01  102001
13290   2015Q3  271556.55  102001
13291   2015Q4  255740.13  102001
13292   2016Q1  219898.46  102001
13293   2016Q2  223974.83  102001
13294   2016Q3  240199.68  102001
13295   2016Q4  231681.77  102001
13296   2017Q1  237838.97  102001
13297   2017Q2  241218.27  102001
13298   2017Q3  245063.18  102001
13299   2017Q4  250026.81  102001
131400  2013Q1       0.00  130497
131401  2013Q2       0.00  130497
131402  2013Q3       0.00  130497
131403  2013Q4       0.00  130497
131404  2014Q1       0.00  130497
131405  2014Q2      83.56  130497
131406  2014Q3    2335.50  130497
131407  2014Q4    2343.42  130497
131408  2015Q1    2043.64  130497
131409  2015Q2    1874.17  130497
131410  2015Q3    2243.75  130497
131411  2015Q4    2067.26  130497
131412  2016Q1    2978.65  130497
131413  2016Q2    1885.90  130497
131414  2016Q3    1529.67  130497
131415  2016Q4    1459.18  130497
131416  2017Q1    2822.91  130497
131417  2017Q2    1829.62  130497
131418  2017Q3    1885.51  130497
131419  2017Q4    1944.14  130497>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID

('aum table :', <bound method DataFrame.head of        Quarter       Data      ID
13280   2013Q1  343308.38  102001
13281   2013Q2  307922.81  102001
13282   2013Q3  274276.38  102001
13283   2013Q4  276989.18  102001
13284   2014Q1  263427.99  102001
13285   2014Q2  282368.62  102001
13286   2014Q3  302794.02  102001
13287   2014Q4  313191.54  102001
13288   2015Q1  312218.21  102001
13289   2015Q2  281113.01  102001
13290   2015Q3  271556.55  102001
13291   2015Q4  255740.13  102001
13292   2016Q1  219898.46  102001
13293   2016Q2  223974.83  102001
13294   2016Q3  240199.68  102001
13295   2016Q4  231681.77  102001
13296   2017Q1  237838.97  102001
13297   2017Q2  241218.27  102001
13298   2017Q3  245063.18  102001
13299   2017Q4  250026.81  102001
131400  2013Q1       0.00  130497
131401  2013Q2       0.00  130497
131402  2013Q3       0.00  130497
131403  2013Q4       0.00  130497
131404  2014Q1       0.00  130497
131405  2014Q2      83.56  130497
131406  2014Q3    2335.50  130497
131407  2014Q4    2343.42  130497
131408  2015Q1    2043.64  130497
131409  2015Q2    1874.17  130497
131410  2015Q3    2243.75  130497
131411  2015Q4    2067.26  130497
131412  2016Q1    2978.65  130497
131413  2016Q2    1885.90  130497
131414  2016Q3    1529.67  130497
131415  2016Q4    1459.18  130497
131416  2017Q1    2822.91  130497
131417  2017Q2    1829.62  130497
131418  2017Q3    1885.51  130497
131419  2017Q4    1944.14  130497>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
820   2013Q1  0.000000  130497
821   2013Q2  0.000000  130497
822   2013Q3  0.000000  130497
823   2013Q4  0.000000  130497
824   2014Q1  0.000000  130497
825   2014Q2  0.000000  130497
826   2014Q3  0.023293  130497
827   2014Q4  0.045269  130497
828   2015Q1  0.003895  130497
829   2015Q2 -0.084110  130497
830   2015Q3 -0.012044  130497
831   2015Q4 -0.035370  130497
832   2016Q1 -0.133772  130497
833   2016Q2  0.019059  130497
834   2016Q3  0.084106  130497
835   2016Q4 -0.019618  130497
836   2017Q1  0.006699  130497
837   2017Q2  0.017031  130497
838   2017Q3  0.036701  130497
839   2017Q4  0.038237  130497
1300  2013Q1 -0.050860  102001
1301  2013Q2 -0.099644  102001
1302  2013Q3 -0.068045  102001
1303  2013Q4  0.098523  102001
1304  2014Q1  0.010871  102001
1305  2014Q2  0.123053  102001
1306  2014Q3  0.120251  102001
1307  2014Q4  0.060114  102001
1308  2015Q1  0.015512  102001
1309  2015Q2 -0.105289  102001
1310  2015Q3 -0.007145  102001
1311  2015Q4 -0.027639  102001
1312  2016Q1 -0.130794  102001
1313  2016Q2  0.029711  102001
1314  2016Q3  0.116297  102001
1315  2016Q4 -0.000649  102001
1316  2017Q1  0.033553  102001
1317  2017Q2  0.016797  102001
1318  2017Q3  0.040898  102001
1319  2017Q4  0.044396  102001>)
('Key_aum: ', 102001)
      Quarter       Data      ID
13280  2013Q1  343308.38  102001
13281  2013Q2  307922.81  102001
13282  2013Q3  274276.38  102001
13283  2013Q4  276989.18  102001
13284  2014Q1  263427.99  102001
13285  2014Q2  282368.62  102001
13286  2014Q3  302794.02  102001
13287  2014Q4  313191.54  102001
13288  2015Q1  312218.21  102001
13289  2015Q2  281113.01  102001
13290  2015Q3  271556.55  102001
13291  2015Q4  255740.13  102001
13292  2016Q1  219898.46  102001
13293  2016Q2  223974.83  102001
13294  2016Q3  240199.68  102001
13295  2016Q4  231681.77  102001
13296  2017Q1  237838.97  102001
13297  2017Q2  241218.27  102001
13298  2017Q3  245063.18  102001
13299  2017Q4  250026.81  102001
('Key_nav : ', 102001)
('data 1 : ', array([-0.05085968, -0.09964354, -0.06804499,  0.09852333,  0.01087104,
        0.12305261,  0.12025066,  0.0601136 ,  0.01551191, -0.10528935,
       -0.00714486, -0.02763905, -0.13079423,  0.02971057,  0.11629673,
       -0.00064904,  0.03355296,  0.01679728,  0.0408982 ,  0.04439581]))
('data 2 :', array([ 343308.38,  307922.81,  274276.38,  276989.18,  263427.99,
        282368.62,  302794.02,  313191.54,  312218.21,  281113.01,
        271556.55,  255740.13,  219898.46,  223974.83,  240199.68,
        231681.77,  237838.97,  241218.27,  245063.18,  250026.81]))
('Key_aum: ', 130497)
       Quarter     Data      ID
131400  2013Q1     0.00  130497
131401  2013Q2     0.00  130497
131402  2013Q3     0.00  130497
131403  2013Q4     0.00  130497
131404  2014Q1     0.00  130497
131405  2014Q2    83.56  130497
131406  2014Q3  2335.50  130497
131407  2014Q4  2343.42  130497
131408  2015Q1  2043.64  130497
131409  2015Q2  1874.17  130497
131410  2015Q3  2243.75  130497
131411  2015Q4  2067.26  130497
131412  2016Q1  2978.65  130497
131413  2016Q2  1885.90  130497
131414  2016Q3  1529.67  130497
131415  2016Q4  1459.18  130497
131416  2017Q1  2822.91  130497
131417  2017Q2  1829.62  130497
131418  2017Q3  1885.51  130497
131419  2017Q4  1944.14  130497
('Key_nav : ', 130497)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.02329329,  0.04526913,  0.00389462, -0.08410968,
       -0.01204357, -0.03537046, -0.13377238,  0.01905935,  0.0841064 ,
       -0.01961775,  0.00669884,  0.01703149,  0.03670112,  0.0382372 ]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    83.56,
        2335.5 ,  2343.42,  2043.64,  1874.17,  2243.75,  2067.26,
        2978.65,  1885.9 ,  1529.67,  1459.18,  2822.91,  1829.62,
        1885.51,  1944.14]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
        0.        ,  0.02329329,  0.04526913,  0.00389462, -0.08410968,
       -0.01204357, -0.03537046, -0.13377238,  0.01905935,  0.0841064 ,
       -0.01961775,  0.00669884,  0.01703149,  0.03670112,  0.0382372 ]))
('aum table :', <bound method DataFrame.head of        Quarter       Data      ID
13280   2013Q1  343308.38  102001
13281   2013Q2  307922.81  102001
13282   2013Q3  274276.38  102001
13283   2013Q4  276989.18  102001
13284   2014Q1  263427.99  102001
13285   2014Q2  282368.62  102001
13286   2014Q3  302794.02  102001
13287   2014Q4  313191.54  102001
13288   2015Q1  312218.21  102001
13289   2015Q2  281113.01  102001
13290   2015Q3  271556.55  102001
13291   2015Q4  255740.13  102001
13292   2016Q1  219898.46  102001
13293   2016Q2  223974.83  102001
13294   2016Q3  240199.68  102001
13295   2016Q4  231681.77  102001
13296   2017Q1  237838.97  102001
13297   2017Q2  241218.27  102001
13298   2017Q3  245063.18  102001
13299   2017Q4  250026.81  102001
131400  2013Q1       0.00  130497
131401  2013Q2       0.00  130497
131402  2013Q3       0.00  130497
131403  2013Q4       0.00  130497
131404  2014Q1       0.00  130497
131405  2014Q2      83.56  130497
131406  2014Q3    2335.50  130497
131407  2014Q4    2343.42  130497
131408  2015Q1    2043.64  130497
131409  2015Q2    1874.17  130497
131410  2015Q3    2243.75  130497
131411  2015Q4    2067.26  130497
131412  2016Q1    2978.65  130497
131413  2016Q2    1885.90  130497
131414  2016Q3    1529.67  130497
131415  2016Q4    1459.18  130497
131416  2017Q1    2822.91  130497
131417  2017Q2    1829.62  130497
131418  2017Q3    1885.51  130497
131419  2017Q4    1944.14  130497>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
820   2013Q1  0.000000  130497
821   2013Q2  0.000000  130497
822   2013Q3  0.000000  130497
823   2013Q4  0.000000  130497
824   2014Q1  0.000000  130497
825   2014Q2  0.000000  130497
826   2014Q3  0.023293  130497
827   2014Q4  0.045269  130497
828   2015Q1  0.003895  130497
829   2015Q2 -0.084110  130497
830   2015Q3 -0.012044  130497
831   2015Q4 -0.035370  130497
832   2016Q1 -0.133772  130497
833   2016Q2  0.019059  130497
834   2016Q3  0.084106  130497
835   2016Q4 -0.019618  130497
836   2017Q1  0.006699  130497
837   2017Q2  0.017031  130497
838   2017Q3  0.036701  130497
839   2017Q4  0.038237  130497
1300  2013Q1 -0.050860  102001
1301  2013Q2 -0.099644  102001
1302  2013Q3 -0.068045  102001
1303  2013Q4  0.098523  102001
1304  2014Q1  0.010871  102001
1305  2014Q2  0.123053  102001
1306  2014Q3  0.120251  102001
1307  2014Q4  0.060114  102001
1308  2015Q1  0.015512  102001
1309  2015Q2 -0.105289  102001
1310  2015Q3 -0.007145  102001
1311  2015Q4 -0.027639  102001
1312  2016Q1 -0.130794  102001
1313  2016Q2  0.029711  102001
1314  2016Q3  0.116297  102001
1315  2016Q4 -0.000649  102001
1316  2017Q1  0.033553  102001
1317  2017Q2  0.016797  102001
1318  2017Q3  0.040898  102001
1319  2017Q4  0.044396  102001>)
('Key_aum: ', 102001)
      Quarter       Data      ID
13280  2013Q1  343308.38  102001
13281  2013Q2  307922.81  102001
13282  2013Q3  274276.38  102001
13283  2013Q4  276989.18  102001
13284  2014Q1  263427.99  102001
13285  2014Q2  282368.62  102001
13286  2014Q3  302794.02  102001
13287  2014Q4  313191.54  102001
13288  2015Q1  312218.21  102001
13289  2015Q2  281113.01  102001
13290  2015Q3  271556.55  102001
13291  2015Q4  255740.13  102001
13292  2016Q1  219898.46  102001
13293  2016Q2  223974.83  102001
13294  2016Q3  240199.68  102001
13295  2016Q4  231681.77  102001
13296  2017Q1  237838.97  102001
13297  2017Q2  241218.27  102001
13298  2017Q3  245063.18  102001
13299  2017Q4  250026.81  102001
('Key_nav : ', 102001)
('data 1 : ', array([-0.05085968, -0.09964354, -0.06804499,  0.09852333,  0.01087104,
        0.12305261,  0.12025066,  0.0601136 ,  0.01551191, -0.10528935,
       -0.00714486, -0.02763905, -0.13079423,  0.02971057,  0.11629673,
       -0.00064904,  0.03355296,  0.01679728,  0.0408982 ,  0.04439581]))
('data 2 :', array([ 343308.38,  307922.81,  274276.38,  276989.18,  263427.99,
        282368.62,  302794.02,  313191.54,  312218.21,  281113.01,
        271556.55,  255740.13,  219898.46,  223974.83,  240199.68,
        231681.77,  237838.97,  241218.27,  245063.18,  250026.81]))
('Key_aum: ', 130497)
       Quarter     Data      ID
131400  2013Q1     0.00  130497
131401  2013Q2     0.00  130497
131402  2013Q3     0.00  130497
131403  2013Q4     0.00  130497
131404  2014Q1     0.00  130497
131405  2014Q2    83.56  130497
131406  2014Q3  2335.50  130497
131407  2014Q4  2343.42  130497
131408  2015Q1  2043.64  130497
131409  2015Q2  1874.17  130497
131410  2015Q3  2243.75  130497
131411  2015Q4  2067.26  130497
131412  2016Q1  2978.65  130497
131413  2016Q2  1885.90  130497
131414  2016Q3  1529.67  130497
131415  2016Q4  1459.18  130497
131416  2017Q1  2822.91  130497
131417  2017Q2  1829.62  130497
131418  2017Q3  1885.51  130497
131419  2017Q4  1944.14  130497
('Key_nav : ', 130497)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.02329329,  0.04526913,  0.00389462, -0.08410968,
       -0.01204357, -0.03537046, -0.13377238,  0.01905935,  0.0841064 ,
       -0.01961775,  0.00669884,  0.01703149,  0.03670112,  0.0382372 ]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    83.56,
        2335.5 ,  2343.42,  2043.64,  1874.17,  2243.75,  2067.26,
        2978.65,  1885.9 ,  1529.67,  1459.18,  2822.91,  1829.62,
        1885.51,  1944.14]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
        0.        ,  0.02329329,  0.04526913,  0.00389462, -0.08410968,
       -0.01204357, -0.03537046, -0.13377238,  0.01905935,  0.0841064 ,
       -0.01961775,  0.00669884,  0.01703149,  0.03670112,  0.0382372 ]))
('aum table :', <bound method DataFrame.head of        Quarter       Data      ID
13280   2013Q1  343308.38  102001
13281   2013Q2  307922.81  102001
13282   2013Q3  274276.38  102001
13283   2013Q4  276989.18  102001
13284   2014Q1  263427.99  102001
13285   2014Q2  282368.62  102001
13286   2014Q3  302794.02  102001
13287   2014Q4  313191.54  102001
13288   2015Q1  312218.21  102001
13289   2015Q2  281113.01  102001
13290   2015Q3  271556.55  102001
13291   2015Q4  255740.13  102001
13292   2016Q1  219898.46  102001
13293   2016Q2  223974.83  102001
13294   2016Q3  240199.68  102001
13295   2016Q4  231681.77  102001
13296   2017Q1  237838.97  102001
13297   2017Q2  241218.27  102001
13298   2017Q3  245063.18  102001
13299   2017Q4  250026.81  102001
131400  2013Q1       0.00  130497
131401  2013Q2       0.00  130497
131402  2013Q3       0.00  130497
131403  2013Q4       0.00  130497
131404  2014Q1       0.00  130497
131405  2014Q2      83.56  130497
131406  2014Q3    2335.50  130497
131407  2014Q4    2343.42  130497
131408  2015Q1    2043.64  130497
131409  2015Q2    1874.17  130497
131410  2015Q3    2243.75  130497
131411  2015Q4    2067.26  130497
131412  2016Q1    2978.65  130497
131413  2016Q2    1885.90  130497
131414  2016Q3    1529.67  130497
131415  2016Q4    1459.18  130497
131416  2017Q1    2822.91  130497
131417  2017Q2    1829.62  130497
131418  2017Q3    1885.51  130497
131419  2017Q4    1944.14  130497>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
820   2013Q1  0.000000  130497
821   2013Q2  0.000000  130497
822   2013Q3  0.000000  130497
823   2013Q4  0.000000  130497
824   2014Q1  0.000000  130497
825   2014Q2  0.000000  130497
826   2014Q3  0.023293  130497
827   2014Q4  0.045269  130497
828   2015Q1  0.003895  130497
829   2015Q2 -0.084110  130497
830   2015Q3 -0.012044  130497
831   2015Q4 -0.035370  130497
832   2016Q1 -0.133772  130497
833   2016Q2  0.019059  130497
834   2016Q3  0.084106  130497
835   2016Q4 -0.019618  130497
836   2017Q1  0.006699  130497
837   2017Q2  0.017031  130497
838   2017Q3  0.036701  130497
839   2017Q4  0.038237  130497
1300  2013Q1 -0.050860  102001
1301  2013Q2 -0.099644  102001
1302  2013Q3 -0.068045  102001
1303  2013Q4  0.098523  102001
1304  2014Q1  0.010871  102001
1305  2014Q2  0.123053  102001
1306  2014Q3  0.120251  102001
1307  2014Q4  0.060114  102001
1308  2015Q1  0.015512  102001
1309  2015Q2 -0.105289  102001
1310  2015Q3 -0.007145  102001
1311  2015Q4 -0.027639  102001
1312  2016Q1 -0.130794  102001
1313  2016Q2  0.029711  102001
1314  2016Q3  0.116297  102001
1315  2016Q4 -0.000649  102001
1316  2017Q1  0.033553  102001
1317  2017Q2  0.016797  102001
1318  2017Q3  0.040898  102001
1319  2017Q4  0.044396  102001>)
('Key_aum: ', 102001)
      Quarter       Data      ID
13280  2013Q1  343308.38  102001
13281  2013Q2  307922.81  102001
13282  2013Q3  274276.38  102001
13283  2013Q4  276989.18  102001
13284  2014Q1  263427.99  102001
13285  2014Q2  282368.62  102001
13286  2014Q3  302794.02  102001
13287  2014Q4  313191.54  102001
13288  2015Q1  312218.21  102001
13289  2015Q2  281113.01  102001
13290  2015Q3  271556.55  102001
13291  2015Q4  255740.13  102001
13292  2016Q1  219898.46  102001
13293  2016Q2  223974.83  102001
13294  2016Q3  240199.68  102001
13295  2016Q4  231681.77  102001
13296  2017Q1  237838.97  102001
13297  2017Q2  241218.27  102001
13298  2017Q3  245063.18  102001
13299  2017Q4  250026.81  102001
('Key_nav : ', 102001)
('data 1 : ', array([-0.05085968, -0.09964354, -0.06804499,  0.09852333,  0.01087104,
        0.12305261,  0.12025066,  0.0601136 ,  0.01551191, -0.10528935,
       -0.00714486, -0.02763905, -0.13079423,  0.02971057,  0.11629673,
       -0.00064904,  0.03355296,  0.01679728,  0.0408982 ,  0.04439581]))
('data 2 :', array([ 343308.38,  307922.81,  274276.38,  276989.18,  263427.99,
        282368.62,  302794.02,  313191.54,  312218.21,  281113.01,
        271556.55,  255740.13,  219898.46,  223974.83,  240199.68,
        231681.77,  237838.97,  241218.27,  245063.18,  250026.81]))
('Key_aum: ', 130497)
       Quarter     Data      ID
131400  2013Q1     0.00  130497
131401  2013Q2     0.00  130497
131402  2013Q3     0.00  130497
131403  2013Q4     0.00  130497
131404  2014Q1     0.00  130497
131405  2014Q2    83.56  130497
131406  2014Q3  2335.50  130497
131407  2014Q4  2343.42  130497
131408  2015Q1  2043.64  130497
131409  2015Q2  1874.17  130497
131410  2015Q3  2243.75  130497
131411  2015Q4  2067.26  130497
131412  2016Q1  2978.65  130497
131413  2016Q2  1885.90  130497
131414  2016Q3  1529.67  130497
131415  2016Q4  1459.18  130497
131416  2017Q1  2822.91  130497
131417  2017Q2  1829.62  130497
131418  2017Q3  1885.51  130497
131419  2017Q4  1944.14  130497
('Key_nav : ', 130497)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.02329329,  0.04526913,  0.00389462, -0.08410968,
       -0.01204357, -0.03537046, -0.13377238,  0.01905935,  0.0841064 ,
       -0.01961775,  0.00669884,  0.01703149,  0.03670112,  0.0382372 ]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    83.56,
        2335.5 ,  2343.42,  2043.64,  1874.17,  2243.75,  2067.26,
        2978.65,  1885.9 ,  1529.67,  1459.18,  2822.91,  1829.62,
        1885.51,  1944.14]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
        0.        ,  0.02329329,  0.04526913,  0.00389462, -0.08410968,
       -0.01204357, -0.03537046, -0.13377238,  0.01905935,  0.0841064 ,
       -0.01961775,  0.00669884,  0.01703149,  0.03670112,  0.0382372 ]))
('aum table :', <bound method DataFrame.head of        Quarter       Data      ID
13280   2013Q1  343308.38  102001
13281   2013Q2  307922.81  102001
13282   2013Q3  274276.38  102001
13283   2013Q4  276989.18  102001
13284   2014Q1  263427.99  102001
13285   2014Q2  282368.62  102001
13286   2014Q3  302794.02  102001
13287   2014Q4  313191.54  102001
13288   2015Q1  312218.21  102001
13289   2015Q2  281113.01  102001
13290   2015Q3  271556.55  102001
13291   2015Q4  255740.13  102001
13292   2016Q1  219898.46  102001
13293   2016Q2  223974.83  102001
13294   2016Q3  240199.68  102001
13295   2016Q4  231681.77  102001
13296   2017Q1  237838.97  102001
13297   2017Q2  241218.27  102001
13298   2017Q3  245063.18  102001
13299   2017Q4  250026.81  102001
131400  2013Q1       0.00  130497
131401  2013Q2       0.00  130497
131402  2013Q3       0.00  130497
131403  2013Q4       0.00  130497
131404  2014Q1       0.00  130497
131405  2014Q2      83.56  130497
131406  2014Q3    2335.50  130497
131407  2014Q4    2343.42  130497
131408  2015Q1    2043.64  130497
131409  2015Q2    1874.17  130497
131410  2015Q3    2243.75  130497
131411  2015Q4    2067.26  130497
131412  2016Q1    2978.65  130497
131413  2016Q2    1885.90  130497
131414  2016Q3    1529.67  130497
131415  2016Q4    1459.18  130497
131416  2017Q1    2822.91  130497
131417  2017Q2    1829.62  130497
131418  2017Q3    1885.51  130497
131419  2017Q4    1944.14  130497>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
820   2013Q1  0.000000  130497
821   2013Q2  0.000000  130497
822   2013Q3  0.000000  130497
823   2013Q4  0.000000  130497
824   2014Q1  0.000000  130497
825   2014Q2  0.000000  130497
826   2014Q3  0.023293  130497
827   2014Q4  0.045269  130497
828   2015Q1  0.003895  130497
829   2015Q2 -0.084110  130497
830   2015Q3 -0.012044  130497
831   2015Q4 -0.035370  130497
832   2016Q1 -0.133772  130497
833   2016Q2  0.019059  130497
834   2016Q3  0.084106  130497
835   2016Q4 -0.019618  130497
836   2017Q1  0.006699  130497
837   2017Q2  0.017031  130497
838   2017Q3  0.036701  130497
839   2017Q4  0.038237  130497
1300  2013Q1 -0.050860  102001
1301  2013Q2 -0.099644  102001
1302  2013Q3 -0.068045  102001
1303  2013Q4  0.098523  102001
1304  2014Q1  0.010871  102001
1305  2014Q2  0.123053  102001
1306  2014Q3  0.120251  102001
1307  2014Q4  0.060114  102001
1308  2015Q1  0.015512  102001
1309  2015Q2 -0.105289  102001
1310  2015Q3 -0.007145  102001
1311  2015Q4 -0.027639  102001
1312  2016Q1 -0.130794  102001
1313  2016Q2  0.029711  102001
1314  2016Q3  0.116297  102001
1315  2016Q4 -0.000649  102001
1316  2017Q1  0.033553  102001
1317  2017Q2  0.016797  102001
1318  2017Q3  0.040898  102001
1319  2017Q4  0.044396  102001>)
('Key_aum: ', 102001)
      Quarter       Data      ID
13280  2013Q1  343308.38  102001
13281  2013Q2  307922.81  102001
13282  2013Q3  274276.38  102001
13283  2013Q4  276989.18  102001
13284  2014Q1  263427.99  102001
13285  2014Q2  282368.62  102001

        231681.77,  237838.97,  241218.27,  245063.18,  250026.81]))
('Key_aum: ', 130497)
       Quarter     Data      ID
131400  2013Q1     0.00  130497
131401  2013Q2     0.00  130497
131402  2013Q3     0.00  130497
131403  2013Q4     0.00  130497
131404  2014Q1     0.00  130497
131405  2014Q2    83.56  130497
131406  2014Q3  2335.50  130497
131407  2014Q4  2343.42  130497
131408  2015Q1  2043.64  130497
131409  2015Q2  1874.17  130497
131410  2015Q3  2243.75  130497
131411  2015Q4  2067.26  130497
131412  2016Q1  2978.65  130497
131413  2016Q2  1885.90  130497
131414  2016Q3  1529.67  130497
131415  2016Q4  1459.18  130497
131416  2017Q1  2822.91  130497
131417  2017Q2  1829.62  130497
131418  2017Q3  1885.51  130497
131419  2017Q4  1944.14  130497
('Key_nav : ', 130497)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.02329329,  0.04526913,  0.00389462, -0.08410968,
       -0.01204357, -0.03537046, -0.13377238,  0.01905935,  0.0841064 ,
       -0.01961775,  0.00669884,  0.01703149,  0.03670112,  0.0382372 ]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    83.56,
        2335.5 ,  2343.42,  2043.64,  1874.17,  2243.75,  2067.26,
        2978.65,  1885.9 ,  1529.67,  1459.18,  2822.91,  1829.62,
        1885.51,  1944.14]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
        0.        ,  0.02329329,  0.04526913,  0.00389462, -0.08410968,
       -0.01204357, -0.03537046, -0.13377238,  0.01905935,  0.0841064 ,
       -0.01961775,  0.00669884,  0.01703149,  0.03670112,  0.0382372 ]))
('aum table :', <bound method DataFrame.head of        Quarter       Data      ID
13280   2013Q1  343308.38  102001
13281   2013Q2  307922.81  102001
13282   2013Q3  274276.38  102001
13283   2013Q4  276989.18  102001
13284   2014Q1  263427.99  102001
13285   2014Q2  282368.62  102001
13286   2014Q3  302794.02  102001
13287   2014Q4  313191.54  102001
13288   2015Q1  312218.21  102001
13289   2015Q2  281113.01  102001
13290   2015Q3  271556.55  102001
13291   2015Q4  255740.13  102001
13292   2016Q1  219898.46  102001
13293   2016Q2  223974.83  102001
13294   2016Q3  240199.68  102001
13295   2016Q4  231681.77  102001
13296   2017Q1  237838.97  102001
13297   2017Q2  241218.27  102001
13298   2017Q3  245063.18  102001
13299   2017Q4  250026.81  102001
131400  2013Q1       0.00  130497
131401  2013Q2       0.00  130497
131402  2013Q3       0.00  130497
131403  2013Q4       0.00  130497
131404  2014Q1       0.00  130497
131405  2014Q2      83.56  130497
131406  2014Q3    2335.50  130497
131407  2014Q4    2343.42  130497
131408  2015Q1    2043.64  130497
131409  2015Q2    1874.17  130497
131410  2015Q3    2243.75  130497
131411  2015Q4    2067.26  130497
131412  2016Q1    2978.65  130497
131413  2016Q2    1885.90  130497
131414  2016Q3    1529.67  130497
131415  2016Q4    1459.18  130497
131416  2017Q1    2822.91  130497
131417  2017Q2    1829.62  130497
131418  2017Q3    1885.51  130497
131419  2017Q4    1944.14  130497>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
820   2013Q1  0.000000  130497
821   2013Q2  0.000000  130497
822   2013Q3  0.000000  130497
823   2013Q4  0.000000  130497
824   2014Q1  0.000000  130497
825   2014Q2  0.000000  130497
826   2014Q3  0.023293  130497
827   2014Q4  0.045269  130497
828   2015Q1  0.003895  130497
829   2015Q2 -0.084110  130497
830   2015Q3 -0.012044  130497
831   2015Q4 -0.035370  130497
832   2016Q1 -0.133772  130497
833   2016Q2  0.019059  130497
834   2016Q3  0.084106  130497
835   2016Q4 -0.019618  130497
836   2017Q1  0.006699  130497
837   2017Q2  0.017031  130497
838   2017Q3  0.036701  130497
839   2017Q4  0.038237  130497
1300  2013Q1 -0.050860  102001
1301  2013Q2 -0.099644  102001
1302  2013Q3 -0.068045  102001
1303  2013Q4  0.098523  102001
1304  2014Q1  0.010871  102001
1305  2014Q2  0.123053  102001
1306  2014Q3  0.120251  102001
1307  2014Q4  0.060114  102001
1308  2015Q1  0.015512  102001
1309  2015Q2 -0.105289  102001
1310  2015Q3 -0.007145  102001
1311  2015Q4 -0.027639  102001
1312  2016Q1 -0.130794  102001
1313  2016Q2  0.029711  102001
1314  2016Q3  0.116297  102001
1315  2016Q4 -0.000649  102001
1316  2017Q1  0.033553  102001
1317  2017Q2  0.016797  102001
1318  2017Q3  0.040898  102001
1319  2017Q4  0.044396  102001>)
('Key_aum: ', 102001)
      Quarter       Data      ID
13280  2013Q1  343308.38  102001
13281  2013Q2  307922.81  102001
13282  2013Q3  274276.38  102001
13283  2013Q4  276989.18  102001
13284  2014Q1  263427.99  102001
13285  2014Q2  282368.62  102001
13286  2014Q3  302794.02  102001
13287  2014Q4  313191.54  102001
13288  2015Q1  312218.21  102001
13289  2015Q2  281113.01  102001
13290  2015Q3  271556.55  102001
13291  2015Q4  255740.13  102001
13292  2016Q1  219898.46  102001
13293  2016Q2  223974.83  102001
13294  2016Q3  240199.68  102001
13295  2016Q4  231681.77  102001
13296  2017Q1  237838.97  102001
13297  2017Q2  241218.27  102001
13298  2017Q3  245063.18  102001
13299  2017Q4  250026.81  102001
('Key_nav : ', 102001)
('data 1 : ', array([-0.05085968, -0.09964354, -0.06804499,  0.09852333,  0.01087104,
        0.12305261,  0.12025066,  0.0601136 ,  0.01551191, -0.10528935,
       -0.00714486, -0.02763905, -0.13079423,  0.02971057,  0.11629673,
       -0.00064904,  0.03355296,  0.01679728,  0.0408982 ,  0.04439581]))
('data 2 :', array([ 343308.38,  307922.81,  274276.38,  276989.18,  263427.99,
        282368.62,  302794.02,  313191.54,  312218.21,  281113.01,
        271556.55,  255740.13,  219898.46,  223974.83,  240199.68,
        231681.77,  237838.97,  241218.27,  245063.18,  250026.81]))
('Key_aum: ', 130497)
       Quarter     Data      ID
131400  2013Q1     0.00  130497
131401  2013Q2     0.00  130497
131402  2013Q3     0.00  130497
131403  2013Q4     0.00  130497
131404  2014Q1     0.00  130497
131405  2014Q2    83.56  130497
131406  2014Q3  2335.50  130497
131407  2014Q4  2343.42  130497
131408  2015Q1  2043.64  130497
131409  2015Q2  1874.17  130497
131410  2015Q3  2243.75  130497
131411  2015Q4  2067.26  130497
131412  2016Q1  2978.65  130497
131413  2016Q2  1885.90  130497
131414  2016Q3  1529.67  130497
131415  2016Q4  1459.18  130497
131416  2017Q1  2822.91  130497
131417  2017Q2  1829.62  130497
131418  2017Q3  1885.51  130497
131419  2017Q4  1944.14  130497
('Key_nav : ', 130497)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.02329329,  0.04526913,  0.00389462, -0.08410968,
       -0.01204357, -0.03537046, -0.13377238,  0.01905935,  0.0841064 ,
       -0.01961775,  0.00669884,  0.01703149,  0.03670112,  0.0382372 ]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    83.56,
        2335.5 ,  2343.42,  2043.64,  1874.17,  2243.75,  2067.26,
        2978.65,  1885.9 ,  1529.67,  1459.18,  2822.91,  1829.62,
        1885.51,  1944.14]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
        0.        ,  0.02329329,  0.04526913,  0.00389462, -0.08410968,
       -0.01204357, -0.03537046, -0.13377238,  0.01905935,  0.0841064 ,
       -0.01961775,  0.00669884,  0.01703149,  0.03670112,  0.0382372 ]))
('aum table :', <bound method DataFrame.head of        Quarter       Data      ID
13280   2013Q1  343308.38  102001
13281   2013Q2  307922.81  102001
13282   2013Q3  274276.38  102001
13283   2013Q4  276989.18  102001
13284   2014Q1  263427.99  102001
13285   2014Q2  282368.62  102001
13286   2014Q3  302794.02  102001
13287   2014Q4  313191.54  102001
13288   2015Q1  312218.21  102001
13289   2015Q2  281113.01  102001
13290   2015Q3  271556.55  102001
13291   2015Q4  255740.13  102001
13292   2016Q1  219898.46  102001
13293   2016Q2  223974.83  102001
13294   2016Q3  240199.68  102001
13295   2016Q4  231681.77  102001
13296   2017Q1  237838.97  102001
13297   2017Q2  241218.27  102001
13298   2017Q3  245063.18  102001
13299   2017Q4  250026.81  102001
131400  2013Q1       0.00  130497
131401  2013Q2       0.00  130497
131402  2013Q3       0.00  130497
131403  2013Q4       0.00  130497
131404  2014Q1       0.00  130497
131405  2014Q2      83.56  130497
131406  2014Q3    2335.50  130497
131407  2014Q4    2343.42  130497
131408  2015Q1    2043.64  130497
131409  2015Q2    1874.17  130497
131410  2015Q3    2243.75  130497
131411  2015Q4    2067.26  130497
131412  2016Q1    2978.65  130497
131413  2016Q2    1885.90  130497
131414  2016Q3    1529.67  130497
131415  2016Q4    1459.18  130497
131416  2017Q1    2822.91  130497
131417  2017Q2    1829.62  130497
131418  2017Q3    1885.51  130497
131419  2017Q4    1944.14  130497>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
820   2013Q1  0.000000  130497
821   2013Q2  0.000000  130497
822   2013Q3  0.000000  130497
823   2013Q4  0.000000  130497
824   2014Q1  0.000000  130497
825   2014Q2  0.000000  130497
826   2014Q3  0.023293  130497
827   2014Q4  0.045269  130497
828   2015Q1  0.003895  130497
829   2015Q2 -0.084110  130497
830   2015Q3 -0.012044  130497
831   2015Q4 -0.035370  130497
832   2016Q1 -0.133772  130497
833   2016Q2  0.019059  130497
834   2016Q3  0.084106  130497
835   2016Q4 -0.019618  130497
836   2017Q1  0.006699  130497
837   2017Q2  0.017031  130497
838   2017Q3  0.036701  130497
839   2017Q4  0.038237  130497
1300  2013Q1 -0.050860  102001
1301  2013Q2 -0.099644  102001
1302  2013Q3 -0.068045  102001
1303  2013Q4  0.098523  102001
1304  2014Q1  0.010871  102001
1305  2014Q2  0.123053  102001
1306  2014Q3  0.120251  102001
1307  2014Q4  0.060114  102001
1308  2015Q1  0.015512  102001
1309  2015Q2 -0.105289  102001
1310  2015Q3 -0.007145  102001
1311  2015Q4 -0.027639  102001
1312  2016Q1 -0.130794  102001
1313  2016Q2  0.029711  102001
1314  2016Q3  0.116297  102001
1315  2016Q4 -0.000649  102001
1316  2017Q1  0.033553  102001
1317  2017Q2  0.016797  102001
1318  2017Q3  0.040898  102001
1319  2017Q4  0.044396  102001>)
('Key_aum: ', 102001)
      Quarter       Data      ID
13280  2013Q1  343308.38  102001
13281  2013Q2  307922.81  102001
13282  2013Q3  274276.38  102001
13283  2013Q4  276989.18  102001
13284  2014Q1  263427.99  102001
13285  2014Q2  282368.62  102001
13286  2014Q3  302794.02  102001
13287  2014Q4  313191.54  102001
13288  2015Q1  312218.21  102001
13289  2015Q2  281113.01  102001
13290  2015Q3  271556.55  102001
13291  2015Q4  255740.13  102001
13292  2016Q1  219898.46  102001
13293  2016Q2  223974.83  102001
13294  2016Q3  240199.68  102001
13295  2016Q4  231681.77  102001
13296  2017Q1  237838.97  102001
13297  2017Q2  241218.27  102001
13298  2017Q3  245063.18  102001
13299  2017Q4  250026.81  102001
('Key_nav : ', 102001)
('data 1 : ', array([-0.05085968, -0.09964354, -0.06804499,  0.09852333,  0.01087104,
        0.12305261,  0.12025066,  0.0601136 ,  0.01551191, -0.10528935,
       -0.00714486, -0.02763905, -0.13079423,  0.02971057,  0.11629673,
       -0.00064904,  0.03355296,  0.01679728,  0.0408982 ,  0.04439581]))
('data 2 :', array([ 343308.38,  307922.81,  274276.38,  276989.18,  263427.99,
        282368.62,  302794.02,  313191.54,  312218.21,  281113.01,
        271556.55,  255740.13,  219898.46,  223974.83,  240199.68,
        231681.77,  237838.97,  241218.27,  245063.18,  250026.81]))
('Key_aum: ', 130497)
       Quarter     Data      ID
131400  2013Q1     0.00  130497
131401  2013Q2     0.00  130497
131402  2013Q3     0.00  130497
131403  2013Q4     0.00  130497
131404  2014Q1     0.00  130497
131405  2014Q2    83.56  130497
131406  2014Q3  2335.50  130497
131407  2014Q4  2343.42  130497
131408  2015Q1  2043.64  130497
131409  2015Q2  1874.17  130497
131410  2015Q3  2243.75  130497
131411  2015Q4  2067.26  130497
131412  2016Q1  2978.65  130497
131413  2016Q2  1885.90  130497
131414  2016Q3  1529.67  130497
131415  2016Q4  1459.18  130497
131416  2017Q1  2822.91  130497
131417  2017Q2  1829.62  130497
131418  2017Q3  1885.51  130497
131419  2017Q4  1944.14  130497
('Key_nav : ', 130497)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.02329329,  0.04526913,  0.00389462, -0.08410968,
       -0.01204357, -0.03537046, -0.13377238,  0.01905935,  0.0841064 ,
       -0.01961775,  0.00669884,  0.01703149,  0.03670112,  0.0382372 ]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    83.56,
        2335.5 ,  2343.42,  2043.64,  1874.17,  2243.75,  2067.26,
        2978.65,  1885.9 ,  1529.67,  1459.18,  2822.91,  1829.62,
        1885.51,  1944.14]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
        0.        ,  0.02329329,  0.04526913,  0.00389462, -0.08410968,
       -0.01204357, -0.03537046, -0.13377238,  0.01905935,  0.0841064 ,
       -0.01961775,  0.00669884,  0.01703149,  0.03670112,  0.0382372 ]))
('aum table :', <bound method DataFrame.head of        Quarter       Data      ID
13280   2013Q1  343308.38  102001
13281   2013Q2  307922.81  102001
13282   2013Q3  274276.38  102001
13283   2013Q4  276989.18  102001
13284   2014Q1  263427.99  102001
13285   2014Q2  282368.62  102001
13286   2014Q3  302794.02  102001
13287   2014Q4  313191.54  102001
13288   2015Q1  312218.21  102001
13289   2015Q2  281113.01  102001
13290   2015Q3  271556.55  102001
13291   2015Q4  255740.13  102001
13292   2016Q1  219898.46  102001
13293   2016Q2  223974.83  102001
13294   2016Q3  240199.68  102001
13295   2016Q4  231681.77  102001
13296   2017Q1  237838.97  102001
13297   2017Q2  241218.27  102001
13298   2017Q3  245063.18  102001
13299   2017Q4  250026.81  102001
131400  2013Q1       0.00  130497
131401  2013Q2       0.00  130497
131402  2013Q3       0.00  130497
131403  2013Q4       0.00  130497
131404  2014Q1       0.00  130497
131405  2014Q2      83.56  130497
131406  2014Q3    2335.50  130497
131407  2014Q4    2343.42  130497
131408  2015Q1    2043.64  130497
131409  2015Q2    1874.17  130497
131410  2015Q3    2243.75  130497
131411  2015Q4    2067.26  130497
131412  2016Q1    2978.65  130497
131413  2016Q2    1885.90  130497
131414  2016Q3    1529.67  130497
131415  2016Q4    1459.18  130497
131416  2017Q1    2822.91  130497
131417  2017Q2    1829.62  130497
131418  2017Q3    1885.51  130497
131419  2017Q4    1944.14  130497>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
820   2013Q1  0.000000  130497
821   2013Q2  0.000000  130497
822   2013Q3  0.000000  130497
823   2013Q4  0.000000  130497
824   2014Q1  0.000000  130497
825   2014Q2  0.000000  130497
826   2014Q3  0.023293  130497
827   2014Q4  0.045269  130497
828   2015Q1  0.003895  130497
829   2015Q2 -0.084110  130497
830   2015Q3 -0.012044  130497
831   2015Q4 -0.035370  130497
832   2016Q1 -0.133772  130497
833   2016Q2  0.019059  130497
834   2016Q3  0.084106  130497
835   2016Q4 -0.019618  130497
836   2017Q1  0.006699  130497
837   2017Q2  0.017031  130497
838   2017Q3  0.036701  130497
839   2017Q4  0.038237  130497
1300  2013Q1 -0.050860  102001
1301  2013Q2 -0.099644  102001
1302  2013Q3 -0.068045  102001
1303  2013Q4  0.098523  102001
1304  2014Q1  0.010871  102001
1305  2014Q2  0.123053  102001
1306  2014Q3  0.120251  102001
1307  2014Q4  0.060114  102001
1308  2015Q1  0.015512  102001
1309  2015Q2 -0.105289  102001
1310  2015Q3 -0.007145  102001
1311  2015Q4 -0.027639  102001
1312  2016Q1 -0.130794  102001
1313  2016Q2  0.029711  102001
1314  2016Q3  0.116297  102001
1315  2016Q4 -0.000649  102001
1316  2017Q1  0.033553  102001
1317  2017Q2  0.016797  102001
1318  2017Q3  0.040898  102001
1319  2017Q4  0.044396  102001>)
('Key_aum: ', 102001)
      Quarter       Data      ID
13280  2013Q1  343308.38  102001
13281  2013Q2  307922.81  102001
13282  2013Q3  274276.38  102001
13283  2013Q4  276989.18  102001
13284  2014Q1  263427.99  102001
13285  2014Q2  282368.62  102001
13286  2014Q3  302794.02  102001
13287  2014Q4  313191.54  102001
13288  2015Q1  312218.21  102001
13289  2015Q2  281113.01  102001
13290  2015Q3  271556.55  102001
13291  2015Q4  255740.13  102001
13292  2016Q1  219898.46  102001
13293  2016Q2  223974.83  102001
13294  2016Q3  240199.68  102001
13295  2016Q4  231681.77  102001
13296  2017Q1  237838.97  102001
13297  2017Q2  241218.27  102001
13298  2017Q3  245063.18  102001
13299  2017Q4  250026.81  102001
('Key_nav : ', 102001)
('data 1 : ', array([-0.05085968, -0.09964354, -0.06804499,  0.09852333,  0.01087104,
        0.12305261,  0.12025066,  0.0601136 ,  0.01551191, -0.10528935,
       -0.00714486, -0.02763905, -0.13079423,  0.02971057,  0.11629673,
       -0.00064904,  0.03355296,  0.01679728,  0.0408982 ,  0.04439581]))
('data 2 :', array([ 343308.38,  307922.81,  274276.38,  276989.18,  263427.99,
        282368.62,  302794.02,  313191.54,  312218.21,  281113.01,
        271556.55,  255740.13,  219898.46,  223974.83,  240199.68,
        231681.77,  237838.97,  241218.27,  245063.18,  250026.81]))
('Key_aum: ', 130497)
       Quarter     Data      ID
131400  2013Q1     0.00  130497
131401  2013Q2     0.00  130497
131402  2013Q3     0.00  130497
131403  2013Q4     0.00  130497
131404  2014Q1     0.00  130497
131405  2014Q2    83.56  130497
131406  2014Q3  2335.50  130497
131407  2014Q4  2343.42  130497
131408  2015Q1  2043.64  130497
131409  2015Q2  1874.17  130497
131410  2015Q3  2243.75  130497
131411  2015Q4  2067.26  130497
131412  2016Q1  2978.65  130497
131413  2016Q2  1885.90  130497
131414  2016Q3  1529.67  130497
131415  2016Q4  1459.18  130497
131416  2017Q1  2822.91  130497
131417  2017Q2  1829.62  130497
131418  2017Q3  1885.51  130497
131419  2017Q4  1944.14  130497
('Key_nav : ', 130497)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.02329329,  0.04526913,  0.00389462, -0.08410968,
       -0.01204357, -0.03537046, -0.13377238,  0.01905935,  0.0841064 ,
       -0.01961775,  0.00669884,  0.01703149,  0.03670112,  0.0382372 ]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    83.56,
        2335.5 ,  2343.42,  2043.64,  1874.17,  2243.75,  2067.26,
        2978.65,  1885.9 ,  1529.67,  1459.18,  2822.91,  1829.62,
        1885.51,  1944.14]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
        0.        ,  0.02329329,  0.04526913,  0.00389462, -0.08410968,
       -0.01204357, -0.03537046, -0.13377238,  0.01905935,  0.0841064 ,
       -0.01961775,  0.00669884,  0.01703149,  0.03670112,  0.0382372 ]))
('aum table :', <bound method DataFrame.head of        Quarter       Data      ID
13280   2013Q1  343308.38  102001
13281   2013Q2  307922.81  102001
13282   2013Q3  274276.38  102001
13283   2013Q4  276989.18  102001
13284   2014Q1  263427.99  102001
13285   2014Q2  282368.62  102001
13286   2014Q3  302794.02  102001
13287   2014Q4  313191.54  102001
13288   2015Q1  312218.21  102001
13289   2015Q2  281113.01  102001
13290   2015Q3  271556.55  102001
13291   2015Q4  255740.13  102001
13292   2016Q1  219898.46  102001
13293   2016Q2  223974.83  102001
13294   2016Q3  240199.68  102001
13295   2016Q4  231681.77  102001
13296   2017Q1  237838.97  102001
13297   2017Q2  241218.27  102001
13298   2017Q3  245063.18  102001
13299   2017Q4  250026.81  102001
131400  2013Q1       0.00  130497
131401  2013Q2       0.00  130497
131402  2013Q3       0.00  130497
131403  2013Q4       0.00  130497
131404  2014Q1       0.00  130497
131405  2014Q2      83.56  130497
131406  2014Q3    2335.50  130497
131407  2014Q4    2343.42  130497
131408  2015Q1    2043.64  130497
131409  2015Q2    1874.17  130497
131410  2015Q3    2243.75  130497
131411  2015Q4    2067.26  130497
131412  2016Q1    2978.65  130497
131413  2016Q2    1885.90  130497
131414  2016Q3    1529.67  130497
131415  2016Q4    1459.18  130497
131416  2017Q1    2822.91  130497
131417  2017Q2    1829.62  130497

       -0.01961775,  0.00669884,  0.01703149,  0.03670112,  0.0382372 ]))
('aum table :', <bound method DataFrame.head of        Quarter       Data      ID
13280   2013Q1  343308.38  102001
13281   2013Q2  307922.81  102001
13282   2013Q3  274276.38  102001
13283   2013Q4  276989.18  102001
13284   2014Q1  263427.99  102001
13285   2014Q2  282368.62  102001
13286   2014Q3  302794.02  102001
13287   2014Q4  313191.54  102001
13288   2015Q1  312218.21  102001
13289   2015Q2  281113.01  102001
13290   2015Q3  271556.55  102001
13291   2015Q4  255740.13  102001
13292   2016Q1  219898.46  102001
13293   2016Q2  223974.83  102001
13294   2016Q3  240199.68  102001
13295   2016Q4  231681.77  102001
13296   2017Q1  237838.97  102001
13297   2017Q2  241218.27  102001
13298   2017Q3  245063.18  102001
13299   2017Q4  250026.81  102001
131400  2013Q1       0.00  130497
131401  2013Q2       0.00  130497
131402  2013Q3       0.00  130497
131403  2013Q4       0.00  130497
131404  2014Q1       0.00  130497
131405  2014Q2      83.56  130497
131406  2014Q3    2335.50  130497
131407  2014Q4    2343.42  130497
131408  2015Q1    2043.64  130497
131409  2015Q2    1874.17  130497
131410  2015Q3    2243.75  130497
131411  2015Q4    2067.26  130497
131412  2016Q1    2978.65  130497
131413  2016Q2    1885.90  130497
131414  2016Q3    1529.67  130497
131415  2016Q4    1459.18  130497
131416  2017Q1    2822.91  130497
131417  2017Q2    1829.62  130497
131418  2017Q3    1885.51  130497
131419  2017Q4    1944.14  130497>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
820   2013Q1  0.000000  130497
821   2013Q2  0.000000  130497
822   2013Q3  0.000000  130497
823   2013Q4  0.000000  130497
824   2014Q1  0.000000  130497
825   2014Q2  0.000000  130497
826   2014Q3  0.023293  130497
827   2014Q4  0.045269  130497
828   2015Q1  0.003895  130497
829   2015Q2 -0.084110  130497
830   2015Q3 -0.012044  130497
831   2015Q4 -0.035370  130497
832   2016Q1 -0.133772  130497
833   2016Q2  0.019059  130497
834   2016Q3  0.084106  130497
835   2016Q4 -0.019618  130497
836   2017Q1  0.006699  130497
837   2017Q2  0.017031  130497
838   2017Q3  0.036701  130497
839   2017Q4  0.038237  130497
1300  2013Q1 -0.050860  102001
1301  2013Q2 -0.099644  102001
1302  2013Q3 -0.068045  102001
1303  2013Q4  0.098523  102001
1304  2014Q1  0.010871  102001
1305  2014Q2  0.123053  102001
1306  2014Q3  0.120251  102001
1307  2014Q4  0.060114  102001
1308  2015Q1  0.015512  102001
1309  2015Q2 -0.105289  102001
1310  2015Q3 -0.007145  102001
1311  2015Q4 -0.027639  102001
1312  2016Q1 -0.130794  102001
1313  2016Q2  0.029711  102001
1314  2016Q3  0.116297  102001
1315  2016Q4 -0.000649  102001
1316  2017Q1  0.033553  102001
1317  2017Q2  0.016797  102001
1318  2017Q3  0.040898  102001
1319  2017Q4  0.044396  102001>)
('Key_aum: ', 102001)
      Quarter       Data      ID
13280  2013Q1  343308.38  102001
13281  2013Q2  307922.81  102001
13282  2013Q3  274276.38  102001
13283  2013Q4  276989.18  102001
13284  2014Q1  263427.99  102001
13285  2014Q2  282368.62  102001
13286  2014Q3  302794.02  102001
13287  2014Q4  313191.54  102001
13288  2015Q1  312218.21  102001
13289  2015Q2  281113.01  102001
13290  2015Q3  271556.55  102001
13291  2015Q4  255740.13  102001
13292  2016Q1  219898.46  102001
13293  2016Q2  223974.83  102001
13294  2016Q3  240199.68  102001
13295  2016Q4  231681.77  102001
13296  2017Q1  237838.97  102001
13297  2017Q2  241218.27  102001
13298  2017Q3  245063.18  102001
13299  2017Q4  250026.81  102001
('Key_nav : ', 102001)
('data 1 : ', array([-0.05085968, -0.09964354, -0.06804499,  0.09852333,  0.01087104,
        0.12305261,  0.12025066,  0.0601136 ,  0.01551191, -0.10528935,
       -0.00714486, -0.02763905, -0.13079423,  0.02971057,  0.11629673,
       -0.00064904,  0.03355296,  0.01679728,  0.0408982 ,  0.04439581]))
('data 2 :', array([ 343308.38,  307922.81,  274276.38,  276989.18,  263427.99,
        282368.62,  302794.02,  313191.54,  312218.21,  281113.01,
        271556.55,  255740.13,  219898.46,  223974.83,  240199.68,
        231681.77,  237838.97,  241218.27,  245063.18,  250026.81]))
('Key_aum: ', 130497)
       Quarter     Data      ID
131400  2013Q1     0.00  130497
131401  2013Q2     0.00  130497
131402  2013Q3     0.00  130497
131403  2013Q4     0.00  130497
131404  2014Q1     0.00  130497
131405  2014Q2    83.56  130497
131406  2014Q3  2335.50  130497
131407  2014Q4  2343.42  130497
131408  2015Q1  2043.64  130497
131409  2015Q2  1874.17  130497
131410  2015Q3  2243.75  130497
131411  2015Q4  2067.26  130497
131412  2016Q1  2978.65  130497
131413  2016Q2  1885.90  130497
131414  2016Q3  1529.67  130497
131415  2016Q4  1459.18  130497
131416  2017Q1  2822.91  130497
131417  2017Q2  1829.62  130497
131418  2017Q3  1885.51  130497
131419  2017Q4  1944.14  130497
('Key_nav : ', 130497)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.02329329,  0.04526913,  0.00389462, -0.08410968,
       -0.01204357, -0.03537046, -0.13377238,  0.01905935,  0.0841064 ,
       -0.01961775,  0.00669884,  0.01703149,  0.03670112,  0.0382372 ]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    83.56,
        2335.5 ,  2343.42,  2043.64,  1874.17,  2243.75,  2067.26,
        2978.65,  1885.9 ,  1529.67,  1459.18,  2822.91,  1829.62,
        1885.51,  1944.14]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
        0.        ,  0.02329329,  0.04526913,  0.00389462, -0.08410968,
       -0.01204357, -0.03537046, -0.13377238,  0.01905935,  0.0841064 ,
       -0.01961775,  0.00669884,  0.01703149,  0.03670112,  0.0382372 ]))
('aum table :', <bound method DataFrame.head of        Quarter       Data      ID
13280   2013Q1  343308.38  102001
13281   2013Q2  307922.81  102001
13282   2013Q3  274276.38  102001
13283   2013Q4  276989.18  102001
13284   2014Q1  263427.99  102001
13285   2014Q2  282368.62  102001
13286   2014Q3  302794.02  102001
13287   2014Q4  313191.54  102001
13288   2015Q1  312218.21  102001
13289   2015Q2  281113.01  102001
13290   2015Q3  271556.55  102001
13291   2015Q4  255740.13  102001
13292   2016Q1  219898.46  102001
13293   2016Q2  223974.83  102001
13294   2016Q3  240199.68  102001
13295   2016Q4  231681.77  102001
13296   2017Q1  237838.97  102001
13297   2017Q2  241218.27  102001
13298   2017Q3  245063.18  102001
13299   2017Q4  250026.81  102001
131400  2013Q1       0.00  130497
131401  2013Q2       0.00  130497
131402  2013Q3       0.00  130497
131403  2013Q4       0.00  130497
131404  2014Q1       0.00  130497
131405  2014Q2      83.56  130497
131406  2014Q3    2335.50  130497
131407  2014Q4    2343.42  130497
131408  2015Q1    2043.64  130497
131409  2015Q2    1874.17  130497
131410  2015Q3    2243.75  130497
131411  2015Q4    2067.26  130497
131412  2016Q1    2978.65  130497
131413  2016Q2    1885.90  130497
131414  2016Q3    1529.67  130497
131415  2016Q4    1459.18  130497
131416  2017Q1    2822.91  130497
131417  2017Q2    1829.62  130497
131418  2017Q3    1885.51  130497
131419  2017Q4    1944.14  130497>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
820   2013Q1  0.000000  130497
821   2013Q2  0.000000  130497
822   2013Q3  0.000000  130497
823   2013Q4  0.000000  130497
824   2014Q1  0.000000  130497
825   2014Q2  0.000000  130497
826   2014Q3  0.023293  130497
827   2014Q4  0.045269  130497
828   2015Q1  0.003895  130497
829   2015Q2 -0.084110  130497
830   2015Q3 -0.012044  130497
831   2015Q4 -0.035370  130497
832   2016Q1 -0.133772  130497
833   2016Q2  0.019059  130497
834   2016Q3  0.084106  130497
835   2016Q4 -0.019618  130497
836   2017Q1  0.006699  130497
837   2017Q2  0.017031  130497
838   2017Q3  0.036701  130497
839   2017Q4  0.038237  130497
1300  2013Q1 -0.050860  102001
1301  2013Q2 -0.099644  102001
1302  2013Q3 -0.068045  102001
1303  2013Q4  0.098523  102001
1304  2014Q1  0.010871  102001
1305  2014Q2  0.123053  102001
1306  2014Q3  0.120251  102001
1307  2014Q4  0.060114  102001
1308  2015Q1  0.015512  102001
1309  2015Q2 -0.105289  102001
1310  2015Q3 -0.007145  102001
1311  2015Q4 -0.027639  102001
1312  2016Q1 -0.130794  102001
1313  2016Q2  0.029711  102001
1314  2016Q3  0.116297  102001
1315  2016Q4 -0.000649  102001
1316  2017Q1  0.033553  102001
1317  2017Q2  0.016797  102001
1318  2017Q3  0.040898  102001
1319  2017Q4  0.044396  102001>)
('Key_aum: ', 102001)
      Quarter       Data      ID
13280  2013Q1  343308.38  102001
13281  2013Q2  307922.81  102001
13282  2013Q3  274276.38  102001
13283  2013Q4  276989.18  102001
13284  2014Q1  263427.99  102001
13285  2014Q2  282368.62  102001
13286  2014Q3  302794.02  102001
13287  2014Q4  313191.54  102001
13288  2015Q1  312218.21  102001
13289  2015Q2  281113.01  102001
13290  2015Q3  271556.55  102001
13291  2015Q4  255740.13  102001
13292  2016Q1  219898.46  102001
13293  2016Q2  223974.83  102001
13294  2016Q3  240199.68  102001
13295  2016Q4  231681.77  102001
13296  2017Q1  237838.97  102001
13297  2017Q2  241218.27  102001
13298  2017Q3  245063.18  102001
13299  2017Q4  250026.81  102001
('Key_nav : ', 102001)
('data 1 : ', array([-0.05085968, -0.09964354, -0.06804499,  0.09852333,  0.01087104,
        0.12305261,  0.12025066,  0.0601136 ,  0.01551191, -0.10528935,
       -0.00714486, -0.02763905, -0.13079423,  0.02971057,  0.11629673,
       -0.00064904,  0.03355296,  0.01679728,  0.0408982 ,  0.04439581]))
('data 2 :', array([ 343308.38,  307922.81,  274276.38,  276989.18,  263427.99,
        282368.62,  302794.02,  313191.54,  312218.21,  281113.01,
        271556.55,  255740.13,  219898.46,  223974.83,  240199.68,
        231681.77,  237838.97,  241218.27,  245063.18,  250026.81]))
('Key_aum: ', 130497)
       Quarter     Data      ID
131400  2013Q1     0.00  130497
131401  2013Q2     0.00  130497
131402  2013Q3     0.00  130497
131403  2013Q4     0.00  130497
131404  2014Q1     0.00  130497
131405  2014Q2    83.56  130497
131406  2014Q3  2335.50  130497
131407  2014Q4  2343.42  130497
131408  2015Q1  2043.64  130497
131409  2015Q2  1874.17  130497
131410  2015Q3  2243.75  130497
131411  2015Q4  2067.26  130497
131412  2016Q1  2978.65  130497
131413  2016Q2  1885.90  130497
131414  2016Q3  1529.67  130497
131415  2016Q4  1459.18  130497
131416  2017Q1  2822.91  130497
131417  2017Q2  1829.62  130497
131418  2017Q3  1885.51  130497
131419  2017Q4  1944.14  130497
('Key_nav : ', 130497)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.02329329,  0.04526913,  0.00389462, -0.08410968,
       -0.01204357, -0.03537046, -0.13377238,  0.01905935,  0.0841064 ,
       -0.01961775,  0.00669884,  0.01703149,  0.03670112,  0.0382372 ]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    83.56,
        2335.5 ,  2343.42,  2043.64,  1874.17,  2243.75,  2067.26,
        2978.65,  1885.9 ,  1529.67,  1459.18,  2822.91,  1829.62,
        1885.51,  1944.14]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
        0.        ,  0.02329329,  0.04526913,  0.00389462, -0.08410968,
       -0.01204357, -0.03537046, -0.13377238,  0.01905935,  0.0841064 ,
       -0.01961775,  0.00669884,  0.01703149,  0.03670112,  0.0382372 ]))
('aum table :', <bound method DataFrame.head of        Quarter       Data      ID
13280   2013Q1  343308.38  102001
13281   2013Q2  307922.81  102001
13282   2013Q3  274276.38  102001
13283   2013Q4  276989.18  102001
13284   2014Q1  263427.99  102001
13285   2014Q2  282368.62  102001
13286   2014Q3  302794.02  102001
13287   2014Q4  313191.54  102001
13288   2015Q1  312218.21  102001
13289   2015Q2  281113.01  102001
13290   2015Q3  271556.55  102001
13291   2015Q4  255740.13  102001
13292   2016Q1  219898.46  102001
13293   2016Q2  223974.83  102001
13294   2016Q3  240199.68  102001
13295   2016Q4  231681.77  102001
13296   2017Q1  237838.97  102001
13297   2017Q2  241218.27  102001
13298   2017Q3  245063.18  102001
13299   2017Q4  250026.81  102001
131400  2013Q1       0.00  130497
131401  2013Q2       0.00  130497
131402  2013Q3       0.00  130497
131403  2013Q4       0.00  130497
131404  2014Q1       0.00  130497
131405  2014Q2      83.56  130497
131406  2014Q3    2335.50  130497
131407  2014Q4    2343.42  130497
131408  2015Q1    2043.64  130497
131409  2015Q2    1874.17  130497
131410  2015Q3    2243.75  130497
131411  2015Q4    2067.26  130497
131412  2016Q1    2978.65  130497
131413  2016Q2    1885.90  130497
131414  2016Q3    1529.67  130497
131415  2016Q4    1459.18  130497
131416  2017Q1    2822.91  130497
131417  2017Q2    1829.62  130497
131418  2017Q3    1885.51  130497
131419  2017Q4    1944.14  130497>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
820   2013Q1  0.000000  130497
821   2013Q2  0.000000  130497
822   2013Q3  0.000000  130497
823   2013Q4  0.000000  130497
824   2014Q1  0.000000  130497
825   2014Q2  0.000000  130497
826   2014Q3  0.023293  130497
827   2014Q4  0.045269  130497
828   2015Q1  0.003895  130497
829   2015Q2 -0.084110  130497
830   2015Q3 -0.012044  130497
831   2015Q4 -0.035370  130497
832   2016Q1 -0.133772  130497
833   2016Q2  0.019059  130497
834   2016Q3  0.084106  130497
835   2016Q4 -0.019618  130497
836   2017Q1  0.006699  130497
837   2017Q2  0.017031  130497
838   2017Q3  0.036701  130497
839   2017Q4  0.038237  130497
1300  2013Q1 -0.050860  102001
1301  2013Q2 -0.099644  102001
1302  2013Q3 -0.068045  102001
1303  2013Q4  0.098523  102001
1304  2014Q1  0.010871  102001
1305  2014Q2  0.123053  102001
1306  2014Q3  0.120251  102001
1307  2014Q4  0.060114  102001
1308  2015Q1  0.015512  102001
1309  2015Q2 -0.105289  102001
1310  2015Q3 -0.007145  102001
1311  2015Q4 -0.027639  102001
1312  2016Q1 -0.130794  102001
1313  2016Q2  0.029711  102001
1314  2016Q3  0.116297  102001
1315  2016Q4 -0.000649  102001
1316  2017Q1  0.033553  102001
1317  2017Q2  0.016797  102001
1318  2017Q3  0.040898  102001
1319  2017Q4  0.044396  102001>)
('Key_aum: ', 102001)
      Quarter       Data      ID
13280  2013Q1  343308.38  102001
13281  2013Q2  307922.81  102001
13282  2013Q3  274276.38  102001
13283  2013Q4  276989.18  102001
13284  2014Q1  263427.99  102001
13285  2014Q2  282368.62  102001
13286  2014Q3  302794.02  102001
13287  2014Q4  313191.54  102001
13288  2015Q1  312218.21  102001
13289  2015Q2  281113.01  102001
13290  2015Q3  271556.55  102001
13291  2015Q4  255740.13  102001
13292  2016Q1  219898.46  102001
13293  2016Q2  223974.83  102001
13294  2016Q3  240199.68  102001
13295  2016Q4  231681.77  102001
13296  2017Q1  237838.97  102001
13297  2017Q2  241218.27  102001
13298  2017Q3  245063.18  102001
13299  2017Q4  250026.81  102001
('Key_nav : ', 102001)
('data 1 : ', array([-0.05085968, -0.09964354, -0.06804499,  0.09852333,  0.01087104,
        0.12305261,  0.12025066,  0.0601136 ,  0.01551191, -0.10528935,
       -0.00714486, -0.02763905, -0.13079423,  0.02971057,  0.11629673,
       -0.00064904,  0.03355296,  0.01679728,  0.0408982 ,  0.04439581]))
('data 2 :', array([ 343308.38,  307922.81,  274276.38,  276989.18,  263427.99,
        282368.62,  302794.02,  313191.54,  312218.21,  281113.01,
        271556.55,  255740.13,  219898.46,  223974.83,  240199.68,
        231681.77,  237838.97,  241218.27,  245063.18,  250026.81]))
('Key_aum: ', 130497)
       Quarter     Data      ID
131400  2013Q1     0.00  130497
131401  2013Q2     0.00  130497
131402  2013Q3     0.00  130497
131403  2013Q4     0.00  130497
131404  2014Q1     0.00  130497
131405  2014Q2    83.56  130497
131406  2014Q3  2335.50  130497
131407  2014Q4  2343.42  130497
131408  2015Q1  2043.64  130497
131409  2015Q2  1874.17  130497
131410  2015Q3  2243.75  130497
131411  2015Q4  2067.26  130497
131412  2016Q1  2978.65  130497
131413  2016Q2  1885.90  130497
131414  2016Q3  1529.67  130497
131415  2016Q4  1459.18  130497
131416  2017Q1  2822.91  130497
131417  2017Q2  1829.62  130497
131418  2017Q3  1885.51  130497
131419  2017Q4  1944.14  130497
('Key_nav : ', 130497)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.02329329,  0.04526913,  0.00389462, -0.08410968,
       -0.01204357, -0.03537046, -0.13377238,  0.01905935,  0.0841064 ,
       -0.01961775,  0.00669884,  0.01703149,  0.03670112,  0.0382372 ]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    83.56,
        2335.5 ,  2343.42,  2043.64,  1874.17,  2243.75,  2067.26,
        2978.65,  1885.9 ,  1529.67,  1459.18,  2822.91,  1829.62,
        1885.51,  1944.14]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
        0.        ,  0.02329329,  0.04526913,  0.00389462, -0.08410968,
       -0.01204357, -0.03537046, -0.13377238,  0.01905935,  0.0841064 ,
       -0.01961775,  0.00669884,  0.01703149,  0.03670112,  0.0382372 ]))
('aum table :', <bound method DataFrame.head of        Quarter       Data      ID
13280   2013Q1  343308.38  102001
13281   2013Q2  307922.81  102001
13282   2013Q3  274276.38  102001
13283   2013Q4  276989.18  102001
13284   2014Q1  263427.99  102001
13285   2014Q2  282368.62  102001
13286   2014Q3  302794.02  102001
13287   2014Q4  313191.54  102001
13288   2015Q1  312218.21  102001
13289   2015Q2  281113.01  102001
13290   2015Q3  271556.55  102001
13291   2015Q4  255740.13  102001
13292   2016Q1  219898.46  102001
13293   2016Q2  223974.83  102001
13294   2016Q3  240199.68  102001
13295   2016Q4  231681.77  102001
13296   2017Q1  237838.97  102001
13297   2017Q2  241218.27  102001
13298   2017Q3  245063.18  102001
13299   2017Q4  250026.81  102001
131400  2013Q1       0.00  130497
131401  2013Q2       0.00  130497
131402  2013Q3       0.00  130497
131403  2013Q4       0.00  130497
131404  2014Q1       0.00  130497
131405  2014Q2      83.56  130497
131406  2014Q3    2335.50  130497
131407  2014Q4    2343.42  130497
131408  2015Q1    2043.64  130497
131409  2015Q2    1874.17  130497
131410  2015Q3    2243.75  130497
131411  2015Q4    2067.26  130497
131412  2016Q1    2978.65  130497
131413  2016Q2    1885.90  130497
131414  2016Q3    1529.67  130497
131415  2016Q4    1459.18  130497
131416  2017Q1    2822.91  130497
131417  2017Q2    1829.62  130497
131418  2017Q3    1885.51  130497
131419  2017Q4    1944.14  130497>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
820   2013Q1  0.000000  130497
821   2013Q2  0.000000  130497
822   2013Q3  0.000000  130497
823   2013Q4  0.000000  130497
824   2014Q1  0.000000  130497
825   2014Q2  0.000000  130497
826   2014Q3  0.023293  130497
827   2014Q4  0.045269  130497
828   2015Q1  0.003895  130497
829   2015Q2 -0.084110  130497
830   2015Q3 -0.012044  130497
831   2015Q4 -0.035370  130497
832   2016Q1 -0.133772  130497
833   2016Q2  0.019059  130497
834   2016Q3  0.084106  130497
835   2016Q4 -0.019618  130497
836   2017Q1  0.006699  130497
837   2017Q2  0.017031  130497
838   2017Q3  0.036701  130497
839   2017Q4  0.038237  130497
1300  2013Q1 -0.050860  102001
1301  2013Q2 -0.099644  102001
1302  2013Q3 -0.068045  102001
1303  2013Q4  0.098523  102001
1304  2014Q1  0.010871  102001
1305  2014Q2  0.123053  102001
1306  2014Q3  0.120251  102001
1307  2014Q4  0.060114  102001
1308  2015Q1  0.015512  102001
1309  2015Q2 -0.105289  102001
1310  2015Q3 -0.007145  102001
1311  2015Q4 -0.027639  102001
1312  2016Q1 -0.130794  102001
1313  2016Q2  0.029711  102001
1314  2016Q3  0.116297  102001
1315  2016Q4 -0.000649  102001
1316  2017Q1  0.033553  102001
1317  2017Q2  0.016797  102001
1318  2017Q3  0.040898  102001
1319  2017Q4  0.044396  102001>)
('Key_aum: ', 102001)
      Quarter       Data      ID
13280  2013Q1  343308.38  102001
13281  2013Q2  307922.81  102001
13282  2013Q3  274276.38  102001
13283  2013Q4  276989.18  102001

('aum table :', <bound method DataFrame.head of        Quarter       Data      ID
13280   2013Q1  343308.38  102001
13281   2013Q2  307922.81  102001
13282   2013Q3  274276.38  102001
13283   2013Q4  276989.18  102001
13284   2014Q1  263427.99  102001
13285   2014Q2  282368.62  102001
13286   2014Q3  302794.02  102001
13287   2014Q4  313191.54  102001
13288   2015Q1  312218.21  102001
13289   2015Q2  281113.01  102001
13290   2015Q3  271556.55  102001
13291   2015Q4  255740.13  102001
13292   2016Q1  219898.46  102001
13293   2016Q2  223974.83  102001
13294   2016Q3  240199.68  102001
13295   2016Q4  231681.77  102001
13296   2017Q1  237838.97  102001
13297   2017Q2  241218.27  102001
13298   2017Q3  245063.18  102001
13299   2017Q4  250026.81  102001
131400  2013Q1       0.00  130497
131401  2013Q2       0.00  130497
131402  2013Q3       0.00  130497
131403  2013Q4       0.00  130497
131404  2014Q1       0.00  130497
131405  2014Q2      83.56  130497
131406  2014Q3    2335.50  130497
131407  2014Q4    2343.42  130497
131408  2015Q1    2043.64  130497
131409  2015Q2    1874.17  130497
131410  2015Q3    2243.75  130497
131411  2015Q4    2067.26  130497
131412  2016Q1    2978.65  130497
131413  2016Q2    1885.90  130497
131414  2016Q3    1529.67  130497
131415  2016Q4    1459.18  130497
131416  2017Q1    2822.91  130497
131417  2017Q2    1829.62  130497
131418  2017Q3    1885.51  130497
131419  2017Q4    1944.14  130497>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
820   2013Q1  0.000000  130497
821   2013Q2  0.000000  130497
822   2013Q3  0.000000  130497
823   2013Q4  0.000000  130497
824   2014Q1  0.000000  130497
825   2014Q2  0.000000  130497
826   2014Q3  0.023293  130497
827   2014Q4  0.045269  130497
828   2015Q1  0.003895  130497
829   2015Q2 -0.084110  130497
830   2015Q3 -0.012044  130497
831   2015Q4 -0.035370  130497
832   2016Q1 -0.133772  130497
833   2016Q2  0.019059  130497
834   2016Q3  0.084106  130497
835   2016Q4 -0.019618  130497
836   2017Q1  0.006699  130497
837   2017Q2  0.017031  130497
838   2017Q3  0.036701  130497
839   2017Q4  0.038237  130497
1300  2013Q1 -0.050860  102001
1301  2013Q2 -0.099644  102001
1302  2013Q3 -0.068045  102001
1303  2013Q4  0.098523  102001
1304  2014Q1  0.010871  102001
1305  2014Q2  0.123053  102001
1306  2014Q3  0.120251  102001
1307  2014Q4  0.060114  102001
1308  2015Q1  0.015512  102001
1309  2015Q2 -0.105289  102001
1310  2015Q3 -0.007145  102001
1311  2015Q4 -0.027639  102001
1312  2016Q1 -0.130794  102001
1313  2016Q2  0.029711  102001
1314  2016Q3  0.116297  102001
1315  2016Q4 -0.000649  102001
1316  2017Q1  0.033553  102001
1317  2017Q2  0.016797  102001
1318  2017Q3  0.040898  102001
1319  2017Q4  0.044396  102001>)
('Key_aum: ', 102001)
      Quarter       Data      ID
13280  2013Q1  343308.38  102001
13281  2013Q2  307922.81  102001
13282  2013Q3  274276.38  102001
13283  2013Q4  276989.18  102001
13284  2014Q1  263427.99  102001
13285  2014Q2  282368.62  102001
13286  2014Q3  302794.02  102001
13287  2014Q4  313191.54  102001
13288  2015Q1  312218.21  102001
13289  2015Q2  281113.01  102001
13290  2015Q3  271556.55  102001
13291  2015Q4  255740.13  102001
13292  2016Q1  219898.46  102001
13293  2016Q2  223974.83  102001
13294  2016Q3  240199.68  102001
13295  2016Q4  231681.77  102001
13296  2017Q1  237838.97  102001
13297  2017Q2  241218.27  102001
13298  2017Q3  245063.18  102001
13299  2017Q4  250026.81  102001
('Key_nav : ', 102001)
('data 1 : ', array([-0.05085968, -0.09964354, -0.06804499,  0.09852333,  0.01087104,
        0.12305261,  0.12025066,  0.0601136 ,  0.01551191, -0.10528935,
       -0.00714486, -0.02763905, -0.13079423,  0.02971057,  0.11629673,
       -0.00064904,  0.03355296,  0.01679728,  0.0408982 ,  0.04439581]))
('data 2 :', array([ 343308.38,  307922.81,  274276.38,  276989.18,  263427.99,
        282368.62,  302794.02,  313191.54,  312218.21,  281113.01,
        271556.55,  255740.13,  219898.46,  223974.83,  240199.68,
        231681.77,  237838.97,  241218.27,  245063.18,  250026.81]))
('Key_aum: ', 130497)
       Quarter     Data      ID
131400  2013Q1     0.00  130497
131401  2013Q2     0.00  130497
131402  2013Q3     0.00  130497
131403  2013Q4     0.00  130497
131404  2014Q1     0.00  130497
131405  2014Q2    83.56  130497
131406  2014Q3  2335.50  130497
131407  2014Q4  2343.42  130497
131408  2015Q1  2043.64  130497
131409  2015Q2  1874.17  130497
131410  2015Q3  2243.75  130497
131411  2015Q4  2067.26  130497
131412  2016Q1  2978.65  130497
131413  2016Q2  1885.90  130497
131414  2016Q3  1529.67  130497
131415  2016Q4  1459.18  130497
131416  2017Q1  2822.91  130497
131417  2017Q2  1829.62  130497
131418  2017Q3  1885.51  130497
131419  2017Q4  1944.14  130497
('Key_nav : ', 130497)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.02329329,  0.04526913,  0.00389462, -0.08410968,
       -0.01204357, -0.03537046, -0.13377238,  0.01905935,  0.0841064 ,
       -0.01961775,  0.00669884,  0.01703149,  0.03670112,  0.0382372 ]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    83.56,
        2335.5 ,  2343.42,  2043.64,  1874.17,  2243.75,  2067.26,
        2978.65,  1885.9 ,  1529.67,  1459.18,  2822.91,  1829.62,
        1885.51,  1944.14]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
        0.        ,  0.02329329,  0.04526913,  0.00389462, -0.08410968,
       -0.01204357, -0.03537046, -0.13377238,  0.01905935,  0.0841064 ,
       -0.01961775,  0.00669884,  0.01703149,  0.03670112,  0.0382372 ]))
('aum table :', <bound method DataFrame.head of        Quarter       Data      ID
13280   2013Q1  343308.38  102001
13281   2013Q2  307922.81  102001
13282   2013Q3  274276.38  102001
13283   2013Q4  276989.18  102001
13284   2014Q1  263427.99  102001
13285   2014Q2  282368.62  102001
13286   2014Q3  302794.02  102001
13287   2014Q4  313191.54  102001
13288   2015Q1  312218.21  102001
13289   2015Q2  281113.01  102001
13290   2015Q3  271556.55  102001
13291   2015Q4  255740.13  102001
13292   2016Q1  219898.46  102001
13293   2016Q2  223974.83  102001
13294   2016Q3  240199.68  102001
13295   2016Q4  231681.77  102001
13296   2017Q1  237838.97  102001
13297   2017Q2  241218.27  102001
13298   2017Q3  245063.18  102001
13299   2017Q4  250026.81  102001
131400  2013Q1       0.00  130497
131401  2013Q2       0.00  130497
131402  2013Q3       0.00  130497
131403  2013Q4       0.00  130497
131404  2014Q1       0.00  130497
131405  2014Q2      83.56  130497
131406  2014Q3    2335.50  130497
131407  2014Q4    2343.42  130497
131408  2015Q1    2043.64  130497
131409  2015Q2    1874.17  130497
131410  2015Q3    2243.75  130497
131411  2015Q4    2067.26  130497
131412  2016Q1    2978.65  130497
131413  2016Q2    1885.90  130497
131414  2016Q3    1529.67  130497
131415  2016Q4    1459.18  130497
131416  2017Q1    2822.91  130497
131417  2017Q2    1829.62  130497
131418  2017Q3    1885.51  130497
131419  2017Q4    1944.14  130497>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
820   2013Q1  0.000000  130497
821   2013Q2  0.000000  130497
822   2013Q3  0.000000  130497
823   2013Q4  0.000000  130497
824   2014Q1  0.000000  130497
825   2014Q2  0.000000  130497
826   2014Q3  0.023293  130497
827   2014Q4  0.045269  130497
828   2015Q1  0.003895  130497
829   2015Q2 -0.084110  130497
830   2015Q3 -0.012044  130497
831   2015Q4 -0.035370  130497
832   2016Q1 -0.133772  130497
833   2016Q2  0.019059  130497
834   2016Q3  0.084106  130497
835   2016Q4 -0.019618  130497
836   2017Q1  0.006699  130497
837   2017Q2  0.017031  130497
838   2017Q3  0.036701  130497
839   2017Q4  0.038237  130497
1300  2013Q1 -0.050860  102001
1301  2013Q2 -0.099644  102001
1302  2013Q3 -0.068045  102001
1303  2013Q4  0.098523  102001
1304  2014Q1  0.010871  102001
1305  2014Q2  0.123053  102001
1306  2014Q3  0.120251  102001
1307  2014Q4  0.060114  102001
1308  2015Q1  0.015512  102001
1309  2015Q2 -0.105289  102001
1310  2015Q3 -0.007145  102001
1311  2015Q4 -0.027639  102001
1312  2016Q1 -0.130794  102001
1313  2016Q2  0.029711  102001
1314  2016Q3  0.116297  102001
1315  2016Q4 -0.000649  102001
1316  2017Q1  0.033553  102001
1317  2017Q2  0.016797  102001
1318  2017Q3  0.040898  102001
1319  2017Q4  0.044396  102001>)
('Key_aum: ', 102001)
      Quarter       Data      ID
13280  2013Q1  343308.38  102001
13281  2013Q2  307922.81  102001
13282  2013Q3  274276.38  102001
13283  2013Q4  276989.18  102001
13284  2014Q1  263427.99  102001
13285  2014Q2  282368.62  102001
13286  2014Q3  302794.02  102001
13287  2014Q4  313191.54  102001
13288  2015Q1  312218.21  102001
13289  2015Q2  281113.01  102001
13290  2015Q3  271556.55  102001
13291  2015Q4  255740.13  102001
13292  2016Q1  219898.46  102001
13293  2016Q2  223974.83  102001
13294  2016Q3  240199.68  102001
13295  2016Q4  231681.77  102001
13296  2017Q1  237838.97  102001
13297  2017Q2  241218.27  102001
13298  2017Q3  245063.18  102001
13299  2017Q4  250026.81  102001
('Key_nav : ', 102001)
('data 1 : ', array([-0.05085968, -0.09964354, -0.06804499,  0.09852333,  0.01087104,
        0.12305261,  0.12025066,  0.0601136 ,  0.01551191, -0.10528935,
       -0.00714486, -0.02763905, -0.13079423,  0.02971057,  0.11629673,
       -0.00064904,  0.03355296,  0.01679728,  0.0408982 ,  0.04439581]))
('data 2 :', array([ 343308.38,  307922.81,  274276.38,  276989.18,  263427.99,
        282368.62,  302794.02,  313191.54,  312218.21,  281113.01,
        271556.55,  255740.13,  219898.46,  223974.83,  240199.68,
        231681.77,  237838.97,  241218.27,  245063.18,  250026.81]))
('Key_aum: ', 130497)
       Quarter     Data      ID
131400  2013Q1     0.00  130497
131401  2013Q2     0.00  130497
131402  2013Q3     0.00  130497
131403  2013Q4     0.00  130497
131404  2014Q1     0.00  130497
131405  2014Q2    83.56  130497
131406  2014Q3  2335.50  130497
131407  2014Q4  2343.42  130497
131408  2015Q1  2043.64  130497
131409  2015Q2  1874.17  130497
131410  2015Q3  2243.75  130497
131411  2015Q4  2067.26  130497
131412  2016Q1  2978.65  130497
131413  2016Q2  1885.90  130497
131414  2016Q3  1529.67  130497
131415  2016Q4  1459.18  130497
131416  2017Q1  2822.91  130497
131417  2017Q2  1829.62  130497
131418  2017Q3  1885.51  130497
131419  2017Q4  1944.14  130497
('Key_nav : ', 130497)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.02329329,  0.04526913,  0.00389462, -0.08410968,
       -0.01204357, -0.03537046, -0.13377238,  0.01905935,  0.0841064 ,
       -0.01961775,  0.00669884,  0.01703149,  0.03670112,  0.0382372 ]))
('data 2 :', array([    0.  ,     0.  ,     0.  ,     0.  ,     0.  ,    83.56,
        2335.5 ,  2343.42,  2043.64,  1874.17,  2243.75,  2067.26,
        2978.65,  1885.9 ,  1529.67,  1459.18,  2822.91,  1829.62,
        1885.51,  1944.14]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
        0.        ,  0.02329329,  0.04526913,  0.00389462, -0.08410968,
       -0.01204357, -0.03537046, -0.13377238,  0.01905935,  0.0841064 ,
       -0.01961775,  0.00669884,  0.01703149,  0.03670112,  0.0382372 ]))
('IDs :', [115242, 140448])
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
64320   2013Q1  4411.96  115242
64321   2013Q2  3866.32  115242
64322   2013Q3  3032.53  115242
64323   2013Q4  2815.77  115242
64324   2014Q1  2479.49  115242
64325   2014Q2  2171.98  115242
64326   2014Q3  1786.76  115242
64327   2014Q4  1607.41  115242
64328   2015Q1  1499.50  115242
64329   2015Q2  1362.73  115242
64330   2015Q3  1243.98  115242
64331   2015Q4  1175.13  115242
64332   2016Q1  1113.74  115242
64333   2016Q2  1133.28  115242
64334   2016Q3  1130.37  115242
64335   2016Q4   993.71  115242
64336   2017Q1   938.08  115242
64337   2017Q2   921.70  115242
64338   2017Q3   884.11  115242
64339   2017Q4   890.14  115242
214480  2013Q1     0.00  140448
214481  2013Q2     0.00  140448
214482  2013Q3     0.00  140448
214483  2013Q4     0.00  140448
214484  2014Q1     0.00  140448
214485  2014Q2     0.00  140448
214486  2014Q3     0.00  140448
214487  2014Q4     0.00  140448
214488  2015Q1     0.00  140448
214489  2015Q2     0.00  140448
214490  2015Q3     0.00  140448
214491  2015Q4     0.00  140448
214492  2016Q1     0.00  140448
214493  2016Q2     0.00  140448
214494  2016Q3     0.00  140448
214495  2016Q4     0.00  140448
214496  2017Q1    10.79  140448
214497  2017Q2    45.48  140448
214498  2017Q3    54.14  140448
214499  2017Q4    69.29  140448>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
140  2013Q1 -0.020873  115242
141  2013Q2 -0.030079  115242
142  2013Q3  0.013018  115242
143  2013Q4  0.043188  115242
144  2014Q1  0.005898  115242
145  2014Q2  0.066140  115242
146  2014Q3 -0.010326  115242
147  2014Q4  0.009540  115242
148  2015Q1  0.035755  115242
149  2015Q2 -0.028152  115242
150  2015Q3 -0.010687  115242
151  2015Q4 -0.025514  115242
152  2016Q1 -0.027200  115242
153  2016Q2  0.052761  115242
154  2016Q3  0.056703  115242
155  2016Q4 -0.081777  115242
156  2017Q1 -0.021390  115242
157  2017Q2  0.012434  115242
158  2017Q3 -0.008946  115242
159  2017Q4  0.024356  115242
480  2013Q1  0.000000  140448
481  2013Q2  0.000000  140448
482  2013Q3  0.000000  140448
483  2013Q4  0.000000  140448
484  2014Q1  0.000000  140448
485  2014Q2  0.000000  140448
486  2014Q3  0.000000  140448
487  2014Q4  0.000000  140448
488  2015Q1  0.000000  140448
489  2015Q2  0.000000  140448
490  2015Q3  0.000000  140448
491  2015Q4  0.000000  140448
492  2016Q1  0.000000  140448
493  2016Q2  0.000000  140448
494  2016Q3  0.000000  140448
495  2016Q4  0.000000  140448
496  2017Q1  0.051268  140448
497  2017Q2  0.067292  140448
498  2017Q3  0.045355  140448
499  2017Q4  0.049986  140448>)
('Key_aum: ', 115242)
      Quarter     Data      ID
64320  2013Q1  4411.96  115242
64321  2013Q2  3866.32  115242
64322  2013Q3  3032.53  115242
64323  2013Q4  2815.77  115242
64324  2014Q1  2479.49  115242
64325  2014Q2  2171.98  115242
64326  2014Q3  1786.76  115242
64327  2014Q4  1607.41  115242
64328  2015Q1  1499.50  115242
64329  2015Q2  1362.73  115242
64330  2015Q3  1243.98  115242
64331  2015Q4  1175.13  115242
64332  2016Q1  1113.74  115242
64333  2016Q2  1133.28  115242
64334  2016Q3  1130.37  115242
64335  2016Q4   993.71  115242
64336  2017Q1   938.08  115242
64337  2017Q2   921.70  115242
64338  2017Q3   884.11  115242
64339  2017Q4   890.14  115242
('Key_nav : ', 115242)
('data 1 : ', array([-0.02087324, -0.03007911,  0.01301804,  0.04318813,  0.00589791,
        0.0661405 , -0.01032552,  0.00953997,  0.03575453, -0.02815175,
       -0.01068705, -0.02551446, -0.02719984,  0.05276085,  0.05670314,
       -0.08177687, -0.02138971,  0.01243369, -0.00894604,  0.0243556 ]))
('data 2 :', array([ 4411.96,  3866.32,  3032.53,  2815.77,  2479.49,  2171.98,
        1786.76,  1607.41,  1499.5 ,  1362.73,  1243.98,  1175.13,
        1113.74,  1133.28,  1130.37,   993.71,   938.08,   921.7 ,
         884.11,   890.14]))
('Key_aum: ', 140448)
       Quarter   Data      ID
214480  2013Q1   0.00  140448
214481  2013Q2   0.00  140448
214482  2013Q3   0.00  140448
214483  2013Q4   0.00  140448
214484  2014Q1   0.00  140448
214485  2014Q2   0.00  140448
214486  2014Q3   0.00  140448
214487  2014Q4   0.00  140448
214488  2015Q1   0.00  140448
214489  2015Q2   0.00  140448
214490  2015Q3   0.00  140448
214491  2015Q4   0.00  140448
214492  2016Q1   0.00  140448
214493  2016Q2   0.00  140448
214494  2016Q3   0.00  140448
214495  2016Q4   0.00  140448
214496  2017Q1  10.79  140448
214497  2017Q2  45.48  140448
214498  2017Q3  54.14  140448
214499  2017Q4  69.29  140448
('Key_nav : ', 140448)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.0512676 ,  0.06729221,  0.04535465,  0.0499862 ]))
('data 2 :', array([  0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
         0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
        10.79,  45.48,  54.14,  69.29]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,  0.0512676 ,  0.06729221,  0.04535465,  0.0499862 ]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
64320   2013Q1  4411.96  115242
64321   2013Q2  3866.32  115242
64322   2013Q3  3032.53  115242
64323   2013Q4  2815.77  115242
64324   2014Q1  2479.49  115242
64325   2014Q2  2171.98  115242
64326   2014Q3  1786.76  115242
64327   2014Q4  1607.41  115242
64328   2015Q1  1499.50  115242
64329   2015Q2  1362.73  115242
64330   2015Q3  1243.98  115242
64331   2015Q4  1175.13  115242
64332   2016Q1  1113.74  115242
64333   2016Q2  1133.28  115242
64334   2016Q3  1130.37  115242
64335   2016Q4   993.71  115242
64336   2017Q1   938.08  115242
64337   2017Q2   921.70  115242
64338   2017Q3   884.11  115242
64339   2017Q4   890.14  115242
214480  2013Q1     0.00  140448
214481  2013Q2     0.00  140448
214482  2013Q3     0.00  140448
214483  2013Q4     0.00  140448
214484  2014Q1     0.00  140448
214485  2014Q2     0.00  140448
214486  2014Q3     0.00  140448
214487  2014Q4     0.00  140448
214488  2015Q1     0.00  140448
214489  2015Q2     0.00  140448
214490  2015Q3     0.00  140448
214491  2015Q4     0.00  140448
214492  2016Q1     0.00  140448
214493  2016Q2     0.00  140448
214494  2016Q3     0.00  140448
214495  2016Q4     0.00  140448
214496  2017Q1    10.79  140448
214497  2017Q2    45.48  140448
214498  2017Q3    54.14  140448
214499  2017Q4    69.29  140448>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
140  2013Q1 -0.020873  115242
141  2013Q2 -0.030079  115242
142  2013Q3  0.013018  115242
143  2013Q4  0.043188  115242
144  2014Q1  0.005898  115242
145  2014Q2  0.066140  115242
146  2014Q3 -0.010326  115242
147  2014Q4  0.009540  115242
148  2015Q1  0.035755  115242
149  2015Q2 -0.028152  115242
150  2015Q3 -0.010687  115242
151  2015Q4 -0.025514  115242
152  2016Q1 -0.027200  115242
153  2016Q2  0.052761  115242
154  2016Q3  0.056703  115242
155  2016Q4 -0.081777  115242
156  2017Q1 -0.021390  115242
157  2017Q2  0.012434  115242
158  2017Q3 -0.008946  115242
159  2017Q4  0.024356  115242
480  2013Q1  0.000000  140448
481  2013Q2  0.000000  140448
482  2013Q3  0.000000  140448
483  2013Q4  0.000000  140448
484  2014Q1  0.000000  140448
485  2014Q2  0.000000  140448
486  2014Q3  0.000000  140448
487  2014Q4  0.000000  140448
488  2015Q1  0.000000  140448
489  2015Q2  0.000000  140448
490  2015Q3  0.000000  140448
491  2015Q4  0.000000  140448
492  2016Q1  0.000000  140448
493  2016Q2  0.000000  140448
494  2016Q3  0.000000  140448
495  2016Q4  0.000000  140448
496  2017Q1  0.051268  140448
497  2017Q2  0.067292  140448
498  2017Q3  0.045355  140448
499  2017Q4  0.049986  140448>)
('Key_aum: ', 115242)
      Quarter     Data      ID
64320  2013Q1  4411.96  115242
64321  2013Q2  3866.32  115242
64322  2013Q3  3032.53  115242
64323  2013Q4  2815.77  115242
64324  2014Q1  2479.49  115242
64325  2014Q2  2171.98  115242
64326  2014Q3  1786.76  115242
64327  2014Q4  1607.41  115242
64328  2015Q1  1499.50  115242
64329  2015Q2  1362.73  115242
64330  2015Q3  1243.98  115242
64331  2015Q4  1175.13  115242
64332  2016Q1  1113.74  115242
64333  2016Q2  1133.28  115242
64334  2016Q3  1130.37  115242
64335  2016Q4   993.71  115242
64336  2017Q1   938.08  115242
64337  2017Q2   921.70  115242
64338  2017Q3   884.11  115242

      Quarter     Data      ID
64320  2013Q1  4411.96  115242
64321  2013Q2  3866.32  115242
64322  2013Q3  3032.53  115242
64323  2013Q4  2815.77  115242
64324  2014Q1  2479.49  115242
64325  2014Q2  2171.98  115242
64326  2014Q3  1786.76  115242
64327  2014Q4  1607.41  115242
64328  2015Q1  1499.50  115242
64329  2015Q2  1362.73  115242
64330  2015Q3  1243.98  115242
64331  2015Q4  1175.13  115242
64332  2016Q1  1113.74  115242
64333  2016Q2  1133.28  115242
64334  2016Q3  1130.37  115242
64335  2016Q4   993.71  115242
64336  2017Q1   938.08  115242
64337  2017Q2   921.70  115242
64338  2017Q3   884.11  115242
64339  2017Q4   890.14  115242
('Key_nav : ', 115242)
('data 1 : ', array([-0.02087324, -0.03007911,  0.01301804,  0.04318813,  0.00589791,
        0.0661405 , -0.01032552,  0.00953997,  0.03575453, -0.02815175,
       -0.01068705, -0.02551446, -0.02719984,  0.05276085,  0.05670314,
       -0.08177687, -0.02138971,  0.01243369, -0.00894604,  0.0243556 ]))
('data 2 :', array([ 4411.96,  3866.32,  3032.53,  2815.77,  2479.49,  2171.98,
        1786.76,  1607.41,  1499.5 ,  1362.73,  1243.98,  1175.13,
        1113.74,  1133.28,  1130.37,   993.71,   938.08,   921.7 ,
         884.11,   890.14]))
('Key_aum: ', 140448)
       Quarter   Data      ID
214480  2013Q1   0.00  140448
214481  2013Q2   0.00  140448
214482  2013Q3   0.00  140448
214483  2013Q4   0.00  140448
214484  2014Q1   0.00  140448
214485  2014Q2   0.00  140448
214486  2014Q3   0.00  140448
214487  2014Q4   0.00  140448
214488  2015Q1   0.00  140448
214489  2015Q2   0.00  140448
214490  2015Q3   0.00  140448
214491  2015Q4   0.00  140448
214492  2016Q1   0.00  140448
214493  2016Q2   0.00  140448
214494  2016Q3   0.00  140448
214495  2016Q4   0.00  140448
214496  2017Q1  10.79  140448
214497  2017Q2  45.48  140448
214498  2017Q3  54.14  140448
214499  2017Q4  69.29  140448
('Key_nav : ', 140448)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.0512676 ,  0.06729221,  0.04535465,  0.0499862 ]))
('data 2 :', array([  0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
         0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
        10.79,  45.48,  54.14,  69.29]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,  0.0512676 ,  0.06729221,  0.04535465,  0.0499862 ]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
64320   2013Q1  4411.96  115242
64321   2013Q2  3866.32  115242
64322   2013Q3  3032.53  115242
64323   2013Q4  2815.77  115242
64324   2014Q1  2479.49  115242
64325   2014Q2  2171.98  115242
64326   2014Q3  1786.76  115242
64327   2014Q4  1607.41  115242
64328   2015Q1  1499.50  115242
64329   2015Q2  1362.73  115242
64330   2015Q3  1243.98  115242
64331   2015Q4  1175.13  115242
64332   2016Q1  1113.74  115242
64333   2016Q2  1133.28  115242
64334   2016Q3  1130.37  115242
64335   2016Q4   993.71  115242
64336   2017Q1   938.08  115242
64337   2017Q2   921.70  115242
64338   2017Q3   884.11  115242
64339   2017Q4   890.14  115242
214480  2013Q1     0.00  140448
214481  2013Q2     0.00  140448
214482  2013Q3     0.00  140448
214483  2013Q4     0.00  140448
214484  2014Q1     0.00  140448
214485  2014Q2     0.00  140448
214486  2014Q3     0.00  140448
214487  2014Q4     0.00  140448
214488  2015Q1     0.00  140448
214489  2015Q2     0.00  140448
214490  2015Q3     0.00  140448
214491  2015Q4     0.00  140448
214492  2016Q1     0.00  140448
214493  2016Q2     0.00  140448
214494  2016Q3     0.00  140448
214495  2016Q4     0.00  140448
214496  2017Q1    10.79  140448
214497  2017Q2    45.48  140448
214498  2017Q3    54.14  140448
214499  2017Q4    69.29  140448>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
140  2013Q1 -0.020873  115242
141  2013Q2 -0.030079  115242
142  2013Q3  0.013018  115242
143  2013Q4  0.043188  115242
144  2014Q1  0.005898  115242
145  2014Q2  0.066140  115242
146  2014Q3 -0.010326  115242
147  2014Q4  0.009540  115242
148  2015Q1  0.035755  115242
149  2015Q2 -0.028152  115242
150  2015Q3 -0.010687  115242
151  2015Q4 -0.025514  115242
152  2016Q1 -0.027200  115242
153  2016Q2  0.052761  115242
154  2016Q3  0.056703  115242
155  2016Q4 -0.081777  115242
156  2017Q1 -0.021390  115242
157  2017Q2  0.012434  115242
158  2017Q3 -0.008946  115242
159  2017Q4  0.024356  115242
480  2013Q1  0.000000  140448
481  2013Q2  0.000000  140448
482  2013Q3  0.000000  140448
483  2013Q4  0.000000  140448
484  2014Q1  0.000000  140448
485  2014Q2  0.000000  140448
486  2014Q3  0.000000  140448
487  2014Q4  0.000000  140448
488  2015Q1  0.000000  140448
489  2015Q2  0.000000  140448
490  2015Q3  0.000000  140448
491  2015Q4  0.000000  140448
492  2016Q1  0.000000  140448
493  2016Q2  0.000000  140448
494  2016Q3  0.000000  140448
495  2016Q4  0.000000  140448
496  2017Q1  0.051268  140448
497  2017Q2  0.067292  140448
498  2017Q3  0.045355  140448
499  2017Q4  0.049986  140448>)
('Key_aum: ', 115242)
      Quarter     Data      ID
64320  2013Q1  4411.96  115242
64321  2013Q2  3866.32  115242
64322  2013Q3  3032.53  115242
64323  2013Q4  2815.77  115242
64324  2014Q1  2479.49  115242
64325  2014Q2  2171.98  115242
64326  2014Q3  1786.76  115242
64327  2014Q4  1607.41  115242
64328  2015Q1  1499.50  115242
64329  2015Q2  1362.73  115242
64330  2015Q3  1243.98  115242
64331  2015Q4  1175.13  115242
64332  2016Q1  1113.74  115242
64333  2016Q2  1133.28  115242
64334  2016Q3  1130.37  115242
64335  2016Q4   993.71  115242
64336  2017Q1   938.08  115242
64337  2017Q2   921.70  115242
64338  2017Q3   884.11  115242
64339  2017Q4   890.14  115242
('Key_nav : ', 115242)
('data 1 : ', array([-0.02087324, -0.03007911,  0.01301804,  0.04318813,  0.00589791,
        0.0661405 , -0.01032552,  0.00953997,  0.03575453, -0.02815175,
       -0.01068705, -0.02551446, -0.02719984,  0.05276085,  0.05670314,
       -0.08177687, -0.02138971,  0.01243369, -0.00894604,  0.0243556 ]))
('data 2 :', array([ 4411.96,  3866.32,  3032.53,  2815.77,  2479.49,  2171.98,
        1786.76,  1607.41,  1499.5 ,  1362.73,  1243.98,  1175.13,
        1113.74,  1133.28,  1130.37,   993.71,   938.08,   921.7 ,
         884.11,   890.14]))
('Key_aum: ', 140448)
       Quarter   Data      ID
214480  2013Q1   0.00  140448
214481  2013Q2   0.00  140448
214482  2013Q3   0.00  140448
214483  2013Q4   0.00  140448
214484  2014Q1   0.00  140448
214485  2014Q2   0.00  140448
214486  2014Q3   0.00  140448
214487  2014Q4   0.00  140448
214488  2015Q1   0.00  140448
214489  2015Q2   0.00  140448
214490  2015Q3   0.00  140448
214491  2015Q4   0.00  140448
214492  2016Q1   0.00  140448
214493  2016Q2   0.00  140448
214494  2016Q3   0.00  140448
214495  2016Q4   0.00  140448
214496  2017Q1  10.79  140448
214497  2017Q2  45.48  140448
214498  2017Q3  54.14  140448
214499  2017Q4  69.29  140448
('Key_nav : ', 140448)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.0512676 ,  0.06729221,  0.04535465,  0.0499862 ]))
('data 2 :', array([  0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
         0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
        10.79,  45.48,  54.14,  69.29]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,  0.0512676 ,  0.06729221,  0.04535465,  0.0499862 ]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
64320   2013Q1  4411.96  115242
64321   2013Q2  3866.32  115242
64322   2013Q3  3032.53  115242
64323   2013Q4  2815.77  115242
64324   2014Q1  2479.49  115242
64325   2014Q2  2171.98  115242
64326   2014Q3  1786.76  115242
64327   2014Q4  1607.41  115242
64328   2015Q1  1499.50  115242
64329   2015Q2  1362.73  115242
64330   2015Q3  1243.98  115242
64331   2015Q4  1175.13  115242
64332   2016Q1  1113.74  115242
64333   2016Q2  1133.28  115242
64334   2016Q3  1130.37  115242
64335   2016Q4   993.71  115242
64336   2017Q1   938.08  115242
64337   2017Q2   921.70  115242
64338   2017Q3   884.11  115242
64339   2017Q4   890.14  115242
214480  2013Q1     0.00  140448
214481  2013Q2     0.00  140448
214482  2013Q3     0.00  140448
214483  2013Q4     0.00  140448
214484  2014Q1     0.00  140448
214485  2014Q2     0.00  140448
214486  2014Q3     0.00  140448
214487  2014Q4     0.00  140448
214488  2015Q1     0.00  140448
214489  2015Q2     0.00  140448
214490  2015Q3     0.00  140448
214491  2015Q4     0.00  140448
214492  2016Q1     0.00  140448
214493  2016Q2     0.00  140448
214494  2016Q3     0.00  140448
214495  2016Q4     0.00  140448
214496  2017Q1    10.79  140448
214497  2017Q2    45.48  140448
214498  2017Q3    54.14  140448
214499  2017Q4    69.29  140448>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
140  2013Q1 -0.020873  115242
141  2013Q2 -0.030079  115242
142  2013Q3  0.013018  115242
143  2013Q4  0.043188  115242
144  2014Q1  0.005898  115242
145  2014Q2  0.066140  115242
146  2014Q3 -0.010326  115242
147  2014Q4  0.009540  115242
148  2015Q1  0.035755  115242
149  2015Q2 -0.028152  115242
150  2015Q3 -0.010687  115242
151  2015Q4 -0.025514  115242
152  2016Q1 -0.027200  115242
153  2016Q2  0.052761  115242
154  2016Q3  0.056703  115242
155  2016Q4 -0.081777  115242
156  2017Q1 -0.021390  115242
157  2017Q2  0.012434  115242
158  2017Q3 -0.008946  115242
159  2017Q4  0.024356  115242
480  2013Q1  0.000000  140448
481  2013Q2  0.000000  140448
482  2013Q3  0.000000  140448
483  2013Q4  0.000000  140448
484  2014Q1  0.000000  140448
485  2014Q2  0.000000  140448
486  2014Q3  0.000000  140448
487  2014Q4  0.000000  140448
488  2015Q1  0.000000  140448
489  2015Q2  0.000000  140448
490  2015Q3  0.000000  140448
491  2015Q4  0.000000  140448
492  2016Q1  0.000000  140448
493  2016Q2  0.000000  140448
494  2016Q3  0.000000  140448
495  2016Q4  0.000000  140448
496  2017Q1  0.051268  140448
497  2017Q2  0.067292  140448
498  2017Q3  0.045355  140448
499  2017Q4  0.049986  140448>)
('Key_aum: ', 115242)
      Quarter     Data      ID
64320  2013Q1  4411.96  115242
64321  2013Q2  3866.32  115242
64322  2013Q3  3032.53  115242
64323  2013Q4  2815.77  115242
64324  2014Q1  2479.49  115242
64325  2014Q2  2171.98  115242
64326  2014Q3  1786.76  115242
64327  2014Q4  1607.41  115242
64328  2015Q1  1499.50  115242
64329  2015Q2  1362.73  115242
64330  2015Q3  1243.98  115242
64331  2015Q4  1175.13  115242
64332  2016Q1  1113.74  115242
64333  2016Q2  1133.28  115242
64334  2016Q3  1130.37  115242
64335  2016Q4   993.71  115242
64336  2017Q1   938.08  115242
64337  2017Q2   921.70  115242
64338  2017Q3   884.11  115242
64339  2017Q4   890.14  115242
('Key_nav : ', 115242)
('data 1 : ', array([-0.02087324, -0.03007911,  0.01301804,  0.04318813,  0.00589791,
        0.0661405 , -0.01032552,  0.00953997,  0.03575453, -0.02815175,
       -0.01068705, -0.02551446, -0.02719984,  0.05276085,  0.05670314,
       -0.08177687, -0.02138971,  0.01243369, -0.00894604,  0.0243556 ]))
('data 2 :', array([ 4411.96,  3866.32,  3032.53,  2815.77,  2479.49,  2171.98,
        1786.76,  1607.41,  1499.5 ,  1362.73,  1243.98,  1175.13,
        1113.74,  1133.28,  1130.37,   993.71,   938.08,   921.7 ,
         884.11,   890.14]))
('Key_aum: ', 140448)
       Quarter   Data      ID
214480  2013Q1   0.00  140448
214481  2013Q2   0.00  140448
214482  2013Q3   0.00  140448
214483  2013Q4   0.00  140448
214484  2014Q1   0.00  140448
214485  2014Q2   0.00  140448
214486  2014Q3   0.00  140448
214487  2014Q4   0.00  140448
214488  2015Q1   0.00  140448
214489  2015Q2   0.00  140448
214490  2015Q3   0.00  140448
214491  2015Q4   0.00  140448
214492  2016Q1   0.00  140448
214493  2016Q2   0.00  140448
214494  2016Q3   0.00  140448
214495  2016Q4   0.00  140448
214496  2017Q1  10.79  140448
214497  2017Q2  45.48  140448
214498  2017Q3  54.14  140448
214499  2017Q4  69.29  140448
('Key_nav : ', 140448)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.0512676 ,  0.06729221,  0.04535465,  0.0499862 ]))
('data 2 :', array([  0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
         0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
        10.79,  45.48,  54.14,  69.29]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,  0.0512676 ,  0.06729221,  0.04535465,  0.0499862 ]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
64320   2013Q1  4411.96  115242
64321   2013Q2  3866.32  115242
64322   2013Q3  3032.53  115242
64323   2013Q4  2815.77  115242
64324   2014Q1  2479.49  115242
64325   2014Q2  2171.98  115242
64326   2014Q3  1786.76  115242
64327   2014Q4  1607.41  115242
64328   2015Q1  1499.50  115242
64329   2015Q2  1362.73  115242
64330   2015Q3  1243.98  115242
64331   2015Q4  1175.13  115242
64332   2016Q1  1113.74  115242
64333   2016Q2  1133.28  115242
64334   2016Q3  1130.37  115242
64335   2016Q4   993.71  115242
64336   2017Q1   938.08  115242
64337   2017Q2   921.70  115242
64338   2017Q3   884.11  115242
64339   2017Q4   890.14  115242
214480  2013Q1     0.00  140448
214481  2013Q2     0.00  140448
214482  2013Q3     0.00  140448
214483  2013Q4     0.00  140448
214484  2014Q1     0.00  140448
214485  2014Q2     0.00  140448
214486  2014Q3     0.00  140448
214487  2014Q4     0.00  140448
214488  2015Q1     0.00  140448
214489  2015Q2     0.00  140448
214490  2015Q3     0.00  140448
214491  2015Q4     0.00  140448
214492  2016Q1     0.00  140448
214493  2016Q2     0.00  140448
214494  2016Q3     0.00  140448
214495  2016Q4     0.00  140448
214496  2017Q1    10.79  140448
214497  2017Q2    45.48  140448
214498  2017Q3    54.14  140448
214499  2017Q4    69.29  140448>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
140  2013Q1 -0.020873  115242
141  2013Q2 -0.030079  115242
142  2013Q3  0.013018  115242
143  2013Q4  0.043188  115242
144  2014Q1  0.005898  115242
145  2014Q2  0.066140  115242
146  2014Q3 -0.010326  115242
147  2014Q4  0.009540  115242
148  2015Q1  0.035755  115242
149  2015Q2 -0.028152  115242
150  2015Q3 -0.010687  115242
151  2015Q4 -0.025514  115242
152  2016Q1 -0.027200  115242
153  2016Q2  0.052761  115242
154  2016Q3  0.056703  115242
155  2016Q4 -0.081777  115242
156  2017Q1 -0.021390  115242
157  2017Q2  0.012434  115242
158  2017Q3 -0.008946  115242
159  2017Q4  0.024356  115242
480  2013Q1  0.000000  140448
481  2013Q2  0.000000  140448
482  2013Q3  0.000000  140448
483  2013Q4  0.000000  140448
484  2014Q1  0.000000  140448
485  2014Q2  0.000000  140448
486  2014Q3  0.000000  140448
487  2014Q4  0.000000  140448
488  2015Q1  0.000000  140448
489  2015Q2  0.000000  140448
490  2015Q3  0.000000  140448
491  2015Q4  0.000000  140448
492  2016Q1  0.000000  140448
493  2016Q2  0.000000  140448
494  2016Q3  0.000000  140448
495  2016Q4  0.000000  140448
496  2017Q1  0.051268  140448
497  2017Q2  0.067292  140448
498  2017Q3  0.045355  140448
499  2017Q4  0.049986  140448>)
('Key_aum: ', 115242)
      Quarter     Data      ID
64320  2013Q1  4411.96  115242
64321  2013Q2  3866.32  115242
64322  2013Q3  3032.53  115242
64323  2013Q4  2815.77  115242
64324  2014Q1  2479.49  115242
64325  2014Q2  2171.98  115242
64326  2014Q3  1786.76  115242
64327  2014Q4  1607.41  115242
64328  2015Q1  1499.50  115242
64329  2015Q2  1362.73  115242
64330  2015Q3  1243.98  115242
64331  2015Q4  1175.13  115242
64332  2016Q1  1113.74  115242
64333  2016Q2  1133.28  115242
64334  2016Q3  1130.37  115242
64335  2016Q4   993.71  115242
64336  2017Q1   938.08  115242
64337  2017Q2   921.70  115242
64338  2017Q3   884.11  115242
64339  2017Q4   890.14  115242
('Key_nav : ', 115242)
('data 1 : ', array([-0.02087324, -0.03007911,  0.01301804,  0.04318813,  0.00589791,
        0.0661405 , -0.01032552,  0.00953997,  0.03575453, -0.02815175,
       -0.01068705, -0.02551446, -0.02719984,  0.05276085,  0.05670314,
       -0.08177687, -0.02138971,  0.01243369, -0.00894604,  0.0243556 ]))
('data 2 :', array([ 4411.96,  3866.32,  3032.53,  2815.77,  2479.49,  2171.98,
        1786.76,  1607.41,  1499.5 ,  1362.73,  1243.98,  1175.13,
        1113.74,  1133.28,  1130.37,   993.71,   938.08,   921.7 ,
         884.11,   890.14]))
('Key_aum: ', 140448)
       Quarter   Data      ID
214480  2013Q1   0.00  140448
214481  2013Q2   0.00  140448
214482  2013Q3   0.00  140448
214483  2013Q4   0.00  140448
214484  2014Q1   0.00  140448
214485  2014Q2   0.00  140448
214486  2014Q3   0.00  140448
214487  2014Q4   0.00  140448
214488  2015Q1   0.00  140448
214489  2015Q2   0.00  140448
214490  2015Q3   0.00  140448
214491  2015Q4   0.00  140448
214492  2016Q1   0.00  140448
214493  2016Q2   0.00  140448
214494  2016Q3   0.00  140448
214495  2016Q4   0.00  140448
214496  2017Q1  10.79  140448
214497  2017Q2  45.48  140448
214498  2017Q3  54.14  140448
214499  2017Q4  69.29  140448
('Key_nav : ', 140448)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.0512676 ,  0.06729221,  0.04535465,  0.0499862 ]))
('data 2 :', array([  0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
         0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
        10.79,  45.48,  54.14,  69.29]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,  0.0512676 ,  0.06729221,  0.04535465,  0.0499862 ]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
64320   2013Q1  4411.96  115242
64321   2013Q2  3866.32  115242
64322   2013Q3  3032.53  115242
64323   2013Q4  2815.77  115242
64324   2014Q1  2479.49  115242
64325   2014Q2  2171.98  115242
64326   2014Q3  1786.76  115242
64327   2014Q4  1607.41  115242
64328   2015Q1  1499.50  115242
64329   2015Q2  1362.73  115242
64330   2015Q3  1243.98  115242
64331   2015Q4  1175.13  115242
64332   2016Q1  1113.74  115242
64333   2016Q2  1133.28  115242
64334   2016Q3  1130.37  115242
64335   2016Q4   993.71  115242
64336   2017Q1   938.08  115242
64337   2017Q2   921.70  115242
64338   2017Q3   884.11  115242
64339   2017Q4   890.14  115242
214480  2013Q1     0.00  140448
214481  2013Q2     0.00  140448
214482  2013Q3     0.00  140448
214483  2013Q4     0.00  140448
214484  2014Q1     0.00  140448
214485  2014Q2     0.00  140448
214486  2014Q3     0.00  140448
214487  2014Q4     0.00  140448
214488  2015Q1     0.00  140448
214489  2015Q2     0.00  140448
214490  2015Q3     0.00  140448
214491  2015Q4     0.00  140448
214492  2016Q1     0.00  140448
214493  2016Q2     0.00  140448
214494  2016Q3     0.00  140448

('Key_aum: ', 140448)
       Quarter   Data      ID
214480  2013Q1   0.00  140448
214481  2013Q2   0.00  140448
214482  2013Q3   0.00  140448
214483  2013Q4   0.00  140448
214484  2014Q1   0.00  140448
214485  2014Q2   0.00  140448
214486  2014Q3   0.00  140448
214487  2014Q4   0.00  140448
214488  2015Q1   0.00  140448
214489  2015Q2   0.00  140448
214490  2015Q3   0.00  140448
214491  2015Q4   0.00  140448
214492  2016Q1   0.00  140448
214493  2016Q2   0.00  140448
214494  2016Q3   0.00  140448
214495  2016Q4   0.00  140448
214496  2017Q1  10.79  140448
214497  2017Q2  45.48  140448
214498  2017Q3  54.14  140448
214499  2017Q4  69.29  140448
('Key_nav : ', 140448)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.0512676 ,  0.06729221,  0.04535465,  0.0499862 ]))
('data 2 :', array([  0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
         0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
        10.79,  45.48,  54.14,  69.29]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,  0.0512676 ,  0.06729221,  0.04535465,  0.0499862 ]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
64320   2013Q1  4411.96  115242
64321   2013Q2  3866.32  115242
64322   2013Q3  3032.53  115242
64323   2013Q4  2815.77  115242
64324   2014Q1  2479.49  115242
64325   2014Q2  2171.98  115242
64326   2014Q3  1786.76  115242
64327   2014Q4  1607.41  115242
64328   2015Q1  1499.50  115242
64329   2015Q2  1362.73  115242
64330   2015Q3  1243.98  115242
64331   2015Q4  1175.13  115242
64332   2016Q1  1113.74  115242
64333   2016Q2  1133.28  115242
64334   2016Q3  1130.37  115242
64335   2016Q4   993.71  115242
64336   2017Q1   938.08  115242
64337   2017Q2   921.70  115242
64338   2017Q3   884.11  115242
64339   2017Q4   890.14  115242
214480  2013Q1     0.00  140448
214481  2013Q2     0.00  140448
214482  2013Q3     0.00  140448
214483  2013Q4     0.00  140448
214484  2014Q1     0.00  140448
214485  2014Q2     0.00  140448
214486  2014Q3     0.00  140448
214487  2014Q4     0.00  140448
214488  2015Q1     0.00  140448
214489  2015Q2     0.00  140448
214490  2015Q3     0.00  140448
214491  2015Q4     0.00  140448
214492  2016Q1     0.00  140448
214493  2016Q2     0.00  140448
214494  2016Q3     0.00  140448
214495  2016Q4     0.00  140448
214496  2017Q1    10.79  140448
214497  2017Q2    45.48  140448
214498  2017Q3    54.14  140448
214499  2017Q4    69.29  140448>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
140  2013Q1 -0.020873  115242
141  2013Q2 -0.030079  115242
142  2013Q3  0.013018  115242
143  2013Q4  0.043188  115242
144  2014Q1  0.005898  115242
145  2014Q2  0.066140  115242
146  2014Q3 -0.010326  115242
147  2014Q4  0.009540  115242
148  2015Q1  0.035755  115242
149  2015Q2 -0.028152  115242
150  2015Q3 -0.010687  115242
151  2015Q4 -0.025514  115242
152  2016Q1 -0.027200  115242
153  2016Q2  0.052761  115242
154  2016Q3  0.056703  115242
155  2016Q4 -0.081777  115242
156  2017Q1 -0.021390  115242
157  2017Q2  0.012434  115242
158  2017Q3 -0.008946  115242
159  2017Q4  0.024356  115242
480  2013Q1  0.000000  140448
481  2013Q2  0.000000  140448
482  2013Q3  0.000000  140448
483  2013Q4  0.000000  140448
484  2014Q1  0.000000  140448
485  2014Q2  0.000000  140448
486  2014Q3  0.000000  140448
487  2014Q4  0.000000  140448
488  2015Q1  0.000000  140448
489  2015Q2  0.000000  140448
490  2015Q3  0.000000  140448
491  2015Q4  0.000000  140448
492  2016Q1  0.000000  140448
493  2016Q2  0.000000  140448
494  2016Q3  0.000000  140448
495  2016Q4  0.000000  140448
496  2017Q1  0.051268  140448
497  2017Q2  0.067292  140448
498  2017Q3  0.045355  140448
499  2017Q4  0.049986  140448>)
('Key_aum: ', 115242)
      Quarter     Data      ID
64320  2013Q1  4411.96  115242
64321  2013Q2  3866.32  115242
64322  2013Q3  3032.53  115242
64323  2013Q4  2815.77  115242
64324  2014Q1  2479.49  115242
64325  2014Q2  2171.98  115242
64326  2014Q3  1786.76  115242
64327  2014Q4  1607.41  115242
64328  2015Q1  1499.50  115242
64329  2015Q2  1362.73  115242
64330  2015Q3  1243.98  115242
64331  2015Q4  1175.13  115242
64332  2016Q1  1113.74  115242
64333  2016Q2  1133.28  115242
64334  2016Q3  1130.37  115242
64335  2016Q4   993.71  115242
64336  2017Q1   938.08  115242
64337  2017Q2   921.70  115242
64338  2017Q3   884.11  115242
64339  2017Q4   890.14  115242
('Key_nav : ', 115242)
('data 1 : ', array([-0.02087324, -0.03007911,  0.01301804,  0.04318813,  0.00589791,
        0.0661405 , -0.01032552,  0.00953997,  0.03575453, -0.02815175,
       -0.01068705, -0.02551446, -0.02719984,  0.05276085,  0.05670314,
       -0.08177687, -0.02138971,  0.01243369, -0.00894604,  0.0243556 ]))
('data 2 :', array([ 4411.96,  3866.32,  3032.53,  2815.77,  2479.49,  2171.98,
        1786.76,  1607.41,  1499.5 ,  1362.73,  1243.98,  1175.13,
        1113.74,  1133.28,  1130.37,   993.71,   938.08,   921.7 ,
         884.11,   890.14]))
('Key_aum: ', 140448)
       Quarter   Data      ID
214480  2013Q1   0.00  140448
214481  2013Q2   0.00  140448
214482  2013Q3   0.00  140448
214483  2013Q4   0.00  140448
214484  2014Q1   0.00  140448
214485  2014Q2   0.00  140448
214486  2014Q3   0.00  140448
214487  2014Q4   0.00  140448
214488  2015Q1   0.00  140448
214489  2015Q2   0.00  140448
214490  2015Q3   0.00  140448
214491  2015Q4   0.00  140448
214492  2016Q1   0.00  140448
214493  2016Q2   0.00  140448
214494  2016Q3   0.00  140448
214495  2016Q4   0.00  140448
214496  2017Q1  10.79  140448
214497  2017Q2  45.48  140448
214498  2017Q3  54.14  140448
214499  2017Q4  69.29  140448
('Key_nav : ', 140448)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.0512676 ,  0.06729221,  0.04535465,  0.0499862 ]))
('data 2 :', array([  0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
         0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
        10.79,  45.48,  54.14,  69.29]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,  0.0512676 ,  0.06729221,  0.04535465,  0.0499862 ]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
64320   2013Q1  4411.96  115242
64321   2013Q2  3866.32  115242
64322   2013Q3  3032.53  115242
64323   2013Q4  2815.77  115242
64324   2014Q1  2479.49  115242
64325   2014Q2  2171.98  115242
64326   2014Q3  1786.76  115242
64327   2014Q4  1607.41  115242
64328   2015Q1  1499.50  115242
64329   2015Q2  1362.73  115242
64330   2015Q3  1243.98  115242
64331   2015Q4  1175.13  115242
64332   2016Q1  1113.74  115242
64333   2016Q2  1133.28  115242
64334   2016Q3  1130.37  115242
64335   2016Q4   993.71  115242
64336   2017Q1   938.08  115242
64337   2017Q2   921.70  115242
64338   2017Q3   884.11  115242
64339   2017Q4   890.14  115242
214480  2013Q1     0.00  140448
214481  2013Q2     0.00  140448
214482  2013Q3     0.00  140448
214483  2013Q4     0.00  140448
214484  2014Q1     0.00  140448
214485  2014Q2     0.00  140448
214486  2014Q3     0.00  140448
214487  2014Q4     0.00  140448
214488  2015Q1     0.00  140448
214489  2015Q2     0.00  140448
214490  2015Q3     0.00  140448
214491  2015Q4     0.00  140448
214492  2016Q1     0.00  140448
214493  2016Q2     0.00  140448
214494  2016Q3     0.00  140448
214495  2016Q4     0.00  140448
214496  2017Q1    10.79  140448
214497  2017Q2    45.48  140448
214498  2017Q3    54.14  140448
214499  2017Q4    69.29  140448>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
140  2013Q1 -0.020873  115242
141  2013Q2 -0.030079  115242
142  2013Q3  0.013018  115242
143  2013Q4  0.043188  115242
144  2014Q1  0.005898  115242
145  2014Q2  0.066140  115242
146  2014Q3 -0.010326  115242
147  2014Q4  0.009540  115242
148  2015Q1  0.035755  115242
149  2015Q2 -0.028152  115242
150  2015Q3 -0.010687  115242
151  2015Q4 -0.025514  115242
152  2016Q1 -0.027200  115242
153  2016Q2  0.052761  115242
154  2016Q3  0.056703  115242
155  2016Q4 -0.081777  115242
156  2017Q1 -0.021390  115242
157  2017Q2  0.012434  115242
158  2017Q3 -0.008946  115242
159  2017Q4  0.024356  115242
480  2013Q1  0.000000  140448
481  2013Q2  0.000000  140448
482  2013Q3  0.000000  140448
483  2013Q4  0.000000  140448
484  2014Q1  0.000000  140448
485  2014Q2  0.000000  140448
486  2014Q3  0.000000  140448
487  2014Q4  0.000000  140448
488  2015Q1  0.000000  140448
489  2015Q2  0.000000  140448
490  2015Q3  0.000000  140448
491  2015Q4  0.000000  140448
492  2016Q1  0.000000  140448
493  2016Q2  0.000000  140448
494  2016Q3  0.000000  140448
495  2016Q4  0.000000  140448
496  2017Q1  0.051268  140448
497  2017Q2  0.067292  140448
498  2017Q3  0.045355  140448
499  2017Q4  0.049986  140448>)
('Key_aum: ', 115242)
      Quarter     Data      ID
64320  2013Q1  4411.96  115242
64321  2013Q2  3866.32  115242
64322  2013Q3  3032.53  115242
64323  2013Q4  2815.77  115242
64324  2014Q1  2479.49  115242
64325  2014Q2  2171.98  115242
64326  2014Q3  1786.76  115242
64327  2014Q4  1607.41  115242
64328  2015Q1  1499.50  115242
64329  2015Q2  1362.73  115242
64330  2015Q3  1243.98  115242
64331  2015Q4  1175.13  115242
64332  2016Q1  1113.74  115242
64333  2016Q2  1133.28  115242
64334  2016Q3  1130.37  115242
64335  2016Q4   993.71  115242
64336  2017Q1   938.08  115242
64337  2017Q2   921.70  115242
64338  2017Q3   884.11  115242
64339  2017Q4   890.14  115242
('Key_nav : ', 115242)
('data 1 : ', array([-0.02087324, -0.03007911,  0.01301804,  0.04318813,  0.00589791,
        0.0661405 , -0.01032552,  0.00953997,  0.03575453, -0.02815175,
       -0.01068705, -0.02551446, -0.02719984,  0.05276085,  0.05670314,
       -0.08177687, -0.02138971,  0.01243369, -0.00894604,  0.0243556 ]))
('data 2 :', array([ 4411.96,  3866.32,  3032.53,  2815.77,  2479.49,  2171.98,
        1786.76,  1607.41,  1499.5 ,  1362.73,  1243.98,  1175.13,
        1113.74,  1133.28,  1130.37,   993.71,   938.08,   921.7 ,
         884.11,   890.14]))
('Key_aum: ', 140448)
       Quarter   Data      ID
214480  2013Q1   0.00  140448
214481  2013Q2   0.00  140448
214482  2013Q3   0.00  140448
214483  2013Q4   0.00  140448
214484  2014Q1   0.00  140448
214485  2014Q2   0.00  140448
214486  2014Q3   0.00  140448
214487  2014Q4   0.00  140448
214488  2015Q1   0.00  140448
214489  2015Q2   0.00  140448
214490  2015Q3   0.00  140448
214491  2015Q4   0.00  140448
214492  2016Q1   0.00  140448
214493  2016Q2   0.00  140448
214494  2016Q3   0.00  140448
214495  2016Q4   0.00  140448
214496  2017Q1  10.79  140448
214497  2017Q2  45.48  140448
214498  2017Q3  54.14  140448
214499  2017Q4  69.29  140448
('Key_nav : ', 140448)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.0512676 ,  0.06729221,  0.04535465,  0.0499862 ]))
('data 2 :', array([  0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
         0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
        10.79,  45.48,  54.14,  69.29]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,  0.0512676 ,  0.06729221,  0.04535465,  0.0499862 ]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
64320   2013Q1  4411.96  115242
64321   2013Q2  3866.32  115242
64322   2013Q3  3032.53  115242
64323   2013Q4  2815.77  115242
64324   2014Q1  2479.49  115242
64325   2014Q2  2171.98  115242
64326   2014Q3  1786.76  115242
64327   2014Q4  1607.41  115242
64328   2015Q1  1499.50  115242
64329   2015Q2  1362.73  115242
64330   2015Q3  1243.98  115242
64331   2015Q4  1175.13  115242
64332   2016Q1  1113.74  115242
64333   2016Q2  1133.28  115242
64334   2016Q3  1130.37  115242
64335   2016Q4   993.71  115242
64336   2017Q1   938.08  115242
64337   2017Q2   921.70  115242
64338   2017Q3   884.11  115242
64339   2017Q4   890.14  115242
214480  2013Q1     0.00  140448
214481  2013Q2     0.00  140448
214482  2013Q3     0.00  140448
214483  2013Q4     0.00  140448
214484  2014Q1     0.00  140448
214485  2014Q2     0.00  140448
214486  2014Q3     0.00  140448
214487  2014Q4     0.00  140448
214488  2015Q1     0.00  140448
214489  2015Q2     0.00  140448
214490  2015Q3     0.00  140448
214491  2015Q4     0.00  140448
214492  2016Q1     0.00  140448
214493  2016Q2     0.00  140448
214494  2016Q3     0.00  140448
214495  2016Q4     0.00  140448
214496  2017Q1    10.79  140448
214497  2017Q2    45.48  140448
214498  2017Q3    54.14  140448
214499  2017Q4    69.29  140448>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
140  2013Q1 -0.020873  115242
141  2013Q2 -0.030079  115242
142  2013Q3  0.013018  115242
143  2013Q4  0.043188  115242
144  2014Q1  0.005898  115242
145  2014Q2  0.066140  115242
146  2014Q3 -0.010326  115242
147  2014Q4  0.009540  115242
148  2015Q1  0.035755  115242
149  2015Q2 -0.028152  115242
150  2015Q3 -0.010687  115242
151  2015Q4 -0.025514  115242
152  2016Q1 -0.027200  115242
153  2016Q2  0.052761  115242
154  2016Q3  0.056703  115242
155  2016Q4 -0.081777  115242
156  2017Q1 -0.021390  115242
157  2017Q2  0.012434  115242
158  2017Q3 -0.008946  115242
159  2017Q4  0.024356  115242
480  2013Q1  0.000000  140448
481  2013Q2  0.000000  140448
482  2013Q3  0.000000  140448
483  2013Q4  0.000000  140448
484  2014Q1  0.000000  140448
485  2014Q2  0.000000  140448
486  2014Q3  0.000000  140448
487  2014Q4  0.000000  140448
488  2015Q1  0.000000  140448
489  2015Q2  0.000000  140448
490  2015Q3  0.000000  140448
491  2015Q4  0.000000  140448
492  2016Q1  0.000000  140448
493  2016Q2  0.000000  140448
494  2016Q3  0.000000  140448
495  2016Q4  0.000000  140448
496  2017Q1  0.051268  140448
497  2017Q2  0.067292  140448
498  2017Q3  0.045355  140448
499  2017Q4  0.049986  140448>)
('Key_aum: ', 115242)
      Quarter     Data      ID
64320  2013Q1  4411.96  115242
64321  2013Q2  3866.32  115242
64322  2013Q3  3032.53  115242
64323  2013Q4  2815.77  115242
64324  2014Q1  2479.49  115242
64325  2014Q2  2171.98  115242
64326  2014Q3  1786.76  115242
64327  2014Q4  1607.41  115242
64328  2015Q1  1499.50  115242
64329  2015Q2  1362.73  115242
64330  2015Q3  1243.98  115242
64331  2015Q4  1175.13  115242
64332  2016Q1  1113.74  115242
64333  2016Q2  1133.28  115242
64334  2016Q3  1130.37  115242
64335  2016Q4   993.71  115242
64336  2017Q1   938.08  115242
64337  2017Q2   921.70  115242
64338  2017Q3   884.11  115242
64339  2017Q4   890.14  115242
('Key_nav : ', 115242)
('data 1 : ', array([-0.02087324, -0.03007911,  0.01301804,  0.04318813,  0.00589791,
        0.0661405 , -0.01032552,  0.00953997,  0.03575453, -0.02815175,
       -0.01068705, -0.02551446, -0.02719984,  0.05276085,  0.05670314,
       -0.08177687, -0.02138971,  0.01243369, -0.00894604,  0.0243556 ]))
('data 2 :', array([ 4411.96,  3866.32,  3032.53,  2815.77,  2479.49,  2171.98,
        1786.76,  1607.41,  1499.5 ,  1362.73,  1243.98,  1175.13,
        1113.74,  1133.28,  1130.37,   993.71,   938.08,   921.7 ,
         884.11,   890.14]))
('Key_aum: ', 140448)
       Quarter   Data      ID
214480  2013Q1   0.00  140448
214481  2013Q2   0.00  140448
214482  2013Q3   0.00  140448
214483  2013Q4   0.00  140448
214484  2014Q1   0.00  140448
214485  2014Q2   0.00  140448
214486  2014Q3   0.00  140448
214487  2014Q4   0.00  140448
214488  2015Q1   0.00  140448
214489  2015Q2   0.00  140448
214490  2015Q3   0.00  140448
214491  2015Q4   0.00  140448
214492  2016Q1   0.00  140448
214493  2016Q2   0.00  140448
214494  2016Q3   0.00  140448
214495  2016Q4   0.00  140448
214496  2017Q1  10.79  140448
214497  2017Q2  45.48  140448
214498  2017Q3  54.14  140448
214499  2017Q4  69.29  140448
('Key_nav : ', 140448)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.0512676 ,  0.06729221,  0.04535465,  0.0499862 ]))
('data 2 :', array([  0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
         0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
        10.79,  45.48,  54.14,  69.29]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,  0.0512676 ,  0.06729221,  0.04535465,  0.0499862 ]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
64320   2013Q1  4411.96  115242
64321   2013Q2  3866.32  115242
64322   2013Q3  3032.53  115242
64323   2013Q4  2815.77  115242
64324   2014Q1  2479.49  115242
64325   2014Q2  2171.98  115242
64326   2014Q3  1786.76  115242
64327   2014Q4  1607.41  115242
64328   2015Q1  1499.50  115242
64329   2015Q2  1362.73  115242
64330   2015Q3  1243.98  115242
64331   2015Q4  1175.13  115242
64332   2016Q1  1113.74  115242
64333   2016Q2  1133.28  115242
64334   2016Q3  1130.37  115242
64335   2016Q4   993.71  115242
64336   2017Q1   938.08  115242
64337   2017Q2   921.70  115242
64338   2017Q3   884.11  115242
64339   2017Q4   890.14  115242
214480  2013Q1     0.00  140448
214481  2013Q2     0.00  140448
214482  2013Q3     0.00  140448
214483  2013Q4     0.00  140448
214484  2014Q1     0.00  140448
214485  2014Q2     0.00  140448
214486  2014Q3     0.00  140448
214487  2014Q4     0.00  140448
214488  2015Q1     0.00  140448
214489  2015Q2     0.00  140448
214490  2015Q3     0.00  140448
214491  2015Q4     0.00  140448
214492  2016Q1     0.00  140448
214493  2016Q2     0.00  140448
214494  2016Q3     0.00  140448
214495  2016Q4     0.00  140448
214496  2017Q1    10.79  140448
214497  2017Q2    45.48  140448
214498  2017Q3    54.14  140448
214499  2017Q4    69.29  140448>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
140  2013Q1 -0.020873  115242
141  2013Q2 -0.030079  115242
142  2013Q3  0.013018  115242
143  2013Q4  0.043188  115242
144  2014Q1  0.005898  115242
145  2014Q2  0.066140  115242
146  2014Q3 -0.010326  115242
147  2014Q4  0.009540  115242
148  2015Q1  0.035755  115242
149  2015Q2 -0.028152  115242
150  2015Q3 -0.010687  115242
151  2015Q4 -0.025514  115242
152  2016Q1 -0.027200  115242
153  2016Q2  0.052761  115242
154  2016Q3  0.056703  115242
155  2016Q4 -0.081777  115242
156  2017Q1 -0.021390  115242
157  2017Q2  0.012434  115242
158  2017Q3 -0.008946  115242
159  2017Q4  0.024356  115242
480  2013Q1  0.000000  140448
481  2013Q2  0.000000  140448
482  2013Q3  0.000000  140448
483  2013Q4  0.000000  140448
484  2014Q1  0.000000  140448
485  2014Q2  0.000000  140448
486  2014Q3  0.000000  140448
487  2014Q4  0.000000  140448
488  2015Q1  0.000000  140448
489  2015Q2  0.000000  140448
490  2015Q3  0.000000  140448
491  2015Q4  0.000000  140448
492  2016Q1  0.000000  140448

('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,  0.0512676 ,  0.06729221,  0.04535465,  0.0499862 ]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
64320   2013Q1  4411.96  115242
64321   2013Q2  3866.32  115242
64322   2013Q3  3032.53  115242
64323   2013Q4  2815.77  115242
64324   2014Q1  2479.49  115242
64325   2014Q2  2171.98  115242
64326   2014Q3  1786.76  115242
64327   2014Q4  1607.41  115242
64328   2015Q1  1499.50  115242
64329   2015Q2  1362.73  115242
64330   2015Q3  1243.98  115242
64331   2015Q4  1175.13  115242
64332   2016Q1  1113.74  115242
64333   2016Q2  1133.28  115242
64334   2016Q3  1130.37  115242
64335   2016Q4   993.71  115242
64336   2017Q1   938.08  115242
64337   2017Q2   921.70  115242
64338   2017Q3   884.11  115242
64339   2017Q4   890.14  115242
214480  2013Q1     0.00  140448
214481  2013Q2     0.00  140448
214482  2013Q3     0.00  140448
214483  2013Q4     0.00  140448
214484  2014Q1     0.00  140448
214485  2014Q2     0.00  140448
214486  2014Q3     0.00  140448
214487  2014Q4     0.00  140448
214488  2015Q1     0.00  140448
214489  2015Q2     0.00  140448
214490  2015Q3     0.00  140448
214491  2015Q4     0.00  140448
214492  2016Q1     0.00  140448
214493  2016Q2     0.00  140448
214494  2016Q3     0.00  140448
214495  2016Q4     0.00  140448
214496  2017Q1    10.79  140448
214497  2017Q2    45.48  140448
214498  2017Q3    54.14  140448
214499  2017Q4    69.29  140448>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
140  2013Q1 -0.020873  115242
141  2013Q2 -0.030079  115242
142  2013Q3  0.013018  115242
143  2013Q4  0.043188  115242
144  2014Q1  0.005898  115242
145  2014Q2  0.066140  115242
146  2014Q3 -0.010326  115242
147  2014Q4  0.009540  115242
148  2015Q1  0.035755  115242
149  2015Q2 -0.028152  115242
150  2015Q3 -0.010687  115242
151  2015Q4 -0.025514  115242
152  2016Q1 -0.027200  115242
153  2016Q2  0.052761  115242
154  2016Q3  0.056703  115242
155  2016Q4 -0.081777  115242
156  2017Q1 -0.021390  115242
157  2017Q2  0.012434  115242
158  2017Q3 -0.008946  115242
159  2017Q4  0.024356  115242
480  2013Q1  0.000000  140448
481  2013Q2  0.000000  140448
482  2013Q3  0.000000  140448
483  2013Q4  0.000000  140448
484  2014Q1  0.000000  140448
485  2014Q2  0.000000  140448
486  2014Q3  0.000000  140448
487  2014Q4  0.000000  140448
488  2015Q1  0.000000  140448
489  2015Q2  0.000000  140448
490  2015Q3  0.000000  140448
491  2015Q4  0.000000  140448
492  2016Q1  0.000000  140448
493  2016Q2  0.000000  140448
494  2016Q3  0.000000  140448
495  2016Q4  0.000000  140448
496  2017Q1  0.051268  140448
497  2017Q2  0.067292  140448
498  2017Q3  0.045355  140448
499  2017Q4  0.049986  140448>)
('Key_aum: ', 115242)
      Quarter     Data      ID
64320  2013Q1  4411.96  115242
64321  2013Q2  3866.32  115242
64322  2013Q3  3032.53  115242
64323  2013Q4  2815.77  115242
64324  2014Q1  2479.49  115242
64325  2014Q2  2171.98  115242
64326  2014Q3  1786.76  115242
64327  2014Q4  1607.41  115242
64328  2015Q1  1499.50  115242
64329  2015Q2  1362.73  115242
64330  2015Q3  1243.98  115242
64331  2015Q4  1175.13  115242
64332  2016Q1  1113.74  115242
64333  2016Q2  1133.28  115242
64334  2016Q3  1130.37  115242
64335  2016Q4   993.71  115242
64336  2017Q1   938.08  115242
64337  2017Q2   921.70  115242
64338  2017Q3   884.11  115242
64339  2017Q4   890.14  115242
('Key_nav : ', 115242)
('data 1 : ', array([-0.02087324, -0.03007911,  0.01301804,  0.04318813,  0.00589791,
        0.0661405 , -0.01032552,  0.00953997,  0.03575453, -0.02815175,
       -0.01068705, -0.02551446, -0.02719984,  0.05276085,  0.05670314,
       -0.08177687, -0.02138971,  0.01243369, -0.00894604,  0.0243556 ]))
('data 2 :', array([ 4411.96,  3866.32,  3032.53,  2815.77,  2479.49,  2171.98,
        1786.76,  1607.41,  1499.5 ,  1362.73,  1243.98,  1175.13,
        1113.74,  1133.28,  1130.37,   993.71,   938.08,   921.7 ,
         884.11,   890.14]))
('Key_aum: ', 140448)
       Quarter   Data      ID
214480  2013Q1   0.00  140448
214481  2013Q2   0.00  140448
214482  2013Q3   0.00  140448
214483  2013Q4   0.00  140448
214484  2014Q1   0.00  140448
214485  2014Q2   0.00  140448
214486  2014Q3   0.00  140448
214487  2014Q4   0.00  140448
214488  2015Q1   0.00  140448
214489  2015Q2   0.00  140448
214490  2015Q3   0.00  140448
214491  2015Q4   0.00  140448
214492  2016Q1   0.00  140448
214493  2016Q2   0.00  140448
214494  2016Q3   0.00  140448
214495  2016Q4   0.00  140448
214496  2017Q1  10.79  140448
214497  2017Q2  45.48  140448
214498  2017Q3  54.14  140448
214499  2017Q4  69.29  140448
('Key_nav : ', 140448)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.0512676 ,  0.06729221,  0.04535465,  0.0499862 ]))
('data 2 :', array([  0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
         0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
        10.79,  45.48,  54.14,  69.29]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,  0.0512676 ,  0.06729221,  0.04535465,  0.0499862 ]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
64320   2013Q1  4411.96  115242
64321   2013Q2  3866.32  115242
64322   2013Q3  3032.53  115242
64323   2013Q4  2815.77  115242
64324   2014Q1  2479.49  115242
64325   2014Q2  2171.98  115242
64326   2014Q3  1786.76  115242
64327   2014Q4  1607.41  115242
64328   2015Q1  1499.50  115242
64329   2015Q2  1362.73  115242
64330   2015Q3  1243.98  115242
64331   2015Q4  1175.13  115242
64332   2016Q1  1113.74  115242
64333   2016Q2  1133.28  115242
64334   2016Q3  1130.37  115242
64335   2016Q4   993.71  115242
64336   2017Q1   938.08  115242
64337   2017Q2   921.70  115242
64338   2017Q3   884.11  115242
64339   2017Q4   890.14  115242
214480  2013Q1     0.00  140448
214481  2013Q2     0.00  140448
214482  2013Q3     0.00  140448
214483  2013Q4     0.00  140448
214484  2014Q1     0.00  140448
214485  2014Q2     0.00  140448
214486  2014Q3     0.00  140448
214487  2014Q4     0.00  140448
214488  2015Q1     0.00  140448
214489  2015Q2     0.00  140448
214490  2015Q3     0.00  140448
214491  2015Q4     0.00  140448
214492  2016Q1     0.00  140448
214493  2016Q2     0.00  140448
214494  2016Q3     0.00  140448
214495  2016Q4     0.00  140448
214496  2017Q1    10.79  140448
214497  2017Q2    45.48  140448
214498  2017Q3    54.14  140448
214499  2017Q4    69.29  140448>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
140  2013Q1 -0.020873  115242
141  2013Q2 -0.030079  115242
142  2013Q3  0.013018  115242
143  2013Q4  0.043188  115242
144  2014Q1  0.005898  115242
145  2014Q2  0.066140  115242
146  2014Q3 -0.010326  115242
147  2014Q4  0.009540  115242
148  2015Q1  0.035755  115242
149  2015Q2 -0.028152  115242
150  2015Q3 -0.010687  115242
151  2015Q4 -0.025514  115242
152  2016Q1 -0.027200  115242
153  2016Q2  0.052761  115242
154  2016Q3  0.056703  115242
155  2016Q4 -0.081777  115242
156  2017Q1 -0.021390  115242
157  2017Q2  0.012434  115242
158  2017Q3 -0.008946  115242
159  2017Q4  0.024356  115242
480  2013Q1  0.000000  140448
481  2013Q2  0.000000  140448
482  2013Q3  0.000000  140448
483  2013Q4  0.000000  140448
484  2014Q1  0.000000  140448
485  2014Q2  0.000000  140448
486  2014Q3  0.000000  140448
487  2014Q4  0.000000  140448
488  2015Q1  0.000000  140448
489  2015Q2  0.000000  140448
490  2015Q3  0.000000  140448
491  2015Q4  0.000000  140448
492  2016Q1  0.000000  140448
493  2016Q2  0.000000  140448
494  2016Q3  0.000000  140448
495  2016Q4  0.000000  140448
496  2017Q1  0.051268  140448
497  2017Q2  0.067292  140448
498  2017Q3  0.045355  140448
499  2017Q4  0.049986  140448>)
('Key_aum: ', 115242)
      Quarter     Data      ID
64320  2013Q1  4411.96  115242
64321  2013Q2  3866.32  115242
64322  2013Q3  3032.53  115242
64323  2013Q4  2815.77  115242
64324  2014Q1  2479.49  115242
64325  2014Q2  2171.98  115242
64326  2014Q3  1786.76  115242
64327  2014Q4  1607.41  115242
64328  2015Q1  1499.50  115242
64329  2015Q2  1362.73  115242
64330  2015Q3  1243.98  115242
64331  2015Q4  1175.13  115242
64332  2016Q1  1113.74  115242
64333  2016Q2  1133.28  115242
64334  2016Q3  1130.37  115242
64335  2016Q4   993.71  115242
64336  2017Q1   938.08  115242
64337  2017Q2   921.70  115242
64338  2017Q3   884.11  115242
64339  2017Q4   890.14  115242
('Key_nav : ', 115242)
('data 1 : ', array([-0.02087324, -0.03007911,  0.01301804,  0.04318813,  0.00589791,
        0.0661405 , -0.01032552,  0.00953997,  0.03575453, -0.02815175,
       -0.01068705, -0.02551446, -0.02719984,  0.05276085,  0.05670314,
       -0.08177687, -0.02138971,  0.01243369, -0.00894604,  0.0243556 ]))
('data 2 :', array([ 4411.96,  3866.32,  3032.53,  2815.77,  2479.49,  2171.98,
        1786.76,  1607.41,  1499.5 ,  1362.73,  1243.98,  1175.13,
        1113.74,  1133.28,  1130.37,   993.71,   938.08,   921.7 ,
         884.11,   890.14]))
('Key_aum: ', 140448)
       Quarter   Data      ID
214480  2013Q1   0.00  140448
214481  2013Q2   0.00  140448
214482  2013Q3   0.00  140448
214483  2013Q4   0.00  140448
214484  2014Q1   0.00  140448
214485  2014Q2   0.00  140448
214486  2014Q3   0.00  140448
214487  2014Q4   0.00  140448
214488  2015Q1   0.00  140448
214489  2015Q2   0.00  140448
214490  2015Q3   0.00  140448
214491  2015Q4   0.00  140448
214492  2016Q1   0.00  140448
214493  2016Q2   0.00  140448
214494  2016Q3   0.00  140448
214495  2016Q4   0.00  140448
214496  2017Q1  10.79  140448
214497  2017Q2  45.48  140448
214498  2017Q3  54.14  140448
214499  2017Q4  69.29  140448
('Key_nav : ', 140448)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.0512676 ,  0.06729221,  0.04535465,  0.0499862 ]))
('data 2 :', array([  0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
         0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
        10.79,  45.48,  54.14,  69.29]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,  0.0512676 ,  0.06729221,  0.04535465,  0.0499862 ]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
64320   2013Q1  4411.96  115242
64321   2013Q2  3866.32  115242
64322   2013Q3  3032.53  115242
64323   2013Q4  2815.77  115242
64324   2014Q1  2479.49  115242
64325   2014Q2  2171.98  115242
64326   2014Q3  1786.76  115242
64327   2014Q4  1607.41  115242
64328   2015Q1  1499.50  115242
64329   2015Q2  1362.73  115242
64330   2015Q3  1243.98  115242
64331   2015Q4  1175.13  115242
64332   2016Q1  1113.74  115242
64333   2016Q2  1133.28  115242
64334   2016Q3  1130.37  115242
64335   2016Q4   993.71  115242
64336   2017Q1   938.08  115242
64337   2017Q2   921.70  115242
64338   2017Q3   884.11  115242
64339   2017Q4   890.14  115242
214480  2013Q1     0.00  140448
214481  2013Q2     0.00  140448
214482  2013Q3     0.00  140448
214483  2013Q4     0.00  140448
214484  2014Q1     0.00  140448
214485  2014Q2     0.00  140448
214486  2014Q3     0.00  140448
214487  2014Q4     0.00  140448
214488  2015Q1     0.00  140448
214489  2015Q2     0.00  140448
214490  2015Q3     0.00  140448
214491  2015Q4     0.00  140448
214492  2016Q1     0.00  140448
214493  2016Q2     0.00  140448
214494  2016Q3     0.00  140448
214495  2016Q4     0.00  140448
214496  2017Q1    10.79  140448
214497  2017Q2    45.48  140448
214498  2017Q3    54.14  140448
214499  2017Q4    69.29  140448>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
140  2013Q1 -0.020873  115242
141  2013Q2 -0.030079  115242
142  2013Q3  0.013018  115242
143  2013Q4  0.043188  115242
144  2014Q1  0.005898  115242
145  2014Q2  0.066140  115242
146  2014Q3 -0.010326  115242
147  2014Q4  0.009540  115242
148  2015Q1  0.035755  115242
149  2015Q2 -0.028152  115242
150  2015Q3 -0.010687  115242
151  2015Q4 -0.025514  115242
152  2016Q1 -0.027200  115242
153  2016Q2  0.052761  115242
154  2016Q3  0.056703  115242
155  2016Q4 -0.081777  115242
156  2017Q1 -0.021390  115242
157  2017Q2  0.012434  115242
158  2017Q3 -0.008946  115242
159  2017Q4  0.024356  115242
480  2013Q1  0.000000  140448
481  2013Q2  0.000000  140448
482  2013Q3  0.000000  140448
483  2013Q4  0.000000  140448
484  2014Q1  0.000000  140448
485  2014Q2  0.000000  140448
486  2014Q3  0.000000  140448
487  2014Q4  0.000000  140448
488  2015Q1  0.000000  140448
489  2015Q2  0.000000  140448
490  2015Q3  0.000000  140448
491  2015Q4  0.000000  140448
492  2016Q1  0.000000  140448
493  2016Q2  0.000000  140448
494  2016Q3  0.000000  140448
495  2016Q4  0.000000  140448
496  2017Q1  0.051268  140448
497  2017Q2  0.067292  140448
498  2017Q3  0.045355  140448
499  2017Q4  0.049986  140448>)
('Key_aum: ', 115242)
      Quarter     Data      ID
64320  2013Q1  4411.96  115242
64321  2013Q2  3866.32  115242
64322  2013Q3  3032.53  115242
64323  2013Q4  2815.77  115242
64324  2014Q1  2479.49  115242
64325  2014Q2  2171.98  115242
64326  2014Q3  1786.76  115242
64327  2014Q4  1607.41  115242
64328  2015Q1  1499.50  115242
64329  2015Q2  1362.73  115242
64330  2015Q3  1243.98  115242
64331  2015Q4  1175.13  115242
64332  2016Q1  1113.74  115242
64333  2016Q2  1133.28  115242
64334  2016Q3  1130.37  115242
64335  2016Q4   993.71  115242
64336  2017Q1   938.08  115242
64337  2017Q2   921.70  115242
64338  2017Q3   884.11  115242
64339  2017Q4   890.14  115242
('Key_nav : ', 115242)
('data 1 : ', array([-0.02087324, -0.03007911,  0.01301804,  0.04318813,  0.00589791,
        0.0661405 , -0.01032552,  0.00953997,  0.03575453, -0.02815175,
       -0.01068705, -0.02551446, -0.02719984,  0.05276085,  0.05670314,
       -0.08177687, -0.02138971,  0.01243369, -0.00894604,  0.0243556 ]))
('data 2 :', array([ 4411.96,  3866.32,  3032.53,  2815.77,  2479.49,  2171.98,
        1786.76,  1607.41,  1499.5 ,  1362.73,  1243.98,  1175.13,
        1113.74,  1133.28,  1130.37,   993.71,   938.08,   921.7 ,
         884.11,   890.14]))
('Key_aum: ', 140448)
       Quarter   Data      ID
214480  2013Q1   0.00  140448
214481  2013Q2   0.00  140448
214482  2013Q3   0.00  140448
214483  2013Q4   0.00  140448
214484  2014Q1   0.00  140448
214485  2014Q2   0.00  140448
214486  2014Q3   0.00  140448
214487  2014Q4   0.00  140448
214488  2015Q1   0.00  140448
214489  2015Q2   0.00  140448
214490  2015Q3   0.00  140448
214491  2015Q4   0.00  140448
214492  2016Q1   0.00  140448
214493  2016Q2   0.00  140448
214494  2016Q3   0.00  140448
214495  2016Q4   0.00  140448
214496  2017Q1  10.79  140448
214497  2017Q2  45.48  140448
214498  2017Q3  54.14  140448
214499  2017Q4  69.29  140448
('Key_nav : ', 140448)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.0512676 ,  0.06729221,  0.04535465,  0.0499862 ]))
('data 2 :', array([  0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
         0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
        10.79,  45.48,  54.14,  69.29]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,  0.0512676 ,  0.06729221,  0.04535465,  0.0499862 ]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
64320   2013Q1  4411.96  115242
64321   2013Q2  3866.32  115242
64322   2013Q3  3032.53  115242
64323   2013Q4  2815.77  115242
64324   2014Q1  2479.49  115242
64325   2014Q2  2171.98  115242
64326   2014Q3  1786.76  115242
64327   2014Q4  1607.41  115242
64328   2015Q1  1499.50  115242
64329   2015Q2  1362.73  115242
64330   2015Q3  1243.98  115242
64331   2015Q4  1175.13  115242
64332   2016Q1  1113.74  115242
64333   2016Q2  1133.28  115242
64334   2016Q3  1130.37  115242
64335   2016Q4   993.71  115242
64336   2017Q1   938.08  115242
64337   2017Q2   921.70  115242
64338   2017Q3   884.11  115242
64339   2017Q4   890.14  115242
214480  2013Q1     0.00  140448
214481  2013Q2     0.00  140448
214482  2013Q3     0.00  140448
214483  2013Q4     0.00  140448
214484  2014Q1     0.00  140448
214485  2014Q2     0.00  140448
214486  2014Q3     0.00  140448
214487  2014Q4     0.00  140448
214488  2015Q1     0.00  140448
214489  2015Q2     0.00  140448
214490  2015Q3     0.00  140448
214491  2015Q4     0.00  140448
214492  2016Q1     0.00  140448
214493  2016Q2     0.00  140448
214494  2016Q3     0.00  140448
214495  2016Q4     0.00  140448
214496  2017Q1    10.79  140448
214497  2017Q2    45.48  140448
214498  2017Q3    54.14  140448
214499  2017Q4    69.29  140448>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
140  2013Q1 -0.020873  115242
141  2013Q2 -0.030079  115242
142  2013Q3  0.013018  115242
143  2013Q4  0.043188  115242
144  2014Q1  0.005898  115242
145  2014Q2  0.066140  115242
146  2014Q3 -0.010326  115242
147  2014Q4  0.009540  115242
148  2015Q1  0.035755  115242
149  2015Q2 -0.028152  115242
150  2015Q3 -0.010687  115242
151  2015Q4 -0.025514  115242
152  2016Q1 -0.027200  115242
153  2016Q2  0.052761  115242
154  2016Q3  0.056703  115242
155  2016Q4 -0.081777  115242
156  2017Q1 -0.021390  115242
157  2017Q2  0.012434  115242
158  2017Q3 -0.008946  115242
159  2017Q4  0.024356  115242
480  2013Q1  0.000000  140448
481  2013Q2  0.000000  140448
482  2013Q3  0.000000  140448
483  2013Q4  0.000000  140448
484  2014Q1  0.000000  140448
485  2014Q2  0.000000  140448
486  2014Q3  0.000000  140448
487  2014Q4  0.000000  140448
488  2015Q1  0.000000  140448
489  2015Q2  0.000000  140448
490  2015Q3  0.000000  140448
491  2015Q4  0.000000  140448
492  2016Q1  0.000000  140448
493  2016Q2  0.000000  140448
494  2016Q3  0.000000  140448
495  2016Q4  0.000000  140448
496  2017Q1  0.051268  140448
497  2017Q2  0.067292  140448
498  2017Q3  0.045355  140448
499  2017Q4  0.049986  140448>)
('Key_aum: ', 115242)
      Quarter     Data      ID
64320  2013Q1  4411.96  115242
64321  2013Q2  3866.32  115242
64322  2013Q3  3032.53  115242
64323  2013Q4  2815.77  115242
64324  2014Q1  2479.49  115242
64325  2014Q2  2171.98  115242
64326  2014Q3  1786.76  115242
64327  2014Q4  1607.41  115242
64328  2015Q1  1499.50  115242
64329  2015Q2  1362.73  115242
64330  2015Q3  1243.98  115242
64331  2015Q4  1175.13  115242
64332  2016Q1  1113.74  115242
64333  2016Q2  1133.28  115242
64334  2016Q3  1130.37  115242
64335  2016Q4   993.71  115242
64336  2017Q1   938.08  115242
64337  2017Q2   921.70  115242
64338  2017Q3   884.11  115242
64339  2017Q4   890.14  115242
('Key_nav : ', 115242)
('data 1 : ', array([-0.02087324, -0.03007911,  0.01301804,  0.04318813,  0.00589791,
        0.0661405 , -0.01032552,  0.00953997,  0.03575453, -0.02815175,
       -0.01068705, -0.02551446, -0.02719984,  0.05276085,  0.05670314,

214499  2017Q4    69.29  140448>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
140  2013Q1 -0.020873  115242
141  2013Q2 -0.030079  115242
142  2013Q3  0.013018  115242
143  2013Q4  0.043188  115242
144  2014Q1  0.005898  115242
145  2014Q2  0.066140  115242
146  2014Q3 -0.010326  115242
147  2014Q4  0.009540  115242
148  2015Q1  0.035755  115242
149  2015Q2 -0.028152  115242
150  2015Q3 -0.010687  115242
151  2015Q4 -0.025514  115242
152  2016Q1 -0.027200  115242
153  2016Q2  0.052761  115242
154  2016Q3  0.056703  115242
155  2016Q4 -0.081777  115242
156  2017Q1 -0.021390  115242
157  2017Q2  0.012434  115242
158  2017Q3 -0.008946  115242
159  2017Q4  0.024356  115242
480  2013Q1  0.000000  140448
481  2013Q2  0.000000  140448
482  2013Q3  0.000000  140448
483  2013Q4  0.000000  140448
484  2014Q1  0.000000  140448
485  2014Q2  0.000000  140448
486  2014Q3  0.000000  140448
487  2014Q4  0.000000  140448
488  2015Q1  0.000000  140448
489  2015Q2  0.000000  140448
490  2015Q3  0.000000  140448
491  2015Q4  0.000000  140448
492  2016Q1  0.000000  140448
493  2016Q2  0.000000  140448
494  2016Q3  0.000000  140448
495  2016Q4  0.000000  140448
496  2017Q1  0.051268  140448
497  2017Q2  0.067292  140448
498  2017Q3  0.045355  140448
499  2017Q4  0.049986  140448>)
('Key_aum: ', 115242)
      Quarter     Data      ID
64320  2013Q1  4411.96  115242
64321  2013Q2  3866.32  115242
64322  2013Q3  3032.53  115242
64323  2013Q4  2815.77  115242
64324  2014Q1  2479.49  115242
64325  2014Q2  2171.98  115242
64326  2014Q3  1786.76  115242
64327  2014Q4  1607.41  115242
64328  2015Q1  1499.50  115242
64329  2015Q2  1362.73  115242
64330  2015Q3  1243.98  115242
64331  2015Q4  1175.13  115242
64332  2016Q1  1113.74  115242
64333  2016Q2  1133.28  115242
64334  2016Q3  1130.37  115242
64335  2016Q4   993.71  115242
64336  2017Q1   938.08  115242
64337  2017Q2   921.70  115242
64338  2017Q3   884.11  115242
64339  2017Q4   890.14  115242
('Key_nav : ', 115242)
('data 1 : ', array([-0.02087324, -0.03007911,  0.01301804,  0.04318813,  0.00589791,
        0.0661405 , -0.01032552,  0.00953997,  0.03575453, -0.02815175,
       -0.01068705, -0.02551446, -0.02719984,  0.05276085,  0.05670314,
       -0.08177687, -0.02138971,  0.01243369, -0.00894604,  0.0243556 ]))
('data 2 :', array([ 4411.96,  3866.32,  3032.53,  2815.77,  2479.49,  2171.98,
        1786.76,  1607.41,  1499.5 ,  1362.73,  1243.98,  1175.13,
        1113.74,  1133.28,  1130.37,   993.71,   938.08,   921.7 ,
         884.11,   890.14]))
('Key_aum: ', 140448)
       Quarter   Data      ID
214480  2013Q1   0.00  140448
214481  2013Q2   0.00  140448
214482  2013Q3   0.00  140448
214483  2013Q4   0.00  140448
214484  2014Q1   0.00  140448
214485  2014Q2   0.00  140448
214486  2014Q3   0.00  140448
214487  2014Q4   0.00  140448
214488  2015Q1   0.00  140448
214489  2015Q2   0.00  140448
214490  2015Q3   0.00  140448
214491  2015Q4   0.00  140448
214492  2016Q1   0.00  140448
214493  2016Q2   0.00  140448
214494  2016Q3   0.00  140448
214495  2016Q4   0.00  140448
214496  2017Q1  10.79  140448
214497  2017Q2  45.48  140448
214498  2017Q3  54.14  140448
214499  2017Q4  69.29  140448
('Key_nav : ', 140448)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.0512676 ,  0.06729221,  0.04535465,  0.0499862 ]))
('data 2 :', array([  0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
         0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
        10.79,  45.48,  54.14,  69.29]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,  0.0512676 ,  0.06729221,  0.04535465,  0.0499862 ]))
('aum table :', <bound method DataFrame.head of        Quarter     Data      ID
64320   2013Q1  4411.96  115242
64321   2013Q2  3866.32  115242
64322   2013Q3  3032.53  115242
64323   2013Q4  2815.77  115242
64324   2014Q1  2479.49  115242
64325   2014Q2  2171.98  115242
64326   2014Q3  1786.76  115242
64327   2014Q4  1607.41  115242
64328   2015Q1  1499.50  115242
64329   2015Q2  1362.73  115242
64330   2015Q3  1243.98  115242
64331   2015Q4  1175.13  115242
64332   2016Q1  1113.74  115242
64333   2016Q2  1133.28  115242
64334   2016Q3  1130.37  115242
64335   2016Q4   993.71  115242
64336   2017Q1   938.08  115242
64337   2017Q2   921.70  115242
64338   2017Q3   884.11  115242
64339   2017Q4   890.14  115242
214480  2013Q1     0.00  140448
214481  2013Q2     0.00  140448
214482  2013Q3     0.00  140448
214483  2013Q4     0.00  140448
214484  2014Q1     0.00  140448
214485  2014Q2     0.00  140448
214486  2014Q3     0.00  140448
214487  2014Q4     0.00  140448
214488  2015Q1     0.00  140448
214489  2015Q2     0.00  140448
214490  2015Q3     0.00  140448
214491  2015Q4     0.00  140448
214492  2016Q1     0.00  140448
214493  2016Q2     0.00  140448
214494  2016Q3     0.00  140448
214495  2016Q4     0.00  140448
214496  2017Q1    10.79  140448
214497  2017Q2    45.48  140448
214498  2017Q3    54.14  140448
214499  2017Q4    69.29  140448>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
140  2013Q1 -0.020873  115242
141  2013Q2 -0.030079  115242
142  2013Q3  0.013018  115242
143  2013Q4  0.043188  115242
144  2014Q1  0.005898  115242
145  2014Q2  0.066140  115242
146  2014Q3 -0.010326  115242
147  2014Q4  0.009540  115242
148  2015Q1  0.035755  115242
149  2015Q2 -0.028152  115242
150  2015Q3 -0.010687  115242
151  2015Q4 -0.025514  115242
152  2016Q1 -0.027200  115242
153  2016Q2  0.052761  115242
154  2016Q3  0.056703  115242
155  2016Q4 -0.081777  115242
156  2017Q1 -0.021390  115242
157  2017Q2  0.012434  115242
158  2017Q3 -0.008946  115242
159  2017Q4  0.024356  115242
480  2013Q1  0.000000  140448
481  2013Q2  0.000000  140448
482  2013Q3  0.000000  140448
483  2013Q4  0.000000  140448
484  2014Q1  0.000000  140448
485  2014Q2  0.000000  140448
486  2014Q3  0.000000  140448
487  2014Q4  0.000000  140448
488  2015Q1  0.000000  140448
489  2015Q2  0.000000  140448
490  2015Q3  0.000000  140448
491  2015Q4  0.000000  140448
492  2016Q1  0.000000  140448
493  2016Q2  0.000000  140448
494  2016Q3  0.000000  140448
495  2016Q4  0.000000  140448
496  2017Q1  0.051268  140448
497  2017Q2  0.067292  140448
498  2017Q3  0.045355  140448
499  2017Q4  0.049986  140448>)
('Key_aum: ', 115242)
      Quarter     Data      ID
64320  2013Q1  4411.96  115242
64321  2013Q2  3866.32  115242
64322  2013Q3  3032.53  115242
64323  2013Q4  2815.77  115242
64324  2014Q1  2479.49  115242
64325  2014Q2  2171.98  115242
64326  2014Q3  1786.76  115242
64327  2014Q4  1607.41  115242
64328  2015Q1  1499.50  115242
64329  2015Q2  1362.73  115242
64330  2015Q3  1243.98  115242
64331  2015Q4  1175.13  115242
64332  2016Q1  1113.74  115242
64333  2016Q2  1133.28  115242
64334  2016Q3  1130.37  115242
64335  2016Q4   993.71  115242
64336  2017Q1   938.08  115242
64337  2017Q2   921.70  115242
64338  2017Q3   884.11  115242
64339  2017Q4   890.14  115242
('Key_nav : ', 115242)
('data 1 : ', array([-0.02087324, -0.03007911,  0.01301804,  0.04318813,  0.00589791,
        0.0661405 , -0.01032552,  0.00953997,  0.03575453, -0.02815175,
       -0.01068705, -0.02551446, -0.02719984,  0.05276085,  0.05670314,
       -0.08177687, -0.02138971,  0.01243369, -0.00894604,  0.0243556 ]))
('data 2 :', array([ 4411.96,  3866.32,  3032.53,  2815.77,  2479.49,  2171.98,
        1786.76,  1607.41,  1499.5 ,  1362.73,  1243.98,  1175.13,
        1113.74,  1133.28,  1130.37,   993.71,   938.08,   921.7 ,
         884.11,   890.14]))
('Key_aum: ', 140448)
       Quarter   Data      ID
214480  2013Q1   0.00  140448
214481  2013Q2   0.00  140448
214482  2013Q3   0.00  140448
214483  2013Q4   0.00  140448
214484  2014Q1   0.00  140448
214485  2014Q2   0.00  140448
214486  2014Q3   0.00  140448
214487  2014Q4   0.00  140448
214488  2015Q1   0.00  140448
214489  2015Q2   0.00  140448
214490  2015Q3   0.00  140448
214491  2015Q4   0.00  140448
214492  2016Q1   0.00  140448
214493  2016Q2   0.00  140448
214494  2016Q3   0.00  140448
214495  2016Q4   0.00  140448
214496  2017Q1  10.79  140448
214497  2017Q2  45.48  140448
214498  2017Q3  54.14  140448
214499  2017Q4  69.29  140448
('Key_nav : ', 140448)
('data 1 : ', array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.0512676 ,  0.06729221,  0.04535465,  0.0499862 ]))
('data 2 :', array([  0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
         0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
        10.79,  45.48,  54.14,  69.29]))
('mean : ', array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,  0.0512676 ,  0.06729221,  0.04535465,  0.0499862 ]))
('IDs :', [119730, 100645])
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
43560  2013Q1     93.97  119730
43561  2013Q2    266.10  119730
43562  2013Q3    417.59  119730
43563  2013Q4    472.96  119730
43564  2014Q1    513.23  119730
43565  2014Q2    526.08  119730
43566  2014Q3    568.11  119730
43567  2014Q4    664.06  119730
43568  2015Q1    731.88  119730
43569  2015Q2    653.24  119730
43570  2015Q3    750.68  119730
43571  2015Q4    809.22  119730
43572  2016Q1    797.69  119730
43573  2016Q2    882.84  119730
43574  2016Q3   1001.12  119730
43575  2016Q4    849.96  119730
43576  2017Q1    963.76  119730
43577  2017Q2   1085.77  119730
43578  2017Q3   1184.85  119730
43579  2017Q4   1391.80  119730
43620  2013Q1  16708.47  100645
43621  2013Q2  16767.26  100645
43622  2013Q3  16338.75  100645
43623  2013Q4  15562.71  100645
43624  2014Q1  14558.82  100645
43625  2014Q2  13870.63  100645
43626  2014Q3  13547.09  100645
43627  2014Q4  13922.68  100645
43628  2015Q1  14061.77  100645
43629  2015Q2  13624.89  100645
43630  2015Q3  11808.84  100645
43631  2015Q4  11249.97  100645
43632  2016Q1  10751.85  100645
43633  2016Q2  11579.43  100645
43634  2016Q3  12594.08  100645
43635  2016Q4  11573.60  100645
43636  2017Q1  12016.72  100645
43637  2017Q2  13166.86  100645
43638  2017Q3  13470.95  100645
43639  2017Q4  14784.39  100645>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1140  2013Q1 -0.022418  100645
1141  2013Q2 -0.014576  100645
1142  2013Q3 -0.056233  100645
1143  2013Q4 -0.000369  100645
1144  2014Q1  0.009348  100645
1145  2014Q2  0.064517  100645
1146  2014Q3  0.091440  100645
1147  2014Q4  0.090056  100645
1148  2015Q1  0.061525  100645
1149  2015Q2 -0.097360  100645
1150  2015Q3 -0.088761  100645
1151  2015Q4  0.022780  100645
1152  2016Q1 -0.046112  100645
1153  2016Q2  0.061505  100645
1154  2016Q3  0.105516  100645
1155  2016Q4 -0.058185  100645
1156  2017Q1  0.055807  100645
1157  2017Q2  0.119824  100645
1158  2017Q3  0.047431  100645
1159  2017Q4  0.092754  100645
1240  2013Q1 -0.018841  119730
1241  2013Q2  0.066878  119730
1242  2013Q3  0.026428  119730
1243  2013Q4  0.001495  119730
1244  2014Q1  0.010862  119730
1245  2014Q2  0.066125  119730
1246  2014Q3  0.093045  119730
1247  2014Q4  0.091765  119730
1248  2015Q1  0.063291  119730
1249  2015Q2 -0.093745  119730
1250  2015Q3 -0.086306  119730
1251  2015Q4  0.025284  119730
1252  2016Q1 -0.043603  119730
1253  2016Q2  0.063697  119730
1254  2016Q3  0.107886  119730
1255  2016Q4 -0.055797  119730
1256  2017Q1  0.057905  119730
1257  2017Q2  0.122129  119730
1258  2017Q3  0.049669  119730
1259  2017Q4  0.095145  119730>)
('Key_aum: ', 100645)
      Quarter      Data      ID
43620  2013Q1  16708.47  100645
43621  2013Q2  16767.26  100645
43622  2013Q3  16338.75  100645
43623  2013Q4  15562.71  100645
43624  2014Q1  14558.82  100645
43625  2014Q2  13870.63  100645
43626  2014Q3  13547.09  100645
43627  2014Q4  13922.68  100645
43628  2015Q1  14061.77  100645
43629  2015Q2  13624.89  100645
43630  2015Q3  11808.84  100645
43631  2015Q4  11249.97  100645
43632  2016Q1  10751.85  100645
43633  2016Q2  11579.43  100645
43634  2016Q3  12594.08  100645
43635  2016Q4  11573.60  100645
43636  2017Q1  12016.72  100645
43637  2017Q2  13166.86  100645
43638  2017Q3  13470.95  100645
43639  2017Q4  14784.39  100645
('Key_nav : ', 100645)
('data 1 : ', array([-0.02241774, -0.0145759 , -0.05623331, -0.00036862,  0.00934791,
        0.06451739,  0.09143974,  0.09005596,  0.06152488, -0.09736012,
       -0.08876082,  0.02277992, -0.04611245,  0.06150472,  0.10551625,
       -0.05818462,  0.05580732,  0.11982441,  0.04743101,  0.09275407]))
('data 2 :', array([ 16708.47,  16767.26,  16338.75,  15562.71,  14558.82,  13870.63,
        13547.09,  13922.68,  14061.77,  13624.89,  11808.84,  11249.97,
        10751.85,  11579.43,  12594.08,  11573.6 ,  12016.72,  13166.86,
        13470.95,  14784.39]))
('Key_aum: ', 119730)
      Quarter     Data      ID
43560  2013Q1    93.97  119730
43561  2013Q2   266.10  119730
43562  2013Q3   417.59  119730
43563  2013Q4   472.96  119730
43564  2014Q1   513.23  119730
43565  2014Q2   526.08  119730
43566  2014Q3   568.11  119730
43567  2014Q4   664.06  119730
43568  2015Q1   731.88  119730
43569  2015Q2   653.24  119730
43570  2015Q3   750.68  119730
43571  2015Q4   809.22  119730
43572  2016Q1   797.69  119730
43573  2016Q2   882.84  119730
43574  2016Q3  1001.12  119730
43575  2016Q4   849.96  119730
43576  2017Q1   963.76  119730
43577  2017Q2  1085.77  119730
43578  2017Q3  1184.85  119730
43579  2017Q4  1391.80  119730
('Key_nav : ', 119730)
('data 1 : ', array([-0.01884069,  0.06687846,  0.02642829,  0.00149518,  0.01086201,
        0.06612459,  0.09304487,  0.0917653 ,  0.06329098, -0.09374505,
       -0.08630598,  0.02528397, -0.0436032 ,  0.06369741,  0.10788587,
       -0.05579724,  0.05790512,  0.12212868,  0.04966917,  0.09514468]))
('data 2 :', array([   93.97,   266.1 ,   417.59,   472.96,   513.23,   526.08,
         568.11,   664.06,   731.88,   653.24,   750.68,   809.22,
         797.69,   882.84,  1001.12,   849.96,   963.76,  1085.77,
        1184.85,  1391.8 ]))
('mean : ', array([-0.01884069,  0.06687846,  0.02642829,  0.00149518,  0.01086201,
        0.06612459,  0.09304487,  0.0917653 ,  0.06329098, -0.09374505,
       -0.08630598,  0.02528397, -0.0436032 ,  0.06369741,  0.10788587,
       -0.05579724,  0.05790512,  0.12212868,  0.04966917,  0.09514468]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
43560  2013Q1     93.97  119730
43561  2013Q2    266.10  119730
43562  2013Q3    417.59  119730
43563  2013Q4    472.96  119730
43564  2014Q1    513.23  119730
43565  2014Q2    526.08  119730
43566  2014Q3    568.11  119730
43567  2014Q4    664.06  119730
43568  2015Q1    731.88  119730
43569  2015Q2    653.24  119730
43570  2015Q3    750.68  119730
43571  2015Q4    809.22  119730
43572  2016Q1    797.69  119730
43573  2016Q2    882.84  119730
43574  2016Q3   1001.12  119730
43575  2016Q4    849.96  119730
43576  2017Q1    963.76  119730
43577  2017Q2   1085.77  119730
43578  2017Q3   1184.85  119730
43579  2017Q4   1391.80  119730
43620  2013Q1  16708.47  100645
43621  2013Q2  16767.26  100645
43622  2013Q3  16338.75  100645
43623  2013Q4  15562.71  100645
43624  2014Q1  14558.82  100645
43625  2014Q2  13870.63  100645
43626  2014Q3  13547.09  100645
43627  2014Q4  13922.68  100645
43628  2015Q1  14061.77  100645
43629  2015Q2  13624.89  100645
43630  2015Q3  11808.84  100645
43631  2015Q4  11249.97  100645
43632  2016Q1  10751.85  100645
43633  2016Q2  11579.43  100645
43634  2016Q3  12594.08  100645
43635  2016Q4  11573.60  100645
43636  2017Q1  12016.72  100645
43637  2017Q2  13166.86  100645
43638  2017Q3  13470.95  100645
43639  2017Q4  14784.39  100645>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1140  2013Q1 -0.022418  100645
1141  2013Q2 -0.014576  100645
1142  2013Q3 -0.056233  100645
1143  2013Q4 -0.000369  100645
1144  2014Q1  0.009348  100645
1145  2014Q2  0.064517  100645
1146  2014Q3  0.091440  100645
1147  2014Q4  0.090056  100645
1148  2015Q1  0.061525  100645
1149  2015Q2 -0.097360  100645
1150  2015Q3 -0.088761  100645
1151  2015Q4  0.022780  100645
1152  2016Q1 -0.046112  100645
1153  2016Q2  0.061505  100645
1154  2016Q3  0.105516  100645
1155  2016Q4 -0.058185  100645
1156  2017Q1  0.055807  100645
1157  2017Q2  0.119824  100645
1158  2017Q3  0.047431  100645
1159  2017Q4  0.092754  100645
1240  2013Q1 -0.018841  119730
1241  2013Q2  0.066878  119730
1242  2013Q3  0.026428  119730
1243  2013Q4  0.001495  119730
1244  2014Q1  0.010862  119730
1245  2014Q2  0.066125  119730
1246  2014Q3  0.093045  119730
1247  2014Q4  0.091765  119730
1248  2015Q1  0.063291  119730
1249  2015Q2 -0.093745  119730
1250  2015Q3 -0.086306  119730
1251  2015Q4  0.025284  119730
1252  2016Q1 -0.043603  119730
1253  2016Q2  0.063697  119730
1254  2016Q3  0.107886  119730
1255  2016Q4 -0.055797  119730
1256  2017Q1  0.057905  119730
1257  2017Q2  0.122129  119730
1258  2017Q3  0.049669  119730
1259  2017Q4  0.095145  119730>)
('Key_aum: ', 100645)
      Quarter      Data      ID
43620  2013Q1  16708.47  100645
43621  2013Q2  16767.26  100645
43622  2013Q3  16338.75  100645
43623  2013Q4  15562.71  100645
43624  2014Q1  14558.82  100645
43625  2014Q2  13870.63  100645
43626  2014Q3  13547.09  100645
43627  2014Q4  13922.68  100645
43628  2015Q1  14061.77  100645
43629  2015Q2  13624.89  100645
43630  2015Q3  11808.84  100645
43631  2015Q4  11249.97  100645
43632  2016Q1  10751.85  100645
43633  2016Q2  11579.43  100645
43634  2016Q3  12594.08  100645
43635  2016Q4  11573.60  100645
43636  2017Q1  12016.72  100645
43637  2017Q2  13166.86  100645
43638  2017Q3  13470.95  100645
43639  2017Q4  14784.39  100645
('Key_nav : ', 100645)
('data 1 : ', array([-0.02241774, -0.0145759 , -0.05623331, -0.00036862,  0.00934791,
        0.06451739,  0.09143974,  0.09005596,  0.06152488, -0.09736012,
       -0.08876082,  0.02277992, -0.04611245,  0.06150472,  0.10551625,
       -0.05818462,  0.05580732,  0.11982441,  0.04743101,  0.09275407]))
('data 2 :', array([ 16708.47,  16767.26,  16338.75,  15562.71,  14558.82,  13870.63,
        13547.09,  13922.68,  14061.77,  13624.89,  11808.84,  11249.97,
        10751.85,  11579.43,  12594.08,  11573.6 ,  12016.72,  13166.86,
        13470.95,  14784.39]))
('Key_aum: ', 119730)
      Quarter     Data      ID
43560  2013Q1    93.97  119730
43561  2013Q2   266.10  119730
43562  2013Q3   417.59  119730
43563  2013Q4   472.96  119730
43564  2014Q1   513.23  119730
43565  2014Q2   526.08  119730
43566  2014Q3   568.11  119730
43567  2014Q4   664.06  119730
43568  2015Q1   731.88  119730
43569  2015Q2   653.24  119730
43570  2015Q3   750.68  119730
43571  2015Q4   809.22  119730
43572  2016Q1   797.69  119730
43573  2016Q2   882.84  119730
43574  2016Q3  1001.12  119730
43575  2016Q4   849.96  119730
43576  2017Q1   963.76  119730
43577  2017Q2  1085.77  119730
43578  2017Q3  1184.85  119730
43579  2017Q4  1391.80  119730
('Key_nav : ', 119730)
('data 1 : ', array([-0.01884069,  0.06687846,  0.02642829,  0.00149518,  0.01086201,
        0.06612459,  0.09304487,  0.0917653 ,  0.06329098, -0.09374505,
       -0.08630598,  0.02528397, -0.0436032 ,  0.06369741,  0.10788587,
       -0.05579724,  0.05790512,  0.12212868,  0.04966917,  0.09514468]))
('data 2 :', array([   93.97,   266.1 ,   417.59,   472.96,   513.23,   526.08,

43639  2017Q4  14784.39  100645>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1140  2013Q1 -0.022418  100645
1141  2013Q2 -0.014576  100645
1142  2013Q3 -0.056233  100645
1143  2013Q4 -0.000369  100645
1144  2014Q1  0.009348  100645
1145  2014Q2  0.064517  100645
1146  2014Q3  0.091440  100645
1147  2014Q4  0.090056  100645
1148  2015Q1  0.061525  100645
1149  2015Q2 -0.097360  100645
1150  2015Q3 -0.088761  100645
1151  2015Q4  0.022780  100645
1152  2016Q1 -0.046112  100645
1153  2016Q2  0.061505  100645
1154  2016Q3  0.105516  100645
1155  2016Q4 -0.058185  100645
1156  2017Q1  0.055807  100645
1157  2017Q2  0.119824  100645
1158  2017Q3  0.047431  100645
1159  2017Q4  0.092754  100645
1240  2013Q1 -0.018841  119730
1241  2013Q2  0.066878  119730
1242  2013Q3  0.026428  119730
1243  2013Q4  0.001495  119730
1244  2014Q1  0.010862  119730
1245  2014Q2  0.066125  119730
1246  2014Q3  0.093045  119730
1247  2014Q4  0.091765  119730
1248  2015Q1  0.063291  119730
1249  2015Q2 -0.093745  119730
1250  2015Q3 -0.086306  119730
1251  2015Q4  0.025284  119730
1252  2016Q1 -0.043603  119730
1253  2016Q2  0.063697  119730
1254  2016Q3  0.107886  119730
1255  2016Q4 -0.055797  119730
1256  2017Q1  0.057905  119730
1257  2017Q2  0.122129  119730
1258  2017Q3  0.049669  119730
1259  2017Q4  0.095145  119730>)
('Key_aum: ', 100645)
      Quarter      Data      ID
43620  2013Q1  16708.47  100645
43621  2013Q2  16767.26  100645
43622  2013Q3  16338.75  100645
43623  2013Q4  15562.71  100645
43624  2014Q1  14558.82  100645
43625  2014Q2  13870.63  100645
43626  2014Q3  13547.09  100645
43627  2014Q4  13922.68  100645
43628  2015Q1  14061.77  100645
43629  2015Q2  13624.89  100645
43630  2015Q3  11808.84  100645
43631  2015Q4  11249.97  100645
43632  2016Q1  10751.85  100645
43633  2016Q2  11579.43  100645
43634  2016Q3  12594.08  100645
43635  2016Q4  11573.60  100645
43636  2017Q1  12016.72  100645
43637  2017Q2  13166.86  100645
43638  2017Q3  13470.95  100645
43639  2017Q4  14784.39  100645
('Key_nav : ', 100645)
('data 1 : ', array([-0.02241774, -0.0145759 , -0.05623331, -0.00036862,  0.00934791,
        0.06451739,  0.09143974,  0.09005596,  0.06152488, -0.09736012,
       -0.08876082,  0.02277992, -0.04611245,  0.06150472,  0.10551625,
       -0.05818462,  0.05580732,  0.11982441,  0.04743101,  0.09275407]))
('data 2 :', array([ 16708.47,  16767.26,  16338.75,  15562.71,  14558.82,  13870.63,
        13547.09,  13922.68,  14061.77,  13624.89,  11808.84,  11249.97,
        10751.85,  11579.43,  12594.08,  11573.6 ,  12016.72,  13166.86,
        13470.95,  14784.39]))
('Key_aum: ', 119730)
      Quarter     Data      ID
43560  2013Q1    93.97  119730
43561  2013Q2   266.10  119730
43562  2013Q3   417.59  119730
43563  2013Q4   472.96  119730
43564  2014Q1   513.23  119730
43565  2014Q2   526.08  119730
43566  2014Q3   568.11  119730
43567  2014Q4   664.06  119730
43568  2015Q1   731.88  119730
43569  2015Q2   653.24  119730
43570  2015Q3   750.68  119730
43571  2015Q4   809.22  119730
43572  2016Q1   797.69  119730
43573  2016Q2   882.84  119730
43574  2016Q3  1001.12  119730
43575  2016Q4   849.96  119730
43576  2017Q1   963.76  119730
43577  2017Q2  1085.77  119730
43578  2017Q3  1184.85  119730
43579  2017Q4  1391.80  119730
('Key_nav : ', 119730)
('data 1 : ', array([-0.01884069,  0.06687846,  0.02642829,  0.00149518,  0.01086201,
        0.06612459,  0.09304487,  0.0917653 ,  0.06329098, -0.09374505,
       -0.08630598,  0.02528397, -0.0436032 ,  0.06369741,  0.10788587,
       -0.05579724,  0.05790512,  0.12212868,  0.04966917,  0.09514468]))
('data 2 :', array([   93.97,   266.1 ,   417.59,   472.96,   513.23,   526.08,
         568.11,   664.06,   731.88,   653.24,   750.68,   809.22,
         797.69,   882.84,  1001.12,   849.96,   963.76,  1085.77,
        1184.85,  1391.8 ]))
('mean : ', array([-0.01884069,  0.06687846,  0.02642829,  0.00149518,  0.01086201,
        0.06612459,  0.09304487,  0.0917653 ,  0.06329098, -0.09374505,
       -0.08630598,  0.02528397, -0.0436032 ,  0.06369741,  0.10788587,
       -0.05579724,  0.05790512,  0.12212868,  0.04966917,  0.09514468]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
43560  2013Q1     93.97  119730
43561  2013Q2    266.10  119730
43562  2013Q3    417.59  119730
43563  2013Q4    472.96  119730
43564  2014Q1    513.23  119730
43565  2014Q2    526.08  119730
43566  2014Q3    568.11  119730
43567  2014Q4    664.06  119730
43568  2015Q1    731.88  119730
43569  2015Q2    653.24  119730
43570  2015Q3    750.68  119730
43571  2015Q4    809.22  119730
43572  2016Q1    797.69  119730
43573  2016Q2    882.84  119730
43574  2016Q3   1001.12  119730
43575  2016Q4    849.96  119730
43576  2017Q1    963.76  119730
43577  2017Q2   1085.77  119730
43578  2017Q3   1184.85  119730
43579  2017Q4   1391.80  119730
43620  2013Q1  16708.47  100645
43621  2013Q2  16767.26  100645
43622  2013Q3  16338.75  100645
43623  2013Q4  15562.71  100645
43624  2014Q1  14558.82  100645
43625  2014Q2  13870.63  100645
43626  2014Q3  13547.09  100645
43627  2014Q4  13922.68  100645
43628  2015Q1  14061.77  100645
43629  2015Q2  13624.89  100645
43630  2015Q3  11808.84  100645
43631  2015Q4  11249.97  100645
43632  2016Q1  10751.85  100645
43633  2016Q2  11579.43  100645
43634  2016Q3  12594.08  100645
43635  2016Q4  11573.60  100645
43636  2017Q1  12016.72  100645
43637  2017Q2  13166.86  100645
43638  2017Q3  13470.95  100645
43639  2017Q4  14784.39  100645>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1140  2013Q1 -0.022418  100645
1141  2013Q2 -0.014576  100645
1142  2013Q3 -0.056233  100645
1143  2013Q4 -0.000369  100645
1144  2014Q1  0.009348  100645
1145  2014Q2  0.064517  100645
1146  2014Q3  0.091440  100645
1147  2014Q4  0.090056  100645
1148  2015Q1  0.061525  100645
1149  2015Q2 -0.097360  100645
1150  2015Q3 -0.088761  100645
1151  2015Q4  0.022780  100645
1152  2016Q1 -0.046112  100645
1153  2016Q2  0.061505  100645
1154  2016Q3  0.105516  100645
1155  2016Q4 -0.058185  100645
1156  2017Q1  0.055807  100645
1157  2017Q2  0.119824  100645
1158  2017Q3  0.047431  100645
1159  2017Q4  0.092754  100645
1240  2013Q1 -0.018841  119730
1241  2013Q2  0.066878  119730
1242  2013Q3  0.026428  119730
1243  2013Q4  0.001495  119730
1244  2014Q1  0.010862  119730
1245  2014Q2  0.066125  119730
1246  2014Q3  0.093045  119730
1247  2014Q4  0.091765  119730
1248  2015Q1  0.063291  119730
1249  2015Q2 -0.093745  119730
1250  2015Q3 -0.086306  119730
1251  2015Q4  0.025284  119730
1252  2016Q1 -0.043603  119730
1253  2016Q2  0.063697  119730
1254  2016Q3  0.107886  119730
1255  2016Q4 -0.055797  119730
1256  2017Q1  0.057905  119730
1257  2017Q2  0.122129  119730
1258  2017Q3  0.049669  119730
1259  2017Q4  0.095145  119730>)
('Key_aum: ', 100645)
      Quarter      Data      ID
43620  2013Q1  16708.47  100645
43621  2013Q2  16767.26  100645
43622  2013Q3  16338.75  100645
43623  2013Q4  15562.71  100645
43624  2014Q1  14558.82  100645
43625  2014Q2  13870.63  100645
43626  2014Q3  13547.09  100645
43627  2014Q4  13922.68  100645
43628  2015Q1  14061.77  100645
43629  2015Q2  13624.89  100645
43630  2015Q3  11808.84  100645
43631  2015Q4  11249.97  100645
43632  2016Q1  10751.85  100645
43633  2016Q2  11579.43  100645
43634  2016Q3  12594.08  100645
43635  2016Q4  11573.60  100645
43636  2017Q1  12016.72  100645
43637  2017Q2  13166.86  100645
43638  2017Q3  13470.95  100645
43639  2017Q4  14784.39  100645
('Key_nav : ', 100645)
('data 1 : ', array([-0.02241774, -0.0145759 , -0.05623331, -0.00036862,  0.00934791,
        0.06451739,  0.09143974,  0.09005596,  0.06152488, -0.09736012,
       -0.08876082,  0.02277992, -0.04611245,  0.06150472,  0.10551625,
       -0.05818462,  0.05580732,  0.11982441,  0.04743101,  0.09275407]))
('data 2 :', array([ 16708.47,  16767.26,  16338.75,  15562.71,  14558.82,  13870.63,
        13547.09,  13922.68,  14061.77,  13624.89,  11808.84,  11249.97,
        10751.85,  11579.43,  12594.08,  11573.6 ,  12016.72,  13166.86,
        13470.95,  14784.39]))
('Key_aum: ', 119730)
      Quarter     Data      ID
43560  2013Q1    93.97  119730
43561  2013Q2   266.10  119730
43562  2013Q3   417.59  119730
43563  2013Q4   472.96  119730
43564  2014Q1   513.23  119730
43565  2014Q2   526.08  119730
43566  2014Q3   568.11  119730
43567  2014Q4   664.06  119730
43568  2015Q1   731.88  119730
43569  2015Q2   653.24  119730
43570  2015Q3   750.68  119730
43571  2015Q4   809.22  119730
43572  2016Q1   797.69  119730
43573  2016Q2   882.84  119730
43574  2016Q3  1001.12  119730
43575  2016Q4   849.96  119730
43576  2017Q1   963.76  119730
43577  2017Q2  1085.77  119730
43578  2017Q3  1184.85  119730
43579  2017Q4  1391.80  119730
('Key_nav : ', 119730)
('data 1 : ', array([-0.01884069,  0.06687846,  0.02642829,  0.00149518,  0.01086201,
        0.06612459,  0.09304487,  0.0917653 ,  0.06329098, -0.09374505,
       -0.08630598,  0.02528397, -0.0436032 ,  0.06369741,  0.10788587,
       -0.05579724,  0.05790512,  0.12212868,  0.04966917,  0.09514468]))
('data 2 :', array([   93.97,   266.1 ,   417.59,   472.96,   513.23,   526.08,
         568.11,   664.06,   731.88,   653.24,   750.68,   809.22,
         797.69,   882.84,  1001.12,   849.96,   963.76,  1085.77,
        1184.85,  1391.8 ]))
('mean : ', array([-0.01884069,  0.06687846,  0.02642829,  0.00149518,  0.01086201,
        0.06612459,  0.09304487,  0.0917653 ,  0.06329098, -0.09374505,
       -0.08630598,  0.02528397, -0.0436032 ,  0.06369741,  0.10788587,
       -0.05579724,  0.05790512,  0.12212868,  0.04966917,  0.09514468]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
43560  2013Q1     93.97  119730
43561  2013Q2    266.10  119730
43562  2013Q3    417.59  119730
43563  2013Q4    472.96  119730
43564  2014Q1    513.23  119730
43565  2014Q2    526.08  119730
43566  2014Q3    568.11  119730
43567  2014Q4    664.06  119730
43568  2015Q1    731.88  119730
43569  2015Q2    653.24  119730
43570  2015Q3    750.68  119730
43571  2015Q4    809.22  119730
43572  2016Q1    797.69  119730
43573  2016Q2    882.84  119730
43574  2016Q3   1001.12  119730
43575  2016Q4    849.96  119730
43576  2017Q1    963.76  119730
43577  2017Q2   1085.77  119730
43578  2017Q3   1184.85  119730
43579  2017Q4   1391.80  119730
43620  2013Q1  16708.47  100645
43621  2013Q2  16767.26  100645
43622  2013Q3  16338.75  100645
43623  2013Q4  15562.71  100645
43624  2014Q1  14558.82  100645
43625  2014Q2  13870.63  100645
43626  2014Q3  13547.09  100645
43627  2014Q4  13922.68  100645
43628  2015Q1  14061.77  100645
43629  2015Q2  13624.89  100645
43630  2015Q3  11808.84  100645
43631  2015Q4  11249.97  100645
43632  2016Q1  10751.85  100645
43633  2016Q2  11579.43  100645
43634  2016Q3  12594.08  100645
43635  2016Q4  11573.60  100645
43636  2017Q1  12016.72  100645
43637  2017Q2  13166.86  100645
43638  2017Q3  13470.95  100645
43639  2017Q4  14784.39  100645>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1140  2013Q1 -0.022418  100645
1141  2013Q2 -0.014576  100645
1142  2013Q3 -0.056233  100645
1143  2013Q4 -0.000369  100645
1144  2014Q1  0.009348  100645
1145  2014Q2  0.064517  100645
1146  2014Q3  0.091440  100645
1147  2014Q4  0.090056  100645
1148  2015Q1  0.061525  100645
1149  2015Q2 -0.097360  100645
1150  2015Q3 -0.088761  100645
1151  2015Q4  0.022780  100645
1152  2016Q1 -0.046112  100645
1153  2016Q2  0.061505  100645
1154  2016Q3  0.105516  100645
1155  2016Q4 -0.058185  100645
1156  2017Q1  0.055807  100645
1157  2017Q2  0.119824  100645
1158  2017Q3  0.047431  100645
1159  2017Q4  0.092754  100645
1240  2013Q1 -0.018841  119730
1241  2013Q2  0.066878  119730
1242  2013Q3  0.026428  119730
1243  2013Q4  0.001495  119730
1244  2014Q1  0.010862  119730
1245  2014Q2  0.066125  119730
1246  2014Q3  0.093045  119730
1247  2014Q4  0.091765  119730
1248  2015Q1  0.063291  119730
1249  2015Q2 -0.093745  119730
1250  2015Q3 -0.086306  119730
1251  2015Q4  0.025284  119730
1252  2016Q1 -0.043603  119730
1253  2016Q2  0.063697  119730
1254  2016Q3  0.107886  119730
1255  2016Q4 -0.055797  119730
1256  2017Q1  0.057905  119730
1257  2017Q2  0.122129  119730
1258  2017Q3  0.049669  119730
1259  2017Q4  0.095145  119730>)
('Key_aum: ', 100645)
      Quarter      Data      ID
43620  2013Q1  16708.47  100645
43621  2013Q2  16767.26  100645
43622  2013Q3  16338.75  100645
43623  2013Q4  15562.71  100645
43624  2014Q1  14558.82  100645
43625  2014Q2  13870.63  100645
43626  2014Q3  13547.09  100645
43627  2014Q4  13922.68  100645
43628  2015Q1  14061.77  100645
43629  2015Q2  13624.89  100645
43630  2015Q3  11808.84  100645
43631  2015Q4  11249.97  100645
43632  2016Q1  10751.85  100645
43633  2016Q2  11579.43  100645
43634  2016Q3  12594.08  100645
43635  2016Q4  11573.60  100645
43636  2017Q1  12016.72  100645
43637  2017Q2  13166.86  100645
43638  2017Q3  13470.95  100645
43639  2017Q4  14784.39  100645
('Key_nav : ', 100645)
('data 1 : ', array([-0.02241774, -0.0145759 , -0.05623331, -0.00036862,  0.00934791,
        0.06451739,  0.09143974,  0.09005596,  0.06152488, -0.09736012,
       -0.08876082,  0.02277992, -0.04611245,  0.06150472,  0.10551625,
       -0.05818462,  0.05580732,  0.11982441,  0.04743101,  0.09275407]))
('data 2 :', array([ 16708.47,  16767.26,  16338.75,  15562.71,  14558.82,  13870.63,
        13547.09,  13922.68,  14061.77,  13624.89,  11808.84,  11249.97,
        10751.85,  11579.43,  12594.08,  11573.6 ,  12016.72,  13166.86,
        13470.95,  14784.39]))
('Key_aum: ', 119730)
      Quarter     Data      ID
43560  2013Q1    93.97  119730
43561  2013Q2   266.10  119730
43562  2013Q3   417.59  119730
43563  2013Q4   472.96  119730
43564  2014Q1   513.23  119730
43565  2014Q2   526.08  119730
43566  2014Q3   568.11  119730
43567  2014Q4   664.06  119730
43568  2015Q1   731.88  119730
43569  2015Q2   653.24  119730
43570  2015Q3   750.68  119730
43571  2015Q4   809.22  119730
43572  2016Q1   797.69  119730
43573  2016Q2   882.84  119730
43574  2016Q3  1001.12  119730
43575  2016Q4   849.96  119730
43576  2017Q1   963.76  119730
43577  2017Q2  1085.77  119730
43578  2017Q3  1184.85  119730
43579  2017Q4  1391.80  119730
('Key_nav : ', 119730)
('data 1 : ', array([-0.01884069,  0.06687846,  0.02642829,  0.00149518,  0.01086201,
        0.06612459,  0.09304487,  0.0917653 ,  0.06329098, -0.09374505,
       -0.08630598,  0.02528397, -0.0436032 ,  0.06369741,  0.10788587,
       -0.05579724,  0.05790512,  0.12212868,  0.04966917,  0.09514468]))
('data 2 :', array([   93.97,   266.1 ,   417.59,   472.96,   513.23,   526.08,
         568.11,   664.06,   731.88,   653.24,   750.68,   809.22,
         797.69,   882.84,  1001.12,   849.96,   963.76,  1085.77,
        1184.85,  1391.8 ]))
('mean : ', array([-0.01884069,  0.06687846,  0.02642829,  0.00149518,  0.01086201,
        0.06612459,  0.09304487,  0.0917653 ,  0.06329098, -0.09374505,
       -0.08630598,  0.02528397, -0.0436032 ,  0.06369741,  0.10788587,
       -0.05579724,  0.05790512,  0.12212868,  0.04966917,  0.09514468]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
43560  2013Q1     93.97  119730
43561  2013Q2    266.10  119730
43562  2013Q3    417.59  119730
43563  2013Q4    472.96  119730
43564  2014Q1    513.23  119730
43565  2014Q2    526.08  119730
43566  2014Q3    568.11  119730
43567  2014Q4    664.06  119730
43568  2015Q1    731.88  119730
43569  2015Q2    653.24  119730
43570  2015Q3    750.68  119730
43571  2015Q4    809.22  119730
43572  2016Q1    797.69  119730
43573  2016Q2    882.84  119730
43574  2016Q3   1001.12  119730
43575  2016Q4    849.96  119730
43576  2017Q1    963.76  119730
43577  2017Q2   1085.77  119730
43578  2017Q3   1184.85  119730
43579  2017Q4   1391.80  119730
43620  2013Q1  16708.47  100645
43621  2013Q2  16767.26  100645
43622  2013Q3  16338.75  100645
43623  2013Q4  15562.71  100645
43624  2014Q1  14558.82  100645
43625  2014Q2  13870.63  100645
43626  2014Q3  13547.09  100645
43627  2014Q4  13922.68  100645
43628  2015Q1  14061.77  100645
43629  2015Q2  13624.89  100645
43630  2015Q3  11808.84  100645
43631  2015Q4  11249.97  100645
43632  2016Q1  10751.85  100645
43633  2016Q2  11579.43  100645
43634  2016Q3  12594.08  100645
43635  2016Q4  11573.60  100645
43636  2017Q1  12016.72  100645
43637  2017Q2  13166.86  100645
43638  2017Q3  13470.95  100645
43639  2017Q4  14784.39  100645>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1140  2013Q1 -0.022418  100645
1141  2013Q2 -0.014576  100645
1142  2013Q3 -0.056233  100645
1143  2013Q4 -0.000369  100645
1144  2014Q1  0.009348  100645
1145  2014Q2  0.064517  100645
1146  2014Q3  0.091440  100645
1147  2014Q4  0.090056  100645
1148  2015Q1  0.061525  100645
1149  2015Q2 -0.097360  100645
1150  2015Q3 -0.088761  100645
1151  2015Q4  0.022780  100645
1152  2016Q1 -0.046112  100645
1153  2016Q2  0.061505  100645
1154  2016Q3  0.105516  100645
1155  2016Q4 -0.058185  100645
1156  2017Q1  0.055807  100645
1157  2017Q2  0.119824  100645
1158  2017Q3  0.047431  100645
1159  2017Q4  0.092754  100645
1240  2013Q1 -0.018841  119730
1241  2013Q2  0.066878  119730
1242  2013Q3  0.026428  119730
1243  2013Q4  0.001495  119730
1244  2014Q1  0.010862  119730
1245  2014Q2  0.066125  119730
1246  2014Q3  0.093045  119730
1247  2014Q4  0.091765  119730
1248  2015Q1  0.063291  119730
1249  2015Q2 -0.093745  119730
1250  2015Q3 -0.086306  119730
1251  2015Q4  0.025284  119730
1252  2016Q1 -0.043603  119730
1253  2016Q2  0.063697  119730
1254  2016Q3  0.107886  119730
1255  2016Q4 -0.055797  119730
1256  2017Q1  0.057905  119730
1257  2017Q2  0.122129  119730
1258  2017Q3  0.049669  119730
1259  2017Q4  0.095145  119730>)
('Key_aum: ', 100645)
      Quarter      Data      ID
43620  2013Q1  16708.47  100645
43621  2013Q2  16767.26  100645
43622  2013Q3  16338.75  100645
43623  2013Q4  15562.71  100645
43624  2014Q1  14558.82  100645
43625  2014Q2  13870.63  100645
43626  2014Q3  13547.09  100645
43627  2014Q4  13922.68  100645
43628  2015Q1  14061.77  100645
43629  2015Q2  13624.89  100645
43630  2015Q3  11808.84  100645
43631  2015Q4  11249.97  100645
43632  2016Q1  10751.85  100645
43633  2016Q2  11579.43  100645
43634  2016Q3  12594.08  100645
43635  2016Q4  11573.60  100645
43636  2017Q1  12016.72  100645
43637  2017Q2  13166.86  100645
43638  2017Q3  13470.95  100645
43639  2017Q4  14784.39  100645
('Key_nav : ', 100645)
('data 1 : ', array([-0.02241774, -0.0145759 , -0.05623331, -0.00036862,  0.00934791,
        0.06451739,  0.09143974,  0.09005596,  0.06152488, -0.09736012,
       -0.08876082,  0.02277992, -0.04611245,  0.06150472,  0.10551625,
       -0.05818462,  0.05580732,  0.11982441,  0.04743101,  0.09275407]))
('data 2 :', array([ 16708.47,  16767.26,  16338.75,  15562.71,  14558.82,  13870.63,
        13547.09,  13922.68,  14061.77,  13624.89,  11808.84,  11249.97,
        10751.85,  11579.43,  12594.08,  11573.6 ,  12016.72,  13166.86,
        13470.95,  14784.39]))
('Key_aum: ', 119730)
      Quarter     Data      ID
43560  2013Q1    93.97  119730
43561  2013Q2   266.10  119730
43562  2013Q3   417.59  119730
43563  2013Q4   472.96  119730
43564  2014Q1   513.23  119730
43565  2014Q2   526.08  119730
43566  2014Q3   568.11  119730
43567  2014Q4   664.06  119730
43568  2015Q1   731.88  119730
43569  2015Q2   653.24  119730
43570  2015Q3   750.68  119730
43571  2015Q4   809.22  119730
43572  2016Q1   797.69  119730
43573  2016Q2   882.84  119730
43574  2016Q3  1001.12  119730
43575  2016Q4   849.96  119730
43576  2017Q1   963.76  119730
43577  2017Q2  1085.77  119730
43578  2017Q3  1184.85  119730
43579  2017Q4  1391.80  119730
('Key_nav : ', 119730)
('data 1 : ', array([-0.01884069,  0.06687846,  0.02642829,  0.00149518,  0.01086201,

('Key_nav : ', 100645)
('data 1 : ', array([-0.02241774, -0.0145759 , -0.05623331, -0.00036862,  0.00934791,
        0.06451739,  0.09143974,  0.09005596,  0.06152488, -0.09736012,
       -0.08876082,  0.02277992, -0.04611245,  0.06150472,  0.10551625,
       -0.05818462,  0.05580732,  0.11982441,  0.04743101,  0.09275407]))
('data 2 :', array([ 16708.47,  16767.26,  16338.75,  15562.71,  14558.82,  13870.63,
        13547.09,  13922.68,  14061.77,  13624.89,  11808.84,  11249.97,
        10751.85,  11579.43,  12594.08,  11573.6 ,  12016.72,  13166.86,
        13470.95,  14784.39]))
('Key_aum: ', 119730)
      Quarter     Data      ID
43560  2013Q1    93.97  119730
43561  2013Q2   266.10  119730
43562  2013Q3   417.59  119730
43563  2013Q4   472.96  119730
43564  2014Q1   513.23  119730
43565  2014Q2   526.08  119730
43566  2014Q3   568.11  119730
43567  2014Q4   664.06  119730
43568  2015Q1   731.88  119730
43569  2015Q2   653.24  119730
43570  2015Q3   750.68  119730
43571  2015Q4   809.22  119730
43572  2016Q1   797.69  119730
43573  2016Q2   882.84  119730
43574  2016Q3  1001.12  119730
43575  2016Q4   849.96  119730
43576  2017Q1   963.76  119730
43577  2017Q2  1085.77  119730
43578  2017Q3  1184.85  119730
43579  2017Q4  1391.80  119730
('Key_nav : ', 119730)
('data 1 : ', array([-0.01884069,  0.06687846,  0.02642829,  0.00149518,  0.01086201,
        0.06612459,  0.09304487,  0.0917653 ,  0.06329098, -0.09374505,
       -0.08630598,  0.02528397, -0.0436032 ,  0.06369741,  0.10788587,
       -0.05579724,  0.05790512,  0.12212868,  0.04966917,  0.09514468]))
('data 2 :', array([   93.97,   266.1 ,   417.59,   472.96,   513.23,   526.08,
         568.11,   664.06,   731.88,   653.24,   750.68,   809.22,
         797.69,   882.84,  1001.12,   849.96,   963.76,  1085.77,
        1184.85,  1391.8 ]))
('mean : ', array([-0.01884069,  0.06687846,  0.02642829,  0.00149518,  0.01086201,
        0.06612459,  0.09304487,  0.0917653 ,  0.06329098, -0.09374505,
       -0.08630598,  0.02528397, -0.0436032 ,  0.06369741,  0.10788587,
       -0.05579724,  0.05790512,  0.12212868,  0.04966917,  0.09514468]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
43560  2013Q1     93.97  119730
43561  2013Q2    266.10  119730
43562  2013Q3    417.59  119730
43563  2013Q4    472.96  119730
43564  2014Q1    513.23  119730
43565  2014Q2    526.08  119730
43566  2014Q3    568.11  119730
43567  2014Q4    664.06  119730
43568  2015Q1    731.88  119730
43569  2015Q2    653.24  119730
43570  2015Q3    750.68  119730
43571  2015Q4    809.22  119730
43572  2016Q1    797.69  119730
43573  2016Q2    882.84  119730
43574  2016Q3   1001.12  119730
43575  2016Q4    849.96  119730
43576  2017Q1    963.76  119730
43577  2017Q2   1085.77  119730
43578  2017Q3   1184.85  119730
43579  2017Q4   1391.80  119730
43620  2013Q1  16708.47  100645
43621  2013Q2  16767.26  100645
43622  2013Q3  16338.75  100645
43623  2013Q4  15562.71  100645
43624  2014Q1  14558.82  100645
43625  2014Q2  13870.63  100645
43626  2014Q3  13547.09  100645
43627  2014Q4  13922.68  100645
43628  2015Q1  14061.77  100645
43629  2015Q2  13624.89  100645
43630  2015Q3  11808.84  100645
43631  2015Q4  11249.97  100645
43632  2016Q1  10751.85  100645
43633  2016Q2  11579.43  100645
43634  2016Q3  12594.08  100645
43635  2016Q4  11573.60  100645
43636  2017Q1  12016.72  100645
43637  2017Q2  13166.86  100645
43638  2017Q3  13470.95  100645
43639  2017Q4  14784.39  100645>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1140  2013Q1 -0.022418  100645
1141  2013Q2 -0.014576  100645
1142  2013Q3 -0.056233  100645
1143  2013Q4 -0.000369  100645
1144  2014Q1  0.009348  100645
1145  2014Q2  0.064517  100645
1146  2014Q3  0.091440  100645
1147  2014Q4  0.090056  100645
1148  2015Q1  0.061525  100645
1149  2015Q2 -0.097360  100645
1150  2015Q3 -0.088761  100645
1151  2015Q4  0.022780  100645
1152  2016Q1 -0.046112  100645
1153  2016Q2  0.061505  100645
1154  2016Q3  0.105516  100645
1155  2016Q4 -0.058185  100645
1156  2017Q1  0.055807  100645
1157  2017Q2  0.119824  100645
1158  2017Q3  0.047431  100645
1159  2017Q4  0.092754  100645
1240  2013Q1 -0.018841  119730
1241  2013Q2  0.066878  119730
1242  2013Q3  0.026428  119730
1243  2013Q4  0.001495  119730
1244  2014Q1  0.010862  119730
1245  2014Q2  0.066125  119730
1246  2014Q3  0.093045  119730
1247  2014Q4  0.091765  119730
1248  2015Q1  0.063291  119730
1249  2015Q2 -0.093745  119730
1250  2015Q3 -0.086306  119730
1251  2015Q4  0.025284  119730
1252  2016Q1 -0.043603  119730
1253  2016Q2  0.063697  119730
1254  2016Q3  0.107886  119730
1255  2016Q4 -0.055797  119730
1256  2017Q1  0.057905  119730
1257  2017Q2  0.122129  119730
1258  2017Q3  0.049669  119730
1259  2017Q4  0.095145  119730>)
('Key_aum: ', 100645)
      Quarter      Data      ID
43620  2013Q1  16708.47  100645
43621  2013Q2  16767.26  100645
43622  2013Q3  16338.75  100645
43623  2013Q4  15562.71  100645
43624  2014Q1  14558.82  100645
43625  2014Q2  13870.63  100645
43626  2014Q3  13547.09  100645
43627  2014Q4  13922.68  100645
43628  2015Q1  14061.77  100645
43629  2015Q2  13624.89  100645
43630  2015Q3  11808.84  100645
43631  2015Q4  11249.97  100645
43632  2016Q1  10751.85  100645
43633  2016Q2  11579.43  100645
43634  2016Q3  12594.08  100645
43635  2016Q4  11573.60  100645
43636  2017Q1  12016.72  100645
43637  2017Q2  13166.86  100645
43638  2017Q3  13470.95  100645
43639  2017Q4  14784.39  100645
('Key_nav : ', 100645)
('data 1 : ', array([-0.02241774, -0.0145759 , -0.05623331, -0.00036862,  0.00934791,
        0.06451739,  0.09143974,  0.09005596,  0.06152488, -0.09736012,
       -0.08876082,  0.02277992, -0.04611245,  0.06150472,  0.10551625,
       -0.05818462,  0.05580732,  0.11982441,  0.04743101,  0.09275407]))
('data 2 :', array([ 16708.47,  16767.26,  16338.75,  15562.71,  14558.82,  13870.63,
        13547.09,  13922.68,  14061.77,  13624.89,  11808.84,  11249.97,
        10751.85,  11579.43,  12594.08,  11573.6 ,  12016.72,  13166.86,
        13470.95,  14784.39]))
('Key_aum: ', 119730)
      Quarter     Data      ID
43560  2013Q1    93.97  119730
43561  2013Q2   266.10  119730
43562  2013Q3   417.59  119730
43563  2013Q4   472.96  119730
43564  2014Q1   513.23  119730
43565  2014Q2   526.08  119730
43566  2014Q3   568.11  119730
43567  2014Q4   664.06  119730
43568  2015Q1   731.88  119730
43569  2015Q2   653.24  119730
43570  2015Q3   750.68  119730
43571  2015Q4   809.22  119730
43572  2016Q1   797.69  119730
43573  2016Q2   882.84  119730
43574  2016Q3  1001.12  119730
43575  2016Q4   849.96  119730
43576  2017Q1   963.76  119730
43577  2017Q2  1085.77  119730
43578  2017Q3  1184.85  119730
43579  2017Q4  1391.80  119730
('Key_nav : ', 119730)
('data 1 : ', array([-0.01884069,  0.06687846,  0.02642829,  0.00149518,  0.01086201,
        0.06612459,  0.09304487,  0.0917653 ,  0.06329098, -0.09374505,
       -0.08630598,  0.02528397, -0.0436032 ,  0.06369741,  0.10788587,
       -0.05579724,  0.05790512,  0.12212868,  0.04966917,  0.09514468]))
('data 2 :', array([   93.97,   266.1 ,   417.59,   472.96,   513.23,   526.08,
         568.11,   664.06,   731.88,   653.24,   750.68,   809.22,
         797.69,   882.84,  1001.12,   849.96,   963.76,  1085.77,
        1184.85,  1391.8 ]))
('mean : ', array([-0.01884069,  0.06687846,  0.02642829,  0.00149518,  0.01086201,
        0.06612459,  0.09304487,  0.0917653 ,  0.06329098, -0.09374505,
       -0.08630598,  0.02528397, -0.0436032 ,  0.06369741,  0.10788587,
       -0.05579724,  0.05790512,  0.12212868,  0.04966917,  0.09514468]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
43560  2013Q1     93.97  119730
43561  2013Q2    266.10  119730
43562  2013Q3    417.59  119730
43563  2013Q4    472.96  119730
43564  2014Q1    513.23  119730
43565  2014Q2    526.08  119730
43566  2014Q3    568.11  119730
43567  2014Q4    664.06  119730
43568  2015Q1    731.88  119730
43569  2015Q2    653.24  119730
43570  2015Q3    750.68  119730
43571  2015Q4    809.22  119730
43572  2016Q1    797.69  119730
43573  2016Q2    882.84  119730
43574  2016Q3   1001.12  119730
43575  2016Q4    849.96  119730
43576  2017Q1    963.76  119730
43577  2017Q2   1085.77  119730
43578  2017Q3   1184.85  119730
43579  2017Q4   1391.80  119730
43620  2013Q1  16708.47  100645
43621  2013Q2  16767.26  100645
43622  2013Q3  16338.75  100645
43623  2013Q4  15562.71  100645
43624  2014Q1  14558.82  100645
43625  2014Q2  13870.63  100645
43626  2014Q3  13547.09  100645
43627  2014Q4  13922.68  100645
43628  2015Q1  14061.77  100645
43629  2015Q2  13624.89  100645
43630  2015Q3  11808.84  100645
43631  2015Q4  11249.97  100645
43632  2016Q1  10751.85  100645
43633  2016Q2  11579.43  100645
43634  2016Q3  12594.08  100645
43635  2016Q4  11573.60  100645
43636  2017Q1  12016.72  100645
43637  2017Q2  13166.86  100645
43638  2017Q3  13470.95  100645
43639  2017Q4  14784.39  100645>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1140  2013Q1 -0.022418  100645
1141  2013Q2 -0.014576  100645
1142  2013Q3 -0.056233  100645
1143  2013Q4 -0.000369  100645
1144  2014Q1  0.009348  100645
1145  2014Q2  0.064517  100645
1146  2014Q3  0.091440  100645
1147  2014Q4  0.090056  100645
1148  2015Q1  0.061525  100645
1149  2015Q2 -0.097360  100645
1150  2015Q3 -0.088761  100645
1151  2015Q4  0.022780  100645
1152  2016Q1 -0.046112  100645
1153  2016Q2  0.061505  100645
1154  2016Q3  0.105516  100645
1155  2016Q4 -0.058185  100645
1156  2017Q1  0.055807  100645
1157  2017Q2  0.119824  100645
1158  2017Q3  0.047431  100645
1159  2017Q4  0.092754  100645
1240  2013Q1 -0.018841  119730
1241  2013Q2  0.066878  119730
1242  2013Q3  0.026428  119730
1243  2013Q4  0.001495  119730
1244  2014Q1  0.010862  119730
1245  2014Q2  0.066125  119730
1246  2014Q3  0.093045  119730
1247  2014Q4  0.091765  119730
1248  2015Q1  0.063291  119730
1249  2015Q2 -0.093745  119730
1250  2015Q3 -0.086306  119730
1251  2015Q4  0.025284  119730
1252  2016Q1 -0.043603  119730
1253  2016Q2  0.063697  119730
1254  2016Q3  0.107886  119730
1255  2016Q4 -0.055797  119730
1256  2017Q1  0.057905  119730
1257  2017Q2  0.122129  119730
1258  2017Q3  0.049669  119730
1259  2017Q4  0.095145  119730>)
('Key_aum: ', 100645)
      Quarter      Data      ID
43620  2013Q1  16708.47  100645
43621  2013Q2  16767.26  100645
43622  2013Q3  16338.75  100645
43623  2013Q4  15562.71  100645
43624  2014Q1  14558.82  100645
43625  2014Q2  13870.63  100645
43626  2014Q3  13547.09  100645
43627  2014Q4  13922.68  100645
43628  2015Q1  14061.77  100645
43629  2015Q2  13624.89  100645
43630  2015Q3  11808.84  100645
43631  2015Q4  11249.97  100645
43632  2016Q1  10751.85  100645
43633  2016Q2  11579.43  100645
43634  2016Q3  12594.08  100645
43635  2016Q4  11573.60  100645
43636  2017Q1  12016.72  100645
43637  2017Q2  13166.86  100645
43638  2017Q3  13470.95  100645
43639  2017Q4  14784.39  100645
('Key_nav : ', 100645)
('data 1 : ', array([-0.02241774, -0.0145759 , -0.05623331, -0.00036862,  0.00934791,
        0.06451739,  0.09143974,  0.09005596,  0.06152488, -0.09736012,
       -0.08876082,  0.02277992, -0.04611245,  0.06150472,  0.10551625,
       -0.05818462,  0.05580732,  0.11982441,  0.04743101,  0.09275407]))
('data 2 :', array([ 16708.47,  16767.26,  16338.75,  15562.71,  14558.82,  13870.63,
        13547.09,  13922.68,  14061.77,  13624.89,  11808.84,  11249.97,
        10751.85,  11579.43,  12594.08,  11573.6 ,  12016.72,  13166.86,
        13470.95,  14784.39]))
('Key_aum: ', 119730)
      Quarter     Data      ID
43560  2013Q1    93.97  119730
43561  2013Q2   266.10  119730
43562  2013Q3   417.59  119730
43563  2013Q4   472.96  119730
43564  2014Q1   513.23  119730
43565  2014Q2   526.08  119730
43566  2014Q3   568.11  119730
43567  2014Q4   664.06  119730
43568  2015Q1   731.88  119730
43569  2015Q2   653.24  119730
43570  2015Q3   750.68  119730
43571  2015Q4   809.22  119730
43572  2016Q1   797.69  119730
43573  2016Q2   882.84  119730
43574  2016Q3  1001.12  119730
43575  2016Q4   849.96  119730
43576  2017Q1   963.76  119730
43577  2017Q2  1085.77  119730
43578  2017Q3  1184.85  119730
43579  2017Q4  1391.80  119730
('Key_nav : ', 119730)
('data 1 : ', array([-0.01884069,  0.06687846,  0.02642829,  0.00149518,  0.01086201,
        0.06612459,  0.09304487,  0.0917653 ,  0.06329098, -0.09374505,
       -0.08630598,  0.02528397, -0.0436032 ,  0.06369741,  0.10788587,
       -0.05579724,  0.05790512,  0.12212868,  0.04966917,  0.09514468]))
('data 2 :', array([   93.97,   266.1 ,   417.59,   472.96,   513.23,   526.08,
         568.11,   664.06,   731.88,   653.24,   750.68,   809.22,
         797.69,   882.84,  1001.12,   849.96,   963.76,  1085.77,
        1184.85,  1391.8 ]))
('mean : ', array([-0.01884069,  0.06687846,  0.02642829,  0.00149518,  0.01086201,
        0.06612459,  0.09304487,  0.0917653 ,  0.06329098, -0.09374505,
       -0.08630598,  0.02528397, -0.0436032 ,  0.06369741,  0.10788587,
       -0.05579724,  0.05790512,  0.12212868,  0.04966917,  0.09514468]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
43560  2013Q1     93.97  119730
43561  2013Q2    266.10  119730
43562  2013Q3    417.59  119730
43563  2013Q4    472.96  119730
43564  2014Q1    513.23  119730
43565  2014Q2    526.08  119730
43566  2014Q3    568.11  119730
43567  2014Q4    664.06  119730
43568  2015Q1    731.88  119730
43569  2015Q2    653.24  119730
43570  2015Q3    750.68  119730
43571  2015Q4    809.22  119730
43572  2016Q1    797.69  119730
43573  2016Q2    882.84  119730
43574  2016Q3   1001.12  119730
43575  2016Q4    849.96  119730
43576  2017Q1    963.76  119730
43577  2017Q2   1085.77  119730
43578  2017Q3   1184.85  119730
43579  2017Q4   1391.80  119730
43620  2013Q1  16708.47  100645
43621  2013Q2  16767.26  100645
43622  2013Q3  16338.75  100645
43623  2013Q4  15562.71  100645
43624  2014Q1  14558.82  100645
43625  2014Q2  13870.63  100645
43626  2014Q3  13547.09  100645
43627  2014Q4  13922.68  100645
43628  2015Q1  14061.77  100645
43629  2015Q2  13624.89  100645
43630  2015Q3  11808.84  100645
43631  2015Q4  11249.97  100645
43632  2016Q1  10751.85  100645
43633  2016Q2  11579.43  100645
43634  2016Q3  12594.08  100645
43635  2016Q4  11573.60  100645
43636  2017Q1  12016.72  100645
43637  2017Q2  13166.86  100645
43638  2017Q3  13470.95  100645
43639  2017Q4  14784.39  100645>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1140  2013Q1 -0.022418  100645
1141  2013Q2 -0.014576  100645
1142  2013Q3 -0.056233  100645
1143  2013Q4 -0.000369  100645
1144  2014Q1  0.009348  100645
1145  2014Q2  0.064517  100645
1146  2014Q3  0.091440  100645
1147  2014Q4  0.090056  100645
1148  2015Q1  0.061525  100645
1149  2015Q2 -0.097360  100645
1150  2015Q3 -0.088761  100645
1151  2015Q4  0.022780  100645
1152  2016Q1 -0.046112  100645
1153  2016Q2  0.061505  100645
1154  2016Q3  0.105516  100645
1155  2016Q4 -0.058185  100645
1156  2017Q1  0.055807  100645
1157  2017Q2  0.119824  100645
1158  2017Q3  0.047431  100645
1159  2017Q4  0.092754  100645
1240  2013Q1 -0.018841  119730
1241  2013Q2  0.066878  119730
1242  2013Q3  0.026428  119730
1243  2013Q4  0.001495  119730
1244  2014Q1  0.010862  119730
1245  2014Q2  0.066125  119730
1246  2014Q3  0.093045  119730
1247  2014Q4  0.091765  119730
1248  2015Q1  0.063291  119730
1249  2015Q2 -0.093745  119730
1250  2015Q3 -0.086306  119730
1251  2015Q4  0.025284  119730
1252  2016Q1 -0.043603  119730
1253  2016Q2  0.063697  119730
1254  2016Q3  0.107886  119730
1255  2016Q4 -0.055797  119730
1256  2017Q1  0.057905  119730
1257  2017Q2  0.122129  119730
1258  2017Q3  0.049669  119730
1259  2017Q4  0.095145  119730>)
('Key_aum: ', 100645)
      Quarter      Data      ID
43620  2013Q1  16708.47  100645
43621  2013Q2  16767.26  100645
43622  2013Q3  16338.75  100645
43623  2013Q4  15562.71  100645
43624  2014Q1  14558.82  100645
43625  2014Q2  13870.63  100645
43626  2014Q3  13547.09  100645
43627  2014Q4  13922.68  100645
43628  2015Q1  14061.77  100645
43629  2015Q2  13624.89  100645
43630  2015Q3  11808.84  100645
43631  2015Q4  11249.97  100645
43632  2016Q1  10751.85  100645
43633  2016Q2  11579.43  100645
43634  2016Q3  12594.08  100645
43635  2016Q4  11573.60  100645
43636  2017Q1  12016.72  100645
43637  2017Q2  13166.86  100645
43638  2017Q3  13470.95  100645
43639  2017Q4  14784.39  100645
('Key_nav : ', 100645)
('data 1 : ', array([-0.02241774, -0.0145759 , -0.05623331, -0.00036862,  0.00934791,
        0.06451739,  0.09143974,  0.09005596,  0.06152488, -0.09736012,
       -0.08876082,  0.02277992, -0.04611245,  0.06150472,  0.10551625,
       -0.05818462,  0.05580732,  0.11982441,  0.04743101,  0.09275407]))
('data 2 :', array([ 16708.47,  16767.26,  16338.75,  15562.71,  14558.82,  13870.63,
        13547.09,  13922.68,  14061.77,  13624.89,  11808.84,  11249.97,
        10751.85,  11579.43,  12594.08,  11573.6 ,  12016.72,  13166.86,
        13470.95,  14784.39]))
('Key_aum: ', 119730)
      Quarter     Data      ID
43560  2013Q1    93.97  119730
43561  2013Q2   266.10  119730
43562  2013Q3   417.59  119730
43563  2013Q4   472.96  119730
43564  2014Q1   513.23  119730
43565  2014Q2   526.08  119730
43566  2014Q3   568.11  119730
43567  2014Q4   664.06  119730
43568  2015Q1   731.88  119730
43569  2015Q2   653.24  119730
43570  2015Q3   750.68  119730
43571  2015Q4   809.22  119730
43572  2016Q1   797.69  119730
43573  2016Q2   882.84  119730
43574  2016Q3  1001.12  119730
43575  2016Q4   849.96  119730
43576  2017Q1   963.76  119730
43577  2017Q2  1085.77  119730
43578  2017Q3  1184.85  119730
43579  2017Q4  1391.80  119730
('Key_nav : ', 119730)
('data 1 : ', array([-0.01884069,  0.06687846,  0.02642829,  0.00149518,  0.01086201,
        0.06612459,  0.09304487,  0.0917653 ,  0.06329098, -0.09374505,
       -0.08630598,  0.02528397, -0.0436032 ,  0.06369741,  0.10788587,
       -0.05579724,  0.05790512,  0.12212868,  0.04966917,  0.09514468]))
('data 2 :', array([   93.97,   266.1 ,   417.59,   472.96,   513.23,   526.08,
         568.11,   664.06,   731.88,   653.24,   750.68,   809.22,
         797.69,   882.84,  1001.12,   849.96,   963.76,  1085.77,
        1184.85,  1391.8 ]))
('mean : ', array([-0.01884069,  0.06687846,  0.02642829,  0.00149518,  0.01086201,
        0.06612459,  0.09304487,  0.0917653 ,  0.06329098, -0.09374505,
       -0.08630598,  0.02528397, -0.0436032 ,  0.06369741,  0.10788587,
       -0.05579724,  0.05790512,  0.12212868,  0.04966917,  0.09514468]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
43560  2013Q1     93.97  119730
43561  2013Q2    266.10  119730
43562  2013Q3    417.59  119730
43563  2013Q4    472.96  119730
43564  2014Q1    513.23  119730
43565  2014Q2    526.08  119730
43566  2014Q3    568.11  119730
43567  2014Q4    664.06  119730
43568  2015Q1    731.88  119730
43569  2015Q2    653.24  119730
43570  2015Q3    750.68  119730
43571  2015Q4    809.22  119730
43572  2016Q1    797.69  119730
43573  2016Q2    882.84  119730
43574  2016Q3   1001.12  119730
43575  2016Q4    849.96  119730
43576  2017Q1    963.76  119730
43577  2017Q2   1085.77  119730
43578  2017Q3   1184.85  119730
43579  2017Q4   1391.80  119730
43620  2013Q1  16708.47  100645
43621  2013Q2  16767.26  100645
43622  2013Q3  16338.75  100645
43623  2013Q4  15562.71  100645
43624  2014Q1  14558.82  100645
43625  2014Q2  13870.63  100645
43626  2014Q3  13547.09  100645
43627  2014Q4  13922.68  100645
43628  2015Q1  14061.77  100645
43629  2015Q2  13624.89  100645
43630  2015Q3  11808.84  100645
43631  2015Q4  11249.97  100645
43632  2016Q1  10751.85  100645
43633  2016Q2  11579.43  100645
43634  2016Q3  12594.08  100645
43635  2016Q4  11573.60  100645
43636  2017Q1  12016.72  100645
43637  2017Q2  13166.86  100645
43638  2017Q3  13470.95  100645

('data 2 :', array([ 16708.47,  16767.26,  16338.75,  15562.71,  14558.82,  13870.63,
        13547.09,  13922.68,  14061.77,  13624.89,  11808.84,  11249.97,
        10751.85,  11579.43,  12594.08,  11573.6 ,  12016.72,  13166.86,
        13470.95,  14784.39]))
('Key_aum: ', 119730)
      Quarter     Data      ID
43560  2013Q1    93.97  119730
43561  2013Q2   266.10  119730
43562  2013Q3   417.59  119730
43563  2013Q4   472.96  119730
43564  2014Q1   513.23  119730
43565  2014Q2   526.08  119730
43566  2014Q3   568.11  119730
43567  2014Q4   664.06  119730
43568  2015Q1   731.88  119730
43569  2015Q2   653.24  119730
43570  2015Q3   750.68  119730
43571  2015Q4   809.22  119730
43572  2016Q1   797.69  119730
43573  2016Q2   882.84  119730
43574  2016Q3  1001.12  119730
43575  2016Q4   849.96  119730
43576  2017Q1   963.76  119730
43577  2017Q2  1085.77  119730
43578  2017Q3  1184.85  119730
43579  2017Q4  1391.80  119730
('Key_nav : ', 119730)
('data 1 : ', array([-0.01884069,  0.06687846,  0.02642829,  0.00149518,  0.01086201,
        0.06612459,  0.09304487,  0.0917653 ,  0.06329098, -0.09374505,
       -0.08630598,  0.02528397, -0.0436032 ,  0.06369741,  0.10788587,
       -0.05579724,  0.05790512,  0.12212868,  0.04966917,  0.09514468]))
('data 2 :', array([   93.97,   266.1 ,   417.59,   472.96,   513.23,   526.08,
         568.11,   664.06,   731.88,   653.24,   750.68,   809.22,
         797.69,   882.84,  1001.12,   849.96,   963.76,  1085.77,
        1184.85,  1391.8 ]))
('mean : ', array([-0.01884069,  0.06687846,  0.02642829,  0.00149518,  0.01086201,
        0.06612459,  0.09304487,  0.0917653 ,  0.06329098, -0.09374505,
       -0.08630598,  0.02528397, -0.0436032 ,  0.06369741,  0.10788587,
       -0.05579724,  0.05790512,  0.12212868,  0.04966917,  0.09514468]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
43560  2013Q1     93.97  119730
43561  2013Q2    266.10  119730
43562  2013Q3    417.59  119730
43563  2013Q4    472.96  119730
43564  2014Q1    513.23  119730
43565  2014Q2    526.08  119730
43566  2014Q3    568.11  119730
43567  2014Q4    664.06  119730
43568  2015Q1    731.88  119730
43569  2015Q2    653.24  119730
43570  2015Q3    750.68  119730
43571  2015Q4    809.22  119730
43572  2016Q1    797.69  119730
43573  2016Q2    882.84  119730
43574  2016Q3   1001.12  119730
43575  2016Q4    849.96  119730
43576  2017Q1    963.76  119730
43577  2017Q2   1085.77  119730
43578  2017Q3   1184.85  119730
43579  2017Q4   1391.80  119730
43620  2013Q1  16708.47  100645
43621  2013Q2  16767.26  100645
43622  2013Q3  16338.75  100645
43623  2013Q4  15562.71  100645
43624  2014Q1  14558.82  100645
43625  2014Q2  13870.63  100645
43626  2014Q3  13547.09  100645
43627  2014Q4  13922.68  100645
43628  2015Q1  14061.77  100645
43629  2015Q2  13624.89  100645
43630  2015Q3  11808.84  100645
43631  2015Q4  11249.97  100645
43632  2016Q1  10751.85  100645
43633  2016Q2  11579.43  100645
43634  2016Q3  12594.08  100645
43635  2016Q4  11573.60  100645
43636  2017Q1  12016.72  100645
43637  2017Q2  13166.86  100645
43638  2017Q3  13470.95  100645
43639  2017Q4  14784.39  100645>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1140  2013Q1 -0.022418  100645
1141  2013Q2 -0.014576  100645
1142  2013Q3 -0.056233  100645
1143  2013Q4 -0.000369  100645
1144  2014Q1  0.009348  100645
1145  2014Q2  0.064517  100645
1146  2014Q3  0.091440  100645
1147  2014Q4  0.090056  100645
1148  2015Q1  0.061525  100645
1149  2015Q2 -0.097360  100645
1150  2015Q3 -0.088761  100645
1151  2015Q4  0.022780  100645
1152  2016Q1 -0.046112  100645
1153  2016Q2  0.061505  100645
1154  2016Q3  0.105516  100645
1155  2016Q4 -0.058185  100645
1156  2017Q1  0.055807  100645
1157  2017Q2  0.119824  100645
1158  2017Q3  0.047431  100645
1159  2017Q4  0.092754  100645
1240  2013Q1 -0.018841  119730
1241  2013Q2  0.066878  119730
1242  2013Q3  0.026428  119730
1243  2013Q4  0.001495  119730
1244  2014Q1  0.010862  119730
1245  2014Q2  0.066125  119730
1246  2014Q3  0.093045  119730
1247  2014Q4  0.091765  119730
1248  2015Q1  0.063291  119730
1249  2015Q2 -0.093745  119730
1250  2015Q3 -0.086306  119730
1251  2015Q4  0.025284  119730
1252  2016Q1 -0.043603  119730
1253  2016Q2  0.063697  119730
1254  2016Q3  0.107886  119730
1255  2016Q4 -0.055797  119730
1256  2017Q1  0.057905  119730
1257  2017Q2  0.122129  119730
1258  2017Q3  0.049669  119730
1259  2017Q4  0.095145  119730>)
('Key_aum: ', 100645)
      Quarter      Data      ID
43620  2013Q1  16708.47  100645
43621  2013Q2  16767.26  100645
43622  2013Q3  16338.75  100645
43623  2013Q4  15562.71  100645
43624  2014Q1  14558.82  100645
43625  2014Q2  13870.63  100645
43626  2014Q3  13547.09  100645
43627  2014Q4  13922.68  100645
43628  2015Q1  14061.77  100645
43629  2015Q2  13624.89  100645
43630  2015Q3  11808.84  100645
43631  2015Q4  11249.97  100645
43632  2016Q1  10751.85  100645
43633  2016Q2  11579.43  100645
43634  2016Q3  12594.08  100645
43635  2016Q4  11573.60  100645
43636  2017Q1  12016.72  100645
43637  2017Q2  13166.86  100645
43638  2017Q3  13470.95  100645
43639  2017Q4  14784.39  100645
('Key_nav : ', 100645)
('data 1 : ', array([-0.02241774, -0.0145759 , -0.05623331, -0.00036862,  0.00934791,
        0.06451739,  0.09143974,  0.09005596,  0.06152488, -0.09736012,
       -0.08876082,  0.02277992, -0.04611245,  0.06150472,  0.10551625,
       -0.05818462,  0.05580732,  0.11982441,  0.04743101,  0.09275407]))
('data 2 :', array([ 16708.47,  16767.26,  16338.75,  15562.71,  14558.82,  13870.63,
        13547.09,  13922.68,  14061.77,  13624.89,  11808.84,  11249.97,
        10751.85,  11579.43,  12594.08,  11573.6 ,  12016.72,  13166.86,
        13470.95,  14784.39]))
('Key_aum: ', 119730)
      Quarter     Data      ID
43560  2013Q1    93.97  119730
43561  2013Q2   266.10  119730
43562  2013Q3   417.59  119730
43563  2013Q4   472.96  119730
43564  2014Q1   513.23  119730
43565  2014Q2   526.08  119730
43566  2014Q3   568.11  119730
43567  2014Q4   664.06  119730
43568  2015Q1   731.88  119730
43569  2015Q2   653.24  119730
43570  2015Q3   750.68  119730
43571  2015Q4   809.22  119730
43572  2016Q1   797.69  119730
43573  2016Q2   882.84  119730
43574  2016Q3  1001.12  119730
43575  2016Q4   849.96  119730
43576  2017Q1   963.76  119730
43577  2017Q2  1085.77  119730
43578  2017Q3  1184.85  119730
43579  2017Q4  1391.80  119730
('Key_nav : ', 119730)
('data 1 : ', array([-0.01884069,  0.06687846,  0.02642829,  0.00149518,  0.01086201,
        0.06612459,  0.09304487,  0.0917653 ,  0.06329098, -0.09374505,
       -0.08630598,  0.02528397, -0.0436032 ,  0.06369741,  0.10788587,
       -0.05579724,  0.05790512,  0.12212868,  0.04966917,  0.09514468]))
('data 2 :', array([   93.97,   266.1 ,   417.59,   472.96,   513.23,   526.08,
         568.11,   664.06,   731.88,   653.24,   750.68,   809.22,
         797.69,   882.84,  1001.12,   849.96,   963.76,  1085.77,
        1184.85,  1391.8 ]))
('mean : ', array([-0.01884069,  0.06687846,  0.02642829,  0.00149518,  0.01086201,
        0.06612459,  0.09304487,  0.0917653 ,  0.06329098, -0.09374505,
       -0.08630598,  0.02528397, -0.0436032 ,  0.06369741,  0.10788587,
       -0.05579724,  0.05790512,  0.12212868,  0.04966917,  0.09514468]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
43560  2013Q1     93.97  119730
43561  2013Q2    266.10  119730
43562  2013Q3    417.59  119730
43563  2013Q4    472.96  119730
43564  2014Q1    513.23  119730
43565  2014Q2    526.08  119730
43566  2014Q3    568.11  119730
43567  2014Q4    664.06  119730
43568  2015Q1    731.88  119730
43569  2015Q2    653.24  119730
43570  2015Q3    750.68  119730
43571  2015Q4    809.22  119730
43572  2016Q1    797.69  119730
43573  2016Q2    882.84  119730
43574  2016Q3   1001.12  119730
43575  2016Q4    849.96  119730
43576  2017Q1    963.76  119730
43577  2017Q2   1085.77  119730
43578  2017Q3   1184.85  119730
43579  2017Q4   1391.80  119730
43620  2013Q1  16708.47  100645
43621  2013Q2  16767.26  100645
43622  2013Q3  16338.75  100645
43623  2013Q4  15562.71  100645
43624  2014Q1  14558.82  100645
43625  2014Q2  13870.63  100645
43626  2014Q3  13547.09  100645
43627  2014Q4  13922.68  100645
43628  2015Q1  14061.77  100645
43629  2015Q2  13624.89  100645
43630  2015Q3  11808.84  100645
43631  2015Q4  11249.97  100645
43632  2016Q1  10751.85  100645
43633  2016Q2  11579.43  100645
43634  2016Q3  12594.08  100645
43635  2016Q4  11573.60  100645
43636  2017Q1  12016.72  100645
43637  2017Q2  13166.86  100645
43638  2017Q3  13470.95  100645
43639  2017Q4  14784.39  100645>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1140  2013Q1 -0.022418  100645
1141  2013Q2 -0.014576  100645
1142  2013Q3 -0.056233  100645
1143  2013Q4 -0.000369  100645
1144  2014Q1  0.009348  100645
1145  2014Q2  0.064517  100645
1146  2014Q3  0.091440  100645
1147  2014Q4  0.090056  100645
1148  2015Q1  0.061525  100645
1149  2015Q2 -0.097360  100645
1150  2015Q3 -0.088761  100645
1151  2015Q4  0.022780  100645
1152  2016Q1 -0.046112  100645
1153  2016Q2  0.061505  100645
1154  2016Q3  0.105516  100645
1155  2016Q4 -0.058185  100645
1156  2017Q1  0.055807  100645
1157  2017Q2  0.119824  100645
1158  2017Q3  0.047431  100645
1159  2017Q4  0.092754  100645
1240  2013Q1 -0.018841  119730
1241  2013Q2  0.066878  119730
1242  2013Q3  0.026428  119730
1243  2013Q4  0.001495  119730
1244  2014Q1  0.010862  119730
1245  2014Q2  0.066125  119730
1246  2014Q3  0.093045  119730
1247  2014Q4  0.091765  119730
1248  2015Q1  0.063291  119730
1249  2015Q2 -0.093745  119730
1250  2015Q3 -0.086306  119730
1251  2015Q4  0.025284  119730
1252  2016Q1 -0.043603  119730
1253  2016Q2  0.063697  119730
1254  2016Q3  0.107886  119730
1255  2016Q4 -0.055797  119730
1256  2017Q1  0.057905  119730
1257  2017Q2  0.122129  119730
1258  2017Q3  0.049669  119730
1259  2017Q4  0.095145  119730>)
('Key_aum: ', 100645)
      Quarter      Data      ID
43620  2013Q1  16708.47  100645
43621  2013Q2  16767.26  100645
43622  2013Q3  16338.75  100645
43623  2013Q4  15562.71  100645
43624  2014Q1  14558.82  100645
43625  2014Q2  13870.63  100645
43626  2014Q3  13547.09  100645
43627  2014Q4  13922.68  100645
43628  2015Q1  14061.77  100645
43629  2015Q2  13624.89  100645
43630  2015Q3  11808.84  100645
43631  2015Q4  11249.97  100645
43632  2016Q1  10751.85  100645
43633  2016Q2  11579.43  100645
43634  2016Q3  12594.08  100645
43635  2016Q4  11573.60  100645
43636  2017Q1  12016.72  100645
43637  2017Q2  13166.86  100645
43638  2017Q3  13470.95  100645
43639  2017Q4  14784.39  100645
('Key_nav : ', 100645)
('data 1 : ', array([-0.02241774, -0.0145759 , -0.05623331, -0.00036862,  0.00934791,
        0.06451739,  0.09143974,  0.09005596,  0.06152488, -0.09736012,
       -0.08876082,  0.02277992, -0.04611245,  0.06150472,  0.10551625,
       -0.05818462,  0.05580732,  0.11982441,  0.04743101,  0.09275407]))
('data 2 :', array([ 16708.47,  16767.26,  16338.75,  15562.71,  14558.82,  13870.63,
        13547.09,  13922.68,  14061.77,  13624.89,  11808.84,  11249.97,
        10751.85,  11579.43,  12594.08,  11573.6 ,  12016.72,  13166.86,
        13470.95,  14784.39]))
('Key_aum: ', 119730)
      Quarter     Data      ID
43560  2013Q1    93.97  119730
43561  2013Q2   266.10  119730
43562  2013Q3   417.59  119730
43563  2013Q4   472.96  119730
43564  2014Q1   513.23  119730
43565  2014Q2   526.08  119730
43566  2014Q3   568.11  119730
43567  2014Q4   664.06  119730
43568  2015Q1   731.88  119730
43569  2015Q2   653.24  119730
43570  2015Q3   750.68  119730
43571  2015Q4   809.22  119730
43572  2016Q1   797.69  119730
43573  2016Q2   882.84  119730
43574  2016Q3  1001.12  119730
43575  2016Q4   849.96  119730
43576  2017Q1   963.76  119730
43577  2017Q2  1085.77  119730
43578  2017Q3  1184.85  119730
43579  2017Q4  1391.80  119730
('Key_nav : ', 119730)
('data 1 : ', array([-0.01884069,  0.06687846,  0.02642829,  0.00149518,  0.01086201,
        0.06612459,  0.09304487,  0.0917653 ,  0.06329098, -0.09374505,
       -0.08630598,  0.02528397, -0.0436032 ,  0.06369741,  0.10788587,
       -0.05579724,  0.05790512,  0.12212868,  0.04966917,  0.09514468]))
('data 2 :', array([   93.97,   266.1 ,   417.59,   472.96,   513.23,   526.08,
         568.11,   664.06,   731.88,   653.24,   750.68,   809.22,
         797.69,   882.84,  1001.12,   849.96,   963.76,  1085.77,
        1184.85,  1391.8 ]))
('mean : ', array([-0.01884069,  0.06687846,  0.02642829,  0.00149518,  0.01086201,
        0.06612459,  0.09304487,  0.0917653 ,  0.06329098, -0.09374505,
       -0.08630598,  0.02528397, -0.0436032 ,  0.06369741,  0.10788587,
       -0.05579724,  0.05790512,  0.12212868,  0.04966917,  0.09514468]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
43560  2013Q1     93.97  119730
43561  2013Q2    266.10  119730
43562  2013Q3    417.59  119730
43563  2013Q4    472.96  119730
43564  2014Q1    513.23  119730
43565  2014Q2    526.08  119730
43566  2014Q3    568.11  119730
43567  2014Q4    664.06  119730
43568  2015Q1    731.88  119730
43569  2015Q2    653.24  119730
43570  2015Q3    750.68  119730
43571  2015Q4    809.22  119730
43572  2016Q1    797.69  119730
43573  2016Q2    882.84  119730
43574  2016Q3   1001.12  119730
43575  2016Q4    849.96  119730
43576  2017Q1    963.76  119730
43577  2017Q2   1085.77  119730
43578  2017Q3   1184.85  119730
43579  2017Q4   1391.80  119730
43620  2013Q1  16708.47  100645
43621  2013Q2  16767.26  100645
43622  2013Q3  16338.75  100645
43623  2013Q4  15562.71  100645
43624  2014Q1  14558.82  100645
43625  2014Q2  13870.63  100645
43626  2014Q3  13547.09  100645
43627  2014Q4  13922.68  100645
43628  2015Q1  14061.77  100645
43629  2015Q2  13624.89  100645
43630  2015Q3  11808.84  100645
43631  2015Q4  11249.97  100645
43632  2016Q1  10751.85  100645
43633  2016Q2  11579.43  100645
43634  2016Q3  12594.08  100645
43635  2016Q4  11573.60  100645
43636  2017Q1  12016.72  100645
43637  2017Q2  13166.86  100645
43638  2017Q3  13470.95  100645
43639  2017Q4  14784.39  100645>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1140  2013Q1 -0.022418  100645
1141  2013Q2 -0.014576  100645
1142  2013Q3 -0.056233  100645
1143  2013Q4 -0.000369  100645
1144  2014Q1  0.009348  100645
1145  2014Q2  0.064517  100645
1146  2014Q3  0.091440  100645
1147  2014Q4  0.090056  100645
1148  2015Q1  0.061525  100645
1149  2015Q2 -0.097360  100645
1150  2015Q3 -0.088761  100645
1151  2015Q4  0.022780  100645
1152  2016Q1 -0.046112  100645
1153  2016Q2  0.061505  100645
1154  2016Q3  0.105516  100645
1155  2016Q4 -0.058185  100645
1156  2017Q1  0.055807  100645
1157  2017Q2  0.119824  100645
1158  2017Q3  0.047431  100645
1159  2017Q4  0.092754  100645
1240  2013Q1 -0.018841  119730
1241  2013Q2  0.066878  119730
1242  2013Q3  0.026428  119730
1243  2013Q4  0.001495  119730
1244  2014Q1  0.010862  119730
1245  2014Q2  0.066125  119730
1246  2014Q3  0.093045  119730
1247  2014Q4  0.091765  119730
1248  2015Q1  0.063291  119730
1249  2015Q2 -0.093745  119730
1250  2015Q3 -0.086306  119730
1251  2015Q4  0.025284  119730
1252  2016Q1 -0.043603  119730
1253  2016Q2  0.063697  119730
1254  2016Q3  0.107886  119730
1255  2016Q4 -0.055797  119730
1256  2017Q1  0.057905  119730
1257  2017Q2  0.122129  119730
1258  2017Q3  0.049669  119730
1259  2017Q4  0.095145  119730>)
('Key_aum: ', 100645)
      Quarter      Data      ID
43620  2013Q1  16708.47  100645
43621  2013Q2  16767.26  100645
43622  2013Q3  16338.75  100645
43623  2013Q4  15562.71  100645
43624  2014Q1  14558.82  100645
43625  2014Q2  13870.63  100645
43626  2014Q3  13547.09  100645
43627  2014Q4  13922.68  100645
43628  2015Q1  14061.77  100645
43629  2015Q2  13624.89  100645
43630  2015Q3  11808.84  100645
43631  2015Q4  11249.97  100645
43632  2016Q1  10751.85  100645
43633  2016Q2  11579.43  100645
43634  2016Q3  12594.08  100645
43635  2016Q4  11573.60  100645
43636  2017Q1  12016.72  100645
43637  2017Q2  13166.86  100645
43638  2017Q3  13470.95  100645
43639  2017Q4  14784.39  100645
('Key_nav : ', 100645)
('data 1 : ', array([-0.02241774, -0.0145759 , -0.05623331, -0.00036862,  0.00934791,
        0.06451739,  0.09143974,  0.09005596,  0.06152488, -0.09736012,
       -0.08876082,  0.02277992, -0.04611245,  0.06150472,  0.10551625,
       -0.05818462,  0.05580732,  0.11982441,  0.04743101,  0.09275407]))
('data 2 :', array([ 16708.47,  16767.26,  16338.75,  15562.71,  14558.82,  13870.63,
        13547.09,  13922.68,  14061.77,  13624.89,  11808.84,  11249.97,
        10751.85,  11579.43,  12594.08,  11573.6 ,  12016.72,  13166.86,
        13470.95,  14784.39]))
('Key_aum: ', 119730)
      Quarter     Data      ID
43560  2013Q1    93.97  119730
43561  2013Q2   266.10  119730
43562  2013Q3   417.59  119730
43563  2013Q4   472.96  119730
43564  2014Q1   513.23  119730
43565  2014Q2   526.08  119730
43566  2014Q3   568.11  119730
43567  2014Q4   664.06  119730
43568  2015Q1   731.88  119730
43569  2015Q2   653.24  119730
43570  2015Q3   750.68  119730
43571  2015Q4   809.22  119730
43572  2016Q1   797.69  119730
43573  2016Q2   882.84  119730
43574  2016Q3  1001.12  119730
43575  2016Q4   849.96  119730
43576  2017Q1   963.76  119730
43577  2017Q2  1085.77  119730
43578  2017Q3  1184.85  119730
43579  2017Q4  1391.80  119730
('Key_nav : ', 119730)
('data 1 : ', array([-0.01884069,  0.06687846,  0.02642829,  0.00149518,  0.01086201,
        0.06612459,  0.09304487,  0.0917653 ,  0.06329098, -0.09374505,
       -0.08630598,  0.02528397, -0.0436032 ,  0.06369741,  0.10788587,
       -0.05579724,  0.05790512,  0.12212868,  0.04966917,  0.09514468]))
('data 2 :', array([   93.97,   266.1 ,   417.59,   472.96,   513.23,   526.08,
         568.11,   664.06,   731.88,   653.24,   750.68,   809.22,
         797.69,   882.84,  1001.12,   849.96,   963.76,  1085.77,
        1184.85,  1391.8 ]))
('mean : ', array([-0.01884069,  0.06687846,  0.02642829,  0.00149518,  0.01086201,
        0.06612459,  0.09304487,  0.0917653 ,  0.06329098, -0.09374505,
       -0.08630598,  0.02528397, -0.0436032 ,  0.06369741,  0.10788587,
       -0.05579724,  0.05790512,  0.12212868,  0.04966917,  0.09514468]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
43560  2013Q1     93.97  119730
43561  2013Q2    266.10  119730
43562  2013Q3    417.59  119730
43563  2013Q4    472.96  119730
43564  2014Q1    513.23  119730
43565  2014Q2    526.08  119730
43566  2014Q3    568.11  119730
43567  2014Q4    664.06  119730
43568  2015Q1    731.88  119730
43569  2015Q2    653.24  119730
43570  2015Q3    750.68  119730
43571  2015Q4    809.22  119730
43572  2016Q1    797.69  119730
43573  2016Q2    882.84  119730
43574  2016Q3   1001.12  119730
43575  2016Q4    849.96  119730
43576  2017Q1    963.76  119730
43577  2017Q2   1085.77  119730
43578  2017Q3   1184.85  119730
43579  2017Q4   1391.80  119730
43620  2013Q1  16708.47  100645
43621  2013Q2  16767.26  100645
43622  2013Q3  16338.75  100645
43623  2013Q4  15562.71  100645
43624  2014Q1  14558.82  100645
43625  2014Q2  13870.63  100645
43626  2014Q3  13547.09  100645
43627  2014Q4  13922.68  100645
43628  2015Q1  14061.77  100645
43629  2015Q2  13624.89  100645
43630  2015Q3  11808.84  100645
43631  2015Q4  11249.97  100645
43632  2016Q1  10751.85  100645
43633  2016Q2  11579.43  100645
43634  2016Q3  12594.08  100645
43635  2016Q4  11573.60  100645
43636  2017Q1  12016.72  100645
43637  2017Q2  13166.86  100645
43638  2017Q3  13470.95  100645
43639  2017Q4  14784.39  100645>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1140  2013Q1 -0.022418  100645
1141  2013Q2 -0.014576  100645
1142  2013Q3 -0.056233  100645
1143  2013Q4 -0.000369  100645
1144  2014Q1  0.009348  100645
1145  2014Q2  0.064517  100645

('Key_nav : ', 100645)
('data 1 : ', array([-0.02241774, -0.0145759 , -0.05623331, -0.00036862,  0.00934791,
        0.06451739,  0.09143974,  0.09005596,  0.06152488, -0.09736012,
       -0.08876082,  0.02277992, -0.04611245,  0.06150472,  0.10551625,
       -0.05818462,  0.05580732,  0.11982441,  0.04743101,  0.09275407]))
('data 2 :', array([ 16708.47,  16767.26,  16338.75,  15562.71,  14558.82,  13870.63,
        13547.09,  13922.68,  14061.77,  13624.89,  11808.84,  11249.97,
        10751.85,  11579.43,  12594.08,  11573.6 ,  12016.72,  13166.86,
        13470.95,  14784.39]))
('Key_aum: ', 119730)
      Quarter     Data      ID
43560  2013Q1    93.97  119730
43561  2013Q2   266.10  119730
43562  2013Q3   417.59  119730
43563  2013Q4   472.96  119730
43564  2014Q1   513.23  119730
43565  2014Q2   526.08  119730
43566  2014Q3   568.11  119730
43567  2014Q4   664.06  119730
43568  2015Q1   731.88  119730
43569  2015Q2   653.24  119730
43570  2015Q3   750.68  119730
43571  2015Q4   809.22  119730
43572  2016Q1   797.69  119730
43573  2016Q2   882.84  119730
43574  2016Q3  1001.12  119730
43575  2016Q4   849.96  119730
43576  2017Q1   963.76  119730
43577  2017Q2  1085.77  119730
43578  2017Q3  1184.85  119730
43579  2017Q4  1391.80  119730
('Key_nav : ', 119730)
('data 1 : ', array([-0.01884069,  0.06687846,  0.02642829,  0.00149518,  0.01086201,
        0.06612459,  0.09304487,  0.0917653 ,  0.06329098, -0.09374505,
       -0.08630598,  0.02528397, -0.0436032 ,  0.06369741,  0.10788587,
       -0.05579724,  0.05790512,  0.12212868,  0.04966917,  0.09514468]))
('data 2 :', array([   93.97,   266.1 ,   417.59,   472.96,   513.23,   526.08,
         568.11,   664.06,   731.88,   653.24,   750.68,   809.22,
         797.69,   882.84,  1001.12,   849.96,   963.76,  1085.77,
        1184.85,  1391.8 ]))
('mean : ', array([-0.01884069,  0.06687846,  0.02642829,  0.00149518,  0.01086201,
        0.06612459,  0.09304487,  0.0917653 ,  0.06329098, -0.09374505,
       -0.08630598,  0.02528397, -0.0436032 ,  0.06369741,  0.10788587,
       -0.05579724,  0.05790512,  0.12212868,  0.04966917,  0.09514468]))
('aum table :', <bound method DataFrame.head of       Quarter      Data      ID
43560  2013Q1     93.97  119730
43561  2013Q2    266.10  119730
43562  2013Q3    417.59  119730
43563  2013Q4    472.96  119730
43564  2014Q1    513.23  119730
43565  2014Q2    526.08  119730
43566  2014Q3    568.11  119730
43567  2014Q4    664.06  119730
43568  2015Q1    731.88  119730
43569  2015Q2    653.24  119730
43570  2015Q3    750.68  119730
43571  2015Q4    809.22  119730
43572  2016Q1    797.69  119730
43573  2016Q2    882.84  119730
43574  2016Q3   1001.12  119730
43575  2016Q4    849.96  119730
43576  2017Q1    963.76  119730
43577  2017Q2   1085.77  119730
43578  2017Q3   1184.85  119730
43579  2017Q4   1391.80  119730
43620  2013Q1  16708.47  100645
43621  2013Q2  16767.26  100645
43622  2013Q3  16338.75  100645
43623  2013Q4  15562.71  100645
43624  2014Q1  14558.82  100645
43625  2014Q2  13870.63  100645
43626  2014Q3  13547.09  100645
43627  2014Q4  13922.68  100645
43628  2015Q1  14061.77  100645
43629  2015Q2  13624.89  100645
43630  2015Q3  11808.84  100645
43631  2015Q4  11249.97  100645
43632  2016Q1  10751.85  100645
43633  2016Q2  11579.43  100645
43634  2016Q3  12594.08  100645
43635  2016Q4  11573.60  100645
43636  2017Q1  12016.72  100645
43637  2017Q2  13166.86  100645
43638  2017Q3  13470.95  100645
43639  2017Q4  14784.39  100645>)
('nav table :', <bound method DataFrame.head of      Quarter      Data      ID
1140  2013Q1 -0.022418  100645
1141  2013Q2 -0.014576  100645
1142  2013Q3 -0.056233  100645
1143  2013Q4 -0.000369  100645
1144  2014Q1  0.009348  100645
1145  2014Q2  0.064517  100645
1146  2014Q3  0.091440  100645
1147  2014Q4  0.090056  100645
1148  2015Q1  0.061525  100645
1149  2015Q2 -0.097360  100645
1150  2015Q3 -0.088761  100645
1151  2015Q4  0.022780  100645
1152  2016Q1 -0.046112  100645
1153  2016Q2  0.061505  100645
1154  2016Q3  0.105516  100645
1155  2016Q4 -0.058185  100645
1156  2017Q1  0.055807  100645
1157  2017Q2  0.119824  100645
1158  2017Q3  0.047431  100645
1159  2017Q4  0.092754  100645
1240  2013Q1 -0.018841  119730
1241  2013Q2  0.066878  119730
1242  2013Q3  0.026428  119730
1243  2013Q4  0.001495  119730
1244  2014Q1  0.010862  119730
1245  2014Q2  0.066125  119730
1246  2014Q3  0.093045  119730
1247  2014Q4  0.091765  119730
1248  2015Q1  0.063291  119730
1249  2015Q2 -0.093745  119730
1250  2015Q3 -0.086306  119730
1251  2015Q4  0.025284  119730
1252  2016Q1 -0.043603  119730
1253  2016Q2  0.063697  119730
1254  2016Q3  0.107886  119730
1255  2016Q4 -0.055797  119730
1256  2017Q1  0.057905  119730
1257  2017Q2  0.122129  119730
1258  2017Q3  0.049669  119730
1259  2017Q4  0.095145  119730>)
('Key_aum: ', 100645)
      Quarter      Data      ID
43620  2013Q1  16708.47  100645
43621  2013Q2  16767.26  100645
43622  2013Q3  16338.75  100645
43623  2013Q4  15562.71  100645
43624  2014Q1  14558.82  100645
43625  2014Q2  13870.63  100645
43626  2014Q3  13547.09  100645
43627  2014Q4  13922.68  100645
43628  2015Q1  14061.77  100645
43629  2015Q2  13624.89  100645
43630  2015Q3  11808.84  100645
43631  2015Q4  11249.97  100645
43632  2016Q1  10751.85  100645
43633  2016Q2  11579.43  100645
43634  2016Q3  12594.08  100645
43635  2016Q4  11573.60  100645
43636  2017Q1  12016.72  100645
43637  2017Q2  13166.86  100645
43638  2017Q3  13470.95  100645
43639  2017Q4  14784.39  100645
('Key_nav : ', 100645)
('data 1 : ', array([-0.02241774, -0.0145759 , -0.05623331, -0.00036862,  0.00934791,
        0.06451739,  0.09143974,  0.09005596,  0.06152488, -0.09736012,
       -0.08876082,  0.02277992, -0.04611245,  0.06150472,  0.10551625,
       -0.05818462,  0.05580732,  0.11982441,  0.04743101,  0.09275407]))
('data 2 :', array([ 16708.47,  16767.26,  16338.75,  15562.71,  14558.82,  13870.63,
        13547.09,  13922.68,  14061.77,  13624.89,  11808.84,  11249.97,
        10751.85,  11579.43,  12594.08,  11573.6 ,  12016.72,  13166.86,
        13470.95,  14784.39]))
('Key_aum: ', 119730)
      Quarter     Data      ID
43560  2013Q1    93.97  119730
43561  2013Q2   266.10  119730
43562  2013Q3   417.59  119730
43563  2013Q4   472.96  119730
43564  2014Q1   513.23  119730
43565  2014Q2   526.08  119730
43566  2014Q3   568.11  119730
43567  2014Q4   664.06  119730
43568  2015Q1   731.88  119730
43569  2015Q2   653.24  119730
43570  2015Q3   750.68  119730
43571  2015Q4   809.22  119730
43572  2016Q1   797.69  119730
43573  2016Q2   882.84  119730
43574  2016Q3  1001.12  119730
43575  2016Q4   849.96  119730
43576  2017Q1   963.76  119730
43577  2017Q2  1085.77  119730
43578  2017Q3  1184.85  119730
43579  2017Q4  1391.80  119730
('Key_nav : ', 119730)
('data 1 : ', array([-0.01884069,  0.06687846,  0.02642829,  0.00149518,  0.01086201,
        0.06612459,  0.09304487,  0.0917653 ,  0.06329098, -0.09374505,
       -0.08630598,  0.02528397, -0.0436032 ,  0.06369741,  0.10788587,
       -0.05579724,  0.05790512,  0.12212868,  0.04966917,  0.09514468]))
('data 2 :', array([   93.97,   266.1 ,   417.59,   472.96,   513.23,   526.08,
         568.11,   664.06,   731.88,   653.24,   750.68,   809.22,
         797.69,   882.84,  1001.12,   849.96,   963.76,  1085.77,
        1184.85,  1391.8 ]))
('mean : ', array([-0.01884069,  0.06687846,  0.02642829,  0.00149518,  0.01086201,
        0.06612459,  0.09304487,  0.0917653 ,  0.06329098, -0.09374505,
       -0.08630598,  0.02528397, -0.0436032 ,  0.06369741,  0.10788587,
       -0.05579724,  0.05790512,  0.12212868,  0.04966917,  0.09514468]))
('IDs :', [120588, 120588])
('aum table :', <bound method DataFrame.head of       Quarter    Data      ID
21180  2013Q1   30.81  120588
21181  2013Q2   78.03  120588
21182  2013Q3  124.97  120588
21183  2013Q4  145.26  120588
21184  2014Q1  137.98  120588
21185  2014Q2  116.30  120588
21186  2014Q3  108.51  120588
21187  2014Q4  108.71  120588
21188  2015Q1  139.74  120588
21189  2015Q2  166.98  120588
21190  2015Q3  191.61  120588
21191  2015Q4  221.89  120588
21192  2016Q1  233.54  120588
21193  2016Q2  252.01  120588
21194  2016Q3  278.27  120588
21195  2016Q4  270.21  120588
21196  2017Q1  286.42  120588
21197  2017Q2  319.85  120588
21198  2017Q3  367.20  120588
21199  2017Q4  410.82  120588>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
280  2013Q1 -0.026835  120588
281  2013Q2  0.066731  120588
282  2013Q3  0.028757  120588
283  2013Q4  0.008402  120588
284  2014Q1  0.015446  120588
285  2014Q2  0.055507  120588
286  2014Q3  0.074496  120588
287  2014Q4  0.100197  120588
288  2015Q1  0.083892  120588
289  2015Q2 -0.013557  120588
290  2015Q3  0.013063  120588
291  2015Q4  0.010193  120588
292  2016Q1 -0.053003  120588
293  2016Q2  0.064575  120588
294  2016Q3  0.099400  120588
295  2016Q4 -0.057632  120588
296  2017Q1 -0.001064  120588
297  2017Q2  0.102711  120588
298  2017Q3  0.053775  120588
299  2017Q4  0.036006  120588>)
('Key_aum: ', 120588)
      Quarter    Data      ID
21180  2013Q1   30.81  120588
21181  2013Q2   78.03  120588
21182  2013Q3  124.97  120588
21183  2013Q4  145.26  120588
21184  2014Q1  137.98  120588
21185  2014Q2  116.30  120588
21186  2014Q3  108.51  120588
21187  2014Q4  108.71  120588
21188  2015Q1  139.74  120588
21189  2015Q2  166.98  120588
21190  2015Q3  191.61  120588
21191  2015Q4  221.89  120588
21192  2016Q1  233.54  120588
21193  2016Q2  252.01  120588
21194  2016Q3  278.27  120588
21195  2016Q4  270.21  120588
21196  2017Q1  286.42  120588
21197  2017Q2  319.85  120588
21198  2017Q3  367.20  120588
21199  2017Q4  410.82  120588
('Key_nav : ', 120588)
('data 1 : ', array([-0.02683506,  0.066731  ,  0.02875731,  0.00840234,  0.01544554,
        0.055507  ,  0.0744965 ,  0.10019706,  0.08389178, -0.01355715,
        0.01306263,  0.01019303, -0.05300298,  0.06457538,  0.09939986,
       -0.05763209, -0.00106358,  0.10271089,  0.05377545,  0.0360062 ]))
('data 2 :', array([  30.81,   78.03,  124.97,  145.26,  137.98,  116.3 ,  108.51,
        108.71,  139.74,  166.98,  191.61,  221.89,  233.54,  252.01,
        278.27,  270.21,  286.42,  319.85,  367.2 ,  410.82]))
('mean : ', array([-0.02683506,  0.066731  ,  0.02875731,  0.00840234,  0.01544554,
        0.055507  ,  0.0744965 ,  0.10019706,  0.08389178, -0.01355715,
        0.01306263,  0.01019303, -0.05300298,  0.06457538,  0.09939986,
       -0.05763209, -0.00106358,  0.10271089,  0.05377545,  0.0360062 ]))
('aum table :', <bound method DataFrame.head of       Quarter    Data      ID
21180  2013Q1   30.81  120588
21181  2013Q2   78.03  120588
21182  2013Q3  124.97  120588
21183  2013Q4  145.26  120588
21184  2014Q1  137.98  120588
21185  2014Q2  116.30  120588
21186  2014Q3  108.51  120588
21187  2014Q4  108.71  120588
21188  2015Q1  139.74  120588
21189  2015Q2  166.98  120588
21190  2015Q3  191.61  120588
21191  2015Q4  221.89  120588
21192  2016Q1  233.54  120588
21193  2016Q2  252.01  120588
21194  2016Q3  278.27  120588
21195  2016Q4  270.21  120588
21196  2017Q1  286.42  120588
21197  2017Q2  319.85  120588
21198  2017Q3  367.20  120588
21199  2017Q4  410.82  120588>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
280  2013Q1 -0.026835  120588
281  2013Q2  0.066731  120588
282  2013Q3  0.028757  120588
283  2013Q4  0.008402  120588
284  2014Q1  0.015446  120588
285  2014Q2  0.055507  120588
286  2014Q3  0.074496  120588
287  2014Q4  0.100197  120588
288  2015Q1  0.083892  120588
289  2015Q2 -0.013557  120588
290  2015Q3  0.013063  120588
291  2015Q4  0.010193  120588
292  2016Q1 -0.053003  120588
293  2016Q2  0.064575  120588
294  2016Q3  0.099400  120588
295  2016Q4 -0.057632  120588
296  2017Q1 -0.001064  120588
297  2017Q2  0.102711  120588
298  2017Q3  0.053775  120588
299  2017Q4  0.036006  120588>)
('Key_aum: ', 120588)
      Quarter    Data      ID
21180  2013Q1   30.81  120588
21181  2013Q2   78.03  120588
21182  2013Q3  124.97  120588
21183  2013Q4  145.26  120588
21184  2014Q1  137.98  120588
21185  2014Q2  116.30  120588
21186  2014Q3  108.51  120588
21187  2014Q4  108.71  120588
21188  2015Q1  139.74  120588
21189  2015Q2  166.98  120588
21190  2015Q3  191.61  120588
21191  2015Q4  221.89  120588
21192  2016Q1  233.54  120588
21193  2016Q2  252.01  120588
21194  2016Q3  278.27  120588
21195  2016Q4  270.21  120588
21196  2017Q1  286.42  120588
21197  2017Q2  319.85  120588
21198  2017Q3  367.20  120588
21199  2017Q4  410.82  120588
('Key_nav : ', 120588)
('data 1 : ', array([-0.02683506,  0.066731  ,  0.02875731,  0.00840234,  0.01544554,
        0.055507  ,  0.0744965 ,  0.10019706,  0.08389178, -0.01355715,
        0.01306263,  0.01019303, -0.05300298,  0.06457538,  0.09939986,
       -0.05763209, -0.00106358,  0.10271089,  0.05377545,  0.0360062 ]))
('data 2 :', array([  30.81,   78.03,  124.97,  145.26,  137.98,  116.3 ,  108.51,
        108.71,  139.74,  166.98,  191.61,  221.89,  233.54,  252.01,
        278.27,  270.21,  286.42,  319.85,  367.2 ,  410.82]))
('mean : ', array([-0.02683506,  0.066731  ,  0.02875731,  0.00840234,  0.01544554,
        0.055507  ,  0.0744965 ,  0.10019706,  0.08389178, -0.01355715,
        0.01306263,  0.01019303, -0.05300298,  0.06457538,  0.09939986,
       -0.05763209, -0.00106358,  0.10271089,  0.05377545,  0.0360062 ]))
('aum table :', <bound method DataFrame.head of       Quarter    Data      ID
21180  2013Q1   30.81  120588
21181  2013Q2   78.03  120588
21182  2013Q3  124.97  120588
21183  2013Q4  145.26  120588
21184  2014Q1  137.98  120588
21185  2014Q2  116.30  120588
21186  2014Q3  108.51  120588
21187  2014Q4  108.71  120588
21188  2015Q1  139.74  120588
21189  2015Q2  166.98  120588
21190  2015Q3  191.61  120588
21191  2015Q4  221.89  120588
21192  2016Q1  233.54  120588
21193  2016Q2  252.01  120588
21194  2016Q3  278.27  120588
21195  2016Q4  270.21  120588
21196  2017Q1  286.42  120588
21197  2017Q2  319.85  120588
21198  2017Q3  367.20  120588
21199  2017Q4  410.82  120588>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
280  2013Q1 -0.026835  120588
281  2013Q2  0.066731  120588
282  2013Q3  0.028757  120588
283  2013Q4  0.008402  120588
284  2014Q1  0.015446  120588
285  2014Q2  0.055507  120588
286  2014Q3  0.074496  120588
287  2014Q4  0.100197  120588
288  2015Q1  0.083892  120588
289  2015Q2 -0.013557  120588
290  2015Q3  0.013063  120588
291  2015Q4  0.010193  120588
292  2016Q1 -0.053003  120588
293  2016Q2  0.064575  120588
294  2016Q3  0.099400  120588
295  2016Q4 -0.057632  120588
296  2017Q1 -0.001064  120588
297  2017Q2  0.102711  120588
298  2017Q3  0.053775  120588
299  2017Q4  0.036006  120588>)
('Key_aum: ', 120588)
      Quarter    Data      ID
21180  2013Q1   30.81  120588
21181  2013Q2   78.03  120588
21182  2013Q3  124.97  120588
21183  2013Q4  145.26  120588
21184  2014Q1  137.98  120588
21185  2014Q2  116.30  120588
21186  2014Q3  108.51  120588
21187  2014Q4  108.71  120588
21188  2015Q1  139.74  120588
21189  2015Q2  166.98  120588
21190  2015Q3  191.61  120588
21191  2015Q4  221.89  120588
21192  2016Q1  233.54  120588
21193  2016Q2  252.01  120588
21194  2016Q3  278.27  120588
21195  2016Q4  270.21  120588
21196  2017Q1  286.42  120588
21197  2017Q2  319.85  120588
21198  2017Q3  367.20  120588
21199  2017Q4  410.82  120588
('Key_nav : ', 120588)
('data 1 : ', array([-0.02683506,  0.066731  ,  0.02875731,  0.00840234,  0.01544554,
        0.055507  ,  0.0744965 ,  0.10019706,  0.08389178, -0.01355715,
        0.01306263,  0.01019303, -0.05300298,  0.06457538,  0.09939986,
       -0.05763209, -0.00106358,  0.10271089,  0.05377545,  0.0360062 ]))
('data 2 :', array([  30.81,   78.03,  124.97,  145.26,  137.98,  116.3 ,  108.51,
        108.71,  139.74,  166.98,  191.61,  221.89,  233.54,  252.01,
        278.27,  270.21,  286.42,  319.85,  367.2 ,  410.82]))
('mean : ', array([-0.02683506,  0.066731  ,  0.02875731,  0.00840234,  0.01544554,
        0.055507  ,  0.0744965 ,  0.10019706,  0.08389178, -0.01355715,
        0.01306263,  0.01019303, -0.05300298,  0.06457538,  0.09939986,
       -0.05763209, -0.00106358,  0.10271089,  0.05377545,  0.0360062 ]))
('aum table :', <bound method DataFrame.head of       Quarter    Data      ID
21180  2013Q1   30.81  120588
21181  2013Q2   78.03  120588
21182  2013Q3  124.97  120588
21183  2013Q4  145.26  120588
21184  2014Q1  137.98  120588
21185  2014Q2  116.30  120588
21186  2014Q3  108.51  120588
21187  2014Q4  108.71  120588
21188  2015Q1  139.74  120588
21189  2015Q2  166.98  120588
21190  2015Q3  191.61  120588
21191  2015Q4  221.89  120588
21192  2016Q1  233.54  120588
21193  2016Q2  252.01  120588
21194  2016Q3  278.27  120588
21195  2016Q4  270.21  120588
21196  2017Q1  286.42  120588
21197  2017Q2  319.85  120588
21198  2017Q3  367.20  120588
21199  2017Q4  410.82  120588>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
280  2013Q1 -0.026835  120588
281  2013Q2  0.066731  120588
282  2013Q3  0.028757  120588
283  2013Q4  0.008402  120588
284  2014Q1  0.015446  120588
285  2014Q2  0.055507  120588
286  2014Q3  0.074496  120588
287  2014Q4  0.100197  120588
288  2015Q1  0.083892  120588
289  2015Q2 -0.013557  120588
290  2015Q3  0.013063  120588
291  2015Q4  0.010193  120588
292  2016Q1 -0.053003  120588
293  2016Q2  0.064575  120588
294  2016Q3  0.099400  120588
295  2016Q4 -0.057632  120588
296  2017Q1 -0.001064  120588
297  2017Q2  0.102711  120588
298  2017Q3  0.053775  120588
299  2017Q4  0.036006  120588>)
('Key_aum: ', 120588)
      Quarter    Data      ID
21180  2013Q1   30.81  120588
21181  2013Q2   78.03  120588
21182  2013Q3  124.97  120588
21183  2013Q4  145.26  120588
21184  2014Q1  137.98  120588
21185  2014Q2  116.30  120588
21186  2014Q3  108.51  120588
21187  2014Q4  108.71  120588
21188  2015Q1  139.74  120588
21189  2015Q2  166.98  120588
21190  2015Q3  191.61  120588
21191  2015Q4  221.89  120588
21192  2016Q1  233.54  120588
21193  2016Q2  252.01  120588
21194  2016Q3  278.27  120588
21195  2016Q4  270.21  120588
21196  2017Q1  286.42  120588
21197  2017Q2  319.85  120588
21198  2017Q3  367.20  120588
21199  2017Q4  410.82  120588
('Key_nav : ', 120588)
('data 1 : ', array([-0.02683506,  0.066731  ,  0.02875731,  0.00840234,  0.01544554,
        0.055507  ,  0.0744965 ,  0.10019706,  0.08389178, -0.01355715,
        0.01306263,  0.01019303, -0.05300298,  0.06457538,  0.09939986,
       -0.05763209, -0.00106358,  0.10271089,  0.05377545,  0.0360062 ]))
('data 2 :', array([  30.81,   78.03,  124.97,  145.26,  137.98,  116.3 ,  108.51,
        108.71,  139.74,  166.98,  191.61,  221.89,  233.54,  252.01,
        278.27,  270.21,  286.42,  319.85,  367.2 ,  410.82]))
('mean : ', array([-0.02683506,  0.066731  ,  0.02875731,  0.00840234,  0.01544554,
        0.055507  ,  0.0744965 ,  0.10019706,  0.08389178, -0.01355715,
        0.01306263,  0.01019303, -0.05300298,  0.06457538,  0.09939986,
       -0.05763209, -0.00106358,  0.10271089,  0.05377545,  0.0360062 ]))
('aum table :', <bound method DataFrame.head of       Quarter    Data      ID
21180  2013Q1   30.81  120588
21181  2013Q2   78.03  120588
21182  2013Q3  124.97  120588
21183  2013Q4  145.26  120588
21184  2014Q1  137.98  120588
21185  2014Q2  116.30  120588
21186  2014Q3  108.51  120588
21187  2014Q4  108.71  120588
21188  2015Q1  139.74  120588
21189  2015Q2  166.98  120588
21190  2015Q3  191.61  120588
21191  2015Q4  221.89  120588
21192  2016Q1  233.54  120588
21193  2016Q2  252.01  120588
21194  2016Q3  278.27  120588
21195  2016Q4  270.21  120588
21196  2017Q1  286.42  120588
21197  2017Q2  319.85  120588
21198  2017Q3  367.20  120588
21199  2017Q4  410.82  120588>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
280  2013Q1 -0.026835  120588
281  2013Q2  0.066731  120588
282  2013Q3  0.028757  120588
283  2013Q4  0.008402  120588

('Key_aum: ', 120588)
      Quarter    Data      ID
21180  2013Q1   30.81  120588
21181  2013Q2   78.03  120588
21182  2013Q3  124.97  120588
21183  2013Q4  145.26  120588
21184  2014Q1  137.98  120588
21185  2014Q2  116.30  120588
21186  2014Q3  108.51  120588
21187  2014Q4  108.71  120588
21188  2015Q1  139.74  120588
21189  2015Q2  166.98  120588
21190  2015Q3  191.61  120588
21191  2015Q4  221.89  120588
21192  2016Q1  233.54  120588
21193  2016Q2  252.01  120588
21194  2016Q3  278.27  120588
21195  2016Q4  270.21  120588
21196  2017Q1  286.42  120588
21197  2017Q2  319.85  120588
21198  2017Q3  367.20  120588
21199  2017Q4  410.82  120588
('Key_nav : ', 120588)
('data 1 : ', array([-0.02683506,  0.066731  ,  0.02875731,  0.00840234,  0.01544554,
        0.055507  ,  0.0744965 ,  0.10019706,  0.08389178, -0.01355715,
        0.01306263,  0.01019303, -0.05300298,  0.06457538,  0.09939986,
       -0.05763209, -0.00106358,  0.10271089,  0.05377545,  0.0360062 ]))
('data 2 :', array([  30.81,   78.03,  124.97,  145.26,  137.98,  116.3 ,  108.51,
        108.71,  139.74,  166.98,  191.61,  221.89,  233.54,  252.01,
        278.27,  270.21,  286.42,  319.85,  367.2 ,  410.82]))
('mean : ', array([-0.02683506,  0.066731  ,  0.02875731,  0.00840234,  0.01544554,
        0.055507  ,  0.0744965 ,  0.10019706,  0.08389178, -0.01355715,
        0.01306263,  0.01019303, -0.05300298,  0.06457538,  0.09939986,
       -0.05763209, -0.00106358,  0.10271089,  0.05377545,  0.0360062 ]))
('aum table :', <bound method DataFrame.head of       Quarter    Data      ID
21180  2013Q1   30.81  120588
21181  2013Q2   78.03  120588
21182  2013Q3  124.97  120588
21183  2013Q4  145.26  120588
21184  2014Q1  137.98  120588
21185  2014Q2  116.30  120588
21186  2014Q3  108.51  120588
21187  2014Q4  108.71  120588
21188  2015Q1  139.74  120588
21189  2015Q2  166.98  120588
21190  2015Q3  191.61  120588
21191  2015Q4  221.89  120588
21192  2016Q1  233.54  120588
21193  2016Q2  252.01  120588
21194  2016Q3  278.27  120588
21195  2016Q4  270.21  120588
21196  2017Q1  286.42  120588
21197  2017Q2  319.85  120588
21198  2017Q3  367.20  120588
21199  2017Q4  410.82  120588>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
280  2013Q1 -0.026835  120588
281  2013Q2  0.066731  120588
282  2013Q3  0.028757  120588
283  2013Q4  0.008402  120588
284  2014Q1  0.015446  120588
285  2014Q2  0.055507  120588
286  2014Q3  0.074496  120588
287  2014Q4  0.100197  120588
288  2015Q1  0.083892  120588
289  2015Q2 -0.013557  120588
290  2015Q3  0.013063  120588
291  2015Q4  0.010193  120588
292  2016Q1 -0.053003  120588
293  2016Q2  0.064575  120588
294  2016Q3  0.099400  120588
295  2016Q4 -0.057632  120588
296  2017Q1 -0.001064  120588
297  2017Q2  0.102711  120588
298  2017Q3  0.053775  120588
299  2017Q4  0.036006  120588>)
('Key_aum: ', 120588)
      Quarter    Data      ID
21180  2013Q1   30.81  120588
21181  2013Q2   78.03  120588
21182  2013Q3  124.97  120588
21183  2013Q4  145.26  120588
21184  2014Q1  137.98  120588
21185  2014Q2  116.30  120588
21186  2014Q3  108.51  120588
21187  2014Q4  108.71  120588
21188  2015Q1  139.74  120588
21189  2015Q2  166.98  120588
21190  2015Q3  191.61  120588
21191  2015Q4  221.89  120588
21192  2016Q1  233.54  120588
21193  2016Q2  252.01  120588
21194  2016Q3  278.27  120588
21195  2016Q4  270.21  120588
21196  2017Q1  286.42  120588
21197  2017Q2  319.85  120588
21198  2017Q3  367.20  120588
21199  2017Q4  410.82  120588
('Key_nav : ', 120588)
('data 1 : ', array([-0.02683506,  0.066731  ,  0.02875731,  0.00840234,  0.01544554,
        0.055507  ,  0.0744965 ,  0.10019706,  0.08389178, -0.01355715,
        0.01306263,  0.01019303, -0.05300298,  0.06457538,  0.09939986,
       -0.05763209, -0.00106358,  0.10271089,  0.05377545,  0.0360062 ]))
('data 2 :', array([  30.81,   78.03,  124.97,  145.26,  137.98,  116.3 ,  108.51,
        108.71,  139.74,  166.98,  191.61,  221.89,  233.54,  252.01,
        278.27,  270.21,  286.42,  319.85,  367.2 ,  410.82]))
('mean : ', array([-0.02683506,  0.066731  ,  0.02875731,  0.00840234,  0.01544554,
        0.055507  ,  0.0744965 ,  0.10019706,  0.08389178, -0.01355715,
        0.01306263,  0.01019303, -0.05300298,  0.06457538,  0.09939986,
       -0.05763209, -0.00106358,  0.10271089,  0.05377545,  0.0360062 ]))
('aum table :', <bound method DataFrame.head of       Quarter    Data      ID
21180  2013Q1   30.81  120588
21181  2013Q2   78.03  120588
21182  2013Q3  124.97  120588
21183  2013Q4  145.26  120588
21184  2014Q1  137.98  120588
21185  2014Q2  116.30  120588
21186  2014Q3  108.51  120588
21187  2014Q4  108.71  120588
21188  2015Q1  139.74  120588
21189  2015Q2  166.98  120588
21190  2015Q3  191.61  120588
21191  2015Q4  221.89  120588
21192  2016Q1  233.54  120588
21193  2016Q2  252.01  120588
21194  2016Q3  278.27  120588
21195  2016Q4  270.21  120588
21196  2017Q1  286.42  120588
21197  2017Q2  319.85  120588
21198  2017Q3  367.20  120588
21199  2017Q4  410.82  120588>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
280  2013Q1 -0.026835  120588
281  2013Q2  0.066731  120588
282  2013Q3  0.028757  120588
283  2013Q4  0.008402  120588
284  2014Q1  0.015446  120588
285  2014Q2  0.055507  120588
286  2014Q3  0.074496  120588
287  2014Q4  0.100197  120588
288  2015Q1  0.083892  120588
289  2015Q2 -0.013557  120588
290  2015Q3  0.013063  120588
291  2015Q4  0.010193  120588
292  2016Q1 -0.053003  120588
293  2016Q2  0.064575  120588
294  2016Q3  0.099400  120588
295  2016Q4 -0.057632  120588
296  2017Q1 -0.001064  120588
297  2017Q2  0.102711  120588
298  2017Q3  0.053775  120588
299  2017Q4  0.036006  120588>)
('Key_aum: ', 120588)
      Quarter    Data      ID
21180  2013Q1   30.81  120588
21181  2013Q2   78.03  120588
21182  2013Q3  124.97  120588
21183  2013Q4  145.26  120588
21184  2014Q1  137.98  120588
21185  2014Q2  116.30  120588
21186  2014Q3  108.51  120588
21187  2014Q4  108.71  120588
21188  2015Q1  139.74  120588
21189  2015Q2  166.98  120588
21190  2015Q3  191.61  120588
21191  2015Q4  221.89  120588
21192  2016Q1  233.54  120588
21193  2016Q2  252.01  120588
21194  2016Q3  278.27  120588
21195  2016Q4  270.21  120588
21196  2017Q1  286.42  120588
21197  2017Q2  319.85  120588
21198  2017Q3  367.20  120588
21199  2017Q4  410.82  120588
('Key_nav : ', 120588)
('data 1 : ', array([-0.02683506,  0.066731  ,  0.02875731,  0.00840234,  0.01544554,
        0.055507  ,  0.0744965 ,  0.10019706,  0.08389178, -0.01355715,
        0.01306263,  0.01019303, -0.05300298,  0.06457538,  0.09939986,
       -0.05763209, -0.00106358,  0.10271089,  0.05377545,  0.0360062 ]))
('data 2 :', array([  30.81,   78.03,  124.97,  145.26,  137.98,  116.3 ,  108.51,
        108.71,  139.74,  166.98,  191.61,  221.89,  233.54,  252.01,
        278.27,  270.21,  286.42,  319.85,  367.2 ,  410.82]))
('mean : ', array([-0.02683506,  0.066731  ,  0.02875731,  0.00840234,  0.01544554,
        0.055507  ,  0.0744965 ,  0.10019706,  0.08389178, -0.01355715,
        0.01306263,  0.01019303, -0.05300298,  0.06457538,  0.09939986,
       -0.05763209, -0.00106358,  0.10271089,  0.05377545,  0.0360062 ]))
('aum table :', <bound method DataFrame.head of       Quarter    Data      ID
21180  2013Q1   30.81  120588
21181  2013Q2   78.03  120588
21182  2013Q3  124.97  120588
21183  2013Q4  145.26  120588
21184  2014Q1  137.98  120588
21185  2014Q2  116.30  120588
21186  2014Q3  108.51  120588
21187  2014Q4  108.71  120588
21188  2015Q1  139.74  120588
21189  2015Q2  166.98  120588
21190  2015Q3  191.61  120588
21191  2015Q4  221.89  120588
21192  2016Q1  233.54  120588
21193  2016Q2  252.01  120588
21194  2016Q3  278.27  120588
21195  2016Q4  270.21  120588
21196  2017Q1  286.42  120588
21197  2017Q2  319.85  120588
21198  2017Q3  367.20  120588
21199  2017Q4  410.82  120588>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
280  2013Q1 -0.026835  120588
281  2013Q2  0.066731  120588
282  2013Q3  0.028757  120588
283  2013Q4  0.008402  120588
284  2014Q1  0.015446  120588
285  2014Q2  0.055507  120588
286  2014Q3  0.074496  120588
287  2014Q4  0.100197  120588
288  2015Q1  0.083892  120588
289  2015Q2 -0.013557  120588
290  2015Q3  0.013063  120588
291  2015Q4  0.010193  120588
292  2016Q1 -0.053003  120588
293  2016Q2  0.064575  120588
294  2016Q3  0.099400  120588
295  2016Q4 -0.057632  120588
296  2017Q1 -0.001064  120588
297  2017Q2  0.102711  120588
298  2017Q3  0.053775  120588
299  2017Q4  0.036006  120588>)
('Key_aum: ', 120588)
      Quarter    Data      ID
21180  2013Q1   30.81  120588
21181  2013Q2   78.03  120588
21182  2013Q3  124.97  120588
21183  2013Q4  145.26  120588
21184  2014Q1  137.98  120588
21185  2014Q2  116.30  120588
21186  2014Q3  108.51  120588
21187  2014Q4  108.71  120588
21188  2015Q1  139.74  120588
21189  2015Q2  166.98  120588
21190  2015Q3  191.61  120588
21191  2015Q4  221.89  120588
21192  2016Q1  233.54  120588
21193  2016Q2  252.01  120588
21194  2016Q3  278.27  120588
21195  2016Q4  270.21  120588
21196  2017Q1  286.42  120588
21197  2017Q2  319.85  120588
21198  2017Q3  367.20  120588
21199  2017Q4  410.82  120588
('Key_nav : ', 120588)
('data 1 : ', array([-0.02683506,  0.066731  ,  0.02875731,  0.00840234,  0.01544554,
        0.055507  ,  0.0744965 ,  0.10019706,  0.08389178, -0.01355715,
        0.01306263,  0.01019303, -0.05300298,  0.06457538,  0.09939986,
       -0.05763209, -0.00106358,  0.10271089,  0.05377545,  0.0360062 ]))
('data 2 :', array([  30.81,   78.03,  124.97,  145.26,  137.98,  116.3 ,  108.51,
        108.71,  139.74,  166.98,  191.61,  221.89,  233.54,  252.01,
        278.27,  270.21,  286.42,  319.85,  367.2 ,  410.82]))
('mean : ', array([-0.02683506,  0.066731  ,  0.02875731,  0.00840234,  0.01544554,
        0.055507  ,  0.0744965 ,  0.10019706,  0.08389178, -0.01355715,
        0.01306263,  0.01019303, -0.05300298,  0.06457538,  0.09939986,
       -0.05763209, -0.00106358,  0.10271089,  0.05377545,  0.0360062 ]))
('aum table :', <bound method DataFrame.head of       Quarter    Data      ID
21180  2013Q1   30.81  120588
21181  2013Q2   78.03  120588
21182  2013Q3  124.97  120588
21183  2013Q4  145.26  120588
21184  2014Q1  137.98  120588
21185  2014Q2  116.30  120588
21186  2014Q3  108.51  120588
21187  2014Q4  108.71  120588
21188  2015Q1  139.74  120588
21189  2015Q2  166.98  120588
21190  2015Q3  191.61  120588
21191  2015Q4  221.89  120588
21192  2016Q1  233.54  120588
21193  2016Q2  252.01  120588
21194  2016Q3  278.27  120588
21195  2016Q4  270.21  120588
21196  2017Q1  286.42  120588
21197  2017Q2  319.85  120588
21198  2017Q3  367.20  120588
21199  2017Q4  410.82  120588>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
280  2013Q1 -0.026835  120588
281  2013Q2  0.066731  120588
282  2013Q3  0.028757  120588
283  2013Q4  0.008402  120588
284  2014Q1  0.015446  120588
285  2014Q2  0.055507  120588
286  2014Q3  0.074496  120588
287  2014Q4  0.100197  120588
288  2015Q1  0.083892  120588
289  2015Q2 -0.013557  120588
290  2015Q3  0.013063  120588
291  2015Q4  0.010193  120588
292  2016Q1 -0.053003  120588
293  2016Q2  0.064575  120588
294  2016Q3  0.099400  120588
295  2016Q4 -0.057632  120588
296  2017Q1 -0.001064  120588
297  2017Q2  0.102711  120588
298  2017Q3  0.053775  120588
299  2017Q4  0.036006  120588>)
('Key_aum: ', 120588)
      Quarter    Data      ID
21180  2013Q1   30.81  120588
21181  2013Q2   78.03  120588
21182  2013Q3  124.97  120588
21183  2013Q4  145.26  120588
21184  2014Q1  137.98  120588
21185  2014Q2  116.30  120588
21186  2014Q3  108.51  120588
21187  2014Q4  108.71  120588
21188  2015Q1  139.74  120588
21189  2015Q2  166.98  120588
21190  2015Q3  191.61  120588
21191  2015Q4  221.89  120588
21192  2016Q1  233.54  120588
21193  2016Q2  252.01  120588
21194  2016Q3  278.27  120588
21195  2016Q4  270.21  120588
21196  2017Q1  286.42  120588
21197  2017Q2  319.85  120588
21198  2017Q3  367.20  120588
21199  2017Q4  410.82  120588
('Key_nav : ', 120588)
('data 1 : ', array([-0.02683506,  0.066731  ,  0.02875731,  0.00840234,  0.01544554,
        0.055507  ,  0.0744965 ,  0.10019706,  0.08389178, -0.01355715,
        0.01306263,  0.01019303, -0.05300298,  0.06457538,  0.09939986,
       -0.05763209, -0.00106358,  0.10271089,  0.05377545,  0.0360062 ]))
('data 2 :', array([  30.81,   78.03,  124.97,  145.26,  137.98,  116.3 ,  108.51,
        108.71,  139.74,  166.98,  191.61,  221.89,  233.54,  252.01,
        278.27,  270.21,  286.42,  319.85,  367.2 ,  410.82]))
('mean : ', array([-0.02683506,  0.066731  ,  0.02875731,  0.00840234,  0.01544554,
        0.055507  ,  0.0744965 ,  0.10019706,  0.08389178, -0.01355715,
        0.01306263,  0.01019303, -0.05300298,  0.06457538,  0.09939986,
       -0.05763209, -0.00106358,  0.10271089,  0.05377545,  0.0360062 ]))
('aum table :', <bound method DataFrame.head of       Quarter    Data      ID
21180  2013Q1   30.81  120588
21181  2013Q2   78.03  120588
21182  2013Q3  124.97  120588
21183  2013Q4  145.26  120588
21184  2014Q1  137.98  120588
21185  2014Q2  116.30  120588
21186  2014Q3  108.51  120588
21187  2014Q4  108.71  120588
21188  2015Q1  139.74  120588
21189  2015Q2  166.98  120588
21190  2015Q3  191.61  120588
21191  2015Q4  221.89  120588
21192  2016Q1  233.54  120588
21193  2016Q2  252.01  120588
21194  2016Q3  278.27  120588
21195  2016Q4  270.21  120588
21196  2017Q1  286.42  120588
21197  2017Q2  319.85  120588
21198  2017Q3  367.20  120588
21199  2017Q4  410.82  120588>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
280  2013Q1 -0.026835  120588
281  2013Q2  0.066731  120588
282  2013Q3  0.028757  120588
283  2013Q4  0.008402  120588
284  2014Q1  0.015446  120588
285  2014Q2  0.055507  120588
286  2014Q3  0.074496  120588
287  2014Q4  0.100197  120588
288  2015Q1  0.083892  120588
289  2015Q2 -0.013557  120588
290  2015Q3  0.013063  120588
291  2015Q4  0.010193  120588
292  2016Q1 -0.053003  120588
293  2016Q2  0.064575  120588
294  2016Q3  0.099400  120588
295  2016Q4 -0.057632  120588
296  2017Q1 -0.001064  120588
297  2017Q2  0.102711  120588
298  2017Q3  0.053775  120588
299  2017Q4  0.036006  120588>)
('Key_aum: ', 120588)
      Quarter    Data      ID
21180  2013Q1   30.81  120588
21181  2013Q2   78.03  120588
21182  2013Q3  124.97  120588
21183  2013Q4  145.26  120588
21184  2014Q1  137.98  120588
21185  2014Q2  116.30  120588
21186  2014Q3  108.51  120588
21187  2014Q4  108.71  120588
21188  2015Q1  139.74  120588
21189  2015Q2  166.98  120588
21190  2015Q3  191.61  120588
21191  2015Q4  221.89  120588
21192  2016Q1  233.54  120588
21193  2016Q2  252.01  120588
21194  2016Q3  278.27  120588
21195  2016Q4  270.21  120588
21196  2017Q1  286.42  120588
21197  2017Q2  319.85  120588
21198  2017Q3  367.20  120588
21199  2017Q4  410.82  120588
('Key_nav : ', 120588)
('data 1 : ', array([-0.02683506,  0.066731  ,  0.02875731,  0.00840234,  0.01544554,
        0.055507  ,  0.0744965 ,  0.10019706,  0.08389178, -0.01355715,
        0.01306263,  0.01019303, -0.05300298,  0.06457538,  0.09939986,
       -0.05763209, -0.00106358,  0.10271089,  0.05377545,  0.0360062 ]))
('data 2 :', array([  30.81,   78.03,  124.97,  145.26,  137.98,  116.3 ,  108.51,
        108.71,  139.74,  166.98,  191.61,  221.89,  233.54,  252.01,
        278.27,  270.21,  286.42,  319.85,  367.2 ,  410.82]))
('mean : ', array([-0.02683506,  0.066731  ,  0.02875731,  0.00840234,  0.01544554,
        0.055507  ,  0.0744965 ,  0.10019706,  0.08389178, -0.01355715,
        0.01306263,  0.01019303, -0.05300298,  0.06457538,  0.09939986,
       -0.05763209, -0.00106358,  0.10271089,  0.05377545,  0.0360062 ]))
('aum table :', <bound method DataFrame.head of       Quarter    Data      ID
21180  2013Q1   30.81  120588
21181  2013Q2   78.03  120588
21182  2013Q3  124.97  120588
21183  2013Q4  145.26  120588
21184  2014Q1  137.98  120588
21185  2014Q2  116.30  120588
21186  2014Q3  108.51  120588
21187  2014Q4  108.71  120588
21188  2015Q1  139.74  120588
21189  2015Q2  166.98  120588
21190  2015Q3  191.61  120588
21191  2015Q4  221.89  120588
21192  2016Q1  233.54  120588
21193  2016Q2  252.01  120588
21194  2016Q3  278.27  120588
21195  2016Q4  270.21  120588
21196  2017Q1  286.42  120588
21197  2017Q2  319.85  120588
21198  2017Q3  367.20  120588
21199  2017Q4  410.82  120588>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
280  2013Q1 -0.026835  120588
281  2013Q2  0.066731  120588
282  2013Q3  0.028757  120588
283  2013Q4  0.008402  120588
284  2014Q1  0.015446  120588
285  2014Q2  0.055507  120588
286  2014Q3  0.074496  120588
287  2014Q4  0.100197  120588
288  2015Q1  0.083892  120588
289  2015Q2 -0.013557  120588
290  2015Q3  0.013063  120588
291  2015Q4  0.010193  120588
292  2016Q1 -0.053003  120588
293  2016Q2  0.064575  120588
294  2016Q3  0.099400  120588
295  2016Q4 -0.057632  120588
296  2017Q1 -0.001064  120588
297  2017Q2  0.102711  120588
298  2017Q3  0.053775  120588
299  2017Q4  0.036006  120588>)
('Key_aum: ', 120588)
      Quarter    Data      ID
21180  2013Q1   30.81  120588
21181  2013Q2   78.03  120588
21182  2013Q3  124.97  120588
21183  2013Q4  145.26  120588
21184  2014Q1  137.98  120588
21185  2014Q2  116.30  120588
21186  2014Q3  108.51  120588
21187  2014Q4  108.71  120588
21188  2015Q1  139.74  120588
21189  2015Q2  166.98  120588
21190  2015Q3  191.61  120588
21191  2015Q4  221.89  120588
21192  2016Q1  233.54  120588
21193  2016Q2  252.01  120588
21194  2016Q3  278.27  120588
21195  2016Q4  270.21  120588
21196  2017Q1  286.42  120588
21197  2017Q2  319.85  120588
21198  2017Q3  367.20  120588
21199  2017Q4  410.82  120588
('Key_nav : ', 120588)
('data 1 : ', array([-0.02683506,  0.066731  ,  0.02875731,  0.00840234,  0.01544554,
        0.055507  ,  0.0744965 ,  0.10019706,  0.08389178, -0.01355715,
        0.01306263,  0.01019303, -0.05300298,  0.06457538,  0.09939986,
       -0.05763209, -0.00106358,  0.10271089,  0.05377545,  0.0360062 ]))
('data 2 :', array([  30.81,   78.03,  124.97,  145.26,  137.98,  116.3 ,  108.51,
        108.71,  139.74,  166.98,  191.61,  221.89,  233.54,  252.01,
        278.27,  270.21,  286.42,  319.85,  367.2 ,  410.82]))
('mean : ', array([-0.02683506,  0.066731  ,  0.02875731,  0.00840234,  0.01544554,
        0.055507  ,  0.0744965 ,  0.10019706,  0.08389178, -0.01355715,
        0.01306263,  0.01019303, -0.05300298,  0.06457538,  0.09939986,
       -0.05763209, -0.00106358,  0.10271089,  0.05377545,  0.0360062 ]))
('aum table :', <bound method DataFrame.head of       Quarter    Data      ID
21180  2013Q1   30.81  120588
21181  2013Q2   78.03  120588
21182  2013Q3  124.97  120588
21183  2013Q4  145.26  120588
21184  2014Q1  137.98  120588
21185  2014Q2  116.30  120588
21186  2014Q3  108.51  120588
21187  2014Q4  108.71  120588
21188  2015Q1  139.74  120588
21189  2015Q2  166.98  120588
21190  2015Q3  191.61  120588
21191  2015Q4  221.89  120588
21192  2016Q1  233.54  120588
21193  2016Q2  252.01  120588
21194  2016Q3  278.27  120588
21195  2016Q4  270.21  120588
21196  2017Q1  286.42  120588
21197  2017Q2  319.85  120588
21198  2017Q3  367.20  120588
21199  2017Q4  410.82  120588>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
280  2013Q1 -0.026835  120588
281  2013Q2  0.066731  120588
282  2013Q3  0.028757  120588
283  2013Q4  0.008402  120588
284  2014Q1  0.015446  120588
285  2014Q2  0.055507  120588
286  2014Q3  0.074496  120588
287  2014Q4  0.100197  120588
288  2015Q1  0.083892  120588
289  2015Q2 -0.013557  120588
290  2015Q3  0.013063  120588
291  2015Q4  0.010193  120588
292  2016Q1 -0.053003  120588
293  2016Q2  0.064575  120588
294  2016Q3  0.099400  120588
295  2016Q4 -0.057632  120588
296  2017Q1 -0.001064  120588
297  2017Q2  0.102711  120588
298  2017Q3  0.053775  120588
299  2017Q4  0.036006  120588>)

21199  2017Q4  410.82  120588>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
280  2013Q1 -0.026835  120588
281  2013Q2  0.066731  120588
282  2013Q3  0.028757  120588
283  2013Q4  0.008402  120588
284  2014Q1  0.015446  120588
285  2014Q2  0.055507  120588
286  2014Q3  0.074496  120588
287  2014Q4  0.100197  120588
288  2015Q1  0.083892  120588
289  2015Q2 -0.013557  120588
290  2015Q3  0.013063  120588
291  2015Q4  0.010193  120588
292  2016Q1 -0.053003  120588
293  2016Q2  0.064575  120588
294  2016Q3  0.099400  120588
295  2016Q4 -0.057632  120588
296  2017Q1 -0.001064  120588
297  2017Q2  0.102711  120588
298  2017Q3  0.053775  120588
299  2017Q4  0.036006  120588>)
('Key_aum: ', 120588)
      Quarter    Data      ID
21180  2013Q1   30.81  120588
21181  2013Q2   78.03  120588
21182  2013Q3  124.97  120588
21183  2013Q4  145.26  120588
21184  2014Q1  137.98  120588
21185  2014Q2  116.30  120588
21186  2014Q3  108.51  120588
21187  2014Q4  108.71  120588
21188  2015Q1  139.74  120588
21189  2015Q2  166.98  120588
21190  2015Q3  191.61  120588
21191  2015Q4  221.89  120588
21192  2016Q1  233.54  120588
21193  2016Q2  252.01  120588
21194  2016Q3  278.27  120588
21195  2016Q4  270.21  120588
21196  2017Q1  286.42  120588
21197  2017Q2  319.85  120588
21198  2017Q3  367.20  120588
21199  2017Q4  410.82  120588
('Key_nav : ', 120588)
('data 1 : ', array([-0.02683506,  0.066731  ,  0.02875731,  0.00840234,  0.01544554,
        0.055507  ,  0.0744965 ,  0.10019706,  0.08389178, -0.01355715,
        0.01306263,  0.01019303, -0.05300298,  0.06457538,  0.09939986,
       -0.05763209, -0.00106358,  0.10271089,  0.05377545,  0.0360062 ]))
('data 2 :', array([  30.81,   78.03,  124.97,  145.26,  137.98,  116.3 ,  108.51,
        108.71,  139.74,  166.98,  191.61,  221.89,  233.54,  252.01,
        278.27,  270.21,  286.42,  319.85,  367.2 ,  410.82]))
('mean : ', array([-0.02683506,  0.066731  ,  0.02875731,  0.00840234,  0.01544554,
        0.055507  ,  0.0744965 ,  0.10019706,  0.08389178, -0.01355715,
        0.01306263,  0.01019303, -0.05300298,  0.06457538,  0.09939986,
       -0.05763209, -0.00106358,  0.10271089,  0.05377545,  0.0360062 ]))
('aum table :', <bound method DataFrame.head of       Quarter    Data      ID
21180  2013Q1   30.81  120588
21181  2013Q2   78.03  120588
21182  2013Q3  124.97  120588
21183  2013Q4  145.26  120588
21184  2014Q1  137.98  120588
21185  2014Q2  116.30  120588
21186  2014Q3  108.51  120588
21187  2014Q4  108.71  120588
21188  2015Q1  139.74  120588
21189  2015Q2  166.98  120588
21190  2015Q3  191.61  120588
21191  2015Q4  221.89  120588
21192  2016Q1  233.54  120588
21193  2016Q2  252.01  120588
21194  2016Q3  278.27  120588
21195  2016Q4  270.21  120588
21196  2017Q1  286.42  120588
21197  2017Q2  319.85  120588
21198  2017Q3  367.20  120588
21199  2017Q4  410.82  120588>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
280  2013Q1 -0.026835  120588
281  2013Q2  0.066731  120588
282  2013Q3  0.028757  120588
283  2013Q4  0.008402  120588
284  2014Q1  0.015446  120588
285  2014Q2  0.055507  120588
286  2014Q3  0.074496  120588
287  2014Q4  0.100197  120588
288  2015Q1  0.083892  120588
289  2015Q2 -0.013557  120588
290  2015Q3  0.013063  120588
291  2015Q4  0.010193  120588
292  2016Q1 -0.053003  120588
293  2016Q2  0.064575  120588
294  2016Q3  0.099400  120588
295  2016Q4 -0.057632  120588
296  2017Q1 -0.001064  120588
297  2017Q2  0.102711  120588
298  2017Q3  0.053775  120588
299  2017Q4  0.036006  120588>)
('Key_aum: ', 120588)
      Quarter    Data      ID
21180  2013Q1   30.81  120588
21181  2013Q2   78.03  120588
21182  2013Q3  124.97  120588
21183  2013Q4  145.26  120588
21184  2014Q1  137.98  120588
21185  2014Q2  116.30  120588
21186  2014Q3  108.51  120588
21187  2014Q4  108.71  120588
21188  2015Q1  139.74  120588
21189  2015Q2  166.98  120588
21190  2015Q3  191.61  120588
21191  2015Q4  221.89  120588
21192  2016Q1  233.54  120588
21193  2016Q2  252.01  120588
21194  2016Q3  278.27  120588
21195  2016Q4  270.21  120588
21196  2017Q1  286.42  120588
21197  2017Q2  319.85  120588
21198  2017Q3  367.20  120588
21199  2017Q4  410.82  120588
('Key_nav : ', 120588)
('data 1 : ', array([-0.02683506,  0.066731  ,  0.02875731,  0.00840234,  0.01544554,
        0.055507  ,  0.0744965 ,  0.10019706,  0.08389178, -0.01355715,
        0.01306263,  0.01019303, -0.05300298,  0.06457538,  0.09939986,
       -0.05763209, -0.00106358,  0.10271089,  0.05377545,  0.0360062 ]))
('data 2 :', array([  30.81,   78.03,  124.97,  145.26,  137.98,  116.3 ,  108.51,
        108.71,  139.74,  166.98,  191.61,  221.89,  233.54,  252.01,
        278.27,  270.21,  286.42,  319.85,  367.2 ,  410.82]))
('mean : ', array([-0.02683506,  0.066731  ,  0.02875731,  0.00840234,  0.01544554,
        0.055507  ,  0.0744965 ,  0.10019706,  0.08389178, -0.01355715,
        0.01306263,  0.01019303, -0.05300298,  0.06457538,  0.09939986,
       -0.05763209, -0.00106358,  0.10271089,  0.05377545,  0.0360062 ]))
('aum table :', <bound method DataFrame.head of       Quarter    Data      ID
21180  2013Q1   30.81  120588
21181  2013Q2   78.03  120588
21182  2013Q3  124.97  120588
21183  2013Q4  145.26  120588
21184  2014Q1  137.98  120588
21185  2014Q2  116.30  120588
21186  2014Q3  108.51  120588
21187  2014Q4  108.71  120588
21188  2015Q1  139.74  120588
21189  2015Q2  166.98  120588
21190  2015Q3  191.61  120588
21191  2015Q4  221.89  120588
21192  2016Q1  233.54  120588
21193  2016Q2  252.01  120588
21194  2016Q3  278.27  120588
21195  2016Q4  270.21  120588
21196  2017Q1  286.42  120588
21197  2017Q2  319.85  120588
21198  2017Q3  367.20  120588
21199  2017Q4  410.82  120588>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
280  2013Q1 -0.026835  120588
281  2013Q2  0.066731  120588
282  2013Q3  0.028757  120588
283  2013Q4  0.008402  120588
284  2014Q1  0.015446  120588
285  2014Q2  0.055507  120588
286  2014Q3  0.074496  120588
287  2014Q4  0.100197  120588
288  2015Q1  0.083892  120588
289  2015Q2 -0.013557  120588
290  2015Q3  0.013063  120588
291  2015Q4  0.010193  120588
292  2016Q1 -0.053003  120588
293  2016Q2  0.064575  120588
294  2016Q3  0.099400  120588
295  2016Q4 -0.057632  120588
296  2017Q1 -0.001064  120588
297  2017Q2  0.102711  120588
298  2017Q3  0.053775  120588
299  2017Q4  0.036006  120588>)
('Key_aum: ', 120588)
      Quarter    Data      ID
21180  2013Q1   30.81  120588
21181  2013Q2   78.03  120588
21182  2013Q3  124.97  120588
21183  2013Q4  145.26  120588
21184  2014Q1  137.98  120588
21185  2014Q2  116.30  120588
21186  2014Q3  108.51  120588
21187  2014Q4  108.71  120588
21188  2015Q1  139.74  120588
21189  2015Q2  166.98  120588
21190  2015Q3  191.61  120588
21191  2015Q4  221.89  120588
21192  2016Q1  233.54  120588
21193  2016Q2  252.01  120588
21194  2016Q3  278.27  120588
21195  2016Q4  270.21  120588
21196  2017Q1  286.42  120588
21197  2017Q2  319.85  120588
21198  2017Q3  367.20  120588
21199  2017Q4  410.82  120588
('Key_nav : ', 120588)
('data 1 : ', array([-0.02683506,  0.066731  ,  0.02875731,  0.00840234,  0.01544554,
        0.055507  ,  0.0744965 ,  0.10019706,  0.08389178, -0.01355715,
        0.01306263,  0.01019303, -0.05300298,  0.06457538,  0.09939986,
       -0.05763209, -0.00106358,  0.10271089,  0.05377545,  0.0360062 ]))
('data 2 :', array([  30.81,   78.03,  124.97,  145.26,  137.98,  116.3 ,  108.51,
        108.71,  139.74,  166.98,  191.61,  221.89,  233.54,  252.01,
        278.27,  270.21,  286.42,  319.85,  367.2 ,  410.82]))
('mean : ', array([-0.02683506,  0.066731  ,  0.02875731,  0.00840234,  0.01544554,
        0.055507  ,  0.0744965 ,  0.10019706,  0.08389178, -0.01355715,
        0.01306263,  0.01019303, -0.05300298,  0.06457538,  0.09939986,
       -0.05763209, -0.00106358,  0.10271089,  0.05377545,  0.0360062 ]))
('aum table :', <bound method DataFrame.head of       Quarter    Data      ID
21180  2013Q1   30.81  120588
21181  2013Q2   78.03  120588
21182  2013Q3  124.97  120588
21183  2013Q4  145.26  120588
21184  2014Q1  137.98  120588
21185  2014Q2  116.30  120588
21186  2014Q3  108.51  120588
21187  2014Q4  108.71  120588
21188  2015Q1  139.74  120588
21189  2015Q2  166.98  120588
21190  2015Q3  191.61  120588
21191  2015Q4  221.89  120588
21192  2016Q1  233.54  120588
21193  2016Q2  252.01  120588
21194  2016Q3  278.27  120588
21195  2016Q4  270.21  120588
21196  2017Q1  286.42  120588
21197  2017Q2  319.85  120588
21198  2017Q3  367.20  120588
21199  2017Q4  410.82  120588>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
280  2013Q1 -0.026835  120588
281  2013Q2  0.066731  120588
282  2013Q3  0.028757  120588
283  2013Q4  0.008402  120588
284  2014Q1  0.015446  120588
285  2014Q2  0.055507  120588
286  2014Q3  0.074496  120588
287  2014Q4  0.100197  120588
288  2015Q1  0.083892  120588
289  2015Q2 -0.013557  120588
290  2015Q3  0.013063  120588
291  2015Q4  0.010193  120588
292  2016Q1 -0.053003  120588
293  2016Q2  0.064575  120588
294  2016Q3  0.099400  120588
295  2016Q4 -0.057632  120588
296  2017Q1 -0.001064  120588
297  2017Q2  0.102711  120588
298  2017Q3  0.053775  120588
299  2017Q4  0.036006  120588>)
('Key_aum: ', 120588)
      Quarter    Data      ID
21180  2013Q1   30.81  120588
21181  2013Q2   78.03  120588
21182  2013Q3  124.97  120588
21183  2013Q4  145.26  120588
21184  2014Q1  137.98  120588
21185  2014Q2  116.30  120588
21186  2014Q3  108.51  120588
21187  2014Q4  108.71  120588
21188  2015Q1  139.74  120588
21189  2015Q2  166.98  120588
21190  2015Q3  191.61  120588
21191  2015Q4  221.89  120588
21192  2016Q1  233.54  120588
21193  2016Q2  252.01  120588
21194  2016Q3  278.27  120588
21195  2016Q4  270.21  120588
21196  2017Q1  286.42  120588
21197  2017Q2  319.85  120588
21198  2017Q3  367.20  120588
21199  2017Q4  410.82  120588
('Key_nav : ', 120588)
('data 1 : ', array([-0.02683506,  0.066731  ,  0.02875731,  0.00840234,  0.01544554,
        0.055507  ,  0.0744965 ,  0.10019706,  0.08389178, -0.01355715,
        0.01306263,  0.01019303, -0.05300298,  0.06457538,  0.09939986,
       -0.05763209, -0.00106358,  0.10271089,  0.05377545,  0.0360062 ]))
('data 2 :', array([  30.81,   78.03,  124.97,  145.26,  137.98,  116.3 ,  108.51,
        108.71,  139.74,  166.98,  191.61,  221.89,  233.54,  252.01,
        278.27,  270.21,  286.42,  319.85,  367.2 ,  410.82]))
('mean : ', array([-0.02683506,  0.066731  ,  0.02875731,  0.00840234,  0.01544554,
        0.055507  ,  0.0744965 ,  0.10019706,  0.08389178, -0.01355715,
        0.01306263,  0.01019303, -0.05300298,  0.06457538,  0.09939986,
       -0.05763209, -0.00106358,  0.10271089,  0.05377545,  0.0360062 ]))
('aum table :', <bound method DataFrame.head of       Quarter    Data      ID
21180  2013Q1   30.81  120588
21181  2013Q2   78.03  120588
21182  2013Q3  124.97  120588
21183  2013Q4  145.26  120588
21184  2014Q1  137.98  120588
21185  2014Q2  116.30  120588
21186  2014Q3  108.51  120588
21187  2014Q4  108.71  120588
21188  2015Q1  139.74  120588
21189  2015Q2  166.98  120588
21190  2015Q3  191.61  120588
21191  2015Q4  221.89  120588
21192  2016Q1  233.54  120588
21193  2016Q2  252.01  120588
21194  2016Q3  278.27  120588
21195  2016Q4  270.21  120588
21196  2017Q1  286.42  120588
21197  2017Q2  319.85  120588
21198  2017Q3  367.20  120588
21199  2017Q4  410.82  120588>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
280  2013Q1 -0.026835  120588
281  2013Q2  0.066731  120588
282  2013Q3  0.028757  120588
283  2013Q4  0.008402  120588
284  2014Q1  0.015446  120588
285  2014Q2  0.055507  120588
286  2014Q3  0.074496  120588
287  2014Q4  0.100197  120588
288  2015Q1  0.083892  120588
289  2015Q2 -0.013557  120588
290  2015Q3  0.013063  120588
291  2015Q4  0.010193  120588
292  2016Q1 -0.053003  120588
293  2016Q2  0.064575  120588
294  2016Q3  0.099400  120588
295  2016Q4 -0.057632  120588
296  2017Q1 -0.001064  120588
297  2017Q2  0.102711  120588
298  2017Q3  0.053775  120588
299  2017Q4  0.036006  120588>)
('Key_aum: ', 120588)
      Quarter    Data      ID
21180  2013Q1   30.81  120588
21181  2013Q2   78.03  120588
21182  2013Q3  124.97  120588
21183  2013Q4  145.26  120588
21184  2014Q1  137.98  120588
21185  2014Q2  116.30  120588
21186  2014Q3  108.51  120588
21187  2014Q4  108.71  120588
21188  2015Q1  139.74  120588
21189  2015Q2  166.98  120588
21190  2015Q3  191.61  120588
21191  2015Q4  221.89  120588
21192  2016Q1  233.54  120588
21193  2016Q2  252.01  120588
21194  2016Q3  278.27  120588
21195  2016Q4  270.21  120588
21196  2017Q1  286.42  120588
21197  2017Q2  319.85  120588
21198  2017Q3  367.20  120588
21199  2017Q4  410.82  120588
('Key_nav : ', 120588)
('data 1 : ', array([-0.02683506,  0.066731  ,  0.02875731,  0.00840234,  0.01544554,
        0.055507  ,  0.0744965 ,  0.10019706,  0.08389178, -0.01355715,
        0.01306263,  0.01019303, -0.05300298,  0.06457538,  0.09939986,
       -0.05763209, -0.00106358,  0.10271089,  0.05377545,  0.0360062 ]))
('data 2 :', array([  30.81,   78.03,  124.97,  145.26,  137.98,  116.3 ,  108.51,
        108.71,  139.74,  166.98,  191.61,  221.89,  233.54,  252.01,
        278.27,  270.21,  286.42,  319.85,  367.2 ,  410.82]))
('mean : ', array([-0.02683506,  0.066731  ,  0.02875731,  0.00840234,  0.01544554,
        0.055507  ,  0.0744965 ,  0.10019706,  0.08389178, -0.01355715,
        0.01306263,  0.01019303, -0.05300298,  0.06457538,  0.09939986,
       -0.05763209, -0.00106358,  0.10271089,  0.05377545,  0.0360062 ]))
('aum table :', <bound method DataFrame.head of       Quarter    Data      ID
21180  2013Q1   30.81  120588
21181  2013Q2   78.03  120588
21182  2013Q3  124.97  120588
21183  2013Q4  145.26  120588
21184  2014Q1  137.98  120588
21185  2014Q2  116.30  120588
21186  2014Q3  108.51  120588
21187  2014Q4  108.71  120588
21188  2015Q1  139.74  120588
21189  2015Q2  166.98  120588
21190  2015Q3  191.61  120588
21191  2015Q4  221.89  120588
21192  2016Q1  233.54  120588
21193  2016Q2  252.01  120588
21194  2016Q3  278.27  120588
21195  2016Q4  270.21  120588
21196  2017Q1  286.42  120588
21197  2017Q2  319.85  120588
21198  2017Q3  367.20  120588
21199  2017Q4  410.82  120588>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
280  2013Q1 -0.026835  120588
281  2013Q2  0.066731  120588
282  2013Q3  0.028757  120588
283  2013Q4  0.008402  120588
284  2014Q1  0.015446  120588
285  2014Q2  0.055507  120588
286  2014Q3  0.074496  120588
287  2014Q4  0.100197  120588
288  2015Q1  0.083892  120588
289  2015Q2 -0.013557  120588
290  2015Q3  0.013063  120588
291  2015Q4  0.010193  120588
292  2016Q1 -0.053003  120588
293  2016Q2  0.064575  120588
294  2016Q3  0.099400  120588
295  2016Q4 -0.057632  120588
296  2017Q1 -0.001064  120588
297  2017Q2  0.102711  120588
298  2017Q3  0.053775  120588
299  2017Q4  0.036006  120588>)
('Key_aum: ', 120588)
      Quarter    Data      ID
21180  2013Q1   30.81  120588
21181  2013Q2   78.03  120588
21182  2013Q3  124.97  120588
21183  2013Q4  145.26  120588
21184  2014Q1  137.98  120588
21185  2014Q2  116.30  120588
21186  2014Q3  108.51  120588
21187  2014Q4  108.71  120588
21188  2015Q1  139.74  120588
21189  2015Q2  166.98  120588
21190  2015Q3  191.61  120588
21191  2015Q4  221.89  120588
21192  2016Q1  233.54  120588
21193  2016Q2  252.01  120588
21194  2016Q3  278.27  120588
21195  2016Q4  270.21  120588
21196  2017Q1  286.42  120588
21197  2017Q2  319.85  120588
21198  2017Q3  367.20  120588
21199  2017Q4  410.82  120588
('Key_nav : ', 120588)
('data 1 : ', array([-0.02683506,  0.066731  ,  0.02875731,  0.00840234,  0.01544554,
        0.055507  ,  0.0744965 ,  0.10019706,  0.08389178, -0.01355715,
        0.01306263,  0.01019303, -0.05300298,  0.06457538,  0.09939986,
       -0.05763209, -0.00106358,  0.10271089,  0.05377545,  0.0360062 ]))
('data 2 :', array([  30.81,   78.03,  124.97,  145.26,  137.98,  116.3 ,  108.51,
        108.71,  139.74,  166.98,  191.61,  221.89,  233.54,  252.01,
        278.27,  270.21,  286.42,  319.85,  367.2 ,  410.82]))
('mean : ', array([-0.02683506,  0.066731  ,  0.02875731,  0.00840234,  0.01544554,
        0.055507  ,  0.0744965 ,  0.10019706,  0.08389178, -0.01355715,
        0.01306263,  0.01019303, -0.05300298,  0.06457538,  0.09939986,
       -0.05763209, -0.00106358,  0.10271089,  0.05377545,  0.0360062 ]))
('aum table :', <bound method DataFrame.head of       Quarter    Data      ID
21180  2013Q1   30.81  120588
21181  2013Q2   78.03  120588
21182  2013Q3  124.97  120588
21183  2013Q4  145.26  120588
21184  2014Q1  137.98  120588
21185  2014Q2  116.30  120588
21186  2014Q3  108.51  120588
21187  2014Q4  108.71  120588
21188  2015Q1  139.74  120588
21189  2015Q2  166.98  120588
21190  2015Q3  191.61  120588
21191  2015Q4  221.89  120588
21192  2016Q1  233.54  120588
21193  2016Q2  252.01  120588
21194  2016Q3  278.27  120588
21195  2016Q4  270.21  120588
21196  2017Q1  286.42  120588
21197  2017Q2  319.85  120588
21198  2017Q3  367.20  120588
21199  2017Q4  410.82  120588>)
('nav table :', <bound method DataFrame.head of     Quarter      Data      ID
280  2013Q1 -0.026835  120588
281  2013Q2  0.066731  120588
282  2013Q3  0.028757  120588
283  2013Q4  0.008402  120588
284  2014Q1  0.015446  120588
285  2014Q2  0.055507  120588
286  2014Q3  0.074496  120588
287  2014Q4  0.100197  120588
288  2015Q1  0.083892  120588
289  2015Q2 -0.013557  120588
290  2015Q3  0.013063  120588
291  2015Q4  0.010193  120588
292  2016Q1 -0.053003  120588
293  2016Q2  0.064575  120588
294  2016Q3  0.099400  120588
295  2016Q4 -0.057632  120588
296  2017Q1 -0.001064  120588
297  2017Q2  0.102711  120588
298  2017Q3  0.053775  120588
299  2017Q4  0.036006  120588>)
('Key_aum: ', 120588)
      Quarter    Data      ID
21180  2013Q1   30.81  120588
21181  2013Q2   78.03  120588
21182  2013Q3  124.97  120588
21183  2013Q4  145.26  120588
21184  2014Q1  137.98  120588
21185  2014Q2  116.30  120588
21186  2014Q3  108.51  120588
21187  2014Q4  108.71  120588
21188  2015Q1  139.74  120588
21189  2015Q2  166.98  120588
21190  2015Q3  191.61  120588
21191  2015Q4  221.89  120588
21192  2016Q1  233.54  120588
21193  2016Q2  252.01  120588
21194  2016Q3  278.27  120588
21195  2016Q4  270.21  120588
21196  2017Q1  286.42  120588
21197  2017Q2  319.85  120588
21198  2017Q3  367.20  120588
21199  2017Q4  410.82  120588
('Key_nav : ', 120588)
('data 1 : ', array([-0.02683506,  0.066731  ,  0.02875731,  0.00840234,  0.01544554,
        0.055507  ,  0.0744965 ,  0.10019706,  0.08389178, -0.01355715,
        0.01306263,  0.01019303, -0.05300298,  0.06457538,  0.09939986,
       -0.05763209, -0.00106358,  0.10271089,  0.05377545,  0.0360062 ]))
('data 2 :', array([  30.81,   78.03,  124.97,  145.26,  137.98,  116.3 ,  108.51,
        108.71,  139.74,  166.98,  191.61,  221.89,  233.54,  252.01,
        278.27,  270.21,  286.42,  319.85,  367.2 ,  410.82]))
('mean : ', array([-0.02683506,  0.066731  ,  0.02875731,  0.00840234,  0.01544554,
        0.055507  ,  0.0744965 ,  0.10019706,  0.08389178, -0.01355715,
        0.01306263,  0.01019303, -0.05300298,  0.06457538,  0.09939986,
       -0.05763209, -0.00106358,  0.10271089,  0.05377545,  0.0360062 ]))

In [71]:
print (db_aum.head())
print (db_aum.columns)

  Quarter   Data      ID
0  2013Q1   6.08  119433
1  2013Q2  14.32  119433
2  2013Q3  21.13  119433
3  2013Q4  29.63  119433
4  2014Q1  40.53  119433
Index([u'Quarter', u'Data', u'ID'], dtype='object')

In [70]:
print (db_nav.head())
print db_nav.columns

  Quarter  Data      ID
0  2013Q1   0.0  135793
1  2013Q2   0.0  135793
2  2013Q3   0.0  135793
3  2013Q4   0.0  135793
4  2014Q1   0.0  135793
Index([u'Quarter', u'Data', u'ID'], dtype='object')

In [83]:
print key_grouped_aum

[100352, 120587]

In [91]:
len(set(key_grouped_aum) & set(key_grouped_nav))

2

In [125]:
print str(Fund_Class[0])+'.csv'

Sector - Pharma & Healthcare.csv